[2022-03-16 16:58] KnVerey commented on #4495
/triage needs-information

Can you please provide the input files (i.e. your Kustomization and patch) as well?

[2022-03-16 17:33] KnVerey commented on #4512
Kustomize intentionally does not support unstructured edits, including through variables; please see our [Eschewed Features](https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#unstructured-edits) document.

One view of the underlying problem here could be that the namespace transformer should know that the namespace name is present in that particular location in your CR. That is cu

[2022-03-16 17:43] aw185176 commented on #4515
I'm not a maintainer of the filesys package so I'm not sure I am the best person suited to outline what the implementation requirements are... but based on reading the package, it looks like the current implementations rely on an internal struct `fsNode`, so I assume something like `fsnode_embed.go` would be needed so that embedded file systems could be used in a first class way like in memory and

[2022-03-16 18:36] natasha41575 commented on #4515
Are you suggesting that `filesys.MakeFSFromEmbedded` takes in an `embed.FS` parameter? What I am imagining is something like

[code]

where the implementation of convertEmbeddedFSToKustomizeFS is the same as your ConvertEmbeddedFSToKustomizeFS. Is this what you are looking for?

[2022-03-16 20:13] dev-samples commented on #4514
Yes you are right works as expected. The example I provided was not really clear, sorry for that. I am trying to patch this values file:
https://github.com/jenkinsci/helm-charts/blob/main/charts/jenkins/values.yaml

in a flux release.  E.g with this base:

**base/kustomization.yaml**
[code]
**base/release.yaml**
[code]
And this overlay.

**dev/kustomization.yaml**

[code]
**dev/release.yaml**
[cod

[2022-03-16 20:25] gaeljw commented on #4510
Thanks for the information. Here you go: https://github.com/kubernetes-sigs/cli-experimental/pull/254 :)

[2022-03-16 21:40] natasha41575 commented on #4514
Kustomize gets merge keys from openapi data, so if you want it to merge CRDs you will have to provide your own openapi schema through the openapi field. You will have to specify the merge key for the spec.values.controller.containerEnv object.

Docs are here, with an example: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/

It's not the easiest thing in the world to

[2022-03-17 06:08] ringerc commented on #758
Wouldn't it make sense to support the specification of additional selectors for images, in a similar manner to a json patch `target`?

[2022-03-17 07:24] dev-samples commented on #4514
Ok that's gonna be a mess since in the case of flux most objects are crds.

Also how would the openAPI know that this is a mix of a flux crd and elements from a values file from the Jenkins helm chart?

[2022-03-17 08:57] sbueringer commented on #4459
@natasha41575 Okay, should I close: https://github.com/kubernetes-sigs/kustomize/pull/4460?

I already migrated to `helmCharts` so I personally don't need the fix anymore.

[2022-03-17 15:07] KnVerey commented on #4479
Closed by #4494 (see this test: https://github.com/kubernetes-sigs/kustomize/pull/4494/files#diff-909c0819f13e268a60555f0aa78bd8acdbb42c10f3e2a906d62ba4b9d1722947R2065)

[2022-03-17 15:56] Diliz opened #4519 "Inject templates in templates - pre render"
**Is your feature request related to a problem? Please describe.**

Today, if I want to inject templated contents in an already packaged helm chart before applying any values, in order to extend the helm chart usage or else, I have to mirror the helm chart repository and add the lines I want manually, then packaged it on a custom helm repository, etc...

This solution is hard to maintain as I have

[2022-03-17 16:58] KnVerey commented on #4515
Thanks for the explanation--I see what you mean now. [`filesys.FileSystem` is an interface](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/filesys/filesystem.go#L18-L51) that currently has three implementations:
- [fsNode](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/filesys/fsnode.go), which provide an in-memory implementation
- [fsOnDisk](https://github.com/kube

[2022-03-17 18:51] mkoertgen commented on #2734
Hits me too. Can we reopen?

[2022-03-17 20:05] #4510 closed

[2022-03-17 20:23] KnVerey opened #4520 "Deprecate ValueAddTransformer in favour of Replacements"
The ValueAddTransformer was [introduced nearly two years](https://github.com/kubernetes-sigs/kustomize/pull/2455) ago, but is not exposed through a Kustomization field and is not included in [our builtin reference docs](https://kubectl.docs.kubernetes.io/references/kustomize/builtins/). As far as I can tell, it is documented only in this in-repo example: https://github.com/kubernetes-sigs/kustomiz

[2022-03-17 21:39] KnVerey commented on #4288
Kustomize does currently support [Go plugins](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/go_plugins/), but we are deprecating them as part of [KEP 2953](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2953-kustomize-plugin-graduation#supported-runtimes) for reasons explained in the KEP. After that, "built in plugins" will move to a more straightfoward setup,

[2022-03-17 22:43] aw185176 commented on #4515
Thanks for the feedback everyone.  Great point @KnVerey, I think a generic `filesys.Copy(...)` function would definitely fit the bill here.  I think I am missing something though, how could I use `filesys.Copy(...)` in this scenario if my source is something like `embed.FS` instead of a `FileSystem`?  Maybe if `source` was the `FS` interface from `io/fs`?  I agree that my snippet should work for a

[2022-03-17 22:55] KnVerey commented on #4515
Yes, totally. Probably [`fs.ReadFileFS`](https://pkg.go.dev/io/fs#ReadFileFS) specifically?

Great, thanks! 🎉

[2022-03-17 23:37] natasha41575 commented on #4401
Since I have been receiving several messages about this, I would like to reiterate again that we will be supporting the new KRM Helm function as executable, meaning that you would not need to run docker in order to use it. In terms of execution, this will be almost exactly the same as running the current builtin Helm plugin, except that the code lives elsewhere and is compiled separately.

[2022-03-17 23:37] #4459 closed

[2022-03-18 10:08] ciis0 opened #4521 "[Question] kustomize.config.k8s.io/needs-hash Annotation docs?"
Previously `kustomize.config.k8s.io/needs-hash` was described in the docs somewhere (not sure where), but I cannot find it anywhere anymore.

Has it been deprecated? I see it's still on in code, so maybe the docs just got lost?

[2022-03-18 14:54] dosmanak commented on #4483
Here the value for `rules.host` and `tls.hosts` make sense to be bond together. I see the patch like the tool to perpare the final yaml so I'd expect the anchors to be expanded on the final k8s resource.

Using of jsonpatch here is troublesome because of its incapability to address list member by its value and re-specifiying the whole `tls.hosts` item forces you the specify whole `http` object aga

[2022-03-18 17:44] edrandall commented on #61
@afirth @reith Thankyou for the hint - the magic incantation which worked for me was:

[code]

[2022-03-18 19:08] natasha41575 commented on #4519
Could you provide a more specific example of what you want _kustomize_ to do, perhaps with some input and output files? I read through both this issue and the issue you filed in the helm repo and I'm not sure that I completely understand what you are asking for.

It sounds like you want kustomize to do some templating work, which is specifically out of scope for kustomize. The only helm support we

[2022-03-18 20:56] gaeljw commented on #3866
Please keep open, there's a pending PR

[2022-03-18 21:07] afirth commented on #61
If people are here like I was because helm 3 `template` doesn't support setting the kubernetes target version, you may be delighted to know that recent versions do, with `--kube-version` - you can also make it `helm template` use the current context cluster's version by setting `--validate`

https://github.com/kubernetes/ingress-nginx/blob/main/hack/generate-deploy-scripts.sh#L55 as an example

[2022-03-20 07:51] #3749 closed

[2022-03-21 02:10] joebowbeer commented on #4520
I only discovered this transform recently _because_ it is not documented elsewhere.

The description of ValueAddTransformer in the example sounds appealing:

I'd like to see how the valueAdd example would look using replacements.

In particular, how does replacements pick up the directory name, which is the default value for ValueAddTransformer.

[2022-03-21 15:11] jimethn commented on #1301
I am seeing this same problem, but specifically for CRDs.

If I have a `secretGenerator`, any Deployments or StatefulSets that reference the generated secret will have the reference updated with the name suffix hash. However, if a CRD references that secret, it does not get the reference updated.

[2022-03-21 20:57] jobinjosem opened #4522 "failed to find unique target for patch ~G_v1_Service"
Unable to patch namespace name using patchesStrategicMerge

I have a service.yaml file which creates a service in Kubernetes. The namespace value in the resource file is a placeholder and I a mtrying to patch the namespace name using the patch, It was working with an older version of Kustomize but suddenly after upgrading customize it stopped working.
Current version: Version:kustomize/v4.2.0

Exa

[2022-03-21 21:13] natasha41575 commented on #4522
Which version did this work with?

[2022-03-21 21:33] jobinjosem commented on #4522
@natasha41575 Unfortunately I do not have the old version number. That was something I installed a few months back.

[2022-03-22 12:42] rimasgo opened #4523 "Vulnerable golang version used for packaging (multiple critical and high CVEs)"
**Describe the bug**

I have built an image where I use latest kustomize (v4.5.2) binary. I did the scan of the image with twistlock (Prisma) and it returned quite a list of CVEs associated with kustomize binary. It seems that twistlock is doing in depth scanning and checks the version of SDK (golang in this case) used to compile the binary.

Is it possible to introduce more 'ever-green' into rele

[2022-03-22 22:16] tornike opened #4524 "replacements updating metadata.name does not "trigger ?" nameReference transformer"
**Describe the bug**

When changing resource's name with patch, e.g:
[code]
it's references are also updated in other resources for example in Pods. I was expecting same behavior with replacements, but turns out it does not work that way.

**Example files**

[replacements-bug.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/8328176/replacements-bug.tar.gz)

Running **kustomize build** on

[2022-03-22 23:37] QuinnBast commented on #4401
I noticed that the helm chart inflation has been moved to the `kubernetes-sigs` repository and now exists in both repositories. Which is the officially supported version, and how would I use `kubernetes-sigs` with kustomize?

[2022-03-22 23:42] natasha41575 commented on #4401
Could you elaborate by what you mean by kubernetes-sigs repository? [kubernetes-sigs](https://github.com/kubernetes-sigs) is the org, and has many repositories.

[2022-03-22 23:45] QuinnBast commented on #4335
I am now facing this issue as well. It seems like the helm chart inflator is non-functional after the helm v3 release.

[Since oci registry support is not functional](https://github.com/kubernetes-sigs/kustomize/issues/4381), I attempted to use a chartmuseum repository instead to hopefully make this tool work using a non-oci protocol. However, I ended up running into this issue. I was unable to ad

[2022-03-23 09:01] meyerhp opened #4525 "Env variables are surrounded by double quotes"
Extra quotes are added when env variables are already surrounded by quotes. This issue is similar to [460](https://github.com/kubernetes-sigs/kustomize/issues/460) but with configMapGenerator instead of SecretGenerator

.env
[code]

Data output
[code]

Config map generator
[code]

**Expected output**

Env variables should be left as is

**Kustomize version**

{Version:kustomize/v4.5.2 GitCommit:90

[2022-03-23 10:10] tornike commented on #4524
After further playing with replacements I discovered that unlike patches, when changing resource's name with replacement you can't refer to the resource by it's original name in replacements and you can't refer to it by it's new name in patches, but by the docs both should be working https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/#:~:text=A%20patch%20can%20refer%20to

[2022-03-23 12:02] abarisuzuner opened #4526 "[Question] delete multiple resources with a patch"
Hi,

I am trying to delete some resources in an overlay with a patch. I basically want to delete everything starting with a certain prefix. This doesn't work because it cannot find a certain resource and I guess regex is not accepted here.

[code]

I tried to do it by adding a target which accepts regex but this also didn't work:
[code]

Is there any way to do this?

Thanks!

[2022-03-23 17:41] cprivite commented on #947
@KnVerey @natasha41575 @yuwenma
Sorry to ping you all, but we need some eyes on this from active owners/reviewers. Can you please re-open this issue? This is causing real problems today.

Example new user story would be building a yaml with an upstream open source project's yaml (like calico) as one of your bases that you don't have control over, but has really long source lines. You cannot use an

[2022-03-23 17:56] natasha41575 commented on #947
We can reopen this issue for tracking, but there's nothing really that we (kustomize) can do about it because it's a bug in the underlying [go-yaml](https://github.com/go-yaml/yaml) library.

[2022-03-23 17:57] cprivite commented on #947
That's fine, but none of us (the people having the issue) know what that bug is or how to fix it or who to bug to get it fixed. It sounds like you do, so could you or someone you appoint champion this cause for us with the go-yaml community?

[2022-03-23 17:58] cprivite commented on #947
Of greater concern is probably go-yaml's complete lack of releases and any commits since 2020. Is kustomize relying on a dead library that needs to be replaced?

[2022-03-23 18:02] natasha41575 commented on #947
Here is a reference for our plan: https://github.com/kubernetes-sigs/yaml/issues/72

Once the fork is created, we may have more control to make changes (and approve PRs from those interested in contributing).

[2022-03-23 18:04] cprivite commented on #947
Aha! That makes sense. Thanks @natasha41575

[2022-03-23 18:08] KnVerey commented on #4215
Closed by https://github.com/kubernetes-sigs/kustomize/pull/4383

[2022-03-23 18:09] KnVerey commented on #4212
Closed by https://github.com/kubernetes-sigs/kustomize/pull/4383

[2022-03-23 18:09] #4212 closed

[2022-03-23 19:59] natasha41575 commented on #4523
We can probably update the version of go we use to 1.16.15.

https://goreleaser.com/customization/build/ `gobinary` is a parameter we could try to use.

https://github.com/kubernetes-sigs/kustomize/blob/master/releasing/cloudbuild.yaml is the file to update.

/triage accepted

[2022-03-23 20:25] KnVerey commented on #4492
I'm not sure what you mean by this, but the `bases` field is long deprecated. Please switch to the `resources` field.

Regardless, the `images` feature operates in the resources that have been accumulated so far in the layer where it is specified. In your base, you have no resources, so it will not do anything. If you move the resources into the base or the image field into the overlay, you'll see

[2022-03-23 20:31] KnVerey commented on #4523
Thinking about this further, I believe that field just tells goreleaser to look for a binary with that name instead of "go". So to do that, we'd need to be using an image that has multiple versions of Go available. I think the goreleaser image we're using is likely the problem: https://github.com/kubernetes-sigs/kustomize/blob/master/releasing/cloudbuild.yaml#L39 / [Dockerhub](https://hub.docker.c

[2022-03-23 20:39] AlessandroPerucchi commented on #4492
You are right, I've changed from bases to resources, but the problem is still the same.
If the overlay is too far, then it is not "merged" correctly.
I needed to find some workaround to what I wanted. Now I could solve it. If you want I can describe it.

[2022-03-23 21:25] #4386 closed

[2022-03-24 09:04] TimShilov opened #4528 "Is there a way to output into multiple files?"
Hello,
I'm using Kustomize to prepare K8s resourses. The problem is I have a lot of resources and the output file is getting too big which makes it hard to read and formatting tools like Prettier that we use in pre-commit hook are getting stuck on it.

Is there a way to force output into multiple smaller files instead of just one file? Since the resulting file has lots of small separate documents

[2022-03-24 09:31] abarisuzuner commented on #4526
So, after upgrading the kustomize version to `3.9.4`, the second approach actually worked.

closing the issue

[2022-03-24 09:31] #4526 closed

[2022-03-24 16:55] #3812 closed

[2022-03-24 21:00] #1424 closed

[2022-03-25 09:58] shay-berman commented on #4463
@KnVerey but it means that if i have 10 shared patch and i want only 1 patch to apply then i need to create a dedicated directory for this 1 patch right?  because if i include all 10 patchs in the same folder with same kustomization it means it will run all the patchs.

[2022-03-25 19:16] tis-rpage commented on #4053
I think there's a problem with this code.
`kustomize version`
[code]

`kustomize build test/`
[code]

File: test/deployment.yaml
[code]

File: test/kustomization.yaml
[code]

[2022-03-25 19:19] natasha41575 commented on #4053
@koba1t could you please investigate the above issue?

[2022-03-25 19:51] rafalix1337 opened #4539 "[Question] Nested envFrom injection"
Hello,

I'm trying to add envs injection based on `envFrom`

A simplified structure looks something like that:

[code]

I would like to generate properties on the main level(common), backend/frontend level, and particular app level.
So I was trying to add the following patch on main level and it works:
[code]

and following code to nested directories(backend/frontend/particular app)
[code]

But it

[2022-03-25 21:01] joebowbeer commented on #3492
@monopole @natasha41575

Was `SourceRaw` dropped? I don't see it in the tests but I also can't find if/when it was considered.

[2022-03-25 21:07] MoShitrit opened #4540 "[Question] How to cause a `generator` to actually merge an object instead of duplicating"
Hey there!
I'm using `kustomize` to manage my `argocd` manifests.

My structure looks like this:
[code]

This is my `overlays/dev/kustomization.yaml`  file:
[code]

This is my `ksops-secret-generator.yaml` file:
[code]

And lastly, my `secret-argocd-notifications.yaml` looks like this:
[code]

Since it's a `sops`-encrypted file, I'm using [ksops](https://github.com/viaduct-ai/kustomize-sops) plugi

[2022-03-25 21:55] tis-rpage commented on #4335
I think this is a bit of a mis-feature, as authentication can be established with repositories prior to kustomize being involved, ala `helm login`.

[2022-03-25 22:17] KnVerey commented on #4523
The best we're going to be able to do immediately is go 1.17.1, which is what the [goreleaser v0.179.0 image uses](https://hub.docker.com/layers/goreleaser/goreleaser/goreleaser/v0.179.0/images/sha256-6cda9886cc5d58c4246f8f0338b87dbd3742dad56c4c70f37ad911d3e3d1eb63?context=explore). The limiting factor turns out to be a deprecation in goreleaser 0.180.0 that makes newer versions of goreleaser fail

[2022-03-25 22:25] KnVerey opened #4542 "Kustomize stuck on outdated goreleaser version"
Kustomize is currently relying on goreleaser's `--skip-validate` flag to ignore the fact that our tags are not pure semver (because they have module prefixes). That flag was [deprecated long ago, and removed in v0.180.0 in Sept 2021](https://goreleaser.com/deprecations/?h=depre#skipping-semver-validations). Multi-module repos like our are supposed to move to the ["monorepo" feature]( https://gorel

[2022-03-25 23:51] scott-grimes commented on #3877
/remove-lifecycle stale

[2022-03-26 09:13] mvintila commented on #1385
The reported problem, namely that env variables can't contain newlines hasn't been addressed in any way, only an workaround was proposed.

If this is intentional, the documentation should specify what you can and you can't put in env variables, otherwise this should be fixed.

[2022-03-26 13:54] criztovyl commented on #4473
I do not quite understand what you mean by 1:n / one-to-many values, but I am intrigued to now, do you mind expanding on that? (Just curious.)

[2022-03-27 07:43] armenr commented on #3502
For anyone landing here, MY issue (using helm/helmfile) was to add:

``--include-crds` explicitly to the template/upgrade/apply commands I use in our CD pipeline.

For ArgoCD + helmfile, it looks like this now:

[code]

[2022-03-27 08:16] noamApps commented on #4473
Sorry for the ambiguity, I meant the ability to state a value once, and refer to it multiple times in different k8s objects and in different object sections. For example, in helm I can define a variable once in the values.yaml file, and add it as a suffix in a k8s object and as an annotation value in another, not necessarily a practical example but I hope it's clearer now.

[2022-03-27 12:14] criztovyl commented on #4473
yup, that makes it more clear, thx!

[2022-03-27 13:01] vvatlin commented on #880
I have the same issue, when I have Istio Gateway, VirtualService in one namespace and I have to have certificate in the Istio-ingress namespace.
Can't do it right now with Kustomize

[2022-03-28 05:54] minnie-jeong-otsk commented on #4335
It might be a silly question, but in which pod should I do :
`helm repo add securedRepo https://secured.com/chartrepo --username <username> --password <password>`

I see lots of pods like: argocd-repo-server, argocd-server, argocd-redis-ha-server, ...

Or can I do helm repo add setting somewhere in yaml file? If so, where it would be?

[2022-03-28 13:03] zfrhv opened #4544 "create operator group in current namespace"
when creating operatorgroup.yaml:
[code]
and next kustomization.yaml:
[code]

the naemspace of the OG is being updated, but the `targetNamespaces` still remains the same

---

i also tried to use vars.
kustomization.yaml:
[code]

namespace.yaml:
[code]
operatorgroup.yaml:
[code]

but it didnt replaced the string and nothing was injected.

i also tried to do `- \$(NAMESPACE)` instead of `- $(NAMESP

[2022-03-28 15:15] QuinnBast commented on #4335
You shouldn't have to run this in a pod. You should just need to run it on your local machine where you are running the `helm` commands. However, even if you do that the `helmCharts` inflator within Kustomize does not work (which is why this issue is open).

[2022-03-28 17:28] tis-rpage commented on #4335
The environment variable for HELM_REGISTRY_CONFIG can be specified so that the registry authentication is available to kustomize, and the pod can mount the authentication secrets into the namespace in an appropriate location thereby negating the need for this ticket.

[2022-03-28 17:35] tis-rpage commented on #4381
If anyone takes the above patch, I think they should note the trailing comma needs fixing:
[code]

[2022-03-28 18:30] rob8714 opened #4546 "Addition of pod labels without modifying selectors"
Currently the `labels` field does not add pod labels if `includeSelectors` is set to `false`.  It seems that the options available to add pod labels are by either setting `includeSelectors` to `true` or using `commonLabels`, but I would like to be able to do this without updating selectors. It's also possible to add the labels with a patch, but it would be nice if the `labels` field could handle i

[2022-03-28 22:11] daxmc99 commented on #3742
Adding `?timeout=90s` to the query parameters can now fix this per https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md

[2022-03-28 23:27] snuggie12 commented on #4335
Could you supply a working example including versions of kustomize and helm plus all relevant yaml and config files?

The problem as I know it is that beginning in 4.x of kustomize the api for a helm chart was reduced and when a "helm pull" is initiated it doesn't have the correct format to pull from a repo that is locally stored and had no capability of providing a username and password to a stra

[2022-03-29 01:10] koba1t commented on #4053
I was thinking of no use case to create nodes when wildcard matching (and [PathMatcher](https://github.com/kubernetes-sigs/kustomize/blob/ff40460d3bc537a7c03b0ad9faa0987e26d40202/kyaml/yaml/match.go) didn't support `create` option).
So, I [disable wild card matching](https://github.com/kubernetes-sigs/kustomize/blob/d2e59002aeb1faa724c6fa6e8218df2ad12631f8/api/filters/replacement/replacement.go#L1

[2022-03-29 14:32] vdboor opened #4554 "Missing transformer config for PodTemplate envFrom"
The following transformer config seems to be missing for built-in Kubernetes resources:

[code]

Currently, when deploying a `PodTemplate` resource, the `configMapRef` field is not adjusted for any resource name changes. Looking at https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#builtin-namereference more entries might be missing.

FYI, I've been using the `Pod

[2022-03-29 16:08] tedtramonte opened #4555 "More precisely extract strings for Replacements"
**Is your feature request related to a problem? Please describe.**

Following https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/ I began using the [Replacements Transformer](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) to ensure my `app.kubernetes.io/version` label matched what was in the image its container. For example, a simp

[2022-03-30 04:50] MoShitrit commented on #4540
/kind question

[2022-03-30 04:51] MoShitrit commented on #4540
/kind bug

[2022-03-30 04:52] MoShitrit commented on #4540
/kind support

[2022-03-30 06:52] hifi commented on #4399
I think this falls under this issue as well: when `--enable-exec` is not given to Kustomize any annotated exec KRM is silently ignored. This was extremely confusing when I was debugging why my KRM isn't working.

[2022-03-30 07:15] hifi opened #4556 "[Question] Why function alpha enablement flags are disabled for kubectl?"
It seems the "old" alpha plugins have been available within the kubectl built-in Kustomize for multiple releases by now but no new style KRM functions. Having `--enable-exec` would be very useful.

Is there a timeline for enabling them from within kubectl?

Thanks.

[2022-03-30 10:56] jprecuch commented on #4224
Any updates on this one? It seems to happen still and no workaround using generateName was found.

[2022-03-30 12:21] cconnert opened #4557 "[Question] Order of different kind of patches?"
Question #727 explains well how patches are applied in regards to overlays. But it falls short of explaining:

- How patches & components interact with one and another. E.g I got several partial patches within components which are applied at some level. As far as I figured those are applied in declaration order. Is that correct (basically same as for `resource)?`
- Second when applying different k

[2022-03-30 17:51] koba1t commented on #4517
Hi @natasha41575

I tried to write a `mini in-repo KEP`, and I'm open PR https://github.com/kubernetes-sigs/kustomize/pull/4558 now.

This is my first proposal, Could you give me any feedback?
I want to improve this proposal document.

[2022-03-30 18:57] tis-rpage commented on #4335
HELM_REGISTRY_CONFIG uses the same json format pioneered by DOCKER_CONFIG. If you run a `helm login` it'll generate `${XDG_CONFIG_HOME}/helm/registry.json` which you can then mount into your pod and set the HELM_REGISTRY_CONFIG variable to point to the mounted file. Then when `kustomize` executes, it'll inherit the HELM_REGISTRY_CONFIG and the `helm pull` subshell will have the same environment an

[2022-03-30 19:01] tis-rpage commented on #4053
I would very much expect a wildcard and create options to be a supported combination. If you need to add an environment variable or an argument to *every* pod/deployment/statefulset, then that feature would be required. Without that option, we're only able to modify environment/arguments that are already defined with a new value.

[2022-03-30 19:32] natasha41575 commented on #3787
/remove-lifecycle stale

A proposal for this feature has been submitted as a KEP: https://github.com/kubernetes-sigs/kustomize/pull/4558

[2022-03-30 19:55] rumstead opened #4559 "Kustomize 4.5.3+ breaks remote resources"
**Describe the bug**

I am having a hard time understanding what is going on because some remote bases work and others don't. I can consistently reproduce the problem with one of our repos but unsure how to datamine more information about what is going on. I tried adding ssh and curl verbose flags but it isn't getting to that point.
[code]
Yet the same repo works fine with kustomize 4.5.2
[code]
*

[2022-03-31 08:58] kragniz commented on #347
/remove-lifecycle stale

[2022-03-31 09:30] KarstenSiemer commented on #1835
Just been hit by this, thanks for all the work in this issue. Finding this helped.
Though hard to understand without the specific knowledge from this issue

[2022-03-31 14:01] stalb commented on #4353
I understand why it's not a priority, so I'm closing it.
/close

[2022-03-31 17:59] #3663 closed

[2022-03-31 19:25] annasong20 commented on #3980
/assign

[2022-03-31 19:26] natasha41575 commented on #3980
@annasong20 and I are working internally on a proposal for this issue. I'm hopeful that we will have it ready in the next couple of weeks.

[2022-03-31 23:53] jeanmorais commented on #4476
@natasha41575 Can I get the name transformed in some way, following what you suggested above?

I have a transformer to add a `prefix` and I'd like to use the name with the prefix in the replacements after that, in some simpler way.
[code]

[code]

[2022-04-01 07:02] mihaigalos commented on #2008
@AliGouta, would the snippet of code work with non-crypted files, would kustomize fetch from repo `B`?

[2022-04-01 08:44] jonashackt commented on #4012
We had the same problem and also didn't want to write/maintain our own custom generator plugin. We created [a full-blown stackoverflow Q&A](https://stackoverflow.com/a/71704024/4964553) - but here are the brief steps:

As a workaround we can create yaml files inline in our console using the syntax `cat > ./myyamlfile.yml <<EOF ... EOF` and also use the inline variable substitution. So first define

[2022-04-01 09:35] vsabella opened #4561 "Replacements Transformer: Replace All Instances does not work with create:True"
When attempting this replacement with wildcard * it fails with
kustomize v4.5.4
[code]

[code]

[code]

[2022-04-01 17:26] KnVerey commented on #947
v2 of go-yaml already exposes the option to change this behaviour. In fact, it was [temporarily the default](https://github.com/go-yaml/yaml/pull/571) in v2.3 of that library, but the change was reverted at the request of the Kubernetes project in v2.4: https://github.com/go-yaml/yaml/pull/670. This repo deliberately opted not to set it by default: https://github.com/kubernetes-sigs/yaml/pull/62#d

[2022-04-01 17:27] KnVerey commented on #3969
/close
/kind duplicate

Duplicate of https://github.com/kubernetes-sigs/kustomize/issues/947, which is older / has more history. Please watch that one intead.

[2022-04-01 17:27] #3969 closed

[2022-04-01 18:09] natasha41575 commented on #4053
I see there is a new issue filed regarding this, so let's move the discussion there.

https://github.com/kubernetes-sigs/kustomize/issues/4561

[2022-04-01 18:15] natasha41575 commented on #4561
It makes sense to me in a lot of cases for the wildcard match to work with `create: true`. The example provided in this issue is a valid use case.

Implementation is a separate discussion, there may be some nitty gritty details with the way `PathMatcher` is currently implemented that could make this very difficult to do, but from the user perspective I agree that this is a desirable feature.

@kob

[2022-04-01 18:15] natasha41575 commented on #4053
I left a commend https://github.com/kubernetes-sigs/kustomize/issues/4561#issuecomment-1086199181

I think we should start by improving the error message, but in general I agree that the feature makes sense to support.

[2022-04-01 18:22] natasha41575 commented on #4476
@jeanmorais

Yeah, it's called `PrefixTransformer`. All of [the transformers here](https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/builtin) work in the exact same way.

[2022-04-01 18:24] natasha41575 commented on #4476
@GuyPaddock @jeanmorais If either of you two (or anyone else reading this) want to help document this, would highly appreciate it. A new guide here https://github.com/kubernetes-sigs/cli-experimental/tree/master/site/content/en/guides called "transformers" or something might be helpful. No pressure though, we

[2022-04-01 18:41] jeanmorais commented on #4476
First, thanks for the fast response.

I've used `PrefixSuffixTransformer` (`nameprefix-transformer.yaml`) in the example above. But, the `ReplacementTransformer` is called before the transformation, this way, I can't get the name with the `prefix`+`metadata.name` to use in the `ReplacementTransformer`. There is some way to do that?

Following the example above, I get `metadata.name` without the pr

[2022-04-01 19:53] CandiedCode opened #4562 "Repeating Custom Generator doesn't throw error"
**Describe the bug**
If kustomize generators don't support specifying the same generator multiple times, I expect an error to be thrown.

**Files that can reproduce the issue**

SGGenerator takes a json config file and generates a k8s manifest.

[code]

**Expected output**

I expect two instances of the container krm function to run for the two different specs returning two combined kubernetes man

[2022-04-01 21:57] CandiedCode commented on #4562
We are not catching and checking the error here
https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/target/kusttarget.go#L307

or here
https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/target/kusttarget.go#L351

thus the error is not thrown.

[2022-04-02 01:19] CandiedCode commented on #562
/reopen

[2022-04-02 18:13] #4001 closed

[2022-04-03 00:13] #4238 closed

[2022-04-03 19:14] natasha41575 commented on #4356
resolved by #4485

[2022-04-03 19:14] #4356 closed

[2022-04-04 12:02] Diliz commented on #4519
Hello!

My specific usage is to extend already existing charts (which I do not manage nor build, ex: prometheus, or any helm chart from any repository) by injecting templating parts in it before using the helm template command, this would allow me to add dynamic content to any existing chart, kustomize only allow me to inject static content for now.

Currently I have to mirror the existing chart,

[2022-04-04 19:11] mvgmb opened #4566 "Support OpenAPI Remote Schema"
**Is your feature request related to a problem? Please describe.**

My organization is going to use Custom Resources to deploy applications by defining CRDs that will be used by all teams. Therefore, a custom OpenAPI schema is required to define merge keys and patch strategy.

Currently, Kustomize's OpenAPI `path` attribute only accepts local schemas. This means we need to distribute a copy of the

[2022-04-04 19:14] natasha41575 commented on #4566
I am OK with openapi schema coming from a remote file. Feel free to submit a PR for this change.

/triage accepted
/kind feature

[2022-04-04 23:53] natasha41575 commented on #2987
Super delayed. but hopefully https://github.com/kubernetes-sigs/kustomize/pull/4568 will fix this. I tested it with the zip file you provided and have some promising results:

On master:

[code]

With my PR:

[code]

[2022-04-05 00:08] natasha41575 opened #4569 "Openapi parsing performance improvements"
OpenAPI parsing is a huge performance bottleneck for us. Related issues:
- https://github.com/kubernetes-sigs/kustomize/issues/4100
- https://github.com/kubernetes-sigs/kustomize/issues/2987
- https://github.com/kubernetes-sigs/kustomize/issues/3670

We discovered with these benchmarks that [parsing protobuf](https://github.com/kubernetes-sigs/kustomize/pull/4396) is much faster than parsing JSON

[2022-04-05 00:08] natasha41575 commented on #4569
cc @KnVerey

[2022-04-05 07:23] minnie-jeong-otsk commented on #4381
It'd be greatly appreciated if this fix is deployed soon!

[2022-04-05 12:05] cconnert commented on #4335
Thanks. However I would also like to request a working example. First of all at my system I don not find the `${XDG_CONFIG_HOME}/helm/registry.json`. Instead I do have a `${XDG_CONFIG_HOME}/helm//repositories.yaml`. Setting `HELM_REGISTRY_CONFIG` to point to that leads to:
error: WARNING: invalid character 'a' looking for beginning of value
Thus I converted the yaml into a json but still the `helm

[2022-04-05 12:09] CandiedCode commented on #4521
@ciis0 I see it in the documentation listed here:

https://kubectl.docs.kubernetes.io/guides/extending_kustomize/#generator-options

[2022-04-05 13:22] tis-rpage commented on #4335
Don't try to hand create the file contents, use `helm login` to generate the contents. It should look something like this:
[code]
The BASE64encodedAUTHSTRING is roughly this format:
`<USERNAME>:<BASE64encodedPAYLOAD>`
with BASE64encodedPAYLOAD for my AWS creds being:
[code]

[2022-04-05 16:23] natasha41575 commented on #4001
/lifecycle frozen

[2022-04-05 20:59] KnVerey commented on #4523
[v4.5.4](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.5.4) was built with Go 1.17.1, and I have a fix in progress that should allow us to do the next one with 1.18.0.

[2022-04-05 21:08] rafalix1337 commented on #4539
I found a workaround to my problem, it's less comfortable than the way I was trying to but it's working :) I added my workaround solution and unsuccessful try in git repository. You can see: https://github.com/rafalix1337/kustomize-issue-71622398

Firstly, I was trying to add generating config maps and injecting envs on different levels like backend/frontend/specific app but this was causing an er

[2022-04-05 22:09] MoShitrit commented on #4540
Update:
I got some help on the `CNCF` Slack with this issue, apparently I needed to remove the `namespace` definition from my secret overlay. After doing that, things started working.
[Link to the thread here](https://cloud-native.slack.com/archives/C01TSERG0KZ/p1649195475769299)
/close

[2022-04-05 22:09] #4540 closed

[2022-04-05 23:21] CandiedCode commented on #4556
@hifi what version of kubectl are you running?

[2022-04-06 03:19] hifi commented on #4556
[code]

There's no `--enable-exec` in the kustomize command:
[code]

Trying to use an exec KRM will be silently ignored.

[2022-04-06 06:23] snuggie12 commented on #4335
Sorry, I have been away from work and hadn't gotten a chance to clear this up.

@tis-rpage As I said above, it is not about the authentication. It's the format of the `helm pull` command. If you look at my working [diff](https://github.com/kubernetes-sigs/kustomize/issues/4335#issuecomment-1002868034) and take the example of using the old `stable` repo and we'll say `prometheus` chart you'll see i

[2022-04-06 06:33] docv266 commented on #4559
Same issue here.

The remote resource is reached with: (hosted on Gitlab)

[code]

And for information, the remote resource looks like that:

[code]

[2022-04-06 13:19] awilkins-frel commented on #149
I thought i came across this issue as well, eventually tracked it down to not including the namespace in my pvc that was in my deployment so it was not matching.

[2022-04-06 15:00] alfredomagallon commented on #4559
Same here

[2022-04-06 15:17] tis-rpage commented on #4335
QuinnBast already opened up #4381 specifically to address OCI connections. My comments on this ticket are regarding authentication, which kustomize/helm already support via external authentication passed in via secured files and environment variable references.

In general, putting credentials on the command line is poor practice, as it exposes credentials via `/proc/$$/cmdline`. Therefore I recom

[2022-04-06 15:23] kingofdisasterr opened #4570 "configMapGenerator: double quote handling incorrect when generating a config map from properties file"
**Description**

The configMapGenerator handles double quotes wrong when a config map is generated from a properties file.
When double quotes or single quotes are provided in the properties file, they should be kept in the output. If necessary, kustomize should add single quotes to the output, i.e. when the property value begins with a space character.
Reserved yaml words should be surrounded with

[2022-04-06 17:12] MarcoPolo commented on #4559
This issue may also be related: https://github.com/kubernetes-sigs/kustomize/issues/4455

[2022-04-06 17:15] MarcoPolo commented on #4559
A workaround is to use ssh (e.g. `git@github.com:...`) or prefixing `git::` to https urls, (e.g. `git::https://github.com/user/repo.git?ref=...`)

[2022-04-06 18:24] rumstead commented on #4559
Thanks for the link but I don't think they are fixed by that PR.

Using `git::` or ssh does not work for me and the error messages are different. Additionally, they mention in the issue that it breaks in 4.5.*. That isn't the case, I see the error after 4.5.3, 4.5.2 works fine.

[code]
vs
[code]

[2022-04-06 21:53] tis-rpage opened #4572 "helmChart with CRD is untargetable by component patch"
There appears to be an incompatibility with `helmCharts` and `components` in the same kustomization file. When attempting to use a patch in a component, the helmChart resources are untargetable due to `[noNs]`.

**Error:**
[code]

**Reproduction:**
[code]

**Results:**
✔️ kustomize build --enable-helm foobar/overlay/
✔️ kustomize build --enable-helm foobar/base/
⛔ kustomize build --enable-helm foo

[2022-04-06 23:34] CandiedCode commented on #4562
closing are PR merged

[2022-04-06 23:34] #4562 closed

[2022-04-07 09:56] makubit opened #4573 "[Question] Is it possible to use already existing in k8s ConfigMap/Secret in replacements?"
I have a use case where I want to replace a cert in my resources, but this cert is already deployed in the k8s environment in a different namespace. Is it possible to refer in replacements to existing resources (or some other way)?
I couldn't find anything similar in the documentation.

[2022-04-07 12:08] masih commented on #4559
Looks like HTTPS remote source specified in `example.com/org/repo?ref=v1.2.3` instead of `https://example.com/org/repo.git?ref=v1.2.3` also does the trick while using `HTTPS` as the git clone transport protocol.

[2022-04-07 16:03] snuggie12 commented on #4335
I think "pre-seed" is where the disconnect may be. A lot of issues created around the future of helm chart inflation with kustomize are about running it in a gitops environment like argocd. There's no chance to run `helm login` or the `helm pull` you listed above.

[2022-04-07 16:29] KnVerey commented on #4498
It is not possible for Kustomize to handle references in CRDs by default. Please see the [CRDs](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/crds/) and [configurations](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md) features. (Note: we have a longer-term issue to reconcile these and the openapi field: https://github.com/

[2022-04-07 16:35] #4473 closed

[2022-04-07 17:25] tis-rpage commented on #4335
Most workflows allow you to have a `pre:` stage for this type of use-case, I'd be surprised if ArgoCD is glaringly deficient in that regard. I believe ArgoWorkflows supports this kind of concept, though it's likely not as opinionated as ArgoCD.

[2022-04-07 18:57] KnVerey commented on #4556
Container-based KRM functions should work in kubectl as of v1.21. Starlark functions are not available because of dependency problems they introduce, and in fact we are going to remove them entirely in a future release (#4349). Exec KRM functions are not enabled in kubectl yet because of concerns around their security model. Notably, the plugin location needs to be subjected to loader restrictions

[2022-04-07 20:09] #4263 closed

[2022-04-07 21:11] #4523 closed

[2022-04-08 17:01] natasha41575 commented on #4381
The Helm plugin builtin into kustomize is being migrated to a [third party KRM extension](https://github.com/kubernetes-sigs/kustomize/issues/4401), in which we will support OCI [[issue]](https://github.com/kubernetes-sigs/krm-functions-registry/issues/11). I will try to prioritize the migration and OCI support in Q2 given that there are a large number of requests for this.

/triage accepted

[2022-04-08 21:45] natasha41575 commented on #4573
The short answer is no, this isn't possible.

Kustomize is a client-side _only_ tool, so communicating with the cluster is out of scope for kustomize. `replacements` (or any other transformer for that matter) can only refer to resources that are rendered during the execution of `kustomize build`.

Please reopen if you would like to discuss more.

[2022-04-08 21:45] #4573 closed

[2022-04-09 19:21] Spartaques opened #4575 "Not work with remote repo"
Kustomize version:
{Version:unknown GitCommit:$Format:%H$ BuildDate:1970-01-01T00:00:00Z GoOs:linux GoArch:amd64}
as i expected version is the latest because it was installed from here:
https://kubectl.docs.kubernetes.io/installation/kustomize/source/#install-the-kustomize-cli-from-local-source-with-cloning-the-repo
with version v4.5.2.

I have the next file structure:
![image](https://user-images

[2022-04-10 13:51] CandiedCode commented on #4554
looks like there was a PR fix your issue recently.

https://github.com/kubernetes-sigs/kustomize/commit/e97cecf9dce84642b60b47c44df1c8d39425ac79

I think this should solve your issue and we can close this issue.

[2022-04-11 20:21] koba1t commented on #4561
hi @natasha41575.
I fix the error message on https://github.com/kubernetes-sigs/kustomize/pull/4577.
Could you check it?

And I watch your PR(https://github.com/kubernetes-sigs/kustomize/pull/4574).
May I help you with your work?

[2022-04-11 20:38] natasha41575 commented on #4561
Thanks! Your PR covers what I was trying to fix with mine, so let's go with yours.

[2022-04-11 23:34] Goodwine commented on #4482
Per last meeting discussion the approach will be to introduce v2alpha1 where this new value is introduced.

Unfortunately going through the codebase it seems the code itself is a bit rigid to support these changes in a versioned manner, so what I can tell from my attempts at this is both values need to be supported _for now_ (or forever 😭 ) within the `framework.Result` object, and then just handl

[2022-04-12 09:28] jawsper commented on #865
For anyone finding this like I did, `kustomize build --load-restrictor LoadRestrictionsNone` disables the root check.

[2022-04-12 15:07] eponymz commented on #4379
The ability to detect/fail on missing targets would greatly benefit CI/CD Kubeval pipeline jobs, was shocked to see that this doesn't happen currently.

[2022-04-12 18:14] natasha41575 opened #4579 "Run docker tests in MacOS CI job"
The docker tests in fnplugin_test.go are being skipped because docker is not available in `PATH`.

[2022-04-12 18:21] natasha41575 commented on #4482
/triage accepted

[2022-04-12 18:22] natasha41575 commented on #4482
I forget what we said in the meeting, did we decide to do a version bump for the function spec?

[2022-04-12 18:27] Goodwine commented on #4482
Meeting outcome:
- unfortunately we do have users of proposedValue for v1 so we’ll have to bump the version to v2
- Google has internal experimentation that affect the spec, not ResultList but the overall ResourceList object and will need v2 eventually
- Katrina proposed v2alpha1 to unblock us contribute and support for this feature, v2 can be added once Google experimentation on KRM function spec

[2022-04-12 19:21] ppawiggers commented on #2464
I solved it like this:

[code]

`overlays/prod/kustomization.yaml`:

[code]

and the `kustomization.yaml` per cron job:

[code]

[2022-04-12 19:30] eric-musliner opened #4580 "Kustomize not applying patches to StorageClass"
**Describe the bug**

Kustomize is not applying patches to StorageClass resources types

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

aws-driver.yml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

{Version:kustomize/v4.5.4 GitCommit:cf3a452ddd6f83945d39d582243b8592ec627ae3 BuildDate:2022-03-28T23:06:20Z GoOs:darwin GoArch:arm

[2022-04-13 16:19] KnVerey commented on #4575
/triage needs-information

Can you please provide the Kustomization you're working with and the directory structure (or even better, the entire sample that is not working for you)?

[2022-04-13 16:34] natasha41575 commented on #4557
I believe the order of transformers is determined here: https://github.com/kubernetes-sigs/kustomize/blob/e5041bae6f3b536b764f96c1cf72d332a9c68c43/api/internal/plugins/builtinhelpers/builtins.go#L14

which suggests that the order is `patchesJson6902`, `patchesStrategicMerge` and then `patches`.

If you would like to control the order of transformers, you can invoke them via the `transformers` fiel

[2022-04-13 16:36] natasha41575 commented on #4557
Btw, feel free to contribute documentation. Kustomize docs live here: https://kubectl.docs.kubernetes.io/references/kustomize/, it could probably use an extra "Transformers" section. The repo that hosts this site is here: https://github.com/kubernetes-sigs/cli-experimental

/kind documentation
/kind question
/triage accepted

[2022-04-13 16:41] KnVerey commented on #4559
/triage needs-information

Would one of you please be able to provide a public sample we could use to reproduce?

And could you please confirm whether kustomize 4.5.3 is able to successfully build the Kustomization if you clone it locally yourself? The fact that the error is about a specific line in a remote file is curious.

[2022-04-13 16:45] KnVerey commented on #4554
This should indeed be fixed in kustomize v4.5.4. Please reopen if that is not the case.

/close

[2022-04-13 16:46] #4554 closed

[2022-04-13 16:47] masih commented on #4559
@KnVerey to reproduce the issue:

`kustomization.yaml` content:
[code]

Running build:
[code]

Version:
[code]

[2022-04-13 16:49] KnVerey commented on #4546
/triage accepted

@natasha41575 what are your thoughts on what the syntax for this could be?

[2022-04-13 16:54] KnVerey commented on #4544
In order for the namespace transformer to target additional fields in a custom resource, you will need to configure it using the configurations field: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md. Alternatively, you can do the change more manually using [replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replace

[2022-04-13 16:58] natasha41575 commented on #4570
What do you propose a user do if they want the surrounding double quotes to be included as part of the string? What if they want '"string"'?

Why not double?

ConfigMap data are strings. So I would be inclined to think that all numbers in string fields should be quoted.

IMO I would think that kustomize should be double quoting all string fields with special characters unless otherwise necessary.

[2022-04-13 17:00] natasha41575 commented on #4559
@m-Bilal would you be able to take a look? I'm curious if this is related to your `MalformedYamlError` change

[2022-04-13 17:18] m-Bilal commented on #4559
Sure I'll into this.

/assign

[2022-04-13 17:27] KnVerey commented on #4539
Thanks for providing the full samples--it really helps! The problem with your not-working sample is that the `/-` means to append and will not work if the key in question doesn't already exist. One possible solution is to add `envFrom: []` to each of your initial deployment definitions to ensure the key will always exist when you try to append. Alternatively, you can selectively change the jsonpat

[2022-04-13 17:27] #4539 closed

[2022-04-13 17:30] #4505 closed

[2022-04-13 18:05] KnVerey commented on #4522
I can't speak to the full history of the project, but this behaviour seems correct to me and has been present at least as far back as v4.0.5, which was released over a year ago. An object in a different namespace is not the same object, so the patch does not match the base you're intending it to operate on. You can explicitly target the other namespace if you use the patches field, but you cannot

[2022-04-13 18:09] KnVerey commented on #4524
@natasha41575 would you agree that this is probably the same underlying issues as https://github.com/kubernetes-sigs/kustomize/issues/4475?

[2022-04-13 18:10] natasha41575 commented on #4559
/triage accepted

[2022-04-13 18:18] KnVerey commented on #4483
Cross-document anchor support is not something we can consider. Anchors are expanded when each document is loaded, and Kustomize operations make structural edits to the resulting resources.

[2022-04-13 18:18] #4483 closed

[2022-04-13 18:22] KnVerey commented on #4559
FYI @m-Bilal I was able to confirm that building the https://github.com/prometheus-operator/kube-prometheus example given does not work when referenced remotely and does work if you clone it and build.

[2022-04-13 18:29] natasha41575 commented on #4555
Please read the kustomize [eschewed features](https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/). We are intentionally only permitting structured edits in replacements as per the reasoning described under "unstructured edits" in our eschewed features page. I understand that it makes kustomize and replacements much less powerful in the kinds of transformations that you can do, but

[2022-04-13 18:33] KnVerey commented on #4580
Thanks @olegsu ! I see your answer also fixes a second problem in the example provided, which is `namespace: default` in the target. StorageClass is not namespaced, so that is also preventing the match.

/triage not-an-issue
/kind support
/close

[2022-04-13 18:33] #4580 closed

[2022-04-13 18:35] natasha41575 commented on #4099
In this issue we've concluded that replacements will not be able to reference resources outside of the current kustomization stack, but tracking name references set by replacements should be supported. We can track this issue in https://github.com/kubernetes-sigs/kustomize/issues/4524#.

[2022-04-13 18:35] #4099 closed

[2022-04-13 18:42] natasha41575 commented on #4524
@KnVerey Yes, I believe it is the same underlying issue. We can have `replacements` store previous IDs (we'll just need to make a call to `resource.StorePreviousId`), but it is only part of the solution. The other part of the solution has to come from the user. The problem though is that the nameReferenceTransformer only looks at specific fields. If users use replacements to propagate names into a

[2022-04-13 18:53] natasha41575 commented on #4528
Unfortunately, no, kustomize does not have any mechanism to output the resources into separate files. There is an `--output` flag that lets you dump the output into a file, but it puts all the resources in the same file.

@KnVerey what's your opinion on a flag that would cause the output to be written to different files, 1 resource per file?

[2022-04-13 18:57] pentago opened #4581 "How to override images stanza from base in any overlay?"
I'm figuring out a gitops workflow and want to know if it's possible to define a set of `images` in the `base` but to be able to override those images in any or all overlays, like this:

**base:**

[code]

**dev overlay:**

[code]

Currently, it's possible to have different `images` stanzas in each overlay but it must not be present already in the base.
Not sure why is that but wouldn’t it be usef

[2022-04-13 19:51] #3915 closed

[2022-04-13 20:01] DaAlbrecht commented on #4080
Hey there  :)
I would like to learn and contribute, is this still open and a good first issue to work on?

[2022-04-13 20:05] natasha41575 commented on #4080
@DaAlbrecht this one might be a bit controversial to start with, I would suggest https://github.com/kubernetes-sigs/kustomize/issues/4292 to start with

[2022-04-13 20:33] DaAlbrecht commented on #4292
As suggested by @natasha41575 I would like to work on this as my first issue. If I understood the current state of this issue correctly, option 2. Preserve the input order would be preferred?

[2022-04-13 20:34] natasha41575 commented on #4292
@DaAlbrecht yes, preserving input order would be preferred. But if that is too difficult, alphabetical is OK.

[2022-04-13 20:57] natasha41575 commented on #4561
The error message is now improved.

If in the future we want to support using `create: true` with the wildcard match, I am open to accepting that, so I will leave this issue open in case someone wants to contribute it.

/lifecycle frozen

[2022-04-13 23:19] tedtramonte commented on #4555
While you're not wrong about length being the core issue, how would you propose truncating that? Replacements is hands off and automatic as part of the overlay and truncating isn't something that Kustomize or Kubernetes does.

While in my case I am technically abusing the "YAML in" part of the "YAML in / YAML out" philosophy by setting the invalid label as the replacement target, there are certain

[2022-04-13 23:43] KnVerey commented on #4528
It reminds me of `kustomize cfg` -- taking a collection of resources and analyzing/sorting/distributing it in some way is not a problem unique to resources generated by Kustomize. I'm not in favour of adding a dedicated feature for it. Maybe we can consider a new `cfg` subcommand, but really, I'd prefer to see `cfg` become an independently maintained tool rather than grow.

[2022-04-14 00:03] natasha41575 commented on #4555
@tedtramonte All are good points. You're right that truncating isn't something that we automatically do, and I agree that in the ideal case, `replacements` would do some validation to make sure it's not generating invalid yaml. One idea that comes to mind is, what should replacements do when it tries to copy a string longer than 63 characters to the labels field? It could either truncate it or thr

[2022-04-14 01:00] tedtramonte commented on #4555
It would resolve my issue certainly, but like you mentioned, it IS an error and probably should remain that way. But not every field is limited to 63 characters, so generically truncating to 63 isn't correct.
The simplest solution might be an option to truncate to whatever the limit of the field is. But Kustomize doesn't really have that information, so the user should probably supply that.

[code

[2022-04-14 11:57] btrepp commented on #970
This is a bit of a weird one to stumble upon. Getting the file from git would be a great advantage.
Some tools have multiple versions of the .yaml in the directory. E.g argocd.

With the git protocol, we could use the commit hash, so you would also be confident someone sneaky isn't changing the files, and have some form of verification. In the https mode, that's just a URL, someone could change th

[2022-04-14 16:06] eric-musliner commented on #4580
Thanks for the tip about the group! Glad it wasn't a real issue. This fixed my problem

[2022-04-14 17:00] #4322 closed

[2022-04-14 17:21] HariSekhon commented on #4309
/remove-lifecycle stale

[2022-04-14 17:53] langrp commented on #4225
Got too busy to prepare example repo. Hope it's not too late, but here is repo I use
https://github.com/langrp/kustomize-mergeall

[2022-04-14 17:57] natasha41575 commented on #4225
/remote-lifecycle stale

[2022-04-14 22:43] SanjayVas commented on #4420
I think there may be other cases that aren't handled by changing the load restrictor, e.g. referencing other files in the kustomization.yaml that are symlinks.

I believe this prevents running kustomize from Bazel, as Bazel relies heavily on symlinking to put both generated and hand-written source files in the "same location".

[2022-04-15 08:56] cconnert commented on #4557
Thanks for the detailed explanation. I'll try to find some time to contribute and enhance the documenation

[2022-04-15 18:48] natasha41575 opened #4583 "Bump buitlin openapi schema"
We are using openapi data from kubernetes v1.21.2. We should consider bumping the schema version, or supporting multiple schema versions in kustomize. The openapi field syntax and the code in kyaml is set up to do the latter, but we received pushback from kubectl about having multiple large schema files vendored in.

[2022-04-15 18:51] jketcham opened #4584 "[Question] Possible to have multiple components that merge / patch on the same list? Last component applied overwrites any previous component patches"
I would like to have a base `Deployment` config with a series of `components` that can add values to `tolerations` and `nodeAffinity` selectors, but when I include two components that try to patch/merge on the same list, the last component that is applied overwrites the previous component's patch.

I'm essentially trying to achieve the same functionality as outlined in the [docs for components](ht

[2022-04-15 19:44] SelfhostedPro opened #4585 "Run Generators before Replacements (or give us the option to)"
**Describe the bug**
Currently I have a configMap that I'm using a system environment variable to generate which I'd like to use with a replacement in order to replace the ingress field for when my application is deployed. The CD that I'm using allows me to set the environment variable and the configMapGenerator correctly builds said configMap.

I just am unable to use a value from the configMapGe

[2022-04-15 20:04] natasha41575 commented on #4585
There is a typo in your replacements:

[code]

Generators already do run before replacements.

I verified that fixing the typo causes the replacements issue to go away, but throws another error that I'm unable to decipher. Please file a separate issue if you are unable to resolve the new error.

[2022-04-15 20:04] #4585 closed

[2022-04-15 20:12] tis-rpage opened #4586 "Expand var replacements to include annotations on StatefulSet"
Expand var replacements to include annotations on StatefulSet resources to match parity with Deployment replacements.

From `https://github.com/kubernetes-sigs/kustomize/blob/master/api/konfig/builtinpluginconsts/varreference.go`:
[code]
Add:
[code]

[2022-04-15 20:15] natasha41575 commented on #4049
/lifecycle frozen

[2022-04-15 20:16] natasha41575 commented on #4586
Vars are slated for deprecation (https://github.com/kubernetes-sigs/kustomize/issues/4049), so we will not be adding any additional features for it. We encourage you to migrate to replacements (https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) if possible.

[2022-04-15 21:13] SelfhostedPro commented on #4585
Thank you! I was able to resolve this with your help (it's been a long day 😓 ) I am now able to do dynamic ingress via kustomize and argocd! Thank you so much!

[2022-04-16 04:35] tis-rpage commented on #4049
Any chance of multiref becoming a core API of kustomize/replacements? Without this capability, I'm afraid deprecating vars breaks the templating capabilities of native kustomize and requires using helmCharts in kustomization abuse to introduce the same capability in a non-native kustomize approach.

[2022-04-16 11:16] evolutics commented on #51
If this helps anyone: it _is_ possible to use an **image tag from an environment variable**, without having to edit files for each different tag. This is useful if your image tag needs to vary without changing version-controlled files.

Standard `kubectl` is enough for this purpose – no `envsubst`, `sed`, templating, etc. In short, use a [`configMapGenerator`](https://kubernetes.io/docs/tasks/mana

[2022-04-17 07:33] m-Bilal commented on #4559
The error occurs in this section:
https://github.com/kubernetes-sigs/kustomize/blob/a464ed0c594bc67a1254855d32485d97092f8555/kyaml/kio/byteio_reader.go#L290-L298

`err := decoder.Decode(node)` returns an error `yaml: line 25: mapping values are not allowed in this context`. Interestingly, it does not return any error when remote `resources` is prefixed with `git::` (So I think it is more of a prob

[2022-04-18 13:55] m-Bilal commented on #4559
Looked at this a little more. The problem is that when `resources` is something like `https://github.com/prometheus-operator/kube-prometheus.git?ref=v0.9.0`, the first file that is passed to `kyaml/kio/byteio_reader.go decode()` in `originalYAML` parameter is a HTML file while when the `resources` https link is prefixed with `git::`, the first file is correctly a YAML file.

The below linked files

[2022-04-18 15:25] natasha41575 commented on #4559
I think we should move these lines: https://github.com/kubernetes-sigs/kustomize/blob/a464ed0c594bc67a1254855d32485d97092f8555/api/internal/target/kusttarget.go#L410-L431

down to inside this if statement:

https://github.com/kubernetes-sigs/kustomize/blob/a464ed0c594bc67a1254855d32485d97092f8555/api/internal/target/kusttarget.go#L432-L434

This is what I suggested in the PR here https://github.co

[2022-04-18 15:35] natasha41575 commented on #4559
Btw, thank you @m-Bilal for the thorough investigation and narrowing down what caused the problem. It's super helpful to have you take some time to work on kustomize!

[2022-04-18 15:37] rumstead commented on #4559
Hard agree! Breaking changes in patch versions makes it hard to have confidence in upgrades.

[2022-04-18 16:54] natasha41575 commented on #4049
That's the point. Kustomize was built around the idea of _template-free_ YAML - this is the first line of the [README](https://github.com/kubernetes-sigs/kustomize/blob/master/README.md). There are lots of reasons that we believe that templating is not great, you can read about them here under "unstructured edits": https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/ and many more de

[2022-04-18 17:28] tis-rpage commented on #4049
Using replacements with multiref enables structured parsing of arbitrary fields and joining them together, this would largely resolve issues with the deprecation of vars, and was entirely ignored by your response.

[2022-04-18 17:44] natasha41575 commented on #4049
Apologies for not addressing it in my response, I did read it and we are still thinking about it. The original proposal above has some syntax with templating/regex that we would most likely avoid but allowing the source to come from multiple places and concatenate them together is a very common use case that I myself have dealt with as well.

In my own work, what I've done for this is write a KRM

[2022-04-18 17:47] natasha41575 opened #4588 "Build up a suite of tests for remote URLs"
We have had at least two regressions with remote URLs: https://github.com/kubernetes-sigs/kustomize/issues/4559 and https://github.com/kubernetes-sigs/kustomize/issues/4455. We need to have a better suite of tests with all currently supported URLs so that we can make changes to the remote URL handling code more confidently, without introducing new regressions.

All of the supported URL types are d

[2022-04-18 17:49] natasha41575 commented on #4588
/kind regression
/triage accepted

[2022-04-18 17:52] natasha41575 commented on #3887
/remote-lifecycle stale

[2022-04-18 17:54] natasha41575 commented on #3942
/lifecycle frozen

[2022-04-18 18:10] #2987 closed

[2022-04-18 18:10] #3670 closed

[2022-04-18 18:10] #4100 closed

[2022-04-18 18:28] tis-rpage commented on #4049
Thanks for addressing it. It is a complex topic, but it's a very common use-case and a "standard" approach to resolving the issue would benefit the community. Unfortunately, leveraging KRM/kpt expands the trusted deployment code base, and for auditable environments that becomes impractical due to review processes involved. That overhead can be so significant that it is preferable to wait for a new

[2022-04-18 18:57] gaeljw commented on #3682
It would be nice if Kustomize was accepting the syntax even though the tag is ignored, it really helps for human readibility.

[2022-04-18 20:07] KnVerey commented on #4393
This was addressed by https://github.com/kubernetes-sigs/cli-experimental/pull/245

[2022-04-18 20:07] #4393 closed

[2022-04-18 21:25] #4290 closed

[2022-04-18 22:18] jrowinski3d opened #4589 "Create a Common kustomize base"
Hi wonderful **kustomize** community.

I was wondering if there is a recommended approach or if anyone has achieved a **common** base within Kustomize as well working with multiple overlays/bases.

Following tree structure:

[code]

In this setup, I have configured `xyz-service` base to use the `common` base for managing some of our **common** resources. Now, things get tricky with the overlays fo

[2022-04-19 00:49] natasha41575 commented on #3670
Only took a year, but I believe this is fixed now :)

[2022-04-19 07:05] ringerc commented on #686
This is now supported using image transformer configs; see https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/images/README.md

[2022-04-19 14:08] KnVerey commented on #4045
/remove-lifecycle stale

[2022-04-19 20:26] gaeljw commented on #4570
I actually think the current implementation is what most people would expect.

`.env` file are not properties file: I'm not sure there is a defined standard for any of them but `.env` file should not contain any simple/double quote in the 1st place unless they are expected in the output because `.env` files only can contain string values. In `key=value`, `value` is always taken as is, as a string.

[2022-04-19 20:28] gaeljw commented on #4546
I observed the same behavior and thought it was deliberate for some reason but I'd like this to be fixed if this is actually a bug. It's confusing that labels without includeSelectors are not propagated to Deployments.

[2022-04-19 23:19] seh commented on #4347
@m-Bilal, have you had a chance to attempt a fix for this defect yet?

[2022-04-20 00:47] soudaburger commented on #3205
I came here looking for some globbing support.  I understand that globbing can have it's own pitfalls.  I think it's a bit counterintuitive to not even support resources as a folder.  I mean if `bases` support specifying a folder like `../../base`, then why can't we simply have `resources: ['somefolder']` so we don't have to explicitly call out every single YAML file?  If there are other unsupport

[2022-04-20 08:53] in-cloud-opensource opened #4593 "HelmChartInflationGenerator ignores releaseNamespace"
**Describe the bug**

According to the [documentation](https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_helmchartinflationgenerator_) of the helm inflator it shall be possible to set the release namespace of the helm template.
When running `kustomize build --enable-helm .` with the kustomization.ymal below the releaseNamespace is ignored.

**Files that can reproduce the issue**

[2022-04-20 15:26] KnVerey commented on #4402
/remove-lifecycle stale

[2022-04-20 15:26] KnVerey commented on #4400
/remove-lifecycle stale

[2022-04-20 17:33] matti commented on #1493
just use sed and/or envsubst on kustomize yaml before apply

this will never be fixed in kustomize, because kustomize is designed to be promising, but painful.

[2022-04-20 23:53] TheRealDwright opened #4595 "configMapGenerator - Error: json: unknown field "generatorOptions""
**Describe the bug**

When running kustomize build with a configmap generator, if wanting to disable the name suffix hash, the [Kustomize documentation](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/kustomization/#generatoroptions) suggests using the flag `generatorOptions` however this needs to be `options`

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expect

[2022-04-21 13:43] oliver-goetz opened #4596 "kustomize does not remove items of an array using strategic merge"
**Describe the bug**

Deleting items from an array using strategic merge patch does not work as expected in my base-overlay scenario.
Instead of removing the items from the list, it replaces the list content.

Please see my example below. The outputs are those of `kustomize build ./001` command.

**Files that can reproduce the issue**

*Base layer - directory ./000*

kustomization.yaml

[code]

pr

[2022-04-21 15:50] William-LP opened #4597 "[Bug] : Cannot reference a generated configMap to a Deployment if namespace ends with the same suffix as defined nameSuffix"
Hi there ! I don't know if that's a question or a bug but here you go :

I've got a `base` folder with a **deployment.yaml** like this :

[code]

and a basic **kustomization.yaml** :

[code]

From another folder, I reference this base with the following kustomization file :

[code]
I have my deployement patch  :

[code]
and my **config.env**, source of the configMap :

[code]

The problem is, if I

[2022-04-21 18:16] sahilrajput03 opened #4598 "`kubectl edit -k` command doesn't work at all"
https://github.com/kubernetes/kubernetes/issues/109598

Is this bug belongs to this repo of or the official kubernetes repo .., can someone suggest me this?

[2022-04-21 19:36] annasong20 commented on #4588
/assign @annasong20

[2022-04-21 22:29] ron1 commented on #4052
/remove- lifecycle stale

[2022-04-21 22:29] ron1 commented on #4052
/remove- lifecycle rotten

[2022-04-22 06:50] cconnert opened #4599 "ReplacementTransformer does not trigger NameReferenceTransformer"
**Describe the bug**

I aim to change the namespace of the cert-manager install manifest. Due to RBAC a standard namespace transformation is not applicable. Thus I use a combination of:

- A inline patch to change the Namespace resource
- The ReplacementTransformer to update relevant fields

But for some reason not all name references are updated, as I would expect. In my example Kustomize fails t

[2022-04-22 11:00] nice-pink opened #4600 "patchesStrategicMerge issue with argo Rollout"
**Describe the bug**

If using `patchesStrategicMerge` the containers are overwritten instead of merged. Everything works fine if changing from `kind: Rollout` to `kind: Deployment`.

**Files that can reproduce the issue**

Example:

rollout.yaml:
[code]

version.yaml:
[code]

kustomization.yaml:
[code]

-->

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

{Version:k

[2022-04-22 13:58] Harmelodic opened #4601 "Tags and Releases named by the version number only."
**Is your feature request related to a problem? Please describe.**

Some automation tools, like [Renovate](https://github.com/renovatebot/renovate), are able to update versions based on Releases/Tags of software on GitHub.

With weird names for tags/releases, it makes it much harder to do automated updates.

**Describe the solution you'd like**

Tags and releases named like: `4.5.2`

[2022-04-22 14:55] William-LP commented on #4597
For some reason, having existing resources with the same name in my cluster impacted the output of my `kubectl -k <folder> --dry-run=client` command.

That's why renaming resources why name that exists nowhere worked.
I still don't know why this behavior - probably some cache issue.

[2022-04-22 14:55] #4597 closed

[2022-04-22 16:33] amahesh98 opened #4602 "Remove Default Addition of Block Chomp (|-) on ConfigMaps that don't end with New Line"
**Describe the bug**

When calling ByteReader.read() on a ConfigMap that doesn't end with a new line, if there is a pipe on the keys, then the last pipe gets replaced with a block chomp indicator (|-). This can be seen through the following flow on a valid yaml string

[code]

**Files that can reproduce the issue**

[code]

The above will replace `deployment-core-platform-service: |` with `deploym

[2022-04-22 16:35] amahesh98 commented on #4602
Commenting this as well for visiblity: We are willing to submit the fix ourselves, just wanted to confirm first if this is actually the expected behavior

[2022-04-22 23:01] spstarr opened #4603 "Kustomize is not merging configmaps instead is clobbering with the overlay content"
**Describe the bug**

With the following directory structure:

[code]

I am not able to see the merged configmap generated

Here is the contents of them all:

base/base.properties:
[code]

base/kustomization.yaml:
[code]

base/deployment.yaml:
[code]

For Overlay:

overlays/dev/base.properties:
[code]

overlays/dev/kustomization.yaml:
[code]

When I run latest kustomize or kubectl command line:
`k

[2022-04-23 00:12] ajayk commented on #4603
@spstarr  https://github.com/kubernetes-sigs/kustomize/issues/3319

[2022-04-23 07:55] rcmorano commented on #3815
bump

[2022-04-24 03:18] tedtramonte commented on #4555
Just following up, I did end up writing a Kustomize plugin to do this. The source and docs are available at https://gitlab.com/tedtramonte/auto-version-labeler.

At this time, there's some undesired behavior if the plugin is used in a `Component`. For example, if a Kustomize overlay configuration uses a base (an application deployment) and a `Component` (redis for storage), and both make use of `a

[2022-04-24 03:18] #4555 closed

[2022-04-24 12:14] kragniz commented on #3763
/remove-lifecycle stale

[2022-04-24 19:14] blachniet commented on #1493
I had the same need and solved it by creating a plugin: [`PullPolicyTransformer`](https://github.com/blachniet/kustomize-plugins#pullpolicytransformer). There's usage instructions and an example in the repository: <https://github.com/blachniet/kustomize-plugins>.

It's packaged as a [Containerized KRM Function](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/containerized_krm_functio

[2022-04-24 22:14] jkroepke commented on #4219
unstable

[2022-04-25 06:27] spstarr commented on #4603
In this case, it's not even merging any content with same filename, irrespective of INI format or not. So, I don't understand here.

[2022-04-25 08:02] nice-pink commented on #4600
Found the solution https://blog.argoproj.io/argo-rollouts-v1-1-fef8611a9034.

Issue can be closed.

[2022-04-25 17:43] VitalCh opened #4607 "helmCharts allow pass flags to Helm charts"
**Is your feature request related to a problem? Please describe.**
The "helm template" command has quite few flags which allow overcame lack of some charts configurations allowed via values.yaml

In particular I worked with several charts require --api-versions, --create-namespace and --set

**Describe the solution you'd like**
Add definition for command line to accept "includeFlags" array
Note: I

[2022-04-26 00:27] VitalCh commented on #4607
I have change on my repository. https://github.com/VitalCh/kustomize/commit/4afdb242d2eae1ccd62d96e9fc833e0c6df1af2f

[2022-04-26 20:35] mfn commented on #641
/remove-lifecycle stale

[2022-04-27 02:19] Sineaggi commented on #4566
We just found out about `openapi.path` today, and we're in the same boat of needing to distribute a copy of our schema.

Would love to see `openapi.path` support remote resources similar to `configurations`.

[2022-04-27 08:38] jerguslejko commented on #1119
hey @monopole, has this been addressed elsewhere? I'd be happy to give it a try!

[2022-04-27 14:40] tnk-dev opened #4609 "[Question] How to json patch contrainer resources?"
I want to specify container resources on a overlay level meaning I don't want to use as much memory and cpu in development as I do in production.

I this at all possible?

**Note: I don't wanna specify a specific app name but rather have it apply to all my development overlays**

[code]
Running this throws me the following:

[code]

[2022-04-27 15:39] elassadi opened #4610 "Configmap generator not escaping values containing colons"
**the generated Configmap contains syntax errors**

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

config.env

[code]

...

**Expected output**

configmap.yaml

[code]

**Actual output**

configmap.yaml

[code]

Colon is raising an exception: invalid value:

[2022-04-27 23:13] DaemonDude23 commented on #3205
While I'd love a native solution to this, instead I created a little Python wrapper around `kustomization.yaml` that will walk sub-directories and populate every desired file into a `kustomization.yaml`, as well as ignore any number of files (if you wish). It's totally 'solved' this problem for me for over a year so I don't have to manually manage and diff a ton of file paths. Ain't nobody got tim

[2022-04-28 14:27] #4093 closed

[2022-04-28 19:22] camilamacedo86 opened #4612 "Produce darwin/arm64 binaries for v3"
**Is your feature request related to a problem? Please describe.**
We cannot upgrade the stable go/v3 plugin in kubebuilder to use kustomize v4 and we would like to provide on it the support for  darwin/arm64. In this way, we would like to ask for v3 binaries in this architecture.

**Describe the solution you'd like**

Be able to use the install.sh script to also install darwin/arm64 binaries for

[2022-04-28 21:56] spstarr commented on #4603
Resolved

[2022-04-28 21:56] #4603 closed

[2022-04-29 05:14] HL-EverGreen commented on #4291
/remove-lifecycle stale

[2022-04-29 05:14] HL-EverGreen commented on #4291
Interested in this issue, taking a deeper look

[2022-04-29 05:31] mr-davidc commented on #2803
I too agree that this would be a great feature to have and would help clean up some of my CI/CD pipeline steps

[2022-04-29 07:39] mukundjalan commented on #896
@Shell32-Natsu the link you provided seems to be broken. Can you please provide reference to the new page for this feature?

[2022-04-29 12:16] gruberrichard opened #4613 "OpenAPI field should support merging"
**Describe the bug**

We have four directories:

deployment-base - A simple Deployment resource
[code]
deployment-patch - Patch for deployment-base's Deployment resource
[code]
rollout-base - A Rollout resource with its openapi definition
[code]
rollout-patch - Patch for rollout-base's Rollout resource
[code]

If I run `kustomize build deployment-patch` it works as expected and it does patch the D

[2022-04-29 17:29] remidebette commented on #4335
Hi all,
I am not able to make the `HELM_REGISTRY_CONFIG` workaround work for a Harbor authenticated Helm repository. (401)

The `kustomization.yaml`:
[code]

I see that the helm command ran behind the scenes is :
[code]

Instead, in my case I can generate a `HELM_REPOSITORY_CONFIG` that works with an Harbor username and API key.
When you do that, one can then use a repository name instead of the u

[2022-04-29 22:40] #4321 closed

[2022-05-02 06:38] HL-EverGreen commented on #4291
Hi @natasha41575, based on the current implementation, I'm not pretty sure if we intentionally ignore global `generatorOptions` for builtin type of generators defined in `generators` field -

For generators defined in`configMapGenerator/secretGenerator` field, we merge the global generator options into its own options [here](https://github.com/kubernetes-sigs/kustomize/blob/release-kustomize-v4.5/

[2022-05-02 20:34] #4559 closed

[2022-05-02 21:00] natasha41575 commented on #4559
I have verified that the kustomization file provided by https://github.com/kubernetes-sigs/kustomize/issues/4559#issuecomment-1098270169 no longer throws an error, so this issue will no longer be there in the next release.

[2022-05-02 21:30] #4487 closed

[2022-05-03 00:01] #4317 closed

[2022-05-03 08:08] antoineozenne commented on #3446
/remove-lifecycle stale

[2022-05-03 14:43] dwalters commented on #3446
PR #4604 fixes this, could someone review it?

[2022-05-03 14:48] dosmanak commented on #4483
Using anchors was nice way to modify ingress DNS for various enviroments. I can't find any feasable solution yet.
There is some approach in https://github.com/kubernetes-sigs/kustomize/issues/347# but very complicated for such basic feature.

[2022-05-03 18:17] rdelpret commented on #3205
The people want globbing!

[2022-05-04 06:44] ringerc commented on #1431
Also, note that while it's tempting to think you can add a `--reference-if-able ~/.kustomize/gitcache` or something, where a single bare git repo serves as a cache for multiple upstreams, this will fall down rapidly. Git's logic for finding common commits between a reference repo and an upstream to clone does not scale to very large numbers of heads in in the reference repo, and will quickly becom

[2022-05-04 07:25] ringerc commented on #1431
There's a truly nasty way to make this work without patching `kustomize`, and a clean way to solve this in `kustomize`.

The nasty way, which suffers from the issue I mentioned above with a mega-cache repo and too many heads, but can still help, is to use the `GIT_ALTERNATE_OBJECT_DIRECTORIES` environment variable to essentially inject reference repos into every git invocation under kustomize's co

[2022-05-04 11:39] jan-sykora opened #4617 "kustomize version output incomplete when building from source"
**Describe the bug**

When installing kustomize directly from Go source using `go install` command (not by cloning the whole repo and installing it from local clone), the `kustomize version` command is missing Version, GitCommit and BuildDate information.

**Reproduce the issue**
[code]

**Expected output**
[code]

**Actual output**

[code]

**Kustomize version**

4.5.4

**Platform**

macOS (Monte

[2022-05-04 15:40] tdg5 commented on #4256
@monopole is this something you can fix or provide guidance on fixing / working around? I don't mind trying to put together a PR, but the omission of `extraArgs` as part of https://github.com/kubernetes-sigs/kustomize/commit/240cda089a562a809f474ac3ddae7e071623cdd2 seems like an explicit decision that I don't have the context to understand.

@Berveglieri can I trouble to you remove "[Question]" fr

[2022-05-04 22:08] KnVerey commented on #4612
Can you please provide more information on why you cannot upgrade to v4, and whether or not this is permanent? v4 is more than a year old now, and we do not currently have a long-term support policy for v3.

[2022-05-05 05:44] ringerc commented on #1431
@natasha41575 That sounds cool and useful. However it will *not* solve the use cases here IMO.

In particular, for CI systems, pre-commit hooks, and other automation, you often have almost the same kustomizations being built running repeatedly, but with a few small variations.

A fully localized, cacheable tree doesn't help much with that unless the cache can be used as a base to be refreshed with

[2022-05-05 06:24] ringerc commented on #3787
This is a common need whenever someone has operators that don't have full CRDs. For example, the OpenTelemetry Collector has a resource

[code]

but the bulk of its configuration is in a

[code]

which can not be easily modified by Kustomize. It does support environment variable substitution, but that's quite limited.

[2022-05-05 06:32] ringerc commented on #758
For anyone else who finds this, here's how to do it now.

In `kustomize.yaml`

[code]

in `my-crd-image-transformer.yaml`:

[code]

[2022-05-05 06:43] njnuwjq opened #4618 "make install with kubebuilder, and the error "Version v3.8.5 does not exist" is reported"
**Describe the bug**

enviroment is ,

c5337840@C02GW0H7Q05N wjq-testOperator % kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d87ea4cbb530a7b2ae91e54c0842d8308a", GitTreeState:"clean", BuildDate:"2022-02-16T12:30:48Z", GoVersion:"go1.17.6", Compiler:"gc", Platform:"darwin/arm64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVer

[2022-05-05 18:24] #3937 closed

[2022-05-05 18:43] kurt-google commented on #4420
Just to confirm it does prevent you from using kustomize in Bazel without workarounds. `--load-restrictor LoadRestrictionsNone` resolves this issue in bazel.

[2022-05-05 19:01] SanjayVas commented on #4420
I don't think this is true. There's some other issues with symlink resolution. If you have a mix of generated and source files, things get screwy since some of those get symlinked. Kustomize appears to expect all paths to be relative to the resolved location rather than the symlinked one.

The only workaround I've found is to copy all the files to a single tree (in Bazel, this means tarring them u

[2022-05-05 19:12] annasong20 opened #4620 "Server lacks SSH keys"
**Describe the bug**
The server that runs the CI pipeline when users open a PR doesn't have ssh keys. We currently skip all ssh tests in [remoteload_test.go](https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/remoteload_test.go) because the server returns an error. Once the server has ssh keys, the server should produce the expected output for those tests.

**Files that can reprod

[2022-05-05 19:41] kurt-google commented on #4420
Sorry I did not to meant to say it resolves all possible issues. In our case we do not have generated files, so the only issue is this issue of kustomization.yaml not being found if its a symlink. Constructing a source tree for the rule does sound like the safest bet.

Any efforts towards making kustomize work better in bazel builds are much appreciated! Thanks for the tip on the workaround.

[2022-05-05 22:16] pmithil7 opened #4621 "Cronjob container part overwritten even in kustomize v4.5.4"
As previously mentioned here: https://github.com/kubernetes-sigs/kustomize/issues/4255

The fix for this was in kustomize version 4.3.0. I'm using kubectl version 4.5.4 and i still see the container part incorrectly being overwritten as blank

Example:

kustomization.yaml

[code]
Inside the mock directory i have the below cronjob.yaml

[code]
Patch file cronjob-patch-env.yaml is as below:

[code]

[2022-05-05 22:22] annasong20 opened #4622 "Resource urls don't support ports"
**Describe the bug**
Our [remote targets specification](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) supports git clone urls, which can include a port. However, when specifying a port in urls under the `resources` field, I get an error.

**Files that can reproduce the issue**
The [TestRemoteResourcePort](https://github.com/kubernetes-sigs/kustomize/blob/master/

[2022-05-05 22:58] annasong20 opened #4623 "kustomize doesn't fully support resource url query parameters"
**Describe the bug**
Our [remote targets specification](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) describes optional query string parameters. However, kustomize cannot currently handle certain parameter combinations. For example, I observe an error on my machine when:

1. url has no parameters
2. https url to directory in repo has parameter `ref=master`

The

[2022-05-05 23:21] #4588 closed

[2022-05-06 05:40] AaronLuo3296 commented on #4595
I also get the same issue when I specify GeneratorOptions per resource.

I tried to run `kustomize build --reorder legacy . --output install.yaml` and `kubectl kustomize . -o install.yaml`, both got the same error `Error: json: unknown field "generatorOptions"`.

[code]

[2022-05-06 08:53] marcofranssen opened #4626 "Kustomization Var is not replaced in all locations"
**Describe the bug**

My ingress needs to refer to the correct service with potential prefixes/postfixes. For that I want to utilize the Var feature.

When running `kubectl kustomize` or `kustomize build` I notice not all instances of `$(ECHO_SERVICE_NAME)` are replaced. It only replaces a single instance of the variable.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code

[2022-05-06 09:06] coperator commented on #2734
Hits me too. :-( Has anybody an idea if there is a workaround?

[2022-05-06 10:05] camilamacedo86 commented on #4612
Hi @KnVerey,

From v3 to v4, we have a MAJOR bump. Then that means breaking changes. ( besides, I know that you tried to make it us much backwards compatible as possible )

For Kubebuilder we have stable plugins which use v3; we will provide a new alpha version that uses v4 to allow people to begin to upgrade and experiment with that as we begin to use v4 and its new features.

But we do not wish

[2022-05-06 11:07] afirth commented on #2734
if you are trying to patch the output of `helm template` to remove something from the final manifest, just use a json6902 patch with behavior `remove`

example:
[code]

I think that's what all the subsequent commenters are asking for. If not, please provide a concrete use case with code
@goooogs @langecode @mkoertgen @coperator

[2022-05-06 12:27] epcim commented on #4519
@ejstreet would not help you to do it with KRM gotpl renderer? https://github.com/epcim/render-gotpl-fn

[2022-05-06 15:34] adrian-gierakowski commented on #4224
No, it is not doing the right thing. Resource without `metadata.name` are valid, as long as `metadata.generateName` is present. However such resources can only be used with `kubectl create` and not `kubectl apply`

[2022-05-06 18:08] KnVerey commented on #4612
I think the reason it doesn't already exist is that go-releaser itself didn't support that architecture at the time of the release in question. darwin/arm64 support [first appeared in v0.156.0](https://github.com/goreleaser/goreleaser/commit/6b26fe4106123cbc1c0fe551927f89ae6cda6475), and [the last v3 release used v0.155.0](https://github.com/kubernetes-sigs/kustomize/blob/602ad8aa98e2e17f6c9119e02

[2022-05-06 18:46] camilamacedo86 commented on #4612
HI @KnVerey,

Could we not update the goreleaser?

[2022-05-06 19:27] cep21 commented on #2734
@afirth I believe they want to create the helm values itself via kustomize.  My use case is using kustomize to generate a flux2 HelmRelease CRD.  I normally would `null` out values I don't want set in the helm chart, but if the output goes via kustomize, the null is removed.

[2022-05-06 19:41] cep21 opened #4628 "Strategic merge patches should retain existing null values in targets"
Reproduction steps are below.  In the case `no-bug`, you can see `replicaCount: null` applied in the output.  In the case `has-bug`, you can see `replicaCount: null` is missing.  The only difference is the patch value.

[code]

# Reproduction steps

Directory structure.
[code]

[code]

[code]

[code]

[code]

[code]

Kustomize output

original:
[code]

has-bug:

[code]

no-bug:

[code]

Expected o

[2022-05-06 19:42] cep21 commented on #2734
I have a reproduction case here: https://github.com/kubernetes-sigs/kustomize/issues/4628

[2022-05-06 20:10] afirth commented on #2734
Holy cannoli. I see your use case (fluxcd helmRelease values in a CRD) but not sure it's going to get fixed for this, which is essentially providing flat files to go template from a inside a CR.
Proposed workarounds for your case:
1) use flux ValuesFrom and provide a static yaml file as a configmap.
2) call `helm template | kustomize` and send the final manifests to flux instead of driving it, wel

[2022-05-06 20:18] KnVerey commented on #4612
Yes, in theory we could make some new commits to the release branch and create a new tag. But the effort/risk isn't nothing, since we've never actually tried to do this before. For one thing, I recently discovered that the cloud build wasn't using the specified tag, so we'd need to cherry-pick a version of [this change](https://github.com/kubernetes-sigs/kustomize/pull/4537/commits/5833f4ca800d22b

[2022-05-06 21:22] #4422 closed

[2022-05-07 00:00] mikebz commented on #3762
Another question - why if we just default to the current environment variables (or lack of them).  I am thinking about yanking the variables set in the builtin.

[2022-05-07 09:56] mwmahlberg commented on #4401
I have noticed that the lack of the possibility to pass extra-args to helm makes it impossible to properly use helm charts that check capabilities, e.g. cert-manager's in-built Prometheus ServiceMonitor creation, see https://github.com/cert-manager/cert-manager/blob/9887baac3357beb1ad949f9b62f25dc3eea27fb7/deploy/charts/cert-manager/templates/servicemonitor.yaml#L1

My thoughts on that:

1. It mak

[2022-05-07 11:39] james-callahan commented on #4401
See https://github.com/kubernetes-sigs/kustomize/issues/3816

[2022-05-08 07:56] camilamacedo86 commented on #4612
HI @KnVerey,

We have a proposed solution for moving forward with kustomize v4. See: https://github.com/kubernetes-sigs/kubebuilder/pull/2583 (there you can check why we cannot just begin to provide kustomize v4 vi the current stable plugin used to scaffold projects)

So, to allow Apple Sillicon users uses the default current and stable implementation (which is the goal that we are trying to achie

[2022-05-08 11:33] #3981 closed

[2022-05-09 07:13] stianlagstad commented on #880
I found this issue while trying to figure out why Kustomize wasn't overriding the namespace for a `MutatingWebhookConfiguration` resource. I'm using <https://github.com/influxdata/telegraf-operator/blob/v1.3.6/deploy/dev.yml>, and [the namespace for the mutating webhook configuration](https://github.com/influxdata/telegraf-operator/blob/v1.3.6/deploy/dev.yml#L50) wasn't being updated by Kustomize.

[2022-05-09 17:43] natasha41575 commented on #4612
@camilamacedo86 @gquillar Is it an option for you to build these binaries yourself from the release branches' source code? Given our limited resources, we don't have a precedent for supporting old versions and generally only cherry pick commits for security-related issues.

[2022-05-10 00:36] KnVerey commented on #4617
/retitle kustomize version output incomplete when building from source

The reason for this is that information comes from ldflags that are populated during the release process, so only the official binaries necessarily have it in current releases. That said, I have a work in progress that uses a new go 1.18 feature to get the information instead, when available: https://github.com/kubernetes-sigs

[2022-05-10 17:43] KnVerey commented on #4154
The inability to identify local file references in extensions transformer configs is also a problem for a fully functional `kustomize localize`: https://github.com/kubernetes-sigs/kustomize/pull/4590. The solution we choose should satisfy that use case as well.

[2022-05-10 18:01] #4566 closed

[2022-05-10 18:03] natasha41575 commented on #4566
This will be available in the next release.

[2022-05-11 00:03] camilamacedo86 commented on #4612
Hi @natasha41575,

I have two concerns with that:

a) Currently, the releases have not been done by the tags ( so it is tough to know what version we are releasing by ourselves ). Would it be possible to fix this one at least?
b) What would be the steps to build the bin? Could you provide the steps after git checkout the tag? What are the commands required?

[2022-05-11 05:10] thatsmydoing commented on #4454
/remove-lifecycle stale

[2022-05-11 07:55] dominikjeske opened #4632 "How to apply version?"
I'm trying to find how to set version to k8s deployment with kustomize but I have stuck.

There is standard label app.kubernetes.io/version so my first approach was add it using commonLabels but this creates selectors and I cannot update version in next release. I found new labels https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/labels/ but when I applied this in kustomization

[2022-05-11 10:11] coperator commented on #2734
@cep21 Thanks for explaining the use case. I have exactly the same ( flux2 HelmRelease CRD)
@afirth Thanks for the proposed workarounds! I was not aware of point 3 (post-render support in fluxcd) and will give it a try.

[2022-05-11 12:21] btrepp opened #4633 "[Question] Best practices for handling secrets in kustomize"
Hi All,

I really love the tool, and do understand the core philosophy of 'everything should come from the files'.
However theres a bit of a grey area when it comes to secrets.

Most kustomize code, is most likely checking into git.
Kustomize pushes you to include every thing into files.
Secrets are an important part of any app.
Thus the logical solution here is that kustomize is driving you to 'p

[2022-05-11 16:13] natasha41575 commented on #4632
From my understanding, you want `labels` to be applied to `metadata.labels` and also `spec.template.metadata.labels`, is that correct?

If so, https://github.com/kubernetes-sigs/kustomize/pull/4209 would allow you to do this in `labels`:

[code]

This will be available in the next release.

If you have further questions or this does not resolve your issue, please reopen.

[2022-05-11 16:13] #4632 closed

[2022-05-11 16:15] KnVerey commented on #4628
If I understand the example correctly, the key will the null value is dropped when the strategic merge patch is applied, but it is retained if the resource is output as-is. I think this isn't a bug--if you ask Kustomize to apply the strategic merge patch, it will attempt to merge in the key with the null value as part of that process, i.e. delete it.

[2022-05-11 16:19] KnVerey commented on #4626
Var substitution is only supported in specific locations: [docs](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/), [locations](https://github.com/kubernetes-sigs/kustomize/blob/master/api/konfig/builtinpluginconsts/varreference.go)

Please note that the vars feature is deprecated in favour of [replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomi

[2022-05-11 16:22] olegsu commented on #4633
We use https://external-secrets.io/v0.5.3/, a CRD that creates "native" secrets from other types.
* The actual secret is stored in AWS.
* The secret generator is used to create empty secrets (or secrets with default empty/default values)
* The application may restart once on the first deploy

Hope that helped :)

[2022-05-11 16:22] KnVerey commented on #4623
/triage accepted

[2022-05-11 16:23] olegsu commented on #4623
/assign

[2022-05-11 16:32] KnVerey commented on #4621
I think the problem is that your patch is missing the container merge key, which is the container name (`name: auto-test` in your example).

[2022-05-11 16:36] cep21 commented on #4628
An explicit `null` is very different than not being present.  For example, with helm charts you can explicitly set values to `null` that are part of the default `values.yaml`.  It's unclear why it's not a bug to remove a value that was explicitly set in the parent.

[2022-05-11 16:38] cep21 commented on #4628
Here is the expected output:
[code]

[2022-05-11 17:58] dominikjeske commented on #4632
@natasha41575 This would be great but I have second thing. When I finish my k8s deployment it will be rather static - beside next image tags and labels I'm referring to. On my deployment process I'm using kustomize edit to update image and I would do something like this with labels but kustomize edit label is setting commonLabels and this is not good for me (because of immutability of created sele

[2022-05-11 18:54] KnVerey commented on #4633
Kustomize indeed has features that help to create secret resources from data, but does not have any opinions or functionality around helping you secure that data before (or after!) Kustomize interacts with it. Indeed [Kubernetes secrets](https://kubernetes.io/docs/concepts/configuration/secret/) themselves are not ideal in terms of security (see all the caveats in those docs). There are many diffe

[2022-05-11 20:39] KnVerey commented on #4621
I am unable to reproduce what you're seeing. I copied the samples exactly, and with Kustomize v4.5.4 I get the expected output:

[code]

[2022-05-11 21:53] pmithil7 commented on #4621
Oh yes, it works with Kustomize 4.5.4, i mistakenly tested the last change with kubectl version 1.21 which i believe has an older kustomize version. The container name in patch seems to have resolved it. Thanks for your help @KnVerey

[2022-05-11 21:53] #4621 closed

[2022-05-12 01:10] KnVerey commented on #4602
Are you able to reproduce with a more recent version of kyaml? I tried adding your sample as a test in kio, and was unable to reproduce. If you can reproduce on master, please open a PR with a test case and we can go from there. Issues like this may be coming from go-yaml, which makes them more difficult to fix (we're in the process of making a fork that will make this easier in the future). That

[2022-05-12 02:40] KnVerey commented on #4628
When you apply a merge patch to an object, the null value has a special meaning, specifically, delete the key/map in question. [It's equivalent to the `$delete` directive](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md#maps). Our [merge2 doc](https://github.com/kubernetes-sigs/kustomize/blob/22668eae166055020836728f1cae55d6473d6d4b

[2022-05-12 16:56] gberche-orange opened #4636 "Patch with value fetched from a file"
**Is your feature request related to a problem? Please describe.**

I meet multiple situations where I need to inject content of a source file (usually a K8S yaml spec files, sometimes files with other formats such as prometheus rule, grafana dashboard) into a K8S resource spec file. To leverage the native IDE tooling ( completion/documentation/syntax validation), I need the format of the source f

[2022-05-12 16:56] xlight05 opened #4637 "[Question] Append a unique id for each resource?"
I'm new to Kustomize, been using kustomize for simple tasks to modify yamls.

So I have set of yamls but some of them contains config maps with the same name.  Therefore i get the following error
`Error: accumulating resources: accumulation err='merging resources from 'src/frontend/target/kubernetes/frontend/frontend.yaml': may not add resource with an already registered id: ~G_v1_ConfigMap|~X|con

[2022-05-13 17:03] annasong20 opened #4640 "Flaky integration tests"
**Describe the bug**

Many integration tests that `kustomize build` urls in [remoteload_test.go](https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/remoteload_test.go) are flaky. They exhibit intended behavior on my machine, but sporadically fail when run for every PR on the server.

**Files that can reproduce the issue**

We have observed the following flaky tests:
* [TestRemoteR

[2022-05-14 06:04] gaeljw commented on #3866
/remove-lifecycle rotten

[2022-05-14 06:04] gaeljw commented on #3866
/reopen

[2022-05-16 04:38] air3ijai commented on #3485
Same issue with port number and password which contains special characters. Solutions proposed in https://github.com/kubernetes-sigs/kustomize/issues/3412 doesn't work in our case.

[code]

Workaround we use:

**secrets.yml**
[code]

**result**
[code]

**container**
[code]

[2022-05-16 13:13] aabouzaid commented on #235
There should be a way to allow applying prefix/suffix to Namespace resources.
At the moment it's not possible to do that with `namePrefix/Suffix` or even `PrefixSuffixTransformer`!

[2022-05-16 16:50] cep21 commented on #4628
It's a somewhat common pattern in helm charts.  There's a `replicaCount` that has some default value, like 1.  And if you want to use a HPA for your deployment, you need to explicitly unset the replicaCount default value (by setting to `null`).

[2022-05-16 16:53] cep21 commented on #4628
I found this in the docs?

Which mentions only the src part (Is this what. you were referring too?)

Does the element of least surprise have any effect here?  It's more intuitive that everything under `spec.values.chart` is untouched since we are only merging in `spec.values.deepgram-api`

[2022-05-16 22:24] kevin-hanselman commented on #4593
This just bit me too. I know "+1" comments are frowned upon, but I think this is a serious enough bug to give this page a bump.

[2022-05-17 00:07] wibed opened #4642 "[Question] Define patches on site"
can i replace paths with the contents of the patches directly ?

this way i could compress kustomization into one single file. easier to handle, name and modify.

[2022-05-17 01:51] wibed commented on #4642
i just found this https://github.com/kubernetes-sigs/kustomize/blob/master/examples/inlinePatch.md
/close

[2022-05-17 01:51] #4642 closed

[2022-05-18 09:48] tomsucho opened #4643 "[Question] Is there a way to generate multiple rolebindings?"
Hey!
I got a service account that I want to rolebind in multiple namespaces to a cluster role. Is there any way to generate those rolebindings for each namespace through kustomize?
Many thanks!

[2022-05-18 10:00] a-nych commented on #1295
/reopen
/remove-lifecycle rotten

Reopening as this still persists in v4.5.2

[2022-05-18 10:02] a-nych commented on #1295
@monopole Could you please reopen this issue?

[2022-05-19 05:18] tringuyen-yw commented on #2294
Still happening 2022-05-19. This is quite a serious bug. Why is it closed?

[code]

[2022-05-19 06:18] mwmahlberg commented on #1028
What does not work is an actual update of an existing ConfigMap. The use case goes like this: several scripts are maintained in a git submodule and then need to be added to a ConfigMap. Since existing file references cannot be added a second time something like

[code]

with `scripts` being the submodule. So `set` should actually have the semantic of replacing an existing configMapGenerator defini

[2022-05-19 11:20] StephenPCG commented on #4463
@shay-berman You can use [Kustomize Components](https://kubectl.docs.kubernetes.io/guides/config_management/components/)

This is my case:

[code]

This is content of components/select-testing-node/kustomization.yaml
[code]

If you have 10 shared patches which need to be applied selectively, you need to create 10 folders for them. But I think this is not a big burden. Bases and Components are two

[2022-05-20 04:06] DmitriGekhtman commented on #629
The namespace transformer is still undocumented.

[2022-05-20 17:03] mwmahlberg commented on #4401
@james-callahan You sure are persistent in your efforts. +1

Some thoughts

- I guess this shows a wider problem: the divergence of the various means to deploy to k8s.
- One could argue that `kubectl` and by extension `kustomize` should be considered the canonical way and as such other tools need to adapt accordingly.
- I think, but I am not sure about it, that we have an edge case here: overridin

[2022-05-20 20:19] natasha41575 commented on #4480
How to escape the '.' is described in the docs here: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/#field-path-format

You can use '\.'.

[2022-05-20 20:19] #4480 closed

[2022-05-21 03:54] btrepp commented on #4633
Thanks @KnVerey and @olegsu

I had experimented with some of those tools, but found a few short comings with the kustomize plugins, and the k8s operators.

I ended up writing https://git.sr.ht/~btrepp/kubepassgen and a gitops plugin for argocd https://git.sr.ht/~btrepp/argo-pass-sidecar

I believe this tool keeps the kustomize spirit of 'no templates' as much alive as possible. I can use this to h

[2022-05-22 21:27] #4351 closed

[2022-05-23 02:23] rajatgupta24 commented on #4640
Hey @annasong20, I saw issue, I'm learning how to write go-tests.
Can I work on this?

[2022-05-23 02:25] annasong20 commented on #4640
@rajatgupta24 Sure, go for it!

[2022-05-23 09:48] rcmorano commented on #3815
bump

[2022-05-23 13:24] dominikjeske opened #4649 "Add labels to all resources in deployment?"
I'm trying to add labels (without selectors) to all resources created by deployment. So far I have LabelTransformer like below but last option for generatorOptions is not working. Is there any way to do this by LabelTransformer? I can add in in kustomization.yaml but I will have two "sources od truth". Maybe there is better way to get what I want?

[code]

[2022-05-24 07:47] bjw-s commented on #3913
/remove-lifecycle stale

[2022-05-24 15:07] dominikjeske opened #4651 "How to set label on secret created by ServiceAccount?"
Is there any way to set label on secret created by ServiceAccount? For now it is the only secret I'm not able to configure with label.

[code]

![image](https://user-images.githubusercontent.com/3872348/170069551-e78d2f10-4ffd-496d-93da-dec20f959e05.png)

[2022-05-24 23:26] GuyPaddock commented on #4365
/remove-lifecycle rotten

[2022-05-25 05:54] highb commented on #3816
The lack of any way of specifying APIVersions or other data that is often required by charts (and not passable via values) seriously limits the utility of the `helmGenerator` for me. Given this limitation, it seems that the better long term solution is to use `helm template` to generate the manifests required against the cluster they will be deployed to and then check them in as a new `base` for K

[2022-05-25 05:55] highb commented on #3816
/remove-lifecycle rotten

[2022-05-25 05:56] highb commented on #3816
/remove-lifecycle stale

[2022-05-25 08:52] james-callahan commented on #3816
https://github.com/mgoltzsche/khelm already exists
I suggest the current helm generator included with kustomize just gets dropped

[2022-05-25 16:36] QuinnBast commented on #4335
@remidebette Yeah, that is the entire purpose of this issue and [this issue](https://github.com/kubernetes-sigs/kustomize/issues/4381). In the linked issue I've created a binary which contains the fix although it is not officially supported.

[2022-05-25 19:11] alexmeise commented on #4559
what do we do until next release?

[2022-05-25 23:55] natasha41575 commented on #4559
There was a release done last week.

[2022-05-26 13:15] janeklb commented on #4211
/remove-lifecycle rotten

[2022-05-26 14:30] hholst80 opened #4653 "kustomize always re-configures generated secrets even though they have not changed"
Why does apply state it will "configure" the secret (not leave it untouched), even though it has not changed and the hash suffix is the same?

This creates a lot of confusion in our CI/CD pipeline.

[code]

[code]

[2022-05-26 15:19] severinraez commented on #3912
/remove-lifecycle rotten

Kubernetes Triage Robot ***@***.***> schrieb am Do., 26. Mai
2022, 16:54:

[2022-05-26 16:42] fabiohbarbosa commented on #4224
Any updates here?
I'm facing the same problem here, and I didn't figure out any workaround for that.

[2022-05-26 16:48] fabiohbarbosa commented on #641
Any updates for that?

The patch workaround works neither for `op: move` nor `op: remove`.

[code]

[code]

[2022-05-27 22:01] hholst80 commented on #136
Why is this closed? The namespace is not included for ClusterRoleBinding objects created by Kustomize (and thus, should have full visibility into that the SA was created and in what namespace)?

Note that the ClusterRoleBinding points to a SA and that has a namespace so the point that ClusterRoleBinding is a cluster object is moot.

[2022-05-28 10:11] ricardosferreira commented on #641
I'am also fighting against this issue. it's useful to run a job every time we deploy a new version and we need to generate job names randomly

this is open a long time ago...
Any deadline?

[2022-05-28 13:59] aabouzaid commented on #4347
If I get it right, all that's needed to fix this is just to change [the line no. 45](https://github.com/kubernetes-sigs/kustomize/blob/37a403fc65d417e591ee874d48081cac7986f513/api/internal/target/kusttarget.go#L47) from `pLdrCopy := *pLdr` to `pLdrCopy := pLdr`? :thinking:

In that case, it will make a full copy instead of referring to the pointer.

If not, does anyone know what exactly is needed

[2022-05-28 16:13] seh commented on #4347
It will make a _shallow_ copy. If you look at [the `loader.Loader` struct type](https://sourcegraph.com/github.com/kubernetes-sigs/kustomize@37a403fc65d417e591ee874d48081cac7986f513/-/blob/api/internal/plugins/loader/loader.go?L30-L38), you'll see that it's mostly pointers. Copying a `Loader` gives you the same pointer values, pointing at the same referenced values. Per Katrina's earlier https://g

[2022-05-28 23:32] aabouzaid commented on #4347
/assign

[2022-05-28 23:36] aabouzaid commented on #4347
@seh Thanks for your tip.
I've [fixed](https://github.com/kubernetes-sigs/kustomize/pull/4654) it by creating a new copy of `PluginConfig` with the values of `pc`.

I've tested it and it works fine now. If that approach is accepted, I will add the unit test for it.

[2022-05-29 02:00] #4339 closed

[2022-05-29 13:30] camilamacedo86 commented on #4612
Hi @natasha41575, @KnVerey,

Could you please give a hand on this one?

[2022-05-29 14:06] #4359 closed

[2022-05-30 00:06] #4305 closed

[2022-05-30 05:59] spstarr opened #4655 "[Question] When using KRM exec plugins you cannot pass OS environment variables to dynamically change values"
When you create a ConfigMapGenerator with a KRM exec plugin:

I see no way to specify that configmaps generated should have a suffix

[code]

 Were would I allow setting a prefix for these configMaps?

[2022-05-30 07:00] spstarr commented on #4291
Well, this might help with KRM exec plugins where we're using generators.

[code]

In this case, a ConfigMap generated will not have suffix hash added since we can't tell it to do so.

[2022-05-30 08:08] m3nax commented on #2294
/reopen
this is still occuring

[code]

[2022-05-30 13:48] eyalzek commented on #1430
I would say that this is not yet solved... The apiVersion should be bumped every time there's a backwards incompatible change to the kustomization syntax.

[2022-05-30 14:30] alexandre-pismo commented on #4338
The tutorial will come back?
It was a great feature, but was removed.

[2022-05-30 15:04] michael-db commented on #1493
/remove-lifecycle rotten

[2022-05-31 09:14] #4012 closed

[2022-05-31 11:47] roastedmonk commented on #2937
Same issue happening in
{Version:kustomize/v4.1.3 GitCommit:0f614e92f72f1b938a9171b964d90b197ca8fb68 BuildDate:2021-05-20T20:52:40Z GoOs:windows GoArch:amd64}

[2022-05-31 15:46] paul-bormans opened #4658 "How to properly override helmChart values using overlays?"
Consider following "base":

[code]

Then on a "develop" overlay i need to pass in additional overrides compared to the baseline (provided by the values.yml o/t chart + some defaults in the kustomized/base layer.

I know this isn't working :-)....:

[code]

I'm puzzled here how to bring in this seem to be trivial need:
- I can't provide multiple values.yml's
- I can't patch the helmCharts entry its

[2022-05-31 17:16] HariSekhon commented on #4420
Not supporting symlinks has been a hindrance for quite a long time... and it's still the case on the very latest version of kustomize v.4.5.5.

Symlinks are a core part of unix administration, use cases include:

- testing different adjacent versions of `kustomization.yaml` by replacing symlinks
- a repo full of different kustomizations that I would like to just symlink to a working directory and

[2022-05-31 17:35] HariSekhon opened #4659 "Support alternative filename path for kustomization.yaml, not just a directory"
**Is your feature request related to a problem? Please describe.**

Kustomize should accept a filename path as an argument, not just a directory path, to allow using alternate adjacent kustomization.yaml files.

**Describe the solution you'd like**

Kustomize could check the argument for being a filename and then cd to its directory before evaluating it.

This change could be backwards compatible

[2022-05-31 20:39] SleepyBrett commented on #3205
Better to say 'People still want globbing!'

Your best practices are not everyone's best practices.

[2022-06-01 07:53] dorianmariefr commented on #3609
/reopen

I'm experiencing this with `Error: multiple matches for Id HorizontalPodAutoscaler.v2beta2.autoscaling/...`

[2022-06-01 08:04] dorianmariefr opened #4660 "Error: multiple matches for Id HorizontalPodAutoscaler.v2beta2.autoscaling/...."
Hi,

I'm very very new to the kubernetes world and just trying to upgrade dependencies

We were using `3.9.2` and I tried `4.5.5` and got this error.

**Describe the bug**

My build is failing to build the docker image I guess.

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expected output**

It builds the image without any issue like it used to.

**Actual output**

[code]

[2022-06-01 20:18] chrisduong commented on #4219
/remove-lifecycle stale

[2022-06-01 20:30] KnVerey commented on #4090
/remove-lifecycle stale

[2022-06-02 00:45] MaurGi commented on #2734
please reactivate this -

currently reproing:

When trying to change a variable in a deployment from :
[code]

to:

[code]

if you try to `kustomize build | kubectl apply` you get the error:

`spec.template.spec.containers[0].env[0].valueFrom: Invalid value: "": may not be specified when `value` is not empty`

the only way to make that patch work is to have:

[code]

but of course `configMapKeyRef

[2022-06-02 06:11] afirth commented on #2734
@MaurGi
Values defined in `env` override `envFrom`, and inside either the last defined takes precedence. So in your case you can just add another key below it.
[code]

Note this is for the final pod spec, I'm not sure how strategic merge patch will cope. But for example a json6902 add on the end (`-`) should work

[2022-06-02 20:49] sbathgate commented on #4622
Just for reference, this is a blocker for my team as we enforce ssh on a specific port within our orgs self managed GitLab.

[2022-06-03 01:35] jeacott1 commented on #4512
I've been doing this with a kustomize var - in this case called JOB_VERSION

metadata:
  name: mycustomisablename-$(JOB_VERSION)

works great and is a solid usecase for keeping vars imo. for me its a great way to modify the name of a job based on the version of the container its running. avoids the problem of having to delete old jobs when running new versions and maintains DRY config.

[2022-06-03 02:07] jeacott1 opened #4662 "Ability to template resource urls"
**Is your feature request related to a problem? Please describe.**

I have a remote base config intended to be used as a base for new work (ie it doesn't include a set of ready to run overlays in the remote repo), with several optional components.
The remote usage requires context and hence multiple urls in multiple files that end up looking a bit like

[code]

this is painful to manage. I need to

[2022-06-03 07:52] janquijano commented on #3205
please bring back globbing

[2022-06-03 07:54] lallinger-arbeit commented on #3902
/remove-lifecycle stale

[2022-06-03 09:55] hallelujah commented on #3935
/reopen

[2022-06-04 00:05] annasong20 commented on #4622
FYI, I don't know why, but the https port sub-test asks the user to enter their username and password. The result is the same regardless of whether the user enters their credentials. However, if the user does, the sub-test takes about 1/2 the time to run.

[2022-06-05 20:43] brahama commented on #4593
Same happening.

[code]

Helm chart redis from Bitnami.

How to bypass it with kustomize? Basically the replicas fail as they try to connect to master in default namespace instead.

[code]

Cheers

[2022-06-05 21:58] #4358 closed

[2022-06-05 22:08] vvatlin commented on #3848
What's the point to automatically close unresolved issues ?

[2022-06-05 22:10] vvatlin commented on #3848
/reopen

[2022-06-06 01:01] #3762 closed

[2022-06-06 19:27] larsks opened #4665 "[Question] Missing tagged container image for v4.5.5?"
Kustomize 4.5.5 was released several days ago, but the corresponding tag doesn't exist on the image repository:

[code]

I assumed these tags were generated automatically as part of the release workflow; is something broken?

[2022-06-06 22:49] annasong20 commented on #4620
#4664 accomplishes this

[2022-06-06 23:47] annasong20 commented on #4090
@KnVerey suggests adding diff functionality: https://github.com/kubernetes-sigs/kustomize/pull/4590#discussion_r873197339

[2022-06-07 09:43] pietervincken commented on #4481
/remove-lifecycle stale

Hit us today. This hurts our automation and made us revert to YQ instead (which is far from ideal)

[2022-06-07 11:39] zelphir commented on #4428
any update on this one? Thanks

[2022-06-08 13:48] a7i commented on #3831
/remove-lifecycle rotten
/reopen
/assign

[2022-06-08 16:06] KnVerey commented on #4665
It should now be available since https://github.com/kubernetes/k8s.io/pull/3788 has merged

[2022-06-08 16:06] #4665 closed

[2022-06-08 16:17] natasha41575 commented on #4660
Would you be able to provide a complete, minimal set of files that can reproduce the issue? It's not possible to diagnose the issue with just the kustomization.yaml file.

I have a suspicion that this is happening due to a bug fix with how we track name references.

[2022-06-08 16:22] KnVerey commented on #4659
/triage needs-information

We are very hesitant to support alternate filenames due to the increased complexity it would add to Kustomize's model. Kustomize is indeed quite opinionated about the file structures it expects, as part of its core design. Could you please provide more information on why the standard structure with a series of encapsulated bases that can be reused does not work for you,

[2022-06-08 16:34] KnVerey commented on #4658
To do this, you would currently need to use the "transformed transformers" technique: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/#transformed-transformers

This is not particularly elegant, and we have a new Kustomize kind called "Composition" that is intended to improve workflows like these. You can read more about it in this KEP: https://github.com/kubernetes/enhanceme

[2022-06-08 16:34] #4658 closed

[2022-06-08 16:41] KnVerey commented on #4655
We have [an example](https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/plugin/someteam.example.com/v1/bashedconfigmap/BashedConfigMap#L12) showing that adding the `kustomize.config.k8s.io/needs-hash: "true"` to the resource will cause Kustomize to add the suffix, but it seems to be under-tested in our code. Can you please give that a try?

Can you please al

[2022-06-08 16:44] KnVerey commented on #4653
That message is generated by kubectl not kustomize. I think this may be the same issue you're reporting: https://github.com/kubernetes/kubernetes/issues/66450

/close

[2022-06-08 16:44] #4653 closed

[2022-06-08 16:46] KnVerey commented on #4651
It is possible to imperatively label resources using kubectl: https://kubectl.docs.kubernetes.io/references/kubectl/label/

That said, this issue is not related to Kustomize, since the resource in question is not generated by it and Kustomize is client-side-only.

/close

[2022-06-08 16:46] #4651 closed, assigned to nobody

[2022-06-08 16:50] spstarr commented on #4655
Absolutely, I will test this today

[2022-06-08 16:51] KnVerey commented on #4649
You're right, it is not possible to use the LabelTransformer to target the Kustomization itself. Could you please provide more info on why you need the generator to also add the labels? Since LabelTransformer runs after generators, I would expect all the generated resources to get the labels in question automatically.

/triage needs-information

[2022-06-08 17:08] spstarr commented on #4655
I hope that explains what I'm looking to do, but your help @KnVerey is great for the annotation that will solve one problem!

[2022-06-08 17:11] dominikjeske commented on #4649
I need a place to set label on all resources in one place - for now LabelTransformer covers most of them but resources generated by "generatorOptions" can be defined only in kustomization.yaml so when I'm setting label 'app.kubernetes.io/version' I have to set it in two files. As far as why I need generator to set labels - it is simple, I need to know the version of app/deployment that generated g

[2022-06-08 17:39] KnVerey commented on #4637
There are at least two ways you can do this:
- Use [ConfigMapGenerator](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/configmapgenerator/), which appends a hash suffix to each configmap. This would require you to start with unique names that will automatically be updated with the generated hash, including in the Deployment references.
- If you really can't change the source

[2022-06-08 17:39] #4637 closed

[2022-06-08 17:41] KnVerey commented on #4618
Closing as duplicate of https://github.com/kubernetes-sigs/kustomize/issues/4612
/close

[2022-06-08 17:41] #4618 closed

[2022-06-08 18:01] KnVerey commented on #4643
It is admittedly a bit verbose, but this is possible using [Component](https://kubectl.docs.kubernetes.io/guides/config_management/components/). E.g.:

[code]

If having a Kustomization per namespace like that does not suit your workflow, I suggest looking into building a custom generator for your use case: https://kubectl.docs.kubernetes.io/guides/extending_kustomize/

/kind support
/close
Feel f

[2022-06-08 18:02] #4643 closed

[2022-06-08 18:48] annasong20 opened #4671 "Code struct for each kustomization field"
**Status:** This is a draft feature request. I will update it as I further my understanding of the codebase.

**Is your feature request related to a problem? Please describe.**
@KnVerey first suggested this change in https://github.com/kubernetes-sigs/kustomize/pull/4590#discussion_r869710564.

Essentially, every time kustomize looks for a specific behavior in its fields, each field requires its o

[2022-06-08 19:22] annasong20 commented on #4420
Until `kustomize build` behavior is changed, [`kustomize localize`](https://github.com/kubernetes-sigs/kustomize/blob/master/proposals/22-04-localize-command.md) will follow the `kustomize build` standard and not accept files that are symlinks to locations outside the kustomization root.

[2022-06-08 21:34] bgrant0607 commented on #3980
Another reason localize may be useful: Remote bases may not work in some embedded uses of kustomize due to the git requirement:
https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/gitrunner.go#L25

[2022-06-08 22:50] annasong20 opened #4672 "`kustomize localize` repetitive base"
**Describe the bug**
According to the way [`kustomize localize`](https://github.com/kubernetes-sigs/kustomize/blob/master/proposals/22-04-localize-command.md) is currently designed, multiple overlays that reference the same remote base will produce multiple copies of said base, which is against kustomize design principles.

**Files that can reproduce the issue**
Say we have the setup below:
[code]

[2022-06-09 03:49] thatsmydoing commented on #4454
It seems tests have been added in https://github.com/kubernetes-sigs/kustomize/pull/4615

[2022-06-09 04:21] #4273 closed

[2022-06-09 04:57] Abhishekvrt commented on #4292
/assign

[2022-06-09 11:41] HariSekhon commented on #4659
It's common to have alternative versions of files for testing and debugging issues - and is commonly supported by most major tools - even ones with very standard opinionated filenames such as Dockerfile, Jenkinsfile, Makefile etc... all allow for specifying alternative filenames.

Apps can also have more than 1 deployment style (eg. Selenium Grid has hub/router-based model in one kustomization, an

[2022-06-09 15:55] jberger commented on #4593
To the future reader, the only mechanism that functions is to use the generator file usage, which is woefully under-documented anyway, then use the file as constituted here in this test https://github.com/kubernetes-sigs/kustomize/blob/1c5393216672c87d5bd553ba255d8dd3044bbf0c/plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator_test.go#L24-L31

Create that as a separate file (say

[2022-06-09 16:16] Aypahyo opened #4673 "kusomize.yaml preprocessing using environment"
**Is your feature request related to a problem? Please describe.**

The common CI CD problem of using a hash value for container image tags creates the situation on all ci cd solutions where the used tag is available in the environemnt and needs to be processed by kustomize in very simple use cases where only an image needs a tag replacement. Instead of allowing the built in replacement feature to

[2022-06-09 18:03] brahama commented on #4593
Yes. Documentation on K8s is especially hard to follow. I removed this generator in favor of `helmCharts:` that i find it somewhere in an issue like this.. and also did not find too much docs..

[2022-06-09 18:28] natasha41575 commented on #4673
Thank you for filing the issue.

Environment variables have limited support because they are (a) templating and (b) not reproducible, which are two of kustomize's founding design principles. Replacements is the intended solution for use cases such as yours, so it would be helpful if you could elaborate on why it doesn't work for you, and if there are any suggestions you have that align more with k

[2022-06-09 21:09] jberger commented on #4593
I also suspect (but cannot prove, because I don't have a local testing mechanism) that they could fix at least the documented releaseNamespace issue by simply adding one line here https://github.com/kubernetes-sigs/kustomize/blob/1c5393216672c87d5bd553ba255d8dd3044bbf0c/api/types/helmchartargs.go#L120

[code]

[2022-06-10 09:01] Abhishekvrt commented on #4292
Hay, I'm studying about Golang at this moment, and please tell me!! What are other things to study before doing changes.
I will study every important thing. After that,  hope so, I will be ready to understand this codebase.
@natasha41575 help please

[2022-06-10 13:39] drenze-athene opened #4674 "[Question] `ConfigMapGenerator` not adding the hash to `ConfigMap` name in custom resource"
I'm attempting to use a `ConfigMapGenerator` with a custom resource, however it's not working as expected; it doesn't add the hash to the name of the `ConfigMap`.

According to [the documentation][docs], this should be possible:

The minimum necessary to reproduce the issue is:

[code]

Then execute: `kustomize build $DEMO_HOME`

Expected output is:

[code]

Actual output is:

[code]

This also ha

[2022-06-10 19:22] KnVerey commented on #4662
We discussed this at this week's bug scrub, and three points came up with with enhancing support for the setup described:
- We won't be able to accept any features that involve templating, as being template-free is a core part of what makes Kustomize, Kustomize: `kustomize lets you customize raw, template-free YAML files for multiple purposes, leaving the original YAML untouched and usable as is.`

[2022-06-10 20:27] shapirus commented on #4569
Chiming in with my tests :)

Version 4.5.5 has much better performance than some older versions mentioned in previous tickets on this matter (5-7 times the speed, I would say, compared to versions around 3.9.4 or so), but it's still two times slower than 3.5.4. I've run a quick comparison on our manifests directory, containing a total of 460 kustomization.yaml files:

[code]

Just like before, it

[2022-06-10 21:33] KnVerey commented on #4649
Can you provide the Kustomization you're using? The LabelTranformer should cover all resources from any generator field (including `configMapGenerator` and `secretGenerator`, which are what `generatorOptions` configures), and indeed my testing indicates it is working:

[code]

[code]

[2022-06-11 09:12] hholst80 commented on #4653
The message is generated by kubernetes itself because the asset generated is as far as kubernetes is concerned - changed - not the same - as the one previously generated. I strongly suspect the base64 encoding is at fault here.

[2022-06-11 18:49] #4287 closed

[2022-06-12 00:49] KnVerey commented on #4653
If you read the linked issue closely, you will see that what you're describing affects many resource types, and is not associated with resources generated by Kustomize in particular. Kustomize's test suite has many character-sensitive tests that would fail if the output changed from one build to the next. If you have a sample that can reproduce different output being generated by Kustomize, that i

[2022-06-12 02:23] jeacott1 commented on #4662
@KnVerey thanks for the update.
I think there might be some scope with the general resource notion I proposed that could accommodate both cases. Run as it is locally and as a remote ref sans templating. The existing url approach does not accommodate both cases without touching many files.

I am also using the vars feature atm for various purposes in my kustomize, and am sad to see the direction ku

[2022-06-13 11:19] hholst80 commented on #4653
[code]

[code]

[2022-06-13 15:33] KnVerey commented on #4653
Can you please provide one complete sample (Kustomization and all files required to build it) of the Kustomize side only, showing that Kustomize itself is producing different output between builds? Given the known issue I linked, please do not involve kubectl in the reproduction case.

[2022-06-13 17:14] dominikjeske commented on #4649
My config:

[code]

and component for label transformer

[code]

I'm using this component in base and given kustomization. After this I have:

![image](https://user-images.githubusercontent.com/3872348/173408339-7b281782-4b90-4a3f-aebd-fd1766c794da.png)

when I uncomment generatorOptions I have

![image](https://user-images.githubusercontent.com/3872348/173408516-38a3cae5-ade7-48e3-b3b1-4a93ac0a2a

[2022-06-13 17:28] KnVerey commented on #4649
Ah, the problem is the use of the label transformer in the components field. That field is like `resources`, in that it fully processes the `kind: Component` resource it references and adds the results to the resources list. So if you have a component that contains only transformers and no resources, it will not do anything (and if the Component does have resources, only those resources will be la

[2022-06-13 18:29] natasha41575 commented on #4653
What @KnVerey is trying to say is that `kubectl apply -k` is a shortcut for doing `kustomize build | kubectl apply -f`. To verify this issue, we need to know the contents of your `kustomization.yaml` file, and the contents of any files that `kustomization.yaml` references. If running `kustomize build` repeatedly on these files produces different output from one build to the next, then we have a bu

[2022-06-13 18:33] hholst80 commented on #4653
It is here, I am sure you can find it. Stalebot has not even started polluting this issue with noise. ;-)

[2022-06-13 19:04] #4225 closed

[2022-06-13 19:18] natasha41575 commented on #4653
@hholst80 Yes, I saw that already and using the kustomization.yaml you've provided and the `config.json` script you've provided, I'm not able to produce different output when running `kustomize build` multiple times on the same output. Again, if you have an example that can demonstrate the issue on the _kustomize_ side, please share, otherwise we can end the discussion here.

[2022-06-13 19:33] gaeljw commented on #4674
Wouldn't this need the `HashTransformer` as well? (Just an idea)

[2022-06-13 20:52] drenze-athene commented on #4674
Not a clue, but I'll certainly look at it.

[2022-06-13 22:14] spstarr commented on #4655
@KnVerey Yes, `kustomize.config.k8s.io/needs-hash: "true"` worked, and I also removed the sed ugliness, a LabelTransformer plugin I wrote can parse Kustomize's own resources:

[code]

Results:

[code]

The hash is now there and the custom labels are now dynamically added from shell env.

Closing.

If anyone wants to know how to get Kustomize to add dynamic labels from generated:

First have a gene

[2022-06-13 23:52] thang-tran11 opened #4676 "[Question] helmChartInflationGenerator doesn't generate new chart when changing chartVersion"
I'm using helmChartInflationGenerator to generate the manifest via helm-chart.
I have changed chartVersion but my workload doesn't change anything?
I must remove the folder chart!!!

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmChartInflationGenerator:
  - chartName: spinnaker
    chartRepoUrl: https://helmcharts.opsmx.com/
    chartVersion: 2.2.6 ->change 2.2.7
    release

[2022-06-14 08:27] Aypahyo commented on #4673
Thanks.
Replacements are an over elaborated solution that is too cumbersome to be useful for environment variables. In order to sneak in the environment there are several hoops to jump through and files to create for something that should be as simple as adding a sort of annotation to a label. To get an environment variable in one has to exploit a fall through in config maps so that config map pul

[2022-06-14 09:15] rdxmb commented on #3756
/remove-lifecycle stale

[2022-06-14 09:17] rdxmb commented on #3756
/remove-lifecycle rotten

[2022-06-14 16:08] drenze-athene commented on #4674
Not at all sure how I missed this as I was looking for a solution. Thx!

[2022-06-14 17:27] spstarr commented on #4655
@KnVerey the legacy seems to let me pass environment variables to it directly, the KRM function doesn't

[2022-06-14 18:59] KnVerey commented on #4655
Ah, I see. Are `COMPONENT_NAME=tekton-demo COMPONENT_BUILD=develop DEPLOYMENT_COLOR=blue1` the real environment variables in question? If so, may I ask why these differences aren't handled via overlays instead of dynamic injection? The reason I'm asking is that the further constraints on KRM Functions are deliberate, to guide extensions to abide by the principles on which Kustomize itself is built

[2022-06-14 19:18] drenze-athene commented on #4674
Just in the interest of showing the solution, in case someone stumbles across this issue in the future, here is the `nameReference.yaml` I used:

[code]

and here are the additions to `kustomization.yaml`:

[code]

As @woffiss noted, #2524 does is a good explanation of how to resolve this issue.

[2022-06-14 19:58] spstarr commented on #4655
Correct, those are shell environment variables being passed to kustomize at deployment time, the labels/selectors are all mapped so we can ensure we have each K8s resource accounted for.

Overlays can't dynamically set blue/green when the overlay say for dev is the same for blue/green except the label, docker image being deployed in this case.

In the deployment pipeline im building Reproducible b

[2022-06-14 20:12] spstarr commented on #4655
@KnVerey I'd definitely like to discuss more if you are on Slack/IRC etc and can go into more detail.

[2022-06-14 23:29] bwinter opened #4678 "Build error after upgrading from kustomize 4.5.4 to 4.5.5"
**Describe the bug**

I am running the following command:
[code]
It fails almost immediately with:
[code]

I think the important thing to note is this works:
[code]

Same command but kustomize patch version changed.

**Expected output**

I expect it to build the full yaml output for the csi driver.

**Actual output**

**Kustomize version**

Can see these in the docker run command parameters.

**Pl

[2022-06-15 12:28] Gikkman opened #4679 "kustomize edit add replacement"
**Is your feature request related to a problem? Please describe.**
We got some scripts which generates a replacement file , and would like to automatically add the replacement file to the `kustomization.yaml` file. _(I patch in a init container, and then we want that init container to have the same image as a main container. I know, it's hacky, but I am testing some PoCs)_ Similarly to how we can

[2022-06-15 21:31] defaultbr opened #4680 "[Question] Multiples repositories using same base (remote)"
Hi guys, I'm coming from helm, so I'm used to values.yaml.

I've tested `kustomize` and I found some know limitations or decisions to not support some features or some doubts,

I already know (I guess) the difference between using helm and kustomize. When I decided to switch from helm to kustomize I was looking to bring to developers less abstractions about the infra and give them some power to de

[2022-06-16 15:13] spstarr commented on #4655
For blue-green:

Tekton runs our Kustomize deployment task:

[code]
[code]

[2022-06-16 15:20] ChristianCiach commented on #4676
Duplicate of https://github.com/kubernetes-sigs/kustomize/issues/3848

Just another example for why autoclosing stale issues suck.

[2022-06-16 16:31] wgj commented on #3265
Well, why the heck not? ;) This seems like an obvious usecase for Kustomize; Yaml in, yaml out. Apologies for trivializing the work y'all are doing, but saying no to merging arrays seems like a weird stance to take on a program that is so opinionated on merging yaml.

Additionally, it's discouraging to be told "make a plugin" when they're so alpha that even the link is broken.

[2022-06-16 21:32] spstarr commented on #4655
I hope the legacy plugin method will not be removed, because there are things that cannot be done with the KRM plugins currently.

As another example, I need to dynamically set blue-green on configMaps so that pods can reach DNS entries (based on the service name):

[code]

[2022-06-17 05:18] wibed opened #4681 "[Question]HTTP Wrapper API"
Is there a http wrapper api in planning, or around?

[2022-06-17 06:19] jceb commented on #4469
/remove-lifecycle rotten

[2022-06-17 16:36] pjastrzabek commented on #4596
There is really no easy and reliable way of removing elements from the list with kustomize.
What I ended up doing was patching via index
[code]

which cause problems as soon as upstream project will reorder elements.

What would be usefull is to support field expressions in delete patches
/spec/groups/.[name=kubernetes-system-controller-manager]

[2022-06-18 18:55] #4275 closed

[2022-06-19 16:07] #4408 closed

[2022-06-20 11:19] rishabh625 opened #4682 "NameReference Transformer doesn't work with annotations."
The NameReference Transformer used on annotations doesn't work, Bcoz of the refBy field being added in annotations by this [PR](https://github.com/kubernetes-sigs/kustomize/pull/4002)

some how when it moves up kustomization stack and when refBy field needs to be deleted from Resource Node it also removes  referred annotations and thus transform doesn't apply on annotations.

**Files that can repr

[2022-06-20 11:20] rishabh625 commented on #4682
@natasha41575 @KnVerey requires your atention

[2022-06-20 15:46] arnav3000 commented on #3193
@Shell32-Natsu - If I want to see the "enabled" builtin plugins for Kustomize, is there a command for same ?

[2022-06-20 16:35] jketcham commented on #1301
/remove-lifecycle stale

[2022-06-20 23:22] #4394 closed

[2022-06-20 23:22] #4412 closed

[2022-06-22 10:36] #3815 closed

[2022-06-22 14:02] NickLarsenNZ commented on #2645
Is there a way to append a hash to a ConfigMap in a base that wasn't generated by the configMapGenerator (or was, but with `disableNameSuffixHash: true` set)?

[2022-06-22 17:56] natasha41575 commented on #4475
/remove-lifecycle stale

[2022-06-23 08:59] St0rmingBr4in opened #4685 "Configure jsonpatch ApplyOptions"
# Problem

JSONpatch does not support adding a value if it does not exist already. In fact the [spec](https://datatracker.ietf.org/doc/html/rfc6902) says that `A member to add to an existing object - whereupon the supplied value is added to that object at the indicated location.  If the member already exists, it is replaced by the specified value.`

It is expected to first use the test operation t

[2022-06-24 01:22] jketcham commented on #3877
/remove-lifecycle stale

[2022-06-24 06:18] jeacott1 commented on #903
this is already possible based on a kustomize var. (its very unfortunate these are going away)
works great for auto altering job names based on db schema patch/migration versions etc.

[code]

[2022-06-24 17:34] ciis0 opened #4687 "Change (matching) image registries"
**Is your feature request related to a problem? Please describe.**

We distribute a application containing a number of images and we would like to allow to easily change the registry the images come from, so there is no external dependency on the distribution registry.

It is quite frustrating to have clean kustomization but then have to revert to template-based search-and-replace transformer conf

[2022-06-24 17:40] criztovyl commented on #4687
Cross-reference https://github.com/argoproj/argo-cd/issues/5553#issuecomment-1045143100 RE running containerized krm functions in kubernetes.

[2022-06-26 08:50] dominikjeske commented on #4649
Thanks for info.

[2022-06-26 08:50] #4649 closed

[2022-06-27 03:14] Chever-John opened #4688 "[Question] Possible problematic commands"
Command `mv -t` in this [`.md` file](https://github.com/kubernetes-sigs/kustomize/blob/master/site/content/en/docs/Getting%20started/first_kustomization.md#:~:text=mv%20%2Dt%20base%20deployment.yaml%20kustomization.yaml%20service.yaml) does not work.

I think it is the wrong command after searching the manuals with the command `man mv`.

Maybe we should change it from `mv -t base deployment.yaml k

[2022-06-27 03:15] Chever-John commented on #4688
It is my pleasure to fix this typo error, if possible.

[2022-06-27 08:19] jeacott1 opened #4690 "kustomize requests git credentials for every remote url. can kustomize be smarter please."
If I have 5 remote bases listed in a kustomize config (for example), then kustomize will request git credentials 5 times on the command line, once for every url in the config, even if all the urls point to the same remote repo.

Could we at least cache the answers to the kustomize prompts where the repo doesnt change?

Could we also have a means to provide a list of user/pass (or perhaps a list of

[2022-06-27 10:08] SaiKumarMadugula97 opened #4691 "Kustomization.yaml "namePrefix" issue"
We have an issue with one thing in our GitOps structure and I am kindly asking you to please help on this.

In the overlays/deploy/kustomization.yaml we define the a resource and secretGenerator.
In that resource directory there is a kustomization.yaml and service-account.yaml for creating/adjusting the “default” service account and adding the former created “container-registry-onprem” secret as i

[2022-06-27 20:34] peterghaddad commented on #4295
I am also experiencing the same issue.

[2022-06-28 08:08] paulo-dc commented on #2564
Hello,

I'm using kustomize 4.5.5, and still face the same issue. Do you plan to support knative in kustomize, or not ? Thanks :)

[2022-06-29 04:28] elisshafer opened #4693 "Allow disabling of suffix hashes on merged ConfigMaps generated from ConfigMapGenerators"
**Is your feature request related to a problem? Please describe.**

Say there is some shared out of scope ConfigMapGenerator that is composed into a given cluster's configuration multiple times through multiple apps' ConfigMapGenerators merging into the shared ConfigMapGenerator in various commands to `kustomize build` and we'd like some ConfigMaps to have a suffix hash at the end of the name, and

[2022-06-29 15:08] MyIgel commented on #4338
/remove-lifecycle rotten

[2022-06-29 15:18] saviogl commented on #4052
@814HiManny Any solutions for this? Did this just get closed and that's it?

[2022-06-29 15:36] saviogl commented on #4052
/reopen

[2022-06-30 12:15] #3988 closed

[2022-06-30 12:43] willww64 commented on #3883
This is a clear bug, I think we should /reopen it. Needs someone with the image repo permissions to make the images public. We want to contribute, but we don't have permission.

[2022-06-30 20:21] #4390 closed

[2022-06-30 21:24] perenesenko commented on #4613
I'm facing issues when trying to patch different resources at a time: rollout, services, etc.

Once I specified the `openapi.path` field to the rollout schema the other components (services) are not merging as expected anymore.
Feeling like there is some _built-in_ schema exists if no `openapi.path` field is provided. But once you provide your custom one then the _build-in_ schema is not respected

[2022-07-01 04:02] abstractalchemist opened #4695 "Kustomize does not replace generated secrets with hashed-suffixed name"
**Describe the bug**

When using a secretgenerator, kustomize does not replace the generated secret name referenced by other resources.

Given the following kustomization.yaml
[code]
and the following deploy.yaml
[code]

Kustomize does not replace the secret name with the generated secret name.
**Files that can reproduce the issue**

**Expected output**

Expected output
[code]

**Actual output**

[2022-07-01 04:12] abstractalchemist commented on #4695
Don't know if this helps, but this is very strange to me as well.  Given a kustomization
[code]

The output is
[code]

So the deployment as specified by deployment.yaml
[code]
in the kustomization yaml is generated incorrectly, but the deployment specified by tests/deployment.yaml
[code]

seems to generate ok.

[2022-07-01 04:17] #4695 closed

[2022-07-01 04:18] abstractalchemist commented on #4695
Sorry, there was a syntax error I didn't spot until looking closer.  Closing issue after testing it works as expected

[2022-07-01 06:13] Yufeireal opened #4696 "install script currently parse "aarch64" to "amd64""
When I was building Docker image based on Ubuntu(arm64):20.04 image. This part of code will assgin $arch to "amd64".. This script will pretend my machine arch as amd64 and then execute some files that can only be executed in amd64 architecture, of course, throw some errors.. Though the script commented only support arch: amd64, arm64... But I think arm64 and aarch64 are pretty the same thing? Can

[2022-07-01 22:15] mdrakiburrahman commented on #641
Running into this if a `job` contains `metadata.generateName`, nothing to do with Argo:

[code]

Error:
[code]

Workaround:
[code]

^Kustomize works fine.

Demo is pulled from Argo's [sync-waves](https://github.com/argoproj/argocd-example-apps/blob/master/sync-waves/manifests.yaml) as it depends on `generateName` to run Hook jobs.

[2022-07-02 19:14] yanniszark commented on #641
Perhaps a good way for kustomize to deal with `generateName` seemlessly would be to:
1. Detect `generateName` and assign the object a random name with the given `generateName` prefix, but note that it did (for example, it could save some special annotation on the object).
2. Deal with the object as with all others.
3. Before returning the output, do a final pass and remove the name from all resour

[2022-07-02 21:44] #4436 closed

[2022-07-03 22:43] Arabus commented on #4380
/remove-lifecycle rotten

[2022-07-04 17:55] #4296 closed

[2022-07-04 18:46] koba1t commented on #4517
/remove-lifecycle stale

[2022-07-04 19:12] nice-pink opened #4697 "Replacement file from different folder"
**Is your feature request related to a problem? Please describe.**

I have multiple web apps which all use the same base and basically just change the name of the deployment, service, mapping, etc. This is a wonderful situation for replacements I thought. So I just need to patch the name of the deployment and use it as source for all replacements. So I avoid all the patches in the kustomization.ya

[2022-07-04 20:41] KnVerey commented on #4495
In @cten case, I think the issue has to do with the fact that the example targets a list in a CRD type for which no [openapi schema](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/) is provided. By default, lists are atomically replaced, not merged. So, in the absence of a schema indicating otherwise, Kustomize will replace the entire `groups` list, regardless of wha

[2022-07-04 20:46] KnVerey commented on #4495
In @agreedSkiing case, the problem is that the directive is attempting to target an entire resource/document instead of a field/element. That is not supported, nor is resource removal in general--see our [Eschewed Features](https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#removal-directives).

[2022-07-04 21:31] KnVerey commented on #4348
/remove-lifecycle rotten

[2022-07-05 17:05] KnVerey commented on #3973
/remove-lifecycle rotten

[2022-07-05 17:22] KnVerey commented on #641
That's definitely an interesting idea. A few complications come to mind:
1. Resources can be added from several different sources, and each entrypoint would need to handle the conversion (probably doable)
2. Name references can't work with generateName (we don't have the real name, and we can't possibly get it), but with this solution, Kustomize's transformers would do incorrect and potentially co

[2022-07-05 17:32] KnVerey commented on #4399
/remove-lifecycle stale

[2022-07-05 17:50] KnVerey commented on #3951
/remove-lifecycle stale

[2022-07-05 23:14] chemikadze commented on #4691
Just a drive-by: it seems like it's possible to reverse this renaming by using json patch, for example:

[code]

Jsonpatch built-in transformer runs after prefix/suffix transformer, and should be able to revert prefixing behavior. Maybe there are other ways to do it, but not sure about that.

[2022-07-05 23:28] #4492 closed

[2022-07-06 13:33] fhivemind commented on #1444
Can't believe this is still not resolved 😸

[2022-07-06 16:14] natasha41575 commented on #4295
/retitle Improve private repository authentication handling strategy for remote URLs

[2022-07-06 16:23] natasha41575 commented on #4301
/assign @KnVerey
/remove-lifecycle rotten

[2022-07-06 16:27] natasha41575 commented on #4309
/assign

[2022-07-06 16:30] natasha41575 commented on #4335
/assign

[2022-07-06 16:46] natasha41575 commented on #4375
/triage accepted
/remove-lifecycle rotten

[2022-07-06 16:46] laxmikantbpandhare commented on #4375
/assign

[2022-07-06 16:56] natasha41575 commented on #4379
/triage accepted
/retitle patches should throw error on missing targets

We discussed this during the bug scrub, and have arrived at the decision that `patches`, `patchesStrategicMerge`, and `patchesJson6902` should all throw an error in the case of a missing target rather than silently doing nothing.

[2022-07-06 16:59] KnVerey commented on #4375
To preserve a given field, you need to use the wildcard to tell Kustomize you want to keep it. So in your case, try `kustomize edit set image "my-image=private-registry.com/my-image:*"`.

From the `kustomize edit set image` help:

[code]

/remove-triage accepted
/triage not-an-issue

[2022-07-06 18:16] KnVerey commented on #4690
Kustomize does not specifically support private repo authentication, though the simple cases work as a side-effect of the remote base implementation. We are open to considering this if someone wants to contribute it, and the first step would be a proposal for how the feature would work holistically. We're tracking that feature request in https://github.com/kubernetes-sigs/kustomize/issues/4295. Cl

[2022-07-06 22:31] KnVerey commented on #4688
Fixed by https://github.com/kubernetes-sigs/kustomize/pull/4689
/close
/triage accepted
/kind documentation

[2022-07-06 22:31] #4688 closed

[2022-07-06 23:46] laxmikantbpandhare commented on #4379
/assign

[2022-07-07 00:21] KnVerey commented on #4374
/triage accepted
/remove-lifecycle stale

I confirmed that this affects the most recent version of Kustomize and dug into the cause. Unfortunately, the problem is coming from go-yaml rather than Kustomize code. Root cause is https://github.com/go-yaml/yaml/issues/773 and may be related to https://github.com/go-yaml/yaml/commit/a56cad2b2da93a272f35de368eb58e5281208530. The problem can be trivially

[2022-07-07 00:30] #4602 closed

[2022-07-07 00:36] KnVerey commented on #586
This issue is tracking the same feature as https://github.com/kubernetes-sigs/kustomize/issues/641. Closing this one track in a single place.

/triage duplicate
/close

[2022-07-07 03:26] jeacott1 commented on #4295
@natasha41575

I consider this 'feature' is absolutely key to kustomize being useful. In the same way large chunks of remote configuration can be linked in terraform, and for exactly the same usecases, in my mind this should not be a low priority.
I did make a suggestion on how it 'could' work in #4690 but really kustomize needs a broader plan on this aspect generally.

[2022-07-07 04:57] yuwenma commented on #4365
@natasha41575 The auth-tls-secret requires partial namespace update, I'm afraid that's not what namespace transformer can support ?  related to https://github.com/kubernetes-sigs/kustomize/pull/4457

[2022-07-07 06:36] harry1064 commented on #4696
Hi @Yufeireal
Can you provide more detail like which command is giving you error?

[2022-07-07 15:38] #4556 closed

[2022-07-07 15:38] KnVerey commented on #4498
/remove-lifecycle stale

[2022-07-07 15:45] dani-santos-code commented on #4498
/assign

[2022-07-07 18:42] jmmclean commented on #4335
@natasha41575 it looks like the code specifically for this is here - https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator.go#L235-L238

I wish i had more Golang expertise to properly contribute, but is there a way we can make the `--repo` flag optional if `repo/chartname` is supplied for the name? I believe this would satis

[2022-07-08 07:09] bomc opened #4701 "Migration from vars to replacements"
I use Kustomize and would like to migrate to Replacements. I use vars for replacing variables in simple yaml files or in parts of bash scripts. It works as expected. An example is given below. The simple my-config.yaml is after building the part of the ConfigMap and the variable was replaced.

**kustomization.yaml**
[code]

**my-config.yaml** is after build part of the configMap and '$(MY_VARIABLE

[2022-07-08 22:34] #4456 closed

[2022-07-09 02:22] KnVerey commented on #4682
/assign

[2022-07-09 04:49] thatsmydoing commented on #4454
/remove-lifecycle rotten

[2022-07-10 23:46] jay-lee-otsk commented on #4224
Any updates here?
My workaround is using the previous Kustomize version as 4.3.0 or earlier.
Anyone who uses Argo CD webhooks should meet this issue.

[2022-07-11 06:37] adrian-gierakowski commented on #4224
My solution is not to use kustomize.

[2022-07-11 07:47] jay-lee-otsk commented on #4224
Dear @adrian-gierakowski ,
May I know what your alternative solution is?

[2022-07-11 20:16] Goodwine commented on #4482
/remove-lifecycle stale

[2022-07-11 20:30] natasha41575 opened #4706 "Emit a deprecation warning when deprecated fields are used"
The following fields are slated for deprecation and will be removed in Kustomization v1:

1. `patchesJson6902` and `patchesStrategicMerge`. Only the `patches` field will be supported.
2. `bases`. To use a base, you can specify a kustomization directory in the `resources` field instead.
3. `helmCharts` and `helmGlobals`. These will be replaced with a KRM function.
4. `configurations`, and potential

[2022-07-11 20:57] natasha41575 commented on #4402
For anyone interested in working on this, there is a brief description of how our generators/transformers are implemented in this comment. https://github.com/kubernetes-sigs/kustomize/issues/4671#issuecomment-1150433981

You can take the [ConfigMapGenerator](https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/builtin/configmapgenerator) as an example. We want a plugin like that called

[2022-07-11 21:06] natasha41575 commented on #4224
We are actively discussing solutions on https://github.com/kubernetes-sigs/kustomize/issues/641. If anyone wants to propose a potential solution, please feel free to chime in there.

[2022-07-12 00:00] jay-lee-otsk commented on #4224
Thank you @natasha41575 :)

[2022-07-12 00:22] #4682 closed

[2022-07-12 15:26] koba1t commented on #4706
/assign

[2022-07-12 17:57] zfrhv commented on #4544
@KnVerey oh thats pretty cool

sorry i somehow missed the notification and didnt knew i got a reply :0

i needed this for argocd, but then kustomize was too limited and a little difficult to use, so i just made a job that creates the operator group.

but i really like the configurations fields solution.

very likely i will fix it in the future.

thanks a lot !

[2022-07-12 22:09] #4572 closed

[2022-07-12 22:11] #4522 closed

[2022-07-12 22:20] #2538 closed

[2022-07-12 22:22] KnVerey commented on #3952
/lifecycle frozen

[2022-07-13 01:28] wibed commented on #3815
please reopen.

just to again underline an already made point.
it breaks applied charts for some are created in mind with those capabilities.
this must be taken into consideration, before electing "kustomize" as a tool to provision your nodes.

atleast i would.

[2022-07-13 01:38] wibed commented on #3815
/remove-lifecycle stale

[2022-07-13 01:38] wibed commented on #3815
/remove-lifecycle rotten

[2022-07-13 01:39] wibed commented on #3815
/reopen

[2022-07-13 01:41] wibed commented on #3815
@[KnVerey](https://github.com/KnVerey) could you or one of the contributors reopen this issue

[2022-07-13 06:23] bcha commented on #4680
We have a similarish use-case, we've got a repo for "common components" that can be added as resources by developers like so:
[code]
We're using env variables in the `k8s-commons` repo + envsubst when doing kustomize build. Targeting patches to these remote resources is a bit difficult though and currently we've been using just this kind of wildcard workarounds:

[code]

Would love to have some le

[2022-07-13 06:48] maxmoehl commented on #3148
Came across this while trying to achieve the same thing. I've put my current solution in [a gist](https://gist.github.com/maxmoehl/7fe32619f8503b5d29abfcc0e0f9e7df). It's a custom transformer that adds the label `app.kubernetes.io/version: ${COMMIT_HASH}` to every resource.

[2022-07-13 15:05] QuinnBast commented on #4381
/remove-lifecycle stale

[2022-07-13 15:16] QuinnBast commented on #4335
@jmmclean
[This diff](https://github.com/kubernetes-sigs/kustomize/compare/master...QuinnBast:kustomize:helm3Fix) should work.

I also [released an unofficial patch](https://github.com/kubernetes-sigs/kustomize/issues/4381#issuecomment-1088817267) for this a few months ago

[2022-07-13 22:59] KnVerey commented on #3815
This issue was about the lack of a field that was added in https://github.com/kubernetes-sigs/kustomize/pull/3832. https://github.com/kubernetes-sigs/kustomize/issues/4593 implies it may have since been broken, but it's better to track that in that newer issue.

[2022-07-13 23:03] KnVerey commented on #4593
The fix suggested sounds plausible and we would appreciate a PR with that + test proving it works.

/triage accepted
/good-first-issue

[2022-07-14 03:00] laxmikantbpandhare commented on #4379
@natasha41575 @KnVerey - I started working on this issue, and I was able to re-create the issue. In the current scenario, it is not applying the `patch` and throwing the file as it is if there is a mismatch in the target. In the above example, we can see `/metadata/labels/release` did not get added value `kube-prometheus-stack` as there are missing targets.

I tried `replacements` fields as well a

[2022-07-14 13:47] cprivitere commented on #947
/remove-lifecycle stale

[2022-07-14 20:21] ciis0 opened #4710 "SMP with target does not respect patch GVK"
**Describe the bug**

When using an Strategic-Merge Patch in kustomization, the GVK from the patch is not used for limiting the `target`, e.g. `labelSelector`. Without GVK in the Kustomize does not accept the SMP.

This makes SMP's with `target` not very comfortable to use as it seems you have to duplicate the GVK in `target` to limit the patch to the wished GVK.

**Files that can reproduce the is

[2022-07-14 20:40] ciis0 commented on #4710
this seems to be the relevant place in code:

https://github.com/kubernetes-sigs/kustomize/blob/0c6e827ab81051a95bd061bd1cc917f70335ce86/api/internal/builtins/PatchTransformer.go#L88-L101

maybe an "patchGVK: true" option could be added to copy GVK from SMP to target selector?

[2022-07-14 21:20] tornike commented on #4524
/remove-lifecycle stale

[2022-07-14 21:56] KnVerey commented on #4710
I believe this is behaving as intended: either you specify the `target` field, in which case it is used to identify targets and the patch's identifier (group, version, kind, name, namespace) is ignored, or you don't, in which case the patch's own identifier is used for targeting.

/triage not-an-issue
/kind support

[2022-07-14 21:59] KnVerey commented on #4701
It is not currently possible, but we have an active proposal in progress. Please follow https://github.com/kubernetes-sigs/kustomize/issues/4517.

/triage duplicate
/kind feature
/close

[2022-07-14 22:12] ciis0 commented on #4710
Ok, I see.

The docs are a little confusing here, because explictly they only tell `name` is ignored when `target` is set.

Thus I always have to write my SMPs with labelSelectors like this?

[code]

not happy about that duplication... ^^

[2022-07-14 22:30] #4701 closed

[2022-07-14 22:39] KnVerey commented on #4693
This sounds reasonable to me. It looks like `disableNameSuffixHash` is effectively ignored in merge scenarios, because if it is true, that means we _don't_ add an internal suffixing annotation to the resource, and the annotation from the base will be merged in. Wdyt @natasha41575 ?

/triage under-consideration

[2022-07-14 22:47] KnVerey commented on #4681
If you're asking whether the Kubernetes community provides a hosted version of Kustomize as a service, the answer is no. We provide [binaries](https://kubectl.docs.kubernetes.io/installation/kustomize/binaries/) and [docker images](https://kubectl.docs.kubernetes.io/installation/kustomize/docker/). If that's not what you meant, feel free to reopen with more information.

/kind support
/triage reso

[2022-07-14 22:48] #4681 closed

[2022-07-14 22:55] KnVerey commented on #4678
/triage not-reproducible
/close

I was able to run the exact 4.5.5 command provided without error. The error quoted sounds like it is coming from git itself, so perhaps it was a transient issue with Github, or the container's connectivity to it. Please reopen if you are able to reproduce consistently.

[2022-07-14 22:56] #4678 closed

[2022-07-14 23:25] natasha41575 commented on #4693
That sounds like a bug to me, I'm on board with accepting this issue.

[2022-07-14 23:35] KnVerey commented on #4636
I think the configmap and secret generators are the only features that can source data from various specific file formats. Since Kustomize is oriented around structural edits, I don't see us adding a feature that loads arbitrary data into arbitrary resources.

However, the specific use case presented of embedding one k8s resource in another sounds adjacent to something the replacements transformer

[2022-07-14 23:41] KnVerey commented on #4598
Assuming you are referring to `kubectl edit` rather than `kustomize edit` (which is not available in kubectl), the issue belongs on the kubectl side. It seems like your question there has already been answered.

/close

[2022-07-14 23:41] #4598 closed

[2022-07-15 00:19] KnVerey commented on #4693
/triage accepted

[2022-07-15 19:00] karlkfi opened #4713 "kustomize edit set image should correctly parse both tag and digest"
`kustomize edit set image org/repo:tag@sha256:digest` is not parsed correctly.

Currently it results in:
[code]

If you leave out the digest, the tag gets parsed correctly, but with the digest, the tag is assumed to be part of the image image, which is incorrect.

I would expect them to parse correctly when both supplied.

It's desirable to specify them both to facilitate security requirements as

[2022-07-15 19:51] natasha41575 commented on #4713
I'm able to reproduce the issue. IIUC, the correct output should be

[code]

There is some parsing code from https://github.com/kubernetes-sigs/kustomize/pull/4406 that we can probably reuse to resolve this issue.

/triage accepted
/help
/label good first issue

[2022-07-15 23:23] KnVerey commented on #4546
Fixed by #4209, docs in https://github.com/kubernetes-sigs/cli-experimental/pull/268 will merge any minute and be available at https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/labels/

[2022-07-15 23:23] #4546 closed

[2022-07-15 23:33] KnVerey commented on #4609
Across an arbitrary number of containers, no, I don't think there is a builtin feature that can do that. You could create a [Kustomize extension](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/) for that. Or perhaps do something like put those environment variables into a configmap, which you can do an SMP against, and have all of the containers mount that entire configmap.

[2022-07-15 23:33] #4609 closed

[2022-07-15 23:35] #4633 closed

[2022-07-16 07:31] St0rmingBr4in commented on #4685
I don't strictly need this since using Strategic Merge Patch works yes. It would be nice if jsonpatch could support doing the same.

[2022-07-16 15:32] elisshafer commented on #4693
I can take a look at making a PR for this if this works for others?

[2022-07-16 16:40] mgsh commented on #4713
/assign

[2022-07-16 19:08] #4414 closed

[2022-07-16 20:09] #4397 closed

[2022-07-17 01:09] #4458 closed

[2022-07-17 08:15] pxwxnvermx commented on #4593
/assign

[2022-07-17 16:27] Akay7 commented on #3446
@alexdyas
is there are any workaround for your case:
[code]
?

[2022-07-18 22:16] jketcham commented on #4584
/remove-lifecycle stale

[2022-07-19 08:18] alexis-wefight commented on #4596
Is there any workaround for this (without using the index number, which is not reliable)? I have exactly the same issue (with the same Prometheus rules I want to remove).

[2022-07-19 15:01] shay-berman commented on #4463
Thanks for the details

[2022-07-19 15:01] #4463 closed

[2022-07-19 15:39] KnVerey commented on #4400
/lifecycle frozen
This is a long-term plan

[2022-07-20 14:18] marcofranssen commented on #4626
That worked for me. Thanks for pointing me in the right direction. Sorry for the late response here.

[2022-07-20 14:20] TobiasWillig opened #4717 "includeTemplates doesn't work"
**Describe the bug**

Labels aren't added to the pod metadata and the Deployment spec. `includeTemplates` has no effect.

**Files that can reproduce the issue**

kustomization.yaml

[code]

deployment.yaml

[code]

**Expected output**

The Pod should have all defined labels from (`commonLabels` and `labels`).

**Actual output**

The Pod has only the labels from `commonLabels`.

**Kustomize version

[2022-07-22 06:50] damvinod opened #4718 "Does kustomize support to patch the resource which are not part of base"
I have a busybox deployment already running in the cluster with 1 replica.

I am using kustomize to patch the replicas of the deployment to 2.

Below are the details.

### Error Details
[code]

### Command
`kubectl kustomize . | kubectl apply -f - `

### Folder Structure
[code]

### busybox-patch.yaml
[code]

### kustomization.yaml
[code]

[2022-07-23 16:17] #4484 closed

[2022-07-25 08:26] ohardy opened #4721 "[Question] Ingress/certificates replacements in overlays without vars"
Hi,

Just checked #4099, closed but without any solution for me.

I have "hosts” to change in ingress/certificates depending on the environment so I tried:
- Common replacements in base and configMapGenerator in each overlay, doesn't work (Cf #4099)
- Common replacements in overlay, doesn't work either because security (is not in or below blah blah)

So nothing works. Two solutions work but gives

[2022-07-25 09:40] #4490 closed

[2022-07-25 12:16] reegnz commented on #1580
Can someone reopen this issue please? Would be nice to give at least a common pattern on what one is supposed to be doing to work with this problem.

[2022-07-25 13:40] #4211 closed

[2022-07-25 15:23] hiteshgakhreja1234 opened #4722 "skipping nameprefix of some resource kinds"
Hi All

is it possible to have kustomization file avoid adding prefixes to few resources

service
configmap
storageclass

I tried using this link but this is not working
https://stackoverflow.com/questions/69882949/kustomize-namesuffix-skip-on-some-resources

I tried creating a configuration file in kustomize and try skip: true but still its not behaving as expected
hgakhrej@C02G104NMD6M configura

[2022-07-25 16:24] KnVerey commented on #4403
/lifecycle frozen
This is a long term priority

[2022-07-25 16:24] KnVerey commented on #4404
/remove-lifecycle stale

[2022-07-25 16:35] #4626 closed

[2022-07-26 07:17] gberche-orange commented on #4636
Thanks @KnVerey, as a workaround, I'm  using the [carvel ytt  YAML template engine](https://carvel.dev/ytt/) which enables flexible inlining of arbitrary files into K8S resources. For example, see https://github.com/crossplane/crossplane/issues/3197#issuecomment-1191479570 with the inline of a json schema into a CRD definition, or https://github.com/crossplane/crossplane/issues/3197#issuecomment-1

[2022-07-26 08:50] simon-an opened #4724 "kustomize edit set image should be idempotent"
Version:kustomize/v4.4.1

**Is your feature request related to a problem? Please describe.**

When running `kustomize edit set image` multiple times with the same parameters  the result is multiple images blocks.

[code]

**Describe the solution you'd like**

[code]

[2022-07-26 13:19] nolem commented on #4120
Im currently at a point, where i must replace a placeholder in a template string. This was quite easy with the vars approach. But since they deprecated this vars the hell broke out. For some use-cases it is an absolute desaster to prevent vars. Just to mention... tools are for people and devs, not for ideology. That they removed the namespace prefixing was not nice. But the deprecation of the vars

[2022-07-26 16:13] KnVerey commented on #4636
Ah, I see. In that case, it sounds like the type of sources and edits you need are out of scope for Kustomize built-ins, so from Kustomize's perspective, a custom transformer would be the way to go: [extensions docs](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/).

/triage out-of-scope

[2022-07-27 12:53] LucasMaciuga commented on #4335
Would be great to hear some news about this topic and what speaks against the fix @QuinnBast provided?

Also what I don't understand how to use/implement the [render-helm-chart from krm-functions-registry](https://github.com/kubernetes-sigs/krm-functions-registry/tree/main/krm-functions/sig-cli/render-helm-chart). I have understood that it is [here](https://github.com/kubernetes-sigs/kustomize/iss

[2022-07-27 14:21] alexdyas commented on #3446
Hi @Akay7,

The only work around I've found at the moment is to use an older version of kustomize. We're using v3.8.10. However beware that there are various unrelated bugs in this version, so check the output.

Hope that helps.

Alex

[2022-07-27 16:20] mathijshoogland opened #4725 "Prefix/suffix transformer for Ingress secretName object"
**Describe the bug**
I'm trying to configure kustomize so it adds a suffix to the TLS secret name of an Ingress object, I've got the following configuration:

config.yaml
[code]
ingress.yaml

[code]
kustomization.yaml
[code]
**Expected output**
I'd expect the value of secretName to become letsencrypt-suffix.

**Actual output**

Error: considering field '/spec/tls/0/secretName' of object Ingress.v1

[2022-07-27 20:30] m62534 commented on #680
How do we do this now that var is deprecated?
I don't think varReference works anymore either when we replace with `replacements`

[2022-07-28 10:29] linuxme opened #4728 "[Question] patchMultipleObjects get one container?"
1. cat <<EOF >deployments.yaml
[code]
2. cat <<EOF >patch.yaml
[code]

3. cat <<EOF >kustomization.yaml
[code]

4. execte： kubectl kustomize  .   #give the result as follows：
[code]

6. adesired outcome：
[code]

[2022-07-28 15:27] #4301 closed

[2022-07-28 22:01] KnVerey opened #4731 "ConfigMapGenerator should not load values from the build environment"
It recently came to @natasha41575 and my attention that the `configMapGenerator` has a bug where it will load values from the environment when a line in an env file has a key but no value. This bug dates back to the origins of Kustomize, when some of the original code was [copied out](https://github.com/kubernetes/kubectl/pull/198/files#diff-3b07013480d8cba7d964080b404d5714115f7225e9d299c86d681ce9

[2022-07-29 09:20] kragniz commented on #347
/remove-lifecycle rotten

[2022-07-29 11:00] aitorpazos commented on #4120
Real life example. I have a resource (Keda ScaledObject in this case) which requires a long property value which I want to maintain in a single place. However, that value needs some tweaking to be specific to the cluster the deployment is in:

[code]

IMO it is super useful to be able to have a variable that I can override on each overlay to pass `dc1`, `dc2`, etc values. Otherwise I am forced to

[2022-07-29 16:06] kferrone commented on #4120
I made a variable replacer in SED. I also made variable replacer which is much more advanced in Python using the string formatter. I made a variable replacer using a cli tool called YQ. There are so many ways to replace a simple variable. If you know how to code and have an imagination.

Kustomize has a Helm chart inflator which can use a local helm chart which requires one `chart.yaml` and at lea

[2022-07-29 16:07] mghantous commented on #3446
Quoting the integer key seemed to work for our ingress tcp configmap.

[2022-07-29 16:27] afirth commented on #2803
/remove-lifecycle stale

came up again...

[2022-07-29 17:04] afirth commented on #4731
Hi @KnVerey, thanks for writing this up!

I am the documentor. Frankly I think it's a bad feature to eschew, and leaving in the ability to fetch manifests from remote targets while pulling this out feels like just making my life as a user hard. Kustomize is currently a single, fully usable tool for manifests. If we remove this, we will have to add another one on top of it. I'm totally sick of that

[2022-07-29 17:14] afirth commented on #4731
Just to be clear, I don't think the environment fallthrough is a _good way_ - but `kustomize edit` feels like a much worse way. Maybe I'm building my pipes wrong. Also, sorry for saying "it's intentional" in previous issues and the docs PR - I didn't consider the possibility of copypasta nor chase the git blame as far as I could have.

[2022-07-29 18:48] KnVerey commented on #4717
/triage accepted

As a workaround, the bug only seems to occur if the `spec.template.metadata.labels` does not exist in the first place. Even `labels: {}` will generate the expected behaviour (this is likely a clue as to what the fix needs to be).

@aibarbetta as the author of this feature, would you be able to look into this bug?

[2022-08-01 14:42] tal-sapan opened #4740 "yaml Walker removes null values from map"
**Describe the bug**

When implementing a custom transformer using the `Walker` type (from `"sigs.k8s.io/kustomize/kyaml/yaml/walk"`) to visit yaml nodes, in the nodes returned by the `Walker`, any keys that had `null` values in mapping nodes are removed.
This is true even if the visitor function passed to the `Walker` doesn't do anything.
This is inconsistent with the case when we don't use the t

[2022-08-02 23:17] brandond commented on #4653
This is an issue with how kubernetes stores the base64-encoded data; it has nothing to do with kustomize or kubectl. You can see the issue quite plainly just by getting the secret:

[code]

Note that the `last-applied-annotation` has the base64-encoded value with two newlines in it, while the actual secret is normalized and does not contain any newlines. This is because internally the apiserver st

[2022-08-03 11:00] zfrhv commented on #4544
hello,
i saw the [configuration fields for the CRD](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md) and there is no `namespaceReference`.

the only thing i could find is that in the [docs](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs) they told that there are default transformers, and one if them is `namesp

[2022-08-03 16:59] hholst80 commented on #4653
I know all this. The question is why nobody cares to fix it?

[2022-08-03 17:18] margeaux-gendron opened #4746 "Allow kustomize CLI to add/set labels with includeSelectors: false"
**Is your feature request related to a problem? Please describe.**

Currently, `kustomize edit add/set label` only supports `commonLabels`

The introduction of the [new label without selectors](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.1.0) was intended to fix issues with dynamic labeling changes. However, I don't see a way to dynamically set these labels without sel

[2022-08-03 17:32] natasha41575 commented on #4653
This is not an issue with kustomize, discussion belongs in the kubernetes repo.

[2022-08-03 18:11] brandond commented on #4653
I don't know, why don't **you** care to fix it? It's open source software. Clearly this is more of a problem for you than most people, you should open a PR!

[2022-08-03 18:59] BorisO opened #4747 "YAML Anchor Override Support"
Kustomize can't build manifests in some situations when YAML anchors are used. I know that this has been previously addressed in https://github.com/kubernetes-sigs/kustomize/issues/3675 which fixes anchors in some cases but I'm still having an issue when an anchor overrides are used. I'm using `kubectl v1.23` to run the kustomize build. This `kubectl` version uses   kustomize `v4.4.1` which should

[2022-08-04 06:13] ringerc commented on #2647
For other readers, a `Component` is exactly the correct approach here, and works well.

[2022-08-04 07:05] mathijshoogland commented on #4725
If there's any way I can help with the triage, let me know, happy to help.

[2022-08-04 15:09] vgusev-arke commented on #2962
I don't know if it's relevant or not, but I had a similar need. My configMap contained two file based secrets (yaml) that I needed to differ slightly in different environments. I did not feel like creating separate files per environment for the sake of one or two lines that are different, so here's what I've come up with:

root
|--base
|--|--configs
|--|--|--config1.yaml //the base file for config

[2022-08-04 22:30] spstarr commented on #4655
This can be closed now, from Slack discussion, I've ported all the legacy exec plugins to KRM exec functions and adjusted the logic of how I get environment variables. Kustomize still allows this but I need to inject variables into `.kustomize.env`
KEY=VALUE prior to running kustomize so the plugins are able to grab these variables, since they will be rendered by Kustomize as a ConfigMap for me to

[2022-08-04 22:30] #4655 closed

[2022-08-05 05:43] annasong20 commented on #4481
I can reproduce this issue. My output is mostly the same, except the second resource is an empty string instead of being removed. Please see below.
[code]

[2022-08-05 05:50] f91og opened #4749 "[Question] Is it possible to only apply the resource when it doesn't exists?"
I am now migrating a deployment from python script to kustomize, but encounter one problems. In the deploy script, it use `-init true` args to control whether deploy initial resource or not when first release, if it is not first release, then skip init steps, otherwise do initial step.
So my question is whether I can use kustomize to implement this or not, apply the resources when they are not exi

[2022-08-05 14:52] sethpollack opened #4750 "Generator Annotations"
When should I use:

[code]

vs

[code]

[2022-08-05 17:17] natasha41575 commented on #4481
/triage accepted

If anyone is interested in picking this up, I think one potential solution could be to use kyaml's `CopyComments` and `SyncOrder` functions to maintain the comments and field order of the kustomization.

/help
/label "good first issue"

[2022-08-05 17:17] natasha41575 commented on #4481
Thanks @annasong20 for confirming the issue!

[2022-08-05 20:12] maazmmd commented on #2299
[code]

Should solve the issue

[2022-08-07 03:25] kanekoh commented on #4481
I'm new to contribute this repo. If it is ok, I'll try this issue.

[2022-08-07 23:51] aibarbetta commented on #4717
/assign

[2022-08-08 16:11] kragniz commented on #4472
/reopen
/remove-lifecycle rotten

[2022-08-08 16:13] kragniz commented on #3763
/remove-lifecycle stale

[2022-08-08 16:16] mm-fsai commented on #4613
I am having the same issue where when openapi path is added, my deployments are missing specified resource limits that are added with a patch.

If I remove the openapi path then my deployment limit is patched properly.

[2022-08-08 16:30] zachaller commented on #4613
Argo project will have a workaround for this soon with a blog post detailing how we came about it. But you can peak at this as well https://github.com/argoproj/argo-schema-generator

[2022-08-08 17:17] mm-fsai commented on #4613
Thanks @zachaller, I used the `https://raw.githubusercontent.com/argoproj/argo-schema-generator/main/schema/argo_all_k8s_kustomize_schema.json` contents as my `openapi.path` and that worked well. My resource limits and requests all rendered correctly.

@dan-j, I also verified that your solution worked. I used the output of `kustomize openapi fetch` as my `openapi.path` and   everything rendered co

[2022-08-08 18:52] wolfmah commented on #4717
The culprit is found here: https://github.com/kubernetes-sigs/kustomize/blob/5948f6aa63d57fdfadb77ad896b8b40bf9c2ffed/api/internal/target/kusttarget_configplugin.go#L289-L292

The `CreateIfNotPresent` should be `true`.  Though, I don't know if this would make side effect elsewhere. But, if we go by the logic found within `commonLabels`, it shouldn't be a problem: https://github.com/kubernetes-sigs

[2022-08-08 19:18] CIPHERTron commented on #4713
Heyy @mgsh are you still working on this issue?
I was looking for a good first issue to contribute to customize 😅

[2022-08-09 03:01] yydzhou opened #4752 "patchesStrategicMerge is not working for service of single port but multiple protocols."
**Describe the bug**
base: service.yaml

[code]
overlay: service-patch.yaml
[code]
kustomization.yaml
[code]

**Files that can reproduce the issue**

**Expected output**
expected output
[code]

**Actual output**
Actually output:
[code]

**Kustomize version**
{Version:kustomize/v4.5.7 GitCommit:56d82a8378dfc8dc3b3b1085e5a6e67b82966bd7 BuildDate:2022-08-02T16:28:01Z GoOs:darwin GoArch:amd64}

**Plat

[2022-08-09 03:03] yydzhou commented on #2934
@natasha41575 Here is the new issue. I have updated my binary to newest version and the problem still exists. I am assuming it's a simple fix, since it already supported in statefulset test case.
https://github.com/kubernetes-sigs/kustomize/issues/4752

[2022-08-09 03:19] yydzhou commented on #4752
Using similar port configuration for a deployment merge test, does not work neither.

[2022-08-09 12:03] kanekoh commented on #4481
Is here right place to discuss how I fix this issue? Or should I discuss a question on slack?

[2022-08-09 22:34] gritzkoo commented on #4335
I'm getting the same issue trying to use a private helm repository using Github.
Locally, to download the helm repo, I need to use the command:

[code]

It would be great if kustomization installation/config accepted global credentials to be used in all helm contexts using the flags like `--username --password --pass-credentials`. The flag `--pass-credentials` is essential because using GitHub pag

[2022-08-10 17:29] QuinnBast commented on #2259
@chancez could you provide an example of this?

[2022-08-10 18:19] KnVerey commented on #4024
/remove-lifecycle stale

We still need to remove the legacy annotations

[2022-08-10 18:27] natasha41575 commented on #4024
+1

/help

[2022-08-10 18:28] natasha41575 commented on #4024
/lifecycle frozen

[2022-08-10 19:02] KnVerey commented on #4544
Ah yes, the namespace transformer field specs don't support array targets currently. Looking at the example again, I'm not sure that would be the right approach anyway, since the field can contain multiple namespaces, and there's nothing to guarantee the one you want to change will be at index zero.

A better approach could be to use the [name reference transformer](https://github.com/kubernetes-s

[2022-08-10 19:50] natasha41575 commented on #4640
/triage accepted

[2022-08-10 21:02] annasong20 commented on #4640
After a flaky run, I found that all flaky tests failed on https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/cloner.go#L36. Given that we run tests concurrently, I believe the flaky tests fail when they are cloned concurrently and `FETCH_HEAD` points to the wrong HEAD.

We can fix this either by changing the line `git checkout FETCH_HEAD` or running the integration tests seq

[2022-08-11 03:36] annasong20 opened #4755 "verify-kustomize-repo stalling locally"
**Describe the bug**

Running `make verify-kustomize-repo` stalls for an indefinite amount of time at `make lint` on `/cmd/config`.

**Expected output**

All checks should complete successfully.

**Actual output**

The following is the beginning of the log. Many such printouts follow.

<img width="794" alt="Screen Shot 2022-08-10 at 2 32 34 PM" src="https://user-images.githubusercontent.com/403090

[2022-08-11 07:51] GraemeF commented on #4746
I was say this is a bug because running `kustomize edit set label version:bar` on:

[code]

produces:

[code]

which is of course invalid:

[code]

[2022-08-11 15:59] KnVerey commented on #4755
* Which version of golangci-lint are you using? The error shown looks like it could be caused by running an older version of gomoddirectives that is missing https://github.com/ldez/gomoddirectives/commit/3ce9a6500b555d88b44e6f7ef7dafe4d88c7084b. The fix is in golangci-lint 1.46.0 and newer, and per our makefile we should be using 1.46.2.
* Does this still happen if if you run `make lint` in cmd/co

[2022-08-11 16:30] KnVerey opened #4756 "Code freeze on remote loader"
As described in [Open letter to Kubernetes reviewers/approvers (and contributors!)](https://groups.google.com/a/kubernetes.io/g/dev/c/6F3h0Z1QzVg/m/43tdYs_lAAAJ?utm_medium=email&utm_source=footer), the Kubernetes project is taking steps to improve the quality of our codebases for the long term. Notably:

One area that this is particularly relevant for Kustomize is the code and tests that support t

[2022-08-11 17:44] annasong20 commented on #4755
Ahh, yes, this was the problem. I thought that the Makefile version was the version running, but of course it was from an older build. 🤦‍♀️ Thank you so much, Katrina!!

[2022-08-11 17:45] #4755 closed

[2022-08-11 17:56] annasong20 commented on #4756
+1 It would definitely be nice to have more confidence in the CI pipeline and avoid all the "/retest"s 😄.

[2022-08-11 19:51] koba1t commented on #4399
/assign

[2022-08-12 07:25] tstivers1990 commented on #3205
I get that the tone wasn't very kind. But wasn't this already implemented once?

[2022-08-12 16:34] natasha41575 commented on #4756
/triage accepted

[2022-08-12 17:42] KnVerey commented on #4401
Please note that in light of slow progress on the KRM Function version, we've updated our mid-term plan around the current built-in. The new policy is outlined [in our docs](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/helmcharts/#long-term-support) and copied below for ease of reference.

Re: extra-args in particular: We used to have such a field, but we removed it in htt

[2022-08-12 18:12] Mumeii opened #4757 "Add an extra kind of patch application condition to workround JSON patch limitations"
**Is your feature request related to a problem? Please describe :**

Hi

I have the following file structure :

[code]

My trouble is related to the `global_kustomization.yaml` file, in which one I'm trying to globally apply on each clusters the global patch found in `/base/globalPatches`

Notice that those patch files are written in yaml, but seen as regular Json Patch "scripts"

Both of these pa

[2022-08-12 19:32] mightyguava commented on #4620
Summarizing some offline conversation with @KnVerey

Only ssh keys belonging to valid github users can clone from github, even for public repos. [Deploy Key](https://docs.github.com/en/developers/overview/managing-deploy-keys) provides an alternative if one only need read-only access to a specific set of GitHub repos.

The tests in `remote_test.go` access only 2 repos, https://github.com/kubernete

[2022-08-12 19:39] KnVerey commented on #4620
Thanks for the investigation! I think that plan makes sense. I've created a read-only deploy key and added it as a secret named `DEPLOY_SSH_KEY`.

[2022-08-12 19:46] mightyguava commented on #4620
@KnVerey we also discussed removing anna's repo from the tests. I took a look.

It’s being used as an example of a repo that has `kustomization.yaml` at the root of the repo, where the repospec would not have a path component. I don’t know how important that is, but this code path can’t be exercised on the kustomize repo for obvious reasons. If we want to keep those tests, i’d recommend cloning he

[2022-08-12 19:53] koba1t commented on #4746
Are you want the below functions?

- https://github.com/kubernetes-sigs/kustomize/pull/4478
- https://github.com/kubernetes-sigs/kustomize/pull/4486

[2022-08-12 20:06] laxmikantbpandhare commented on #4379
fix for `patches` and `patchJson6902` is completed and raised PR #4715 . `patchStrategicMerge` already throws an error if the target is missing.

[2022-08-12 20:08] natasha41575 commented on #4620
@mightyguava What's the name of the test? I'm wondering if it would be sufficient to have a unit test for repospec with an empty path, rather than need a full repo for whatever code that the test is covering.

[2022-08-12 20:13] mightyguava commented on #4620
There are a few of them, here's one https://github.com/kubernetes-sigs/kustomize/blob/416eed97c49aa8e9ea44d627c15dafd395b61739/api/krusty/remoteload_test.go#L132-L137. You can find the rest if you search `annasong20` in that file.

[2022-08-12 20:29] laxmikantbpandhare opened #4760 "Lint Errors on Github repo"
Getting lint errors after submitting PR on `kustomize` as shown below

**Describe the bug**

[code]

**Files that can reproduce the issue**

All the test files that have `io/ioutil` import.

**Expected output**

lint errors will not be shown

**Actual output**

Link Check will run successfully

**Additional context**

We can replace `io/ioutil` with package `io` or `oc` in order to skip link error

[2022-08-12 20:30] laxmikantbpandhare commented on #4760
Looks like this issue is already taken care by this PR #4754

[2022-08-13 06:25] joebowbeer commented on #2301
And [reverted](https://github.com/kubernetes/website/pull/35522) eight months later

[2022-08-14 04:50] vsabella opened #4761 "NIL Pointer Dereference Panic in Replacements Transformer"
**Describe the bug**

When running kustomize v4.5.7 we get a Nil pointer dereference/segmentation fault on anything using the replacements transformer. This is a regression from Kustomize v4.5.5

[code]

**Files that can reproduce the issue**

**Expected output**

**Actual output**

**Kustomize version**
v4.5.7
{Version:kustomize/v4.5.7 GitCommit:56d82a8378dfc8dc3b3b1085e5a6e67b82966bd7 BuildDate:

[2022-08-14 23:46] #4288 closed

[2022-08-15 00:47] #4515 closed

[2022-08-15 05:00] mgsh commented on #4713
Hi @CIPHERTron, I have submitted a PR for it https://github.com/kubernetes-sigs/kustomize/pull/4714
But not sure how to get it reviewed and merged. No response on the PR.

[2022-08-15 12:16] zfrhv commented on #4544
hello ~

i dont need index zero, i just want it to be in the array.

---

maybe its fine but i speficy the namespace from the argocd, and not by `namespace: updated`,
so it wont work for me.

the namespace transformer feels to be perfect, but i guess its not really a thing that can be used.

seems to me that there is no solution that is best fitting for my use case, so i will close this issue.
tha