[2019-10-07 17:33] #1588 closed

[2019-10-07 19:21] monopole commented on #1292
The issue still open. been doing other things - and also hoping for more evidence of interest.

This has lots of overlap with patch behavior, as any resource file is also a valid patch.

We cannot precisely do as https://github.com/kubernetes-sigs/kustomize/issues/1292#issuecomment-507766017 suggests. The kustomization file is a Go struct for standard marshalling/unmarshalling; the `resources` fie

[2019-10-07 20:52] nickbp commented on #388
A solution I've found is to write a temporary `kustomizations.yaml` which points into the thing that I want to customize as the `base`. It's unclear why this is better than just supporting environment variables for things that shouldn't or can't be hardcoded.

[2019-10-07 21:32] tkellen commented on #388
I'm also doing this in CI and throwing the file away. This is fine for me because not supporting environment variables is a huge guardrail we need. What's *not* fine is not being able to source values from external files without a contorted dance of including them in the resources applied to cluster. See:
https://github.com/kubernetes-sigs/kustomize/issues/318#issuecomment-536665404 onward

[2019-10-08 08:51] alcohol opened #1598 "3.3.0 release assets"
Not sure I completely understand the changelog/path going forward as of version 3.3.0. Does the restructuring process mean you will no longer add release assets on Github as with previous versions?

[2019-10-08 11:59] leroy0211 opened #1599 "kustomize overwrites RoleBinding Subject namespace"
When I create a RoleBinding like this:

[code]

and a kustomization file like this:

[code]

and I run `kustomization build .` on this setup, the `subjects[0].namespace` will be changed to the namespace provided in the `kustomization.yaml` file.

Result:

[code]

What I assume what would have happened is that only the `metadata.namespace` would be inserted, and the `subjects[0].namespace` would be

[2019-10-08 15:53] Liujingfang1 commented on #1598
The new release process is documented [here](https://github.com/kubernetes-sigs/kustomize/tree/master/releasing)
There will be 3 modules and each of them will be released separately. Each release will contain its own assets.

[2019-10-08 17:09] tkellen opened #1600 "don't cause variable conflicts when values are the same"
Would ya'll accept a PR that makes this:

[code]

...not fail with this?
[code]

It seems like the only requirement to do so would be to check if variable "collisions" contain the same value.

[2019-10-08 17:56] Liujingfang1 commented on #1600
IMHO we should fix this.

[2019-10-08 18:14] gregdurham opened #1601 "Kustomize for complex scenarios, multiple similar apps, multiple envs"
I have situation where I have a number of applications that are inherited from a common base, as most of the applications look very similar. Then for each application we have namespace/environment specific overrides, these namespaces each exist in a given k8s cluster. A folder structure I was thinking looks similar to this, but not sure if this is even possible with kustomize:

[code]

Am I thinki

[2019-10-08 18:38] tkellen commented on #1600
Thank you @Liujingfang1! I'll attempt a PR for this later this week unless someone gets to it before me.

[2019-10-08 18:52] vreon opened #1602 "Publish old CLI binaries using the new release tag format"
We've got some automation that downloads particular versions of the Kustomize CLI from GitHub, and since the last few releases use a new scheme, it has to do some version parsing to determine the correct URL.

It would be convenient if binaries for previous releases could also be published using the new scheme so that the correct URL is always:

[code]

[2019-10-08 23:32] dmmatson opened #1604 "Installation Instructions Broken"
Installation instructions no longer work with 3.3.1.

[code]

[2019-10-09 02:03] jack0 commented on #1516
@jbrette If we do it this way, we still need the cli-experimental tool to be able to diff between the folder output and that of a running cluster. I'm not sure how that workaround would help in that case.

[2019-10-09 07:13] #1598 closed

[2019-10-09 09:01] rochacon commented on #1572
I'm closing this since the main question is now answered by the fixes to the release documentation introduced by https://github.com/kubernetes-sigs/kustomize/pull/1590

[2019-10-09 09:01] #1572 closed

[2019-10-09 15:25] dhrp opened #1606 "kustomize build doesn't update .dockerconfigjson prefix"
Issue:

When using kustomize to build a spec including a .dockerconfigjson `type: kubernetes.io/dockerconfigjson` _and_ a namePrefix is given, then the secret is generated with said prefix, but the secretReference is not updated to include that prefix. As a result a user receives a imgPullError, even if the config was correct.

In other words:
[code]

with:
[code]

Generates:
[code]

[2019-10-09 16:13] monopole opened #1607 "consider moving kustomize Go API module src code to k/k/k8s.io/cli-runtime"
Certainly the kubectl code will import the kustomize Go API module, once v4 is released.

But maybe the src code could live there too?  This issue is to consider moving src to
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/cli-runtime

This issue can accumulate benefits/drawbacks to that move

[2019-10-09 18:15] #1604 closed

[2019-10-09 18:29] monopole commented on #1602
The change was we had one module and didn't obey Go API semver, and we've moved to three modules (a Go API and two binaries) and want to obey semver going forward (see versioning policy notes).

Releases are performed via google cloud build, triggered by tags, determined by three cloudbuild_*.yaml files in the `releasing` directory, and the goreleaser tool to slap all the right stuff into the gith

[2019-10-09 23:14] Ilyes512 opened #1608 "Up-to-date JsonSchema for Kustomize?"
Is there a up-to-date json schema for kustomize? Vscode (or one of my extensions - probably the yaml extension) uses http://json.schemastore.org/kustomization. This schema does not seem to match whats being said in the documentation.

If I get a up-to-date schema I will check if I can update it in the schemastore .

[2019-10-10 00:50] kinghajj commented on #1452
This bug prevents us from updating past v2.0.3. Are there any plans to support this workflow again? We could work around this by pushing tags on the specific commits we reference, but that's not as secure, since [Github won't let you prevent tags from being modified](https://github.com/isaacs/github/issues/1091). Perhaps there could be two `Cloner` implementations, the post-#857 one and the pre-#8

[2019-10-10 05:19] rosscdh opened #1609 "[question] "alpha" plugins"
Hi there,

Normally I'd raise this in slack but the response there is a bit too slow if at all.

https://github.com/kubernetes-sigs/kustomize/tree/master/docs/plugins

I am querying the "enable_alpha_plugins" nomenclature? How ALPHA is it still? or can we rely on this architecture being the standard now?

Thanks

[2019-10-10 17:33] rosscdh opened #1612 "[bug] exec plugins - generator not appending hash"
Hey there, thanks for taking the time

https://github.com/rosscdh/cc2-plugins/blob/master/com.mindcurv/v1/ansiblevaultsecretgenerator/secret.py

As per the file above have added the annotation and manualy the hash, but for some reason the reference to the generated secrets is not being updated in a deployment that refers to a secret.

May I ask someone to give some pointers? Will be browsing the c

[2019-10-10 18:28] akanso opened #1613 "improve install instructions"
By following the installation instructions in:

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#quickly-curl-the-latest

The `kustomize` binary has to be invoked directly `./kustomize ...`

We can add it to the `path` and simplify its usage (on mac/linux) by moving it to `bin` and adding it to the `PATH`:

[code]

Tools such as `kubebuilder` already expect this to be done,

[2019-10-10 21:05] monopole commented on #1292
@ioandr with respect to #1297, PTAL at #1615

I think this, is or is close to, your desired result, with a different approach that doesn't require high-level merge behavior.

[2019-10-10 21:23] coryodaniel opened #1619 "Namespace not set on APIService .spec.service.namespace"
`.spec.service.namespace` does not get populated by the namespace transformer.

[code]

[code]

Version: `Version: {Version:kustomize/v3.2.3 GitCommit:f8412aa3d39f32151525aff97a351288f5a7470b BuildDate:2019-10-08T23:30:25Z GoOs:darwin GoArch:amd64}`

[2019-10-10 22:17] #1076 closed

[2019-10-11 00:00] vreon commented on #1612
You don't need to manually add the hash, just the annotation :smile_cat:

Here's an `ExampleSecretGenerator` which generates a hard-coded Secret named `example`:

[code]
[code]

And a kustomization that uses it:

[code]
[code]

[code]
[code]

[code]
[code]

And the output:

[code]
[code]

You can see that the `secretKeyRef` was correctly updated.

[2019-10-11 07:06] rosscdh commented on #1612
Hey there thanks for the answer!

Yes as i mentioend tried both variations with and without and both with the annotation. Must be a version thing.

I guess you are using one of the more recent builds? am on Version: {Version:kustomize/v3.2.1

Ill update and try again as I see newer versions have come out the last few days and it looks like the plugins and api architecture is taking shape

[2019-10-11 07:15] vreon commented on #1612
Ah, indeed! I was using v3.2.2 there. Despite what the [v3.2.1 changelog](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.2.1) says, [v3.2.2 was the first version that included support for the `needs-hash` annotation](https://github.com/kubernetes-sigs/kustomize/pull/1473#issuecomment-539464969).

[2019-10-11 07:22] rosscdh commented on #1612
Thanks @vreon

[2019-10-11 07:22] #1612 closed

[2019-10-11 11:27] rosscdh commented on #1609
I guess based on the recent merged 2 days from this date with the api separation etc the plugins pattern has been defined and hopfully will be moving out of "alpha" label which scares certain providers

[2019-10-11 13:56] jbrette commented on #1619
There is a bug in the default configuration [here](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/namereference.go#L272). The service field is one of those fields which require a simultaneous transformation of the name and the namespace.  It should be `path: spec/service` instead of `path: spec/service/name`

Meanwhile you can address the issue by up

[2019-10-11 15:33] jbrette commented on #1599
This is by design. A special case has been added in the namespace transformer for the handling of the "default" ServiceAccount created when you create a new namespace. Since you are changing the RoleBinding namespace, the namespace transformer will adjust the corresponding default ServiceAccount listed in the subjects.

With any other name (aka not default), the transformer will preserve the names

[2019-10-11 17:44] coryodaniel commented on #1619
A. thanks for the help
B. I didnt realize kustomize had the kustomizeconfig functionality, and that is awesome, my friend.

[2019-10-12 09:47] #901 closed

[2019-10-12 12:02] nthypes commented on #680
Nothing?

Sometimes the unresponsive attitude of kustomize team about open issues/prs it's really sad.

[2019-10-12 13:56] leroy0211 commented on #1599
So it's not possible to add another default ServiceAccount from another namespace to a RoleBinding this way? So namespaces can deploy to other namespaces. I really need to create a new ServiceAccount for this?

[2019-10-13 10:44] #1599 closed

[2019-10-14 04:32] zgfh opened #1624 "how to patch secretGenerator?"
need some help: when  use secretGenerator in base, how to patch it?

[2019-10-14 11:25] larslevie commented on #802
/remove-lifecycle rotten

This hasn't been resolved.

[2019-10-14 13:48] arthurgustin opened #1625 "kustomize edit add secret --namespace ?"
How can I change the namespace of a secret generated by my CI using `kustomize edit add secret` ?
Workaround is to use https://github.com/mikefarah/yq or sed to achieve my goal but I don't want to

[2019-10-14 14:24] lundbird opened #1627 "`kustomize edit add resource` moves bases to resource"
starting with following in kustomization.yaml:

[code]
running:
`kustomize edit add resource nginx-conf.yaml`

results in following kustomization.yaml
[code]
Version: {KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T19:21:45+01:00 GoOs:darwin GoArch:amd64}

[2019-10-14 14:34] lundbird opened #1628 "kustomize add annotation only supports DNS-1123 subdomain characters"
I try to add an annotation used for gitlab monitoring that uses a /
`kustomize edit add annotation  {app.gitlab.com/env2:app}`
which results in the following error message:
[code]
Version: {KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T19:21:45+01:00 GoOs:darwin GoArch:amd64}

[2019-10-14 17:58] jbrette commented on #1627
base is deprecated since kustomize 2.3.0. Kustomize is doing the right thing

[2019-10-14 21:43] shaunc opened #1632 "commonLabels should be merged/stacked over depth-first exploration of base tree?"
I have a structure like:

base/kustomization.yaml:
[code]
stage/dev/kustomization.yaml:
[code]
cluster/local/kustomization.yaml:
[code]
target/local-dev/kustomization.yaml:
[code]

I expect the service to have `stage: dev` and `clusterName: local` labels, but it doesn't. If I put these labels in "base" or "target/local-dev" it works, but obviously thats not what I want.

[code]
### Note

I tried r

[2019-10-15 17:27] #1609 closed

[2019-10-15 18:17] pascalgn commented on #1601
We have the following structure running successfully in production for over a year now:

[code]
(taken from #1530)

I think in your case it's not environments but clusters and you have one more level of indirection, with the namespaces. However, I don't see any issues with it or any reason why it shouldn't work.

[2019-10-15 20:06] #1026 closed

[2019-10-16 11:13] litaxc commented on #1459
just ran into the same situation

[2019-10-16 14:05] arthurgustin opened #1641 "Getting fails to load: plugin: not implemented when using custom generator plugin"
`Version: {Version:kustomize/v3.2.3 GitCommit:f8412aa3d39f32151525aff97a351288f5a7470b BuildDate:2019-10-08T23:30:25Z GoOs:linux GoArch:amd64}`

Hi, I had to write a custom generator for my use-case (generating N times the same resource with a different name,namespace and a lot of custom properties). I simplified my plugin for the issue tracker.

This plugin is located inside my kustomize folder a

[2019-10-17 02:46] brunojcm commented on #1627
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v2.1.0.md#resources-expanded-bases-deprecated

Duplicated of https://github.com/kubernetes-sigs/kustomize/issues/1556

[2019-10-17 02:51] brunojcm commented on #1556
Thanks for pointing that out!

The issue is, I'm trying to apply my newly created `kustomization.yaml` file, after the relocation, and I get:

[code]

It seems that `kubectl` is failing when there is a resource that is a directory, not a file.

[code]

Do you know where can I report that?

[2019-10-17 03:04] brunojcm commented on #1555
They are: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v2.1.0.md#resources-expanded-bases-deprecated

[2019-10-17 04:57] nomeelnoj commented on #1039
@alexppg I too am interested in adding fields to all items in a list of unknown length, as some of our PrometheusRules have one alert, some 2, and some up to 10.  Do you have this transformer handy or can you send it to me? Curious to see if it works for our use case.  Thanks!

[2019-10-17 06:34] everpeace opened #1646 "resourceNames in Role is not replaced with transformed names (e.g. namePrefix)"
Assume simple kustomize app dir

[code]

Building this kustomize app generates a `Role` resource whose `resourceNames` are not replaced.  I think this should be replaced with `prefix-psp`.

[code]

I'm not sure but I think #365 would be highly related to this issue.

[2019-10-17 06:55] everpeace commented on #1646
I found the solution in [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#some-field-is-not-transformed-by-kustomize)

adding kustomizeconfig solved my issue:

[code]

Then, `resourceNames` field was successfully replaced.

[code]
[code]

[2019-10-17 06:55] #1646 closed

[2019-10-17 07:35] george-angel commented on #1351
/remove-lifecycle stale

[2019-10-17 08:57] rchessa commented on #947
Hi guys,

there is a workaround for this issue?

[2019-10-17 13:12] dbalakirev opened #1647 "HelloWorld example configures resources instead of bases"
The HelloWorld example comes with a [README](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/README.md) that instructs people to create some files for overlays.

Example:
`resources:
- ../../base`

This results in:
`Error: loadResMapFromBasesAndResources: rawResources failed to read Resources: Load from path ../../base failed: read /home/balakirev/hello/base: is a dire

[2019-10-17 14:14] reegnz commented on #1556
Another thing that is quite confusing with the deprecation is that only using `resources` breaks kubectl apply -k, since kubectl doesn't really know about that deprecation yet...

So now if you edit kustomizations with the kustomize cli and not by hand they won't be compatible with kubectl.

eg.:
[code]

My kustomization in that case looks like this:
[code]

When can one expect a feature to also d

[2019-10-17 17:38] pgpx commented on #205
@michaelkrupp Are you sure that it has been removed?  It was only introduced in 3.2.0 ([inlinePatch doc on master branch](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/inlinePatch.md) and [3.2.0 release notes](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v3.2.0.md)), and I can't see anything in later release notes that say it has been removed.

[2019-10-17 17:59] oboukili commented on #1482
@arthurgustin this error means you have not put your plugin in your plugins home folder, read https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/goPluginGuidedExample.md#make-a-home-for-plugins for more info, cheers

[2019-10-17 18:00] oboukili commented on #1482
you can also read https://gitlab.com/maltcommunity/public/checksumer#build and https://gitlab.com/maltcommunity/public/checksumer#run as another illustration example

[2019-10-17 19:59] ylogx opened #1650 "Homebrew bottle for MacOS Catalina installs invalid executable"
The binary from catalina bottle doesn't work:

[code]

<img width="693" alt="Screen Shot 2019-10-17 at 3 56 39 PM" src="https://user-images.githubusercontent.com/3508878/67042840-bc1aba00-f0f6-11e9-91ab-b543ca439fe0.png">

Likely because of this automated commit in homebrew repo:
https://github.com/Homebrew/formulae.brew.sh/commit/f937e84e6c87567044c6d71ea973cd04e4309979#diff-1925185cc226c55db236d

[2019-10-18 13:13] sidps commented on #1358
We are using the patch system for now, as a workaround.

[2019-10-18 13:13] #1358 closed

[2019-10-18 17:54] max-sixty commented on #1386
This seems to work:
[code]

[2019-10-18 19:52] jgustie commented on #1567
I have been giving this some more thought and it occurs to me that the "fix" would actually be to just to set `create: false` for all the affected selectors. My reasoning is that with old versions of the resources creating the selector fundamentally changes the structure of the application (since the created selector only matches labels being added) and new versions _already require the selector t

[2019-10-18 21:18] #1098 closed

[2019-10-20 15:24] rosscdh commented on #1504
Should def rename "alpha" some are no longer alpha rather "external" or just "enable-plugins"

[2019-10-20 19:03] #1049 closed

[2019-10-20 19:59] george-angel commented on #662
/remove-lifecycle stale

[2019-10-21 08:59] arthurgustin commented on #1482
@oboukili I override `XDG_CONFIG_HOME` to point to my plugin location and it works for bash plugin

[2019-10-21 11:22] rosscdh commented on #1624
in the overlay

recreate the secret generator with the same name (excluding the hash obviously)

set a `behaviour:replace|merge `

et voila

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#example-10

[2019-10-21 11:25] rosscdh commented on #1512
great question +1

[2019-10-21 16:52] oboukili commented on #1641
I think the problem is that you specify the version (gvk) in your 3 levels path, you should get rid of the `v1` and try again
(also I think it was a typo, but you need to have the compiled `ProcessGenerator.so` shared object within that path)

your path should be: `myProject/k8s/kustomize/plugin/someteam.example.com/processgenerator/ProcessGenerator.so`

Within your generator instanciation file:
[

[2019-10-22 14:44] michaelkrupp commented on #205
@pgpx you [appear to be correct](https://github.com/kubernetes-sigs/kustomize/blob/master/api/types/kustomization.go#L50). I could not find any official documentation for this though, aside from the release notes you already linked.

[2019-10-22 21:33] Lngramos commented on #1604
Hi @monopole, one of my build pipelines have encountered the same issue as reported when attempting to installing the latest version of Kustomize onto an image as per the following instructions in the docs: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#quickly-curl-the-latest-binary

This just started happening as a result to the latest release no longer being the the Ku

[2019-10-22 22:16] Lngramos commented on #1604
I've raised a pull request https://github.com/kubernetes-sigs/kustomize/pull/1677 to propose updating the documentation to where a particular tagged release is installed instead of using "latest" which is no longer reliable.

[2019-10-23 00:44] atoato88 opened #1680 ""Quickly curl the latest binary" on INSTALL.md is old"
I tried to install kustomize written at [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#quickly-curl-the-latest-binary), but I got error following:

[code]

It may be because that [latest release](https://github.com/kubernetes-sigs/kustomize/releases/latest) changed to api/v0.1.1
Actually, script above downloaded `api_v0.1.1_linux_amd64.tar.gz`.

I could install kus

[2019-10-23 01:51] fedebike commented on #1680
Having the same issue. @atoato88 are you saying that for now, it is not an issue because you download kustomize manually?

[2019-10-23 02:29] atoato88 commented on #1680
@fedebike As for now, I think this is a small issue about ["Quickly curl the latest binary" docoumentation](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#quickly-curl-the-latest-binary), because I could download kustomize from [here](https://github.com/kubernetes-sigs/kustomize/releases) manually for an alternative.

[2019-10-23 05:24] fedebike commented on #1680
Yes my issue is that I am currently having a jenkins job downloading via curl kustomize.  Now I don't really know to what should I point to... or how should I install api_v0.1.1_linux_amd64.tar.gz.

[2019-10-23 07:03] Lawouach commented on #157
How is this rotten?

[2019-10-23 07:33] sterchelen commented on #1680
You should be able to download via
[code]

[2019-10-23 07:42] nlamirault commented on #157
What ??

[2019-10-23 07:48] Lawouach commented on #157
The robot changed the lifecycle automatically but the label is a bit harsh :)

[2019-10-23 13:49] nigimaster commented on #1680
Yes, having the same issue in our Jenkins pipeline and I was able to fix, thanks @sterchelen for the input!

btw, you are missing a \ on the code line:
grep kustomize_kustomize | \

and the version also, see below
mv kustomize_kustomize.v*_linux_amd64 /usr/bin/kustomize; \

The working command is here:

curl -s https://api.github.com/repos/kubernetes-sigs/kustomize/releases |\
 grep browser_downlo

[2019-10-23 13:51] fedebike commented on #1680
maybe better:

``mv kustomize_kustomize.*_${opsys}_amd64 kustomize``

[2019-10-23 17:00] muhammad-fahad2068 opened #1682 "I have a private repository that I am using as base"
so my kustomization.yaml looks like following

bases:
  - https://github.com/MyGithub/myrepo.git

and below is the error that I am getting

ts=2019-10-23T13:22:30.099130068Z caller=loop.go:101 component=sync-loop err="loading resources from repo: error executing generator command \"kustomize build .\" from file \".flux.yaml\": exit status 1\nerror output:\n2019/10/23 13:22:30 Error performing git

[2019-10-23 18:13] tkellen opened #1683 "support reading kustomization files from standard in"
In light of the conversations happening in https://github.com/kubernetes-sigs/kustomize/pull/1631 it seems that the ability to easily reference external values and manipulate them within the confines of a `kustomization.yml` is not going to appear any time soon.

This gap can be covered by literally any existing programming language or templating system that itself can produce `kustomization.yml`

[2019-10-23 19:15] bzub commented on #1647
`bases` is depreciated https://github.com/kubernetes-sigs/kustomize/pull/1648#issuecomment-543302609

[2019-10-23 21:48] snarlysodboxer commented on #1641
@oboukili I'm having the same problem since upgrading to kustomize API version 3.3.1 (CLI version 3.2.3), and removing the `v1` in the gvk does not fix or change the problem. Also, having `v1` worked just fine as of kustomize version 3.2.0. Of course this requires a generator config like:
[code]

[2019-10-23 23:41] coderanger commented on #1410
We are also seeing this, tested with 3.1.0 and 3.2.3. Both try to interpret it as a folder.

[2019-10-24 02:42] aiotceo opened #1684 "Is there any plan to create an kubernetes application store based on kustomize?"
We know that based on helm can implement an kubernetes application store, such as kubeapps and openpitrix. So, is there any plan to create an kubernetes application store based on kustomize?

[2019-10-24 06:11] muhammad-fahad2068 commented on #689
@fassmus where are you adding the authentication for this repo git::https://bitbucket.[domain].com/scm/test/kustomization-base.git?ref=v1.0.0

If this repo is private

[2019-10-24 06:44] lentzi90 opened #1685 "Name references in annotations for CRDs"
I'm trying to use `namePrefix` together with a cert-manager `Issuer` and a normal `Ingress`. The prefix is added to the Issuer without problem, but the reference to the Issuer name in the Ingress annotation is not updated.

This is what I have:

[code]

The path contains a slash, but I'm escaping it according to [the documentation](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/

[2019-10-24 08:18] JohnPaton commented on #1682
You can use this form for cloning with ssh:
[code]

[2019-10-24 09:15] knajjars opened #1687 "Issue with --enable_alpha_goplugins_accept_panic_risk "Unknown flag""
I use SOPS plugin and have been running kustomize build with **--enable_alpha_goplugins_accept_panic_risk** for a few months until recently the flag is marked as unknown.

Nothing has changed besides that my OS was updated to MacOS Catalina, has anybody experienced a similar issue?

[2019-10-24 12:51] fassmus commented on #689
kustomize uses your local git binary for cloning. Please have a look at the official git documentation for providing credentials.

https://git-scm.com/book/en/v2/Git-Tools-Credential-Storage

[2019-10-24 16:28] jbrette commented on #1685
Looks like the version field in the kustomize-config.yaml is wrong. Have a look [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1685#preparation-step-resource1). Seems to be working ok

[2019-10-24 17:50] SudoBrendan commented on #900
Just leaving a trail for others who searched "kustomize scale" instead of "kustomize replicas" like I did:

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#replicacounttransformer

[2019-10-24 18:38] monopole commented on #1680
Hey folks, my apologies.

I've just ground out a bunch of moves to break the repo into multiple modules, and things have changed slightly.

I've updated the INSTALL.md instructions per the lastest behavior.

If anyone is terribly unhappy with the tar file (some people like the executable to be compressed and wrapped with other artifacts, some people want a bare, uncompressed executable), please ta

[2019-10-24 18:38] #1680 closed

[2019-10-24 19:19] dmayle opened #1689 "Patch Delete fails for CustomResourceDefinition"
I'm attempting to kustomize the cert-manager installation ( https://github.com/jetstack/cert-manager/releases/download/v0.11.0/cert-manager.yaml ), which for some reason includes 'status' in the CRD with empty keys.

I'm trying to strip the the status key so that it becomes useful with other tooling.  I've tried both a strategic merge patch, and a json patch, but neither work, from the following k

[2019-10-24 20:32] looztra opened #1691 "Kustomize released assets naming scheme changed again"
up to v3.2.0 => kustomize_${version}_linux_amd64
from v3.2.1 to v3.2.3 => kustomize_kustomize.v${version}_linux_amd64
v3.3.0 => kustomize_v3.3.0_linux_amd64.tar.gz

This is hard to follow when you want to script kustomize installation or maintain something like the asdf plugin for kustomize :(

[2019-10-25 04:47] lentzi90 commented on #1685
Thanks a lot! I didn't realize there was a `group` field so I put everything in `version` instead. :man_facepalming:

[2019-10-25 04:47] #1685 closed

[2019-10-25 09:19] dmayle commented on #1689
I've tried updating to the kustomize in kubectl 1.16.2-00  (Debian package maintained by kubernetes.io) and it stil has the same behavior.  The strategic patch merge leaves this:
[code]

[2019-10-25 20:26] sidps commented on #1248
What is the best workaround?

[2019-10-25 20:30] tkellen commented on #1248
There isn't one gh-1620 contains the fix but we can't merge it unless we ignore the other issue it creates.

[2019-10-25 20:57] ryandbump opened #1695 "Configured PrefixSuffixTransformer does not update back references"
The following example reproduces the issue I am seeing.

Setup:
[code]

[code]

Test:
[code]

Result:
[code]

Expectations:

I expected the `envFrom/secretRef/name` to be update to `group-service`. I have been able to get a configured PrefixSuffixTransformer to properly update the back references by including the kind `Deployment` in the `fieldSpecs` for the transformer. The issue with this soluti

[2019-10-25 21:11] snarlysodboxer opened #1696 "Overlay configs for custom generators do not override base configs"
I'm using Kustomize 3.2.0.

It seems to be impossible to use a base/overlay setup for custom generator configs. Generator configs in overlays do not override generator configs in base, at least not prior to running the custom plugin. E.G.

#### Base (for a staging environment):
kustomization.yaml:
[code]
mySecretGetter.yaml:
[code]
#### Overlay (for a production environment):
kustomization.yaml:
[

[2019-10-25 23:51] vreon commented on #1691
Related:
- #1602
- Banno/asdf-kustomize#2 (thanks for this @looztra)

[2019-10-25 23:53] vreon commented on #1687
Which version of kustomize are you using? In recent versions the flag is named `--enable_alpha_plugins`

[2019-10-25 23:57] jbrette commented on #1248
Our project is needing that feature. Also the PR had been left rotten for four months, like a lot of things we have to maintain the fork until a feature matching that need is actually implemented in kustomize.

So if you [check here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1248_b) you will see that is actually work.

To gain access to the feature, just clone the

[2019-10-26 01:03] tkellen commented on #1248
@jbrette I'm still unable to get the use-case from gh-1600 running using your fork. Would you expect that to work? At the risk of being repetitive, here is again (it fails with the allinone branch @ b56479f34c670fe5d8658b6df68443397930b892):

[code]

I'm currently out of ideas given that gh-1620 isn't a viable solution. I could probably dive in and find some way to rectify the issue but at this po

[2019-10-26 02:09] jbrette commented on #1248
This is solved [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1251_g)

[2019-10-26 02:19] tkellen opened #1697 "would kustomize support a `preparse` flag?"
The purpose of the flag would be to execute a given command for every defined resource and use the stdout produced from the command as the input for the file. This is an alternate option for #1683 that could provide a method for kustomize to offer templating to end-users without taking on the responsibility of templating.

[2019-10-26 02:20] tkellen commented on #1697
...assuming yes I'd be happy to submit a PR for this.

[2019-10-26 02:24] tkellen commented on #1697
Apologies for the noise, I just realized this could cause incompatibilities between representations of kustomization.yml files located at disparate sources.

[2019-10-26 02:24] #1697 closed

[2019-10-27 02:31] #801 closed

[2019-10-27 02:45] yujunz commented on #1650
How does the automated commit corrupt the release?

[2019-10-27 16:49] #1627 closed

[2019-10-28 07:17] Oduig commented on #915
/remove-lifecycle rotten

[2019-10-28 17:29] dsekhart opened #1700 "is it possible to rename a specific object instead of using nameprefix or suffix."
I am trying to create PV for different environments along with other resources. In my case since each environment has it's own namespace, I have no need to blanketly apply name prefix or suffix. But in case of PVs since they are cluster resources, I need the names to be different for each environment. I could handle this outside of the application deployment, but I am trying to explore if I can ke

[2019-10-28 17:35] Liujingfang1 commented on #1700
This should work.

Or you can put PV yaml in a different base. Then have different overlays, where you can add nameprefix or namesuffix. These overlays are used in the corresponding application overlay.

[2019-10-28 21:02] austinchambers commented on #1650
Related brew issue is here: https://github.com/Homebrew/homebrew-core/issues/45909

[2019-10-29 11:33] muhammad-fahad2068 opened #1705 "variations of Kustomization build"
Hi,

By running (kustomization build .)  its is generating one big output of all the files present in the base

Is there any way I can get the output which only has one Deployment resource with name xxxx that I give in command

Kindly let me know

[2019-10-29 11:36] #1687 closed

[2019-10-29 11:47] knajjars commented on #1650
Thanks!

[2019-10-29 18:31] jslusher opened #1706 "Patches not applied when used alongside patchesStrategicMerge"
Kustomize version = 3.2.3

kustomization.yaml:
[code]

I have an overlay that is trying to apply a few patches along with a couple of `patchesStrategicMerge` objects. The strategic merge object are applied, but the patches are not. If I remove the strategic merge objects from the kustomization the patches are again applied. This was working in v1.0.11 but when I try to use version 3.2.3 the patche

[2019-10-29 18:42] Liujingfang1 commented on #1706
In Kusotmize 2.0, `patches` is marked deprecated.

In 3.2.3, `patches` have different [syntax](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#field-name-patches). This change is since 3.1.0 and here is the [release note](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v3.1.0.md#extended-patches).
Please change it to
[code]

[2019-10-29 18:48] Liujingfang1 commented on #1705
Do you mean you want to filter the Deployment with name xxxx out?

Kusotmize dosn't support it, but there is a workaround. You can create a direction, say `output`. Then run
[code]
When the flag `--output` points to a directory, Kusotmize splits the output into multiple files, with the names indicating gorup, version, kind, name of resources.
So you can look for the file with the filename containi

[2019-10-29 18:51] muhammad-fahad2068 commented on #1705
Thank you Liujingfang1
Let me try

[2019-10-29 18:53] Liujingfang1 commented on #1696
In the overlay, instead of adding `mySecretGetter.yaml` as generators, add it as a patch.
[code]

[2019-10-29 19:15] ludwig125 commented on #1364
I could download and use kustomize until two weeks ago, but today I failed.

So, I did this command for check
[code]

I got pluginator_v1.1.0_linux_amd64.tar.gz. So, to avoid pluginator, I add `grep kustomize_ `, but got tar.gz

[code]

Finally, I fixed this with `grep -v tar.gz `

[code]

[2019-10-29 20:29] Liujingfang1 commented on #1689
So far we haven't updated the kustomize inside kubectl. So different kubectl should have the same behavior on `kubectl kustomize`. They all use kustomize 2.0.3.

Then, the strategic merge patch doesn't work with `status` on CustomResourceDefinition since this field doesn't have "x-kubernetes-patch-merge-key" in its openapi spec.

You can use json patch to delete `status`. The one you provided here

[2019-10-29 20:29] #1689 closed

[2019-10-29 21:49] mrbobbytables opened #1708 "Clean up outside collaborators"
Hey there @kubernetes-sigs/kustomize-admins ,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through thei

[2019-10-29 22:20] snarlysodboxer commented on #1696
@Liujingfang1 Thank you. I tried that. The problem is it first runs the plugin with `secretsProjectID: 1234`, even though the patch later changes it to `secretsProjectID: 5678`. This fails because where my production overlay is being run, it's credentials are not authenticated to the staging project ID `1234`, only the production project ID `5678`. Then, since the base didn't produce the object fr

[2019-10-30 11:05] aceeric opened #1710 "Variable replacement seems inconsistent"
Folks, given the following directory structure:

[code]

And the following files in that directory structure with the following content:

**./kustomize/alert-ns-patch.yaml**
[code]

**./kustomize/service-monitor.yaml**
[code]

**./kustomize/set-svc-mon-ns.yaml**
[code]

**./kustomize/catalog-source.yaml**
[code]

**./kustomize/kustomization.yaml**
[code]

**./kustomize/prometheus.yaml**
[code]

**

[2019-10-30 13:24] jbrette commented on #1710
Looks to be working ok: have a look [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1710#verification-step-expected0)

[2019-10-30 13:43] aceeric commented on #1710
Interesting. I should have included this - can you compare with your runtime?
[code]

[2019-10-30 15:09] #1710 closed

[2019-10-30 15:58] pwittrock opened #1711 "Running pre-commit.sh on Mac modifies all the plugins"
Pluginator sets the os as a comment on the files it generates.  This means the generated checked in code will be different when run on Mac vs Linux vs Windows:

[code]

diff:

[code]

[2019-10-30 18:15] jslusher commented on #1706
@Liujingfang1 I totally missed that. Thank you for the quick response!

[2019-10-30 18:15] #1706 closed

[2019-10-30 22:40] anth0d opened #1713 "Kustomize vars not applied to Namespace resources"
You can run this to reproduce the issue. (Thanks to @tkellen for the idea on how to share repro steps easily)

Expected: `$(MY_NAMESPACE)` is actually substituted.

[code]

Output:
[code]

[2019-10-30 23:20] jbrette commented on #1713
Looks to be working ok. [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1713).

[2019-10-31 06:08] #1147 closed

[2019-10-31 11:25] thatsmydoing commented on #1552
Fetching with a commit hash seems to fail if your version of git is too old. We've seen this happen with git version 2.11

[2019-10-31 12:52] aceeric opened #1715 "Feature request - merge patch handles list of dictionaries"
If a CR looks like this:
[code]
Then conceptually I would like to be able to specify a patch that expresses this:
[code]
Resulting in:
[code]
This doesn't work:
[code]
Because of:
[code]

[2019-10-31 13:17] jbrette commented on #1715
There is actually a user friendly version of the feature using SMP merge even for CRDs. Have a look [here]( https://github.com/keleustes/kustomize/tree/airshipctl/examples/crds).

1 You have to use the kustomize/api module in your own executable instead of the kustomize binary. The key is to have somewhere the following [scheme registration]( https://github.com/keleustes/kustomize/blob/airshipctl/

[2019-10-31 17:59] aceeric commented on #1715
Ok thank you - I will take a look.

[2019-11-01 16:26] dsyer opened #1718 "Spring boot example doesn't work as a remote resource"
The example in the [docs](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) works:

[code]

but another example doesn't:

[code]

It looks like a bug potentially, because the only obvious difference is that the overlay in the second case is not a sibling of the base.

[2019-11-02 10:35] davidmogar opened #1721 "Variable is expected to be string"
I'm replacing a variable in my base to map the replicas in a Deployment with the minReplicas in a HorizontalPodAutoscaler. This is the basic config:

Deployment:
[code]
HorizontalPodAutoscaler:
[code]
Configuration for varReferences:
[code]
kustomization.yaml:
[code]

This is working as expected and the variable gets replaced. But, when I try to kustomize an overlay which only contains this:
[code

[2019-11-02 10:41] davidmogar commented on #1721
I see that if I change the HorizontalPodAutoscaler instead of the replicas directly, which maps to the Deployment, it works as expected. Shouldn't be possible in anyway to do what I'm trying to do? I would expect the Deployment replicas to be different from the minReplicas in the HorizontalPodAutoscaler.

[2019-11-02 22:09] jbrette commented on #1721
You should probably use patchesStrategicMerge instead. Check [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1721)

[2019-11-03 10:57] davidmogar commented on #1721
You don't use vars in the way the documentation shows. Is this suppose to be a new way to do it? Can you link me to some info about this?

[2019-11-03 11:19] sttts commented on #976
/remove-lifecycle stale

[2019-11-03 17:39] jbrette commented on #1721
sorry. Added some comments in the README.md on how to proceed and declare the variable manually you don't have access to the autovar feature.

[2019-11-03 20:02] jbrette commented on #1718
This is not really not the actual source of the issues
1) The staging directory you picked is pointing at base which does not have a kustomization.yaml. This was done on purpose as part of the tutorial
2) The configmap section of the staging/kustomization.yaml is using a construct which has been deprecated.

For more detail to your questions, have a look [here where your issue has been reproduced]

[2019-11-03 20:24] davidmogar commented on #1721
Is that autovar [this](https://github.com/kubernetes-sigs/kustomize/pull/1217)? Can you add a comment on this? I don't understand if it's something we should actively use from a fork or if we should do it manually. Is a future that is coming or has been closed for good?

[2019-11-03 22:00] dsyer commented on #1718
Thanks for that. I'm not really sure how to interpret though. Your links are all to someone else's repo. Is it fixed or going to be fixed here? What's the point?

[2019-11-04 00:15] phillycheeze commented on #1553
Just throwing out another use case for inheriting `vars` from an overlay for non-secrets.

`$ base/kustomize.yaml`

[code]

`$ base/deployment.yaml`

[code]

`$ overlay/production/kustomize.yaml`

[code]

`$ overlay/production/deployment.yaml`

[code]

We are using a monorepo with 10+ microservices, where they each have a Deployment file with a different `APP_NAME`. There are other secrets that we

[2019-11-04 00:25] jbrette commented on #1721
1) The autovar feature was left rotten for four months like four or fives features PR which are needed for our project.

2) Without the autovar feature, we had kustomization.yaml which were 3000 lines long, so basically you spend more time trying to generate and manage your kustomization.yaml than getting actual work done. The autovar feature is not modifying the syntax of the kustomization.yaml s

[2019-11-04 09:51] philhug opened #1727 "VerticalPodAutoscaler: targetRef not updated with namePrefix"
Example:
kustomization.yaml:
[code]
vpa.yaml:
[code]

Output:
[code]

`name: the-deployment` should have been replace by `name: dev-the-deployment`

[2019-11-04 12:39] micke commented on #586
I wouldn't call this issue closed...

[2019-11-04 14:36] jbrette commented on #1727
Thanks for using the VerticalPodAutoscaler. Did not know they were existing. But since those are CRDs, they are not included in the default kustomize configuration. Here is how you need to configure [your CRDs](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1727#preparation-step-resource1)

[2019-11-04 14:39] anth0d commented on #1713
That example doesn't work for me as written. There are lines in "Preparation Step Other0" (`kustomization.yml`) which are commented out. Also the fully-qualified reference `$(ServiceAccount.my-service-account.metadata.namespace)` does not work at all for me.

If I add an additional configuration (`configurations:`) pointing to an additional file containing a `varReference`, and reference the var n

[2019-11-05 03:14] xmlking opened #1733 "Error merging common config with multiple microservice's configMap"
I have configMap for each microservice like this:

[code]

I want to merge bellow  common  config with each microservice's  `configMap`

[code]

I am getting `Error: accumulating resources: recursed accumulation of... found multiple objects `
[code]

Source https://github.com/xmlking/micro-starter-kit/tree/develop/deploy/bases/micros

### Are there any alternative way to accomplish this?

#### Str

[2019-11-05 08:01] dove-young opened #1734 "well-defined vars that were never replaced: EXTERNAL_IP"
Hit error when refer to `ConfigMap` data in `vars`.  And it seems like this error only happen to `EXTERNAL_IP` variable.   `EXTERNAL_PORT` variable does not fails.

Here is my `kustomization.yaml`

[code]

[code]

[code]

here is `kustomize version`

[code]

[2019-11-05 10:17] dmayle commented on #1689
I just wanted to leave a quick thank you here.  This is exactly what I was missing!

[2019-11-05 13:18] jbrette commented on #1734
you are just missing the varreference. check [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1734)

[2019-11-05 13:29] jbrette commented on #1713
Added comment check [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1713). Referencing one object into another is really error prone in Kustomize.
Over the last week alone, #1734 and #1721 had the same cause.

If I grep for varReference in the list of issues, so similar to your issue:
#680
#952
#964
#976
#1190
#1250
#1251
#1268
#1295
#1295
#1367
#1390
#1540
#1553

[2019-11-05 13:32] jbrette commented on #1733
When using you example with the latest version of kustomize, it seems to work ok. check [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1733). Must be missing a piece of information.

[2019-11-05 14:09] gregorybrzeski commented on #119
@tprobinson I support your idea of higher layer switch/flag which would enable globing, it would satisfy all parties in this discussion without being a breaking change. The naming of this flag is important as well as it should allow for control of globing for other keys in future. More granular control than allow/deny on all chosen keys.

I believe adding additional keys like `baseGlobs` adds addi

[2019-11-06 01:16] yujunz opened #1735 "Idea: vendor external resources including non-kustomize manifests"
Remote build of kustomize could be slow if the repository is huge while we only need a small piece from it. For example, when adding https://github.com/argoproj/argo-cd/tree/master/manifests/cluster-install as a remote resource, kustomize needs to clone the whole repository which takes a long time.

The idea of vendor external resources is similar to `go mod vendor` which makes vendored copy of de

[2019-11-06 01:46] bzub commented on #1735
Similar issue: https://github.com/kubernetes-sigs/kustomize/issues/1132

Vendoring seems like it could be done easily enough outside of kustomization using git submodule, git subtree or simple forking/cloning.

To me it would only be worth mimicking go modules if kustomize also supported similar go.mod/go.sum validations. Otherwise the same issues with latency and security for remote bases would r

[2019-11-06 01:48] bzub commented on #1735
The ability to specify a git clone depth like [go-getter](https://github.com/hashicorp/go-getter#git-git) does could satisfy a lot of use-cases in a simple way.

[2019-11-06 02:16] yujunz commented on #1735
We did implement a go-getter plugin as in https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/someteam.example.com/v1/gogetter .

[2019-11-06 02:23] yujunz commented on #1735
go-getter supports checksum validation, subdirectory and almost everything we want for dependency management. The current drawbacks is it requires extra configuration steps to enable the plugin and building with alpha flag. Maybe we just need to connecting the dots to make life easier for end users.

[2019-11-06 03:01] yujunz commented on #1735
A quick example in https://github.com/yujunz/kustomize-vendor-example

[2019-11-06 08:46] dsyer commented on #759
This issue should stay alive. Lack of activity is no measure of interest here. We are waiting for something to actually happen.

[2019-11-06 08:56] dsyer opened #1736 "Better support for shared patches"
I don't think #868 was adequately resolved by adding a CLI flag as a workaround (`--load_restrictor none`). The security concerns that led to the flag are real, but the solution is head-buttingly frustrating.  There seems to be simply no sane way to share patches between overlays without that CLI flag, and it shouldn't IMO be necessary to switch off a security feature in order to do a "normal" bui

[2019-11-06 09:21] dsyer opened #1737 "Support for variable replacement in literals"
Currently, to get an env var to point to a service name, I have to do this (which makes the k8s resource into a template - the famous anti-pattern that no-one wanted but we ended up with anyway):

[code]

I also had to create an `env` entry in my Deployment that I didn't really want - I prefer to use a ConfigMap. What I would like is to put that placeholder in `kustomization.yaml` via a literal (o

[2019-11-06 09:41] pietervincken commented on #1735
If I'm not mistaken the git clone is already performing a shallow clone? (see https://github.com/kubernetes-sigs/kustomize/blob/644f2ddcdc3123b285f86e3e1d288b540042e4a1/api/git/cloner.go#L69
). Are you sure it is slow due to the git clone?

We've experienced slow (30-60s) builds as well, but from the verbose logging is seems that it's actually all the processing that is performed, not the git clon

[2019-11-06 13:32] tkellen commented on #1737
Dupe of: https://github.com/kubernetes-sigs/kustomize/issues/318.
Also see: https://github.com/kubernetes-sigs/kustomize/pull/1620#issuecomment-542375406

It would probably be best if you avoided this rabbit hole and just used envsubst instead.

[2019-11-06 13:34] tkellen commented on #1737
At this point a real contribution around vars to this project would be a PR that adds loudly to the documentation how broken vars are and encourages folks to consider this responsibility (var handling, any sort of templating at all) outside the scope of kustomize.

[2019-11-06 13:59] dsyer commented on #1737
I'm not sure I understand, but I'm not really very deep in any rabbit hole right now. Maybe you can spare some time to explain a bit more to someone who doesn't have as good an understanding of how kustomize works.

My reading of #318 was that it is about something different (I did find that one before I opened this issue). Isn't it? It says it's about literals as the value of vars. Maybe it morph

[2019-11-06 14:22] bkuschel commented on #1737
Variables are only "bound" in the output resources as a final step after the top level build has finished, even if declared in a child build. What this means is that any variables that are "consumed" by transformers/generators as input that don't have a direct representation in the final output are never substituted.
Further, variable substitution is only performed on output `resources`, since you

[2019-11-06 14:25] bkuschel commented on #1737
Here is a transformer we created that does kustomize child level build substitution. It has some examples.
https://github.com/qlik-oss/kustomize-plugins/tree/master/kustomize/plugin/qlik.com/v1/supervars

[2019-11-06 15:49] bkuschel commented on #1737
@dsyer actually, in your example the literal _does_ get passed through but its not included in the varRefences. You need to create a configuration with a new varReferences that contains the kind 'ConfigMap' and path to your variable.
 example:
varreferences.yaml:
[code]
kustomization.yaml:
[code]

[2019-11-06 16:14] dsyer commented on #1737
That was helpful, and I didn't understand your first comment at all, so thanks for taking the time. If anyone else is trying it, I think `varreference.yaml` has to be:

[code]

[2019-11-06 18:37] jbrette commented on #1737
@dsyer @bkuschel Have a look at [that example]( https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0318_b).

We did withdraw the PRs solving the needs you are describing the day we were told that VAR will be removed altogether from kustomize support.

Famous and very simple #506  use case is also solved too: https://github.com/keleustes/kustomize/tree/allinone/examples/issu

[2019-11-07 06:02] bkuschel commented on #1737
@dsyer sorry for the ramble. Basically secretGenerator will not work for your example.

[2019-11-07 06:48] bkuschel commented on #1737
@jbrete The variable collision problem is a consequence of the the current design which only declares the binding and doesn’t do the substitution at the child build level, only at the very end. So, which binding to use is not problem if you substitute the value where the binding is declared and reconcile the values further upstream.
Perhaps somebody could explain the rationale behind the current d

[2019-11-07 07:36] linkvt commented on #1568
Thanks @bzub, works like a charm!
Info for all trying to use `kubectl`, it might not work if an outdated version of kustomize is used.

[2019-11-07 07:36] #1568 closed

[2019-11-07 13:34] tkellen commented on #1736
Another option would be support for environment variables to configure the behavior of kustomize. Another option would be to allow any kustomization to state that no external dependencies are allowed further down the tree (my project doesn't use any external dependencies and thus doesn't care about this security concern).

@dsyer I've hit so many issues like this I now have a wrapper script that m

[2019-11-07 19:32] DustinChaloupka opened #1747 "Image Transformer Empty Containers"
Similar to #890, but on an empty `containers` or `initContainers` and on any type of resource:

**test.yaml**
[code]
**kustomization.yaml**
[code]
Either one can be empty and doing a `kustomize build` will result in:
[code]

[2019-11-07 20:15] walkamongus commented on #1632
in my testing it seems that `commonLabels` merging only occurs in the context of the inheritance tree of a single base so merging between two bases does not occur

[2019-11-07 22:42] oke-py opened #1751 "Running the tests locally fails"
Running the tests locally fails as below.
[code]

### Envirionment

[code]

### Possible reason

Recently directory structure changed.

[code]

[2019-11-07 23:00] oke-py opened #1752 "mac dev environment setup fails"
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/macDevGuide.md

### Problem

I cannot install sed via brew.

[code]

### Proposed Solution

`brew install coreutils wget gnu-sed`?

[2019-11-07 23:52] pwittrock opened #1756 "Document merge rules for kyaml merge libraries"
- Document in commands that merge
- Document in the libraries

[2019-11-08 04:54] xmlking commented on #1733
Please uncommit two comments  here , to reproduce the issue. https://github.com/keleustes/kustomize/blob/allinone/examples/issues/issue_1733/bases/micros/kustomization.yaml#L19
I make it  temporarily work by using   Common env.

My goal is to merge per micro  ‘env-vars‘ with ‘ env-vars’ defined style the root.

[2019-11-08 05:21] 0gajun commented on #1301
@jbrette I think it seems not to be fixed 👀

[The tests](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1301) you provided works fine. However, with non-default namespace, it doesn't work.

I changed `base/kustomization.yaml` in the example like the following.

[code]

Then, `kustomize build overlay` outputs are like below.

[code]

In this case, configMap.name in Deplo

[2019-11-08 06:31] jbrette commented on #1301
What is expected is that two config-map with the same name can exist in kubernetes as long as they are in different namespaces.
In your case you are indicating:
1) generate a config-map in the default namespace,
2) get a deployment in non-default namespace to point a to config-map in the non-default namespace. Since non-default-ns/cafe-configmap does not exist, kustomize will not touch it.
==> So

[2019-11-08 07:48] #1312 closed

[2019-11-08 12:31] pgpx commented on #1251
Could another approach be to allow 'patch' kustomization files that can inject themselves into the resource tree, by effectively rewriting the resource of any kustomization that includes them.  This wouldn't require any change to the merge semantics of kustomizations, and would only really need to be a pre-processing step.

We can identify whether a kustomization.yaml file is a 'patch' with a new

[2019-11-08 20:29] #677 closed

[2019-11-08 20:53] #1752 closed

[2019-11-08 21:40] jbrette commented on #1751
The kustomize master branch is kind of being refactored daily over last months

There is least three bugs in the master branch preventing you from compiling. There fixes are here:

- I think I changed the [go.mod](https://github.com/keleustes/kustomize/blob/master/pluginator/go.mod)
- [main.go](https://github.com/keleustes/kustomize/blob/master/pluginator/main.go#L127)
- Also had to change the gen

[2019-11-09 15:47] #873 closed

[2019-11-09 23:08] kunickiaj commented on #922
@jammerful I'm currently considering just using json patches because I haven't found any other way to set host values specifically for DestinationRule and VirtualService.

For example, a VirtualService patch might look like:

[code]

It's not a great solution. The other thing we've done for this which is just as ugly is to template these fields and pipe everything through envsubst 🙃

Patterns of <

[2019-11-10 15:45] neolit123 commented on #1441
/lifecycle frozen

[2019-11-10 19:04] alahijani commented on #1580
#903 could be a neat solution if it ever gets implemented.

[2019-11-11 05:44] 0gajun commented on #1301
Thanks for your really kind explanation!
I got it!

[2019-11-11 12:33] oke-py commented on #1751
I can run the tests locally now. (but unit test fails...)
I think it's another problem and this issue can be closed.

[2019-11-11 12:33] #1751 closed

[2019-11-11 14:48] kristofferahl commented on #947
Have the same issue here. Need to keep the formatting as is without breaking long lines. Any ideas?

[2019-11-11 15:14] apyrgio commented on #1251
So @pgpx, if I understand correctly, you propose a way for Kustomize to support composition by internally converting a **list** of overlays (`KustomizationPatches`):

[code]

to a **chain** of overlays:

[code]

and to do this, you define a new Kustomization kind (`KustomizationPatch`), and expect that Kustomize will treat it in a special way. Compared to @monopole's proposal (see #1292):

* You d

[2019-11-11 15:47] kautsig commented on #947
@kristofferahl, we worked around this by using:

[code]

Not sure if this is semantically 100% equal, though. It mitigated the issue in our specific case.

[2019-11-11 16:47] #1711 closed

[2019-11-11 17:10] #1756 closed

[2019-11-11 17:12] pwittrock opened #1770 "Support docker container options ContainerFilter"
File to edit: [kio/filters/container.go](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/kio/filters/container.go#L33)

Add struct options for:

- [x] Enabling network in container
- [x] Mounting local volumes into the container

[2019-11-11 17:26] pwittrock opened #1771 "Create `help api` command for printing API help from json schema"
Goal: Provide documentation for the Kustomize API Schema (and future APIs) as a **built-in `kustomize docs kustomization` command, and as markdown files.**

Secondary Goal: Provide machine-readable Kustomization API Schema for IDEs, UIs, etc to parse.

Example workflow:

Running:

[code]

Would output documentation about the Kustomization api:

e.g. something like

[code]

Ideally this documentati

[2019-11-11 18:01] pwittrock opened #1772 "Fix linter issues in kyaml package"
A number of the linters in `kyaml/.golangci.yml` and `cmd/kyaml/.golangci.yml` have been disabled.  Enable them and address the issues:

- [x] errcheck
- [ ] funlen
- [x] gochecknoinits
- [ ] goconst
- [ ] gocritic
- [x] golint
- [x] lll
- [x] scopelint
- [x] stylecheck
- [x] unparam
- [x] whitespace

[2019-11-11 23:25] kunickiaj commented on #1251
@apyrgio the example you provided here https://github.com/ioandr/kustomize-example/tree/master/diamond-with-patches is exactly the same use case we have, in case you've found a solution, I'd love to hear it.

While we could layer the different patches as overlays that doesn't really make sense because they're not related and it creates the wrong relationship between them.

In our case we have patc

[2019-11-11 23:28] apyrgio commented on #1736
Interestingly, you'll find that similar issues to this one keep popping up every
now and then. Even the wrapper script route does not surprise me, since I'm
aware of at least one more project that has implemented something along these
lines.

I've created #1251 to define what is, in my opinion, the underlying root cause
between all these issues. It goes one step further than patch sharing, but a
s

[2019-11-12 03:33] pwittrock opened #1778 "Document kyaml API for io"
- [x] create `kyaml/docs/api-conventions/README.md`

Document:

- [x] annotations to record `path` and `index` when reading + writing resources
- [ ] input / output data format for transformation functions -- e.g. `ResourceList`
- [ ] input / output protocol for commands -- e.g. stdin / stdout

[2019-11-12 08:44] smyrman commented on #1430
/remove-lifecycle stale

[2019-11-12 11:12] joncwong commented on #1771
I'll give this one a shot if that's okay.

[2019-11-12 15:35] stravag opened #1782 "Variable substitution only partly working on Jobs"
We are using kustomize bundled with kubectl and have some issues with variable replacement.

We have a `Job` and `Deployment` both make use of `initContainers` and in all we'd like to use kustomize `vars` that should automatically apply a prefix.

When applying kustomize, for the `Deployment` the variables get correctly substituted and prefixed.

**Deployment definition**
[code]

**Deployment Kust

[2019-11-12 17:05] ioandr commented on #1251
Hi @kunickiaj,

we have updated our diamond-with-patches example with an alternative approach that defines reusable components. Under the hood, these components leverage PatchTransformers, as @monopole previously suggested.

You can view the updated example here: https://github.com/ioandr/kustomize-example/tree/master/diamond-with-patches-transformers. Feel free to comment or give us any feedback.

[2019-11-12 17:08] saamalik commented on #1272
@howardjohn - could you please re-open this bug? Would be great to see if someone could write a plugin to load from GCS Google Cloud Storage buckets.

[2019-11-12 17:30] kunickiaj commented on #1251
Great, I’ll check that out. Thank you!

On Tue, Nov 12, 2019 at 09:05 Ioannis Androulidakis <
notifications@github.com> wrote:

[2019-11-12 18:16] artmello commented on #1772
I would like to give this one a try if no one is already working on it.

[2019-11-12 18:49] pwittrock commented on #1771
Done

[2019-11-12 18:50] pwittrock commented on #1772
Thanks!

[2019-11-12 18:51] pwittrock commented on #1772
I'd recommend doing them 1 at a time to minimize merge conflicts -- 1 PR per-linter.

[2019-11-12 21:45] willbeason opened #1788 "Autocomplete kyaml subcommand names"
The subcommands for `kyaml` should support bash auto completion.

[2019-11-13 04:12] dove-young opened #1790 "`kustomize` changed my file mode from `mode: 0755` to `mode: 493` in configMap volume"
Here is my kustomization,  its quite weird that `kustomize` changed my file mode from `mode: 0755`  to `mode: 493`.

[code]

Here is the result

[code]

[2019-11-13 04:14] dove-young commented on #1790
And if I change `mode: 0755` to `mode: 755`,  it works well.

[2019-11-13 06:19] dove-young commented on #1790
But anyway `mode: 755` is invalid value.

[code]

[2019-11-13 07:50] masterofkfit opened #1791 "Exec plugin examples are broken"
I tried running the BashedConfigMap example by placing the script into the right folder.

[code]

It doesn't work with any of the exec plugins examples.

Using kustomize version  `3.4.0`

[2019-11-13 08:32] #1791 closed

[2019-11-13 19:16] teozkr commented on #1790
`0755` in octal becomes `493` in decimal, the two are equivalent.

The leading `0` is the hint that it is in octal rather than decimal, similar to `0x` for hexadecimal.

[2019-11-14 09:55] oke-py opened #1796 "`make` fails if PATH includes whitespace"
`make` fails if PATH includes whitespace as below.

[code]

/assign

[2019-11-14 20:35] pwittrock commented on #1788
We should create a cmd/kyaml library which performs the bash auto-completion that bash can shell out to.

[2019-11-14 20:41] #1796 closed

[2019-11-14 22:10] pauldthomson commented on #1219
I'm still getting this problem in v3.2.1 when the base config map has no namespace and the overlay tries to add one.
base ConfigMap (from https://github.com/argoproj/argo-cd/blob/master/manifests/base/config/argocd-cm.yaml):
[code]

Kustomize version:
[code]
Overlay:
[code]

When I run `kustomize build`:
[code]

[2019-11-15 01:48] pwittrock opened #1802 "Rename `cmd/yaml` to `cmd/config`"

[2019-11-15 03:11] dove-young commented on #1790
Thanks for your information

[2019-11-15 03:11] #1790 closed

[2019-11-15 03:37] silviogutierrez commented on #168
@Liujingfang1: I think the simplest thing here would be to be able to have first class support to set a jobSuffix and be able to edit it with `kustomize edit set`

Right now, my release script (that is, script that creates a release *not* the deployment) does this:

[code]

Base has everything of mine, *including* the migration job. If we had a simple command to kustomize jobSuffix or something of

[2019-11-15 13:53] glensc commented on #526
I have exact problem, I want to create env variable based on some metadata annotations. what is the syntax to use here?

[2019-11-15 16:42] devstein commented on #277
For anyone looking for a solution to this: https://github.com/viaduct-ai/kustomize-sops

[2019-11-16 08:24] #725 closed

[2019-11-16 10:37] icy opened #1806 "left-over configmap with configMapGenerator"
Hi there,

I have a configMapGenerator as below (see next `kustomization.yaml`). When I update any configuration files (`conf/*.conf`), the configMap will have new hashes, and applying new configuration (`kustomize build | kubectl apply -f-`) will ask the daemonet/deployment to use the new configmap, but

1. The old configmap (with the old hash string) was not remove, I have to remove them manuall

[2019-11-16 12:01] icy commented on #1806
The daemonset was deployed with and old api version, which `updateStrategy` is not `rollingUpdate`. I have updated daemonset with new strategy and the daemonset upate will trigger new pod deployment.

However, there are still left-over configmaps

[2019-11-16 16:23] monopole commented on #1806
This is WAI.  The old configmaps should remain live in the cluster until garbage collectors in the cluster decides to get rid of them.  it's a bit risky to manually modify or delete configmaps.

There's a side project to develop a general approach to prune-on-apply, but it's not ready for GA yet.

[2019-11-16 16:23] #1806 closed

[2019-11-17 05:51] joncwong commented on #1770
/assign @pwittrock

[2019-11-17 23:02] #1013 closed

[2019-11-18 01:26] syedhassaanahmed commented on #901
+1

[2019-11-18 01:28] syedhassaanahmed commented on #901
/reopen

[2019-11-18 01:28] syedhassaanahmed commented on #901
/remove-lifecycle rotten

[2019-11-18 17:46] donbowman commented on #277
you can also find my solution [here](https://github.com/Agilicus/kustomize-plugins)

[2019-11-19 22:01] lundbird opened #1816 "CommonLabels apply to pod templates of Jobs and Cronjobs by default"
This can cause pods that are spun up by jobs and cronjobs to be selected by the service that selects pods with commonLabels. This can give some strange behavior when the cronjob runs and will be difficult to debug if connecting to that service. Should we consider changing the default config for this?

[2019-11-19 22:13] haiyanmeng commented on #1782
I have trouble to reproduce your issue. Can you share more info on how setup:
1) kustomize version
2) your `kustomization.yaml` file

I tested your example, and `kustomize` works well.
[code]

[2019-11-19 23:06] jcassee commented on #277
And another option: [kustomize-sopssecretgenerator](https://github.com/goabout/kustomize-sopssecretgenerator). This is an external plugin, which means it is a bit less tightly coupled to the exact Kustomize version.

[2019-11-20 04:45] amitsaha opened #1817 "Transformer exec plugin issue:"
Hi all, I am trying to write a `transformer` exec plugin to replace the name of an overlayed-manifest by something else. The transformation plugin is invoked correctly, but then `kustomize` complains that it cannot find a unique match i.e. is it trying to overlay again? The complete reproducer can be found [here](https://github.com/amitsaha/kustomize-plugin-demo).Of note is my overlay's kustomizat

[2019-11-20 05:09] amitsaha commented on #1817
Going to post a mailing list query instead.

[2019-11-20 05:09] #1817 closed

[2019-11-20 09:52] stravag commented on #1782
Hi thanks for the reply. As I mentioned we're using the `kustomize` integrated in `kubectl`

[code]

Which I believe according to the README.md in this repo is still v.2.0.3.

What's the suggested approach, use the standalone kustomize?

[2019-11-21 09:47] #1552 closed

[2019-11-21 15:27] #205 closed

[2019-11-21 17:46] no2a commented on #1422
same with 3.4.0

[2019-11-21 19:21] haiyanmeng commented on #1747
/assign @haiyanmeng

[2019-11-21 22:36] monopole commented on #519
The following test is an example of custom config for the PrefixSuffixTransformer.
The test programs it to add prefixes only to Deployment and Service, and shows how a Role is left unmodified.
https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/target/customconfigofbuiltinplugin_test.go

the plugin's config is currently oriented towards specifying which kinds to modify and ignori

[2019-11-21 22:36] #519 closed

[2019-11-22 01:26] monopole commented on #318
modulo @tkellen 's comment, this issue is asking for kustomize to become a general template engine.

[non-goal]: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#unstructured-edits
[SedTransformer]: https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/someteam.example.com/v1/sedtransformer/SedTransformer_test.

That's a [non-goal] of this project.  That

[2019-11-22 01:26] #318 closed

[2019-11-22 07:57] RolandTa opened #1825 "SecretGenerator not working from a multi-tier overlay configuration"
Hi

We have a multi-tier overlay configuration like Base <- Prod <- CustomerA where we define different kind of configurations similar to:

base\kustomization.yaml
[code]

base-overlay\prod\kustomization.yaml
[code]

overlays\prod\customer-a
[code]

Everything works fine, except that the secretgenerator is not working on the level of the overlays\prod\customer-a - if I move the configuration part

[2019-11-22 08:44] #157 closed

[2019-11-22 10:07] nlamirault commented on #157
/reopen

[2019-11-22 10:42] ryandawsonuk commented on #1295
I see https://github.com/kubernetes-sigs/kustomize/pull/1316 was closed without merging and the problem that led to this [still affects](https://github.com/kubeflow/examples/issues/681#issue-526630577) the most recent versions of kustomize v2 and v3. Are we any closer to deciding whether this is to be considered a bug that should be fixed or if it's to be thought of as by design?

[2019-11-22 12:13] codecyclist commented on #217
I would really appreciate this change to be reverted, as it heavily limits the flexibility and integration options for kustomize.
As a first-time kustomize user, I thought this was a bug or an early-release problem until I found that issue..

[2019-11-22 12:18] codecyclist commented on #119
+1 for simply re-introducing globbing or providing a switch to turn it back on.

[2019-11-22 12:30] JoeSainsburys commented on #119
+1 for me as well

[2019-11-22 13:10] codecyclist commented on #119
I would be happy to submit a PR for that if one of the maintainers would be so kind to express acceptance towards that approach.

[2019-11-22 20:58] george-angel commented on #1424
/remove-lifecycle stale

[2019-11-22 23:53] #1747 closed

[2019-11-23 05:07] MikelPan opened #1833 "not can create image"
kubectl kustomize  member-tenant-system

Error: json: cannot unmarshal number into Go struct field Image.newTag of type string

Examples:
  # Use the current working directory
  kubectl kustomize .

  # Use some shared configuration directory
  kubectl kustomize /home/configuration/production

  # Use a URL
  kubectl kustomize github.com/kubernetes-sigs/kustomize.git/examples/helloWorld?ref=v1.0.6

[2019-11-23 18:16] bzub commented on #1833
It sounds like a kustomization you're using has an `images:` section that defines an object or string, rather than a list/array.

Double check that it looks like this: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#usage-via-kustomizationyaml-2

[code]

[2019-11-23 18:17] #1257 closed

[2019-11-23 18:20] bzub commented on #1833
You need to put quotes around `3.6` in your kustomization.yaml.

Like:
[code]

[2019-11-23 18:24] bzub commented on #1825
I assume in the non-working case the secret is still being created, but the name references to that secret are not being updated. If so, what name are you using in your manifests to refer to the secret?

[2019-11-23 18:31] bzub commented on #1816
To make this more granular in targeting you can either separate the jobs/cronjobs vs. everything else into two kustomizations and continue using `commonLabels:` as-is, or use the label transformer [as a plugin](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#usage-via-plugin-3) and use `fieldSpecs` to target specific kinds of resources.

[2019-11-23 19:18] #1236 closed

[2019-11-23 19:18] #1234 closed

[2019-11-23 19:18] #1252 closed

[2019-11-23 20:19] #1230 closed

[2019-11-23 20:19] #1190 closed

[2019-11-23 21:20] #1150 closed

[2019-11-23 21:20] #1182 closed

[2019-11-23 21:20] #1167 closed

[2019-11-23 22:21] #1258 closed

[2019-11-23 23:22] #1125 closed

[2019-11-23 23:22] #1135 closed

[2019-11-24 00:23] #1261 closed

[2019-11-25 06:14] RolandTa commented on #1825
Exactly the secret is being created but the name is not referenced properly. I'm using the same name as in the secretGenerator
[code]

[2019-11-25 11:58] #1140 closed

[2019-11-25 12:54] rihardssceredins opened #1835 "configMapRef and secretRef in envFrom are not merged correctly"
I've created a simple sample to demonstrate the incorrent behaviour. I'm trying to append `secretRef` in `envFrom` with patchesStrategicMerge but after merge `configMapRef` is missing from `envFrom`. Am I correct in thinking that this should work as I've shown in expected output? 🤔
I also tested a similar use case with `volumeMounts` (seen in examples below) and it works correctly.

**Version of k

[2019-11-25 15:55] pascalgn commented on #1601
@gregdurham Do you think this issue could be closed now? :)

[2019-11-25 16:15] pascalgn commented on #1530
To wrap this up: In the end we decided to keep it fairly simple and just copied the folder. So the structure is now

[code]

The `env/production/kustomization.yaml` is basically the same as `env/staging/kustomization.yaml`, but references `./.base/...` (the copy)

Now we regularly copy the `base` folder to `env/production/.base`, whenever the changes have been tested and we feel safe to apply them

[2019-11-25 16:15] #1530 closed

[2019-11-25 17:03] #952 closed

[2019-11-25 17:20] lundbird commented on #1816
I ran into this issue while using the label transformers: https://github.com/kubernetes-sigs/kustomize/issues/817 because doing so overlaps with the default transformer config.

[2019-11-25 18:55] bzub commented on #1825
That looks good to me. I'm unable to reproduce this with the [latest release](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.4.0) of kustomize. Could you see if that version works?

[2019-11-25 19:10] RolandTa commented on #1825
You're totally right. I was using kubectl kustomize (no idea which exactly kustomize version though) - with the standalone kustomize version 3.4.0 everything works as expected. Sorry for the disturbance.

[2019-11-25 19:10] #1825 closed

[2019-11-25 20:26] leominov opened #1838 "Failed to build with Go plugin"
I've starts with example from documentation and all I've got was `fails to load: plugin: not implemented`.

OS:

[code]

Version:

[code]

Source code: https://github.com/kubernetes-sigs/kustomize/tree/be4d6f77b2bbcf762cf176dfb8df09ddca2555e7/plugin/someteam.example.com/v1/someservicegenerator

Steps:

[code]

`kustomization.yaml`:

[code]

`service-generator.yaml`:

[code]

I have no clue what's

[2019-11-25 20:59] gregdurham commented on #1601
Absolutely, sorry!

On Mon, Nov 25, 2019 at 7:55 AM Pascal <notifications@github.com> wrote:

[2019-11-25 21:53] pwittrock opened #1839 "Support enabling network and volumes from `run-fns`"
Support enabling network and adding volumes from `run-fns`.

To enable for a container require BOTH:

1. A flag from the run-fns command.  Either
  - `--enable network`
  - `--enable volumes`

2. The function metadata `configFn.container.network` or `configFn.container.volumes`

If any functions are specified that require network or volumes, and the flags are *not* provided, the `run-fns` command

[2019-11-26 03:44] #1802 closed

[2019-11-26 03:45] pwittrock commented on #1816
What about the first suggestion -- split the Resource into different groups?

[2019-11-26 05:16] pwittrock opened #1841 "Default cmd/config `tree` graph-structure based on owners"
`kustomize config tree` should default the graph structure to `owners` if the inputs have OwnersReferences and the graph structure wasn't explicitly specified to either `directory` or `owners`.

- Leave the default empty here: https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/cmd/tree.go
- Default the value if unset here: https://github.com/kubernetes-sigs/kustomize/blob/master/k

[2019-11-26 16:19] pwittrock opened #1843 "cmd/config: Create base image for writing Helm functions"
Assignee: @artmello

1. create a new directory in the kustomize root: `functions/helm`
2. define an API schema for running helm charts
3. write a *function* (in go) which implements the API
  - use helm template to expand the configuration -- either exec or vendor helm libraries
  - uses the kustomize kyaml libraries to merge the results back into the input

- first iteration should read the helm

[2019-11-26 16:52] muhammad-fahad2068 opened #1844 "updating volumeClaimTemplates storage in statefulset"
So in base I have defined an stateful set as it has volume claim template as describe below

  volumeClaimTemplates:
    - metadata:
        name: mypvc
        annotations:
          volume.beta.kubernetes.io/storage-class: "gp2"
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 3Gi

So when I changed the storage from 1 to 3 GB. It gi

[2019-11-26 19:14] icy opened #1846 "`$patch: delete` doesn't support CRD"
I have a patch file as below

[code]

The second directive works fine (`serviceaccount` is deleted), but the first one doesn't work, its output is as below

[code]

[2019-11-26 20:31] drennalls commented on #1721
@jbrette yes this is a real shame.. you mentioned in https://github.com/kubernetes-sigs/kustomize/issues/1721#issuecomment-549195505

a) kind gave up, removed kustomize dependency all together

..I'm at that point now as well, the amount of boilerplate I've needed to add for simple changes is really too much.

[2019-11-26 21:11] dantman commented on #903
/remove-lifecycle rotten

[2019-11-26 23:11] joshperry opened #1848 "namespace for nested configmap merge is not set"
I'm attempting to create a hierarchical set of environment based resources. Our environments are currently separated by namespaces, so in the spirit of removing duplication I am attempting to use a base definition of resources which are specialized and augmented by environment-specific overlays.

The goal is to have `kustomize build .` create the resource definitions for all environments starting

[2019-11-26 23:28] joshperry commented on #1848
If I put the namespace and base resource only one-level deep it works properly but would require a lot of duplication...

[code]

[2019-11-26 23:44] joshperry commented on #1848
If I abandon the configmap merge and duplicate the common files referenced in the configmap, it puts all the resources in the appropriate namespaces:

(all other files same as first post)
[code]

[2019-11-27 04:20] pwittrock opened #1851 "add merge3 command for 3-way merges"
The libraries for performing 3-way merges exist in kyaml:

- `kyaml/yaml/merge3`
- `kyaml/kio/filter` -- `Merge3`

It would be great to add support for performing a 3-way merge across directories.

`kustomize config merge3 --ancestor a/ --from b/ --to c/` would perform a 3-way merge between a/ b/ and c/

- add a command as `cmd/config/cmd/merge3.go`
  - copy structure of existing commands in that

[2019-11-27 05:55] pwittrock opened #1852 "Add support for attaching schema to function images -- explain"
Depends on #1771

We should allow function images run by `kustomize config run-fns` to attach schema for the api type(s) they support.  Similar to `kubectl explain`, but flattened.

[code]

[2019-11-27 05:56] pwittrock opened #1853 "Support running functions in server mode"
Support running functions in server mode, which reads the input from a request and writes the output as a response.

[code]

[2019-11-27 07:55] ChrisScottThomas commented on #1410
I had this problem, due to my remote's being private repos.  It would prompt me for credentials, then try and find the folders locally.

I resolved this by switching to ssh instead of ssh:
[code]

[2019-11-27 14:04] rosscdh commented on #1245
+1 same problem here

[2019-11-27 15:30] rosscdh commented on #1332
this is still an issue in:

[code]

[2019-11-27 15:43] rosscdh commented on #1332
*sigh* docs are bad

everywhere we have the `/-` notation for lists but.. completely breaks. I make the change below.... and its working.

[code]

[code]

[code]

[2019-11-27 16:22] rosscdh commented on #1332
ok so turns out that

[code]

this .. could be a bit clearer

[2019-11-27 16:58] icy opened #1854 "Having --- for the first object in the output"
Now the first object of the build doesn't contain a yaml document seperator

[code]

I don't know if this is required by yaml specification, but it's an inconvenience when combining multiple output

[code]
The output here can't be used by kubectl apply

[2019-11-27 20:57] pwittrock commented on #1772
@artmello Are you still planning on working on this?  Looks like @hypnoglow has completed a few.

[2019-11-27 23:36] bharatjarwal opened #1857 "Gettit error: AccumulateTarget: couldn't find target"
Hi Team,

I am trying to apply network policy on my app with kustomize but I am getting below error. If possible can someone guide me to fix this.

$ kubectl apply --kustomize='./' --record
error: AccumulateTarget: couldn't find target networking.k8s.io_v1_NetworkPolicy|default|~P|myapp|~S for json patch

**Here is my yaml file**
[code]

**Here is my netpol yaml file**

[code]

[2019-11-28 01:42] bkuschel commented on #1843
What we've also found useful is have a HelmValues transformer kind that takes HelmChart resource kinds as inputs and spits out a new HelmChart kind with the values applied. This allows for reuse of the same a HelmChart base with different values applied downstream (staging vs. prod, etc.).

[2019-11-28 02:21] leopay opened #1858 "transform service name in ingress object"
I have a file structure as follows:
[code]
base/service.yaml
[code]

cat component/foo/kustomization.yaml
[code]
cat component/foo/kustomization.yaml
[code]
cat component/ingress.yaml
[code]
run kustomize build component

[code]

[2019-11-28 16:46] monopole commented on #1009
Doing an overdue bug sweep.

This issue could have been closed when plugins were released, because they provide _support for common labels that don't get set on selectors_.

This support isn't provided by changing the behavior of the `commonLabels` field, or by introducing a new labels-oriented kustomization field alongside `commonLabels`.   It's supported by using the existing `transformers` fiel

[2019-11-28 16:53] monopole opened #1862 "Make the examples coded in tests more visible."
Do more PR's like #1861

The tests down in `api/internal/target` are useful examples of high level functionality and should be moved up to the high level public API  `krusty` package - the package that provides exactly the functionality that these tests cover.  They are buried down there for code arrangement reasons that no longer apply.

Also, the test pattern in krusty is better, because the kus

[2019-11-29 13:05] #1452 closed

[2019-11-29 13:09] Dingshujie commented on #1862
\assign

[2019-11-29 21:48] snarlysodboxer commented on #1696
I there any plan to support not running plugins until after they have been patched by overlays?

[2019-11-30 03:05] jbrette commented on #1846
Until kustomize/v3.3.0 you had very easy way to get be able to use SMP (so your $patch: delete).
You just had to do add one simple and standard line [SchemeBuilder.AddToScheme(scheme.Scheme) ](https://github.com/keleustes/kustomize/blob/issue_1846/kustomize/register/MonitoringCRDRegister.go#L20) . This is the almost the same line which invoked in the operator reconciling the CRD.

You can check yo

[2019-11-30 04:04] manlme opened #1868 "configmapGenerator generated no | or |+ for file contains trailing whitespace"
I'm trying to use kustomize to generate configmap from promethues alerts, rules and its configuration.
I need to keep the file unchanged when generating configmap.

[code]
here is the kustomization.yaml

[code]
alerts (whitespace contains at the end of kubernetes-apps)

[code]
kustomize build  output

[code]

after removing the trailing whitespace. output for kustomize build .
[code]

[2019-11-30 16:28] #1862 closed

[2019-11-30 16:29] monopole commented on #1862
thanks @Dingshujie!

[2019-11-30 19:23] lalyos opened #1873 "SedTransformer exec plugin script fails with space"
I was following the [plugin docs](https://github.com/kubernetes-sigs/kustomize/tree/master/docs/plugins#examples) and creating a working version of the sed transformer exec plugin. With a simple sed expressions it was working fine. But with any expression containing space, the plugin was failing.

The go glue code which extracts the plugin config and executes the plugin is correct, the issue is ca

[2019-12-01 06:39] joncwong commented on #1771
I'll unassign myself for now. Will pick it back up if no one else gives it a shot.

[2019-12-01 07:00] joncwong commented on #1851
/assign

[2019-12-01 15:03] mrbobbytables commented on #1708
Permissions for the above people have been cleaned up. However it looks like a few more people have been granted access. - @haiyanmeng @joncwong

@barney-s @damienr74 @haiyanmeng @joncwong -- If you need access -- Please go ahead and file for [org membership to the kubernetes-sigs org](https://github.com/kubernetes/community/blob/master/community-membership.md#member) and we can pursue adding you

[2019-12-01 15:54] #1873 closed

[2019-12-01 19:27] #1156 closed

[2019-12-02 08:10] jinchihe commented on #1295
The problem still exists in kustomize v3.4.0.

[code]
/remove-lifecycle rotten
/remove-lifecycle stale

[2019-12-02 08:11] jinchihe commented on #1295
@jbrette @monopole Could you please help to double confirm and fix this? thanks a lot!
/P1

[2019-12-02 08:54] icy commented on #1846
Thanks @jbrette for your details. I'm using kustomize/v3.4.0 now, and to work around the issue I reorganized our templates (one of them has the prometheus CRD, the other doesn't). I would wait for the incoming releases of kustomize.

[2019-12-02 16:37] hornpolish opened #1878 "duplicate "patches:" sections in kustomization.yaml are not cumulative"
if i repeat a section of the kustomization.yaml, the contents of the first section are silently ignored.  this was unexpected.

our use case as an ISV is we ship a fairly vanilla base; and a "library of example kustomizations".
we'd like a customer workflow to be "cat ex1 ex3 ex7 >>kustomization.yaml" once they determine 1,3,7 are appropriate for their setup.

the rest of this issue is in the mark

[2019-12-02 16:47] haiyanmeng commented on #1708
@mrbobbytables , all my [PRs](https://github.com/pulls?q=is%3Apr+author%3Ahaiyanmeng+archived%3Afalse+is%3Aclosed) submitted to the kubernetes-sigs org are reviewed by contributors from Google, which means that I cannot complete the Organization Membership Request. Any recommendations?

[2019-12-02 16:50] mrbobbytables commented on #1708
@haiyanmeng feel free to include me as a sponsor :)

[2019-12-02 17:21] haiyanmeng commented on #1708
Thanks for the help, Bob. Here is the membership request: https://github.com/kubernetes/org/issues/1450

[2019-12-02 19:56] digi691 commented on #1009
@monopole This link doesn't exist: https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/target/customconfigreusable_test.go

[2019-12-02 20:03] nlamirault commented on #1009
@monopole do you have an example to setup labels on metadata, without add them on selector ? Thanks.

[2019-12-02 21:52] #859 closed

[2019-12-03 02:35] monopole commented on #1009
@digi691 it moved: https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/customconfigreusable_test.go

[2019-12-03 02:36] monopole commented on #1009
@nlamirault see previous comment

[2019-12-03 07:50] sebastiansirch commented on #330
Just in case someone is looking for a workaround: Here is an example of a transformer to add labels only to the metadata block. https://github.com/viadee/kustomize-examples/tree/master/overlays/custom-metadata-labels

[2019-12-03 08:36] nlamirault commented on #1009
Thanks. Another example here: https://github.com/viadee/kustomize-examples/blob/master/overlays/custom-metadata-labels/metadataLabelTransformer.yaml

From #330

[2019-12-03 10:45] lukasmrtvy commented on #970
@Liujingfang1 does not work for me, ( kubectl v1.16.3 )
[code]
kubectl kustomize .
[code]

[2019-12-04 09:38] muhammad-fahad2068 opened #1884 "variations of Kustomize build ."
I have a base which has multiple files

can any kustomize build command break the output into multiple files but each file should contain as many resources present in base file

for example base contain a file service1.yaml and it has following resources

deployment
svc
ingress

and another file in base service2.yaml also has the same resources

can kustomize build command output the two files and

[2019-12-04 14:07] mrbobbytables commented on #1708
Now that @haiyanmeng and @joncwong have become members, all outside collaborators have been removed or joined \o/

I've created https://github.com/kubernetes/org/pull/1454 to update the teams to reflect the current individually granted permissions.

Will close this out once it is merged.

[2019-12-04 14:13] muvaf opened #1885 "Custom transformer configuration does not consider apiVersion of resources"
I am trying to use custom transformer configuration for our CRDs. I've gone through the document here https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md

The thing is the CRDs are identified only by using `kind` property. However, this causes problems when different CRDs that have the same kind but different `apiVersion`. For example, in [Crossplane]

[2019-12-04 15:18] haf-afa commented on #1009
@monopole Can I then use `kustomize edit set label version=v0.4.2` with the LabelTransformer?

[2019-12-04 15:44] jgustie opened #1886 "Autodetect fails on symlinked directory"
Calling `kustomize create --autodetect` in the presence of a symlink to a directory fails with "Error: read X: is a directory".

The walk logic in the `detectResources` function tests to see if the path is a directory, if it is not, it attempts to read it. This will work for symlinks to files but fails with the above error if the symlink points to a directory.

I was going to open a PR that just w

[2019-12-04 19:16] mrbobbytables commented on #1708
https://github.com/kubernetes/org/pull/1454 has been merged. I've gone ahead and removed the individual permissions. Going to go ahead and close.
Thanks all!

/close

[2019-12-04 19:16] #1708 closed

[2019-12-05 03:24] pgpx commented on #1251
@apyrgio sorry for the very late reply, and thanks for the detailed analysis.  Yes, you were correct in your understanding of my idea.

I've just implemented a PoC to implement this solution (see the [commits referenced above](https://github.com/pgpx/kustomize/commit/3fb8524d799ac677c214e53cccb527b86eb3835d)), and I think that only minimal changes were needed (just allowing the KustTarget of the K

[2019-12-05 11:27] vpavlin commented on #1027
@Liujingfang1 Hi, can you elaborate what does that mean that "Strategic Merge Patch does not work"? Why not? What is the issue?

I am trying to use it to delete some resources e.g.

[code]

I don't think I can do that with `patchesJson`, but kfctl fails with `Code 500 with message: couldn't generate kustomization file for component tf-job-operator` when I try to use startegic merge patch. Any thou

[2019-12-05 19:58] artmello commented on #1772
hey @pwittrock sorry for the late reply. I pushed a MR enabling linters that were passing with no errors on a local test. Will work on the others next.

[2019-12-05 21:17] bzub commented on #1858
Related issue: https://github.com/kubernetes-sigs/kustomize/issues/1695

[2019-12-05 21:24] bzub commented on #1857
I'd recommend you use the [latest release](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.4.0) of kustomize standalone, which I think will fix this issue. At least until the one built into kubectl is upgraded.

`kustomize build | kubectl apply --record`

[2019-12-05 23:19] alun commented on #1700
I've just faced a similar problem. Patching unexisting object would show me an error like:
[code]

So I ended up having 2 different bases for my `pv` in prod and `qa` my structure looks like this:
[code]

[2019-12-06 02:07] mipnw opened #1898 "Needs a `latest` tag for kustomize"
There does not seem to be an easy way to download the latest release of kustomize. The `latest` tag is currently taken by the pluginator. That would make it possible to wget latest kustomize tar.gz

[2019-12-06 06:31] chrisfowles commented on #1410
ran into this bug trying to clone private azure repos via ssh on 3.4.0

[code]

this will try and clone: git@ssh.dev.azure.com:v3/org_name/project_name

should clone git@ssh.dev.azure.com:v3/org_name/project_name/repo_name instead

[code]

will clone the correct url

[2019-12-06 09:05] surki opened #1899 "namePrefix should not apply to declared namespace"
This is a duplicate of #235, as that fix seems to have been lost, we could still see the issue.
Lot of us are using json patch hack to overcome this, we would like to have this fixed in kustomize.

[2019-12-06 11:07] RobertDiPaolo commented on #1256
It also seems that you need to quote the path if you use the ~1 escape, e.g.
`
- op: add
  path: "/metadata/annotations/traefik.ingress.kubernetes.io~1redirect-permanent"
  value: false
`

[2019-12-06 16:37] aceeric opened #1900 "Variable replacement in a Secret"
Folks - please refer to the attached script. We're generating a secret with namespaces substituted via variable replacement from a ConfigMap. The formatting of the array in the secret is not correct coming out of kustomize. I can overcome this  by specifying the array in the ConfigMap thus: "[ns1, ns2, ns3]" but I wondered if the yaml array format could/should be supported. Thanks.

[kustomize-iss

[2019-12-06 16:52] pwittrock opened #1901 "Support exposing network as a function option"
Assigned To: `Eddie Zaneski`

Context: `kustomize config run`

Functions should be able to request access to the network in the Resource metadata.

e.g.

[code]

- `kustomize config run` should accept the flag `--network`, which will enable network *only* on functions which have specified it as a requirement.
- if a function specifies `configFn.container.network.required=true`, and the flag is not

[2019-12-06 17:15] pwittrock opened #1902 "Support mounting volumes into functions"
Context: `kustomize config run`

Functions should be able to request access to the network in the Resource metadata.

e.g.

[code]

- if a function specifies `configFn.container.volumes` the local volumes should be mounted into the functions contain
- volumes *must* be in a directory under the config directory (no `../`)
- volumes are relative to the Resource config

## Files to change

- `kyaml/r

[2019-12-06 17:17] pwittrock opened #1903 "Create Ruby template based function example"
under `functions/examples` create an example that uses Ruby for templating an abstraction Resource

[2019-12-07 00:58] dsharp-pivotal opened #1906 "pseudo/k8s/api protobufs interferes with standard k8s.io/api packages"
We use `krusty.MakeKustomizer()` in tests of our operator. Our operator also, naturally, uses k8s.io/api packages. When we run the test that uses krusty, we get many log lines of `proto: duplicate proto type registered: %s`, since both packages register the same protos.

I understand the desire to vendor a snapshotted version of k8s packages. However, I don't think it is working as intended, since

[2019-12-07 01:19] pwittrock opened #1907 "restrict visibility of functions to Resources in their subdirectory"
For command: `kustomize config run`

Currently run is implemented to recursively find all Resources which are functions, and prurovide them all Resources from the entire directory.

e.g. given `kustomize config run dir/` with

    dir/a/function.yaml
    dir/b/resource.yaml

the function in function.yaml would see the Resources from resource.yaml, and emit new Resources as root dir

instead functi

[2019-12-07 06:21] bharatjarwal commented on #1857
Thanks for your response

[2019-12-07 06:21] #1857 closed

[2019-12-07 06:22] bharatjarwal commented on #1857
NA

[2019-12-07 19:11] bzub opened #1908 "plugin tests failing - "unable to find plugin root""
Running `make` on MacOS or `docker run -it golang` (linux) fails for me ever since https://github.com/kubernetes-sigs/kustomize/commit/038c0706267e5795c5cec00cc59b18f67e712e41. Not sure why CI passes.

[code]

[2019-12-07 20:48] #1313 closed

[2019-12-07 23:48] jbrette commented on #1906
You are not the only one who realized how deeply the apimachine code  copy/paste into pseudo negatively impacted the usability of the k8s.io/api

It seems that copy/paste of 3000 files was trying to break the dependency loop in kubectl where kustomize is imported, an finally be able to upgrade "kubectl apply -k"from kustomize 2.x to kustomize 3 or 4.

- The side effect is that your code cant not r

[2019-12-08 01:53] #1320 closed

[2019-12-08 01:53] #1335 closed

[2019-12-08 06:58] #1314 closed

[2019-12-08 21:13] #1339 closed

[2019-12-09 05:33] muhammad-fahad2068 opened #1912 "Restrict few yaml files from base"
I have kustomization.yaml as below

bases:
  - git@github.com:repoistory/repo-name.git

above repository contains many YAML files that Kustomize will use to stdout

Can I restrict any manifest to be used

Is there any way I can ask kustomize not to use this manifest from base and expect it use all?

[2019-12-09 13:38] muvaf commented on #345
It'd be awesome to have that or another feature that achieves this. What I'm implementing right now is that there is a Custom Resource in the Kubernetes cluster and my controller manipulates `kustomization.yaml` file with the values from that specific custom resource, then run kustomize and then deploy the generated YAMLs per CR instance.

Just like @Betula-L 's case, there are some configuration

[2019-12-09 17:56] goldsam opened #1914 "Cannot run v3.4.0 in windows containers"
Running in a windows container produces the following error/stacktrace:
[code]

This seems to be related to https://github.com/golang/go/issues/35447

[2019-12-09 19:29] apyrgio commented on #1251
Sure, I'd find it very interesting and would be welcome to test it. For instance, there is a trivial diamond example in [ioandr/kustomize-example], that is already implemented in two ways:

* With typical kustomize patches (see [`diamond-with-patches`]), which fails.
* With kustomize patch transformers (see [`diamond-with-patches-transformers`]), which passes.

When you have something in a working

[2019-12-09 20:19] muvaf opened #1915 "Importing kustomize causes duplicate proto registration errors"
In Crossplane, I'm writing a controller that imports kustomize api and calls kustomize via Go. I got it working and it's well functioning. However, the following errors are printed since I imported kustomize:
[code]

It simply lists all native Kubernetes types. I dog a little bit and saw that both `kustomize` and `k8s` api imports have the similar `init()` functions that registers the native Kuber

[2019-12-09 20:36] #1345 closed

[2019-12-09 22:47] frankfarzan opened #1918 "Add e2e tests for "kustomize config run""
Current unit tests stub out 'docker' and can't catch issue like the one fixed in PR #1917.

[2019-12-09 23:28] bzub opened #1919 "Make compiling all (external) Go plugins easier."
A script to detect/build kustomize Go plugins could be useful for people that rely heavily on their own or those [included in this repo](https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/someteam.example.com/v1).

If the direction of the project is to move away from these plugins in favor of a containerized workflow (`kustomize config`) then this could be closed.

[2019-12-10 00:37] #1788 closed

[2019-12-10 01:00] jroper commented on #51
Agree that this is very clunky from a CD perspective, editing files that are already checked in to git as part of a deploy process feels so wrong.

[2019-12-10 01:11] jroper commented on #51
What would be nice is if the `kustomize` maintainers actually published some best practices for how to do this in the real world - do the maintainers seriously expect us to write scripts that leave the git repo in a modified with unchecked changes state after doing a deploy? I've always been taught that that's a bad practice. The solution I have with my scripts at the moment is to create a `kustom

[2019-12-10 01:23] tkellen commented on #51
Our project uses something like this for deploying services we've built and control the entire config for:

[code]

Will be adding envsubst to this soon as well to paper over how broken variables are.

[2019-12-10 01:48] tsloughter commented on #51
I created a transformer plugin https://github.com/tsloughter/kustomize-git-ref-transformer

[2019-12-10 04:36] oke-py opened #1923 "(doc): `kustomize config run` does not create StatefulSet for examples/template-go-nginx"
### Actual

This document directs modification of StatefulSet spec.

https://github.com/kubernetes-sigs/kustomize/tree/master/functions/examples/template-go-nginx

However, `kustomize config run` for this example does not create StatefulSet.
I suppose this document is base on (a copy of) heredoc example, which creates StatefulSet.
https://github.com/kubernetes-sigs/kustomize/tree/master/functions/

[2019-12-10 11:14] joncwong opened #1925 "Add tests for "kustomize config merge""
As pointed out in PR #1890, the cobra command merge3 should have its own set of tests separate from the library tests. This should be applied to the merge command as well.

[2019-12-10 14:51] muvaf commented on #1915
As far as I understand from https://github.com/golang/protobuf/issues/268#issuecomment-519756844 , in the future, that issue will cause the program to panic.

[2019-12-10 16:14] bzub commented on #1915
Are you using the [krusty](https://github.com/kubernetes-sigs/kustomize/tree/master/api/krusty) high-level API or another way? The [`kustomize` binary imports krusty](kustomize/internal/commands/build/build.go).

[2019-12-10 16:49] muvaf commented on #1915
I'm using the krusty high-level API. You can take a look at how I use kustomize here https://github.com/muvaf/configuration-stacks/pull/1/files#diff-771461f5838d27bc2ce2efe842627885R27

[2019-12-10 16:57] symbiont-sam-halliday opened #1926 "compiling from source gives bad version string"
following the instructions at https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#build-the-kustomize-cli-from-local-source I get a version string like

[code]

rather than the version matching the release tag, e.g. I expected

[code]

(with a different BuildDate, obviously)

This seems to be coming from api/provenance but if I change that file manually, it isn't picked up by

[2019-12-10 18:45] bzub commented on #1915
Possibly related to https://github.com/kubernetes-sigs/kustomize/issues/1906

[2019-12-10 18:50] jobevers commented on #1424
Currently, the kustomize version bundled with kubectl is 2.0.3.

For better or worse, this is the second hit for me on google when I search for `kubectl kustomize version`.  So, I'm trying to be helpful for future visitors.

I'm not sure if its possible to check on the command line, but there is currently a note on the README page in this repo that says which versions are included in kubectl:
http

[2019-12-11 05:07] #1319 closed

[2019-12-11 08:48] posquit0 commented on #702
I used the trick like below. It works well in my case.

[code]

[code]

[code]

[2019-12-11 10:15] symbiont-sam-halliday opened #1929 "go get / go install fails"
The instructions in https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#try-go result in the following with go 1.13.5 (on Archlinux)

[code]

I tried running these commands from the `kustomize/v3.3.0` branch, incase that was relevant, and got the same output.

[2019-12-11 18:24] #1908 closed

[2019-12-11 20:59] #1923 closed

[2019-12-11 22:27] monopole commented on #1929
Updated doc to add `GO111MODULE=on` out front, to trump GOPATH settings.

please reopen if that doesn't work for you

[2019-12-11 22:27] #1929 closed

[2019-12-11 22:29] monopole commented on #1926
That's WAI.  This is only set when publishing at a specific tag, using --ldflags

building from head won't / cannot set this.

[2019-12-11 22:29] #1926 closed

[2019-12-11 22:36] monopole commented on #1906
https://github.com/kubernetes-sigs/kustomize/tree/master/pseudo/k8s
needs to go.

[2019-12-11 22:38] monopole commented on #1915
same underlying cause: https://github.com/kubernetes-sigs/kustomize/tree/master/pseudo/k8s

will call this a dupe.  it will be fixed by removing pseudo/k8s

[2019-12-11 22:38] #1915 closed

[2019-12-11 23:27] monopole commented on #1898
This repo will ship several binaries, so one `latest` tag won't work.  As part of the release process, will manually add `latest_kustomize`, `latest_foo`, etc.

In the meantime, see notes at top of [INSTALL.md](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md).  The script `hack/install_kustomize.sh` is supported as a means to install the latest kustomize with a rudimentary

[2019-12-11 23:28] #1898 closed

[2019-12-11 23:48] pwittrock commented on #1906
https://github.com/kubernetes-sigs/kustomize/pull/1935

[2019-12-12 00:08] #1906 closed

[2019-12-12 00:58] antoninbas commented on #1493
Any thoughts on adding this to the default `images` transformer?

[code]

I am aware that this is not quite the ask of this issue...

[2019-12-12 00:59] antoninbas commented on #1493
/remove-lifecycle stale

[2019-12-12 02:22] jstralko opened #1938 "Ingress serviceName doesn't expand vars"
For example, the following example doesn't seem to expand the vars for serviceName in Ingress resource:

kustomization.yml:
[code]

app/kustomization.yml
[code]
app/deployment.yml
[code]
app/ingress.yml
[code]

However, the APP_SERVICE isn't expanded when I run I get the following warning:

2019/12/11 21:19:46 well-defined vars that were never replaced: APP_SERVICE

The version of kustomization I'

[2019-12-12 03:02] bzub commented on #1901
Does this replace https://github.com/kubernetes-sigs/kustomize/issues/1839 ?

[2019-12-12 03:03] bzub commented on #1902
Does this replace https://github.com/kubernetes-sigs/kustomize/issues/1839 ?

[2019-12-12 10:11] symbiont-sam-halliday commented on #1926
thanks for confirming! I am not a Go developer, could you please explain what you mean by "publishing at a specific tag using `--ldflags`"? I'd like to have a self-built binary with the correct version string (some other tooling checks it).

[2019-12-12 10:12] symbiont-sam-halliday commented on #1929
Thanks! It unfortunately has the same problem as in https://github.com/kubernetes-sigs/kustomize/issues/1926

[2019-12-12 10:27] symbiont-sam-halliday commented on #1926
I tried

[code]

but the Version is still `unknown` :man_shrugging:

[2019-12-12 10:48] symbiont-sam-halliday commented on #1926
This works!

[code]

[2019-12-12 11:50] pgpx commented on #1251
@apyrgio thanks - I've added some examples that use my `KustomizationPatch` prototype in [my fork of the kustomize-example repo](https://github.com/pgpx/kustomize-example/tree/feature-kustomizationpatch) (`feature-kustomizationpatch` branch) - the `kustomize-patch/overlays/aggregate` replicates the diamond-style example and also shows how configmaps can be overridden by patches (one of my main use

[2019-12-12 11:53] muvaf commented on #1906
@jbrette I'm looking at the fork you linked. Is there a plan to merge those extra features upstream? Especially feature 4 would be **really** useful https://github.com/keleustes/kustomize#feature-4-let-you-referinline-field-from-on-k8s-resource-to-another

[2019-12-12 17:01] rdubya16 commented on #702
I would like to chime in and express support for this as well. Our use case is as follows, so I not sure how exactly it would work. We use weave flux, kustomize and sealed-secrets.

We have a repo with the following structure.

| base |
| clusters/cluster1 |
| clusters/cluster2 |

Flux is configured with manifest generation (kustomize) and each cluster starts reading its kustomize config/yaml at i

[2019-12-12 17:56] #1919 closed

[2019-12-13 09:58] #1322 closed

[2019-12-13 13:01] #348 closed

[2019-12-13 16:05] #886 closed

[2019-12-13 16:57] pwittrock opened #1957 "`kustomize apply`: perform dry-run before applying resources"
Before applying Resources, do a server-side dry-run.

If the dry-run fails, don't perform the apply if and only if failures weren't due to a reference missing that would have been created -- e.g. the namespace was being created, and resources were being created

[2019-12-13 16:59] pwittrock opened #1958 "`kustomize apply`: sort resources when apply"
Sort resources by references when apply.  Only re-order Resources which have references to one another, and keep the others in their order.

- Namespace
- Roles
- ClusterRules

Support disabling this with a flag -- `--sort=false`

[2019-12-13 17:01] pwittrock opened #1959 "`kustomize apply`: support prune"
Default to pruning Resources from apply using new mechanism.

Support disabling with `--prune=false`

[2019-12-13 17:03] pwittrock opened #1960 "`kustomize apply`: support status"
By default, `kustomize apply` should block on Resources being fully rolled out and print status messages to the console

[2019-12-13 20:36] bzub opened #1963 "Bug with kustomize config run --fn-path"
If I have resources and functions defined in one place `resources/` then these are OK:
[code]

However if I try to use `--fn-path` to store functions in another directory `functions/` it fails:
[code]

If I copy line https://github.com/kubernetes-sigs/kustomize/blob/e0ba78f292536e896782d6f3f1ef585570006623/kyaml/runfn/runfn.go#L51 to https://github.com/kubernetes-sigs/kustomize/blob/e0ba78f292536e

[2019-12-14 05:49] ctison opened #1966 "Define custom configurations inline"
As it has been done for `patches` #1157, it would be convenient to define custom `configurations` inline as well.

[2019-12-14 06:00] ctison commented on #1966
I was refering to the `kubectl kustomize` command and it seems it is not the right place for this issue.

[2019-12-14 06:00] #1966 closed

[2019-12-14 08:19] #1337 closed

[2019-12-15 06:41] #1329 closed

[2019-12-15 10:33] d-goro opened #1968 "kustomize build --enable_alpha_plugins results permission denied"
Trying to run plugin example (secretsfromdatabase) I get following error:

failure in plugin configured via /tmp/kust-plugin-config-016052057; fork/exec /home/ubuntu/.config/[path to so file]: permission denied: fork/exec /home/ubuntu/.config/[path to so file]: permission denied

Tried kustomize of version 3.5 and 3.3.0 (installed and compiled as in manual GO111MODULE=on GOPATH=$tmpGoPath go insta

[2019-12-15 12:14] d-goro commented on #1968
Also, doing from [goPluginGuidedExample](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/goPluginGuidedExample.md) I get same results: permission denied

[2019-12-15 12:47] d-goro commented on #1524
same problem here

[2019-12-15 22:57] #1370 closed

[2019-12-16 13:29] mnuttall commented on #1380
I've reproduced this today on version `{Version:kustomize/v3.5.1 GitCommit:2c9635967a2b1469d605a91a1d040bd27c73ca7d BuildDate:2019-12-13T21:14:07Z GoOs:darwin GoArch:amd64}`
/remove-lifecycle rotten

[2019-12-16 13:30] mnuttall commented on #1380
But note https://github.com/kubernetes-sigs/kustomize/issues/1523

[2019-12-16 15:22] dijitali commented on #1500
It was mentioned in https://github.com/kubernetes-sigs/kustomize/issues/1267#issuecomment-506554768 that the intention is for each `kubectl` release to use the latest `kustomize` version.

Is this issue the correct place to be tracking progress on this?

Just for context: the mismatch in functionality is a proving bit inconvenient for us when we're trying to build automation around `kustomize`.

S

[2019-12-16 22:44] #1839 closed

[2019-12-16 22:45] pwittrock commented on #1901
Yes

Yes.  All of this is still pretty raw.  Open to suggestions here.

[2019-12-16 23:30] bzub opened #1975 "kyaml: config.kubernetes.io/index annotation should be a string"
`config.kubernetes.io/index` is a number during configuration function execution which makes the Resource technically invalid while set.

https://github.com/kubernetes-sigs/kustomize/blob/01105af14d36d4bb7f54aecf5e9d1ed40194e88a/functions/examples/validator-kubeval/image/main.go#L104-L109

[2019-12-17 03:05] pwittrock commented on #1975
I suspect it isn't an int specifically, but the yaml is ambiguous and some tools parse it as an int.

[2019-12-17 07:54] hypnoglow commented on #1772
@pwittrock It looks like all listed linter problems are solved, should we close the issue?

[2019-12-17 09:55] oke-py opened #1979 "`make all` fails [test-examples-kustomize-against-latest]"
Running `make all` locally fails.

### revision

current master branch 79a891f4881cfc780e77789a1d240d8f4bfa2598

### log
[code]

### CI

The same happened on CircleCI pull request build. ref #1978
https://travis-ci.org/kubernetes-sigs/kustomize/jobs/626095191

[2019-12-17 10:00] oke-py opened #1980 "`make all` in `cmd/config` directory fails"
Running `make all` in `cmd/config` directory locally fails.

### revision

current master branch 79a891f4881cfc780e77789a1d240d8f4bfa2598

### log
[code]

[2019-12-17 15:56] #1975 closed

[2019-12-17 18:01] haohaolee opened #1982 "resource in namespace cannot reference the resource without namespace"
Hi folks,
I am using cert-manager now, which contains a global resource `ClusterIssuer`, I want to declare a certificate in a namespace which references the ClusterIssuer, but it doesn't work.
Here is a demo to reproduce this issue:
[code]
[code]

[code]

[code]
[code]

[code]

[code]
=============================================
`kustomize build .`
[code]

========================================

[2019-12-17 18:41] dobesv commented on #106
In https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md you can see that kustomize has specifically listed this as something it will not support.

[2019-12-17 21:33] melissachang commented on #51
@bickfordb Can you please reopen this? (I can't reopen myself.)

[2019-12-17 22:45] frankfarzan opened #1987 "`kustomize config cat` missing index annotation"
git clone git@github.com:frankfarzan/foo-corp-configs.git
kustomize config cat . --wrap-kind List --wrap-version v1

Expected:

`job-creators` object should have an index since it's in a multi-object file.

Actual:

No `config.kubernetes.io/index` on any objects.

[2019-12-17 22:47] frankfarzan opened #1988 "`kustomize config cat` has an undocumented package annotation"
git clone git@github.com:frankfarzan/foo-corp-configs.git
kustomize config cat . --wrap-kind List --wrap-version v1

Objects have `config.kubernetes.io/package` which is undocumented. Should be removed if not needed anymore.

[2019-12-17 22:50] frankfarzan opened #1989 "Create `kustomize config [source|sink]`"
We need symmetrical operations for converting configs read from filesystem to ResourceList and vice versa. As part of this, need to think about how `kustomize config cat` should evolve.

[2019-12-17 22:52] frankfarzan opened #1990 "`kustomize config run`: Add support for config.k8s.io/function annotation"
It's desirable to use any object type as functionConfig. Example:

[code]

[2019-12-18 00:48] oke-py commented on #1979
Probably #1984 resolved this issue.

[2019-12-18 00:48] #1979 closed

[2019-12-18 11:20] apyrgio commented on #1251
@pgpx I built kustomize from your repo and tested it on the examples that you provided. I saw the expected results, and verified that the other examples work as well, so that's great. I also took a look at the code and, while I'm not familiar with kustomize's internals, it doesn't seem much invasive.

I only have two minor issues:

1. The "kustomization patch" phrase usually refers to the JSON/str

[2019-12-18 14:30] kYann commented on #970
Same here, I need this feature, and needing the kustomize.yaml on the remote side is not possible.

[2019-12-18 15:47] kksudo commented on #897
Can we separate with kustomize few resources from a one file to different files by kind, like helm style ?
From this one file `install.yaml`
[code]

To generate two files, like `cmap.yaml` and `sa.yaml`
`cmap.yaml`:
[code]
`sa.yaml`:
[code]

[2019-12-18 16:32] pgpx commented on #1251
@apyrgio Thanks for taking a look.  I agree that `KustomizationPatch` isn't the best name, but maybe the scope of what it allows is a bit more than just components?  (e.g. could reuse different independent changes to ConfigMaps to define endpoint URLs)  Maybe Mixin (though that's not strictly what is done here either).  Oh, and sorry about the misleading test - I think a more comprehensive set of

[2019-12-18 20:35] #1903 closed

[2019-12-18 22:05] ricochet commented on #1878
A colleague bumped into this with two configMapGenerator definitions in one kustomization.yaml. It was very surprising that the second configMapGenerator was silently ignored.

[2019-12-18 22:55] pyrho commented on #1332
@rosscdh I've had success adding a `imagePullSecrets` to all `Deployments` using Kustomize 3.5.1 using the syntax described [here](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/patchMultipleObjects.md)

For reference in case it helps you:
[code]

[2019-12-19 07:19] jpbochi commented on #1647
I'm using `resources` (*not* `bases`) pointing to a directory with a kustomization.yaml file, and I get this:

[code]

Version:

[code]

[2019-12-19 08:16] #1381 closed

[2019-12-19 10:20] pdefreitas commented on #55
To do a blue/green deployments with kustomize we can seperate bases (between deployments and other kubernetes objects) and adding 2 overlays: one for the blue step, another for the green step.
This seems to satisfy the current use case I am experiencing, but it would be nice it we could control the outputted content/files a little better.

[2019-12-19 14:55] lwille commented on #1444
Honestly I don't see why this is not treated as a bug (it's marked as `feature`):

`stringData` should just behave in the same way as `data`; it's completely unintuitive that its content will be replaced even though `kustomize.config.k8s.io/behavior: merge` is annotated in the secretGenerator's output. For the `data` key of existing secrets merging just works fine.

[2019-12-19 15:06] michaelbannister commented on #242
@Liujingfang1 the linked KEP is closed as they all moved to https://github.com/kubernetes/enhancements but I can't find the corresponding KEP there. Do you happen to know if there's still something relevant open somewhere?

Thanks

[2019-12-19 15:59] galderz opened #1996 "Support non-Kubernetes yaml?"
Are there any plans to support non-K8 files?

Aside from K8 yaml files, I also have to replace values in a non-K8 file that looks like this:

[code]

Currently this fails with:
[code]

[2019-12-19 16:35] galderz opened #1997 "Variants for array elements not working?"
What kind of variant would you need to only replace [this field](https://github.com/infinispan/infinispan-operator/blob/master/deploy/olm-catalog/infinispan-operator.clusterserviceversion.yaml#L181):

[code]

Applying this:

[code]

Results in lot of data lost:

[code]

[2019-12-19 20:28] #142 closed

[2019-12-20 01:33] #1373 closed

[2019-12-20 02:53] zachaller commented on #1510
Any updates on this?

[2019-12-20 10:34] harshalkwagh commented on #1734
@jbrette Even after adding proper varReference variable replacement is inconstant

I am trying to use replace few values in my deployment with variables. In some cases variable replacements is working properly but some of the cases its not replacing variables at all.
Example details are as below.

deployment.yaml:
[code]
Params.env:
[code]
Params.yaml:
[code]
kustomize.yaml:
[code]
config-map.yaml

[2019-12-20 15:58] 0x4c6565 commented on #1938
One way to work around this is to add a custom `varReference`:

[code]

[code]

[2019-12-20 20:15] arashbi commented on #51
Does anyone knows how skaffold does it? When I run skaffold with Kustomize, it always deploys the latest image, regardless of what kustomize specifies.

[2019-12-20 23:37] prachirp commented on #1990
https://github.com/kubernetes-sigs/kustomize/blob/e199c7f80532f4459fb5389e56d658640c7ddee4/kyaml/kio/filters/container.go#L205

[2019-12-21 06:09] pwittrock opened #2003 "Use openapi to apply correct field types in `fmt`"
depends on #2004

yaml 1.1 supports a lot of ambiguous values that parse to bool such as `yes` and `on`.  when putting these unquoted as field values -- e.g. in container args, they will be interpreted as booleans.

We should use the openapi for Kubernetes, and support loading jsonschema / openapi from files in format, and then format each field so that they are correctly parsed in yaml 1.1

e.g.

[2019-12-21 06:13] pwittrock commented on #2003
@KnVerey this might be another good issue to pick up

[2019-12-21 07:02] #1393 closed

[2019-12-21 11:06] #1395 closed

[2019-12-21 16:24] pwittrock opened #2004 "Create libraries for accessing openapi"
# Make openapi available

Rough steps:

1. Create the `kyaml/openapi` package
2. Copy https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json into a string variable
    - Write a small script to update this and add it as a Makefile target in `kyaml/Makefile`
3. Write a function to parse the the openapi variable into a struct
    - Consider using [go-swagger](https://gith

[2019-12-21 19:14] #1235 closed

[2019-12-22 12:31] #1361 closed

[2019-12-22 21:31] jstralko commented on #1938
I was not aware of this technique, thank you, this will work nicely.

[2019-12-22 21:31] #1938 closed

[2019-12-23 03:46] #1401 closed

[2019-12-23 09:43] TLmaK0 opened #2007 "Unable to patch from overlay app subfolder"
With this structure:
[code]
If I try to create a patch in /development/kustomization.yaml
[code]

It applies the patch correctly.
But if I move the patch to /development/api/kustomization.yaml
[code]
I get an `error: AccumulateTarget: failed to find an object with apps_v1_Deployment|api to apply the patch`

[code]

[2019-12-23 16:06] AliGouta opened #2008 "Referring another git repository in kustomize while git-crypting some files in the target repo"
Suppose, we have 2 git repositories: A and B and we refer repository B in some kustomize files from repository A.  These files (in repo B) are being crypted with `git-crypt`. And as a user running `kustomize build` command from repo A, I have my gpg key being declared on both repositories A and B and it is working correctly.

Example, Suppose in repository A, we have:

[code]

We run `kustomize `b

[2019-12-24 00:00] stgarf commented on #586
/reopen

[2019-12-24 11:10] joshua9519 opened #2011 "Add ability to use Gitlab SSH remote for resources"
My company uses Gitlab as Source Control and, in the past, I have been able to use SSH to access remote bases.
It seems that I am now unable to do this and Kustomize now only supports http with Gitlab. Is there any way that SSH could be added back in?

[2019-12-24 13:12] tehmoon commented on #1696
I ended up in the same situation and try to play with the suggested answer with `patchesStrategicMerge` in the overlay.
I tried to add a flag `enable: true` in the `base/mySecretGetter.yaml` that will output the current templated configuration so it could be merged to your `staging/mySecretGetter.yaml`. The the goal would to have `enable: true` in the overlay so the plugin runs correctly (there is

[2019-12-24 18:07] #1841 closed

[2019-12-24 23:48] ls-brentsmith commented on #106
TL;DR - Create a minimal base and add overlays to add on additional layers.  Optionally, use multiple bases and specify the ones you want to use in your overlays.

---
You'd need to break up your manifests, but Kustomize is very good at remerging them.
Then you can have a base that uses the minimum required and add on other resources in overlays.

Create base and overlay directories
[code]

Create

[2019-12-25 19:07] wichert commented on #642
Please keep this alive

[2019-12-26 11:05] fbiville commented on #963
/remove-lifecycle stale

[2019-12-26 18:48] adrian-gierakowski commented on #1574
/remove-lifecycle stale

[2019-12-26 20:48] mattmoyer commented on #506
/remove-lifecycle stale

[2019-12-26 20:50] mattmoyer commented on #617
/remove-lifecycle rotten

[2019-12-28 16:57] #1310 closed

[2019-12-28 18:13] ymym3412 opened #2013 "GCP BackendConfig Support"
I try to apply Cloud IAP to my GKE resources.
For Cloud IAP settings, I have to create `BackendConfig` resource .
https://cloud.google.com/iap/docs/enabling-kubernetes-howto?hl=en

I have created Secret resource by kustomize secretGenerator.

[code]

By default, secretGenerator create Secret resource with hash suffix.  And kustomize also add hash suffix in other resources like Deployment.

[code]

[2019-12-29 02:06] #1421 closed

[2019-12-30 09:40] #1477 closed

[2019-12-30 09:40] zkcarterlau commented on #1477
done

[2019-12-30 16:21] dijitali opened #2015 "Add support for patchesJson6902 in kustomize edit command"
I'm trying to use the `kustomize edit` command to manipulate a `patchesJson6902` kustomization but it looks like it's currently only able to produce the `patchesStrategicMerge` patch type.

It would be handy if [all kustomize fields](https://github.com/kubernetes-sigs/kustomize/blob/kustomize/v3.5.1/docs/fields.md) could be supported within the `edit` command.

[2019-12-31 12:39] dijitali commented on #306
Was struggling with something similar and came across this issue after googling.  Would definitely be helpful to have a bit more clarity here.

@ydewit - I think you might not be able to use `merge` there, based on [this](https://github.com/kubernetes-sigs/kustomize/blob/v3.3.1/docs/glossary.md#patchstrategicmerge):

At a guess, the `$patch` directive might also need to be placed like this:
[code]

[2020-01-02 04:11] prachirp commented on #1990
/assign @prachirp

[2020-01-02 10:55] invidian commented on #880
/remove-lifecycle stale

[2020-01-02 10:55] invidian commented on #821
/remove-lifecycle stale

[2020-01-02 12:42] JohnPaton commented on #970
Also putting in my support for this feature. I've had several PRs on various projects now trying to get maintainers to add `kustomization.yaml`s in their projects which, while good for kustomize's adoption rate, is obviously cumbersome.

Latest example: [Here](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers) Google provides a DaemonSet for installing Nvidia drivers o

[2020-01-02 15:43] #1851 closed

[2020-01-02 21:13] dobesv commented on #1415
I think a nice solution here would be to support "kustomize.config.k8s.io/needs-hash" on Jobs (and possibly arbitrary other resources).  It could rename the job according to a hash of the data in the resource spec.

[2020-01-02 21:44] Liujingfang1 commented on #2015
@phanimarupaka

[2020-01-03 15:20] MichaelVL opened #2028 "serviceAccountName not name-prefixed on Job resources"
With a base that define a service account and a Job resource and an overlay that use namePrefix to add a prefix, both the service account and job names are properly prefixed. However, the serviceAccountName field in the Job is not prefixed. On Deployment resource types, the serviceAccountName is properly prefixed.

I have created a minimal example of the issue here:

https://github.com/MichaelVL/k

[2020-01-03 19:22] tehmoon commented on #1958
I almost gave up making this work until I ended up on the `--reorder none` flag from `kustomize`.
This flag will respect the order from the yaml list, making this work as expected. Of course, you need to include your namespace resource first then.

[2020-01-03 20:36] #1990 closed

[2020-01-06 07:05] tylerauerbeck opened #2032 "Get value from Route that is only available after it has been deployed to cluster"
I currently have a use-case where I need to be able to get the `spec.host` value from an Openshift Route so that I can take that value and provide it elsewhere in a label. Is there a recommended way of getting generated values like this that may not necessarily be available prior to being run against the cluster?

[2020-01-06 07:32] prachirp opened #2033 "Make annotation names consistent"
Rename "config.kubernetes.io/local-config" to "config.k8s.io/local-config" since k8s.io is widely adopted while kubernetes.io is not. This will make kustomize annotations have a consistent "config.k8s.io" prefix.

[2020-01-06 13:07] edoardo-c opened #2034 "commonLabels altering podSelector.matchLabels"
I'm omitting files because they are not relevant to the issue I have.

I have set a "commonLabels" label "app: idp" but it seems to use it to overwite my networks settings "podSelector.matchlabels app: logstash" with the matchLabels entries.

I expected the matchLabels to be used in the metadata alone and not spread to network settings. If this is the expected behavior, what would be the recommend

[2020-01-06 18:45] prachirp commented on #1987
Let's keep the name of the index annotation as `config.k8s.io/index` in order to keep all the annotation names consistent. (https://github.com/kubernetes-sigs/kustomize/issues/2033)

[2020-01-06 18:53] prachirp commented on #1987
/assign @prachirp

[2020-01-07 09:09] #2011 closed

[2020-01-07 10:42] win5do opened #2037 "kyaml is not respecting `$patch replace|retainKeys` directives"
tree:

[code]

base content:
[code]

overlay contents:
[code]

`cd overlays && kustomize build . > output.yaml`:
[code]
In the output both `emptyDir` and `persistentVolumeClaim` field exists.

How to change volumes from emptyDir  to PVC use kustomize?

[2020-01-07 14:24] win5do commented on #2037
I know it can be achieved by json patch replace op twice. Like this:
[code]

 Is there a more convenient way?

[2020-01-07 14:47] win5do commented on #2037
After searching for information and testing, I found two methods:
[code]

[2020-01-07 20:40] streetmapp commented on #347
Also commenting in hopes that this get looked at as something that should be supported natively. Pushing jsonpatches as the solution doesn't seem viable for all use cases. For obscure things that aren't done often sure. But configuring an ingress is quite common, so having a cleaner way to kustomize that would be extremely beneficial.

[2020-01-08 02:07] iameli commented on #347
@davinkevin's referenced commit (https://github.com/davinkevin/Podcast-Server/commit/9ca4be54606925e3a8a4213384bc8de84ce7fbbf) illustrates the problem very nicely — how do I make three different variants with three different ingress rules applying to three different hosts? Here's how I'm currently solving the problem — can y'all see how this is inelegant?

Here's my base:

### broadcaster/broadcas

[2020-01-08 02:21] monopole opened #2045 "travis osx tests (mac darwin) failing to download tools"
travis tests on osx often (but not always)  fail to download related tools need in tests.

e.g.: https://travis-ci.org/kubernetes-sigs/kustomize/jobs/634020821

linux, OTOH, never fails for these reasons.

Can someone who knows more about osx on travis look into this?

[2020-01-08 09:11] edoardo-c commented on #2037
win5do, Thank you for taking the time for helping find a solution for this. I'll put it to the test right away!

[2020-01-08 11:21] edoardo-c opened #2047 "kubectl seems to fail on replicas"
My specs:
[code]

Hi all,

I am having an issue with 'replicas' in the kustomization file.

If we take the following files as an example:

[code]

[code]

If I try to apply it using kubectl's built in kustomization, I get:

[code]

But if I do it the good old fashion way,

[code]

I get

[code]

Is this a bug or am I missing something? Thank you for your help.

[2020-01-08 16:17] streetmapp commented on #901
Can this get reopened? Running into this same exact use case right now. Would be nice to have something like this or an ingress generator of sorts to streamline this.

[2020-01-08 17:21] leroy0211 commented on #720
Is this feature gone? I'm on the latest version of `kustomize` but am not be able to use this due to an error.
[code]

If necessary, I will create a new issue

[2020-01-08 20:27] huytn12 opened #2050 "no matches for OriginalId with PersistentVolume"
How to reproduce:

- Kustomize: 3.5.3
- base/kustomization.yaml:

[code]

- base/pv.yaml

[code]
- overlays/dev/pv.yaml
[code]
- overlays/dev/kustomization.yaml
[code]

- error after running `kustomize build dev`

Note:
I tried to add  `namespace: default` to the **pv.yaml** in overlays but it didn't help.

[2020-01-08 22:57] devstein commented on #1524
Same. @s10g If it helps, you can check out my [PR](https://github.com/viaduct-ai/kustomize-sops/pull/12) to upgrade our SOPS kustomize Go plugin for the recent kustomize package changes

[2020-01-09 00:25] #922 closed

[2020-01-09 02:22] monopole opened #2052 "kustomize vars - enhance or replace?"
[_vars_]: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/fields.md#vars

Kustomize has a [_vars_] feature that shipped early in the
project.  The project's view of its purpose and direction has
focussed since then, and the feature now appears as a outlier in
the kustomize feature set for reasons discussed below.

The vars feature is also a common topic in issues being filed,
not nec

[2020-01-09 02:41] monopole commented on #1782
The kubectl version lags significantly - suggest trying the standalone.

[2020-01-09 02:41] #1782 closed

[2020-01-09 08:58] wpbeckwith commented on #641
This issue should be reopened unless it has been solved and the docs don't show it.

[2020-01-09 09:57] e-minguez opened #2054 "kustomize tutorial, link to "core docs" in the header is wrong (hhttps)"
kustomize.io -> tutorial -> "core docs" link points to hhttps (hhttps://github.com/kubernetes-sigs/kustomize/blob/master/docs)

[2020-01-09 13:04] tkellen commented on #2052
Thank you for writing this up @monopole! My early vote is *rip them out ASAP*. I'll share a much more detailed justification with examples soon.

[2020-01-09 15:39] streetmapp commented on #347
Also commenting in hopes that this get looked at as something that should be supported natively. Pushing jsonpatches as the solution doesn't seem viable for all use cases. For obscure things that aren't done often sure. But configuring an ingress is quite common, so having a cleaner way to kustomize that would be extremely beneficial.

[2020-01-09 16:54] cscetbon opened #2055 "Sharing an object when applying labels"
I have x overlays that share a base made of a ConfigMap, Secret and Deployment. in each overlay I apply labels using commonLabels, add a prefix and a suffix to names, however the ConfigMap is identical for all of my overlays. How can I do to keep that file shared and not apply labels, prefix, suffix etc.. to it ?

secrets.yaml in each overlay just change the key path of the secret
[code]

[2020-01-09 17:00] dmayle opened #2056 "Can't delete a CRD, neither via strategic merge, nor via Json Patch"
I have a base document that I don't control containing CRD elements (argoproj.io/v1alpha1 Application).

I need to delete these objects using kustomize, but a strategic merge patch is failing, I imagine because it's a CRD (it just inserts the $patch: delete key-value rather than deleting the object).

I'm trying to use a json patch, but I cant target the path '/', so I have to remove the individua

[2020-01-09 17:42] #1443 closed

[2020-01-09 18:22] monopole commented on #2052
Thanks @tkellen , i'm hoping people will own some new transformers to allow that :)

[2020-01-09 20:31] devstein opened #2059 "Why does the new TestHarness not load Go plugins from $KUSTOMIZE_PLUGIN_HOME ?"
Hi,

The older test harness used to load the Go plugin from the usual `$KUSTOMIZE_PLUGIN_HOME` (or `$XDG_CONFIG_HOME/kustomize/plugin/`), but now it searches a variety of other directories. I’ve adjusted my tests to accommodate this, but this seems like a bug to me. Is there a reason for this change?

The source of the change comes from [func DeterminePluginSrcRoot(fSys filesys.FileSystem) (string

[2020-01-09 22:14] pwittrock commented on #2045
Seems to be specific to travis OSX VMs, not MacOS specifically.

[2020-01-09 22:42] pwittrock opened #2060 "using cmd/kubectl as libraries results in " ambiguous import" go module error"
[code]

[2020-01-10 05:30] jpeach opened #2068 "Kustomize doesn't fetch YAML from HTTPS URLs"
Based on the documentation , I was expecting that I could use a https:// URL as a YAML resource, but kustomize doesn't seem to find it (or doesn't follow the GitHub redirects?).

[code]

[code]

[code]

[2020-01-10 08:03] yujunz commented on #2068
AFAIK, remote target is limited to a few git repo URL scheme.

You may have a look at https://github.com/kubernetes-sigs/kustomize/blob/master/examples/goGetterGeneratorPlugin.md for your use case.

[2020-01-10 10:22] piyushGoyal2 commented on #2068
+1 .
We also want to segregate sidecars and init containers common across applications. We were planning to have following section in all applications base folders with Kustomization.yaml having
`patches:
- path: patchSidecarSplunk.yaml
  target:
    kind: Deployment`
but referring to one single file based on Github URL doesn't seem possible.

@yujunz

[2020-01-10 14:54] matti commented on #680
/remove-lifecycle stale

[2020-01-10 15:02] tkellen commented on #2052
I'm just going to start sharing stuff incrementally or I'll never say anything.

Before we even talk about vars, I think we need to agree or disagree on the veracity of this point:

If you say agree, vars need to go away. Also, unless I am mistaken, this cleanly allows the "one shot" or "diamond" approach you've outlined as being a bad practice.

---

Here is a kustomization layout that I have bee

[2020-01-10 15:14] tkellen commented on #2052
I understand and respect that hope. The lack of engagement between the maintainers of this project and would-be-contributors that I have watched over the last two years all but ensures I will not be contributing directly to this project unless I am made a maintainer or something drastic changes. At the moment I am hopeful the ideas I share will be powerful enough to evoke action.

[2020-01-10 16:52] dmayle commented on #2056
I at least understand it now, in unstractadapter.go, if the CRD is not registered, then it uses jsonpatch.MergPatch instead of strategicpatch.StrategicMergeMapPatchUsingLookupPatchMeta.

jsonpatch allows deleting of keys with a null, but I don't think I can exploit this because it needs to be a valid matching strategic patch in order to use the strategicpatchtransformer in the first place.

I'm lo

[2020-01-10 18:36] pwittrock opened #2070 "Support loading OpenAPI from sources"
/assign @KnVerey

The `openapi` package as implemented today [loads schema from a statically compiled in source](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/openapi/openapi.go#L165).

It would be useful to be able to extend these capabilities to load openAPI specs explicitly.

Example functions:

[code]

As a follow up we can consider which sources might make sense to load impli

[2020-01-10 18:36] pwittrock commented on #2070
cc @tkellen

[2020-01-10 19:37] monopole commented on #2052
I brought up diamonds above because their use surfaced problems with the global vars model.   I noted that using a diamond _solely_ as convenience to push to multiple environments as a one-shot unnecessarily complicates failures and retries - that's just a generality, i probably shouldn't have brought it up.

Diamonds without vars are allowed, and work:
- https://github.com/kubernetes-sigs/kustomi

[2020-01-10 19:43] monopole commented on #2052
As for maintainers not being engaged enough, I agree.  Let's figure that out in another context?

[2020-01-10 20:56] apelisse commented on #2070
This could be a problem of course, and might get thorny. I suspect in general the schemas are going to be "compatible", but it'd be ideal if you could verify that somehow ...

[2020-01-10 21:17] Liujingfang1 opened #2071 "document broken usage for vars"
`vars` was introduced to fetch value from one object config and inject it to another object config. It's not aiming for the general substitution or templating. `vars` is broken for use cases, as listed in #2052. We should also document those cases in kustomize documents.

[2020-01-10 21:52] alexec opened #2072 "Remote bases do not appear to work - unless path is on master?"
This should work

[code]

[code]

The path `manifests/quick-start/postgres` is not on branch `apiserverimpl`.

[2020-01-10 22:04] jpeach commented on #2068
I was reading [this](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) documentation, which made me think that all kinds of go-getter URLs were supported generally.

So this sounds like "behaves correctly"?

[2020-01-10 22:08] jpeach opened #2073 "Fine grained version checking"
I have a kustomization that does [this](https://github.com/jpeach/kustomize/blob/master/contour/base/kustomization.yaml):

[code]

This works with kustomize 3.5.3 but not with kubectl 1.17.0. It would be great to be able to signal which tool version a kustomization depends on.

[2020-01-10 22:11] jpeach commented on #2073
Related to #1424

[2020-01-10 22:59] monopole commented on #2052
Sorry - doing other things.  W/r to the black box comment:

There are two exceptions breaking this model by relying on global data
 - the var transformer (discussed ad nauseam above - no need to cover here)
 - name modifiers - currently the prefixsuffixtransformer and the hashtransformer.

Name modifiers break name references (e.g. a deployment referring to a configmap).

These references are curr

[2020-01-10 23:31] le-duane commented on #2052
Could someone suggest how to accumulate variable values down the overlay tree and apply at the last or a particular overlay using plugins?

Seems like a lot of people have differing opinions about what Kustomize should do, but for me it's about reducing duplication via overlays. Not having some kind of cohesive way to use variables would mean separating things into separate kustomizations with har

[2020-01-11 01:42] yujunz commented on #2068
@jpeach the documents says all url should be go-getter conformant. But not all go-getter url are supported. Related discussion in #923

[2020-01-11 01:50] yujunz commented on #2068
@piyushGoyal2 you are right about single file cannot be referenced

We may play some trick in go-getter plugin to make it work for generator

https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/someteam.example.com/v1/gogetter/GoGetter_test.go#L72

But it does not apply for transformers like patches.

[2020-01-11 01:51] sb2nov opened #2078 "LoadCRDs: security when using CRD definition in parent directory"
I have been trying to kustomize something where the crd definition is in another directory and i get the `error: LoadCRDs: security` is there a way to avoid this.

[code]

I want each spark job to patch an existing yaml file.

[2020-01-11 12:34] yujunz commented on #2072
It might be related to the hardcoded ref in
https://github.com/kubernetes-sigs/kustomize/blob/3af514fa9f85430f0c1557c4a0291e62112ab026/api/internal/git/cloner.go#L81

[2020-01-11 12:58] yujunz commented on #2078
Possibly related to https://github.com/kubernetes-sigs/kustomize/blob/5d4e45c24dbe5c5aee5c5767a33ee76de2f90f74/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar

Try putting a `kustomization.yaml` in the crd folder and refer the directory instead.

[2020-01-11 22:07] monopole commented on #2052
@le-duane can you be really, really specific about the use case?

[2020-01-11 23:12] le-duane commented on #2055
@cscetbon You can specify which Kind of objects to apply labels to when using the label transformer plugin explicitly.

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md#usage-via-plugin-3

[2020-01-12 00:26] cscetbon commented on #2055
@le-duane I can make it work by creating a transformer in each overlay. I can't move it to the base folder cause I need to add a specific label in each overlay. Is there a way to do it other than the options below ?
- creating the LabelTransformer in each overlay
- creating a plugin that should be copied to each machine where the deployment happens
I'd like to have something simple as **commonLabe

[2020-01-12 00:44] cscetbon commented on #2055
I also tried to put my transformer in the base and patch it in overlays but I get :

_Error: no matches for OriginalId ~G_builtin_LabelTransformer|~X|skipConfigMap; no matches for CurrentId ~G_builtin_LabelTransformer|~X|skipConfigMap; failed to find unique target for patch ~G_builtin_LabelTransformer|skipConfigMap_

It seems I can't patch builtin objects

[2020-01-12 02:31] le-duane commented on #2052
Thanks for your interest @monopole

I'm dealing with stateful apps, so maybe different than what most are used to.

Still a WIP, but basic overlay tree looks something like this:

[code]

Example with 2 separate sandbox DB clusters:

[code]

Example with 1 prod DB cluster spread across regions/kube clusters:

[code]

Two things I use Vars for.

1. There are services and endpoints which must be nam

[2020-01-12 05:14] sb2nov commented on #2078
but that means you've a copy of the CRDS for each spark job.

[2020-01-12 12:50] yujunz commented on #1695
This might be related to the subnet https://github.com/kubernetes-sigs/kustomize/blob/3af514fa9f85430f0c1557c4a0291e62112ab026/api/internal/accumulator/namereferencetransformer.go#L87 which missed the deployment somehow.

[2020-01-12 17:14] devstein commented on #1207
@Liujingfang1 What is the best approach if you want your Go plugin to generate a resource that should be merged with a base resource (i.e a generated patch)?

[2020-01-12 19:10] bzub opened #2083 "Pipeline does not execute when using "functions" dir and no input"
This does not work (functions placed under special `functions` directory):
[code]

However this does work (functions not in a special `functions` directory):
[code]

https://github.com/kubernetes-sigs/kustomize/pull/2053

[2020-01-12 20:34] pwittrock commented on #2083
/assign bzub

[2020-01-12 20:34] pwittrock commented on #2083
Good catch.  Interested in fixing it and adding a test?

[2020-01-12 20:38] pwittrock commented on #2070
@apelisse there is probably a lot someone could dig into on this if they were interested.

Maybe someone wants to override the schema because certain features are considered harmful in their organization, in which you would want to override.

Another case may be want to fix values to enumerations or regexes, in which case the schemas might be merged.

We probably don't want to make any assumptions

[2020-01-12 20:43] pwittrock opened #2084 "Support providing `--image` to run"
Steps to reproduce:

[code]

`config run` should support a `--image` flag which runs the provided function against `DIR/` with a global scope.  This should *only run the provided functional image*.  Images that are part of the package should be skipped in this mode.

Example:

    config run DIR/ --image gcr.io/foo/image:latest

Would run the `ContainerFilter` using `DIR/` as both input and output

[2020-01-12 20:46] pwittrock opened #2085 "Support reading from stdin and writing to stdout from `config run`"
Steps to reproduce:

[code]

`config run` should support reading from stdin and writing to stdout if no arguments are provided.  this would allow it to be used more effectively with `config source` and `config sink`

Example:

    # following is the equivalent of `config run DIR/`
    config source DIR/ |  config run | config source DIR/

    # following writes the functions to a different locatio

[2020-01-12 20:50] pwittrock opened #2086 "Support generating a ConfigMap as functionConfig from `config run`"
Steps to reproduce:

[code]

Depends on: #2084

`config run --image` should support generating a ConfigMap as the ResourceList functionConfig so that functions can be written so they are easily run as 1-off from the commandline.

The arguments after `--` would be converted into key-value pairs and put in a ConfigMap.

Example:

    config run DIR/ --image gcr.io/foo/image:latest -- foo=bar key=val

[2020-01-12 21:31] pwittrock opened #2087 "Support explicit declarative functions for `config run`"
We should think about how functions are declared.  Currently it is implicit by being in the directory that is run.  We should consider making it explicit with a `functions.yaml` or something which explicitly declares each function that is run.  This will make it simpler to understand what happens when `config run` is called

[code]

[2020-01-12 21:32] pwittrock commented on #2087
@bzub WDYT?  I think the way we identify and scope functions right now could be improved to be more clear.

[2020-01-12 22:59] bzub commented on #2083
Yup I am taking a look.

[2020-01-13 02:09] yujunz commented on #1695
The candidates requires same kustomize context

https://github.com/kubernetes-sigs/kustomize/blob/3af514fa9f85430f0c1557c4a0291e62112ab026/api/resmap/resmap.go#L620

Since the suffixer applies to `Secret` only, `Deployment` is not included in the candidates. This also explains why back reference is correct when you in include it in `fieldSpecs`.

[2020-01-13 05:09] yujunz commented on #1695
However, removing the context restriction will fail https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/basereusenameprefix_test.go since current implementation relies on prefix and suffix array to track the hierarchy.

There are two source of prefix suffix, one is the builtin `namePrefix` attribute which applies to all within a kustomization layer. The other is explicit transforme

[2020-01-13 09:44] piyushGoyal2 commented on #2068
@yujunz - Does it always look out for kustomization.yaml in remote repository? My assumption was that using go-getter, it just clones the repo as a sub directory in the current folder and then rest of the kustomize logic applies on top of it.

Looks like a pretty strong use case to me. What would you suggest?

[2020-01-13 10:45] yujunz commented on #2068
The go-getter plugin does not expect kustomization, you may override the command.

The builtin resource generator does looking for a directory with `kustomization.yaml` file.

[2020-01-13 15:11] bzub commented on #2087
I like the explicit ordering of function execution this could provide.

As for scoping in general, though, I actually hope that very little fine-grained resource scoping will be expected/required outside of the the config functions themselves. If scoping is meant to be a means of filtering, I don't think I'd ever use directory-based scoping.

The functions I've created so far generally set/match b

[2020-01-13 15:43] cscetbon commented on #1509
@jbrette Exactly the issue I'm facing. Any progress on that somehow ? I tried to patch the transformer loaded from the base but I got https://github.com/kubernetes-sigs/kustomize/issues/2055#issuecomment-573368448

[2020-01-13 17:21] apelisse commented on #2070
Sounds good!

[2020-01-13 18:03] brunoluiz opened #2091 "In case namePrefix config/secret not found, how to use upper level ones?"
I have a kustomize overlay which works quite well for one service. If I understood correctly, `namePrefix` transformer would allow me to create multiple services using the same template. The issue is that some of the resources might not need prefixing, such as `spec.template.spec.imagePullSecrets`.This, for example, leads to image pull error.

Is there a way to filter this specific field when appl

[2020-01-13 23:49] monopole commented on #1912
If you want to use the remote URL as a base, please fork the remote, make your own copy, and edit it as desired.  You can always rebase from the remote to get updates.  It's dangerous to depend on a remote you don't control.

It's also possible to specificy a path inside the repo, e.g.
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md

reopen if this doesn't answer y

[2020-01-13 23:49] #1912 closed

[2020-01-13 23:55] monopole commented on #2056
please do, thanks.  help with this would be appreciated.

[2020-01-14 12:10] yujunz commented on #2091
You may add the builtin PrefixSuffixTransformer as a resource which allows specifying the `fieldSpecs`, e.g.

[code]

n.b. there is a known bug with name reference. See #1695

[2020-01-14 13:16] arthurgustin commented on #1625
/remove-lifecycle stale

[2020-01-14 16:44] tkellen commented on #2052
@monopole can you help me understand what you mean precisely by:

If a kustomization changes the name of something I think it is a fair expectation of the consumer of the yaml stream it produces to know what the "new" name is and use it.  It is very confusing to me that I could run `kustomize build` in a folder, observe the output, and then in some other kustomization consume what I expect to be t

[2020-01-14 16:48] tkellen commented on #2052
@le-duane I try to use kustomize in the same manner you do, to eliminate duplication through the use of overlays. As for how to propagate values through kustomize without vars, see the very first stage in my pipeline where I generate a configmap from flat files on disk? That configmap is present in every consumer and those values should be picked up and placed in other fields through replacements

[2020-01-14 16:50] bkuschel opened #2096 "allow `kustomize config run` to run as job in target cluster"
Use Cases:
- I don't have docker engine installed, only have access to the target cluster and want to execute a config function
- I am running in a docker container in kubernetes and not able to run docker engine but can create jobs.

[2020-01-14 17:08] tkellen commented on #2052
@le-duane, the removal of vars would mean you could no longer put `$(whatever)` in your source yaml. This is the basic antipattern the entire kustomize project is founded on resolving.

Here is how to accomplish one of the workflows you described without vars (this assumes you are using a layout like mine where you bring "variables" in as a configmap and pass it around wherever you need it):

This

[2020-01-14 20:03] #2083 closed

[2020-01-14 20:55] bzub commented on #1963
No longer an issue.

[2020-01-14 20:55] #1963 closed

[2020-01-14 23:32] wfernandes commented on #902
Is it possible to revisit this issue? It seems like an easy fix unless prepending `---` to the yaml output of `kustomize build` is breaking some convention.

[2020-01-14 23:33] wfernandes commented on #902
/reopen
/remove-lifecycle rotten

[2020-01-15 02:58] tkellen commented on #2052
@monopole Looks like I missed your edit of this during the initial posting:

I'm interested in owning this, yes, though I cannot do it in my spare time. I will be available for contract work in the near term. Is there a more direct avenue to engage in a conversation about that?

[2020-01-15 09:12] george-angel commented on #1351
/remove-lifecycle stale

[2020-01-15 10:42] dmayle commented on #2056
I've got the fix:
[code]
I'm going to try to submit a PR

[2020-01-15 10:53] dmayle commented on #2056
In order for this to work, you have to use the `crds` feature to register the CRD with kustomize.

For those who aren't aware, the CRD.json file needs to look like this, roughly:
[code]
If you take an existing CRD yaml, the "/spec/validation/openAPIV3Schema" doc goes into the Schema key.  In order for other transformer types to work properly, you also need to add data into any spec value that repr

[2020-01-15 11:19] dmayle commented on #2056
I've submitted pull request #2105

[2020-01-15 11:34] bkuschel commented on #2096
@pwittrock any thoughts around this?

[2020-01-15 13:04] mariadb-zdraganov commented on #1113
Any progress on that?

[2020-01-15 14:21] brunoluiz commented on #2091
I guess I want the opposite: filter the prefix everything with `metadata.name` besides secrets. I suppose I would have to add these `PrefixSuffixTransformer` here

[code]

[2020-01-15 14:49] max-sixty commented on #1555
/remove-lifecycle stale

[2020-01-15 16:35] dijitali commented on #1500
/remove-lifecycle rotten

[2020-01-15 16:39] #2085 closed

[2020-01-15 16:39] #2087 closed

[2020-01-15 16:39] dijitali commented on #1500
Not sure if I'm supposed to marking this issue as fresh.  My apologies if not.

From my perspective I think this is still an issue and some guidance would be appreciated as we're attempting to use kustomize in automation.

Sounds like from the discussion in https://github.com/kubernetes/kubernetes/pull/85146 that there might be a different approach proposed here?

[2020-01-15 17:29] bkuschel commented on #2052
Please don't remove vars until such time the replacement transformer is able to do partial string substitution effectively without imposing base resource requirements or requireing repetitive replacements.

Please see prefix example here: https://github.com/kubernetes-sigs/kustomize/pull/1738

Ripping it out would break us completely, my suggestions is to create a transformer out of it instead.

[2020-01-15 17:37] tkellen commented on #2052
Depending on the size of your team I would highly recommend switching to an `envsubst` or similar pattern ASAP. It seems clear that vars in their current form are not meant to be used in the manner you are using them and no matter what there will be breakages down the line (unless the codebase is drastically altered to respect configuration file versions).

For more context, I'm in the situation o

[2020-01-15 17:45] martinhanzik opened #2106 "Base namePrefix is ignored"
The following example reproduces my issue.

Setup:
[code]

[code]

Test:
[code]

Result:
[code]

Expectations:
I expected name to be `app-web-staging` - applying both the namePrefix from base and nameSuffix from overlay.
Resources added to the base get both the prefix and suffix, resources in overlay don't get the prefix. Additional namePrefix specified in overlay applies to all resources.

[2020-01-15 18:05] bkuschel commented on #2052
I think we are using what it is intended for, at least according to @pwittrock 's description during the brainstorm session.
The general problem is that resources are more than k8s schemas, they contain strings, these string contain references to attributes in other kubernetes resources that change during the course of manifest generation and need to be replaced.
Patches are not a good solution fo

[2020-01-15 18:08] tkellen commented on #2052
Thanks for the clarification @bkuschel. I believe replacements can solve the issue you've raised RE: replacing substrings in a random string, but the configuration format and implementation most assuredly doesn't exist for it yet.

[2020-01-15 19:53] bzub commented on #2096
I really like this idea, just not sure if it should be in scope for kustomize CLI. I like that `kustomize config run` is devoid of a kubernetes client and focuses on client-side only. Maybe it could help create a Job resource config but things would get complex quickly if it had to query a cluster to get the output of config functions.

Have you tried using config functions with something like [Te

[2020-01-15 20:28] joncwong commented on #2084
/assign

[2020-01-16 09:19] martinhanzik commented on #2106
I have also noticed one thing, base commonLabels are also not applied in this case.

[2020-01-16 14:13] bkuschel commented on #2096
How would you use Tekton, doesn't it also need to be run in a kubernetes cluster?

[2020-01-16 16:59] tomjohnburton commented on #1556
I am still getting this error.
[code]
[code]

[2020-01-16 17:00] tomjohnburton commented on #1556
/remove-lifecycle stale

[2020-01-16 17:15] #1625 closed

[2020-01-16 17:41] anarcher commented on #1069
Does this change have Backward compatibility? I think this should be considered.

[2020-01-16 21:00] monopole commented on #2056
got it.

[2020-01-16 21:42] #2084 closed

[2020-01-16 21:42] #2086 closed

[2020-01-16 21:45] pwittrock opened #2118 "`config run` to merge Resource by default"
Rather than making functions implement logic to merge Resources, we should simplify them by merging the Resources for them by default.

Add `filters.Merge{}` to the list of filters here:
https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/runfn/runfn.go#L73

Support `NoMerge bool` field on `RunFns` to disable this behavior

Support `--no-merge` commandline option to `config run` that is

[2020-01-16 22:45] bzub commented on #2096
Tekton seems like a possible solution for your use case of running config functions via kubernetes cluster rather than via local docker instance. It has a similar concept of a pipeline of containers like `kustomize config run` implements and is mentioned here: https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-impl.md

[2020-01-17 00:59] Rauno56 opened #2120 "Lock kustomization.yaml while edit"
We run `kustomize` in our CI to compile `kustomization.yaml` files instead of handcrafting them and realized that our process was not deterministic - resource files were often missing at the end of the process from the `kustomization.yaml`.

Script to easily reproduce the situation. Run inside an empty directory.

[code]

Probably a classic problem with concurrency: files are read before writes ha

[2020-01-17 01:12] pwittrock commented on #2118
Welcome to the Org!

[2020-01-17 04:51] pwittrock opened #2121 "`status` reports resources as deleted that exist"
Even though the resources exist, it still prints the message they are deleted

[code]

and later this even though they exist...

[code]

[2020-01-17 04:52] pwittrock opened #2122 "`status` doesn't display well when wrapped"
Should figure out if the table will fit, and it if won't then either drop columns or fallback on another display mode

[2020-01-17 04:53] pwittrock opened #2123 "`status` has extra row"
Not sure what the extra row is that says completed

     status events helloworld

[code]

[2020-01-17 04:59] pwittrock opened #2124 "`status wait` leaves console grey after it exits"
The command changes the console colors, and when it exits, it leaves them changed

[2020-01-17 05:18] mortent commented on #2121
Is this running against HEAD?

If I'm in the examples/helloWorld folder and run the following two commands  `kubectl apply -k .` and `resource status fetch .`, I do get the expected results.

There is an issue I am aware of with the resource commands. It currently only reads the yaml files with the kio library and captures the resource identifiers from those files. If there is a kustomization that

[2020-01-17 11:55] kantica opened #2125 "kustomize 3.5.4 configMapGenerator deletes newlines"
I have one problem with latest release version of kustomize (v 3.5.4). This version deletes all empty lines from ConfigMaps generated by configMapGenerator. Previous version(s) did not do this.

Example:
[code]

Files used for kustomize build can be found at https://gist.github.com/kantica/95b2b7f491cc2cb99d4307c80d947be9

[2020-01-18 15:44] chainhead commented on #976
@sttts for your step (1), don't you also need to create a `CertificateSigningRequest` object in the cluster? And, then `kubectl certificate approve csrName`? Did you use `kustomize` for the `CertificateSigningRequest` YAML?

[2020-01-19 03:17] yujunz commented on #2106
This is the expected behavior. Transformers in base do not apply for overlay.

[2020-01-19 12:01] george-angel commented on #1510
/remove-lifecycle rotten

[2020-01-19 12:01] george-angel commented on #662
/remove-lifecycle stale

[2020-01-19 17:34] #1391 closed

[2020-01-20 08:12] rverma-jm commented on #1226
/remove-lifecycle stale

[2020-01-20 10:13] cmorent commented on #970
Any update on this issue? I also need this for quite a simple use case: I want to install the Jaeger operator on one of my clusters, so far they only provide yaml files to run the required resources but no kustomize related config so I can't import the base. I only want to have something like the following in my own config:

[code]

For now, the best solution I have is to copy the remote file cont

[2020-01-20 11:59] bkuschel commented on #2052
Right, this is why i'm against ripping out VARS at this time.

[2020-01-20 13:05] chrko commented on #2125
I'm experiencing the same issues but with binary files (JKS keystores…) and also within the secret generator.

[2020-01-20 13:35] chrko commented on #2125
Bisecting yields the commit bda865e9e46727f04d21f73c6800b41f55ef4004

kustomization.yaml:
[code]
multiline.txt
[code]

[code]

[2020-01-20 13:39] chrko commented on #2125
And bisecting with further yields: fa8f504ff43551a1f0fe5d7c74b450553e652b15

[2020-01-20 13:49] chrko commented on #2125
So, this seems to be the intended behavior as of #2025. I would consider this especially for binary files as a huge error.
As written above my use case is to include a JKS keystore (you, java stuff…).

[2020-01-20 15:39] kantica commented on #2125
I don't have anything against trimming trailing spaces, but this also "trims" everything to one '\n', which is IMO wrong. It seems content of the file is available as one string, and regex trims "\s*\n" on every position in string (file representation).
https://github.com/kubernetes-sigs/kustomize/blob/89367be0085b45712b8807673c77d1e3327f15f9/api/kv/kv.go#L95

^- This should be rewritten to only t

[2020-01-20 18:59] #1422 closed

[2020-01-21 11:02] kantica commented on #2125
Something like this should probably work better than current implementation.

[code]

[2020-01-21 12:00] chrko commented on #2125
No. This also modifies binary data.
I think the original issue which generate the corresponding pull request #2025, #1868 is misunderstood. The error lies no within the data itself but how it will be outputted.
I still consider that #2025 should be immediately reverted and the issue #1868 have to be fixed at the output generation stage.

[2020-01-21 13:17] pnowy commented on #2047
I've noticed the same problem.

[2020-01-21 14:08] jeanfabrice commented on #2125
+1
this is also causing trouble when configmap stores openldap ldif data, where each entry have to be separated from the others with a newline

[2020-01-21 17:31] phanimarupaka commented on #2125
Here is the PR to address the issue.

https://github.com/kubernetes-sigs/kustomize/pull/2129

[2020-01-21 18:14] phanimarupaka commented on #2125
The PR has been merged. You can pull the latest master and try it out if you still have any issues. You can see the change in next release.

[2020-01-21 18:17] Liujingfang1 commented on #2125
Fixed by #2129. Thank you, @phanimarupaka

[2020-01-21 20:25] sanjaydatasciencedojo opened #2131 "Unable to install version2.0.3"
How do I install version2.0.3 on Ubuntu?

[2020-01-21 20:27] #2131 closed

[2020-01-21 21:40] sanjaydatasciencedojo commented on #2131
https://github.com/replicatedhq/kotsadm/blob/555c6ae0862fd3e1b3fed332e8c58fe4cb8c1cde/api/Dockerfile.skaffold#L15

[2020-01-21 23:18] #2124 closed

[2020-01-22 06:14] georgej-github commented on #1628
Running into the same issue, any advice?
{Version:3.5.4 GitCommit:3af514fa9f85430f0c1557c4a0291e62112ab026 BuildDate:2020-01-17T14:23:25+00:00 GoOs:darwin GoArch:amd64}

[2020-01-22 07:02] chrko commented on #2125
@Liujingfang1 @phanimarupaka As written above this currently modifies also binary data within configMaps and secrets. I'll still consider modifying (binary) data as an unexpected behaviour.

E.g. compare the result within k8s resulting of these two actions:
[code]
and the example given above https://github.com/kubernetes-sigs/kustomize/issues/2125#issuecomment-576277396.

My expected behaviour of

[2020-01-22 09:36] imranismail commented on #662
Got bitten by this, anyone got a workaround?

[2020-01-22 10:48] benjamin-bergia commented on #1501
Having the same issue here.
I generate a bunch of configmaps (~10) and I just want to add a labels on each. There is no value in the generator if I need to make 10 distinct json patches to add a label.

Can we have a feature request for this? The current CM generators are very powerful and concise but are pointless if adding metadata requires patches.

[2020-01-22 12:46] lukasmrtvy opened #2138 "Feature request: Reverse order for deleting resources"
Is there something like `kustomize build --reverse . | kubectl delete -f -` as oposite to `kustomize build  . | kubectl apply  -f -` ?
Would be nice to have reverse order for proper deleting. Deployments where are CRDs involved can return exit code != 0.
Possible workaround:
 `--all=true` will probably suppress errors from uninitialized resources.

[2020-01-22 13:32] GBMSLA1 opened #2139 "unable to use configmap generator with daemonsets"
Should configmaps and daemon sets work out without any extra configuration? I'm trying to use the configmap generator with a daemonset and the generated name is not updating inside the daemonset config.

Looking at the default config this should already work I believe, but I looked at adding a custom namereference without any joy.

Here's my config:

**$ cat kustomization.yaml**

[code]
**$ cat ku

[2020-01-22 16:50] ricochet commented on #2052
While I agree that removing VARS is the right call longterm, I also want to echo @bkuschel in that removing VARS without a clear onboarding alternative (available at HEAD) is detrimental to consumers. I recommend starting with a deprecation warning and warnings throughout the doc to signal that a drop is incoming.

Converting a real OSS consumer like kubeflow will give the community far more legs

[2020-01-22 18:25] tkellen commented on #2071
Can we accomplish this with a deprecation warning as suggested in https://github.com/kubernetes-sigs/kustomize/issues/2052#issuecomment-577279491?

[2020-01-22 18:31] tkellen commented on #2052
Thanks for sharing your workflow and thoughts @ricochet! I *love* the idea of a deprecation message as a resolution to https://github.com/kubernetes-sigs/kustomize/issues/2071 (and mentioned as much over there). I have limited free time to work on this but I do have plans to share a set of configuration formats for a `replacements` transformer that could accomplish everything vars are presently be

[2020-01-22 19:07] Liujingfang1 commented on #2071
We can first document the broken use cases. Once we confirmed that `vars` is to be deprecated, we can add the deprecation message.

[2020-01-22 19:31] nicks opened #2142 "`kubectl kustomize version` should report version info"
**Expected behavior:**

[code]

should print information about the version of Kustomize templates that `kubectl kustomize` accepts, similar to the `kustomize version` command

**Actual behavior**

[code]

doesn't work.

The kubectl command only accepts kustomize version 2+, but the main kustomize repo is on version 3+. This has caused some confusion for our users, because they thought that they sh

[2020-01-23 02:57] hmanikkothu opened #2144 "'fieldpath' parsing fails with error 'field specified in var not found in corresponding resource'"
See below the yaml files to reproduce the issue.

1. deployment.yaml
[code]

2. mqsvc.yaml
[code]
3. kustomization.yaml
[code]
4. patch.yaml
[code]

### kustomize version - 3.5.4 (latest)
[code]
### kubectl version - 1.17 (latest)
[code]

### Reproduce
#### Step 1
Run kustomize build . , which correctly finds the port from service definition and merges in the deployment
[code]

### Step 2
Use kube

[2020-01-23 06:23] karl-gustav opened #2146 "install_kustomize.sh script can't detect alpine linux (docker opperating system)"
The install script runs this check
[code]

But $OSTYPE in alpine linux is `linux-musl`
i.e.

[code]

which will result in the install script thinking that alpine linux is in fact winwdows.

The fix as I see it would be to just check if the $OSTYPE environment variable starts with "linux"

[2020-01-23 09:00] #1458 closed

[2020-01-23 10:01] #1296 closed

[2020-01-23 20:17] LeonardAukea commented on #1312
Hi @bkuschel, Could you please elaborate on your answer or provide references with relevant info. What is not completely clear to me is  create `custom transformer resource`  and example would be awesome as well. We have a very similar issue as @chunytan. Also, is there any best  practices on handling cases like this? Thank you in advance!

[2020-01-23 20:27] khrisrichardson opened #2148 "AssociativeSequenceKeys in `kyaml/yaml/types.go` causes inadvertent deletion of list items with merge3"
I've been dabbling with the hugely beneficial alpha `config merge3` command and have a few observations.

There appear to be a couple keys missing from `AssociativeSequenceKeys`: namely `key`, `port`, and `uid`.

[code]

And the order by which the keys are evaluated is somewhat problematic. I noticed this when the `additionalPrinterColumns` property of type `io.k8s.apiextensions-apiserver.pkg.apis

[2020-01-23 20:38] davisford commented on #680
Will there ever be a valid solution for patching a JSON `ConfigMap`?  The lame workaround right now is to copy the full JSON file into every overlay and manually override it like:

base/thing/kustomization.yaml
[code]

overlay/foo/kustomization.yaml
[code]

This is really error prone and not ideal.  Is there not _some_ way we can use `patchesJson6902` here to patch a JSON file?  That's what it was

[2020-01-23 21:22] khrisrichardson commented on #2148
Just for a quick visual, here are the current definitions with multiple keys to be evaluated:

[code]

[2020-01-23 22:03] #2123 closed

[2020-01-23 22:05] monopole opened #2149 "rename (alias) create to init to be consistent with other cli tools"

[2020-01-23 22:58] MajidD4t1qbit commented on #149
This behavior seems to still exist on 3.5.4!

[2020-01-23 23:08] Liujingfang1 commented on #149
@MajidD4t1qbit I just tried it, 3.5.4 does work for the report issue. If your test case is different, please open another issue.

[2020-01-24 00:06] monopole commented on #2146
feel free to send a pr

[2020-01-24 14:28] #1420 closed

[2020-01-24 23:24] ghostbar commented on #51
Quick hack (I would only recommend this for CI/CD on development environments):

In the image tag use something unique, like here-is-image-tag and then just:

[code]

Yeah, you're using templates to avoid this hackity hack, but kustomize is for GitOps and if you can't git, then you're gonna end up using a little bit of `sed`.

For production releases makes sense to follow `kustomize edit set image

[2020-01-25 10:51] robinbraemer commented on #915
I guess to have a workaround to achieve what @Oduig said one must omit the `images:` in the base kustomization.yaml and declare it in each overlay so there the base has no image to to override.

Is this still being worked on to override the base transformers/images?

[2020-01-25 19:44] karl-gustav commented on #2146
@monopole done 😀
https://github.com/kubernetes-sigs/kustomize/pull/2154

[2020-01-26 15:16] #1468 closed

[2020-01-27 11:26] wichert commented on #642
This is still not stale.

[2020-01-27 11:27] wichert commented on #642
@fejta can lifecycle be disabled for this ticket?

[2020-01-27 16:22] strikeout commented on #1736
PatchTransformers, and point to them from your various overlays.

Would you be so kind as to provide an example for this?
I have tried it and the patches sadly do **not** get applied at all.

My failed approach looked like this:

[code]

[code]

[code]

[2020-01-27 17:17] strikeout opened #2156 "Fix remote patches"
**Patches from remote locations do not get applied.**

`{Version:3.5.4 GitCommit:3af514fa9f85430f0c1557c4a0291e62112ab026 BuildDate:2020-01-11T06:57:29+00:00 GoOs:darwin GoArch:amd64}`

It does not work with either specifying them in `resources:` (together with a kustomization.yaml) nor directly in the `patches:` definition.
It gives no error and outputs yaml, but the patches are not applied and a

[2020-01-27 18:58] laszlocph opened #2158 "Support building multiple paths at once"
Today Kustomize supports the following paths when building:

[code]

This issue examines the possibility to use

`kubectl kustomize **/*` or similar pattern that iterates through all subdirectories.

## Example

[code]

[code]

Today a wildcard path results in an error.

Would this addition fit the design of kustomize?

[2020-01-28 01:13] aaroniscode commented on #642
/remove-lifecycle rotten

[2020-01-28 10:58] #843 closed

[2020-01-28 12:31] benjamin-bergia opened #2159 "Option to disable security check on configmap generator"
I am currently refactoring all our resources to work around the issues we had in the past with nested overlays and configmap generators.

Unfortunately when trying to build I have the following error:
Error: file sources: [../../base/common/xxx.cfg]: security; file 'base/common/xxx.cfg' is not in or below 'environment/qa'

In my current situation this check doesn't make much sense and there is no

[2020-01-28 17:28] MichaelVL commented on #2028
The problem does not appear in stand-alone kustomize, i.e. this is specific to the kubectl integration.

[2020-01-28 17:28] #2028 closed

[2020-01-28 17:31] #2146 closed

[2020-01-29 07:43] mr-karan commented on #370
^ +1 bump for visibility.

[2020-01-29 08:17] benjamin-bergia commented on #2052
Hi,
it's now one year that I have been managing our production and testing environments using exclusively kustomize. I also went through some of the patterns that have been posted, but have been able to refactor most of the cases to avoid variables.
Currently I have a single use case where I haven't been able to remove the variables and it is for the host field of my ingresses.

I have a dozen or

[2020-01-29 09:20] #61 closed

[2020-01-29 09:21] dantman commented on #1303
/remove-lifecycle rotten

[2020-01-29 09:44] gadelkareem opened #2161 "Error: no matches for OriginalId"
[code]
[code]
Error:
[code]

[2020-01-29 09:57] apyrgio commented on #1251
@pgpx: I think that the name of the kustomization kind and the tests are minor, and can be fixed during the review. I'd suggest you send your branch as a PR, so that we can discuss design issues there.

[2020-01-29 15:56] pastukhov opened #2162 "--load_restrictor=none Does not working with remote source"
Hi all!
I'm trying to do
```kustomize build --load_restrictor=none   https://gitlab.domain.local/k8s-addons/flannel```
and i get
```Error: loading KV pairs: env source files: [/etc/environment]: security; file '/etc/environment' is not in or below '/tmp/kustomize-046091891'```
but if i do same with local copy ```kustomize build  --load_restrictor=none .```
everything is going fine.

I need to patc

[2020-01-29 18:40] Liujingfang1 commented on #370
@mr-karan @anshul-patel-infostretch The ConfigMapGenerator is not planned to support this type of merging functionality. You are welcome to write a [generator plugin ](https://github.com/kubernetes-sigs/kustomize/tree/master/docs/plugins)for this. There is a list of example generators under [plugin/someteam.example.com/v1](https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/someteam.ex

[2020-01-29 22:27] pgpx commented on #1251
OK, will do - good idea.

On Wed, 29 Jan 2020 at 09:57, Alex Pyrgiotis <notifications@github.com>
wrote:

[2020-01-29 23:03] snarlysodboxer commented on #1696
@Liujingfang1 Additionally, unless you add `mySecretGetter.yaml` to both the `resources` and the `generators` in your base, (_and_ are ok with your plugin config being output by `kustomize build`) you cannot have `mySecretGetter.yaml` in `patchesStrategicMerge` section because kustomize will fail with `failed to find unique target for patch crd.myteam.com_v1_SecretGetter|example-login`.

This is q

[2020-01-30 07:40] secret104278 commented on #1584
[fix overriding the configuration of the transformer](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1584_b) will work but [fix using the FieldSpec skip PR](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1584) not

[2020-01-30 09:35] apyrgio commented on #1736
Sure, we have a repo with an example actually, to illustrate how it's done: https://github.com/ioandr/kustomize-example/tree/master/diamond-with-patches-transformers.

In your case, the problem is that the `PatchTransformer` cannot be applied like this. The process is a bit more involved: you have to use the `transformers` directive, which should point to a kustomization directory, which in turn s

[2020-01-30 12:49] george-angel commented on #306
/remove-lifecycle rotten

[2020-01-30 16:40] andriy-bulynko opened #2164 "kustomize api pollutes stderr"
When running the kustomize API embedded in other executables (CLIs) it is often unacceptable to see lines like the following on the `stderr`:
[code]
Can the API logging be made configurable somehow? Currently we're having to redirect the global `stderr` to a buffer during the calls to the kustomize API. That creates issues with concurrency.

[2020-01-30 16:51] #1440 closed

[2020-01-31 07:05] #973 closed

[2020-01-31 17:26] Kampe commented on #1233
Don't understand why this was closed? Support for remote bases is a thing, overwriting values with valueFrom secrets should be supported.

[2020-01-31 23:01] chancez opened #2166 "Error on nil storageClassName Error: <nil> is expected to be either a string or a []interface{}"
I have a statefulset with `storageClassName: null` and it causes kustomize to fail with:
[code]

I expect that this would simply not care that the field is nil. Tracing it to the code, it seems this is caused by the type switch in https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/accumulator/namereferencetransformer.go#L215 not checking if `in` is nil before type switching. I'm

[2020-02-01 02:22] yujunz commented on #2072
Does it solve your problem @alexec

[2020-02-01 02:26] yujunz commented on #2162
This is the expected behavior

https://github.com/kubernetes-sigs/kustomize/blob/c626eae9bd440fd6fa68a165af030c9d85ec3129/api/loader/fileloader.go#L220

[2020-02-01 03:04] yujunz commented on #1736
Proposed an enhancement in #2167 to address this problem.

[2020-02-01 03:07] yujunz commented on #1718
Specify the root with`//` may solve your problem @dsyer

`kustomize build github.com/kubernetes-sigs/kustomize//examples/multibases/dev\?ref=master`

[2020-02-01 03:18] yujunz commented on #1272
The plugin is available. See example in https://github.com/kubernetes-sigs/kustomize/blob/master/examples/goGetterGeneratorPlugin.md

Working also on a builtin integration in https://github.com/yujunz/kustomize/commit/f43f61e37d1c41c8af453139559caa6ea8bf9a3d . There were some concerns from @Liujingfang1 about the extra dependency introduced to support various remote. We may consider exec an extern

[2020-02-01 09:31] #330 closed

[2020-02-01 11:33] #896 closed

[2020-02-01 15:24] howardjohn commented on #1272
The plugin is useful for users, but as a developer of kustomize bases that we need to distribute to users we don't want to depend on users doing extra setup, so we are limited to the base kustomize. That is why gcs would be so nice, as we already publish our releases there

[2020-02-01 17:16] vasu1124 commented on #973
/reopen

[2020-02-01 21:43] #1415 closed

[2020-02-02 04:20] yujunz commented on #1272
Proposed an enhancement with go-getter module. Could you help test it on GCS? @howardjohn

[2020-02-02 04:34] howardjohn commented on #1272
Sure, I'll try it out later this weekend. Thank you!

[2020-02-02 04:51] howardjohn commented on #1272
Seems like it will fetch the kustomization.yaml ok, but doesn't grab all the depenencies?

[code]

[2020-02-02 05:08] howardjohn commented on #1272
nevermind, I just was doing to go-getter syntax wrong.

[code]

works!

[2020-02-02 05:11] yujunz commented on #1272
Good. Is it a public and permanent repository suitable for integration test?

[2020-02-02 05:28] howardjohn commented on #1272
it's public but definitely shouldn't be used for integration test though, I just threw that up for a one off test. if needed I could put a more permanent one up somewhere but it probably makes more sense to put it in a kustomize/kubernetes owned gcs bucket?

[2020-02-02 06:08] yujunz commented on #1272
Do we have such bucket? @kubernetes-sigs/kustomize-admins @kubernetes-sigs/kustomize-maintainers

[2020-02-03 07:42] pastukhov commented on #2162
It would be nice to describe this in the documentation.

[2020-02-03 07:42] #2162 closed

[2020-02-03 07:47] pastukhov opened #2170 "Describe in docs --load_restrictor behavior in case of remote source"
The load_restrictor behavior is differen between
```kusomize build .```
 and
```kustomize build  https://some.remote.url/path```
 Please clarify it in documentaion.
https://github.com/kubernetes-sigs/kustomize/issues/2162

[2020-02-03 17:28] mojtabacazi opened #2171 "nameSuffix and namePrefix as Vars"
It would be nice to have a nameSuffix and Prefix available as a var, for example :

[code]

[2020-02-03 18:18] JoeSainsburys commented on #692
If anyone is interested then I have created a kustomize plugin that transforms Secrets in to SealedSecrets that can be decrypted by Bitnami's SealedSecret controller. https://github.com/devjoes/secret-sealer this is literally my first ever bit of Go code so any feedback would be greatly appreciated.

[2020-02-03 20:28] #1497 closed

[2020-02-04 09:55] dsyer commented on #759
Bump.

[2020-02-04 10:15] smakam commented on #2171
I have a similar requirement where I am having a service name as an environment variable in the yaml file and if I use the name prefix or suffix, I dont have a way to change the environment variable value dynamically. If the NAME_SUFFIX or NAME_PREFIX can be used, that will solve this problem...
        env:
          - name: VOTING_API_ADDR
            value: voting-service:3001

[2020-02-05 00:54] chancez opened #2179 "Support generatorOptions per configmap/secret"
Currently generatorOptions is defined once per kustomization, rather than once per resource. I have to apply some annotations to a configmap so that a component knows to use that configmap's contents to dynamically inject some configuration to a running pod (grafana's extra datasources configmap).

However, I don't want that annotation applied to other configmaps within the same `kustomization.yam

[2020-02-05 01:14] khrisrichardson commented on #2148
From the list of objects above with potentially conflicting merge keys as per `AssociativeSequenceKeys`, if one were to omit objects lacking a strategic merge key, one would be left with:

[code]

... which points to something more nefarious at work. By defining `AssociativeSequenceKeys` as universally applicable without referencing the openapi spec, keys are being considered as merge keys just by

[2020-02-05 01:33] #1735 closed

[2020-02-05 09:04] ajay-alef commented on #720
@leroy0211 Try adding `kind` and `metadata.name` fields if you haven't and then try. This is what I could figure out from multiple tests using kustomize v3.4.0

[2020-02-05 16:20] pgpx commented on #759
I created a PR for #1251 that essentially does this - #2168, though I added a new `Kind` (`KustomizationPatch`) that works as a 'mixin' from the initial comment in this thread.  A better name for `KustomizationPatch` is needed though!

[2020-02-05 17:54] #2070 closed

[2020-02-05 18:03] chancez commented on #2179
I think I figured out how to implement this. I believe it's a relatively simple change. I'll try to get an MVP PR up and then hopefully figure out how to add tests for it.

[2020-02-05 19:08] chancez commented on #2179
And since I had to find a work-around until this is implemented or otherwise, I thought I'd mention how I did that in case anyone else hits this. Basically just use json patch or strategicMergepatch to add the annotation. For example:

[code]

[2020-02-05 19:38] chancez commented on #815
Why can't kustomize simply pull the openAPI definition from CRDs? My understanding is without knowing the openAPI spec it doesn't know how to merge properly when defining kustomizations using them. Otherwise you need a `configuration`?

[2020-02-05 21:23] yuwenma opened #2184 "Add the downloading instruction in README"
Suggest adding the instructions about how to install kustomize in Linux/Mac/Windows using terminal commands.
Just a convenient step to allow clients always downloading the latest version.

[2020-02-06 01:10] Abrishges commented on #1032
I am running in the same issue using powershell script  `kubectl.exe kustomize . | kubectl.exe apply -f -`
were you be able to find solution ?

[2020-02-06 08:26] #1514 closed

[2020-02-06 12:30] #1502 closed

[2020-02-06 14:56] HenriTEL commented on #504
As pointed out by @gysel you can set `volumeClaimTemplates: []` to make kustomize not generate a wrong StatefulSet.
You can try a `kubectl patch` to work around the `Forbidden: updates to statefulset spec` when the StatefulSet is already deployed.

[2020-02-06 15:48] khrisrichardson opened #2187 "visitNAList in `kyaml/yaml/merge3/visitor.go` ought to merge on GVK for objects of kind *List"
In the `visitNAList` method of `kyaml/yaml/merge3/visitor.go`, when a difference is detected (`values.Update != values.Origin`) the method ought not return the updated node in its entirety, but rather should keep walking to find the smallest subset of differences between nodes. This is exhibited by a pretty large disparity in the results when a set of objects is wrapped with `kind: List` versus wh

[2020-02-06 15:53] neilharris123 opened #2188 "Ability to merge maps in Kustomize"
It would be nice to have a method of using a patch to merge a map in Kustomize.
To demonstrate as an example, I have the following Application defined which makes use of an upstream helm chart:

grafana.yaml

[code]

 I have the following patch.

kustomization.yaml

[code]

When I run $ kustomize build . the output shows the parameter name/values in the granana.yaml are completely replaced by the

[2020-02-06 16:05] Kampe commented on #1032
malformed yaml on my end I do believe.

[2020-02-06 17:35] #1498 closed

[2020-02-06 19:37] #1518 closed

[2020-02-06 20:14] sgravallon commented on #702
Is there a plan to fix this issue at short/middle term ?

Writing a specific plugin for sealed-secret (such as the one for sops - https://github.com/goabout/kustomize-sopssecretgenerator) is the way to go ?

[2020-02-06 20:36] rvandegrift opened #2190 "please improve kustomize tutorial & intro info"
A few kubectl issues have lead me to kustomize, and I'd like to learn about it.  But the tutorial page [1] is kind of perplexing:
* It doesn't instruct me to do anything, and it isn't obvious how I make it go.  I think it's waiting on me?
* Maybe I'm supposed to upload yaml manifests, but I'm nervous because I don't know what'll happen to data that I upload.  And since I don't really know what kus

[2020-02-07 00:44] xmlking commented on #1733
this is not stale.  It is really useful feature request

[2020-02-07 09:04] fantasy4z commented on #1303
It's an issue in the wild.

I tag my docker images with `git rev-parse --short=8 HEAD`.
Yesterday I got `706798e8` which was parsed as a number by kustomize.

Please help fix this minor yet annoying issue. 😢

[2020-02-07 09:43] bee-keeper commented on #388
I've mentioned this in the issue above but realisied I should have posted here.

For what it's worth, I'm going to outline my use case for this.

I'm submitting a simple job manifest via CI and need to dynamically apply 4 fields. This is the kind of thing that is easily done with Helm (using --set) but Helm doesn't support doing this with a single job. It feels the only way I could make this work

[2020-02-07 11:19] hrmrules opened #2191 "Bug in the Base64 encoding"
There seems to be a bug in the Base64 encoding used to add secrets and configmaps with the appropriate generator.
It seems the problem is related to the character 0x0a in the file. We encountered this problem when trying to add binary keystore files to secrets.

The following is a minimal example to illustrate the problem.

Version: Kustomize v3.5.4
Sample kustomization.yaml:
[code]
Contents of bi

[2020-02-07 17:31] no2a commented on #2191
configmap/secret generator break binary files (I believe it is a bug). see #2125

[2020-02-07 20:01] #1100 closed

[2020-02-08 01:22] jarednielsen commented on #641
Agreed, let's re-open and solve the issue.

[2020-02-08 08:12] #1216 closed

[2020-02-08 12:24] neilharris123 commented on #2171
This would be useful.

[2020-02-08 18:01] confiq commented on #641
anybody can open with @k8s-ci-robot [robot command](https://github.com/kubernetes-sigs/kustomize/issues/641#issuecomment-504402629). I've already opened, I don't want to flood it :)

[2020-02-08 18:22] #1525 closed

[2020-02-10 00:52] #1511 closed

[2020-02-10 12:05] lanmarti opened #2193 "Kustomize in combination with existing SealedSecrets and name prefix/suffix"
While there is an open issue for SealedSecret support (#702), it seems to be focused on generating sealed secrets from files, rather than using existing sealed secrets.

The issue I'm currently facing is as follows:
I have the following files (see below for abbreviated file content):

-  SealedSecret .json files
-  a deployment.yaml and an ingress.yaml referencing the secrets contained within thos

[2020-02-10 12:34] lanmarti commented on #2193
As a small aside: while name prefix/suffix is applied to the Sealed Secrets and the corresponding Secrets, common labels are not applied.

[2020-02-10 15:49] drekle opened #2194 "vars not applying correctly according to documentation"
The documentation of vars suggests that any instance of a variable in an object will be replaced
[code]
however this is not accurate.  Considering the following file: **(removed unnecessary bits)**
[code]
yields the following output:
[code]
Above shows that the app label was properly replaced however the serviceAccountName was not properly replaced.

kustomize version:
{Version:kustomize/v3.5.3 Gi

[2020-02-10 17:31] #1901 closed

[2020-02-10 18:06] smyrman commented on #1430
/remove-lifecycle stale

[2020-02-11 08:28] leoskyrocker commented on #2142
as an aside - should you not prefer `kubectl kustomize` over `kustomize`?

[2020-02-11 15:35] FelixRodriguezJara opened #2198 "error: AccumulateTarget: trouble cloning Gitlab repository: exit status 128"
Hello, Kustomize team,

I am getting crazy with this error. I am using "minikube" and kubectl version 1.16, that comes with Kustomize 2.0.3. I have read many posts about the stucture that the repository URL should have, but none of them works for me.

My kustomization file contains two resources that are based in a remote Gitlab repository, like this:

[code]

When executing "kubectl apply -k .",

[2020-02-11 17:32] #1207 closed

[2020-02-12 10:47] embik commented on #1463
/reopen

(hope I'm able to do this)

this would still be a nice addition to distribute kustomize plugins with a git repository (and set `KUSTOMIZE_PLUGINS=$(pwd)/plugins`, for example).

[2020-02-12 10:48] embik commented on #1463
@guludo can you re-open this? It's still relevant.

[2020-02-12 11:57] guludo commented on #1463
Sure.

/reopen
/remove-lifecycle rotten

[2020-02-12 15:54] #1509 closed

[2020-02-13 16:06] davidsbond opened #2201 "Kustomize not clearing /tmp folder"
Hello, my team is using a combination of kustomize and kube-applier in order to achieve a gitops approach to our deployments in k8s.

We were experiencing an issue where our kube-applier instance began using an excessive amount of disk space, causing pods to become evicted.

After some investigation, I found the source of the disk usage was by kustomize storing copies of repositories it had to clo