[2021-07-08 20:19] #3957 closed

[2021-07-08 21:03] rkulow commented on #3819
is there already any update on when this feature will be released or what release number will contain it?

[2021-07-08 21:07] natasha41575 commented on #3819
The most recent release should have the feature.

[2021-07-08 21:14] rkulow commented on #3819
All right, thanks - I was just wondering because the release notes didn't say anything specifically about this feature.

[2021-07-08 21:20] natasha41575 commented on #3979
For the sake of thoroughness, here is my full proposal for this issue:

## Input
There should be a new field in the kustomization to toggle the option to add this annotation:

[code]

## Output
### Local files
Resources that are provided to kustomize via local files under the resources field in the kustomization file (or in the kustomization file of any bases) should have the following annotation:

[2021-07-08 21:24] natasha41575 commented on #3819
[api/v0.8.11](https://github.com/kubernetes-sigs/kustomize/releases/tag/api%2Fv0.8.11) which has a release note about it and kustomize v4.2.0 has a release note that it depends on api v0.8.11. This is very confusing and unintuitive so I don't blame you for not seeing it, we are hoping to improve our release process.

[2021-07-08 21:28] bgrant0607 commented on #3953
Yes, the imperative fn commands are also worthy of scrutiny. The commands should have been alpha.

KEPs for plugins and functions:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/993-kustomize-generators-transformers
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2299-kustomize-plugin-composition

[2021-07-09 00:26] #3976 closed

[2021-07-09 02:11] KnVerey commented on #3979
How will `config.kubernetes.io/origin/path:` relate to `internal.config.kubernetes.io/path`? Same thing, but not dropped as internal reader annotations are? If the writer is set to keep reader annotations, do we output both?

Instead of a variable number of annotations, how about a single origin annotation containing structured data, like we use for function configuration?

Re: the field name, I'm

[2021-07-09 03:28] messiahUA opened #4050 "multiple matches: failed to find unique target for patch (possible bug)"
I'm not sure whether this is a bug, so I'm first asking a question.
Here is the file structure https://github.com/messiahUA/kustomize:
[code]
All the main points should be clear from the above tree.

I've tried with kustomize:
**{Version:kustomize/v4.2.0 GitCommit:d53a2ad45d04b0264bcee9e19879437d851cb778 BuildDate:2021-06-30T22:49:26Z GoOs:linux GoArch:amd64}**

I expect that it should just work,

[2021-07-09 03:36] messiahUA commented on #4050
I've checked all 3.8.x version and the latest which works is 3.8.9. It breaks on 3.8.10.

[2021-07-09 08:10] dmytrostriletskyi opened #4051 "[Question] Change annotations transformers value on fly with kustomize edit set"
Hi,

first, thank you for this great and useful project. Second, I have a question I could not find an answer on.

Initially, I wanted to put some annotations to my `Deployment` resource. I used `commonAnnotations` setting in `kustomization.yml`. When I built it, I found it is applied to all resources. After, I found that I can solve it by built-in plugins and using annotations transformers. I tri

[2021-07-09 09:19] 110y commented on #3605
With the latest version of kustomize (4.2.0), [my PoC](https://github.com/110y/kustomize-issue-3605) for this issue has seemed to be resolved.

[2021-07-09 12:20] goto100 commented on #680
Can't imaging there is still no resolution for this in 2021……

[2021-07-09 12:41] goto100 commented on #3787
It's very useful, and `kubectl edit` has already made an example for this usage. It shows a structured value rather than a string if the value is a legal yaml string.

[2021-07-09 12:45] liger1978 commented on #3787
Patching data within ConfigMaps would remove the last reason for templating.

[2021-07-09 12:54] messiahUA commented on #4050
@natasha41575 I've checked all commits and found that f71854a breaks this.

[2021-07-09 13:22] preetak commented on #50
Just went through the messages quickly. Do we have anything  for disabling the  appending of hash to the secret name generated ?

[2021-07-09 16:54] snuggie12 commented on #3762
As in run `helm template foo > ./file.yaml`?? Doesn't work with a gitops style setup.

We have since worked around this by just creating a fake directory structure containing symlinks to the correct directories, but if you look at the table [here](https://helm.sh/docs/helm/helm/#helm) (apologies on behalf of helm's website that there is no anchor. you should search for "default directories depend

[2021-07-09 20:22] natasha41575 commented on #3979
I think that's a good idea. How about:

[code]

If we do this, is the relation of this path field to `internal.config.kubernetes.io/path` still a concern? I imagine if the writer is set to keep reader annotations we would want to output both.

Maybe `labelOptions`? I'm not a big fan of that but I'm struggling to think of a better name.

[2021-07-09 20:39] natasha41575 commented on #4051
I took a look and am surprised to discover that although there is a command for `kustomize edit set label key:value`, there doesn't appear to be done for annotations. I don't see any reason not to support it and most of the implementation could be copied from `kustomize/commands/edit/set/setlabel.go`, so I will leave this issue open if someone wants to contribute it.

Thanks!

[2021-07-09 21:07] natasha41575 commented on #4050
I'm not sure why your configuration was working to begin with.

A patch can (at least, is supposed to) refer to a resource by any of its previous names. So, when you try to patch your Deployment named `app`, the patch matches `app`, but it also matches `app2` because the resource was previously named `app`. The fact that it wasn't throwing an error before sounds like a bug with the old behavior. M

[2021-07-09 21:32] 814HiManny opened #4052 "LoadRestrictionsNone is not correctly opening files from configurations outside of directory for git kustomizations"
When using LoadRestrictionsNone I expect kustomize to be able to refer to kustomizations in git repositories that reference a configuration that is outside of the directory where the kustomization is. If I do a git clone of a repo, the LoadRestrictionsNone flag correctly works. When the same git repo is referenced via a git resource, it does not work.

kustomization.yaml

[code]

**Expected output

[2021-07-09 21:40] yogeshgadge opened #4053 "[Question] How to set property every array element ?"
On the lines of targeting specific array `entry prop.[name=nginx].host` I tried `entry prop.-.host` so that all the array elements are targeted. However this did not work.

See my example below
kustomization.yaml
[code]

Here are the detailed values https://stackoverflow.com/questions/68322864/kustomize-how-to-target-replacement-in-every-array

I am using kustomize 4.2.0 version

[2021-07-09 21:44] natasha41575 commented on #4053
There is no mechanism to do so, but I can add one.

[2021-07-09 21:45] natasha41575 commented on #4053
There is no mechanism to do so, but we can consider adding one.

@monopole @KnVerey any concerns or objects with a mechanism to target all array elements in a replacement fieldPath?

[2021-07-09 21:46] natasha41575 commented on #4053
In its current state you would have to list out all the fieldPaths you need.

[2021-07-09 21:47] jaunruh commented on #3867
I am still having this issue. I am not entirely sure if it is Kustomize related. It seems like either a general K8s issue or an nginx-ingress issue.
I have encountered this issue again in the following scenario:
I used terraform to set up a `dev` environment. The `dev` environment works flawlessly.
We have a running `prod` environment that was setup manually which should be replaced. So I set up a

[2021-07-10 04:08] bgrant0607 commented on #3980
We experimented with integrating cli-utils actuation commands into kustomize, but the command architecture didn't make sense from an experience point of view. Integrating cli-utils into kubectl as originally planned (https://github.com/kubernetes/enhancements/pull/810) encountered other challenges.

In the meantime, tools like Helm, Terraform, Pulumi, and dozens of others have already implemented

[2021-07-10 07:19] messiahUA commented on #4050
@natasha41575 **thanks a lot for the reply!** I've tried exactly what you've suggested and it works and I think it's good, the structure is even more consistent, although I would say it's probably not very logical from my perspective in terms of how replacements are done and it is counterintuitive (or maybe I'm "special" :).

I have also thought that the deal is with the structure and I've tried y

[2021-07-10 14:37] lstoll opened #4054 "ConfigMapGenerator updating unrelated ClusterRole rule resource names"
**Describe the bug**

When using the ConfigMap generator, an unrelated ClusterRole rule for a lease object is updated with the generated ConfigMap's name. This causes the role to fail, and I would not expect that rule to be updated as it is for an unrelated object.

**Files that can reproduce the issue**

kustomization.yaml

[code]

role.yaml

[code]

**Expected output**

[code]

**Actual output**

[2021-07-10 14:40] lstoll commented on #4054
Test added in #4055

[2021-07-10 15:45] deepak-gc opened #4056 "[Question] Namespace conflict error with mulitbase with a common base example"
Hi,
I followed the multibase with common base [example ](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/multibases).

[code]

Everything works as expected when i run the command

```> kustomize build```

I also want to be able to deploy only dev || production

```> kustomize build dev```

```> kustomize build production```

If I add a namespace in the dev & production overlays t

[2021-07-12 05:15] thatsmydoing commented on #3761
I've made a PR here https://github.com/kubernetes-sigs/kustomize/pull/4030 still waiting for approval of the message before trying to update the main kustomize docs.

Also, I might sound like a broken record but here's an article (about GitHub of all things) showing why short hashes are a bad idea https://blog.teddykatz.com/2019/11/12/github-actions-dos.html

[2021-07-12 12:06] hans-d opened #4058 "HelmChartInflationGenerator too strict on yamls"
**Describe the bug**

When a helmchart is inflated using kustomize, it does additional yaml validation. That  validation is not done when the helmchart is inflated externally from kustomize and the yaml is used as resource, that validation is not performed.

**Files that can reproduce the issue**

[code]

[code]

**Expected output**

lots of yaml

**Actual output**

[code]

**Kustomize version**

[2021-07-12 13:40] yogeshgadge commented on #4053
Using [] or  [*] for representing all elements seems reasonable to me.
IMO * makes more sense than empty.

[code]

[2021-07-12 14:32] ephesused commented on #2869
/remove-lifecycle stale

There's been improvement over time, but the execution time still is meaningfully slower when compared to v3.7.0. For example, 4.2.0's run time is over 2.5 times the run time in 3.7.0. If that performance difference is acceptable for the devs, I'm comfortable with this ticket getting closed - but I'd rather that closure happen as an explicit closure by a person (instead of

[2021-07-12 15:31] ron1 commented on #4052
@814HiManny FYI, I get the same error in the even simpler case with no local kustomization.yaml file. However, if I first clone the repo and then execute kustomize build, it works as expected.

FAILURE:
[code]

SUCCESS:
[code]

[2021-07-12 17:03] #4050 closed

[2021-07-12 17:04] natasha41575 commented on #4050
I think this only applies to patchesStrategicMerge; I'll do some testing and update the docs.

[2021-07-12 18:40] jameshochadel opened #4060 "In what order are transformers applied, and is it configurable?"
In the first release of Kustomize that supported Replacements (v4.0.5?), the namespace transformer seemed to run before the replacements transformer, which allowed `replacements` to use the transformed namespace as a source. That was achieved by defining the Namespace resource in a file and writing a replacements source like:

[code]

In v4.2.0, this behavior seems to have changed. Building the ku

[2021-07-12 19:10] jameshochadel commented on #4060
Sorry, closing this; My problem was not caused by the transformer ordering, but rather by `namespace` being in a kustomization downstream of `replacements`, and therefore being applied after.

[2021-07-12 19:10] #4060 closed

[2021-07-12 19:25] natasha41575 commented on #4058
Could you please provide the file that produces this issue? I believe having duplicate keys causes our low-level yaml marshalling libraries to panic.

[2021-07-12 20:09] hans-d commented on #4058
see https://github.com/kyverno/kyverno/blob/f1491fe6d3e813682c4efaafd29e0f6a16e2f94a/charts/kyverno/templates/tests/test.yaml

[2021-07-12 21:57] natasha41575 commented on #4056
Sorry I didn't quite follow. In dev and production overlays, are you adding another namespace.yaml file or are you adding a `namespace` field to the kustomization? Could you provide the contents of the files you are adding/changing?

What commands work or fail? I'm unsure what you mean by the command do build dev and production deployment.

[2021-07-12 22:05] deepakgc commented on #4056
@natasha41575 Thank you for your reply!, please see the code and the Readme file in this repo https://github.com/deepak-gc/kustomize-namespace-issue. If it's still not clear enough please let me know.

[2021-07-12 22:28] natasha41575 commented on #4054
Pardon my ignorance, but is there a way for kustomize to know that `cluster-autoscaler` in your ClusterRole is referring to something other than your ConfigMap name? Kustomize thinks they are referring to the same resource, and automatically updates all name references when adding a suffix.

How can a tool distinguish the case where
[code]
is referring to the same resource as
[code]

vs the case w

[2021-07-12 22:36] natasha41575 commented on #4054
Kustomize thinks they are referring to the same resource, and automatically updates all name references when adding a suffix.

Is the correct behavior to compare against apiGroup `coordination.k8s.io`? Pardon my ignorance - I don't know much about policy rules (and am struggling to find an answer online), but is the combination of rules an "and" or an "or"? As in, is this cluster role intended to

[2021-07-13 00:03] r0bj opened #4062 "patch removing fields for CronJob batch/v1"
When using kustomize patch with CronJob in version batch/v1 some fields are removed from generated manifest.

Example:

kustomization.yaml

[code]

resources.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

Note: There are missing env variables, command and also image.
When `CronJob` object are in version `batch/v1beta1` kustomize patch everything works fine.

**Kustomize vers

[2021-07-13 17:24] #4029 closed

[2021-07-13 21:27] natasha41575 commented on #3913
@KnVerey please let us know your thoughts

[2021-07-13 21:36] natasha41575 commented on #3979
Or, since the original proposal was to have it as a flag to `kustomize build`, how about `buildOptions`?

[code]

[2021-07-13 21:51] a5r0n commented on #3414
i cant use kustomize with knative..

In the meantime I guess this behavior should be noted in the documentation [here](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#fieldspec)?

[2021-07-14 02:55] JohnRusk commented on #2427
This seems like a good question.  I will make a new issue to see if I can get some traction on it.

[2021-07-14 05:20] haim-ari commented on #3480
* Flux `v0.16.1`
* kustomize (local) `v4.2.0`

Flux complains with the following error:

`kustomize build failed: map[string]interface (nil): yaml: unmarshal errors:
line 11: mapping key "interval" already defined at line 7
`

In the project there is no indication of such issue in any directory/file

For example if I create such duplication, I can see the error:

<img width="619" alt="Screen Shot

[2021-07-14 14:47] shay-berman commented on #347
I also need to inject different host while run the kustomize based on the name of the namespace. Means the namespaceXXX should be set as part of the ingress host.

Reviewing this long thread, must say not sure what is the solution.

Any light please?

[2021-07-14 15:36] nightlyone commented on #1835
Maybe there should be a special case for this merging like it has been done with images. env and envFrom lists are pretty often specified and their contents differs a lot when having a unified service template, but lots of services.

[2021-07-14 18:38] natasha41575 opened #4066 "Kyaml converts multiline scalars to single lines"
A round trip in kyaml converts the following:

[code]

into

[code]

This resource is a snippet taken from [here](https://github.com/GoogleCloudPlatform/anthos-service-mesh-packages/blob/master/asm/canonical-service/controller.yaml#L31). The line breaks in the description fields are lost.

If this is an issue with go-yaml, we should make the fix in our fork and also file an issue/PR to go-yaml ups

[2021-07-14 18:38] natasha41575 commented on #4066
cc @phanimarupaka

[2021-07-14 19:43] #3447 closed

[2021-07-14 23:48] natasha41575 commented on #4066
Filed https://github.com/go-yaml/yaml/issues/765 upstream along with a PR https://github.com/go-yaml/yaml/pull/766.

[2021-07-14 23:48] #4066 closed

[2021-07-15 06:56] aodinokov commented on #4049
@natasha41575
JFYI Maybe it will give some inspiration :) .. When I experimented with krm-based replacement transformer last year I came to the solution with
[`multiref` source](https://github.com/aodinokov/noctl-airship-poc/blob/master/kpt-functions/replacement/function_test.go#L514)
This solution was inspired by kpt substitutions. where it was possible to concat several values using some templat

[2021-07-15 16:41] KnVerey commented on #4053
I think the feature makes sense. As for the syntax, fieldPath is essentially using a subset of JSONPath syntax, so we should stick with its way of expressing things as we add features. Specifically, our implementation should be consistent with what k/k packages use, i.e. [this parser from client-go](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/

[2021-07-15 19:59] deepak-gc commented on #4056
Hi @natasha41575  On single namespace on prod env where I would like to deploy same app multiple times with different deployment names.
my kustomize dir:
[code]

In `k8s/overlays/prod/namespace-a/kustomization.yaml`
[code]

So I can create deployment for  `deployment-a1` & `deployment-a2` using below command

`kustomize build k8s/overlays/prod/namespace-a`

which works flawlessly :)

But I also wo

[2021-07-15 21:11] #3961 closed

[2021-07-15 22:37] KnVerey commented on #4028
We should consider doing a `goreleaser build` (https://goreleaser.com/quick-start/#dry-run) in CI to help discover problems like this ahead of release time in the future.

[2021-07-16 17:27] natasha41575 commented on #50
@preetak Yes, for example:

[code]

It is exactly the same syntax for configMapGenerator.

[2021-07-16 20:30] natasha41575 commented on #3953
I just tested it out and although the function appears to be running correctly, it doesn't work with `kustomize build` because kustomize doesn't preserve comments. Some debugging shows that at the function level, the function `create-setters` does add setter comments, but they are lost in the output.

The functions _can_ successfully be invoked by `kustomize fn run . --image=gcr.io/kpt-fn/create-s

[2021-07-16 20:50] natasha41575 commented on #3953
I just tested it out with the following:

[code]

and

[code]

and received the error `no matches for the input list of setter`.

My hunch is that it is because kustomize doesn't preserve comments, so if we want to support setters as a transformer, we will have to look into comment preservation unmarshaling.

It does work with kustomize fn run . --image=gcr.io/kpt-fn/apply-setters:v0.1 -- name=val

[2021-07-17 00:05] #3609 closed

[2021-07-17 04:12] ob commented on #3736
/remove-lifecycle rotten

[2021-07-18 13:31] kingdonb commented on #3480
I also have a CustomResourceDefinitions file that doesn't appear to have duplicate keys, but kustomize build fails on it.

This looks like a spurious error and I believe there is still a bug here, though I can't offer much more help than that, I do have a repo which reproduces it:

https://github.com/kingdonb/bb-csh-flux

Running `kustomize build .` in the `tenants/mixed-arch-k3s/okteto-enterprise

[2021-07-18 13:32] kingdonb commented on #3480
Beg pardon, I was still using an old Kustomize 3.9.3

The error persists and is very similar in Kustomize 4.2.0 though:

[code]

[2021-07-19 12:46] HumairAK commented on #2721
/remove-lifecycle stale

[2021-07-19 12:56] monotek commented on #2736
/remove-lifecycle stale

[2021-07-19 15:21] #3574 closed

[2021-07-20 01:06] natasha41575 commented on #4053
Being consistent with k/k sounds good to me. In that case, the syntax would be something like `spec.http[*].route.0.destination.host` when implemented.

[2021-07-20 21:12] marshall007 opened #4075 "Support label and annotation selectors in replacement source/targets"
**Is your feature request related to a problem? Please describe.**

We have identified several scenarios where we were previously using strategic merge patches with hard-coded values that can be made more robust by using `replacements` targeting array values by `name`. For example, manipulating service and container port values.

Unfortunately, `replacements` does not support filtering sources and

[2021-07-20 22:32] natasha41575 commented on #4075
I can see the use case for filtering replacement targets by `labelSelector` and `annotationSelector` (and implementation would be straightforward), but I'm curious why you would want it for replacement source values. Since the source selector must match exactly 1 resource, couldn't you always use its GVKN/N?

[2021-07-21 15:06] marshall007 commented on #4075
@natasha41575 I was under the impression that a selector must match exactly 1 _or 0_ resources (the latter case resulting in a no-op). However, after further experimentation it seems like the behavior is inconsistent. It appears that there are cases where if the specified GVKNN `source` matches a single resource but the `fieldPath` does not exist you get the "no-op" behavior I'm describing. In mos

[2021-07-21 15:48] marshall007 commented on #4075
Was just about to add that "no-op" for unmatched replacement source/targets should be the default behavior as this would align with the behavior of unmatched `patch` targets. However, there seems to be a regression from `v4.1.2` to `v4.2.0` and this is no longer the case. A pointer dereference exception is thrown in `v4.2.0`.

I think we need to take a step back and determine what the desirable de

[2021-07-21 16:36] yanniszark commented on #3913
ping @KnVerey
@natasha41575 I will start the implementation of the latter in the PR, while we wait.
Hopefully, there will only be small changes on top of that :)

[2021-07-21 16:56] natasha41575 commented on #4075
If you have the time, please do file a separate issue for what happened here. I have a hunch about what caused that to happen and I think it can be fixed.

I totally agree that it makes sense for an unmatched replacement `target` to be a no-op (which I believe is the current behavior) - and should be consistent with patch targets. But what would it mean to have an unmatched replacement `source`? I

[2021-07-21 17:08] KnVerey commented on #3913
That LGTM. I'd suggest dropping `sortOrder` to just `order` since it is under `sortOptions`, but I don't feel strongly about it.

[2021-07-21 18:09] natasha41575 commented on #3913
+ 1

[2021-07-21 20:34] marshall007 opened #4078 "Replacements: uncaught exception when `source.fieldPath` does not exist"
**Describe the bug**

Uncaught `nil pointer dereference` exceptions are being raised in certain replacement scenarios. It seems to be primarily related to the source `fieldPath` not being present in the `source` resource.

One important note in reproducing this bug is that it only surfaces when using `options.create: true`. Note the very slight differences in the following two examples. The second

[2021-07-21 20:35] marshall007 commented on #4075
@natasha41575

You bet, see #4078.

I don't see this case as different from the unmatched patch source/target case. I think of `replacements` as basically "`patches` that can source values from resources". In the case of `patches`, the source and target resource are the same. When using `replacements`, the source and target resource _may be_ the same or they can be different.

I think the big diff

[2021-07-21 20:57] iamnoah commented on #3852
Just an update: This is still an issue as of Kustomize 4.2.0

[code]

[2021-07-22 02:31] max-sixty commented on #2460
I recognize the auto-close bot can be useful to prune issues that don't have a reasonable chance of making forward progress.

But is it working as intended here? Is the message of the maintainers that this is a non-starter? All good if so — but if not, maybe we could ask the auto-close bot to relax a little?

[2021-07-22 15:50] jackivanov opened #4079 "Private git repo in resources doesn't seem to work (index out of range [0] with length 0)"
**Describe the bug**

I'm trying to use a private git repo as the base source for resources. I can clone the repo locally, but not with kustomize.

**Files that can reproduce the issue**

Example:

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

macOS

**Additional context**

I'm able to clone the repo

[code]

I tried different URL formats that go-getter supports,

[2021-07-22 17:46] natasha41575 commented on #4079
This was fixed by https://github.com/kubernetes-sigs/kustomize/pull/4039 and should be available in the next release.

[2021-07-22 17:46] #4079 closed

[2021-07-22 17:50] natasha41575 commented on #4045
The commands will be marked deprecated in the next release. We can remove the code as part of the kustomize CLI v5 release.

[2021-07-22 23:38] pratikzingade commented on #1509
I have the exact same issue, was anyone able to solve this problem?

[2021-07-22 23:44] KnVerey commented on #3953
/retitle Deprecation of `kustomize cfg` and `kustomize fn` alpha commands

We've merged the deprecation of most of the cfg alpha commands in #4048 . I'm thinking we don't need to hold off deprecating alpha commands that aren't integrated with Kustomization just because we may in the future implement similar functionality that IS integrated.

@natasha41575 wdyt about deprecating the readonly comman

[2021-07-22 23:59] natasha41575 commented on #3953
Between deprecation and enhancing them to inflate a kustomization, I slightly prefer the latter but I don't have a strong opinion. Would we try to find another home for the commands or just get rid of them altogether?

I don't see the value of the others, but I do see value in `kustomize fn run` as a tool for function authors. I'm not sure that we should deprecate it until an alternative method of

[2021-07-23 00:30] james-callahan commented on #3816
.

[2021-07-23 06:18] matti commented on #1493
/remove-lifecycle stale

[2021-07-23 07:32] james-callahan commented on #3816
hmm. why didn't @fejta-bot remove the stale label when I commented?

[2021-07-23 08:16] boonware commented on #641
Is there a progress update on this? It seems like a pretty big limitation. Not being able to us Kustomize with CRDs such as those in Argo Workflows is a huge drawback.

[2021-07-23 09:12] boonware commented on #641
The workaround [above](https://github.com/kubernetes-sigs/kustomize/issues/641#issuecomment-617889048) does not work. I am using Kustomize v4.2.0. The following error is thrown. My files are shown below.

[code]

`cron-workflow.yaml`:
[code]

`kustomization.yaml`:
[code]

`patch.yaml`:
[code]

[2021-07-23 11:27] KarstenSiemer commented on #3904
We've decided for a different solution using kustomize. Thanks for the help though 👍

[2021-07-23 11:27] #3904 closed

[2021-07-23 18:33] marshall007 commented on #4075
@natasha41575 I'm noticing today additional syntax for selectors that work in `patches` but do not work in `replacements`. I think we should make the spec and behavior for `patches` and `replacements` targets identical.

[code]

[2021-07-23 20:05] marshall007 opened #4080 "Replacements: better support for targeting `--key=value` container `args`"
**Is your feature request related to a problem? Please describe.**

A huge value-add to using `replacements` over traditional JSON patches is the ability to use `[key=value]` selectors in field paths. This makes your patches much more robust since the alternative relies on array field ordering. Unfortunately, this is still true when the field path value is a simple string array... most notably in

[2021-07-23 20:42] marshall007 commented on #4080
I think it's worth noting that the semantics of `options.prefix`/`options.suffix` as described here would be consistent with how setters and substitutions work(ed). With the imperative setter commands being removed in v5 (see: https://github.com/kubernetes-sigs/kustomize/issues/3953), users could turn to replacements as a more declarative approach to achieving the same functionality.

[2021-07-24 01:19] #3975 closed

[2021-07-24 01:37] clarkmcc opened #4081 "Cannot unmarshal number into Go struct field Image.images.newTag of type string"
**Describe the bug**

When the Kustomize `newTag` property looks like a number with scientific notation or has no letters at all, Kustomize is unable to unmarshal it.

**Files that can reproduce the issue**

[code]

[code]

**Additional context**

[2021-07-25 11:36] sqqqrly commented on #2190
Another tool named spruce may work for you.  It has many more features such as semantic diff between yamls along with deep merges. https://github.com/geofffranks/spruce

[2021-07-25 13:42] rafalkasa opened #4083 "plugin not configurable"
I do everything following the instruction in the documentation

https://kubectl.docs.kubernetes.io/guides/extending_kustomize/gopluginguidedexample/#install-sops
I have used repository: https://github.com/monopole/sopsencodedsecrets

Finally when I run:
[code]

I receive the message:

[code]

Could you help ? Maybe someone of you have similar issue te mine.

[2021-07-25 20:11] monopole commented on #3979
Sorry for the late review, I was on leave.

[uses labels]: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

I wrote this issue in terms of labels since paths and repo names make sense as label _values_. K8s [uses labels] for _identifying attributes_, for imposing an _organizational structure_ on objects, and for fast _selection_ (e.g. show the resources from repo _x_).

H

[2021-07-26 09:58] rafalkasa commented on #347
First of all thanks for @andsens for preparing the examples with Python **IngressDomainTransformer** unfortunatelly for me I have trouble to run it in the simple way, below you will find my version of transformer.

[code]

Place it in to `~/.config/kustomize/plugin/APINAME/ingressdomaintransformer`
Next change your **kustomize.yaml** to;
[code]

or if you would like separate file for transformers

[2021-07-26 11:13] cadiegoc commented on #3969
Hi,
My team is having the same issue with Kustomize and long lines being broken.
I can see that Kustomize v4.2.0 was released 25 days ago. Do you know if that version fixes it?
If not, do you know if the next version (v4.3.0?) will fix it? If it does, do you know the expected date for the new release?
Thank you in advance!

[2021-07-26 19:54] foobarbecue commented on #1424
Workaround? How can we check what version of kustomize kubectl is using?

[2021-07-26 20:24] KnVerey commented on #1424
For now you'll have to check the Kustomize readme:

https://github.com/kubernetes-sigs/kustomize#kubectl-integration

[2021-07-26 20:27] foobarbecue commented on #3675
Anchors were the feature that made YAML usable, so I could have 2K line manifests instead of 20K line manifests. And now it breaks without any warning or workaround. Guess we're stuck using kustomize 3.8 .

[2021-07-26 20:37] KnVerey commented on #3979
[code]

👍 I like this

[2021-07-27 00:06] natasha41575 commented on #4080
What if we provided away to specifically target elements in string arrays? For example, something like `spec.template.spec.containers.[name=cert-manager].args.{--leader-election-namespace=kube-system}`

I'm not particularly fond of using curly braces for the syntax but I am struggling to think of something better ATM and just want to get some feedback on the idea.

[2021-07-27 00:10] natasha41575 commented on #4075
I'm open to this, consistency across targets makes sense to me.

For having a missing source be a no-op instead of an error, I'd like to know @monopole's and @KnVerey's thoughts

[2021-07-27 18:25] KnVerey commented on #4075
I agree with making target config consistent across replacements and patches, but aren't label and annotation selectors already supported in targets? The [TargetSelector type](https://github.com/kubernetes-sigs/kustomize/blob/master/api/types/replacement.go#L54) embeds a [Selector](https://github.com/kubernetes-sigs/kustomize/blob/91b862b5563e2f601ea5ed5485379f1cac64ccfb/api/types/selector.go#L16)

[2021-07-27 23:29] KnVerey opened #4090 "Graduate Kustomize cfg read-only commands out of alpha"
Related to #3953 , which deprecates the rest of the `cfg` group.

IMO to keep the read-only commands rather than deprecate them as well, we should:
* Reconsider whether `cfg` is the prefix we want permanently. @bgrant0607 suggested `view`, `browse` or `scan` as alternatives.
* Make these command support inflating the Kustomization in the targeted directory. In fact, that should probably be the def

[2021-07-27 23:31] KnVerey commented on #3953
I'm ok with that, and I've opened an issue about it here: #4090

Ok, let's keep `fn run` and deprecate the others. Can you take care of that @natasha41575?

[2021-07-28 09:16] wd opened #4092 "Patches in components can't be applied in version greater then 3.8.9"
**Describe the bug**

The yamls can build by 3.8.9 but can't build by version bigger than 3.8.9

[code]

**Files that can reproduce the issue**

[code]

All the contents of the files
[code]

**Expected output**

[code]
**Actual output**

[code]

**Kustomize version**

kustomize_v3.8.10 and above

**Platform**

Mac

[2021-07-28 15:52] marshall007 commented on #4080
@natasha41575 I went back and forth on that same idea when I was writing up the proposal. I think the main issue with that approach is that you still need a way to construct a prefixed target value. My understanding of your example would be that it would result in the entire string `--leader-election-namespace=kube-system` being replaced with the source value from `fieldPath: metadata.namespace` w

[2021-07-28 16:12] papezt opened #4093 "Unable to run kustomize build on remote base in gitlab"
Unable to run kustomize on remote base in gitlab. I have tested it with `kubectl kustomize` and it works, with `kustomize build` it throws error, more in the description.

kustomization.yaml

[code]

redis.yaml is simplified kutomize to service only:

[code]

service.yaml

[code]

**Expected output**

Just to see the kustomized file, in this case, the original file.

**Error message**
[code]

**Ku

[2021-07-28 16:21] natasha41575 commented on #4080
@marshall007 For this, you could use the options:
[code]

[2021-07-28 16:31] marshall007 commented on #4075
@KnVerey I don't disagree with your conclusion regarding custom transformers being the preferred solution here, but just wanted to clarify a couple points:

Our intent with this component is that users would only apply it to groups of resources where each group contains only one "public endpoint" (i.e. annotated resource). I could be wrong, but I think if you included these replacements as a compo

[2021-07-28 18:24] marshall007 commented on #4080
@natasha41575 yea the only downside there is that you can't replace multi-part values. Typical examples of that include `--arg=namespace/name` and `--arg=name.namespace.svc.cluster.local`.

There are some particularly problematic examples of this sort of thing in the `cert-manager` helm chart:

https://github.com/jetstack/cert-manager/blob/f970eca76265ff22c868dab3699cdd3cae26e90f/deploy/charts/cer

[2021-07-29 15:19] marshall007 opened #4095 "[Question] Best practices for shareable transformer configs?"
Based on #480 it seems as though support for custom transformer configs was intended to be an "easier way to register CRD related configs". In practice, we are still finding it quite challenging to provide these configurations for CRDs in a way that is easily consumable.

For example, it is not enough for us to include `configurations` in just the base kustomizations, we also have to make sure the

[2021-07-29 20:20] hvitoi commented on #3205
Being unable to use wildcard in "resources" field in kustomization.yaml adds an extra burden when trying to implement GitOps principles.

Imagine you want your users to be able to simply add a manifest in your repository and this way your manifest gets deployed automatically on the environment. That's great and simple.

Now imagine this procedure has changed and you must tell this same user to edi

[2021-07-30 21:28] natasha41575 commented on #3953
/assign

[2021-07-30 22:14] siegenthalerroger opened #4098 "Patches cannot target a Label that is applied by the commonLabels transformer"
I have the situation that I have patches that are defined globally (i.e. on the first Kustomisation) and I have commonLabels that are defined per service. From what I can tell, the commonLabels are applied, however they are not available for targeting from the defined patches. Is this the intended behaviour, because if so it's extremely unintuitive. Is there a way to use labels defined by commonLa

[2021-07-31 01:23] #4098 closed

[2021-07-31 01:24] siegenthalerroger commented on #4098
After trying to reproduce this further it appears that it is not an ordering issue but some other issue I am running into due to the complex nature of our structure. I'll have to see if I can wrap my head around that

[2021-07-31 07:09] zero-below opened #4099 "Replacements do not work with fields that were set in a parent kustomization."
**Describe the bug**

`replacements` does not work if the `source` resource comes from above the `replacements` in the dependency graph. This is the case whether kustomizations come as `Component` or `Kustomization` files.

Note, the example below uses commonAnnotations to simplify the demonstration, however the same behavior occurs with static resources (such as a configmap.yaml file that sets an

[2021-07-31 18:35] StevenLiekens commented on #2037
/remove-lifecycle stale

Try again

[2021-07-31 19:21] #3204 closed

[2021-08-01 11:10] james-callahan commented on #3276
/remove-lifecycle stale

@ChaturvediSulabh did you get anywhere with this?

[2021-08-01 19:31] #3671 closed

[2021-08-01 20:04] seh commented on #4099
I'm suffering similar problem with `replacements`. In my case, there's a container environment variable in a pod spec that refers to a _Service_ by its namespace and name as _ns/name_. I tried to use `replacements` to keep this environment variable value up to date with changes to the _Service's_ namespace and name, since `nameReference` can't handle that that composite value.

`replacements` work

[2021-08-01 20:38] seh commented on #4099
Per @natasha41575's https://github.com/kubernetes-sigs/kustomize/pull/4031#issuecomment-873294737, it sounds like I'm asking for too much in my example. She writes:

In my case that's arguably possible, but it breaks encapsulation. The environment variable value I mentioned is something that I'd prefer to hide from—at at least not burden with fixing—any overlays that might change the namespace. I

[2021-08-01 20:58] seh commented on #4034
My https://github.com/kubernetes-sigs/kustomize/issues/4099#issuecomment-890577844 and https://github.com/kubernetes-sigs/kustomize/issues/4099#issuecomment-890583207 speak to a similar desire and expectation.

[2021-08-02 07:47] shapirus opened #4100 "Performance degradation starting with v3.8.6"
Starting with v3.8.6, a serious performance degradation is observed even on a very basic setup. Version 3.8.5 (and older) was fine.

Demonstration:

kustomization.yaml

[code]

service.yaml

[code]

I performed a test run with versions 3.8.5, 3.8.6, 3.8.7, 3.8.8, 4.2.0. While v3.8.5 is able to build the manifest in about 35 ms, v3.8.6 and v3.8.7 spend about 850 ms, and then starting with v3.8.8 an

[2021-08-02 09:03] dpinchukov-ueni commented on #4100
Attaching a Dockerfile that can be used (by building it) to reproduce the test run described above.

[Dockerfile.zip](https://github.com/kubernetes-sigs/kustomize/files/6915718/Dockerfile.zip)

[2021-08-02 09:04] shapirus commented on #4100
Attaching a Dockerfile that can be used to reproduce the test run described above by building it.

[Dockerfile.zip](https://github.com/kubernetes-sigs/kustomize/files/6915726/Dockerfile.zip)

[2021-08-02 14:53] zero-below commented on #4099
My above example was with including files as `resource` entries, but the behavior is identical with `component` loads as well -- as far as I can tell, a `replacements` can only look down the tree.

But the common use for a replacements block would be to apply environment specific information into more generic modular code...and those environment specific configurations would typically occur at the

[2021-08-02 15:24] seh commented on #4099
In my case, I was trying to establish an invariant down in the base, where the _Service_ referred to by this environment variable (in a _Deployment_ pod spec) is defined. Much like name references in _kustomize_, I was trying to express that this environment variable's value should always "point" at this _Service_, so that if someone places the _Service_ into a different namespace or adjusts its n

[2021-08-02 17:44] zero-below commented on #4099
And realistically -- if I want to use a field from a resource to put into another resource, I can not think of any cases I'd want to use any value other than the FINAL RENDERED value of it.

If you see my example above, we take the annotation from a configmap, and put that into the value of another configmap. But then after all that's done, the original configmap annotation is changed in the final

[2021-08-02 18:08] mikebz commented on #3848
@natasha41575 this might be addressed with your function based approach.

[2021-08-02 20:38] #3660 closed

[2021-08-02 22:35] jkroepke commented on #3762
@snuggie12 did you verify the issue still exists after https://github.com/kubernetes-sigs/kustomize/pull/3713 ?

[2021-08-02 22:47] jkroepke commented on #3762
An other use case is using the BuildContext of ArgoCD (https://argoproj.github.io/argo-cd/user-guide/build-environment/) to push notification back to the CI system though ArgoCD hooks.

[2021-08-02 22:47] jkroepke commented on #388
An other use case is using the BuildContext of ArgoCD (https://argoproj.github.io/argo-cd/user-guide/build-environment/) to push notification back to the CI system though ArgoCD hooks.

[2021-08-02 23:12] metasim commented on #3675
@KnVerey Curious to know if there's been any further discussion on this within the Kustomization team?

[2021-08-03 14:06] gprossliner opened #4101 "[Question] "CreateOnly" for Secrets / Configmaps"
Hi Folks!

For a small tool, I use kustomize for the deployment.
One object that is deployed is a Secret, containing Application Configuration.

This Secret should only be created, but left untouched when I redeploy, because it contains only the initial default Configuration, including the name of the values. The User has to manually fill alter those values, because they contain data that is not a

[2021-08-03 17:09] natasha41575 commented on #3848
/remove-lifecycle stale

[2021-08-03 17:12] natasha41575 commented on #4101
Could you explain a bit more what you mean? Do you mean that the Secret should be created, but that kustomize shouldn't apply any transformations to it? It might help if you provide an example of a kustomization for what you are looking for.

[2021-08-03 17:21] natasha41575 commented on #4100
I'm linking the release notes for kustomize v3.8.6 that might help us narrow down what caused such a big decline in performance:

https://github.com/kubernetes-sigs/kustomize/releases/tag/kyaml%2Fv0.9.3
https://github.com/kubernetes-sigs/kustomize/releases/tag/cmd%2Fconfig%2Fv0.8.4
https://github.com/kubernetes-sigs/kustomize/releases/tag/api%2Fv0.6.4
https://github.com/kubernetes-sigs/kustomize/r

[2021-08-03 17:31] natasha41575 commented on #4090
If we do this, I like `scan` the most.

So, we would have inflation of the kustomization by default? Would there be an option to use these commands without inflation, say `kustomize scan cat . --no-inflate`?

[2021-08-03 17:34] natasha41575 commented on #3756
/remove-lifecycle stale

[2021-08-03 22:08] KnVerey commented on #4090
I could be convinced otherwise, but yes, that's what I'm thinking

[2021-08-03 22:26] iamnoah opened #4103 "replacements cannot target field names containing dots/requiring quoting"
**Describe the bug**

There doesn't seem to be a way to target labels or other fields containing dots for replacement. At the very least, the syntax is not equivalent to other fieldPaths using the Downward API syntax.

**Files that can reproduce the issue**

kustomization.yaml

[code]

name.yml (just a contrived CRD for example purposes)

[code]

foo.yml

[code]

**Expected output**

[code]

**Act

[2021-08-03 23:14] natasha41575 commented on #4103
You're missing some '.''s in your syntax.

The escape mechanism isn't documented yet, I will add that this week, but there are two ways you can escape the '.'. The following kustomization will work for your use case:

[code]

Note that you can either escape the delimiters with `\` or by surrounding the field name with `[]`.

[2021-08-03 23:15] natasha41575 commented on #4103
Actually, it probably makes more sense to leave this open until I write up the documentation.

[2021-08-03 23:23] iamnoah commented on #4103
Yes, docs are very much needed. This is the 3rd fieldPaths syntax I've found. Why does it keep changing?

[2021-08-04 07:45] leon-marcel opened #4104 "Problem with kustomize build: may not add resource with an already registered id"
Hi guys i hope you are able to help me.
We have multiple projects and we want to deploy them with one _kustomization.yaml_. When i try to use kustomize build to build the files the error `may not add resource with an already registered id: rbac.authorization.k8s.io_v1_ClusterRoleBinding|~X|nv-icinga-monitoring:cluster-monitoring-view` occurs.

I built a sample project which reproduced this error.

[2021-08-04 13:01] ChaturvediSulabh commented on #3276
@james-callahan, Have received feedback just last week, working on implementing changes. Apologies for the delay, however, looking at the comments, this might take some more time.

[2021-08-04 15:56] monopole commented on #3675
I think this is fixable on the kyaml  side.  There are some complex edges cases here, and a couple of different ways to approach this.

[2021-08-04 16:14] natasha41575 commented on #4103
triage/accepted
/assign

[2021-08-04 16:15] qkflies commented on #3831
/remove-lifecycle stale

[2021-08-04 16:17] bhester01 commented on #3831
bumping this issue. Most chart tests break CI/CD linting of yaml output as the tests don't follow basic security

[2021-08-04 16:25] KnVerey commented on #3675
/triage accepted

[2021-08-04 16:26] natasha41575 commented on #4104
/assign

[2021-08-04 16:30] KnVerey commented on #4093
/triage accepted

Gitlab URLs aren't currently supported, but we should fail with a more informative error message.

[2021-08-04 16:30] KnVerey commented on #4093
/help-wanted

[2021-08-04 16:30] KnVerey commented on #4093
/help

[2021-08-04 16:33] bgrant0607 commented on #4090
If an on-the-fly build is done first, then this has a dependency on #3979

[2021-08-04 16:35] KnVerey commented on #4081
/triage needs-more-information

Would you be willing to contribute a unit test reproducing this?

As a workaround, quoting the tag should get around the issue. Please let us know if that is not the case.

[2021-08-04 16:39] KnVerey commented on #4062
We need to investigate the difference between the openAPI specs for v1beta1 and v1, specifically the merge strategy on the env field. Strategy _should_ be merge, so perhaps we need to update our embedded specs.

[2021-08-04 16:39] KnVerey commented on #4062
/triage accepted

[2021-08-04 16:50] KnVerey commented on #4008
Older releases aren't maintained by the community. We suspect that a dependency needs to be pinned. This is related to #3706: we want to vendor dependencies in the future for other reasons, which would also keep historical builds reproducible.

/close

[2021-08-04 16:50] #4008 closed

[2021-08-04 16:52] KnVerey commented on #4054
/triage needs-information

Please update the PR to exhibit the problem by passing as requested

[2021-08-04 17:14] natasha41575 commented on #4104
The problem is that you are using the same base in two different overlays without changing its ID, resulting in two resources with the same ID. You can fix this by adding name prefixes, e.g.

icinga_monitoring kustomization:

[code]

project kustomization:

[code]

[2021-08-04 17:25] natasha41575 commented on #4099
One of the reasons (though not the primary one) for our desire to replace `vars` with `replacements` is because `vars` breaks the encapsulation of each kustomization. The kustomize model is that it processes each kustomization layer one at at a time, from the bases up to the overlays. In this way, each layer is a step in the pipeline.

`vars` was the only transformer that was an exception; every o

[2021-08-04 19:16] KnVerey commented on #4058
The issue isn't specific to the helm generator; the problem is that duplicate keys are not valid in YAML documents according to the 1.2 spec. The sample you provided indeed contains a duplicate key that should be removed. See also this response from the maintainer of the underlying yaml library: https://github.com/go-yaml/yaml/issues/154

[2021-08-04 19:16] #4058 closed

[2021-08-04 19:25] KnVerey commented on #3559
Per #3946, the underlying yaml lib we use changed its indentation style, causing diffs like this. Kustomize pinned to an older version to keep the indentation stable, but we couldn't automatically do the same for folks using kyaml directly. As of kyaml 0.11.0, kyaml itself also uses  kustomize's preferred indentation style. The next release of kyaml will contain https://github.com/kubernetes-sigs/

[2021-08-04 19:25] #3559 closed

[2021-08-04 19:38] #3502 closed

[2021-08-04 22:21] clarkmcc commented on #4081
@KnVerey Here are the two files in a directory and a script to run kustomize. It's nothing tricky, running `kustomize build` should re-produce the issue.

[kustomize.zip](https://github.com/kubernetes-sigs/kustomize/files/6934693/kustomize.zip)

Yeah our CI system is running kustomize so it would be a little more involved to apply that workaround to our situation. Our quicker workaround was to re-

[2021-08-05 03:00] natasha41575 commented on #3979
I like this too, I will update the PR

[2021-08-05 09:33] afirth commented on #2301
dup of #388, see also https://github.com/kubernetes-sigs/cli-experimental/issues/66

[2021-08-05 09:39] afirth commented on #388
FYI this is supported and has been for some years.
https://github.com/kubernetes-sigs/kustomize/blob/master/api/kv/kv.go#L163-L169

just use the configMapGenerator or secretGenerator with a .env file but leave the value blank
e.g.
[code]
from there you can use kustomize's vars feature to get it wherever you want, or more commonly use [envFrom.configMapRef](https://github.com/kubernetes-sigs/cli-ex

[2021-08-05 09:45] jkroepke commented on #388
@afirth inject variables through files is supported. External applications like ArgoCD needs to support that mechanism.

[2021-08-05 10:22] gprossliner commented on #4101
Not really. I'll try again:

1. In my kustomize I define a Secret object named "app-config", which contains default settings
2. (first install) The user creates all objects with `kubeclt apply -k ..`
3. The user manually updates the Secret "app-config" to set an URL and API Key for an external service
4. If configured correctly, after restarting the pods, all should be good
5. After some time the

[2021-08-05 10:23] afirth commented on #388
You do not need to set the value in the file. See my example carefully, or see the linked docs issue. Any variable declared in the configmapgenerator but with no value set will have its value substituted from the environment when `kustomize build` is executed

[2021-08-05 10:25] afirth commented on #388
For Argo specifically I think you can then use https://argoproj.github.io/argo-cd/user-guide/config-management-plugins/#environment to set it

[2021-08-05 14:28] seh commented on #4099
I think that's what I'm asking for here, if I understand you correctly. I want my `replacements` source to track the name and namespace of a Kubernetes object.

Here's my current configuration that attempts to do this, trying to update [the Kong ingress controller's environment variable](https://github.com/Kong/kubernetes-ingress-controller/blob/71b94c76b617ab32c0949f2c367d1459c8ef0619/deploy/mani

[2021-08-05 20:58] Krzysztof-Lempicki opened #4105 "[Question] how to debug outpu of kustomise from kubectl"
Hi,

I am using `kustomise` with `kubectl` like this:

[code]

I want to know how I can debug kustomise result of this command?
Is any flag to print kustomise result into console?

[2021-08-05 21:13] natasha41575 commented on #4105
You can run the command `kubectl kustomize` to see the output of kustomize.

[2021-08-05 22:02] #4105 closed

[2021-08-06 19:17] #3707 closed

[2021-08-06 19:23] maxres-fr opened #4106 "v4.2.0 missing in k8s.gcr.io"
**Describe the bug**
 v4.2.0 is missing in k8s.gcr.io, see https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/kustomize/kustomize?gcrImageListsize=30.

 **Expected output**

 Able to pull the image

 **Actual output**
[code]

 similar to: #2165 and kubernetes/k8s.io#2165

 I'd open a PR but I don't think I can get the hash.

[2021-08-06 20:13] cprivite commented on #347
/remove-lifecycle stale

[2021-08-06 21:08] benmorehouse opened #4107 "Allow build, but disable standard output of manifest"
In the event that you are running `kustomize build` in a CI/CD platform, it's appropriate to want to be able to ensure that your overlay builds correctly, but not write the manifest to standard out. This can leak sensitive information to a UI.

A solution to this problem would be being able to run a `kustomize build`, but the only content written to standard out be error messages.

If there are no

[2021-08-06 21:09] benmorehouse commented on #4107
Would be very excited to put up a PR for this, should it be accepted as something appropriate to add at this time!

[2021-08-06 22:10] natasha41575 commented on #4107
While I don't necessarily oppose the introduction of such a flag, I am curious why you would be unable to pipe the output to `/dev/null` instead?

e.g.
[code]

[2021-08-07 21:28] #3678 closed

[2021-08-08 10:32] telmich opened #4108 "kustomize globbing incorrectly includes dot files"
**Describe the bug**

Using

[code]

with a directory that contains dotfiles like .dynamicweb, .empty, .staticweb, etc., the generated configmap contains:

[code]

This is obviously not how shell globbing would work and is suprising to have these files included.

**Files that can reproduce the issue**

[code]

[code]

**Expected output**

No dot files included in the configmap.

**Actual output**

[2021-08-09 15:27] julianwilkinson opened #4109 "[Question] Change ONLY the Image Name/Registry in Kustomize Overlay without knowing o.g. image tag?"
Hi,

For a Kubernetes deployment, given a Kustomize Base like:

[code]

Is there a way to change only the image registry and retain the o.g. tag in the new deployment with Overlay *without re-declaring the image tag*?

For example if I use an Overlay like:
[code]
The image is deployed as just productionregistry.com/myimage (with the `:latest` tag)— which is not what I want.

How can I make it so m

[2021-08-09 18:34] benmorehouse commented on #4107
@natasha41575 that's honestly a good point, thanks for sending this!

I feel like this isn't as intuitive to someone though, unless they've got a solid understanding of bash scripting as well as kustomize. Idk if that's justification to build a feature necessarily. Wdyt?

For what it's worth, Kubectl also includes a mode like this using `--dry-run`, where it will validate the output, and only prin

[2021-08-09 18:54] KnVerey commented on #4081
Thank you! Feel free to tag me directly on your PR.

/assign @clarkmcc

[2021-08-09 20:05] natasha41575 commented on #4107
The kubectl `--dry-run` option exists so that you can preview local changes to your configuration without applying those changes to your cluster. This is not really analogous, because kustomize never communicates with the cluster; the _only_ thing that kustomize does is write to output.

IMO piping the output of the command is a very common thing to do and it is not unreasonable to expect users to

[2021-08-09 20:11] natasha41575 commented on #4107
https://thoughtbot.com/blog/input-output-redirection-in-the-shell

[2021-08-09 20:19] natasha41575 commented on #4101
IIUC, you want kustomize to check if the cluster has the Secret, and not edit it if it is there?

That is well beyond the scope kustomize as it does not communicate with the cluster. All kustomize does is take your local files as input, and produce some output. Kubectl then takes the output of kustomize and applies it to the cluster.

 If you don't want the secret to be included in the output of k

[2021-08-09 21:06] julianwilkinson commented on #4109
Okay nevermind I figured it out. My yaml wasn't structure correctly (it didn't throw an error though...)

This works:

**Base**
[code]
**Overlay**
[code]

[2021-08-09 21:06] #4109 closed

[2021-08-09 21:48] ChristianCiach commented on #4100
There is a futher performance degradation after updating from Kustomizer 4.1.2 to 4.2.0. My pipeline, which calls `kustomize build` over 20 times, now always takes ~18.5 seconds, where it previously took ~17.0 seconds. I can reproduce this at any time just by switching out the kustomize binary.

[2021-08-09 22:11] ChristianCiach commented on #4100
@natasha41575

Bingo! You've found the culprit. In `kyaml/openapi/openapi.go` I've replaced the function `IsCertainlyClusterScoped` with a dummy implementation:

[code]

With this change, the duration of my pipeline is down from 18.5 seconds to just 4.5 seconds.

Obviously, this is no real solution. Unfortunately, I am not a go developer and have almost no idea what I am doing here. But at least w

[2021-08-09 22:21] ChristianCiach commented on #4100
I've replaced my dummy implementation with the hardcoded list that was used before it has been replaced in ...:

[code]

My pipeline is still just as fast as with my previous dummy: Still  4.5 seconds for just over 20 calls to `kustomize build`.

I guess this is good enough for my use cases, so I will use my hacked executable for the time being.

[2021-08-09 22:37] ChristianCiach commented on #4100
I guess that the parsing of the huge openapi-schema (json) takes most of the time. Maybe it would help to convert the json to gop (using https://pkg.go.dev/encoding/gob) at build-time, so that kustomize could read the pre-converted gop-file at runtime?

Sorry for the comment spam.

[2021-08-09 22:43] #3722 closed

[2021-08-09 22:55] natasha41575 commented on #4100
Another option is to re-add a hardcoded list of namespaceable resources. We may be able to automatically generate it (so that we don't have to manually maintain the list) with the [scripts that fetch OpenAPI data](https://github.com/kubernetes-sigs/kustomize/tree/master/kyaml/openapi/scripts).

However, OpenAPI parsing being a bottleneck is a common theme so using gop, proto, or some other type of

[2021-08-10 08:37] Art3mK opened #4111 "Kustomize doesn't append nameSuffix from overlay when patch is applied in patchesJson6902 section in version 4.2.0"
nameSuffix isn't applied to serviceAccountName for daemonset, if patch is specified in `patchesJson6902` section, the same patch in section `patches` works fine.

See sample setup in https://github.com/Art3mK/kustomize-bug

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

{Version:kustomize/v4.2.0 GitCommit:d53a2ad45d04b0264bcee9e19879437d851cb778 BuildDate:2021-07-01

[2021-08-10 12:54] xeor commented on #3205
I have a usecase where I control everything using flux and kustomize files, but deep down in the structure (cluster/namespaces/core/....) is a folder which is a git submodule without a kustomization.yaml file. I want that folder there for structural purpose, however, I can't include it without needing to look at the files in the parents kustomization.yaml file from time to time.

It would be bette

[2021-08-10 18:51] r0bj commented on #3877
/remove-lifecycle stale

[2021-08-10 23:00] #4051 closed

[2021-08-11 09:58] Gikkman opened #4115 "Exec plugins with argsFromFile can look for the file in wrong locations"
When writing a exec custom plugin, the `argsFromFile` seems to try to load the file relative to the root  folder of the kustomize project, and not relative to the file describing the plugin. I recon this might be intentional, but since there is no documentation on `argsFromFile`, at least to me, this feels unintuitive.

You can find an example repo which exhibits the problem [here](https://github.

[2021-08-11 15:44] KnVerey commented on #3873
/remove-lifecycle stale

The PRs implementing this are all complete; only one left to merge.

[2021-08-11 23:57] #2256 closed

[2021-08-12 08:41] gprossliner commented on #4101
Thanks. I was kinda expecting that.

[2021-08-12 08:41] #4101 closed

[2021-08-12 23:25] natasha41575 opened #4117 "Exec functions look for files in the wrong location"
I have the following directory structure:

[code]

In my `base/kustomization.yaml`, I have something like:

[code]

My function needs to read local files. However, when running `kustomize build`, I find that when looking up local files, the working directory for the function is wherever `kustomize build` is run.

I believe the working directory for the function _should_ instead be the directory of

[2021-08-12 23:40] natasha41575 commented on #4115
Similar issue with exec functions: https://github.com/kubernetes-sigs/kustomize/issues/4117

[2021-08-13 23:33] natasha41575 commented on #4106
/triage accepted

[2021-08-13 23:47] natasha41575 commented on #4106
PR is here https://github.com/kubernetes/k8s.io/pull/2540

[2021-08-15 08:11] adberger opened #4119 "edit set with more than 125 characters renders invalid yaml"
**Describe the bug**

When the key of `edit set value` or `edit set annotation` has more than 124 characters, the rendered output seems invalid.

**Command that can reproduce the issue**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

v4.2.0

**Additional context**

Related PR where the bug was discovered: https://github.com/kubernetes-sigs/kustomize/pull/40

[2021-08-16 01:27] #3732 closed

[2021-08-16 12:38] MeijerM1 opened #4120 "How to replace a variable in a template"
Hi,

Is there a way to replace a variable across a resource without using a patch.yaml or patch.json file?

Say I have the following file:
[code]

Is there a way to replace `VARIABLE_WITH_APP_NAME` in the `kustomize` file in a simple way?

[2021-08-16 16:09] #4106 closed

[2021-08-16 21:27] yuwenma opened #4121 "Update the documents for deprecated and their replacing fields"
From [2021 Q3/4 roadmap](https://github.com/kubernetes-sigs/kustomize/blob/master/roadmap-2021.md), kustomize will deprecate a list of features including vars, crds, configurations, and potentially some plugin functions. Customers may want to have a clear idea about which and when a function would be deprecated and how to migrate to the new format.

To keep the users in the loop and gather real-ti

[2021-08-16 21:27] yuwenma commented on #4121
@monopole @KnVerey @natasha41575 Thoughts?

[2021-08-17 15:30] mikebz commented on #4121
I vote for pointing to the Kubernetes deprecation policy.  It covers things like CLI flags and seems to be applicable to what we are doing.

[2021-08-17 15:34] mikebz commented on #4117
interested to hear what others think here, but I do agree that enabling relative paths helps people assemble a bigger kustomization projects without having to go and patch up subdirectories.

[2021-08-17 17:05] natasha41575 commented on #4121
I am also fine with pointing to the Kubernetes deprecation policy. If we are going to follow the kubernetes policy without any changes, do we need to have our own policy doc, or can we just have a link?

Are you thinking of adding a new section to the root/README.md, e.g. `Deprecated features`? Would it make sense to also have a page for deprecated features and their timelines on the docs website?

[2021-08-17 17:14] natasha41575 commented on #4117
One important note is that I don't think I can use a kustomize patch with my configuration. I have to  manually update the base, because kustomize can't target fields in inline strings (or if it can, I don't know the syntax), and I'm also unsure if kustomize can patch a base kustomization file?

So for my case, I have to manually change the base configuration. This won't work with remote bases at

[2021-08-17 17:33] yuwenma commented on #4121
I'm thinking of a "discovery" table that contains all main  kustomize features, showing the since-supported and til-unsupportedx versions, e.g. (the `supported version` field is very inaccurate)

| Feature | supported version | status (rationale)| examples |
|:---------|--------------------|-----|-------------:|
| [base/overlay](https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#bas

[2021-08-17 18:26] natasha41575 commented on #4117
@KnVerey let me know if you have any thoughts. I'm hoping to look into fixing this soon.

[2021-08-17 18:53] KnVerey commented on #4121
I like the idea of the table; it could be more convenient for users than combing through release notes, particularly in cases where a big version jump happens at once, e.g. in the Kustomize bundled with kubectl 1.20 vs. 1.21. (Sidenote: I think the issue about making `kubectl kustomize version` work properly is one of the most impactful unclaimed pieces of work we have open right now.)

A couple n

[2021-08-17 19:35] KnVerey commented on #4117
Re: patching transformer configuration, it is possible by treating the config as a resource in the lower layers. It's awkward though. Composition is designed around improving this, and the KEP comes with examples: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2299-kustomize-plugin-composition/example

That said, I agree that the behaviour you're describing is unintuitive, and

[2021-08-17 20:22] natasha41575 commented on #4117
This is what I was thinking and seems to be the simplest and most intuitive solution to me of the three options you've written.

[2021-08-17 20:44] KnVerey commented on #4117
How do you propose we handle the situation where the transformer config originates in a different layer from the one where it is executed (either because it is manipulated as a resource before being used as a transformer, or because it's in a multi-level Composition)? I'm not sure that can be solved without resorting to some path resolution feature or another. I suppose the two aren't mutually exc

[2021-08-17 20:54] avisiedo opened #4123 "Kustomize edit panics when Kustomization file begins with document separator"
**Describe the bug**

I get a panic when running `kustomize edit set namespace mynamespace`.

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expected output**

No panic message and the `namespace` field updated to `mynamespace`.

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

Linux

**Additional context**

Installed by:

[code]

[2021-08-17 21:07] avisiedo commented on #4123
I have just realized I had a blank line at the beginning of the file. Removing that blank line into the `kustomization.yaml` file, make the command run as expected.

[2021-08-17 21:43] kferrone opened #4124 "The config.kubernetes.io/local-config: "true" is too strict"
**Describe the bug**

When using the annotation `config.kubernetes.io/local-config: "true"`; you can not reference the resource. It is completely ignored. I would still like to have it as a referenced resource up until the final output when all with the annotation is removed.

**Files that can reproduce the issue**

`pod.yaml`
[code]
`deployment.yaml`
[code]
`replacement.yaml`
[code]
`kustomizatio

[2021-08-17 21:53] natasha41575 commented on #4117
I don't have a strong opinion, but maybe that is because I don't fully understand the details of this situation. IIUC the options are:

1. Leave the file paths in the transformer config as is; the author of the underlying transformer config will have to specify paths that are relative to the kustomization which refers to it.
2. Your option #2 - Resolve the paths of the transformer config when it i

[2021-08-17 22:53] natasha41575 commented on #4121
Would it make sense to have two tables, one for CLI, and one for the Kustomization? The CLI table can track status of supported commands and kustomization versions, while the Kustomization table can keep track of supported fields.

Regarding the public APIs of our Go modules - if we are going to have tables for these, I think it makes sense that they go in their own directories, e.g. `api/README.m

[2021-08-18 06:12] yhrn commented on #3618
/remove-lifecycle stale

[2021-08-18 16:35] marshall007 commented on #3979
Sorry for being a bit late to this discussion. Related to @KnVerey's original point regarding the annotations, if we go with `config.kubernetes.io/origin` are we going to make corresponding changes to the [KRM Function `ResourceList` interface](https://github.com/kubernetes-sigs/kustomize/blob/kustomize/v4.2.0/cmd/config/docs/api-conventions/functions-spec.md#annotations)? Is the expectation that

[2021-08-18 17:58] kferrone commented on #4120
Not really what the kustomize folks would intend. You could inline the patches instead of using patch.yaml, something like this

[code]

The other option for what you are doing is to simply use the commonLabels to add the labels part. Then use the replacements to reference the name on the containers.

Lastly, for those rare times nothing in Kustomize can do what I want, then I make a plugin using

[2021-08-18 18:54] yuwenma commented on #4049
Per offline discussion, we keep var in kustomize for one year according to the kubernetes one year deprecating policy. When var is detected in kustomization.yaml, kustomize warns users about the deprecation date, and request them to migrate to the replacements field.

[2021-08-18 20:23] kferrone opened #4126 "Reference Starlark Function"
I am particularly interested in using this example and modifying for myself: https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/someteam.example.com/v1/starlarkmixer

My issue is the mixer.star file must be relative of where my terminal is. So if I dom something like `cd ../` the function will not reference the mixer.start anymore. I honestly would like to place the function  in `$XDG

[2021-08-18 22:14] KnVerey commented on #3979
The motivation is that a flag would violate our policy that there should be no build-time side-effects: https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables. As a rule of thumb, anything that will change the output (produce a diff that needs to be committed if using gitops) must be driven by a field, whereas flags can be used for

[2021-08-18 22:38] KnVerey commented on #4117
Almost. I think the paths would have to be relative to the kustomization that uses the config _as a transformer_. Which means that the lower layers that introduce and manipulate the config as a resource would need to write paths relative to the higher level config that imports it into the transformers field--very weird. As the Composition KEP sets out, this workflow isn't very usable in any case,

[2021-08-19 00:20] marshall007 commented on #3979
@KnVerey sorry, I came here from #4090 and didn't explain my reasoning well. The motivation for my suggestions was related to tooling inter-op and in particular that `cfg` commands.

Instead of having an arbitrary internal representation _in addition to_ the `config.kubernetes.io` annotation guidelines specified for `ResourceList`, we could just make them the same thing.

Whether or not (and which

[2021-08-19 06:37] smyrman commented on #1430
/remove-lifecycle rotten

[2021-08-19 08:46] ciis0 opened #4127 "kustomize does not support multiple "x-kubernetes-group-version-kind" in OpenAPI"
https://github.com/kubernetes-sigs/kustomize/blob/0537b59f274a65124856f2bef5f73f0980871820/kyaml/openapi/openapi.go#L210-L212

This for example breaks using the default OpenShift OpenAPI JSON which for example contains two GVKs for DeploymentConfig:

[code]

[2021-08-19 12:45] igorcalabria commented on #1295
This issue still persists in kustomize v4.2.0. If the generator and vars are defined in the same file it works, but if the var is on one file(say base, for example) and the generator is on another file(production) it won't work.

[2021-08-19 13:06] #3646 closed

[2021-08-19 14:58] jonaskello commented on #3787
This would be perfect to use with kustomize as a helm postRenderers directive. Many helm charts create a configmap with a yaml file in it. It is today not possible to patch that yaml file without replacing the whole file and thereby re-creating all the entries built by the helm chart.  This suggestion would enable that if I understand it correctly.

[2021-08-19 20:03] marshall007 commented on #3978
@natasha41575 we are looking to migrate all of our GCP resource provisioning from terraform to Config Connector. Related to your comment in https://github.com/kubernetes-sigs/kustomize/pull/3914#issuecomment-849196471, I was wondering if you've thought about how to manage transformer configs for such cases.

For projects that expose such a large surface area of CRDs, it seems completely unmanageab

[2021-08-19 20:23] tobernguyen commented on #3969
I'm experiencing this in `kustomize v3.9.4` too which is the version `ArgoCD v2.0.4` is using.

[2021-08-19 21:09] #3710 closed

[2021-08-19 23:06] natasha41575 commented on #3979
As an update for this issue, https://github.com/kubernetes-sigs/kustomize/pull/4065 has been merged but I am holding off on closing this as there is ongoing discussion.

@marshall007 We are actually planning to deprecate `kustomize fn source` and `kustomize fn sink` - and we've deprecated many commands in the `cfg` command group. It is good to know that we can redirect people to `kpt fn` if they n

[2021-08-20 02:03] natasha41575 commented on #3829
/remove-lifecycle rotten

[2021-08-20 04:22] arash-bizcover commented on #119
What the hell is wrong with Kustomize maintainers. Lacking this basic feature is ridiculous, Open this issue up.

[2021-08-20 04:35] marshall007 commented on #3979
I'm aware of and agree with the deprecations that are in work. My understanding from https://github.com/kubernetes-sigs/kustomize/issues/3953#issuecomment-885310854 was that the read-only commands will/may be updated to perform in-place hydration (so that things like `cfg tree` print out generated/transformed resources).

Things to note on that:

1. `cfg tree` output currently includes the local f

[2021-08-20 04:36] marshall007 commented on #3979
/cc @natasha41575

[2021-08-20 04:41] arash-bizcover commented on #693
This compulsory security feature is ridiculous @monopole
This avoids us using a genuine use case of template files outside of project files. You should have made it optional.

[2021-08-20 04:53] arash-bizcover commented on #119
https://github.com/kubernetes-sigs/kustomize/issues/3205

[2021-08-20 04:58] arash-bizcover commented on #3205
@KnVerey @pwittrock Don't you guys think this basic obvious requirement, should be prioritised?

[2021-08-20 06:39] bluebrown opened #4129 "configmap generator hash not applied to volume referecing the config map"
I am trying to generate a configmap from a json file vie kustomize and use it as volume in a deployment created by the kustomize build operation. But the generated hash is not applied in the volume definition.

[code]

[code]

[code]

When I run kustomize build, I get the following output.

[code]

I found some issues on github that suggest it should be ultimately possible. One had an issue with t

[2021-08-20 06:48] bluebrown commented on #4129
I had an issue with the indentation. Kustomize build didnt complain but then I disabled the suffix hash via option and did apply, and then kubernetes did tell me that my yaml was invalid. So it worked as expected.

[2021-08-20 06:48] #4129 closed

[2021-08-20 12:40] nasir-rabbani opened #4130 "install_kustomize.sh returns `Version vX.X.X does not exist` for non module versions."
**Describe the bug**

I am trying to download v2.0.3 of kustomize using the script [here](https://github.com/kubernetes-sigs/kustomize/blob/master/hack/install_kustomize.sh). But the script seems to be only working for the version of kustomize which were released after moving it into its own module. Hence, we are not able to download the older versions.

**Files that can reproduce the issue**

Iss

[2021-08-20 17:35] natasha41575 commented on #3205
@arash-bizcover I understand the frustration but we are 3 people with jobs and competing priorities outside of kustomize. You are welcome to submit a PR or bring this issue up at a SIG-CLI meeting if you want more traction on this. There is no need to be rude.

[2021-08-20 17:36] natasha41575 commented on #3205
@arash-bizcover I understand the frustration but we are 3 people with jobs and competing priorities outside of kustomize. You are welcome to submit a PR or bring this issue up at a SIG-CLI meeting if you want more traction on this.

[2021-08-20 18:35] rptaylor commented on #3205
The idea is just like having a `/etc/something/conf.d/` directory, which is a widely adopted design pattern where you can just drop any file in in order to include a modular piece of configuration.

Expressing interest in the feature - in a respectful and supportive way  - may be helpful, but perhaps it could also help to have an indication whether the maintainers would accept/approve this feature

[2021-08-20 19:00] jwilner opened #4133 "integer keys causing problems"
**Describe the bug**

A resource containing integer map keys causes kustomize to barf.

[code]

I would expect this to simply roundtrip the resource. The problematic section of YAML is:

[code]

The following minimal yaml produces the same error:

[code]

[2021-08-20 21:11] natasha41575 commented on #3205
Personally I am open to the idea as there seems to be a lot of user interest and I can see use cases that prevent `kustomize edit add resource /etc/something/conf.d/*` followed by `kustomize build` to be a bit of a hassle - notably the cases described by @xeor and @hvitoi above.

However, I would like some more input from @KnVerey and @monopole because such a feature is specifically defined as out

[2021-08-20 21:38] natasha41575 commented on #3585
Interested in having this.

/triage accepted

[2021-08-21 20:25] #3751 closed

[2021-08-22 06:12] dzmitry-lahoda opened #4135 "[Question] release v4.2.0 does not have windows binary"
was it intentional or just missed?

https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.2.0

[2021-08-22 13:13] ChristianCiach commented on #3429
Sad to see that this issue, like so many others, are automatically closed without any kind of answer or resolution.

[2021-08-22 18:41] phanimarupaka commented on #3429
@natasha41575 Can you please respond to this issue as you have worked on deprecating few commands in kustomize lately.

cc @mikebz

[2021-08-23 11:30] yhrn commented on #3618
I think this is more relevant now that go 1.17 has deprecated installing executables with `go get`.

[2021-08-23 18:12] romachalm commented on #3762
@jkroepke I have still this issue with kustomize 4.2

[code]

I try to access helmCharts from private repos already configured in system.
Therefore, I set the envar HELM_CONFIG_HOME top point at my local helm config :
[code]

The HELM_CONFIG_HOME keeps being set with the tmpdir :
[code]

I have also tried with `-e` flag, with no more success.

[2021-08-23 23:37] natasha41575 commented on #4135
Duplicate of https://github.com/kubernetes-sigs/kustomize/issues/4028, https://github.com/kubernetes-sigs/kustomize/issues/4041

To answer your question, something went wrong in the release process for windows. We urgently needed a release for kubectl v1.23 and have not had time to look into it yet.

[2021-08-23 23:37] natasha41575 commented on #4135
Closing as a duplicate, keep an eye on #4028 for updates

[2021-08-23 23:37] #4135 closed

[2021-08-24 10:08] james-callahan opened #4136 "name references not getting updated for JSON patches after kind change"
**Describe the bug**

After doing a `kind` change, name references no longer get updates.
In the example below, notice that the configMap name inside of the volume isn't updated.

**Files that can reproduce the issue**

kustomization.yaml:
[code]
statefulset.yaml:
[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

`Version:4.2.0 GitCommit:$Format:%H$ BuildDate:2

[2021-08-24 10:39] james-callahan commented on #3816
/remove-lifecycle rotten

[2021-08-24 17:03] mrmartan commented on #3937
`includeSelectors: false` is exactly what also we want. This feature is missing for far too long. We were happy to finally see it in 4.1.0 only to find out its useless since is doesn't do what it promises, i.e. omitting the pairs from selectors.

[2021-08-24 17:04] natasha41575 commented on #3842
/remove-lifecycle stale

I have the contact email of someone at replicated and I will be reaching out to them shortly

[2021-08-25 05:18] Tzrlk opened #4142 "Allow for directory recursion to be disabled"
I have a bottom-up configuration for kustomizations that is apparently disallowed in 2.0, and after reviewing the relevant issues (namely #596), found that it was a deliberate decision to forbid this design pattern. What I'm surprised at is that the decision was taken not to turn off implicit scanning of subdirectories, but to throw an error if they're found.

Given that a bottom-up configuration

[2021-08-25 06:47] lallinger-arbeit commented on #3902
/remove-lifecycle stale

[2021-08-25 13:49] goooogs commented on #2734
Hi @monopole , when I want to delete some default values in helm chart, it **MUST** use the `null` value.

for example:
[code]

httpGet probe is conflict with tcpSocket, so if I want to use tcpSocket probe, I must set httpGet to null to delete the default vaule (Although it can be done in the command line with `--set xxx=null`):
[code]

**So, I NEED option 3** ^_^

[2021-08-25 16:15] yhrn commented on #3418
/remove-lifecycle stale

[2021-08-25 21:50] nbraun-wolf opened #4144 "kustomize failes to merge yaml anchor"
Hi, am trying to merge a yaml anchor but kustomize is throwing errors. It works with kubectl apply.

**Files that can reproduce the issue**

deploy.yaml

[code]

kustomization.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

WSL2 Ubuntu20.4

[2021-08-26 04:43] deepak-gc opened #4145 "[Question] kustomize edit set image doesn't work with kustomize multibases build"
I am using this [example][1]

[code]
and in `kustomization.yaml` file in root:

[code]

I also have the image transformer code in `dev, staging, production` kustomization.yaml
[code]
To build a single deployment manifest, I use:

[code]
which simply works!

to build deployment manifest for all overlays(dev, staging, production), I use:

[code]
which uses the `kustomization.yaml` in root which cont

[2021-08-26 07:37] bkum opened #4146 "kustomize is converting quoted("123") string to non-quoted one due to which resource apply is failing"
We have our product namespace as number so when we are declaring same in kustomization.yaml, we are adding under quotes. Now when we are calling the `kustomize build`  it is generating the resource yaml having namespace without quote due to which kubectl apply is failing with error

unable to decode "STDIN": resource.metadataOnlyObject.ObjectMeta: v1.ObjectMeta.Namespace: ReadString: expects " or

[2021-08-26 16:22] terion-name opened #4147 "Document `labels` field"
UPD
After days of struggling I've found this merge: https://github.com/kubernetes-sigs/kustomize/pull/3743
So it is posible with labels field, but this is not documented anywhere :(

Leaving the issue for others to find this

===========================
Orignal text:

Hello.

This is a discussion topic that I want to rise.

Despite being a feature,`commonLabels`s  behaviour was reported as a bug n

[2021-08-27 15:27] yash97 opened #4149 "Kustomize throwing evalsymlink failure"
**Describe the bug**

I trying to build kustomize from remote url.
This is what i did:

- target="https://github.com/kubernetes-sigs/kustomize/tree/master/examples/multibases/dev"
-  kustomize build $target
- getting error
[code]

**Files that can reproduce the issue**

**Expected output**

**Actual output**

**Kustomize version**

Version:kustomize/v4.2.0

**Platform**

macOs
**Additional context

[2021-08-27 18:09] SuitableProduce opened #4150 "How can you use {{ .Values.global}}?"
Trying to use Kustomize, but when if the helm chart is using global values that are specified in the values.yaml?

[2021-08-27 23:13] natasha41575 commented on #4117
My intent with filing this issue has been resolved by #4125, but should we keep this issue open (potentially retitling it) for the discussion on transformer configs?

For container functions, does Composition propose any UX for mounting files into a directory? The [kustomize function spec](https://github.com/kubernetes-sigs/kustomize/blob/bf6b207cc997b689887c5b1cfc9a4f81f3012b12/kyaml/fn/runtime/r

[2021-08-27 23:18] hans-d commented on #3831
https://github.com/kubernetes-sigs/kustomize/issues/3815#issuecomment-825820444 remarks that anything that can be done by kustomize should be done by kustomize. As kustomize does not provide a delete (see https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/), this parameter is needed.

Besides breaking on linting issues, it will also add resources that should not be part of the deplo

[2021-08-27 23:24] natasha41575 commented on #4149
The following does succeed:

`target="https://github.com/kubernetes-sigs/kustomize/examples/multibases/dev/"`
`kustomize build $target`

When you are using `https://github.com/kubernetes-sigs/kustomize/tree/master/examples/multibases/dev`, what's happening is that kustomize is cloning `https://github.com/kubernetes-sigs/kustomize` and then looking for a top-level directory called `tree`. The URL s

[2021-08-27 23:29] #4104 closed

[2021-08-28 05:08] juergenzimmermann commented on #4028
Unfortunately, the latest Windows release is `4.1.3` while the latest linux release is `4.3`.

[2021-08-28 22:44] #3769 closed

[2021-08-29 12:38] arash-bizcover commented on #4120
Lacking this feature is crazy. Customize folks don't like variables inside the Yaml. They say Yaml in Yaml out only.
https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/

But weirdly enough they have agreed to have tons of complicated transformers. and something as crazy as this:
https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/

[2021-08-29 22:02] kferrone commented on #4120
The variables idea tends to be too abstract and hard to re-patch, ie once a variable is set it usually can't be set again by something else without completely replacing the value. The plugins are very powerful and easy to use, at least in my opinion. They can be written in any language too.

If you are interested, here is my little plugin based on this example in kustomize: https://github.com/kube

[2021-08-30 06:15] leon-marcel commented on #4104
Sry for my late reply.
So i changed both kustomization's according to your reply but still get the same error message.

[2021-08-30 06:56] harmjanblok opened #4153 "v4.3.0 missing in k8s.gcr.io"
**Describe the bug**

v4.3.0 is missing in k8s.gcr.io, see https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/kustomize/kustomize?gcrImageListsize=30.

**Expected output**

Able to pull the image

**Actual output**

[code]

[2021-08-30 09:19] sl805 commented on #126
@Liujingfang1  Actually genericGenerator is a crucial feature from operations standpoint. Its key difference with anything existing before it is a capability to create new object, instead of modifying existing one. As of now in order to create one modified object, one needs to create a base for specific resource kind, then refer it, and only then patch it. So to create 3 services, you'll have to c

[2021-08-30 11:30] leon-marcel commented on #4104
sorry for my late reply. It worked! Thanks a lot!

[2021-08-30 17:31] KnVerey opened #4154 "Resolution of local file references in extensions transformer configuration"
This issue continues a discussion started in https://github.com/kubernetes-sigs/kustomize/issues/4117. As of the fix for that issue, Kustomize sets the working directory for exec function plugins to the directory in which the current Kustomization is located. This solves the problem for the default case, where the configuration layer that initially defines the transformer config is the same as the

[2021-08-30 17:38] KnVerey commented on #4117
I've opened a new issue to continue the discussion: https://github.com/kubernetes-sigs/kustomize/issues/4154. Let's close this one.

It doesn't propose anything in particular. The differences from Kustomization are mainly in how the config itself is orchestrated, not what it contains. A minor exception is that it's proposing graduating an annotation to a reserved field.

Implementation is TBD, but

[2021-08-30 17:38] #4117 closed

[2021-08-30 19:24] kferrone commented on #4150
That is up to helm, not kustomize.

Helm Globals are just values under the `global` key in the values.

So I'm just going to assume you are using the Helm Chart Inflator built into kustomize, i.e. https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md

You would add all your global vars under the global key under valuesInline:
[code]

[2021-08-30 20:18] kferrone opened #4155 "How can Transformer Reference a local file"
I am making a transformer plugin and it needs to use a local file which is not a kubernetes object. Basically k8s objects are made based on this file but it does not need to be in the final output once the transformer is done with it.

Here is the project layout:
[code]

Let's say the the mytransformer.yaml looks like this:
[code]

The transformer is really basic and just wraps a pre-built command

[2021-08-30 20:32] zhouhaibing089 commented on #3627
/remove-lifecycle stale

[2021-08-30 23:44] KnVerey commented on #3979
Since https://github.com/kubernetes-sigs/kustomize/pull/4065 has merged, let's close this issue. Feel free to continue discussion of how the read-only `cfg` commands should work in #4090, or open a new issue with any independent proposal. Please note that `kustomize build` itself is not intended to behave as a KRM function, and exposing internal build metadata by default or emitting a ResourceList

[2021-08-30 23:44] #3979 closed

[2021-08-31 00:49] natasha41575 commented on #3945
/remove-lifecycle stale

[2021-08-31 01:05] natasha41575 commented on #3706
/remove-lifecycle stale

[2021-08-31 03:21] svpace opened #4156 "Add support for base names along with prefix an suffix"
I keep repeating the same value for metadata/name in most of my manifests.

**Describe the solution you'd like**
It would be great to be able to set a base name in my kustomization.yaml and have it used in any unamed resources and only override it where needed.

**Describe alternatives you've considered**
I've have been naming my resources "-" and using prefix and suffix to emulate this. For insta

[2021-08-31 10:14] SuitableProduce commented on #4150
Thanks!  Though looks like the Inflation Generator does not currently work with local charts: https://github.com/kubernetes-sigs/kustomize/issues/3658

[2021-08-31 11:35] Elyytscha commented on #3205
yes this usecases are compelling enough to make an exception in my opinion :) this feature would be great because in a cd/cd pipeline view you want to add a new resource automated, to edit the kustomization.yaml too with every new file is more complicated then just pushing a new file in my opinion

[2021-08-31 15:30] KnVerey commented on #3947
/remove-lifecycle stale

[2021-08-31 17:03] DiegoPomares commented on #970
For anyone stumbling upon this issue while googling:

It does work, but [the documentation](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/resource/) is outdated as of today as this `URL specifications should follow the hashicorp URL format. The directory must contain a kustomization.yaml file.` is not true, at least for the standalone kustomize v4.3.0.

Just put a regular U

[2021-08-31 17:34] mikebz commented on #4153
I think @natasha41575 is publishing this now.

[2021-08-31 17:53] natasha41575 commented on #4153
PR to add the image is here https://github.com/kubernetes/k8s.io/pull/2644

[2021-08-31 17:58] #4153 closed

[2021-08-31 19:44] natasha41575 commented on #4155
Is this an exec plugin? What version of kustomize are you using?

[2021-08-31 20:14] KnVerey commented on #3205
After careful consideration of the input on these issues, I'm inclined to agree that limited glob support in the resources field could provide concrete benefits and carry reasonably minimal risk in the use cases we should be optimizing for, i.e. settings in which GitOps best practices are being followed.

That said, I do think that Kustomize should continue to favour being extremely explicit in ge

[2021-08-31 20:22] KnVerey commented on #3787
As @monopole mentioned [here](https://github.com/kubernetes-sigs/kustomize/issues/680#issuecomment-473457038), the maintainer team is open to accepting this feature as long as it is explicitly triggered and the edit it performs is fully structured. However, we do not have the bandwidth to implement it ourselves.

@monopole previously requested a full KEP, but we now have a brand new, lighter weigh

[2021-08-31 20:23] wgj opened #4159 "Cannot install via install_kustomize.sh"
**Describe the bug**
`curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash` fails to install Kustomize. curl-pipe-bash was found via [this page](https://kubectl.docs.kubernetes.io/installation/kustomize/binaries/) in documentation.

**Expected output**

Download binary of Kustomize.

**Actual output**

[code]

**Kustomize version**

I've tr

[2021-08-31 20:31] dario617 commented on #4159
Same here issue here :/

[2021-08-31 20:32] realshuting opened #4161 "Error when installing binaries using curl command"
**Describe the bug**

I'm following this [page](https://kubectl.docs.kubernetes.io/installation/kustomize/binaries/) to install the binaries directly while it throws the following error:
[code]

**Files that can reproduce the issue**
See the above command.

**Expected output**

**Actual output**

**Kustomize version**

**Platform**

**Additional context**

[2021-08-31 20:41] lorenzomenajem opened #4162 "Cannot patch `Kustomization` objects"
**Description**

I would expect to be able to use a patch (generally, preferentially a JSON6902 patch) in a Kustomization.yaml file to modify another Kustomization.yaml in a directory included in the `bases` section.

**Reproduction**

Git repo: https://github.com/lorenzomenajem/kustomize-repro

Reiterating the README:

**Kustomize version**
v4.1.3

**Platform**
macOS

[2021-08-31 20:43] greglanthier commented on #4159
:FYI: https://github.com/kubernetes-sigs/kustomize/commit/7d0b7e21137a72ffc190d16735d5c6e8b44b84b4 has reverted the change for the moment.

[2021-08-31 20:46] natasha41575 commented on #4159
We've reverted the PR that caused this issue!

[2021-08-31 20:46] #4159 closed

[2021-08-31 20:50] natasha41575 commented on #4161
See https://github.com/kubernetes-sigs/kustomize/issues/4159

[2021-08-31 20:50] #4161 closed

[2021-08-31 21:29] kferrone commented on #4155
It's a simple exec plugin with bash.
I actually just realized it's just `$(pwd)`. I also confirmed `pwd` is relative to the kustomization.yaml. This is perfect!

Here is the plugin, I made it for the [kompose cli](https://kompose.io/). This way I get seamless transition from docker-compose to kustomize. I have it in a place like `$XDG_CONFIG_HOME/kustomize/plugin/someteam/v1/kompose/Kompose`
[code

[2021-08-31 22:14] KnVerey commented on #3950
/remove-lifecycle stale

[2021-08-31 22:14] KnVerey commented on #3952
/remove-lifecycle stale

[2021-08-31 23:38] KnVerey commented on #3941
Related to #4148

[2021-08-31 23:38] KnVerey commented on #3954
/remove-lifecycle stale

[2021-08-31 23:56] natasha41575 commented on #4162
What are you intending to do? One thing to note is that `kustomization` layers are encapsulated. In this model, the base kustomization finishes running without any knowledge of overlays, and the resulting resources are then passed to the next overlay to process. Rather than overriding what is in the base, the overlay treats the base as the first step in a pipeline.

With this in mind, it doesn't m

[2021-09-01 00:02] natasha41575 commented on #3941
/remove-lifecycle stale

[2021-09-01 00:09] natasha41575 commented on #4156
Have you considered using a patch to update resource names?

For example:

deployment:
[code]

`kustomization.yaml`:
[code]

[2021-09-01 00:12] natasha41575 commented on #4155
Sorry, does that mean your issue is resolved? Or are you still having this problem?

[2021-09-01 00:16] natasha41575 commented on #4124
I am in favor of keeping `local-config` annotated resources available to be used by transformers in the same kustomization layer, and see little reason why this would be undesirable. Unless other maintainers disagree, I am inclined to accept this as a feature request.

[2021-09-01 00:56] kferrone commented on #4155
It's resolved, sorry.

[2021-09-01 00:56] #4155 closed

[2021-09-01 02:50] kupi93 commented on #4150
Hi~

I'm also struggling for the same reason.
If I insert a braced variable for a slack message in prometheus alert rule as follows,
[code]
kustomize 4.3.0 throws an error like the below.
[code]

[2021-09-01 13:22] svpace commented on #4156
Thank you for your suggestion, but I believe that this defeats the purpose. The idea is to have base name defined only once and to DRY the manifests. With a patch, the manifests still require a "placeholder" metadata/name and the base name still gets repeated for each resource.

[2021-09-01 13:59] Elyytscha commented on #3205
- When a given directory is targeted with a glob, what exactly does Kustomize do?
  - bare minimum is accumulate the resources from all .yaml files in the immediate directory
    bare minimum should be:
[code]
    which results in all .yaml files in this naming pattern picked up without changing the kustomization.yaml
    - probably .yml as well
      A: set defaults, let user override it, default

[2021-09-01 14:07] svpace commented on #4156
I realize that this is way more complicated than that. But I was thinking something along the lines of:
[code]
this, nicely wrapped in the kustomization.yaml as:
[code]
and then, somewhere within kustomize:
[code]

WDYT?

[2021-09-01 16:10] KnVerey commented on #3429
As discussed in https://github.com/kubernetes-sigs/kustomize/issues/3953 we will be deprecating all setter-related functionality in Kustomize.

/close

[2021-09-01 16:10] #3429 closed

[2021-09-01 16:13] KnVerey commented on #4052
/triage accepted

[2021-09-01 16:16] KnVerey commented on #4147
/kind documentation
/triage accepted

[2021-09-01 16:24] KnVerey commented on #4146
/assign

[2021-09-01 16:31] KnVerey commented on #4145
/assign @natasha41575

[2021-09-01 16:33] KnVerey commented on #4144
Duplicate of #3675
/kind duplicate
/close

[2021-09-01 16:33] #4144 closed

[2021-09-01 16:37] KnVerey commented on #4142
/triage needs-information

You're correct that this was an intentional change. Could you please provide more information on why the recommended directory structure does not work for you?

[2021-09-01 16:38] KnVerey commented on #4136
/assign @natasha41575
/triage accepted

[2021-09-01 16:41] KnVerey commented on #4133
/triage duplicate
Duplicate of #3446
/close

[2021-09-01 16:41] #4133 closed

[2021-09-01 16:44] KnVerey commented on #4130
/triage accepted

[2021-09-01 16:47] KnVerey commented on #4127
/triage accepted
/assign @natasha41575

[2021-09-01 16:49] KnVerey commented on #4126
/assign @KnVerey

[2021-09-01 16:52] KnVerey commented on #4123
/assign @KnVerey
/triage accepted
/retitle Kustomize panics when Kustomization file begins with document separator

[2021-09-01 16:59] KnVerey commented on #4121
Rather than a chart on our readme, we've decided to update the Kustomization field documentation with the support information

[2021-09-01 19:45] natasha41575 commented on #3866
/remove-lifecycle rotten

[2021-09-01 20:22] KnVerey commented on #4108
I agree with you that the dotfiles being included feels unexpected. I'd suggest filtering them out after the results are returned here:

https://github.com/kubernetes-sigs/kustomize/blob/7fae7d1bd63ef5f9ea0c2e11593581ed5974fbe9/kustomize/commands/edit/add/flagsandargs.go#L88

/triage accepted
/help

[2021-09-01 21:42] soleares commented on #4052
@814HiManny Probably no surprise but the behavior is the same using SSH
[code]

[2021-09-02 13:42] m-Bilal commented on #4108
/assign

[2021-09-02 18:14] natasha41575 commented on #4136
A couple of things:

1. You don't need `allowKindChange` when doing a JSON patch. `allowKindChange` and `allowNameChange` are only needed if doing a strategic merge patch.

2. This isn't necessarily "name references not getting updated after Kind change", but "name references not getting updated for JSON patches". Kustomize has never supported this, but I agree that it should.

/retitle "name refe

[2021-09-02 18:16] natasha41575 commented on #4136
A couple of things:

1. You don't need `allowKindChange` when doing a JSON patch. `allowKindChange` and `allowNameChange` are only needed if doing a strategic merge patch.

2. This issue not really "name references not getting updated after Kind change", but "name references not getting updated for JSON patches". This has never been supported by kustomize, but I agree that it should be.

[2021-09-02 18:23] JoachimBergt opened #4164 "Configuration-Value nameSuffix is ignored"
Whatever pathes are set for the ConfigurationValue `nameSuffix` are ignored. Only the Pathes from  `namePrefix` are used for the Name-Transformer.

The Module `api/internal/target/kusttarget_configplugin.go` will just pass the ConfigurationParameter `nameSuffix` to `FieldSpecs` of `PrefixSuffixTransformer` (because the `plugin/buildin/prefixsuffixtransformer/PrefixSuffixTransformer.go` only suppor

[2021-09-02 18:55] #3696 closed

[2021-09-02 19:13] natasha41575 commented on #4078
Sorry for the delay, investigating now

[2021-09-02 19:26] mikebz commented on #4146
Seems like the quotes are lost in the yaml library:
[code]

[2021-09-02 20:21] natasha41575 commented on #4156
I guess I'm not following why you need to change the entire base name in an overlay. The idea of prefixes and suffixes (and generally limited ways to change the original GVKNN) is to simplify the user experience and make the output more comprehensible - you can easily tell where each resource originated from.

What use case prevents you from having a base named `app`, and overlays that add differe

[2021-09-02 20:32] natasha41575 commented on #4049
@KnVerey @yuwenma @monopole Are any of the outstanding issues blockers for vars deprecation? I am tempted to mark them deprecated now, and address these users' concerns in between deprecation and removal.

[2021-09-02 20:34] natasha41575 commented on #4119
If the problem is in yaml.v2 package (v2.4.0) we may need to submit a PR or issue to https://github.com/go-yaml/yaml/. In our experience we haven't received much of a response there (the maintainer is very busy).

[2021-09-02 20:36] natasha41575 commented on #4120
Thank you @kferrone, I agree with all of your points and want to emphasize that template variables are out of scope for kustomize. We provide ways to extend kustomize via plugins and KRM functions, as well as helm support if you need this kind of functionality.

[2021-09-03 15:43] KnVerey commented on #3978
A bit of a sidenote, but I think this could be another use case for [Catalog](https://github.com/kubernetes/enhancements/pull/2908): instead of building transformers that implement functionality specific to a cloud provider as built-ins, these could be distributed in cloud-provider-specific Catalogs. cc @jeremyrickard

[2021-09-03 16:30] KnVerey commented on #4049
The question that comes to mind for me is how exactly we want to do this deprecation. Since this is a field in the Kustomization API (as opposed to a CLI cmd/flag), if we follow the Kubernetes API backwards compatibility policy, we shouldn't ever remove it from v1beta1 Kustomization; instead, we should cut v1 with vars etc. already removed, and have the CLI support both v1beta1 and v1 for the year

[2021-09-03 18:06] natasha41575 commented on #4049
The overall process you've proposed LGTM. We can start looking at some of the issues in https://github.com/kubernetes-sigs/kustomize/projects/12 to prepare for a v1 Kustomization.

SGTM. So long as all the fields are supported, I see no issue with converting v1beta1 to v1 silently.

[2021-09-03 18:10] #4078 closed

[2021-09-03 19:56] #4136 closed

[2021-09-03 21:20] natasha41575 commented on #4145
This is correct behavior; I don't think it makes sense for `kustomize edit set image` to be invoked recursively by default. `kustomize edit set` is intended to target the root kustomization only. I might be open to setting a recursive option, but having it traverse the kustomization tree by default doesn't make much sense IMO.

There are a few things going on with your directory structure:

1. To

[2021-09-04 01:16] jlewi commented on #3587
This looks to still be an issue with

[code]

Input kustomization

[code]

Run

[code]

Output

[code]

So the inline comment is stripped out.

The code [RunSetImage](https://github.com/kubernetes-sigs/kustomize/blob/4d002af7356776cf72a4a92ec5eb4d5c7b022b27/kustomize/commands/edit/set/setimage.go#L120)

is using unmarshal [here](https://github.com/kubernetes-sigs/kustomize/blob/4d002af7356776cf72a

[2021-09-04 02:21] TechnicalMercenary opened #4167 "Add namespace support to 'kustomize edit add configmap'"
There are exiting configMaps that I want to perform a merge with but they are in namespaces outside of my control.  I'd like to replace some of the values in the configMap and the merge works really well.  For these dynamically created configmaps we're using `kustomize edit add configmap` to build the configMap we want to merge with. Problem is that some of those configmaps are inside of namespace

[2021-09-04 02:23] svpace commented on #4156
My use case is pretty much what you described. I have a dozen worloads that all share the same base "quartet" (deployment, serviceaccount, service, virtualservice). In each overlay I change the image, add a name prefix and suffix and thats it (thank you for such amazing tool <3)

The "-" name that I currently use or an "app" name as you example works. It just seems "redundant" to declare a placeho

[2021-09-04 05:44] MeijerM1 commented on #4120
Thanks for all the input and answers everyone!

We'll be able to figure out a solution from here.

[2021-09-04 05:44] #4120 closed

[2021-09-04 23:14] #3127 closed

[2021-09-05 01:42] Tzrlk commented on #4142
For context, I'm working on a flux v2 application, where a number of separate applications are configured with some dependencies between them due to operator-based CRD deployment.

The structure I started with was as follows:
[code]
I then had to change it to this:
[code]
This means that to refer to the default implementation of an app, I either have to create a "default" permutation of the base,

[2021-09-05 02:59] TechnicalMercenary opened #4168 "ConfigMapGenerator mangles bash script"
My Kustomization

[code]

where backup.sh looks like

[code]

and backup-customer.sh looks like

[code]

Kustomize 4.2.0 and 4.3.0 correctly generates backup.sh

[code]

But Backup Customer is mangled

[code]

I've check for linefeeds and tried resaving the file etc on MacOs

[2021-09-05 03:09] TechnicalMercenary commented on #4168
Tabs.  somehow part of the bash script was formatted with tabs.

[2021-09-05 03:09] #4168 closed

[2021-09-05 14:51] hiroyaonoe commented on #4093
Hi!
This problem seems to be fixed by #4039 .

However, #4039 has been applied only to v4.3.0 and later, and not v4.2.0.
In [v4.3.0](https://github.com/kubernetes-sigs/kustomize/tree/kustomize/v4.3.0)
https://github.com/kubernetes-sigs/kustomize/blob/cd17338759ef64c14307991fd25d52259697f1fb/api/internal/git/repospec.go#L128
In [v4.2.0](https://github.com/kubernetes-sigs/kustomize/tree/kustomize/v4

[2021-09-07 07:33] grzesrap commented on #3969
This bug still exists in version v4.3.0. Is this work scheduled for the next release? Is there any way to fix this bug now?

[2021-09-07 08:57] almson commented on #4120
Makes no sense to me either. I can understand wanting to make a lightweight alternative to Helm, but avoiding templating entirely?

A template is like a base class that explicitly supports inheritance and can be updated without breaking its children. By rejecting templates, I think what Kustomize is aiming for is to only allow haphazard, brittle inheritance.

Why?! Who thought of this?!

[2021-09-07 10:27] #3605 closed

[2021-09-07 13:07] invidian commented on #880
/remove-lifecycle stale

[2021-09-07 18:18] natasha41575 commented on #3969
The bug is likely in the [go-yaml libraries](https://github.com/go-yaml/yaml) that we use. Kustomize does not have the resources to address this bug at the moment, but anyone is welcome to investigate and submit a PR to either kustomize or go-yaml for review.

[2021-09-07 18:31] natasha41575 commented on #2987
https://github.com/kubernetes-sigs/kustomize/pull/4152 may fix it

[2021-09-07 18:34] natasha41575 commented on #4167
Hi @TechnicalMercenary, thanks for filing the issue.

IIUC, you want `kustomize edit add configmap` to add a `configMapGenerator` field to the kustomization? This field is a bit complex, I'm wondering if you have ideas for what parameters `kustomize edit add configmap` should accept?

[2021-09-07 20:05] kferrone commented on #4120
Ermm . . .
@almson You missed the point. There are sooo many templating engines out there, Helm is not the only one. Kustomize works like kubernetes, as in kubernetes doesn't do the ingress, nginx does the ingress and kustomize doesn't template because helm, go, handlebars, symphony, yqtt, jsonnet etc does templating. Kubernetes and kustomize are basically just yamlized orchestration. If you want

[2021-09-07 21:20] #4149 closed

[2021-09-07 23:29] natasha41575 commented on #4124
/assign @yuwenma

[2021-09-08 00:30] yuwenma commented on #4124
/assign

[2021-09-08 07:57] almson commented on #4120
@kferrone You have it backwards. Kustomize hates templating. That is their ideological position. They hate it so much that they're [deprecating `vars`](https://github.com/kubernetes-sigs/kustomize/issues/2052).

Kustomize is not a templating engine--it's a hacking engine. Its purpose is to make hacky workarounds to others' half-assed deployment files. Occasionally that's useful, but it should not

[2021-09-08 15:12] boarder7395 commented on #2301
For others reading this:

Im not sure if this is the intention but I have found this would work:

export WORDPRESS_DB_HOST=$(MYSQL_SERVICE)
kustomize build ./wordpress | kubectl apply -f -

except the environment variable cannot have underscores other wise the replacement does not happen. So instead use:
env.yaml
____
FOO=lalala
WORDPRESSDBHOST

___
export WORDPRESSDBHOST=$(MYSQL_SERVICE)
kustomiz

[2021-09-08 15:21] KnVerey commented on #3974
/remove-lifecycle stale

[2021-09-08 15:46] KnVerey commented on #4142
Thank you for the details about your case. Kustomize doesn't automatically recurse over subdirectories. Does the error you're seeing talk about the root containing a visited root? If so, what's going on is that Kustomize keeps track of directories it has already visited and enforces certain rules about the relationship between them to prevent designs that lead to cycles, to keep Kustomizations sel

[2021-09-08 17:24] natasha41575 commented on #4120
@almson We are deprecating vars because our desire is to have raw yaml configuration that can still be used without having to render it first. This makes it more extensible and reusable. For those who desire this kind of behavior, we support helm configuration and provide extensibility mechanisms.

A proposal for this behavior is in the works.

[2021-09-08 19:28] marshall007 commented on #3944
@KnVerey are you aware of the history behind the extensions listed in https://github.com/kubernetes/kubernetes/issues/82942#issuecomment-854893056? I am still confused as to where these came from and why they are [documented in the `crds` doc](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/crds/) despite (AFAIK) not being supported by anything other than kustomize. Per #4095

[2021-09-08 19:30] marshall007 commented on #4095
@natasha41575 I think this can be closed in favor of #3944 and #3945. See also https://github.com/kubernetes-sigs/kustomize/issues/3944#issuecomment-915510548 and prior discussion in that issue for more details.

[2021-09-08 19:32] natasha41575 commented on #4095
/close

[2021-09-08 19:32] #4095 closed

[2021-09-08 20:20] KnVerey commented on #4123
/assign @m-Bilal

[2021-09-09 00:45] m-Bilal commented on #4123
/assign

[2021-09-09 05:46] leon-marcel opened #4173 "[Question] Is there any other way to reference the same base in two overlays without using namePrefix or nameSuffix? reference to #4104"
Hello folks,

I recently had a problem with kustomize build and opened an issue here #4104 .
The supplied solution worked and the kustomize build could execute.

The only problem I have with this solution is that the name of our kubernetes resources are now mangled.
We use kustomization for our config management and have one overlay for each of our projects.
At the time we use a shell script which

[2021-09-09 07:30] vit-zikmund commented on #3981
/remove-lifecycle stale

[2021-09-09 14:55] KnVerey commented on #3936
/remove-lifecycle stale

[2021-09-09 16:21] natasha41575 commented on #4173
Could you provide some details about what you do with the output? The reason that you can't reuse the same base without altering the names is that you will now have multiple resources with the same GVKNN, which doesn't make sense to apply to a cluster.

[2021-09-09 16:57] natasha41575 commented on #2987
https://github.com/kubernetes-sigs/kustomize/pull/4152 has merged

[2021-09-09 16:58] natasha41575 commented on #4100
https://github.com/kubernetes-sigs/kustomize/pull/4152 has merged, which should improve performance as it effectively undoes https://github.com/kubernetes-sigs/kustomize/commit/119d7cadf5718a23187441ee5f0ae1a6e3b48e86. Please comment and reopen if you find that the issue is still unresolved.

[2021-09-09 17:49] shapirus commented on #4100
awesome, thank you, I will try to test it tomorrow.

[2021-09-09 17:49] ephesused commented on #2987
For what it's worth, I'm not seeing any performance improvement between v4.3.0 and master (after the merge of #4152).

[2021-09-09 17:52] #3778 closed

[2021-09-09 19:25] natasha41575 commented on #2987
sigh

[2021-09-10 01:00] svpace opened #4174 "Is it possible to rename labels?"
I have a bunch of Helm generated manifests that follow the old app/release/heritage labels convention.

Is there a way to use kustomize to rename these labels to the new "app.kubernetes.io/name" convention while keeping their value?

[2021-09-10 01:44] ssuganth opened #4175 "Kustomize patch is not working correctly"
My deploymentconfig under base folder:

  apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  #namespace: ssuganth-dev
  metadata:
    name: demoapi-dc
    #namespace: ssuganth-dev
    labels:
      app.kubernetes.io/part-of: demoapi-app
  spec:
    completionDeadlineSeconds: 1200
    replicas: 2
    selector:
      name: demoapi-dc
    strategy:
      type: Rolling
      maxSurge: 50%

[2021-09-10 05:48] leon-marcel commented on #4173
Our use case is that we use one overlay for each project in our config management for our openshift cluster.
The overlay defines project specific resources, for instance ResourceQuotas - these differ for each project.

It used to be no problem because in our installation process (e.g. the config of the openshift cluster) we used a shell script that iterates over each project and applies it once at

[2021-09-10 10:17] shapirus commented on #4100
I can confirm that the issue is now resolved.

With kustomize built from HEAD:

[code]

[2021-09-10 16:30] whut commented on #3935
/remove-lifecycle stale

[2021-09-10 20:34] kferrone commented on #4174
Yes with some imagination. Here is what I came up with real quick and untested but theoretically should work.

Step 1: Make a new `LabelTransformer` with desired labels
[code]
Step 2: Use `ReplacementTransformer` to copy old label value to new labels.
[code]
Step 2: Use `PatchTransformer` to remove labels
[code]

You could also perform this task with code and hack it up with a kustomize plugin. Pr

[2021-09-10 22:49] lodotek commented on #347
/remove-lifecycle stale

[2021-09-11 19:45] jketcham commented on #1301
/remove-lifecycle stale

[2021-09-12 00:03] Tzrlk commented on #4142
Right, after reading through the implementation, I can see the issue. Allowing this pattern would require either a recursive search, or passing a hash of loader paths around. The `RestrictionRootOnly` implementation of `loadRestrictorFunc` has no context beyond the file paths themselves. Even the most efficient implementation would require checking the hash for path "ownership" every time a resour

[2021-09-12 00:03] #4142 closed

[2021-09-12 11:12] m-Bilal commented on #4123
@KnVerey the panic happens because in this line
https://github.com/kubernetes-sigs/kustomize/blob/402f6ca72bd0d804d202376c39b5d8aeffbef8c6/kustomize/commands/internal/kustfile/kustomizationfile.go#L216 `len(mf.originalFields)` returns 0.
The reason for this is when the file begins with a blank line (or a comment) and a document separator immediately follows it, `len(comments)` is > 0 but `len(mf.o

[2021-09-13 05:55] pst commented on #3659
/remove-lifecycle stale

[2021-09-13 15:01] B0ud commented on #916
I have the latest version of kustomize (4.1.3) and am experiencing the same issue that @takahser .

Environment variable in the deploymentconfig  all this part is replaced and not merge with `patchesStrategicMerge`

(with the crds configured with deploymentconfig ... )

[2021-09-13 19:29] natasha41575 commented on #2233
/remove-lifecycle stale

[2021-09-13 23:51] natasha41575 commented on #4053
Adding a comment to note a caveat in that `fieldPath` slightly differs from JSONPath syntax.

fieldPath separates on "." for everything - so while a JSON path is something like `spec.http[1].route`, the equivalent kustomize replacements path would be `spec.http.[1].route`. In order to be analogous to the current fieldPath syntax, the syntax for setting every array element should actually be `spec.

[2021-09-14 00:30] natasha41575 commented on #4024
Working on this now

[2021-09-14 14:13] ciis0 opened #4179 "OpenAPI schema declared in components is not overriding the builtin"
Is there a way to globally change the default OpenAPI schema used?

When for example used with OpenShift resource, strategic merges do not work due to missing schema.

I can add them via `openapi.path` in every kustomization.yaml, but then I have to copy OpenShifts Schema to all my folders, due to the load restrictor.

I does not seem like the OpenAPI used by Components is "inherit" by the Kustomi

[2021-09-14 16:16] m-Bilal commented on #4053
/assign

[2021-09-14 19:02] aaron-prindle opened #4181 "[Question] What does the 'Line' field represent in a YamlNode? The value was different than the line I expected in my usage"
When attempting to use kyaml, it seems that the YamlNode `Line` field has a value that is different than what I might expect.  From the below sample code and output I am a bit confused.  I get the YamlNode for the `metadata` field via `node, err := obj.Pipe(yaml.Get("metadata"))` and the metadata tag is on line `3` of the yaml but the value for `node.YNode().Line` is `4`.  I was wondering why this

[2021-09-14 20:22] kferrone opened #4182 "How to reference Files with Starlark Function?"
How do I reference a `functionFiles` from within a Starlark function?

Here is the yaml for my function:
`embed.yaml`
[code]
Is it even possible for Starlark to reference files from the host? I have a feeling kustomize would have to read files and pass in the content as variables.

Within the code I can only get the name of the files in an array like so:
[code]
Now how to actually read the file co

[2021-09-14 22:17] bittner commented on #2803
/remove-lifecycle stale

The edit command is a critical feature that needs more attention.

[2021-09-14 23:51] eigood commented on #3446
I don't see istio changing their CRD, so is there any plan on fixing this in kustomize?

[2021-09-15 00:49] larsks opened #4183 "Output difference between 4.2.0 and 4.3.0"
**Describe the bug**

I am running kustomize 4.3.0 locally, but I am deploying into an argocd system that is running kustomize 4.1.1. I ran into a recent problem in which the `kustomize build` output on my system does not match the output generated by 4.1.1. I am unsure if this is a bug in 4.1.1 that has been fixed, a new bug in 4.3.0, or if I am simply bad at reading release notes. I tested relea

[2021-09-15 10:23] #4145 closed

[2021-09-15 10:30] deepak-gc commented on #4145
Thanks for explaining it so well and for providing solutions.  I wish it could have worked without any change in case of multi-base example, where root kustomize is only used to add the overlays. For now  option (b) will solve my issue.

[2021-09-15 11:16] pentago opened #4184 "[Question] Why do Kustomize doesn't apply base commonLabels to resources (not patches) in overlays?"
For example, I have a project where I declare `commonLabels` in base kustomization.yaml.

In each overlay `kustomization.yaml` I have both patches to the base and resources that exist only in overlays (_e.g. secrets_).

When building an overlay, `commonLabels` are applied only to base stuff but not to overlay resources for some reason.

Would it be natural to expect that `commonLabels` should do w

[2021-09-15 13:37] RE-codes commented on #3675
I am experiencing partial support for anchor/alias. Anchors/aliases are used throughout various teams in our org, and we are interested in using `kustomize` for a cross squad purpose, so it would be great to have the full yaml spec support to avoid confusion across teams with regard to "how much yaml can we use" and unwinding a lot of preexisting work.

Specifically, I am seeing that anchors for `

[2021-09-15 19:03] KnVerey commented on #4183
It was a bug specifically affecting CronJob in the batch/v1 API group: #4062. I updated the release note for the fix (https://github.com/kubernetes-sigs/kustomize/pull/4112) to mention this.

/kind documentation

[2021-09-15 19:20] larsks commented on #4183
Great, thank you for the update!

[2021-09-15 19:37] tfoks commented on #2645
While facing the same problems I figured out that if I use

patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: base-name
  path: deployment-patches.yaml

and place all patches into a separate file all patches are applied

[2021-09-15 20:18] #4183 closed

[2021-09-15 20:38] natasha41575 commented on #4184
Could you provide sample kustomization files and resources, as well as the output you are getting? From what you've described, I'd expect kustomize to apply the labels to all resources.

[2021-09-16 08:24] ChaturvediSulabh commented on #3276
I'll try to finish the work by this weekend. Apologies for the delay.

[2021-09-16 11:16] pentago commented on #4184
Sure, here's my `base` `kustomization.yaml`:

[code]

My `dev` overlay kustomization.yaml:

[code]

When I do  `kustomize build environment/dev -o dev.yaml`, the output manifest file does not inherit and apply `commonLabels` and `commonAnnotations` declared in base's `kustomization.yaml` to any of the files listed under `dev` overlay **resources** section

For example, this is the portion of the o

[2021-09-16 15:50] svpace commented on #4184
I was also surprised by this. But after some digging, I've found out that by the time overlays are rendered, the base is already done with, therefore the commonLabels in the base no longer applies.

So far I've been trying to use components to this use-case. The only "gotcha" só far is that the component that declare the labels have to come first on the component list.

[2021-09-16 15:54] svpace commented on #4174
Thanks. Nonetheless, is this a case for a feature request?

[2021-09-16 17:48] kferrone commented on #4174
Could be. I would say this is a prime use-case for a plugin though. Call it `LabelRenameTransformer` and write it in whatever language is comfortable. IMHO Python is quick and easy for kustomize plugins.

[2021-09-16 19:59] #4127 closed

[2021-09-16 20:15] #4123 closed

[2021-09-16 20:20] droopy4096 commented on #4164
experiencing same issue:

* Fedora 34
* Kustomize 4.0.3

[code]

[2021-09-17 00:59] KnVerey commented on #4175
/kind support
/triage not-an-issue

I can't say for sure without seeing the Kustomization, but given that `kind: DeploymentConfig` is a custom resource, I'm guessing your Kustomization isn't providing the schemas for it. Without the schemas, kustomize uses a default strategy for merging lists, which is not what you want for containers. You can provide schemas through the [openapi](https://kubectl.

[2021-09-17 01:23] m-Bilal commented on #3812
/assign

[2021-09-17 05:26] ringerc commented on #1493
Pretty surprised to find this limitation. It's explained by the fact that a json patch specifies paths as "JSON Pointers"  http://jsonpatch.com/#json-pointer which are specific identifiers for a single document-element. It is not JSONPath, there are no wildcards and there is no pattern matching.

I guess the correct answer is probably to write a custom kustomize transformer. I'm very surprised to

[2021-09-17 05:36] ringerc commented on #1493
See also https://github.com/kubernetes-sigs/kustomize/issues/720

[2021-09-17 05:43] ringerc commented on #720
I don't think this allows you to patch multiple configuration elements within a single resource by pattern-matched or wildcard paths, e.g. match all `containers` and `initContainers` inside a `Deployment` and update the `imagePullPolicy` for each one. See #1493 for discussion of that issue.

[2021-09-17 11:23] ciis0 commented on #4127
thank you for the fast fix!

[2021-09-18 12:37] #3823 closed

[2021-09-18 19:37] #3826 closed

[2021-09-19 13:18] harindaka commented on #880
I just hit this issue with my ingress as well. Is there an ETA for a fix?

[2021-09-19 21:48] #3585 closed

[2021-09-20 02:56] qkflies commented on #3815
/remove-lifecycle stale

[2021-09-20 03:39] ringerc commented on #2460
@max-sixty Right. This doesn't seem to be fixed or resolved in any way, nor has a decision not to do it been made.

Kustomize doesn't have a way to cache remote layers. Nor does it have a way to accept a map of git `--reference` repos for faster cloning, or a way to rewrite or remap remote layers to local URIs.

[2021-09-20 03:39] ringerc commented on #414
See also https://github.com/kubernetes-sigs/kustomize/issues/2460

[2021-09-20 03:41] ringerc commented on #2460
In addition to build times, this is a maintenance mess.

URIs to other repos get embedded, creating long chains of references. `bases` is a string-list, so you can't separate the remote `ref` from the URI string, making it hard to handle version overrides, remapping and lookups.

There's no easy way recursively clone the remotes and rewrite the kustomizations to point to local paths.

[2021-09-20 03:43] ringerc commented on #1431
See also https://github.com/kubernetes-sigs/kustomize/issues/1735 https://github.com/kubernetes-sigs/kustomize/issues/2460

[2021-09-20 03:43] ringerc commented on #2460
See also https://github.com/kubernetes-sigs/kustomize/issues/1431

[2021-09-20 03:44] ringerc commented on #1431
The option to specify a map of `--reference` repos would be a big help if people are worried about cache freshness. That way you can clone very quickly while still being guaranteed a fresh result.

[2021-09-20 10:27] imgx64 opened #4191 "IngressClass should be ordered before Ingress"
**Describe the bug**

If I have both `Ingress` and `IngressClass` in the same kustomization, Ingress is sorted first in the output, and so applying gives this error:

[code]

I can see that the order is defined explicitly for some objects already. I think `IngressClass` should be added to the list, similarly to `StorageClass` or `PriorityClass` :

https://github.com/kubernetes-sigs/kustomize/blob/

[2021-09-20 22:21] natasha41575 commented on #3953
We have deprecated the `fn` commands (except for run), and the `cfg` commands except for the ones specified in #4090. Unless I am mistaken, I believe the work and discussion here has either been completed or moved to separate, more specific tracking issues.

[2021-09-20 22:21] #3953 closed

[2021-09-21 06:39] JethroMV commented on #1113
/reopen

[2021-09-22 08:06] ringerc commented on #1251
Here's a demo.

TL;DR:  You *can't* write a single Kustomization that can be used standalone or further composed because of this behaviour. Either your standalone base cannot be applied due to missing CRDs, with errors like:

[code]

or if you include the CRDs in each base your combined deployment cannot be generated due to kustomize errors like

[code]

----

It shows that it's not possible to de

[2021-09-22 12:35] jzuijlek commented on #2869
Agreed, we are forced to upgrade because of deprecated kubernetes apis and performance is an issue for us.

[2021-09-22 15:04] KnVerey commented on #4126
I agree that the path should not depend on the current working directory. It should be relative to the Kustomization including the transformer config, as we did for exec in https://github.com/kubernetes-sigs/kustomize/pull/4125.

That said, there is an open proposal that includes deprecating dedicated starlark support: https://github.com/kubernetes/enhancements/pull/2954. Although it has its advan

[2021-09-22 15:30] KnVerey commented on #3944
I don't have additional context on that history unfortunately.

User-provided openapi is an override: Kustomize already embeds openAPI for builtin types and will continue to do so. IIRC it is primarily used to determine the correct merge strategy to use at the moment, but as @monopole said in the linked issue, we would love to drive the name references config from it as well. Users who deal exclus

[2021-09-22 15:31] #4175 closed

[2021-09-22 15:37] kferrone commented on #4126
I was only curious about Starlark. Not too worried if it gets deprecated. I did like the idea of a dedicated scripting language for Kustomize. I am wondering though the direction of plugins vs functions in kustomize? Are plugins and functions two different ideas and one is going to win over the other? Or are they two separate ideas and they will live alongside each other?

[2021-09-22 18:48] polasekr opened #4194 "[Question] patch specific list element targeted by element attribute"
Currently, I have a following kustomization definition, which deletes 9th step from a first task of a tekton pipelinerun definition.
[code]
As it is right now it references list elements by their indexes in their respective arrays.
There are few problems with such approach:
1) any change of element order requires making changes to kustomization file
2) not very intuitive - you don't know what kust

[2021-09-22 20:14] #3675 closed

[2021-09-22 20:52] KnVerey commented on #4126
I'd characterize functions as a subcategory of plugins, and yes, the KEP proposes retaining function-style Exec and Container plugins only, and deprecating the rest. Please read the [Motivation section](https://github.com/kubernetes/enhancements/pull/2954/files#diff-da31478d2b3a925c17471e989c953539b508eed0aae19d624ad943d08f4dd910R186) for more background.

[2021-09-22 21:11] hancockjt commented on #947
Still have this problem, even with v4.3.0

[2021-09-22 22:04] hancockjt commented on #3969
This seems to happen for any string longer than 80 characters in your patches. I'm surprised it's not getting a lot more attention. It's a pretty huge limitation. I'm having to resort to using python yaml parsing to handle these operations.

[2021-09-23 13:22] rkr-kununu commented on #4012
/remove-lifecycle stale
For me, this is really a critical defect in the ReplacementTransformer that needs to be resolved before `vars` can be retired.

[2021-09-24 00:07] natasha41575 commented on #4179
While it is not possible for an overlay to "inherit" the OpenAPI schema from the base, I'd expect that it should be able to "inherit" it from a component. I.e. `./demo-overlay+component-openapi.sh` should work if I understand correctly.

This sounds like a bug, and I will dig into it a little more.

/assign
/kind bug
/triage accepted

[2021-09-24 00:12] natasha41575 commented on #4184
Ah I see I misunderstood the original question. Yes, @svpace is correct. If you define `commonLabels` in the base, those labels will only be applied to the resource's that kustomize knows about so far. The base is processed, and then the rendered resources are sent to the overlay kustomization for processing. At this stage, the base has completed its work and its transformers will not be applied t

[2021-09-24 08:18] pentago commented on #4184
What  do you mean by "components"?

[2021-09-24 11:57] pentago commented on #4184
Disregard question above, I just learned about Kustomize Components.
So basically, I think I don't need to set labels/annotations in my base, rather in each overlay..

[2021-09-24 15:05] #4124 closed

[2021-09-24 16:32] RobinMcCorkell commented on #3937
We also want labels to be applied everywhere except in selectors, so that frequently changing labels (like a version label) do not attempt to update Deployment selectors. This means that these labels should still be applied to Pod templates, just not the selectors that match on them.

[2021-09-25 00:55] chrisprijic opened #4201 "Multi-Line values receive injected newlines in the middle of the value in the output of `kustomize build`"
**Describe the bug**

This is based on the helm chart for [Pulsar](https://github.com/apache/pulsar-helm-chart), specifically their file [here](https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/pulsar-cluster-initialize.yaml) after running `helm template` and `kustomize build`. Below is a sample smaller project that can reproduce the bug.

I have a Job yaml that inclu

[2021-09-25 02:44] #3741 closed

[2021-09-25 13:54] #3846 closed

[2021-09-25 21:57] #1262 closed

[2021-09-27 13:45] scratchmex commented on #3481
@monopole any further discussion about this? @dlipovetsky said a reason. Sorry to bump this but I also encounter this behavior and I would find it very convenient to use the `patches` section.

[2021-09-27 16:20] natasha41575 commented on #4162
Closing as intended behavior because I am struggling to see the use case for patching a kustomization, please reopen if you have more to discuss. Thanks!

[2021-09-27 16:33] KnVerey commented on #3675
The fix has been released in version 4.4.0. Please try it out and open a follow-up issue with any problems encountered.

[2021-09-27 16:42] ChristianCiach commented on #2987
There is an improvement with Kustomize 4.4.0, but not as large as I expected

I just tested the new kustomize release 4.4.0 against 4.3.0 and also against my hack as decribed in https://github.com/kubernetes-sigs/kustomize/issues/4100#issuecomment-895590402.

My pipeline consists of about 20 calls to `kustomize build`.

Result:

* 4.3.0: ~19 seconds
* 4.4.0: ~11 seconds
* my hacked 4.3.0 build: 4

[2021-09-27 16:42] ChristianCiach commented on #4100
There is an improvement with Kustomize 4.4.0, but not as large as I expected

I just tested the new kustomize release 4.4.0 against 4.3.0 and also against my hack as decribed in https://github.com/kubernetes-sigs/kustomize/issues/4100#issuecomment-895590402.

My pipeline consists of about 20 calls to `kustomize build`.

Result:

* 4.3.0: ~19 seconds
* 4.4.0: ~11 seconds
* my hacked 4.3.0 build: 4

[2021-09-27 17:12] chrisprijic commented on #4201
I've made a sample `krusty` test that signifies the issue in a simpler format (as per the docs [here](https://kubectl.docs.kubernetes.io/contributing/kustomize/bugs/#if-you-have-go-installed)):

## Test Code

[code]

## output

[code]

I hope this helps. Thanks!

[2021-09-27 21:03] kferrone commented on #106
[code]
This works very well. I wasn't even able to reproduce any of the issues above.

[2021-09-28 04:50] juergenzimmermann commented on #4028
@monopole @KnVerey @natasha41575 Is there any chance to get 4.4 for Windows, too? The latest Windows release is still 4.1.3.

[2021-09-28 11:01] jkroepke opened #4211 "[Question] Using 'replacements' instead 'vars' for inline values"
hi,

I recently read https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/ which instructs me thats vars going to be deprecated. While thats describes some case to migrate to replacements, I can not find a way where replacements can be a replacement for vars.

Scenario:

I have a CRD, like this

[code]

and vars (including varReference) like this:

[code]

which results into:

[2021-09-28 14:48] daraghlowe opened #4212 "Error during expansion of "!!merge <<:" anchor tags"
This is a follow up issue to #3675 as we still see errors when using the kustomize version 4.4 that has the YAML anchor fix. We're also seeing a similar error ( `unsupported type: map[interface {}]interface {}` ) for some other YAML in knative that doesn't have a YAML anchor.

We use kustomize v3.8.10 which works fine with knative but we get errors when using the later versions that use kyaml.

[c

[2021-09-28 15:35] mprahl opened #4213 "Exec generator plugins do not work on Windows"
**Describe the bug**

I'm unable to use an exec Kustomize generator plugin on Windows. This works for me both on Linux and MacOS.

The error is as follows:

[code]

However, the generator executable does exist:

[code]

Here is how I can reproduce it:

1. Download the [precompiled binary](https://github.com/open-cluster-management/policy-generator-plugin/releases/download/v1.0.0/windows-amd64-Poli

[2021-09-28 17:33] natasha41575 commented on #4028
It might take some time because none of us have windows machines, but we are working on a fix.

[2021-09-28 17:42] olljanat commented on #4028
It should enough if you can make cross build working with command like:
`GOOS=windows GOARCH=amd64 go build`

Some of us Windows users can help with testing after that.

[2021-09-28 18:34] natasha41575 commented on #4028
/assign

[2021-09-28 23:10] natasha41575 commented on #4211
You can use `delimiter` and `index` to add prefixes and suffixes. For your use case:

Your original resource:
[code]

Your replacement:
[code]

Please try this out and let me know if it works.

[2021-09-29 03:28] solsson commented on #4100
We have a similar pipeline and I get the following results:

- 4.1.2: ~24s
- 4.4.0: ~4s

[2021-09-29 07:19] james-callahan commented on #3944
There needs to be some way to add extra strategic merge keys for CRDs: requiring the entire openapi definition isn't going to be composable.
What if `openapi` could take an array of patches to apply on top of the in-built definitions?

[2021-09-29 07:45] benjamin-bergia commented on #3635
/remove-lifecycle rotten

[2021-09-29 16:11] KnVerey commented on #4212
The second problem might be caused by the integer key. Can you please try quoting it? Ref issue #3446

@monopole can you please take a look at the issue of the anchors still not working in the provided sample?

[2021-09-29 16:18] KnVerey commented on #4194
/kind support

You can do that by using a [strategic merge patch ](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patchesstrategicmerge/) instead of a JSON patch. To have the task and steps lists merge correctly, you will also need to provide the schema for the "pipelinerun" type: [openapi](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/).

[2021-09-29 16:21] KnVerey commented on #4191
/kind duplicate
/close

See #3913. We will not be changing the built-in legacy order, but there is an open PR that would allow you to customize it yourself.

[2021-09-29 16:21] #4191 closed

[2021-09-29 16:27] KnVerey commented on #4201
/triage accepted

This likely an issue we're inheriting from go-yaml.

[2021-09-29 16:32] KnVerey commented on #4174
/kind support

I agree with @kferrone -- this is a great use case for a plugin. If it proves popular, we could reconsider adding it to Kustomize.

[2021-09-29 16:45] eddiezane commented on #4212
Second issue is indeed #3446.

[2021-09-29 16:46] KnVerey commented on #4164
/triage accepted

[2021-09-29 16:48] KnVerey commented on #4150
/close

[2021-09-29 16:48] #4150 closed

[2021-09-29 16:49] natasha41575 commented on #4173
To confirm, are you trying to end up with a kustomization file that has multiple resources with the same GVKNN?

We are trying to understand how that could work in practice. If you were to deploy something like that, kubectl would fail to deploy all the resources because all resources need to have a unique GVKNN. Is FluxCD separating the output of kustomize build somehow in such a way that this is

[2021-09-29 16:53] KnVerey commented on #2736
We discussed this at the Kustomize bug scrub today and decided not to accept this feature. Kustomize expects the entire tree of required files to exist at or below the root Kustomization itself, which is behaviour we want to preserve for both security and encapsulation reasons.

/close

[2021-09-29 16:54] #2736 closed

[2021-09-29 17:08] spiffxp opened #4214 "Stop using ci-kustomize-periodic-default-gke job"
Related:
- Part of: https://github.com/kubernetes/test-infra/issues/23778

The job should be migrated to not depend on proprietary/hosted clusters, and instead use a cluster that is provisioned by open source software, e.g.
- kubernetes/kops
- kubernetes-sigs/kind
- kubernetes/kubernetes/cluster/kube-up.sh with --provider=gce

The job is currently continuously failing, so if it's not actively bein

[2021-09-29 17:09] monopole commented on #4212
@ack

[2021-09-29 17:11] spiffxp commented on #4214
/kind cleanup
/kind failing-test

[2021-09-29 17:29] spiffxp commented on #4214
Tests appear to be failing with
[code]

[2021-09-29 17:31] spiffxp commented on #4214
/assign @KnVerey @natasha41575

[2021-09-29 18:18] natasha41575 commented on #4214
@KnVerey @monopole considering that we have our own expansive suite of tests, do you think this job is necessary to keep? Can we drop it?

[2021-09-29 18:55] spiffxp commented on #4214
If you're cool with removing it, I've preemptively opened up https://github.com/kubernetes/test-infra/pull/23826 for your LGTM

[2021-09-29 19:01] RE-codes opened #4215 "Error using [Merge Key Language-Independent Type](https://yaml.org/type/merge.html) support for YAML anchor/alias"
**Describe the bug**

Following up on https://github.com/kubernetes-sigs/kustomize/issues/3675. I have found anchor/alias support improved. However, when using _Merge Key Language-Independent Type_ notation (i.e. `<<: *some_anchor`) I am presented with this error:

`Error: map[string]interface {}{"apiVersion":"apps/v1", "kind":"Deployment", "metadata":map[string]interface {}{"annotations":map[stri

[2021-09-29 20:08] KnVerey commented on #4212
/retitle Error during expansion of "!!merge <<:" anchor tags

[2021-09-29 20:23] KnVerey commented on #4033
We've sent a reminder ping on our PR today. If we end up carrying the internal fork past the current k/k release, we should reconsider our options, such as approaching API Machinery about a permanent fork, or maybe supporting/leveraging the effort to have kubernetes-sigs/yaml use v3 (https://github.com/kubernetes-sigs/yaml/pull/61 mentions a KEP for v2 of that lib).

[2021-09-29 22:27] natasha41575 commented on #4215
@monopole seems related, possibly a duplicate of https://github.com/kubernetes-sigs/kustomize/issues/4212. Could you take a look?

[2021-09-30 09:22] daraghlowe commented on #4212
Thanks @eddiezane @KnVerey, the integer key is the second issue, confirmed that it works fine when I put it in quotes.

[2021-09-30 10:15] karpoftea commented on #970
It seems that there is not way to use `git`-protocol for referencing individual files. So, following will fail:
[code]
with error:
[code]

While following **will** work (mind that `crds` dir has kustimization.yaml inside):
[code]

In my use-case git-repo is **private**, thus I can't use 'https'-protocol for fetching individual files.

Why there is a limitation for individual files for `git`-protoc

[2021-09-30 18:32] KnVerey commented on #4213
Thank you for the detailed report! We are currently looking for a contributor to help us with Windows issues like this one, #4001 and #4028. Do you think this case might be the same as the one reported in #3269, where the problem was not handling Windows executable extensions? If so, I think the approach in that PR is good, though it needs tests.

That said, we have an open KEP proposing deprecati

[2021-09-30 19:08] monopole commented on #4214
This appears to run https://github.com/kubernetes-sigs/kustomize/blame/master/examples/ldap/integration_test.sh
I don't think this test is useful;
i don't see a case where the e2e tests for kustomize could pass and this test would fail.
I say drop it.

[2021-09-30 21:26] natasha41575 commented on #4179
/retitle OpenAPI schema declared in components is not overriding the builtin.

[2021-09-30 22:32] KnVerey commented on #4182
To the best of my knowledge, Starlark intentionally cannot do filesystem IO as a feature of the language (not specific to Kustomize). If you're unable to encode the input data into the function config itself, then I suggest you switch to a container function (which supports specified mounts) or an exec function (which has filesystem access inherently).

Please note that we have an open KEP with a

[2021-09-30 22:54] #4214 closed

[2021-09-30 22:54] KnVerey commented on #4115
#4125 only fixed the "function" version of exec plugins, whereas the examples on this issue are using the older env-lookup-based exec plugins. While we would accept a fix to the older exec plugins so that they also use the Kustomization's dir as their working dir, I would recommend switching to the newer "function" style, as the older style is proposed for deprecation as part of the plan to move p

[2021-09-30 23:58] natasha41575 commented on #3670
/remove-lifecycle rotten

[2021-10-01 04:32] KnVerey commented on #2233
I think there are two separate cases being discussed on this issue. The original issue description is:

If I understand correctly, the desired behavior is that the existing configmap would receive a generated name suffix. It seems to me this never happens when using the generator to update an existing configMap; I'm not seeing different behaviour based on the presence or absence of a namespace.

I

[2021-10-01 04:32] #2233 closed

[2021-10-01 04:46] KnVerey commented on #2721
I strongly agree about the importance of plugins and would like to promote them, but some issues will need to be resolved as part of that. I have written up a KEP with a plan: https://github.com/kubernetes/enhancements/pull/2954. If you are interested in this topic, I would love to get your feedback--please comment on that PR rather than here and follow the KEP issue going forward.

Here is the fu

[2021-10-01 04:46] #2721 closed

[2021-10-01 11:41] developer-guy opened #4217 "develop Kustomize plugin to sign images within the manifests using cosign tool"
**Is your feature request related to a problem? Please describe.**

It is not related to a problem, it is more like a new feature request.

**Describe the solution you'd like**

Recently, I came across a git repository called [sopsencodedsecrets](https://github.com/monopole/sopsencodedsecrets). Then, I searched for `Kustomize` plugins and realized that it is easy to develop plugins using Go for ex

[2021-10-01 13:02] benjamin-bergia commented on #2233
Hi @KnVerey,

thank you for your help. Before closing this, would it be possible to document this behavior that you mentioned:
[code]
in here https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/configmapgenerator/.
Despite being an intended behavior it doesn't seems to be mentioned anywhere in the reference.

[2021-10-01 16:08] KnVerey commented on #4147
Actually this is a duplicate of #3756. The original issue lists the places to be updated.

/kind duplicate
/close

[2021-10-01 16:08] #4147 closed

[2021-10-01 16:37] KnVerey commented on #2037
@StevenLiekens can you please clarify the solution you are looking for? It sounds like you've found multiple solutions, and the first one in fact has test coverage as of https://github.com/kubernetes-sigs/kustomize/pull/3727.

In other words is this issue tracking the fact that to remove the emptyDir you need to do this:

[code]

rather than this?

[code]

Or is there something else you're looking

[2021-10-01 16:42] StevenLiekens commented on #2037
@KnVerey yep this is about not being able to replace the entire object graph without nulling out the emptyDir

I did not realize you can null out emptyDir and set other properties in a single patch but I'm still unsure if that's what you want.

[2021-10-01 18:17] natasha41575 commented on #3818
@monopole @KnVerey can we support this now? Is there still a 10 minute time limit?

[2021-10-01 18:23] natasha41575 commented on #3818
Never mind - we already have release for arm darwin.

[2021-10-01 18:23] #3818 closed

[2021-10-01 22:46] KnVerey commented on #2233
Done: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/configmapgenerator/#overriding-base-configmap-values

[2021-10-02 02:39] patricknelson commented on #720
Thanks for implementing this! I _sifted_ through the docs several times and I still couldn't figure out how to do this. I'm probably just hard-headed, but it doesn't seem well documented yet in the docs at [patches field](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/) nor on [PatchTransformer](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#

[2021-10-04 12:48] mcbenjemaa opened #4218 "Replace go-spew dependency as it seems be abandoned"
**Is your feature request related to a problem? Please describe.**

The go-spew is no longer maintained github.com/davecgh/go-spew
Relates to kubernetes/kubernetes#103942

**Describe the solution you'd like**
Replace github.com/davecgh/go-spew with its alternatives:
in kubernetes we are trying to migrate to https://github.com/kr/pretty

**Describe alternatives you've considered**

**Additional con

[2021-10-04 13:31] jkroepke opened #4219 "helmChartInflationGenerator: Support multiple helm values files"
**Is your feature request related to a problem? Please describe.**

I'm. using the helmChartInflationGenerator to combine multiple helm charts into one ArgoCD release

In my case, I have a ArgoCD Application, that contains:

* kube-prometheus-stack
* oauth-proxy
* Additional manifests like SealedSecrets

This the kube-prometheus-stack is a heavy value file, I would like to create a values.yaml fil

[2021-10-04 14:56] kferrone commented on #4182
I figured it didn't. I wrote normal plugin with python instead. Starlark was an interesting idea, not worried about it at all.

[2021-10-04 14:56] #4182 closed

[2021-10-04 15:49] RobinNagpal commented on #641
Did anyone find a solution to this?

[code]
used to work for me in `3.8.6` version of kustomize. But stopped working in the latest version i.e. 4.2.0

[2021-10-04 16:55] chrisprijic commented on #4201
@KnVerey Thanks for the direction.

[I reproduced the issue using go-yaml](https://play.golang.org/p/rDAQcO_csLI) and brought it up with them. Hopefully, after it is fixed, it can be updated in this repo and the krusty test passes.

[2021-10-04 18:15] natasha41575 commented on #4173
/triage needs-information
/kind support

[2021-10-04 18:47] KnVerey commented on #2037
I dug into this a bit more and I now believe the underlying problem is that the kyaml implementation of strategic merge patch does not respect the [`retainKeys` strategy](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md#retainkeys-directive) communicated in the openapi's `x-kubernetes-patch-strategy` field (confirmed to be in kustomi

[2021-10-04 19:43] natasha41575 commented on #4181
/kind support

[2021-10-04 19:48] zhouhaibing089 commented on #3626
v4.4.0 fixed this issue - https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.4.0

[2021-10-04 19:48] #3626 closed

[2021-10-04 19:55] natasha41575 commented on #4181
After some experimentation with the code you've provided (by the way, thank you very much; it made investigating this much easier), I believe that `Line` correctly represents the line of the node where it was found.

`obj.Pipe(yaml.Get(fieldName))` gives you the _value_ of the mapping node found by the key `fieldName`, so the result of the call to `obj.Pipe(yaml.Get("metadata"))` returns the node:

[2021-10-04 20:47] zhouhaibing089 commented on #3969
If I understand correctly, kustomize needs to bump kubernetes-sigs/yaml to [v1.3.0][1]?

[1]: https://github.com/kubernetes-sigs/yaml/releases/tag/v1.3.0

[2021-10-04 21:30] mengqiy commented on #2037
It seems `sigs.k8s.io/kustomize/kyaml/yaml/merge2` is the only place using SMP. It currently supports 3 directives:  replace, merge and delete. There are 3 more directives: deleteFromPrimitiveList, setElementOrder and retainKeys.
Depending on the use cases, we may need to support all of them.
Ref: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-me

[2021-10-04 21:33] aaron-prindle commented on #4181
Great that makes sense thanks, that is what I found in my usage.  Is there a way to get the linenumber of the field or a certain query that might get a node whose `Line` contains this?  We are trying to use the kyaml library for some syntax highlighting and I am trying to discern if there the correct query to get the linenumber for a field.  If you have any suggestion on how that could be done, th

[2021-10-04 21:50] seh opened #4223 "Support annotation and label selection in replacement targets"
# Description

When populating just the "replacements.targets.select.annotationSelector" field for restricting the targets of a [replacement](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/), _kustomize_ mistakenly chooses all candidate resources as targets.

# Test Case

## Input

### File _objects.yaml_
[code]

### File _kustomization.yaml_

Though my _actual_

[2021-10-04 23:38] natasha41575 commented on #4181
You can use the `RNode.Field` method, e.g.

[code]

Please let me know if this is what you were looking for.

[2021-10-04 23:46] natasha41575 commented on #4223
There is currently no logic implemented in the Replacements Transformer to support annotation or label selection (though I agree that it should). If there are no disagreements from @monopole or @KnVerey, we can add annotation and label selection as a feature request for replacements.

I certainly think it makes sense to be able to filter target resources by annotations and labels.

/kind feature
/

[2021-10-04 23:47] natasha41575 commented on #4223
/retitle Support annotation and label selection in replacement targets

[2021-10-04 23:58] seh commented on #4223
Thank you, Natasha. Viewing the current behavior again knowing now that this selection isn't implemented, the behavior makes so much more sense. I've been using an annotation selector for a couple of months, but I only had one set of eligible targets, such that I couldn't tell that _kustomize_ was being too "greedy." Today I tried to add a second set of targets with different replacement criteria,

[2021-10-05 01:12] KnVerey commented on #4223
I agree with supporting label and annotation selection for targets. I don't think this is being requested here, but for clarity, I don't think it should be supported for sources.

[2021-10-05 01:15] seh commented on #4223
Yes, to clarify, I was not expecting to be able to select sources that way.

It would help users if _kustomize_ would reject selectors that it doesn't support. That would have saved me several hours today, had I encountered either an error or warning message telling me that _kustomize_ couldn't accommodate my field values—yet.

[2021-10-05 02:25] #4103 closed

[2021-10-05 02:27] #4179 closed

[2021-10-05 05:19] leon-marcel commented on #4173
FluxCD just takes the output of kustomization and applies it. I don't know why they got the same GVKNN, shouldn't the difference between the overlays be enough to create two resources with distinct ID's? The namespace differs for each overlay so in my opinion there should not be a problem with deployment the resources, should it? If i build each kustomization separately it works just fine. If i us

[2021-10-05 07:49] alexdyas commented on #3446
Bump, this still seems to be an issue in 4.4.0. Any plans for a fix?

The Kubernetes Nginx Ingress documentation example for exposing TCP ports triggers the error:

https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/

Specifically:

[code]

Thanks

[2021-10-05 14:57] larsks opened #4224 "Regression: Resource with generateName builds with 4.1.1, fails with anything later"
## Describe the bug

We'd like to reproduce the "slack notification" example from https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks/, which involves the use of `generateName`. In the past, we've handled that by defining the resource like:

[code]

And then patching that in our `kustomization.yaml`:

[code]

This worked fine with 4.1.1, but in anything more recent `kustomize`
fails

[2021-10-05 15:38] ciis0 commented on #4179
Is there a time horizon for the next release that will include the fix?

[2021-10-05 15:42] guillaumBrisard commented on #641
Same, the workaround used to work in 3.9.1 and stopped working with the 3.9.4

[2021-10-05 17:14] natasha41575 commented on #641
/assign

[2021-10-05 19:33] larsks commented on #4224
## Additional regression 4.3.0 -> 4.4.0

Given the above manifest and a `kustomization.yaml` with a single patch, like this:

[code]

Kustomize versions 4.2.0 and 4.3.0 generate the expected output:

[code]

But kustomize 4.4.0 fails:

[code]

[2021-10-05 20:13] natasha41575 commented on #4218
If the dependency is being removed in kubernetes, I agree that we should make the same migration in kustomize.

/kind cleanup
/triage accepted

[2021-10-05 20:15] natasha41575 commented on #4218
@mcbenjemaa Are you planning to make the PR to kustomize to do the migration, or were you hoping we could take it on?

[2021-10-05 22:27] natasha41575 commented on #3944
We can certainly do that, and I think that that's a great idea. If there are conflicts, the definitions in `openapi` can take precedence over the builtin ones.

I can make a PR to do so, as well as support `Fieldspecs` in `openapi` (it is currently only supported in `crds`). I believe that will put us in a position to deprecate `crds` with minimal disruption to users.

[2021-10-05 22:28] natasha41575 commented on #3944
/assign
/triage accepted

[2021-10-06 13:28] shapirus commented on #4100
Unfortunately, 4.4.0, while being much faster on the simple test case that I described here, is still much slower than, for example, 3.5.4 on a more complex (but still not too complex, just a few resources included) setup, and is comparable to 3.9.4, for example. I still have to keep my argocd at kustomize v3.5.4.

I will create a test case that demonstrates the difference later and reopen this is

[2021-10-06 14:39] langrp opened #4225 "ConfigMapGenerator merge multiple resources at once"
## Is your feature request related to a problem? Please describe.
I'd like be able to merge `configMap` on different levels of the application structure at once. I currently use `base` and `overlays` for each environment. But in my case each environment consists of multiple clusters with different flavours of my app.
[code]
[code]
[code]
[code]
[code]
[code]

There are multiple level of configurat

[2021-10-06 19:32] natasha41575 commented on #4181
Awesome, feel free to reopen the issue or file a new one if you have any further followup questions.

[2021-10-06 19:32] #4181 closed

[2021-10-07 10:55] sarajune opened #4228 "How to load ConfigMap in Kustomize YAML file?"
My original YAML

base/deployment.yaml

[code]

base/Kustomization.yaml

[code]

From the parent folder of base:

**kustomize build base**

[code]

If you observe above, the ConfigMap is being discarded, please suggest how to fix that.

[2021-10-07 18:00] natasha41575 commented on #4228
What version of kustomize are you using? I can't reproduce the issue. This is the output I get:

[code]

[2021-10-07 22:35] natasha41575 commented on #4223
Yes, this is a very unfortunate oversight on our part, for having used an underlying object that had an `annotationSelector` field while neither implementing it nor having a check in case people tried to use it. Apologies and hopefully we won't make the same mistake again.

[2021-10-07 23:36] natasha41575 commented on #4223
https://github.com/kubernetes-sigs/kustomize/pull/4229

[2021-10-08 09:09] #3868 closed

[2021-10-08 12:55] Bolodya1997 opened #4231 "Move `api/internal/git` to `api/git`."
## Is your feature request related to a problem? Please describe.

I am implementing some code to prefetch all used images referenced from `kustomize.yaml` before processing `kubectl apply -k` - it is needed to improve tests stability. To work with remote bases I am currently using https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/repospec.go for extracting git repo spec fr

[2021-10-08 18:02] sarajune opened #4232 "No binaries available for windows"
In releases, windows download not available

[2021-10-09 00:20] #3851 closed

[2021-10-11 11:14] MadhavJivrajani commented on #3205
/remove-kind design
/kind feature
`kind/design` is migrated to `kind/feature`, see https://github.com/kubernetes/community/issues/6144 for more details

[2021-10-11 16:16] arbourd commented on #4232
dup of #4028

[2021-10-11 23:05] dan-j commented on #3414
I'd say this is something worth considering, knative is a hugely popular framework and this bug is stopping everyone from using kustomize.

Any thoughts on reopening?

[2021-10-12 07:38] mloesch opened #4233 "configMapGenerator: single quote removed from config map literal if quote is last character"
**Describe the bug**

When defining a literal value in `configMapGenerator` where the last character is a single quote, the last character is removed by `kustomize build`.

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]
The trailing single quote is missing.

**Note:** if the single quote is not the last character, it works

[2021-10-12 20:42] Goodwine opened #4234 "kyaml bytereadwriter does not wrap when specified and does not honor nowrap all the time"
**Describe the bug**

kyaml [ByteReadWriter](https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/kyaml/kio/byteio_reader.go#L24) allows setting a `WrappingAPIVersion` and `WrappingKind` which as I understand it the "Reader" uses to communicate whether the resources were wrapped and by what while the "Writer" uses then to wrap the resources if they should be.

[2021-10-13 03:28] arash-bizcover commented on #4211
@natasha41575
What if we want to add a suffix that is not in the source, for example, I have a json files that I want to create secret out of it, `appsettings.json`

I just want to create the secret with the name of deployment + suffix **so the secret name become deploymentname-appsettings**

This is what I have which I cannot add any suffix (I just want to add suffix to the secret nothing else)
[

[2021-10-13 23:34] yuwenma opened #4238 "Add vulnerability check in CloudBuild release"
We can improve the released kustomize security by enabling the cloudbuild vulnerability check See [doc](https://cloud.google.com/container-analysis/docs/ods-cloudbuild)

Add one step in cloudbuild.yaml to set SEVERITY to "high". This will stop the cloudbuild if the kustomize image has vulnerability issues in high severity.

[2021-10-13 23:42] deepakinseattle commented on #2464
@villesau did you ever figure out a solution to this? I've tried using [overlays](https://github.com/kubernetes-sigs/kustomize/issues/2464#issuecomment-686810110) and [components](https://github.com/kubernetes-sigs/kustomize/issues/2464#issuecomment-707894172) but haven't figured out how to dry up my configuration.

I'm in the same spot as you. I've got multiple cron jobs that I'd like to define a

[2021-10-14 00:44] natasha41575 commented on #4028
/unassign

If there is anyone with a windows machine that would like to dig deeper into why the windows build fails, we would greatly appreciate that.

[2021-10-14 00:44] natasha41575 commented on #4232
Closing as a duplicate. We are hoping that someone with a windows machine would be willing to look into the issue for us as we are unable to efficiently debug it with our nonwindows laptops.

[2021-10-14 00:44] #4232 closed

[2021-10-14 01:38] natasha41575 commented on #3944
Copying from one of @KnVerey in another issue (#3961):

@KnVerey If you still support it, I would like to implement this proposal rather than deprecating crds, where `crds` takes the input format of CRD schemas while `openapi` will support openapi schemas, but both will support the same underlying feature set WRT to merge keys and fieldspecs. This will help users who cannot or don't want to apply

[2021-10-14 18:32] MikaelSmith opened #4240 "Running kustomize build panics"
**Describe the bug**
Panic when building a project with an entry `namespace: `. `kubectl apply` doesn't complain about this, and it's hard to debug what causes it.

[code]

**Resources**
[code]

**Kustomize version**

[code]

on macOS.

[2021-10-14 22:16] natasha41575 commented on #4028
Agh sorry 've been meaning to add a `make build`, but here is how you build it:

From inside the [kustomize/kustomize](https://github.com/kubernetes-sigs/kustomize/tree/master/kustomize) directory, run `go install .`

[2021-10-15 00:43] natasha41575 commented on #4240
Curious, if there is an empty namespace, how does `kubectl apply` handle it? Is it treated as if it is the default namespace?

[2021-10-15 00:45] natasha41575 commented on #4240
To clarify, is the resource stream you've provided the input to kustomize or the output? If it is the output, could you please provide the input?

If it is the input, I'm curious how does kubectl apply handle an empty namespace? Is it treated the same as default namespace?

[2021-10-15 00:53] natasha41575 commented on #4233
I am able to reproduce the issue, thank you for filing it. We will look into it when we can.

/triage accepted

[2021-10-15 01:40] MikaelSmith commented on #4240
It's the input, but I was paring down from several thousand lines of code and omitted the very basic kustomization.yaml associated with it.

I haven't checked what Kubernetes does with it. There's some templating that normally puts a string there, and just didn't in this particular case. So I haven't used it this way extensively. Just ended up hard to debug.

[2021-10-15 20:44] gruberdev commented on #3842
Any update on this? It seems the tutorial still does not work.

The reason as to why it stopped working seems to be a problem with this specific endpoint: [api.kustomize.io/kustomize/patch](https://api.kustomize.io/kustomize/patch) because the [/apply](https://api.kustomize.io/kustomize/apply) endpoint, which is called upon trying to modify a manifest, successfully answers the requests.

[2021-10-15 21:07] natasha41575 commented on #3842
kustomize.io is not a domain that belongs to us. We are still working with the people who own it to get it transferred.

[2021-10-16 17:54] criztovyl opened #4244 "Local Git Repos"
I'd like to build kustomizations that refer to refs in local git repositories

[code]

from my understanding git natively supports `file://` URLs and I would also be happy with

[code]

The expected outcome would be that Kustomize accepts I passed in absolute path to a .git repository and uses the git loader for it.

The current way I am using involves (ab-)using the special handling of `_git` in

[2021-10-16 20:15] crisrat commented on #629
hate to reopen this, but I am hitting gaps in documentation regularly.
Maybe simple is not better, if not documented.

[2021-10-17 02:39] #3742 closed

[2021-10-17 11:56] m-Bilal commented on #3812
/remove-lifecycle rotten

[2021-10-18 05:34] jasonneurohr commented on #641
The workaround worked in 4.3.0 but stopped working for me in 4.4.0.

[2021-10-18 11:14] thatsmydoing commented on #4244
Just out of curiosity, why not just refer to them as a standard path instead of using a git url? Is the `ref` part important?

[2021-10-18 12:09] alexhein88 opened #4246 "configMap hashes are not applied to Reference"
Not sure if this is a bug or expected behaviour: I tried to duplicate a config map via a nameSuffix. As I did so, the hash-insertion of  existing deployments stopped working. So here is an example:

kustomization.yaml

[code]
configs/kustomization.yaml
[code]
base1/kustomization.yaml
[code]

base2/kustomization.yaml
[code]
base1/deployment.yaml and base2/deployment.yaml
[code]

**Expected output**

[2021-10-18 17:37] stoupance opened #4247 "Unable to create serviceMonitor from Helm chart with Kustomize"
**Describe the bug**

I'm trying to use `Kustomize` to inflate the [Helm chart of ingress-nginx](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx) in order to add the `serviceMonitor` and `prometheusRule` sections, for monitoring purposes. It is disabled by default in the provided `helmChart`, but it can be overrided as a [native chart values](https://github.com/kubernete

[2021-10-18 21:18] KnVerey commented on #3944
👍 I still support accepting both input formats and making the capabilities and results consistent

[2021-10-19 04:10] ringerc commented on #1251
@pkit Exactly - and `kustomize` is already a wrapper tool, it's not something you really want to need a wrapper-wrapper for...

[2021-10-19 04:49] ringerc commented on #720
The error:

[code]

could definitely use a specific hint in the case where a SM patch lacks a required `metadata.name` or `apiVersion`. Currently it's not at all clear that these are required, and it's rather confusing that a `metadata.name` is required even when it is then ignored.

Hopefully the comments here will help people, especially with exact error message cited.

[2021-10-19 19:12] natasha41575 commented on #3913
/remove-lifecycle stale

[2021-10-20 10:36] erfan-mehraban opened #4251 "Wrong type detection when using extend anchor in yaml files"
**Describe the bug**

In `build` command, If there is extend anchor in yaml file, fatal error accrues.

**Files that can reproduce the issue**

kustomization.yml

[code]

deployment.yml:

[code]

**Expected output**

successful build.

**Actual output**

[code]

**Kustomize version**

`{Version:kustomize/v4.4.0 GitCommit:63ec6bdb3d737a7c66901828c5743656c49b60e1 BuildDate:2021-09-27T16:24:12Z GoOs:

[2021-10-20 14:51] skluthe opened #4252 "Allow specifying key in secretGenerator"
**Is your feature request related to a problem? Please describe.**

I am trying to setup an [additional scrape config](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/additional-scrape-config.md) in prometheus-operator but I am restricted to one key. When generating a secret, it uses the file names as the key. I would like to combine these all into one key so I

[2021-10-20 16:39] #4247 closed, assigned to nobody

[2021-10-21 06:54] natasha41575 commented on #3749
/remove-lifecycle rotten

[2021-10-21 09:35] mbfr opened #4254 "'ambiguous' replacement of resourceNames in ClusterRole"
**Describe the bug**

I have a deployment and a generated configmap with the same name and I want to create a clusterrole to allow modifying the deployment. When I create this clusterrole, it replaces the resourceName with the hash-suffix named configmap and I can't stop it doing this.

**Files that can reproduce the issue**

kustomization.yaml

[code]

nginx.yaml

[code]

**Expected output**

[co

[2021-10-22 13:54] camilojimenezf opened #4255 "Kustomize delete fields in base config for cronjob v1"
**Describe the bug**

When apply kustomize patch with cronjob v1 some fields that are in base config are removed. This not occurs with cronjob v1beta1

**Files that can reproduce the issue**

Folder structure:

[code]

Example:

base/kustomization.yaml
[code]

base/cronjob.yaml
[code]

production/overlays/kustomization.yaml
[code]

production/overlays/cronjob.yaml
[code]

**Expected output**

[cod

[2021-10-23 23:23] Berveglieri opened #4256 "[Question] With extraArgs deprecated on kustomize version 4.1.2 how to pass --api-versions ?"
Hi,

I have the following manifest definition

`
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: grafana
    version: 6.8.2
    repo: https://grafana.github.io/helm-charts
    valuesFile: grafana-values.yaml
    releaseName: grafana
    `

   The Ingress configuration is defined to use the **apiVersion: networking.k8s.io/v1**, but this is not being respected,

[2021-10-25 01:54] #4233 closed, assigned to nobody

[2021-10-25 10:42] dimetron opened #4257 "[Question] to be deleted"

[2021-10-25 10:42] #4257 closed, assigned to nobody

[2021-10-26 19:12] MikaelSmith opened #4258 "Patching multiple resources implies wildcard name, implementation seems to be regex"
**Describe the bug**

Documentation at https://github.com/kubernetes-sigs/kustomize/blob/kustomize/v4.4.0/examples/patchMultipleObjects.md states you can provide
[code]

However as far as I can tell the feature implemented in https://github.com/kubernetes-sigs/kustomize/pull/1355 supported regexp names, which would have to be something like
[code]

Documentation is otherwise unclear about what mat

[2021-10-27 15:32] #4255 closed, assigned to nobody

[2021-10-27 16:48] #4251 closed, assigned to nobody

[2021-10-27 17:54] #4246 closed, assigned to nobody

[2021-10-28 10:15] rcomanne opened #4261 "CronJobs not being merged properly"
**Describe the bug**

When CronJob objects are patches, the result is missing a lot of the initial configuration.
Mainly, the container configuration and image reference are not updated / removed.

**Files that can reproduce the issue**

base/kustomization.yaml
[code]
base/cronjob.yaml
[code]

overlays/ota/kustomization.yaml
[code]

overlays/ota/cronjob_patch.yaml
[code]

**Expected output**

[cod

[2021-10-29 21:58] natasha41575 commented on #4024
All tasks are completed, but I am going to leaving this issue open as a tracker to remind us to remove the deprecated legacy annotations.

[2021-10-30 00:53] #2277 closed

[2021-10-31 10:18] criztovyl commented on #4261
Sounds like #4062, fixed by #4112.
You need kustomize 4.3.0+ for the embedded schema to support batch/v1. https://github.com/kubernetes-sigs/kustomize/issues/4255#issuecomment-953046894

[2021-10-31 17:08] #3959 closed

[2021-11-01 09:24] shapirus commented on #2987
@natasha41575 I am attaching a minimal set of manifests that demonstrates the performance degradation between v3.5.4 and v4.4.0. A Dockerfile that, when built, downloads the respective kustomize binaries and runs them, is included for convenience.

[kustomize-performance-test.zip](https://github.com/kubernetes-sigs/kustomize/files/7452100/kustomize-performance-test.zip)

In my case the slowdown ha

[2021-11-01 09:28] shapirus commented on #4100
@natasha41575 I have commented on that issue as well. Sounds like the discussion should be moved back here, but that's up to you.

[2021-11-01 13:16] #3681 closed

[2021-11-01 21:59] devopsguru339 opened #4263 "kustomize build error accumulating resources"
**Describe the bug**
One of the resources in kustomization.yaml is a raw JSON file hosted in gitlab. I'm able to view that raw JSON, but the kustomize command gets an error when accumulating the data, when I run the `kustomize build overlays/env` command in

Folder Structure:
[code]

**Files that can reproduce the issue**

kustomization.yaml
[code]

**Expected output**

**Actual output**
[code]

*

[2021-11-01 22:14] natasha41575 commented on #4263
Would you be able to provide a JSON file that can reproduce the error? The error message `missing Resource metadata` implies that the file in question is not a kubernetes object with an apiVersion, kind, or name. Is that the case?

[2021-11-01 22:59] natasha41575 commented on #4261
Thank you @criztovyl.

Please let us know if this is still an issue with kustomize 4.3.0+.

/triage needs-information

[2021-11-01 23:01] #4258 closed

[2021-11-01 23:13] devopsguru339 commented on #4263
You may be correct. Here is the beginning of the JSON:
[code]

[2021-11-01 23:22] natasha41575 commented on #4263
Kustomize resources are required to be [kubernetes objects](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/) - when transforming the YAML files kustomize is using the resource information stored in the `apiVersion`, `kind`, and `metadata.name` fields to keep track of each resource and transform it according to the kubernetes specification.

Is there something

[2021-11-01 23:46] devopsguru339 commented on #4263
Well the apiVersion and kind will be based off of internal tooling. The entire environment is in JSON.

[2021-11-01 23:55] natasha41575 commented on #4263
I'm not sure I understand. Are you expecting kustomize to treat a JSON file that doesn't have `apiVersion`, `kind`, or `metadata.name` as a kubernetes resource? These fields must be populated before being transformed by kustomize, or they are not kubernetes objects and kustomize won't know what to do with them.

[2021-11-02 09:48] benjamin-bergia commented on #3988
/remove-lifecycle stale

[2021-11-02 17:51] natasha41575 commented on #4090
/remove-lifecycle stale

[2021-11-02 21:17] Serializator commented on #4111
/assign @Serializator

[2021-11-03 09:01] Serializator commented on #4111
Just a status update since I assigned the issue to myself. I think to have found the problem and pushed the necessary change to my branch. I will create a pull request shortly. I only signed the CLA yesterday and I didn't know if creating a pull request right after would work.

[2021-11-04 13:50] boarder7395 commented on #2301
Update on the above:

I was actually using kfctl with kustomize when I ran into the underscore issue with environment variables. Using kubectl kustomize, or kustomize directly does not look to have this issue. So disregard the above unless you are using kfctl to build your kustomize manifests.

[2021-11-04 14:26] rdxmb commented on #902
can this be reopened please?

I wanted to create my output with

[code]

and am trying to deploy the output via

`cat build/* | ssh NODE kubectl apply -f -`

This does not work because of the missing separator

[2021-11-04 15:38] xvzf commented on #2294
/reopen
this is still occuring

[2021-11-04 19:08] yingding commented on #4130
I got the same issue with
[code]
on an Ubuntu 20.04 LTS. Do need the specific version to compile KubeFlow v1.4

[2021-11-04 20:08] #4223 closed

[2021-11-04 20:54] #3967 closed

[2021-11-05 05:56] #3640 closed

[2021-11-05 12:17] dlouzan commented on #3682
I just stumbled upon this issue myself but I'm not sure I understand the assessment that *the image format is not correct*.

As far as I can see in the docs around, even if the tag is ignored because the digest is the only thing that will be actually used on a docker pull, having the tag is valid syntax. And the tag is a good help for humans to keep track of which version corresponds to the digest

[2021-11-05 13:28] yingding opened #4268 "install_kustomize.sh returns ./kustomize_v*_linux_amd64.tar.gz: Cannot open: No such file or directory"
**Describe the bug**

I am trying to download v3.2.1 of kustomize using the script from [master brauch](https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh) on 4.Nov 2021. I wasn't able to download the script for my desired version v3.2.1.

**Files that can reproduce the issue**

Issue can be reproduced by running:
[code]

**Expected output**

Should instal

[2021-11-05 17:35] apshoemaker commented on #4212
I am currently still receiving errors on the below yaml snippet (from https://github.com/knative/eventing/releases/download/v0.26.0/eventing-core.yaml) :

[code]

The error received is:
[code]

[code]

Please advise - thanks!

[2021-11-06 10:47] Serializator commented on #4111
I created a pull request (#4266) in which a proposed a solution which I neglected to run tests on locally, which turned out to indicate that the proposed solution would introduce at least one regression.

I dove into the commit history and using bisect discovered out that this bug was introduced in a commit (bd4580d73ab007b5efeb94460317e255a4cce44a) that changed in-memory fields in the `resource.R

[2021-11-06 12:13] #3770 closed

[2021-11-07 07:13] criztovyl commented on #4268
Alternatively you could manually download the binary from GitHub Releases here:
3.2.0: https://github.com/kubernetes-sigs/kustomize/releases/tag/v3.2.0
3.2.1: https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.2.1

[2021-11-07 09:31] criztovyl commented on #4268
Seems `install_kustomize.sh` only supports v3.3.0+.

up to and including 3.2.0 (but not other 3.2.x, see below!)

[code]

for 3.2.1/.2/.3 use:

[code]

[2021-11-07 09:39] criztovyl commented on #4244
@KnVerey you self-assigned but did not update triage status, what does that mean process-wise? :)

[2021-11-07 10:22] #3536 closed

[2021-11-08 15:23] 616b2f opened #4270 "replacements entries get source and targets with null value appended"
**replacements entries get source and targets appended**

when we edit an image to an kustomization.yaml file that has replacements in it, it adds source and targets properties with null values to them:

Example:

kustomization.yaml
[code]

[code]

**Expected output**

[code]

**Actual output**
[code]

**Kustomize version**

4.4.0

**Platform**

Linux

[2021-11-08 15:45] d3vpasha commented on #2803
This feature is still expected :)

[2021-11-08 17:15] natasha41575 commented on #4270
/assign
/triage accepted

[2021-11-08 19:08] r0bj commented on #3877
/remove-lifecycle stale

[2021-11-08 20:12] natasha41575 commented on #4107
There doesn't seem to be any further interest in this feature from others, and I believe piping is a reasonable solution, so I'm closing this issue.

[2021-11-08 20:12] #4107 closed

[2021-11-08 22:26] pvlg commented on #3848
It is also impossible to specify multiple versions. Only the first version will be used.

[code]

[2021-11-09 06:44] Miles-Garnsey opened #4273 "inline SMP patch with empty group/version not matching inferred targets"
**Describe the bug**

Patches and replacements do not appear to be applied to `resources` from remote sources.

**Files that can reproduce the issue**

[code]

**Expected output**

[code]

**Actual output**

The patches or replacements are not applied. In the case of the patch, we get `Error: no matches for Id ~G_~V_ServiceAccount|~X|ksa-google-cas-issuer; failed to find unique target for patch ~G

[2021-11-09 14:02] avodaqstephan commented on #347
Just came across this post and can't believe that this is open since 2018. I wanted to drop Helm and go for kustomize but this actually is a show stopper. The idea @iameli provided is actually what I'm looking for.
Any chances that this gets some traction again?

[2021-11-09 17:04] KnVerey commented on #3873
/close

The implementation merged a while ago

[2021-11-09 17:04] #3873 closed

[2021-11-09 18:49] #4270 closed

[2021-11-09 18:52] natasha41575 commented on #4270
This has been fixed at will be available in the next release (coming out this week). Thanks for filing the issue!

[2021-11-09 20:37] #4234 closed

[2021-11-09 21:05] yuwenma opened #4274 "`nameReference` cannot update the referred resources when target resource name is changed."
**Describe the bug**

I used nameReference to refer a HorizontalPodAutoscaler to a Deployment (like the example in the [source code](https://github.com/kubernetes-sigs/kustomize/blob/d4e3b4f8324c45486a58b6063081050f69fd9636/api/internal/accumulator/namereferencetransformer.go#L99)), and then change the deployment name via namePrefix. The referred field name in the HPA does not change.

**Files tha

[2021-11-09 21:44] yuwenma opened #4275 "`kustomize build` should output resource of KRM Spec format"
**Is your feature request related to a problem? Please describe.**

kustomize proposed [the KRM function specification](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md) and it potentially can be further expanded to integrate with other KRM function specification tools (e.g. kpt).

**Describe the solution you'd like**

Add a "--format" flag

[2021-11-09 21:44] yuwenma commented on #4275
@bgrant0607

[2021-11-09 23:44] natasha41575 commented on #4075
https://github.com/kubernetes-sigs/kustomize/pull/4229 has merged which supports label and annotation selectors in targets.

As discussed above, we don't think it makes sense to support in sources, so I am closing this issue as fixed.

[2021-11-10 00:10] natasha41575 commented on #4274
Discussed offline with Yuwen, and clarified that for that name reference to be updated, there needs to be a Deployment named `expect-to-change`.

[2021-11-10 00:16] yuwenma commented on #4274
@natasha41575 +100 thanks! I'll add some examples and docs to better explain this.

[2021-11-10 04:53] bgrant0607 commented on #4275
This would facilitate passing the output to other tools that operate on ResourceList.

It looks like this was previously discussed here:
https://github.com/kubernetes-sigs/kustomize/issues/3979#issuecomment-901260180

[2021-11-10 13:57] #3674 closed

[2021-11-10 16:51] #4108 closed

[2021-11-10 18:37] Sokal21 opened #4279 "configMapGenerator should allow behavior: append"
**Describe the solution you'd like**

I'm currently configuring a monitoring tool for our kubernetes clusters. One of the features that we want to include is Heartbeat, a tool for checking services status.  I'm trying to generate a base config that each of our environment can modify a little to it's necessities.

Heartbeat is configured via a yaml file, one of those configurations is an array that

[2021-11-10 23:13] #4111 closed

[2021-11-10 23:42] KnVerey commented on #4244
In this case it means I claimed the issue to read carefully and comment during a bug scrub, then lost track of it for a bit. Sorry for the confusion. 😅

I empathize with the desire to remove dependencies from the mix, and indeed I'd say the best practice is to commit the hydrated build results themselves to git, in cases where that is an option, eliminating the entire build from the release proces

[2021-11-11 00:00] KnVerey commented on #4217
I'm glad to hear your interest in extending Kustomize! Please note that all extension mechanisms are still in alpha, and [Go plugins](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/go_plugins/) are currently slated for deprecation because of the issues described in the docs. If you move forward with this extension, I would encourage you to build it as a [container-based KRM function

[2021-11-11 00:00] #4217 closed

[2021-11-11 21:51] Serializator commented on #4164
/assign @Serializator

[2021-11-12 00:02] natasha41575 commented on #4028
Windows build is reenabled in 4.4.1.

[2021-11-12 00:02] #4028 closed

[2021-11-12 00:08] KnVerey commented on #4254
Yes, the name reference transformer has a general problem with support for generic resource references. The issue for that one is here: https://github.com/kubernetes-sigs/kustomize/issues/3418

Thank you for pointing this out. Since that substitution has been around for ~3 years, I don't think we can remove it. For consistency with that, we should leave the ConfigMap change in too.

I'm going to a

[2021-11-12 00:10] KnVerey commented on #3418
Note that the problem of generic resource reference support is not exclusive to CRDs, as some built-in types contain generic references. See https://github.com/kubernetes-sigs/kustomize/issues/4254 for an example of how this is currently causing a problem.

/retitle Support generic resource references in name reference tracking

[2021-11-12 04:24] snuggie12 opened #4286 "Add env vars to --enable-helm (or all?) flags"
**Is your feature request related to a problem? Please describe.**
We use argocd and have various applications on different versions of kustomize. Since we added 4.2.0 we're unable to properly do diffs since it doesn't know which options to download and `--enable-helm` breaks 3.x apps.

Could we get an environment variable for `--enable-helm`? The earlier versions won't do anything with it if it i

[2021-11-12 09:01] marcusbgn opened #4287 "[configMapGenerator] extra space in end of line gives "\n" instead of line breaks"
**Describe the bug**

When an extra space is at the end of the line in a reference file to a configMapGenerator it will create a single line string with "\n" instead of a multiline string.

**Files that can reproduce the issue**

kustomization.yaml
[code]
cfg.text
[code]
_*!notice an extra space at the end of line 3*_

**Expected output**

[code]
**Actual output**

[code]
**Kustomize version**
{Ve

[2021-11-12 13:56] marshall007 commented on #4080
/remove-lifecycle stale

[2021-11-12 14:21] benjamin-wright commented on #880
FWIW, I've had this problem and the best workaround I could find was to patch over the overridden namespace:

[code]

Not great if you've got a ton of resources but works in a pinch for a couple

[2021-11-12 14:39] RappC commented on #3904
@KarstenSiemer Would still be interesting to know what other solution you decided on.

[2021-11-12 15:06] mprahl opened #4288 "Add support for preinstalled/trusted exec KRM plugins for GitOps tools"
The exec plugin style allowed for the plugin to be placed in a directory outside of the Kustomize path. This allowed for GitOps based workflows that support Kustomize (e.g. ArgoCD, Red Hat Advanced Cluster Management) to have Kustomize plugins preinstalled that are trusted and supported by the administrator or GitOps tool. For Red Hat Advanced Cluster Management, an exec plugin comes preinstalled

[2021-11-12 15:59] natasha41575 commented on #4288
I believe if you just put the name of the exec file in your annotation, and put the exec file in a folder in your `$PATH` variable, kustomize can find it. @KnVerey Are we still planning to support that moving forward?

[2021-11-12 16:09] KnVerey commented on #4288
Thank you for the detailed description of your use case! This is definitely something we want to support in the KRM Functions version of exec extensions.

Re: arbitrary code execution, in the current release this is controlled by the fact that exec functions must be enabled explicitly in the Kustomize invocation, which enables the actor controlling that invocation to disable them globally. I compl

[2021-11-12 16:47] AnthonyWC opened #4289 "[Question] kustomize - disabling adding envFrom/configMapRef field"
Is there a way to stop kustomize build from adding this field to my deployment?

[code]

it only happens after i added op add with, e.g. (in patch.yaml):
[code]
with
[code]

pod would get error `Error: configmap "env" not found` and i have to comment out that section.. (i am not using ConfigMap but kubectl generic secret).  I also don't have any env file or configmap created.

Version:kustomize/v4

[2021-11-12 16:50] CandiedCode opened #4290 "Container KRM Mounts are not mounting via function parameters"
**Describe the bug**
When specifying mounts in the `config.kubernetes.io/function` container functions, the volumes are not being mounted.

**Files that can reproduce the issue**

I have a sample [repo](https://github.com/CandiedCode/kustomize-container-plugin) that I have mount info to the example transformer yaml.

[code]

I expect when this runs, if I run a docker inspect on this running contai

[2021-11-12 17:12] mprahl commented on #4288
Thanks for the detailed reply and helping me out with my use-case! I'll reply in-line.

I think this could work. I skimmed through https://github.com/kubernetes/enhancements/pull/2908 and since the PR is already merged, I'll ask my question here.

Will a custom catalog for the exec functions support a local filesystem for the plugin path rather than HTTP(S)? For disconnected environments (i.e. no

[2021-11-12 17:12] #4289 closed

[2021-11-12 17:13] AnthonyWC commented on #4289
nm found issue; had that extra field in base

[2021-11-12 17:32] KnVerey commented on #4288
I'll admit we weren't thinking about disconnected environments in the plan so far. Local filesystem is supported in the proposal, but subject to the load restrictor. That means your only option would be to symlink the binary into the Kustomization directory to make it "belong" to that Kustomization (and be able to be referenced by a relative path the load restrictor will accept).

Good context, th

[2021-11-12 18:46] mprahl commented on #4288
Thanks for your help @KnVerey! I look forward to hearing back on the next iteration.  :slightly_smiling_face:

[2021-11-13 16:20] juergenzimmermann commented on #4028
@natasha41575 Thank you! It works fine.

[2021-11-13 22:21] criztovyl commented on #4244
Thank you for the explanation, it does make sense to me.

For me the question comes up how far the same-dir-same-result goes.
For example to me it seems bases are the core violation of that rule, because they change independently of root dir (same for components), but see further below.

Alternative 1 assumes users quite familiar and comfortable with Git: It will mean you need different branches f

[2021-11-13 22:27] criztovyl commented on #4244
I understand it's not indended to be implement as suggested by me, closing :)

[2021-11-13 22:27] #4244 closed

[2021-11-14 16:19] jason-matthew opened #4291 "[Question] Can I apply `generatorOptions:` to `generators:` resources?"
I'm unsure if a question or issue is best here.  I'll assume I'm not properly reading doc and I simply need a push in the right direction.

I chose to displace a `configMapGenerator` object from `kustomization.yaml` to a standalone resource.  Unfortunately, it appears doing so means I've lost `generatorOptions` functionality.  I can supply `options` within each standalone resource but I'm unsure h

[2021-11-15 02:39] patricknelson commented on #3675
p.s. Just following up: This functionality is now finally available in Windows via [4.4.1 and later](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.4.1) thanks to #4262.

[2021-11-15 07:56] KarstenSiemer commented on #3904
@RappC sure!
We simply used a nameReference and applied to namespace.
e.g
kustomization.yaml:
[code]
configuration.yaml:
[code]

In this case you need to add the namespace object to your kustomize manifest and need a service with the exact same name as the namespace. Any pre/post-fix to the manifest will be applied to the service first and then passed to the namespace.
If you don't have a senseful

[2021-11-16 04:10] abdennour commented on #3904
from our side, we crafted a helm chart with a single template of kind Application.  The helm chart has a logic to assign namespace destination as per some Values. Whenever we want to create new ArgoCD App, we use that helm chart as wrapper.

[2021-11-16 07:49] cadiegoc commented on #3969
Does anyone know if this issue has been fixed?

[2021-11-16 13:33] jbouchery commented on #4099
Hi,

I'm actually facing the same problem. I'm using components to add (or not) an ingress resource to my base and construct my ingress paths with the namespace name and a label.

Here is an example :
* ingress.yaml
[code]

* kustomize.yaml
[code]

When i'm calling my base, with my component and that i add my namespace and labels with the kustomize CLI i get an error like :
[code]

While at the sa

[2021-11-16 13:42] narg95 opened #4292 "ConfigMaps items are generated with random order"
# Description

 `kustomize build .` produces configmap items in a random order and although it is somehow benign since it produces equivalent YAML files, it would be great if the build outputs are consistent and reproducible.

I tested it with kustomize v4.4.1