[2019-07-05 14:50] callicles opened #1314 "go install sigs.k8s.io/kustomize/v3/cmd/kustomize not working?"
I may be doing something wrong,

I am trying to build kustomize from source to use the plugins.

I did
[code]

I get
[code]

My go version:
[code]

[2019-07-05 14:59] callicles opened #1315 "Publish 3.0.0 to brew"
It looks like the latest version on brew currently is: 2.1.0
[code]

[2019-07-05 20:09] donbowman commented on #859
/remove-lifecycle rotten

the upstream code has had some improvement https://github.com/evanphx/json-patch/issues/75 so changing the dependency would help.

[2019-07-06 01:37] jbrette commented on #1251
@apyrgio  @ioandr @paveq @admiralobvious

I had a second try at the issue, it does not do everything what it does, it seems to it right: [PR](https://github.com/kubernetes-sigs/kustomize/pull/1316)

@monopole and @Liujingfang1 could for sure go in more details, but here are some things you need to understand:

The key concept is that currently, every time you put "../base" in your kustomization.ya

[2019-07-06 18:11] darwin67 commented on #1009
Maybe having `git` supported for remote bases could help?
Like how you can reference a remote terraform module with the git reference, like tags or even the sha.

[2019-07-07 10:49] alexeldeib commented on #1264
I think I'm also seeing this behavior. Identical objects with different name prefix and namespace prefix generate a collision. This is how kubebuilder scaffolds the controller-manager output. It's also useful because you can define the deployment/statefulset once for the controller, and configure multiple managers for different repos using overlays on a common base.

[code]

[2019-07-08 06:27] anarcher commented on #1219
v3.0.0 still doesn't solve this issue.

[2019-07-08 11:55] benjamin-bergia opened #1319 "PodPreset selector not updated by kustomize"
When creating prodpresets with kustomize the selector is not updated with the labels defined in commonLabels. It should work the same way that it does for services.

[2019-07-08 12:03] paveq commented on #1009
Another reason why labels should not be applied on selectors by default: defining NetworkPolicy that allows ingress to application's web pods:

[code]

Suddenly some labels get applied to podSelector from commonLabels, making it possible for any pod to communicate with eg. database that happens to have that common label (such as client id or project name in our case).

**I would flag this as poten

[2019-07-08 12:31] callicles commented on #1315
Looks like that was fixed over the weekend.

Closing

[code]

[2019-07-08 12:31] #1315 closed

[2019-07-08 13:11] cmur2 commented on #856
I think it is more than a first world problem as it really increases productivity...

[2019-07-08 13:36] willianccs commented on #1314
Try:
[code]

[2019-07-08 15:07] benjamin-bergia commented on #1009
CommonLabels not updating selectors would be really annoying. Wouldn't adding a `labels` transformer where you could specify a target (maybe reusing the syntax of jsonPatch target) solve the issue?
Like in
[code]
Or follow whatever the new syntax for multi target patches will be.

[2019-07-08 15:08] mitchnielsen commented on #16
My use case for `--strict` would be in a CI environment to fail the build if Kustomize returns any errors. Without this flag, is there a way I can accomplish this?

[2019-07-08 15:45] Liujingfang1 commented on #16
You can check the exit code of `kustomize build`. When it is non zero, you can set the CI build to fail.

[2019-07-08 18:28] orirawlings opened #1320 "kustomize -h lists test flags for 3.0.0"
[code]
Perhaps "testing" package was imported to a non-test package in the binary?

[2019-07-08 21:47] mitchnielsen commented on #16
Ah, my builds continued on even with the failure so I had assumed it was returning a 0 exit code. I see now that it's 1. Thank you!

[2019-07-09 08:18] jkubrynski commented on #318
+1 for reopening this issue. Json patch doesn't help here at all

[2019-07-09 08:20] xyhuang commented on #1219
getting same issue with v3.0.0. For my case, it doesn't matter what namespace the overlay is using, it will work only when base is using default namespace.

[2019-07-09 09:16] waldiTM opened #1322 "Job spec/template/spec/volumes/projected/sources/configMap/name missing in configmap transformer"
kustomize 433733eb0eb5d85659e220ddde94d9819792fe8b does not transform generate configMap names inside projected volumes of jobs.  The following entry is missing:

[code]

[2019-07-09 10:27] purificant commented on #856
Command completion would be a very welcome addition.

My use case is switching from using kustomize build shipped in kubectl 1.14 (`kubectl apply -k overlays/prod`) to a standalone kustomize to use the latest version (v3.0.0) (`kustomize build overlays/staging | kubectl apply -f -`). I immediately felt the lack of command completion and a google search led me here. There are of course workarounds,

[2019-07-09 12:57] tkellen commented on #1233
@lichuqiang Would this feature as described fit within the ideals of DAG/be accepted if implemented in a PR? It would be incredibly useful from my perspective to cherry pick non-secret values directly from disk into configuration.

[2019-07-09 15:33] Benjamintf1 commented on #1281
@monopole Thanks for the fix, I got back and tested it and everything looks good to me.

[2019-07-09 16:09] Liujingfang1 commented on #1322
@waldiTM Thank you for reporting the missing piece. Feel free to open a PR to add it.

[2019-07-09 17:08] #987 closed

[2019-07-09 17:12] Liujingfang1 opened #1323 "transformation for simultaneously update name and namespace"
When an object refers another object, sometimes, the reference needs both name and namespace. We have seen this pattern more than once. https://github.com/kubernetes-sigs/kustomize/pull/1321  and https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/builtin/namespacetransformer/NamespaceTransformer.go#L90

We can create a new transformer or extend current namereference transformer to upd

[2019-07-09 17:31] capyvara commented on #1219
Same, v3.0.0 still doesn't resolve the issue

[2019-07-09 17:52] capyvara commented on #1219
If I manually add the same namespace field to both base configmap and the overlay it works:

[code]

In 2.0.3 the nested namespace wasn't required.

[2019-07-09 17:53] Liujingfang1 commented on #1219
@anarcher @xyhuang @capyvara I tried this test case with 3.0.0 and it worked. Can you create your field tests?

[2019-07-09 18:09] capyvara commented on #1219
Installed from brew: `Version: {KustomizeVersion:3.0.0 GitCommit:e0bac6ad192f33d993f11206e24f6cda1d04c4ec BuildDate:2019-07-05T06:00:59+01:00 GoOs:darwin GoArch:amd64}`

To repro:

base/kustomization.yaml
[code]

overlay/kustomization.yaml
[code]

[code]

However if I remove the `behavior` field:
[code]
So it somehow founds only when no behavior field is present.

Adding the same namespace nested

[2019-07-09 18:21] Liujingfang1 commented on #1219
@capyvara Thank you. I see where the problem is. When the namespace from the base is not `default`, we see this failure.

[2019-07-09 20:50] ianmuscat commented on #1207
I also ran into the exact same issue @donbowman outlined while trying to migrate a similar SOPS Kustomize plugin away from `kvSources`.

[2019-07-09 21:22] #1219 closed

[2019-07-09 22:06] Liujingfang1 opened #1329 "edit subcommand for creating a new kustomization.yaml"
This could be used to support following use cases:
- create an overlay from a base
- create a kustomization directory from another kustomization directory
- optional: with parameters to set nameprefix, namespace, labels, annotations...

Thoughts or comments?

[2019-07-09 22:13] jbrette commented on #1323
@Liujingfang1 I'll try to address this one. The mirroring issue with ClusterRoleBinding happened in the namereference transformer where we have to use the namespace and the name to look for the replacement name See https://github.com/kubernetes-sigs/kustomize/pull/1325/commits/08ae6cb3012d8e98614747f254d6333b7f6bb8f7#diff-c9aa1ebf15951fe590c4241e95321901R142

[2019-07-10 05:49] yujunz commented on #1329
Create a patch target. Currently I rely on copy and pasting the original resource and remove the unchanged parts.

Looking for something like `kustomize edit patch g/v/k name path` with auto complete support.

[2019-07-10 06:47] yujunz commented on #1329
Another use case:

Create `kustomizeconfig.yaml` with configurable options and guide comments and include it in `kustomization.yaml`

[2019-07-10 07:32] shackit opened #1332 "Json Patch fails on v3.0.0"
[code]
Observed that a jsonPatch that works for bundled kustomize 2.0.3 and 2.1.0 fails to build with 3.0.0. The error returned is

[code]

My deployment base contains:
[code]
My overlay kustomization
[code]

My jsonPatch
[code]

[2019-07-10 11:54] yujunz commented on #1332
Try

[code]

[2019-07-10 13:00] yujunz commented on #1322
It seems not just missing this one. Is the list crafted manually?

[2019-07-10 13:32] shackit commented on #1332
Thanks so much for this - this does resolve my issue. Adding the namespace to the patch target

[2019-07-10 18:35] Liujingfang1 commented on #1322
Yes

[2019-07-10 18:38] Liujingfang1 commented on #1319
This should be related to the common label transformer [configurations](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/commonlabels.go).

[2019-07-10 18:46] Liujingfang1 commented on #1313
@callicles Are you writing a transformer on top of the `PatchJson6902Transformer`? You can import kustomize libraries when writing the transformer.

[2019-07-10 20:17] pianohacker commented on #1281
This seems to be working as of kustomize 3.0. Thanks for the fix!

[2019-07-10 22:29] bkuschel commented on #1312
You could create app1, 2 & 3 subdirectories in production & staging that have kustomization.yaml files refering to the `resources` in the top level app 1,2 & 3 directories.

To get the patches to work you probably need to create a custom transformer resource and at it as a `transformer` at the production and staging level kustomization.yaml that is referred to by the kustomization.yaml files in ap

[2019-07-10 22:32] field-cady commented on #1332
I'm getting the same bug trying to follow through the MNIST example in the [end-to-end Kubeflow Guide](https://www.kubeflow.org/docs/gke/gcp-e2e/).  How would I change that file?  Simply adding "namespace: kube-system" didn't do it :(

[2019-07-10 22:36] field-cady commented on #1332
Oops I figured it out.  The correct namespace is kubeflow, as specified in the base - now I'm on to the next bug :)

[2019-07-10 22:45] acastle commented on #817
Has there been any additional thoughts on this one? As it stands there doesn't appear to be any way of overriding defaults specified in https://github.com/kubernetes-sigs/kustomize/blob/9bff2e88839145ae0ea6e037b261af9653801974/pkg/transformers/config/defaultconfig/commonlabels.go#L24

There are many situations in which this behavior is undesirable (e.g. commonLabels are entirely incompatible with

[2019-07-11 00:12] richardmarshall commented on #1320
This looks to be due to "testing" being imported by [`pkg/plugins/envfortest.go`](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/plugins/envfortest.go#L12). Will submit a PR to fix this shortly.

[2019-07-11 00:20] bkuschel opened #1335 "Like custom plugins, support explicit resources for built-in plugins"
With custom plugins for transformers and generators, its easy to carry them along as resources (through different base layers) until they are actually processed as transformers/generators some time later. This makes it possible to transform generator resources, transform transformers etc.

For example, if the namePrefix transformer was able to be specified in this way, I could create a directory w

[2019-07-11 05:26] richardmarshall commented on #1314
To use the versioned import paths with `GOPATH` set you'll need to also explicitly enable module support with `GO111MODULE=on`.

For example:
[code]

[2019-07-11 06:41] benjamin-bergia commented on #1319
Can I change this setting on my side?

[2019-07-11 06:57] benjamin-bergia opened #1337 "apply only subsets of the built resources."
I am currently having the following workflow with structure and workflow with my kustomize project. I have a base containing all my apps and overlays for each environments (prod, staging, etc..). Each app contains a base with usually a deployment and some base settings and overlays for different variations of the app.

In my CD pipeline I run `kustomize build  myEnv | kubectl apply -f -` and every

[2019-07-11 13:39] KyleMasterson opened #1339 "Deploying resources with same basic template"
I am attempting to create a significant number of resources (CronJobs) that will all use the same basic template, but will have variants in the name of the job, the schedule, and the command to run on the container in the pod.

[code]

Ideally there would be some mechanism to maintain one template, and then have some form of a hash containing the required custom fields for each job, rather than ha

[2019-07-11 15:08] jbrette commented on #1339
@KyleMasterson I'll create a example showing how this can be achieved using autovar.

[2019-07-11 15:25] mylokin commented on #330
Supporting this kind of functionality would be really neat. I was going to implement dangling resources cleanup (that were left after prev. deployments) using `commonLabels`, but found this to be impossible because labels are propagated into selectors.

[2019-07-11 16:30] jbrette commented on #1339
@KyleMasterson   To achieve the "template" feature, you can use the kustomize strategicMergePatches which is the way kustomize has always  been used.   The "autovar" feature [PR](https://github.com/kubernetes-sigs/kustomize/pull/1217) gets you to use kustomize more like you would use helm values.yaml

Checked-in the example files [here](https://github.com/keleustes/kustomize/tree/allinone/examples

[2019-07-11 16:37] jbrette commented on #1337
@benjamin-bergia You can kind of achieve the filtering by using the -o <outputdir>.  This only requires to create the directory ahead of time otherwise is will create the <outputdir> file.

[code]

[2019-07-11 16:47] b2cbre commented on #318
@Liujingfang1 how does the JSON patch feature address setting literal variables without going through hoops like @ssboisen stated in his opening post?

[2019-07-11 18:51] petersutter commented on #976
@sttts I got (2) and (3) to work with the sample below (tested with kustomize v3.0.1).

[code]

[2019-07-11 19:07] KyleMasterson commented on #1339
@jbrette This looks like this will scratch my itch nicely, thanks for generating those examples!

[2019-07-12 07:08] benjamin-bergia commented on #1337
Hi @jbrette,
Yes it does create an output file but this file will contain all the resources generated. You then have no easy way to apply only some of these resources.

[2019-07-12 09:33] maxhomann commented on #947
This behavior is still in v3.0.1. Using the same input files, the output has line breaks:
[code]

[2019-07-12 09:58] pfyod opened #1342 "kustomize edit set image changes "bases" to "resources" inside kustomization.yaml"
As title says, running `kustomize edit set image` changes `bases` to `resources` inside kustomization.yaml

Here's the minimal example:
[code]

Expected output / kustomization.yaml content:
[code]

Actual output / kustomization.yaml content:
[code]

kustomize versions 3.0.1 & 2.1.0 are both affected

[2019-07-12 15:28] bcbrockway opened #1343 "$delete does not work unless namespace is set"
I have a base containing a deployment that I want to patch in an overlay:

[code]

In my overlay I have one patch that removes the cloud-sql-proxy container:

[code]

and one that adds some variables to the mysqld-exporter container:

[code]

This works, but if you take the namespace out of the $delete patch it finds the resource when you do a `kustomize build .` (as evidenced by the absence of a

[2019-07-12 17:30] richardmarshall commented on #1343
Can you please provide the `kustomization.yaml` that you have for the base and overlay?

[2019-07-12 18:14] richardmarshall commented on #1342
The bases field was [deprecated in v2.1.0](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v2.1.0.md#resources-expanded-bases-deprecated). The read / write cycle for the kustomization file with `kustomize edit` sub-commands will perform cleanup of deprecated fields in the same way as explicitly running `kustomize edit fix`.

Additional documentation is probably warranted to help make

[2019-07-12 18:47] Jonathan34 opened #1345 "Exception when patching resources that are not in base"
Hi,

I ran a `kustomize build k8s/overlays/development` and I got the message below.

The reason it triggers an exception is that my base kustomization.yaml has 1 resource (A)
and my development overlays defines 3 in patchesStrategicMerge.
It seems like patching a resource that is not defined in base leads to an exception.

It is completely user issue but may be kustomize could handle that case mo

[2019-07-12 18:53] jbrette commented on #1345
@Jonathan34  This is a dup of https://github.com/kubernetes-sigs/kustomize/issues/1230
Has been fixed since.

[2019-07-13 08:40] trajakovic opened #1347 "namePrefix ignores storageClassName reference in volumeClaimTemplates"
Adding a namePrefix or nameSuffix ignores `storageClassName` inside StatefulSet `spec.volumeClaimTemplates`.

## Version
```Version: {KustomizeVersion:3.0.2 GitCommit:aa2313c2825a7712b12309c1cd7798f371a0bb18 BuildDate:2019-07-12T20:43:56Z GoOs:darwin GoArch:amd64}```

## Input

`base/demo.yaml`
[code]

`kustomization.yaml`
[code]

## Result

[code]

## Expectation

`storageClassName` in `spec.volu

[2019-07-13 11:27] pfyod commented on #1342
Whoops. I got confused by the differences between kubectl's built in kustomize and standalone... What I've been trying to do is run `kustomize edit set image` and then `kubectl apply -k`. That didn't work because kubectl's kustomize does not accept directories inside resources (yet, I guess). My bad!

[2019-07-13 11:27] #1342 closed

[2019-07-13 16:30] looztra commented on #557
I'm sorry but it doesn't fix my usecase showcased at https://github.com/looztra/kustomize-multibase-multiple-match-error

[code]

[2019-07-14 02:42] yujunz commented on #1319
Yes, you can @benjamin-bergia

Added an FAQ in https://github.com/kubernetes-sigs/kustomize/pull/1349

[2019-07-14 07:30] looztra commented on #1332
That's _funny_ because with kustomize `v2.1.0`, if you specify the namespace on the patch, and the namespace isn't specified in the resource but only in the `kustomization.yml` (or if you specify a namespace in the resource that is not the same as the one in the kustomization.yml, like a place holder for instance), then you get an error

[code]

With kustomize `v3.0.0` :

- if you don't have a nam

[2019-07-14 09:04] waldiTM commented on #1322
Can't do that due to CLA problems.

[2019-07-14 16:24] looztra opened #1351 "Undocumented change in patchesJson6902 handling from v2.1.0 and v3.0.x"
## Context

This is somewhat related to #1332 (actually I extracted my comment to create a new issue in an attempt to get someone else point of view on the topics).

I have a repo showcasing the change => https://github.com/looztra/kustomize-issue--failed-to-find-unique-target-for-patch

## Usecase 1

- namespace in the _base_ resource specified to *any* value

[code]

- namespace specified in the

[2019-07-14 16:41] looztra opened #1352 "Error: Multiple matches for name / ServiceAccount"
## Structure

- `base` declares a `ServiceAccount`, no namespace is specified
- `overlays/integration` declares a `ClusterRoleBinding` refering the `ServiceAccount` in the `apps-integration` namespace
- `overlays/demo` declares a `ClusterRoleBinding` refering the `ServiceAccount` in the `apps-demo` namespace
- `overlays/both` is a composition of the two previous overlays

Git repository with test

[2019-07-15 07:52] bcbrockway commented on #1343
Hi Richard, yeah there are actually a few levels to this. There's an initial `mysqld-exporter` base - we use this as a template from which to derive distinct instances:

[code]

This gets inherited by an instance-specific overlay containing common config for all environments. This is where we set the namespace:

[code]

And finally this gets inherited by the environment-specific overlay (which is

[2019-07-15 09:13] looztra commented on #1337
Shameless plug to [kubesplit](https://github.com/looztra/kubesplit) that I coded because I had the same need :

[code]
`-o` to specify the output directory, `-p` to not use a file file resource prefix [or don't use it and you'll get ordered file list]

This will generate one file per resource, clusterwide resources  at the root, namespaced resources in a directory matching the namespace name.

[2019-07-15 12:16] jbrette commented on #1352
This seems to be fixed by this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1325)

[code]

[code]

[2019-07-15 15:57] looztra commented on #1352
I will give it a try asap, thanks!

[2019-07-15 16:44] jbrette commented on #1343
I attempted to recreate your environment here: [issue_1343](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1343)

I did not see any special issue with namespace handling, aka you have to set the name and namespaces properly in the patches for it to work.

But I found **a real issue related in the order of the patches**. If the remove-cloud-sql-proxy.yaml is loaded first

[2019-07-15 17:34] richardmarshall commented on #1343
Like Jerome I was unable to reproduce the namespace requirement problem you're hitting. What version of kustomize are you running?

[2019-07-15 21:28] moserke opened #1353 "Customizing File Name"
I have tried reading through the code and I believe the answer is no, but is there a way to modify the list of accepted filenames?  Currently 'kustomization.yaml', 'kustomization.yml' or 'Kustomization' are the only acceptable names.  Is it possible to change that?

The use case is when wrapping kustomization functionality for internal users, having a filename that makes more sense to them helps i

[2019-07-15 21:58] jbrette opened #1354 "Kustomize dropping silently members of patchesStrategicMerge list"
This has been verified with kustomize 2.0,3, 2.1.0 and 3.0.2. If a user happens to use a strategic merge patch which contains the "$patch: delete", depending on the order include of the patches, kustomize will apply or drop the patch.

[2019-07-15 22:49] jbrette commented on #1354
[code]

cat patch-add-label.yaml
[code]

cat patch-delete-container.yaml
[code]

if patch-add-label is before patch-delete-container in kustomization.yaml, kustomize ignores the "patch-delete-container.yaml" patch

[code]

[code]

if patch-add-label is after patch-delete-container in kustomization.yaml, kustomize applies both patches properly:

[code]

kustomize build .

[code]

[2019-07-15 23:03] Liujingfang1 commented on #881
The goplugin in `secretGenerator` is removed. Kustomize recommends to write generator plugin for that.

[2019-07-15 23:03] #881 closed

[2019-07-15 23:10] richardmarshall commented on #1353
The set of filenames for the kustomization file is [set in the source](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/pgmconfig/constants.go#L24) and currently can't be tweaked at runtime.

Since you're wrapping kustomize it seems like part of that logic could be mapping your internal version of the file to what kustomize expects.

[2019-07-15 23:12] jbrette commented on #1343
@richardmarshall @bcbrockway I was able to reproduce the patch: $delete issue with kustomize 2.0.3, 2.1.0 and 3.0.2. I created a [PR](https://github.com/kubernetes-sigs/kustomize/pull/1356) to track it.

For the time being ensure that your patch: $delete is first in the list. What is also important to notice, is that if your project want to use different deployment (for instance argo-rollout), als

[2019-07-16 07:46] waldiTM commented on #1322
Also missing:

[code]

[2019-07-16 10:49] nabadger commented on #348
Agree on this - would love commonLabels (even commonAnnotations perhaps) to get merged here.

There's an awful lot of duplication we have in place at the moment.

[2019-07-16 11:00] looztra commented on #1352
I checked and it works, great job, thanks!

[2019-07-16 11:18] arvan-pritchard opened #1357 "Cannot update image using digest with images kustomization"
Using kustomize Version: {KustomizeVersion:3.0.0 GitCommit:e0bac6ad192f33d993f11206e24f6cda1d04c4ec BuildDate:2019-07-03T18:21:24Z GoOs:linux GoArch:amd64}

If an image is specified using. a digest rather than a tag, the images kustomization does not update it.

with pod.yaml:
[code]

and kustomization.yaml
[code]
kustomize build outputs:
[code]

Only the tag-specified image has been updated.

[2019-07-16 13:06] sidps opened #1358 "Support for commonNodeSelectors and commonTolerations"
Similar to how commonAnnotations works, it would bee useful to be able to apply a common set of nodeSelectors and tolerations that apply to all podSpecs referenced by a kustomization.yaml.

This would allow running an entire application, defined by the kustomization.yaml, on dedicated hardware. So if I wanted to isolate production hardware from staging hardware, such a feature would enable that wi

[2019-07-16 13:27] moserke commented on #1353
yup for sure! I was just seeing if perhaps I missed an easier way.  You know don't invent the wheel if it's already there and such.  Thanks for the quick response!

[2019-07-16 13:27] #1353 closed

[2019-07-16 14:05] donbowman commented on #886
/remove-lifecycle rotten

its really a shame the only thing visiting the issues is the bot.

the quoting is really tough to get right in kustomize, navigating its buglist.

[2019-07-16 15:30] jbrette commented on #1357
@arvan-pritchard Seems to be fixed by this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1359)

Reproduced environment [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1357)

[code]

[2019-07-16 18:30] Liujingfang1 commented on #1354
This seems to be a bug in apimachinery. The two patches are merged by [strategic patch functions](https://github.com/kubernetes-sigs/kustomize/blob/0707deae95e0659246b4da0a29a72949ac24b7c2/k8sdeps/transformer/patch/conflictdetector.go#L125) from apimachinery.
One way of fixing it from kustomize side is to add some special handling for patches before calling the apimachinery strategic merge functio

[2019-07-16 18:30] Liujingfang1 commented on #1354
@jbrette Do you want to have a fix for it?

[2019-07-16 18:43] jbrette commented on #1354
@Liujingfang1 Not yet. I came up to the same conclusion. The "MergeStrategicMergePatch..." does not work as expected. I'll have either to change the conflict detector.

[2019-07-17 01:21] jbrette commented on #1295
@jinchihe This is fixed by [PR](https://github.com/kubernetes-sigs/kustomize/pull/1316).

Did reproduce your issue [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1295) using some of them minst CRDs.

@monopole The corresponding go regression test is [here](https://github.com/kubernetes-sigs/kustomize/pull/1316/files#diff-370b113fc81c0dcde25bec5c099d0573R298)

[2019-07-17 06:48] benjamin-bergia commented on #1337
@looztra Perfect!

[2019-07-17 13:00] bendiaz opened #1361 "no Go files found"
when attempting to install kustomize with this command `go get -u github.com/kubernetes-sigs/kustomize`

I'm met with this error:

`package github.com/kubernetes-sigs/kustomize: no Go files in /home/benjamindiaz/go/src/github.com/kubernetes-sigs/kustomize`

I have minikube and kubectl installed on my machine. Working out of ubuntu 18.04

[2019-07-17 15:57] jbrette commented on #1361
@bendiaz Try that instead: go get -u sigs.k8s.io/kustomize/cmd/kustomize

[2019-07-17 17:07] bendiaz commented on #1361
It unfortunately didn't work. I'm met with this error:
`package sigs.k8s.io/kustomize/cmd/kustomize: unrecognized import path "sigs.k8s.io/kustomize/cmd/kustomize" (https fetch: Get https://sigs.k8s.io/kustomize/cmd/kustomize?go-get=1: x509: certificate signed by unknown authority)
`

[2019-07-17 20:28] jpriebe commented on #1219
Just to add a note to this for other unfortunate souls who may spend hours debugging their patches...

I had a mismatch in the API version between my base file and my patch.

Base file:

[code]

(don't ask me why that apiVersion was specified -- I inherited this YAML)

Patch file:

[code]

Here's the error message I got:

[code]

Two major problems with this error message:

- it doesn't show the n

[2019-07-17 21:11] Liujingfang1 commented on #557
Released a new version 3.0.3 with the fix from #1344. @looztra Can you try with this release?

[2019-07-18 00:10] EronWright commented on #202
@Liujingfang1 please consider adding `ResourceQuota` and `LimitRange` to the list (near the top), as does Helm's ordering logic ([ref](https://github.com/helm/helm/blob/v2.14.2/pkg/tiller/kind_sorter.go#L28)).  It is important to establish the quota and limits before pods are created.

[2019-07-18 03:56] HirotoTakezoe opened #1364 "Not found browser_download"
I am trying to install kustomize in CircleCI.
I tried the following method.

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md

However, browser_download did not exist in v3.0.3.
Is there a change from v3.0.2?

[2019-07-18 04:23] richardmarshall commented on #1329
This would definitely simplify the workflow for creating new overlays. I'd be happy to submit a PR or a google doc stubbing out the CLI UX for discussion if work hasn't been started on this yet.

Would the intent with this use case be to copy an existing directory and tweak some values (namespace, nameprefix, etc) in one command? Versus having to run `cp`, `kustomize edit ...`, `kustomize edit ...

[2019-07-18 05:17] looztra commented on #557
@Liujingfang1  I will. But I think the release tag is wrong (3.0.3 instead of v3.0.3) and breaks installers like `asdf` for instance

[2019-07-18 06:22] davinkevin commented on #1364
+1

The binary hasn't been uploaded with the release, so this way of installing it crash 😓

[2019-07-18 08:39] HirotoTakezoe commented on #1364
@davinkevin
Resolved by using grep to get the corresponding first line.
When using a pipe, it will temporarily output to a file because it will reach the capacity limit.&#x1f614;
[code]

[2019-07-18 13:21] looztra commented on #1364
The release has been created with tag `3.0.3` instead of `v3.0.3` it seems

[2019-07-18 15:13] jbrette opened #1367 "Handling of namereference prefixed by namespace."
This issue is created to track what @mmb discovered in the handling of secretName transformations when used nginx.ingress related annotations (see [PR](https://github.com/kubernetes-sigs/kustomize/pull/1366)

By default kustomize does not convert the secretName reference in the annotation:
[code]
For the deployment to work, the annotation needs to look like:
[code]

Here is the output:
[code]

[2019-07-18 15:29] jbrette commented on #1367
There is a workaround using a variable (as variable where intended to be used).
The full workaround description is available here [Issue 1367](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1367)

With the following input:
[code]
[code]

[code]

The output would is:
[code]

[2019-07-18 15:40] EronWright opened #1368 "Apply resource quotas eagerly"
**Issue**
Since `ResourceQuota` and `LimitRange` are resource types related to admission control, they should be applied eagerly (e.g. before any pods are created).  Otherwise the quota might be applied inconsistently, since ([ref](https://kubernetes.io/docs/concepts/policy/resource-quotas/)):

**Suggested Fix**
Adjust the ordering logic to include `ResourceQuota` and `LimitRange` immediately afte

[2019-07-18 16:07] jbrette commented on #1367
The namereference transformation can currently deal properly with the following structure:
**simple string**, configuration that fits in the namereference config:
simplefield:
xxx: somename

**list of string**, configuration that fits in the namereference config:
yyy:
- somename
- somename

**list of map**, configuration that fits in the namereference config:
zzz:
- name: somename
  namespace: ns1

[2019-07-18 16:07] jbrette commented on #1367
We have related issues described here:
- [1323](https://github.com/kubernetes-sigs/kustomize/issues/1323)
- [1321](https://github.com/kubernetes-sigs/kustomize/pull/1321) where ClusterRoleBinding and WebHooks are hardcoded.

[2019-07-18 16:56] andreabettich commented on #1364
I fix it with a `head -n 1`

[code]

[2019-07-18 18:28] jbrette commented on #1368
@EronWright @Liujingfang1 We should potentially think about improving the pkg/commands/build/reorderoutput.go so that we can get the reverse order. If you think about is you want to be able to do "kustomize build <params> | kubectl apply -f -" but also "kustomize build <params>  | kubectl delete -f -". In the second case you need a reverse order.

[2019-07-18 18:43] Liujingfang1 commented on #1368
@jbrette Agreed. We need a reverse order for delete.

[2019-07-18 18:49] jbrette opened #1370 "JMPConflictDetector detector is unable to detect some of the conflicts."
Unlike the SMPConflictDetector, the JMPConflictDetector (used for CRDs) does not detect all the merge conflict.

If for instance the user is using a CRD which similar to an official K8s resource, some of the merges conflicts are not detected. The following example:
- 1. create a CRD which as the exact same structure as Deployment,
- 2. path the image in the first container is changed to nginx:late

[2019-07-18 19:01] Liujingfang1 commented on #1364
@looztra fixed the release for v3.0.3.

[2019-07-18 19:02] #1364 closed

[2019-07-18 21:05] richardmarshall commented on #1361
Seems like something is wrong with the CA certificates in your environment. Are you able to reach `https://sigs.k8s.io` without TLS errors by other means, browser, curl?

[2019-07-18 21:30] richardmarshall commented on #1358
We have a similar desire and are planning on writing external transformer plugins to set common nodeAffinity and tolerations for all podSpecs. nodeSelectors would be pretty trivial to include as well. If there is interest in this I can work on either opensourcing the external plugins we create and/or incorporating them as builtin transformer plugins.

[2019-07-18 21:31] looztra commented on #1352
fixed in v3.0.3

thank you!

[2019-07-18 21:31] #1352 closed

[2019-07-18 21:33] looztra commented on #557
confirmed. This fixed my use case (also referenced in #1352 )

Thank you!

[2019-07-18 21:54] richardmarshall commented on #1354
Looks like this behavior is deliberate.

https://github.com/kubernetes/apimachinery/blob/0bb8574e088758c5d6ce95255a1318672cbe4b7c/pkg/util/strategicpatch/patch.go#L907
[code]

I see 2 cases we would need to account for when it comes to patches with `$patch` directives in them.

**Directive in patch 2 but not in patch 1**

To preserve the delete swap order of patches.

**Directive in patch 1 and pa

[2019-07-19 01:06] jbrette commented on #1354
@richardmarshall Please work on it. I've got my idea on how I would fix that....but mixing the ideas will get us to the best solution.

[2019-07-19 01:58] guhcampos commented on #1342
I was about to open an issue about this exact problem. I have kustomize updating images on a gitops workflow and my resources were simply breaking up.

Whatever fixes kustomize is doing are not working: the resulting change breaks my previously working deploy, so at the very least it must not be a silent edit.

A warning with a return value different than zero, in my humble opinion, should be enou

[2019-07-19 07:46] alenkacz commented on #896
@Liujingfang1 is anyone working on this? Would you be interested in community contribution?

[2019-07-19 11:46] jskold commented on #249
This workaround breaks in kustomize 3.0.3 when using the new extended patches (i.e. invoking this patch from `patches:` rather than `patchesJson6902:`

[2019-07-19 13:49] abergmeier opened #1372 "Support permutations in Kustomize"
We have 8 permutations for a `Deployment`. Our current permutation fields are:
- scenario: [scenario1, scenario2]
- environment: [dev, prd]
- processor: [normal, fallback]
- version: [v1]

Now out of these I need to build:
[code]

Now I would not mind having 8 overlays. The problem I have with kustomize is, that apparently I cannot do:

[code]

and I cannot figure out a good way of having these pe

[2019-07-19 14:45] luisdavim opened #1373 "Error: json: cannot unmarshal string into Go struct field Kustomization.patches of type types.Patch"
This was working file with `v3.0.0`, I've updated to `v3.0.3` and I'm getting the error:
[code]

This is the kustomization file:
[code]

[2019-07-19 14:51] jbrette commented on #1373
"patches:" was obsolete. You are supposed to use "patchesStrategicMerge:" instead.

Since "patches:" is used for more extended patching.

[2019-07-19 15:06] jbrette commented on #1372
@abergmeier Could you try this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1316). We are trying to see if really bring benefits. It solves the simple cases of common imports. You you send a link to the examples you have. There is also [Issue 1292](https://github.com/kubernetes-sigs/kustomize/issues/1292) and [Issue 1251](https://github.com/kubernetes-sigs/kustomize/issues/1251) on the s

[2019-07-19 15:18] abergmeier commented on #1372
What I understand is this (please correct me if I am wrong): Kustomize was designed as a strict inheritance based system. Now for more advanced use cases you try to add composition or diamond behavior on top/side of that?

[2019-07-19 16:18] luisdavim commented on #1373
thanks, I guess that was it. I think the readme should be updated.

[2019-07-19 16:51] jbrette commented on #1372
@abergmeier kustomize by design is making a copy of the each object that it reads from the resources; field and this is essential (most of the time). Indeed when you do composition or diamond inheritance, kustomize does not see the objects has having a common ancestor or being identical and detect conflicts

Have a look at this permutation example [here](https://github.com/keleustes/kustomize/tree

[2019-07-19 17:54] jbrette commented on #1357
@arvan-pritchard The fix has been merged. Can you check and close the bug accordingly. Thanks

[2019-07-19 17:57] jbrette commented on #1343
@richardmarshall @bcbrockway We should potentially close this bug since the issue is not really related to the namespace issue and track [this one](https://github.com/kubernetes-sigs/kustomize/issues/1354)

[2019-07-19 19:08] jbrette commented on #680
@SilverXXX @benjamin-bergia The configMapGenerator overlay does not seems to work write. There is bug in the Resource.replace/merge implementation and we end up with invalid labels:

[code]

[2019-07-19 19:16] jbrette commented on #680
@ikatson @monopole @Liujingfang1 I think this another use case where the [autovar PR](https://github.com/kubernetes-sigs/kustomize/pull/1217)

We are basically able to achieve exactly what ikatson was asking without templating and by levering multiple key features of kustomize.  Have a look at the [third solution](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0680#veri

[2019-07-19 21:17] jbrette commented on #1301
@ptemmer  Seems to be fixed by this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1326).

Can you confirm that [the following tests](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1301) is valid and close the bug.

[code]

[2019-07-19 21:42] functicons commented on #1373
+1, I hit the same error. My yaml files were generated by kubebuilder, they worked with Kustomize v2, but upgrading Kustomize to v3.0.3 breaks it.

[2019-07-19 21:43] verult commented on #519
/remove-lifecycle rotten

[2019-07-19 21:45] verult commented on #896
/remove-lifecycle stale

[2019-07-19 21:52] richardmarshall commented on #1358
@sidps We actually decided today to use the new extended patch system that was merged in #1355 instead of a plugin to accomplish what we need with nodeAffinity maybe that would work for your use case as well.

[2019-07-19 22:37] jbrette commented on #1373
Interesting...Was looking at the log. patches has been deprecated last year [v1.0.9](https://github.com/kubernetes-sigs/kustomize/blob/v1.0.9/pkg/types/kustomization.go#L129).

I guess we will have to check if kubebuilder needs to be updated. Meanwhile the easiest workaround is
replaced `patches:` by `patchesStrategicMerge:`

[2019-07-20 07:51] alexeldeib commented on #1212
https://github.com/kubernetes-sigs/kustomize/pull/1374 is a blocker I assume, fwiw you can very easily patch this for version 2.1.0 or 3.0.3. e.g. https://github.com/alexeldeib/kustomize/releases/tag/v3.0.3-win which is the diff in that PR (lacking the tempfile cleanup).

[2019-07-20 07:52] alexeldeib commented on #834
/remove-lifecycle stale

[2019-07-20 19:02] srfrnk opened #1375 "Support using JSON format in addition to YAML"
It would be very beneficial and none the worse to add support for JSON resources.
Also being able to use a `kustomization.json` file would help.

[2019-07-20 21:39] richardmarshall opened #1377 "namespace transformation fails to update rolebinding subject"
Starting in v3.0.3 if a resource is included with the same namespace as the target for the namespace transformer the service account update for rolebindings will not set the namespace correctly.

For the following kustomization and resources:

[code]

[code]

Output from v3.0.2
[code]

Output from v3.0.3
[code]

In v3.0.3 the subject of the ClusterRoleBinding has a null namespace instead of the ex

[2019-07-20 23:58] #792 closed

[2019-07-21 17:08] jbrette commented on #1377
Fixed by [Update Namespace and Name simultaneously](https://github.com/kubernetes-sigs/kustomize/pull/1379)

[2019-07-21 17:09] jbrette commented on #1323
Fixed by [Update Namespace and Name simultaneously](https://github.com/kubernetes-sigs/kustomize/pull/1379)

[2019-07-22 03:43] jbrette commented on #557
@looztra @Liujingfang1 @jcassee @vreon @almariah I do believe this [PR]( https://github.com/kubernetes-sigs/kustomize/pull/1378) solve your issue.

Have a look at the following test:
- [Issue 0557](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0557)
- [Issue 0557 c](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0557_c)

The PR #1344 is work

[2019-07-22 04:33] jbrette opened #1380 "Transformation of RoleBindng and ClusterRoleBinding roleRef should use kind field"
This has been reproduced with kustomize 2.0.3, 2.10, 3.0.2 and 3.0.3

The main idea to prove the issue is to create a ClusterRole with the name "role" in on folder, a Role in another folder with the same name "role" in another folder, and check how kustomize handles name prefixes.

In this case, kustomize is looking for a ClusterRole or a Role with  name "role"  in order to replace the name field

[2019-07-22 04:46] jbrette commented on #1380
[code]

## Preparation

[code]

### Preparation Step KustomizationFile0

[code]

### Preparation Step KustomizationFile1

[code]

### Preparation Step KustomizationFile2

[code]

### Preparation Step Resource0

[code]

### Preparation Step Resource1

[code]

### Preparation Step Resource2

[code]

## Execution

[code]
The cluster role binding is right
[code]

But the RoleBinding is wrong

[code]

[2019-07-22 04:59] jbrette commented on #1380
It seems that [Name Prefix and Suffix Transformation for multi level level kustomize context](https://github.com/kubernetes-sigs/kustomize/pull/1378) is preventing the issue from happening.

[2019-07-22 05:24] jbrette opened #1381 "Need to improve namereference conflict detection"
This was reproduce with kustomize 2.0.3, 2.10, 3.0.2 and 3.0.3

The idea is to force namereference algorithm to run. Create three folder each with a cluster wide resource with the same name "orgname". In each context, add a name prefix
[code]

The resourceName is containing "orgname". kustomize does not use the "resources" field to deconflict.

[code]

Kustomize does not detect any conflict where

[2019-07-22 05:50] looztra commented on #557
I confirm that V3.0.3 fixed the problem in my use case

Le lun. 22 juil. 2019 à 05:43, Jerome Brette <notifications@github.com> a
écrit :

[2019-07-22 05:54] jbrette commented on #1381
[To Reproduce the issue](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1381)

[code]

### Preparation Step KustomizationFile0

[code]

### Preparation Step KustomizationFile1

[code]

### Preparation Step KustomizationFile2

[code]

### Preparation Step KustomizationFile3

[code]

### Preparation Step KustomizeConfig0

[code]

### Preparation Step KustomizeConfig1

[co

[2019-07-22 09:25] arvan-pritchard commented on #1357
Working in v3.0.3

[code]

[2019-07-22 09:25] #1357 closed

[2019-07-22 13:57] jbrette commented on #1264
@donbowman Looks like 3.0.3 is fixing your bug. Can you confirm and close it.

[code]
``yaml
Error: string case - multiple matches for ~G_v1_ServiceAccount|istio-system|prometheus:
  [~G_v1_ServiceAccount|istio-system|prometheus
 ~G_v1_ServiceAccount|prometheus|prometheus
]

[code]

[code]

[2019-07-22 14:49] valer-cara commented on #662
@sethpollack, @jcassee is right - adding a generator to the base, using the same name and merging from higher-level layers works, even if `namePrefix` is provided.

[code]

[2019-07-22 14:51] jbrette commented on #1044
@tbarrella Can you confirm 3.0.3 is fixing th issue.

[code]

[code]

[2019-07-22 14:58] donbowman commented on #1264
confirmed.

[2019-07-22 14:58] #1264 closed

[2019-07-22 15:43] #557 closed

[2019-07-22 16:49] jbrette commented on #1354
@richardmarshall  Will close the issue once [PR](https://github.com/kubernetes-sigs/kustomize/pull/1383) is merged

/cc @monopole @Liujingfang1

[2019-07-22 17:35] jbrette commented on #710
@bgauduch Can you check that it is fixed by this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1378)

Reproduce your environment here [Issue 710](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0710)

[code]

[code]

[2019-07-22 18:05] akutz commented on #142
I also did some work on this [here](https://github.com/akutz/cluster-api-provider-vsphere/blob/feature/go-manifests/cmd/manifests/pkg/kustomize/kustomize.go). It eschews the need for the external `kustomize` command, and even supports virtual patches.

[2019-07-22 18:24] jbrette commented on #662
@sethpollack @Liujingfang1 [PR 1378](
https://github.com/kubernetes-sigs/kustomize/pull/1378) is solving the issue

Reproduce the [environment here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0662_b)

When issuing 3.0.3
[code]

[code]

When using 3.0.3 + PR1378
[code]

[code]

[2019-07-22 18:34] jbrette commented on #662
@valer-cara I think that [PR](https://github.com/kubernetes-sigs/kustomize/pull/1378). If we use your example, without the PR the configMapRef is wrong and does not contain the hash. With the PR the configMapRef is correct.

[code]

[code]

[code]
[code]

[2019-07-22 21:40] renannprado commented on #388
@JCMais having to use `envsubst` kind of defeats the purpose of using `kustomize` doesn't it?

@Liujingfang1 while I do understand about the part of having "all config in the repository" idea, I believe that there are situations where this doesn't suffice.

To give you an example, we have multiple GCP projects that we manage for different environments and products. Due to the fact that some applic

[2019-07-22 23:14] verult opened #1384 "$patch: delete on an object results in object name being retained"
Kustomize 2.1.0

kustomization.yaml
[code]

base.yaml
[code]

patch.yaml
[code]
result:
[code]

expected:
[code]

[2019-07-22 23:48] richardmarshall commented on #1384
Deleting entire objects has never been a fully supported feature (see #106 and [eschewed features](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md)).

[2019-07-22 23:57] jbrette commented on #1373
@functicons Created a PR in [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder/pull/876)

[2019-07-23 00:55] tbarrella commented on #1044
Yes, this looks fixed in 3.0.3, nice/thank you!

[2019-07-23 01:26] JCMais commented on #388
It does not, at least not for my case, the envs remain in the kustomize files until the final Kubernetes manifest is built, and then I use envsubst on it.

This way I can have common configuration files for multiple services

[2019-07-23 03:24] #1375 closed

[2019-07-23 07:57] krishnadurai opened #1385 "Multiline values in kustomize environment source file"
I'm trying to set multiline values (contents of a ca certificate file) to kustomize environment file for a particular key as displayed in the code below.
Is there a way to achieve this?

Note: Adding quotes to the value in some_params.env isn't working.

kustomize.yaml
[code]

some_params.yaml
[code]

some_params.env
[code]

Running the following command:
`kustomize build base`

Returns:
`Error: N

[2019-07-23 12:20] yujunz commented on #1385
Why not using `files` for content of file?

[2019-07-23 16:56] #1044 closed

[2019-07-23 17:53] jammerful commented on #922
@Liujingfang1 I would like to use kustomize for istio resources, this is blocking me from using kustomize. Are there any plans to do this work soon?

[2019-07-23 17:57] verult commented on #1384
Thanks for pointing this out, will close this issue then

/close

[2019-07-23 18:08] Liujingfang1 opened #1386 "support gcp cloud source repository"
The cloud source repository url:
https://source.cloud.google.com/project/repo

[code]

[2019-07-23 18:54] verult commented on #1384
Note this behavior is causing the fix for #768 to not work as expected - since the entry is non-empty, the namespace is still added to the object

[2019-07-23 20:16] Liujingfang1 commented on #922
@jammerful Not yet, don't have cycle to work on this. Anyone who wants to help is appreciated. The work to do is to understand istio and knative CRDs and list the field path for name references(I believe this is the majority of work).

[2019-07-23 22:47] tkellen commented on #1233
Closing as resolved by https://github.com/kubernetes-sigs/kustomize/pull/1316#issuecomment-514326672. Will re-open once more in a more focused fashion as I still believe the original approach I posed is worth considering for implementation.

[2019-07-23 22:47] #1233 closed

[2019-07-23 22:52] tkellen opened #1387 "support reading values from version-controlled files in json patch definitions"
@Liujingfang1 / @monopole would you consider a PR that introduces support for reading external files for values in json patch operations? If yes, I'd be happy to submit an implementation and associated tests.

Here is an example usage:
[code]

*A version of this feature was originally discussed here: https://github.com/kubernetes-sigs/kustomize/issues/1233*

[2019-07-23 23:15] Liujingfang1 commented on #1387
@tkellen what you propose need to change the upstream kubernetes APIs, which is not feasible only for support this use case.
What you can do by Kustomize is to create a ConfigMap for that file and use configmap ref in env.

[2019-07-23 23:53] tkellen commented on #1387
Roger that. Thanks!

[2019-07-23 23:53] #1387 closed

[2019-07-24 00:05] anthonyho007 commented on #1235
Hi! Can I pickup this issue ?

[2019-07-24 03:30] jstralko opened #1390 "secretName in azureFile doesn't expand vars"
For example, the following example doesn't seem to expand the vars for secretName:
[code]
STORAGE_SECRET is never transformed.  I even get a warning saying: `well-defined vars that were never replaced: STORAGE_SECRET` Is this something that isn't supported?  Since I'm using namePrefix I need to get storage name via this way.

[2019-07-24 04:18] maxsmythe opened #1391 "Documentation and Behavior Inconsistent for Bases"
Using kustomize v3.0.3 I tried to follow the same directory structure as the "hello world" example, but it was failing with:

[code]

The following reformat appears to have fixed the error:

https://github.com/open-policy-agent/gatekeeper/pull/190/commits/d9c0bd39695e97451f1843042ca07bed94b2074d

Note the relocation of the `overlays` directory.

I fixed the patchesStrategicMerge issue prior to the

[2019-07-24 05:10] srfrnk opened #1393 "JSON kustomization files are not supported"
You can't use a `kustomization.json` file.
Other resources already support JSON.

[2019-07-24 05:10] srfrnk commented on #1393
Handled by https://github.com/kubernetes-sigs/kustomize/pull/1392

[2019-07-24 09:21] benjamin-bergia opened #1395 "Kustomize edit modify indentation of the whole file"
Just noticed that in our CI pipeline.
For some reason when running `kustomize edit set image xxx:yyy` the whole kustomization.yml get re-indented. It fails passing our linter checks but also messes up the diff of the following commit.

By the way, it would be also nice to be able to specify the directory to use in `edit`, the same way that it is done for `build`.

[2019-07-24 11:59] krishnadurai commented on #1385
@yujunz thanks for pointing this feature. I'm closing this issue.

[2019-07-24 11:59] #1385 closed

[2019-07-24 13:30] bgauduch commented on #710
Hello @jbrette !

Awesome work on the exemple for testing 👍 It makes it way easier to dive back in after a few month 😅

I just had to make some updates to make it work on my machine:
* replace `resources:` by `bases:` for the overlays to work;
* merge the expected result in one file, as my current kustomize CLI version only produce a single build file with all yaml inside.

I've just tested on my

[2019-07-24 16:55] Liujingfang1 commented on #1235
@anthonyho007 Sure, feel free to create a PR for it.

[2019-07-24 18:30] jammerful commented on #922
@Liujingfang1 If you send me an example to follow I can help on this, I'm new to kustomize.

[2019-07-24 19:22] jbrette commented on #1390
@jstralko Your are missing a kustomizeconfig.yaml

We attempted to reproduce your [issue here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1390/manual)

The output will look like that:
[code]

[code]

kustomizeconfig.yaml:

[code]

kustomization.yaml

[code]

[2019-07-24 19:51] Liujingfang1 commented on #1384
Since `$patch: delete` is supported by Strategic Merge Patch. We should support it consistently.

[2019-07-24 20:30] jbrette commented on #1298
The following PR has been [merged](https://github.com/kubernetes-sigs/kustomize/pull/1371)

[2019-07-24 20:30] #1298 closed

[2019-07-24 20:32] jbrette commented on #1377
@richardmarshall The #1379 has been merged. Can you check it and close the bug.

[2019-07-24 20:34] jbrette commented on #1323
@Liujingfang1 The PR #1379 has been merged. We should close the bug

[2019-07-24 21:04] #1323 closed

[2019-07-24 21:31] jstralko commented on #1390
Thank you so much! That was the missing piece.  I appreciate the quick response.

[2019-07-24 21:31] #1390 closed

[2019-07-25 03:53] stevegore commented on #1391
If I'm not mistaken, you've circumvented the error by replacing `bases` with `resources` - is that right? You've got `resources` referencing the `config` directory just like you would if it were base (it contains a `kustomization.yaml` file). I was under the impression that `resources` had to be under or below the `kustomization.yaml` file so the fact that it works is surprising.

I'm getting the

[2019-07-25 06:04] maxsmythe commented on #1391
Renaming `bases` to `resources` didn't help. The only thing that helped was the rearranging of the directory structure.

`bases` was deprecated in favor of listing everything in `resources`

[2019-07-25 07:21] abergmeier commented on #1372
@jbrette Due to immaturity of kustomize for this scenario, we decided to go with Terraform and Operators. We might use kustomize in the limited scope, where CRs are concerned (since they are not yet supported by Terraform).

[2019-07-25 07:21] #1372 closed

[2019-07-25 10:51] benjamin-bergia commented on #1361
Got the same initial error when trying to use the command from [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#install-from-the-head-of-master-branch).
Would it be possible to update the doc to use @jbrette solution?

[2019-07-25 11:27] benjamin-bergia opened #1399 "Not able to change replicas count of nested overlays"
I have a repository with nested overlays. I noticed that in the kustomization.yml file of my top-level overlay, I cannot update the replicas count of my resources using the `replicas` field. I thought that it might be related to the fact that my nested overlays also have a `replicas` field in their kustomization, but it is not. Here is a short example. Using a structure like

[code]
In *A* I would

[2019-07-25 14:16] ydewit commented on #306
I am also struggling to understand how to use `$patch` or even whether this is supported (I can't get it to work).

I want to use strategic merge to add a new path to an existing ingress:
[code]
This just doesn't work and `$patch` bleeds trough to the final YAML.

So is this supposed to work? How?

[2019-07-25 17:34] richardmarshall commented on #1377
@jbrette Looks good, closing.

[2019-07-25 18:29] Liujingfang1 commented on #1399
@damienr74 Can you take a look at this?

[2019-07-25 18:32] jannickfahlbusch commented on #1377
It seems like #1379 (f649b626295151afe6925ef530d95764195512f0 to be precise) broke our setup with replacing the namespace. We are using kubebuilder and kustomize on top of it.

Here is a simplified example which reproduces the issue:

`default/kustomization.yaml`:
[code]

`manager/kustomization.yaml`:
[code]

`manager/clusterRoleBinding.yaml`:
[code]

After running `kustomize build` we get the fol

[2019-07-25 18:41] Liujingfang1 commented on #1377
@jannickfahlbusch Thank you for reporting the issue. This is a new bug. The namespace transformation on `default` ServiceAccount was hard coded previously. This change removed it. We should fix that. @jbrette Can you take a a look? If solving it in the namereference is not feasible, we can reuse the previous logic.

[2019-07-25 18:50] jannickfahlbusch commented on #1377
Interesting, I just tried to change the name of the ServiceAccount to a value different than `default`. It's not working in the last versions if the name is not `default` (Tried all `v3.0.x` versions and `v2.1.0`)

[2019-07-25 19:14] mengqiy commented on #1384
Is it a good pattern using SMP to delete object in kustomize?
IIUC kustomize suggests additive patches.
If users don't need an object, it should not be generated in the first place.
It should be skipped by
[code]

[2019-07-25 19:21] mengqiy commented on #1384
Chatted with @Liujingfang1 offline a bit, it seems using patch to delete resources has been used by quite some users already. So supporting this doesn't make things worse.

[2019-07-25 19:24] #1384 closed

[2019-07-25 21:35] damienr74 commented on #1399
Sure!

@benjamin-bergia I don't really have a clear description of what you're trying to do with just a directory structure and potential imports. It would help immensely if you could:
- make a copy of the directory structure `mkdir minimal && cp -r env/* minimal/`.
- remove anything that isn't relevant to this issue (or that you don't want on public github).
- paste the output of `tail -n+1 $(fin

[2019-07-26 01:20] donbowman opened #1401 "Error: json: cannot unmarshal number into Go struct field ConfigMapArgs.files of type string"
If we do the below:
[code]
we see that the `38915415.0` file causes an error `Error: json: cannot unmarshal number into Go struct field ConfigMapArgs.files of type string`. The `0a3654cf.0` one does not cause an error.

If i put quotes around the filename, i end up with quotes in the name in yaml:
[code]

why is it interpreting this file name as a number?

[2019-07-26 03:51] stevegore commented on #1391
Thanks @maxsmythe for the pointer regarding `bases` being deprecated.

Confirming my issue was resolved when I moved everything to a more flat directory structure.

[2019-07-26 09:17] benjamin-bergia commented on #1399
Hi @damienr74
I created a simple env from scratch to illustrate the issue.

The base deployment contains `replicas: 1`.
I would like to have 2 web and 4 worker in prod. So if you run `kustomize build env/overlays/prod` I would expect this to be the case, but it doesn't work.
In an other hand `kustomize build env/overlays/qa` works but doesn't let you change the replicas count of web and worker ind

[2019-07-26 16:45] damienr74 commented on #1399
Thanks for this complete example! :)

So patching does work, it appears the problem is with [this line](https://github.com/kubernetes-sigs/kustomize/blob/e646bba1ff4acafe820c5befee33f824a7a5fb47/plugin/builtin/replicacounttransformer/ReplicaCountTransformer.go#L39). Since it's using `GetByOriginalId`, it was only matching the original name of the resource. (Should be using `GetById`)

Will create

[2019-07-26 20:15] #824 closed

[2019-07-26 20:38] Liujingfang1 commented on #710
@bgauduch Just release a version 3.1.0, can you try it?

[2019-07-26 20:51] Liujingfang1 commented on #1377
@jannickfahlbusch   This is fixed in 3.1.0.

[2019-07-26 20:51] #1377 closed

[2019-07-26 22:41] karlmutch opened #1404 "Failed to find target with or without namespaces being specified 3.1.0"
When using nested directories Deployments cannot be resolved by kustomize.  This occurs with or without namespaces being specified and also when using both json and strategic merge patch types.

This appears to differ from other reported cases as the namespaces do not seem to influence the problem.

Given the following, when using the following command in the root directory and error occurs.

<pre

[2019-07-27 04:44] jbrette commented on #1404
@karlmutch Just adjust your green kustomization.yaml to include esp-green resource and it works fine as shown bellow. This environment to reproduce your issue is available [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1404).

[code]

[code]

[code]

[2019-07-27 05:49] karlmutch commented on #1404
Thanks for the really complete answer, this however leaves me with a dilemma for a more complex situation. This example has a blue and a green deployment at the same level.
<pre>
.
├── kustomization.yaml
└── test-kus
    ├── base
    │   ├── deployment.yaml
    │   └── kustomization.yaml
    └── overlays
        ├── kustomization.yaml
        └── production
            ├── blue
            │   ├──

[2019-07-27 05:58] karlmutch commented on #1404
Am I simply duplicating https://github.com/kubernetes-sigs/kustomize/pull/1316 ?

[2019-07-27 06:55] jbrette commented on #1404
@karlmutch You are not duplicated #1316 is a very interesting use case where we are trying to compose service a lot like you would use git to merge and cherry pick patches. We have a beginning of solution of it.

For your more simple use case, I think it works: [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1404)

[code]

[code]

[2019-07-27 14:11] srfrnk opened #1406 "Impossible to use values from external sources"
Many CI/CD systems inject required values via environment.
Currently `kustomize edit` allows only a limited set of changes to be injected from environment.
My use case involves a version timestamp generated by the build script.
I need to inject this timestamp both as the image tag and a `version` label to some K8S objects.
With current implementation I am forced to use `sed` or `envsubst` which ma

[2019-07-27 14:33] #814 closed

[2019-07-27 18:00] srfrnk commented on #682
The fix looks like it handles only top level objects.
Using the following to replace the original `deployment.yaml`:
[code]

You get:
[code]

**Note the `$(NAMESPACE)` not replaced correctly**

[2019-07-27 20:23] karlmutch commented on #1404
@jbrette Thanks for this example, helped to get me understanding things.

[2019-07-27 20:23] #1404 closed

[2019-07-28 11:51] matti opened #1408 "simpler kustomize version"
currently
[code]

desired
[code]

[2019-07-28 15:55] Raqbit commented on #1023
/remove-lifecycle stale.

[2019-07-28 19:11] jshearer commented on #119
This seems like a fundamental flaw. While I understand the spirit of the decision, the reality is that it unnecessarily complicates writing kustomize files becuase not only do I have to learn a new file syntax, I also have to learn a new CLI just to include new files/folders?

The concept of tool fatigue is real -- the k8s operation space is already crowded as it is, don't make people learn _extra

[2019-07-28 21:39] tkellen commented on #119
This is not a fundamental flaw. It's a design choice consistent with the ideology of the tool. The reasoning is thoroughly documented in the repo.

I wanted this when I started using kustomize too. But, after a year of daily use I've come to the conclusion this isn't a real problem. If one can't stand the practically effortless task of typing a few filenames, chances are strong one is the kind of

[2019-07-28 21:47] jshearer commented on #119
I guess I don't really see this as an issue, since I only ever run `kustomize build` in CI as part of an automated build process based on a git repo, so I already have to explicitly decide that I want every file in the repo, and while I can understand that some users might not use this repeatable workflow, it seems kind of sad that people in my situation should have to do extra work to work around

[2019-07-29 08:02] benjamin-bergia commented on #1399
Hi @damienr74, It's true that with the new patch syntax it is pretty easy.
Anyway thank you for the help.

[2019-07-29 08:25] benjamin-bergia opened #1409 "Unexpected name globbing in multi-target patch"
Hi,

I have been testing the new `patches` syntax for patching multiple targets and I have found the following oddity.
When defining a target as:
[code]
It will match all deployments starting by `myapp-` but also deployments starting by anything else and containing `myapp-*` such as `x-myapp-a`. I was expecting it to behave like the regex `^mymapp-*`.

I don't know if it's a misunderstanding on my

[2019-07-29 09:03] Timoses commented on #815
This feels very odd and strange.
Why is `crds` even needed then? Shouldn't the kubernetes CRD definition suffice?

[2019-07-29 14:11] benjamin-bergia commented on #710
@Liujingfang1 I just tested on 3.1.0 and I have the same issue.

[2019-07-29 15:53] Devin-Holland opened #1410 "Kustomize V3+ Reference remote kustomization feature removed?"
In version 2.0.3 before the deprecation of bases you could reference a remote kustomization file like so:

[code]
This would pull in the kustomization from that repository and all of the things referenced by that kustomization. Now that I'm moving the line into the `resources` section it tries to look at my local path instead of a remote repository. Is it intended that you can no longer reference

[2019-07-29 15:57] Liujingfang1 commented on #1410
@Devin-Holland The remote target can be listed under `resources` as well. It this doesn't work, it's a bug.

[2019-07-29 16:02] Devin-Holland commented on #1410
With this kustomization setup:
[code]

@Liujingfang1 It produces this error for me (v3.0.3):

[code]
Running using version 2.0.3 with that in the bases (as in the comment above) it will output the result of the kustomization from the remote target as expected.

[2019-07-29 17:18] bd commented on #903
I too am looking for a way to run the "same" job once per deployment application.

[2019-07-29 19:50] vsimon commented on #964
I just hit this same issue. I had originally tried defining a var and referencing it in the annotation but quickly noticed this did not work. For example:

in kustomization.yaml
[code]

in service.yaml
[code]

I'll try the way @jbrette suggested, but I suspect others will attempt the "obvious" way first and fail.

[2019-07-29 19:54] #1399 closed

[2019-07-29 21:41] Liujingfang1 commented on #720
All the tasks are done except detecting conflict. We'll address it separately if needed.

[2019-07-29 21:41] #720 closed

[2019-07-29 21:42] Liujingfang1 commented on #1157
This is the PR for the inline patch support https://github.com/kubernetes-sigs/kustomize/pull/1405. Will be included in next release.

[2019-07-29 21:42] #1157 closed

[2019-07-29 21:52] prydonius commented on #1157
awesome thanks @Liujingfang1!!

[2019-07-29 23:30] adrienbrault commented on #720
@Liujingfang1 Started trying out those features last week with the latest release, it's working great so far! Thank you!

[2019-07-30 00:06] richardmarshall commented on #1409
Ran into this as well and I agree that the current behavior is unintuitive. In addition to what you noticed, simply using `myapp` will match any object containing `myapp` such as `myapp-a`, `x-myapp`, `x-myapp-a`, as well as just `myapp`. Had to explicitly anchor the expression (`^myapp$`) in the target selector to get the results I expected.

The same issue exists for the `namespace` field of the

[2019-07-30 01:18] jbrette commented on #710
@benjamin-bergia Please provide more details and indicate what is different in your environment. According to the test we created to reproduce [your issue](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0710), the bug is fixed

@Liujingfang1 I think we should close the issue.

[code]
pwd
~/src/sigs.k8s.io/kustomize/examples/issues/issue_0710
[code]

[code]

[2019-07-30 04:31] akhy commented on #766
cannot share patches anymore 😢

[2019-07-30 19:15] bd opened #1415 "Support for arbitrary nameGenerators on single/arbitrary collections of resource types and paths"
It is possible that what I want is already supported, but after extensive inspection of the documentation I'm still don't know how to achieve my goal.

In particular, I want to create a new Job with every `kubectl apply -k mydir/` based on the Job resource I have defined via the yaml file. As currently configured, this works the first time I apply the build, but since the Job is created with the s

[2019-07-30 19:24] keithkml commented on #720
I'm excited that this feature has been implemented, but it's not clear to me how to use it. I get an error message when trying to apply a patch to multiple deployments:

[code]

*kustomization.yaml*
[code]

*ready.yaml*
[code]

*deployment.yaml*
[code]

[2019-07-30 19:42] paulorsjr commented on #720
@Liujingfang1 Just tested this feature in a project that was halted waiting for it, it worked wonderfully! Thanks to you and all involved! Saved me a lot of redundant projects just to change some environment values!

[2019-07-30 23:13] Liujingfang1 commented on #720
@keithkml You need to have `apiVersion` and `metadata.name` in the patch file. Otherwise, it can't be loaded as a strategic merge patch.

[2019-07-31 02:14] displague commented on #1415
Do https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#nameprefix and https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#namesuffix provide the functionality you are looking for?

[2019-07-31 08:05] benjamin-bergia commented on #710
I noticed that in my case, I have an overlay that is nested on level deeper.

[2019-07-31 10:36] SilverXXX opened #1418 "configMapGenerator overwrite defaultMode"
Found something strange while using kustomize to deploy filebeat daemonset using kubectl 1.14; It seems like defaultMode for a config is being overwritten.
Input:
[code]
Output:
[code]

Is this normal behavior? Can it be controlled?
I didn't find anything in docs.

[2019-07-31 14:21] bcbrockway commented on #414
This would be really useful to us. Currently every clone of every remote repo takes around 11-12 seconds. Multiply that by as many as you reference and you can easily end up with rendering times of > 1m. I'd love to see either a cache or some kind of optimisation of the git clone.

[2019-07-31 14:38] aaugustin commented on #1310
Here's my workaround to downgrade kustomize on macOS with homebrew:

[code]

Take a look at https://github.com/Homebrew/brew/issues/5108 before doing a `brew edit`...

[code]

I assume I'm missing parts of the bigger picture. However, from the perspective of an unsophisticated user, it would have been best to wait until major consumers (e.g. `kubectl apply -k`) were ready before making a backwards

[2019-07-31 15:03] richardmarshall commented on #1410
I don't have a repo on azure to test with but the difference in behavior between v2.1.0 and v3.0.0 can be explained by this commit, cc8203032cc12d3a6df21f5d2c51ed3812a39c01, which changed how git urls that contain `_git` are handled. With that change the `git::` prefix is not removed causing the git fetch to fail before getting to an auth attempt.

[2019-07-31 15:18] mhubig opened #1420 "Example on how to create a docker-registry secret"
There is a kubectl command to create a docker-registry secret object which can be used to pull images from private registrys.

[code]

It would be very nice and helpfull if there were some kind of documentation on how to generate the same secret object with kustomize! Something like this:

[code]

The `<Encoded Secret>` seems to be the base64 encoded string:

[code]

The `<Secret>` seems to be the

[2019-07-31 18:30] richardmarshall commented on #1418
This is just a number base change happening between the Unmarshal and Marshaling of the object. The input representation is octal and the output representation is base-10 but the value is the same.

[2019-08-01 00:04] richardmarshall opened #1421 "Generating builtin plugins requires GOPATH"
Currently the `generateBuiltins.sh` script and the `pluginator` generator depend on GOPATH being set.

Since the project has moved to using go modules it would be nice to not have any direct dependencies on GOPATH being set in the build process.

[2019-08-01 06:35] no2a opened #1422 "v3.1.0 does not accept null patches"
Previous versions handle `patches: null` as if it were `patches: []`, but v3.1.0 failes. It is inconsistent that null is still allowed in other places such as resources.

To reproduce:

* kustomization.yaml with null patches
[code]

* build it with v3.1.0 results in an error
[code]

No error with v3.0.3 and v2.1.0
[code]
[code]

[2019-08-01 15:01] apyrgio commented on #1292
Minor bump for this issue. Is someone working on @monopole's suggestion? I'm asking because I see that there's a related PR of @jbrette that is currently blocked, citing this issue as an alternative.

In the meantime, there was another request by a different user for roughly the same functionality (#1372). Since this is a recurring request, I think it would help if we initially decide on what appr

[2019-08-01 16:02] zhouhaibing089 commented on #1009
Ah, since `commonLabels` directive adds labels to `spec.selector.matchLabels`, I have to add another patch to remove it.

[code]

And in kustomization.yaml

[code]

Honestly, I don't like the behavior to apply common labels to `spec.selector` at all, it makes the adoption harder(manage an existing deployment via kustomize) since those fields are immutable which is very annoying.

[2019-08-01 19:14] SleepyBrett opened #1424 "Feature Request: Add `kustomize --version` and `kubectl kustomize --version`"
I just spent way to long trying to figure out why the examples in your repo don't work with `kubectl kustomize`. After finding a rejected MR trying to fix an example I determined that the `resources:` feature works the way that the examples show only in some versions of `kustomize` but it took me a while to find in the readme what version of kustomize is included in kubectl.

Alternatively if the

[2019-08-01 23:51] richardmarshall commented on #1424
For the independent kustomize tool version information is exposed via `kustomize version` in a format similar to `kubectl version`

For example:
[code]

This would be a change in the `kustomize` sub-command in kubectl and so needs to be tracked in [kubernetes/kubectl](https://github.com/kubernetes/kubectl). Having this has come up on slack a few times and you're not the first to open a related iss

[2019-08-02 13:28] mdpixel opened #1425 "dash generated by configMapGenerator fail pod creation for fluent-bit configMap"
**What happened** :

I use configMapGenerator to load my fluent-bit config file placed on my desktop computer
[code]
Here is my kustomization.yaml :
[code]
After apply kustomize CLI : `kustomize build fluent-bit | kubectl apply -f -`
[code]
Pod creating fail because dashes at the end of config file name such as ` output-stdout.conf: |-`

If I apply changes without `configMapGenerator`, Pod is up a

[2019-08-02 14:50] richardmarshall commented on #1425
Hi @mdpixel, the dashes you're seeing in the generated ConfigMap are YAML multiline string markers. Specifically they tell a YAML parser it that it should remove any trailing whitespace from the string.

This site explains it pretty clearly: https://yaml-multiline.info/
There is also the YAML spec itself: https://yaml.org/spec/1.2/spec.html#id2794534

The file names you see in your pod are the key

[2019-08-02 20:12] mdpixel commented on #1425
Thank you @richardmarshall  for your help.
I going to search my issue more deeply :+1:

[2019-08-02 20:18] bytheway commented on #1009
We just hit this unexpected behavior in kustomize, trying to add a version label to use in istio routing.  Having it added to the selector is very problematic now that it is an immutable field:

```[]v1.LabelSelectorRequirement(nil)}: field is immutable```

[2019-08-03 08:52] mdpixel commented on #1425
I going to open an issues on fluent bit github

[2019-08-03 08:52] #1425 closed

[2019-08-03 15:26] objectiveous commented on #944
/remove-lifecycle rotten

[2019-08-03 20:45] Devin-Holland commented on #1410
This also fails in version 2.1. It's not actually attempting to fetch a remote just checking the local directory for the file. I've tried without git:: as well and that does the same.

[2019-08-04 10:46] igorcoding opened #1427 "kustomize edit clears `replicas` section"
Tried using replicas field in kustomization.yaml as follows:
[code]

After applying `kustomize edit set image` `replicas` section disappears from the kustomization.yaml:

[code]

Expected behaviour: replicas are preserved between executions of `kustomize edit`.

[code]

[2019-08-05 09:25] bluezd opened #1429 "kustomize build 2019/08/05 17:06:13 invalid patches from <nil>"
I got an error while executing `kustomize build config/default`  as subject.

[code]

[code]

[code]

[2019-08-05 10:29] jbrette commented on #1429
Probably a dup of #1373.

Replace “patches:” by “patchesStrategicMerge:” and “bases:” by “resources:”

[2019-08-05 11:23] smyrman opened #1430 "Increment kustomization.yaml apiVersion?"
There are several additions to how kustomizaton.yaml is parsed in the now stand-alone kustomization program compared to the version released with `kubectl`:
- The `patches` keyword is handled differently (and is no longer deprecated)
- Patches are applied differently.
- The `resources` keyword is handled differently.
- The `bases` keyword was deprecated (although hardly documented).

Could the Kus

[2019-08-05 13:32] bluezd commented on #1429
@jbrette This workaround works. Thanks !

[2019-08-05 15:05] #855 closed

[2019-08-05 23:58] richardmarshall commented on #1410
Part of what is confusing here is that when an attempt to load the resource via git fails the loader falls back to attempting to load the resource as a file. Since no error information from the git clone attempt is displayed this behavior can make it seem like a clone was never attempted in the first place. It also makes things difficult when trying to diagnose why the clone failed.

In v3.0+ when

[2019-08-06 00:27] ricoms commented on #1332
Sorry my ignorance, I don't know what is the "deployment base" or the  "overlay kustomization" or the "jsonPatch". Inside the `mnist/training/GCS` example folder I have the following:

[code]

I did not find where to add `+   namespace: kube-system`

[2019-08-06 03:37] richardmarshall commented on #1422
In 3.1.0 the new extended patch system was added which is reusing the previously deprecated `patches` field. To maintain compatibility with older kustomization files new fix up logic was added to fix up data in the old format.

https://github.com/kubernetes-sigs/kustomize/blob/2a2a889c378df641fe90f28417ac3b10372a1f63/pkg/types/fix.go#L43

In this fix up path a check for a nil value is not performe

[2019-08-06 04:17] richardmarshall commented on #944
To confirm, you're hoping for a way to use the method described here: https://github.blog/2012-09-21-easier-builds-and-deployments-using-git-over-https-and-oauth/, to authenticate git fetches of remote resources without having to hard code the token into the kustomization file?

Based on how that seems to work we could probably generalize this to "supporting http basic auth for git resources". Sin

[2019-08-06 04:32] richardmarshall commented on #1427
This issue has existed for quite a while it would seem, able to reproduce it it in versions all the way back to (and including) v1.0.11.

/kind bug

[2019-08-06 04:43] kunickiaj commented on #685
Sad to see this go dead. Have had yaml sprawl dealing with this in kustomize so far, that we're reconsidering template based alternatives.

[2019-08-06 09:40] rkr-kununu commented on #685
Actually since kustomize supports defining variables with [any custom resource](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md#adding-a-custom-resource).  We were able to integrate istio very easily.

[code]

[2019-08-06 09:54] tustvold opened #1431 "Remote Build Cache"
Currently [ClonerUsingGitExec](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/git/cloner.go#L38) creates a new directory within /tmp and checks out remote git repositories to that location. This is not ideal for many reasons:

- Makes iteration on a kustomize patch for a remote config incredibly slow and arduous as it checks out the repository every single time
- /tmp is often tmpfs

[2019-08-06 11:55] Devin-Holland commented on #1410
An update on this. You also need to remove the `.git` after your repository name before the path in your repository with v3.0+ as well as removing `git::`

[code]

becomes

[code]

[2019-08-06 21:10] bgauduch commented on #710
@jbrette I cannot test again at the moment so I'm gonna have to take your word for it !

[2019-08-06 21:14] bgauduch commented on #710
/close

[2019-08-06 21:14] #710 closed

[2019-08-07 12:24] benjamin-bergia commented on #710
@bgauduch Same not much time at the moment. But you're right when I will be working on it again I will open a different issue

[2019-08-08 00:03] kunickiaj commented on #685
Not quite what I was looking for. I'm trying to find a way to reduce the boilerplate maintenance for different envs -- the spec/host field of a DestinationRule holds the FQDN of the service, so that includes the namespace. I could not figure out how to use a nameReference to _set_ the spec/host field of the DestinationRule based on the namespace from kustomization.yaml.

Thus, most Istio resource

[2019-08-08 11:10] #856 closed

[2019-08-08 14:39] illeatmyhat commented on #1391
I'm having the same issue and honestly I would rather not have to rearrange my files
[code]
should just work. It does work with `bases`, but doing the same with `resources` will give you this error:
`rawResources failed to read Resources: Load from path foo/bar/baz failed: 'foo/bar/baz' must be a file (got d='/Users/john.doe/project/foo/bar/baz')`

[2019-08-08 23:40] stevegore commented on #1391
Definitely. For those wondering, the best syntax is probably `kustomize build <dir> | kubectl apply -f -`

[2019-08-08 23:40] richardmarshall commented on #1408
Aligning with `kubectl version --short` would be a nice addition.

/help
/good-first-issue

[2019-08-09 20:57] Liujingfang1 commented on #1429
`kustomize edit fix` should fix this type of problems.

[2019-08-09 20:57] #1429 closed

[2019-08-09 20:59] Liujingfang1 commented on #1427
The fix is to add `replica` to the field list of kustomization file [here](https://github.com/kubernetes-sigs/kustomize/blob/f9fe138114237755081e4a747e2b234568d0cc3d/pkg/commands/kustfile/kustomizationfile.go#L53).

[2019-08-09 21:24] richardmarshall commented on #1427
@Liujingfang1 Yep, please see #1432 :)

[2019-08-09 23:46] #817 closed

[2019-08-10 04:42] richardmarshall commented on #1410
According the the Azure devops documentation the git clone urls for that service are not supposed to include the `.git` suffix.

https://docs.microsoft.com/en-us/azure/devops/repos/git/clone?view=azure-devops&tabs=command-line#clone-a-repo

So the 2.0.3 behavior of dropping the suffix could arguably be called a bug that enabled an error case to function.

[2019-08-10 07:43] richardmarshall opened #1438 "Namespace transformer can create conficts"
A kustomization can contain multiple objects with the same GVK and name as long as they are in different namespaces. However if the namespace transformer is used the resulting resmap after the transformer has run will contain an undetected ID conflict.

The following simple example demonstrates this:

**kustomization.yaml**
[code]

**resources.yaml**
[code]

**output**
[code]

While obvious in thi

[2019-08-10 15:41] wuestkamp opened #1439 "patchesJson6902 add annotation"
I would like to add an annotation using json patch to my ingress. I'm trying it like this right now:

[code]

The result is:

[code]

How can this be patched correctly?

[2019-08-10 19:05] #875 closed

[2019-08-10 19:29] nabadger opened #1440 "configMapGenerator namePrefix ignored with multiple levels of base inheritance"
Note, this worked in `2.0.3` but fails in `3.1.0`.

This test creates a base (a generic deployment), an intermediate-base (say a web-app), and an overlay (say a production instance).

The general idea is that we want to override a properties file (a configmap `env`) in the overlay.

The configmap is used in container's `envFrom`.

- In kustomize `2.x` the configmap name is correct (it uses the gen

[2019-08-10 19:39] nabadger commented on #1440
Also note, if we merge `base` and `intermediate-base` and avoid the additional base-import, this works in kustomize3.

[2019-08-12 11:24] fabriziopandini opened #1441 "kubeadm-kustomize integration"
This [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/20190722-Advanced-configurations-with-kubeadm-(Kustomize).md) kubeadm is introducing a new feature that enabled advanced users to kustomize static pod manifest generated by kubeadm.

While a very first, alpha proof of concept of the feature this is going to be implemented in v1.16, As discussed [he

[2019-08-12 15:00] jcpetruzza opened #1442 "configMapGenerator merge ignores previous namePrefix applications"
From kustomization `c`, I want to extend a `configMap` imported from resource `b`, where a name-prefix was added to a `configMap` originally defined in `a`. I expect to use `b`'s name to denote the name of the `configMap`, but have to use `a`'s instead. Full example:

[code]

Notice that if I use `renamed-cm` in `c/kustomization.yaml`, I get this error:
[code]

This is not only confusing, it also

[2019-08-12 15:35] daviddyball commented on #961
I'm still seeing this issue locally. A bad config still returns `0` when running `kustomize build base/`.

[2019-08-12 15:56] Florent-A opened #1443 "Feature request: Support pathexpand on ~, aka current user home directory"
First big thanks for releasing this kustomize tooling, it greatly helps us to manage an OpenShift Platform as a code.

In order to fully integrate with our devops ecosystem, we need to be able to target resources (base folders) from overlays in paths relative to the current user home directory (and not relative to the current folder not absolute).

Since you are using Hashicorp's go-getter to loca

[2019-08-12 19:53] #878 closed

[2019-08-12 22:12] richardmarshall commented on #1439
The `/-` syntax is used for inserting a value at the end of a list. The annotations field is a map so this syntax doesn't work in the same way.

If you want to completely replace the set of annotations in an object or if no annotations are currently set you can use:

[code]

If there are existing annotations and you don't want to override them:

[code]

However if you want to be able to support pa

[2019-08-13 00:50] wuestkamp commented on #1439
Thanks for your answer! Yes I would like to add annotations to an exiting map of annotations. As far as I know, the strategic merge patch does not work with an Ingress resource, that's why I used json patching.

[2019-08-13 09:59] anshul-patel-infostretch commented on #370
Facing the same issue @jbraghu , Any solution?

[2019-08-13 15:11] yujunz commented on #923
A simple plugin for go-getter: https://github.com/yujunz/kustomize-go-getter

[2019-08-13 23:02] jrab89 opened #1444 "Adding stringData to a secret with a secretGenerator"
It it possible to add `stringData` values to a secret using a `secretGenerator` with `behavior: merge`?

For example:
[code]

Is there a way for the resulting `my-secret` to have both `FIRST_SECRET: foo` and `SECOND_SECRET: bar` as `stringData`? In this example I could use a JSON patch to accomplish this, but I think it'd be cleaner to use a `secretGenerator` to do this.

Thanks for your help.

[2019-08-14 04:00] hidekuro commented on #1301
it's affects only pure k8s resources?
At least it didn't work with a CRD like the Argo-events Sensor.

[2019-08-14 06:24] lcostea commented on #1408
I can work on this.
Looks simple to start with and it is a good incentive to check the repo, build it, get familiar with it.

[2019-08-14 07:49] yujunz commented on #923
/remove-lifecycle stale

[2019-08-14 17:16] Liujingfang1 commented on #1301
@hidekuro You need to add configurations in kustomization.yaml so that it knows which field to update. Take a look at this [example](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs/crd)

[2019-08-14 23:04] richardmarshall opened #1447 "Cycle detection for git resources only identifies direct cycles."
The current cycle detection for git resources will detect a direct cycle `A -> A` however an indirect cycle `A -> B -> A` will not be detected.

**Example overlay:**
[code]

**base 1:** https://gist.github.com/richardmarshall/e71f6cc87da5c317a56f5688e2a524c8
[code]

**base 2:** https://gist.github.com/richardmarshall/7947e45b2ab817944bf37e188389a0c1
[code]

This will produce an infinite clone loop

[2019-08-14 23:44] #164 closed

[2019-08-15 08:14] fanux opened #1448 "How can I use ENV var?"
[code]
[code]
I need set some var from command line, it is useful for CI/CD,  so we can deploy what version we build using kustomize.

[2019-08-15 08:16] fanux commented on #1448
[code]
How `$(SERVICE_NAME)` substituted ?

[2019-08-15 08:40] fanux commented on #1448
Now CRD needs using sed...
[code]

[code]

[2019-08-15 08:52] jbrette commented on #1440
@nabadger We reproduce your issue [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1440)

#1446 seems to fix it.

[2019-08-15 08:53] fanux commented on #1448
[code]
I got it...

[2019-08-15 08:53] #1448 closed

[2019-08-15 10:20] hidekuro commented on #1301
@Liujingfang1 thx a lot!

[2019-08-15 16:16] nabadger commented on #1440
@jbrette awesome thanks :)

[2019-08-16 00:20] #893 closed

[2019-08-16 19:37] jbrette commented on #1368
@EronWright This is fixed by [#1451](https://github.com/kubernetes-sigs/kustomize/pull/1451)

[2019-08-16 20:14] bd commented on #1415
No they do not. Those are static strings to append or prepend to _all_ the elements, which does not allow me to 1.) target only specific resource types or 2.) generate a unique name for each job, as required.

[2019-08-16 20:27] mgoodness opened #1452 "Cannot reference non-HEAD or untagged commits"
I believe #857 introduced a regression that prevents the use of specific GitHub commits as references unless they are either the HEAD of a branch or tagged. For example, building from the following kustomization.yaml succeeds because commit `df7ed659a7b6280bb28838e0f87d54de435afe83` is tagged `v0.1` in the repo.

[code]

However, commit `769f3aae20c1527e2ebc0fbbf89cc3a6e71e8d23` is neither a HEAD

[2019-08-17 00:46] cppforlife commented on #876
@nhooyr @donbowman you may want to check out https://get-kapp.io if you run into trouble with --prune.

[2019-08-17 06:21] dfang opened #1453 "Support namespace in command line options"
for an application, if there is namespace specified in yaml, use that.
set to default if there is no namespace specified in yaml, and can be overrided in kustomize cli options.

i mean

[code]

deploys to traefik namespace

[2019-08-19 12:50] benjamin-bergia opened #1458 "Add pod selector to CRD"
HI,
I am testing the prometheus operator and it uses a CRD ServiceMonitor which requires a `spec.selector.matchLabels`. Currently I manage all my labels and selectors with kustomize. Some of them are defined in my base and other in my overlays. What is the recommended way to manage the selector of my CRD to keep it in sync with my other selectors? I basically want to have the exact same selector f

[2019-08-19 13:44] #900 closed

[2019-08-19 14:04] mshkrebtan opened #1459 "commonLabels applied to podAffinity labelSelector.matchLabels"
I want to run an application (`masterdata`) on a host where Memcached is already running, hence I specify `Affinity` in the `PodSpec`.

I use `kustomize` version `3.1.0`:
[code]

I build a configuration out of the following files:

`kustomization.yaml`:
[code]

`deployment.yaml`:
[code]

When I run `kustomize build`, I get the following:
[code]
Pay attention to the `matchLabels` map in the affinit

[2019-08-19 14:30] seh commented on #1009
I hit this problem today, trying to bring an existing _DaemonSet_ under a new kustomization root. I can't use `commonLabels` to add a new label to the _DaemonSet_, because it tries to mutate the _DaemonSet_'s label selector, which is immutable.

[2019-08-19 14:48] seh commented on #1009
@darwin67, when I tried to override the configuration for the "spec/selector/matchLabels" path in _DaemonSet_ like this,
[code]
_kustomize_ rejects it, complaining as follows:

That tells me that it's not possible to override the built-in rules.

[2019-08-19 17:57] richardmarshall commented on #1458
The commonLabel transformer can be configured to inject labels into CRDs. This example shows how you can add additional types and fields that should be updated by the transformer:

https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md

[2019-08-19 19:36] longility commented on #970
This is my need for kustomize to support remote files.

I would like to manage my k8s resources in a consistent and declarative way as much as possible. I'm trying out to not be dependent on helm. Kustomize is definitely working out for me at the moment. However, being able to reference remote file urls will help with referencing 3rd party yamls such as for cert-manager, ingress-nginx, jaeger, and

[2019-08-19 21:03] twz123 commented on #617
/remove-lifecycle stale

[2019-08-19 23:54] #909 closed

[2019-08-20 04:11] guludo opened #1463 "Placement for plugins"
Hi there!

Currently, according to the docs, custom plugins are supposed to be placed under `$XDG_CONFIG_HOME/kustomize/plugin`. I believe there are some issues regarding that approach:

1. *It makes distributing plugins not very convenient*, as opposed to having them installed via a package manager. It would be nice if `kustomize` could look for plugins from a system-wide standard location like `

[2019-08-20 07:17] mr-karan commented on #235
I'm using `KustomizeVersion:3.1.0` but still facing the same issue.

My namespace.yaml

[code]

`kustomization.yaml`

[code]

End result:

[code]

[2019-08-20 08:23] surki commented on #235
Looks like this change didn't make it out. I am using with the following patch:

[code]

@Liujingfang1 ?

[2019-08-20 13:21] benjamin-bergia commented on #1458
Hi @richardmarshall,

Thanks for your help. I tested and it does work!

Unfortunately, I have to define the config in each overlay that use this CRD. And since for security reason kustomize doesn't let me access a config outside the directory of the kustomization.yml, I have to copy my config file in each overlay.

Is there a way to define a "global" transformer config file? If not can I add my co

[2019-08-20 14:02] benjamin-bergia commented on #1458
So I followed the [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/3cb6c7f1f4293b28c0c3fd319d98a48a5ce66f09/docs/FAQ.md) and created a base containing my config file and a kustomization.yml. I then import it as a base. Unfortunately is doesn't change the configuration of other bases and overlays. For example if I have:
[code]
Where am I supposed to import my configuration for it to work wit

[2019-08-20 15:14] rihardssceredins commented on #1342
How did you get around this? Having the exact same issue.

[2019-08-20 15:14] rihardssceredins commented on #1342
@pfyod how did you get around this? Having the exact same issue.

[2019-08-20 23:17] #1447 closed

[2019-08-21 15:08] Djabx commented on #504
The issue is always here.
/reopen

[2019-08-21 15:37] jbrette commented on #1458
@benjamin-bergia @richardmarshall Have a look [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1458)

kustomize is accumulating the transformer configs. One easy way to share configs is by having a "common" kustomize folder where you put your configurations and import that folder as resource (directly or indirectly) where you need it.

I do believe we can close thi

[2019-08-21 16:41] richardmarshall commented on #1458
@jbrette This seems like a good pattern to me. 👍

[2019-08-21 17:41] monopole commented on #834
@alexeldeib Just saw your work referenced in https://github.com/kubernetes-sigs/kustomize/pull/1374#issuecomment-513506466

If you want to send a PR, i'd be happy to help get it in.

[2019-08-21 17:44] BenTheElder commented on #1212
AFAICT windows is broken in the latest release, isn't this a blocker for kubectl?
CC @Liujingfang1 @monopole

[2019-08-21 17:47] BenTheElder commented on #1212
Thanks for the fix @alexeldeib

[2019-08-21 18:30] monopole commented on #1212
An official Windows release (i.e. distributed at https://github.com/kubernetes-sigs/kustomize/releases) is blocked by #834.

[2019-08-21 18:30] #1212 closed

[2019-08-21 18:32] monopole commented on #834
To be clear - lets just get the unit tests to run, and some kind of minimal test to run the binary merely to assure it gets built, and we can get a windows release out.  No need to reproduce the mdrip-based example coverage (i think that would be too hard given the bash-isms and unix-isms in the example code blocks).

[2019-08-21 18:35] #1408 closed

[2019-08-21 18:58] frejsoya opened #1468 "configmap with multiple envs and conflicting keys"
[code]
Config contents:
[code]

Fails with
[code]

Should `behavior: merge` also merge two env files, similar to how you can merge to configMapGenerators.

So the expected config map would be:
[code]

[2019-08-21 23:14] vreon commented on #1296
I got pretty far into implementing a secret generator exec plugin and ran into this :dizzy_face:

From here, I'm not sure if I should be handling the hash suffix + ref replacement in a custom transformer, or what... but I'd definitely like to avoid reimplementing that if I can somehow rely on a built-in transformer.

[2019-08-21 23:20] richardmarshall commented on #1296
I have some thoughts on how we can enable this for exec plugins but haven't yet had a chance to write anything down. Hopefully will have some cycles in the next few days and can put together a PR to discuss the approach.

@monopole FYI ☝️

[2019-08-22 08:51] mr-karan opened #1471 "Help: Use keys with configMapGenerator"
Hi

Is it possible to [set a custom key](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#define-the-key-to-use-when-creating-a-configmap-from-a-file) while creating a configMap from a file?

I have 2 configs in the folder `config` as such
[code]

This is my `kustomization.yaml`

[code]

What happens now (which is normal):

[code]

What I expect to have in `configM

[2019-08-22 09:06] creinig commented on #1391
I have a similar issue, using `kustomize build <DIR>` with kustomize Version: {KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T18:11:16Z GoOs:linux GoArch:amd64}

Referencing the base via

[code]

results in the described error message.

@illeatmyhat : What version of kustomize are you using?

[2019-08-22 10:28] pckhoi opened #1472 "specifying label for secretGenerator item"
I'm running a complex deployment service where it dynamically create new namespace and create secret in new namespace based on existing secret which I want to declare with secretGenerator. However there is no way for me to get the base secret, the name keep changing and I don't have a way to assign label to just this secret. Ideally the below syntax should work:
[code]

Alternatively if the secret

[2019-08-22 10:58] pfyod commented on #1342
@rihardssceredins IMO, the only proper solution is not to use `kubectl -k` but rather something like `kustomize build <directory> | kubectl apply -f -`...

[2019-08-22 11:43] benjamin-bergia commented on #1458
@jbrette When changing transformer config for a CRD it doesn't make sense to pass a config every time the CRD shows up in a kustomization.yml. This transformer config is always needed when this specific CRD is used. It is not something that you can use or not depending of the situation in your project. I should be able to specify some configuration that is global to kustomize on my computer or pro

[2019-08-22 15:26] illeatmyhat commented on #1391
@creinig I'm using version `{KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T18:11:16Z GoOs:darwin GoArch:amd64}`
I can reproduce your error--I don't attempt to reference base images in parent folders.
Incidentally, if you reference the kustomization.yaml directly
[code]
you will get this error:
[code]
which implies that you're not supposed to be able

[2019-08-22 15:54] richardmarshall commented on #1296
@ptemmer @vreon Would appreciate your thoughts on if #1473 would work to resolve this inconsistency for your use cases.

[2019-08-22 16:02] vreon commented on #1296
That would solve the problem for my use case! I dig the approach of using annotations to pass information from generators to transformers.

[2019-08-22 20:02] TechnicalMercenary opened #1475 "Allow Var for Dynamic name in Namespace"
I'm using `kustomize edit set namespace "$CUSTOMER_ID"` to have all of my kubernetes resources to be put into the same namespace.  Works great.

But I'm struggling with actually creating that namespace with-in kustomize.  I read there were some attempts at this by dynamic creation of  namespaces.

#500

what I'm thinking is would it be possible to allow`varreference.go` to

[code]

Then I would ha

[2019-08-22 23:26] vreon commented on #1471
Yep, the syntax is similar to `literals`:

[code]

[2019-08-23 03:01] zkcarterlau opened #1477 "There is an ingress.yaml in overlay but base doesn't have ingress.yaml.It failed to build finally."
All my java projects share only one base.There are service.yaml,deployment.yaml in base while there are  service.yaml,deployment.yaml and ingress.yaml in overley in java porject.It showed me "Error: no matches for OriginalId extensions_v1beta1_Ingress|~X|java.." when I tried to kustomize build.

  However, when I put an ingress.yaml  in base I succeeded to kustomize build.The question is I don't n

[2019-08-23 04:13] mr-karan commented on #1471
Ah, thanks a lot. Maybe we should document this? Happy to send a PR

[2019-08-23 07:06] mr-karan opened #1478 "Patch service name in Ingress object"
I've an Ingress object which looks like:

[code]

Since I've a `kustomization.yaml` which has defined a suffix for all resources
[code]
The corresponding service object gets created with that suffix name which doesn't match the ingress object

[code]

**What's happening**:  Ingress has a service name, which doesn't match the actual service name

**What should happen**: Ingress object must be patch

[2019-08-23 12:50] bcbrockway commented on #1343
Agreed. Closing ticket.

[2019-08-23 12:50] #1343 closed

[2019-08-23 14:27] bcbrockway opened #1480 "ServiceAccount name not propagating to Deployment"
I've found an issue where if you import a Deployment from a base, `1-shared-base`, add a ServiceAccount and a patch to add that service account to the Deployment in an overlay, `2-app-overlay`, and then pull that into another overlay, `3-dev-overlay`, the `serviceAccountName` in the Deployment no longer gets updated.

If you run `kustomize build .` in `2-app-overlay` however, the field updates fin

[2019-08-23 14:34] richardmarshall commented on #1477
Hi @zkcarterlau. Will need some more information to be able to help. Could you please share how you have setup your base and overlay kustomization.yaml files?

[2019-08-23 16:21] #908 closed

[2019-08-23 17:54] #1438 closed

[2019-08-23 18:01] jbrette commented on #1480
@bcbrockway This is fixed by the following [PR](https://github.com/kubernetes-sigs/kustomize/pull/1446)

[code]

[code]

[2019-08-23 18:02] jbrette commented on #1480
/kind bug

[2019-08-23 18:02] jbrette commented on #1440
/kind bug

[2019-08-23 18:15] #1354 closed

[2019-08-23 19:56] erstaples commented on #1332
I don't see the namespace addition anywhere in the documentation.

[2019-08-23 23:38] jbrette commented on #1478
@mr-karan Please have a look at the following environment [issue_1478](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1478)

Could you indicate what you are doing differently. At a glance, kustomize seems to be working as expected

[code]

[code]

[2019-08-25 13:48] imranismail commented on #1207
For anyone trying the go plugin route. Supplying to behavior to go plugins didn't help

[code]

[2019-08-25 14:06] richardmarshall commented on #1472
@pckhoi generated resources can be patched using their non-suffixed names.

For example:
[code]

Output:
[code]

[2019-08-25 19:39] richardmarshall commented on #1458
The challenge of a flag or config file approach is it introduces external factors that impact the success of a build. I actually was in the camp of favoring a config flag, so much so that I implemented it and started trying it out. Changed my mind after needing to copy my config from one system to another, setting up config injection into CI, sharing the config with collaborators, etc.

If you're

[2019-08-25 20:27] richardmarshall commented on #1475
You can do this by setting up a custom transformer config in your kustomization.

**kustomization.yaml**
[code]

**config.yaml**
[code]

**ns.yaml**
[code]

[code]

[2019-08-25 22:13] #906 closed

[2019-08-26 01:38] zkcarterlau commented on #1477
Sure, you can download deployment files here http://cnbj2.fds.api.xiaomi.com/viomi-fileupload/deployment.zip?GalaxyAccessKeyId=5151729087601&Expires=1566784948308&Signature=IN73IAqA5bLVuGO5NTa3jwXDM60=

When I exclude the ingress.yaml file in base it doesn't work.I don't need all the java apps share the same base which has ingress.Thanks for help.

[2019-08-26 06:06] mr-karan commented on #1478
Thanks for trying to replicate :) @jbrette
It's my stupid mistake. Terribly sorry.

For the curious, well I had already prefixed my service name with a common prefix I was using, in that case it wasn't working as expected. Just my bad ignorance.

Thanks again

[2019-08-26 06:06] #1478 closed

[2019-08-26 06:37] pckhoi commented on #1472
Thanks! I didn't know that was possible.

[2019-08-26 07:27] benjamin-bergia commented on #1458
@richardmarshall Agreed, the the config as a kustomization is a pretty neat idea, but not being able to specify it project wide is definitely annoying. We are currently using kustomize only (no Helm, etc) so we have different levels of overlay. Some overlays define variations of applications like worker and web nodes, other define environment specific settings like different domain names. The envi

[2019-08-26 07:45] ptemmer commented on #1296
@richardmarshall Yes, I think it would also solve my use case. Thank you!

[2019-08-26 09:49] ioandr commented on #1292
Hi @monopole,

this is a heads-up to keep this issue active.

Is there any progress on the implementation of this feature or any feedback on the format proposed by @apyrgio in https://github.com/kubernetes-sigs/kustomize/issues/1292#issuecomment-507766017 ?

Plus, a kind reminder for https://github.com/kubernetes-sigs/kustomize/pull/1297, which describes our case and currently fails. It would be n

[2019-08-26 12:22] oboukili opened #1482 "Cannot build statically linked plugins because of CGO use in sigs.k8s.io/kustomize/v3/pkg"
Hello,

I'm trying to build a statically linked kustomize v3 Go plugin, but it seems the use of CGO is required by sigs.k8s.io/kustomize/v3/pkg.

[code]

Enabling the use of CGO works of course, however it results in a dynamically linked binary, not suitable for distribution (being a Go beginner, I've read an interesting article here: https://dave.cheney.net/2016/01/18/cgo-is-not-go):
[code]

Here

[2019-08-26 12:37] oboukili commented on #1482
I managed to read a bit of documentation and found out that `go list` could help pinpoint which import brought cgo (http://golang.so/pkg/cmd/go/internal/list/ <- each import) , so with a bit of tinkering I found which ones required cgo:

[code]

So I guess it's not kustomize after all! Sorry about that

[2019-08-26 13:08] oboukili commented on #1482
To bring a closing comment to this issue, this is actually a golang issue: https://github.com/golang/go/issues/19569

[2019-08-26 13:08] #1482 closed

[2019-08-27 01:58] zkcarterlau commented on #1477
@Liujingfang1 Yes,there is patchesStrategicMerge config in base kustomization.yaml. Sorry for the expired link. Here is another link---->http://cnbj2.fds.api.xiaomi.com/viomi-fileupload/deployment.zip?GalaxyAccessKeyId=5151729087601&Expires=9223372036854775807&Signature=WFEIPkJ7M5kwhCy2DPSCDNVy06A=

[2019-08-27 08:34] ralgozino commented on #205
Hello!

I'm getting `Unexpected property patches` error for all my `kustomization.yaml` files in VSCode and COCVim :(

Am I doing something wrong?

[2019-08-27 11:11] eburghar commented on #1420
I think you don't need anything special

Put your json regred in secrets/.dockerconfigjson

Then you kustomization would looks like
[code]

[2019-08-27 11:51] dfang commented on #1453
ok，there is typo,

should be ` kustomize edit set namespace traefik | kustomize build . | kubectl apply -f -`

[2019-08-27 14:10] JohnPaton commented on #923
So just to be clear, the comment that @pohly referenced, and [the remote build example](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#url-format), are not accurate currently?

[2019-08-28 01:28] yujunz commented on #923
What the examples says is true.

What is also true is that only **a subset** of all hashicorp/go-getter URL formats are supported.

[2019-08-28 13:33] vanufryiuk commented on #119
In practice, lack of globs support doesn't help to avoid unintended side effects. It forbids having **intended** side effects, and more -  creates one more place to mistake. I really don't want do add each of my 64 system level manifests to kustomization.yaml. Also, I really do want to deploy all of my 20+ microservices automatically, just by adding/removing one more build artifact to the release

[2019-08-28 21:22] jbrette commented on #1347
@trajakovic It looks like @yujunz fixed the issue last month. We did reproduce your environment [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1448) and the bug seems to be fixed.

[2019-08-29 04:30] #1307 closed

[2019-08-29 12:17] JohnPaton commented on #923
Thanks for clarifying.

For other people who are searching: I was asking this because I was trying to use a remote resource from a private repository over ssh. The correct format turned out to be:

[code]

[2019-08-29 13:21] frejsoya commented on #1468
It does start to create a folder sprawl which we don't have today. As all config files are in the same folder for N environments and K services in our setup.

The somewhat simplified layout we have (And this may be the core of the problem?).
<component/base> -> `external service|cronjob|others kustomization`
<component/dev>   -> `component_base`
<component/prod> -> `component_base`
<deployments/en

[2019-08-29 13:24] pohly commented on #923
And which subset is that?

[2019-08-29 14:05] yujunz commented on #923
Only some of the git repo spec

See https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/git/repospec_test.go

[2019-08-29 14:52] jskold opened #1486 "kustomize edit set image removes replicas"
In Kustomize 3.1.0, running `kustomize edit set image` removes the replicas block from kustomization.yaml.

Sample to reproduce this bug:

*kustomize.yaml*
[code]
*deployment.yaml*
[code]

Running `kustomize edit set image nginx-deployment:latest` rewrites the kustomization.yaml so that it looks like this (note the missing replicas block):

*kustomization.yaml*
[code]

[2019-08-29 15:04] richardmarshall commented on #1486
Hi @jskold, this bug was fixed in #1432 and will be included in the next release.

[2019-08-29 15:19] bzon commented on #119
This is so sad. I ended up building a refresh script...

[code]

[2019-08-29 17:43] Liujingfang1 commented on #923
@yujunz Would you like to add this generator plugin  https://github.com/kustless/kustomize-plugins/tree/master/gogetter as an example generator in Kustomize repo and write some docs for it?

[2019-08-30 01:48] #942 closed

[2019-08-30 01:49] #956 closed

[2019-08-30 08:22] trajakovic commented on #1347
@jbrette ok, will try it again with feedback. and thx guys for excellent work

[2019-08-30 10:25] Naramsim commented on #1212
This issue shouldn't be marked as closed. The issue still persists. When #834 will be closed then you could also close this one.

[2019-08-30 13:35] jbrette commented on #1480
@bcbrockway Can you check that your issue in now fixed since #1446 has been merged.

[2019-08-30 13:36] jbrette commented on #1440
@nabadger Can you check that your issue is fixed. PR #1446 has been merged.

[2019-08-30 18:08] #1471 closed

[2019-08-31 00:15] mgoltzsche commented on #821
With @monopole's refactorings here this issue seems to be solved completely and can be closed.

[2019-08-31 08:45] Avni-Sharma commented on #843
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/kusttarget.go#L110

Isn't this line error handling already?

[2019-08-31 12:35] nabadger commented on #1440
@jbrette looks good to me - I checked the latest binary built from master. Thanks :)

[2019-08-31 15:28] #672 closed

[2019-08-31 15:58] thiagoalvessilva commented on #1347
Is there any workaround for this? I am using kubectl 1.1.14

[2019-08-31 17:02] jbrette commented on #1347
@thiagoalvessilva Just download kustomize 3.1.0[here](https://github.com/kubernetes-sigs/kustomize/releases/download/v3.1.0/kustomize_3.1.0_linux_amd64) and run:

[code]

instead of

[code]

[2019-08-31 21:50] davinkevin commented on #347
Same for me... 👍Could we reopen this one?

[2019-09-01 07:29] reith commented on #61
@sascha-coenen JSON patches served me well as an alternative. Though I liked to have altered API version in next SMPs but it wasn't a big deal for me.

[2019-09-01 16:53] #943 closed

[2019-09-02 01:01] #945 closed

[2019-09-02 06:12] jskold commented on #1486
Thanks @richardmarshall!

[2019-09-02 06:12] #1486 closed

[2019-09-02 09:28] bcbrockway commented on #1440
@jbrette, I seem to be getting the same result as before. Am I doing something wrong?

[code]

[2019-09-02 13:34] matti opened #1493 "Changing 'imagePullPolicy' of all containers in all deployments"
originally asked here https://github.com/kubernetes-sigs/kustomize/issues/412 - but the question is still left unanswered:

following kustomization
[code]
and
[code]

changes/adds the imagePullPolicy to *first* container, but how to set it to all containers? using `*`does not work.

[2019-09-02 13:37] matti commented on #1493
And I can't use AlwaysPullImages AdmissionController in GKE

[2019-09-02 13:40] matti commented on #1493
[code]

results in `doc is missing path: /spec/template/spec/containers[]/imagePullPolicy: missing value`

[2019-09-02 13:55] matti commented on #1493
workaround:
[code]

[2019-09-02 14:32] bcbrockway commented on #1440
Scrap that. Cloned and built from source and it worked as expected, thanks!

[2019-09-02 14:33] bcbrockway commented on #1480
@jbrette, cloned and built from source and it worked as expected, thanks!

[2019-09-02 14:33] #1480 closed

[2019-09-02 16:16] #865 closed

[2019-09-02 16:36] emas80 commented on #1009
This is very annoying, since the label selectors are immutable. It makes very hard to migrate a  current setup.

[2019-09-03 05:21] jbrette commented on #1368
@EronWright @Liujingfang1 @monopole

Please have a look a this [test environment](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1368#execution)

The user can now specify through config file the order of resources during kubectl apply
[HERE](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1368#execution)

[code]

and other one for the kubectl

[2019-09-03 05:28] jbrette commented on #973
@pwittrock #1451 is addressing:

Clarify that order of resources means nothing
Deleting should be done in reverse order

by allowing the user to run the following command:
[code]
and
[code]

[2019-09-03 05:48] jbrette commented on #800
@jcassee @mildred Can you retest.  [This environment](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0800)  which replicates your files, indicates that the issue has been fixed since kusstomize 3.1.0.

[2019-09-03 09:43] o3o3o opened #1494 "helloWord demo example is failed."
I just followed and executed the command in the [helloWord example](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/helloWorld)  and got failed.

[code]
And I executed with `--validate=false` again:
[code]

Version:
[code]

I am not familiar with k8s. A demo is very useful to a newcomer, please fix the demo. Thanks

[2019-09-03 10:41] o3o3o commented on #1494
`kubectl apply -k  $DEMO_HOME/base` is executed successfully.
 May we should update readem in helloWorld with `kubectl apply -k  $DEMO_HOME/base`?

[2019-09-03 19:35] jbrette commented on #821
@mgoltzsche @pwittrock @donbowman  We are seeking feedback for this [KEP](https://github.com/kubernetes/enhancements/pull/1231).

The corresponding [PR Improve kustomize build --reorder option](https://github.com/kubernetes-sigs/kustomize/pull/1451).

The current issue has been reproduced [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0821). Note that the sort ha

[2019-09-03 19:39] jbrette commented on #1368
@EronWright  We are seeking feedback for this [KEP](https://github.com/kubernetes/enhancements/pull/1231).

The corresponding [PR Improve kustomize build --reorder option](https://github.com/kubernetes-sigs/kustomize/pull/1451).

The current issue has been reproduced [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1368).

[2019-09-03 19:41] donbowman commented on #821
I will take a look. What i ended up doing was:
https://github.com/Agilicus/kustomize-plugins/tree/master/agilicus/v1/crdgenerator
create a Generator that I use in a 2-pass mode.
E.g. i run kustomize twice, once it creates all the crd.
I would have preferred a Transformer, but they cannot delete objects, only modify.

[2019-09-04 04:12] jbrette commented on #896
@alenkacz @verult @orirawlings @yujunz

Please have a look at:
- [KEP: Kustomize FieldSpec skip ](https://github.com/kubernetes/enhancements/pull/1232)
- [PR: Skip kustomize transformers for paths](https://github.com/kubernetes-sigs/kustomize/pull/1491)

[2019-09-04 04:18] jbrette commented on #552
@mgoodness @primeroz @jessesuen

Please have a look at:
- [KEP: Kustomize FieldSpec skip ](https://github.com/kubernetes/enhancements/pull/1232)
- [PR: Skip kustomize transformers for paths](https://github.com/kubernetes-sigs/kustomize/pull/1491)
- The PR seems to address the issue as demonstrated [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0552)

[2019-09-04 04:19] jbrette commented on #330
@mylokin @Benjamintf1 @mikebryant

Please have a look at:
- [KEP: Kustomize FieldSpec skip ](https://github.com/kubernetes/enhancements/pull/1232)
- [PR: Skip kustomize transformers for paths](https://github.com/kubernetes-sigs/kustomize/pull/1491)
- The PR seems to address the issue as demonstrated [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0330)

[2019-09-04 04:30] jbrette commented on #519
@kameshsampath @verult @lwille @tanordheim @guyromb

Please have a look at:
- [KEP: Kustomize FieldSpec skip ](https://github.com/kubernetes/enhancements/pull/1232)
- [PR: Skip kustomize transformers for paths](https://github.com/kubernetes-sigs/kustomize/pull/1491)
- The PR seems to address the issue as demonstrated:
  + [no prefix to secret](https://github.com/keleustes/kustomize/tree/allinone/e

[2019-09-04 09:19] yujunz commented on #896
Left some comments in the KEP.

[2019-09-04 09:31] HusterWan opened #1497 "[question] should kustomize support version managed and just generate part of config?"
As we know, kustomize can manage multi-cluster configurations, and by using `build` command will generate a total config of a cluster.

It is convenient when we just initialize a k8s cluster, but when we want to update the k8s cluster configurations, it is dangerous to apply all configurations to the cluster.

So we may consider the kustomize can support two features:
  * support version managemen

[2019-09-04 10:10] leojonathanoh commented on #235
same issue. I have a single namespace, and want to add a prefix/suffix to a base of resources. Turned out everything is ok except now the namespace has a prefix/suffix, and now there's a mismatch between the namespace of the `namespace.yaml` and other `.yaml` resources.

[2019-09-04 10:11] leojonathanoh commented on #235
@surki did you manage to workaround it?

[2019-09-04 10:41] mr-karan commented on #235
Yes I found a workaround. The base should not have the `namespace.yaml`. You can have the `namespace.yaml` in your overlays folder where you define namePrefix/suffix.

Something like [this](https://github.com/mr-karan/calert/tree/master/kustomize/overlays/prod) works

[2019-09-04 11:13] BarthV commented on #815
I'm hitting this issue too. This is reaaly painful since almost all CRD in the community are provded as kube API yaml.

If you keep going in that direction, please provide a simple way to translate kube yaml CRD into openapi spec (directly in kubectl if possible)

Otherway, please consider using Kube yaml as kustomize input.

[2019-09-04 11:26] leojonathanoh commented on #235
@mr-karan
thanks, this is helpful.

In my case I had to keep my base in fully working order, so i had to keep `namespace.yaml` in the base. So I ended up with `patchesJson6902` and `namespace-patch.yaml` in each overlay based on @symfrog's [workaround](https://github.com/kubernetes-sigs/kustomize/issues/235#issuecomment-430197657), changing the `namespace` `name` back to its original name:

## bas

[2019-09-04 11:27] leojonathanoh commented on #235
@mr-karan
thanks, this is helpful.

In my case I had to keep my base in fully working order, so i had to keep `namespace.yaml` in the base. So I ended up with `patchesJson6902` and `namespace-patch.yaml` in each overlay based on @symfrog's [workaround](https://github.com/kubernetes-sigs/kustomize/issues/235#issuecomment-430197657), changing the `namespace` `name` back to its original name:

## bas

[2019-09-04 11:35] mr-karan opened #1498 "[Question] Community for Kustomize bases"
Just bouncing this idea off the community, can we have a Helm chart equivalent for Kustomize bases? Something like where a maintainer can be assigned to develop/maintain a base for popular 3rd party software?

Since kustomize already supports the `go-getter` URL format, creating a new deployment which requires Redis, PostgreSQL etc should be as easy as:

[code]

Is there any community interest aro

[2019-09-04 13:12] ivanliu1989 opened #1499 "Unknown fields error after `kustomize edit set image`"
Getting following errors after `kustomize edit set image`
<img width="1581" alt="Screen Shot 2019-09-04 at 4 25 20 pm" src="https://user-images.githubusercontent.com/8368049/64257522-dba3bc00-cf68-11e9-9608-170b9dd95099.png">
It happens to any files with `configMapGenerator` and `fieldpath`

Example:
Before
[code]

After
[code]

[2019-09-04 14:23] jbrette commented on #1418
@SilverXXX Just use quotes around "0600".  This works has show [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1418#verification-step-expected0). You can probably close the issue.

[2019-09-05 03:18] solacens commented on #1212
Absolutely agree with @Naramsim

I come back today and I thought the issue has been fix because the issue has been closed for a while.

Now I leave with disappointment. 😢

[2019-09-05 05:28] surki commented on #235
@leojonathanoh I am using json patch workaround.

@monopole Can we re-open this issue? Or do you prefer opening a new one?

[2019-09-05 05:39] pascalgn opened #1500 "Update kustomize version that's shipped in kubectl?"
Not sure where the right repository is for this, maybe here, maybe https://github.com/kubernetes/kubectl, maybe https://github.com/kubernetes/kubernetes?

Kubernetes has just released [v1.16.0-beta.2](https://github.com/kubernetes/kubernetes/releases/tag/v1.16.0-beta.2) and so far I haven't seen anything about a new kustomize version in the changelogs. I think if we want to have an updated version

[2019-09-05 07:08] nbn opened #1501 "Adding individual labels to configMap"
I have come cross a situation where I would like to generate the configmap using kustomize, but I need to add an additional label to some individual configMaps. They are needed in our case because of cluster-wide management tools need to introspect certain configMaps, which are designated with specific labels.

I cannot find a simple solution (commonLabel would be too much), but am currently resol

[2019-09-05 13:56] nimohunter opened #1502 "Is there a better way to get DefaultSrcRoot in compile.go in test"
hello, i'm new to this repo, and follow the good first issue, find #1182 interest me.

so i run `ConfigMapGenerator_test.go` but a find use `DefaultSrcRoot` to get plugin go source code, but maybe from global gopath , .config, or /home/yourname/kustomize does not meet our requirement...

Is there a more elegant way to solve this?
thanks

[2019-09-05 15:31] magicsong opened #1503 "do kustomize suppport template"
each time i run kubebuider i need to use `sed` to change values in the patch. and then the temporary will push to my repo if i forget to change it back. Is it possible to use `go template` in patch file and i can do something like `export image_name=sedgoaway kustomize build`

[2019-09-05 15:33] magicsong commented on #1503
btw, `sed -i` is different in macos and linux.

[2019-09-05 16:24] Liujingfang1 commented on #1503
@magicsong Since this is a kubebuilder project. You can update the Makefile to avoid updating the patch each time.

[2019-09-05 16:28] Liujingfang1 commented on #1494
@o3o3o Thank you for fixing this.

[2019-09-05 16:28] #1494 closed

[2019-09-05 18:19] monopole opened #1504 "Using builtin plugins shouldn't require --enable-alpha-plugins flag."
Builtin plugins are already being used regardless.

The purpose of this flag was to warn the user against accidentally running 3rd party plugins.

[2019-09-06 00:12] magicsong commented on #1503
@Liujingfang1 problem still exsits. The patch is always changed.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-06 02:17] yujunz commented on #923
Please refer to https://github.com/kubernetes-sigs/kustomize/blob/master/examples/goGetterGeneratorPlugin.md

[2019-09-06 02:17] #923 closed

[2019-09-06 03:16] jbrette opened #1508 "kustomize can't load builtin transformers when leveraging 'transformers:' entry"
This example is a reproduction of automatic feature test: `customconfigofbuiltinplugin_test.go` but is run from the command line as a normal user:

kustomize does not seem to be able to locate the plugin and looks for it XDG_CONFIG_HOME

To reproduce:

[code]

[code]

[code]

[2019-09-06 03:39] jbrette commented on #1508
when running against the latest version of kustomize:

[code]
After rebuilding kustomize from master (make install) and building and installing the PrefixSuffixTransformer.go (GOPATH=$myGoPath GO111MODULE=on go build -buildmode plugin -o ${HOME}/.config/kustomize/${i}.so ./$i.go), it seems to be behaving properly

[code]

[code]

[2019-09-06 05:00] jbrette opened #1509 "Provide simple way of sharing transformers configuration."
During the investigation of the best option to allow a user simple adjust the default configuration of builtin transformers, the idea was proposed to leverage kustomize transformers in kustomization.yaml.

The example here is adding a label "env: canary" in one kustomize context, and "env: production" in the other.

The current issue is that the commonslabeltransformer.yaml is basically copy/paste

[2019-09-06 13:12] dirien commented on #318
Hi,

i would like express the need vor having vars with literall. Especially, when we want to use the vars in the data value of a configmap.

At the moment i use varReference to expand vars in the data value of a configMap.

Is there a chance to address this request?

[2019-09-06 15:52] jbrette opened #1510 "kustomize handling of CRD inconsistent with k8s handling starting in 1.16"
Until Kubernetes 1.15, kustomize merge patch strategy was aligned with the kubernetes.
When applying using mergePatch, kustomize and kubernetes were quite aligned:
- Using SMP/strategicMergePatch for K8s native object (Deployment, Service)
- Using the less powerfull JMP (JsonMergePatch) for CRD. This JMP is reacting differently especially when merge list which follow the pattern of the containers

[2019-09-06 15:56] karlmutch commented on #1503
Not sure if this helps in your specific case, I am using yq, https://github.com/mikefarah/yq. It allows me to modify the kustomization.yaml files I have as a preprocessing step.

[2019-09-06 17:51] jbrette commented on #1510
/assign @Liujingfang1 @monopole
/cc @ian-howell

[2019-09-06 17:54] jbrette commented on #1508
/assign @monopole @Liujingfang1
/cc @richardmarshall @sethp-nr @ian-howell

[2019-09-06 17:55] jbrette commented on #1509
/assign @monopole @Liujingfang1
/cc @richardmarshall @sethp-nr @ian-howell

[2019-09-06 18:06] jbrette commented on #1502
@nimohunter Try this way:

[code]

[2019-09-06 18:26] jbrette commented on #1499
@ivanliu1989 This does not look like a bug.
your original file seems to be missing the first line. If you add it back like this:
[code]
then

[code]

works

[code]

then if you use edit image:

[code]

kustomization.yaml looks like this (not the configmap generator is updated to support more than one file)
[code]

kustomize build still works

[code]

[code]

[2019-09-06 18:35] jbrette commented on #1497
@HusterWan This is partly the goal of this [KEP](https://github.com/kubernetes/enhancements/pull/1231) and [PR](https://github.com/kubernetes-sigs/kustomize/pull/1451).

Without that feature, users are quite often running:
kustomize build . | somefilterpythonscript | kubectl apply -f -

If the structure of your kustomize tree is simple, your can always create a filter transformer and add it to the

[2019-09-06 18:47] huguesalary opened #1511 "Container Environment Variables and namePrefix issue"
My overlay `kustomization.yaml` adds a `namePrefix: dev-` to all my resources.

In Kubernetes, containers can access the IP address of a service by simply looking at its Environment Variables.

For example, with a given Service named `redis`, the container will have access to the following environment variables (among others):

[code]

Now, because my overlay set a `namePrefix: dev-`, my container

[2019-09-06 20:06] ian-howell commented on #1508
I've been able to replicate this in my environment. It seems that configuring plugins requires the user to have the compiled `.so` files regardless of whether the plugin is builtin or not. These seems like a major issue for anyone who wants to be able to use kustomize with minimal setup.

[2019-09-06 23:56] bittner commented on #1100
Note that the `root` is implicit when you run `kustomize build the/path/to/your/root` (i.e. specify a target path explicitly). No need to add a new language item.

[2019-09-07 00:21] bittner commented on #189
I'm running the latest stable [kubectl](https://github.com/kubernetes/kubernetes/releases) version 1.15.3, and for comparison, standalone `kustomize` version 3.1.0. Neither of them has a `--from-files='...'` option.

Can someone clarify whether this feature was removed (or has never worked)?

[2019-09-07 01:31] jessesuen commented on #1510
We are highly interested in a solution for kustomize to be able to perform strategic merge patching for CRDs. We are relying more and more on CRDs and are constantly fighting kustomize to be able to do what we want. A stop-gap solution we are employed is using a plugin to perform the strategic merge patching for specific CRDs, but plugins are very limiting.

Given that kubernetes itself is moving

[2019-09-07 04:06] ivanliu1989 commented on #1499
Hi jbrette, thanks for your reply. I think you are right, it's actually not a bug from kustomize but from the executable I am using from another tool. Sorry to post it here but really appreciated your help!

[2019-09-07 04:06] #1499 closed

[2019-09-07 07:07] jbrette commented on #1510
@jessesuen @dthomson25 @ian-howell @monopole @Liujingfang1

This is a begin of fix:
Creating a dummy transformer/plugin which is only performing the sheme.AddToScheme operation: [here](https://github.com/keleustes/kustomize/blob/armadacrd/plugin/rollouts.argoproj.io/v1alpha1/rolloutcrdregister/RolloutCRDRegister.go#L27)

As a result kustomize is using SMP for instance [here](https://github.com/kel

[2019-09-07 09:00] magicsong commented on #1503
@karlmutch the tool you recommended is great. however, in my condition, it is just a replacement of sed and still i need to change the patch each time

[2019-09-07 23:03] paulgmiller commented on #970
Has anyone brought this up at the kustomize sig meeting. Seems like it would be trivial to make a pr to push the discussion further but I agree it's not really clear why from @Liujingfang1  remote resources couln't be done.

[2019-09-07 23:14] paulgmiller commented on #970
Reflected this over to https://github.com/kubernetes/kubernetes/issues/82459 in case kustomize development has moved there.

[2019-09-07 23:39] paulgmiller commented on #970
Another fun example would be installing knative https://github.com/knative/serving/releases/tag/v0.8.1 Maybe should provide a kustomization.yaml but as is they provide a couple of yamls you can combine manually love to refernce them directly from my kustomziation.yaml rather than mirroring.

[2019-09-08 17:48] Arun-devsecops opened #1512 "kustomize logging"
Hello,
Is there a way to turn on logging in Kustomize to see what it is doing>? This is essentially helpful if we use github as the bases for kustomize. When kustomize is attempting to resolve bases it is helpful to find out what is going on.

Version: {KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T19:21:45+01:00 GoOs:darwin GoArch:amd64}

[2019-09-09 06:14] mr-karan opened #1514 "[Question] Override a label key and value"
Is it possible to override a single label key/value in `Deployment` / `Service` / `Configmap` together?

Consider I have a deployment with:

[code]

Can I simply apply a patch which updates the label `service=nginx` to `tier=proxy` and propagates the changes in `selector/matchLabels` and `template/metadata/labels` in Deployment and also wherever it is referred in `Service` ?

This would really com

[2019-09-09 10:44] nimohunter commented on #1502
@jbrette thanks! It's work! but do you know how to work in jetbrain goland ide?  I click the test button in goland IDE and return error, so i add a little code in `DefaultSrcRoot` . i know it's not good, but it's work..

[2019-09-09 12:30] mr-karan commented on #1498
I was just reading [this](https://github.com/kubernetes-sigs/kustomize/blob/eca5b8796f30ec6de88b9843e0d838aa1fac853d/internal/tools/README.md) proposal. Seems interesting. Any way I can start contributing to this? :) @Liujingfang1

[2019-09-09 15:37] liggitt commented on #1510
Note that `kubectl apply` behavior has not yet changed for custom resources. It still does client-side apply.

[2019-09-09 15:51] jack0 opened #1516 "inventory plugin fails with length error for large # of objects"
I tried the [inventory plugin](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/inventory_object.md) and found that it will fail if there are too many k8s objects because the annotation `kustomize.config.k8s.io/Inventory` exceeds the max annotation length. We are trying to use it with cli-experimental to automatically clean up old deployments but are unable to do so due to this limita

[2019-09-09 15:55] aodj commented on #119
To add my use case, I ended up here, and don't have `kustomize` installed since it's invocation is now part of `kubectl`.

I'm already working around Helm/Tiller to render out Helm charts locally, so having yet another required tool simply to handle globbing is frustrating.

[2019-09-09 16:15] jessesuen commented on #1510
Great point and thanks for highlighting this.

Although, I think kustomize's ability to SMP for the purposes of resource composition vs. `kubectl`'s ability to SMP for the purposes of applying/patching should be orthogonal issues.

In other words, I don't necessary agree that we must have consistent behavior for SMP in kustomize vs. SMP as part of kubectl apply, especially if it means waiting to c

[2019-09-09 16:47] jessesuen commented on #1510
Creating a dummy transformer/plugin which is only performing the sheme.AddToScheme operation: here

Nice. What a clever way of doing this!

However, I feel that a plugin approach to solving this, does not make for a good experience. It would require either getting the plugin upstreamed into kustomize core (which isn't scalable from a kustomize perspective), or having an external go plugin and deal

[2019-09-09 17:23] Liujingfang1 opened #1518 "detect conflicts in patches field"
The `patches` field can support applying patch to multiple objects. If multiple patches are applied to the same object, currently kustomize doesn't detect conflict. We need to add this detection.

[2019-09-10 18:04] Timoses commented on #1100
After some time with `kustomize` I still think something like a named modular approach would be great.

Although I have come to achieve a good structure of the k8s config repository using `kustomize`, it would sometimes be practical to be able to reuse some resources over a wide range of directories or even other repositories.

For example, if I am using many `Ingress` resources in my k8s config d

[2019-09-10 19:48] sbose78 commented on #970
I see an example with a remote `resources` file

[code]

https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#remote-targets

It doesn't work.

[2019-09-10 21:14] jcassee commented on #800
@jbrette Indeed, the current master has no problem with this kustomization.

@monopole I'll try and create a PR with this kustomization as a test case.

[2019-09-10 22:22] Liujingfang1 commented on #1516
@jack0 Yes, using annotation has this limitation. How many objects do you have that exceeds the limit? Can you do a manual clean up at the beginning? Then after that, run `prune` after every `apply`.

[2019-09-10 22:24] Liujingfang1 commented on #970
@sbose78 Which version do you use? I checked with HEAD and it works.

[2019-09-10 22:42] huguesalary commented on #1216
Is there any plan to merge this PR? That's a really valuable feature.

[2019-09-11 01:19] tkellen commented on #1216
If not a merge, some confirmation that this feature is out of scope or otherwise undesirable to the kustomize team would be useful for folks who are presently depending on the fork that adds it. At the moment I'm perhaps foolishly depending on/socializing this feature with my team (with fingers crossed it will someday appear in kubectl proper).

I'm sensitive to the fact that my needs are far from

[2019-09-11 07:31] SatwikBhandiwad opened #1523 "patchesStrategicMerge on clusterrole through overlays is not working"
This how the directory structure looks like:
[code]
contents of **base/cluster-role.yaml**:

[code]

contents of **base/kustomization.yaml**:

[code]

Overlay is created to patch the cluster role.

contents of **overlays/psp/cluster-role.yaml** :

[code]

contents of **overlays/psp/kustomization.yaml**:

[code]

When **patchesStrategicMerge** is applied, the output received is as below:

[code]

E

[2019-09-11 10:26] evrardjp commented on #970
@Liujingfang1 does that work for resources that aren't a base?

[2019-09-11 10:48] s10g opened #1524 "Please review the example docs/plugins/goPluginGuidedExample.md"
Could someone go through this example and update it to a working state? Fulfilling the requirements and following the guide verbatim does not work, and I am not able to work around it.

Here is an attempt at following the guide. I break "verbatism" at my second invocation of `go install`, where I set GO111MODULE=on (not shown in the example) which seems to at least bring me one step closer:
[code]

[2019-09-11 12:35] jack0 commented on #1516
We have over 300+ objects total (100s of deployments each with an associated ingress and service object) per deployment. Currently, we can't even create the initial inventory ConfigMap nor can we do a manual cleanup at the beginning. I wonder if we can encode the data currently in the inventory in an inverse bloom filter so that we can know for certainty which objects to prune...

[2019-09-11 13:34] jbrette commented on #1523
@SatwikBhandiwad This is the expected behavior. StrategicMergePatch relies, especially when merging list, on "natural keys" added as annotations to the go code. When you merge the container list of two deployments, SMP will rely on the

[code]

In the case of the `rules` of the ClusterRoleBinding, there is not such key, therefore SMP will replace the entire list. You should use json patch here, an

[2019-09-11 14:20] TechnicalMercenary opened #1525 "Example from docs/fields.md fails for inline patchesStrategicMerge"
I pasted the example yaml from `https://github.com/kubernetes-sigs/kustomize/blob/master/docs/fields.md#patchesstrategicmerge` into a Kustomization File and I'm getting an error...

My Kustomization FIle . ( simplified )

[code]

The Error....

[code]

The version of Kustomize I'm using...

[code]

[2019-09-11 16:02] Liujingfang1 commented on #1525
The inline patch is from HEAD, not available in 3.1.0.

[2019-09-11 16:52] ediphy-azorab commented on #1248
I would very much like to be able to build multiple overlays simultaneously from a single file - here's a slightly more minimized example:

[code]

[2019-09-11 21:23] erick-thompson commented on #1212
I agree - this issue should remain open until #834 is closed. Speaking of which, are we close to getting a Windows binary? It's been quite a while since we've had one, and it's starting to cause problems with users who want to use newer features but can't.

[2019-09-11 22:10] alexeldeib commented on #1212
https://github.com/kubernetes-sigs/kustomize/pull/1496 is the blocker. The tests run but the configuration needs some further tweaking I think. And we probably want some configuration on the Github side (?) to make the checks look correct for PRs.

I've been a bit squeezed recently on capacity, but would like to finish this soon.

[2019-09-11 22:12] alexeldeib commented on #1212
Since #834 is the known remaining issue, let's track status there for now. If we close that out and there are further issues to a windows binary we can track them in a meta-issue.

[2019-09-11 23:53] #399 closed

[2019-09-12 05:08] SatwikBhandiwad commented on #1523
Thank you @jbrette for the quick response.
I tried with json patch and it worked.

contents of **psp/kustomization.yaml** after using patchesJson6902:

[code]

contents of **psp/patch.yaml**:

[code]

[2019-09-12 05:08] #1523 closed

[2019-09-12 05:17] jbrette commented on #506
@jcassee @Shalucik  I think we finally nailed it. Have [a look here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0506).
and [in the automatic go tests](https://github.com/keleustes/kustomize/blob/allinone/pkg/target/variableref_test.go#L436)

Your need to use this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1316)

[code]

[code]

[2019-09-12 05:26] jbrette commented on #1248
@ediphy-azorab  Have a look at [that test environment](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1248_b)

The following [PR](https://github.com/kubernetes-sigs/kustomize/pull/1316) seems to be working:

kustomize build produces

[code]

[2019-09-12 14:41] jstralko opened #1527 "Issue patching in multiple volumes via patchJSON6902"
I'm trying to patch in (patchJSON6902) multiple volumeMounts to a base kustomization. However, when I patch in more than one volumeMounts I get errors. Here's my configuration:

kustomization.yaml
[code]
app/kustomization.yaml:
[code]

app/development.yaml:
[code]

create_volume_one.yaml:
[code]

create_volume_two.yaml:
[code]

But I get the following errors:
[code]
Here is the version of kustomiz

[2019-09-12 19:03] #1527 closed, assigned to nobody

[2019-09-12 22:37] huguesalary opened #1528 "vars""

[2019-09-12 22:37] #1528 closed, assigned to nobody

[2019-09-12 22:48] huguesalary opened #1529 ""vars.fieldref.fieldpath:" can not refer to `data.a_variable_with_a_dot.in_it`"
# TL;DR:

Kustomize Version: `{KustomizeVersion:3.1.0 GitCommit:95f3303493fdea243ae83b767978092396169baf BuildDate:2019-07-26T19:21:45+01:00 GoOs:darwin GoArch:amd64}`

It is not possible to refer to a `configMap` `data` map key that contains dots (`.`) in its name, such as ` mysql.cnf`

# Given the following `configMap`:

[code]

### This `kustomization.yaml` example works

[code]

`KUSTOMIZE_MYC

[2019-09-13 00:24] #1529 closed, assigned to nobody

[2019-09-13 08:41] pascalgn opened #1530 "Ideas on how to prevent accidental deployment to production?"
Say we have the following file structure:

[code]

And in both `env/staging/kustomization.yaml` and `env/production/kustomization.yaml` we have something like

[code]

Now we change `base/app1/app1.yaml`, for example we switch our proxy server from nginx to traefik. We will then deploy these changes to staging and check if they are working.

The problem here is, by changing files in the `base` dir

[2019-09-13 14:20] kissgyorgy commented on #1069
Note if you are using kubectl 1.15.3, it's still `env` and not a list as shown above.

[2019-09-13 16:06] mjovanovic0 opened #1531 "CRD system for OpenShift resources not interpreted as expected"
Hi all,

I have the following structure:

[code]

base/001-image-stream.yaml:

[code]

base/kustomization.yaml:

[code]

test/001-image-stream.yaml:

[code]

base/kustomization.yaml:

[code]

base/crd/imagestream.json: (Extracted and coverted parts from OpenShift Swagger API)

[code]

And when I execute:

[code]

This is output:

[code]

While expected output is:

[code]

Now if I understand CRD m

[2019-09-13 17:40] #1442 closed

[2019-09-13 20:56] jbrette commented on #1531
@mjovanovic0 The is linked to the fact that JMP is invoked instead of StrategicMergePatch. Have a look at #1510 https://github.com/kubernetes-sigs/kustomize/issues/1510.
Have a look at the registry mechanism using scheme.register for [Argo Rollout CRD](https://github.com/keleustes/kustomize/blob/armadacrd/plugin/rollouts.argoproj.io/v1alpha1/rolloutcrdregister/RolloutCRDRegister.go#L29). I'll try

[2019-09-13 21:42] hk-vmg opened #1533 "apply -k --dry-run should not require server auth"
[code]

But this works fine after loading valid tokens for Kubernetes access. This implies that something is trying to contact the K8s API server even when running in dry-run mode. It would be extremely useful if it were possible to test kustomize without server access. (The existing behavior makes lots of sense for --server-dry-run.)

[code]

[2019-09-13 22:28] #1504 closed

[2019-09-13 22:28] #1508 closed

[2019-09-13 22:31] monopole commented on #1508
Thanks guys, my fault.

[2019-09-13 22:43] jbrette commented on #1508
@monopole Cool, this is one major step in being  able to use built in plugins, bring a lot of flexibility and still keep the kustomization.yaml simple. I'll revisit the KEP.

[2019-09-14 04:34] jbrette commented on #1531
@mjovanovic0: Have a look at that environment; [CRDRegister](https://github.com/keleustes/kustomize/tree/armadacrd/examples/crds/openshift-api)

By using the kustomize v3 external go plugin, you can kind of solve your issue

[code]

[code]

We will most likely have to write to KEP to do that efficiently

/cc @monopole @Liujingfang1 @liggitt  @jessesuen

[2019-09-14 10:28] nabadger commented on #1530
You could use branches:

- `master` - stable / latest
- `staging|qa`
- `production`

It obviously adds extra steps in terms of PR's, but gives you this protection.

[2019-09-14 10:30] nabadger commented on #1530
Also see https://kubectl.docs.kubernetes.io/pages/app_composition_and_deployment/structure_branches.html

I guess the issues / concerns here are how you actually promote changes. For example do you always go via `staging` to get `production`.

There's obviously going to be prod specific updates you won't require in other environments (prod-specific resource settings for example).

Going straight f

[2019-09-14 16:13] mjovanovic0 commented on #1531
I'm having trouble compile-ing `OpenShiftCRDRegister.so` for Kustomize v3.1.0 - I get error:
[code]

Are you able to instruct what I need to do to compile it properly?

[2019-09-14 16:49] jbrette commented on #1531
@mjovanovic0 Thanks, one more thing to put in the KEP. "How to compile a plugin which go module dependencies are overlapping with the default kustomize modules"

I just realized that if you try to build outside the GOPATH is does not work for me either, and I have the same issue that you listed.

But if you build from your GOPATH as described bellow, it seems to work:

[code]

[code]

[code]

[cod

[2019-09-14 16:56] mjovanovic0 commented on #1531
Awesome man. Thank you very much :)
Working like a charm :)

[2019-09-14 16:56] #1531 closed

[2019-09-14 22:51] jaypipes opened #1536 "Install from HEAD instructions contain wrong link"
`docs/INSTALL.md` contains the following under the [Install from the HEAD of master branch](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#install-from-the-head-of-master-branch):

[code]

No such path exists. I believe it should be:

[code]

[2019-09-14 22:55] jaypipes commented on #1536
I realized that you need to use `GO111MODULE=on` to install the "versioned import paths"...

I'll submit a PR to add a note about that in the docs.

[2019-09-14 22:55] #1536 closed

[2019-09-15 17:48] xmlking opened #1538 "applying commonLabels for top level overlay resources only"
I have `resources` in `bases` and in `overlays`
I want to apply some `commonLabels` for `resources` defined in specific `overlay` only, **not** to all `resources` in `bases`
is it possible?

[code]

example: https://github.com/xmlking/micro-starter-kit/blob/201aa8c9c70496ae9aa424d8dc2b6ec6fc4f7068/deploy/overlays/consul/kustomization.yaml#L6

Testing
get [repo](https://github.com/xmlking/micro-sta

[2019-09-15 19:47] xmlking commented on #1026
I am also trying to patch my `Deployments` with   generated `serviceAccountName` with prefix/suffix , which is not working.
[overlays/k8s/kustomization.yaml](https://github.com/xmlking/micro-starter-kit/blob/49e0ef746da465daf8c6a376a920ad3b60f6234b/deploy/overlays/k8s/kustomization.yaml)

[overlays/k8s/patches/micro-sa.yaml](https://github.com/xmlking/micro-starter-kit/blob/49e0ef746da465daf8c6a37

[2019-09-17 08:49] pascalgn commented on #1530
Thanks for the reply! We were thinking about branches, but as you said, it depends on how you're going from staging to production. For us it would add too much complexity, I think, as sometimes we will try out multiple things on staging and we cannot simply merge everything. So then we would need to cherry-pick, which could lead to conflicts and/or confusing history quite quickly, but not sure yet

[2019-09-17 13:03] #249 closed

[2019-09-17 20:06] phillebaba opened #1540 "Var reference does not work in volumes"
Var reference does not work when used in volumes.
[code]

When kustomizing this manifest with a varible that references a Service ClusterIP the following is outputed.

[code]

I would expect the `$(NFS_SERVER)` in the volume to also be replaced with the ClusterIP. I need this as there are currently issues with using the service dns to resolve the ip of a nfs server running in the same cluster.

[2019-09-17 21:54] jbrette commented on #1540
@phillebaba You can solve that the complicated way by changing the variable reference configuration.
Have a look [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1540_b)
and especially at the varreference.yaml kustomize config file

[code]

or you can do it the easy way leveraging this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1217). Check how much mor

[2019-09-18 16:38] jbrette commented on #1501
Don't think this is a bug nor a feature request. Have a look at a mix of generator and patches [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1501). This shows you how to add individual labels.

This is the output of the kustomize build command
[code]

[2019-09-18 18:20] MxNxPx opened #1543 "multi-namespace issue with kubectl version 1.14-1.16"
Hello,
When attempting to run through the documentation for multi-namespace setup here:
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/multibases/multi-namespace.md

Using (kubectl v1.14.0, 15.0, and v1.16.0) this command to build:
`kubectl kustomize $DEMO_HOME`

I get the following:
Error: rawResources failed to read Resources: Load from path namespace-a failed: 'namespace-a' m

[2019-09-18 18:32] MxNxPx commented on #1543
Also tried it with kustomize (v2.0.3) directly and got the same error:

`# kustomize build $DEMO_HOME`

[2019-09-18 19:56] jbrette commented on #1543
@MxNxPx kubectl 1.16 is still using kustomize 2.0.3

[2019-09-18 23:40] rochacon commented on #1533
@hk-vmg have you tried offline rendering using `kubectl kustomize` or straight with `kustomize` binary instead?

Also, not sure this issue should be here or on kubernetes/kubernetes repo, since kubectl itself lives there.

Kind of related to https://github.com/kubernetes/kubernetes/issues/77332

[2019-09-19 17:41] MxNxPx commented on #1543
I proposed a change to the documentation so it would work with kustomize 2.0.3 and above:
https://github.com/kubernetes-sigs/kustomize/commit/230ad0652a7375c6d374c353f8e8db3193e1557d

[2019-09-19 18:01] phillebaba commented on #1540
Yes you are right that this is not a bug. In hindsight I realize that I should have spent more time researching my issues. Your example solved my issue, and I must thank you @jbrette as they were really detailed and easy to understand.

I guess the reason I thought this was a bug was because I dont really understand why kustomize does variable replacement in some fields by default and not in other

[2019-09-19 18:08] hk-vmg commented on #1533
Thanks - this is clearly a duplicate of  kubernetes/kubernetes#77332

[2019-09-19 18:08] #1533 closed

[2019-09-19 19:37] Devin-Holland opened #1545 "Nulling namespace of ClusterRole subject ServiceAccount"
Kustomize 3.0.3

I'm trying to apply a ClusterRole and a ClusterRoleBinding for a service account for the kubernetes  dashboard.  The service account is created outside of our kustomize but I'm trying to add the ClusterRole to the service account. I also have a policy in the namespace. I have the following specifications

[code]
[code]
[code]
And my kustomization is:
[code]

When I run kustomize b

[2019-09-19 19:59] Devin-Holland commented on #1545
This actually seems fixed in 3.2 was it a known issue?

[2019-09-19 21:44] jbrette commented on #1545
@Devin-Holland Your bug looks like a dup of #1377  https://github.com/kubernetes-sigs/kustomize/issues/1377. It appeared when the ServiceAccount was not listed in the list of resources.

The associated PR are here:
- Update Namespace and Name simultaneously #1379
- Force the namespace value for the "default" service object. #1400

We recreated your environment [here](https://github.com/keleustes/k

[2019-09-20 09:45] Hiteshchaudhari1 opened #1546 "Can you please make this available for windows as well, like it was in v.2.0.3?"

[2019-09-20 13:03] Devin-Holland commented on #1545
Yes this seems to be the same and fixed when we updated our version.

Thank you!

[2019-09-20 13:03] #1545 closed

[2019-09-20 14:30] bnoorduin commented on #388
Does anyone know of a solution for this other than envsubst/jinja/confd? I agree that you should avoid a conf that has variables in it, this way the kustomize build can be applied outside a pipeline without setting environment variables. Somehow I find it puzzling that this use case has not been addressed. I'm moving from a confd config to kustomize but with this limitation really see no point.

[2019-09-20 16:30] pyaillet commented on #1431
I think it's already possible to instruct kustomize to use a specific directory by using the environment variables used by golang itself, see [here](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/fs/confirmeddir.go#L33) and [there](https://golang.org/pkg/os/#TempDir)

However, I would too like to see some remote build cache implemented.
I have tried a naive implementation of such a t

[2019-09-20 18:16] vreon commented on #1538
Yes, you can scope commonLabels to a subset of resources by putting them in a subdirectory and treating that as another base.

[code]

[2019-09-20 19:52] nabadger commented on #1530
We also pre-render like this - it's very useful as it allow you to run golden tests (i.e. against expected output). Helpful when testing kustomize upgrades.

You could also look at https://github.com/bitnami-labs/sealed-secrets - this allows you to commit secrets (which are really secret), and the in-cluster controller does the de-cryption.

[2019-09-20 20:02] #1538 closed

[2019-09-20 21:28] hoangelos opened #1548 "v3.2.0 is missing custom generator plugins"
When I upgraded to 3.2.0.  Suddenly my customize plugins broke.

`unknown flag: --enable_alpha_plugins`

[2019-09-21 00:45] #1548 closed

[2019-09-21 00:45] hoangelos commented on #1548
It was a mismatch of the cmd vs the library.

[2019-09-21 00:48] hoangelos opened #1549 "idna version mismatch"
I upgraded to v3.2.0, and when I ran

`$ kustomize build --enable_alpha_plugins .
Error: loading generator plugins: plugin /Users/halliday/.config/kustomize/plugin/plm.olp.here/v1/kustomizesops/KustomizeSops fails to load: plugin.Open("/Users/halliday/.config/kustomize/plugin/plm.olp.here/v1/kustomizesops/KustomizeSops"): plugin was built with a different version of package golang.org/x/net/idna`

[2019-09-21 02:00] hoangelos commented on #1549
I was able to solve this by figuring out which version of the idna was being pulled when I installed kustomize.  A bit fragile for sure.

[2019-09-21 02:01] #1549 closed

[2019-09-21 07:41] williamthiago opened #1551 "Patch replacing yml instead of merge it"
kustomize build is removing part of my yaml when I try to change another key (it's a list of hosts)

I have the following structure and files:

[code]

base/gateway.yaml
[code]

overlays/dev/gateway.yaml
[code]

I wish the result of the build was only change some.host.com to another.host.com, but the output is removing the /spec/servers/port key, making it invalid:

[code]

Is it a bug or this is

[2019-09-21 11:32] gobengo opened #1552 "Error kustomize building remote git url with commit ref"
[code]

[2019-09-21 17:41] #1010 closed

[2019-09-21 18:02] bzub commented on #1552
Works for me on kustomize `v3.2.0`, Darwin GOOS, although I did have to quote the remote argument to prevent shell complications.

[code]

[2019-09-21 19:35] atombender opened #1553 "Using overlay-provided secrets in a base"
I have a deployment that needs multiple values from a secret. The deployment is in my base, and the secret values are defined in overlays. That's fine.

But the secret doesn't exist in the base, which means that if my deployment has this, it's making an assumption about its name:

[code]

Ideally this should be `name: $(SECRET_NAME)`, but that isn't allowed because the secret variable is defined b

[2019-09-22 04:51] ivanseidel commented on #1503
I think this is something that needs attention. I came to kustomize because I wanted simplicity, but it seems it only supports inheritance but not templating (kubetpl does a good job on it, but mustache would do a good job as well).

I just want to replace some vars prior to building, and without changing the file.

The first phrase at kustomize says:

This isn't true, because a simple `kustomize

[2019-09-22 06:12] bzub commented on #1553
Have you tried just using the name of the secret you generated (`core`) in the deployment?

I tested it out and everything looks good that way. In my case my secret name is (`mysecret`) and you can see the name gets updated in the base deployment.

`$ cat base/deploy.yaml`
[code]

`$ cat base/kustomization.yaml`
[code]

`$ cat overlay/kustomization.yaml`
[code]

`$ kustomize build overlay`
[code]

[2019-09-22 06:18] bzub commented on #1503
The value in kustomize, and what sets it apart from other tools is because everyone who runs kustomize build on the same resources get the same result. If you want to do templating there are plenty of tools for that.

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#unstructured-edits

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.m

[2019-09-22 07:24] jbrette commented on #1551
This conceptually a dup of # https://github.com/kubernetes-sigs/kustomize/issues/1523.

The SMP to work within a list you need to have a natural key to let the patching algorithm figure out which index in the slice needs to be updated during the merge. If you check container list of Deployment and even environment variables within each element of that list, you will find a "name".

In the case of

[2019-09-22 07:30] jbrette commented on #1553
You can address your problem two issues:
- Has show above with using variables nor patches, and it works out of the box. Check [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1553_b)
- Following what you had in mind using, by using patch and variable. It is a little more complicated but still works. Check [here](https://github.com/keleustes/kustomize/tree/allinone

[2019-09-22 11:59] #230 closed

[2019-09-22 14:03] magicsong commented on #1503
@bzub helm is not a CI/CD tool at least for me. it is heavy and i am still uncomfortable with its C/S architecture - why i need a server when i just want "apply a yaml"

[2019-09-22 16:19] williamthiago commented on #1551
Thanks, @jbrette for this amazing response.
I will go with JMP

[2019-09-22 16:19] #1551 closed

[2019-09-22 16:33] trajakovic commented on #1347
@jbrette I can confirm that latest released version `Version: {KustomizeVersion:3.2.0 GitCommit:a3103f1e62ddb5b696daa3fd359bb6f2e8333b49 BuildDate:2019-09-18T16:26:36Z GoOs:darwin GoArch:amd64}` fixed this error.

Thank you once again

[2019-09-22 16:33] #1347 closed

[2019-09-22 16:51] micke commented on #318
I would also like to see this being reopened. I've been using a configmap literal as a workaround but it adds a lot of unnecessary complexity...

[2019-09-22 17:10] atombender commented on #1553
@jbrette Thanks. That alternative solution is complicated and unintuitive. Too many dependency declarations spread out between multiple files.

Where is `varreference` documented? Why can't it be declared inline, without `configurations`? I'm not sure what it does. From what I can see, it _whitelists_ `secretKeyRef.name` so it is allowed to refer to a variable. If that is the case, why is this nec

[2019-09-22 17:33] atombender commented on #1553
As an aside, the amount of boilerplate in each "environment" (prod, staging, etc.) is not great. Here's my current `staging/kustomization.yaml`:

[code]

With the exception of the namespace, common labels and `_ENV` vars, this will in fact be identical for `production/kustomization.yaml`.

Ideally, I'd move this into `base/kustomization.yaml`, but it doesn't have the secret data. From what I can t

[2019-09-22 17:37] jcassee commented on #1553
@atombender Not sure if I'm making your problem easier, but I find it easiest to reason about Kustomize if I assume bases are also independently usable. Even if just for spinning up a development version on a laptop. This may mean introducing dummy/fake values for this use-case.

In the case, it seems the simplest solution is to use a configMap/SecretGenerator in the base and reference it from the

[2019-09-22 17:50] atombender commented on #1553
@jcassee Thanks, I didn't know about `behavior: merge` since there's almost no documentation for this (that key is not [documented where it should be](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/builtins.md)).

This solves things much better than the previous answer — that means the base can set up all the secrets, and the overlays just supply the values.

I'm not sure ho

[2019-09-22 17:54] jcassee commented on #1553
Yeah, `args` is more difficult. Don't really have a generic solution for you there without a specific instance of your problem.

In general, though, I have not seen many Docker images use `args` in the way you describe. Or they allow environment variables instead of them, like you hesitate to introduce. (For example, Python's gunicorn webserver uses a generic `GUNICORN_SOME_VAR=foo` = `--some-var=

[2019-09-22 18:23] tkellen commented on #318
Add a another request to the pile. I am doing the same seemingly contorted dance of generating a configmap that will never be used so I can reference values in it. If a PR would be considered I would be happy to implement this.

[2019-09-22 19:20] jbrette commented on #1553
@jcassee @atombender @bzub Our project went through the exact same path of figuring out what should be done with helm and what should be done with kustomize

The first issue we encountered was the complexity of have using variables, which could only  be strings and in very limited number of place. This is why we implemented this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1217).

The se

[2019-09-22 19:58] atombender commented on #1553
@jbrette I agree with the challenges you addressed with those PRs, and I really like the value file idea. Thanks for creating that example! It's more explicit and less boilerplate-encumbered than what's been suggested so far, and makes much more sense to me.

That said, what are the chances that these PRs will be accepted and merged in the near future? I'm not getting any impression from the discu

[2019-09-22 20:53] bzub commented on #1553
I guess I don't see what's hard or complex about using a secret name in resources that matches the name in the secretGenerator (`core`).

[2019-09-22 21:02] atombender commented on #1553
@bzub It's not about complexity. It's about being explicit about dependencies, which should only point in a single direction. Overlays should refer to bases, but bases should never refer to overlays.

As @jcassee pointed ut, it's a good idea for bases to be valid even without its overlays, which is not true about your suggestion. Putting the secret _in_ the base and then using `behavior: merge` to

[2019-09-23 06:38] Lawouach commented on #157
Hello,

I'm facing the same issue of matchLabels interferring with my networkpolicy definition and I'm confused by the state of things. I see they are still targeted indeed https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/commonlabels.go#L148 But I'm wondering if there is a workaround or if I have to basically drom commonLabels latogether?

Thanks,

[2019-09-23 21:48] max-sixty commented on #1530
We found an approach of splitting up the change 'vectors' into two repos very helpful:
1. Your app, containing all your code, dependencies, etc
2. Your deployments, containing multiple kustomize deployments

These are two different vectors—you can change your app without changing what version is deployed. In particular, when you're ready to deploy to production, you can change the app version / ta

[2019-09-23 22:07] max-sixty opened #1555 ""bases" in Readme?"
The Readme refers to `bases`—is that correct? I had thought they were deprecated.

![image](https://user-images.githubusercontent.com/5635139/65466439-d8e00c80-de2c-11e9-8083-6783644868ad.png)

[2019-09-24 09:41] reegnz opened #1556 "`kustomize edit add base` command adds dir as resource and not base"
# Version
[code]

# Expected behavior
The command `kustomize edit add base ../base` should add a base to the kustomization file:
[code]

#Actual behavior
Running the `kustomize edit add base ../base` command results in this:
[code]

# How to reproduce
[code]

[2019-09-24 15:39] linkvt commented on #1556
Hi, see https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v2.1.0.md#resources-expanded-bases-deprecated

[2019-09-24 18:18] reegnz commented on #1556
Would it be possible for kustomize to explicitly warn about these deprecation on stderr?

[2019-09-24 18:40] jamiely commented on #306
Looks like documentation for `$patch` is here, in case it helps anyone: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md

[2019-09-24 23:54] tprobinson commented on #119
Would it be possible to get this feature re-added as an extra key? It would satisfy everyone to keep the current behavior of `bases`, `patches`, and `resources` and add additional keys like `baseGlobs`, `resourceGlobs`, and `patchGlobs` that do allow wildcards.

To be clear, I don't *like* this solution, if it were me I'd rather just allow globs in the keys themselves and I personally agree with e

[2019-09-25 01:27] tbarrella commented on #1119
/remove-lifecycle stale

[2019-09-25 11:30] dbarrosop commented on #1256
Is there an actual solution for this? I am having the same issue

[2019-09-25 11:32] benjamin-bergia commented on #1256
Yep, it's part of jsonpatch http://jsonpatch.com/#json-pointer

[2019-09-25 11:43] dbarrosop commented on #964
I just tried this and found various problems:

1. I seem to be unable to reference annotations with slashes like the one in the example of this issue. The slash in the annotation name is processed and turned into a subkey.
2. If I ignore that issue and try to apply it with `kubectl -k` I get the error: `error: unable to recognize "build/cloud/kubernetes/overlays/beta": no matches for kind "Values"

[2019-09-25 12:52] tkellen commented on #1256
Just to put the solution right here directly, use `~1` to represent a `/`

[2019-09-25 13:15] fbiville commented on #963
/remove-lifecycle stale

[2019-09-25 16:09] ian-howell commented on #1226
/remove-lifecycle stale

[2019-09-25 16:11] ian-howell commented on #1226
I'm going to go ahead and do some work on this change, but it seems like it will directly conflict with some of the stuff in [the travis pre-commit script](https://github.com/kubernetes-sigs/kustomize/blob/master/travis/pre-commit.sh).

@monopole @Liujingfang1 Do either of you guys have any opposition to this change? I think this will dramatically smooth out the process for community developers.

[2019-09-25 18:35] huguesalary opened #1563 "`env.valueFrom.secretKeyRef.name` not changed in overlay when using `namePrefix`"
# The issue

Hi,

Given the following structure:

[code]

When running `kustomize build` in the **`overlay`** directory, the `env.valueFrom.secretKeyRef.name` of the **Deployment** `another_deployment_added_by_staging_base` **is not properly updated to the name automatically generated by kustomize for this secret**.

I was able to identify the issue is caused by my use of `namePrefix` in both `sta

[2019-09-25 19:48] jbrette commented on #1563
This is a dup and has been fixed with kustomize 3.2.0

[code]

[code]

[code]

[2019-09-25 20:01] huguesalary commented on #1563
Indeed, 3.2.0 fixes it, thanks

[2019-09-25 20:01] #1563 closed

[2019-09-26 04:16] jgustie opened #1567 "commonLabels creates selector for v1beta1 resources"
I have an application that uses the older `apps/v1beta1` version of `StatefulSet`; for these resources the `spec/selector` is not required and `spec/selector/matchLabels` will default to `spec/template/metadata/labels`. [This behavior](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#statefulsetspec-v1beta1-apps) is also [documented](https://kubernetes.io/docs/reference/generat

[2019-09-26 07:34] linkvt opened #1568 "Less restrictive selectors for patching"
Hi,

we wanted to patch three PVs with a single patch as they all need the same configuration. When trying to do this we found out, that we have to specify three patches with almost the exact same content.

IMO patches should not have such strong requirements on the selectors, they should just find all that match and patch all of them.
The restriction [specified here](https://kubectl.docs.kubernet

[2019-09-26 09:53] emas80 commented on #1009
Hi, just getting back to add another very annoying issue.

The labels are applied also to the service selector, this means that until some new pods created from the new deployment are running and healthy, the new service does not have any end points!
Istio was very unhappy when we've tried this.

It makes the migration of a production setup practically impossible without any downtime.

We are addi

[2019-09-26 13:37] alexppg commented on #1039
/remove-lifecycle rotten

[2019-09-26 13:39] michaelkrupp commented on #205
@ralgozino there is no `patches` anymore in latest kustomize. Only `patchesJson6902` and `patchesStrategicMerge`.

[2019-09-26 13:41] alexppg commented on #1039
So I've made a plugin that does what we talk about here. It uses an external program called yq, which is a yaml parser.
There's a standard way of handle this? Do you guys want people to send you PR with plugins or you prefer them to have in on their own repositories? I haven't found documentation about this, sorry if it exists.

[2019-09-26 14:36] michaelkrupp commented on #1009
I am also very much in favor of not applying `commonLabels` to selectors by default for the reasons mentioned above. Especially after the selectors have become immutable in current Kubernetes Deployments and DaemonSets.

As @taha-au [mentioned](https://github.com/kubernetes-sigs/kustomize/issues/1009#issuecomment-504128346), splitting label and selectors would allow much better control.

The follo

[2019-09-26 15:21] bzub commented on #1568
Hi @linkvt have you tried the transformations detailed in the [patch-multiple-objects document](https://github.com/kubernetes-sigs/kustomize/blob/v3.2.0/examples/patchMultipleObjects.md)?

[2019-09-26 15:40] jbrette commented on #1567
Have a look here for the [kustomize 3.2 out of the box solution](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1567_b). Also this currently the only solution (and some member of the community thinks is should stay this way), you will soon see as soon as you start to create staging and production overlays, that is unmaintainable because you have to copy/paste the transf

[2019-09-26 15:47] benjamin-bergia commented on #1009
The nice thing with commonLabels is that it's dead simple. The patches syntax is nice but more complex. Why not just whitelisting labels for selectors as in:
[code]
Then if there are different services that have different selectors, maybe they deserve their own kustomization.yml file?

[2019-09-26 15:52] jbrette commented on #817
Have a look here for the [kustomize 3.2 out of the box solution](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0817_b). I personnaly find that it is unmaintainable because you have to copy/paste the transformer.yaml in base/staging and production in order to change the labels you want to apply.

If you use this [PR Skip kustomize transformers for paths](https://github.

[2019-09-26 16:27] wichert commented on #642
This should not be marked still I suspect

[2019-09-26 17:08] michaelkrupp commented on #1009
with this, you would still not solve the problem of having them applied to sections where you do not want them applied to. @sascha-coenen explained the issue of inheritance above.

Making it explicit avoids these cases, as you yourself state where you want which label applied to.
This also avoids unexpected behavior, as we currently see with orphaned resources om older Kubernetes or failed deploym

[2019-09-26 18:45] jcassee commented on #642
/remove-lifecycle stale

[2019-09-26 19:15] richardmarshall commented on #817
@jbrette While I also have concerns about the maintainability of configuring internal plugins in this way, copying the transformer.yaml file around for bases and overlays isn't necessary.

Since the `transformers` (and `generators`) fields of the kustomization file are handled using the resource accumulator the paths specified there can be kustomization directories. This enables setting up a commo

[2019-09-26 19:36] jbrette commented on #817
@richardmarshall It flat out does not work. This is what I'm try to tell since we started the discussion.

1) You may want to reuse the fieldspec part of the transformer but not the "label/nameprefix or namespace. So you have to copy/paste all the fieldspec just to change one line or two.

2) When you load a subdirectory, kustomize looks for the resources field and accumulate.

[2019-09-26 19:42] jgustie commented on #1567
For most of my work I am on the GKE release train so 1.16 is still a ways off ;)

Also, just to be clear: this is not an issue for resources that do not give special meaning to an empty selector. The problem I am concerned with here only arrises when an empty selector is created during the transformation using only the new labels and it does not account for the special meaning of the previously em

[2019-09-26 20:28] jgustie commented on #1567
I opened PR #1569 that I believe address this specific issue.

[2019-09-26 21:24] richardmarshall commented on #817
@jbrette It actually does work, at least the pattern of what I was trying to convey works, validated that it does before providing that example idea 😄

The transformer and generator configs are loaded using a completely [independent accumulator](https://github.com/kubernetes-sigs/kustomize/blob/fa1af6f51e33c024d1f55f8f01049de9514d6ff4/pkg/target/kusttarget.go#L304) from the one that is used for re

[2019-09-27 00:44] rochacon opened #1572 "New release tag format seems to break go modules"
Last two release tags have prefixes `pluginator/` and `kustomize/` and this seems to break Go modules normal usage. Could we also provide normal tags for main kustomize releases, e.g., `v3.2.1`?

[code]

[code]

Note: This also makes release links less obvious. Instead of going to `https://github.com/kubernetes-sigs/kustomize/releases/<version>` you must add the prefix and escape the additional sl

[2019-09-27 01:06] rochacon commented on #1572
Binary embedded version format also looks different:

[code]

Maybe this should have been released as v3.3 to highlight the changes, since this can break integration scripts? (It broke some of my CI scripts after the minor upgrade)

[2019-09-27 01:22] monopole commented on #1572
The goal is
 * kustomize/go.mod represents packages for clients (e.g. kubectl, kops, kubeadm, kubeflow, etc)
 * kustomize/kustomize/go.mod is the client known as kustomize, which will depend on released versions of the module upstairs, and serve as in-repo validation to defining that API.  We could have made a toy example binary, but might as well use the real thing.

The term `kustomize` is appea

[2019-09-27 02:02] rochacon commented on #1572
Thank you for explaining @monopole. My use case fits the one similar to kubectl, I'm embedding kustomize into an internal tool.

If I understood this correcly, I believe this refactoring should have been released as v3.3, not because of the version string (this is not critical and easy to fix, don't worry in reverting it), but because it broke the way to consume its packages in a minor release, wh

[2019-09-27 10:37] adrian-gierakowski opened #1574 "add configMapGenerator option to force use of 'I-` instead of `|` when using `files`"
given the following `kustomization.yaml`:
[code]

and a `var1` file in the same directory:
[code]

running kustomize build:
generates the following ConfigMap:
[code]

I'd like to be able to force use of `|-` to strip the whitespace (in this case the trailing newline) from the value. Many devs use editors which add a newline at the end of a file on save, but most of the time the newline is not desi

[2019-09-27 13:35] jgustie commented on #1572
Is it intended that the binary name on the release changed to `kustomize_kustomize.v3.2.1_linux_amd64` from `kustomize.v3.2.1_linux_amd64`? This breaking some automation that depended on the old URL for me.

[2019-09-27 17:25] chrisjohnson commented on #759
/remove-lifecycle rotten

[2019-09-27 22:03] monopole commented on #1572
@jgustie yes, that was intentional.

The client and the API must not be in the same module, if we're to adopt strict semver with the Go API module.  And without strict semver, its simply dangerous to have any automation downloading new versions.

@rochacon PTAL at  https://github.com/kubernetes-sigs/kustomize/pull/1575, feel free to chime in.

[2019-09-27 22:05] monopole commented on #1572
@jgustie BTW, sorry!  Something has to change here precisely because of these kinds of automated dependencies.

[2019-09-27 22:11] jgustie commented on #1572
No worries, I just want to make sure I was doing the right thing updating my download URLs.

[2019-09-27 22:23] #1367 closed

[2019-09-28 13:22] #1023 closed

[2019-09-30 14:55] #800 closed

[2019-09-30 14:55] jcassee commented on #800
Thanks @jbrette!

[2019-09-30 16:16] jcassee commented on #1546
[Version 3.2.1](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.2.1) has a Windows binary release.

[2019-09-30 16:32] cabrinha commented on #318
It seems that defining environment variables for containers, with different values per environment would be one of the first problems solved with a templating tool.

Somehow, this is still a very confusing topic with almost no documentation or usage examples.

What is the _right way_ to have environment variables configured in different environments/overlays using Kustomize?

[2019-09-30 17:29] tkellen commented on #318
@cabrinha there is no right way, this is considered an antipattern within kustomize. here is a relevant section in the documentation:
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables

The basic concept is that within a given manifest (that is, the output of `kustomize build`), you can mix and match values betwe

[2019-09-30 18:56] jonathanunderwood commented on #318
@tkellen that's a great summary of the situation, nicely put.

[2019-09-30 20:26] jbrette commented on #850
@yujunz Just realized that this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1217) was fixing you problem. Have a look [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0850).
This leverage the configmapgenerator env file, the common annotations ...and the autovariable

[2019-09-30 21:33] jbrette commented on #318
@ssboisen @jonathanunderwood @tkellen @ian-howell @cabrinha Another occurrence where I think that this [Automatic Creation of 'vars:' and 'varReferences:' sections](https://github.com/kubernetes-sigs/kustomize/pull/1217)

Have a look at: [issue 0318](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0318) but mainly at [issue 0318 b](https://github.com/keleustes/kustomize/

[2019-10-01 07:29] dantman commented on #1303
/remove-lifecycle stale

[2019-10-02 02:22] kvokka opened #1580 "pre-upgrade Hook"
Given the scenario, when kustomization contains only DB migration and deployment. The good practice is to run the migration first and on success run the deployment.

The possible option is to control it on the client with 2 kustomize executions.

At this moment the idea of creation the plugin, which wrap up all the migration and deployment in some Job and ship both in order.

With Helm there is po

[2019-10-02 09:03] jonathanunderwood commented on #1250
/close

[2019-10-02 09:03] #1250 closed

[2019-10-02 19:31] kvokka opened #1582 "`kustomize edit add label` mutate the bases"
Initial content con `kustomize.yaml` file

[code]

After execution `kustomize edit add label foo:bar`:

[code]

[2019-10-02 19:35] bzub commented on #1582
Hi @kvokka. `bases` [has been depreciated](bases) and all bases + resources can be specified under `resources`. That's probably why `kustomize edit` behaves this way.

[2019-10-02 19:39] kvokka commented on #1582
Hi @bzub
Thank you for such a quick response. And I shave to mention, that link, which you just provided produce empty result.

Also on the official kubectl [site](https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#bases) this is in place also.

Hope that this issue may be useful for other developers also.

[2019-10-02 19:43] bzub commented on #1582
Fixed the link to https://github.com/kubernetes-sigs/kustomize/blob/master/docs/fields.md#bases

[2019-10-02 19:45] kvokka opened #1583 "inline set for CLI run of `kustomize build`"
## Feature request

I need to be able to provide some always changing value to the label. Initially i have this value in ENV variable.

With `kustomize build` there is no option to do it.

Am I right, that the only way to use this functional now it is write custom plugin? Maybe there is some embedded option?

Thank you.

[2019-10-02 19:48] bzub commented on #1580
I don't think kustomize will get built-in support for this. Compared to helm, kustomize is meant to be a building block tool rather than managing the lifecycle of k8s deployments as helm tries to offer.

Kustomize does offer creating an [inventory object](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/inventory_object.md) which can be used by another tool to manage deployment lifecy

[2019-10-02 19:56] monopole commented on #1406
@srfrnk as commented on #1407

we're looking at this and related issues to try to come up with a more flexible declarative approach. seriously, thanks for helping to inform it.

- secrets are indeed a pain to declarative config, but kustomize doesn't require that they be stored in version control. PTAL at the two secret generator plugins in these [examples](https://github.com/kubernetes-sigs/kusto

[2019-10-02 19:56] #1406 closed

[2019-10-02 20:01] #1582 closed

[2019-10-02 20:01] kvokka commented on #1583
This [link](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables) gave me the answer.

[2019-10-02 20:01] #1583 closed

[2019-10-02 20:52] monopole commented on #318
@tkellen Thanks for the summary. As you've alluded, there's no point to letting kustomize become  yet another templating system or domain-specific language.   Plenty of choices there already.

We want to see if its possible to maintain the base YAML in such a way that it's entirely functional - i.e. you can apply it to a cluster and it works.  Any mutation mechanism that requires one to place doll

[2019-10-03 02:41] Rukeith opened #1584 "Transformer Configurations is not working"
I got a `networkPolicy` YAML file and I want to custom Transformer Configurations to skip `commonLabels` to not create at egress `podSelector`.
But I found the default Transformer Configurations has already skipped this. But `commonLabels` still override egress podSelector. And then I created config to specify skip this, but it still not working.  Here are my files and my command.

**command**：`ku

[2019-10-03 09:09] matt-smith commented on #944
a small workaround is to run `git config --global url."https://${GITHUB_TOKEN}@mygithub.com/".insteadOf "https://mygithub.com/"` prior to running the `kustomize build`. Works well in CI if you trash the workspace after each run

[2019-10-03 09:17] lopezator commented on #702
I am still interested on this and I think it would be a great addition.

[2019-10-03 13:01] srfrnk commented on #1406
@monopole Thanks for reaching out. I will stay tuned for any solution to this issue.

[2019-10-03 14:13] kkasravi opened #1585 "var replacement doesn't occur on commonLabels"
use case:

1. add a commonLabels section in kustomization.yaml that includes a var
2. when kustomize generates the resources it will replace the var when it adds the labels to the `<resource>`.metadata.labels.
3 when kustomize adds the selector to a resource like deployment, no var substitution occurs unless you explicitly add a configurations file that includes
[code]
4. when kustomize adds the l

[2019-10-03 16:57] jgustie commented on #1567
I just closed #1569, I misdiagnosed what I was seeing. The GVK sort order is correct, I incorrectly thought that only the first matching field spec was applied when in fact all of the matching field specs are applied (so subsequent matches would still erroneously create the selector even if the initial—more specific—match did not).

I still think the there is a larger issue though: `CreateIfNotFou

[2019-10-03 17:13] jbrette commented on #1567
@jgustie Can you have a look at this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1491). The issue you are fighting is here since ages. There a lot of similar issues to yours. We attempted to merge your work, @speth-nr work and ours as you can see in the PR commits.

We recreated an environment to reproduce your issue without having to skip anything, just by being able to deal with versi

[2019-10-03 18:00] dsekhart opened #1586 "Inject TLS Hosts into Ingress"
How to patch tls.hosts in the below example. kumization version 2.0.3
[code]
created a json patch
[code]
helloworld-ingress-patch.yaml as below:
[code]

[2019-10-03 18:03] jbrette commented on #1584
@Rukeith Have a look [fix using the FieldSpec skip PR](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1584) or here [fix overriding the configuration of the transformer](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1584_b)

/cc @richardmarshall @ian-howell @Rukeith @jgustie

[2019-10-03 18:24] jbrette commented on #1585
@kkasravi Have a look [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1585). The list of issues that would be solved in kubeflow by [Automatic Creation of 'vars:' and 'varReferences:' sections](https://github.com/kubernetes-sigs/kustomize/pull/1217) is endless. You could get rid of the hundreds of params.yaml and point directly at the KfDef values.

/cc @ian-howel

[2019-10-03 21:18] dsekhart commented on #1586
This worked.
[code]

[2019-10-03 21:18] #1586 closed

[2019-10-04 03:23] kvokka opened #1588 "Can not remove the object with trasformer"
## Bug/Feature

I need to manage DB migrations, and wanted to do it with kustomize. For this purpose added the transformer, which should wrap the kustomization output and create a k8s job, basis on it.

So, this transformer should remove initial objects and replace them with 1 job (and inside this job do the release). The problem is, that I can not remove initial objects. Is it possible?

For bett

[2019-10-04 03:41] Rukeith commented on #1418
@jbrette You can just use quotes, it will get the error even if I add `--validate=false`.

I got this error

[code]

[2019-10-04 04:34] #552 closed

[2019-10-04 10:17] invidian commented on #821
This is still important.

[2019-10-04 10:17] invidian commented on #821
/remove-lifecycle rotten

[2019-10-04 10:30] invidian commented on #880
/remove-lifecycle stale

[2019-10-05 14:31] fentas commented on #702
/remove-lifecycle stale

[2019-10-05 18:08] tsloughter commented on #51
@bickfordb why did you close this :). As far as I can tell there is still not a solution.

[2019-10-05 18:22] tsloughter commented on #51
I suppose using `set image` isn't too bad and I see that it is purposely not possible to set the image tag based on the environment when building the resources, https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables

But an issue I have with `set image` is not being able to tell it where `kustomization.yaml`? Why doe

[2019-10-05 20:50] tkellen commented on #318
Thanks for re-opening this @monopole (also thanks to you and anyone else involved in illuminating this method of managing config, I'm a complete convert even with the rough edges!)

I'm not 100% sure I'm following what you've suggested here, but I think I can share succinctly a config format that would solve every use-case I can think of and eliminate the usage of dollar variables in any context o

[2019-10-05 21:31] max-sixty commented on #1386
Is there some format that works here? I can't get either `https://source.developers.google.com/p/[PROJECT_NAME]/r/[REPOSITORY_NAME]` nor the simpler `https://source.developers.google.com/[PROJECT_NAME]/[REPOSITORY_NAME]` to work. The latter worked with previous versions of kustomize

[2019-10-05 23:54] tkellen commented on #318
Note for those reading via email, I've edited my original post substantially.

[2019-10-06 07:48] jonathanunderwood commented on #318
The proposal by @tkellen captures exactly  and completely my use case.

[2019-10-06 15:30] kkasravi commented on #1585
awesome @jbrette

@monopole or @Liujingfang1 any thoughts about whether this will be merged for v3.2.2?

[2019-10-06 15:34] kkasravi commented on #1585
@jbrette do you have an example of using CRD values directly rather than ConfigMap?

[2019-10-06 15:42] kkasravi opened #1591 "kustomize does not generate a selector for Application kind from commonLabels"
the Application kind - defined [here](https://github.com/kubernetes-sigs/application/blob/master/pkg/apis/app/v1beta1/application_types.go#L85) is not generated when commonLabels is used.

[2019-10-06 17:51] kkasravi opened #1592 "Can't use kustomize vars in images"
use case

params.env
[code]

params.yaml
[code]

kustomization.yaml
[code]

[2019-10-06 20:45] jbrette commented on #1591
A possible solution is [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1591)

[2019-10-06 20:48] jbrette commented on #1592
A possible solution [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1592)

For info the Kustomization kind object does not have any meta-data name so can not be loaded as resource. Could be interesting to add such as metadata field

[2019-10-07 08:01] apyrgio commented on #1251
/remove-lifecycle stale

[2019-10-07 08:12] apyrgio commented on #1251
There's still a PR regarding this issue and a proposal from @monopole (see
#1292) . Also, this issue keeps getting thumbs up at random intervals, which
means that people are still stumbling on it and are interested.

Until we know how (or if) this will get implemented, I'd propose keeping this
issue open.

[2019-10-07 10:01] CermakM opened #1593 "Is it possible to remove a whole resource from a manifest?"
Use case: I have a yaml manifest which is composed of multiple resources already (this is my base), I want to apply a patch which removes a resource from that manifest.

I am kinda struggling with this and I would really appreciate some advice.

Thanks in advance!
Marek

[2019-10-07 10:21] mr-karan commented on #242
Is this feature available in K8s cluster version 1.14?

[2019-10-07 10:54] shreya-verma19 commented on #1029
kustomize edit add configmap mnist-map-training  --from-literal=trainingName=test_kubeflow
Error: cannot add key trainingName, another key by that name already exists: map[GOOGLE_APPLICATION_CREDENTIALS:/var/secrets/user-gcp-sa.json batchSize:100 exportDir:gs://my_bucket_kubeflow/my-model/export learningRate:0.01 modelDir:gs://my_bucket_kubeflow/my-model name:my-train-1 secretMountPath:/var/secret

[2019-10-07 13:08] jcassee commented on #1593
Removing stuff is an explicit eschewed feature, so I'm afraid not:

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#removal-directives

[2019-10-07 13:13] CermakM commented on #1593
OK, gotcha. Thanks for the answer @jcassee

FWIW I worked around the problem by using kustomize to apply custom labels and then using `kubectl apply` with the **label selector** to apply only the stuff I want.

Hope that helps someone stumbling upon a similar issue.

Cheers,
Marek

[2019-10-07 16:13] Liujingfang1 commented on #318
Opened a [PR](https://github.com/kubernetes-sigs/kustomize/pull/1594) for adding a `replacements` field. It supports reading a literal values or reading a fieldref from a resource and replace a fieldref in another resource.

[2019-10-07 16:19] jbrette commented on #1593
Actually plenty of people had that exact same issue. In most of the examples I found, people end up being forced to do something like this:

[code]

The other trick is to do something like this
[code]

This creates one file per resources....which gives you full control on the order and filtering of the resources.

[2019-10-07 17:33] kvokka commented on #1588
I misunderstood the transformer idea. It should transform the existed object.
When you need a new object - you need a generator.
So the initial question was wrong.