[2020-09-25 23:43] ydarb commented on #1885
@muvaf If you haven't figured this out yet, you can target specific GVK resources in the `fieldSpecs`.

For example, let's assume we want to add annotations to particular resources. To target something from the core API, like a Namespace:

[code]

To target a custom resource, such as the `Provider` resource for GCP from your OP:

[code]

Relevant code: https://github.com/kubernetes-sigs/kustomize/

[2020-09-26 00:01] #2614 closed

[2020-09-26 00:22] #3021 closed

[2020-09-26 02:20] mnpenner commented on #1553
I'm having pretty much this exact same problem, but the `merge` solution isn't working for me. Here's my setup:

[code]

`base/kustomization.yaml`:

[code]

`development/kustomization.yaml`:

[code]

I'm using `db-env` in both `development/mariadb.yaml` and `base/app.yaml`.

When I try to build this, the `app.yaml` one gets hashed, but `mariadb.yaml` does not:

[code]

If I `create` the secret in

[2020-09-26 20:30] #2290 closed

[2020-09-27 02:46] jdef commented on #1553
Try adding a namespace to the generators in the overlay

On Fri, Sep 25, 2020, 10:20 PM Mark Penner <notifications@github.com> wrote:

[2020-09-27 09:06] liuyangc3 commented on #2348
alpine need to install this package
[code]

[2020-09-27 09:06] #2348 closed

[2020-09-27 19:53] #2358 closed

[2020-09-28 01:15] dantman commented on #903
/remove-lifecycle stale

[2020-09-28 02:01] ofek commented on #1500
/remove-lifecycle stale

[2020-09-28 05:23] mnpenner commented on #1553
I think that was it. Thank you @jdef !

[2020-09-28 08:19] DanyHenriquez opened #3041 "commonAnnotations in deployment/template/spec not working"
**Describe the bug**
When using the "commonAnnotations it does not add the annotations within the deployment template spec. It outputs the variables in stead of the values. For the deployment spec itself it works fine

**Files that can reproduce the issue**

<!--
We cannot figure out or fix the issue if we don't know how to reproduce. Please
provide a minimum set of files that can reproduce the is

[2020-09-28 08:20] DanyHenriquez opened #3042 "commonAnnotations not added in deployment:template:spec"
**Describe the bug**
When using the "commonAnnotations it does not add the annotations within the deployment template spec. It outputs the variables in stead of the values. For the deployment spec itself it works fine

note: The gitlab.properties are echoes out as *KEY=value*. One on every line.
[code]

[code]

**Actual output**
[code]

**Expected output**
[code]

**Kustomize version**

Version:ku

[2020-09-28 10:00] fbiville commented on #963
/remove-lifecycle stale

[2020-09-28 11:47] #3041 closed

[2020-09-28 14:17] invidian commented on #821
/remove-lifecycle stale

[2020-09-28 16:15] Shell32-Natsu commented on #963
/assign

[2020-09-28 16:17] Shell32-Natsu commented on #1500
We are working on this.

[2020-09-28 16:19] Shell32-Natsu commented on #2632
/close

[2020-09-28 16:19] #2632 closed

[2020-09-28 17:41] Shell32-Natsu commented on #3042
/assign

[2020-09-28 18:50] apelisse commented on #2290
@dthomson25 Thanks for your patience! 😅

I think a simple strategic merge patch would work if Kustomize knew the schema and could use it to merge the patch. Server-side apply some of these same mechanism but also requires knowing about the schema.

@monopole Can one specify an arbitrary schema in kustomize to find additional merge information?

[2020-09-28 22:38] mortent opened #3043 "kustomization.yaml file does not allow metadata field"
**Describe the bug**

I would like to be able to add an annotation to the `kustomization.yaml` file, but it seems like the `metadata` field is not allowed.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

dep.yaml

[code]

Command:
[code]

**Expected output**

I would expect the manifests printed to stdout.

**Actual output**

Error: json: unknown field "metadata"

**

[2020-09-28 22:45] Shell32-Natsu commented on #3043
Yes, metadata is not allowed in kustomization file.

https://github.com/kubernetes-sigs/kustomize/blob/1bc9225302e7b2042b3eadd91ac35f19918e20c4/api/types/kustomization.go#L21-L140

[2020-09-29 07:13] toninis opened #3045 "Patches do not work over dynamic resources defined by variables"
**Describe the bug**

Patches do not patch the resources when there is a variable specified for the resource.

**Files that can reproduce the issue**

Actual source https://github.com/kubeflow/manifests/tree/master/istio-1-3-1/cluster-local-gateway-1-3-1/base

kustomization.yaml

[code]

ns.yaml

[code]

params.yaml

[code]

params.env

[code]

**Expected output**

[code]

**Actual output**

[code

[2020-09-29 07:21] toninis opened #3046 "Patches of same annotations do not override commonAnnotations"
**Describe the bug**

Patches on annotations should override commonAnnotations of all resources.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

ns.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

[code]

[2020-09-29 13:10] chainhead opened #3047 "Unmatched fields from base file are not reproduced after overlaying."
I am using `kustomize` to generate files corresponding to the [`eksctl` configuration schema file](https://eksctl.io/usage/schema/). However, the generated file is only the overlay file and not the whole file. What am I missing?

`yaml/kustomization.yaml`
[code]

`yaml/mysql-node-group.yaml`
[code]

`overlay/kustomization.yaml`
[code]

`overlay/mysql-node-group.yaml`
[code]

To generate the YAML.

[2020-09-29 14:34] vmendis-stash commented on #901
I would like this reopened as well. I have the same requirement as mentioned by @donbowman, but for "ConfigMap" and "Secret".

[2020-09-29 17:12] Shell32-Natsu commented on #3039
/close

[2020-09-29 17:12] #3039 closed

[2020-09-29 17:24] Shell32-Natsu commented on #901
@vmendis-stash @streetmapp You can use AnnotationsTransformer with FieldSpec to add annotation to specific kinds. https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configureBuiltinPlugin.md

[2020-09-29 18:40] #506 closed

[2020-09-29 20:08] blaggacao commented on #3043
This is also a problem for other tools such as https://github.com/derailed/k9s which bail as follows:
![image](https://user-images.githubusercontent.com/7548295/94609995-36d7d900-0265-11eb-8ca5-cc12a50b1c5b.png)

It might not be particularly intelligent to put the kustomization file in this place alongside the other files at the same level, but it might neither be invalid.

It seems as if tools wo

[2020-09-29 21:18] Shell32-Natsu commented on #3045
Var resolve is run after patch transformer. https://kubernetes-sigs.github.io/kustomize/contributing/howitworks/

[2020-09-29 21:37] Shell32-Natsu commented on #3046
This is because AnnotationTransformer is run after PatchTransformer. https://kubernetes-sigs.github.io/kustomize/contributing/howitworks/

[2020-09-29 21:59] Shell32-Natsu commented on #3047
Kustomize can only merge the resources that is known to it, i.e. k8s standard resources. When it comes to unknown resource like in this issue, the list in the patch will replace the list in the original source. Try to use [JSON 6902 patch](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/jsonpatch.md).

[2020-09-29 23:43] blaggacao commented on #3043
Funnily, this maybe might have been the reason why `kustomize live` was withdrawn: it exposes the same error:

[code]

[2020-09-30 00:40] natasha41575 opened #3049 "Add an IsEmpty method to the Resource interface"
Currently we check if a resource is empty by seeing if the length of the Map is 0. We should define an IsEmpty method on the Resource interface and use that instead.

[2020-09-30 00:55] #2896 closed

[2020-09-30 05:33] james-callahan commented on #2684
.

[2020-09-30 05:33] james-callahan commented on #2684
/remove-lifecycle stale

[2020-09-30 12:44] pierluigilenoci commented on #1556
/remove-lifecycle rotten

[2020-09-30 12:44] pierluigilenoci commented on #1556
/reopen

[2020-09-30 13:56] monopole commented on #2896
I believe this is now fixed in head, so will be in the next release.
As an aside I'd note that to change the image, instead of using a patch, try
https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/images

[2020-09-30 15:53] toninis commented on #3046
@Shell32-Natsu Indeed if we use this kustomization.yaml it works as expected.
[code]

Should this behaviour be the same with `PatchTransformer` and  `PatchStrategicMergeTransformer` ??

[2020-09-30 15:59] toninis commented on #3045
@Shell32-Natsu Doesn't it make more sense to be able to manipulate dynamic resources with patches ?

[2020-09-30 17:07] Shell32-Natsu commented on #3046
It's different. From the doc that I mentioned
[code]
PatchJson6902Transformer is run after AnnotationsTransformer. Meanwhile PatchStrategicMergeTransformer and PatchTransformer are before.

[2020-09-30 17:12] monopole commented on #2767
@natasha41575

[2020-09-30 17:47] Shell32-Natsu commented on #1556
/reopen

[2020-09-30 18:47] natasha41575 commented on #3049
https://github.com/kubernetes-sigs/kustomize/pull/3051

[2020-09-30 19:42] ntx-ben commented on #2954
@strangeminds have you figured out a fix to this issue? Have you issued a bug in the kubectl repo?

We are experiencing the same behavior now with kustomize v3.8.2

Thanks

[2020-09-30 20:39] monopole commented on #2774
fixed by #3003

[2020-09-30 20:52] #3049 closed

[2020-09-30 20:58] Shell32-Natsu commented on #3045
Patch transformer may modify the value that will be used to replace the var.

[2020-09-30 22:08] docwhat commented on #2538
/remove-lifecycle stale

[2020-10-01 00:21] mikeyrcamp opened #3053 "Add kustomize edit add/remove transformer command"
**Is your feature request related to a problem? Please describe.**

Presently if someone wishes to add a transformer file to the `transformers`  in their kustomization.yaml they must use python or some other scripting language to modify the kustomization.yaml file rather than using the idiomatic `kustomize edit` command.

**Describe the solution you'd like**

As kustomize has a `kustomize edit add

[2020-10-01 01:33] ricochet commented on #3053
/kind feature

[2020-10-01 01:36] ricochet commented on #3053
@monopole - ok to implement?

[2020-10-01 06:46] toninis commented on #3046
If this is intended then we can close this issue 👍 . Thanks for your help @Shell32-Natsu

[2020-10-01 06:47] toninis commented on #3045
If this is intended then we can close this issue 👍 . Thanks for your help @Shell32-Natsu

[2020-10-01 13:41] blaggacao commented on #3043
This also seems to break kubeval:
[code]
/cc @GodZalo

[2020-10-01 15:48] icy commented on #2987
Just fyi, I have a base manifest file with 59k lines, and kustomize with some patch merge took 31 seconds. Not a big deal, as `kubectl diff` and `kubetl apply` may take 10 minutes to process :D

[2020-10-01 16:22] Shell32-Natsu commented on #3045
/close

[2020-10-01 16:22] #3046 closed

[2020-10-01 16:53] Shell32-Natsu commented on #2687
/assign

[2020-10-01 17:09] Shell32-Natsu commented on #2841
/close

[2020-10-01 17:09] #2841 closed

[2020-10-01 17:12] Shell32-Natsu commented on #2828
What forbids you to refer same secret? It will be helpful if you can provide an example.

[2020-10-01 17:13] monopole commented on #2774
Actually not yet, this script should be
called from `make prow-presubmit-check`

[2020-10-01 17:21] Shell32-Natsu commented on #2793
You should be able to use both original `serviceName` and updated `serviceName`.

We have a [page](https://kubernetes-sigs.github.io/kustomize/contributing/howitworks/) about the order of kustomize transformers.

[2020-10-01 17:30] monopole commented on #2774
I need a chrome extension that widely separates the "close" and "comment" buttons.

[2020-10-01 17:53] #2980 closed

[2020-10-01 18:01] #2687 closed

[2020-10-01 18:05] Shell32-Natsu commented on #2788
Sorry I don't get the point. You said you *HAVE to use the same name for every resource* but at the same time *the names might have nothing in common*?

[2020-10-01 19:49] Shell32-Natsu commented on #2561
/assign

[2020-10-01 20:05] sgltkn commented on #2616
Thanks. It worked for me on Ubuntu 20.04

[2020-10-01 20:24] Shell32-Natsu commented on #2561
This should be the issue in https://github.com/posener/complete

[2020-10-01 20:30] Shell32-Natsu commented on #2205
Please take a look at this [issue](https://github.com/kubernetes-sigs/kustomize/issues/2506) for the reason that latest kustomize cannot be shipped with kubectl.

[2020-10-02 18:53] #2907 closed

[2020-10-02 18:58] Shell32-Natsu commented on #2860
/assign

[2020-10-02 18:59] Shell32-Natsu commented on #2724
/close

[2020-10-02 18:59] #2724 closed

[2020-10-02 19:04] Shell32-Natsu commented on #2729
Which kind of shell are you using? I tried with bash and latest kustomize version and what I saw is kustomize will try to auto-complete the flags for build. Is this what you see?

[2020-10-02 19:07] Shell32-Natsu commented on #2716
/assign

[2020-10-02 19:24] Shell32-Natsu commented on #2716
`spec/selector/matchLabels` will not be created if it's not there.

https://github.com/kubernetes-sigs/kustomize/blob/077c7b2d20bfdb0de78e6873a4ae1ce08afa1c40/api/konfig/builtinpluginconsts/commonlabels.go#L130-L133

@monopole Is there any specific reason that we don't create it?

[2020-10-02 19:47] mac9416 commented on #2937
I believe I just reproduced this w/ 3.8.2 and a normal CronJob. Upgrade to 3.8.4 fixed it.

[2020-10-02 21:01] #3042 closed

[2020-10-02 21:03] #2860 closed

[2020-10-03 06:00] #2072 closed

[2020-10-03 19:13] #2427 closed

[2020-10-04 03:21] max-sixty opened #3057 "Incorrect docs re kustomize config save?"
**Describe the bug**

https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#customizing-transformer-configurations

contains:

...but `kustomize config` doesn't seem to exist in 3.8.4; nor does `kustomize cfg save`?

**Kustomize version**

{Version:kustomize/v3.8.4 GitCommit:8285af8cf11c0b202be533e02b88e114ad61c1a9 BuildDate:2020-09-19T17:31:52+01:00 GoOs:darwin GoAr

[2020-10-04 19:37] #2443 closed

[2020-10-05 11:17] hermanbanken commented on #1310
Relates to #2205 and #2506

[2020-10-05 11:17] hermanbanken commented on #1069
Relates to #2205 and #2506

[2020-10-05 11:47] squaremo commented on #2587
Moving this to the canonical kstatus repo.

[2020-10-05 11:47] #2587 closed

[2020-10-05 13:00] ephesused commented on #2767
My nightly comparison runs show a recent behavior change at master for this scenario. The change arrived sometime between 1d4b3fa3 and 460c5406.

I'll investigate further and post back in a little while.

[2020-10-05 13:10] ephesused commented on #2767
With recent master runs (such as in 460c5406), the test case behavior now results in one of the two port definitions getting eliminated:

[code]

[2020-10-05 13:13] ephesused commented on #2907
Thanks for the fix - I see the expected results in recent master builds, such as with 460c5406.

[2020-10-05 13:55] #2190 closed

[2020-10-05 14:47] squaremo opened #3058 "Make setters2 suitable for use in controllers"
I'd like to be able to use `kyaml/setters2` in a Kubernetes controller. One requirement this brings up is that setter definitions cannot be retained across invocations, since in general the controller will process many objects, each of which gives rise to its own setter definitions.

At present, so far as I can determine*, `setters2` gets its definitions from `openapi`, which keeps them in a packa

[2020-10-05 16:29] icy commented on #2995
I'm looking for new release of kustomization. The latest version 3.8.4 doesn't include the fix. Without the fix, the use of `kustomization` as a post-render script for Helm  is very noisy :(

[2020-10-05 16:56] Shell32-Natsu commented on #2995
The fix will be in next release.

[2020-10-05 16:58] Shell32-Natsu commented on #2767
@ephesused Yes I expect that result. Since the merge key problem hasn't been fixed. @natasha41575 is working on a solution with modified schema.

[2020-10-05 17:07] Shell32-Natsu commented on #3043
/assign

[2020-10-05 18:17] monopole commented on #3043
Let's add this: https://github.com/kubernetes-sigs/kustomize/blob/master/api/types/objectmeta.go
as the type for a new `metadata` field.  it's why the file exists, we just never got around to it.

[2020-10-05 18:19] monopole commented on #3043
we can add other fields from https://pkg.go.dev/k8s.io/apimachinery@v0.19.2/pkg/apis/meta/v1#ObjectMeta
as needed, but not reference that file directly as it will block integration into kubectl (#1500)

[2020-10-05 18:26] monopole commented on #3043
parenthetically, we should allow these fields certainly, but requiring `apiVersion`, `kind` and `metadata` will require adding the fields to all examples and tests.

[2020-10-05 18:30] Shell32-Natsu commented on #3057
We will remove those lines about `kustomize cfg save`. Please see https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md for the customizing transformer configs.

[2020-10-05 19:01] ricochet commented on #2444
gitlab URL's are working for me with v3.6.1. Try this format:

[code]

[2020-10-05 20:03] Shell32-Natsu commented on #2166
/remove-lifecycle stale

[2020-10-05 20:03] Shell32-Natsu commented on #2166
/assign

[2020-10-05 21:04] Shell32-Natsu commented on #2166
I cannot reproduce the error with the latest kustomize. Please reopen and provide your resources files if you still have the issue.

/close

[2020-10-05 21:04] #2166 closed

[2020-10-05 21:11] Shell32-Natsu commented on #2712
Cannot reproduce. Please provide more details like the kustomize version and kustomization file content.

/label triage/not-reproducible

[2020-10-05 21:12] Shell32-Natsu commented on #2712
Feel free to reopen if you still have the issue.

/close

[2020-10-05 21:12] #2712 closed

[2020-10-05 22:18] #3043 closed

[2020-10-06 02:00] kkishoreyadav opened #3062 "[Question] Selectively apply nameprefix/namesuffix in kustomize"
Currently we are using ${HOME}/bin/kustomize edit set namesuffix suffix1

But it is adding suffix1 to all of our resources like deployment.yaml and service.yaml.

We want to apply suffix1 to deployment.yaml only and not apply it to service.yaml

This is related to https://github.com/kubernetes-sigs/kustomize/issues/1700

[2020-10-06 02:32] Shell32-Natsu commented on #3047
/close

[2020-10-06 02:32] #3047 closed

[2020-10-06 02:35] Shell32-Natsu commented on #2834
Since haven't heard from you for a month, close this issue. Feel free to reopen.

/close

[2020-10-06 02:35] #2834 closed

[2020-10-06 02:37] Shell32-Natsu commented on #2740
/assign

[2020-10-06 13:23] strangeminds commented on #2954
No sorry.  We've just reverted back to Kustomize 3.5.4 - When I get the bandwidth to explore this issue again I will report a bug to `kubectl`

[2020-10-06 13:24] mbuffa commented on #2355
An update on this would be nice :) I think it would improve the tool significantly.

[2020-10-06 14:34] angeloplsight opened #3063 "Merge Not Occurring Correctly"
I have the base and the overlay. The final output of the merge file is excluding some data from the overlay...

The base yaml
[code]
[code]
The output yaml exclude the base yaml
[code]

**Expected output**

    cronjobs:
      global:
        orgIds:
          - 1234
          - 4474
          - 2949
          - 4070
          - 5936
          - 5243
          - 6231
          - 6027
          - 5

[2020-10-06 16:01] Shell32-Natsu commented on #2355
/assign

[2020-10-06 16:46] Shell32-Natsu commented on #3063
Can you please provide files that can reproduce this issue?

[2020-10-06 16:48] Shell32-Natsu commented on #3062
You can configure the prefix/suffix transformer to apply suffix to specify resources. See https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs and https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configureBuiltinPlugin.md

[2020-10-06 16:53] #3062 closed

[2020-10-06 16:54] #3057 closed

[2020-10-06 16:55] monopole commented on #3053
yes please!

[2020-10-06 17:05] Shell32-Natsu commented on #2740
Similar to this one https://github.com/kubernetes-sigs/kustomize/issues/3062#issuecomment-704408804. You can customize the resource and path you want to apply.

[2020-10-06 18:21] angeloplsight commented on #3063
[code]

[2020-10-06 19:43] Shell32-Natsu commented on #2966
The 2 maps from base and overlay will be *merged*. Kustomize won't remove the fields. As @icy said, you can explicitly remove the `valueFrom`.

/close

[2020-10-06 19:43] #2966 closed

[2020-10-06 19:45] Shell32-Natsu commented on #3063
Seems the same with https://github.com/kubernetes-sigs/kustomize/issues/3047#issuecomment-701014534

/close

[2020-10-06 19:57] alexander-knezevic-luetke-gcx commented on #2843
changing your `kustomization.yaml` to
[code]

works for me.

[2020-10-06 20:03] Shell32-Natsu commented on #2843
@alexander-knezevic-luetke-gcx is correct, apiVersion `elasticsearch.k8s.elastic.co/v1` is constructed by group `elasticsearch.k8s.elastic.co` and version `v1`.

/close

[2020-10-06 20:03] #2843 closed

[2020-10-06 23:34] monopole commented on #2862
@natasha41575

please add a make target to fetch openapid data at a particular version number,
and modify the instructions at
https://github.com/kubernetes-sigs/kustomize/blob/master/releasing/README.md
to point to this and explain the process for grabbing new swagger.json then
modifying it, then running all tests to assure nothing is broken.

grabbing the json data, modifying it, and generating s

[2020-10-07 01:01] monopole commented on #2767
Fixed by https://github.com/kubernetes-sigs/kustomize/pull/3065

we're working on a process to update the openapi data at the core of this issue

[2020-10-07 01:01] #2767 closed

[2020-10-07 06:37] develar commented on #306
Who will kill this bot... Issue tracker is full of "how", since kustomize doesn't support customisations and requires alien techniques to do basic things. After 20 minutes I have no idea how to merge base ingress and custom with host.

[2020-10-07 13:05] ephesused commented on #2767
Thanks! My nightly run (which used 0a1fde1e) showed the fix is in place and working as expected.

[2020-10-07 16:46] Shell32-Natsu commented on #2393
/remove-lifecycle rotten

[2020-10-07 16:46] Shell32-Natsu commented on #2393
/assign

[2020-10-07 16:48] Shell32-Natsu commented on #306
@develar Our docs are in a mess. Please create a Question issue with what you want to do and I am happy to help.

[2020-10-07 16:54] Shell32-Natsu commented on #2279
/assign

[2020-10-07 16:55] Shell32-Natsu commented on #2374
/assign

[2020-10-07 17:12] develar commented on #306
@Shell32-Natsu Yes, I found the working solution, but it is a little bit awkward and complicated. Correct merge will be better.

Say, I have `base/ingress.yaml` with content:

[code]

What I want to do — in a private overlay to specify `spec.rules[0].host`.

So, I created `company/ingress.yaml` and added it to

[code]

Content of `company/ingress.yaml` :

[code]

The issue is that — how do I can m

[2020-10-07 17:58] Shell32-Natsu commented on #306
Merging two lists is quite tricky. In you case, kustomize doesn't know "how to merge the items in the list" since there is no merge key defined in k8s API definition. In this case it will replace the original list by new one.

See also https://github.com/kubernetes-sigs/kustomize/issues/3047#issuecomment-701014534.

[2020-10-07 18:32] Shell32-Natsu commented on #2716
@rocketraman @DerTiedemann Please see [this](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#labels-transformer) for how to customize the fields specs for commanLabels.

[2020-10-07 18:32] Shell32-Natsu commented on #2716
/close

[2020-10-07 18:32] #2716 closed

[2020-10-07 20:50] #2393 closed

[2020-10-07 20:56] Shell32-Natsu commented on #2355
fixed in #3064

[2020-10-07 20:56] Shell32-Natsu commented on #2355
/close

[2020-10-07 20:56] #2355 closed

[2020-10-07 21:27] angeloplsight commented on #3047
[code]
Will try with this...

[2020-10-07 22:31] Shell32-Natsu commented on #2523
/close

Feel free to reopen

[2020-10-07 22:31] #2523 closed

[2020-10-07 22:33] Shell32-Natsu commented on #2512
We have removed replacement transformer. Close this issue.

/close

[2020-10-07 22:33] #2512 closed

[2020-10-07 22:33] Shell32-Natsu commented on #2052
/remove-lifecycle stale

[2020-10-07 22:34] Shell32-Natsu commented on #2498
/remove-lifecycle stale

[2020-10-07 22:36] Shell32-Natsu commented on #2498
Use namespace transformer as a separate plugin and use your own fieldSpec should work for your purpose.

https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configureBuiltinPlugin.md

[2020-10-07 22:36] Shell32-Natsu commented on #2398
/close

[2020-10-07 22:37] #2398 closed

[2020-10-07 22:37] Shell32-Natsu commented on #2390
/close

[2020-10-07 22:37] #2390 closed

[2020-10-07 22:38] Shell32-Natsu commented on #2371
/close

[2020-10-07 22:38] #2371 closed

[2020-10-07 22:39] Shell32-Natsu commented on #2368
/close

[2020-10-07 22:39] #2368 closed

[2020-10-07 23:34] angeloplsight commented on #3047
What does this mean?
`Kustomize can only merge the lists in the resources that can be merged (merge key defined in k8s).`

@Shell32-Natsu

[2020-10-07 23:58] Shell32-Natsu commented on #3047
Strategic merge with list requires a "merge key" in the item to merge the items in two lists. This key is defined in kubernetes API.

[2020-10-08 07:29] develar commented on #306
Thanks, so, better just to switch to Helm to get clear and maintainable deployment configs.

[2020-10-08 07:30] hiroshi opened #3070 "v3.8.5 Error: add operation does not apply: doc is missing path: "/spec/template/spec/containers/0/env/-": missing value"
**Describe the bug**

Hi,
I found the version v3.8.5 causes an error while it wasn't with v3.8.4.
`Error: add operation does not apply: doc is missing path: "/spec/template/spec/containers/0/env/-": missing value`

**Files that can reproduce the issue**

base/kustomization.yaml
[code]
base/deployment.yaml
[code]

overlay/kustomize.yaml
[code]

overlay/merge.yaml
[code]

overlay/patch.yaml
[code]

[2020-10-08 16:23] Shell32-Natsu commented on #3070
#2907

We change back to the original behavior for adding new items to lists when strategic merge patches are used.

[2020-10-08 17:07] Shell32-Natsu commented on #2235
/assign

[2020-10-08 17:08] Shell32-Natsu commented on #3070
nginx2 will be prepended to the list instead of appending. This keeps the same as older version of kustomize.

[2020-10-08 17:09] Shell32-Natsu commented on #3070
/close

[2020-10-08 17:09] #3070 closed

[2020-10-08 18:08] yhrn commented on #2837
It would also be great if Kustomize were Kpt setter aware so that the kutomization referencing a Kpt package could also declare setter values and have those applied at build.

[2020-10-08 20:05] r0bj opened #3073 "RoleBinding roleRef.name wrongly adjusted by PrefixSuffixTransformer"
**Describe the bug**

RoleBinding roleRef.name wrongly adjusted by PrefixSuffixTransformer.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

workloads.yaml

[code]

suffixTransformer.yaml
[code]

**Expected output**

[...]
[code]
[...]

**Actual output**

[...]
[code]
[...]

Note: `roleRef.name` is adjusted by adding suffix which is wrong.
PrefixSuffixTransformer is c

[2020-10-08 20:58] stuartpb opened #3074 "`kubectl apply` can't handle CRDs added in the same transaction"
I have a base kustomization that includes resources defined by CRDs added earlier in the kustomization. When I try to apply it the first time, the manifests defined by CRDs aren't recognized; I have to apply the kustomization twice for them to work.

[code]

## Version

This is with kubectl 1.19 (and a 1.19 cluster) on Arch Linux.

[2020-10-08 21:22] strangiato opened #3075 "Kustomize Version in 1.17"
Which version of Kustomize ships with K8s 1.17?

The main readme lists the kustomize version numbers that ship with 1.14-1.16 but does not list version 1.17+.  It would be great to get the readme updated with this information.

[2020-10-08 21:43] Shell32-Natsu commented on #3075
I guess we haven't updated the kustomize version that shipped with kubectl for a long time. There are some technical reasons which forbid us to use latest kustomize in kubectl. We are working on re-integrating kustomize to kubectl.

[2020-10-08 21:44] Shell32-Natsu commented on #3074
kubectl is using a very old version of kustomize. Please try latest kustomize binary.

[2020-10-08 21:45] Shell32-Natsu commented on #3073
/assign

[2020-10-08 21:47] Shell32-Natsu commented on #2640
/assign

[2020-10-08 21:49] Shell32-Natsu commented on #3073
Dup with https://github.com/kubernetes-sigs/kustomize/issues/2640

[2020-10-08 21:59] stuartpb commented on #3074
No change - the exact same thing happens when you pipe in a build from kustomize 3.8.3:

[code]

[2020-10-08 22:09] stuartpb commented on #3074
I guess that would essentially make this an issue with `kubectl` then, wouldn't it? It seems like the client should recognize that it needs to hold back on applying resources whose CRDs it just created until that CRD has been finalized.

[2020-10-08 22:11] strangiato commented on #3075
Yeah I did see that upgrading was being worked on #1500 but I wasn't sure if that meant it was still running 2.0.3.

I'm trying to determine if an issue that appears to have been resolved in 3.0.0 (#1082) is because kubectl ships with the older version or if it is an issue on my end.  I'm assuming the version running in 1.17 is still 2.0.3.

It would be great if we had a way to check the kustomize

[2020-10-08 22:11] Shell32-Natsu commented on #3074
Looks like this it's reasonable to create issue with kubectl.

[2020-10-08 22:14] Shell32-Natsu commented on #3075
That is a good idea. However you may need to open the issue for kubectl.

[2020-10-08 23:25] strangiato commented on #3075
Submitted an issue here:

https://github.com/kubernetes/kubectl/issues/952

[2020-10-09 01:14] hiroshi commented on #3070
We change back to the original behavior for adding new items to lists when strategic merge patches are used.

I see. By changing overlay/merge.yaml,
[code]
I got this output. nginx2 is prepended as you said.
[code]

The change was merged with this commit, https://github.com/kubernetes-sigs/kustomize/commit/1d4b3fa36c8918ad884c7aaa6a055fa2d0fa9bf9, and from [kustomize/v3.8.5](https://github.com/kub

[2020-10-09 07:48] fernandolozano opened #3077 "How to pass Git credentials in a Kustomize build command? [Question]"
Hello,
I have a _kustomization.yaml_ file that uses a private repository as a resource:

[code]

I want to automate this on a Jenkins Pipeline. I don't know how to pass Git credentials to the kustomize build command. Is there any option to do that?

Thank you

[2020-10-09 09:20] mstrYoda commented on #1113
Why this issue closed? Is not that a requirement for some cases? Passing some parameters to build would be a nice feature.

[2020-10-09 16:47] monopole commented on #2677
See https://github.com/kubernetes-sigs/kustomize/tree/master/releasing

[2020-10-09 17:04] monopole commented on #2773
@runewake2

[2020-10-09 17:21] Shell32-Natsu commented on #1113
We are still planning to bring setter from kpt to kustomize.

[2020-10-09 17:21] Shell32-Natsu commented on #2588
https://github.com/kubernetes-sigs/kustomize/issues/1113. Maybe this is helpful.

[2020-10-09 17:23] Shell32-Natsu commented on #2405
Seems that HEAD doesn't have this issue. Will close this.

/close

[2020-10-09 17:23] #2405 closed

[2020-10-09 17:26] Shell32-Natsu commented on #3077
kustomize will use [go-getter](https://github.com/hashicorp/go-getter) to get the repo at first. If it fails it will use `git` command to clone the repo. So what you can do is make `git clone [url]` command work with your credential without human got involved.

[2020-10-09 17:28] Shell32-Natsu commented on #3070
The API interface change is used by kustomize internal and it's not exposed. What you should do is change `path` from `/spec/template/spec/containers/0/env/-` to `/spec/template/spec/containers/1/env/-`

[2020-10-09 17:49] Shell32-Natsu commented on #2204
Your example works good for me with latest kustomize.

/close

[2020-10-09 17:49] #2204 closed

[2020-10-09 18:02] larsks opened #3078 "[Question] Replace secretgenerator secret with a plugin-generated secret?"
I am trying to replace a `secretGenerator`-generated resource in a base with a plugin generated (ksops-encrypted) secret, and it's failing because:

[code]

In `../base/kustomization.yml`, I have:

[code]

In my local directory, I have:

[code]

In `secret-generator.yml` I have:

[code]

And in `bitlbee_config.yml` I have:

[code]

I want the secret created from the sops-encrypted file to replace

[2020-10-09 18:16] Shell32-Natsu commented on #3078
Are you using your own generator?

[2020-10-09 18:26] runewake2 commented on #2773
Is #3072 related to this work?

[2020-10-09 18:31] larsks commented on #3078
@Shell32-Natsu no, I am using [ksops](https://github.com/viaduct-ai/kustomize-sops).

[2020-10-09 18:41] Shell32-Natsu commented on #3078
The `behavior` should be added by the generator.

[2020-10-09 19:24] andresilva97 opened #3079 "[Question] Inline patchesJson6902 on kustomize/v3.8.5"
Why on my code kustomize give the follow error:
`Error: json: unknown field "patch"`

Code:
[code]
I saw multiple examples using this kind of patch , but i dont understand why it wont work on mine.

[2020-10-09 19:27] Shell32-Natsu commented on #3079
`patch` is not used in json 6902 patch.

https://github.com/kubernetes-sigs/kustomize/blob/master/examples/jsonpatch.md

[2020-10-09 19:32] andresilva97 commented on #3079
@Shell32-Natsu here is used
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/inlinePatch.md#inline-patch-for-patchesjson6902

[2020-10-09 19:36] larsks commented on #3078
That sounds like an awful lot of boilerplate code for plugins to implement. I was hoping this could be controlled by `kustomize`. I guess I will move this issue over to ksops...

[2020-10-09 19:45] Shell32-Natsu opened #3080 "[Doc] Incorrect inline patch doc for patchesJson6902."
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/inlinePatch.md#inline-patch-for-patchesjson6902

`patchesJson6902` doesn't support inline patch.

[2020-10-09 19:46] Shell32-Natsu commented on #3079
Sorry that doc is not correct. If you want to use inline patch. Please change `patchesJson6902` to `patches`.

Doc issue: https://github.com/kubernetes-sigs/kustomize/issues/3080.

[2020-10-09 19:57] Neonox31 commented on #2007
/reopen

[2020-10-09 19:59] Shell32-Natsu commented on #3075
/close

[2020-10-09 19:59] #3075 closed

[2020-10-09 19:59] Shell32-Natsu commented on #3074
/close

[2020-10-09 19:59] #3074 closed

[2020-10-09 20:28] larsks commented on #3078
@Shell32-Natsu how would a plugin implement this behavior? I thought a plugin effectively consumed a YAML description and produces YAML output containing one or more resources. If I were writing a plugin, how would I indicate to `kustomize` that resources should be handled with replace/merge/create behavior?

[2020-10-09 20:30] monopole commented on #2773
yes, in the sense that generating the release notes for a particular module could be created during a run of `gorepomod release {module}`.

I think it would be more useful for everyone if the release notes we're actually created and stored in-repo as a markdown file as a last PR before tagging the release.
That way we'd inspect them and (optionally) hand-modify them beforehand, and we could keep t

[2020-10-09 20:36] Shell32-Natsu commented on #3078
When the plugin is generating the `Resource` struct, there is an `options` field in it.

https://github.com/kubernetes-sigs/kustomize/blob/7c8c827a88cbc5bfde88154d4c6e0fe791bd3443/api/resource/resource.go#L20-L29

`types.GenArgs` contains `GeneratorArgs` and then there is a `Behavior` field in it.

https://github.com/kubernetes-sigs/kustomize/blob/20643c933ec5ff06089d160e47933ad226b4338e/api/types

[2020-10-09 20:44] larsks commented on #3078
@Shell32-Natsu Thanks; that's helpful. Is that metadata that I can provide in generated yaml/json output if I am using an exec plugin?

[2020-10-09 20:49] Shell32-Natsu commented on #3078
Yes, you can use `kustomize.config.k8s.io/behavior` annotation to specify the behavior.

[2020-10-09 20:52] larsks commented on #3078
Awesome! That means that I don't need to fix this in a plugin. I can just place the necessary annotation in the sops-encrypted file:

[code]

That seems to work great and doesn't require updates to the plugin.  Thank you!

[2020-10-09 20:53] Shell32-Natsu commented on #3078
/close

[2020-10-09 20:54] #3078 closed

[2020-10-09 22:45] runewake2 commented on #2773
If we're intending to change how we show or display release notes it might be good to collaborate with other projects like kubernetes-sigs/kubebuilder and kubernetes-sigs/kpt that are currently releasing their notes in a similar style. Converting to markdown files would be useful for embedding release notes on sites as well. Would patch, minor and major releases be documented differently?

We shou

[2020-10-09 23:49] monopole commented on #2773
the kustomize repo ships several modules; until there's only one (which might never happen, or happen many months from now), would like something hacked up that worked.

by markdown release notes, we mean just something like

 - [Title of pr](link to PR)
 - [Title of pr](link to PR)
 - etc.

nothing fancier, with pr's bound by the tags, and by the modules they changed.

The latter restriction woul

[2020-10-10 03:06] jazzsir opened #3082 "[Question] how to add resources at runtime using "kubectl" cmd"
Using "kustomize" command, I can add/remove resources to/from kustomization.yaml as below
[code]

But using "kubectl", I can not
[code]

[2020-10-10 05:20] pyramation commented on #1332
still broken for me as well

[2020-10-10 08:44] hiroshi commented on #3070
An index number of elemnet in `deployment.spec.template.spec.containers` can be altered with `patchesStrategicMerge`. It make us harder to use patch with a fixed index path.

I think I should try another way for maintainable configuration...

Anyway, thanks for clalify that the API is not exposed.

[2020-10-10 23:01] #2156 closed

[2020-10-11 03:58] NuckChorris commented on #249
/remove-lifecycle rotten

This bug is absolutely still a problem. Why is a selector affected by commonLabels!?

[2020-10-11 04:13] NuckChorris commented on #249
Alright, since it's hard to figure out from this issue, and Google may land you here, here's the real fix:

Basically, switch from commonLabels to LabelTransformer. Here's an example: https://github.com/onepanelio/manifests/pull/17/files

You'll see it's a separate YAML file, and the YAML file specifies which `fieldSpecs` get affected. As long as you don't put the path to the selector in there, it

[2020-10-11 12:20] stuartpb opened #3084 "JSON patches not applying with `patches`, only `patchesJson6902`"
See [this commit](https://github.com/stuartpb/stubernetes/commit/a78d20ca9229b2aefd6b823ffbde29169422bb64) in my system's repository. If I run `kustomize build system/local` before applying this change, all of the JSON patches are applied; if I switch the `patchesJson6902:` line to `patches:`, then several of the patches are not applied. Here's the diff between the two outputs:

[code]

**Kustomiz

[2020-10-11 15:58] dsyer commented on #2460
Bump

[2020-10-11 22:24] #2425 closed

[2020-10-12 00:37] blaggacao commented on #2607
See also: https://github.com/kubernetes-sigs/kustomize/issues/1351

[2020-10-12 05:28] max-sixty commented on #1555
/remove-lifecycle stale

[2020-10-12 05:43] vaidik commented on #2460
/remove-lifecycle stale

[2020-10-12 08:11] ch0mik opened #3086 "NameSpace isnt replacement"
structrure of files

[code]

but the dev/test/preprod/prod kustomization like this

[code]

the all namespaces into YAMLa are replaced but not where is Namespace created (Namespace.yaml)

[2020-10-12 11:56] yanniszark commented on #2052
@Shell32-Natsu @monopole any updates on this?
I have noticed that `kpt` is invested in setters and that the setter code lives in the kustomize repo (kyaml).
Is the plan to use setters as a replacement for vars?

[2020-10-12 17:11] Shell32-Natsu commented on #249
Sorry for the late of response. @NuckChorris Here is the documentation about another method. https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#labels-transformer

[2020-10-12 17:11] Shell32-Natsu commented on #249
/close

[2020-10-12 17:15] Shell32-Natsu commented on #2156
See this issue: https://github.com/kubernetes-sigs/kustomize/issues/2616

[2020-10-12 17:21] Shell32-Natsu commented on #3070
You can try JSON 6902 patch as well. I think that may be easier than strategic merge patch.

[2020-10-12 17:22] Shell32-Natsu commented on #1332
/reopen

[2020-10-12 17:26] Shell32-Natsu commented on #1332
@pyramation Please create a new issue with your issue information. The behavior in the description of this issue is expected.

/close

[2020-10-12 17:26] #1332 closed

[2020-10-12 17:26] HariSekhon commented on #2301
This would have been useful to be able to add say annotation to CI deployments via this field:

[code]

Otherwise the `kubectl rollout history` has blank change-cause `<none>`, which would be useful if you want to track things in the kubectl CLI when deployments happened, or roll back quickly via the CLI.

Ideally this would be even better if the change-cause could capture the GMT timestamp and a

[2020-10-12 17:29] Shell32-Natsu commented on #3082
kubectl is using a very old version of kustomize (v2.x). We are trying to re-integrating with kubectl but I cannot give an ETA.

/close

[2020-10-12 17:29] #3082 closed

[2020-10-12 17:53] Shell32-Natsu commented on #2590
Each transformer in kustomize is run independently. The second `ImageTagTransformer` doesn't know it has conflict with the previous one.

[2020-10-12 17:54] Shell32-Natsu commented on #1555
@monopole How do we update the images in readme?

[2020-10-12 18:04] Shell32-Natsu commented on #3086
#2867

`namespace` in kustomization file will update the `name` field in `namespace` resource but not the `namespace` field.

please reopen if I misunderstand.

/close

[2020-10-12 18:04] #3086 closed

[2020-10-12 18:17] Shell32-Natsu commented on #3084
/assign

[2020-10-12 19:14] Shell32-Natsu commented on #3084
You have already had `patches` in the `kustomization.yaml` https://github.com/stuartpb/stubernetes/blob/da13816d6099750b7d56e11614495f70f82b1d57/system/local/kustomization.yaml#L95

/close.

[2020-10-12 19:15] Shell32-Natsu commented on #3084
/close

[2020-10-12 19:15] #3084 closed

[2020-10-12 19:29] Shell32-Natsu commented on #3080
/close

[2020-10-12 19:29] #3080 closed

[2020-10-12 19:31] Shell32-Natsu commented on #3079
/reopen

Sorry I made a mistake. The `patch` is not supported if you use `patchJson6903Transformer` as a stand alone transformer. However it is supported if you use `patchesJson6902` in the `kustomization.yaml`.

[2020-10-12 19:35] andresilva97 commented on #3079
i solved the issue using `patches `and then `pathc` , but like i said using `patchesJson6902 ` give me that error

[2020-10-12 19:39] Shell32-Natsu commented on #3079
The inline json patch does work for me. I guess there might be some other reasons. Anyway, will close this one.

/close

[2020-10-12 19:39] #3079 closed

[2020-10-12 19:47] monopole commented on #2340
This issue may close when  #2506 closes.
Will re-review then.

[2020-10-12 19:48] monopole commented on #2339
The merge function in kyaml is being improved at the same time as the migration
alluded to in #2506

openapi work is not blocked by this issue.

[2020-10-12 20:55] Shell32-Natsu commented on #2740
/close

[2020-10-12 20:55] #2740 closed

[2020-10-12 20:55] stuartpb commented on #3084
That's weird - shouldn't a YAML file with duplicated keys be rejected by `kustomize`?

[2020-10-12 20:56] Shell32-Natsu commented on #2965
/close

[2020-10-12 20:56] #2965 closed

[2020-10-12 20:59] Shell32-Natsu commented on #3084
This is the issue in [go-yaml v2](https://github.com/go-yaml/yaml/issues/154)

[2020-10-12 22:33] #2235 closed

[2020-10-13 01:12] hiroshi commented on #3070
Thanks for your advise, I'll try it.
https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/patchesjson6902/

[2020-10-13 03:52] #2340 closed

[2020-10-13 04:48] james-callahan commented on #2256
Sort of related: I'd like to exclude specific resources from e.g. namespace translation. See https://github.com/kubernetes-sigs/metrics-server/pull/616#issuecomment-707484071

[2020-10-13 14:51] 2shsh opened #3089 "How to reuse Deployment patch for CronJob"
Hi!

I use same environment variables in Deployment and CronJob. And I need to create two patches for that.
How to reuse patch?
[code]

Deployment:

[code]
and patch for this:
[code]

CronJob:
[code]

and patch for CronJob (diferent path, but same value):
[code]

[2020-10-13 16:58] Shell32-Natsu commented on #2256
@monopole Could you take a look?

[2020-10-13 17:00] Shell32-Natsu commented on #2685
/close

[2020-10-13 17:00] #2685 closed

[2020-10-13 17:02] Shell32-Natsu commented on #2583
/close

[2020-10-13 17:02] #2583 closed

[2020-10-13 17:06] Shell32-Natsu commented on #2557
/assign

[2020-10-13 17:16] Shell32-Natsu commented on #2235
ARM builds will be available in next release.

[2020-10-13 17:24] Shell32-Natsu commented on #3089
Please take a look at https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md

[2020-10-13 17:24] Shell32-Natsu commented on #2464
Please take a look at https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md

[2020-10-13 17:27] Shell32-Natsu commented on #759
Looks like `components` has solved this issue. https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md

/close

[2020-10-13 17:27] #759 closed

[2020-10-13 17:27] Shell32-Natsu commented on #2464
/close

[2020-10-13 17:27] #2464 closed

[2020-10-13 17:30] Shell32-Natsu opened #3090 "[Doc] No document for components"
There is an [example](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md) for components but the [document page](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md) says *coming soon*.

[2020-10-13 17:30] Shell32-Natsu commented on #3090
/assign

[2020-10-13 19:46] Shell32-Natsu commented on #3089
/close

[2020-10-13 19:46] Shell32-Natsu commented on #3077
/close

[2020-10-13 19:46] #3077 closed

[2020-10-13 19:55] Shell32-Natsu commented on #3058
It will be good to open a PR for this. We don't have enough resources to work on this now.

[2020-10-13 19:55] Shell32-Natsu commented on #2985
@monopole WDYT?

[2020-10-13 20:01] Shell32-Natsu commented on #2950
kustomize's current implementation is not gathering all repos that are needed to clone and then clone it sequentially but sequentially parse each resource and do something, then clone, then do something else, then next resource. It's not a simple work to just make "git clone" parallel. It's a really attractive proposal to make kustomize running in parallel but it requires tons of works.

[2020-10-14 07:10] 2shsh commented on #3089
Thank you for answer. Components is very powerful feature but I don't understand how it helps in my case.
Check this [example repo](https://github.com/2shsh/kustomize-example/tree/master/overlays/prod) please.

I have two similar patches now. And I need to add a new var to two patches

[2020-10-14 07:35] 2shsh commented on #3089
/reopen

[2020-10-14 09:02] hassenius commented on #814
This is one that I keep circling back to too.. And the lack of this means I always have to come up with hacky workarounds for this.... ;-(

[2020-10-14 15:57] icy opened #3091 "kustomize-3.8.5: an overlay patch can interfere with images: transformer in base"
## Description

In `kustomize-3.8.5` an overlay patch can interfere with `images:`
transformer in `base` and generate completely wrong output.

In our test (https://github.com/icy/kustomize-misc/tree/master/002),
`base/kustomization.yaml` specifies a transformer

[code]

and in `overlay/kustomization.yaml` there is to modify the same deployment

[code]

## Expected output

Image transformer result

[2020-10-14 15:58] farrajota opened #3092 "[Question] How to patch a single resource if multiple copies exist in different namespaces?"
I want to reuse a single component in two different namespaces and patch each one of them with different configs. What I'm attempting to do is the following:
- create two databases with the same setup (incl. name) in different namespaces
- patch each database with different resource specs

When building the manifest with `kubectl kustomize > deploy.yaml` this is the output I'm getting:

[code]

It

[2020-10-14 16:04] icy commented on #3091
Actually it isn't a problem if the `images:` transformer. When I remove the transformer from `base`/ I can see the same diff

[code]

I suspect that the behavior of `patches` has changed quite a lot, and that doesn't merge: it replaces things from `base/`

[2020-10-14 18:13] Shell32-Natsu commented on #3090
/label kind/bug

[2020-10-14 18:36] monopole commented on #2374
Will test this in next release.

[2020-10-14 18:38] monopole commented on #2862
Fixed by #3076

[2020-10-14 18:38] #2862 closed

[2020-10-14 19:00] Shell32-Natsu commented on #3091
The difference is introduced in 3.8.3. We updated the API definition for k8s resources in 3.8.3 (#2978) and then the `Deployment` in `extensions/v1beta1` api version is not found in the new schema. So that it works in this [way](https://github.com/kubernetes-sigs/kustomize/issues/3047#issuecomment-701014534).

/close

[2020-10-14 19:00] #3091 closed

[2020-10-14 19:00] Shell32-Natsu commented on #3091
Change to `apps/v1` will make it work.

[2020-10-14 19:24] Shell32-Natsu commented on #3092
kubectl is using a very old version of kustomize. Your examples work great in the latest kustomize. Unfortunately we cannot update the version of kustomize that shipped with kubectl now.

/close

[2020-10-14 19:24] #3092 closed

[2020-10-14 19:32] Shell32-Natsu commented on #2598
/close

[2020-10-14 19:32] #2598 closed

[2020-10-14 19:40] Shell32-Natsu commented on #3089
Sorry my fault. The problem here is you have different paths in the patches. I think kustomize has no capability to reuse the `value` field.

[2020-10-14 19:44] Shell32-Natsu commented on #3035
BTW, you can try to customize the fieldSpec for namespace like [this](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs).

/close

[2020-10-14 19:44] #3035 closed

[2020-10-14 19:45] Shell32-Natsu commented on #3005
/close

[2020-10-14 19:45] #3005 closed

[2020-10-14 19:45] Shell32-Natsu commented on #2986
/close

[2020-10-14 19:45] jamiechapmanbrn commented on #1493
We just got hit by this one. Would be great if there were a convenient way to set imagePullPolicy per image or a working multi-object patch.

[2020-10-14 19:46] #2986 closed

[2020-10-14 19:47] Shell32-Natsu commented on #2914
/close

[2020-10-14 19:47] #2914 closed

[2020-10-14 19:53] Shell32-Natsu commented on #2861
kustomize should use the information from the openapi and remove the hardcoded list.

/assign

[2020-10-14 19:55] icy commented on #3091
Thanks a lot, @Shell32-Natsu .

Our k8s upgrade process is quite slow. I expected to use new version that addresses this issue https://github.com/kubernetes-sigs/kustomize/issues/2995, but I think now I have to a few more issues :dango:

[2020-10-14 20:07] 2shsh commented on #3089
Ok, thank you :smiley_cat:

[2020-10-14 20:08] Shell32-Natsu commented on #1493
The original problem in the issue is because of the limitation of JSON patch ([RFC 6902](https://tools.ietf.org/html/rfc6902)). The path cannot express "all items in array".

What I can suggest is creating a customize [plugin](https://kubernetes-sigs.github.io/kustomize/guides/plugins/) to modify the resources.

[2020-10-14 20:08] Shell32-Natsu commented on #3089
/close

[2020-10-14 20:09] #3089 closed

[2020-10-14 20:45] alexppg commented on #1038
/remove-lifecycle stale

[2020-10-14 20:45] monopole opened #3093 "Add openapi info command"
Add a kustomize/kpt `openapi info` command to report the openapi [info field](https://swagger.io/specification/#:~:text=Introduction,or%20through%20network%20traffic%20inspection.) built in to kustomize.

At time of writing the info field appears at [line 16,064 in swagger.json](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/openapi/kubernetesapi/swagger.json).

so full command wou

[2020-10-14 20:46] monopole commented on #3093
@natasha41575

[2020-10-14 20:47] monopole opened #3094 "Doc: Define stabilization (v1) of kustomize build module"
Mainly what to deprecate, cleanup or move to `internal`.

No new features - this is a stabilization.

[2020-10-14 20:57] Shell32-Natsu commented on #1038
/assign

[2020-10-14 21:01] Shell32-Natsu commented on #2861
/unassign

@natasha41575 will work on this.

[2020-10-14 21:07] farrajota commented on #3092
@Shell32-Natsu Thank you for the quick response. I've tried with the latest kustomize and it worked perfectly :+1: .

It is a real shame kubectl doesn't come with the latest kustomize :frowning_face:

[2020-10-14 21:08] Shell32-Natsu commented on #3092
There are some technical reasons and we will address it.

[2020-10-14 21:12] monopole opened #3095 "Convert all builtin kustomize plugins to KRM functions"
Make a tool to do this (start from pluginator).

We'll need both for a while, and the builtins are canonical until deprecated.

[2020-10-14 21:14] farrajota commented on #3092
That would be awesome! Specially having only a single tool to do customization and deployment of manifests into a cluster was the main reason why me and the rest of my team are using kustomize in the first place instead of something like helm charts.

Again, thank your very much for your help :)

[2020-10-15 01:09] YujiShen opened #3098 "vars only works on top level labels"
**Describe the bug**

#682 closed, but as @srfrnk mentioned, the fix does not work for lower level labels.

**Files that can reproduce the issue**

cronjob.yaml

[code]

kustomization.yaml
[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

3.8.5

**Platform**

macOS

**Additional context**

[2020-10-15 06:39] #2561 closed

[2020-10-15 09:11] ch0mik commented on #3086
ok, I understood, Thanks for the explaination!
Regards
Pawel

[2020-10-15 16:25] acesaro commented on #2790
Any workaround for this?

[2020-10-15 17:17] mortent commented on #2774
I'm only catching up on this now, but I don't think there is any issues if a PR spans multiple modules as long as each commit in the PR is constrained to a single module. When we create release notes, we look at commit messages, not PR descriptions. This should also remove the need for any special directives to disable the check.

[2020-10-15 17:43] Shell32-Natsu commented on #3098
The fields that will be updated by variable reference can be customized by `configurations` field in kustomize.

create a `config.yaml` file
[code]

Then add
[code]
to your `kustomization.yaml` file. You will get expect result.

[2020-10-15 17:43] #3098 closed

[2020-10-15 18:23] Shell32-Natsu commented on #1736
@dsyer Does `components` address your problem?

[2020-10-15 19:15] monopole commented on #2774
@mortent agreed, though it might make the tool more complicated if it has to examine all the commits.

How about we do that, but also (first) add the following escape hatch:

[2020-10-15 19:33] monopole commented on #2774
more context: the tool #2773 that gathers the release notes is still obligated to examine commits, and exclude commits that don't touch the module.

Commits that span modules will still appear in multiple release notes.

So this particular change is just an attempt to reduce the count of such commits.

[2020-10-15 19:50] monopole commented on #2774
@runewake2 we'll still want to be able to run `make prow_presubmit-check` locally, so if the prow-specifc env vars aren't present, the check should succeed rather than block the other tests.

[2020-10-15 19:51] YujiShen commented on #3098
@Shell32-Natsu Work like a charm! Thanks!

[2020-10-15 21:08] runewake2 commented on #2774
Is it valuable to have release notes based on commits instead of pull requests? Merged pull requests should be some feature milestone where that isn't necessarily the case with commits.

[2020-10-16 02:41] acesaro commented on #2790
The workaround we found was to ensure that the values in base are of the same data type as your patches.  For example, we had "string" placeholder values in base while we patched them with "integer" actual desired values in our patches.  Prior to 3.8.0, this actually kept the data type of the patch, regardless of what was in base.  After thinking about it more, this new behavior is more desired fr

[2020-10-16 06:01] KR411-prog opened #3108 "[Question] How to include labels for every configmap in a configmapList?"
I have a yaml file like below.This yaml file needs to be patched with a new label under each configmap.

[code]
I want to insert labels under every configmap in this configmaplist as below,

[code]
I tried to do this using Kustomize by following https://kubectl.docs.kubernetes.io/pages/app_customization/customizing_arbitrary_fields.html. But its not working.

Here is my file,
[code]

overlays/kust

[2020-10-16 09:21] dsyer commented on #1736
Not sure really. Still waiting for some docs (https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/components/ is empty).

[2020-10-16 09:44] pantaoran commented on #3108
I have the exact same question/problem. I need to add an annotation to every item in a list, and the annotation should be different for every environment.

[2020-10-16 11:11] venkattech3889 commented on #2201
I am also having the same issue, where we do not use kube-applier. folders are filing up like anything it's crossing1 lakh. how can we handle this?

[2020-10-16 16:02] ephesused opened #3109 "Regression at master for PatchTransformer when ports have matching containerPort values"
When a deployment has a container with two differently-named ports that match on the containerPort, a PatchTransformer is causing one port to disappear.

Note that I have not adjusted to the new pin/unpin process, and this issue arose with a straight pull from master. If there is something I need to do (past a pull), I'm happy to adjust.

My testing used 7e04be9e, running the testcase described ov

[2020-10-16 17:06] Shell32-Natsu commented on #1736
Great, I have a issue for the components doc. #3090

[2020-10-16 17:06] #1736 closed

[2020-10-16 17:14] Shell32-Natsu commented on #2201
@venkattech3889 What's the version of kustomize are you using?

[2020-10-16 17:30] Shell32-Natsu commented on #3109
We needed to revert the fix for this because it caused a problem in kpt. We will try to find a better solution before next kustomize release.

@natasha41575

[2020-10-16 17:41] monopole opened #3111 "Merge ContainerPort ports field using containerPort,protocol tuple"
new plan: merging should look for a `x-kubernetes-list-map-keys` field and use the list to merge if the list exists, then fall back to the singular field `x-kubernetes-patch-merge-key` and use that.
The libraries must respect the intent of the schema.

see this [note](https://github.com/kubernetes-sigs/kustomize/issues/3111#issuecomment-716736823)

---- original comment below

We had to to rollbac

[2020-10-16 17:42] monopole commented on #3111
@natasha41575

[2020-10-16 17:43] Shell32-Natsu commented on #3109
Please see #3111.

[2020-10-16 17:43] #3109 closed

[2020-10-16 18:08] Shell32-Natsu commented on #3108
1. Please use `patches` instead of `patchesJson6902`.
2. `*List` resources will be parsed to a list of resources in kustomize instead of a single resource. So there is no `ConfigMapList` in kustomize but a list of `ConfigMap`. In `target.kind` you should use `ConfigMap`.
3. JSON patch requires the `path` except last item does exist. If you want to add a label `/metadata/labels/testlabel`, `/metada

[2020-10-16 18:08] #3108 closed

[2020-10-16 18:15] Shell32-Natsu commented on #2790
It looks like the `$retainKeys` might be useful to kubectl, kustomize shouldn't silently remove it.

And thanks for digging into the data type @robinjmurphy @acesaro.

[2020-10-16 18:15] #2790 closed

[2020-10-16 18:40] apelisse commented on #3111
You can't. But you can possibly look at `x-kubernetes-list-map-keys` which accepts a list of fields rather than just one.[1]

[1]: https://kubernetes.io/docs/reference/using-api/api-concepts/#merge-strategy

[2020-10-16 21:27] monopole commented on #2774
there area many ways to think about this, but for now we just want the release notes to contain, at the least, the correct set commit messages

[2020-10-16 21:28] #2615 closed

[2020-10-17 05:42] venkattech3889 commented on #2201
We are using 3.7.0

[2020-10-17 17:00] bcouetil opened #3116 "How to use dynamic namespace name in ingress ?"
Hello,

I first want you to thank contributors to this great tool :smiling_face_with_three_hearts:

On my projects, I apply my manifests to dev/staging/prod, but also to namespaces choosen dynamically, named after the feature branches, or named after a given developer for local development, for real time synchronization with a personal namespace in cluster.

For those dynamic namespaces, the name

[2020-10-17 19:44] monotek commented on #2736
Not stale. Still interested in such function.

[2020-10-18 05:51] #1733 closed

[2020-10-18 16:09] bcouetil commented on #3116
Substitution does not work in my case for the officially authorized `Ingress` field `spec/rules/host`, I must have missed something :

Here are my files :

[code]

[code]

[code]

Please enlighten me :smile:

[2020-10-18 18:42] davidsbond opened #3117 "volumeMount names being overwritten when using patchesStrategicMerge"
**Describe the bug**

I have a deployment that has several volume mounts on the same path, one from a PV, one from a secret and one from a config map. I also have an overlay that is meant to inject an extra container that can perform backups of one of the volumes, so it too has a volume mount for the PV.

When I build the resources using `kustomize build` I find that in the output all the volume m

[2020-10-19 02:11] #2426 closed

[2020-10-19 17:11] Shell32-Natsu commented on #3117
This is the same as #2767. `mountPath` is the merge key and items with same merge key will be *merged*. We should have similar solution like #3111.

@monopole @natasha41575

[2020-10-19 17:47] jasper-d commented on #1342
Looks like kubectl is currently still using kustomize 2.0.3. https://github.com/kubernetes/kubectl/blob/master/go.mod#L46

Direct download for those who need a compatible version (cannot get it using `install_kustomize.sh`): https://github.com/kubernetes-sigs/kustomize/releases/download/v2.0.3/kustomize_2.0.3_linux_amd64

[2020-10-19 18:02] Shell32-Natsu commented on #3116
Change `kibana-${NAMESPACE}.example.com` to `kibana-$(NAMESPACE).example.com`.

You can also try [`patches`](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/patches/)

[2020-10-19 18:02] #3116 closed

[2020-10-19 18:10] Shell32-Natsu commented on #2625
It does support. Try to use `kustomize edit set image test=:tag`. If `newName` is missing in kustomization file, the old name will be keep unchanged.

[2020-10-19 18:10] #2625 closed

[2020-10-19 18:11] Shell32-Natsu commented on #2736
@monopole Is there any blocker to this feature?

[2020-10-19 18:13] Shell32-Natsu commented on #2201
@venkattech3889 Are you using remote resources? If so, please try with latest version. The fix is #2943

[2020-10-19 18:16] Shell32-Natsu commented on #2619
@jcassee `*List` resources will be extracted from the list and be processed as a list of resources in kustomize.

[2020-10-19 18:30] Shell32-Natsu commented on #2328
Please reopen the issue if you are stilling having it.

[2020-10-19 18:30] #2328 closed

[2020-10-19 19:55] natasha41575 opened #3120 "Regenerating the swagger.go files in openapi causes unit tests to fail"
In the openapi directory, running "make clean" followed by "make" causes many unit tests to fail with the error that the asset 'openapi/kubernetesapi/swagger.json' cannot be found.

This is most likely a result of the refactoring in #3115 as it changes the asset name used in the swagger.go files from 'openapi/kubernetesapi/swagger.json' to just 'kubernetesapi/swagger.json', but the asset name used

[2020-10-19 19:56] natasha41575 commented on #3120
I cannot assign to myself yet but I have a fix and will submit a PR soon

[2020-10-19 21:07] #3120 closed

[2020-10-20 01:31] brianpursley commented on #2789
I reproduced the bug locally, and I think this is a problem in [hashicorp/go-getter](https://github.com/hashicorp/go-getter) and therefore, the "lite" version forked for kustomize, [yujunz/go-getter](https://github.com/yujunz/go-getter)

I submitted a PR to hashicorp go-getter to handle Windows-style absolute paths:
https://github.com/hashicorp/go-getter/pull/284

If this gets merged, then I can s

[2020-10-20 13:30] sharvii opened #3124 "merge or replace behaviour not working in configmapgenerator"
kustomization yaml  used is as below

![image](https://user-images.githubusercontent.com/7362601/96593178-d2a9b180-1306-11eb-9fdd-65a7ac9f208b.png)

error received after applying below command .

kubectl apply -k .

error: id resid.ResId{gvKind:gvk.Gvk{Group:"", Version:"v1", Kind:"ConfigMap"}, name:"config", prefix:"", suffix:"", namespace:"default"} does not exist; cannot merge or replace

[2020-10-20 16:55] Shell32-Natsu commented on #3124
Please try latest kustomize version. THe version that shipped with kubectl is very old.

[2020-10-20 17:00] #2791 closed

[2020-10-20 17:00] #2793 closed

[2020-10-20 17:11] Shell32-Natsu commented on #1038
`kustomize edit add patch` should be refactored to add [`patches`](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/patches/) field instead of either `patchesStrategicMerge` or `patchesJson6902`.

[2020-10-20 17:30] SamsonNelson commented on #2047
+1

[2020-10-20 17:45] Shell32-Natsu commented on #2047
kubectl is using a very old version of kustomize. Unfortunately we cannot update it now for some technical reasons but we are working on it. Please use latest version of kustomize.

[2020-10-20 17:45] #2047 closed

[2020-10-20 19:32] #3093 closed

[2020-10-20 19:33] #3053 closed

[2020-10-20 20:53] #1510 closed

[2020-10-21 04:35] everpeace opened #3127 "[Question] How to avoid mutating namespace field of default ServiceAccount in RoleBinding.subjects ?"
I wanted to generate `RoleBinding` resource which binds `default` ServiceAccount in __another namespace__.   I tried to customize namespace built-in transformer as below.  However, it looks like kustomize forcefully mutates namespace field of ServiceAccount when its name is default. How could we avoid it??

[code]

[code]

[2020-10-21 07:02] sharvii commented on #3124
i installed latest version of kustomize
{Version:kustomize/v3.8.5 GitCommit:4052cd4fd8c76a17b5f64e32509f3fba9713fe75 BuildDate:2020-10-08T02:45:59Z GoOs:linux GoArch:amd64}

Still getting similar error

![image](https://user-images.githubusercontent.com/7362601/96684538-6330d200-1399-11eb-9b3d-3ef6d6c4bc7d.png)

error received on running below command

kustomize build .

Error: merging from genera

[2020-10-21 16:51] Shell32-Natsu commented on #3124
Please provide the content in deployment.yaml and service.yaml.

[2020-10-21 17:05] #2828 closed

[2020-10-21 17:06] #2798 closed

[2020-10-21 17:06] #2788 closed

[2020-10-21 17:08] Jojoooo1 commented on #1439
Did you resolve it ?

[2020-10-21 17:11] sharvii commented on #3124
my folder structure is as below. I am not using overlay.

![image](https://user-images.githubusercontent.com/7362601/96753692-d95f2400-13ed-11eb-8e47-764b38f0bde8.png)

deployment.yaml
![image](https://user-images.githubusercontent.com/7362601/96753634-c5b3bd80-13ed-11eb-8468-6d038bee4f78.png)

service.yaml

![image](https://user-images.githubusercontent.com/7362601/96753778-f562c580-13ed-11eb-8a6

[2020-10-21 17:24] Shell32-Natsu commented on #2704
@neilharris123 provided a good example for customizing `fieldSpecs` for `varReference`. You don't need to have a "a list of fields that are allowed in the first place". The fieldSpecs in `configurations` files will be merged with builtin fieldSpecs.

Another method to customize the fieldSpecs is using `varReference` [plugin](https://kubernetes-sigs.github.io/kustomize/guides/plugins/builtins/).

Y

[2020-10-21 17:24] #2704 closed

[2020-10-21 17:53] Shell32-Natsu commented on #3127
`subjects` in RoleBinding is configured in builtin plugins. You can avoid this by explicitly using [plugin](https://kubernetes-sigs.github.io/kustomize/guides/plugins/builtins/#_namespacetransformer_). In this way, builtin configurations will be overridden.

[2020-10-21 17:57] Shell32-Natsu commented on #3124
configMapGenerator will add a hash suffix by default so you cannot refer it directly by name.

Please add

[code]
to your configMapGenerator item.

[2020-10-21 18:19] #2640 closed

[2020-10-21 18:19] #3073 closed

[2020-10-21 18:38] #2924 closed

[2020-10-21 18:43] Shell32-Natsu commented on #2872
the pipeline problem is fixed by #3112

[2020-10-21 18:43] #2872 closed

[2020-10-21 18:50] Shell32-Natsu commented on #2846
Please file a doc issue if you find that the doc is inconsistent with latest version. We are happy to fix.

[2020-10-21 18:50] #2846 closed

[2020-10-21 18:57] Shell32-Natsu commented on #2825
@monopole @natasha41575 This issue is related to #3111. Users may want to load their own schema.

[2020-10-21 19:04] Shell32-Natsu commented on #2786
Which command do you want to support .yaml extension?

[2020-10-21 19:23] Shell32-Natsu commented on #2785
From [YAML 1.2 spec](https://yaml.org/spec/1.2/spec.html#id2786196),

Your `my-spec` anchor is in another document.

[2020-10-21 19:23] #2785 closed

[2020-10-21 19:28] monopole opened #3128 "Convert the helm chartinflator plugin to a builtin Go plugin"
Kustomize has a [plugin](https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/someteam.example.com/v1/chartinflator) that inflates a helm chart (see [example of use](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md)), but it's a hacky bash script, and has to be installed in the right spot to use it.

Given helm's popularity, it would be more convenient to have

[2020-10-21 19:28] #2779 closed

[2020-10-21 19:37] #2729 closed

[2020-10-21 19:40] Shell32-Natsu commented on #2719
@phanimarupaka Can we close this issue?

[2020-10-21 19:43] #2705 closed

[2020-10-21 19:44] Shell32-Natsu commented on #2705
Please file a new doc issue for this. @monopole @etefera

[2020-10-21 19:49] Shell32-Natsu commented on #2701
In this case you may want to use [patches](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/patches/).

[2020-10-21 19:49] #2701 closed

[2020-10-21 19:52] monopole commented on #2985
For the particular case of reading from a helm chart, we have [this example](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md).  It  could use some improvement - see #3128

A previously proposed interpretation of a missing `resources:` field was to treat it as a wildcard, e.g.
a missing `resources:` field would be equivalent to
[code]

If this implicit _inclusion_ method

[2020-10-21 23:17] Shell32-Natsu commented on #3090
Add a link to https://kubernetes-sigs.github.io/kustomize/guides/components/ in https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/components/

[2020-10-22 04:26] Shell32-Natsu commented on #2643
There are some technical reasons that block updating kustomize version in kubectl. The most significant one is the dependence on apimachinery module.

We are working on addressing these issues.

[2020-10-22 04:27] #2643 closed

[2020-10-22 04:32] Shell32-Natsu commented on #2643
Please see #1500 and #2506

[2020-10-22 04:36] bburky commented on #2052
Re: I just want a simple KV file (plus environment variables please)

I was looking for a way to substitute [Argo CD build environment variables](https://argoproj.github.io/argo-cd/user-guide/build-environment/) into my Kustomize files and discovered this `vars` feature. With a scary chain of KV → ConfigMap → vars → Application I created a proof of concept:
https://github.com/bburky/kustomize-tran

[2020-10-22 08:11] everpeace commented on #3127
@Shell32-Natsu
I thought I tried it by using `configurations` clause in `kustomization.yaml`.  And, I tried to use builtin plugin as you described, this also mutates it.  Could you kindly reopen this because it seems I don't have permission to reopen??

[code]

[code]

[2020-10-22 12:17] hermanbanken commented on #2052
I want to add that we are not also using `vars`. Initially we didn't understand how to use it for our purpose, but it is a 100% fit. One example is our Ingress resource, which looks like this:

[code]

Then our configMapGenerator / vars looks like this:

[code]

and the properties like this:
[code]

then in our overlays we redefine the `environment.properties` file and have this in Kustomization:

[2020-10-22 12:58] andredasilvapinto opened #3130 "namePrefix not updating resource references"
**Describe the bug**
masterInstanceRef (sql instance) and instanceRef (sql database) are not updated with the prefix when using namePrefix overlay.

**Files that can reproduce the issue**

A simplified case can be found here: https://github.com/andredasilvapinto/kustomize-prefix-issue

After cloning you should run `kustomize build overlays/test/`

**Expected output**

[code]

**Actual output**

[c

[2020-10-22 13:50] benbc opened #3131 "Misleading documentation of `configMapGenerator`"
The `kustomize` examples ([here](https://github.com/kubernetes-sigs/kustomize/blame/master/examples/combineConfigs.md#L254-L255)) says:

That is not the case -- there is no such GC process.

This is not a bug report about the lack of the GC process or the problem of how to handle that in a `kustomize`-based workflow (that has been reported in #1806 and #242). It is just a request to clear up that

[2020-10-22 18:36] monopole commented on #3111
This goes way back:  https://github.com/kubernetes/kubernetes/issues/39188

It's a long discussion, and the issue is still open.
@brianpursley did a nice job summarizing the problem.
Here's what i think we know:

 1. From https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#container-v1-core,
we know that the `ports` field is a list of ContainerPort with merge key `containerPort`.

[2020-10-22 18:40] apelisse commented on #3111
It's unclear from your sentence if they want multiple entries with the same port because they want name aliases, or because they want ports with the same number on the same protocol. if the former, then the primary key should have been the name, if the latter (the current assumption, and my assumption too), then the key should be a combination of port and protocol.

[2020-10-22 19:00] Shell32-Natsu commented on #3111
In issue #2767 there are both. The main thread if former and [this comment](https://github.com/kubernetes-sigs/kustomize/issues/2767#issuecomment-674062357) is latter.

[2020-10-22 19:03] Shell32-Natsu commented on #3131
Thanks for the report!

[2020-10-22 19:07] apelisse commented on #3111
I'd like to see a good argument for the multiple names being useful. So far I'm really not convinced this is a problem. Note that the apiserver will REMOVE one of the two anyway (and maybe eventually fail, server-side apply will certainly fail), so whatever Kustomize does it somewhat irrelevant (it should probably fail).

The port/protocol combination is the new primary key for this field, and wil

[2020-10-22 19:13] Shell32-Natsu commented on #3130
This is because you are using your own GVK(Api group, version and kind) and kustomize doesn't understand it. Please take a look at this [doc](https://kubernetes-sigs.github.io/kustomize/guides/plugins/builtins/#_prefixsuffixtransformer_) to see how to customize your own prefixsuffixtransformer.

[2020-10-22 19:13] #3130 closed

[2020-10-22 19:16] monopole commented on #3111
I have no more context for #2767 (and the multiple names on the same port/protocol tuples).  Certainly agreed it makes no sense for kustomize to jam all this together, and the have the api server puke on it regardless.

kustomize doesn't encourage removal; it encourages addition or mutation only.  that said, there's work in the backlog to support json 6902 removal operations.  that's beside the po

[2020-10-22 19:18] monopole commented on #3111
Where (or when) does that show up in the openapi schema?

[2020-10-22 19:24] apelisse commented on #3111
We have that on the `containerPort` field:
`"x-kubernetes-list-map-keys": ["port", "protocol"]`

[2020-10-22 19:53] Shell32-Natsu commented on #3127
I see. The subject with name `default` is hardcoded and has a special hack. https://github.com/kubernetes-sigs/kustomize/issues/2906#issuecomment-684036911. The hack will always update the namespace for default service account. What I can suggest is not using `default` name.

[2020-10-22 20:13] andredasilvapinto commented on #3130
I eventually got it to work by adding nameReferences for SQLInstance/SQLDatabase. Are there any plans to add support for the Config Connector resources? e.g. the ones I've used https://cloud.google.com/config-connector/docs/reference/resource-docs/sql/sqlinstance#sample_yamls

[2020-10-22 20:16] Shell32-Natsu commented on #3130
AFAIK there is no such plan. We will only support standard k8s resources by default and leave the 3rd party resources to users to configure.

[2020-10-22 20:21] Shell32-Natsu commented on #2644
This should have been addressed in latest kustomzie version.

[2020-10-22 20:21] #2644 closed

[2020-10-22 21:38] Shell32-Natsu commented on #3131
And PRs are welcome. :)

[2020-10-22 21:47] #2557 closed

[2020-10-23 01:17] u2mejc opened #3137 "Regression: git resource urls not reliably parsed"
**Describe the bug**
When defining remote git repos (resources), BitBucket is no longer supported.

**Files that can reproduce the issue**
- kustomization.yaml
[code]

**Expected output**
No errors.

**Actual output**
[code]

**Kustomize version**

`{Version:kustomize/v3.8.5 GitCommit:4052cd4fd8c76a17b5f64e32509f3fba9713fe75 BuildDate:2020-10-08T05:35:40+01:00 GoOs:darwin GoArch:amd64}`

**Platfor

[2020-10-23 04:57] y00j opened #3138 "vars not being populated properly in deployment.yaml but are populated in configmap"
**Describe the bug**
vars are not being replaced properly when defined in configmapgenerator literal field

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]
config.yaml

[code]

deployment.yaml

[code]
...

**Expected output**
deployment.yaml

[code]

**Actual output**
deployment.yaml

[code]

**Platform**
Ubuntu 20.04.1 LTS

**Additional context**
var1 in the config ma

[2020-10-23 06:24] everpeace commented on #3127
hmm...  I'm interested in the reason for this hack.  I'm thinking to add an option bypassing the hack in namespace transformer?

[2020-10-23 13:14] dan-slinky-ckpd commented on #3138
Regarding the variables in your deployment not being populated, your example `config.yaml` as given is incorrectly structured.

Regarding populating a varaible inside a variable, I don't think that'll work. You would be better concatenating them in your `deployment.yaml`.

Based on your examples above, like this:

config.yaml

[code]

deployment.yaml

[code]

kustomization.yaml

[code]

[2020-10-23 13:15] ephesused commented on #3111
Regarding possible reasons to support multiple names referring to a single port, I follow the argument that the current kubernetes implementation does not work as one might expect in that scenario.

However, kubernetes accepts resources whose containers have multiple ports with the same number but divergent names. I can see a reasonable argument that kustomize should not produce yaml that kuberete

[2020-10-23 13:17] dan-slinky-ckpd commented on #2052
I would like to echo @hermanbanken comment. We also use and very like this pattern.

[2020-10-23 16:22] apelisse commented on #3111
kustomize probably has to parse the object in a representation that makes sense for it. If the object is incorrect, it probably can't do that.

I think it's fine if we don't have that feature though, unless it really breaks something that I'm missing?

[2020-10-23 16:37] natasha41575 commented on #3111
@apelisse did you see this issue? different port names but still merging incorrectly. I was wondering what your thoughts are on that, and if in that case it makes sense to have name be the merge key
https://github.com/GoogleContainerTools/kpt/issues/1143

[2020-10-23 17:58] towens commented on #119
On an overlay:
`thing/overlays/dev/kustomization.yaml`

That looks like:
[code]
When running:
`kustomize edit add resource applications/*.yaml`

Turns into:
[code]

The bases key is removed and the value is merged with resources. Something I am missing?

[2020-10-23 18:05] Shell32-Natsu commented on #119
@towens `bases` is replaced by `resources` in newer version of kustomize.

[2020-10-23 18:12] Shell32-Natsu commented on #2647
I don't get your point.

You probably have different values for `commonLabels` and `commonAnnotations` in different overlays. That's why we have overlays. If they are different, then there is no duplication. If these values are same, they should be put into base instead of overlays.

[2020-10-23 18:15] Shell32-Natsu commented on #3127
@monopole Do you have any idea of why do we have this hack?

https://github.com/kubernetes-sigs/kustomize/blob/719532e4df44f553fcfa5b51fb519eca2bcf4e9d/api/filters/namespace/namespace.go#L93-L106

[2020-10-23 18:23] Shell32-Natsu commented on #3127
@pwittrock Could you remember the reason to add this?

[2020-10-23 18:32] Shell32-Natsu commented on #3138
@dan-slinky-ckpd Thanks for the comment.

@y00j In your example there is a dependency cycle. `configmap` =>`var2`=>`configmap`. That won't work.

[2020-10-23 18:32] #3138 closed

[2020-10-23 18:43] Shell32-Natsu commented on #3137
Could you try to run `git clone [REPO]` manually?

[2020-10-23 20:04] towens commented on #119
@Shell32-Natsu understood, thanks. The local kustomize version is ahead of what kubectl has. `kubectl -k` is pretty nice. Redirecting kustomize build isn't a deal breaker.

[2020-10-23 21:08] ephesused commented on #3111
I agree. Right now I think it's fine since there's no end result breakage.

At root, there's no "right" answer until kubernetes/kubernetes#39188 is resolved. Until then, my arguments are mostly academic. It's unexpected to have a patch transformer for a label end up altering ports. On some level, kustomize is acting as a linter. But I follow why that's happening.

[2020-10-23 23:39] y00j commented on #3138
the thing is that I want to be pull in a configmapgenerator downstream so that my var2 can be constructed differentl based on the environment

for example one downstream configmap might be:
[code]
and another is:
[code]

and that way I only need to pull in var2 in my deployment.yaml

[2020-10-23 23:45] u2mejc commented on #3137
[code]

That works as expected. 😄   The issue was reproducible on master@HEAD, as of yesterday.

[2020-10-24 00:03] Shell32-Natsu commented on #3137
I am not familiar with bitbucket but it looks like I cannot clone the repo.

[2020-10-24 00:09] Shell32-Natsu commented on #3138
That is not supported I suppose.

[2020-10-24 00:58] u2mejc commented on #3137
My apologies, the example is just an example for the text in this ticket. It's a generic git compatible repo. Assuming kustomize uses the native git client on the system, it should simply trying cloning and fail with a git error if it doesn't exist.

The issue technically has nothing to do with bitbucket, it's simply that kustomize's URL/URI parser is failing to recognize this as a valid git URL.

[2020-10-24 01:00] u2mejc commented on #3137
Updated title of issue to clarify. 👍

[2020-10-24 04:56] Shell32-Natsu commented on #3137
OK, bug confirmed. We do have bug in the git spec parser.

What kustomize expect is URL in this format: `[ssh://]git@serverIp[:serverPort]/orgName/repoName[.git]`. So the URLs like following are not parsed correctly
 - `git@bitbucket.org:someOrg/someRepo`: `someOrg` is considered as a part of hostname.
 - `git@bitbucket.org:222:someOrg/someRepo`: same as above.
 - `bitbucket.org:someOrg/someRepo`:

[2020-10-24 05:02] #3124 closed

[2020-10-24 05:03] #2434 closed

[2020-10-24 05:06] Shell32-Natsu commented on #2299
Will check does this still exist.

[2020-10-24 06:42] hermanbanken commented on #2052
I only dislike the repetition in my `vars` statement. The rest I like because it is immediately clear from the Ingress that field are overridden somewhere.

Note that a JSON patch would also work, but has the downside of selecting host rules by index, which is very unstable. Only 1 host rule has to be prepended for all replacements to fail.

With kept, I'd need to have the possible replaces in my

[2020-10-24 22:11] ashlineldridge opened #3141 "Declarative function storage mounts are ignored"
**Describe the bug**

When storage mounts are specified to a declarative function definition they are ignored. It looks like [this code](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/runfn/runfn.go#L433) has been written to cater for command line `--mount` arguments, which get stored in the `RunFns.StorageMounts` slice, but declarative mounts which are stored in `spec.Container.Ne

[2020-10-24 22:12] ashlineldridge commented on #3141
Happy to submit a PR.

[2020-10-25 05:26] darkn3rd commented on #388
This [statement](https://kubernetes-sigs.github.io/kustomize/faq/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables) about the reasoning behind why env vars are not supported goes against D-R-Y principal and cloud-native in the scope that cloud resources are typically ephemeral resources where things are not static or etched in stone.

To require editing static configuration

[2020-10-26 17:03] Shell32-Natsu commented on #2649
@phanimarupaka Can we close this issue?

[2020-10-26 18:18] Shell32-Natsu commented on #3141
That's intended.In most of the cases the KRM function config file author is different from the user. It makes no sense to add a path in user's system when the author is creating a function config. So we have decided to make the mount purely imperative.

[2020-10-26 18:20] monopole commented on #3111
Thanks @ephesused !

Copying a comment from #3125, the current consensus is that merging should look for a `x-kubernetes-list-map-keys` field and use the list to merge if the list exists, then fall back to the singular field `x-kubernetes-patch-merge-key` and use that.  The libraries must respect the intent of the schema.

So kustomize won't merge `ContainerPort/ports` on `name`, and thus won't su

[2020-10-26 18:22] #2649 closed

[2020-10-26 18:26] Shell32-Natsu commented on #3141
We haven't updated all documentation about this. Sorry for any confusion.

[2020-10-26 18:28] #3141 closed

[2020-10-26 19:39] ashlineldridge commented on #3141
@Shell32-Natsu But what about the use case for functions being applied during `kpt sync`? Kptfiles allow you to declaratively specify functions that get applied during a `sync` operation ([here](https://github.com/GoogleContainerTools/kpt/blob/d9b4cb2856f006dd71a57799724637d697d1e652/pkg/kptfile/pkgfile.go#L270)).

IME, package consumer often wants to be able to define a pipeline of transformation

[2020-10-26 19:41] Shell32-Natsu commented on #3141
Please open an issue in kpt repo and we can discuss there.

[2020-10-27 19:27] davidknezic opened #3142 "[Question] Namespace conflict between components"
Love the idea of components in Kustomize, so I started adapting our many definitions to the structure outlined in the [Kustomize componentes guide](https://kubernetes-sigs.github.io/kustomize/guides/components/).

Each of our components usually comes with a namespace definition and a `namespace: foo` declaration in its `kustomization.yaml`. This is especially useful in operator components with rem

[2020-10-27 19:35] #2665 closed

[2020-10-27 21:07] yanniszark commented on #3142
cc @apyrgio @ioandr @pgpx

[2020-10-27 22:32] max-sixty commented on #776
For people coming back to this error — `bases` works but is deprecated.

For maintainers — what's the recommended way for people to handle this case?

[2020-10-27 23:30] pgpx commented on #3142
@davidknezic You are getting the error because of the interaction between the `namespace` override in the `kustomization.yaml`s and the namespace resources themselves.  I'll try to explain (and I was supposed to have provided additional documentation about components - sorry):

If you change the components to normal `Kustomization`s (and include them as `resources` in `overlays/local/kustomization

[2020-10-28 00:39] davidknezic commented on #3142
@pgpx, thank you so much for this incredibly valuable explanation!

Indeed, changing my Components to Kustomizations really solves my problem. I don't know why, but I just didn't realize that I can reference _local_ child Kustomizations from my overlay Kustomization. When I stumbled upon Components I imagined that this was what I needed and didn't look further.

Your explanation finally helped me

[2020-10-28 15:29] monopole commented on #2861
Fixed by #3136

[2020-10-28 15:29] #2861 closed

[2020-10-28 17:04] #3142 closed

[2020-10-28 17:23] Shell32-Natsu commented on #2673
You should put `namePrefix: prefix-` into the overlay. Transformers in base will only be applied to resources in base.

[2020-10-28 17:23] #2673 closed

[2020-10-28 17:26] Shell32-Natsu commented on #776
`bases` is replaced by `resources`. Just use `resources` like `bases`.

[2020-10-28 18:42] max-sixty commented on #776
What about this case?

[2020-10-28 18:46] Shell32-Natsu commented on #776
In kustomize V2, `bases` is used. In V3, `resources` is used to refer bases. Although you can still use `bases` in V3 but as you said it's deprecated.

[2020-10-28 18:47] max-sixty commented on #776
I think we're talking past each other. Does `resources` allow referring to outside paths? If not, what should people use?

[2020-10-28 18:50] Shell32-Natsu commented on #776
Since `resources` has the same capability with `bases` so if `bases` can access then `resources` can. That's what I was talking about.

[2020-10-28 18:52] Shell32-Natsu commented on #776
Will try to check it on my side

[2020-10-28 18:54] Shell32-Natsu commented on #776
OK I made a mistake. You can refer an outside `base` directory but not a single YAML file.

[2020-10-28 19:29] Shell32-Natsu opened #3144 "Re-enable tests for edit add patch command after v3.8.6"
#3129

 - Need update the kustomize versions used in example tests in Makefile.
 - Re-enable tests in `examples/springboot/README.md`.

[2020-10-28 19:47] #1038 closed

[2020-10-28 20:54] max-sixty commented on #776
Converting outside references to directories is very reasonable! Thanks

[2020-10-28 21:06] monopole opened #3145 "kpt hydration w/r to kust plan"

[2020-10-28 22:54] ilyakaznacheev commented on #3131
Hello, I collected information on how this can be done (actually from different issues and even from docs) and added here. Nothing _really_ special, but may be helpful.

[2020-10-29 00:38] #3131 closed

[2020-10-29 05:03] Lepird commented on #2647
@Shell32-Natsu I ran into the same issue and it is a generic issue and not just in the generators as mentions by @RR90
moreover note that this behavior is also there with common annotations.

for reference check the below kustomization.yamls.

base:
[code]

production overlay:
[code]

test overlay:
[code]

the expectation here is that the label `app.kubernetes.io/name: app-name` should be propagat

[2020-10-29 09:38] apyrgio commented on #3090
@pgpx: You're probably interested to this issue as well. Given your great explanation on #3142, could you perhaps reword it and add it to https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/components/?

[2020-10-29 14:08] dmnemec commented on #2803
Having this feature (from path or url) and another flag to output the edited file is what we're looking for, too. This would allow us to pipe it directly into `kustomize build` to enable easy 1-step deployments from our GitHub repo for customers.

[2020-10-29 14:16] DavidGrinberg opened #3148 "[Question] How do I label my K8 objects with the current commit?"
I have an automated deployment pipeline and of its features is labeling all objects in K8 with the git commit they came from. This is achieved by simply having
[code]
Then my CI/CD runs `envsubt` before running `kubectl apply`. How would I replicate this in Kustomize? I realize I could have
[code]
and just run `envsubt` on that, but that seems to break the whole 'no templating' paradigm of Kustomi

[2020-10-29 15:12] gabegorelick commented on #291
Comments and the order of top-level elements in kustomization.yaml seem to be preserved when running something like `kustomize edit set image`, but kustomize (as of v3.8.5) still reformats the file. For example it will change indentation and alphabetize properties under `configMapGenerator`, `images`, etc.

[2020-10-29 16:33] pgpx commented on #3090
Yes, good idea - I'll give it a go.

[2020-10-29 18:20] Shell32-Natsu commented on #2647
@Lepird The transformers defined in bases will only be applied to the base resources. That's how kustomize works since bases has no knowledge about the overlays. And overlays only expect a resource lists from bases. No transformers.

Affecting the resources in overlays breaking the concept of bases. You can take a look at [components](https://github.com/kubernetes-sigs/kustomize/blob/master/exampl

[2020-10-29 18:28] Shell32-Natsu commented on #3148
One way is using `kustomize edit add label` to add the `commonLabels` to kustomization file dynamically.

We also have [vars](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/vars/) for this arbitrary fields and values. However, there is a [proposal](https://github.com/kubernetes-sigs/kustomize/issues/2052) to remove it in future so this is not recommended.

[2020-10-29 18:28] #3148 closed

[2020-10-29 18:49] mikebz opened #3149 "Clean up travis directory"
**Describe the bug**

Currently kustomize repo has a travis directory which makes people believe that Travis CI is being run.

**Files that can reproduce the issue**

Look here:
https://github.com/kubernetes-sigs/kustomize/tree/master/travis

**Platform**

N/A

**Additional context**

A good hygiene here is to probably remove the directory and save the files that we need from there to a separate d

[2020-10-29 19:09] kferrone commented on #2786
`kustomize cfg` and all of it's subcommands use the krmfile

[2020-10-29 19:33] Lepird commented on #2647
@Shell32-Natsu thanks for the update I shall consider components in the future, though for now just copying the label between layers is the easier approach 😅.

Moreover just to allow for the train of though to continue for a bit, also something to consider for future enhancement. Is that common labels and common annotation (from a use case perspective) should function similar to how a generator wi

[2020-10-29 19:40] Shell32-Natsu commented on #2647
The document is correct. The common labels are applied to all the resources in their scope. Resources from bases are definitely in the overlays' scope. So the labels in overlays will be added to or override the labels in bases resources, not the opposite.

[2020-10-29 22:34] DavidGrinberg commented on #3148
`kustomize edit` seems like a less than ideal solution because it quickly complicates deployment. I would go from a nice clean 1 line `kubectl apply -k` to a long chain of a bunch of `kustomize edit` calls after the fact. I have other usecases where I inject values from environment variables, so I think this would quickly get out of hand.

[2020-10-29 22:38] Shell32-Natsu commented on #3148
Another possible solution is creating your own [transformer](https://kubernetes-sigs.github.io/kustomize/guides/plugins/execpluginguidedexample/)

[2020-10-29 23:26] #2059 closed

[2020-10-29 23:26] #2540 closed

[2020-10-29 23:48] radTuti opened #3154 "binary install script not working for some releases"
**Describe the bug**

install kustomize script does not appear to work for latest version (v3.8.6) when specified or when no version string is specified

**Files that can reproduce the issue**

[install_kustomize.sh](https://github.com/kubernetes-sigs/kustomize/blob/6a9e75ee0d558683b989fe42e7edc02e84c990a9/hack/install_kustomize.sh)

**Expected/Actual output**

- using script without specifying a

[2020-10-30 00:07] Shell32-Natsu commented on #3154
This is because we have added ARM linux releases in the latest release. Will fix it soon.

[2020-10-30 00:31] radTuti commented on #3154
@Shell32-Natsu thanks! i created a stop-gap change & PR to get the script working as expected. Not sure if the script also needs to support ARM linux releases

[2020-10-30 04:39] mhamann commented on #3154
You can also change the install command to `curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash -s 3.8.5` as a workaround.

Probably should've rolled back / removed the ARM release until this was fixed though. Pretty sure there are a million builds across the planet that are failing right now because of this. Basically affects every linux o

[2020-10-30 05:01] #3154 closed

[2020-10-30 05:02] Shell32-Natsu commented on #3154
The fix has been merged in #3155. Please check.

[2020-10-30 05:05] Shell32-Natsu commented on #3154
If you are using https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh, it may take several minutes to update the cache.

[2020-10-30 06:20] zacheryph opened #3156 "[Question] 3.8.3 Breaks Namespace Creation"
Kustomize does not auto-create namespaces, but after 3.8.2, all namespace resources get overwritten. Is this an expected breakage to not be allowed to create a secondary supporting namespace? and yet... still forced to create a Namespace resource to ensure the namespace exists?

### Playground
[code]

### 3.8.2
As you would expect having two Namespace objects (or... more)
[code]

### 3.8.3
Somethi

[2020-10-30 09:39] mamiu commented on #776
@Shell32-Natsu

I still don't get it. `bases` are deprecated. As you can see [here](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/bases/).

And `resources` don't support referring to a parent directory or file. If I refer to a directory like so:

[code]

I get the error:

[code]

And if I refer to the `kustomization.yaml` in the `../../resources` directory...

[code]

...

[2020-10-30 10:09] maeb opened #3157 "Kustomize 3.8.5 orders overlayed environment variable differently than 3.7.0"
There is a difference in the ordering of environment variables between 3.7.0 and 3.8.5. Because variable substitution in kubernetes depends on the depended variable being defined before using it, this can lead to unresolved variables as shown in the example.

Not sure if this a breaking change and working-as-intended.

Example:

The value of `DB_HOST` is expected to be substituted with the host IP

[2020-10-30 12:57] dan-slinky-ckpd opened #3158 "kustomize 3.8.2 onwards builds are REALLY slow when using vars"
Releases `3.8.2` onwards are _really_ slow to build when using a vars pattern.

[code]

After some debugging this appears to be the case when using the `vars` pattern. You can see the pattern we use here: https://github.com/dan-slinky-ckpd/kustomize_build_slow

If you remove the `base/common` and the `configMapGenerator` from the `test` overlay, the build speeds are the same between versions. With

[2020-10-30 16:26] ephesused commented on #2869
Sorry to say, I haven't had time to come back around here and provide clean tests.

I did want to note that my daily runs showed a slowdown in the testcase for #2808 at some point between 76a8f034 and fc062839. Given the ongoing refactor effort, I didn't think it made sense to open a new issue.

The Oct 26 7:20am Eastern time run showed no meaningful variance in the execution time. At that point,

[2020-10-30 19:57] Shell32-Natsu commented on #3157
Related with #2907 and #3048

We changed the internal implementation of patch strategic merge to kyaml. In #2907 the behavior is changed from prepending to appending but in this issue the behavior is from appending to appending in v3.8.0 and then changed to prepending in #3048.

What we can get from it is the old implementation doesn't have a consistent behavior about merging order. Sometimes it p

[2020-10-30 19:57] #3157 closed

[2020-10-30 20:08] Shell32-Natsu commented on #3156
Reason: #2953

`namespace` field will update the `metadata.name` property for all `namespace` resources. Given all the resources' namespace will be overridden, is there any necessity to create other namespaces with different names?

[2020-10-30 21:07] zacheryph commented on #3156
In my case I was creating a secondary namespace the CI system was using to execute its builds in.

I am not against this. I like the idea of not having to define the namespace in two places. Maybe just the way its implemented? My question is... you force the name of any _and all_ Namespace resources to the defined namespace within kustomization.yaml, why not just.. create the namespace period? You

[2020-10-30 21:30] Shell32-Natsu commented on #3156
If you put a `namespace` in the kustomize, what kustomize considers is you want to override the namespace to *all* resources. If there is a resource with `kind: Namespace`, it's reasonable to update the name as well because other resources may be in that namespace.

If you want to create separate namespaces, I have 2 ideas.

1. Use an overlay to add namespaces. `namespace` in kustomization file is

[2020-10-31 03:24] mamiu commented on #776
As I said I'm using `kubectl kustomize` which still [seems to be kustomize v2.0.3](https://github.com/kubernetes-sigs/kustomize#kubectl-integration).

Since I'm using kustomize in a CI/CD pipeline I've now created a [custom image](https://github.com/mamiu/kube-deploy) that uses the latest version of kustomize. That solved the issue for me.

For others who're looking into that in the future: It sti

[2020-11-01 14:27] harirajanv commented on #1835
any luck with the issue. I still have exactly the same issue.
Issue:
the original resource  deployment file has  couple of configMapRef
     envFrom:
        - configMapRef:
            name: first
        - configMapRef:
            name: second

then you use patchesStrategicMerge:   to include another yaml that has some _more_ envFrom
     envFrom:
        - configMapRef:
            name: third

[2020-11-01 18:59] flo-02-mu commented on #2950
@Shell32-Natsu
By replacing the accumulateResources(ra *accumulator.ResAccumulator, paths []string) (*accumulator.ResAccumulator, error) method with the following code:
[code]
, the entire loading (including the git loading) is processed in parallel. The speedup is quite nice for a high number of kustomize resources. There are two issues / questions around this though:

1. I am not sure if this ca

[2020-11-02 03:40] #2563 closed

[2020-11-02 03:55] Shell32-Natsu commented on #2950
1. We can make the parallel process as optional and alpha in the beginning and collect more opinions.
2. Sometimes the order doesn't matter, sometimes it does. If we could support parallel accumulating, we need to add special tests.

[2020-11-02 04:10] Shell32-Natsu commented on #1835
Explanation: https://github.com/kubernetes-sigs/kustomize/issues/3047#issuecomment-701014534

Example JSON 6902 patch:
[code]

[2020-11-02 04:11] #1835 closed

[2020-11-02 04:58] Shell32-Natsu commented on #3137
I tried with a bitbucket repo `git@bitbucket.org:shell32-natsu/kustomize-example.git` but I cannot reproduce the issue. Although we actually have bugs in git URL parsing but it shouldn't harm the cloning process. Further more, [`go-getter`](https://github.com/hashicorp/go-getter) is used before git command engaged. In my experiment, `go-getter` can get the repo without issue so our parsing code is

[2020-11-02 13:45] #3156 closed

[2020-11-02 16:28] msk- opened #3162 "[Question] Single-command workflow to build with container functions"
My objective is to supply my users with a single command to execute the build, including building and running requisite container functions, rather than requiring them to manually build container function images as part of their workflow.

I note that container image functions can be used as transformers e.g. in the test here: https://github.com/kubernetes-sigs/kustomize/blob/981959ffcfce7ade3071d

[2020-11-02 19:10] Shell32-Natsu commented on #3162
kustomize supports container function running but not building. I think that's not a part of kustomize's responsibility. The way that we expect users to use KRM function in kustomize, is using a container image that has already built, or even built by someone else and can be pulled from an image registry. Building an image is out of the kustomize's scope.

[2020-11-02 19:32] Shell32-Natsu commented on #2374
Staging repo for kustomize: gcr.io/k8s-staging-kustomize/kustomize

Note this repo is a *staging* repo, the `latest` tag is following the HEAD in master branch. We will promote the stable releases to production k8s.gcr.io. Meanwhile we will tag every release in this staging repo as well.

[2020-11-02 19:32] #2374 closed

[2020-11-02 19:37] Shell32-Natsu opened #3165 "Update the document/readme to mention docker images."
Update the documentations and readme to mention the docker images held in k8s.gcr.io.

Should do this after next release (v3.8.7?).

[2020-11-02 19:52] hermanbanken commented on #2052
@Shell32-Natsu I see references on this issue mention that custom Linux exec transformers would be an alternative to this, but I disagree.

The Kubernetes project won't adapt Kustomize with exec plugins enabled by default, right? We should really strive for Kustomize to be integrated in Kubernetes.

The vars feature implementation might be "less than ideal" (slow? not a nice UX?) but it is better

[2020-11-02 20:30] #3128 closed

[2020-11-02 20:44] Shell32-Natsu opened #3168 "Update documentation website"
There are some improvements in the documentation and we should update the website: https://kubernetes-sigs.github.io/kustomize/. Should do this after #3165

Can we do this by GitHub Actions for every release?

[2020-11-02 21:46] Gikkman commented on #1835
But, why is this? Why are some lists mergeable just fine and others are not? To an external part, it kind of looks like this is a matter of just concatenating lists of arbitrary items. I checked in #3047 as well, but this still doesn't really make sense to me:

I can't see the logic why list A can be merged, since it is part of a pre-defined list-of-lists, whereas list B cannot. What makes the two

[2020-11-02 21:54] Shell32-Natsu commented on #1835
@Gikkman Because this is a *strategic merge patch*, not a simple *merge*. Please take a look at the [k8s doc](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#notes-on-the-strategic-merge-patch) which has a good description. I quote the important sentence here:

And unfortunately, [`envFrom`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v

[2020-11-03 11:28] msk- commented on #3162
Thank you for your reply, I appreciate that. I hope you don't mind if I ask a follow-up question such that I can understand the project a little bit better: should I understand `kustomize fn` as being a completely separate application to `kustomize build`?

[2020-11-03 17:55] Shell32-Natsu commented on #3162
`kustomize fn` is used to run a KRM function pipeline. It shares a lot of codes with `kpt fn` and has similar behavior.

`kustomize build` can invoke KRM function as a plugin.

These 2 commands can both call KRM functions but for different purpose.

[2020-11-03 18:37] Gikkman commented on #1835
Ah, right, that makes sense now. Thanks for taking the time to explain, I appreciate it!

[2020-11-03 18:42] msk- commented on #3162
Okay, thanks again. I think I've got an answer to my questions.

[2020-11-03 18:42] #3162 closed

[2020-11-03 19:15] #3149 closed

[2020-11-03 20:39] Shell32-Natsu commented on #2299
This is still happening in the latest release (v3.8.6). However, I suspect that this is intended. Since in the [GO plugin guide](https://kubernetes-sigs.github.io/kustomize/guides/plugins/gopluginguidedexample/#install-kustomize)

[2020-11-03 20:43] #2299 closed

[2020-11-03 21:13] Shell32-Natsu commented on #2849
We don't have enough resources to do this and we are not fully supported windows yet. We appreciate it if some one can take this.

[2020-11-03 22:40] suryak opened #3175 "[Question] Would like to yaml output to split to multiple files instead of a single file"
I am not able to see any documentation of how to use this. Can some point to documentation or let me know to use this feature.

Write individual files to output path if it is a directory #960
https://github.com/kubernetes-sigs/kustomize/pull/960

[2020-11-03 23:08] omninonsense commented on #2299
Awesome that it's documented now! 😁

[2020-11-03 23:32] Shell32-Natsu commented on #3175
If you use a directory for `-o/--output` flag, the resources will be written into individual files.

[2020-11-03 23:32] #3175 closed

[2020-11-04 05:30] sanposhiho opened #3178 "patchesJson6902 with operation "move" fail under certain circumstances."
Hi :)

**Describe the bug**

- use patchesJson6902 with operation move
- move /metadata/name
- patchesJson6902 has several targets
- several targets has same group, target, and kind

When use the above resource from other kustomization.yaml with `resources` statements, the following errors occur

[code]

**Files that can reproduce the issue**

https://github.com/sanposhiho/kustomize-jsonpatches-bu

[2020-11-04 16:16] Sabatino78 opened #3179 "Fix the link to release page on https://kubernetes-sigs.github.io/kustomize/installation/binaries/"
On the page https://kubernetes-sigs.github.io/kustomize/installation/binaries/ i see the text "Binaries at various versions for linux, MacOs and Windows are published on the [release page]." but i don't see the link to that page.
Can you add it?

[2020-11-04 16:24] dholbach opened #3180 "Flux logo on https://kustomize.io/ is old"
Not sure if this is the right repo for the issue, but the Flux logo on https://kustomize.io/ is old.

Can it be replaced with e.g. https://branding.cncf.io/img/projects/flux/horizontal/color/flux-horizontal-color.png?

(Might be worth documenting in https://github.com/kubernetes-sigs/kustomize/blob/master/site/README.md or https://github.com/kubernetes-sigs/kustomize/tree/master/site/content/en/co

[2020-11-04 16:27] dholbach commented on #3180
/kind documentation
/priority backlog

[2020-11-04 16:55] Sabatino78 opened #3181 "Missing selectors on PersistentVolumeClaim"
My kustomization file:
[code]
My storage.yaml
[code]
The official documentation tells:
commonLabels: Add labels and selectors to add all resources.

I expected to find all commonLabels as labels and selector on all object, but in my case the PersistentVolumeClaim does not have any selector.
The generated output:
[code]
My expected output:
[code]
i'm using lustomize on windows platform and i got it

[2020-11-04 16:58] monopole commented on #3145
closed in favor of an issue in kpt repo

[2020-11-04 16:58] #3145 closed

[2020-11-04 17:23] Shell32-Natsu commented on #3180
It's not :).

That website is not maintained by us.

[2020-11-04 17:23] #3180 closed

[2020-11-04 17:26] Shell32-Natsu commented on #3179
Release page: https://github.com/kubernetes-sigs/kustomize/releases

Please check it when we are updating doc.

[2020-11-04 17:49] dholbach commented on #3180
Who can I get in touch with about the website?

[2020-11-04 17:54] Shell32-Natsu commented on #3180
In the footer of that website, it says it's contributed by https://replicated.com/

[2020-11-04 17:58] Shell32-Natsu commented on #3178
I cannot reproduce this issue. Looks like you should update the paths you used in the patch. Since you have a `/` in the field name so you need to replace it by `~1` in json patch path.

[2020-11-04 18:03] dholbach commented on #3180
All right. I posted a message here: https://help.replicated.com/community/t/code-for-kustomize-io-site/464

[2020-11-04 18:14] pwittrock commented on #3180
We should probably reach out to replicated and see if they would be willing transfer the domain.

[2020-11-04 18:22] Shell32-Natsu commented on #3181
Use the [label transformer as plugin](https://kubernetes-sigs.github.io/kustomize/guides/plugins/builtins/#usage-via-plugin-3), you can specify the fieldSpec that you want to play with.

[2020-11-04 18:22] #3181 closed

[2020-11-04 21:04] sanposhiho commented on #3178
Sorry, I forgot to commit my latest sample.
Please check again as I've updated the sample.

[2020-11-04 22:51] Shell32-Natsu commented on #3178
After your json patch, 2 resources don't have `/metadata/name` field. And in the overlay, these 2 resources are needed to be added to the resource list. This causes problem, because these 2 resources now have identical ID `batch_v1_Job|~X|~N`.

[2020-11-05 00:58] suryak opened #3184 "[Question] How to refer a name attribute from another resource?"
There are two resources say **Group** and **Account**.
[code]

[code]

There are **namePrefix** and **nameSuffix** transformers which are used for generating names of resources, I would like to get the name of the Group from the Group Resource referenced in the Account Resource. Is there anyway I can achieve this?

[2020-11-05 10:11] Darren-wh opened #3186 "kustomize can not overwrite the service or deployment which be changed by manual update."
Test step  as follows:
1.Preparing the deployment  and service
2.use the kustomize command to deploy service.
3.using the "kubectl edit deployment deployment" or service to add new Containers configuration and save.
Then kubernetes will do a rolling update.
4.using the kustomize command with old deployment and service code (without new Containers) to deploy service.
Then the kubernetes will do a r

[2020-11-05 15:58] flo-02-mu commented on #2950
/reopen

[2020-11-05 17:24] Shell32-Natsu commented on #3186
I suspect you should open the issue in `kubectl`. What kustomize does is just producing resources and it cannot control what it looks like after applying.

[2020-11-05 17:25] Shell32-Natsu commented on #3186
You can produce your configurations so that we can check is there an error in kustomize's result.

[2020-11-05 18:33] Shell32-Natsu commented on #3184
There is probably no such feature in the kustomize. A close solution might be [var transformer](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/vars/) but it's not recommended to use now. The better idea is creating [your own transformer](https://kubernetes-sigs.github.io/kustomize/guides/plugins/execpluginguidedexample/)

[2020-11-05 18:33] #3184 closed

[2020-11-05 18:35] #3178 closed

[2020-11-05 22:11] arianvp commented on #815
Hmm bit surprised this was closed as well. https://github.com/kubernetes-sigs/kustomize/issues/2825 seems related.
Kustomize having this behaviour by default sounds like a complete no-brainer to me.

I worked around this weird quirk using the following hack, using `yq` to extract the OpenAPI spec from the CRD, if anbody else ends up here through Google as well.

[code]

[code]

[2020-11-05 22:57] monopole opened #3188 "TestHelmChartInflationGenerator failing on fresh clone"
on linux (at least)
[code]
Error:

[code]

[2020-11-05 22:59] Shell32-Natsu commented on #3188
I had this issue when I wrote it. I believe this is an issue in helm itself. I updated the helm version to 3.4.0 solve the problem.

[2020-11-05 23:07] #3144 closed

[2020-11-06 00:01] monopole commented on #3188
[code]
same error as above
[code]

[2020-11-06 00:03] monopole commented on #3188
I cloned that repo instance at
[code]

[2020-11-06 00:06] monopole commented on #3188
ps, on ubuntu 20.04

[2020-11-06 02:10] Darren-wh commented on #3186
yes, Today I used the kubectl command to test this case, and it still has been this problem. So it's not the issue about the customize. Thanks.

kubectl issue:
https://github.com/kubernetes/kubernetes/issues/75394

![image](https://user-images.githubusercontent.com/32630985/98317810-2eb74a00-2018-11eb-97f5-0336986bbadb.png)

[2020-11-06 02:11] #3186 closed

[2020-11-06 02:45] fallard84 opened #3189 "Can't install older version of kustomize because of Github limit on releases API"
I was trying to install an older version of kustomize using the official script https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh and passing the older version  (3.5.3) as an argument to the script.

**Expected output**

The specified version of kustomize should be installed.

**Actual output**

I got the error `kustomize binary with the version 3.5.3 doe

[2020-11-06 06:46] John-Lin commented on #1256
how come the docs describe that put a `\` before `/`

https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#supporting-escape-characters-in-crd-path

[2020-11-06 06:57] John-Lin commented on #907
I found that put a `\` before `/` isn't working but replace `/` to `~1` would work. Is it correct for documents? @Liujingfang1

see #1256

[2020-11-06 06:59] Shell32-Natsu commented on #907
@John-Lin `~1` is used in json patch path.

[2020-11-06 07:09] John-Lin commented on #907
@Shell32-Natsu
I see, so for the json patch path should use `~1` and the document is covering for transformer configuration.

[2020-11-06 12:27] ChaosGramer opened #3190 "Json Schema does not match documentation"
**Describe the bug**

The schema uploaded [here](http://json.schemastore.org/kustomization) does not match the described options in the documentation available here: [patchesjson6902 Documentation](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/patchesjson6902/)
Example from doc:
[code]

The schema available is lacking this property in the description.
[code]

**Files that

[2020-11-06 17:21] dholbach commented on #3180
Fixed: https://kustomize.io/ - and in the thread it looks like opening the repository is being looked into.

[2020-11-06 17:53] Shell32-Natsu commented on #3190
I am not aware of this schema. I am curious about the author and maintainer of it.

[2020-11-06 17:55] Shell32-Natsu commented on #3190
Looks like it's discussed in #205. This schema is not maintained by us.

[2020-11-06 17:58] Shell32-Natsu commented on #3189
Thanks for report. We will try to address it (hopefully not take too long time).

[2020-11-06 18:40] Shell32-Natsu commented on #1256
@John-Lin [JSON patch](https://tools.ietf.org/html/rfc6902) itself has its own definition and implementation. It's irrelevant from how kustomize handle the slash.

[2020-11-06 19:29] #2293 closed

[2020-11-06 21:33] #2774 closed

[2020-11-06 22:50] natasha41575 opened #3191 "Can't run make prow-presubmit-check locally"
When running the prow presubmit check locally, it fails on the test-multi-module check because the environment variables REPO_OWNER, REPO_NAME, PULL_NUMBER are not set.

My current workaround is to manually set these variables in my local environment.

[2020-11-06 22:50] natasha41575 commented on #3191
@runewake2

[2020-11-06 23:01] runewake2 commented on #3191
@monopole the multi-repo check is using prow ENV variables. These are not available when the `prow-presubmit-check` is run directly from the `Makefile`. I can see a few ways to approach this:

1. Disable multi-module span check when run locally (probably detect this by a ENV like `PULL_NUMER` not set).
2. Split `prow-presubmit-check` into two make commands. One for local runs excluding prow specif

[2020-11-06 23:07] Shell32-Natsu commented on #3191
I will vote for #1. If the multi-repo check requires a PR exists, then it doesn't make sense to run it locally.

[2020-11-06 23:15] #2782 closed

[2020-11-06 23:28] Shell32-Natsu commented on #3137
Close this now. Feel free to reopen.

[2020-11-06 23:28] #3137 closed

[2020-11-07 00:17] #1351 closed

[2020-11-07 00:54] natasha41575 commented on #3117
volumeMounts does not have a variable `x-kubernetes-list-map-keys`, so it falls back on the variable `x-kubernetes-patch-merge-key` which is mountPath. The current schema doesn't allow multiple volumeMounts with the same mountPath and different names, so the solution for #3111 will not fix this issue.

@monopole @apelisse what do you think? Is this correct behavior?

[2020-11-07 01:21] #2279 closed

[2020-11-07 01:33] davidsbond commented on #3117
@natasha41575 I think you're correct, I forgot to come back to this issue after solving my problem. What I should be doing instead is using `subPath` like so:

[code]

This allows me to mount the files individually from the config map, and doesn't have the issue described above. It's probably more on the fault of kubectl for not warning me I was doing something wrong, as when I look at the actual

[2020-11-07 01:34] #3117 closed

[2020-11-07 03:11] MichaelJCole commented on #347
Ugh, I'm on my first day of Kustomize and foiled by this fundamental challenge.  I have different domains for each environment.  This seems like a basic use case.

Options:
1) Copy/paste the entire file and move on.
2) patchjson using paths like `path: /spec/rules/0/host` which seems very fragile
3) [kustomize vars](https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/vars/) but

[2020-11-07 04:08] dfang opened #3193 "[Feature Request]please provide a way to list builtin plugins"
**Is your feature request related to a problem? Please describe.**

try to follow this [guide](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/chart.md) with the latest release 3.8.6 or built from the master branch of source code ,
both got `loading generator plugins: unable to load builtin ~G_builtin_HelmChartInflationGenerator` error

[code]

I can confirm the [commit](https://

[2020-11-07 07:53] mamiu commented on #3043
@monopole

Does this fix mean that we're now able to do something like this:

**The folder structure:**

[code]

**The** `manifests/resources/kustomization.yaml` **file:**

[code]

**With your fix we could now name the** `manifests/resources/db/kustomization.yaml` **kustomization file like this:**

[code]

**Does that mean we're now able to do a multi level/layer kustomization like in the followin

[2020-11-07 08:49] andsens commented on #347
@MichaelJCole the patches are just as stable as the Ingress API itself, so that shouldn't be any trouble.
I actually ended up creating a kustomize transformer instead (transformers and generators are awesome btw.).
That way an additional patch overlay is not needed.
I'm sure it can be modified to fit your usecase.

[code]

Place it in `~/.config/kustomize/plugin/APINAME/ingressdomaintransformer` a

[2020-11-07 23:11] Oduig commented on #915
/remove-lifecycle stale

[2020-11-07 23:12] Oduig commented on #915
It's been over a year since I posted my use case for this feature. Can we get a word on whether or this is desirable to be implemented and can we stop this bot from marking it as stale for the 10th time?

[2020-11-08 01:10] Shell32-Natsu commented on #3193
The HelmChatInflationGenerator is in master but will be in next release. Our doc website is following the latest master branch instead of the latest release now.

[2020-11-08 14:51] dfang commented on #3193
why it doesn't work when i built from master branch ？

[2020-11-08 18:15] #2588 closed

[2020-11-08 22:06] flo-02-mu commented on #2950
In the PR I got arround the testing issue by putting the default value of parallel accumulation to 1. This way the order remains as expected. Not sure if the way I added the flag is correct though.

[2020-11-09 08:19] smyrman commented on #1430
/remove-lifecycle stale

[2020-11-09 12:34] epcim opened #3195 "Mangled manifests with env with valueFrom:fieldRef fieldPath"
**Describe the bug**

some broken manifests on output, in conjunction with using secret generator w/without hashes enabled , I am using gogetter + custom inflator similar to what helm one does, except this one only render go tpl.

output from inflator command has no issues, so looks good

custom inflator cmd looks like:
[code]
and the below compared output is from .generated.yaml and previous .gen

[2020-11-09 18:24] Shell32-Natsu commented on #1500
Another issue about removing apimachinery and related libraries. https://github.com/kubernetes-sigs/kustomize/issues/2506

[2020-11-09 18:50] Shell32-Natsu commented on #3193
Please provide your error message from the master branch.

[2020-11-09 18:52] #1303 closed

[2020-11-09 19:16] Shell32-Natsu commented on #347
As @andsens mentioned, the most flexible way to do any operation in kustomize is writing your own transformer. Meanwhile, kustomize now supports [KRM functions](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md) as transformer. KRM function is containerized so it will be easier to reuse. Although we are in a lack of documentation about this

[2020-11-09 19:29] Shell32-Natsu commented on #3043
@mamiu You can give it a try but I suppose it doesn't work. `kustomization` file is not included in the output resources from base.

[2020-11-09 19:41] Shell32-Natsu commented on #915
@donbowman IMO, your use case is counter to the kustomize design. Each layer, or kustomization is self-contained. `../common` shouldn't have any knowledge of its sibling `../base` (because they are organized by overlay and don't have a solid logic relationship).

The use case from @Oduig makes more sense. However I cannot see what is preventing you from modifying the images name and tag in overlay

[2020-11-09 19:46] SudoBrendan opened #3196 "install_kustomize.sh Pulls ARM instead of AMD64"
**Describe the bug**

`install_kustomize.sh` downloads the wrong binary ("arm" vs "amd"), and so `tar` fails.

When running:

[code]

I get the error:

[code]

**Platform**

Linux, AMD64

**Additional context**

Seems that adding an additional `grep` command for architecture ("amd" vs "arm") would solve this. Another quick win would be running `set -e` so that the script exists on errors instead o

[2020-11-09 19:50] Shell32-Natsu commented on #3196
This should have been fixed in master branch. Please use latest installation script. `https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh`.

[2020-11-09 19:50] #3196 closed

[2020-11-09 19:56] Shell32-Natsu commented on #3195
It will be nice if you can provide a set of files that can reproduce this issue.

[2020-11-09 20:03] Shell32-Natsu commented on #3179
Fixed by #3140

[2020-11-09 20:03] #3179 closed

[2020-11-09 20:04] ofek commented on #2506
Any update on this?

[2020-11-09 20:07] Shell32-Natsu commented on #2506
We need to refactor a lot of codes to free use from the apimachinery. We have limited resources so it will take some time.

[2020-11-09 20:18] natasha41575 commented on #3111
Fixed by #3159, I think this can be closed now

[2020-11-09 22:32] donbowman commented on #915
i ended up writing a plugin transformer https://github.com/Agilicus/kustomize-plugins/tree/master/agilicus/v1/imagetransformer

otherwise its too complex to get it right.

[2020-11-09 22:39] monopole commented on #2803
[kustomization root]: https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#kustomization-root

Pushing back a bit -

kustomize follows a pattern used by `make`, `git`, `go` and other unix tools that operate with respect to some well-known file or directory name (`Makefile`, `.git`, `go.mod`  etc.).

That's why (as @aude suggests in https://github.com/kubernetes-sigs/kustomize/issues/2

[2020-11-09 22:59] natasha41575 opened #3198 "Support multiple static kubernetes OpenAPI schema versions"
A kustomization.yaml file should be able to specify one of 5 builtin OpenAPI schema versions via an `openApi` field
[code]

The `kustomize openapi info` command should report the multiple versions that are builtin.

`kustomize build` should fail if the specified version isn't built in.

Additionally, the process for acquiring new OpenAPI data (#2862) will have to be updated slightly to work with t

[2020-11-09 23:05] natasha41575 commented on #3198
@Shell32-Natsu @monopole could one of you move this to "in progress" on the kanban board

[2020-11-10 01:35] memelet commented on #3193
I just build from master and see the same error
[code]

[code]

[2020-11-10 01:38] Shell32-Natsu commented on #3193
@memelet what's your kustomization file? How do you invoke helm transformer?

[2020-11-10 02:33] monopole opened #3199 "Allow inlined plugin configuration in kustomization.yaml file"
The `patches` field allows one to either specify either an inline patch directly in the kustomization.yaml file, or a path to a file containing the patch.

The `transfomers`, `generators` and `validators` fields should likewise accept inline configuration for plugins or functions, as well as retaining the ability to read from a file.

[2020-11-10 06:44] Oduig commented on #915
It is possible to achieve the same effect by adding the image to each overlay. It would just be more DRY if, when we have a number of overlays share the same image, we could specify the image in base and override it only when necessary. After all, not repearing shared configuration is sort of the point of Kustomize.

I will attempt to explain our situation for some background information.
In our p

[2020-11-10 14:06] ephesused commented on #2767
For posterity...

With the arrival of #3159, the test case now drops disappearing-act. The behavior is expected, given the discussions and the corresponding implementation. The test case results now are:

[code]

[2020-11-10 17:14] #3090 closed

[2020-11-10 17:22] ChaosGramer commented on #3190
@Shell32-Natsu I think that you can just contrib to the project of schemastore here: https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/kustomization.json

[2020-11-10 17:51] Shell32-Natsu commented on #3190
Yes but we don't have resource to so it now. Please open an issue or PR in schemastore repo.

Will reopen this and see is there anyone can help.

[2020-11-10 18:01] Shell32-Natsu commented on #3193
I can confirm the issue. Will fix it soon.

[2020-11-10 18:02] Shell32-Natsu opened #3202 "HelmChartInflationGenerator doesn't work when it's used as a plugin."

[2020-11-10 18:06] Shell32-Natsu commented on #3193
Issue is covered by #3202

[2020-11-10 18:08] #3111 closed

[2020-11-10 18:36] #3202 closed

[2020-11-10 18:52] Shell32-Natsu commented on #915
@Oduig Thanks for the description. I have 2 questions:

1. _So when we merge the tst branch into acc, the acc overlay still has the old tag_
If you update the tag in tst but not in acc. How do you merge to acc without conflict or override? I suppose tst should be ahead of acc.

2. _We could avoid that scenario with an image tag specified in the base: anyone who would update the tag for one deploym

[2020-11-10 19:50] monopole opened #3204 "New `exclusions` field in kustomization.yaml."
[globbing]: https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#globs-in-kustomization-files

_For discussion_

The `resources`: field in a `kustomization.yaml` file is a list of file paths, or paths or urls to other kustomizations, that determines the explicit input to a `kustomize build`.

If the `resources:` field is missing or empty, then `kustomization build` has nothing to wor

[2020-11-10 22:52] yanniszark opened #3205 "Enable globbing in "resources" field of kustomization.yaml"
This is basically the same as https://github.com/kubernetes-sigs/kustomize/issues/119.
Reopening, as the issue was closed.
The reason for reopening is that we (Arrikto) believe that the reasons given for eschewing this feature don't really apply.

It's also interesting that other use-cases mandating glob-like use have come up from the Kustomize team (although I feel the particular one could benefi

[2020-11-11 00:56] monopole commented on #3205
It's become clear over time that kustomize is primarily used in a git context.

When that's the case, questions about what went into a `build` are moot, and a `resources:` field can be globbed or even eliminated as suggested in #3204.

[2020-11-11 09:06] Oduig commented on #915
@Shell32-Natsu Thank you for taking a look at this :+1:

It has been a while since I wrote this code. I thought I had remembered the specifics, but in fact my memory failed me :-)
What you describe (point 2) is true: you *can* override the image in one overlay and use the base image in the other overlays. The thing that does not work, is overriding the image and `newTag` in the `kustomization.yaml

[2020-11-11 14:28] davide-talesco opened #3208 "patchMultipleObjects example fail to build"
**Describe the bug**
The demo @ https://github.com/kubernetes-sigs/kustomize/blob/master/examples/patchMultipleObjects.md does not work.
The build fails with the following error:

Error: json: cannot unmarshal object into Go struct field Kustomization.patchesStrategicMerge of type types.PatchStrategicMerge

**Actual output**
Error: json: cannot unmarshal object into Go struct field Kustomization.p

[2020-11-11 16:34] #3191 closed

[2020-11-11 16:45] monopole commented on #3208
The examples are intended for use with more recent versions, in particular the 3.8 series.
If you can repo with the 3.8 series, please reopen.

[2020-11-11 16:45] #3208 closed

[2020-11-11 16:45] monopole commented on #3208
https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.6

[2020-11-11 16:51] monopole commented on #3158
Thanks, i agree - vars aren't the only thing slower.
This is due to an ongoing switch away from apimachinery code.
Calling this a dupe of #2869.
Once the migration is done, performance bugs can be addressed.

[2020-11-11 16:51] #3158 closed

[2020-11-11 17:14] monopole commented on #3205
Let's make sure `kustomize edit add resources ....` accepts a list.

[2020-11-11 17:14] monopole commented on #3205
Also update docs site to describe how to use globs to manage the goal here.

[2020-11-11 17:42] #915 closed

[2020-11-11 18:25] #2590 closed

[2020-11-11 18:49] iirekm opened #3210 "`patchesStrategicMerge` seems to make problems with `PersistentVolumeClaim`s"
It works for other kinds of objects, but not for PVCs:

[code]

Output:
[code]

It treats everything as file name!

[2020-11-11 18:59] mattmceuen commented on #1358
Was a decision made around whether the commonNodeSelectors and commonTolerations might be added in the future?  This can be done via patching of course, but common* seems general-purpose and straightforward, and my project would use them if it were available.

[2020-11-11 21:26] realshuting opened #3212 "Failed to install 0.9.4 binary"
**Describe the bug**

I'm running this command to install the latest binary while it throws an error:
[code]

**Expected output**
Installs Kustomize binary successfully.

**Platform**
macOS

[2020-11-11 21:27] Shell32-Natsu commented on #3212
We are doing a release today. Please check back later.

[2020-11-11 21:28] realshuting commented on #3212
@Shell32-Natsu Thanks for the response!

How can I install a specific version with one line command?

[2020-11-11 21:31] Shell32-Natsu commented on #3212
Put the version number, say v3.8.6, as an argument for install_kustomize.sh.

[2020-11-11 21:34] realshuting commented on #3212
Yes, I tried the following but got:
[code]

Seemed to be an invalid command?

[2020-11-11 21:51] sass1997 commented on #3212
+1

[2020-11-11 22:01] Shell32-Natsu commented on #3212
@realshuting Try this `curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash -s 3.8.6`

[2020-11-11 22:05] realshuting commented on #3212
Worked thanks!

[2020-11-11 22:09] jkirkham-ratehub commented on #3212
Assuming you have curl, jq and a version of grep that supports Perl-like regex, the following work for me to fix a failing CI build:

`latest=$(curl -sL https://api.github.com/repos/kubernetes-sigs/kustomize/git/refs/tags/kustomize | jq '.[-1].ref' | grep -Po '\d+\.\d+\.\d+')

curl -sLO "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"

bash ./install_k

[2020-11-11 22:23] realshuting commented on #3212
Add to it - `grep -Po '\d+\.\d+\.\d+'` does not work for me, changed the first command to `grep -Eo '\d+\.\d+\.\d+` and now everything works.
[code]

Output:
[code]

[2020-11-11 22:41] jkirkham-ratehub commented on #3212
I think the "Extended" regex in grep normally doesn't handle `\d`, except maybe on OSX (maybe BSD in general).  On most linux distributions you'd need to use: `grep -Eo '[0-9]+\.[0-9]+\.[0-9]+'` (which will also work on OSX).

[2020-11-11 22:44] realshuting commented on #3212
Yes I'm on macOS, your suggestion really solved my case!

[2020-11-11 22:51] Shell32-Natsu opened #3215 "install_kustomize.sh shouldn't fail when a release is in progress"
A lot of users are using [install script](https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh) to install kustomize binary, even in they CI/CD environment. Unfortunately the script will fail when we are doing a release.

The reason is that when we are releasing kustomize, we need to release some modules, like kyaml and cmd/config, at first. The script uses

[2020-11-11 22:51] Shell32-Natsu commented on #3212
Issue for the real problem: https://github.com/kubernetes-sigs/kustomize/issues/3215

[2020-11-11 23:11] #3212 closed

[2020-11-12 00:31] Shell32-Natsu commented on #3210
Cannot reproduce the issue on my side.

[2020-11-12 20:32] natasha41575 commented on #2631
I am looking into adding `kustomize edit set label` but you can also silence errors when the label isn't present with the -i option, as in `kustomize edit remove label -i {labelkey,labelvalue}

[2020-11-12 21:08] srknc commented on #2052
Not sure whether it's scope of this conversation but, following @hermanbanken 's example, it does overwrites values at `host` section but not the ones under annotations with the error below;
```well-defined vars that were never replaced: SERVICES_GLOBAL_STATIC_IP_NAME,SERVICES_PRE_SHARED_CERT```

[2020-11-12 22:13] nyarly opened #3224 "Using a generator plugin: Error: <nil> is expected to be either a string or a []interface{}"
**Describe the bug**

I'm using a modified version of the example ChartInflator. It's worked well so far, but I've added a new helm chart, and I get an error like:
[code]

**Files that can reproduce the issue**

[repro.zip](https://github.com/kubernetes-sigs/kustomize/files/5533539/repro.zip)

Everything needed to recreate this issue with Kustomomize 3.8.1 should be included. You'll need `yq` 3.0

[2020-11-12 23:20] #3210 closed

[2020-11-13 00:32] Shell32-Natsu commented on #3224
The problem is
[code]
in StatefulSet `tier-zero-zeebe`. 3.8.1 cannot handle `storageClassName: null` correctly. It has been solved in latest kustomize version.

[2020-11-13 00:32] #3224 closed

[2020-11-13 09:22] thatsmydoing commented on #2538
Is it even possible using valid `go-getter` syntax to work with relative imports from parent directories? In the example, using `github.com/jameshochadel/kustomize-issue-2538/dev` results in only getting the `dev` folder which would cause referencing `../base` to fail.

For now, the workaround seems to be to use a url that `go-getter` rejects so that it falls back to kustomize's old git clone stra

[2020-11-13 15:08] #2559 closed

[2020-11-13 17:38] Shell32-Natsu commented on #2538
@thatsmydoing Copy directory `dev` from the repo `github.com/jameshochadel/kustomize-issue-2538`. That is how go-getter works now. As they said in my [issue](https://github.com/hashicorp/go-getter/issues/257) these problems may be addressed in go-getter v2 but v2 is not released yet.

[2020-11-13 18:05] #3199 closed

[2020-11-13 19:21] natasha41575 commented on #2631
The functionality has been added to kustomize in the master branch and will be available in the next release

@monopole @Shell32-Natsu this issue can be closed

[2020-11-13 19:22] #2631 closed

[2020-11-13 19:39] #3215 closed

[2020-11-13 19:39] #3189 closed

[2020-11-13 21:14] michaelurban opened #3228 "[Question] Is a var required when names are ambiguous?"
I'm using the same component in two resources but need to refer to hashed Secret and ConfigMap name from both resources in my project. Do I need to use a var to get the correct Secret/ConfigMap name + hash if the name reference is ambiguous or am I missing something?

Example:

I've tried to boil my issue down to a bare minimum. xql-zero & xql-one inherit from xql, app references xql-zero and xql-

[2020-11-14 01:27] Shell32-Natsu commented on #3228
There some points.

1. app should be an overlay of the xql-zero and xql-one. If you put app as a sibling, it cannot refer any name in the xql-zero or xql-one. So it should look like this
[code]
2. The name `xql-secret` does have ambiguity in this situation. The overlay, which should be app, doesn't know which one it should use when there are 2 Secrets with exactly same original name and namespace.

[2020-11-14 01:55] michaelurban commented on #3228
Moved app to the "top of the diamond" in my local copy of the example code. As-per your point #2 the ambiguity is still there so the output is identical.

For #3, vars didn't feel like the right choice, just the only thing that I could think of that worked. Any thoughts on how to accomplish this in an idiomatic way?

[2020-11-14 16:20] pio2pio commented on #2256
I have also stumped upon this limitation in istio, `samples/addons/` directory contains multi-manifest files `kiali.yaml` and `prometheus.yaml` that I'd like to kustomize globally with different namespaces but not to specify each of Kubernetes resources to unique match but per file (kustomize resource) global namespace. I believe proposed idea from @chancez would work for me.
For now I need to cop

[2020-11-15 18:24] michaelurban commented on #3228
I've updated the example in my original comment.

[2020-11-15 21:46] Shell32-Natsu commented on #3228
The solution is making the resource IDs different. So

1. Use different original names for the secrets
2. Use different namespaces for secrets.

[2020-11-15 22:39] michaelurban commented on #3228
In my real project I have a generic thumbor deployment that references a ConfigMap called `thumbor-config` that has several defaults set. I'm patching a few values in `thumbor-config` for each deployed instance, but, it's useful to define and reference the `varnish-conf` ConfigMap in the base kustomization.

The naming conflicts arise whenever you need to use two instances in the same app. Which,

[2020-11-16 07:54] thatsmydoing commented on #2538
I think we're talking about 2 different things. The problem I'm trying to highlight is that when you have a resource like `github.com/jameshochadel/kustomize-issue-2538//dev`, what `go-getter` does is give you just the `dev` folder hence resources like `../base` will fail. The issue linked seems to just be fixing issues where it's not parsing urls correctly, but in the end doesn't change the behav

[2020-11-16 14:35] micnncim commented on #896
/reopen
/remove-lifecycle rotten

Any update? Seems some of parts haven't been implemented yet like https://github.com/kubernetes-sigs/kustomize/blob/b2ba82a0bdc23fb70dd07a575e2db04732dff29c/plugin/builtin/prefixsuffixtransformer/PrefixSuffixTransformer.go#L28-L34.

[2020-11-16 15:35] waro163 opened #3234 "Bad function parameter"
in the function:
https://github.com/kubernetes-sigs/kustomize/blob/c464fb0a8128b16e6252eec888e919a58655654a/pkg/transformers/config/factorycrd.go#L71

is different with the function definition:
func looksLikeAk8sType(properties myProperties) bool

is this a bug?

[2020-11-16 15:39] waro163 commented on #3234
![image](https://user-images.githubusercontent.com/12164123/99274151-ef34fd00-2864-11eb-91fe-2b1012b0dcd3.png)

[2020-11-16 17:41] Shell32-Natsu commented on #3234
Your reference codes are very old. Please use latest version of kustomize.

[2020-11-16 17:41] #3234 closed

[2020-11-16 17:52] Shell32-Natsu commented on #2538
Since go-getter has some annoying issue like this, I am happy to remove it from kustomize temporarily. What I am not sure about is the performance reduction that caused by calling external hot exec. And also user will need to have a git executable in they PATH.

Perhaps using a go git library like [go-git](https://github.com/go-git/go-git) is better.

[2020-11-16 18:44] Shell32-Natsu commented on #896
@micnncim You can use the *explicit way* described [here](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/) to override the fieldSpec for buitlin plugins.

[2020-11-16 19:49] Shell32-Natsu opened #3237 "Value for app.kubernetes.io/managed-by label invalid"
**Describe the bug**

The value for label `app.kubernetes.io/managed-by` is `kustomize-kustomize/vX.X.X`, which is not valid as per [this](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels)

`/` should be omitted.

**Files that can reproduce the issue**

Run `kustomize build --enable_managedby_label`

**Expected output**

Label `app.kubernetes.io/managed-by` should have vali

[2020-11-16 21:39] Shell32-Natsu commented on #3228
kustomize uses the same method that k8s api server uses to identify resources, GVK+name+namespace. When there are multiple resources with exactly same original GVK+name+ns existing, technically kustomize has no way to distinguish them.

[2020-11-16 22:46] michaelurban commented on #3228
Going back to my original example with xql-one and xql-zero and Helm. In Helm you would give the concrete child instances of your base chart aliases so that the user/system can distinguish between the components of each. (e.g. `varnish-configmap` becomes `alias-varnish-configmap`.)

`namePrefix` appears to do that in kustomize, but, it falls apart when you try to create two instances of a base and

[2020-11-17 00:44] mikebz commented on #3193
looks like the PR is merged.  What else should we do to close this issue?

[2020-11-17 00:46] mikebz commented on #3094
is this a prerequisite to pushing the latest version of kustomize to kubectl?

[2020-11-17 00:50] Shell32-Natsu commented on #3193
@mikebz There is no PR for this feature. #3202 is for fixing HelmChartInflator bug.

[2020-11-17 00:59] Shell32-Natsu commented on #3228
To locate a resource in kustomize in the case that resource name is modified by kustomize, you can use current name or original name. In you example, that means you can use `project-xql-zero-xql-secret-6khmtc56hm` or `xql-secret`. That works like an alias (`project-xql-zero-xql-secret-6khmtc56hm` is the alias of `xql-secret`). What's different is current name depends on which overlay you are in.

[2020-11-17 02:09] moficodes opened #3241 "Var replacement does not work in volumes in DaemonSet"
**Describe the bug**
Trying to replace the variable `$(some-var)` in the following DaemonSet yaml

[code]

Kustomize Var reference unable to replace variables in `DaemonSet.spec.template.spec.volumes[].hostPath`.

Issue is very similar to [#1540](https://github.com/kubernetes-sigs/kustomize/issues/1540) The solution suggested there was to add
[code]

That does not work. I also tried `spec/template

[2020-11-17 02:59] moficodes commented on #3241
Had to use `configurations in kustomization.yaml`

Closing because its resolved.

[2020-11-17 02:59] #3241 closed

[2020-11-17 04:50] michaelurban commented on #3228
Yes. That's my understanding too. The issues is the "depends on which overlay you are in" bit.

So, going my original example, there is no absolutely no way to differentiate between the two `xql-secret`-s in the app overlay without using a var to break encapsulation and get the hashed name `project-xql-zero-xql-secret-6khmtc56hm`. [0]

**Which brings me back to my original question**: Is there a w

[2020-11-17 05:19] thatsmydoing commented on #2538
I'm not proposing getting rid of `go-getter` at all, removing it would probably break someone else's workflow which I think we want to avoid doing any more of. Note that `go-getter` itself uses external git so I'm not sure there's that much benefit to using `go-git`.

I think it would be better to aim for a proper fix that is consistent. I believe that requires clarifying the semantics of what sho

[2020-11-17 06:02] Shitaibin opened #3243 "kustomize version doesn't output correct version informations"
**Describe the bug**

`kustomize version` is not work, when I want to see the kustomize version in my host. Then I build kustomize from the master branch and tag `kustomize/v3.8.7`. I got the same result. Dose this bug affect lots of version?

[code]

**Expected output**

Correct version, Like

[code]

**Actual output**

[code]

**Kustomize version**

No version info.

**Platform**

Tested in Linu

[2020-11-17 06:14] micnncim commented on #896
@Shell32-Natsu I tried it and confirmed it works well as I expected. Thanks!

[2020-11-17 06:22] Shell32-Natsu commented on #3243
These values are set dynamically when we build release versions. So this is expected if you build from source code.

[2020-11-17 06:22] #3243 closed

[2020-11-17 07:35] waro163 commented on #3234
Thanks for your response @Shell32-Natsu, but i use the latest version kubectl, the kubectl repo is still use v2.0.3 kustomize, you can see it here: https://github.com/kubernetes/kubectl/blob/b155278f1f4a21a0be2d4f6f0037258dee4d1a22/go.mod#L47
I read the kustomize repo v2.0.3, the code is also https://github.com/kubernetes-sigs/kustomize/blob/a6f65144121d1955266b0cd836ce954c04122dc8/pkg/transformer

[2020-11-17 08:59] Shitaibin commented on #3243
Yes. Using `-ldflags` can pass these values when build. Is any plan to add it to [Makefile](https://github.com/kubernetes-sigs/kustomize/blob/master/Makefile#L94) to show correct versions.

`make $GOBIN/kustomize` or `make kustomize` will generate the correct program same as installed from binary.

[2020-11-17 15:01] Shell32-Natsu commented on #3234
Use kustomize 3.8.7. We cannot update the kustomize version with kubectl for technical reasons.

[2020-11-17 17:38] Shell32-Natsu commented on #3243
No we don't plan to add version information by default when someone is building from source code. It's left to users.

[2020-11-17 17:48] Shell32-Natsu commented on #3228
Currently we don't have such capability. But this an internal proposal from @monopole which will try to address it.

[2020-11-17 19:38] Shell32-Natsu commented on #3195
Close now since no response from reporter.

[2020-11-17 19:38] #3195 closed

[2020-11-17 19:53] michaelurban commented on #3228
Thanks, good to know! Could I get a copy of @monopole -'s proposal? Publicly or privately.

[2020-11-17 19:55] Shell32-Natsu commented on #3228
It's still in draft and we are still discussing it.

[2020-11-17 20:14] michaelurban commented on #3228
OK. Excited to get a copy of it. Thanks for all your help.

[2020-11-17 20:36] natasha41575 opened #3246 "Design for allowing more GVKN/Namespace changing in a pipeline"
Need to flesh out an implementation plan for allowing kustomize to alter the GVKN/Namespace of resources

[2020-11-17 20:36] natasha41575 commented on #3246
@monopole @Shell32-Natsu could one of you move this to "in progress", thanks!

[2020-11-17 20:42] Shell32-Natsu commented on #3246
Better to consider #3228 when you design the key/name back reference implementation.

[2020-11-18 11:52] thatsmydoing commented on #2538
I did a bit more digging into this and I might be more persuaded to just drop `go-getter` at this point. Here is how `kustomize` currently handles fetching certain urls with `go-getter`. All of these urls work with the cloner. I don't know what the extent of usage of the following urls are, but I've certainly used some variation of these that doesn't work with `go-getter`.

URL | go-getter result

[2020-11-18 13:23] yujunz commented on #2538
A brief history of go-getter support

1. a full version of go-getter library was integrated in kustomize at the very beginning
2. go-getter was replaced by git exec later on because of massive transitive dependency
3. a script based plugin was created to integrate go-getter as binary
4. a lite version of go-getter is integrated into kustomize

In fact go-getter can support git clone. But we tried

[2020-11-18 15:50] yujunz commented on #2538
It was tested against the examples in https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#url-format . But I roughly remembered the example tests were once excluded from CI. Not sure if it is covered now or not.

See also some history conversion in the two PRs for the problems go-getter tries to resolve and the tradeoffs

* https://github.com/kubernetes-sigs/kustomize/

[2020-11-18 18:22] Shell32-Natsu commented on #702
You can always create you own plugin and use it as a generator in kustomize. If it's written as Go plugin, we will be happy to review and decide whether put it into builtin plugins.

[2020-11-18 18:22] #702 closed

[2020-11-18 19:09] #3237 closed

[2020-11-18 19:13] #3193 closed

[2020-11-18 21:20] Shell32-Natsu opened #3248 "Add a set of performance benchmark"
There are some reports about the kustomize performance reduction, like #2987, #2869. And we also have PRs try to improve the performance, like #3172. These issues and PRs should be based on a performance benchmark so that we can accurately estimate and assess the performance reduction or improvement.

This set of benchmark should:
 - Has enough workloads to show the difference of performance betwe

[2020-11-18 23:48] Jeffwan commented on #1475
Is there a way to use `namespace` in Kustomization directly?

[code]

[2020-11-19 03:05] rptaylor commented on #3205
I have to say I am  surprised by this issue. I just started learning to use kustomize and it seemed like it would perfectly fit in my workflow. I have a directory of all my YAML files in git and I simply `kubectl apply -f myyaml/` on the directory to recursively apply all the YAML there, and kustomize in kubectl seems exactly like a drop-in alternative `kubectl apply -k myyaml/` but with the benef

[2020-11-19 04:01] thatsmydoing commented on #2538
Aside from archive downloads and urls that use the `depth` query parameter, I don't think any url will be broken if `go-getter` is removed.

Either way though, I do think kustomize needs to be clear what the supported urls are. If the official position is that only `go-getter` urls are supported, then we would have just dropped the old cloner entirely but that didn't pan out. Some people have sugg

[2020-11-19 05:11] yujunz commented on #2538
Yeah. It should be documented and covered by integration test.

We may need an exhaustive list in https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#url-format which is covered by https://github.com/kubernetes-sigs/kustomize/blob/master/hack/testExamplesAgainstKustomize.sh

[2020-11-19 05:13] yujunz commented on #2538
The test seems triggered by https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/kustomize/kustomize-presubmit-master.yaml before submit any PR to master.

[2020-11-19 08:03] sylr opened #3249 "Allow certain commonLabels to not be part of selector.matchLabels"
**Is your feature request related to a problem? Please describe.**

Changing commonLabels of an already deployed resources cause the following errors:

[code]

**Describe the solution you'd like**

A mean to mark a set of commonLabels to be excluded from `selector.matchLabels`. e.g.:

[code]

**Describe alternatives you've considered**

**Additional context**

[2020-11-19 17:44] ThisIsQasim commented on #1424
/remove-lifecycle stale

[2020-11-19 18:06] Shell32-Natsu commented on #1424
We cannot work on this before we re-integrate the kustomize with kubectl. The re-integration is covered by #1500 and #2506

[2020-11-19 18:08] Shell32-Natsu commented on #3095
The tool is merged in #3211

[2020-11-19 18:08] #3095 closed

[2020-11-20 02:41] johntellsall commented on #1304
Error message "already exists b the map" still exists in latest Kubectl. I'm not sure how to check the Kustomize version.

[code]

`error: rawResources failed to read Resources: GroupVersionKindName: resid.ResId{gvKind:gvk.Gvk{Group:"", Version:"v1", Kind:"Service"}, name:"wordpress", prefix:"", suffix:"", namespace:""} already exists b the map`

[2020-11-20 02:50] Shell32-Natsu commented on #3249
Kustomize is designed with a principle that resources should be explicitly or implicitly[1] included, compare to including all things and explicitly/implicitly exclude. In your case, kustomize has a builtin configuration to match the resources that will be processed by label transformer and you can customize it like what is described [here](https://kubectl.docs.kubernetes.io/guides/extending_kusto

[2020-11-20 02:50] #3249 closed

[2020-11-20 03:28] Darren-wh commented on #2052
@hermanbanken  I think it's the best way.Can you show the complete code? thanks. You can share your GitHub repository.

[2020-11-20 10:09] #2647 closed

[2020-11-20 10:42] Darren-wh commented on #2052
@tkellen how @ricochet do you generate code architecture diagram？which tool do you use？can you share？
![image](https://user-images.githubusercontent.com/32630985/99791151-2c003d00-2b60-11eb-8e1b-cb6d683f6050.png)

[2020-11-20 10:56] ChrisEke commented on #856
Just dropping in to mention that thanks to #3110 this now works. E.g:

`kustomize completion bash >/etc/bash_completion.d/kustomize`

[2020-11-20 11:10] candlerb commented on #2052
Maybe this helps: http://asciiflow.com/ (although I don't think it does the diagonal lines)

[2020-11-20 11:16] Darren-wh commented on #2052
@candlerb  great. Thanks

[2020-11-20 12:10] mamoit commented on #856
@ChrisEke Thanks! Didn't notice the release of the feature :tada:

[2020-11-20 12:14] yujunz commented on #2538
I just realized the tests in remote build were skipped because of an extra blank line...

Proposed a fix in https://github.com/kubernetes-sigs/kustomize/pull/3253

[2020-11-20 13:24] mamiu commented on #3043
@Shell32-Natsu Thanks for your response!
Ok, but is there another way to achieve this or something similar? Because I often need the kustomization of a `kustomization.yaml` and always have to do strange workarounds.

[2020-11-20 16:35] timhughes commented on #2243
@coderatchet  Added an explanation on this ticket (as far as i can work it out) https://github.com/kubernetes/kubectl/issues/891#issuecomment-731238572

[2020-11-20 17:45] Shell32-Natsu commented on #3043
@mamiu It's weird to patch a kustomization file since that's what overlay does. Why do you want to change the value of a label by patch?

[2020-11-20 17:50] Shell32-Natsu commented on #1304
@johntellsall #1500 We have technical problems to update the kustomize version in kubectl. But we are working on it.

[2020-11-20 18:24] #2773 closed

[2020-11-20 19:35] BlackBsd commented on #3175
How would i use this if I were trying to use the kustomize part of kubectl?
`kubectl kustomize <dir>`??

[2020-11-20 22:01] bbhagat4 opened #3254 "Kustomize not working with "Bitnami Sealed Secrets" CRD."
# Bitnami Sealed Secret Repo:
https://github.com/bitnami-labs/sealed-secrets

# --- Kustomize ---
$ kustomize version
{Version:kustomize/v3.8.7 GitCommit:ad092cc7a91c07fdf63a2e4b7f13fa588a39af4f BuildDate:2020-11-11T23:14:14Z GoOs:windows GoArch:amd64}

# --- BASE ---
[code]

[2020-11-20 23:01] #2591 closed

[2020-11-21 23:11] #2894 closed

[2020-11-22 13:15] hermanbanken commented on #2052
Thanks for all the reactions on my sample. I've posted my example in a Gist now, because I think this issue is not the place to be discussing how to use `vars`. I was merely explaining **why it is essential** for the UX of kustomize. I did not intent to start a tutorial here.

Same for the ASCII flow: please keep this issue focussed about the kustomize vars feature!

You can discuss my example in

[2020-11-22 16:11] geokb opened #3262 "vendor/sigs.k8s.io/kustomize/pkg/transformers/config/factorycrd.go:71:47: cannot use api.Schema.SchemaProps.Properties (type spec.SchemaProperties) as type myProperties in argument to looksLikeAk8sType"
Upon upgrading my `k8s.io/client-go` dependency from v0.18 to v0.19, the build fails with the message. This failure happens both in my machine and in Github action runners.

[code]

If that helps, here is the output of `go mod graph | grep kustomize`

[code]

The weird thing is that the error itself doesn't make any sense. I checked that file `sigs.k8s.io/kustomize/pkg/transformers/config/factoryc

[2020-11-23 15:39] ricochet opened #3264 "Replace identifier tuple of name/group/kind with a hash"
We are unable to move off of vars for names because of how names are used to identify resources within kustomize. If this changes to hash unique to each resource for example, we can transition to setters.

If there are specific pointers for how this could/should be implemented, please share. @mikeyrcamp or I are interested in getting started on a PR for this soon.

[2020-11-23 17:31] Shell32-Natsu commented on #3254
kustomize use GVK(group, version, kind), name and namespace tuple to find the resource. You original resource `myapp-operative-secret` is in `myapp-test` namespace.

[2020-11-23 17:31] #3254 closed

[2020-11-23 17:32] Shell32-Natsu commented on #3262
Looks like thats a very old version of kustomize. Can you update to newer version?

[2020-11-23 17:34] Shell32-Natsu commented on #3264
Can you provide an example pf what are you trying to do?

[2020-11-23 19:16] geokb commented on #3262
I don't have kustomize as a direct dependency. It's imported `kubectl` which is itself imported by `helm` and I already imported `helm` latest stable version `v3.4.1`. As you see the kubectl verion in my `go mod graph` is up-to-date.

[2020-11-23 19:19] Shell32-Natsu commented on #3262
#1500 #2506

We are working on updating the kustomize version in kubectl.

[2020-11-23 19:19] #3262 closed

[2020-11-23 19:29] geokb commented on #3262
Thanks @Shell32-Natsu. Can I ask how is this error even possible? `kustomize@v2.0.3+incompatible` even though it's very old it still successfully builds with `kubectl@v0.19` which in turn successfully builds when imported in `helm@v3.4.1` but when I imports this version of `helm` the build fails. How is that even possible?

[2020-11-23 19:31] Shell32-Natsu commented on #3262
I am not sure about this error. What I suspect is there might be some dependency conflict or override.

[2020-11-23 21:30] KnicKnic opened #3265 "How do I append container arguments?"
## Issue
I have an existing deployment and I want to edit one of the container's arguments and append an item. By default arguments are overwritten, and I do not know how to change defaults.

## Repro steps
kustomization.yaml
[code]

test_patch.yaml
[code]

test.yaml
[code]

## Expected output

[code]

## Actual output

[code]

## Kustomize version

Git version / last commit
commit 052a6b4e967b8cb

[2020-11-23 22:46] natasha41575 commented on #3265
To your point in additional context, you can reference different targets in a json patch when there are multiple targets by using indeces, e.g.

test.yaml
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: test
  labels:
    app: test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test
  template:
    metadata:
      labels:
        app: test
    spec:
      containers:
      - n

[2020-11-23 22:59] Shell32-Natsu commented on #3265
`$patch` directive only works when the merge key for the array is defined in k8s API. `args` doesn't have merge key defined so it always replace.

You can use JSON patch like this
[code]

Output:
[code]

[2020-11-23 22:59] #3265 closed

[2020-11-23 23:07] KnicKnic commented on #3265
@Shell32-Natsu

Okay so I can use a json patch for this trivial example. However this is not great, as it doesn't address when container changes index.

My setup is a bit more complicated and optionally another container is injected into the deployment. When this happens due to https://github.com/kubernetes-sigs/kustomize/issues/2907 a new container is placed in position 0, and the container I wan

[2020-11-23 23:27] Shell32-Natsu commented on #3265
Yes that's not good for complicated situation. But what you want to achieve is not natively supported by kustomize. You can try create your own plugin to do it. https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/

[2020-11-24 10:35] malcolm061990 opened #3268 "[Question] Insert nameSuffix only to specific resource and use var in annotation"
Hi.
[code]

I have several k8s yaml files in one dir that are handled kustomization. One of them is:
[code]

And another k8s yaml in same folder:
[code]

What do I want to do via kustomize?
- replace INGRESS_APPLICATION_VAL to some nameSuffix only in specific yaml (in first example), not in all yamls
- assign LOAD_BALANCER_CERT_VAL, INGRESS_APPLICATION_VAL and EXTERNAL_DOMAIN_NAME_VAL to some var

[2020-11-24 17:36] Shell32-Natsu commented on #3268
Use LabelTransformer and AnnotationTransformer to add labels and annotations.

Use PrefixSuffixTransformer to add suffix to the resource name in first yaml.

Use PatchTransformer to update the values in `spec`.

https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/

[2020-11-24 18:35] arianvp commented on #504
This issue is still very relevant though right? Kustomize generates a manifest that isn't even valid. Can we reopen this?

[2020-11-24 18:41] Shell32-Natsu commented on #504
I cannot reproduce this issue with latest kustomize. If you are using kustomize shipped with kubectl, please take a look at #1500 and #2506.

[2020-11-24 19:33] arianvp commented on #504
Yep you're right. I cant reproduce either on latest kustomize. Feel free to close this issue then in favour of the other two you just linked.

[2020-11-24 20:06] #504 closed

[2020-11-24 22:14] monopole opened #3271 "Anomaly with YAML anchors in RNode.YNode.Decode"
Trouble when YAML anchors in use.

See listWithAnchors test in these two test sets

 - https://github.com/kubernetes-sigs/kustomize/blob/master/api/resource/factory_test.go

 - https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/wrappy/factory_test.go

[2020-11-24 22:16] #3168 closed

[2020-11-24 22:16] #3165 closed

[2020-11-24 22:47] monopole commented on #3271
Hoping this goes away after we delete all the translation layers after #2506 closes.

[2020-11-24 23:33] webern commented on #776
I'm using `kubectl kustomize` as I expect customers to be. I'm not sure how to find the version of kustomize but assume it's close (i.e. v2.X.X, not v3) as the previous comment.

Where do I find the documentation for v2? I have written kustomization.yaml files that seem to work with v3 when I try `kustomize build` but which cannot be applied with `kubectl apply -k`. I'm not 100% sure its version d

[2020-11-25 00:06] KnicKnic commented on #3265
@Shell32-Natsu would it make sense to reopen this issue as it cannot be accomplished by kustomize. Or do you think it would not be a goal of kustomize.

[2020-11-25 00:10] Shell32-Natsu commented on #3265
Sorry we don't have plan to support arbitrary array merge in near future **natively**.

[2020-11-25 04:48] james-callahan opened #3276 "kustomize edit add resource remoteurl shouldn't require validation"
Running `kustomize edit add resource git@github.com/myorg/myrepo/kustomize/base?ref=abcdef` shouldn't require network connectivity or permission to the repo.
We generate some of our kustomizations in a locked down environment that doesn't have a valid key to the relevant repository.
Additionally, (and especially for non-locked references e.g. `?ref=master`), what may be valid today may not be vali

[2020-11-25 07:33] malcolm061990 commented on #3268
Thanks for your answer.
But I don't understand how can I filter in one kustomize.yaml to what file I want to apply some transformations.

[2020-11-25 17:19] Shell32-Natsu commented on #3268
Take a look at the [fieldSpecs](https://github.com/kubernetes-sigs/kustomize/tree/master/api/types/fieldspec.go). The selector works on resources, not files.

[2020-11-25 19:14] #3246 closed

[2020-11-25 19:27] natasha41575 opened #3280 "Refactor to allow more general name, kind, namespace changing"
After updating the GVKN/Ns, you should still be able to refer to the resource by either its original GVKN/Ns or the current one.

- [x] Add tests
- [x] Refactor PrefixSuffixTransformer and NameReferenceTransformer to use yaml annotations
- [x] Refactor namespace changing to use yaml annotations
- [x] Allow name/kind changing via a patch

[2020-11-25 19:27] natasha41575 commented on #3280
@Shell32-Natsu this is "in progress", thank you

[2020-11-26 01:59] memelet opened #3284 "Add ability for helmchartinflationgenerator plugin to support --include-crds"
Maybe either with an explicit extension to the CRD, or maybe an `additionalArgs` properties so the plugin is not limited?

[2020-11-26 16:51] Magnitus- opened #3286 "Strategic Merge Patch Silently Converts Overriding Value Type to Match Original Type of Value Getting Overriden"
**Files that can reproduce the issue**

patch.yml:
[code]

source.yml:
[code]

kustomization.yaml:
[code]

In the directory with those files, run: kustomize build .

**Expected output**

Either:
  - Output a type mismatch error (if you want to enforce overriding values type matching the type of the value getting overriden)
  - Or output:

[code]

**Actual output**

[code]

**Kustomize version**

3

[2020-11-26 17:10] fdegraeve commented on #1817
Hello,

How you solved your issue please ?

[2020-11-26 20:54] axelborja commented on #1069
Changes introduced from the following [commit](https://github.com/kubernetes-sigs/kustomize/commit/529db0493b0cb3e8ff446ddfb83982bd3f0b396e).

Version that embeds this change are available in in the header of the commit:
![image](https://user-images.githubusercontent.com/14804124/100390840-04164b00-3032-11eb-8052-9f91d7c3b6d6.png)

[2020-11-29 14:22] malcolm061990 commented on #3268
Still don't understand :(
How can I provide explicitly in fieldSpecs to what resource I want to add some custom annotation?
For example, I have one kustomization.yaml file to handle all project yamls:
[code]
And I want to add specific annotation only to app1.yaml that consists app1 deployment. What changes do I need to do?

[2020-11-30 06:40] mamiu commented on #3043
@Shell32-Natsu Ok, interesting. How would you solve the example above with overlays?

If you have a multi-level hierarchy of overlays where each of them includes other files or directories via `resources` and you want to have different `commonLabels` (in one of the `kustomization.yaml` files in the middle of your multi-level overlay structure) for each environment, how is it possible to do that ju

[2020-11-30 10:04] rusyasoft commented on #3028
Is it possible to use multiple patches in a single kustomization.yaml ?

[2020-11-30 13:12] malcolm061990 commented on #3268
Solved by using such configuration to add labels only to specific resource:
[code]
It adds new label "app123: action-service123" to the "action-service" deployment.
I think it will work for any other field.

[2020-11-30 13:12] #3268 closed

[2020-11-30 13:26] malcolm061990 opened #3289 "[Question] How to modify only specific resource"
Hi.
[code]

I have several k8s yaml files in one dir that are handled kustomization:
[code]

overlays/dev/kustomization.yaml uses as a resource ../../base/kustomization.yaml
base/kustomization.yaml includes api.yaml, react-app.yaml and redis.yaml files as a resources

I want to update on k8s cluster only api without doing any changes to react-app and redis and without any changes to kustomization

[2020-11-30 17:52] Shell32-Natsu commented on #3289
Sorry I don't get your point. If developer updates the api, you can just apply it and I suppose k8s cluster will do the update for you.

[2020-11-30 18:29] Shell32-Natsu commented on #3043
@mamiu Add a separate overlay between `db` and `dev`, like this

[code]

Put the commonLabels in `db-dev` and refer it in `dev` directly.

[2020-11-30 18:58] Shell32-Natsu commented on #3286
I suspect this is caused by a lot of conversions among Json/Yaml/Go struct. The type informations is lost. Hopefully we can avoid this after #2506 and remove all these intermediate conversions.

[2020-11-30 20:20] malcolm061990 commented on #3289
I mean I want to choose dynamically what resources I want to upgrade via kustomize.
For example, in one moment I want to upgrade only api, on other moment - only react-app.

[2020-11-30 20:27] Shell32-Natsu commented on #3289
Apply all the resources with api update, k8s cluster will compare them with current status and update. I cannot see the reason to use kustomize to do the selection.

[2020-12-01 03:50] #3284 closed

[2020-12-01 06:20] malcolm061990 commented on #3289
You don't understand me.
Imagine production project that consists of 50 k8s entities. In that case we have kustomization file that handles all of 50 entities. But I don't want each time to upgrade via kustomize all 50 services (just don't want k8s cluster to compare them with its current statuses). In each moment I want to update only some specific services. As I understood, via kustomize it's imp

[2020-12-01 15:26] yalegria commented on #1124
I'm having a similar issue, here is my patch in kustomization.yml

[code]

and here is my patch-service-type.yml
[code]

the build does not include nodePort.

FYI, I am trying to change a service from LoadBalancer to ClusterIP, and I need this workaround in order to apply.

[2020-12-01 18:19] rumstead opened #3300 "README has broken link"
**Describe the bug**

The link on the README pointing to kubectl book is broken.
https://kubectl.docs.kubernetes.io/pages/app_customization/introduction.html

**Files that can reproduce the issue**
Link the link :)
https://kubectl.docs.kubernetes.io/pages/app_customization/introduction.html

[2020-12-01 18:30] AkashKrDutta commented on #189
Wait, so the kustomization binary allows you to add using a generic directory, but not the `configmapGenerator`? More shocking since the 'config/files/*.conf' is not using shell glob expansion but inbuilt to the binary. Why not add it also into `configmapGenerator`?

[2020-12-01 20:12] Shell32-Natsu commented on #3289
If all these files are all finally included in a single kustomization file, I don't think there is a way to build a subset of them in kustomize.

[2020-12-01 20:32] Shell32-Natsu commented on #1430
@monopole Can you take a look?

[2020-12-02 00:56] #3300 closed

[2020-12-02 01:09] monopole opened #3303 "Merginator should detect resource conflicts."
Implement `api/internal/merge/merginator.go`, returning errors on merge conflicts.
The tests should pass in patches that don't conflict (no error) and do conflict (error).

[2020-12-02 01:16] monopole opened #3304 "Eliminate checking FlagEnableKyamlDefaultValue in tests"
`plugin/builtin/patchstrategicmergetransformer/PatchStrategicMergeTransformer_test.go` and other tests have been modified to pass regardless of the value of FlagEnableKyamlDefaultValue, using `if` statements.

Once all these branches are eliminated, the kyaml and apimachinery code paths provide the same results (with respect to the tests).

This is probably the last blocked for  #2506

[2020-12-02 06:24] malcolm061990 commented on #3289
Thanks. Thats what I want to listen. For that case kustomize doesn't suit.

[2020-12-02 06:24] #3289 closed

[2020-12-02 09:56] almariah commented on #388
https://github.com/almariah/kubectl-env

[2020-12-02 11:00] zoltantarcsay commented on #2205
/reopen
this is still broken...

[2020-12-02 12:02] b-luu commented on #2497
@L-U-C-K-Y how do you managed to make the configMapGenerator work with `envs` ?

I'm only able to make it work with `env` (expecting a single filepath)...

From which version does the `envs` option work ?

Thanks for your help !

[2020-12-02 16:42] c10l commented on #1512
Yes, please. It's very hard to troubleshoot issues without knowing what kustomize is trying to do.

[2020-12-02 16:46] c10l opened #3307 "Please allow logging of transformations"
**Is your feature request related to a problem? Please describe.**

I need to understand why after a Kustomize upgrade one of my transformations stopped working. Without knowing what Kustomize is trying to do I'm left chasing changelogs and sparse documentation, and a lot of trial and error.

**Describe the solution you'd like**

A command-line argument that outputs useful messages about how Kusto

[2020-12-02 17:53] Shell32-Natsu commented on #2205
@zoltantarcsay Please see #1500  and #2506

[2020-12-02 18:12] Shell32-Natsu commented on #3304
Great news!

[2020-12-03 09:50] L-U-C-K-Y commented on #2497
Hi @b-luu

I have created a repository with 3 examples:

https://github.com/L-U-C-K-Y/kustomize-with-multiple-envs

Let me know if this helps you 👍🏼

[2020-12-03 10:23] b-luu commented on #2497
Hey @L-U-C-K-Y

Thanks for that !

I've actually used a very similar approach but using the `env` single env file option for `configMapGenerator` instead of of the list of files you seem to be able to supply with `envs`.

The `envs` option you're using doesn't seem to be supported on my end, maybe because I'm using kustomize through `kubectl apply -k ./` to apply the changes and not `kustomize bui

[2020-12-03 12:10] L-U-C-K-Y commented on #2497
I am using: `{Version:kustomize/v3.8.6 GitCommit:c1747439cd8bc956028ad483cdb30d9273c18b24 BuildDate:2020-10-31T17:15:40+00:00 GoOs:darwin GoArch:amd64}` and also had issues in the past with the `kubectl apply -k` command as they are most of the time outdated.

I would recommend you to install Kustomize separately. In our CI-pipelines for example, we install a fresh version of Kustomize during the

[2020-12-03 14:16] b-luu commented on #2497
Awesome !

Thanks for those extra details !!

[2020-12-03 16:12] zoltantarcsay commented on #2205
thanks!

[2020-12-03 20:21] Shell32-Natsu commented on #3307
Sorry about that, to unblock you you can try to build kustomize from source code and debug it.

[2020-12-03 20:23] Shell32-Natsu commented on #3307
@monopole Maybe this is a good place to have a comment about the logging in kustomize.

[2020-12-04 09:25] qcastel commented on #2339
Still no news on that one? very interested on that one, as business starts to evaluate migrating to helm instead.

[2020-12-04 16:01] icy commented on #3047
Hi, I have a quick question. How to apply give `patch: $delete` as known way? I need to delete some resource completely and `json 6902 patch` doesn't work as I think (patch is great though)

Thanks

[2020-12-04 17:28] Shell32-Natsu commented on #3047
@icy https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/yaml/merge2/smpdirective_test.go

Here are some examples for using `$patch` directive. Note that these directives are only working when the SMP can be applied.

[2020-12-04 17:40] icy commented on #3047
Thanks a lot. I'll look into that.

[2020-12-05 20:00] karolistamutis commented on #1493
Any updates on this? Struggling as well

[2020-12-06 16:37] solarmosaic-kflorence opened #3314 "Error: invalid format of image for tag with plus (+) in it."
**Describe the bug**

Kustomize doesn't seem to accept `+` when editing the image tag with `kustomize edit set image`. Having `+` in an image tag is perfectly valid according to [semver standards](https://semver.org/), but aside from that I don't know why kustomize is trying to do any kind of validation on the format of the image tag. That seems like logic that is outside the scope of what kustomi

[2020-12-07 09:37] hmthoo opened #3317 "no matches for OriginalId apps_v1_Deployment|~X"
description：
Two group of the same files, The label is different. one set can be build, and the other indicates this error.

error info:
[code]

kustomize version:
[code]

[2020-12-07 11:11] andy-kwo-any opened #3318 "cannot unmarshal object into Go struct field Kustomization.secretGenerator"
description：

I'm using kustomize, no databases, just a `basic auth` for a traefik with two files in the overlay folder, `Kustomization.yaml` and `middleware-basicauth.yaml`.

The content for kustomization.yaml is the following

[code]

The content for the `middleware-basicauth.yaml` is the following:

[code]

I'm not sure why I'm having this error. I guess it is due to the secret generator part b

[2020-12-07 14:58] jojijohn opened #3319 "Merging configmap files with the same file name"
How can I merge two config map files (overlay and base) which has the same name? When I try the below sample, the configs from the base config.properties isn't there in the output even though the `configMapGenerator.behavior` is set as `merge`

[code]

The base kustomization file
[code]

The config.properties file it refers to:
[code]

overlay kustomization file

[code]

The config.properties file

[2020-12-07 15:53] transkonduktor opened #3320 "Missing namePrefix in csi volumes"
**Describe the bug**

Kustomize doesn't add a namePrefix to secretProviderClass property in Deployment manifests (deployment.spec.template.spec.volumes.csi.volumeAttributes.secretProviderClass)

**Files that can reproduce the issue**

files:
[code]
base/kustomization.yaml
[code]
base/proftpd-deployment.yaml
[code]

base/proftpd-secretprovider-ssh-key.yaml
[code]

dev/kustomization.yaml:

[code]

*

[2020-12-07 17:08] jojijohn opened #3321 "--load_restrictor=none doesn't seem to work with remote target"
I am trying to build from a remote target using --load_restrictor=none CLI option, but seems the load_restrictor is not honored by remote targets

[code]

[2020-12-07 17:57] Shell32-Natsu commented on #3314
If Docker doesn't support `+`, why do you want to use it in the label?

[2020-12-07 18:23] Shell32-Natsu commented on #3320
Please customize the prefixsuffixtransformer according to this [doc](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#_prefixsuffixtransformer_)

[2020-12-07 18:23] #3320 closed

[2020-12-07 18:25] Shell32-Natsu commented on #3317
Please provide an example of the files that can reproduce this issue.

[2020-12-07 18:39] solarmosaic-kflorence commented on #3314
@Shell32-Natsu Because Docker and Kustomize should not care what the format the image tag is (it is outside of their responsibilities), and using `+` is the correct way to represent build metadata according to [Semantic Versioning](https://semver.org/#spec-item-10), which is a widely used and adopted spec:

[2020-12-07 18:42] Shell32-Natsu commented on #3318
`secretGenerator` contains a **list** of the generator spec.

[2020-12-07 18:42] #3318 closed

[2020-12-07 18:44] solarmosaic-kflorence commented on #3314
See also https://github.com/opencontainers/distribution-spec/issues/154

[2020-12-07 18:56] Shell32-Natsu commented on #3314
Docker **shouldn't** care the `+` in the tag but actually it does. This command in kustomize checks the tag format to avoid indeliberate mistakes in tag. We are happy to allow it to pass the validation once the Docker support it.

[2020-12-07 19:01] Shell32-Natsu commented on #3321
This is irrelevant to the`--load_restrictor`, it's an issue of `go-getter`. Dup with #2538

[2020-12-07 19:01] #3321 closed

[2020-12-07 20:10] pinkavaj opened #3323 "`kustomize edit set image` and `kustomize cfg fmt` write file in different layout"
**Describe the bug**

Each of the commands bellow produces a bit different kustomization.yaml, some keys are reordered. This is unexpected and cause troubles in our code linting (sinc after kustomize edit by some automation the new commited code does not comply with the expected formating previously provided by the `kustomize cfg fmt` and the pipeline fails).

* `kustomize edit set image image-nam

[2020-12-08 13:34] Vaskozl commented on #952
With a recent version of kustomize the above examples using variable do not work anymore:
[code]

Is there an alternative?

[2020-12-08 20:06] Shell32-Natsu commented on #3323
You should reply on the order of items in a YAML mapping.

[2020-12-08 20:29] pinkavaj commented on #3323
?

[2020-12-08 20:31] Shell32-Natsu commented on #3323
Sorry for typo. reply => rely

[2020-12-08 20:37] pinkavaj commented on #3323
I does not rely on the order, it is just unsystemtic for tool which provides interface to format the file in some "canonical" for and then its output does not use the same formating. This is of course easy to work around by running the formating command after each edit.

Its add to readability when all files structure follow the same patter, so we try to enfoce it by using kustomize cfg fmt ....

[2020-12-08 22:15] Shell32-Natsu commented on #3319
The `merge` means merge the key-value pairs in `data` field. Not merge the values for the same key. You can use `envs` instead of `files` to put the key-value pairs in the files into the data field then they can be merged.

[2020-12-08 22:15] #3319 closed

[2020-12-09 06:56] hadrien-toma commented on #641
/remove-lifecycle stale

[2020-12-09 10:19] hmthoo commented on #3317
example: [https://github.com/hmthoo/kustomize](url)

[2020-12-09 14:53] andredasilvapinto commented on #766
What if you want to be able to easily remove one of the resources from one of the overlays without affecting the other overlays sharing the same base?

Kustomize doesn't allow patches to remove resources defined in base and apparently doesn't allow for inclusion of common resources outside the overlay directory, so it seems to be basically forcing duplication of YAML files?

[2020-12-09 20:30] joesan opened #3329 "[Question]"
I'm facing a strange error with kustomize for one of my project - https://github.com/joesan/plant-simulator-deployment

[code]
Unfortunately the error message is not descriptive enough. Any ideas what might be the cause?

[2020-12-09 21:07] Shell32-Natsu commented on #3317
Cannot reproduce.

[code]
These 2 patches are not included
[code]
If I delete them from kustomization, the build works without issue.

[2020-12-09 21:10] Shell32-Natsu commented on #3329
Previously kustomization file doesn't have a metadata field. #3043. We have fixed it.

[2020-12-09 21:10] #3329 closed

[2020-12-09 23:20] mescanne commented on #2013
Note for this I created a custom configuration for kustomize:

nameReference:
- kind: Secret
  fieldSpecs:
  - path: spec/iap/oauthclientCredentials/secretName
    kind: BackendConfig

Based from here:
https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs/crd

And it works now. Ideally it would be built in.

[2020-12-10 00:08] monopole commented on #2901
This seems to have gone away :)

[2020-12-10 00:08] #2901 closed

[2020-12-10 01:44] hmthoo commented on #3317
sry. In fact，the original file include ”- env_patch.yaml
- memorylimit_patch.yaml“， i just forget delete in example.

The details are like this. When i build "mamba-canary" is ok, then the build "mamba-stable" error,  like
![image](https://user-images.githubusercontent.com/42607426/101710331-3614bc00-3acc-11eb-854d-ec1daa16ff1d.png)

[2020-12-10 06:21] invidian commented on #880
/remove-lifecycle stale

[2020-12-10 06:39] monopole opened #3333 "Remote loads taking too long"
Appears related to new use of go-getter, followed by older git clone method.
May have started at PR  #3287

Had to add `--blockTimeOut 9m` (increased from default of 1m)  to ` hack/testExamplesAgainstKustomize.sh` to avoid repeatable timeouts in `examples/remoteBuild.md` test.

[2020-12-10 13:15] yanniszark commented on #880
I think it would be reasonable if there were a special annotation that the user could specify to opt an object out of the namespace transformer. @monopole @Shell32-Natsu @donbowman what do you think?

[2020-12-10 13:40] donbowman commented on #880
@yanniszark sure, that's one soluton.
or my original suggestion about replacing unset ones only, e.g. a weak binding.

[2020-12-10 14:25] yanniszark commented on #880
@donbowman the reason I suggested another way is because replacing unset ones breaks the existing contract and is prone to mistakes (e.g., someone forgot one resource). The way I describe keeps the contract (assuming no one uses the annotation right now, which is a reasonable assumption IMO) and makes the exclusion explicit.

[2020-12-10 17:43] #3317 closed

[2020-12-10 17:43] monopole commented on #3333
Tests that pass/fail on the basis of timeout length are generally a bad idea, but these are e2e tests and by definition cannot use mocks.  Something  has changed here; might need a binary search on the prs but checking before / after  #3287 first makes sense.

[2020-12-10 17:47] Shell32-Natsu commented on #3333
I think we should try to solve the timeout issue (maybe update the go-getter again or something). We can keep this issue open to track remote timeout problem.

[2020-12-10 18:24] Shell32-Natsu commented on #880
We can introduce the `target` field used in [patch transformer](https://kubectl.docs.kubernetes.io/references/kustomize/patches/) to more builtin plugins. @monopole

[2020-12-10 21:39] alexec opened #3340 "v3.9.0 regression - panic in getNamespacesForRoleBinding"
Our builds have just started running with kustomize v3.9.0 and are panicking. This can only be a regression.

https://github.com/argoproj/argo/pull/4618/checks?check_run_id=1533236396

[code]

**Files that can reproduce the issue**

**Expected output**

**Actual output**

**Kustomize version**

**Platform**

**Additional context**

[2020-12-10 22:04] Shell32-Natsu opened #3341 "Add a file to describe how to update documentation wesite"

[2020-12-10 22:05] Shell32-Natsu commented on #2893
@monopole I think this has been finished?

[2020-12-10 22:36] Shell32-Natsu commented on #3340
This is caused by this https://github.com/kubernetes-sigs/kustomize/blob/401118728a3ae0415caebd6f925182f02ae2c777/api/internal/wrappy/wnode.go#L92-L98

You can use 3.8.8 before we fix this.

[2020-12-10 23:07] Shell32-Natsu commented on #3341
Covered by https://kubectl.docs.kubernetes.io/contributing/docs/

[2020-12-10 23:07] #3341 closed

[2020-12-10 23:08] Shell32-Natsu opened #3343 "Enable kyaml for krusty tests"
We need to enable kyaml for krusty tests by changing https://github.com/kubernetes-sigs/kustomize/blob/deb2b21cbe7a1b19480478e229991ac11c5478fb/api%2Fkrusty%2Foptions.go#L53 to true.

[2020-12-11 03:40] realshuting commented on #1358
Is there a way to change the default patch strategy from `replace` to `merge` for `tolerations`?

My use case is to add to `tolerations`, the following `patchesStrategicMerge` does not seem to work for me:
[code]

[2020-12-11 13:55] aaaaahaaaaa opened #3345 "v3.9.0 regression - configMapGenerator `behavior: merge` is not working"
The `behavior: merge` option of the `configMapGenerator` is not functioning properly with 3.9.0. Instead, only the literals of the overlay are kept when building the manifest, and the literals of the base are ignored.

I just tested with 3.8.8 and the issue doesn't appear there.

[2020-12-11 14:25] sass1997 commented on #3345
I do also have problem with the `configMapGenerator` `behavior: merge`. Especially when I do use `vars`. I prepared small test project for this. https://github.com/sass1997/kustomize-features

[2020-12-11 17:07] #3340 closed

[2020-12-11 18:11] Shell32-Natsu commented on #3345
3.9.0 is an *alpha* version to enable kyaml for entire kustomize. We have found some issues in it and we will remove the release soon. If you have any issue in 3.9.0 just try 3.8.8 since the kyaml is the only difference.

[2020-12-11 18:12] #3345 closed

[2020-12-11 18:14] Shell32-Natsu commented on #1358
@realshuting https://github.com/kubernetes-sigs/kustomize/issues/3265#issuecomment-732475022

[2020-12-11 23:35] whynowy opened #3347 "RoleBinding does not work"
**Describe the bug**
It panics when there's a `RoleBinding` resource.

**Files that can reproduce the issue**

kustomization.yaml

[code]

test-rolebinding.yaml

[code]

**Expected output**

A good `RoleBinding` yaml.

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

`macOS`

**Additional context**

[2020-12-12 00:27] Shell32-Natsu commented on #3347
https://github.com/kubernetes-sigs/kustomize/issues/3340#issuecomment-742843704

[2020-12-12 00:27] #3347 closed

[2020-12-12 00:50] alexec commented on #3340
good work chap

[2020-12-13 19:40] natasha41575 commented on #2825
@prydonius can you explain in more detail of how you used `AddSchemaFromFileUsingField` to get the result you wanted? I'm trying to reproduce what you did

[2020-12-13 23:01] montmanu opened #3348 "Add kustomize to PATH"
As of [`kustomize:v3.8.7`](https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/kustomize/kustomize@sha256:98c4429165e543c8a5489e3923d10e78649ed0ccb7eef5a003fe16b3554c3cf9/details?tab=info), the binary is located within the default `WORKDIR` at `/app/kustomize`.

I think it would be nice if the `kustomize` binary was added to the container's `PATH`. In my particular case, I had not re

[2020-12-14 12:50] ambis opened #3351 "panic when kustomizing basic ingress-nginx yaml"
**Describe the bug**

Kustomize 3.9.0 fails on mac (brew) when you kustomize bare ingress-nginx installer.

Happens also with weave-net installer yaml.

**Files that can reproduce the issue**

Example:

[code]

**Expected output**

The file in the URL.

**Actual output**

[code]

**Kustomize version**

Kustomize 3.9.0

**Platform**

mac / brew

[2020-12-14 12:56] ambis commented on #3351
Duplicate of https://github.com/kubernetes-sigs/kustomize/issues/3347

[2020-12-14 12:56] #3351 closed

[2020-12-14 13:57] omninonsense commented on #1301
/remove-lifecycle stale

[2020-12-14 14:02] omninonsense commented on #1301
For people discovering this bug recently, here is a summary:

 - This is still an issue as of Kustomize 3.8+
 - With `kustomize build` (but not `kubectl kustomize`) you can add a `namespace: foo` into the _overlay_ kustomization as a workaround.
   - This workaround _does not_ work when `namespace: foo` is in a base _base_ kustomization.

[2020-12-14 17:35] Shell32-Natsu commented on #3188
@monopole Can you check does this issue still happen?

[2020-12-14 17:46] #3314 closed

[2020-12-14 17:48] Shell32-Natsu commented on #1700
This should be covered by #3280. Close this and please use that one to track.

[2020-12-14 17:48] #1700 closed

[2020-12-14 17:53] solarmosaic-kflorence commented on #3314
I still disagree that this should be a concern of kustomize, but at the very least @Shell32-Natsu you could add something to the documentation to indicate what a valid image tag is: https://kubectl.docs.kubernetes.io/references/kustomize/images/

[2020-12-14 18:10] Shell32-Natsu commented on #3314
That doc page is for label transformer, not for edit label command. Add a description in command help message in #3354

[2020-12-14 18:12] #3348 closed

[2020-12-14 20:58] TechnicalMercenary opened #3355 "Getting Panic when building"
[code]

**Files that can reproduce the issue**

**Expected output**

**Actual output**

{Version:kustomize/v3.9.0 GitCommit:826b5d9792fb67c4d8f8cd59747698ebf0b22720 BuildDate:2020-12-10T21:52:58+00:00 GoOs:darwin GoArch:amd64}

**Platform**

MacOS

**Additional context**

I'm working on a minimal version

[2020-12-14 20:59] Shell32-Natsu commented on #3355
Duplicate with #3340

[2020-12-14 20:59] #3355 closed

[2020-12-15 03:30] max-sixty commented on #3345
Is 3.9.0 tagged as an alpha release? It's now the default on brew, which is unfortunate since it's not easy to install older releases on brew.

ref https://github.com/Homebrew/homebrew-core/pull/66678

[2020-12-15 04:56] yashvardhan-kukreja commented on #3343
Hi @Shell32-Natsu . This looks like a "good first issue" and I have been looking forward to start contributing to `kustomize`.

So, do you mind if I work on this PR? :)

[2020-12-15 06:21] Shell32-Natsu commented on #3343
Thanks a lot if you can take it.😄

[2020-12-15 15:24] ephesused commented on #2869
As an update, the current master branch, 60c8f4c5, is significantly slower than v3.8.8 (which, in turn, is significantly slower than v3.7.0).

Admittedly, my master branch build may not be completely accurate - I'm not certain I have my pin/unpin process set up correctly.

[code]

[2020-12-15 18:22] Shell32-Natsu commented on #3345
We have removed 3.9.0 release (but the tag is still there).

[2020-12-15 19:59] johejo opened #3358 "`kustomize build` panics if the comment contains multibyte characters"
**Describe the bug**

kustomize crashed when using Japanese kanji and hiragana in yaml comments.
It does not occur in v3.8.8.
It seems to be a regression.

**Files that can reproduce the issue**

kustomization.yaml

[code]

resources.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

- 67e445c1
- kustomize/v3.9.0

**Platform**

Linux

**Additional context*

[2020-12-15 20:33] Shell32-Natsu commented on #3358
@monopole I believe this is the issue in kyaml or go-yaml v3.

[2020-12-15 22:11] natasha41575 commented on #2339
This is being worked on.

[2020-12-16 11:10] dirien opened #3360 "kustomize 3.9.0 panic on Rolebinding Subject tag"
**Describe the bug**

[code]

**Files that can reproduce the issue**

[code]

**Expected output**

The correct rendered yaml

**Actual output**

Error message

**Kustomize version**
3.9.0

with 3.8.8 everything works as expected.

**Platform**

macOS

[2020-12-16 11:24] haf opened #3361 "Kustomize panic when deploying cert-manager"
**Describe the bug**

Using `{Version:kustomize/v3.9.0 GitCommit:826b5d9792fb67c4d8f8cd59747698ebf0b22720 BuildDate:2020-12-10T21:52:58+00:00 GoOs:darwin GoArch:amd64}`

[code]

**Files that can reproduce the issue**

When applying https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml

Only that one file, as a resource.

[2020-12-16 11:24] haf commented on #3361
Ref #3360

[2020-12-16 12:21] serhatcetinkaya commented on #2825
@monopole In case you haven't started working on the issue, I'd like to work on it and hopefully submit a PR. Also, I might need some initial guidance regarding how to implement this.