[2022-08-15 12:16] #4544 closed

[2022-08-15 12:49] sagikazarmark opened #4762 "Support adding namespace to ServiceMonitor namespaceSelector"
**Is your feature request related to a problem? Please describe.**

ServiceMonitors are often supposed to be namespace constrained for a specific application. It's possible to apply namespace selectors to a ServiceMonitor:

[code]

It would be nice if that namespace could come from Kustomize.

**Describe the solution you'd like**

Make transformers array aware:

[code]

**Describe alternatives you

[2022-08-15 13:49] pentago commented on #4581
/remove-lifecycle rotten

[2022-08-15 16:42] KnVerey commented on #4628
I spoke to @apelisse from SIG API Machinery about this, and we discussed three other sources of precedent for what to do here:

1. JSON Merge Patch. While the SMP specification and merge2 docs do not address the case where the null is in the target rather than the patch, SMP is strongly inspired from [JSON Merge Patch](https://www.rfc-editor.org/rfc/rfc7386.html). Despite saying that "merge patch

[2022-08-15 16:59] seh commented on #4628
@KnVerey, with the proposed change in behavior, will a null value for a field **in a patch** still delete the corresponding field that's present in the target?

[2022-08-15 17:05] KnVerey commented on #4628
Yes, it is unambiguous that that behaviour is correct.

[2022-08-15 18:16] Vanderscycle commented on #1493
/remove-lifecycle rotten

@antoninbas feature would be amazing. I am sure it can be applied elsewhere too.

[2022-08-15 19:23] margeaux-gendron commented on #4746
Those look to cover what I am asking for, yes.

[2022-08-16 06:17] annasong20 commented on #4525
I'm able to reproduce this issue on my mac both with kustomize v4.5.2 and on the current master. My exact setup is similar to the above:

simple.env
[code]

kustomization.yaml
[code]

producing the following output:
[code]

[2022-08-16 06:30] annasong20 commented on #4525
This is probably a bug because
1. the [discussion in #460](https://github.com/kubernetes-sigs/kustomize/issues/460#issuecomment-430838214) leans towards kustomize being ignorant of quotation marks
2. `secretGenerator` doesn't add or remove quotes for `envs`

I replicated the setup in [#460](https://github.com/kubernetes-sigs/kustomize/issues/460). On kustomize v4.5.2 and master on mac, I have

sim

[2022-08-16 07:51] raghulkrishna commented on #4414
any update on this?

[2022-08-16 16:15] #4760 closed

[2022-08-16 19:21] jamesloosli commented on #4697
I'm having this same experience as well. I've got a canned set of replacements that I keep copy-pasting into kustomization.yaml for several services.

I attempted to create a transformer using the replacements transformer, but I'm getting some odd results.

Here's what I tried;
[code]

[code]

After running `kustomize build`, the field `serviceAccountName` is never populated. When I put the same r

[2022-08-16 19:39] jamesloosli commented on #4697
After some shuffling, and trying to the the documentation I ended up with a security warning.

[code]

[2022-08-16 22:43] KnVerey commented on #4761
Can you please provide a reproduction sample? It doesn't happen universally (we have many tests for this transformer). If confirmed, we would consider this urgent to fix.

[2022-08-16 22:47] KnVerey commented on #4762
This looks very similar to the use case described in https://github.com/kubernetes-sigs/kustomize/issues/4544. I think configuring the name reference transformer is a better solution, since it does not rely on the position in the array. Please take  a look at the example I gave here: https://github.com/kubernetes-sigs/kustomize/issues/4544#issuecomment-1211138762

[2022-08-16 23:02] KnVerey commented on #4752
/triage accepted

This reproduces. cc @natasha41575 -- I know you've done a lot of work with port merging in the past

As a workaround, the result seems correct if you explicitly specify the TCP protocol on the ports that are relying on the default in the sample.

[2022-08-16 23:41] KnVerey commented on #4750
Annotations with the "internal" prefix are details of the current implementation of Kustomize and should not be used directly. The only exception is a [couple specific annotations](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/functions-spec.md#internal-annotations) that are part of the KRM Function specification and can be referenced by function authors

[2022-08-16 23:45] sethpollack commented on #4750
I'm using this in my KRM plugin and its adding those annotations.

[code]

[2022-08-16 23:46] KnVerey commented on #4749
Kustomize is a client-side-only tool, so any communication with live clusters (including to find out if something exists) is out of scope for it. That said, in most cases you can use `kubectl apply` to create what doesn't exist and update what has changed. You may find the documentation on object management helpful: https://kubernetes.io/docs/concepts/overview/working-with-objects/object-managemen

[2022-08-16 23:46] #4749 closed

[2022-08-16 23:52] KnVerey commented on #4747
I tried your sample with the latest release (4.5.7) and it expands just fine. I think you may need the fix in https://github.com/kubernetes-sigs/kustomize/pull/4383, which is included in v4.5.3+, so more recent than you're using.

/close
/triage resolved

[2022-08-16 23:53] #4747 closed

[2022-08-16 23:58] KnVerey commented on #4728
The reason this isn't working the way you're expecting is that you're working with a Custom Resource and have not provided Kustomize with the schema for it. To resolve this, please use the openapi feature: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/

/close
/kind support
/triage resolved

[2022-08-16 23:58] #4728 closed

[2022-08-17 00:06] KnVerey commented on #4718
It looks like you're expecting Kustomize to patch resources that are live in your cluster. It definitely cannot do that, as it is a client-side-only tool. You can either add the resource in question to your base to use Kustomize with it, or [use `kubectl apply` or `kubectl patch` to modify it in place](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/).

Y

[2022-08-17 00:06] #4718 closed

[2022-08-17 08:31] remidebette commented on #4335
Hi,
I concur about this issue.

We use micromamba in a Docker multistaging context to optimise our build time and images size.

This will be a pain for us to include rapids

[2022-08-17 13:59] jamesloosli commented on #4697
As with most things, I should have read the documentation further. `--load-restrictor=LoadRestrictionsNone` let me reference a standard set of replacements that were used across all of my services.

[2022-08-17 14:31] davinkevin opened #4763 "Use labels to filter `source` in `replacements`"
**Is your feature request related to a problem? Please describe.**

As a kustomize & Sealed Secrets user, I would like to use `replacement` to populate the field `            spec.tls.0.secretName` of an Ingress.

The problem is I don't know beforehand the secret name, but only labels. And obviously, I have multiple SealedSecrets in my setup (some for applications, some for certificates…).

[code]

[2022-08-17 14:57] sagikazarmark commented on #4762
@KnVerey thanks for your response!

I guess what you suggest works, but from a UX perspective there is room for improvement IMO:

- In order for it to work, you need a namespace object in the same kustomization
- You need to specify an existing namespace name
- It doesn't work with no defaults

Ideally, I should be able to add a namespace when no `matchNames` is defined. It should work even if the

[2022-08-17 15:48] chobostar commented on #136
here is suggested solution: https://github.com/kubernetes-sigs/kustomize/pull/4704

[2022-08-17 16:07] cedvan commented on #4658
Why close ?

Proposed solution is not enough, can we have a sample please ?
It seems to me extremely complicated for such a simple need...

[2022-08-17 16:23] KnVerey commented on #4658
I closed it because there is an entire KEP tracking the problem and solution for the "transformed transformers" technique being too complicated. I don't think there is value in having separate issues open about it for individual transformers. The docs I linked to do already provide examples of the current and future techniques.

[2022-08-17 19:49] natasha41575 commented on #4525
/remove-lifecycle rotten

[2022-08-17 20:06] KnVerey commented on #4525
Highly related to https://github.com/kubernetes-sigs/kustomize/issues/4570, which has a different expectation for the behaviour. One commenter there rightly points out that the env file isn't YAML, so a possible stance is that Kustomize is right to retain all characters present exactly.

@meyerhp if you don't want the quotes, is there a particular reason for having them in the env file in the firs

[2022-08-17 20:42] annasong20 commented on #4525
@KnVerey I think the issue is not that we don't want the existing quotes, but that we don't expect the added single quotes. We do expect Kustomize to

we just don't expect it to add any characters?

[2022-08-17 23:26] jamesloosli commented on #4761
I got this same stack trace today with kustomize version 4.2.0. I'm not 100% what caused it.

[2022-08-17 23:44] jamesloosli commented on #4761
Aha here's the easiest way to reproduce;

[code]

[code]

[code]

[code]

[2022-08-18 08:52] MattGarner-N opened #4765 "Does kustomize support patching batch/v1 Job?"
Hello,

Does kustomize support patching:

apiVersion: batch/v1
kind: Job

Every time I try and patch a job it errors that it cannot find a unique target, e.g.:
failed to find unique target for patch Job.v1.batch/cert-manager-startupapicheck.cert-manager

[2022-08-18 09:08] cedvan commented on #4658
If I understand the proposed composition solution correctly, you are redefining the generated manifests **after the Helm build**. While it would be much simpler and also safer to be able to **patch** the **values.yaml before the Helm build**.

So when the Helm chart comes to evolve, nothing is to be done on the kustomize side except modify the version and possibly update the values.yaml if necessa

[2022-08-18 10:40] chobostar commented on #629
I spend a time to get working example, here the result:
[code]

[code]

I hope it will help you.

[2022-08-18 18:47] laxmikantbpandhare commented on #4610
I can take a look into it. @KnVerey @natasha41575 Is it okay?

[2022-08-19 01:32] mdrakiburrahman commented on #51
In case this helps others, there's a nice query-like way to do this that's more resilient, using [yq](https://github.com/mikefarah/yq):

Here's a Kubernetes `Job` I want to update the `imageTag` for, and the Kustomize output contains a bunch of other resources inline:
[code]

I want to change `arc-ci-launcher:latest` to content within `LAUNCHER_IMAGE_OVERRIDE` and apply it without changing directo

[2022-08-19 08:18] NickLarsenNZ commented on #4658
I would like this too. I have a base which includes a helm chart with sane values. But I would like the environment overlays to be able to adjust (like enable debugging) rather than making small changes in kustomize patches (which is actually tedious since in my current case, I have to rewrite the whole command/args in the pod specs just to enable debug logging - not to mention making some values

[2022-08-19 11:21] van-adam commented on #1878
/reopen

[2022-08-19 11:21] van-adam commented on #1878
/remove-lifecycle rotten

[2022-08-19 11:22] van-adam commented on #1878
/reopen

[2022-08-19 12:19] HariSekhon commented on #4658
@NickLarsenNZ you can actually add command args without having to rewrite the whole command args array.

Simple example:

https://github.com/HariSekhon/Kubernetes-configs/blob/master/argocd-server.http.patch.yaml

More complicated example with positional-based replacement of an existing arg:

https://github.com/HariSekhon/Kubernetes-configs/blob/master/eks-cluster-autoscaler-deployment.patch.yaml

[2022-08-19 20:01] laxmikantbpandhare commented on #4610
/assign

[2022-08-19 20:02] laxmikantbpandhare commented on #4610
/remove lifecycle stale

[2022-08-19 23:36] maazmmd commented on #4263
I'm getting the same issue any help here, please?? Been stick for a while unable to resolve the issue

[2022-08-19 23:36] maazmmd commented on #4263
Using the same structure
.
|-- base/
|---- kustomization.yaml
|-- overlays/
|---- env/
|------ namespace.yaml
|------ kustomization.yaml

[2022-08-21 01:08] pckhoi commented on #1475
Here's how I do it using [replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/)
[code]
[code]
[code]
When you want to set the namespace, just... set the namespace:
[code]

[2022-08-21 16:36] Harmelodic commented on #4601
/remove-lifecycle rotten

[2022-08-21 19:40] natasha41575 commented on #4601
We aren't having "weird release tags" for no reason. We maintain multiple modules in this repo that are released separately (kyaml, api, cmd/config, and kustomize).

If there is a precedent elsewhere in the kubernetes ecosystem or generally on Github, then we can consider following that convention. There is at least one other example that I can find with multi module release tags ([link](https://d

[2022-08-21 19:40] #4601 closed

[2022-08-22 09:57] onedr0p commented on #3913
/remove-lifecycle rotten

[2022-08-22 09:57] onedr0p commented on #3913
/remove-lifecycle stale

[2022-08-22 14:59] natasha41575 commented on #3276
/remove-lifecycle rotten
/lifecycle frozen
/help

[2022-08-22 19:52] KnVerey commented on #4761
I'm not able to reproduce using that sample. Even on Kustomize v4.2.0, I get `Error: nothing selected by ~G_~V_ConfigMap|~X|someConfigMap:data.SOME_MISSING_THING`, not a panic.

If I fix the reference to be to the generated configmap, but still leave the key missing, I get a panic on 4.2.0, but not latest (4.5.7), so that particular bug has already been fixed. (the new error message is: `Error: fi

[2022-08-22 21:32] KnVerey commented on #4610
@laxmikantbpandhare my apologies, I just read over this again and I disagree with my original assessment of the situation. tl;dr I can't find a bug here.

Take the final configmap we're generating right now:

[code]

That YAML is in fact perfectly valid; we only need to escape terminal colons, and we already do. There's no need to quote `FOO:10:LO`.  I even applied it to a cluster to be sure, and

[2022-08-22 21:32] #4610 closed

[2022-08-22 21:34] laxmikantbpandhare commented on #4610
@KnVerey - that's great. thank you for the clarification.

[2022-08-22 21:36] KnVerey commented on #4765
Yes, it has been supported since v4.3.

/kind support
/triage duplicate
of https://github.com/kubernetes-sigs/kustomize/issues/4261 and others

[2022-08-22 21:36] #4765 closed

[2022-08-22 22:41] KnVerey commented on #4570
I agree with @natasha41575 and @gaeljw that Kustomize seems to be doing the right thing here, given that in the source we're talking about a properties file (where all quotes are literals) and in the configmap we're talking about YAML (where a first set of quotes only identifies the string type, and only properly escaped internal quotes are literals). To summarize:
- If the properties file contain

[2022-08-22 22:41] #4570 closed

[2022-08-22 22:53] KnVerey commented on #4525
After going through the other issues related to quotes and env file sources, my conclusion is that the current behaviour is correct. An env file is not YAML, and as such, quotation marks in those file are interpreted as literal characters we should use (vs. in YAML where they may be indicating that a field has a string type).

`kubectl create configmap --from-env-file` behaves the same way. See th

[2022-08-22 22:53] #4525 closed

[2022-08-23 00:56] Jont828 opened #4768 "Is it possible to have kustomize ensure we have the latest version of a Helm chart?"
Kustomize is being used in Cluster API to fetch Helm charts with the `--enable-helm` flag. I'm working on an [issue](https://github.com/kubernetes-sigs/cluster-api/issues/7052) where I'd like to have kustomize pull the chart when a new version is found on the repo. Currently, if the chart has been pulled and a new version is released, the only way to update it is to delete the chart so kustomize w

[2022-08-23 09:30] #4600 closed

[2022-08-23 17:54] shokohsc commented on #587
@Liujingfang1 😭 but fair.

Please how one would (or should ?) patch say, coredns deployment cpu/memory requests and limits, if the tool used to deploy the cluster (kubespray) could not allow it at the time, said cluster was deployed ?

[2022-08-23 19:13] KnVerey commented on #4613
Those who commented that the `openapi` field requires the full schema, not just additions, are correct. So it isn't a bug, but there are a few related problems:
- The [docs for the `openapi` field](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/) show it being used to add a schema containing a single definition. While the example works (because its resources only hav

[2022-08-23 19:21] natasha41575 commented on #4613
@KnVerey FYI, I have an umbrella issue with some of the things I want to do with openapi: https://github.com/kubernetes-sigs/kustomize/issues/4569

It includes a note that the supplied openapi should be an addition to what's builtin, rather than replacing it all.

[2022-08-23 19:22] KnVerey commented on #4595
@EwertonJordao is correct. `generatorOptions` is a top-level field that affects both ConfigMapGenerator and SecretGenerator, and this is what the docs are illustrating (it is correctly positioned as global there). If you want to affect only one instance of a particular generator, the field name is `options`. This is also in Kustomize's own docs, e.g.: https://kubectl.docs.kubernetes.io/references/

[2022-08-23 19:22] #4595 closed

[2022-08-23 19:31] zachaller commented on #4613
I have a blog post that should be posted this Thursday (8/25/2022) [here](https://blog.argoproj.io/) that will also go into some of these issues as well. But really looking forward to either changes from kustomize or k8s to help with this issue as well.

[2022-08-23 19:35] KnVerey commented on #4725
The error message definitely isn't helpful, but there are two issues with the configuration file. First, fieldspecs don't start with a leading slash. If you fix that, you'll get a "wrong node kind" error, because fieldspecs don't take indexes to dig through arrays--if the transformer supports arrays (which prefix/suffix does, fortunately), just jump straight to the field. This seems to get the res

[2022-08-23 19:35] #4725 closed

[2022-08-23 19:41] KnVerey commented on #4495
Feel free to reopen if my assessment that the problem is missing openapi schema was incorrect.

/kind support
/triage resolved
/close

[2022-08-23 19:41] #4495 closed

[2022-08-23 20:00] KnVerey commented on #4380
While I'm not sure a bump has been explicitly considered, the barrier to upgrading would be behaviour parity with kubectl, which kustomize is embedded in (see `kubectl patch --type json` behaviour). As much as the maintainers would like to have the standards-compliant behaviour in theory, this would be a breaking change for our users. Kubectl so far has not upgraded following the discussion in htt

[2022-08-23 20:10] KnVerey commented on #4596
I suspect the problem here is that you're trying to patch a custom resource without providing the schema for it (via the [openapi field](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/)). By default, SMPs replace arrays.  If you provide a schema with the extensions for `spec.groups` specified and that doesn't fix it, please reopen.

/triage duplicate of https://githu

[2022-08-23 20:10] #4596 closed

[2022-08-23 21:47] bewing opened #4769 "hack/install_kustomize.sh fails intermittently"
**Describe the bug**
It seems like a change in how GitHub API text is returned is causing issues with the bash script `hack/install_kustomize.sh`.  Instead of pretty printing the JSON output, it is returned as a single line.  As a result, the incorrect download link is selected ( there is only a single line for grep to search, it returns it as true as the pattern is in that line, and cut selects t

[2022-08-24 17:21] gaeljw commented on #4493
/reopen

[2022-08-24 17:59] dardosordi commented on #641
It appears that the vast majority of us are just trying to generate random names for our jobs. If kustomize just generated the name using generateName as the prefix, most of us will be perfectly happy with it.

[2022-08-24 22:39] bwinter commented on #4678
@KnVerey - that is unusual.

I am back to try this update again and am still having the same problem.

Running the following with these results:
[code]

Where as, again with 4.5.4 it seems to work.

And I can run it as many times as I want and it seems to continue to fail each run.

I am running this on a MacBook Pro. Montery 12.5

git version is 2.36.1

Using iterm / bash

Have a variety of termi

[2022-08-24 22:45] bwinter commented on #4678
/open

[2022-08-25 01:36] nnachefski opened #4771 "Allow kustomize to create parameters from non-kustomize created resources"
When attempting to use kustomize to parameterize a postgres DB password, i get this:

`{data.master_db_password}}' cannot be mapped to a field in the set of known resources
`
from this config:
[code]

I'm getting this error because the secret "sandboxmaster-pguser-master" is not in the resources list in kustomize.  Kustomize is not responsible for creating this object, the CrunchyData Postgres ope

[2022-08-25 09:00] Blackclaws commented on #4493
Yeah I've just run into the same issue. I found that you can add a configmap using
[code]
and was very surprised that trying to use the same command to update the configmap results in an error for duplicate keys.

[2022-08-25 09:01] Blackclaws commented on #4493
/remove-lifecycle rotten

[2022-08-25 11:00] wrouesnel opened #4772 "Documentation: make the effect of a specified namespace on transformer application clear"
https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs page does not make any mention of the effect that having resource explicit namespace specifications will have on the application of things like the `nameReference` transformer. I wasted a good couple of hours trying to debug this, with no warnings or error messages to guide me.

The examples page (which is highly

[2022-08-25 17:45] zachaller commented on #4613
For those interested https://blog.argoproj.io/argo-crds-and-kustomize-the-problem-of-patching-lists-5cfc43da288c

[2022-08-25 18:27] natasha41575 commented on #4640
FYI @annasong20 I looked into it a little bit and I think you might be able to replace https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/cloner.go#L33-36 with `git checkout origin/HEAD`. I'm not 100% sure so will need you to verify.

[2022-08-25 18:31] annasong20 commented on #4640
/assign

[2022-08-25 18:39] natasha41575 commented on #4640
If there isn't a clean threadsafe way to write the git commands, we can also consider locking these critical lines of code with a mutex.

[2022-08-25 19:26] QuinnBast commented on #4381
Based off of [this comment](https://github.com/kubernetes-sigs/kustomize/issues/4401#issuecomment-1213360696), it appears that the helm chart inflation tool is supporting bug fixes and adding fields that are normally supported through `helm template`. That would make this issue and #4335 valid and would not be waiting for the new KRM functionality. Is there any priority on these two issues which [

[2022-08-25 22:27] KnVerey commented on #4678
`/reopen` will do it, but unfortunately I still can't reproduce

I tried several more times with _exactly_ the same command you're using, and it always works for me. I also tried shelling into the container (`docker run -i -t  --entrypoint /bin/sh k8s.gcr.io/kustomize/kustomize:v4.5.5`) and running relevant commands directly in there (e.g. `git clone --branch=release-1.11 https://github.com/kubern

[2022-08-26 01:03] arielweinberger commented on #3815
Bump?

[2022-08-26 01:27] arielweinberger commented on #3815
Bumping again as this breaks our flow of specifying `namespace` in overlays completely.

[2022-08-26 07:28] lqywow commented on #3443
@cache-sk I met the same problem. How can I  "upgrade" generated docs package to full module

[2022-08-26 13:59] natasha41575 commented on #4640
Per offline discussion, it has come to our attention that it being a concurrency issue is unlikely as all the remote tests are running in the same package and therefore not running in parallel.

[2022-08-26 15:05] udayangak commented on #1586
thanks this worked for me

[2022-08-26 16:30] alexandros-genies commented on #242
Has there been any resolution to this? Does the garbage collection work correctly or what is the recommended best practice?

[2022-08-26 17:25] dobesv commented on #242
You can use ArgoCD or something like that which prunes old resources, it's a good idea in general so maybe worth the trouble in the long term.  Or cobble together a solution of your own to clean them up.  Or just ignore them.

[2022-08-26 17:48] alexandros-genies commented on #242
Ah gotcha thank you for the quick response

[2022-08-26 18:55] annasong20 commented on #4640
My update after looking into this issue some more:
* Each flaky test fails for the same reason: it gets stuck on `git checkout FETCH_HEAD`. However, as stated above, this shouldn't be a concurrent test issue. Moreover, even if the tests ran concurrently, this shouldn't be a concurrency issue, as each `git` command should be run in its own unique, temporary directory.
* The `git checkout` may be ti

[2022-08-26 19:05] KnVerey commented on #4640
I'm not sure this fully explains it, but the sheer size of our repo now that it has a docs site again is likely a contributing factor. We should consider preventing submodule initalization and raising the timeout on tests where this isn't important (Kustomize  supports this already).

That said, @natasha41575 @annasong20 and I had a discussion about this suite, and I proposed that we go back to th

[2022-08-26 20:55] #4121 closed

[2022-08-27 13:52] seh commented on #4347
/remove-lifecycle stale

[2022-08-28 22:10] dharmeshgordhan opened #4776 "Using replacements with a commonLabel as a source"
Hi,

Any suggestions on how I can use replacements to read the commonLabels value? I'm getting an error at the moment: `Error: nothing selected by Kustomization.[noVer].[noGrp]/[noName].[noNs]:commonLabels.[pipeline/branch]`.

I'm looking to have my app pod, and database pod deployed on the same node. I'm using podAffinity to do this. My deployment method means application feature branches get dep

[2022-08-29 03:33] james-callahan commented on #3887
/reopen

I ran into this again trying to target kyverno policies. e.g. to target all restricted policies (like https://github.com/kyverno/policies/blob/41a0121f71e24c3d6c0030e5d48ed290430e297f/pod-security/restricted/require-run-as-nonroot/require-run-as-nonroot.yaml#L7) I want to do:
[code]

[2022-08-29 13:35] mightyguava commented on #4640
/assign @mightyguava

[2022-08-30 14:06] in-cloud-opensource opened #4780 "[Question] Reference Kind Kustomization in replacement transformer"
Hi,
is it possible to reference `kind: Kustomize` in a replacement transformer?

`replacment.yaml`
[code]

`kustomization.yaml`
[code]
Regards

[2022-08-30 15:02] cbodonnell commented on #4602
Hi @KnVerey, I was able to reproduce this on master with the test case above by removing the newline at the end of the ConfigMap string, which aligns with what @ashwinmahesh is reporting:

[code]

[2022-08-30 15:49] KnVerey commented on #4602
Oh, you're right that I misinterpreted which case what causing the change when I wrote my test. But looking at the results, aren't the desired and actual semantically equivalent? In fact, isn't the actual less prone to ambiguity of intent? For example, if another key is added after `data`, without the block chomp, the `deployment-abc ` content will start ending in a newline.

Regardless, I confirm

[2022-08-30 21:37] jkroepke commented on #4219
/remove-lifecycle stale

[2022-08-31 01:44] annasong20 commented on #4581
I'm not quite sure what your setup is and how you want kustomize to behave differently. To the best of my understanding, your setup is:

`./base/deployment.yaml`
[code]

`./base/kustomization.yaml`
[code]

`./overlay/kustomization.yaml`
[code]

for which I get the following output using kustomize v4.5.7
[code]

I believe this is the expected output because by the time you reference `base` with `ov

[2022-08-31 04:38] annasong20 commented on #4581
If you want kustomize to further modify the tags in `overlay`, you can change `overlay/kustomization.yaml` to specify the new names as follows:

`overlay/kustomization.yaml`
[code]

and your output will be
[code]

If I'm misinterpreting your question, please provide more information including all inputs, expected output, and actual output.

[2022-08-31 08:36] stereoit opened #4781 "[Question] Generate secret for cert manager"
Hi, how do I generate secret use in cert manager? I have this kustomize.yml

[code]

This issuer:
[code]

And I provide the key via `cho "api-token=$CF_API_TOKEN" > env.secret`.

I see the secret generated fine, but kustomized does not update the reference to it (it still shows the name without suffix) :(

[code]

Any hints what might be wrong?

[2022-08-31 08:44] greenkiwi commented on #4339
@natasha41575 we just ran across this issue and were wondering whether there were any good examples to follow.  We have attempted to have all of our "code" use strong formatting.  Google-java-formatter for java, black for python, etc.   This has improved our code review as there are fewer _style_ discussions and users are less likely to miss or change large chunks of code.    For k8s objects, havi

[2022-08-31 11:01] in-cloud-opensource opened #4782 "[Question] PrefixTransformer select resource by name and GVK"
Hi,

is there a way to apply transformers like the PrefixTransformer only to a resource selected by name and GVK (group, version, kind)?
Example:
[code]

From the docs it looks that it is only possible to apply the prefix transformer based on Kind, Version and Group.

If not supported would it make sense to support that feature for some build-in transformers?

Regards

[2022-08-31 15:45] KnVerey commented on #4781
I think the problem is that the name reference transformer that takes care of updating names doesn't know about the ClusterIssuer custom resources type. Please have a look at the `nameReference` aspects of this guide and re-open if it does not solve your issue: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md.

/close
/triage resolved
/kind support

[2022-08-31 15:45] #4781 closed

[2022-08-31 16:14] KnVerey commented on #4769
A bunch of us tried to reproduce this during today's bug scrub and we were not able to. Can you please confirm whether you are still experiencing this issue?

/triage needs-information

[2022-08-31 16:24] KnVerey commented on #4696
/triage accepted

Would be solved by https://github.com/kubernetes-sigs/kustomize/pull/4619

[2022-08-31 16:30] #4575 closed

[2022-08-31 16:30] bewing commented on #4769
As additional information:  This is non-deterministic.  Once, it did manage to download/install the binary successfully.  I think Github or its cache might be doing some A/B testing of removing newlines from API output?

[2022-08-31 16:33] KnVerey commented on #4335
/triage out-of-scope
/kind feature
/close

This will be supported in the new KRM Function implementation, but is out of scope for the current Kustomize built-in:
https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/helmcharts/#long-term-support

[2022-08-31 16:33] #4335 closed

[2022-08-31 16:41] KnVerey commented on #4303
Since Kustomize is not actually performing a Helm release as part of processing, we are using `helm template` under the hood (not for example `helm install`). Is there a `helm template` command that works with these charts?

This sounds very reasonable to me. Could this be considered a viable solution if we document it?

[2022-08-31 16:48] KnVerey commented on #4782
You're right that the prefix transformer doesn't support filtering by name. Could you please take a look at the [`replacements` transformer](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) for your use case? It supports sophisticated filtering, and has the ability to prefix/suffix using its delimiter and index options.

/triage needs-information
/kind feature

[2022-08-31 16:56] KnVerey commented on #4780
Targeting `kind: Kustomization` with the replacements transfomer definitely isn't possible, because it can only operate on the set of resource data the Kustomization has produced so far. Can you please provide more information about your use case? For example, why not target one of the resources that already got the label in question from the label transformer?

/triage needs-information
/kind fea

[2022-08-31 17:04] KnVerey commented on #4776
It isn't possible to target the Kustomization itself using the replacements transformer--it only operates on the resource data that the Kustomization has already produced. Would you be able to instead target the label field on the `app` Deployment in question? Since the label transformer runs first, I would expect the value you want to be there when the replacement transformer runs.

/triage needs

[2022-08-31 18:31] brianpursley commented on #4303
According to this:
https://github.com/kubernetes-sigs/kustomize/blob/71bf0d5d14552a137f43c37c80adcc9ceb937417/api/types/helmchartargs.go#L45-L56

it looks like you are supposed to be able to set `helmCharts.releaseName` and `helmCharts.namespace`, like this:
[code]

However, doing this causes the `helm template` command to be constructed incorrectly, and I get this error:
[code]

It looks like Hel

[2022-08-31 18:42] bewing commented on #4769
Curious if in your testing performing `curl -s https://api.github.com/repos/kubernetes-sigs/kustomize/releases` generates the output as one extremely long line, or as multi-line?

[code]

[2022-08-31 18:48] bewing commented on #4769
If newlines are not present, adding `jq` into the invocation can restore them, and make this work properly:

[code]

[2022-08-31 20:27] brianpursley commented on #4303
Actually, after looking at this again, I think it seems to be working fine.  I don't know why I got that error about two arguments before, but maybe I had made a change and forgot to back it out before running that.

@anvouk if you specify `releaseName` and `namespace` in your kustomization.yaml, like this, it should work:
[code]

Output:
[code]

[2022-09-01 06:56] in-cloud-opensource commented on #4780
@KnVerey

Basically, what you propose works in most of our cases, and we do it like that.

There is one case, that is related to our GitOps structure with ArgoCD: There is one K8 namespace in which multiple ArgoCD Apps are deployed with kustomize. Each of these ArgoCD app shares some common configuration values that might be stage/overlay depended e.g. global pubsub topics. Instead of defining eac

[2022-09-01 06:59] in-cloud-opensource commented on #4782
@KnVerey Thx! After some further investigation, this works for us.

[2022-09-01 06:59] #4782 closed

[2022-09-01 08:07] lallinger-arbeit commented on #3902
/remove-lifecycle stale

[2022-09-02 08:19] dharmeshgordhan commented on #4776
I had a quick go, but it threw an error. I will try more diligently in a couple of days - thought I'd share what I had so far.
[code]

I had a look at the output without the replacements, and the attribute looks like it's there. Trying with square brackets around the label for the replacement source threw:

[code]

Here's a sample of the deployment object output from kustomize:
[code]

Here's the

[2022-09-02 16:38] dominicfollett opened #4786 "Unable to add new path and value using patch operation"
**Describe the bug**

"Add" patch does not add new path and value to Daemonset manifest.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

Or

[code]

resources.yaml

[code]

...
-->

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

Kustomize Version: v4.5.4

**Platform**

MacOS Monterey 12.5.1

**Additional context**

[2022-09-03 13:35] Kristin0 commented on #1295
@monopole Could you please reopen this issue?

[2022-09-03 16:20] Kristin0 opened #4787 "[Question] How can i use variables in kustomization.yaml file"
For example i want in file
`kustomization.yaml` smth like this

[code]

[2022-09-03 16:21] Kristin0 commented on #4787
@jnewland @monopole please help :(

[2022-09-05 05:07] vsabella commented on #4761
@KnVerey  Sorry I was out of the office but I'll see if I can get you a sanitized repro today.

[2022-09-05 05:30] vsabella commented on #4761
@KnVerey  here is a simple repro where we wanted to use a replacements transformer to add a field.

The scenario is - imagine you have multiple "Filters" in a list, you want to add some new yaml to each instance (in this case the proxy: option)

I believe it's trying to dereference a list item which doesn't exist. However this was the pattern we needed to use in earlier versions of kustomize, due

[2022-09-05 05:36] vsabella commented on #4761
@KnVerey here is a simple repro where we wanted to use a replacements transformer to add a field.

The scenario is - imagine you have multiple "Filters" in a list, you want to add some new yaml to each instance (in this case the proxy: option)

I believe it's trying to reference a list item which doesn't exist. However this was the pattern we needed to use in earlier versions of kustomize, due to

[2022-09-05 07:21] tdi commented on #4787
hi @Kristin0 I think having variables like that is against the kustomize principles of having clean builds (https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables).

You can use something like that ```kustomize edit set namespace  $NAMESPACE_FROM_ENV```  if namespace is in metadata field it will be effective.

[2022-09-05 09:37] #4697 closed

[2022-09-05 12:45] mowtschan commented on #4292
Hi guys!

I tried that [PR](https://github.com/kubernetes-sigs/kustomize/pull/4767) but unfortunately the issue still persists.

I created a new [PR](https://github.com/kubernetes-sigs/kustomize/pull/4785) with the simple solution which will keep default order (sorted alphabetically).

please have a look!

Sascha

[2022-09-05 14:36] wim-de-groot opened #4788 "Better error message while loading remote file"
### Problem
The problem is that if a remote file is used as resource and that file is part of a git repository that the status code is not shown in the error message. This status code could be helpful for debugging the problem.

### Location
The part of code that I am talking about is located over [here](https://github.com/kubernetes-sigs/kustomize/blob/23de1499c27b1d040e90c8094051fe960661196a/api

[2022-09-05 21:36] garreeoke commented on #642
@booninite Ever find a solution to this?

[2022-09-06 06:21] dttrian commented on #4428
/remove-lifecycle stale

[2022-09-06 12:01] roymartinezblanco commented on #4256
Any update on this?

[2022-09-06 12:53] jmmclean commented on #4401
Its kind of a poor Developer Experience that the KRM repo is referenced for helm inflation, but no contributions have put on it for about 6 months - this is typically an indicator of a dying project in the open source world. Im specifically thinking of https://github.com/kubernetes-sigs/kustomize/issues/4335 where contributions were made by the community, but disregarded for the below option (clea

[2022-09-06 16:00] Kristin0 commented on #4787
Ok, thanks

[2022-09-06 16:22] KnVerey commented on #4787
@tdi is correct. Variables go against a core goal of Kustomize, namely to provide a template-free solution. The "[vars](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/)" feature you referenced does not really work like variables and is being removed in favour of [replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/). #4049

/

[2022-09-06 16:22] #4787 closed

[2022-09-06 17:25] KnVerey commented on #4303
Thanks @brianpursley ! Since these values are already propagated correctly from our `helmCharts.*.releaseName` and `helmCharts.*.namespace` fields, I'm going to close this as resolved. Feel free to reopen if I've misunderstood.

/triage resolved

[2022-09-06 17:25] #4303 closed

[2022-09-06 17:28] KnVerey commented on #4780
FWIW you can make Kustomize strip out arbitrary objects at the end of the build by using the [`config.kubernetes.io/local-config: true` annotation](https://github.com/kubernetes-sigs/kustomize/blob/f4e6816338c73a8c6dfec0d59ff7b75203be2a0b/cmd/config/docs/api-conventions/manifest-annotations.md).

[2022-09-06 20:15] KnVerey commented on #4761
Thank you! I successfully reproduced.

/triage accepted
/kind regression
/assign

[2022-09-06 22:40] anvouk commented on #4303
@KnVerey I think we should re-open this issue (or make a new one).

Some reasons that came to mind while thinking as for why leaving things like this is a bad idea:
1. Having to manually specify the `namespace` field for every chart gets tedious and error-prone (there is already a top-level `namespace` field so why do I have to keep telling every chart its namespace? it's against DRY).
2. There is

[2022-09-06 23:54] annasong20 commented on #4584
Very interesting question! If I'm understanding your setup correctly, this is a patch, not a `components` problem. You'd like to write patch overlays that are order-agnostic, but run into problems when:

1. using `patchesJson6902` to add elements to `tolerations` because, as you said, `tolerations` needs to exist before you can add elements to it, but we cannot know if it already exists in the cur

[2022-09-07 07:16] in-cloud-opensource commented on #4780
@KnVerey That's exactly what we are looking for, Thx!

[2022-09-07 07:16] #4780 closed

[2022-09-08 10:30] david-martin commented on #4769
I'm also seeing this problem only recently.
It definitely worked a few days ago.
In my case it's on macos.
[code]
The pipe to `jq` workaround works for me.

[2022-09-09 15:35] #4399 closed

[2022-09-09 20:21] ephesused opened #4790 "Extract loop constant from makeResIds.go's PrevIds for performance improvement"
**Describe the bug**

https://github.com/kubernetes-sigs/kustomize/blob/0fa010c/api/internal/utils/makeResIds.go#L53-L57 makes somewhat heavy calls, but it is a loop constant. Moving the constant out of the loop can yield a significant performance improvement.

Apologies for the lack of a PR. I haven't gotten myself set up properly yet, and figured I'd send this along in an issue since it's a simp

[2022-09-09 20:25] natasha41575 commented on #4790
/triage accepted
/help

[2022-09-09 20:31] #4579 closed

[2022-09-09 21:30] caproven commented on #4790
I can try creating a PR for this. Want to run my own performance testing but thanks @ephesused for finding this!

[2022-09-09 21:41] natasha41575 commented on #4790
@caproven Feel free to assign this issue to yourself (you can leave a comment with `/assign` to do so).

[2022-09-09 21:44] caproven commented on #4790
Thanks @natasha41575

/assign

[2022-09-09 23:40] caproven commented on #4790
I can confirm that @ephesused was on to something, excellent find! Below are some performance findings of mine based on a large set of manifests whose total output is ~70k lines with heavy patchTransformer usage, run on a Ryzen 5 5600x.

Before:
* `257.82s user 17.40s system 200% cpu 2:17.22 total`
* 19,952,711 invocations of ` GetMeta()` & `ParseGroupVersion()` from `PrevIds()`

After:
* `89.04s

[2022-09-10 05:59] narg95 commented on #4292
Hi all,

first PR got closed by Author without merging, seems as if the issue was not fully fixed there, can somebody have a look at the new PR #4785 from @mowtschan? it seems to fix it.

[2022-09-11 01:47] #4528 closed

[2022-09-11 06:54] sukrit007wawa opened #4792 "[Question] kustomize release 4.5.7 go lang build"
It looks like kustomize v4.5.7 is compiled using Go lang 1.18.5 that has an open CVE:  [CVE-2022-27664](https://nvd.nist.gov/vuln/detail/CVE-2022-27664)

- What is the plan to release v4.5.8 that leverages Go lang 1.18.6, for build ?

[2022-09-11 16:57] ephesused commented on #4790
I think I see a way to improve further. Starting with the above fix, I have a complex run that executes in about 300s. I can get that down to about 220s by adjusting the [PrevIds's GetMeta call](https://github.com/kubernetes-sigs/kustomize/blob/0fa010c/api/internal/utils/makeResIds.go#L53) so that it tells GetMeta to populate only what PrevId needs: the APIVersion.

The hack I'm testing allows cal

[2022-09-11 19:10] koba1t commented on #4469
/assign koba1t

[2022-09-12 04:02] james-callahan commented on #3953
Are there any tools around to format kustomize files/patches?
I'd expect such a tool would need to have knowledge specific knowledge of fields to order on.

[2022-09-12 10:57] #4557 closed

[2022-09-12 14:28] ephesused opened #4793 "performance: Alter makeResIds.go's PrevIds to use a targeted APIVersion retrieval"
Currently makeResIds.go's PrevIds retrieves the APIVersion by calling GetMeta. However, the only content that is used is the APIVersion. GetMeta is a lot heavier than GetApiVersion, and converting yields a meaningful performance improvement in moderately complex runs.

I'm planning to handle this one myself, since I'd like to use it as a working example to become a contributor.

/assign

Current c

[2022-09-12 16:31] KnVerey commented on #4561
/assign

[2022-09-12 16:40] KnVerey commented on #4469
@koba1t @natasha41575 how do we want this feature to work? I've been thinking about this lately as part of looking into https://github.com/kubernetes-sigs/kustomize/issues/4561, which is required for the use case in https://github.com/kubernetes-sigs/kustomize/issues/4761 (the regression is from incorrectly ignoring the invalid paths to a panic--it should throw an error, which will break that pers

[2022-09-12 16:51] #4790 closed

[2022-09-12 19:06] natasha41575 commented on #4793
/triage accepted

[2022-09-12 21:03] #4583 closed

[2022-09-12 22:03] #4586 closed

[2022-09-12 23:08] KnVerey commented on #4569
/remove-lifecycle stale

We still need this part:

[2022-09-13 06:52] matthewhembree commented on #4339
I agree that `kustomize build` is the wrong place to to formatting. I don't think formatting should be *in-band*. I can't think of a programming language that does formatting that way.

[2022-09-13 08:16] fritzrehde opened #4794 "Helm charts: updated version field is ignored after first build"
If I run `kustomize build . --enable-helm` with the following kustomization.yaml:
[code]
the output displays the correct version number (i.e. 6.36.2). However, once I change the version number in the yaml file (e.g. to 6.36.1) and then run the kustomize build command again, the version is still 6.36.2. Updated version numbers in the yaml seem to be ignored after the first build.

Helm version: 3.9

[2022-09-13 12:43] wim-de-groot commented on #4788
I added this request 8 days ago, but there is still no reaction. Is there any indication on if I add this pull request?

[2022-09-13 13:39] yufeiminds commented on #4493
Hi, all.

What status is the issue?

[2022-09-13 22:05] fritzrehde commented on #4794
It seems like deleting the generated `charts/` directory and rebuilding the `kustomization.yaml` is the only way to update the version attribute.

[2022-09-14 07:49] bluebrown commented on #4378
doest work for me somehow

[code]

[code]

[code]

[2022-09-14 09:29] CmdrSharp commented on #3816
/remove-lifecycle stale

[2022-09-14 12:31] bluebrown commented on #1593
Would be nice if that would work without `.metadata.name`

[2022-09-14 15:05] Gikkman commented on #4679
/remove-lifecycle stale

[2022-09-14 17:28] jketcham commented on #4584
Hi @annasong20 thanks for your detailed response! Yes this is a patch problem. The workarounds you proposed sound like they'd work for the tolerations, but I suppose I may be out of luck for the node affinities.
I'm no longer directly working on the project where I was running into this situation, and had since created another workaround, but this is good to know. I'll go ahead and close this issu

[2022-09-14 17:28] #4584 closed

[2022-09-15 09:34] ferronsw opened #4795 "replacement not working with overlay configmap values"
**Describe the bug**

I have the following base/kustomization.yaml where I'm doing some replacements:

[code]

The base/env.properties file in the base contains the following properties and values:

[code]

base/ex-secret.yaml file for reproduce:

[code]

Now I have created an overlay overlay/kustomization.yaml to overwrite the values like

[code]

overlay/env.properties:

[code]

File tree:

[cod

[2022-09-15 14:07] yufeiminds commented on #4493
Hi @gaeljw, I had draft a [pull request](https://github.com/kubernetes-sigs/kustomize/pull/4796) to add a `remove` command to `Kustomize`.

It can be used with `add configmap` command. Like this:

[code]

Hope it can resolve you problem.

[2022-09-15 15:23] gaeljw commented on #4493
Nice job @yufeiminds , sounds like it would do the trick. Hopefully your PR can be merged soon :crossed_fingers: (I've had some PRs opened for several months without feedback, I'm a bit grumpy on this :) )

[2022-09-15 20:43] ephesused commented on #4793
Quick status update... Currently I'm working through our process to get clearance for submissions.

As I've poked around a bit, I've been able to find some more opportunities for improvement. Here's my cumulative working patch:

[patch-wider.txt](https://github.com/kubernetes-sigs/kustomize/files/9578701/patch-wider.txt)

There are a few things going on in this combined patch, with the big one bei

[2022-09-16 09:25] ciis0 commented on #4731
In our project we use this feature to inject credentials into ConfigMaps, using `kustomize edit` risks exposing the credentials in left-over files (we pipe `kustomize build` directly into `kubectl apply`).

We also hope you reconsider this.

[2022-09-16 13:03] elamcheliyana commented on #4381
I have tried the issue is still present. Does any one when they would consider to fix this problem or it going to be never?

[2022-09-16 18:19] cjyar opened #4799 "configMapGenerator unable to replace ConfigMap from a Helm chart"
**Describe the bug**

Kustomize is unable to replace the contents of a ConfigMap if the ConfigMap comes from the Helm generator.

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expected output**

It should generate manifests

**Actual output**

[code]

If I remove `behavior: replace` then I get this instead:
[code]

**Kustomize version**

[code]

**Platform**

macOS

[2022-09-16 19:19] bluebrown opened #4800 "krm container mounts relative to base instead of overlay"
**Describe the bug**

I noticed that the krm function container mount is relative to the base instead of the overlay.

**Files that can reproduce the issue**

[code]

If you look at the tree, you see that a mnt folder was created in base even though the generator is in the staging overlay.

[code]

**Expected output**

I expected it to be created in the staging overlay next to the generator config

[2022-09-18 17:03] omninonsense commented on #1301
/remove-lifecycle stale

[2022-09-18 21:06] #4081 closed

[2022-09-19 03:29] dharmeshgordhan commented on #4776
Okay! Got it working :) Not toooo sure why it didn't work the first time.

Thanks!

[code]

[2022-09-19 03:33] dharmeshgordhan commented on #4776
Oh I just realised that it doesn't work when I have the common label in my overlay. But if I have the common label in my base kustomization.yaml it works.

Is that expected?

[2022-09-19 12:21] fuero opened #4804 "[Question] Unexplainable error on kustomize build"
We are encountering an error in a rather complex setup. Here's a minimalized example:

[code]

When calling `kustomize` like this:

[code]

It yields:

We assumed that transformers were fully applied to `nginx` and `nginx-other` before the resources that include them are fully processed, thus making this error impossible. What do we miss? How would we accomplish what we are trying to do (applying

[2022-09-20 13:16] smoyer64 commented on #4347
This issue was killing me - I know functions are alpha but it took me a while to find this bug report.  Since I'm executing in a CD environment, changing the `PATH` has some unintended consequences.  An alternate work-around that avoids messing with the environment is to put all the plugins in one of the bases.  The caveat is that it has to be the last base that's loaded so I simply created a base

[2022-09-20 13:20] mightyguava commented on #4620
@annasong20 @KnVerey can this be closed?

[2022-09-20 13:23] mightyguava commented on #4640
With #4777 and #4783, can this issue be closed?

[2022-09-20 14:14] seh commented on #4804
You're applying the _cluster/_tenant/foo_ _Component_ after you've accumulated the _cluster/base/nginx_ and _cluster/base/nginx-other_ _Kustomizations_, but I'm pretty sure that the name reference tracking is applied "all the way up to the top, until the end," so that the _nginx.configmap.patch.yaml_ file's targeting of "ingress-nginx/ingress-nginx-controller" winds up seeing two candidate targets

[2022-09-20 14:18] seh commented on #4786
Your _DaemonSet_ is lacking the "app" label mentioned in your patch's label selector. You have that label in the _DaemonSet_'s pod spec template, but not on the _DaemonSet_ itself.

[2022-09-20 14:21] seh commented on #4800
This is vaguely similar to #4347 and #4350

[2022-09-20 15:50] #4620 closed

[2022-09-20 16:11] aabouzaid commented on #4347
@smoyer64 it's really annoying issue, and the fix is already there #4654
I hope to find someone to review the PR.

[2022-09-20 18:46] fuero commented on #4804
I tried the example you referenced which looks quite similar to what I posted initially. With `patches:` it works fine as advertised, with transformers it does not - it shows the behaviour I mentioned. So it's not the structure (if I'm not mistaken), but the transformers that don't work as expected. I'd classify that as a bug.

[2022-09-20 20:54] GuyPaddock commented on #2269
/remove-lifecycle stale

[2022-09-21 15:46] annasong20 commented on #4795
Hi @ferronsw,

I get the same behavior on my mac, but this isn't a bug. Kustomize is designed to run the generators and transformers in each layer only once on the resources available at the time of run. In your case, `replacements` ran in the base, but won't run again, even though you've changed `configMapGenerator` in the overlay.

To get an "up-to-date" ExternalSecret, you can move the `replace

[2022-09-21 21:08] annasong20 commented on #4722
Hi @hiteshgakhreja1234,

 I don't believe you can currently `skip` in kustomize, but you can specify all the kinds under `configurations` you'd like to apply `namePrefix` to other than the 3 (service, configmap, storageclass) you mentioned above. This is as instructed by the link you provided: https://stackoverflow.com/questions/69882949/kustomize-namesuffix-skip-on-some-resources

 For example, o

[2022-09-22 01:38] r0bj commented on #3877
/remove-lifecycle stale

[2022-09-22 22:33] KnVerey commented on #4640
Yes, 🤞 those fixed it. We'll need some time to see enough CI runs to feel completely confident (e.g. that we don't need to add retries to the protocol tests), but we can close this for now and reopen if we discover there's more to be done.

/close

[2022-09-22 22:33] #4640 closed

[2022-09-23 07:34] wengkee commented on #702
Just want to give credit to this workaround, it works like a charm. The injected configMap works as a trigger, when the sealedSecret is changed, the configMap mounted with this sealsecret files will be changed as well. And since the configMapGenerator will make a new configMap, it will trigger the redeployment.

[2022-09-23 09:22] LouisMaycol commented on #702
Works like a charm.

[2022-09-23 15:53] KnVerey opened #4807 "Missing error case coverage in api/internal/target/kusttarget.go"
Discovered during review of the [remote loader's integration suite revamp](https://github.com/kubernetes-sigs/kustomize/pull/4783/files/1287caf46a0301a28396af2bf0769e8f47c5bac8#diff-0a2a043ac09e972046124503e8c93e4e7141cfc13deff446afb1aa3e328ee8c5).

We are going to lift the code freeze on the remote loader, but will require test coverage improvements along with or ahead of any changes to `accumula

[2022-09-23 15:55] KnVerey commented on #4756
@natasha41575 @annasong20 and I have agreed that thanks to @mightyguava great work, we can lift this freeze! 🎉
In its place, we will be freezing a much more specific piece of code that is involved in all Kustomization loading (remote and local) and was discovered to have poor error coverage as part of our efforts here. The new issue for that is https://github.com/kubernetes-sigs/kustomize/issues/4

[2022-09-23 15:56] #4756 closed

[2022-09-23 16:19] mightyguava commented on #4807
lol

/assign @mightyguava

[2022-09-23 16:27] wmiller112 commented on #4219
Not sure if this fits here exactly, but I came across this and a few similar issues trying to work out how I could patch helm values in either valuesInline of valuesFile. Seems its not _directly_ supported, but I did find a workaround I haven't seen mentioned.
I've created two directories:

`envs/` can contain a directory for  each env you wish to deploy to -  optionally a base that they reference

[2022-09-23 17:20] wmiller112 commented on #4219
Not sure if this fits here exactly, but I came across this and a few similar issues trying to work out how I could patch Helm values in either `valuesInline` of `valuesFile`. Seems its not _directly_ supported, but I did find a workaround that doesn't involve too much repetition. This [demo repo](https://github.com/wmiller112/kustomize-helm-values) shows how you can point the `generator` to anothe

[2022-09-24 22:58] nourspace commented on #4795
I'm facing the same situation. I guess it is intuitive to override configs in overlays and assume that the base replacements will do their job as intended. Including the replacements in each overlay removes the whole point of having overlays to start with. Or am I getting this completely wrong?

I was so excited hoping that I could finally have a way to provide simple config overrides in overlays

[2022-09-25 21:54] nourspace commented on #4795
I think I just came much closer to what is intended.

The base should be divided into `resources` and `transformers`. Each folder has its own `kustomization.yaml` that loads resources and transformers manifests.

[code]

[code]

[code]

In the overlay, we would then import resources, generate config, and finally run transformers.

[code]

The overlay is minimal and works as expected since transfor

[2022-09-27 06:56] ferronsw commented on #4795
@nourspace I have almost the same solution in place now.

[code]

The replacements are located in the base folder.

[code]

The only thing is you need to specify:

`--load-restrictor LoadRestrictionsNone` after the `kustomize` command, because the replacement in located the base folder.

[2022-09-27 06:56] #4795 closed

[2022-09-27 18:26] ephesused commented on #4793
I realized it'd be best to keep the PR for this issue specific to what the issue describes. I'll pursue the other fixes separately.

[2022-09-27 19:10] KnVerey commented on #4338
/remove-lifecycle stale

To help us see the work to be done and coordinate more easily, I've put together a [spreadsheet](https://docs.google.com/spreadsheets/d/1Aaal0Ou10xeDkh_COWkg_r00R0I-Il_t5G2ad6W3jWc/edit#gid=0). Everyone on the SIG CLI mailing list should be able to edit it. If you're interested in contributing to this effort, please:

1. Consult the spreadsheet to find content that hasn't

[2022-09-27 21:21] #4793 closed

[2022-09-28 05:31] annasong20 commented on #4799
Hi @cjyar, I see the same error running kustomize v4.5.7 on macOS using the given `kustomization.yaml`.

I don't believe this is a bug. Kustomize runs its built-in kustomization fields in a certain order; the `helmCharts` generator is ahead of `configMapGenerator` in that order. Therefore, when kustomize runs `configMapGenerator`, it has yet to generate the helm chart specified and hence, the erro

[2022-09-28 15:16] natasha41575 commented on #4680
Kustomize is designed to be template-free, i.e. not have any need for placeholders. You can overwrite values in the base kustomization via patches, replacements, etc, which should be enough for most use cases that require "placeholders".

What are you trying to do with these placeholders? Is there something you need to do that overlays with transformers cannot? For use cases like that (and https:/

[2022-09-28 16:06] natasha41575 commented on #4685
Since we have other kustomization fields that handle the use case you've described, and we'd like to limit the complexity of the kustomization file, I encourage you to use the other fields instead. If you have a use case that is not currently supported by any current kustomization fields, please feel free to reopen the issue with your example.

[2022-09-28 16:12] #3887 closed

[2022-09-28 16:15] natasha41575 commented on #4724
/triage accepted
/kind bug

At the very least, the kustomization file should not end up with two different images fields. It should also be possible to deduplicate the images field.

[2022-09-28 16:26] natasha41575 commented on #4757
We recently discussed a similar issue at the kustomize bug scrub this morning: https://github.com/kubernetes-sigs/kustomize/issues/4685, which requests that we add an option to the JSON patch field to create the fieldpath if it is missing. In that issue, we recommended the user switch to using a [strategic merge patch](https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#patchstrategi

[2022-09-28 16:28] natasha41575 commented on #4746
/triage accepted

I will add reviewing the above PRs to my TODO list.

[2022-09-28 16:35] natasha41575 commented on #4763
We will accept this request, but the syntax for label and/or annotation selection in the source selector should be identical to the label/annotation selection in targets. Looking through the kustomize code, it looks like target selectors are specified with the fields `annotationSelector` and `labelSelector`, which you can see here https://github.com/kubernetes-sigs/kustomize/blob/482e8930fc256672a

[2022-09-28 16:45] natasha41575 commented on #4768
/kind bug
/triage accepted

Currently, kustomize implements the helm plugin by pulling down remote charts to the local kustomization directory. That means between builds, it uses this locally cached version instead of pulling from the remote chart each time. Unfortunately that means when you update the version, kustomize does not re-pull the chart and you are stuck with the old version unless you

[2022-09-28 16:50] #4771 closed

[2022-09-28 16:54] natasha41575 commented on #4772
Thanks for filing the issue. We're not certain what you're referring to when you say "resource explicit namespace specifications", do you mind providing a specific example of the issue you're running into, and what you expect to happen vs what is actually happening?

We are happy to have more documentation, we're just not sure what documentation is needed here.

/triage needs-information
/kind doc

[2022-09-28 16:58] natasha41575 commented on #4581
/kind support
/triage resolved

If @annasong20's response doesn't resolve your issue, please reopen with more details.

[2022-09-28 16:58] #4581 closed

[2022-09-28 17:23] davinkevin commented on #4763
Thank you 🙏 and really good thing to use this api rather than the Kubernetes one. Being able to use labels and/or annotations is a great idea too.

[2022-09-28 17:47] sbueringer commented on #4768
Yup unfortunately in our case this will mean that we will be downloading the charts a lot (we are using kustomize in combination with Tilt).

Would it be possible to have some config or flag which allows us to continue to use the current behavior after this change is implemented?

[2022-09-28 18:18] annasong20 commented on #4721
Hi @ohardy, I'm not sure what your exact setup is, but given that you said "duplicate replacements in each overlay" works, I assume having the same `replacements` in each kustomization works and you just want to be DRY.

If this is the case, I'd recommend you use the kustomize field [`components`](https://kubectl.docs.kubernetes.io/guides/config_management/components/), which can contain transform

[2022-09-28 21:24] annasong20 opened #4811 "No Test for Configuration more specific than default"
**Is your feature request related to a problem? Please describe.**

We document [the functionality of the kustomize field `configurations`](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs), but we lack test coverage and comments for the following case:
* user-specified `configurations` are covered by [default configurations](https://github.com/kubernetes-sigs/k

[2022-09-28 21:42] KnVerey commented on #4811
/triage accepted

[2022-09-28 21:45] KnVerey commented on #4794
/triage duplicate
of https://github.com/kubernetes-sigs/kustomize/issues/4768 -- please follow that issue instead.
/close

[2022-09-28 21:45] #4794 closed

[2022-09-28 21:51] KnVerey commented on #4799
/kind support
/triage resolved
/close

Feel free to re-open with more detail if the proposed solution doesn't work for you.

[2022-09-28 21:51] #4799 closed

[2022-09-28 22:06] KnVerey commented on #4792
We only pin the major+minor version in the [release tooling](https://github.com/kubernetes-sigs/kustomize/blob/master/releasing/cloudbuild.yaml#L42), so the next release should automatically use 1.18.6.

If you have any follow up questions, feel free to reopen

/kind releasing
/triage resolved
/close

[2022-09-28 22:06] #4792 closed

[2022-09-28 22:31] KnVerey commented on #4788
@mightyguava recently proposed something similar [here](https://github.com/kubernetes-sigs/kustomize/pull/4783/files/1287caf46a0301a28396af2bf0769e8f47c5bac8#diff-0a2a043ac09e972046124503e8c93e4e7141cfc13deff446afb1aa3e328ee8c5). I agree with the improvement, but the code in question has a test coverage problem described in https://github.com/kubernetes-sigs/kustomize/issues/4807 that needs to be

[2022-09-29 17:28] Vanderscycle opened #4812 "[junior] `helmChartInflationGenerator` is unable to pull the helm chart"
Unable to use `helmChartInflationGenerator` but the helm command works.

[code]

**Expected output**

Kustomize pulls the chart.

**Actual output**

[code]
[code]
When using the repo directly to find version it does show nothing so the error makes sense.
[code]

**What worked**

[code]
[code]
[code]
Essentially, I am a bit confused because helm uses the same exact repo to get the right version. It

[2022-09-30 08:36] mateuszdrab commented on #3205
Why was this even removed?
Why does someone's opinion mean others have to put considerable amount of effort into figuring out an alternative to putting a `*`.
Might as well remove globbing from bash...

[2022-09-30 10:22] cedric-orange commented on #4731
I can understand your choice for ConfigMapGenerator, but this warning is also for secretGenerator.

Today, our secrets are stored in Gitlab CI variables and are masked. Edit kustomize file to set these secrets variables is not a good way.

[2022-09-30 14:13] ghost opened #4813 "helmCharts does not support 1+ instances of same chart, with different versions"
**Describe the bug**

When I define multiple chart instances in `helmCharts` for same chart but with different versions, the first version defined is pulled and used for all instances.

**Files that can reproduce the issue**

[code]

**Expected output**

For the supplied `kustomization.yaml` we should see two Deployment resources with different images, but we do not.

**Actual output**

For the su

[2022-09-30 16:38] #4599 closed

[2022-09-30 18:01] wyndigo-01 commented on #3205
For a lot of automation it is much simpler and faster to just drop a file in place instead of having to drop the file in place and update the kustomization.yaml, which has much greater potential to go wrong.

What is the current stance on this? Is there opposition to adding globbing, or is the problem that no one has time to add it?

[2022-09-30 20:18] mathieu-benoit opened #4814 "Duplicated `tagSuffix` with `images`"
When using the `tagSuffix` for updating the `images` in my `kustomization.yaml` file, the `tagSuffix` is actually duplicated on the final rendering.

Here is my test to reproduce it:
[code]
Output:
[code]

`kubectl version`:
[code]

Wondering how this `+=` behaves: https://github.com/kubernetes-sigs/kustomize/blob/master/api/filters/imagetag/updater.go#L51, seems to be called twice?

And apparentl

[2022-10-01 19:51] oxr463 commented on #4769
So should we modify the script to use `jq`? What's the current status here?

[2022-10-02 08:38] hholst80 opened #4815 "[Question] exactly how is -hash suffix computed on different resources"
I want to be bug-for-bug compatible with the way Kustomize works on generated resources. How is the -suffix hash computed?

[2022-10-02 08:48] Sonali-Rajput commented on #4593
Is this still getting worked on?

[2022-10-02 22:19] george-angel commented on #4517
/remove-lifecycle stale

[2022-10-02 22:41] nikita-akuity commented on #3276
Any progress on this?

[2022-10-03 18:40] bewing commented on #4769
I'm not sure.  How can you ensure that `jq` is present?  It looks like the current script tries very hard to use only common binaries (curl, cut, grep).  Adding in a new dependency might break a lot of things downstream (operator-sdk, for example) that attempt to use this script o install kustomize for build steps if not present in the path

https://github.com/operator-framework/operator-sdk/blob/

[2022-10-03 19:01] oxr463 commented on #4769
That's a good point. Maybe finding a solution without adding an additional dependency would be the best way forward.

[2022-10-03 19:43] cbandy commented on #3951
/remove-lifecycle stale

[2022-10-03 19:56] joseparajelesGL opened #4816 "Add support for extra `fieldspecs` in `configurations` for `Labels`"
Currently only CommonLabels supports adding extra shared field specs inside an item in `configurations`. Is possible to have this support for the Labels plugging or is this form of shared configuration is been phased out?

[2022-10-03 20:09] bluebrown commented on #1395
Would be nice to have a setting in some global kustomize config file. I.e. ~/.config/kustomizeconfig.yaml

[2022-10-04 03:03] bharatiraja commented on #1395
+1 after kustomize edit, our lint check fails. Specifically the array start indentation, yamllint expects it start at 2 but kustomize adds at 0.
Any suggestions to fix it?

[2022-10-04 08:02] FalconerTC commented on #4408
I would love to know what the recommended approach here is!

[2022-10-04 08:03] FalconerTC commented on #4408
/remove-lifecycle rotten

[2022-10-04 08:04] FalconerTC commented on #4408
/reopen

[2022-10-04 09:31] david-martin commented on #4769
Maybe `json_pp` is common enough to use?
[code]

[2022-10-04 12:53] sliekens commented on #2037
The secret to success is /remove-lifecycle stale

[2022-10-04 18:58] NickLarsenNZ opened #4817 "Replacement for key"
**Is your feature request related to a problem? Please describe.**

I have a CRD where a map key need to reference a name of a resources (which may or may not have a namePrefix or nameSuffix).

**Describe the solution you'd like**

I would like to be able to replace the map key with the resource name.

**Describe alternatives you've considered**

I wondered about using vars, but see they are depre

[2022-10-04 19:30] winston0410 commented on #4593
I think the issue is still there

[2022-10-05 08:43] winston0410 commented on #4522
Run into the same issue as well, does that mean that we cannot override namespace of resources with kustomize? Is there any workaround?

[2022-10-05 08:52] benjamin-bergia commented on #3635
/reopen

[2022-10-05 08:57] benjamin-bergia commented on #3635
I am still having issues with this. Right now change a CM in my repo means having the whole file for `mycm-23de23` being deleted and a new one for say `mycm-34ef34` being created. It is kind of hard to make any sense of the diff.

The whole mechanic for implementing this feature request is already there. It just means that instead of patching the CM name in each resource referencing it we need to

[2022-10-05 16:50] confiq commented on #2301
they have good point,

https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables

and I was looking for a way to get out of the YAML DRY principle...

At this point, I'm really looking for better alternatives like cdk8s.io so I won't be sticking with YAML

[2022-10-05 18:21] KnVerey commented on #4090
/lifecycle frozen

[2022-10-05 20:05] omissis opened #4818 "[Question] Missing tagged container image for v4.5.6 and v4.5.7?"
Follows #4665

It seems the latest two versions where not tagged on the container registry

[code]

[2022-10-05 20:36] annasong20 commented on #4814
/triage triage/accepted

[2022-10-05 20:36] annasong20 commented on #4814
/triage/accepted

[2022-10-05 20:37] annasong20 commented on #4814
/triage accepted

[2022-10-06 01:50] wrouesnel commented on #4772
From the documentation linked, if you take something like this:

kustomization.yaml
[code]

nameReference.yaml
[code]
but your resources.yaml looks like this:
[code]
then silently the behavior will skip updating the name on the Gorilla kind - i.e. rather then the supplied example
[code]

you'll get this

[code]

There's no warning that this is happening, and AFAICT no documentation this is the cas

[2022-10-06 12:22] envyj020 commented on #4219
@wmiller112 is your example supposed to merge the `valuesInLine` between the base `HelmChartInflationGenerator` and the patched one? because It didn't work for me.

[2022-10-06 12:35] #4256 closed

[2022-10-06 18:09] addisonautomates commented on #3205
Can we please reconsider adding globbing?  Don't understand the concern when you can just not use it if you don't want to.  Alot of flux and argo users would love to see this feature supported

[2022-10-06 19:35] #4295 closed

[2022-10-06 22:24] KnVerey commented on #4776
Yes, that is expected. When you reference a base in the `resources` field, it is entirely evaluated and its resources are added to any others you've specified in the overlay, and any transformations you specify in the overlay will run after that.

[2022-10-06 22:32] KnVerey commented on #4769
Indeed, we want to avoid introducing extra dependencies to this script. Although I'd also prefer to avoid adding complexity, if we have no better option, we could check if the most commonly available tool is present, and continue attempting to use the output raw if it isn't (perhaps with a warning message).

[2022-10-07 05:42] thatsmydoing commented on #4454
/remove-lifecycle stale

[2022-10-07 07:07] thekoma commented on #3205
Globbing would be nice, but if you are using flux you already have the globbing, just use kustimize of flux (their crd) instead if kustomization. It has the same features and more.

[2022-10-07 14:12] jaisojar opened #4821 "commonLabels in components should be scoped to component level"
**Is your feature request related to a problem? Please describe.**

I tried using commonLabels in a component with a deployment, but the components commonLabels seem to overwrite the commonLabels of the base. I would be nice if I could use the commonLabels so that it applies only for the resources in the component, for example if I want to have a selector for the pods for the component only.

**De

[2022-10-08 17:58] #4623 closed

[2022-10-09 07:13] christian-2 opened #4822 "Value from YAML fragment that is embedded as multiline scalar value"
I would like to exact a value from a `ConfigMap` that contains a YAML fragment that is embedded inside another YAML fragment as multlline scalar value. `ConfigMap`s like this  constitute a fairly common pattern with Kubernetes.

The relevant part of my `ConfigMap` looks as follows:

[code]

The relevant part of my `kustomization.yaml` looks as follows:

[code]
This does not work for comprehensible

[2022-10-09 20:57] aabouzaid commented on #4821
I just came to open an issue for the same problem.

It's not clear to me why the component's `commonLabels` overwrites the label of the resource :thinking:

[2022-10-09 21:00] aabouzaid commented on #4821
That's probably the same as #3770 but still not answered.
TBH, for me, it's confusing behaviour!

[2022-10-10 06:21] christian-2 commented on #4822
I have meanwhile taken note of the [recommendation](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/) that one should migrate from `vars` to `replacement`. But even then the same question remains now with respect to [`source.fieldPath`](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/).

[2022-10-10 08:14] JimFran opened #4823 "Error accumulating resources from sedtransformers"
I'm getting this error when running a pipeline with some sedtransformers...

[code]

This error is not clear enough to identify the issue. The sedtransfomers and the kustomize yaml file seems working fine.

This is the sedtransformer that looks it's giving problems in the pipeline:

[code]

Any idea of this kind of error?

[2022-10-10 10:14] #4823 closed

[2022-10-10 10:38] pmalek opened #4824 "api: data race when calling `Kustomizer.Run()` from multiple goroutines"
**Describe the bug**

Data race occurs when [`Kustomizer.Run()`](https://pkg.go.dev/sigs.k8s.io/kustomize/api@v0.12.1/krusty?utm_source=gopls#Kustomizer.Run) is called from multiple goroutines.

The culprit seems to be in [`openapi.SetSchema()`](https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/openapi/openapi.go#L552-L587) which manipulates the global variable: [`kubernetesOpenAPIVer

[2022-10-10 12:15] IP14Y3RI opened #4825 "[Question] How can I place a secret.txt file in base, and then use that .txt-file to generate a secret in overlays/tst"
I have the following folder structure:
[code]
I want to share the some-secret.txt among the tst and prod overlays.

I want to generate the secret using secret generator like so:
[code]
However, since, some-secret.txt is not a Kubernetes object, I cannot add it to the resources of overlays/tst/kustomization.yaml file.

How can I generate the secret in an overlay through a file that is placed in bas

[2022-10-10 17:03] annasong20 commented on #4672
We can't think of a better alternative at the moment.

Because kustomize believes in encapsulated kustomizations, it goes against kustomize philosophy to download the remotes into the root that `localize` is being called from. Moreover, because kustomize doesn't support absolute directory paths, we can't download the remotes to some global folder.

We'll revisit this issue if there's a need for it

[2022-10-10 20:15] cyprianbergoniatmo commented on #2301
If you look at the source code, https://github.com/kubernetes-sigs/kustomize/blob/master/api/kv/kv.go#L163-L169
It looks like that was a bug that will be deprecated

[2022-10-11 13:31] nirsht commented on #4731
I am having lot of problem to build something due to this PR. I try to build it
[code]
and it continuously failing. Event without the configMapGenerator it fails.

this is the deployment
[code]

[2022-10-11 14:54] yogeshgadge opened #4827 "[Question] What is the correct way of telling which version of kustomize has what features?"
Question in the title but I wanted to find out since what version `Replacements` and `Components` are supported.

But a better question is do we have the schema's for `kustomization.yaml` by versions  somewhere because I googled and I can't find anywhere other than the Schema Store but that doesn't support it ?

[2022-10-11 15:12] yogeshgadge commented on #4825
@IP14Y3RI fyi `bases` is deprecated according to this https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/bases/ - you may be able to use `Components`

[2022-10-11 16:23] #4717 closed

[2022-10-11 22:51] james-callahan commented on #3887
This came up again for me today :/
Could we please keep this open?

[2022-10-12 09:52] alkar opened #4828 "Cannot use the plus sign (`+`) in `git` URLs"
**Describe the bug**

Cannot use the plus sign (`+`) in `git` URLs, which is a valid character in semver.
Apparently, this is a known issue (https://github.com/hashicorp/go-getter/issues/108) but it looks stale. I wonder if `kustomize` could instead do something like URL-encoding these resources before passing them to `go-getter`.

**Files that can reproduce the issue**

Example:
[code]

**Expecte

[2022-10-12 10:55] tmmorin opened #4829 "kustomize complains that "behavior must be merge or replace" despite dynamic name produced by configMapGenerator"
When using `configMapGenerator` in an overlay, with `behavior: create`, I run into the following error, although the name of the generated configMap once appended with the "-abcde12345" suffix would not result in a collision:

[code]

This seems to happen because the configMap base name collides with a resource existing in the base kustomization, which seems unexpected because the configmap define

[2022-10-12 10:59] rdxmb commented on #3756
@Shell32-Natsu why is the update of the docs a labelled with `help wanted` ? For me, `help wanted` sounds like a question for support.

[2022-10-12 12:00] tmmorin commented on #4829
I realize need to provide more information to explain better.

First of all, one may wonder why the `configMapGenerator[0].name` is `cm` just like the name of the ConfigMap in the `manifest.yaml` in the base.  Indeed it does not have to be and using a  `configMapGenerator[0].name` that is not equal to any manifest produced by base solves the issue in this specific example.

However, the same error

[2022-10-12 12:06] klausenbusk commented on #4757
I just hit the same issue and using a [strategic merge patch](https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#patchstrategicmerge) won't work in my case, as it can't merge the arrays due to the lack of `x-kubernetes-patch-merge-key`.

`kustomization.yaml`:
[code]

`release.yaml`:
[code]

`release2.yaml`:
[code]

If I run `kubectl kustomize` I get:
[code]

As it can be seen the `p

[2022-10-12 13:30] Fred-Treebal commented on #4522
Well, I just spent a few hours around this issue, you can overwrite namespace with "namespace: newnamespace" in your kustomization.yaml

Error message is at least misleading, I had to deal with :
Error: no matches for Id DaemonSet.v1.apps/xxx failed to find unique target for patch yyy

This error message meant "remove your namespace:blah from your kustomize patches"

[2022-10-13 08:37] peteroruba commented on #641
Any chance this gets fixed?

[2022-10-13 19:29] ShivamTyagi12345 commented on #4828
Hey @alkar  I am interested in solving this bug, I would appreciate your help . I am currently looking for resources to understand this bug better and how can i solve it :)

[2022-10-14 00:16] nickjj opened #4831 "[Question] Should commonLabels be patchable? I ran into kind of a show stopper"
Imagine a typical set up by having this in 1 overlay directory with a kustomization.yaml file that inherits from a base:

- Deployment for a web app
- Service for the web app
- Ingress for the web app
- Config map for the web app

If you wanted to add a common `app.kubernetes.io/name: "hello-app"` label to all of these this is no problem, you can use `commonLabels` and you're good to go.

Then you

[2022-10-14 03:55] dudo opened #4832 "may not add resource with an already registered id"
## tree

[code]

## base/person-service

[code]

## components/flux-automation

[code]

[code]

I would like to reuse the resources from components/flux-automation multiple times. Is this possible?

[2022-10-14 10:33] mfahrul commented on #4295
Instead of using this url
https://<gitlab_url>/<gitlab_group>/<gitlab_repo>/<repo_path>

I succeeded with this url
https://<gitlab_url>/<gitlab_group>/<gitlab_repo>.git/<repo_path>

[2022-10-14 12:27] LittleChimera opened #4833 "Annotation `kustomize.config.k8s.io/needs-hash` not working on static resources"
**Describe the bug**

Setting annotation `kustomize.config.k8s.io/needs-hash: "true"` on static resources doesn't add hash suffix to the name. Setting the annotation `internal.config.kubernetes.io/needsHashSuffix: "enabled"` instead gets the expected result.

**Files that can reproduce the issue**

kustomization.yaml

[code]

resources.yaml

[code]

**Expected output**

[code]

**Actual output**

[2022-10-14 17:29] natasha41575 commented on #4493
If we have a `kustomize edit add configmap` then I agree we should also have a `kustomize edit remove configmap`. I have CCd someone to review the above PR.

/triage accepted

[2022-10-15 07:14] cronjevh commented on #4308
Powershell gist to move/rename kustomize build output based on `buildMetadata: [originAnnotations]`  https://gist.github.com/cronjevh/8f5c6d24bdc8fee5b798d9fd2776dbf5

[2022-10-15 10:19] criztovyl commented on #4710
would you accept a PR for that?

[2022-10-16 17:53] elisshafer commented on #4693
/remove-lifecycle stale

Got caught up in some other things lately since making this issue, I'll have a PR out soon

[2022-10-17 08:45] jaemyeonglee opened #4835 "Can you add podLabels and podAnnotations ?"
**Is your feature request related to a problem? Please describe.**
I want to add a label to the pod spec only.

**Describe the solution you'd like**
I want to handle it in kustomization.yaml .

**Describe alternatives you've considered**

**Additional context**
Version:kustomize/v4.2.0

`kustomization.yaml`

[code]

`before`

[code]

`after`

[code]

[2022-10-17 10:24] SachithKasthuriarachchi commented on #758
The `my-crd-image-transformer.yaml` needs to be updated as follows,

[code]

[2022-10-17 17:22] Mumeii commented on #4757
Hi @natasha41575

Sorry for this late reply

It's been a long time I've created this ticket, so I don't remember the many trials I've made before creating it, but that's for sur I've tried the strategic merge way.

Unfortunately, either I've missing something at that time that would have it working, or it's not compatible with what I'm looking to achieve.

Can you show me a way to do it with such

[2022-10-18 03:35] igstbagusdharmaputra commented on #4381
will this problem be solved soon?

[2022-10-18 15:52] rumstead commented on #4818
https://github.com/kubernetes/k8s.io/pull/4376

🤞

[2022-10-18 22:57] nickjj commented on #4831
Technically you can solve this with https://github.com/kubernetes-sigs/kustomize/issues/1009#issuecomment-517351069.

I tested that for both `remove` and `replace` and it works. You can modify both labels and selectors. For anyone reading this in the future, selectors are immutable which will fail to apply if you try to rename them in an existing deployment.

If you delete your old deployment and

[2022-10-18 22:57] #4831 closed

[2022-10-20 00:56] annasong20 commented on #4671
Looking further at the code and discussions in #4797, I don't think this will be happening because
1. We don't need to. I opened this issue back when I didn't fully understand the codebase.
2. We seem hesitant to make larger changes to existing code.

[2022-10-20 00:56] #4671 closed

[2022-10-20 11:39] max-wittig commented on #4731
Sad to see this `feature` go. Please reconsider this change. It's really useful, when deploying from pipelines where secrets are injected. In addition its one of the 12 factor principles: https://12factor.net/config

[2022-10-20 21:22] KnVerey commented on #4818
Closed by https://github.com/kubernetes/k8s.io/pull/4376 -- thanks!

[2022-10-20 21:22] #4818 closed

[2022-10-21 00:42] Dhruv-Soni commented on #50
Same, thanks, best code ever!

[2022-10-21 07:26] wotzhs commented on #168
ran into this problem a while back, and have been search high and low how to get this done. I found out from some article online saying with the same job name, you can `kubectl create` many times without running into the name problem, whereas `kubectl apply` requires unique name each time.

luckily in my case, I am using `argo` for the continuous deployment, so to achieve the `kubectl create` one

[2022-10-21 18:18] jrsmroz commented on #4824
This package https://github.com/kubernetes-sigs/kustomize/blob/2ec4b971e91ec92cb5a087bd925b3f95ac196040/kyaml/openapi/openapi.go#L28 uses global variables. It sets and read `kubernetesOpenAPIVersion` in many places.

[2022-10-22 03:04] koba1t commented on #4706
/reopen

[2022-10-23 16:33] #3912 closed

[2022-10-24 15:49] c0c0n3 opened #4841 "Component patch not applied when using helmChart generator"
### Describe the bug

After inflating a Helm chart, applying a patch defined in a separate `Component` has no effect. In a nutshell, the problem happens with this kind of setup:

[code]

### Reproducing the issue

I've put together a self-contained, but eensy-weensy testbed to reproduce the issue:

- https://github.com/c0c0n3/anubis.deployment/tree/main/k8s/test/helm

There you can find all the fi

[2022-10-24 19:22] toanju commented on #4593
It looks like this is still being worked on [here](https://github.com/kubernetes-sigs/kustomize/pull/4716)

However, @brahama [pointed out](https://github.com/kubernetes-sigs/kustomize/issues/4593#issuecomment-1151437247) that `helmCharts` is the better way to go to. [The docs](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/helmcharts/) are not up to date on this. However, t

[2022-10-25 07:49] scodeman opened #4842 "`kustomize create --resources` does not support remote file references"
**Description**

kustomisation.yaml file accepts url within resources  but the `kustomize` cli does not allow to create the corresponding file

[code]

**Expected output**

kustomization.yaml
[code]

**Actual output**

[code]
**Kustomize version**

kustomize/v4.1.3

**Platform**

macOS amd64

**Additional context**

Could be that the kustomize cli assumes local files or does not follow redirection

[2022-10-25 21:49] AndrewFarley commented on #4658
@NickLarsenNZ

This is already possible without Kustomize.  Helm supports multiple values files, and although it seems to be black magic that almost no one uses or even knows about, when you specify multiple values files it automatically does shallow merges of those values files.  This means you don't need Kustomize at all for this use case.  I've been consulting and teaching this method at variou

[2022-10-25 21:53] AndrewFarley commented on #4658
And @paul-bormans as well might be relevant (see above message).  As long as your upstream chart has the features in it, you don't need Kustomize.  Just use helm only, keep things simpler.  I only (personally, opinionated) recommend using Kustomize when your upstream chart doesn't support customizing something.

[2022-10-26 03:26] dayeguilaiye opened #4843 "[Question] Is there a easy way to use patch in my own program?"
In my program, I need to do exactly same thing as kustomize's patching, such as patchStrategicMerge / patchJson6902 / Patch.

But I found that the core code of patching is not for yaml file, it is for resource.Resource / types.PatchStrategicMerge instead.

So I wonder is there a easier way to do this, like kustomize.PatchFile(src, dest string) (I didn't found any like this),
or is there any other

[2022-10-26 14:59] #4612 closed

[2022-10-26 17:15] thecooldrop commented on #4786
I am seeing this issue with following resources as well:

kustomization.yaml with patches:
[code]

The output is (as you can see the envFrom is not included in first container of targeted Deployment):
[code]

but if I use patchesJson6902 as in:

[code]

then output is:

[code]

[2022-10-26 18:09] NickLarsenNZ commented on #4658
Thanks @AndrewFarley

That's exactly why I'm using Kustomize with the chart. Unfortunately, Helm is closed for extension, while Kustomize is open for extension. So I'm having to add a few additional resources along with it.

[2022-10-26 18:16] NickLarsenNZ commented on #4658
@paul-bormans, if I understand what you meant correctly, I just add a second values file in the base that is generically for any environment overrides, but then I have to place that file (say with a CI/CD step).

If I understood correctly, I have thought of doing that, but I really want the environment overlays to represent the modifications as they are - so we have a clearer picture of environmen

[2022-10-26 23:20] Namphibian commented on #4520
Well, I vote to keep it.
We are using Kustomize to create Istio instances these instances will be hosted in projects called shared-services-{some-env}. Then we also need to add some Istio manifest for "project"/"api"  type project primarily virtual service definitions.

Infra/Istio Namespaces
- shared-services-dev
- shared-services-uat1
- shared-services-sit3

Project namespace where I deploy virt

[2022-10-27 08:07] #4291 closed

[2022-10-27 09:59] kragniz commented on #347
/remove-lifecycle rotten

[2022-10-28 07:30] cedvan commented on #4658
Personally I changed my approach, where before I asked kustomize to build my chart helm. Now I ask Helm to build with the `helm template` command. Then I apply a kustomize on the resulting manifests if necessary.

Each tool retains its scope of operation and I do not distort the kustomize system by the helm chart build.

To automate this need I only created a helm binary wrapper (used by my argocd

[2022-10-28 12:08] c0da commented on #1439
I was thinking the same thing, but the point is that you have to replace it with "~1", not "~"  👍

[2022-10-28 17:21] #4589 closed

[2022-10-28 21:03] ktlacaelel commented on #4522
**BOTTOM LINE:**

I was able to make it work!

**DETAILS:**

The error is extremely misleading and hard to understand!
I was able to get rid of the error by doing the following:

1. Making sure my base-deployment and overlay-deployment metadata were exactly the same!

How the meta looks on my base:
[code]

How the meta looks on my overlay:
[code]

So my overlay namespace also says: `base`.
But it

[2022-10-28 21:04] felipetssilva commented on #3812
I am leaving this for future reference:

This error is because we must pass a directory to the kubectl apply -k <kustomization_directory> (or kubectl kustomize <kustomization_directory>) command. For example : this 'k apply -k application/' works! and this k apply -k application/application/kustomize.yaml DOES NOT!!

Error message is confusing but the problem is simple :)

[2022-10-28 21:41] jamesloosli commented on #4763
Is there any documentation or working examples for labelSelector?

I'm trying the following;

base.yaml
[code]

kustomization.yaml
[code]

tld.yaml
[code]

I feel like there's something basic I'm missing here. I'm using the document here; https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#api, to guess at what `labelSelector` is expecting, but I don't seem to be on track. I

[2022-10-31 02:43] #4512 closed

[2022-10-31 21:13] sallylyen commented on #4475
hi, I was wondering if anyone was working on this issue?

[2022-11-01 00:53] #4622 closed

[2022-11-01 12:25] pre commented on #2159
`--load-restrictor LoadRestrictionsNone` is now available

[2022-11-01 16:22] uroshercog opened #4845 "Double quotes removed from strings"
**Describe the bug**
Running kustomize removes double and/or single quotes from strings.

If a value in a config map is a template placeholder and the actual application value is not yet known because the built resources are post-processed by another process, the quotes should not be removed. Removing them can lead to producing invalid config maps. For example if the value of the placeholder is a

[2022-11-01 17:44] davinkevin commented on #4763
@jamesloosli the proposition is not yet implemented 🤔, I think this is why you have this error.

[2022-11-01 18:58] marcuslund commented on #1493
This can sort of be done with raw Kustomize using [replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) since it supports wildcard fieldPaths.

The caveat is that your deployments/containers need to have the _imagePullPolicy_ already specified.

There is a "create=true" option if the value is missing but you cannot use it when using wildcards to select

[2022-11-02 07:28] olensmar opened #4846 "Add Monokle to website"
I'm sorry - i didn't know where to post this - I would like to suggest to add Monokle to the "Projects Integrating Kustomize" section on kustomize.io

Monokle is a unified visual tool for authoring, analysis and deployment of Kubernetes configurations - including integrated support and functionality for Kustomize (validation, previews, compare, etc) - it's Open Source (MIT) and available on GitHub

[2022-11-02 16:39] annasong20 opened #4847 "RepoSpec parses non-github ssh urls incorrectly"
**Describe the bug**
[RepoSpec](https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/repospec.go#L215) parses the following host specs incorrectly:
* `ssh://` scheme urls with non-github host, i.e. `ssh://git@gitlab.com/org/repo`; the host is parsed as "ssh://git@" instead of "ssh://git@gitlab.com/"
* relative, or scp-like ssh urls with non-github host, i.e. `git@gitlab.com:or

[2022-11-02 16:58] annasong20 commented on #4847
#4848, #4797

[2022-11-02 17:20] annasong20 opened #4849 "`RepoSpec` parses `ref` with slash as path"
**Describe the bug**
[`RepoSpec`](https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/repospec.go#L156) parses part of the `ref` (query string parameter) value as the path if path has fewer than 2 "/" and the `ref` value contains a slash.

The root of the problem is that the parser blindly looks for the next "/", without checking if it's part of the query.

**Files that can r

[2022-11-02 21:43] annasong20 opened #4850 "`RepoSpec` path can exit repo directory"
**Describe the bug**
`RepoSpec` doesn't currently audit its [`Path`](https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/repospec.go#L42), or the path to the root within the repo. This, in combination with [fileLoader](https://github.com/kubernetes-sigs/kustomize/blob/master/api/loader/fileloader.go#L178) not checking the root, can lead to remote roots that traverse the user'

[2022-11-03 18:33] jkt628 commented on #814
/reopen

[2022-11-04 01:25] mtrin commented on #4787
@KnVerey
Does it mean this [documentation ](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md) is out of date?
What is the official, most up-to-date documentation source for Kustomize?
Thanks!

[2022-11-04 08:17] satrox28 commented on #3787
Hi,

Is there any update on this feature request - inline yaml support for configmap?.

[2022-11-04 08:57] jonas-lomholdt commented on #814
This would be a very cool addition :)

[2022-11-04 09:31] #3635 closed

[2022-11-04 11:26] balavellingiri commented on #4263
I have facing exactly the issue as reported. I'm not able to call the customization files into the bases construct from a internal remote repo

[2022-11-05 17:45] #4660 closed

[2022-11-06 12:57] #4659 closed

[2022-11-07 00:38] a7i commented on #3831
/remove-lifecycle rotten
/reopen

[2022-11-07 09:43] LelvProgrammer commented on #4381
Bump

[2022-11-07 16:07] jkt628 opened #4858 "may not add resource with an already registered id: ConfigMap"
**Describe the bug**

i'm trying to build up a configMapGenerator similar to [combineConfigs](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/combineConfigs.md) but from multiple paths to promote [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) principles.  consider i have two regions, ue1 and uw2, and two environments, dev and prod, all of which add a single entry to

[2022-11-08 00:12] #3923 closed

[2022-11-09 05:22] thesuperzapper commented on #1301
It seems like this issue happens when you have one kustomization (the "outer") that has another kustomization as a base resource (the "inner").

When the "inner" kustomization defines a global `namespace`, the "outer" kustomization is unaware of this, so if a new ConfigMap is defined in the "outer" (e.g. using `configMapGenerator`), this ConfigMap will end up in the default namespace.

I think thi

[2022-11-09 07:36] adrian-gierakowski commented on #4224
@jay-lee-otsk I use [kubenix](https://github.com/hall/kubenix)

[2022-11-09 19:09] annasong20 commented on #4347
/close

Issue should be fixed by #4654

[2022-11-09 19:09] #4347 closed

[2022-11-10 09:25] wadexu007 commented on #2803
looking for this feature too...

[2022-11-10 12:10] gilbahat opened #4861 "kustomize build fails silently when first line is invalid yaml"
when encountering a malformed kustomization.yaml file which is due to poor definition, kustomize will silently create an empty yaml file instead of reporting an error:

(note the two spaces at the beginning of the yaml file!)

✗ head infrastructure/kustomization.yaml
  apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
(... snipped ...)

✗ kustomize build infrastructure -o

[2022-11-10 15:35] luchiniatwork commented on #641
Just ran into this as well when working with Jobs.

[2022-11-10 16:13] jameshearttech opened #4862 "Unexpected "expecting directory" error when resource is github"
**Describe the bug**

When a kustomization resource is a yaml file in github and ?ref= is used I get an error that a directory was expected. When I use the permanent link instead of the ref it works as expected.

**Files that can reproduce the issue**

[examples.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/9982655/examples.tar.gz)

**Expected output**

    $ kubectl apply -k ./calico

[2022-11-10 17:05] sbanna-nomad commented on #4862
We recently ran into this issue as well from yesterday and it magically resolved itself a few minutes ago. Curious if there was a root cause

[2022-11-10 22:20] panbanda opened #4864 "Security vulnerability fixed but needing a new tag"
We have some production images using argo which depends on `kyaml`.  It is throwing two HIGH risk vulnerabilites.

- https://security.snyk.io/vuln/SNYK-GOLANG-GOPKGINYAMLV3-2841557
- https://security.snyk.io/vuln/SNYK-GOLANG-GOPKGINYAMLV3-2952714

This line already fixes it: https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/go.mod#L44

However, the latest version of kyaml is v0.13.9.

[2022-11-11 07:58] jgato commented on #4343
was this finally included? it seems an interesting feature, why we cannot add other resources but no generators with the edit add?

[2022-11-11 14:48] ttreptow commented on #3830
Encountered a file that had emoji characters that also triggered the behavior

[2022-11-11 16:56] #4662 closed

[2022-11-11 17:53] annasong20 opened #4866 "Refactor repospec code to be more readable"
**Describe the bug**

`RepoSpec` readability issues include:

- [x] The function [`parseGitURL`](https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/git/repospec.go#L111) in `RepoSpec` currently has 7 return values. This makes differentiating between the return values more difficult than it needs to be and prone to error. Potential solutions:

  * return a `RepoSpec` instead of t

[2022-11-11 17:54] annasong20 commented on #4866
/label kind/cleanup

[2022-11-11 17:55] annasong20 commented on #4866
/kind cleanup

[2022-11-11 18:21] annasong20 commented on #4864
/kind releasing

[2022-11-11 18:22] annasong20 commented on #4864
/triage accepted

[2022-11-11 18:25] natasha41575 commented on #4864
We are currently planning to release in early December. Does that timeline work for you?

[2022-11-11 21:04] KnVerey commented on #4866
/triage accepted

[2022-11-11 22:13] natasha41575 commented on #4866
I think we should make this issue an umbrella issue to track the refactoring we want to do for repoSpec. WDYT about retitling it to "Refactor repospec code to be more readable" and listing this particular issue as one of the things we want to do? Then we can add more to this issue as we go along, like the suggestion here https://github.com/kubernetes-sigs/kustomize/pull/4863#discussion_r1020538635

[2022-11-11 22:19] panbanda commented on #4864
Yeah that should work.  I'll continue to watch this. Thank you much!

[2022-11-11 23:42] annasong20 commented on #4866
Love the idea!

[2022-11-12 00:13] annasong20 commented on #4849
/kind triage/accepted

[2022-11-12 00:13] annasong20 commented on #4849
/triage accepted

[2022-11-12 00:13] annasong20 commented on #4849
/assign

[2022-11-13 11:51] mr-davidc commented on #1113
So how does one pass runtime parameters to `kustomize build` command? Was a feature like this ever added?

My use case is that deployments are based on a git branch name and so I need to dynamically set the `labels`, `annotations` and even the `name` of some resources. Currently I am achieving this using YQ, but it would be great to do it all through kustomize...

[2022-11-13 16:18] #4676 closed

[2022-11-14 14:10] lwille commented on #4379
/remove-lifecycle stale

#4715 is still in review, so let's keep this issue open.

[2022-11-14 17:38] #4849 closed

[2022-11-14 18:20] webwurst commented on #4776
Hi! I just tried to use values from `commonLabels` with some replacements which were pulled in as components in an overlay. It seems the replacements take place in the overlay before the `commonLabels` of the overlay are applied. So in the end I get manifests with the labels defined in the overlay, but the values that got replaced contain the values from the `commonLabels` defined in the base. Thi

[2022-11-14 23:25] KnVerey commented on #4776
I agree with you that it is an ordering issue. Since Kustomize is quite generic and can be used to build configuration sets in many different ways, I expect there is no perfect ordering we can choose. As a rule we try to put generation-oriented functionality earlier and transformation-oriented functionality later, but `components` sit squarely in the middle--they're essentially a `resources` field

[2022-11-14 23:41] webwurst commented on #4776
Thank you for the prompt answer :) Looking forward for the Composition API in the long run then.

[2022-11-15 18:46] KnVerey commented on #4787
At a glance that doc looks fine to me, but is about advanced transformer configuration. It does mention the existing [vars](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/) feature as an example; that feature is being deprecated but still works in current versions, as advised in the linked doc. The best docs for Kustomize are currently in the SIG CLI site: https://kubec

[2022-11-16 04:43] apelisse commented on #4628
Should we keep this open?

[2022-11-16 05:19] 24601 commented on #641
So our (awkward and somewhat anti-pattern-ish for CI purists, but very acceptable to use and surprisingly not as hack job-ish as I thought it'd be) to be able to run Jobs in Argo with generated names is as follows and is working quite well, actually but is not a "code-based" workaround as much as an alternative way of accomplishing the same thing using different processes:

1. Create a Kustomizati

[2022-11-16 05:21] 24601 commented on #4224
We have a workaround that we are using with relatively good success that works on all versions of kustomize that support namesuffix and Argo. Check out https://github.com/kubernetes-sigs/kustomize/issues/641#issuecomment-1316367513 for details.

[2022-11-16 10:22] swapzero opened #4871 "`replacements` uses base values instead of merged values from a ConfigMap"
**Describe the bug**
Before going through this report please note that the same logic works when using `vars` (which according to the docs should be replaced by `replacements`). The following example is not a real deployment manifest but just a simple example.

**Files that can reproduce the issue**
Structure:
[code]

- `base/kustomization.yaml`
[code]
- `base/manifests/deployment.yaml`
[code]
- `

[2022-11-16 16:32] #4706 closed

[2022-11-16 16:33] KnVerey commented on #4628
Yes, we ended up agreeing that it should be changed, and it hasn't been worked on yet.

/lifecycle frozen

[2022-11-16 18:25] natasha41575 commented on #4866
@koba1t would you be interested in taking this issue?

[2022-11-16 18:57] KnVerey commented on #3881
/cc @natasha41575 @annasong20

[2022-11-17 03:00] argarinpauljohn commented on #4581
/reopen

[2022-11-17 03:01] argarinpauljohn commented on #4581
I've encountered the same problem. This time, the scenario is I'm creating an overlay for an overlay. Image stanza cannot be replaced unless it's not specified in the base overlay.

[2022-11-17 18:56] annasong20 commented on #4864
https://github.com/kubernetes-sigs/kustomize/releases/tag/kyaml%2Fv0.13.10 has been released!

/close

[2022-11-17 18:56] #4864 closed

[2022-11-18 15:12] #4673 closed

[2022-11-21 16:07] paul-bormans opened #4880 "nameReference breaks when adding outer Kustomization (multiple identical base imports)"
I need to include a base manifest multiple times and since (obviously) their names will clash i like to use a Kustomization to make the names / namespace unique I do this using a nameSuffix + namespace and then use a nameReference to fix all references to the namespace name. This technique works just fine when i apply it on only 1 included overlay but as soon as a include another then i get no err

[2022-11-21 18:57] thirumurthis opened #4881 "[Question] Built-in PatchTransformers supports add/replace content from yaml file?"
Using Kustomzie I am trying to generate manifest for k8s, is there any option to directly use an yaml file within PatchTransformer built in plugin instead of passing map of values?

Below works when the map of value is passed to PatchTransformer

- Directory structure of the files

[code]

- Content of  `staging/kustomization.yaml` file content looks like below

[code]
- `app1/deployment.yaml`

[c

[2022-11-21 19:48] KnVerey commented on #4405
This may still be considered in the future, but particularly since Catalog may remove the need for it, I don't think we need to hold the issue about it open in the meantime.

[2022-11-21 19:48] #4405 closed

[2022-11-22 00:18] ChristopherFry opened #4883 "`nameSuffix` transformer not honoring fieldspec"
**Describe the bug**

Following [Transformer Configurations](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs#transformer-configurations), the `nameSuffix` transformer is not honoring the FieldSpec to limit the number of resources to be transformed.

**Files that can reproduce the issue**

[code]

**Expected output**

The expectation is when `kustomize build .`

[2022-11-22 07:40] tricktron commented on #4821
The proposed solution here would in my opinion also play very nicely with the [best practices for common labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/). E.g. the `app.kubernetes.io/component` label defined in the components `kustomization.yml` should only apply to the component.

[2022-11-22 21:38] nbjohnson opened #4884 "Prefix/Suffix transformers cannot target list elements"
I am trying to use a Prefix/Suffix transformer on my Ingress TLS hosts hostname, but it cannot seem to target that field. Below is my sample transformer and ingress configs. I have tried many variations on `spec/tls/hosts` but I cannot seem to target that list hostname object. The key here is I want to be able to prefix any name, hostname, or secretNames that are listed and I can get the others ju

[2022-11-23 05:51] kishorerj commented on #4866
@annasong20 @natasha41575 I am looking at starting my contribution journey in K8 and would like to pick this up.. Can u please assign it to me?

[2022-11-23 11:48] otto-gebb commented on #2606
@Shell32-Natsu the issue you're referring to is about replacing the entire list. This issue is about replacing a single item. I checked, and adding `$patch: replace` to a variable doesn't seem to work. Do you know the proper way to replace `value:` with `valueForm:`? Adding `value: null` works, but I find it less convenient than `$patch: replace`.

[2022-11-23 12:17] paul-bormans commented on #4880
We found a solution by using replacements iso nameReference, so effectively changing:

[code]

into:

[code]

having (for instance):
[code]

[2022-11-23 16:47] annasong20 commented on #4850
/triage accepted

[2022-11-23 16:48] annasong20 commented on #4850
/assign

[2022-11-23 17:31] ChristopherFry commented on #4811
/assign

[2022-11-23 17:47] KnVerey commented on #4871
/kind support
/triage not-an-issue

The reason this is not working is that the replacements transformer is configured inside the base rather than the overlay. That means the transformation will happen while Kustomize evaluates the base, before importing the resources as the starting point for the overlay. The overlay then directs it to update the existing configmap, but does not include anything t

[2022-11-23 17:55] KnVerey commented on #4881
/kind support
/triage resolved
/close

This is not supported, and since the field in question is part of standard JSON patch syntax, it is not something we could consider changing.

[2022-11-23 18:05] brianpursley commented on #4880
I find it curious that individually it replaces `my-placeholder`

#### Just overlay/a

[code]

#### Just overlay/b
[code]

#### overlay
[code]

[2022-11-23 18:11] KnVerey commented on #4862
The URL provided doesn't work for me with or without the ref. By default, Kustomize treats remote references as bases that it should clone. To reference a file, you need to provide a URL that directly provides content, i.e. for Github the raw URL. For example: https://raw.githubusercontent.com/projectcalico/calico/v3.24.5/manifests/tigera-operator.yaml

This is one of the topics where our docs are

[2022-11-23 18:26] KnVerey commented on #4861
/retitle kustomize build fails silently when first line is invalid yaml

Reproduced with:
[code]

Neither output nor an error is produced.

/triage accepted

[2022-11-23 18:28] KnVerey commented on #4847
/triage accepted

[2022-11-23 20:21] mkyc commented on #4099
This makes live so much harder not to have it.

[2022-11-23 20:31] KnVerey commented on #4880
This reminds me a lot of a bug I fixed earlier this year in https://github.com/kubernetes-sigs/kustomize/pull/4700.
I suspect what is happening is that Kustomize ends up finding the name reference ambiguous, but is ignoring it instead of throwing an error (not what we want!). Unlike most transformers, NameReference only runs once, at the very end of the build, acting on internal name tracking info

[2022-11-23 21:17] KnVerey commented on #4883
The issue seems to be that it is not overridding the default config that targets metadata/name in all resources with the more specific one you provided. Or, perhaps it is somehow running twice, once with the default config and once with the one you specified? That seems less likely but would also have the observed result.

Interestingly, `namePrefix`--a nearly identical transformer--is behaving co

[2022-11-23 22:24] brianpursley commented on #4883
The cause looks like it might be due to `sort.Sort(t.NameSuffix)` being missing from [`sortFields()`](https://github.com/kubernetes-sigs/kustomize/blob/d14dfb604c026cc1524ab11d44ed05ee6df670e1/api/internal/plugins/builtinconfig/transformerconfig.go#L61-L71)...

[code]

[2022-11-23 22:34] annasong20 commented on #4847
/assign

[2022-11-23 22:39] KnVerey commented on #4884
I believe you are correct that it isn't possible to target that field with the prefix or suffix transformers. Those transformers can traverse through lists, but they require the terminal node to be a scalar. The code for the traversal is [here](https://github.com/kubernetes-sigs/kustomize/blob/188e35fbfd5fcaee208e01027b37db11ee183b49/api/filters/fieldspec/fieldspec.go#L61-L79), and the code that e

[2022-11-23 23:36] KnVerey commented on #4740
May I ask why you're using the Walker to implement custom transformers rather than the higher level tools in the kyaml/fn/framework package? For Kustomize, Walker is used in the implementation of Strategic Merge Patch functionality, so I'm guessing that is why null values are treated as deletion directives; that's what a null value in an SMP indicates. That said, I suspect the LOC that is causing

[2022-11-23 23:49] #4636 closed

[2022-11-24 07:44] tal-sapan commented on #4740
Hi,

We are using the Walker to replace the values of environment variables or other configurable parameters used in string values in the yaml (e.g. if a string value in the yaml contains the substring `${MY_ENV_VAR}` it will be replaced with the value of the environment variable `MY_ENV_VAR` or a similarly named configuration parameter of the kustomize plugin). Do you think there is a better solu

[2022-11-24 08:58] swapzero commented on #4871
but...I don't want to define the same replacements in each overlay...what's the point of using  `replacements` and bases if they do not work like `vars`? (`vars` will be deprecated and your recommendation is to use `replacements` instead)

[2022-11-24 14:59] paul-bormans commented on #4880
@KnVerey I'm not sure what you mean with submitting a testcase? Since i already isolated the issue and provided all the files? If it needs to be in a specific format let me know i can do this.

Secondly; a different "placeholder" isn't going to work since the use-case is to import the same base; for us we try to deploy a Prometheus instance multiple times...

Furthermore your hypothesis sounds pla

[2022-11-24 18:53] KnVerey commented on #4740
If I'm understanding correctly that the input can contain variables in arbitrary positions within any field of any type, then I think you're right that the higher level tools (I was thinking [kyaml/fn/framework processors](https://pkg.go.dev/sigs.k8s.io/kustomize/kyaml/fn/framework#SimpleProcessor) or perhaps [kyaml/yaml/fns setters](https://pkg.go.dev/sigs.k8s.io/kustomize/kyaml@v0.13.10/yaml#Fie

[2022-11-25 04:00] dvcrn commented on #2259
I'm similarly confused. Adding a

[code]

in my base, and including that from a overlay with
[code]

is not causing anything to get patched. If I move the identical patches section into the kustomization file of my overlay, then everything works as expected

[2022-11-25 09:14] sambonbonne commented on #4871
@swapzero an alternative solution I used was to use a [component](https://kubectl.docs.kubernetes.io/guides/config_management/components/): you can define replacements in a component and set the "values" of the replacement in the overlay.

I would also prefere defining replacements in the base and using my overlay to just defined the values, without than creating a component in the middle. At leas

[2022-11-25 13:25] koba1t commented on #4866
Hello @kishorerj!
Thanks for taking this issue!
We're waiting for your PR!

[2022-11-26 07:52] nhuray commented on #4540
@MoShitrit Would you have a gist explaining the setup ? I'm trying to do the same, I don't have `namespace` but the secrets are not merged.

I used that kustomize version :

[2022-11-26 12:16] nhuray commented on #4540
@MoShitrit what is your `argocd-repo-server-ksops-patch.yaml` ? Is it involve in the merge ?

[2022-11-26 14:26] jkroepke commented on #347
👍

[2022-11-26 17:07] IvanovOleg commented on #4884
@KnVerey I have a similar problem, but a bit more complex. I need a dynamic prefix for my istio VirtualService in order to use it for PR environments. **foo-** prefix wasn't substituted and looks like second replacement doesn't work as well. Also I see that argocd-vault-plugin wasn't able to substitute value, but it is not important at the moment.

kustomization.yaml:
[code]

namereference.yaml:

[2022-11-28 14:04] kishorerj commented on #4866
@koba1t @annasong20 @natasha41575  I created the draft PR with changes to the first task mentioned in the issue above (replace 7 return values with repo spec). https://github.com/kubernetes-sigs/kustomize/pull/4891. I built the code and also ran the tests to ensure there are no impacts.. Since this is my first change, I have to do a few pending items on CLA which I will get sorted soon. Also will

[2022-11-29 08:45] mukundjalan commented on #738
@Liujingfang1 I am unable to access the link to versioning policy (404). Can you please provide the link to latest standard so that we can follow it in our projects.

[2022-11-29 13:29] kishorerj commented on #4866
@annasong20 @natasha41575 I have created PR for the first task as mentioned above, you can take a look at it. I need more details for the second task. What are we trying to achieve here. Maybe an example will help.. Also whats the best way to get connected on this issue? Do i ping in slack, set up a zoom meeting?

[2022-11-29 16:59] KnVerey commented on #4884
@IvanovOleg at a glance I see two possible issues with the provided configuration. One is that transformers in the `transformers` field require fieldspecs to be provided as part of the transformer yaml; anything provided through `configurations` is overridden when using that method. Second, you seem to be attempting to modify the transformer config using replacements. That is possible, but it's an

[2022-11-29 20:35] #4628 closed

[2022-11-29 22:38] KnVerey commented on #4696
Closed by https://github.com/kubernetes-sigs/kustomize/pull/4619

[2022-11-29 22:38] #4696 closed

[2022-11-30 00:24] KnVerey commented on #4884
I meant for the self-reference feature for the replacements transformer. The ability to target non-scalar terminal nodes has precedent in other transformers in terms of what the fieldspecs would look like, so there's not much to design there--this issue itself is sufficient for tracking the feature request.

Thinking more about your goal, what bothers me about both solutions is that they both upda

[2022-11-30 01:47] annasong20 commented on #4866
@kishorerj and I synced offline. I edited the issue with examples and more context.

[2022-11-30 02:21] kishorerj commented on #4866
Thanks Anna for giving more context.. This helps

[2022-11-30 08:37] lallinger-arbeit commented on #3902
/remove-lifecycle stale

[2022-11-30 10:15] eddycharly opened #4896 "Latest kyaml not compatible with latest api ?"
It looks like this is incompatible:

[code]

This triggers the compile error:
[code]
Am I missing something ?

[2022-11-30 14:39] nbjohnson commented on #4884
@KnVerey That local reference method is interesting, I don't know too much about it and can't seem to find docs on it. Seems quite useful being able to directly reference a pairing like that and have it be able to differentiate between different hosts. However, at least for my need I am not sure that will work as that requires knowledge of the hostnames. In my situation I do not have advance knowl

[2022-11-30 15:55] annasong20 commented on #4850
/close

[2022-11-30 15:55] #4850 closed

[2022-11-30 20:54] b1zzu opened #4897 "Helm chart generated resources are prefixed with RELEASE-NAME"
**Describe the bug**

I want to generate the configuration from a Helm char, but the generated resources are all prefixed with `RELEASE-NAME`.

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expected output**

That resources are not prefixed with `RELEASE-NAME`

**Actual output**

Resources are prefixed with `RELEASE-NAME`

**Kustomize version**

`{Version:kustomize/v4.5.7 G