[2018-11-08 18:13] Liujingfang1 commented on #538
@flmmartins I'd suggest to put the ingress YAML file in the base. Then you can create overlays for different environments, like dev, staging and etc. In each overlay, add commonAnnotations and patch to change the ingress host. We have an [example](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/jsonpatch.md) for changing host using JSON patch.

[2018-11-08 19:41] Liujingfang1 commented on #526
@twz123 Before we investigate if we can do some magic there, I want to understand your usage. Based on the example, you want Kustomize to read some label from an object and inject that label as an ENV to the same (or another) object. Is that correct? What could be purpose of this usage? Thank you.

[2018-11-09 08:16] jcassee opened #539 "panic: kustomize flag redefined: log_dir"
Using go version go1.10.4 linux/amd64 on Ubuntu 18.04, the latest master version (5b35443) shows this error when I run it:
[code]

Something I did?

[2018-11-09 08:37] jcassee commented on #539
Never mind, I got the wrong import path.

[2018-11-09 08:37] #539 closed

[2018-11-09 22:42] #538 closed

[2018-11-09 23:31] ajbouh commented on #345
What would putting api-server into global mean? Why would vars be wrong?

[2018-11-09 23:45] Liujingfang1 commented on #345
VAR was designed with the purpose to inject one object's info into another object's container. It's not for arbitrary text match/replace.

[2018-11-10 00:45] ajbouh commented on #345
Got it, thanks for explaining that.

[2018-11-10 19:39] mgoodness commented on #489
Following up on @schweikert's request, I'd like to be able to add different labels to my generated ConfigMaps. I.e.

[code]

[2018-11-11 19:07] DeadZen commented on #168
You have even more issues if you need to run multiple jobs in succession and that if a migration step fails, kubernetes will just keep trying to rerun it, it seems the solution to each issue is to just create a deployment with a replica count of 1 and when its done successfully, deploy. Is there an effective alternative?

[2018-11-12 16:29] Liujingfang1 commented on #526
@twz123  I agree with you that the fieldPath in vars should behave similar to fieldPath in Downward APIs. We should make it read the fields in the same format as Downward APIs.

[2018-11-12 18:36] Liujingfang1 commented on #506
To fix this issue, we can filter the resources by either prefix or namespace as we did for namereference transformation

[2018-11-12 18:41] Liujingfang1 commented on #350
Vars was designed to inject names and info from one object to another object's container. It is not for arbitrary substitution. There is a workaround, which will be documented under #401.

[2018-11-12 18:41] #350 closed

[2018-11-12 21:55] Liujingfang1 commented on #351
@mgoodness  I couldn't reproduce the error. Can you open another issue with the steps to reproduce? Thank you.

[2018-11-12 21:57] #531 closed

[2018-11-12 21:59] Liujingfang1 commented on #489
@mgoodness You can put the secrets into different bases, each base with  a different generatorOptions

[2018-11-12 21:59] #489 closed

[2018-11-12 22:28] mgoodness commented on #489
@Liujingfang1 ah yes, of course. Thanks!

[2018-11-13 14:47] mgoodness commented on #365
Would it make sense to allow vars to be used in`rules/resourceNames` of Roles & ClusterRoles? I'm also running into this issue for resources created using `namePrefix`.

[2018-11-13 16:41] Liujingfang1 commented on #365
@mgoodness  I think this case should be solved by name reference rather than var reference. Currently the missing part in namereference is that it only works for string field, not work for array.

[2018-11-13 19:29] Liujingfang1 commented on #345
Assigning Vars directly is not supported. We will add some document for that.

[2018-11-13 19:29] #345 closed

[2018-11-13 19:33] #486 closed

[2018-11-14 14:19] tomaszkiewicz opened #549 "Postprocessing output with regex replace"
Hi,

I love kustomize, it makes life soooo easy :)

I'd like to suggest some new feature that will be especially useful in some cases like:

1. Certificate templating
2. Ingress templating

In above cases we have to change almost everything in patch files in order to just replace domain name for certificate or ingress.

3. ConfigMap templating

At the moment it's not possible to change config map

[2018-11-15 14:44] mxey commented on #157
Does `fieldSpec` only match by GVK, or would it allow distinguishing resources based on their name too?

[2018-11-15 16:40] coryodaniel commented on #351
@mgoodness I figured out what was wrong in my case, curious if its the same for you...

My resources declare their namespace as my kustomization.yaml is building for multiple namespaces, so I'm not setting a namespace in the kustomization file... so my secretGenerator doesn't end up generating the secret in the same namespace as the resources that is trying to use it.

I had to break out my kustom

[2018-11-15 16:42] mgoodness commented on #351
Yeah, not sure what I ultimately changed, but everything's working for me now too.

[2018-11-15 18:47] vshiva opened #551 "nameprefix as a flag to build command"
This is a feature request to support specifying of the name prefix flag as an input while invoking build command. This can be handy when using the same overlay to orchestrate a blue / green deployment.

` build deployments/overlays/staging --name-prefix blue`

[2018-11-15 22:56] mgoodness opened #552 "Do not add namespace to cluster-scoped CRD objects"
[CRDs can be namespace- or cluster-scoped](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition) by setting `spec.scope` to `Namespaced` or `Cluster`. If a CRD is cluster-scoped, kustomize should not add `metadata.namespace` to objects of that kind.

Note that while there's no harm in adding `metadata.namespace` to a

[2018-11-15 23:16] mgoodness opened #553 "Do not add namespace to APIService objects"
Objects of type APIService are used to add to the [Kubernetes API aggregator](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/aggregation.md#registering-apis). The Kind is cluster-scoped and objects should not have `metadata.namespace` added.

[2018-11-16 01:18] jessesuen commented on #552
This is an interesting problem. Kustomize does not currently talk to a Kubernetes cluster and has no facility to determine whether or not it is appropriate to add namespace to a custom resource object. I'm not sure how kustomize can decide this unless it sees the custom resource definition as part of the deployed manifests.

If kustomize is unable to determine whether or not to omit namespace duri

[2018-11-16 09:06] cabrinoob opened #554 "envFrom not replaced with the generated name of configMapGenerator"
Hi, I have a problem with the configMapGenerator that create a resource name with a Hash suffix that is not replaced in my deployment envFrom value.

I have this kustomization.yaml

[code]

I have this servicetest.deploy.yaml

[code]

That results in (after kustomize build) :

[code]

The envFrom.configMapRef.name is still set to myconfigmap and has not been replaced with the generated name on the

[2018-11-16 13:49] mgoodness commented on #552
Good point - it hadn't occurred to me that kustomize can't look into a CRD's spec to determine its scope. Hopefully transformer configurations can be extended to support not adding a namespace to cluster-scoped resources.

E.g.
[code]

[2018-11-16 18:13] cmhillerman commented on #554
I have the same issue and couldn't get it to work. Ended up doing this for now:

`generatorOptions:
  disableHash: true
configMapGenerator:
- name: configmap-zookeeper
  env: ../../../../env/config/kafka-zookeeper/kafka-zookeeper.env`

This functionality seems to have changed when I updated the latest kustomize. Maybe something changed?

[2018-11-16 18:41] Liujingfang1 commented on #554
This was due to a typo in the name reference transformer configs, which was fixed by #529
The fix is currently available from head. We will release a new version soon.

[2018-11-16 19:34] cmhillerman commented on #554
Awesome thanks, @Liujingfang1

[2018-11-16 20:30] Heraclitus opened #555 "ConfigMapGenerator should allow for identical named files in output configmap"
[code]
fails with
[code]

This is allowed as direct kubectl command like so, by way of custom name assigned to each file.
[code]

[2018-11-17 06:11] vreon commented on #555
You can use the same syntax from kubectl to choose a custom name for each key:

[code]

[2018-11-17 18:45] vreon opened #557 "`testcase-multibases-nonconflict` fails if RoleBinding is a ClusterRoleBinding"
To reproduce the problem, change the RoleBinding to a ClusterRoleBinding in `pkg/commands/build/testdata/testcase-multibases-nonconflict/base/rolebinding.yaml`:

[code]

[2018-11-19 16:46] cmhillerman opened #558 "Multiple protocols are clobbered when rendering ports"
In the ports section of a manifest, if you are trying to set UDP and TCP for a port, only one of the ports is rendered in kustomize. E.g. If you have:
[code]

And when you run kustomize build you get:

[code]

This is because containerPort is used as the key to the hash. Maybe if we forced people to use name in all ports and used that as the key? Or using name as the key if the name exists?

I als

[2018-11-19 20:03] Liujingfang1 opened #559 "remove dependency of go-getter and use our own implementation"

[2018-11-19 20:51] twz123 commented on #504
I also hit this one. Interestingly, kustomize replaces absent volumeClaimTemplates - which are usually an array - with a map. Note the missing hyphen in the above example. I think kustomize's transformer configs miss a distinction between something that is an array vs something that is an object.

In my use case, overriding transformer configs is not helping much, since I have a kustomization that

[2018-11-20 01:01] twz123 opened #560 "Handle nil input during transform"
When kustomizing manifests that specify nil objects that are subject to transformers, kustomize errors out with `Error: <nil> is not expected to be a primitive type`.

This happens for me if I try to kustomize certain pre-rendered helm charts from charts/stable using helm template. It seems that there are a few charts that e.g. specify `env` or `annotations` and so on via values.yaml. If leaving t

[2018-11-20 01:12] jcassee opened #561 "ConfigMap hash not added for patch of namespaced base resource"
Consider the following base and overlay.

base/kustomization.yaml:
[code]

base/resources.yaml:
[code]

kustomization.yaml:
[code]

patch.yaml:
[code]

The generated resources do not have the configMap hash expanded:
[code]

I would have expected the configMap name to be `config-h6745dbg6b`, but it is `config`. (Removing `namespace` from the patch makes no difference.)

[2018-11-20 03:05] BenTheElder commented on #559
this could potentially shrink the repo and improve build times, I noticed `kind` became noticeably slower to `go get` after integrating kustomize 😬 (still reasonable, but slow enough to notice)

[2018-11-20 08:38] Benjamin-Dobell commented on #460
I think the issue here stems from [kustomize's documentation](
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L100):

This line in the documentation is incorrect. Docker env files and .ini are different and incompatible file formats.

[Kubernetes .env file](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/):

[Windows .ini file](htt

[2018-11-20 12:10] jcassee commented on #561
Possibly related to #316

[2018-11-20 12:48] umbertix opened #562 "[Request] Add windows release to Chocolatey"
Would be amazing if the releases could be uploaded to http://chocolatey.org/ for all windows users ease.

Thx for the tool

[2018-11-20 16:52] Liujingfang1 commented on #163
Fixed by #556, #550. Thank you @zoncoen

[2018-11-20 16:52] #163 closed

[2018-11-20 19:07] jgonera opened #564 "[Request] Allow modifying annotations"
I have a deploy script that works more or less like this (simplified version):

[code]

I'm using annotations to be able to force a deploy even if I didn't change anything, but it seems that `kustomize edit add annotation` will not modify an existing annotation:

[code]

Could this behavior be changed? Or maybe I should approach this differently?

[2018-11-21 10:44] asm76 opened #566 "Delete temp dir when using githubLoader"
1. `kustomize version`
 `Version: {KustomizeVersion:1.0.10 GitCommit:383b3e798b7042f8b7431f93e440fb85631890a3 BuildDate:2018-10-26T23:12:01Z GoOs:unknown GoArch:unknown}`

2. `ls -ld /tmp/kustomize-*`
`ls: cannot access '/tmp/kustomize-*': No such file or directory`

3. `kustomize build github.com/kubernetes-sigs/kustomize//examples/helloWorld | wc -l`
`63`

4. `ls -d /tmp/kustomize-*`
`/tmp/kusto

[2018-11-21 19:29] deedubs opened #567 "Allow setting name to "*" for bulk editing"
The use case I have is in development I want all my services to use a `ClusterIP` vs `LoadBalancer` enumerating all the services I want to mutate isn't something I look forward to maintaining.

My proposal is we adjust `GvknEquals` to look like:
[code]

It would allow usage like:
[code]

I've been running this locally and believe it would also resolve #412

I can have a PR in short order if this i

[2018-11-21 20:43] alexmt commented on #567
I think this would be very useful!  I would also consider using `ok, _ := filepath.Match(id.name, n.name)` to support pattern matching e.g. `name: "*-deployment"`

[2018-11-22 03:18] aisensiy opened #568 "secretGenerator commands put echo parameters into secrets"
Something like this in my `kustomization.yaml`:

[code]

And the value is `-n xxxxx` not `xxxxx` and if I do not give the `-n` parameter then the result will be `xxxxx\n` which is not what I want.

[2018-11-22 13:10] Benjamin-Dobell commented on #568
I'm seeing this also.

A temporary work-around is:

[code]

[2018-11-22 17:01] fatihafizoglu opened #572 "imageTags problem"
Here is a piece of my kustomization.yaml:

[code]

When I execute `kustomize build` I got this error:
[code]

Version tags like `5.5.0` or `v3.5` won't cause problems but this one causes failure.

[2018-11-22 23:32] #526 closed

[2018-11-23 01:11] #559 closed

[2018-11-23 01:13] monopole commented on #559
63kloc removed, and Tofurkey almost done.

[2018-11-23 11:12] #572 closed

[2018-11-26 19:43] mengqiy commented on #42
@schweikert
The document is viewable to the [`kubernetes-dev` group](https://groups.google.com/forum/#!forum/kubernetes-dev ) as usual :)

[2018-11-26 19:59] schweikert commented on #42
@mengqiy Ah yes, thanks for letting me know! I joined the group and now I can see it.

[2018-11-26 22:59] monopole commented on #567
I'm suspicious of wildcards in config, because by definition they have unintended side effects.  They work great for some use case, then cause an outage in some other unanticipated work flow.

As you mention, you don't look forward to maintaining a bunch of Service patch directives (me neither).

Another approach would be to provide a kustomization file editing command to make it easier to specify

[2018-11-26 23:00] monopole commented on #566
I'll fix this if its still a problem.

[2018-11-26 23:14] monopole commented on #560
Which version of kustomize?

Or rather - can you repo this with head?

[2018-11-27 01:19] mengqiy commented on #558
@monopole @Liujingfang1 Please check https://github.com/kubernetes/kubernetes/issues/39188 for the root cause.

[2018-11-27 13:57] deedubs commented on #567
Agreed I think this would be a different conversation if we were talking about allowing wildcards in places beyond the name. I'm not comfortable with allowing wildcards for the Kind attribute as the spec shapes vary so extensively all bets would be off on the outcome of a patch application.

[2018-11-27 17:48] monopole commented on #566
Looks like this was fixed in #570 (i did some refactoring, and touched the cleanup code path).

Thanks for the great bug report though.

[2018-11-27 17:48] #566 closed

[2018-11-27 18:17] monopole commented on #560
Nvmd, see the problem.

[2018-11-28 03:07] yujunz opened #580 "Feature request: load remote resources"
How do I customize resources based on non-kustomize content, e.g.

https://github.com/awslabs/aws-service-operator/blob/master/configs/

It would be nice if we can support remote `resources` similar to remote `bases`

[2018-11-28 03:22] yujunz opened #581 "How to patch items in `List`?"
Some times resources are defined as items in a list, e.g. https://github.com/awslabs/aws-service-operator/blob/master/configs/aws-service-operator.yaml

How shall we patch them in kustomize?

Got an error message: `Error: failed to find an object with gvk.Gvk{Group:"apps", Version:"v1beta1", Kind:"Deployment"} to apply the patch`

When using the patch

[code]

For the item

[code]

[2018-11-28 11:32] Benjamin-Dobell commented on #581
@yujunz It's not particularly intuitive in that the official documentation quite literally [tells you to refer to the code](https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md).

What is really means is that each resource type has a "special key" that is used as an identifier, if you specify that in your patch it will look-up based on that key. In practi

[2018-11-28 12:46] yujunz commented on #581
Thanks @Benjamin-Dobell

If the deployment is NOT in `List`, the patch will work as expected.

The problem is that it is wrapped in a `List`. So it fails to find the `Deployment`. And I don't know how to specify the special key for a `List`.

[code]

There is no metadata in a `List`, even a `name`. So it could be something needs to be handled in a different way.

[2018-11-28 13:22] Benjamin-Dobell commented on #581
@yujunz I know it's used internally, but is `List` part of the public API?

Nonetheless, kustomize also supports a [JSON patch strategy](http://jsonpatch.com/) that can be used to achieve what you want:

**kustomization.yml**

[code]

**patch.yml**

[code]

[2018-11-29 07:43] aisensiy commented on #568
@Benjamin-Dobell This works.

[2018-11-29 07:45] Benjamin-Dobell commented on #568
@aisensiy I'd probably suggest leaving this issue open, as it certainly does seem like a bug to me. I was just sharing the above as a temporary work-around for the issue.

[2018-11-29 07:59] aisensiy commented on #568
Yeah, but seems no reply for recent days.

I do like this project. For me it is a lightweight k8s deployment management toolkit which is just better way than helm.

[2018-11-29 13:16] aodj opened #585 "Possible to use a (private) repo that's not on Github?"
I've been trying to get a kustomize working against a private repo hosted on Bitbucket, but after defining it like so:

[code]

I get the following exception:

[code]

I'm able to `git clone` this repo wihtout problem, and I don't know why the git cloning in kustomize is using the username of `alexander@bitbucket.org` .

Whilst looking through the source for kustomize, here in the repo, I noticed

[2018-11-29 16:07] #560 closed

[2018-11-29 18:17] aodj commented on #585
I installed it using brew, and `brew info kustomize` returns `1.0.10`. Note that `kustomize version` returns a git version stamp which lists build time as epoch 😄

[2018-11-29 20:19] Liujingfang1 commented on #585
Can you try the head? @monopole recently refactored the GitHub loader part.

[2018-11-29 20:22] Liujingfang1 commented on #580
We thought about this when we developed the remote support in kustomize and decided not to support it. The reason is that the resources and patches are better to be in the relative path files rather than a remote link. You could either fork the awslabs into your own repo and make it a remote base or copy the file content to a  local file.

[2018-11-29 22:04] aodj commented on #585
Yea, about that... The `simpleGitCloner` only seems to work with Github repos, which effectively rules out me running this against my private Bitbucket repo.

[Relevant code snippet](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/loader/gitcloner.go#L68-L72):
[code]

[2018-11-30 03:52] yujunz commented on #581
I think so, @Benjamin-Dobell . It is included in [Kubernetes testdata](https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/list.yaml)

This could be a work around, but not precise enough. What we want is find a specified item in the list and patch it, while the workaround is targeting a hardcoded item.

[2018-11-30 05:50] yujunz commented on #580
Understood. Thanks @Liujingfang1

[2018-11-30 05:50] #580 closed

[2018-11-30 06:26] jessesuen opened #586 "Unable to handle 2+ resources kinds using `generateName:`"
If you have the following kustomization.yaml
[code]

Where both resources use `generateName:` instead of `name:`, e.g.:
[code]

and
[code]

Then when running kustomize build, you get the following error:
[code]

When only including one of resources independently, then kustomize build works for both manifests. But when both are used at the same time, kustomize seems to consider it as a collision. I

[2018-11-30 07:51] yujunz opened #587 "Patch an object in-place"
Is it possible to use kustomize to patch an object which is not one of the resources defined in kustomization.yaml?

For example, if I want to add an annotation to kube-system like.

[code]

How could I do it in kustomize?

[2018-11-30 17:03] Liujingfang1 opened #588 "define current version and kind for kustomization.yaml"
As requested per https://github.com/kubernetes/community/pull/2910

[2018-11-30 17:06] Liujingfang1 commented on #588
Currently `apiVersion` and `kind` are not defined for kustomization.yaml.
Need to version this config and retain backward compatibility.

[2018-11-30 17:23] bickfordb opened #589 "Improve bad patch name error messages"
When a patch has the wrong name, it fails with an error like ```loadResMapFromBasesAndResources: SemiResources: failed to find an object with schema.GroupVersionKind{Group:\"apps\", Version:\"v1\", Kind:\"Deployment\"} to apply the patch```.  It would be great to include the name of the missing object.  In a large project, it's currently very hard to find the name of the attempted patch that is fa

[2018-11-30 19:22] Liujingfang1 commented on #586
@jessesuen Can you kubectl apply the Job files directly? When I applied them, I got error as
[code]

[2018-11-30 20:30] Liujingfang1 commented on #587
kustomize doesn't support that.

`kube-system` is special, but for other namespaces, you can manage them with annotations by kustomize.

[2018-11-30 22:45] vreon commented on #568
Oddly enough, I'm not able to reproduce this...

[code]
(NB, my shell uses % to denote output that doesn't end in a newline)

[2018-11-30 23:11] jessesuen commented on #586
@Liujingfang1 `kubectl apply` does not work for resources which want to use `generateName:` instead of `name:`. This is because `kubectl apply` needs to:
1. HTTP GET existing resource (by name
2. look at `last-applied-configuration`
3. calculate 3-way strategic merge patch
4. HTTP PATCH existing resource

`generateName:` is used in place of `name:` when a user does not care about the name of the r

[2018-11-30 23:43] twz123 commented on #586
Usually, kustomize is used via the pattern `kustomize build | kubectl apply -f -`. When having resources using the `generateName` feature, you'd restrict your kustomization to only work with `kubectl create`.

It makes sense to me that kustomize supports both named and generate-named resources, but what are the current use cases for that, given that `kubectl apply` doesn't support the latter? So o

[2018-12-01 01:09] jessesuen commented on #586
I agree that this is the most common usage pattern, but I don't think kustomize should be so limited in scope to only support this mode of operation. For example, why wouldn't the following be an acceptable use of kustomize:

[code]
In our case, kustomize is solve problem of configuration management, and we really just need it to render manifests. In our specific scenario (Argo CD), after run `kus

[2018-12-01 09:53] yujunz commented on #587
Thanks for the explanation.

[2018-12-01 09:53] #587 closed

[2018-12-03 07:28] FaKod opened #590 "setup a nameReference to an array of values"
I am using Istio version 1.0.4.
A CRD called VirtualService references one or several gateways as an array.
`einbuchen-gateway` is a Gateway resource in this case

[code]

I tried to reference this by

[code]

but the path is expected to be a string.

Is there any way to describe something like that?

[2018-12-03 12:09] aodj commented on #585
Trying it with head I get even less:

[code]
Note that I've not really used Go before, so if there's a better way to be running this code, then I'm happy to rerun it after guidance. It would be good to update the documentation at the same time 😉

[2018-12-03 17:34] Liujingfang1 commented on #23
Application resource will be implemented as a CRD, which kustomize supports by customized transformer configuration.

[2018-12-03 17:34] #23 closed

[2018-12-03 17:38] Liujingfang1 commented on #590
This is a similar issue https://github.com/kubernetes-sigs/kustomize/issues/365

[2018-12-03 17:48] FaKod commented on #590
Ok, true. So this is something that has to be implemented @Liujingfang1 ?

[2018-12-03 17:50] Liujingfang1 commented on #590
Yes, this need to be implemented.

[2018-12-03 21:07] cmhillerman opened #593 "Relative paths failing in configMapGenerator for files list"
When using relative paths in configMapGenerator I get an error.

[code]

I get:

[code]

It works fine with env, like:

[code]

It also works when I don't use relative paths, so as far as I can tell that's the issue.

[2018-12-03 23:33] Liujingfang1 commented on #586
Kustomize is designed to work with `apply`. It also relies on `name` to do a lot of transformations, such as name reference, adding nameprefix and so on.
Even if we add the support for `generateName`, it doesn't work with a series of kustomize transformations. Thus it doesn't benefit a lot from kustomize.
I want to understand more of  your usage. It seems you only need to composing different resou

[2018-12-03 23:48] Liujingfang1 commented on #568
@aisensiy Can you take a look at [generatorOptions](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml)? That may help.
[code]

[2018-12-04 05:40] aisensiy commented on #568
@lichuqiang Yes, it works. Thanks.

But another issue shows here. I have another configuration `disableNameSuffixHash: true` in my `base` folder. And if I do not give the same `disableNameSuffixHash: true` config in `overlays/stg` it will still show the suffix hash.

[2018-12-04 05:40] #568 closed

[2018-12-04 11:12] FaKod commented on #590
Yes @Liujingfang1 works for me - as long I place the `configurations:` property into my `overlay` folder. It did not work placing it into a `base` folders `kustomization.yaml`.
Is that the desired behaviour?

[2018-12-04 17:10] Liujingfang1 commented on #590
@FaKod Yes, that's the expected behavior. The configurations work only in the top level overlay.

[2018-12-04 20:03] FaKod commented on #590
Ok, so thanks for the patch.

My assumption with configurations was that this is something more general. General regarding which CRDs are used resp. deployed in the cluster. I would expect that configuration in a base folder.
Regarding the overlay (which is something like prod or stage - right?), do you expect that configurations change for each overlay separately?

[2018-12-04 20:19] rdubya16 opened #595 "SecretGenerator namespace"
I am using kustomize to manage kube-prometheus. This project contains resources in multiple namespaces. I need to override a secret within the project that represents alertmanager.yaml

[code]

When I set kustomize to replace the secret I get a generated secret that doesn't match the namespace of the initial resource. I can't set a global namespace because it overrides base resources that need to

[2018-12-04 21:46] #589 closed

[2018-12-04 23:00] mgoodness opened #596 "Multi-layer overlays fail to render"
I have a project that uses 4 layers, each of which uses the previous layer as its base.

overlays/sandbox3.us-east-1
[code]

overlays/aws-nonprod
[code]

overlays/aws
[code]

When I run `kustomize build overlays/sandbox3.us-east-1` with v1.0.11 I get
[code]

This configuration worked with kustomize v1.0.10. I am able to render if I skip an intermediate layer. Other projects that use only 3 layers

[2018-12-04 23:51] #590 closed

[2018-12-05 00:00] laverya commented on #596
My team has run into the same with our Skaffold setup.

[2018-12-05 01:11] monopole commented on #596
lemme look

[2018-12-05 08:58] UrbanInvader opened #597 "generatorOptions in different bases are ignored"
https://github.com/kubernetes-sigs/kustomize/issues/489#issuecomment-438043074

When trying this out it doesn't seem to work:
[code]
[code]
[code]

[2018-12-05 10:17] jimmidyson opened #598 "git ssh URLs no longer work"
`kustomize build git@github.com:fake/fake-repo` no longer works since https://github.com/kubernetes-sigs/kustomize/blob/29f03dfb55815e11766200d46f05edf787ab8e3f/pkg/loader/gitcloner.go#L73 forces `https` prefix. This used to work when using go-getter in 1.0.10 and is now broken in 1.0.11.

[2018-12-05 10:40] tomaszkiewicz commented on #595
Hi,

I've raised PR that adds namespace argument to secret and config map generators, which I hope resolves your problem.

Best regards

Łukasz Tomaszkiewicz

[2018-12-05 18:18] Liujingfang1 commented on #595
@rdubya16 @tomaszkiewicz Sorry for delayed response on this issue. You can use `namespace` in the kustomization.yaml. It will set the namespace of the generated secret. Will that work for you?

[2018-12-05 18:20] rdubya16 commented on #595
@liuhuiping2013 unfortunately namespace overrides all resources with the new namespace. Some of the resources need to be installed into kube-system

[2018-12-05 18:23] Liujingfang1 commented on #595
@rdubya16 Can you separate the resources by putting the ones with the same namespace into one kustomization.yaml?

[2018-12-05 18:43] Liujingfang1 commented on #598
Same issue as #585

[2018-12-05 18:53] Liujingfang1 commented on #551
Kustomize doesn't allow build time flags that will affect the resources. https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables

[2018-12-05 18:53] #551 closed

[2018-12-05 18:55] Liujingfang1 commented on #549
Postprocessing is not a bad idea, but I have a lot of concern on replace regex. It will lead kustomize towards templating, which we want to avoid. @monopole WDYT?

[2018-12-05 18:56] Liujingfang1 commented on #519
@kameshsampath Which kinds do you want to skip name prefix?

[2018-12-05 18:57] Liujingfang1 commented on #414
This is no plan on that at this moment.

[2018-12-05 18:59] Liujingfang1 commented on #365
Should be fixed by #592

[2018-12-05 18:59] #365 closed

[2018-12-05 19:11] tomaszkiewicz commented on #595
@rdubya16 Have you checked my PR solution? It allows you to add you a namespace parameter for each secret/cm generator like that:

[code]

I haven't checked how it interacts with replace feature of generator because I didn't have time for it today, but I think it's a way to go to resolve problems like that.

Best regards

Łukasz Tomaszkiewicz

[2018-12-05 19:24] rdubya16 commented on #595
@tomaszkiewicz Yup I did, it seems ideal for my situation rather than have to break everything out into different kustomization files.

[2018-12-05 20:14] tomaszkiewicz commented on #549
I know it's a little "hacky" but it's also very powerful and elastic and you can handle many cases with it.

E.g. I have a repository with "curated" addons for k8s that are adjusted to work with each other: https://github.com/tomaszkiewicz/k8s-addons/
I use this repo to deploy multiple k8s envs as well as an example for trainings etc.

I'd like to provide some adjusted templates for things like in

[2018-12-06 11:05] jcassee commented on #561
Argh, how silly. Thanks, @Liujingfang1, sorry for the confusion.

[2018-12-06 14:19] jcassee opened #602 "kustomize build always logs configmap merges and replacements"
Since 83bc67c, `kustomize build` always logs any configmap [merges](https://github.com/kubernetes-sigs/kustomize/blob/8a8331bf570d9f965ee59be8f47efeb15566cdf7/pkg/resmap/resmap.go#L190) and [replacements](https://github.com/kubernetes-sigs/kustomize/blob/8a8331bf570d9f965ee59be8f47efeb15566cdf7/pkg/resmap/resmap.go#L184). The `-v` option does not seem to help here.

Although these logs are useful

[2018-12-07 09:30] emanuelbuholzer opened #603 "Namespace reference using vars"
Referencing the namespace using variables reports the following warning:
`couldn't resolve v: {NAMESPACE noGroup_v1_NAMESPACE {metadata.name}}`

When defining the namespace as a resource, the warning is omitted, though the variable not substituted (both cases). Does referencing a name require a special transformer configuration?

This is maybe related to this issue: #401

**_kustomization.yaml_**

[2018-12-07 11:16] brushmate opened #605 "Support custom configurations in bases"
As of kustomize 1.0.11 it is possible to add custom configurations in `kustomization.yaml`. However when I use a `kustomization.yaml` with my custom configuration as a base of another `kustomization.yaml`, the custom configuration is ignored and the default configuration is used. I would expect that my custom configuration is propagated to my overlay.

[2018-12-07 11:23] brushmate opened #606 "Merge custom configurations"
As of kustomize 1.0.11 it is possible to add custom configurations in kustomization.yaml. Unfortunately I always have to configure all configuration keys even if I only want to change one of them. I wanted to add some `varReference`s and added this to my `kustomization.yaml`:

    configurations:
    - ../../config/varreference.yaml

With this configuration kustomize failed with `Error: fieldSpecs

[2018-12-07 12:34] mpihlak opened #607 "configMapGenerator fails with multiple bases"
When attempting to use `configMapGenerator` with multiple bases, it fails with:
[code]

Can be reproduced with the following configuration:

base1/kustomization.yaml:
[code]
base2/kustomization.yaml:
[code]
And the overlay/kustomization.yaml:
[code]

[2018-12-07 12:52] mpihlak commented on #607
What I am trying to accomplish is to have a number of bases that all have very similar `deployment.yaml` and are using a common configMap from another base. Now I want to create `test` and `prod` variants of them and override some configMap values in them (eg. env=prod, or env=test). In order to save some typing I would bunch them all together into just 2 overlays and override the configMap. This

[2018-12-07 13:56] mpihlak commented on #607
The workaround is to remove the configMapGenerator from the bases and define it just in the overlays. This works, but leaves the base `deployment.yaml` referencing a non-existent configMap.

I'm going to close this issue as I don't think it'd be possible to do automatic multi-way merge meaningfully in the general case. Though a possible improvement here would be to clarify the error message so tha

[2018-12-07 13:56] #607 closed

[2018-12-07 18:04] Liujingfang1 commented on #603
@emanuelbuholzer The `statefulSet.yaml` you pasted here is not valid.  The image should be inside an `containers` array, which is missing.

[2018-12-07 19:12] #553 closed

[2018-12-07 20:48] #595 closed

[2018-12-07 21:07] #555 closed

[2018-12-07 21:08] #554 closed

[2018-12-07 21:36] jessesuen commented on #586
That's correct, for this specific use case, I would just like to reference a bunch of resource files. I think not having transformations not working on resources without a name, seems like acceptable behavior.

[2018-12-07 21:56] bstevenson commented on #596
Seeing same issue or very similar issue.  Worked in 1.10 (only changed the `disableHash ---> disableNameSuffixHash` between 1.10 --> 1.11)

Structure:
[code]
Base kustomization file:
[code]
Overlay kustomization file:
[code]
[code]

[2018-12-08 00:10] Liujingfang1 commented on #585
@aodj I'm working on the fix. What is the url if you want to clone this repo  `git::bitbucket.org:org/rep.git`?

[2018-12-09 22:37] pst opened #611 "kustomize edit add base does not support remote bases"
Trying to add a remote base like this: `$ kustomize edit add base 'https://storage.googleapis.com/dev.catalog.kubestack.com/postgresql-latest-clusterwide.txz'` fails with `Error: https://storage.googleapis.com/dev.catalog.kubestack.com/postgresql-latest-clusterwide.txz does not exist`.

Adding it to the bases manually, then running kustomize build works.

[code]

[2018-12-10 15:18] tomaszkiewicz commented on #549
Yes, you can probably make it work, but it doesn't allow you to things like replacement in config maps. Also I see that you have to explicite specify (I've only got quick look at the code of vars) which paths are affected :(

[2018-12-10 17:47] Liujingfang1 commented on #603
@emanuelbuholzer It should work. If you are on a previous version, can you try 1.0.11?

[2018-12-10 20:45] aodj commented on #585
@Liujingfang1 I don't understand your last message. Could you explain what you mean?

[2018-12-10 21:00] aodj commented on #585
I took a look at #612 and I think I get it now. When I clone the repo i simply run `git clone git@bitbucket.org:org/repo.git` which works, since I've got my ssh key in my ssh agent.

There was some documentation that said i needed to set the syntax to pull from remote repos using the Hashicorp go-getter syntax hence the `git::` prefix, since I'm forcing it to recognise it as a Git repo.

The probl

[2018-12-10 21:25] richardmarshall opened #613 "Generated secret name references are not detected in projected volumes"
This is a similar issue to #153 but specific to secrets instead.

When using kustomize to generate secrets that will be used in a projected volume the name hash suffix is not correctly added.

kustomization.yaml
[code]

deployment volume definition:
[code]

After running build the secret name in the projected volume does not have the hash suffix added.

[2018-12-10 21:37] Liujingfang1 commented on #585
`go-getter` was removed and we rewrote the gitloader in 1.0.11.
With the PR #612 , you can use `git@bitbucket.org:org/repo.git`.

[2018-12-10 22:35] #613 closed

[2018-12-10 23:22] nixsticks commented on #554
Hi @Liujingfang1, just looking at the PR you reference ([#529](https://github.com/kubernetes-sigs/kustomize/pull/529)) it doesn't seem like that fixes the issue shown here -- it seems that the PR fixes a typo for `CronJobs` but there was no typo for `Deployment`, which is the type shown here in the example?

I have not had time to get familiar with the Kustomize code, unfortunately, so it's very p

[2018-12-10 23:39] Liujingfang1 commented on #554
@nixsticks Can you paste your yaml files here?

[2018-12-11 01:12] nixsticks commented on #554
base kustomize:
[code]

base deployment:
[code]

app-specific kustomize:
[code]

output:
[code]

Sorry, I was actually wrong about the `namePrefix` because it works (at least in 1.0.11), but the hash is still not appended.

[2018-12-11 10:43] asm76 commented on #585
How about this origin - ssh://git@gitlab.example.com:10022/stub/stub/stub-repo.git ?

[2018-12-11 18:03] Liujingfang1 commented on #554
@nixsticks This is because of `namespace` added in the metadata. You can remove `namespace: kafkastreams` from Deployment and add it to kustomization.yaml

[2018-12-11 18:09] Liujingfang1 commented on #585
@asm76 When you run `git clone`, do you use `git clone ssh://git@gitlab.example.com:10022/stub/stub/stub-repo.git`?

[2018-12-11 18:38] monopole opened #615 "Explicit declaration of 'default' as namespace not equivalent to empty namespace."
In the [hello world](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/helloWorld) example, the [Deployment](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/deployment.yaml) gets data from the provided [ConfigMap](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/configMap.yaml), refering to the map by its name `the-map`.

If

[2018-12-12 09:05] asm76 commented on #585
@Liujingfang1 yes, exactly

[2018-12-12 09:40] asm76 commented on #585
![screenshot](https://user-images.githubusercontent.com/8554962/49860521-019d9500-fe0b-11e8-86de-917bbc3ba2d7.png)

[2018-12-12 11:57] fassmus opened #616 "Parsing git URLs fails on Windows"
While parsing git URLs, following lines use filepath.Separator to check and separate the URL:

https://github.com/kubernetes-sigs/kustomize/blob/259cecd4b830bc674941ca5e1eef02ea4eb36149/pkg/loader/gitcloner.go#L122
https://github.com/kubernetes-sigs/kustomize/blob/259cecd4b830bc674941ca5e1eef02ea4eb36149/pkg/loader/gitcloner.go#L126

On Windows, this always fails as filepath.Separator returns \ an

[2018-12-12 13:23] twz123 opened #617 "Make clusterLevelKinds configurable"
Currently, clusterLevelKinds are hardcoded.

https://github.com/kubernetes-sigs/kustomize/blob/8f701a00417a812558a7b785e8354957afa469ae/pkg/gvk/gvk.go#L143-L149

Since they influence how transformers work (e.g. for resolving namereferences), it would be good to have some means of configuring those, too. Consider name references between Cluster-Level CRD kinds and any other kind.

[2018-12-12 15:37] nixsticks commented on #554
Thank you, @Liujingfang1, I'll try that!

[2018-12-12 18:11] #598 closed

[2018-12-12 21:46] Liujingfang1 commented on #617
Similar issue #552

[2018-12-12 23:13] curtisallen commented on #549
👍 on this suggestion, however, I'm not tied to regex I'd love to have a simple find and replace post processor.

[2018-12-13 12:46] asm76 commented on #585
Is this issue resolved? I can't  succeed even with the head

[code]

[2018-12-13 13:41] aodj commented on #585
Same error here, using latest from source.
[code]

[2018-12-13 17:47] Liujingfang1 commented on #585
@aodj Can you try `git@bitbucket.org:org/repo.git`?
@asm76 The repo URL in your case is not handled correctly by the code. I'll work on a fix.

[2018-12-14 00:13] monopole commented on #596
@mgoodness feel free to review #624

@bstevenson As things now stand, the layout you describe is disallowed.  We found that allowing an overlay to be a subdirectory of a base makes it too easy to create recursion problems.

The fix is to change from
[code]
to
[code]

FWIW, the top level `app` dir is a good place for a `README.md`.

[2018-12-14 00:35] #596 closed

[2018-12-14 00:43] monopole commented on #605
Thanks for the report, will take a look.

[2018-12-14 00:45] #616 closed

[2018-12-14 02:17] mkokho opened #627 "Allow empty resource names in base templates"
Use case: one deployment base for different deployments to control probes, port, resource allocaitons, annotations, etc.

For example, here is a base deployment template:
[code]

With simple customization I could have templates with different names:
[code]

[code]

Now with version 1.11, it is required to have non-empty name in the base, so all of the resource will have a common suffix that has no

[2018-12-14 09:19] aodj commented on #585
@Liujingfang1, using `git@bitbucket.org:org/repo.git` I get:
[code]
If I specify the `git::` override I get:
[code]

[2018-12-14 18:15] soorena776 opened #629 "Any examples for how to use transformer configuration for variable and namespace?"
Hi,

In [transfomerconfigs README](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/README.md) you have mentioned that it's possible to use a transformer to inject variables and namespaces. Any examples?

Thank you

[2018-12-16 01:19] monopole opened #634 "Vars with same name at different levels have no defined behavior"
A Var Name collision in either one Kustomization file or at different levels in a Kustomization overlay/base stack doesn't doesn't trigger any kind of reporting or warning, and has no documented behavior.

We should either enforce a scoping rule (e.g. vars in the overlay override vars they shadow in the base), or
disallow collisions.

In the interest of simplicity, suggest the latter - so a var ha

[2018-12-17 08:33] hyww opened #638 "Reuse strategic merge patches for multiple targets"
It seems that we cannot reuse strategic merge patches for multiple targets since targets are defined inside each patch.

I've come up with an idea that maybe we can put strategic merge patches in `List` and reuse duplicated part  of patches using anchor/reference of YAML.

#637 is my implementation and below is an example to apply `hostAliases` patch to multiple `Deployment`s

[code]

If this seem

[2018-12-17 13:03] StuartHarris commented on #87
We have a situation where a secret is only needed for one of the overlays (i.e. it's not in the base). That secret doesn't get the base.namespace, and I think it should.

[2018-12-17 15:08] seboudry commented on #567
Hi,
I'm interested in this feature but I was thinking about using label selectors instead of wildcards.
This way we have more control of items under scope.

[2018-12-17 18:35] Liujingfang1 commented on #585
@aodj New change is merged. Can you try it again with `git@bitbucket.org:org/repo.git`?

[2018-12-17 22:55] booninite opened #641 "kustomize build fails to load CRDs that dont have/need/use metadata.name"
I am trying to use `kustomize` with https://github.com/argoproj/argo.

Example spec:

[code]

Argo Workflow CRDs don't require or use `metadata.name`, but I am getting the following error when I try to run `kustomize build` on an Argo Workflow resource:

[code]

Is there a way for me to override where `kustomize` looks for a name to `metadata.generateName`?

[2018-12-17 23:37] #634 closed

[2018-12-18 00:31] Liujingfang1 commented on #641
Similar issues #627, #586

[2018-12-18 00:33] Liujingfang1 commented on #638
This is another issue for `List`, which is to load resources from a `List` #581

[2018-12-18 06:15] booninite opened #642 "kustomize fails to handle two JSONPatch that add an item to the end of an array"
I have a series of array elements (in this case they are  https://github.com/argoproj/argo task templates, which can be used independently or chained together) that I would like to keep in individual patches to maximize their reuse.

Each of these patches looks something like this:

[code]

Based on the JSONPatch spec:

[code]

`/spec/templates/-` should be added to the array of templates that alr

[2018-12-18 17:46] booninite commented on #642
seems to be related to #638, maybe two different approaches to the same end goal.  I did not use the strategic merge patch because these tasks are independent of a named resource.

[2018-12-18 18:09] paultiplady commented on #164
Circling back on this, there are still some items that are awkward.

I have per-review-app config, e.g. DNS name that gets loaded into an annotation. I don't see a good way to achieve per-branch parametrization in Kustomize.

I'm looking at emitting the overlay YAML dynamically, something like `echo "{\"metadata\": {\"annotations\": {\"dns_name\": ${ENV_DNS_NAME}}}}" > overlays/builds/service.yaml

[2018-12-19 09:56] aodj commented on #585
Using `git@bitbucket.org:org/repo.git`:
[code]
$ git show
commit 048c1dde97f647f334c391c21fccb3cfe5af6fd0 (HEAD -> master, origin/master, origin/HEAD)
Merge: dd17174 949fd51
Author: Jeff Regan <jeff.regan@gmail.com>
Date:   Tue Dec 18 17:09:45 2018 -0800

    Merge pull request #647 from monopole/yaTest

    Yet another kusttarget test.
[code]

[2018-12-19 11:02] leominov opened #648 "panic: kustomize flag redefined: log_dir"
Just moved `kustomize_1.0.11_darwin_amd64` to `/usr/local/bin/kustomize` and got this:

[code]

but:

[code]

Sounds like #539 but I download binary from Releases tab.

[2018-12-19 11:05] leominov commented on #648
And why `GoOs:unknown` and `GoArch:unknown`? :)

[2018-12-19 11:30] leominov commented on #648
My bad

[2018-12-19 11:30] #648 closed

[2018-12-19 18:33] Liujingfang1 commented on #585
@aodj I couldn't reproduce this error. The one I see is `Error: trouble cloning git@bitbucket.org:org/repo.git:`, which means the URL is recognized as a remote repo. Your error means it is recognized as a local directory.

[2018-12-19 19:10] Liujingfang1 commented on #585
try `ls -l ~/Documents/github/kustomize/bin/kustomize` or `~/Documents/github/kustomize/bin/kustomize version`

[2018-12-19 21:35] jcassee opened #649 "Cycle detection is naive about subdirectories"
The [code that detects base cycles](https://github.com/kubernetes-sigs/kustomize/blob/048c1dde97f647f334c391c21fccb3cfe5af6fd0/pkg/loader/fileloader.go#L195) is naive about what is a subdirectory. It considers `.../abcd` to be a subdirectory of `.../abc`.

[2018-12-19 21:51] jcassee commented on #649
Already fixed by #624

[2018-12-19 21:51] #649 closed

[2018-12-19 22:11] jcassee commented on #557
I have a similar problem, but with PersistentVolumeClaim:

https://github.com/jcassee/kustomize-conflict-issue

[2018-12-19 23:20] #588 closed

[2018-12-19 23:28] Liujingfang1 opened #651 "change current kustomize version to beta"
As discussed in 12/19 sig-cli meeting, we need to change current version to beta.

[2018-12-20 12:21] guyromb commented on #538
@lichuqiang
My current situation is that I have 1 ingress in base, and multiple ingress in overlays.
However, I would like to have in total 1 ingress service combined (the reason for that is that I want to use single static IP). However, because I use the "namePrefix" in the overlay kustomize file, it actually creates multiple ingress. I wonder what would be the easy way to fix that?

My kustomize

[2018-12-20 13:52] aodj commented on #585
[code]

[2018-12-20 14:04] guyromb commented on #519
I would like to skip for ingress, so there will be single ingress resource which contains all the overlay hosts (applied using a patch from base)

[2018-12-20 14:06] guyromb commented on #316
+1

[2018-12-20 18:01] hagmonk commented on #585
Ok this is a little freaky. Based on a comment from @Liujingfang1 in Slack, I realized I had checked out kustomize in the wrong place in the GOPATH:

Works:

[code]

Does not work:

[code]

Same goes for running tests, I can't run `go test` unless I'm in the "sigs.k8s.io" repo. I thought go was supposed to make all this stuff easy?? 😬

[2018-12-20 18:15] Liujingfang1 commented on #585
@hagmonk We changed the pkg path of kustomize to be under `sigs.k8s.io` a couple of months ago. If you look at the [installation instruction](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md), it is suggested to use
[code]

[2018-12-20 18:17] hagmonk commented on #585
@Liujingfang1 got it, thanks for the clarification. And the good news is, remote `kustomize build` is working again 🎉

[2018-12-20 18:19] Liujingfang1 commented on #585
Great

[2018-12-20 18:19] #585 closed

[2018-12-20 18:19] Liujingfang1 commented on #585
Please open a new issue if you see this happen again, thanks.

[2018-12-20 19:10] Liujingfang1 commented on #638
fixed by #637

[2018-12-20 19:10] #638 closed

[2018-12-21 08:08] narg95 commented on #603
Based on the [varreference.go](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/varreference.go#L20)  the `kind: namespace` is not yet supported. Liujingfang1 Why do you expect it to work?

[2018-12-21 09:49] aodj commented on #585
Clearly there's something I'm missing here:

[code]

[2018-12-21 18:32] Liujingfang1 commented on #402
@narg95 We don't have cycle to work on this feature. Would you like to help?

[2018-12-25 08:58] leominov opened #656 "Correct versioning?"
I understand that project under active development, but have not clue – why you does't support semantic versioning?

[code]

There is some problem with it?

New release with bunch of bug fixes doesn't support previously released Patch because specs are changed. Is it sounds good?

[2018-12-25 13:19] leominov commented on #648
If you googled this issue here is the key – remove all copies of binary from your PATH and install again.

[2018-12-26 05:31] suzutan commented on #597
@Liujingfang1 Are you planning to fix this issue?

[2018-12-26 10:12] hyww commented on #581
@yujuhong This issue should be fixed by #637 , which let kustomize recognize resources/patches in `List`.

[2018-12-28 12:31] JasperZ opened #657 "namespace breaks namePrefix and nameSuffix for volumeName in PersistentVolumeClaim"
When using `namespace` in *kustomization.yaml* there is a problem related to PersistentVolume name  referenced in the PersistentVolumeClaim. The `namePrefix` and `nameSuffix` specified in the *kustomization.yaml* aren't applied to the `volumeName` field of the PersistentVolumeClaim.

My guess would be that it has something to to with the fact that a PersistentVolume mustn't have a namespace but Pe

[2018-12-28 14:23] monopole opened #658 "No conflict detection/resolution in custom config specs"
This appears in the default config:
[code]
adding it (again) in a custom config should either be an error or silently accepted as a restatement of the saeme config.  Instead the effect is to add a prefix twice.

[2018-12-28 16:27] sethpollack opened #662 "nameref does not work with nested bases"
[code]
[code]
[code]
[code]

The output looks like this

[code]

It should look like this

[code]

[2018-12-29 16:42] #658 closed

[2018-12-29 23:30] monopole opened #669 "Non-native types, patched in an overlay, don't retain nameprefix from base."
Seems like a bug, but could be viewed as a feature.

[2018-12-30 00:53] monopole commented on #627
So you'd prefer to have deployments named _analyzer_ and _processor_ rather than, say, _analyzer-baseWhatever_ and _processor-baseWhatever_.

At the moment, for better or worse, the group/version/kind/name is used as a [primary key](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/resid/resid.go) in the customization process.  An empty string is different from a non-empty string, so th

[2018-12-30 01:17] monopole commented on #641
#627 is about names, but currently i see it as a feature request.

This bug and #586 are noting that kustomize doesn't recognize the kubernetes API directive `generateName` - discussed here: https://kubernetes.io/docs/reference/federation/v1/definitions

This directive is a kustomize-like feature introduced before kustomize... (complicating our life).

We might try to allow it and work with it - o

[2018-12-30 22:36] jcassee commented on #662
The reference to the secret appears in a base that does not define the secret. If you create the secret in `example/base/otherbase/kustomization.yaml` and [merge it](https://github.com/kubernetes-sigs/kustomize/blob/6f566d7a38cffcbb74a2ca2d762f8fbd65055d44/examples/combineConfigs.md) in `example/kustomization.yaml` I believe your code will work.

[2018-12-31 16:55] ryane opened #672 "namespace lost when replacing configMap in an overlay"
[code]

[code]

[code]

[code]

[code]

Here is the output (looks like the log entry in the first line is fixed in master):

[code]

Note that the example-config-* configmap does not have `namespace: testing` in the metadata. If you run `kubectl build overlays/dev | kubectl apply -f -`, you'll end up with an example-config-* configmap in the default namespace (or whatever namespace is set in your

[2019-01-02 19:15] ryane commented on #408
We ran into a need for this too so I took a shot at a PR in #674.

[2019-01-03 04:22] zcyzhu opened #675 "I am having problems executing sudo go get kubernetes-sigs/kustomize"
There was a problem when I executed` sudo go get kubernetes-sigs/kustomize`
[code]
How to solve this problem please advise?

[2019-01-03 22:42] infinitydon opened #676 "Error: json: unknown field "namespace""
Hi,

I am trying to generate secret using the following:

[code]
But when I run "kustomize build" I am getting the following error:

$ kustomize build

**Error: json: unknown field "namespace"**

Also why is kustomize appending random characters to the name of the secret that is been generate, e.g. production_app_secret became:

[code]
Anyway to make to prevent it from appending the name?

Thanks

[2019-01-04 09:56] narg95 commented on #402
@Liujingfang1 sure I can give it a try if you point me to the right direction :)

[2019-01-04 10:33] narg95 commented on #402
I like the idea of @twz123 with some subtle changes: using `image` instead of `imageOverride` just be to consistent with `imageTag` and not mentioning the `newRegistry` but only the `name`, e.g.:

[code]

and in the CLI tool:

[code]
My take would be:
-  `Image` is a superset of `ImageTag`
- The `newTag` if not given will remove the former `tag`.
- And for the sake of simplicity, if both are given

[2019-01-04 18:52] pwittrock opened #677 "commonLabels creates volumeClaimTemplates in StatefulSet"
Setting commonLabels on a StatefulSet creates a malformed volumeClaimTemplates populated with metadata containing the labels (it shouldn't have this).

Version: commit:746c7b0b5b6c7661c160cdeb62390ef0bb5ac4fe (Dec 30, 2018)

Steps to reproduce:

Run `kustomize build ./`

[code]

[code]

output:

[code]

[2019-01-07 22:42] Liujingfang1 commented on #672
When "replace" is used, the ConfigMap created in the overlay will replace the ConfigMap from the base. I don't think this is a bug. It is the expected behavior to me.

You can use following syntax to fine control the namespace. In #599, `namespace` was added to generators, which allows users to specify the namespace of ConfigMaps/Secrets from generators.
You can use it like
[code]
Note that when `

[2019-01-08 02:57] ryane commented on #672
Ok, I expected that "replace" would actually replace the ConfigMap as declared in the base (including the namespace). My expectation was aligned with this [comment](https://github.com/kubernetes-sigs/kustomize/issues/595#issuecomment-445232170).

However, the new feature in master that lets us specify the namespace in the generator should allow us to workaround the issue.

[2019-01-08 17:34] Liujingfang1 commented on #677
Same issue as #504. @twz123 proposed a solution in #610

[2019-01-08 17:37] Liujingfang1 commented on #675
@zcyzhu Here is the installation instruction. https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md
If you want to use `go get`, please run `go get sigs.k8s.io/kustomize`

[2019-01-08 17:49] Liujingfang1 commented on #662
@sethpollack It should work. Can you try version 1.0.11?

[2019-01-08 18:22] #651 closed

[2019-01-08 18:58] #581 closed

[2019-01-08 21:40] Liujingfang1 commented on #597
`generatorOptions` have following fields:
[code]
Among them, `labels`, `annotations`, `timeoutSeconds` and `shell` are effective when generating ConfigMap or Secret. Thus it is not a problem for those fields. The issue only comes in `disableNameSuffixHash`.

I will work on a fix for this.

[2019-01-09 08:49] narg95 opened #680 "Patch literal JSON in ConfigMap item"
Hi all,

I want to patch a literal json from a configMap item, but I have not found an example in the docu,  do you know if that is possible? For example, assuming the following configmap:

Base configMap
[code]
I want to apply this patch:

[code]

So the resulting configMap looks like:

[code]

Thanks !

P.S. Great job with kustomize!

[2019-01-09 14:44] johnhny opened #681 "envFrom/ConfigMapRef not working with custom resource definition (CRD)"
Hi everybody

First of all: Thanks for the amazing work! 👏🎉

#97 Contains a link to a repo that shows how to use Kustomize with OpenShift Extensions: https://github.com/adnovum/kustomize-openshift

According to this, we created a [CRD for `DeploymentConfig`](https://github.com/johnhny/kustomize-configMapRef-bug/blob/master/base/crds/openshift-deploymentconfig.json#L24), that enables Kustomize to u

[2019-01-09 16:21] narg95 opened #682 "vars do not work on `mountPath` nor in `labels`"
Hi all,

`vars` are not replaced in `mountPath`:

I have the following yaml files:

`kustomize.yaml`
[code]

`deployment.yaml`
[code]

`namespace.yaml`
[code]

When I run `kustomize build .` I get the following output:

[code]

As you can notice the `env` gots correctly replaced but on `mountPath` and `labels` did not.

Kustomize version: `1.0.11`

Thanks!

[2019-01-09 21:41] pst commented on #611
@Liujingfang1 @monopole I came back to this today and have a few questions to understand the direction you're taking and how and if there is room for what I'm trying to do. Which is basically building a catalog of curated remote bases.

Previously go-getter from Hashicorp was used and this is how I made the https/txz archive above work as remote bases. The issue was about the difference in adding

[2019-01-09 23:00] monopole commented on #656
:+1: Acknowledged.

We've been incrementing PATCH only, when we should have incremented MINOR a few times.

When we finally remove some things currently marked deprecated, that will trigger a MAJOR increment.

[2019-01-10 00:51] monopole commented on #606
Will do.  This (if nothing else) will force a minor version change.

[2019-01-10 10:47] rkr-kununu opened #685 "Support variables in istio host resources"
Since istio is being integrated into [gcloud](https://thenewstack.io/google-integrates-istio-service-mesh-into-kubernetes-service/) and other k8s solutions.  It would be very helpful to permit host name variable solutions to istio.

This is related to #267

This may not be an exhaustive list, but the various istio resources that would benefit from this would be:
[code]

[2019-01-10 17:29] EronWright opened #686 "Image transforms should support transformer configs"
The kustomize tool is presently hardcoded as to where an image reference may appear, e.g. container spec.   Other resource types (incl CRDs) may contain an image reference.

The transformer config concept makes it possible to extend the locations where kustomize would look to apply an image transformation.

Related to #402.

[2019-01-11 01:06] chrisghill opened #688 "Kustomize adds namespace and labels to Lists causing errors"
Its entirely possible that this is user-error, but Kustomize is adding metadata.namespace and metadata.label to ConfigMapList, RoleBindingList, RoleList and List (and perhaps others) which is breaking kubectl apply.  I saw this issue: https://github.com/kubernetes-sigs/kustomize/issues/514 which seems related, and it sounds like the PR introducing mandatory namespaces was reverted, but the issue s

[2019-01-11 12:51] fassmus opened #689 "Unable to clone base from on-premises git repo"
Hi,

I have an on-premises Bitbucket server with following repo URL:

https://bitbucket.[domain].com/scm/test/kustomization-base.git?ref=v1.0.0

With kustomize `1.0.10` it was possible to use this repo by configuring following base ref:
[code]
Since `1.0.11` and also on current master this fails because after parsing the URL following git command is compiled:

[code]

This does not work, as `git::

[2019-01-11 22:31] Liujingfang1 opened #692 "remove SecretGenerator due to security concern"
Need to address the security concerns of Kustomize in order to integrate it into Kubectl
https://github.com/kubernetes/enhancements/pull/684

SecretGenerator is one concern since it can trigger arbitrary command that users put in.
The solution is to remove it from Kustomize.

[2019-01-11 23:22] #606 closed

[2019-01-11 23:26] monopole opened #693 "File paths may not step up."
Currently, all file paths mentioned in a kustomization file must be defined relative to the location of the kustomization file.

This allows (e.g.) the following fishing attack.  Someone writes a kustomization with a configmap generator that reads data from `../../../etc/passwd`, and sends it to a victim, hopes the victim performs the kustomization in the correct working directory, and hopes to su

[2019-01-13 08:12] saggir opened #695 "Tolerations support"
Hi,
Does kustomize supports adding pod tolerations?

Tnx,
Saggi.

[2019-01-13 15:19] sethpollack commented on #662
@Liujingfang1 Ok you are correct. The issue is not the nested bases, it breaks when you add a namePrefix.

[code]

[code]
[code]

[2019-01-13 15:32] sethpollack opened #696 "Can't define the same VAR in multiple bases"
[code]
[code]
[code]

This gets the following error:

[code]

[2019-01-14 08:35] jcassee commented on #692
@Liujingfang1 I'm kind of shocked to learn SecretGenerator is going away. Do you intend to replace it with a substitute? My use-case is using [sops](https://github.com/mozilla/sops) to load encrypted secrets into Kubernetes.

(I tried to access the [security document](https://docs.google.com/document/d/1FYgLVdq-siB_Cef9yuQBmit0PbrE8lsyTBdGI2eA2y8) you linked to in kubernetes/enhancements#684, but

[2019-01-14 09:00] narg95 commented on #402
Hi @Liujingfang1  I would love to help with this feature, but I would like to hear your opinion.

[2019-01-14 12:07] duboisf commented on #402
Hi @narg95! I'm just a guy that's interested in this feature.

I like what you are proposing except for the part where if you don't specify `newTag` it removes the tag. I just wouldn't touch the tag if `newTag` isn't present. Otherwise for those that are interested in just modifying the registry it gives them extra work.

What's your reason for wanting to remove the tag if `newTag` isn't present?

[2019-01-14 14:33] Liujingfang1 commented on #692
@jcassee The doc is available to kubernetes-sig-cli@googlegroups.com

[2019-01-14 14:45] jcassee commented on #692
Okay, I was mostly interested in the context of the decision and whether you have any advice for current users of SecretGenerator.

[2019-01-14 14:49] Liujingfang1 commented on #692
The plan is to remove `SecretGenerator` entirely from Kustomize.

[2019-01-14 14:51] jcassee commented on #692
Okay. So what is your advice to users of the feature? I rely on it for my Kubernetes deployment.

[2019-01-14 14:57] oboukili commented on #692
Hello, we have a similar approach using sops, a nice workaround regarding this issue would be to allow secretGenerator to behave exactly like configMapGenerator (e.g. providing a 'files' list), so that we could out-of-band automation to generate those files.

That would export the reponsability of executing the creation commands out of kustomize, while still being able to use the secretsGenerator.

[2019-01-14 15:02] jcassee commented on #692
@oboukili Yes, that could work. The nice thing about commands is that the unencrypted values never hit the disk, so there is nothing to clean up after deployment. I do see the danger with commands, but I thought they were only removed from the `kubectl` build (#683), which I thought was a good compromise. I'm sad to see them go.

[2019-01-14 15:19] oboukili commented on #692
@jcassee I think you're planning on exposing those decrypted files onto a kubernetes secret, in that case that's true it does hit the disk.

As a workaround, I thought of having a different deployment workflow that would allow us to store those encrypted files onto a kubernetes secret and use an init container to decrypt and send those to an Hashicorp Vault KV backend on-the-fly (very specific use

[2019-01-14 21:51] Liujingfang1 commented on #695
Do you mean modifying a pod from a base by adding pod tolerations? You can use a strategic merge patch to add it.

[2019-01-14 22:11] Liujingfang1 commented on #681
@johnhny I took a look at your openshift-deploymentconfig.json file. You need to change the annotations for "template/spec/containers/envFrom/configMapRef" to following
[code]
The meaning is as this. The path `template/spec/containers/envFrom/configMapRef` refers to an object. That object has the apiversion v1 and kind ConfigMap.

[2019-01-14 22:11] #681 closed

[2019-01-15 08:48] johnhny commented on #681
Thanks so much for the help 🙏😃

[2019-01-15 16:23] ebriand commented on #689
Same issue here, tested your PR and it fixes the issue on my side 👍

[2019-01-15 18:40] Liujingfang1 commented on #402
@narg95 Thank you for working on this and coming up with a concrete proposal. It looks good to me and I'd like add a few comments.
- Is tag allowed in NewName? If allowed, what will happen when `NewTag` is also present.
- The edit command looks not quite intuitive. I have to look at the arguments very carefully to figure out its meaning. What about some other options:
    `kustomize edit set image

[2019-01-15 20:13] monopole commented on #692
Initially (back at the beginning) the notion was to have kustomize generate a k8s Secret the same way it generates a ConfigMap - by reading data from disk (as @oboukili  and @jcassee suggest).

Placing the secret on disk offends certain folks because it violates fundamental notions of security - who has access to the file, how do we know it's deleted, etc.   Having kustomize read a command to run

[2019-01-15 21:55] monopole commented on #692
@chrishiner  So the patches still need to come from somewhere (disk, command, whatever) so seems like the same secret mgmt problem exists.  Plus _mutating_ a secret or configmap already in k8s is usually a bad idea.  That's why we make new ones with new names (generated from a hash of the contents), then change deployments to point to them.   Please feel free to start an issue (or KEP) for how one

[2019-01-15 22:15] chrishiner opened #702 "Support for using SealedSecrets"
I'd like to use something like the SecretGenerator to create SealedSecrets from files, with the automatic name hashing. These SealedSecrets are encrypted with a public key, and the controller in the cluster has the private key and automatically generates a corresponding Secret after decrypting it.
See https://github.com/bitnami-labs/sealed-secrets for how that part works.

That way I can check the

[2019-01-16 04:16] Liujingfang1 commented on #692
Two approaches are proposed to fix the security risk in SecretGenerator.
- remove SecretGenerator entirely #694
- make SecretGenerator load data from files #703

[2019-01-16 06:52] narg95 commented on #402
Hi @Liujingfang1

No, the tag can only be changed by the `newTag`.

Agree, it could be a bit confussing, so with both options the examples look like:

-option 1
[code]

- option 2
[code]

- Option 1 reads clear and looks organized, but it uses two commnd flags for one image change (which is more implementation work) and the only way to correlate old with new image is by the order. Also it differs

[2019-01-16 16:47] Liujingfang1 commented on #399
@pandyamarut sure, go ahead. Thank you.

[2019-01-16 19:48] #693 closed

[2019-01-16 21:40] #689 closed

[2019-01-16 23:01] Liujingfang1 commented on #402
@narg95 Option 2 looks better than Option 1. I only have one concern about Option 2. In kubectl, there is a command
```kubectl set image <container_name>=<container_image>```
It we use Option 2, it will have similar format as this kubectl command, but the meaning is different.
```kustomize set image <image_name>=<new_image_name>```
`container_name` and `image_name` are different fields in containe

[2019-01-17 04:11] EronWright commented on #409
By multiple, would that mean zero-or-more, or one-or-more?   I have a use case where a given patch might not match any targets, and would like to silently continue.    This issue appears to be a generalization of my use case.

[2019-01-17 12:04] saggir commented on #695
Tnx for the response

[2019-01-17 12:04] #695 closed

[2019-01-17 15:49] narg95 commented on #402
hmm, I was not aware of the similarity, I see your point ...  actualy they differ in the `edit`.
Still my preference is option 2 because it is simple, despite the similarities, also considering that the tools are used in different contexts for different purpuses and that the `kubectl set image` *seems* not to be so popular (no yet autocompletion for this command in the zsh plugin).

So my proposal

[2019-01-17 21:34] Liujingfang1 commented on #402
Among those options, I prefer `2.1`.
Let's have some opinions from others. @schweikert @twz123 @duboisf What do you think?

[2019-01-17 21:37] #408 closed

[2019-01-17 22:04] #657 closed

[2019-01-17 22:39] Liujingfang1 opened #705 "add command for adding SecretGenerator"
Similar to
[code]
We want a command to add SecretGenerator
[code]

[2019-01-18 14:03] jcassee commented on #692
Thanks for choosing #703 over #694!

[2019-01-18 15:05] trick77 commented on #97
@Liujingfang1 I realise this request has been addressed/closed but I was wondering if there is an easier way to create JSON CRD files for OpenShift extensions rather than to add the properties by hand? Like, would it be possible to simply generate a Kustomize JSON CRD for the entire DeploymentConfig struct for example?

[2019-01-18 15:23] danp commented on #106
Apologies for commenting on a closed issue, please let me know if I should open a new one. I think I ran into what this issue was about by trying something like this:

[code]

It works sometimes, but not others, maybe depending on whether the resource is a CRD. Would supporting that be useful? Or maybe it only works sometimes because I'm misunderstanding the patch interaction somehow.

[2019-01-18 17:06] hasonhai opened #708 "secretGenerator does not recognize "files" tag"
Hi,
I tried to create a secret from kustomization.yaml but kustomize told that it does not recognize the "files" tag. It looks super weird.

[code]
I validated the yaml format and there is nothing wrong with the yaml format.
But I build the app, error is reported.
[code]
Here is my version of kustomize:
`Version: {KustomizeVersion:1.0.11 GitCommit:8f701a00417a812558a7b785e8354957afa469ae BuildDate

[2019-01-19 20:54] schweikert commented on #402
Thanks @narg95 for picking up the work on this.

I wonder if being able to modify multiple images with a single "kustomize edit set image" command should really be a requirement. If it isn't, then it might be better to use more explicit arguments (option 1 or similar), so that it is also more extensible. You could also support changing only the tag, for example, without the need to repeat the imag

[2019-01-20 15:01] sethpollack commented on #692
@Liujingfang1 @monopole

Would you be open to breaking out the secret generation stuff into a separate tool/binary instead? And maybe even add direct integrations with popular tools like sops? We can introduce a new file `generator.yaml` and then the tool would go through the directory and modify each adjacent kust file with a secretGenerator/configMapGenerator section in the same way that `kustom

[2019-01-21 09:30] narg95 commented on #402
Hi @schweikert thanks for sharing your opinion,

From your example I really like that the `<image-name>` is the main argument of the command, and it reads clear without ambiguity of what needs be changed.

Here I try to address your points:

there is not such strict requirement, but because our drivers have been:

1. stay consistent with other similar functionality like `imagetag`
2. replace `imag

[2019-01-21 11:39] jcassee commented on #692
@sethpollack Could a custom transformer create secrets based on commands?

[2019-01-22 11:02] bgauduch opened #710 "ConfigMap hash not added to overlay patch on nested bases using "namespace“ and "namePrefix“"
Hello 👋

When using a ConfigMapGenerator in an overlay with nested bases, the generated hash is not applied on the patch referencing the configMap. Here are the details:

File tree:
[code]

`base1/kustomization.yaml` only references some resources:
[code]

`base2/kustomization.yaml` references the first base, with some other resource, a patch and metadata:
[code]

`overlay/kustomization.yaml` refe

[2019-01-22 14:13] davidpristovnik commented on #603
@emanuelbuholzer you should try this, works with bin from head:
**kustomization.yaml**
[code]

[2019-01-22 17:04] Liujingfang1 commented on #402
Option 2 supports editing multiple images by one command.  We've already done that for `imageTags`.
I feel it's better than option 1. For readability, both 1 and 2 are easy to read and understand, but 2 with a compact format.

[2019-01-22 22:34] sethpollack commented on #692
@jcassee You mean add the old functionality back, but ignore on `kustomize build` and require another command like `kustomize generate` first?

Yeah, that would work, too.

@monopole any thoughts on this?

[2019-01-23 07:07] schweikert commented on #402
Option 2 looks also fine to me

[2019-01-23 07:13] narg95 commented on #402
Great, then option 2.1 wins!
The PR [#707](https://github.com/kubernetes-sigs/kustomize/pull/707) implements it.

@Liujingfang1 @schweikert @duboisf @twz123 Thanks for sharing your opinions.

[2019-01-23 08:38] jcassee commented on #692
@sethpollack I was thinking the old `command`/`envCommand` options could be supported by [transformers](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs) that are not enabled by default. However, as I think about this, transformers are configured from `kustomization.yaml`, so it's just as unsafe. (Maybe I am looking for a `--i-want-to-be-vulnerable` command line

[2019-01-23 22:52] monopole commented on #656
Closing as in Yes We Will Do This :)

[2019-01-23 22:52] #656 closed

[2019-01-23 23:11] #708 closed

[2019-01-23 23:20] monopole commented on #696
A var in a base is supposed to be available in an overlay; it's scope goes all the way "up".

So vars with the same name at the same level must be disallowed.

The use case described here doesn't attempt to use a var in the overlay, but they are available, and they collide, so the error is legit.  I suppose we could add code to detect  and allow this case, but is it worth it when the fix is simply

[2019-01-24 00:21] monopole commented on #675
Yes, that's just the wrong github org.  Please reopen this issue if you have further questions.

[2019-01-24 00:21] #675 closed

[2019-01-24 01:39] monopole commented on #682
Excellent bug report!

Those fields (labels and container mountPath) aren't supported as a home for $VARs.

I just tweaked the doc (https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L215)

Suggest you get what you want working as a [custom config](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/README.md) (there might be trouble d

[2019-01-24 05:35] leominov commented on #656
Yeah!)

[2019-01-24 14:56] queil opened #719 "Building remote bases fails on Windows"
kustomize v1.0.11

I am getting the following error on Windows 10 trying to build a remote base:
[code]

On linux it works just fine:
[code]

[2019-01-24 17:04] #402 closed

[2019-01-24 17:38] Liujingfang1 commented on #549
We don't plan to support regex replacing in kustomize. See the detailed explanation in [Unstructured edits](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#unstructured-edits).

[2019-01-24 17:38] #549 closed

[2019-01-24 17:45] Liujingfang1 commented on #680
@narg95 Patching doesn't support that. It will replace the value of `settings` rather than merging the values.
I'd suggest use [ConfigMapGenerator](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L79) from files. For different base or overlays, you can adjust different the file content.

[2019-01-24 17:48] Liujingfang1 commented on #16
`Kustomize build` outputs yaml syntax failures and deprecation messages. Not necessary to have one more mode for showing those.

[2019-01-24 17:48] #16 closed

[2019-01-24 17:55] Liujingfang1 commented on #304
Close this request since `commands` was dropped due to [security concern](https://docs.google.com/document/d/1FYgLVdq-siB_Cef9yuQBmit0PbrE8lsyTBdGI2eA2y8/edit).

[2019-01-24 17:55] #304 closed

[2019-01-24 18:03] Liujingfang1 commented on #686
@EronWright The way `Kustomize` performs image transformation is to look for `containers` and `initContainers` and update images in them. If other resource types use PodTemplate, image transformer should support them as well.

[2019-01-24 18:05] #364 closed

[2019-01-24 18:12] Liujingfang1 commented on #719
@queil Can you try kustomize from the head? You can install it by
[code]

[2019-01-24 18:52] Liujingfang1 opened #720 "extend patch from one target to multiple targets"
Currently, there are different types of patches supported in Kustomize: [strategic merge patch](https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md) and [JSON patch](https://tools.ietf.org/html/rfc6902).
[code]
Both types need GVKN info to find the unique target to perform the patching. In strategic merge patch, GVKN is included in the patch itself. In J

[2019-01-24 18:54] Liujingfang1 commented on #567
Summarize the requests in #720. Close this one as duplication.

[2019-01-24 18:54] #567 closed

[2019-01-24 18:54] Liujingfang1 commented on #409
Summarize the requests in #720. Close this one as duplication.

[2019-01-24 18:54] #409 closed

[2019-01-24 18:54] Liujingfang1 commented on #412
Summarize the requests in #720. Close this one as duplication.

[2019-01-24 18:54] #412 closed

[2019-01-24 19:03] Liujingfang1 commented on #720
/cc @monopole @pwittrock

[2019-01-24 19:31] Liujingfang1 commented on #688
@chrisghill First of all, this is not a user error. The problem is that Kustomize doesn't recognize `RoleList` as an aggregation of objects. It treats `RoleList` as a single object.  The expected behavior should be that `Kustomize build` returns the role objects contained in the list.

 The problem is in loading resources part in Kustomize. https://github.com/kubernetes-sigs/kustomize/blob/master/

[2019-01-24 19:44] Liujingfang1 commented on #688
@hyww Do you want to help with this issue?

[2019-01-24 20:52] midivi commented on #249
I'm facing the same issue. Is there a reason why setting a commonLabel results in setting service selectors as well as the label for services? Is this a feature or a bug?

Sure, the folder structure along with kustomization.yaml files can be organized to avoid this, but ideally things would work as expected?

In other aspects, the tool does everything I expect it to (and more! eg: hash configmaps

[2019-01-25 02:05] sethpollack commented on #696
Ok thanks. I can work around this. Just seemed like it was different from the way things usually work in kustomize.

[2019-01-25 02:05] #696 closed

[2019-01-25 10:17] queil commented on #719
@Liujingfang1: Now I am getting:
[code]

[2019-01-25 17:42] sethpollack opened #723 "Kustomize Office Hours"
It would be really great to have some time to chat about the roadmap, design decisions, etc...

[2019-01-25 21:49] jgonera opened #725 "[Request] Add `kustomize edit remove/delete patch`"
I'm using a patch to put my site in maintenance mode. To do it I can simply run:

[code]

If I want to disable maintenance mode I have to manually remove the patch from `kustomization.yaml` or use `sed` which is more error prone. Could we add a command for removing patches (and possibly resources too)?

Using kustomize 1.0.11.

[2019-01-25 23:55] sheldonkwok opened #727 "Does the order in which the patches are defined matter?"
I'm trying to create an overrides patch to be applied last. It works a majority of the time but sometimes fails. This is leading me to believe that patches are not applied in order.

[2019-01-26 00:10] #705 closed

[2019-01-26 19:12] sascha-coenen opened #729 "[bug] Generated configmaps appear on console"
Since I updated to kustomize 1.0.11, it prints generated configmaps to the console even though I pipe the output to kubectl.

For instance, I run the following command in bash:

The output of kustomize should become the input for kubectl.
Yet, when I submit the above command, I first see the generated configmaps emitted to the console followed by the deployment status that kubectl logs out.

It wo

[2019-01-27 16:05] ajbouh commented on #680
I need this as well.

Another option would be to pass along var references to the external program as environment variables and use the output of that program as the configmap. @Liujingfang1, would that be better aligned with the philosophy of kustomize?

[2019-01-28 07:11] hyww commented on #688
I think I can take a look.

Latest `master` version (with #637 merged) of Kustomize recognizes `List` kind and flatten objects with `List` type. `items` in `List` of resources/patches will be treated as individual resources/patches and there will be no `List` in output of `kustomize build`.

I am not sure if other lists like `ConfigMapList`, `RoleBindingList`, `RoleList` should be handled as how K

[2019-01-28 07:23] laverya opened #732 "kustomize output should be parseable by kustomize"
There are workflows that rely on running kustomize multiple times in sequence. To support this, kustomize should probably not produce output that it cannot itself parse. For example:

`deployment.yaml`:
[code]
`kustomization.yaml`:
[code]

When run, this yields:
[code]

Unfortunately, `args: null` is not an acceptable input, though `args: []` is. Attempting to kustomize a deployment with `args: nu

[2019-01-28 14:49] bgauduch commented on #710
Temporary fix: use a dummy configMapGenerator in the base, and override it with `behavior: replace` in the overlay. This way the hash is correctly generated and bounded.

But this is not the expected behavior, and produce noise in the kustomization.yaml.

[2019-01-28 15:09] narg95 commented on #680
Hi @Liujingfang1,

In a greenfield project I will do as suggested, but I am porting an application, that uses a rather complex json config file, to kubernetes, so using a ConfigMapGenerator will not be ideal because I would have to repeate the whole JSON file for a trivial json property change. I currently solve it post-processing kustomize's output with `envsubst` but this is something I want to

[2019-01-28 15:20] narg95 commented on #682
@monopole

Great you like it!

thanks for the hint,  I will give it a try and then submit a PR

[2019-01-28 22:15] Liujingfang1 opened #738 "require apiVersion/kind in Kustomization.yaml?"
`apiVersion` and `kind` are currently optional in a kustomization.yaml file. When `kustomize build` executes on a kustomizaiton.yaml file without those fields, it prints some warning messages.
[code]
When [integrating kustomize into kubectl](https://github.com/kubernetes/kubernetes/pull/73033), the warning messages don't make sense since `kustomize edit fix` is not available through `kubectl`.

It

[2019-01-28 22:22] wmedlar opened #739 "Release a patch for v1.0.11 with log noise reduced"
Merging generated resources produces a wealth of logging noise, making it very difficult to debug especially when used with scripts. It would be wonderful if you could release a patched version of v1.0.11 with the [fix from master](https://github.com/kubernetes-sigs/kustomize/commit/77b44f570a77073662f069b09b8bd8636027c580) cherry-picked in.

[2019-01-28 23:01] liggitt commented on #738
not sure I understand that option... that sounds like a file that does not declare its version is treated as v1beta1 *and* v1, which doesn't seem possible

[2019-01-28 23:06] liggitt commented on #738
if there's a significant number of existing files that would be affected by making it required, loudly complaining/warning (as we do now), indicating what version (v1beta1) the file is being treated as, and indicating it will be made required in the next version of kustomize seems ok

out of curiosity, in what version did this warning show up (and what specific "next version" of kustomize was this

[2019-01-29 00:32] monopole commented on #738
_requiring_ a Group/Version Kind

Upside :+1:
 - obviously, it gives us a way to do versioning in a way that k8s people recognize.  This hasn't been an issue yet; we've just treated the file like a proto - if we can read it, even in a backward compatible way, then yay, else just complain about whatever field causes the problem.  Someone who downloaded a binary six months ago is going to see some e

[2019-01-29 00:59] msheiny commented on #692
I was just getting ready to use `kustomize` and this ticket has me concerned on how to proceed. How are other `sops` users working around this in the meantime? Using an older version of `kustomize` until a workaround comes in?

[2019-01-29 07:42] fassmus commented on #719
Had the same issue  (#616) . Should be fixed with next release.

[2019-01-29 09:12] michalschott opened #741 "Parse variables in ConfigMaps"
kustomize 1.0.11

Trying to deploy nginx-ingress-controller with kustomize, I'm facing an issue where I need to be able to dynamically inject namespace name to ConfigMap.

I've tried this:
[REDACTED]
[code]

Output is:
[code]

Adding regular ConfigMap.yaml file to resources gives similar output.

[2019-01-29 12:42] queil commented on #719
Ok, closing.

[2019-01-29 12:42] #719 closed

[2019-01-29 14:17] johnhny opened #742 "patchesStrategicMerge for non-kubernetes resources"
Hi everybody 👋

I'm curious how to use Kustomize patchesStrategicMerge to patch **non-kubernetes resources**.

I created a tiny example project, to demonstrate the issue:
https://github.com/johnhny/kustomize-patch-non-k8s

1. A k8s deployment with a patch that should MERGE into the original deployment.yml
2. A non-k8s resource ("bee") with a patch that should MERGE into the original bee.yml

When

[2019-01-29 15:44] Hermain commented on #306
I have no idea how to specify strategic merge in the customization.

[2019-01-29 17:10] Liujingfang1 commented on #738
The group in apiVersion is not necessary. A similar case is kubectl configuration files where the apiVersion is `v1` and the kind is `Config`.

Agreed.

[2019-01-29 17:17] pwittrock commented on #738
unspecified implies `core` which is definitely wrong.

[2019-01-29 17:31] pwittrock commented on #738
For prior art - the kubeconfig file has a Kind `Config` and version `v1` (with no group).

https://github.com/kubernetes/kubernetes/blob/06e1af74ef39c2cc32a5b950adb8f6cc95e03007/staging/src/k8s.io/client-go/tools/clientcmd/api/types.go.

[2019-01-29 17:32] pwittrock commented on #738
Can we make the kind / version required in the kubectl version but defer it as required in kustomize so we don't break folks?

[2019-01-29 17:33] Liujingfang1 commented on #741
duplicate as #682

[2019-01-29 17:33] #741 closed

[2019-01-29 17:38] liggitt commented on #738
fyi, that predated the existence of API groups as a concept. today, new config types are being placed in a `<component>.config.k8s.io` API group

[2019-01-29 17:39] Liujingfang1 commented on #603
From the original description, the variable is `NAMEPSPACE` with an extra `P`. Maybe that's the reason.

[2019-01-29 17:39] #603 closed

[2019-01-29 17:43] pwittrock commented on #738
@liggitt Who defines what the component is?  Is that sig-arch?  The sig owning the piece?

[2019-01-29 17:50] Liujingfang1 commented on #738
We can do this, but that will be an inconsistency between `kustomize` and `kubectl kustomize`.

[2019-01-29 17:53] pwittrock commented on #738
How big of a problem is that?

[2019-01-29 18:01] Liujingfang1 commented on #738
`kustomization.yaml` works in `kustomize` doesn't work in `kubectl kustomize` when missing those fields. For local bases/overlays, users can add those fields manually or by `kustomize edit fix`. For remote bases that users don't have control, this will fail and they couldn't fix it.

[2019-01-29 18:22] Liujingfang1 commented on #742
`patchesStrategicMerge` treats the patch as a strategic merge patch when corresponding resource is native in Kubernetes. If a kind is not found, such as a custom resource, the patch is treated as json merge patch. The JSON patch will replace the whole tree as @johnhny observed. To keep the volumes under spec, you also need to add them in the patch.

Here is some background related to this. Strateg

[2019-01-29 18:22] #742 closed

[2019-01-29 18:23] Liujingfang1 commented on #306
Need to document that patches for custome resources are treated as JSON merge patch. #742

[2019-01-29 19:14] Liujingfang1 commented on #727
@sheldonkwok The patches are not applied in order. If there are several patches for the same object and one of the patch need to be applied last, this can be achieved by organizing the patches into different base/overlays. The patch to be applied last is put in an overlay while other patches are put in a base.

[2019-01-29 19:14] #727 closed

[2019-01-29 19:17] #686 closed

[2019-01-29 19:22] sheldonkwok commented on #727
Thank you!

[2019-01-29 19:45] Liujingfang1 commented on #680
@narg95 According to the comment history here, it could be a common use case. If would be nice if Kustomize can provide some convenience here.

The example listed is a JSON file as the value. There are other cases as well. For example, I may have the configmap generated from following files
[code]
There is no limitation on what type of files can be used to create a ConfigMap. How to detect the for

[2019-01-29 20:42] monopole commented on #738
@Liujingfang1 - good point re remote bases.  counterarg:

- We support remote repos as bases, but that doesn't mean we recommend that someone use a repo not under their control.  The use case here is different teams in the same org; they are motivated to cooperate.
- If the desired base is not an owned repo (i.e. something found via web search) then - as we tell people in our workflow example - th

[2019-01-29 21:11] Liujingfang1 commented on #738
Does this solution sound good to you @liggitt @pwittrock ?

[2019-01-29 21:16] monopole commented on #738
We could mention this issue at the sig-cli meeting and see if anyone else thoughts.

We're eager to put a new release out.  We already have to go to v2 because of other changes.

But if we push v2 right now, and then later decide these fields should be required, we'd be faced with v3 :)

[2019-01-30 03:34] monopole commented on #723
Hi, thanks.

At least one of the main contributors has been showing up at [sig-cli meetings](https://github.com/kubernetes/community/tree/master/sig-cli) since the project started, and sometimes there's kustomize talk.  Lets try that first since it's already a commitment.

[2019-01-30 03:40] sethpollack commented on #723
Ok, I'll try and join those meetings. Thanks!

[2019-01-30 03:40] #723 closed

[2019-01-30 05:43] liggitt commented on #738
it has typically is a form of the consuming binary name. config groups we have are:
[code]

As an approach, yes. As a specific group name, `kustomize.config.k8s.io` fits the mold and seems reasonable if the command is going to continue to run as a distinct command

[2019-01-30 07:03] narg95 commented on #680
@Liujingfang1 thanks for your feedback!

did you mean :*generated from a file with the following values*, right?

right, I think the file type support should extensible and we can start with JSON, then props (key=value) and then perhaps yaml.

I was thinking in how it could look like, here are my two cetns on the syntax:

base config map
[code]

my-app-settings.json
[code]

---
Overlay

kustomizat

[2019-01-30 17:02] monopole commented on #738
Fine with `kustomize.config.k8s.io`.

Still haven't heard a user or developer benefit to _requiring_ these API fields in a non API object.

In favor of _allowing_ them to be present, and demanding that if present they have particular values, and that those particular values are the assumed values if the fields are missing.  Everyone wins :)

[2019-01-30 17:34] monopole opened #746 "Document kustomization file versioning policy."
discussed in sig-cli on 2019/jan/30

[2019-01-30 17:35] monopole opened #747 "Implement Kustomization file versioning policy"
As defined in resolution to #746

[2019-01-30 21:12] dbachrach opened #750 "bases with a git repo causes SIGSEGV"
Building on the work covered in https://github.com/kubernetes-sigs/kustomize/issues/585, I'm running into the following when doing `$GOPATH/bin/kustomize build`:

[code]

My kustomization.yaml:

[code]

It looks like support for git@bitbucket.org URLs did work a few days ago. If I checkout 2ef16dc then kustomize works and succesfully pulls from bitbucket.

I can confirm that the 2ef16dc state does

[2019-01-31 11:39] MatteoJoliveau commented on #702
Agree, this would be extremely helpful

[2019-02-01 06:40] AndresPineros commented on #747
I'm not sure if this is the place to ask, but I want to know if this solves the problem I have with Kustomize.

Currently I realized that Helm is overkill because templating should be used for complex deployments only, not your everyday application deployment. Simple deployments can be handled easily with plain Kubernetes files, but reutilization is still something attractive. Basically this is wh

[2019-02-01 14:54] turbotankist commented on #504
put
[code]
in your StatefulSet yml

[2019-02-01 16:39] clehene opened #756 "Full base order should be maintained in overlay results"
There were several issues and patches related to ordering of build results.

The current behavior doesn't seem to reflect the intended semantics of having a tool that is intended to be used in a similar fashion with git workflows.

- The logical order of elements in a Kubernetes template is not the alphabetical order.
- As a Kustomize user, I need to understand the result of the kustomization by c

[2019-02-01 20:20] clehene commented on #756
For example trying to see what the effect of a kustomization was:
![image](https://user-images.githubusercontent.com/101597/52147461-a07c8b80-261b-11e9-9c4f-6eeb64bdd265.png)

[2019-02-01 21:31] #597 closed

[2019-02-01 21:38] mikesimons commented on #692
In most tools you could avoid an intermediate file by using bash process substitution e.g. `kustomize build --secret=<(decrypt secrets.yaml)` but if I understand correctly the idea of build time flags has been rejected?

If the authors were willing to reconsider build time flags it could be a neat solution to the problem.

[2019-02-01 22:15] monopole commented on #692
@sethpollack other tool is fine and welcome, but then you have a distribution problem

@jcassee Right.  The whole thing blew up over the notion of a "hostile" remote kustomization file used as a base.  We allow the base to be a git url, but it's up to the user to only use a url they control (e.g. an internal url controlled by devops)l.  Removal of the exec was, as is the case in all these things,

[2019-02-02 00:52] jessesuen opened #758 "Ability to set images for CRD objects"
Consider the following use case where a container image is used in a CRD object. I am using a Knative Configuration as an example, but this applies to any CRD object which has an image as part of it's spec (e.g. Prometheus CRD from prometheus-operator):

[code]

From an automated pipeline, we would like to do something like:
[code]

Since kustomize has no understanding of a Knative Configuration k

[2019-02-02 10:41] sergey-shambir opened #759 "Support for mixins"
Kustomize currently interprets each overlay as a full set of resources and patches: each patch can modify only resource which is listed directly in `resources:` or indirectly within `bases:`
This means that collecting resource and patch group together to use them later is impossible.
Currently I can create following overlay hierarchy:

1.  Overlay `base` without any bases: defines cluster skeleton

[2019-02-02 10:53] sergey-shambir commented on #759
Looks like related to #727

[2019-02-02 23:34] sethpollack commented on #692
@monopole What about just adding in integrations with popular tools rather than using commands?

[2019-02-03 01:41] mikesimons commented on #692
@monopole I don't have time to write up anything as formal as a KEP at the minute but if you're interested in the idea as explained here I can see what I can do over the next week or so.

I think the main objection to the removal of the command execution was precisely because folks are either storing their secrets encrypted (e.g. sops, ansible-vault) or storing them in an encrypted value store (su

[2019-02-03 02:33] jcassee commented on #692
As a kustomize/sops user, I'd like to suggest that there are use-cases for having secrets in a base that is used in multiple overlays. For example, an external monitoring solution that requires an API key could be reused in multiple environments. I think command line options as suggested would not cover this use-case like the command options of SecretGenerator did.

[2019-02-03 02:40] sethpollack commented on #692
Agreed

[2019-02-03 16:17] mikesimons commented on #692
@jcassee @sethpollack True. The only thing I can think of for secrets working safely in bases (as currently defined) is late-binding of secrets so bases use placeholders and at build time you have to populate a dictionary that defines the replacements. Even still late binding would mean the secrets could not be stored with the base.

[2019-02-03 18:01] dexhorthy commented on #692
I like the idea of support for common tools like sops, vault, etc.

I think @sethpollack is onto something with having them live out of tree, though I don't have enough experience with golang plugins to comment on that as an implementation.

[2019-02-03 22:12] sethpollack commented on #692
@dexhorthy here is a POC, let me know what you think? #760

[2019-02-04 08:43] narg95 commented on #682
Hi @monopole,

for `mountPath` I managed to do it #761 , but for labels seems a bit trickier and harder to fix since the path varies and I do not know how to correctly target it, see in my example the `path` is `metadata/labels/my-label`, I can target `metadata/labels` but the `my-label` is dynamic.

If it is an easy fix I'll do it otherwise I can easily live without it,  since the `mounthPath` is

[2019-02-04 11:49] ikatson commented on #680
One more option to discuss here: make it possible to render configmap/secret content as templates, e.g. golang templates.

I understand that kustomize's awesomeness stems from the fact that it does not use templating to build kubernetes objects which are structured data by nature. But configmap/secret content is opaque data, so making it possible to render with templates sounds cool.

For example

[2019-02-04 18:41] Liujingfang1 commented on #682
The `labels` and `annotations` are different from other paths since they are maps and the keys are unknown. Currently Kustomize doesn't have a way to handle $vars in those fields even you add them in a custom config.

The idea from #610 might be useful. It is proposed to handle array fields.

[2019-02-04 21:04] monopole commented on #746
Fixed by #753

[2019-02-04 21:04] #746 closed

[2019-02-04 21:47] monopole commented on #692
So, do to the history of this feature (causing a rollback in kubectl), we really need a [_provisional_](https://github.com/kubernetes/enhancements/blob/master/keps/0001-kubernetes-enhancement-proposal-process.md#kep-workflow) KEP to proceed.

It doesn't have to be fully fleshed out as an implementable design doc.  It's supposed to be a high level thing, where the risks/benefits could be listed.

I

[2019-02-04 22:23] sethpollack commented on #692
Ok will do

[2019-02-04 22:32] vreon commented on #758
This sounds like something that [transformer configurations](https://github.com/kubernetes-sigs/kustomize/tree/f8060f35758336a8a33f4782c4d31defff53fb22/examples/transformerconfigs) should handle, but I was surprised to see there isn't one for image references.

[2019-02-05 01:20] sethpollack commented on #692
Ok here is the KEP https://github.com/kubernetes/enhancements/pull/811

[2019-02-05 07:11] alcohol commented on #708
Ah that explains why I could not get it working. Any update on that new release?

[2019-02-05 11:55] vDMG opened #765 "Support kustomization.yml vs yaml for Windows"
Hello,

Besides the merged commit #502 in windows we still have an error. Kustomize is only looking for kustomization.**yaml** file even if a kustomization.**yml** file exist.

**Kustomize:**
[code]

**OS:** Windows 10 Entreprise

**Error message:** kustomize_1.0.11_windows_amd64.exe build .\overlays\preprod\
Error: open [...]\overlays\preprod\kustomization.yaml: The system cannot find the file sp

[2019-02-05 17:46] #747 closed

[2019-02-05 18:32] Liujingfang1 commented on #765
Can you try kustomize from the head? We updated the code for dealing with different kustomization file names in #721.

[2019-02-05 19:31] mkobit commented on #720
This is one I've recently ran into when trying to adapt `kustomize`. JSON Patch helps in some cases but in others it doesn't work. For example, adding to an existing list of `initContainers` is possible, but if the resource does not have the  `initContainers` configuration then the patch fails to apply.

We really like the idea of being able to apply a single patch to many different resources with

[2019-02-05 21:43] hach-que opened #766 ""Load from path ../<etc> failed: security, file '...' is not in or below '...'"
I just upgraded to the latest HEAD to get support for `files` in `secretGenerator` and it looks like there's some "security" mechanism that's been added that breaks our workload:

[code]

How do I bypass this?

[2019-02-05 21:45] hach-que commented on #766
Moving kustomization.yaml to the top-level directory of the repository isn't an option either, since we have different kustomization files for different environments, and the filename is as far as I can tell, hard-coded.

[2019-02-06 08:52] tanordheim opened #767 "Binaries missing for the 2.0.0 release"
Hi there! I couldn't help noticing that it seems like the 2.0.0 release has gone out the door (judging from the docs and git tags) - but it seems there are no binary releases available for it under the Releases page for the project.

Is this intended, or has it just not happened yet? I noticed the release was pretty fresh, so.

Thanks!

[2019-02-06 09:55] michalschott opened #768 "BUG - $patch: delete with namespace in kustomization.yaml"
kustomize 1.0.11

[code]

[code]

[code]

[2019-02-06 18:22] Liujingfang1 commented on #767
@tanordheim Can you check it again? There should be 3 binaries for different operating systems.

[2019-02-06 18:44] alexbrand opened #769 "Cannot kustomize ConfigMapList resource"
When trying to use kustomize with a ConfigMapList, I get the following error:

[code]

kustomization.yaml:
[code]

configmap-list.yaml:
[code]

I suspect this might be an issue for any list type resource.

[2019-02-06 19:00] Liujingfang1 commented on #769
Currently only `List` is recognized. https://github.com/kubernetes-sigs/kustomize/blob/master/k8sdeps/kunstruct/factory.go#L111, but it should be extended to support all list types.
@alexbrand Do you want to help fix it?

[2019-02-06 19:22] alexbrand commented on #769
Yep, I'll give it a try! Thanks

[2019-02-06 19:27] alexbrand opened #770 "Improve error message when kustomization files are missing"
When a kustomization file is missing, the error message says:
[code]

We should improve this error message to indicate that `Kustomization` and `kustomization.yml` are also supported.

[2019-02-06 20:50] monopole commented on #767
Just downloaded and ran the [linux version](https://github.com/kubernetes-sigs/kustomize/releases/download/v2.0.0/kustomize_2.0.0_linux_amd64) (see links [here](https://github.com/kubernetes-sigs/kustomize/releases/tag/v2.0.0))

[code]

seems ok.

Please reopen if this you can reproduce a problem.

[2019-02-06 20:50] #767 closed

[2019-02-06 20:51] monopole commented on #739
Sorry, we we're just too bogged down.

[2.0.0](https://github.com/kubernetes-sigs/kustomize/releases/tag/v2.0.0) is out now so please try that.

[2019-02-06 20:51] #739 closed

[2019-02-06 21:16] wmedlar commented on #739
I'm afraid we can't upgrade until we come up with a workaround for the removal of secretGenerator.commands.

[2019-02-06 21:41] Liujingfang1 commented on #768
@michalschott What do you expect as the output?

[2019-02-06 21:43] Liujingfang1 commented on #766
@hach-que The files in `secretGenerators` need to be relative paths in the kustomization directory or subdirectory. `../admin.yaml` goes outside the kustomization directory. This is blocked in Kustomize 2.0.0.

[2019-02-06 21:44] Liujingfang1 commented on #765
Version 2.0.0 is released. It supports `kustomization.yml`.

[2019-02-06 21:44] #765 closed

[2019-02-06 21:47] Liujingfang1 commented on #732
This was fixed by #751

[2019-02-06 21:47] #732 closed

[2019-02-06 23:18] ahmetb opened #772 "add note on availability inside kubectl"
Can we add a note to the beginning of readme saying:

I'm actually not sure if it's in kubectl already, but came here to find out that.

[2019-02-07 08:15] tamalsaha opened #775 "Support envsubst style variable expansion"
Kustomize currently supports simple $(VAR_NAME) expansion. What about using envsubst style more flexible options?

https://github.com/drone/envsubst works well in my experience.

[2019-02-07 08:18] michalschott commented on #768
I'd expect empty output. My intention in that case was to completely remove object defined in `clamav-pdb.yaml` patch - it is empty w/o using `namespace` in `kustomisation.yaml`.

[2019-02-07 10:26] kfoozminus opened #776 "kustomize build shows error in v2.0.0 release"
`kustomize build <dir>` shows the following error -

[code]

Rolled back to previous release and it works.

[2019-02-07 10:53] kfoozminus commented on #776
kustomization.yaml contains -

[code]

tried moving `manager` and `rbac` folder to the directory where kustomization.yaml is. and changing to -

[code]

also tried changing them to absolute path like `/home/.../rbac/..`

still gives same error.

[2019-02-07 11:48] tanordheim commented on #519
This would be nice to be able to configure on a per-resource basis somehow. My usecase is that I have a Kubernetes cluster with Istio running and I want to deploy my resources using canary deployments. To do this, I:

- Deploy a service `my-service` into my namespace that has selector `app: my-app`.
- Create a deployment `my-service-v1` into my namespace that has template labels `app: my-app` and

[2019-02-07 15:03] ant31 opened #777 "Document the kustomization.yaml spec"
I found only examples of the kustomization.yaml, it makes it complex to learn the format, especially since the example doesn't expose/explain all fields.

Would it be possible to provide a spec doc similar to the kubernetes API reference?

For now the most useful resource I found is:
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/kustomization.go

[2019-02-07 15:07] mgoodness commented on #776
Probably due to #700.

In kustomize v2 `kustomization.yaml` can only refer to files in the same directory as itself, or in subdirectories. Only `bases` can refer to outside paths.

[code]

[2019-02-07 15:08] ant31 opened #778 "The command edit --from-file=key=path fails"
The following command fails:
[code]
but works if I remove 'my-key='

[2019-02-07 16:53] #776 closed

[2019-02-07 18:00] Liujingfang1 commented on #688
@hyww Sorry I missed your comments.

Yes, we need to handle all List types similar to `List`. When a List type object is given, Kustomize build need to load objects from `items` in it.

[2019-02-07 18:28] #750 closed

[2019-02-07 18:56] monopole commented on #777
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml

It's linked from several places, but perhaps not enough.

Not fancy, but we try to keep it correct.  We could replace it, but someone would have to delete it and fix all the links to it and their surrounding text.

[2019-02-07 18:58] monopole commented on #772
Not there yet.  Will do when/if it happens.  Will leave this open as a placeholder, thanks

[2019-02-07 20:34] ant31 commented on #777
@monopole this isn't a spec but an example.
It is very useful, but not complete, I can find several example of fields that are missing.
The example file doesn't have to be replaced.
I am speaking of a spec like(openapi) :
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#pod-v1-core
or less fancy:
https://github.com/kubernetes-sigs/application#application-objects

It could be li

[2019-02-07 22:39] alexbrand commented on #769
@Liujingfang1 I can think of two options to implement this:
1. Enumerate all the List types that are supported in the API. We will need to maintain this list as the API changes.
2. Use a suffix match against the resource kind when we are validating (e.g. *List). Seems a bit hacky to me. It also seems like it would break if there is ever a resource (or CRD) whose kind is *List and it does need a `m

[2019-02-07 23:13] Liujingfang1 commented on #769
@alexbrand There was a duplicated issue for this #688 and @hyww is working on a fix. I think using `*List` as well as validating it has `items` is reasonable.

[2019-02-07 23:30] alexbrand commented on #769
Awesome, thanks!

[2019-02-07 23:32] Liujingfang1 commented on #778
The error is from this function https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/commands/edit/add/util.go#L28

When `--from-file=my-key=my-configmap.yaml` is used, `my-key=my-configmap.yaml` is passed down to this function to check the existence of the file. The fix is to remove `my-key=` when calling this function.

[2019-02-07 23:52] Liujingfang1 commented on #768
@michalschott This is an interesting example. If I remove the `namespace` from kustomization.yaml, the output will be empty. Let me dig into this and see what causes the `namespace` being in the output.

[2019-02-08 00:18] jlewi commented on #758
Would it make sense for kustomize edit to support something like [yq](https://github.com/kislyuk/yq) syntax so you could do something like

[code]

For us (Kubeflow) I think this is mostly sugar so users don't have to install a separate CLI from kustomize.

Our use case is we have a lot of examples/tutorials where we'd like to tell people to change various fields in a YAML spec. I'd like to be abl

[2019-02-08 00:52] Liujingfang1 commented on #758
@jessesuen Image transformers assumes the images are in podtemplate. It finds and replace images under `containers` and `initContainers`. https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/image.go#L60
Your CRD doesn't use pod template and contains only one container instead of a container list. To support that, Kustomize need to have a pathconfig for image transformer simil

[2019-02-08 00:58] coderanger commented on #217
Asking again, is there a reason this was removed? It's kind of required for a lot of existing use cases. The stated replacement is that you should regenerate your kustomization.yml every run, which is kind of pointless, why not just make the regen tool handle what I need then, defeats the point of static config data being static.

[2019-02-08 02:43] jlewi commented on #758
@Liujingfang1 So if our CRD contains PodTemplateSpec will this work?

In Kubeflow our CRD's almost always use PodTemplateSpecs. For example a TFJob looks like the resource below. So spec.tfReplicaSpecs[Ps].template is a PodTemplateSpec. Would we be able to use kustomize to set images via kustomize in those pods?

[code]

[2019-02-08 09:54] jessesuen commented on #758
@Liujingfang1 - just so I understand correctly: so for this to work the following would need to happen:

1. kustomize will need to introduce a new feature, an "image" transformer to add in this list: https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs

2. To support the ability to set image in a Knative Configuration CRD object, then some custom knative transformer

[2019-02-08 09:59] luisyonaldo commented on #519
@tanordheim did you find a workaround? I can't find something that is not supper ugly to do this.

[2019-02-08 11:14] tanordheim commented on #519
@luisyonaldo I ended up just using `sed`/`envsubst` on the files in question before running `kustomize build`; it's not nearly pretty, but this way I control which resources have my version suffix and which do not.

[2019-02-08 11:15] mamoit commented on #189
Is this still working?
I'm running `2.0.1` (shiny and new) and am trying to use globbing but it throws:
[code]
But the files are most definitely there.
Was the support for globbing in configMapGenerator dropped?

[2019-02-08 12:15] luisyonaldo commented on #519
@tanordheim can you provide an example?

Currently I have a `base` with the current resources:
[code]
then I have two overrides: `prod` and `canary` (each with the own name prefix `prod` and `canary`). Where `canary` only have the resources `deployment.yaml` and `virtual-service-patch.yaml`. All works good except that the patch is creating a new `virtual-service` because the `namePrefix` changed.

[2019-02-08 16:31] Liujingfang1 commented on #758
@jlewi Yes，you can use kustomize to set images for `TFJob` objects.

[2019-02-08 16:43] Liujingfang1 commented on #758
@jessesuen Basically, you get the key part. Let me clarify in details.

"image" transformer exists already, need to introduce its configuration to allow customizing the paths to perform image transformer.

Yes.

Here you don't need to list all configurations. Only `knative-image.yaml` should be enough. Now kustomize allows to merge the customize configurations with default ones.
[code]

Only step

[2019-02-08 19:52] tammersaleh commented on #119
I agree with @aiman-alsari - I don't think this matches real-world usage.  Any chance we could reconsider the removal of resource globbing support?

[2019-02-08 21:38] jessesuen commented on #758
OK, I think this solution seems reasonable. So long as we can automate the setting of an image of a CRD object from a pipeline using the kustomize CLI (e.g. `kustomize edit set imagetag mycompany/guestbook:v2`), then this is not a blocker for us.

 Please feel free to rename the title of the bug appropriately.

[2019-02-09 14:24] fentas commented on #205
Using vs code its kind of irritating that `kustomization.yaml` files marked as wrong.

[2019-02-09 18:59] hach-que commented on #766
@Liujingfang1 2.0.0 blocks relative paths everywhere as far as I can tell.

The issue is that `kustomization.yaml` is hard-coded, so how can I have two different kustomization targets when they need to draw on the contents of the Git repository? I can't use relative parent paths anymore.

Imagine I have a directory structure like this (right now):

[code]

With relative paths blocked, your proposa

[2019-02-11 08:59] narg95 commented on #682
@Liujingfang1
Hi, thanks for the info. Actually I took a look to the code and it turn out to be easy to add support for `map[string]interface{}` without adding any special mark to the path. Check PR  #782

[2019-02-11 09:15] mxey commented on #205
Since Kustomize now has `apiVersion` and `kind` in the file, maybe the schema can be put where the other Kubernetes API schemas are, so all editors that import the Kubernetes API schemas will just get it?

[2019-02-11 23:11] boatmisser commented on #249
Is this a feature or a bug?
I have the same question; I was not expecting 'commonLabels' to add/create a matching selector.
Adding labels and applying a label to selector are two different things in my opinion.

[2019-02-12 16:00] gitirabassi opened #787 "secretGenerator to use Vault"
The new secretGenerator uses: `LiteralSources `, `FileSources`, `EnvSource`.

I wonder if a `VaultSources` would be useful?
Using vault from Hashicorp as single source of truth for credentials without ever persisting them on disk unencrypted.

If this is approved I can provide a PR with some code implementing this

[2019-02-12 19:55] laverya commented on #688
Is there any functional difference between `ConfigMapList` and a list composed entirely of `kind: ConfigMap` objects? (Are you allowed to leave off the apiVersion/kind of the list items?) The "in-the-wild" examples of these that I've seen ([RoleList](https://github.com/helm/charts/blob/7d0450231c4fe88483d5cb15b760a5886f3c1903/stable/prometheus-operator/templates/prometheus/role-specificNamespace.y

[2019-02-12 21:07] monopole commented on #775
Thanks, we should probably have a faq.

Kustomize supports a structured form of $VAR substitution - it's not template style.

envsubst is called out as something we're currently eschewing:
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#unstructured-edits

One is of course free to do this sort of thing in a pipe/

[2019-02-12 21:07] #775 closed

[2019-02-12 23:18] #688 closed

[2019-02-13 16:49] monopole opened #791 "Remove the windows OS release"
Until we have feature level test suite on windows, this should be removed.
People are free to build on windows on their own.

[2019-02-13 18:08] rodlogic commented on #567
I don't see how #720 summarizes this issue. This issue here, as far as I understand, talks about patching multiple resources that are not necessarily known when creating the patch.

The use case that interests me is where provisioning an infrastructure would also create a patch that would add infrastructure specific annotations.

For instance:
[code]

The idea is to include this patch in one or mo

[2019-02-13 22:07] adeshmukh-quizlet opened #792 "README steps for springboot example don't explain how to use kustomize with the sample contents"
# Summary
The README.md steps for the springboot example work perfectly fine. However they do not explain how to use kustomize with the contents of the springboot example. In particular, I was looking for an example that illustrates how to organize kustomization for multiple environments. The contents of the springboot example are exactly what I was looking for. But attempting to use kustomize wit

[2019-02-15 01:41] monopole commented on #787
please consider using @sethpollack 's [secret generator plugin plan](https://groups.google.com/d/msg/kubernetes-sig-cli/MY6hjg2-J-0/bDfwF89SAwAJ)

We'll have some process (likely  just a PR) for graduating from plugin (which requires more download work for the user) to a 'builtin' secret generator.

The code change would be minimal given a plugin.

A plugin is just a Go package, so you go from loa

[2019-02-15 09:27] povilasv opened #793 "Merging `stringData` and `data` fields in Secrets"
Currently `kustomize` doesn't support merging of `data` & `stringData` in secrets, which leaves to generated config looking like:

[code]

which has both fields set instead of 1.

[2019-02-15 10:24] mark-visser commented on #249
That's what we have done. Works fine for now.

 I must say that I do not find this to be a very clean solution, I would rather have an option to exclude it somehow.

Thanks for the suggestion though

[2019-02-15 20:46] chrisghill commented on #793
I'm not a Kustomize contributor, but this might be intentional.  Kubernetes can support both fields being specified, and specifically states that

https://kubernetes.io/docs/concepts/configuration/secret/#details

Additionally, data fields are for arbitrary base64 encoded data and stringData is explicitly for strings, meaning merging those fields is non-trivial and in certain cases wouldn't be pos

[2019-02-15 22:22] figo opened #794 "two kustomize files share some resource files"
before kustomize 2.0 version, it is possible to have 2 kustomize files refer to same resource file

for example
folder1/kustomize_1.yaml
[code]
folder2/kustomize_2.yaml
[code]

now with kustomize 2.0, it is restricting `../`, it becomes impossible to have
two kustomizes sharing same resource file.

one possible solution for this is:
add option to specify kustomize file name at `kustomize build`

f

[2019-02-15 22:27] Liujingfang1 commented on #792
@adeshmukh-quizlet You can follow the steps in the README file to create those kustomization.yaml.
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/springboot/README.md

[2019-02-15 22:38] Liujingfang1 commented on #793
@povilasv Do you use Kustomize 1.0.*? Kustomize 2.0.0 doesn't support adding `stringData`. If you need this feature, please open another issue for it.

[2019-02-15 22:46] Liujingfang1 commented on #794
@figo Kustomize doesn't provide this option since we want to encourage the best practices of storing the entire configurations in a version control system. To see more details of the explanation, please go [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables).

You can create a base kustomization with resour

[2019-02-15 22:55] figo commented on #794
@Liujingfang1 thank you, i think it going to work with `bases`, if i understand it correctly, now, `bases` is means for shared resources, and `resources` is for local resources. correct?

[2019-02-15 22:56] Liujingfang1 commented on #794
@figo Yes.

[2019-02-17 00:43] monopole commented on #758
agreed with above - the image transformer needs to be modified to accept field config, like (for example) the label and annotation transformer.  Cannot take this at the moment.

[2019-02-17 00:50] pwittrock commented on #791
FWIW, we build kubectl for windows without tests.

[2019-02-17 02:07] monopole commented on #756
These issue are related, but we might be able to get more help if it were sharded into smaller chunks, and expressed more concretely as "for the following command i want the following output".
E.g. make a small test in https://github.com/kubernetes-sigs/kustomize/tree/master/pkg/target
with an example of comments not being preserved.

[2019-02-17 02:11] monopole commented on #794
@figo yes, use a shared base - it can be a relative path.

This is how we, for example, [share](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/README.md) common config between a dev, staging and production instance.

 thanks!

[2019-02-17 02:11] #794 closed

[2019-02-17 23:04] 2opremio commented on #564
@Liujingfang1 Is a `--force` flag still acceptable? I may find the time to create a PR.

Derailing a bit, I have always found the distinction of `edit add` and `edit set` really inconvenient for automation. My expected behavior would be _add it if it doesn't exist and and edit it if it does_. In that way I would expect a `--force` flag for other commands like `edit set image` too.

[2019-02-18 09:12] povilasv commented on #793
I'm using latest version `v2.0.1`, if that's intentional behaviour feel free to close the issue.

[2019-02-18 21:26] donbowman commented on #277
given that commands have been removed from kustomize, is there another way to achieve this?

[2019-02-18 21:30] sethpollack commented on #277
We are working on it https://github.com/kubernetes/enhancements/pull/811

[2019-02-19 05:03] adeshmukh-quizlet commented on #792
@Liujingfang1 Thanks for taking a look at this issue and responding. Like I mentioned in my report, I am able to follow the steps mentioned in the README.md, but they do not correspond to the _content_ in that folder.

In particular, I'm looking for an example that shows how one can organize kustomization of the same base for multiple environments. i.e. say I have 2 environments **staging** and **

[2019-02-19 17:40] #793 closed

[2019-02-19 18:57] PatrickLang commented on #791
kubelet, kube-proxy, and parts of kubectl (via conformance suit) are tested on Windows on both Azure and GCP

cc @yujuhong and @pjh

[2019-02-19 20:51] brendandburns commented on #791
cc @parispittman @mattfarina

I believe that we should mandate support for all major OSs (indeed Windows is the majority OS by far) for all tools that we are building. The right fix isnt to disable windows, it's for kustomize folks to add tests.

Matt, let's discuss this in sig-arch.

[2019-02-19 21:50] yujuhong commented on #791
For GCE, we tests kubelet/kube-proxy primarily through e2e tests. More tests (e.g., unit tests) should be added in the future.
AFAIK I don't think we are testing the kubectl windows binary in those tests since it requires running the tests on a Windows machine. I agree that tests should be added though.

[2019-02-19 21:59] mohnishkodnani commented on #766
Kubebuilder framework by default produces the following directory structure.
default
- kustomization.yaml
- patch_XYZ.yaml
rbac:
- rbac_role.yaml
manager:
- manager.yaml

In the default kustomization, rbac and manager folders are mentioned as resources.

Now if  I have to create overlays I create
overlays/production
- kustomization.yaml

Here I put base as the default.
But then it complains that r

[2019-02-19 22:13] Liujingfang1 commented on #766
@hach-que  You can put the files used by both to base and include that base in both dev and prod.
[code]

@mohnishkodnani I'm not sure I understand your problem. The base `default` has resources `rbac` and `managers`, but the overlay doesn't work. Is that the problem you mean?

[2019-02-19 23:03] adeshmukh-quizlet commented on #766
@Liujingfang1 I ran into the same issue after upgrading to `kustomize 2.x`. I was able to fix the problem by following your tip! To summarize the change I needed to make:

I have the following folder structure:
[code]

To fix the problem:
1. I added file `base/kustomization.yaml` with:
[code]
2. Updated `overlays/staging/kustomization.yaml` and `overlays/production/kustomization.yaml` to replace:

[2019-02-20 00:59] Liujingfang1 commented on #682
fixed by #761 and #782

[2019-02-20 00:59] #682 closed

[2019-02-20 08:29] jskold opened #798 "Kustomize 2.0.x breaks re-use of patches"
I have a structure that looks like this:

[code]

Both app1 and app2 apply the patches (ingress-host-dev.yaml and ingress-host-stage.yaml) to modify the ingress host in their  dev and stage overlays. This worked flawlessly in Kustomize 1.x and it saved me from having to duplicate a lot of configuration. In Kustomize 2.x this no longer works, resulting in this error: `Error: security; file '../../.

[2019-02-20 08:40] gysel commented on #741
Can you please reopen this bug? I just tested it with a version based on `e1420b40` and the var is still not replaced.

File `kustomization.yaml`

[code]

File `a-deployment.yaml`

[code]

Current output is:

[code]

Expected output is:

[code]

[2019-02-20 13:58] donbowman opened #799 "Doesn't expand vars in 'secretName' in ingress"
If I have the below yaml, it properly fills in `host` and `tls.hosts`, but not `tls.secretName`. `tls.secretName` ends up unchanged. Is there a reason?

[code]

With this `kustomization.yaml`

[code]

[2019-02-20 14:36] jcassee opened #800 "Name conflict reusing base with different name prefixes"
I have a kustomization that uses two levels of overlays combining a common component such that when I run `kustomize build` I get the following error:
[code]

Because the setup is difficult to describe in words I have attached a ZIP containing the test case:
[pvc-nameprefix-problem.zip](https://github.com/kubernetes-sigs/kustomize/files/2884966/pvc-nameprefix-problem.zip)

It seems that the common

[2019-02-20 16:10] donbowman opened #801 "pull secrets not templated correctly with hash name"
This was previously discussed  in https://github.com/kubernetes-sigs/kustomize/issues/128 and changed in https://github.com/kubernetes-sigs/kustomize/pull/130

but it doesn't work in all circumstances. Specifically, it does not work when namespace/nameprefix are used.

[image-pull-secret.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/2885409/image-pull-secret.tar.gz)

If we take the at

[2019-02-20 17:23] Liujingfang1 commented on #741
@gysel We don't add ConfigMap to the default vars transformer configurations since we don't think it's the best practices. However, supporting vars in a map field has been solved. For you use case, you can support it by using a custom configuration. First create a base with kustomization.yaml as
[code]
where `varconfig.yaml` has following content
[code]
Then include this base in your `kustomizatio

[2019-02-20 18:39] vreon commented on #798
I've been successfully using a structure like this:

[code]

[2019-02-20 18:53] Liujingfang1 commented on #792
I see. We'll add the complete layout for this example and make sure it works with 2.0.

[2019-02-20 18:59] Liujingfang1 commented on #798
@vreon Thank you for providing this example.
@jskold You need to restructure your config directories. Put the patches into the bases. Then include the case in different overlays. In this way, the patches will be effective in different overlays.

[2019-02-20 19:00] donbowman opened #802 "secretGenerator does not add labels"
I have:
[code]

I also have:

[code]

the resulting secret does not have a label applied.

this in turn breaks the ability to run `kubectl apply -f - --print -l app=MYLABEL`

[2019-02-20 19:05] Liujingfang1 commented on #802
@donbowman Can you paste the output of kustomize build?

[2019-02-20 19:19] donbowman commented on #802
[code]

[2019-02-20 19:25] Liujingfang1 commented on #802
Are they from the same kustomization.yaml?  The configmap `env-96t7khh47h` does have the label.

[2019-02-20 19:44] donbowman commented on #802
I'm running `kustomize build overlays/dev/fluent-bit` from the below tree. It has:

[code]
tree
[code]

[2019-02-20 19:46] donbowman commented on #802
If I add the commonLabels in two spots (app/fluent-bit/kustomization.yaml and overlays/dev/fluent-bit/kustomization.yaml) it works.
but it works w/o this for the other objects generated.

[2019-02-20 19:47] jskold commented on #798
@vreon thanks for the example! I guess I'll restructure my config to look similar to the way you describe.

[2019-02-20 19:47] #798 closed

[2019-02-20 20:00] donbowman commented on #802
[image-pull-secret-cl.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/2886276/image-pull-secret-cl.tar.gz)

with the attached, run `kustomize build overlays/dev/fluent-bit/` to see the problem.

[2019-02-20 20:00] adeshmukh-quizlet commented on #792
FWIW, I was able to get my core use case of managing customizations per-environment per my comment on another issue: https://github.com/kubernetes-sigs/kustomize/issues/766#issuecomment-465348108

I was also able to get the springboot sample working by making a couple of changes to the files as illustrated in the attached patch file.

[kustomize-issue-792-patch.txt](https://github.com/kubernetes-s

[2019-02-20 22:20] Liujingfang1 commented on #792
@adeshmukh-quizlet Would you like to create a PR for this?

[2019-02-20 22:23] Liujingfang1 commented on #800
I'll look into this. It is probably caused by how kustomize finds matching objects.

[2019-02-21 01:55] donbowman opened #803 "images doesn't apply from all layers"
If I have the below, and am doing `kustomize build overlays/dev/fluent-bit`, if I put 'images' in environments/dev/kustomization.yaml they are ignored.
If i put them in overlays/dev/kustomization.yaml they are processed.
[issue.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/2887287/issue.tar.gz)

attached shows.

[code]

[2019-02-21 03:20] yujunz opened #804 "Failed to update statefulset"
[code]

[2019-02-21 04:46] mjsjinsu commented on #519
+1

[2019-02-21 13:33] narg95 commented on #799
Hi, if you check here https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/varreference.go#L106 you will see it is missing.
You can either use a custom config, or submit a PR with the fix

[2019-02-21 15:15] fentas commented on #702
We use https://git-secret.io to de/encrypt secrets.
I don't know if this suits everybody. Decryption happens within git repo not k8s but could be an option?

[2019-02-21 16:21] LandonTClipp opened #806 "Support for ephemeral field editing"
First issue, sorry if I'm violating any guidelines.

As far as I'm aware, the only command-line method for editing fields edits the actual kustomization file. It would be nice if there were a way to specify fields to edit from the command line that applied _only to that particular build_.

For instance, doing something like:

[code]
modifies the kustomization file, however I propose something like

[2019-02-21 17:33] Liujingfang1 commented on #804
@yujunz Can your provide the configurations to reproduce this error?

[2019-02-22 01:17] Liujingfang1 opened #808 "kustomize panic"
[code]

[2019-02-22 07:49] narg95 commented on #808
I took a look and as far as I cann see the only reason for it to happen is when the `initContainers` or `containers` path is not an `array` but a `map`. Looking at the kubernetes specification https://kubernetes.io/docs/reference/ I can not find that `map` is a valid use case. So the only solution that I see is to prevent the panic and instead to provide a meaningful error message.

@Liujingfang1

[2019-02-22 08:05] bai commented on #756
I think with git workflow in mind, ideal behavior would be keeping manifest keys order as is (unchanged).

It kind of makes sense to rearrange Resources (e.g. make sure Namespace created first, ConfigMap created second, Deployment depending on first two created third). Although I could see how this _could_ be little too opinionated for some use cases.

However, within a single Resource sorting key

[2019-02-22 10:22] narg95 opened #810 "base with relative path inside the same remote repo fails with "bases in kustomizations found in cloned git repos must be within the repo""
# Description

when referencing a base by a *url* and such base contains a `base` with a relative path within the same repo, `kustomize build` fails on MacOS with:
[code]

The expected behavior should build `bases` with relative paths within the same repo.

# How to reproduce it:

Build the following kustomization file:

[code]
run
[code]

Note the `/private` prefix in the path. The comparison is

[2019-02-22 15:14] #778 closed

[2019-02-23 12:52] jessesuen commented on #810
I'm hitting this as well. My kustomization.yaml has a single, remote base, but it cannot render because the remote base I'm referencing, itself is using relative `../path`.

[code]

[2019-02-23 17:46] narg95 commented on #810
@jessesuen the fix #810 is already merged. You can wait till next patch release 2.0.2, or if in a hurry install master's version with go get

[2019-02-24 03:31] yujunz commented on #804
I don't remember the exact condition. But it seems related to my local modification to the manifest. Maybe I changed something that is immutable. I wonder if `kustomize` can warn it before sending to kubernetes and propose a delete/apply operation instead.

[2019-02-24 09:36] darwin67 commented on #803
I'm seeing this too but mine get ignored regardless of where I put it and it just doesn't apply at all.

I have a deployment with the following
[code]

and tried putting this on both the `base`, `overlay`, then both.
[code]

Running
[code]

gave me an empty output

[2019-02-24 15:56] donbowman commented on #803
@darwin67 Don't you want 'images' rather than 'vars'?

[2019-02-24 17:38] donbowman opened #814 "Add ability to create imagePullSecrets"
Today I use a script:

[code]

and then:

[code]

I would like to be able to have registry credentials handled so that i can config auth/user/token directly, similar to how kubectl does with:
``kubectl create secret docker-registry regcred --docker-server=<your-registry-server> --docker-username=<your-name> --docker-password=<your-pword> --docker-email=<your-email>`
i`

Given its at the pod level,

[2019-02-24 18:54] donbowman opened #815 "CRD's don't load for cert-manager"
The source file https://github.com/jetstack/cert-manager/blob/v0.6.2/deploy/manifests/00-crds.yaml

A 2-line kustomization.yaml:
[code]
yields the error:
[code]
and no other info.

[2019-02-24 18:56] donbowman commented on #815
It appears no crds work, this example gives the same result:

[code]

[2019-02-24 19:00] darwin67 commented on #803
sorry, not sure why i posted `vars`, it was `images`. updated my previous comment.

[2019-02-24 19:32] donbowman opened #816 "Error: strconv.Atoi: parsing "": invalid syntax"

[2019-02-24 19:35] donbowman commented on #816
[x.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/2898294/x.tar.gz)

sample file attached.

[code]

i've trimmed this down, the yaml is valid. The issue is the missing - on the end of the patch path.

/spec/template/spec/containers/0/args/ --> error Atoi
/spec/template/spec/containers/0/args/- --> no error

this was hard to track down, no line number or file or path name or type.

[2019-02-25 03:26] jessesuen opened #817 "Unable to disable commonLabels injection using transformer config: `Error: conflicting fieldspecs`"
I am trying to to use the commonLabels feature, but without the behavior to inject the label into selectors by using transformer configs. According to the docs, I believe this is described as [one of the use cases](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/README.md#customizing-transformer-configurations): "disabling adding commonLabels to fields in some

[2019-02-25 09:19] sirkonst opened #818 "Can't set annotation with colons"
[code]

[code]

:-(

[2019-02-25 10:51] tobgu opened #819 "VolumeClaimTemplates overwritten by StrategicMergePatch"
I have a stateful set with the following volumeClaimTemplate:
[code]
When I apply a patch as the below the whole spec is overwritten. I would have assumed only the parts in the patch to have been overwritten.

[code]

Is this the expected behaviour? I can work around it by including `accessModes` and `storageClassName` in the patch but it would be nicer to not have to.

[code]

[2019-02-25 13:51] donbowman opened #821 "kustomize re-orders config causing fail when crd or admission webhook used"
If we look @ [cert-manager](https://docs.cert-manager.io/en/latest/getting-started/install.html) we see that it has in its output:

- crd
- objects
- webhooks
- objects using webooks + crd

thus the order must be preserved.

So if I apply `kustomize` across their input and add
[code]

to the 'end', i get a failure

[code]
the attached output file shows. The `selfsigning-issuer` `ClusterIssuer` is

[2019-02-25 13:54] donbowman commented on #821
possible solutions?

- kubectl gets a 'sort' or 'order' concept
- kubectl gets a 'begin/commit' phase like sql
- kustomize maintains order
- kubectl understands crd + webhooks, orders crd first, then webhook creation first
- kustomize understands order and emits crd first then webhook

others?

[2019-02-25 16:57] donbowman commented on #821
In the short term I have a workaround:
https://github.com/Agilicus/yaml_filter

[code]

[2019-02-25 17:04] gysel commented on #741
Thanks, that worked! I was able to inject the namespace into a config file and get rid of an ugly hack.

I agree that this feature not be active by default - but is it documented somewhere?

[2019-02-25 17:52] pwittrock commented on #821
kustomize already sorts things like namespaces for this reason.  CRDs and Webhooks should also be sorted IMHO.

[2019-02-25 18:00] pwittrock commented on #821
I think we just need to add MutatingWebhooks here: https://github.com/kubernetes-sigs/kustomize/blob/92fc368ede090d7198611b3a320a58fd222ad3e8/pkg/gvk/gvk.go#L73

[2019-02-25 18:17] Liujingfang1 commented on #810
fixed by #811

[2019-02-25 18:17] #810 closed

[2019-02-25 19:50] deedubs commented on #87
We have the use case where we are deploying multiple operators into a cluster, we have defined the operator deployments using kustomize and pull them into a clusters kustomization.yaml as bases.

Each operator installs into its own namespace, and as such, each one needs a pull secret inserted.  Secret generator can't enumerate the namespaces so we chose to deploy a "blank" secret into each base, a

[2019-02-25 22:52] wenjiaswe opened #823 "Dependency update needed because of golang/x/net change"
Here is the background: a deadlock issue in older version of golang/x/net was causing[ some problems](https://github.com/kubernetes/kubernetes/issues/70819) in kubernetes, to fix that, kubernetes needs a new version of golang/x/net that has the fix for the deadlock issue.

[Here is the K8s PR that is trying to update golang/x/net dependency](https://github.com/kubernetes/kubernetes/pull/71501), ho

[2019-02-25 23:44] Liujingfang1 commented on #823
@wenjiaswe Is there any timeline for this need to fixed? Thank you.

[2019-02-26 18:35] donbowman opened #824 "Enhancement: put path/type in json patch rather than in kustomization.yaml"
Currently we have json patches split into two spots (kustomization.yaml and the patch itself):

[code]

This makes it hard to manage (since i'm often making a similar patch to 2 or more `base` files). It would be simpler if the type/path was in the patch, like below.

E.g. when changing a containerPort across the deployment + service + ingress, its easier to manage a single file called 'change the

[2019-02-26 19:02] wenjiaswe commented on #823
@Liujingfang1 I think @PrasadG193 does have a workaround right now, but I do think this could go in ASAP. @PrasadG193 already has a fix now, if you could help review and approve it, it would be great! Thank you!

[2019-02-26 20:50] monopole opened #826 "misleading error message: "var defined but not used""
see https://kubernetes.slack.com/messages/C9A5ALABG/convo/C9A5ALABG-1550730619.005800/
possibly authored by @yujunz

[2019-02-26 22:08] lxfontes commented on #815
hai don, I think this is related to
https://github.com/kubernetes-sigs/kustomize/issues/480#issuecomment-432455884

[2019-02-26 22:14] #826 closed

[2019-02-27 05:49] #823 closed

[2019-02-27 06:38] monopole commented on #791
@brendandburns Contributions >> mandates.  PR/infrastructure welcome.

[2019-02-27 17:50] mattfarina commented on #791
@monopole Kustomize was merged into kubectl (see https://github.com/kubernetes/kubernetes/pull/73033). How does kustomize in kubernetes-sigs relate to the kustomize that was part of that PR? Some clarity there would help.

@brendandburns are you suggesting a strategy for our client tooling for supported OSes? It might be better to take this to the mailing list to start. So folks can have time to t

[2019-02-27 18:48] darwin67 commented on #803
I tried using `v2.0.2` and it still doesn't work.

[2019-02-27 19:30] monopole commented on #791
@mattfarina kubectl depends on some subset of the ~1300 packages in [k/k/vendor](https://github.com/kubernetes/kubernetes/tree/master/vendor); ~25 of those now come in from the kustomize repo.  We'd be happy to have some PRs putting those kustomize packages through the same Windows qualification process that the other packages are subjected to.  Also accepting PRs to enhance the current kubectl-on

[2019-02-27 21:43] Liujingfang1 commented on #808
For the goroutine, it's from image transformer. I believe this has been fixed by #809.

[2019-02-27 21:43] #808 closed

[2019-02-27 21:53] Liujingfang1 commented on #818
This can be fixed by accepting
[code]

[2019-02-27 23:22] brendandburns commented on #791
Hey @monopole you (and anyone else in the project) can't make unanimous decisions about things like this. This is precisely why SIG-Architecture and SIG-Contributor Experience exist.

This needs to be discussed in these forums.

@mattfarina do you want me to start a thread on SIG-Arch/SIG-ContribEx/SIG-CLI?

[2019-02-28 00:02] kenmaglio commented on #791
@brendandburns Thank you for your comments.
It's been a struggle for me personally to be 'pounced' on in my [PR](https://github.com/kubernetes/kubernetes/pull/73033))

[2019-02-28 00:48] monopole commented on #791
@brendandburns I'm requesting help with Windows testing.

[2019-02-28 05:11] brendandburns commented on #791
@kenmaglio
SIG-Arch info is here: https://github.com/kubernetes/community/tree/master/sig-architecture

@monopole trying to parse your comment, who are you requesting help from?

Just to be totally clear: kustomize is a Kubernetes SIG project, this means that it is subject to the standards of the kubernetes project writ large.

Currently, I don't think there is clarity about whether we believe tha

[2019-02-28 16:12] acheaito opened #831 "imageTag truncated when private repo name contains port number"
Consider the image name
`artifactorytest.mycompany.com:443/docker-virtual/image1`
and the kustomization
`images:
  - name: artifactorytest.mycompany.com:443/docker-virtual/image1
    newTag: v2019.1`

When I run kustomize build, it truncates the image name at the port number and applies the tag, resulting in `artifactorytest.mycompany.com:v2019.1`

Tested with kustomize 2.0.2

[2019-02-28 18:11] Liujingfang1 commented on #806
@LandonTClipp The build time side effects from args is not intended to be supported. Please see the explanation [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables).

[2019-02-28 18:11] #806 closed

[2019-02-28 18:17] Liujingfang1 commented on #815
The `crds` in kustomization.yaml is used to list open API definition files. Please take a look at the documentation [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L203).

For CRD, what  you really need is to customize the transformer configurations in Kustomize. This can be done by adding openAPI definition files in `crds` or by adding custom configurations

[2019-02-28 18:17] #815 closed

[2019-02-28 18:28] Liujingfang1 commented on #804
In order to warn that, `kustomize` need to be aware of the previous state(or current state on the cluster) of resources.
Accessing those state is out of scope of Kustomize. Since it need either to store the previous state locally or make kustomize talk to API-server.

[2019-02-28 18:28] #804 closed

[2019-02-28 19:19] Liujingfang1 commented on #803
`images` are not accumulated across base/overlays. Thus `images` declared in base is only visible to that base, not to any overlays.

@darwin67 What is the original image used in your resources? I guess it is not matched with `deck` so `deck` is ignored.

[2019-02-28 19:29] Liujingfang1 commented on #729
This should have been fixed in version 2.

[2019-02-28 19:29] #729 closed

[2019-02-28 20:18] donbowman commented on #815
I'm sorry, i don't agree w/ this closure of the issue.

1. there's no error message that is useful. If we don't support the standard format (as defined in all of the other kubernetes documentation) at least say so in the eror
2. why can't we take the same input format that is sent to kubernetes? Now you want me to have 2 files in my directory structure that are the same contents but different form

[2019-02-28 21:03] mattfarina commented on #791
@brendandburn You can add agenda items to the SIG Arch agenda. The chairs will clean up the listings and add time boxing if not already there. If you have something you want to talk about always feel free to add it to the agenda.

@monopole I'm still not entirely sure of the relationship between kustomize here and the kustomize that was merged into kubectl via https://github.com/kubernetes/kuberne

[2019-02-28 21:13] Liujingfang1 commented on #815
@donbowman I think you have some misunderstanding of the usage of `crds` or `configurations`. For the yaml you provided, you just need to list it under `resources`. Then when you piped the kustomize output to apply, that CRD will be applied to your cluster.

I agree that we need to improve the error message here. I opened a PR for it. #833

[2019-02-28 22:26] Liujingfang1 commented on #817
Since `.spec/selector` is present in service.yaml
[code]
you can't disable adding the commonLabel to this path by changing it to `create: false`.

Skipping certain paths in transformers is not supported yet, but is a reasonable requirement. Any thoughts or ideas on this would be really appreciated.

[2019-02-28 23:26] darwin67 commented on #803
@Liujingfang1
my bad, I thought it was the `name` of the container so I was not using the image name.
it was working fine once I tried with the image name so please ignore my comment. :smiley:

[2019-03-01 01:16] monopole opened #834 "Testing framework for Windows"
At the time of writing, commits to the repo only have to pass [bin/pre-commit.sh](https://github.com/kubernetes-sigs/kustomize/blob/master/bin/pre-commit.sh), which currently runs only on linux.

Would be nice to have this script, or it's equivalent, run on a Windows node, so we could have more confidence in a Windows release.

edit: 21 aug 2019; would be happy to just have the unit tests being ru

[2019-03-01 01:26] monopole commented on #791
@brendandburns Filed #834.  Would love to have testing on Windows, and help from someone who knew more about the available infra for it.

[2019-03-01 03:48] kenmaglio commented on #834
I can easily assist ( and have actually started it already ) to convert the shell script to powershell.
I have the skeleton working, but I am not familiar at all with knowing if the tests / linting are working correctly.

[2019-03-01 04:05] pwittrock commented on #834
Yes please!  I took a swing at this but hit a wall.  FWIW, here are some of the issues I encountered with Windows:

- [ ] Not sure if `curl` exists on windows (`wget` does and we could switch to that if need be)
- [ ] Need to install `tree` command with choco
- [ ] Lint script doesn't work because the GOOS name it gets isn't recognized

[Instructions for windows on Travis](https://docs.travis-ci.c

[2019-03-01 04:07] pwittrock commented on #834
/assign kenmaglio

[2019-03-01 04:19] pwittrock commented on #791
Appreciate @monopole taking a hard stand to force taking action and producing stronger validation of the binaries we are producing for Windows and OSX.  If someone had done this for kubectl 4 years ago maybe we would be in a better spot w.r.t. kubectl testing on Windows and OSX and avoided some of the issues we have had with both of those platforms.

To provide some context on why this is importan

[2019-03-01 04:20] #791 closed

[2019-03-01 04:26] pwittrock commented on #834
@kenmaglio Please ping me or @monopole on Slack when you have a PR out.  GitHub notifications are a firehose.

[2019-03-01 13:29] donbowman commented on #815
I still don't buy this issue closure.

I do not understand why `kustomize` needs a different file format for the CRD than Kubernetes via kubectl. THis makes maintenance impossible. There cannot be anything in this alternate format that can't be derived (since kubernetes only received the YAML format).

E.g. if I define my CRD in yaml, and then send to Kubernetes api via kubectl, I don't want to us

[2019-03-01 13:38] donbowman commented on #821
This issue is not resolved by that commit.
the commit doesn't even add the test case above.

[2019-03-01 13:59] donbowman opened #836 "Issue #821 was closed without solving the issue"
kustomize re-orders config causing fail when crd or admission webhook used #821 https://github.com/kubernetes-sigs/kustomize/issues/821

this included a test case that was simple. The PR that was created to `close` this problem https://github.com/kubernetes-sigs/kustomize/pull/822 did not fix the issue, nor did it include the test case.

The `ValidatingWebhookConfiguration` is emitted after its us

[2019-03-01 15:14] yuyangbj commented on #148
+1

[2019-03-01 17:23] brendandburns commented on #834
@kenmaglio let me know if you want help on this.

[2019-03-01 18:12] pwittrock commented on #819
cc @kow3ns

I believe this is a bug in the StatefulSet API caused by the volumeClaimTemplates not having a merge strategy or key.  You can see on the PodSpec that Volumes are merged by Name.  I would expect StatefuleSetSpec to have something similar.

As a work around, you can use the jsonPatch format, which doesn't rely on a merge key.

- [podspec](https://kubernetes.io/docs/reference/generated/k

[2019-03-01 18:13] #819 closed

[2019-03-01 18:16] pwittrock commented on #819
Closing in favor of kubernetes/kubernetes#74819

[2019-03-01 19:25] pwittrock commented on #836
@donbowman Would this solve your problem?

kubernetes/enhancements#865

[2019-03-02 00:55] monopole commented on #834
Hey @kenmaglio Thanks!

Beyond getting stuff to work in powershell, we also need a place to run it - and as Phil mentioned travis recently started to support windows.

The travis setup is here https://github.com/kubernetes-sigs/kustomize/blob/master/.travis.yml - apologies if that's all obvious.  So it will need mods too.

[2019-03-02 08:02] kenmaglio commented on #834
I have a WIP PR - I have built a PowerShell script that replicates the same tests for windows.

[WIP: Windows Precommit / Testing #838](https://github.com/kubernetes-sigs/kustomize/pull/838)

[2019-03-02 08:27] kenmaglio commented on #834
@pwittrock
So **curl** is replaced with a few different things in PowerShell.
Invoke-WebRequest, Invoke-RestRequest   or for just downloading a file...

[code]

The **tree** command I believe is the ability to do  ```./...```  ?
If so - built into PowerShell

I can't actually tell if the **lint** script is working or not, as I had to turn on verbose.
There's no output that I get - other than it sp

[2019-03-02 11:59] yujunz commented on #758
Trying to help solve this issue. But I need to clarify whether we want to preserve the current behavior, which seems recursively looking for `containers` and `initContainers` in resource map and ignore `Gvk`.

Do we want to specify the `Gvk` and `Path` explicitly like the label and annotation transformer?

@monopole

[2019-03-02 16:38] brendandburns commented on #834
fwiw, Azure Pipelines (https://azure.microsoft.com/en-us/services/devops/pipelines/) is also free for open source projects and has good windows support in case Travis doesn't work out (starting w/ Travis makes sense)

[2019-03-02 18:53] kenmaglio commented on #834
@brendandburns I have actually looked into that ( only because really it's old TFS which I've done a ton ).  Only thing then is possibly getting it to pull the source from github and not it's own repo.

[2019-03-02 19:04] kenmaglio commented on #834
For those who don't have windows - just to see where I've gotten to thus far.
![kustomze-test-run](https://user-images.githubusercontent.com/3901017/53686368-b13c2200-3ceb-11e9-87b0-d09595962e55.gif)

[2019-03-02 23:53] donbowman opened #843 "json quoting error in configMapGenerator"
With the below file:

[code]

we get:
[code]

I don't believe the yaml is invalid.

I have 3 separate problems with this:

1. No file name is in the error
2. No line number is in the error
3. I don't believe the yaml is invalid. It passes yamllint and can be loaded in python.

[2019-03-03 02:02] yujunz commented on #843
The error seems thrown from https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/kusttarget.go#L109

[2019-03-03 02:24] yujunz commented on #843
It passed test if we modify the configuration to

[code]

[2019-03-03 16:55] donbowman opened #846 "rfc6902 json patch doesn't support tilde escape operator"
Take this example.
Source state:
[code]

Desired state:
[code]
If we compute the patch using an [online generator](https://json-patch-builder-online.github.io/), we find it is:

[code]

lets express in YAML to work with Kustomize:

[code]

[code]

OK so a couple of different problems:

1. The line number is incorrect. I'm not sure what line 18 is, but its neither correct for the patch nor the targ

[2019-03-03 17:18] #846 closed

[2019-03-03 23:07] shaneutt opened #847 "Using Kubernetes Secrets As Secret Source"
The purpose of this feature request is to request that an existing Kubernetes cluster's secrets be configurable as secret sources for `secretGenerator`.

This would provide an option for a source of secrets that could be easily shared between team members to make builds more communal without having to store any secrets on local disk.

https://github.com/kubernetes-sigs/kustomize/pull/845 provides

[2019-03-04 03:02] yujunz opened #848 "`kustomize edit fix` has a side effect to screw the original format"
Tried `kustomize fix` and it does not just fix the missing field, but seems also auto format the file. And this leads to a side effect to screw the original format.

[code]

[2019-03-04 11:29] paveq commented on #759
It would be very useful to be able to "compose" an application from individual components, without having to rely on inheritance chain.

As example, application base layer should be able to refer to a database service, which is not part of the application, nor should the application base layer extend it. Instead, the final kustomize layer should be able to mix and match the application with possib

[2019-03-04 19:02] Liujingfang1 commented on #843
@yujunz Thank you for finding a working solution and adding a test.

[2019-03-04 19:04] Liujingfang1 commented on #843
We also need to improve the error message indicating (at least) the file name or the generator name when the unmarshal error happens.

[2019-03-04 20:16] max-sixty opened #849 "Use a env var within another?"
I don't think this is possible, but please could I confirm:

If I have a variable that I want to put within multiple other environment variables, is there a way of doing that without changing each of the variables; for example, here I have `GOOGLE_CLOUD_PROJECT` within a number of variables. Could I define each of these once, and the final file would fill these in?

[code]

Many thanks

[2019-03-04 21:44] shaneutt commented on #847
Closing in favor of plugins.

[2019-03-04 21:44] #847 closed

[2019-03-04 23:26] max-sixty commented on #849
Can I do this with `vars`? https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L244

[2019-03-05 01:35] #816 closed

[2019-03-05 01:40] #818 closed

[2019-03-05 02:06] monopole commented on #834
Looked like a race condition on a temp file - can you paste the stack trace into the discussion on #840 please?

[2019-03-05 03:14] monopole commented on #836
Please just continue on the same issue.  We can reopen it trivially, and retain context in one place.   I apologize for the abrupt closure.

If you wish, copy the comments above over to #821

[2019-03-05 03:14] #836 closed

[2019-03-05 03:45] monopole commented on #821
Re-opened.

kubernetes/enhancements#865 proposed as a general solution to order.

Open to other ideas.

@donbowman You mention that the PR that attempted to close this issue did not include the data you provided, and it did not.

But the test case you mention was a large tarball of resources - which can be a lot to digest.

The [readme suggests a good approach for reporting undesired output](https

[2019-03-05 08:34] yujunz opened #850 "Feature request: vars from ConfigMap"
Is it possible to create **a LIST (not one by one)** of variables from ConfigMap just like `envFrom` ?

Suppose I need to create a bunch of variables for *external* resources, like security group, domain name and etc. It seems the only way to do it is save them in ConfigMap and refer in variables.

For example:
[code]

Ideally, we should be able to generate the variables with

[code]

If we have a

[2019-03-05 09:39] krinklesaurus opened #851 "Nested folder structure of overlays not working with 2.X any more"
Hi,

`kustomize version` output is
[code]

using version `1.0.8` the following folder structure worked for me

[code]

where `global.yaml` contained some global configuration parameters, `service.yaml` in `app1` defined the common configuration properties for the app1, and the `revX.yaml` files contained the most specific configuration properties for the specific revision of app1.

`kustomization`

[2019-03-05 12:01] anguslees commented on #821
Fwiw, I suggest replacing #822 with something that orders Webhook declarations *last*.

In a single invocation (and without more human-driven direction), we have to assume that we aren't able to perform the webhook until after Deployments/etc have started, and we also have to assume that other resources in the same invocation don't require the (mutating) webhook to act on them (that would be a boo

[2019-03-05 17:27] kenmaglio commented on #834
Updated [#840 ](https://github.com/kubernetes-sigs/kustomize/pull/840)

[2019-03-06 00:23] max-sixty opened #853 "Git authentication with Google Source"
I'm not sure whether this is kustomize's issue, but posting here as an initial report.

I have a `kustomization.yaml`:

[code]

When I run `kustomize build` after waiting some period of time (not sure exactly how long), I get the following error:
[code]

If I then run `gcloud source repos clone infrastructure`, I can then run `kustomize build` successfully again.

If I run `git clone https://sourc

[2019-03-06 04:14] swiftdiaries opened #854 "`kustomize edit set namespace <namespace>` can't edit namespace field inside a spec in Deployment"
[code]

`kustomize edit set namespace kubeflow-dev`

yields

[code]
Currently, we have to do a Json patch to set the namespace inside the spec field as well.
[Link to PR](https://github.com/kubeflow/manifests/tree/0c0976338b1bf125c688416bc3b546d2c3fc5949/ambassador/overlays/namespace)
I'm not sure if this is a bug. Any pointers would be really helpful.

[2019-03-06 06:28] yuyangbj commented on #708
@Liujingfang1 do you know how to get cmd 'kustomization version' works? Now the version is shown unknown

[2019-03-06 06:53] alcohol commented on #708
@yuyangbj If it shows unknown you probably installed a development version/release (`head`).

[2019-03-06 08:09] yuyangbj commented on #708
@alcohol thanks for the quick response!  So we cannot support to list the latest version if I installed a development build?

[2019-03-06 08:14] alcohol commented on #708
I am not sure what you mean or what your question is.

I am currently running `2.0.2` which includes the fix for this issue.

[code]

But I am running Archlinux. So whether or not you can install the latest stable release depends on your environment.

[2019-03-06 09:56] yuyangbj commented on #708
@alcohol I mean if I use cmd 'go get' to install the latest master branch, should we have a method to list the latest release or the big version, for example v2.

[2019-03-06 11:31] pwfff opened #855 "`go get github.com/kubernetes-sigs/kustomize` fails"
`cannot load k8s.io/api/admissionregistration/v1alpha1: cannot find module providing package k8s.io/api/admissionregistration/v1alpha1`

See https://github.com/kubernetes/client-go/issues/551#issuecomment-462619473

[2019-03-06 11:38] pwfff commented on #855
Some more details, Go 1.12.0, with module support on.

[code]

[2019-03-06 11:55] mamoit opened #856 "Command completion for bash and/or zsh"
This is definitely a first world problem, and a very low priority feature request, but I think it could be really handy for new users to explore commands and for the other users to speed up their flow.

`kubectl`, `kops`, `helm`, and so many others all have this feature and I've grown quite fond of it.

They all follow the `<programName> completion <shell>` schema.

[2019-03-06 13:48] alcohol commented on #708
`go get` does not support installing specific versions.

[2019-03-06 16:53] looztra commented on #557
Same problem as @vreon with a `ServiceAccount` and a `ClusterRoleBinding`, test case files can be found at <https://github.com/looztra/kustomize-multibase-multiple-match-error>

[2019-03-06 19:55] Liujingfang1 commented on #855
@pwff Try `go get sigs.k8s.io/kustomize`

[2019-03-06 21:19] Liujingfang1 commented on #854
@swiftdiaries This is not a bug. You don't need the JSON patch either. The namespace inside `.spec.template` is not effective. The pods created for the Deployment will be in the same namespace as the deployment object.

[2019-03-06 21:23] swiftdiaries commented on #854
Thank you so much for your reply. So when I infer the namespace with
[code]
It would infer from the top level metadata field and not the immediate one?

Sorry for my ignorance here

[2019-03-06 21:33] Liujingfang1 commented on #851
@krinklesaurus You can't have an overlay inside a base directory.

How about this directory structure
[code]

[2019-03-06 21:35] Liujingfang1 commented on #854
Yes, `metadata.namepace` is the top level one.

[2019-03-06 21:53] Liujingfang1 commented on #850
@yujunz Using `vars` for ConfigMap data should work.

[2019-03-06 22:07] swiftdiaries commented on #854
Thanks! I'll close this

[2019-03-06 22:07] #854 closed

[2019-03-06 22:21] Liujingfang1 commented on #848
@yujunz Yes, it does. I guess what you mean is the order of `name` and `behavior` inside the configMapGenerator.
We want `kustmize edit` to keep the comments and order of fields. For example, after a edit for your kustomization.yaml, the order of `namespace`, `configMapGenerator` don't change. It has some internally logic to handle the kustomization.yaml content. However, the sub-field order like

[2019-03-06 22:47] Liujingfang1 commented on #720
May also include a related request #824

[2019-03-06 23:27] geofflamrock opened #858 "configMapGenerator with behavior merge doesn't append hash since v2.0.0"
Hi,

I'm not sure if this is expected behavior in v2, but when using `behavior: merge` with a configMapGenerator to an existing ConfigMap no longer appends the hash to the output ConfigMap name.

An example:

configmap.yml
[code]

kustomization.yml
[code]

config.properties
[code]

Output under v1.0.11:
[code]

Output under v2.0.3:
[code]

Is this behavior expected? It well could be that I'm missi

[2019-03-07 01:28] yujunz commented on #848
Not exactly. Order does not matter that much. I want to preserve the inline comments with the code. Note that `## CAVEAT` is moved to an unrelated place. It is expected to stick with `-STATE_STORE=/state`

[2019-03-07 01:32] yujunz commented on #850
Yes, it works if I refer the data one by one. But it is not a joy to create one variable for each, whereas `envFrom` allows you create a list of environment variable with one item. How do I do it in Kustomize for vars? Could you give an example?

I am expecting something line

[code]

[2019-03-07 02:15] donbowman opened #859 "Strconv.atoi invalid syntax #816 not resolved by #832"
In #816  I gave an example of a type of syntax error in the input yaml that lead rise to a non-useful error. In this case, it did not indicate the file or line or object or type of error, it just said:

[code]

#832  was created, ostensibly to address this.
However, it does exactly the same thing with input file as given in #816 .

I fetched from master, verified commit 78cbff16ef15b5e41d2c10b3baa

[2019-03-07 02:33] yujunz opened #860 "Unable to substitute variable in patches"
It seems variables in patches can not be substitute. Is it an expected behavior? If not, can it be implemented?

kustomization.yaml

[code]

kustomizeconfig.yaml

[code]

dockerconfig.yaml

[code]

kustomize build | less
[code]

[2019-03-07 02:36] yujunz commented on #860
My bad. It is an indention error in `volumes`. It is a bit hard to detect in a patch.

Thanks to the bug report helping me pinpoint the issue.

[2019-03-07 02:36] #860 closed

[2019-03-07 17:04] Liujingfang1 commented on #850
I see what you mean. This feature is asking for an enhancement on `vars` to have a simple way of declaring multiple vars from the same object.

[2019-03-07 17:11] Liujingfang1 commented on #859
The line number if not available for Kustomize. I opened an issue in the library for json-patch. https://github.com/evanphx/json-patch/issues/75

[2019-03-07 17:33] donbowman commented on #859
even so...
there's no change in the output w/ the PR. So its not clear how the PR solves the original issue?
can it at least talk about the object type its processing?

[2019-03-07 21:39] max-sixty commented on #853
Just to confirm - this isn't a one-off and happens every time. Let me know if there are any ideas for work-arounds. Thanks

[2019-03-08 01:39] yujunz opened #862 "Incorrect example in the help message of `kustomize edit fix`"
The command is `... edit fix` but the example gives `... fix`

[code]

[2019-03-08 02:16] yujunz opened #863 "How to merge variable?"
I got the following error when I define a variable which already existed in base.

[code]

Is it possible to merge the variables like `configMapGenerator`, which has a `merge` behavior setting?

[2019-03-08 08:43] brushmate opened #865 "Loading data paths above root"
I just updated from v1.0.11 to v2.0.2 and noticed that since #700 it's not possible to generate config maps from resources outside of the kustomization root anymore. So far we manage our kustomizations inside a Maven project which has basically this structure:

[code]

The overlays should generate configmaps from the properties files under `filters`.  So far this was not a problem with th followin

[2019-03-08 12:54] pwfff commented on #855
That fails with `build sigs.k8s.io/kustomize: cannot load k8s.io/api/admissionregistration/v1alpha1: cannot find module providing package k8s.io/api/admissionregistration/v1alpha1` as well.

[2019-03-08 12:56] pwfff commented on #855
Also, I found this issue in the meantime: https://github.com/kubernetes/client-go/issues/569
So I suppose once that's fixed, this will be as well. I'm not sure if y'all could pin that package before then though.

[2019-03-09 08:50] yujunz commented on #850
I can work on it if no other developer has taken it, @Liujingfang1 . Is there a brief developer guide about how to extend `kustomize`?

[2019-03-09 11:15] yujunz commented on #850
It seems the build steps can be represented in pseudo code below

[code]
We may need to insert an extra step to expand `varsFrom` to `vars`. Not sure where is the right insert point. Could you please shed some light on it, @Liujingfang1 @monopole ?

[2019-03-10 15:42] frejsoya opened #868 "V2 lack of usability without file upwards path imports."
After upgrading to v2..x We have had to significantly alter our setup for the worse, as we now have to reorder a lot of files with scripts, so it fits with the setup we already had. This should be an unneeded redirection.
The setup we have is a simple a simple scaffolding setup with makefile and kustomize such that:

- New projects are started easily with good defaults for multiple environments
-

[2019-03-11 05:16] yujunz opened #869 "Unable to overlay `spec/template/spec/containers/volumeMounts/mountPath`"
Tried to modify the `mountPath` of the base deployment but it seems append a new entry instead of overlaying. Is it an expected result or bug?

kustomization.yaml

[code]

pod-volume-mounts.yaml

[code]

Results in

[code]

[2019-03-11 16:56] whizard opened #871 "kustomize edit set image --help show "image:" instead of the correct "images:""
When issuing "kustomize edit set image --help" the following is output:

[code]

It should produce:

[code]

[2019-03-11 17:13] #862 closed

[2019-03-11 17:19] fentas commented on #759
I really like the idea of a sperate key like `mixins:` allowing to load a group of patches without the need to reference bases there.

We also have a structure like
[code]

The last part is kind of a pain because I have to point to each general patch (collection - including resources) which have to be maintained within every playbook instead of pointing just to a collection.

[2019-03-11 17:33] Liujingfang1 commented on #869
Change the patch to
[code]

Here are more examples and usage of [strategic merge patch](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md#list-of-maps).

[2019-03-11 17:33] #869 closed

[2019-03-11 17:40] Liujingfang1 commented on #868
Related to https://github.com/kubernetes-sigs/kustomize/issues/759

[2019-03-11 23:06] Liujingfang1 commented on #871
Fixed by #872

[2019-03-11 23:06] #871 closed

[2019-03-11 23:13] Liujingfang1 commented on #865
@brushmate I suggest to add `kustomization.yaml` to both `filters/stage` and `filters/prod` containing a configMapGenerator. Then in the `stage` and `prod` overlays, include corresponding base.

[2019-03-11 23:17] Liujingfang1 commented on #863
Why do you need to use the same var name?
If the field that `vars` refers to is from a ConfigMap, you can use `merge` or `replace` to override the ConfigMap data. As a result, the field content will also be changed.

[2019-03-11 23:29] Liujingfang1 commented on #858
The ConfigMap `config` is not generated, it is loaded from `configmap.yaml`. For resources loaded from files, no hash is appended. When you use a ConfigMapGenerator to merge some data to it, the hash is not appended either. If you need the hash suffix, use a configMapGenerator instead of a yaml file.

[2019-03-12 00:11] geofflamrock commented on #858
Thanks for the clarification @Liujingfang1

In the scenario I am using it for I have an existing config map that works on its own as it provides the default values (so is added as a resource) that I need to change/add some values particular for a deployment, am I able to do this somehow and still get the hash? The hash I find helpful for ensuring that consuming services get re-deployed when the co

[2019-03-12 01:44] yujunz commented on #863
I was trying to override the ACM cert in different environment to *another* ConfigMap key. Yes, it is possible to have a workaround using more ConfigMaps.

[2019-03-12 01:45] #863 closed

[2019-03-12 10:38] narg95 opened #873 "Add `kustomize edit remove resource`"
Hi,

I would like to work in a PR to remove resources from a kustomization file. Currently you can only add.

Please give me your opinion and if there is something important to consider.

Thanks !

[2019-03-12 14:24] brushmate commented on #865
I thought about that as well, but that means having the same file at two places and not having all k8s related things under one directory. I was hoping that there is another solution.

[2019-03-12 23:14] ryanquinn3 commented on #61
This would be really useful when using a rendered helm chart as a base for kustomize.

[2019-03-13 16:59] donbowman opened #875 "feature request: add adler32 hash generator"
Many things that were formerly 'ingress' (istio, ambassador, ...) are now not implementing Ingress.

cert-manager is a very popular way of automatically integrating with lets-encrypt. It works out-of-the-box with Ingress.

For tools that don't implement 'Ingress' there is a fairly simple integration method. Unfortunately this requires calculating the adler32 hash of something, which is not possibl

[2019-03-13 20:42] nhooyr opened #876 "prune all unused configmaps/secrets"
Is there an automated way to do this?

[2019-03-13 20:51] donbowman commented on #876
what i have been doing is:
`kustomize build . | kubectl apply -f - --prune -l app=MYLABEL`

make sure the label is set properly tho.

[2019-03-13 20:58] Liujingfang1 commented on #876
We plan to improve the pruning functionality in kubectl, see the [KEP](https://github.com/kubernetes/enhancements/pull/810).

[2019-03-13 23:10] nhooyr commented on #876
@donbowman thanks, will use that for now.

That's awesome @Liujingfang1, looking forward to it.

[2019-03-13 23:10] #876 closed

[2019-03-13 23:23] Liujingfang1 commented on #873
I think it should be similar to `kustomize edit add resource`:
- accept multiple filepath. Those filepath should be relative path rooted at current directory
- If a matched item found in `resources` list, remove it from that list.
- If no match found, skip it

[2019-03-14 19:30] jskold commented on #249
I agree with @mark-visser, the proposed work-around gets very messy. Would it be hard to implement automatic removal of the `selector` when a `Service` object has a matching `Endpoints` object with the same name and namespace?

[2019-03-15 09:46] KarstenSiemer opened #878 "No possibility of mergeing multiple files into single key"
Hello,

in kustomize1 it was possible trough external commands to have a secretgenerator to generate a secret that has one key with the data of multiple files combined.
I understand the security concerns regarding multiple commands but why isn't there a possibly to do this? This makes it a lot easier to shard large configuration files in git.

I'm thinking of something like this:
[code]

[2019-03-15 17:26] Liujingfang1 commented on #878
Similar to #680

[2019-03-15 17:28] Liujingfang1 commented on #720
Open a KEP for this request: https://github.com/kubernetes/enhancements/pull/897

[2019-03-15 18:36] Liujingfang1 commented on #401
Removing path config from adding labels or annotations is not feasible since the custom configs are merged into the default ones.

Except that, all others are documented in https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs

[2019-03-15 18:36] #401 closed

[2019-03-15 18:37] Liujingfang1 commented on #873
Here is a related request #725

[2019-03-15 21:38] donbowman opened #880 "confusion around namespace replacement"
kustomize has an ability to replace all namespaces in one config, setting `namespace: XXX`

Naively I thought this meant all *unset* namepaces, but it actually overwrites all.

This creates a challenge when you have something that uses >1 namespace (e.g. cert-manager, it installs 1 thing into kube-system, rest into cert-manager).

I think maybe we want either:
- namespace sets `unset only`
- names

[2019-03-15 22:10] monopole commented on #680
Attemping to summarize:

Say you want to use kustomize to make the configmaps used in production differ in some way from that used in development and staging.

Mixins might work.  Suppose the configmap held a java properties file (k=v pairs, one per line), and one wanted to use kustomize to “edit” the value for one particular key.  The kustomize way to do this would be to split the file - put the

[2019-03-16 00:03] monopole opened #881 "Finish goplugins (release blocker)"
Per the [kep](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/kustomize-secret-generator-plugins.md) we need some more work goplugins started in #760

Release blockers:

 - [x] kustomize reads config (plugins specifically) from (a subdir of) `$HOME/.config`, and should honor `XDG_CONFIG_HOME`  (see [spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.h

[2019-03-16 11:59] yubessy commented on #126
I've created an example of https://github.com/kubernetes-sigs/kustomize/issues/126#issuecomment-419245703 for future issue visitors like me.
https://github.com/yubessy/example-kustomize-cronjob-multiple-schedule

[2019-03-17 00:13] sethpollack commented on #881
I can open some more PR's to add the rest of this.

[2019-03-17 15:48] donbowman opened #886 "improper change of block scalar chomp in config generator"
I have a simple `kustomization.yaml` file

[code]

When build, the output is:

[code]

which is incorrect, it has been changed from block scalar single newline chomp  to block scalar multiline.

since I am using this ulimately as an environment variable, this breaks.

[2019-03-17 16:55] nabadger commented on #164
Keeping an eye on this as I'm experimenting with using kustomize in our GitlabCI pipeline too.

Similar issues which are essentially:
- Various manifests need to know the cluster-domain. Typically this is generated from a GitlabCI environment var, and needs to make its way into the manifests
- Ingresses for feature branches. Such branches come and go and the ingress host is typically in the form "

[2019-03-17 20:19] nabadger commented on #164
As a way to get custom info. through to kustomize, something like this seems to be working for me. I can at least get to an output that starts to reasonable that of the auto-devops pipeline.

Using vars/configMapGenr preferable over patches and overlays (at least to me):

[code]
[code]
Ingress ends up something like this:

[code]

---
Another piece of the puzzle is how to setup application names t

[2019-03-17 21:12] monopole commented on #881
Nice.

Now that you knocked off literals builtin, can you do env and files too?

And add add some tests like this : https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/generatoroptions_test.go#L97
to cover them?  In some new file (builtinplugins_test.go?)

Thanks!

[2019-03-17 21:13] sethpollack commented on #881
Ok working on it, also working on `kustomize edit fix`

[2019-03-17 21:13] monopole commented on #881
ah thanks - i'm out :)

[2019-03-17 22:59] vreon commented on #886
Do I understand correctly that you want the resulting string to be free of newlines? If so, the block scalar single newline chomp isn't working in the original document. :thinking:

Here's a test with a Python YAML parser:

[code]

Indeed, the string that Kustomize produces is identical to the original one:

[code]

I'm not sure what the correct YAML syntax here is if you want to use a block scala

[2019-03-18 12:14] donbowman commented on #886
Thanks.
Switching to this syntax was to work around https://github.com/kubernetes-sigs/kustomize/issues/843

I can try the flow scalar again i suppose

[2019-03-18 13:39] fentas opened #890 "CRDs containing 'containers' or 'initContainers' key unusable with kustomize"
Given the following files:

**crd.yaml**
[code]

**kustomization.yaml**
[code]

This will fail with `Error: AccumulateTarget: containers path is not of type []interface{} but map[string]interface {}`.

I guess the reason lies here https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/image.go#L60

It will go through _any object_ and looks for `containers` and `initContainers` k

[2019-03-18 17:05] Liujingfang1 commented on #880
`namespac` overwrites `.metadata.namespace` in all resources, it provides easy separation of resources between different environments. For some type of resources, namespace is not needed or users don't want to overwrite the namespace. Thus we need to be able to skip certain types of resources.

Currently, Kustomize skips adding namespace for some hard-coded types, https://github.com/kubernetes-sig

[2019-03-18 19:00] donbowman commented on #880
here it would not be a `skip type`, it would be a named entity.
e.g.  I might have a setup that installs 1 pod into kube-system and the rest into its own namespace.

[2019-03-18 20:47] Liujingfang1 commented on #865
It's not necessary to have all resources or config files under one directory. They can be from different directories via different `bases`.

[2019-03-18 20:51] Liujingfang1 commented on #301
We've added documentation for both `crds` and `patchesStrategicMerge`.

[2019-03-18 20:51] #301 closed

[2019-03-18 20:59] Liujingfang1 commented on #611
Yes, only git repos are supported

When used `go-getter`, it added >1000 files in /vendor directory. This blocked the Kustomize integration in Kubectl. So we decided to remove it and use our own implementation.

[2019-03-18 21:00] Liujingfang1 commented on #629
Please take a look at the example in https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs

[2019-03-18 21:00] #629 closed

[2019-03-18 22:07] nhooyr opened #893 "allow env variables in config paths"
I'm using customize with a monorepo.

I'd like to avoid putting `../../.../ci/deploy/mybase` to reference a base higher up in the directory tree. It's very fragile. I use a env variable for the root of my repo and so I'd like to instead do something like `$MROOT/ci/deploy/mybase`.

[2019-03-18 22:07] nhooyr commented on #893
Doesn't have to be a env variable btw. I'm open to a different solution to this same problem.

[2019-03-18 23:24] Liujingfang1 commented on #642
When multiple patches are applied to one object, Kustomize performs some tricks to make sure there are no conflicts among patches, say one patch changing the replicas to 2 and another patch changing the replicas to 3. This detection is done by applying patches in different orders and check if we still have the same object.

For the example here, the two patches applied are both appending an item t

[2019-03-18 23:29] #414 closed

[2019-03-18 23:45] Liujingfang1 commented on #848
When yaml files are loaded into an object, the comments are all dropped. If the library handling yaml files could preserve comments, we can leverage that. Without such functionality from a yaml library, Kustomize uses a special [type ](https://github.com/kubernetes-sigs/kustomize/blob/46bd38e89d8325ed45a7134af4bb693c13f9f754/pkg/commands/kustfile/kustomizationfile.go#L100) to record the field and

[2019-03-19 01:01] yujunz opened #894 "Feature request: support `.netrc` for https credentials"
HTTP credentials may be required for some private repository. It would be nice to support `.netrc` to provide them, just like the way terraform remote module does.

For example
[code]
I would expect it loads the credential from `~/.netrc`

[code]

[2019-03-19 02:46] Liujingfang1 commented on #894
You can set ssh to access the private repos. Then you won't see the username prompts.

[2019-03-19 03:00] yujunz commented on #894
The problem is that the repo is quite huge, e.g. *giga bytes mono repository*. It seems git+ssh does not support partial clone well.

I'm pulling the source from some web browse plugin like [gitiles](https://github.com/google/gitiles) which provides https access only.

[2019-03-19 10:07] yellowmegaman commented on #738
Kustomize newbie here, had to do a fair bit of  searching to understand why i can't use kubctl with kustomization.yaml. Saw quite a lot of articles of why kustomize is so much better than helm so it was even merged in kubectl.

RIght now I'm getting:
[code]

with
[code]
in my kustomization.yaml file. Is it still ok?

Thanks in advance!

[2019-03-19 10:43] yujunz commented on #848
Understood. This probably means `kustomize edit fix` is not recommend for fix yaml with comments at the moment. It is not a high frequent requirement any way.

[2019-03-19 10:43] #848 closed

[2019-03-19 16:19] Liujingfang1 commented on #738
@yellowmegaman Starting from 1.14, you can use `kubectl apply -k ./`.
Before 1.14 is released, you need to download the kustomize binary and run following command
[code]

[2019-03-19 16:35] Liujingfang1 commented on #850
I don't think it's necessary to extend current `vars` to support defining all of the ConfigMap’s data as variables.
Since the variables used in Kustomize are meant primarily to be injected to containers, as env or command arguments.
If you need to inject all of ConfigMap's data into containers, you can use `envFrom` and use environment variables correspondingly.
What is your usage other than that?

[2019-03-19 20:08] yellowmegaman commented on #738
Thanks a bunch @Liujingfang1, awesome!

[2019-03-19 21:08] #758 closed

[2019-03-19 21:21] Liujingfang1 commented on #890
We may return nil error when `containers` is not corresponding to an array.
https://github.com/kubernetes-sigs/kustomize/blob/2c0c0c9497b46661b1b9399da05d621eb8d45836/pkg/transformers/image.go#L94

[2019-03-19 21:29] Liujingfang1 commented on #858
Since you have the default values, you can put them into a `configmapGenerator`. Then the hash will be appended.

[2019-03-19 21:47] yellowmegaman commented on #370
#304 is closed. Probably should be reopened.
Got configmap with `application.conf`, would like to merge common/staging stuff in it, not using different filenames.
Example:

base:
[code]
application.conf
[code]

staging:
[code]
application.conf
[code]

All i want is to concatenate staging values into the same file ( app can only work with 1 file - application.conf), so it look like this:

applicati

[2019-03-19 22:42] #768 closed

[2019-03-19 23:27] Liujingfang1 opened #896 "skip kustomize transformers for paths"
This is a feature request for allowing users to skip paths for transformers.

Kustomize uses a series of transformers to set fields for all resources inside one kustomization directory. Those transformers include
- name prefix transformer
- name suffix transformer
- namespace transformer
- common label transformer
- common annotation transformer

Each of these transformers modifies resource config

[2019-03-19 23:32] yujunz commented on #850
`envFrom` can not be used in annotations and other customized fields, as far as I know. I have a live example using a lot of **external** configurations.

[code]

These variables are to be filled to mostly annotations and also some other fields, e.g.

[code]

As far as I know, env is limited to command and args. So it seems variable is the only way.

I'm open for better solution though. @Liujingfa

[2019-03-19 23:56] yujunz commented on #896
/assign @yujunz

[2019-03-19 23:57] yujunz commented on #896
It seems I can't assign my self for it, @Liujingfang1  😄

[2019-03-20 06:18] yujunz commented on #894
It seems plain tarball url is not supported at all,  only GitHub, Azure repo and AWS code commit repo is supported. Is that so?

https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/git/repospec.go#L145

 cc @monopole who seems to be the owner of git related code.

[2019-03-20 14:22] donbowman commented on #843
The workaround does not work in all cases.

Consider:

[code]

If left as-is, it trips the bug in the parser and crashes.

if we add the quotes to the outer bits of the literal, we get a newline. Since its an environment variable to the container this breaks.

So i do not have a working workaround.

[code]

[2019-03-20 15:04] max-sixty commented on #853
This is an issue with google source repositories; I've isolated it outside kustomize. Closing

[2019-03-20 15:04] #853 closed

[2019-03-20 15:22] yrobla opened #897 "Produce individual yaml files instead of a single one"
For our workflow, it would be needed to have the ability of producing the kustomize output into individual files, instead of just merging all the manifests together. So what we will need is that kustomize will take the initial list of files passed as resources, and composed the output into same matching files, having the ability to write those into a directory.
For example:
apiVersion: kustomize.c

[2019-03-21 10:15] marcindulak commented on #897
This feature would be useful when rolling up kustomize gradually, in order to replace the old-style (sed, etc.) automation around the yaml files.

[2019-03-21 15:10] scraly opened #899 "version displayed is unknown"
Hi,

I installed kustomize and when I execute kustomize version command, instead of obtain the version of kustomize I have "inknown":

[code]

Thx.

[2019-03-21 17:01] pst commented on #611
Thanks for the update. I'm trying a "vendoring" of bases approach for now, like here for example: https://www.kubestack.com/catalog/prometheus Will close this issue for now.

[2019-03-21 17:01] #611 closed

[2019-03-21 17:02] pst commented on #611
I'm looking forward to https://github.com/kubernetes-sigs/kustomize/pull/684 to improve the adding the base step.

[2019-03-22 04:27] nhooyr commented on #851
Docs need an update. RIght now https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configGeneration.md#establish-base-and-staging recommends the OP's approach.

[2019-03-22 11:07] donbowman opened #900 "feature request: scale (statefulset, deployment, jobs, ...)"
The largest number of patches I have all have a single line: changing the `replicas`.

This is making the maintenance much harder, each overlay now has ~50 patches just for scale purposes. (e.g. in `dev` I scale to 3 in this statefulset, 4 deployments here, this job has X parallelism).

It would be nice if this were handled like the image tag, that there was a single/couple line in kustomisation.y

[2019-03-22 12:01] donbowman opened #901 "feature request: common annotations by type"
currently we can add common labels (e.g. label all things).
it would be nice to be able to add/merge an annotation by type.

The example is Ingress. I find that I create 1 patch per ingress simply to do this:

[code]

which creates a lot of extra patches. It would be nice to be able to say something like:

[code]

[2019-03-22 12:10] donbowman opened #902 "Namespace generated is missing document separator"
When stacking multiple kustomize outputs together it becomes apparent that the emitted namespace is missing the `---`.

Also, when a namespace is included and added to `resources`, it has the document separator removed.

This is preventing doing e.g.
[code]

[code]

[2019-03-22 12:46] donbowman opened #903 "feature request: job name based on hash like config/secret"
This is related to https://github.com/kubernetes-sigs/kustomize/issues/168

I would like to run a job once each time an image changes
(the specific use case is a django upgrade...). This is referenced in https://github.com/kubernetes/community/pull/1171 but that seems to have ended when the KEP thing started.

So I have a deployment w/ replicas > 1 that contains a django container. It must do a db

[2019-03-22 20:56] mengqiy opened #906 "path format inconsistent"
The format of defining a path in [`fieldRef`](https://github.com/kubernetes-sigs/kustomize/blob/7574f07be35cb05f7a83c00e71838527e5d198b7/pkg/types/var.go#L46) is different from in [`varRef`](https://github.com/kubernetes-sigs/kustomize/blob/2c0c0c9497b46661b1b9399da05d621eb8d45836/pkg/transformers/config/transformerconfig.go#L36).

`fieldRef` path uses a jsonpath-like format. e.g. [here](https://g

[2019-03-22 21:07] mengqiy opened #907 "[Doc] document kustomize support escape special characters in path"
I have a resources look like:
[code]
I was trying to use the CRD features documented at
https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs/crd#adding-a-custom-resource.
I didn't find a document stating that kustomize actually supporting escaping special characters in path, e.g. `matadata/annotations/foo.k8s.io\/bar` until @Liujingfang1 told me that.
It should be d

[2019-03-22 21:07] mengqiy commented on #906
cc: @Liujingfang1

[2019-03-22 21:24] mailtoraja18 opened #908 "feature request: zip release artifact for windows"
Can we get a zip release artifact for windows like what helm has
https://github.com/helm/helm/releases

The exe downloads are blocked in many organizations.

[2019-03-22 21:39] Liujingfang1 opened #909 "document customizing image transformer configurations"
#904

[2019-03-23 00:23] jgonera commented on #798
@Liujingfang1 @vreon This is a problem for me too, but my configuration is different and the proposed solution doesn't work. Folder structure:

[code]

Now let's say I use `common/patches/debug.yaml` in both `overlays/dev/kustomization.yaml` and `overlays/stage/kustomization.yaml` like this:

[code]

That patch applies a change to the resource defined in `base/resources/app.yaml` so I can't create

[2019-03-24 16:47] Liujingfang1 opened #913 "build failure for remote target"
This is a regression recently added to head
[code]

Using `2.0.3`, we have
[code]

[2019-03-24 16:48] Liujingfang1 commented on #913
We should also add a test for remote target to make sure such regression is detected.

[2019-03-25 06:24] yujunz opened #914 "feature request: create ConfigMap from directories"
Currently, kustomize can create ConfigMap from literals and files. Why not supporting directory as well?

Expecting behavior like `kubectl create ConfigMap config --from-file directory/`

See https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#create-configmaps-from-directories

[2019-03-25 07:21] yujunz commented on #850
It seems I can do it with [jsonPatch6902](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/jsonpatch.md) as mentioned in #318

[2019-03-25 07:21] #850 closed

[2019-03-25 07:25] yujunz commented on #720
Is it already work in progress? @Liujingfang1

[2019-03-25 15:32] donbowman opened #915 "image name/tag cannot be set from base"
Consider this example. In 'parent' I have a deployment using an image. In `overlay` i have `base ../parent` and `base ../common`. I wish to set the image tag in `common`. It does not work.
I can set it from `overlay` or `parent` but not `common`. An example is attached.

My desire is to have one spot to change the image tag for a set of related things. Instead I am forced to cut and paste the same