[2019-03-25 16:14] Liujingfang1 commented on #914
You can use `kustomize edit add configmap map-name --from-file=directory/*`

[2019-03-26 13:45] vikas-n commented on #908
Same for me, exe gets blocked. Having a zip will help.

[2019-03-26 14:04] yp28 opened #916 "namePrefix does not recursively apply to CRD"
Given I have these in `test/base`:
[code]
[code]
[code]
and these in `test/overlay`:
[code]
[code]
[code]
and build using `kustomize build test/overlay`, the result shows a difference in behaviour:
[code]

[2019-03-26 16:51] monopole opened #918 "image replacement transformer has suspicious bool"
pkg/transformers/image.go::findAndReplaceImage has a loop that changes the value of a bool with each pass, and after the loop checks the bool and does something.

confirm that it makes senses to do this, given that the bool is not a loop exit condtion

[2019-03-26 18:03] #918 closed

[2019-03-26 19:04] ambis opened #921 "Ingress annotation for basic-auth not handled when patch"
Related to: https://github.com/kubernetes-sigs/kustomize/issues/234

I just tested this. If ingress is a resource in kustomization.yml, the `nginx.ingress.kubernetes.io/auth-secret` secret name gets updated properly.

But if the Igress which has this annotation is in a patchesStrategicMerge to an existing ingress, then the basic-auth secret is not updated to reflect the secret name.

kustomize ver

[2019-03-26 20:45] Liujingfang1 opened #922 "document custom transformer configurations for knative and istio"
Figure out and document what the custom configurations should be for knative and istio

https://www.knative.dev/docs/eventing/samples/github-source/
https://istio.io/docs/setup/kubernetes/install/kubernetes/

[2019-03-26 22:37] Liujingfang1 commented on #913
This regress is caused by #857

[2019-03-26 22:39] Liujingfang1 commented on #913
@pst Can you take a look at this regression and see if you can fix it? Otherwise, we'll need to revert that change.

[2019-03-26 23:17] Liujingfang1 commented on #921
This is a simple example to show how it can work.

The kustomization.yaml:
[code]

The ingress.yaml is as:
[code]
The patch.yaml is as
[code]
With kustomize 2.0.3, you should be able to get following output
[code]

[2019-03-26 23:17] #921 closed

[2019-03-27 00:01] jgonera commented on #766
Could you elaborate what was the motivation for blocking paths that are above given `kustomization.yaml`?

[2019-03-27 07:37] yujunz opened #923 "Support hashicorp/go-getter format http url as remote base"
Original requirement from #894 .

Currently only local files and git is supported in kustomzie. When the bases is stored in a large mono-repo, let's say giga bytes, it is not feasible to clone the whole repository to fetch just one base.

The following features in `hashicorp/go-getter` satisfies such requirements perfectly, i.e.

- [ ] [subdirectory](https://github.com/hashicorp/go-getter#subdirec

[2019-03-27 07:39] yujunz commented on #894
Suppressed by #923

[2019-03-27 07:39] #894 closed

[2019-03-27 08:48] YP28 commented on #916
It seems like this is what's causing it to reset the name after the base has already run:
[code]
where known objects get a strategic merge:
[code]
What's the reason to make a distinction between custom resources and known resources? I'm guessing metadata should be fairly straight forward to handle in a same way for custom resources?

[2019-03-27 12:20] pst commented on #702
For reference, something to consider: https://github.com/bitnami-labs/sealed-secrets/issues/68#issuecomment-351579064

[2019-03-27 14:56] balboah opened #924 "Patch doesn't set configmap name generated from overlay resource"
### Use case

I want to inject env variables into my deployment that is in a base template, using secrets or configmaps defined in my overlay.

### What I did

building from this kustomize.yaml:
[code]

### What I got

[code]

### What I expected

Expected the build output to reference the configmap name that was created by resources:
[code]

#

Why is it not? What's the best practice for injectin

[2019-03-27 14:59] kenmaglio commented on #834
Sorry I haven't had much time to work on the travis side of the PR. I hope to be able to look at is soon.

[2019-03-27 17:13] ambis commented on #921
I found the problem I was having.

I had defined `namespace` in my base, but not in my overlay. While this was the case, the secret name would not update.

When I updated the overlay kustomization.yml with the same namespace (or took it out of both) then it worked.

[2019-03-27 18:21] Liujingfang1 commented on #923
Please note that we don't plan to use `hashicorp/go-getter` in Kustomize since it brings a large number of dependencies.
It would be nice to have Kustomize work flexible with different types of remote targets, but the implementation should be
either inside Kustomize or dependent on a very small number of libraries.

[2019-03-27 18:30] Liujingfang1 commented on #924
@balboah It seems like the configmap file is missing `apiVersion`. As a result the object loaded is not treated as a ConfigMap.
 https://github.com/balboah/kustomize/blob/master/cm.yaml
Can you add `apiVersion: v1` to that file?

[2019-03-27 18:48] balboah commented on #924
@Liujingfang1 oh my, that fixed this example. I'll have to try it again on the real metadata. Thanks!

[2019-03-27 18:48] #924 closed

[2019-03-28 01:05] yujunz commented on #923
I think I saw it in code somewhere. Is it already removed? It does not have to be `hashicorp/go-getter`. Just need support for go-getter format http url.

[2019-03-28 01:47] yujunz opened #927 "macOS lint tasks fails in CI"
Observed in three different build

- https://travis-ci.org/kubernetes-sigs/kustomize/builds/512234060
- https://travis-ci.org/kubernetes-sigs/kustomize/builds/512281457
- https://travis-ci.org/kubernetes-sigs/kustomize/builds/512299029

Linux build passed though.

[code]

[2019-03-28 13:53] mathportillo opened #930 "How to avoid data duplication without variable literals or template-like features?"
Hello guys,
First of all thanks for the amazing work!
How to avoid duplication of data and all its consequences without globs?

For example, I have an kubernetes application that uses a WEB_HOST address in three places:
- a pod: as an env variable, so it can send e-mail with the right links
- a ingress: so it can load balance based on that host
- a certmanager Certificate dnsName: so it can create

[2019-03-28 19:39] Liujingfang1 commented on #930
`Vars` also work for custom resources. For example, I want var to work in the path `spec/beeRef/action` in kind `MyKind`. Then I'll add custom configurations as
[code]
For more details, please take a look at the[ CRD example](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs/crd).

[2019-03-28 20:01] Liujingfang1 commented on #915
`images` are only effective to current kustomization and are not visible to its overlays.

[2019-03-28 20:01] #914 closed

[2019-03-28 20:03] Liujingfang1 commented on #907
We can add a note to this file https://github.com/kubernetes-sigs/kustomize/tree/master/examples/transformerconfigs

[2019-03-28 20:08] Liujingfang1 commented on #906
The format of `fieldRef` is consistent with [the downward api](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#the-downward-api) format. I don't think we need to change that.

[2019-03-28 20:12] Liujingfang1 commented on #899
This has been fixed in 2.*.

[2019-03-28 20:12] #899 closed

[2019-03-28 20:19] Liujingfang1 commented on #902
This can be fixed by appending a `---` to the end of kustomize output.

[2019-03-28 20:42] Liujingfang1 commented on #916
Same issue as #669

[2019-03-28 20:43] Liujingfang1 commented on #669
The same issue was reported in #916. Close this one for duplication.

[2019-03-28 20:43] #669 closed

[2019-03-28 20:55] monopole commented on #897
This is easy in the simple case you describe (which assumes a one resource per file input), but trickier in the cases of multi-layer overlays with multi- or remote bases, etc., where any file could contain N resources. Further, the direction we are going includes more resource generators - more resources that didn't start from a file artifact.

The contribution in #929 is appreciated, but it touch

[2019-03-28 22:12] #858 closed

[2019-03-28 22:28] Liujingfang1 commented on #777
We added a list of kustomize features on https://kubernetes.io/docs/concepts/overview/object-management-kubectl/kustomization/#kustomize-feature-list

[2019-03-28 22:28] #777 closed

[2019-03-28 22:29] #787 closed

[2019-03-28 22:34] Liujingfang1 commented on #799
You can submit a PR to add that path to the default configuration.

[2019-03-28 22:40] Liujingfang1 commented on #803
close this issue as duplicate of #915

[2019-03-28 22:40] #803 closed

[2019-03-28 22:40] Liujingfang1 commented on #831
Should be fixed by #837

[2019-03-28 22:40] #831 closed

[2019-03-28 23:20] donbowman commented on #915
but why, is this by design? or by chance?

[2019-03-28 23:22] donbowman commented on #902
i'm not sure how i would do that tho. you mean have a 2nd command that does an echo --- ?

[2019-03-28 23:34] Liujingfang1 commented on #915
This is by design. Similar to `namePrefix` or `commonAnnotations`, they only set or modify the resources manged by the current kustomization.

[2019-03-28 23:35] Liujingfang1 commented on #902
Maybe following command
[code]

[2019-03-29 00:02] donbowman commented on #902
so yeah, i understand the workaround.
but why does it omit the doc separator from namespace? Even if i explicilty add?

it should produce valid yaml i think.

[2019-03-29 00:03] donbowman commented on #915
ok.... but is this important?
its making quite a bit more work and harder to maintain.

[2019-03-29 07:33] coderanger commented on #677
As a workaround, if you specify `volumeClaimTemplates: []` in the input document, Kustomize will leave it alone.

[2019-03-29 08:27] michaelbannister commented on #777
@Liujingfang1 an OpenAPI spec or a CRD for the `Kustomization` resource itself would still be really helpful – especially now IntelliJ's Kubernetes plugin can validate against custom resources if given a spec: https://plugins.jetbrains.com/plugin/10485-kubernetes

[2019-03-29 20:10] #913 closed

[2019-03-29 20:11] #890 closed

[2019-03-29 20:15] michaelbannister commented on #914
@Liujingfang1 then the help text for `kustomize edit add configmap` needs to be improved. It reads as though it's valid to pass a directory path:

[code]

The syntax you described above does work, but it doesn't seem intuitive and I had to quote the file path or escape the `*` to prevent shell expansion.

[2019-03-29 20:23] Liujingfang1 commented on #914
@michaelbannister Agree. Would like to open a PR to improve the help message?

[2019-03-29 20:43] Liujingfang1 commented on #849
@max-sixty You can do that with `vars` + custom configurations to allow vars can be replaced inside ConfigMap data fields. It's a bit tricky and I am not sure it is worth. Here is the custom configurations you need to add. With Vars defined for GOOGLE_CLOUD_PROJECT, it should work.
[code]

[2019-03-29 20:43] #849 closed

[2019-03-29 22:19] michaelbannister commented on #914
If someone can describe exactly (or point me to tests for) the acceptable syntax I’d be happy to open a PR, but I don’t want to write help text based on trying to guess the behaviour! 🙂

[2019-03-30 00:33] jgonera opened #937 "Kustomize 2.x breaks patch re-use"
I commented on https://github.com/kubernetes-sigs/kustomize/issues/798 but that issue is already closed so perhaps nobody is looking at it anymore.

The solution proposed in https://github.com/kubernetes-sigs/kustomize/issues/798 doesn't work for me (or I don't understand how to apply it). My folder structure:

[code]

Now let's say I use `common/patches/debug.yaml` in both `overlays/dev/kustomiza

[2019-03-30 21:43] yellowmegaman commented on #680
@monopole Maybe I'm missing something, but adding another file to configMap is not actually a merge.
What  we do want (speaking for my company) is to have some basic common application.conf, and some custom additions to it, like dev.conf/stage.conf which are ok to just to append to common config.
With your example https://github.com/kubernetes-sigs/kustomize/blob/master/examples/combineConfigs.md

[2019-03-31 01:38] #772 closed

[2019-04-01 08:09] KarstenSiemer commented on #106
This indeed works, but the resulting yaml bundle is not usable by kubernetes anymore.
This is what the yaml looks like in the bundle now:
[code]
applying this to kubernetes results in:
`error: error validating "STDIN": error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false`
turning off validation is not a feasible

[2019-04-01 14:02] jcassee commented on #316
This is becoming a problem in our situation. I have a couple of bases that are being reused in a single overlay. For example, the PersistentVolumeClaim of different Postgres bases need different sizes patched in.

@Liujingfang1 Can you give some code pointers on where that second name matching round would need to be added?

[2019-04-01 18:36] mathportillo commented on #930
Nice!
Thanks a lot.

[2019-04-01 18:36] #930 closed

[2019-04-02 15:27] ryandbump commented on #902
I think this is a reasonable ask. Appending the output from kustomize to a file or stream seems like a fairly common workflow and it could be enabled by ensuring that the output always starts with a document separator.

Looking at the `EncodeAsYaml` function, writing a leading document separator is explicitly avoided but I am not sure I understand the reasoning for that.
https://github.com/kuberne

[2019-04-03 08:16] matti commented on #680
this is another case where variables would help like https://github.com/kontena/mortar has

[2019-04-03 13:07] mjattiot commented on #672
@Liujingfang1 when use behavior: merge the namespace is removed as well. I don't think it's the expected behavior to me. What do you think ?
Usually we replace/merge secrets for prod environments but they still belong to the same namespace ...

[2019-04-03 14:22] JordanP commented on #937
I guess you could use a symbolic link ?

[2019-04-03 15:40] Kruptein commented on #865
I agree with @brushmate that this currently just adds unncessary extra files.

I have a setup like this:
[code]
in which A/kustomization ideally would look like:

[code]
and that B/kustomization can handpick a different set of patches.

However currently I would have to add a new overlay A and B to each component to handpick the patches and then use that overlay as the base in namespaces/A, which

[2019-04-03 21:00] kunickiaj commented on #55
Doesn't seem like #245 addresses this issue, which is similar to #227 but for separating each resource.

for example:

[code]
Is one workaround to splitting the resulting output into separate files, but all context is lost. Would be nice to have something similar to `helm template` where a comment is added to each resource indicating where it originated from.

[2019-04-04 08:47] ig0rsky commented on #370
I think this issue should be reopened. There's no easy way to create a configMap using the generator from the base dir. without ending up with complex keys at the moment. @Liujingfang1

[2019-04-04 09:07] yujunz opened #942 "Support kustomize spec mixins from annotation"
The requirement originates from a use case to make **variable substitution in custom fields**.

For example, to substitute namespace in ambassador configuration which is stored in `metadata/annotations/getambassador.io\/config`, we need to make changes as below:

- create var in `kustomization.yaml`
- add field spec to `kustomizeconfig.yaml` and included it

It ends up in lots of code fragment whe

[2019-04-04 14:22] Mikulas opened #943 "Panic with overridden commonlabels.yaml"
This partially relates to #817

When overriding the default configuration and adding an explicit `version` field such as this

[code]
[code]

`kustomize build` then fails with
[code]
presumably because the `version` in the default configuration is not defined.

Version: {KustomizeVersion:v2.0.3 GitCommit:a6f65144121d1955266b0cd836ce954c04122dc8 BuildDate:2019-03-18T22:15:21+00:00 GoOs:darwin GoArc

[2019-04-04 14:30] midivi commented on #249
Can we agree this is not a feature? ie: this is a bug.

[2019-04-04 20:35] jgonera commented on #937
@JordanP symbolic links are not cross-platform and I'd rather avoid them in my git repos.

@monopole do you have any suggestions? I see that this restriction was introduced in https://github.com/kubernetes-sigs/kustomize/pull/700 and the fix mentioned there does not say what we could do if we want to patch something that is already coming from a base.

[2019-04-04 22:34] objectiveous commented on #923
+1.

[2019-04-04 22:54] objectiveous opened #944 "personal access tokens and github enterprise (GHE)"
Please consider supporting github enterprise and github's personal access tokens.

[2019-04-04 23:08] mailtoraja18 opened #945 "cloud-build-local fails"
forked the repo and trying to do a local build fails. Do i need any credential ?

`kumar@kumar-galago-pro:~/Downloads/kustomize$ cloud-build-local --config=build/cloudbuild_local.yaml --dryrun=false --write-workspace=/tmp/w .
2019/04/04 19:04:45 Warning: The server docker version installed (18.09.4) is different from the one used in GCB (17.12.0-ce)
2019/04/04 19:04:45 Warning: The client docker v

[2019-04-05 08:15] maxhomann opened #947 "Line breaks on long strings with spaces"
When combining helm templates with kustomize overlays, a line break is inserted when the line is very long and contains spaces.

Tested versions: 2.0.1 and 2.0.3
Using test/base.yml:
[code]
and test/kustomization.yml
[code]

results in
[code]

Expected Behavior:
- Line without line break
- Also, the string/quoted value of the image name in base.yml is converted to an unqouted value on build while

[2019-04-05 13:22] kkasravi opened #949 "upgrade kustomize to use go modules"
kubernetes go modules have been merged to master and published to staging repositories. The reason for k8sdeps (staging vs public) should be resolvable using go replace directives in the go.mod file.

[2019-04-05 14:08] brushmate commented on #865
I think it was a security consideration which is described in #693.

[2019-04-05 14:11] Kruptein commented on #865
I see, understandable then.

Maybe an optional configuration setting to allow files ending in .yaml or some way to change the root could help then.

I guess I'll have to use the more verbose way for now.

[2019-04-05 21:05] #564 closed

[2019-04-06 00:35] dantman opened #952 "Support multiple resources using the "same" container configuration (env/volumes) without duplication"
I have a container with a large env/volume configuration. I would like to be able to re-use that same container configuration in another pod. Namely I have a container defined in a deployment and I'd like to define a job (cron or one-off) with the same image that uses the same env/volume configuration as the deployment pod.

Right now the only way to do this is to just copy and paste the whole env

[2019-04-06 00:54] dantman commented on #952
For an example, take the following hypothetical setup:
[code]

Now imagine that `env` is even more massive than just db user and db password.

The general idea of this issue is we do not have to repeat the following multiple times, the deployment pod and the cron job pod are effectively the same type we just want to define this env configuration once and use it for both the server and cron job.

[

[2019-04-07 14:50] kkasravi commented on #680
@narg95 this can be done in the following way:

Below is in a file `resources.yaml`

[code]

The kustomization file looks like

[code]

params.env contains

[code]

params.yaml contains

[code]

Note that this inserts an extra ConfigMap which you would probably delete afterwards.
eg

[code]

outputs
[code]

[2019-04-08 08:10] yujunz opened #956 "nameSuffix or namePrefix to cluster scope resource only"
The use case is to duplicate one base in different namespace, i.e. one for dev and another for prod.

We get a problem with cluster scope resources like `ClusterRole` or `CRD`, which do not belong to any namespace. Adding `nameSuffix` or `namePrefix` can solve the conflict but it will introduce unnecessary name transformation to namespace scope resources.

It would be nice to have an option to lim

[2019-04-08 14:04] wichert commented on #642
One workaround is to have two patches apply changes to different ends of the array:

* patch A adds to `/spec/templates/0`
* patch B adds to `/spec/templates/-`

Of course this only works if you have two patches. If you need more patches you are still stuck.

[2019-04-08 18:24] monopole commented on #897
Please reopen if you'd like to clarify this.

[2019-04-08 18:24] #897 closed

[2019-04-09 06:38] yujunz commented on #956
This problem might be solved by splitting the base properly, see https://github.com/replicatedhq/ship/issues/902

Not sure there is a better way to support such scenario in kustomize itself or not.

Speaking to my rubber 🦆...

[2019-04-09 17:00] yrobla commented on #897
I need to reproduce an exact file layout as it is needed for our purposes.

[2019-04-09 20:20] orirawlings commented on #896
Does this issue supersede #91? I'm just trying to make sense of the network of linked issues.

[2019-04-09 23:22] johnmarcou opened #961 "Exit code==0 on fail"
# What's happen
`Kustomize` returns `exit code 0` even if the build failed.

# What is expected
Get a non-zero exit code, in order to setup a CICD pipeline to fail on `kustomize build` error.

# How to reproduce
[code]

# Version
[code]

[2019-04-10 13:00] fbiville opened #963 "Do not normalize paths when the in-memory filesystem is used"
## Affected version
1.0.11 / 2.0.3

## Description
Project [riff](https://projectriff.io/) uses `kustomize` as a Go library. Our integration is inspired from https://github.com/kubernetes-sigs/kustomize/issues/142#issuecomment-433267047 and https://github.com/kubernetes-sigs/kind/pull/77#issuecomment-433266099.

The integration relies on the `fakeFs` implementation (via `fs.MakeFakeFS()`) and wrap

[2019-04-10 13:51] fbiville commented on #963
After upgrading to `2.0.3`, the situation is much better. However, `/` is now normalized to `\`.

This time, simply declaring `\` as the root directory of the in-memory FS when `runtime.GOOS` seems to work fine.

[2019-04-10 13:57] fbiville commented on #963
Though the issue is not as critical as it initially was, I would leave this open as I do not think that path normalization should happen at all when using an in-memory filesystem.

[2019-04-11 10:16] aberres opened #964 "Not possible to build dynamic annotations needed for Ambassodor"
When using [Ambassador](https://www.getambassador.io/) to dynamically route traffic it is necessary to add an annotation to every service.
Especially when running in a CI setup where review branches are deployed this annotation is completely dynamic but can be generated when knowing the service name and the namespace it is deployed into..

An annotation could look like this:
[code]

Right now we h

[2019-04-11 15:29] renaudguerin opened #965 "configMapGenerator: loading individual ConfigMap K/Vs from a file instead of literals."
Hello,

I'd like to implement immutable ConfigMaps, and the hash suffix feature of `configMapGenerator` is perfect for that.

However, it seems like it only allows generating ConfigMap key/value pairs from inline `literals` in `kustomization.yaml`. The `files` option just loads an entire file's content as a single key.

I'd really prefer keeping these values in a separate file, so my dev team can

[2019-04-11 18:43] bryanlarsen commented on #766
This is really annoying.

I had to go from

- base
   - file1.yaml
   - file2.yaml
   - file3.yaml
- dev
  - some_dev_specific_file.yaml
  - kustomization.yaml
- prod
  - some_prod_specific_file.yaml
  - kustomization.yaml

to

- base1
   - file1.yaml
   - kustomization.yaml
- base2
   - file2.yaml
   - kustomization.yaml
- base3
   - file3.yaml
   - kustomization.yaml
- dev
  - some_dev_specific_

[2019-04-11 21:55] jonasrmichel opened #967 "Support command-based SecretGenerator DataSource"
The `secretGenerator.commands` field was replaced by a new `DataSource` abstraction in `v2.0.3` (#703).

The `commands` field provided secret hydration via shell commands, which was useful for fetching secrets from an arbitrary source (e.g., a hosted secret store).

The new `DataSource` mechanism only seems to support sourcing secrets stored in files. This approach is arguably simpler, but require

[2019-04-12 05:19] kellerkind84 opened #969 "Hello World Example outdated"
The Hello World example seems to be outdated. The file tree suggested leads to an error, it only works when base and overlay folders are neighbors.

[2019-04-12 08:52] pohly commented on #937
@JordanP symbolic links don't work, the security check resolves the link and then complains about the target.

I also ran into this limitation. The only solution that I see right now is to duplicate files in my git repo, which is just plain ugly.

[2019-04-12 08:56] pohly commented on #254
Which issue tracks that? https://github.com/kubernetes-sigs/kustomize/issues/923 is about `bases`, so that's different.

[2019-04-12 09:00] pohly commented on #923
I'm a bit confused. The documentation says that `bases` entries can have hashicorp URL format:
https://github.com/kubernetes-sigs/kustomize/blob/177297c0efb92ec2d7eea8f20c65c1d11c6ae7ef/docs/kustomization.yaml#L130-L133

Is that incorrect and the actual implementation expects something else, or only supports a subset of the hashicorp implementation?

[2019-04-12 09:08] pohly opened #970 "resources: support remote files"
Currently, `resources` entries must be local files. It would be useful to allow references to remote files, for example a file served by a HTTPS server.

The use case I have in mind is about pulling the `rbac.yaml` files that Kubernetes-CSI publishes for each sidecar app into a deployment:
https://github.com/kubernetes-csi/external-provisioner/blob/master/deploy/kubernetes/rbac.yaml

Originally th

[2019-04-12 09:36] pohly opened #972 "namePrefix in base breaks patchesJson6902 in overlay"
For a reproducible test, see https://github.com/kubernetes-sigs/kustomize/pull/971

I'm using kustomize master, currently 177297c0efb92ec2d7eea8f20c65c1d11c6ae7ef

I'm trying to patch a DaemonSet, but kustomize keeps complaining that it `couldn't find target apps_v1beta2_DaemonSet|~X|~P|pmem-csi-node|~S`.
The target is defined as:
[code]
and there such a DaemonSet in the output when I comment out

[2019-04-12 09:39] pohly commented on #972
Also, is there some documentation about the matching criteria in `target`? By trial-and-error I found out that group+version+kind seem to have to match exactly (i.e. one cannot leave out group or version if the base has it). Is it possible to match just by name, assuming that the name is unique? What is the `~X`, `~P`, '~S` that is shown in the error message?

[2019-04-12 20:52] pwittrock opened #973 "Kustomize meta issue"
- [ ] Support setting replicas as a first class field (like images)
- [ ] Support fine grain control of configuring configmap generation behave - e.g. generate hash suffix
- [ ] Clarify that order of resources means nothing
- [ ] Deleting should be done in the reverse order
- [ ] Change labels of duplicates Pods for DaemonSets
- [ ] Namespace Resources vs Namespace field
- [ ] Story on cleaning up

[2019-04-12 23:22] monopole opened #975 "Allow reuse of patches"
The _data path_ restrictions imposed in #700 have the unintended effect of blocking the reuse of  patch files.  #700 doesn't create a problem for resources, as the way to achieve resource reuse is through bases (different kustomizations can refer to the same base).  A base is also a way to reuse generated resources like secrets and config maps, so #700 doesn't block generator reuse.

But patches a

[2019-04-12 23:23] #975 closed

[2019-04-12 23:24] monopole commented on #937
Thanks, yes - its a problem.

The _data path_ restrictions imposed in #700 have the unintended effect of blocking the reuse of  patch files.  #700 doesn't create a problem for resources, as the way to achieve resource reuse is through bases (different kustomizations can refer to the same base).  A base is also a way to reuse generated resources like secrets and config maps, so #700 doesn't block g

[2019-04-12 23:24] monopole commented on #937
In the meantime, duplicate the patches.  Annoying, but symbolic links are disallowed.

[2019-04-13 17:19] frejsoya commented on #937
This is a similar to #868. We ended up restructuring the file layout with make. But from a user perspective it is now a black magic box.

[2019-04-13 19:19] jcassee commented on #972
See also #316

[2019-04-14 20:14] jcassee commented on #766
I believe it is not possible to reuse common patches in this way?

[2019-04-14 21:49] timfpark commented on #399
You also should fix the CLI documentation while you are at it, which is also confusing.

[2019-04-15 08:22] sttts opened #976 "Use-case: deploying an admission webhook"
My first journey with kustomize (embedded in kubectl 1.14) was an attempt to deploy a webhook with TLS certificates, and I either miss something in the feature set or this is out of scope.

Setup:
1. tls.crt + tls.key files created with a two liner openssl command.
2. both files must go into a secret
3. the tls.crt also has to be injected into a `ValidatingWebhookConfiguration` as a base64 encoded

[2019-04-15 08:26] soltysh commented on #976
/assign @Liujingfang1 @monopole

[2019-04-15 09:00] shanna commented on #766
My use case is I have a few secrets used by applications not run in kubernetes (mobile, desktop and IOT) and I'd rather not have multiple copies or a makefile to shuffle files around before kustomize is run.

[code]

[2019-04-15 12:39] olvesh commented on #613
This should be reopened, CronJobs does still not work with projected volumes.

[2019-04-15 13:01] povilasv opened #977 "Strategic merge patch for Service Ports"
Currently if I have this service:

[code]

And try to strategicMergePatch with this.

[code]

`kustomize build .` produces this:

[code]

In the output you can see 2 service ports having same name but different port value, which doesn't work in Kubernetes.

The use case for this is to add Authentication proxy in overlay and make that actually service ponts to a `9080` port instead of `3000`

[2019-04-15 17:13] serbrech opened #978 "Publish 1.x version of Homebrew packages"
Many project are still in transition to kustomize 2 and require kustomize 1.x to function.

Publishing the 1.x version as Homebrew package version would make it easier for users who rely on the brew installation for kustomize.

currently, I can only do

`brew install kustomize`

I want to be able to do. `brew install kustomize@1.0.11`

and that will let me do

`brew switch kustomize <version>`

[2019-04-15 18:20] povilasv commented on #977
NVM same issue as https://github.com/kubernetes-sigs/kustomize/issues/173 closing.

[2019-04-15 18:20] #977 closed

[2019-04-15 18:23] jonasrmichel commented on #967
Closing in favor of https://github.com/kubernetes-sigs/kustomize/pull/760

[2019-04-15 18:23] #967 closed

[2019-04-16 14:03] skryvets commented on #202
Hello @sleepycat, @Liujingfang1.

First of all thank you a lot for this awesome tool for managing templates and great work that you do.

After googling around, found this issue that directly relates to my case. Particularly, I use `kustomize` to create pvc/pv that are used by deployments. Because of the random output generated by customize, volumes are initialized after deployments, which causes u

[2019-04-16 16:36] Liujingfang1 commented on #202
@skryvets The output is not random. They follow a predefined order in https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/gvk/gvk.go#L72
[code]
You can add `PersistentVolumeClaim` before `Deployment`.
For a more flexible solution of ordering, it should be solved by a custom transformer. This is a new thing in Kustomize and still in progress.

[2019-04-16 16:41] Benjamintf1 opened #981 "Common Labels but doesn't add to any selector"
Especially for continuity for previous deployments/objects, it would be nice to have a version of the common labels attribute that doesn't add to any label selector anywhere.

[2019-04-16 16:42] #981 closed

[2019-04-16 16:42] Benjamintf1 commented on #981
similar to https://github.com/kubernetes-sigs/kustomize/issues/330

[2019-04-16 16:44] Benjamintf1 commented on #330
I don't think that would work for our use-case.

Specifically, we are deploying based on some labels, this includes a common label that is un-applied via patch from specific resources(to prevent from deleting certain resources).

[2019-04-16 17:36] lionelvillard opened #982 "support for namespace in vars objref"
usecase: inject the istio ingress in the `istio-system` namespace into a k8s ingress.

Kustomization.yaml:

[code]

[2019-04-16 19:58] Benjamintf1 commented on #157
I don't think commonLabels should add to ANY selector. apps/v1 doesn't allow changes to selectors, and changes to deployments/ds in extensions will cause orphaned daemon sets. It should be opt in to add label selectors for common labels as if you don't know what you're doing you're very liable to end up with a lot of orphaned resources, or unable to deploy at all.

[2019-04-16 21:49] lionelvillard commented on #982
closing, the issue is related to vars not supporting references to dynamic resources.

[2019-04-16 21:49] #982 closed

[2019-04-17 10:42] Betula-L opened #985 "configMapGenerator do not support relative path since v2.0.0"
**What happened**:
configMapGenerator do not support relative file path in v2.0.*.
I have a kustomization.yaml works well in v1.0.11, but failed in v2.0.*.
[code]
When i upgrade my kustomize, error occurred as following,
[code]
**What you expected to happen**:
configMapGenerator relative path should works well in v2.0.*

[2019-04-17 10:57] dimakievua opened #986 "configMapGenerator does not generate hash in deployment"
Hi,

Try to add configMapGenerator to my deployment. Read in manuals that: "For a patch to work, the names in the metadata/name fields must match.". Add metadata/name. Check on simple deployment - everything is Ok. But in my one - does not work.

[code]
and kustomization.yaml:

[code]
Looks quite simple, but in result I have:

[code]

Could look at this issue? How could I debug it?

[2019-04-17 12:54] dimakievua commented on #986
Reproduce this issue on test configuration:
[code]

As you can see delete namespace from deployment and hash successfully added to manifest.

[2019-04-17 12:58] dimakievua commented on #986
Used  `namespace: monitoring` in `kustomization.yaml` and everything work as expected.

[2019-04-18 00:26] jta opened #987 "Namespace not update for service reference in cluster scoped resource"
To my knowledge there doesn't seem to be a way of correcting namespaces for referenced objects in cluster scoped resources, outside of the hard coded logic in https://github.com/kubernetes-sigs/kustomize/blob/50c076eb3f0e4ffc4c8733aaa9f7421aecedc2aa/pkg/transformers/namespace.go#L93

To replicate, using the following set of resources:

[code]
Kustomizing with `namespace: new-namespace` will not ad

[2019-04-18 08:59] Shalucik commented on #506
I'm also having this problem, is there any news if and when this will be fixed?

[2019-04-18 17:52] #799 closed

[2019-04-18 19:05] monopole commented on #937
I'm taking this.

[2019-04-19 09:11] #986 closed

[2019-04-19 12:27] yujunz commented on #927
It seems recovered.

[2019-04-19 12:27] #927 closed

[2019-04-19 12:33] yujunz commented on #915
It sounds reasonable to me. One benefit would be a deterministic build.

[2019-04-19 13:17] yujunz commented on #923
I saw some recent update about plugin (see https://github.com/kubernetes-sigs/kustomize/commit/f6e01cfda788b7e2765807163d312359bdb98d10 )

Is it feasible to exec go-getter as a plugin? It has a standalone executable. (see https://github.com/hashicorp/go-getter#installation-and-usage).

@Liujingfang1

[2019-04-19 16:22] Liujingfang1 commented on #923
@yujunz You could write a generator plugin which executes go-getter. This plugin can fetch the files or directories with only raw K8s resources.

The generator plugins assumes the output is a list of K8s resources. If the remote URL doesn't have a kustomization.yaml and only contains raw K8s resources, the plugin can just load them and write them into a [resmap](https://github.com/kubernetes-sigs/

[2019-04-19 17:18] ryandbump opened #994 "CronJob initContainer vars not replaced"
Objref vars are not replaced in CronJob initContainer but the vars are correctly replaced in CronJob containers. The example below recreates the issue I am seeing.

Run `kustomize build` on directory containing the files below:
[code]

[code]

Output:
[code]

kustomize version:
[code]

[2019-04-19 22:12] vreon commented on #994
Fixed in #884, I believe, but those commits haven't made it into a release yet.

[2019-04-20 00:02] yujunz commented on #923
Is plugin limited to generator?

Can we also extend loader with external plugin?

[2019-04-20 00:19] monopole commented on #952
Generators coming.

[2019-04-20 13:46] wernerb opened #999 "namePrefix ignores storageClassName reference"
Adding a namePrefix or nameSuffix ignores `storageClassName`

## Version

[code]

## Input

`local.yml`:

[code]

with kustomization:

[code]

## Result
[code]

## Expected Result

`storageClassName` is renamed to `myhost-local-storage` for pvc and pv

[2019-04-20 14:09] #851 closed

[2019-04-20 14:09] #868 closed

[2019-04-20 14:09] #937 closed

[2019-04-20 14:09] #985 closed

[2019-04-20 14:53] monopole commented on #985
Thanks for the bug report!  Please see the new [faq](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar).

[2019-04-20 14:53] monopole commented on #937
Please see the new [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar).

[2019-04-20 14:54] monopole commented on #868
Thanks for the bug report!  Please see the new [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar).

[2019-04-20 14:55] monopole commented on #851
Thanks for the bug report!  Please see the new [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar).

[2019-04-20 15:04] monopole commented on #851
@nhooyr agreed - docs need an update

[2019-04-21 10:08] sunny0826 opened #1001 "Discussion about the Chinese documents"
I am a developer from China. kustomize is awesome. I hope to contribute Chinese documentation to make more Chinese developers use kustomize. what should I do?

[2019-04-21 20:32] Dean-Coakley commented on #949
@kkasravi I don't understand the k8sdeps part of your issue but it looks like this change has already landed in: https://github.com/kubernetes-sigs/kustomize/commit/e191ff53ddd4d680c84aeac40703d0af36decc83 unless I'm mistaken.

This issue can be closed?

[2019-04-22 15:55] Liujingfang1 commented on #923
Currently plugins are either generators or transformers, loaders are not included. If you have any thoughts, feel free to write a KEP for it.

[2019-04-22 18:19] monopole commented on #975
See #998

Adding `--load_restrictor none` flag disables the thing blocking patch sharing.

[2019-04-22 23:25] monopole commented on #1001
That would be fantastic!

As a point of reference, https://kubernetes.io has its content stored [here](https://github.com/kubernetes/website/tree/master/content).  Immediately below this is `en`, `zh` etc.  It appears the `en` version is canonical, and is translated per [these instructions](https://kubernetes.io/docs/contribute/localization/).

Kustomize doesn't have such a fancy website.   There'

[2019-04-23 01:47] sunny0826 commented on #1001
@monopole All right. I will creating a new ```zh-CN``` tree under ```docs```,  because I am using Simplified Chinese. First I will provide a translation of the ```README.md```.  Can I add a link to the main README ?
like
![image](https://user-images.githubusercontent.com/24563928/56546120-2faa9700-65ac-11e9-80bd-8f185479bbc6.png)
or
![image](https://user-images.githubusercontent.com/24563928/56546

[2019-04-23 13:32] tpaoletto commented on #720
Is it possible to have the PR approved to test this new feature?

[2019-04-23 20:15] Liujingfang1 commented on #720
This is not started yet. We recently added support for generator and transformer plugins.
Patching multiple targets by one patch can be done through a transformer plugin.

[2019-04-23 23:21] monopole commented on #766
One can share patches in HEAD:

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar

The code is in, and will be in release 2.1, coming in a week or two.  Need to write docs and a add some more tests for other stuff.

[2019-04-23 23:21] #766 closed

[2019-04-23 23:53] pwittrock opened #1009 "support for common labels that don't get set on selectors"
certain labels such as *version* shouldn't be propagated to selectors, but are common to the entire app.

[2019-04-24 00:02] laverya commented on #947
I think if https://github.com/go-yaml/yaml/pull/455 gets merged that might be the signal to migrate to yaml.v3, and unlimited line lengths...

[2019-04-24 05:10] kkasravi commented on #949
yes, thanks

[2019-04-24 05:10] #949 closed

[2019-04-24 12:12] primeroz commented on #552
Any update on this ?

We are having the same problem with a cluster scoped CRD

[2019-04-24 16:22] almariah commented on #557
@Liujingfang1 Any update about that issue. I have the same problem

[code]

[2019-04-24 16:32] kkasravi opened #1010 "ad-hoc overlay combination, suggested approach?"
I have a kustomize target that looks like so

profiles/base .                     -> {kustomization.yaml, deployment.yaml}
profiles/overlays/debug .   -> {kustomization.yaml, deployment.yaml}
profiles/overlays/devices . -> {kustomization.yaml, deployment.yaml}

The debug and devices overlays are changing the command and resources in the deployment podtemplate container. I can run `kustomize build`

[2019-04-25 07:27] fentas commented on #720
@Liujingfang1 Is there somewhere docs on how to this or some examples?

[2019-04-25 08:06] bcbrockway opened #1013 ""conflicting fieldspecs" when trying to enable creation of antiAffinity commonLabel selectors"
Similar to https://github.com/kubernetes-sigs/kustomize/issues/817 but in my case I want to *enable* the addition of commonLabels to specific selectors. I have a StatefulSet for Elasticsearch for which I currently have to define these manually:

[code]

The default transformer config disables auto-creation:

[code]

I figured I could just create a new file with `create` set to `true` and then refe

[2019-04-25 10:27] george-angel commented on #230
/remove-lifecycle stale

[2019-04-25 18:24] nabadger opened #1015 "Can kustomize edit set-image be "context" aware?"
Maybe "container" aware is a better title?

We would like to use kustomize to generate manifests for our entire cluster-state.

The problem we have is that we may be running multiple versions of an application - i.e. `redis:v1.0` and `redis:v2.0`. Maybe different teams have different versions, or we want to upgrade certain versions first and ensure they pass QA (or whatever really).

Generally spe

[2019-04-26 09:32] embik opened #1017 ""kustomize build" fails on empty "annotations:" line"
kustomize `2.0.3` fails with this example:

kustomization.yaml:
[code]

pod.yaml:
[code]

[code]

The `annotations:` line in `pod.yaml` is responsible for this. It seems like kustomize cannot handle an empty but defined `annotations` field here.

This is an issue because cert-manager distributes a YAML bundle that contains this issue (see [cert-manager.yaml](https://github.com/jetstack/cert-manage

[2019-04-26 17:25] monopole commented on #969
True, the tree shown does have the base and overlay folders as siblings, but this is intentional and  doesn't result in an error.  This and all examples are run as part of the pre-commit test.

One could use another arrangement, but that would require changing the relative paths in the base references in the kustomization files under the overlays directory.  Right now they read
[code]
which is cor

[2019-04-26 17:25] #969 closed

[2019-04-26 18:37] monopole commented on #1009
Not possible with code as is :(

Could enrich the configuration of the current label applier to accept more rules, or write a new label transformer plugin and use that instead of the commonLabels field.

[2019-04-26 20:36] jcassee opened #1018 "Pass Loader to Go plugins"
The `Loader` interface is useful for plugins to load files. It is used by the builtin `Files` and `EnvFiles` plugins.

I created [two external plugins](https://github.com/goabout/goabout-kustomize-plugins) that mimic these plugins but use [sops](https://github.com/mozilla/sops) to decrypt their content. It would be useful to be passed the Loader to those plugins too, so they can use the same secur

[2019-04-26 20:43] JCMais commented on #388
What I've been doing is to use `envsubst`

[2019-04-29 08:08] Raqbit opened #1023 "Kustomizing host alias field"
I'm running an application on a local minikube cluster and want it to talk to a local development server which is running on bare metal. The application has a development Kustomize overlay which configures it to talk to a development domain, which should point to that other local development server.

I can modify `/etc/hosts` of the containers in Kubernetes using the `hostAliases` field in the pod

[2019-04-29 10:03] george-angel commented on #662
/remove-lifecycle stale

[2019-04-29 21:53] Benjamintf1 commented on #1009
If it is not possible to have common labels not apply to the selectors, then you should consider removing support for common labels. In the current state is encourages you to NEVER change your labels and is very anti-ci.

[2019-04-29 22:37] Benjamintf1 commented on #1009
Either that, or change the name of `commonLabels` to `commonLabelsAndSelectors`. Because I don't think anyone who's worked on kubernetes for a while to expect it to be added to selectors with that name. Adding to selectors is bad, especially because you're expected to have continuity.

[2019-04-30 07:36] bgauduch commented on #710
/remove-lifecycle stale

[2019-04-30 11:09] antonosmond opened #1026 "Unexpected magic - kustomize build changes values without an explicit patch"
Hi
I'm not sure if this is a feature, a lack of understanding on my part or something else but I have a strange thing happening when doing a kustomize build using overlays.

kustomize version: v2.0.3

Given the following structure:

[code]

And the following base files:
[code]

[code]

[code]

And the following overlay files:

[code]

[code]

I run `kustomize build overlays/example/`

My expectati

[2019-04-30 13:49] jinchihe opened #1027 "The patchesStrategicMerge cannot merge crd tfjobs"
Hello,

I have a problem for merge crd tfjobs by using `patchesStrategicMerge`. My case is simple, `base` + `overlay`, as below.

There are 4 files:
[code]
The `base` kustomization.yaml and training.yaml are as following:
[code]

[code]
And the `overlay` files are as following:
[code]
[code]

Run the `kustomize build overlay/local/`.
[code]
Then you will find containers metrics in `base` such as `

[2019-04-30 13:55] jinchihe opened #1028 "kustomize should support set value for configmap."
There is a requirement that we defined a configmap and with same default value (for some variables in container), we want to update some key-values in the configmap by using kustomize. Any plan to support that? From below help info, the current kustomize does not support that. Thanks.

[code]

[2019-04-30 14:04] jinchihe opened #1029 "kustomize cannot set the image without tag"
kustomize cannot set the image without tag

From below, I want to set the image (`test_example`) without tag, but printed error, but in the help information, we can see the image can be `- <image>=<newimage>` (without any tag).

[code]
Seems it's a bug?

[2019-04-30 16:54] Liujingfang1 commented on #1018
The `loader` is passed to goplugins for [generators and transformer](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/plugins/loader.go#L86), but not for secret generator plugins.
We should scandalize that for secret generator plugins.

[2019-04-30 20:32] Kampe opened #1032 "Failed to find an object with apps_v1_Deployment to apply the patch, differing output between darwin and linux binaries"
Having a pretty odd issue, I'm attempting to utilize Kustomize in my cloudbuild pipeline using the newest available image (Kustomize 2.0.3) - I've also tried downloading via grep and attempting to use the linux binary on its own as a build step.

When utilizing kustomize locally with (darwin) I have no issues, I can output both my base and development kustomized manifests.  However, when using in

[2019-05-01 04:33] #1032 closed

[2019-05-01 08:40] joost14 opened #1033 "kustomize: command not found (Installation)"
Hi there,

After installing kustomize using `go get sigs.k8s.io/kustomize` and executing the command kustomize i get the follwoing error:
`kustomize: command not found`

Am I missing an installation step? I am trying to install kustomize on a ubuntu 18.04 machine using go 1.12

[2019-05-01 08:54] joost14 commented on #1033
Fixed. Needed to do the following:
`export PATH=$PATH:$(go env GOPATH)/bin`

[2019-05-01 08:54] #1033 closed

[2019-05-01 16:10] jcassee commented on #1018
@Liujingfang1 Language barrier: what does "scandalize" mean in this context? :-)

[2019-05-01 16:16] Liujingfang1 commented on #1018
My bad typing. I mean `standardize`.

[2019-05-02 03:23] wuxingzhong opened #1034 "multiple matchers error"
Error: Multiple matches for name apps_v1_Deployment|example|example-:config-|dep
loy|~S:
  [apps_v1_Deployment|example|example-:system-config-|deploy|~S apps_v1_Deployme
nt|example|example-:config-|deploy|~S]

[2019-05-02 10:53] stevejr opened #1035 "Ability to restrict fields that can be patched or merged"
Is it possible in kustomize to restrict the fields that can be merged or patched or is the only to achieve this setup is via linting the output from the `kustomize build` command?

[2019-05-02 13:17] bcbrockway opened #1036 "name clashes when using the same base twice"
Please see https://github.com/bcbrockway/kustomize-name-clash for a working example of this issue.

We have a multi-layered kustomize config similar to the following (actually in practice they're in many different places to keep them modular but this should illustrate the issue we have):

[code]

We're trying to reduce the amount of double-keying as much as possible by having an elasticsearch Stat

[2019-05-02 20:34] alexppg opened #1038 "[Feature request]: Add possibility to add json 6902 patches via edit"
Hi

Actually there's the possibility to add SMP via `kustomize edit add patch`. This is useful in the cases that you want to add stuff to the `kustomize.yml` file dinamycally. In the same way, it would be very useful to add json 6902 patches.
I imagine that since the nature of the 6902 patches are more complex, this option would need some more parameters. Also, I guess that [this](https://github.c

[2019-05-02 20:48] alexppg opened #1039 "use transformer plugin to update fields which can't be done easily otherwise"
This kind of patches are useful to manage lists. When you're managing lists, you don't know or care how long this list is. For example, in this resumed file:

[code]

You would create the next `kustomization.yml` file:
[code]

And `severity.yml` being this:

[code]

This would generate:
[code]

But what if I add another rule?

[code]

Then, I'd need to add to the `severity.yml` file another rule t

[2019-05-03 09:52] nabadger commented on #526
@Liujingfang1 As far as I can see this enhancement is not documented - would be good to have that.

Thanks!

[2019-05-04 13:15] jinchihe commented on #1027
@Liujingfang1 Any suggestion for working around this? or anyone can help on this? Great thanks!

[2019-05-04 23:00] vreon commented on #1015
Say you have a kustomization with two Deployments, and you want to set the image on each one independently:

[code]

You can move each into a lower kustomization, then use those as bases in the upper kustomization.
Any `kustomize edit set image [...]` on the lower kustomizations will then be scoped to just those resources.

[code]

[2019-05-05 09:15] jinchihe commented on #1027
Seems we can use `patchesJson6902` to work around, instead of `patchesStrategicMerge`, but it's a bit complicated.

[2019-05-06 08:52] jinchihe opened #1040 "The images in base will be used if defined images both in base and overlay."
Problem: The images in base will be used if defined images both in base and overlay.

Define image in base Kustomization.yaml as below.
[code]
in Overlay Kustomization.yaml as below.
[code]

The `myimage/base:v1` will be used, I think the overlay image shoule overwrite the base one.

[2019-05-06 16:18] Liujingfang1 commented on #1027
Strategic Merge Patch doesn't work with CRD. Please use `patchesJson6902`.

[2019-05-06 16:18] #1027 closed

[2019-05-07 07:29] jinchihe commented on #1027
@Liujingfang1  Got that, Thanks.

[2019-05-07 12:24] wichert commented on #306
This shouldn't be marked as stale afaics

[2019-05-07 12:45] kwladyka commented on #702
Workaround? How do you deal with it today?

[2019-05-07 14:43] orirawlings commented on #1039
`patchJson6902` is based on [RFC6902 from the Internet Engineering Task Force](https://tools.ietf.org/html/rfc6902)

RFC6902 in turn refers to [RFC6901 (JSON Pointer)](https://tools.ietf.org/html/rfc6901). As far as I can tell, RFC6901 is for targeting single values within a JSON document and it does not support any kind of globbing.

I don't think `patchJson6902` could support globbing without de

[2019-05-07 14:58] houz42 commented on #680
@kkasravi thanks for your examples, but do we have a more detailed documentation for this workflow? I want to generate a configMap from a nginx config file, with some template values using the 'vars'. But theres is too much '$' signs in it, which should be treated as literals. Is there any way to tell kustomize not to render them.

[2019-05-07 15:01] houz42 commented on #680
by the way, kustomize will output as follows if there is any unresolable '$' signs
[code]

[2019-05-07 15:31] mkobit commented on #720
Another possible use case might be updating/appending labels, like the ones recommended at https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2019-05-07 17:46] tbarrella opened #1044 "Multiple matches error when using ClusterRole resourceNames for resource in multiple namespaces"
Hello! This seems like a bug that's easiest to illustrate with an example. Is this meant to be handleable?

conifg.yaml:
[code]
kustomization.yaml:
[code]
Output:
[code]

[2019-05-08 00:01] chrishiner commented on #702
I hacked something into kustomize that does most of what I want. Basically just a version of secretfactory that knows what a sealedsecret looks like.
I have not rebased it lately.
Still trying to see if I can jump through the hoops to get our legal department to let me share it.
I am currently using the cluster-wide annotation to keep it from breaking when the hash gets appended to the name.

I li

[2019-05-08 00:13] hougangliu opened #1049 "transformers and configurations example in need"
it is easy to mix transformers up with configurations field, please add an example to describe the difference between them.
In particular, an example with transformers field is absent now

[2019-05-08 00:38] thdxr commented on #952
What are generators? I have a similar issue and am curious about the solution

[2019-05-08 06:36] kwladyka commented on #702
I would like to solve 2 things for sealed secrets:
- unique names like for Secrets generating. It makes easy Pods reloading after change Secrets.
- easy edit / update secrets values. I don't want to generate all the time whole file while I don't know current state. I want to change something and I want to be sure I am changing only this one value. So it will need probably also `base` on original `

[2019-05-08 10:27] donmstewart opened #1055 "Json Patch Service Account Name"

[2019-05-08 14:33] fentas commented on #720
@mkobit you can use `commonLabels` for that.

[2019-05-08 15:03] narg95 commented on #680
Hi @kkasravi, thanks for the explanation and the code!

I ended up with a similar solution but in my case at that time I generated all the configs with `kustomize config save -d ./configs` and I appended my custom configuration including the path `data/setings` from  configmaps. I did it so because from my understanding the custom configurations did not get merged with defaults so I did not wanted

[2019-05-08 17:45] aviau opened #1058 "field specified in var not found in corresponding resource"
Hello! I am trying to create a `var` that points to a deployment's `spec.replicas` field:

[code]

And I am getting the following error when running ``kustomize build``:
[code]

I can point to any field in ``metadata`` just fine, but not to the fields in ``spec``. Is this a bug?

[2019-05-08 20:03] kwladyka opened #1059 "[bug] ConfigMap behavior add / replace both failed"
kustomization.yaml
[code]

argocd-cm/kustomization.yaml
[code]

[code]

When changed to  `behavior: add`
[code]

bases order doesn't matter.

[2019-05-09 11:20] schweikert commented on #504
The workaround described in https://github.com/kubernetes-sigs/kustomize/issues/504#issuecomment-433502027 doesn't work anymore with kustomize 2.0.3 because the -t option is not supported anymore. Also, it seems that it is not possible to override the configuration of the commonLabels transformer (using configurations:...)

The other workaround of using "volumeClaimTemplates: []" doesn't work for

[2019-05-09 14:58] fentas opened #1060 "Referencing an empty patch file throws panic"
[code]

if `patches/rook-ceph-operator.yaml` is empty it will throw
[code]

[2019-05-09 15:20] fentas opened #1061 "Json patch with deep objects fail"
If I want to add a _deep_ object via JSON patch it won't work
[code]

resulting in
[code]

note: flat objects work as expected.

[2019-05-09 15:33] fentas commented on #1061
removing value array notation helped.. :smile_cat:

[2019-05-09 15:33] #1061 closed

[2019-05-09 16:14] Liujingfang1 commented on #1060
We should fix this issue before the 2.1 release.

[2019-05-10 03:56] coolyrat opened #1062 "not overlay correctly"
### cli version
`▶ kustomize version
Version: {KustomizeVersion:v2.0.3 GitCommit:a6f65144121d1955266b0cd836ce954c04122dc8 BuildDate:2019-03-18T22:15:21+00:00 GoOs:darwin GoArch:amd64}`

### my project layout
[code]

overlays/dev/kustomization.yaml
[code]

overlays/dev/a/kustomization.yaml
[code]

exec kustomize build overlays/dev expect to see:
app_b to app_n have labels
[code]

app_a have labels

[2019-05-10 15:32] narg95 commented on #1029
@jinchihe thanks for reporting it, the PR #1063 fixes it

[2019-05-11 15:14] larslevie commented on #348
I agree with @khrisrichardson that an option to inherit things like `namespace` and `commonLabels` would help avoid duplication and the eventual out-of-sync issues that will occur. This is especially important because the answer from the Kustomize maintainers to questions about edge cases is almost universally "this can be accomplished with a more sophisticated layout."

[2019-05-12 12:51] jinchihe commented on #1029
@narg95 Great, thanks a lot!

[2019-05-12 15:09] fentas commented on #205
/remove-lifecycle stale

[2019-05-13 08:56] yujunz opened #1069 "Error: json: unknown field "envs" when building the example in docs"
It seems caused by the `secretGenerator`.

[code]

The error will disappear if we modify `envs` to `env`, e.g.

[code]

Is there a change in the spec recently?

[2019-05-14 00:52] sasso commented on #880
I have the same problem and I would like to use `bases` to link to dependencies but not change the dependency namespace. @donbowman were you able to get around this issue?

[2019-05-14 20:14] nabadger commented on #1015
Yes - restructuring would help the general case.

We ended up resolving the issue another way (via json-merge patches).

In my original scenario, the tooling running the kustomize command was updating the images on the underlying deployments (automagically), but it wouldn't know which directories (or even which remote bases) the lower kustomization files were in. It only knew of the deployment nam

[2019-05-14 20:26] Liujingfang1 commented on #1069
@yujunz Yes, the `env` is changed to `envs` recently in #1041.

[2019-05-14 20:26] #1069 closed

[2019-05-14 20:29] Liujingfang1 commented on #1062
The label `tier` in app_a is override by the label `tier` in the overlay.
You can remove `tier` from the overlay commonLabels and add it to each application.

[2019-05-14 20:29] #1062 closed

[2019-05-14 20:36] Liujingfang1 commented on #1059
@kwladyka Instead of creating a base to override the ConfigMap `arocd-cm`, you need to put the `configMapGenerator` in the overlay kustomization.yaml

[code]

[2019-05-14 20:36] #1059 closed

[2019-05-14 20:37] Liujingfang1 commented on #1058
You can't have `group` and `apiVersion` at the same time. Change it to
[code]

[2019-05-14 20:37] #1058 closed

[2019-05-14 20:37] Liujingfang1 commented on #1060
Should be fixed by #1073

[2019-05-14 20:37] #1060 closed

[2019-05-14 20:48] Liujingfang1 commented on #1038
We can extend current `kustomize edit add patch` to support both `patchesStrategicMerge` and `patchesJson6902`. It could be done with a type flag.  Then for `patchesJson6902`, we need more arguments for target group, version, kind and name.

[2019-05-14 20:53] Liujingfang1 commented on #1039
I don't think json patch support globbing.

You can try to write your own transformer to achieve this. This would be a perfect example for [transformer plugins](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins.md).

[2019-05-14 20:59] kwladyka commented on #1059
How can I do generatorOptions only for this configMap then? I can’t have suffix here.

[2019-05-14 21:00] Liujingfang1 commented on #1035
I don't think there is such restriction in Kustomize.  If you need the output to be valid yaml files, you can lint the output; If you want to do more validation, such as that a field must have a predefined value or in a predefined range, the [transformer plugin](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins.md) can help.

[2019-05-14 21:03] Liujingfang1 commented on #1059
Since the behavior is `replace`, it will update the existing `arocd-cm` and no hash is appended.

[2019-05-14 21:18] Liujingfang1 commented on #1036
This is related to `vars`. When looking for targets to resolve the vars, only one target is expected. With this layout, it found two.
This is bug in Kustomize. It should include prefix and suffix when looking for the target.

[2019-05-14 21:22] Liujingfang1 commented on #1044
@tbarrella Each item in `resourceNames` is supposed to match with one resource in the Kustomization. Thus when the resource name changes, kustomize can also update `resourceName`.  With two `dummy` secrets, Kustomize doesn't know which one to match with.
What is your use case? Do you have to use multiple Secrets with the same name?

[2019-05-14 21:30] Liujingfang1 commented on #1040
By the `newName` in the base, the image name has been updated to `myimage/base`. So the overlay `images` doesn't find any matched image to replace.

You can fix this by different ways:
1. In the base, keep the image unchanged. Then you can create two overlays, one with  `myimage/base` and the other with `myimage/overlay`
2. In the overlay, change `images` to the following
[code]

[2019-05-14 21:30] #1040 closed

[2019-05-14 21:31] Liujingfang1 commented on #1034
Seems like the same failure as #1036.
Close it as duplication.

[2019-05-14 21:31] #1034 closed

[2019-05-14 21:31] Liujingfang1 commented on #1029
Should be fixed by #1063

[2019-05-14 21:31] #1029 closed

[2019-05-14 22:01] Liujingfang1 commented on #1028
You can use `kustomize edit add configmap`. Since `confimapGenerator` can generate ConfigMaps from files, literals, envs, only allowing set value for a key doesn't work.

[2019-05-15 00:58] jinchihe commented on #1028
@Liujingfang1 Thanks for replying. if user wnat to update the configmap (literals) after set that by `kustomize edit add configmap`, kustomize cannot do that. I agree we may conver all type of ConfigMaps, but is that possiable to support literals? seems that's very common.

[2019-05-15 08:00] JoaAlteos commented on #901
We are also sharing the exact same use case. We have multiple ingress objects set up, but they all share common annotations:
[code]
Right now it means that we duplicate those annotations across all ingress objects, which is less than ideal for us.

[2019-05-15 09:10] gysel commented on #504
We're also struggling with this issue.

The workaround using `volumeClaimTemplates: []` kind of works but results in `for: "STDIN": StatefulSet.apps "xxx" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden.` for every deployment.

[2019-05-15 19:01] Liujingfang1 commented on #1028
@jinchihe You can create an overlay to customize the configmap. In the overlay, you add the configmap with the behavior `merge`.
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/combineConfigs.md

[2019-05-15 19:06] Liujingfang1 commented on #1026
@antonosmond Yes, that is the expected behavior. Since the field of `spec/serviceAccountName` in the pod is a name reference to a service account object. Kustomize will looks for that service account object and replace the field value by its actual name.

[2019-05-15 19:38] nabadger opened #1076 "Kustomize build can leave /tmp/kustomize- directories on failure"
I'm finding `kustomize build` is leaving over empty `/tmp/kustomize-*` directories on failed builds.

That fact these directories are empty, means it's not very useful (plus the exit error message is good enough)

A failed build can happen if you set a remote base to a non-existent git repo, or a repo that you don't have access to.

[code]

Example `kustomization.yaml`

[code]

Results in:

[code]

[2019-05-15 19:38] nabadger commented on #1076
#566

[2019-05-15 20:12] Liujingfang1 commented on #1015
Agree with the suggestion from @vreon.
Kustomize sets all images inside one kustomization target. That's the expected behavior.

[2019-05-15 20:12] #1015 closed

[2019-05-15 20:13] #1001 closed

[2019-05-15 20:13] #994 closed

[2019-05-15 20:18] Liujingfang1 commented on #999
This can be fixed by adding the path to `storageClassName` for both `PersistentVolume` and `PersistentVolumeClaim` in  the default [config](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/namereference.go).

[2019-05-15 20:39] Liujingfang1 commented on #1076
This should have been fixed on head. Will release a new version soon.

[2019-05-15 21:32] Liujingfang1 commented on #965
@renaudguerin The `envs` inside ConfigMapGenerator is what you want. It accepts a list of files, each file with k/v pairs.
If you're using Kustomize 2.0.3, it is `env` and accepts one file.

[2019-05-15 21:32] #965 closed

[2019-05-15 21:42] Liujingfang1 commented on #970
`resources` should be from local disks, which is different from the bases. We don't plan to support remote files for resources.
What you could do is to submit a PR to [kubernetes-csi/external-provisioner](https://github.com/kubernetes-csi/external-provisioner/tree/master/deploy/kubernetes), adding a kustomization.yaml there.
Then you can use it as a remote base.

[2019-05-15 21:55] Liujingfang1 commented on #987
@jta `service` inside the `ValidatingWebhookConfiguration` has both name and namespace. This is different from namereference transformation or namespace transformation. We should fix this.
The fix could be as another transformer or as an extra step in namereference transformer. The fix should handle both this case and the case in `updateClusterRoleBinding`.

[2019-05-15 21:58] Liujingfang1 commented on #961
This has been fixed on the head. We'll release a new version soon.

[2019-05-15 21:58] #961 closed

[2019-05-16 00:30] jinchihe commented on #1028
OK, will try that, thanks!

[2019-05-16 03:02] ItsLeeOwen commented on #370
Jeff Regan's presentation demonstrated configMapGenerator files rendering nice configMap data output without filenames.     https://youtu.be/WWJDbHo-OeY?t=15m30s

[2019-05-16 04:25] pohly commented on #970
Jingfang Liu <notifications@github.com> writes:

I had thought of that, but it doesn't make sense to me. Why should
upstream repos have to had a kustomization.yaml file when they don't
actually use kustomize?

[2019-05-16 18:01] bmahule opened #1078 "How can I overwrite liveliness prob than overlaying it in patch?"
In app-base/Deployment-patch.yaml
livenessProbe:
          exec:
            command:
            - echo
            - "app health is okay"
Kustomize build . > test.yaml
Kustomize is adding
livenessProbe:
          httpGet: --
from base.
How do I replace httpGet with exec? I tried $patch: delete but it either deletes whole livelinessProbe or keeps httpGet: {} in yaml file.

[2019-05-16 21:07] fentas opened #1080 "Execute transformers after variable substitution"
Is it possible to transform resources after kustomize vars are replaced?
Using `transformers` I get resources with added `commenLabels` etc. but vars are not substituted yet.

[2019-05-17 01:10] jessesuen opened #1082 "Kustomize fails to find object in base modified with nameSuffix"
Consider the following directory structure:

[code]

When attempting to build the aggregate, it fails with error:
[code]

* aggregate/kustomization.yaml
[code]

* aggregate/patch-a.yaml
[code]

* guestbook-a/kustomization.yaml
[code]

* template/kustomization.yaml
[code]

I made this available here:
https://github.com/jessesuen/k8s-deployments/tree/master/kustomize-suffix-failed-find-obj

I expect

[2019-05-17 01:40] bmahule commented on #1078
Found the solution.
$patch: replace works,
livenessProbe:
          $patch: replace
          exec:
            command:
            - echo
            - ..

[2019-05-17 01:40] #1078 closed

[2019-05-17 01:42] yujunz commented on #1082
I was looking for solution for similar scenario, i.e. build multiple persistent volume manifests from the same template base.

IIRC, you should refer the untransformed name in patches, i.e. `guestbook` instead of `guestbook-a`.

For the multiple objects error, it seems the same base (the same path) can not be used twice. But you may play a trick by creating symlink into the replicas, e.g. in `gues

[2019-05-17 01:48] jessesuen opened #1083 "Error: id already used when including two bases that rename same resource in parent"
I have the following kustomize structure:

[code]

When trying to build the aggregate directory (which simply includes guestbook-a and guestbook-b as bases), it fails with:

[code]

* aggregate/kustomization.yaml
[code]

Both of the guestbook-a and guestbook-b directories rename the same resource in the template base using json6902:
* guestbook-a/rename.yaml
[code]

* guestbook-b/rename.yaml
[code

[2019-05-17 01:56] jessesuen commented on #1082
Yes, I can see kustomize attempting to use untransformed name in the patch. However, referencing the untransformed name in the base is counter intuitive. I expect the patch to be able to reference the object name emitted in the *final* rendered result of the base. Otherwise it could be a rabbit hole of chasing down the correct original name.

I agree with this lack of functionality. Essentially we

[2019-05-17 01:57] jessesuen commented on #1082
I tried to go a different route and use json 6902 for the rename instead of nameSuffix, but I seem to be hitting another error. Filed https://github.com/kubernetes-sigs/kustomize/issues/1083.

[2019-05-17 02:18] yujunz commented on #1082
Not exactly.

Since currently the same base can be only referred once, it turns out more clear to refer the original name instead of patched one. It would be another story if base replica is supported.

IIUC, the first step in kustomize is building resource map by merging all bases together. Then resolve all the references, transform the names, substitute the variables.

To support base replicas,

[2019-05-17 02:32] jessesuen commented on #1082
The reason I feel this is counter-intuitive to refer to the original name, is because it requires understanding of everything that happened in the base. That base might have referenced another base, and go several levels of indirection. Hunting down the original resource name seems fragile. In our situation, we even might be leveraging a remote base which is out of our control.

I think the unders

[2019-05-17 02:57] yujunz commented on #1082
This is the an intuitive thinking as I did before 😄  but may not be the truth 😞

I haven't dig that far yet. Maybe @Liujingfang1 or @monopole can give a better answer.

[2019-05-17 09:07] jessesuen commented on #1082
I think this issue may be related to, if not the same as: https://github.com/kubernetes-sigs/kustomize/issues/316

[2019-05-17 09:08] jessesuen commented on #1083
Possibly related: https://github.com/kubernetes-sigs/kustomize/pull/971

[2019-05-20 15:57] thecopy commented on #348
/remove-lifecycle stal

[2019-05-20 15:57] thecopy commented on #348
/remove-lifecycle stale

[2019-05-20 15:58] thecopy commented on #348
This is also an issue for us. We would like to have a kustomize.yml at the root of our repo containing common properties like project, git-repository, project-name etc.

[2019-05-20 23:06] Liujingfang1 commented on #1082
When we designed how the patch should work, we didn't include the nameprefix or namesuffix for the target name. That means if you add nameprfix/namesuffix in the patch file, it couldn't find the target. The reason for choosing this behavior is that users don't need to compute or run `kustomize build` to get the actual target name. Users can use the same resource name from the base. The patching tr

[2019-05-21 05:58] qiujian16 commented on #1017
it seems to be a easy fix, i'd like to take a try

[2019-05-21 07:25] xuhongxu96 opened #1092 "Kustomize doesn't substitute vars for Job initContainers command/args"
Version: {KustomizeVersion:2.0.3 GitCommit:a6f65144121d1955266b0cd836ce954c04122dc8 BuildDate:2019-03-05T20:37:42Z GoOs:windows GoArch:amd64}

From https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/varreference.go, initContainers of Job should be replaced by vars by default.

However, in real situation, it didn't.

I have to add `configurations` with `v

[2019-05-21 13:41] tkellen opened #1094 "namespace transformer should be processed even for ignored types"
Due to the [hard-coding of `APIService` as a skipped type](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/gvk/gvk.go#L179-L188) it is not possible to have kustomize use the namespace transformer for fields within that resource which *do* require a namespace.

By example, here is an APIService from cert-manager which has a namespace under `spec/service`.
[code]

...adding a namespace

[2019-05-21 16:02] #1017 closed

[2019-05-21 19:48] fentas opened #1098 "Create and set pod priority via kustomize"
It would be nice if I could create (optional) `PriorityClass` and set it to all underlying Kustomization artefacts, like e.g. `commonLabels`.

My use case is that I combine multiple vendors and services into one Kustomization. A lot of these vendors are rendered from Helm and would be nice to prioritise these (storage over services etc).

ref:
- https://kubernetes.io/docs/concepts/configuration/po

[2019-05-21 22:40] donbowman commented on #802
/remove-lifecycle stale
not aware this is resolved?

[2019-05-22 06:44] qiujian16 commented on #999
I will submit a pr for this.

[2019-05-22 06:53] embik commented on #1009
This behaviour should - at the very least - be clearly documented because it's going to leave you with orphaned resources in case you update your `commonLabels`, e.g. pods spawned by a previous iteration of a DaemonSet will continue running after the label matching has been altered by updating `commonLabels`.

In my humble opinion, `commonLabels` should not propagate to templates or selectors _at

[2019-05-22 07:31] fentas commented on #1080
I just realized that the variable substitution happens within a Kustomization later in the chain. Have to validate if this is the problem.

[2019-05-22 07:31] #1080 closed

[2019-05-22 07:39] Timoses opened #1100 "From paths to "modules""
I have began using kustomize for just over a week now and feel like the many many "../../../" in the kustomization.yaml files are too distracting. It feels very hard to follow where files are located and what project they are referencing. Take for example:

in `projA/helperX/base/kustomization.yaml`:
[code]

Would it not be nice to have something like a "modular" notation like the following:

in `

[2019-05-22 07:48] jcassee commented on #800
/remove-lifecycle stale

[2019-05-22 08:59] qiujian16 commented on #987
@Liujingfang1 maybe add a default namespace reference, and add a step in namespace transformer, will it make sense?

I can try to fix this.

[2019-05-22 14:34] #999 closed

[2019-05-22 15:38] Benjamintf1 commented on #1009
Well it will either cause non spawning pods, OR if your version of kubernetes is new enough, it will simply fail as selectors have become immutable in newer versions.

[2019-05-22 16:03] Liujingfang1 commented on #987
@qiujian16 Adding a step in namespace transformer is one way to solve it. In the current code, there is a similar [step](https://github.com/kubernetes-sigs/kustomize/blob/f864c912ad78f7e13bab6ded0cc237202e0c4b17/pkg/transformers/namespace.go#L120).

[2019-05-22 17:06] Benjamintf1 commented on #1009
I DO have fear that commonUnpropagatedLabels could become RealMysqlEscapeString and I think that's the bigger risk. These sort of "The REAL thing you want is the thing with the different name because we didn't want to break backwards compatibility" is a pretty big gross problem in a lot of projects, and I think can be a big long term concern.

[2019-05-22 19:36] seans3 commented on #1009
Because this issue causes failures, marking this as a bug.

/sig cli
/kind bug

[2019-05-23 01:31] jessesuen commented on #586
Here is one workaround for the issue: https://github.com/argoproj/argo-cd/issues/1639#issuecomment-494999921

[2019-05-23 02:17] yujunz commented on #1082
Yes, it can.

This is the problem I am trying to solve. It seems a two-pass build might be the right way to do it.

With @jessesuen 's example

[code]
Is there something like pre-build hook we can leverage in kustomize? @Liujingfang1

[2019-05-23 05:45] qingwave commented on #677
Kustomize cannot create volumeClaimTemplates by `volumeClaimTemplates: []`, but there is another problem.
run  `kustomize build $path | kubectl apply -f -`
you will get
`The StatefulSet "sts-name" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden.`

[2019-05-23 16:53] monopole commented on #1049
modified https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins.md

There are now several transformer plugin examples (in particular, all the builtin transformations are implemented and tested as plugins).  See doc for pointers.

It's true however that we don't have an example of a kustomization file explicitly  referencing a custom transformer plugin.  We do have an example of a ku

[2019-05-23 17:12] monopole commented on #1018
The loader is now passed to all generator and transformer plugins.
it is not passed to KVSource plugins, which are going to be removed since we cannot have two plugin systems and since generator plugins are a superset of kvsource (configmap/secret) generators.

@jcassee see this example: https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/someteam.example.com/v1/secretsfromdatabase/Sec

[2019-05-23 17:12] #1018 closed

[2019-05-23 17:36] monopole commented on #1035
kustomize has no notion of restricting edits.

[2019-05-23 17:36] #1035 closed

[2019-05-23 17:37] monopole commented on #1035
Please file a feature request if you can think of way to phrase this.  I don't understand the use case - is this so a devops team can somehow prevent some change in a gitops pipeline?  Sounds out of scope.

[2019-05-23 17:59] mgoltzsche commented on #821
I changed the order so that `ValidatingWebhookConfiguration` now comes last.
This makes a `cert-manager.yaml` installation work with kustomize as well.

However unnecessary problems caused by ordering may still appear in theory when using `CustomResourceDefinition` instances where one has a hard dependency to the other.
This could be avoided when the original input source order would be respected

[2019-05-23 18:52] Devin-Holland opened #1113 "Set variable from command line"
I am using Azure DevOps and I want to be able to use a pipeline variable to set a password value so that the password is not in plain text in a secret file. Is there a way to set a Kustomize variable from the command line when running kustomize build or is the only way currently to put the password value in the source code?

For example something like: `kustomize build -var my-password=1234`

[2019-05-23 19:03] monopole commented on #1009
@Benjamintf1 @embiik thanks for the great commentary.

The upside to propagation of labels to selectors is convenience and accuracy.   In directory `foo`, the directive `commonLabel foo` will associate a Service in that directory with all pods created in that directory with no typo mistakes.  Same in directory `bar`, etc.  Some encapsulating overlay kustomization can combine `foo` and `bar` by men

[2019-05-23 19:12] liggitt commented on #821
I strongly agree with this. Baking in dependency re-ordering requires understanding all types.

[2019-05-23 20:03] monopole opened #1114 "ease changing replica count via kustomization"
One can modify replicas now with a patch, but its verbose.

To kustomization.yaml add the field

[code]

To modify replicas field in Deployments (or any resource that has a replicas field).
[code]

[2019-05-23 22:47] Benjamintf1 commented on #1009
There is also a possible usecase of having the same thing deployed twice using different labels, but you'd need more then that to make it functional (Including deploying to a different namespace, but also you might have some troubles with cluster resources, so basically you'd have to fuzz the name, or location of everything to get it to work).

I'm not aware of a solid way to deprecate selectors a

[2019-05-24 01:05] xuhongxu96 commented on #1092
I checked the code in v2.0.3 and it doesn't include config for initContainers of Job. So it should be resolved in v2.1.

[2019-05-24 01:05] #1092 closed

[2019-05-24 06:32] embik commented on #1009
@monopole

I might be wrong here, but won't exactly that result in orphaned pods? Because adding additional `commonLabels` will append them to your selector, which means pods spawned by the previous iteration of your deployment/daemonset won't be selected by your controller object anymore (the existing pods miss the added label and thus are not selected).

I'll throw together a short demonstration

[2019-05-24 09:07] kid commented on #759
One use case for this would be a multi-tenant system with multiple release channels and resources allocations per tenants.

To do this currently, one would need to create one base for each size/release channel combination.

With mixins, this could be achieved by having one mixin to override images, and another one to set resources

[2019-05-24 13:01] bittner commented on #914
The part

... is obviously not true. Dropping this portion of the text should be sufficient.

Did this ever work? -->

Can someone explain what the described behavior is or was meant to be?

[2019-05-24 13:15] bittner commented on #189
@mamoit This is working. You have to quote the path with the asterisk:
[code]
Somewhat related: #914

[2019-05-24 13:29] bittner commented on #1100
I agree.

True.

Somewhat related: Some kustomize commands (e.g. `kustomize edit add configmap ...`) seem to assume you're running it from a folder that contains a *kustomization.yaml* file:
[code]

It should be possible to refer to (a folder containing) a kustomization and kustomize would deduce from the setup what the related base directory is.

[2019-05-24 14:15] Timoses commented on #1100
I rarely use `kustomize` commands to edit `kustomization` files. One could add a `root` to a kustomization like:
[code]

However, this would have to be added to all kustomization files in the project which is
1. ugly
2. making mistakes becomes easy (drop one `../` in one kustomization file)

[2019-05-24 18:21] erick-thompson commented on #1082
I'd rather avoid a two-pass build. I like the approach of matching to both base name and to name prefix/suffix. Is this something that is on the roadmap?

[2019-05-25 01:55] #907 closed

[2019-05-25 05:00] tbarrella commented on #1044
The reason this happened was using Skaffold with multiple Kaniko namespaces. Skaffold Config uses "docker-cfg" and "kaniko-secret" as default secret names, so those secrets were defined for multiple namespaces. I definitely wouldn't see this as a very big issue though

[2019-05-25 15:57] anarcher commented on #414
IMHO, It's great if the caching works when building. :-)

[2019-05-25 18:52] iamwel commented on #347
I'm sorry @Liujingfang1, I read the example, and it does not seem like a suitable solution to what is, as @lswith mentioned, a common use case. I was thinking of incorporating Kustomize into our workflow as a low-overhead alternative to creating a helm chart, but a chart seems to be a much more elegant alternative at this point. Any opprotunity for native ingress variables in Kustomize?

[2019-05-26 18:34] jpreese opened #1119 "Visualizing output of kustomize build"
Kustomize team, thanks for putting this together. We've recently switched from Helm to kustomize and are loving everything that kustomize brings to the table.

One question we had was, do you feel kustomize would benefit from a command that displays the dependency graph when `kustomize build` is executed? Very similar to `terraform graph` as documented here (https://www.terraform.io/docs/commands/

[2019-05-26 22:22] donbowman commented on #814
seems no other interest on this?

[2019-05-27 09:44] jcassee commented on #1018
@monopole Alright, makes sense.

I'm looking at the exec plugin to replace my KVSources plugins with. Is there an example using the exec plugin to generate ConfigMaps / Secrets with (the replacement for) `behavior: merge` somewhere?

[2019-05-27 15:23] wolverian commented on #814
I'm super confused because https://kubernetes.io/docs/concepts/containers/images/#creating-a-secret-with-a-docker-config claims this should just work, but by my testing, the format given on that document does nothing.

[2019-05-28 06:06] qiujian16 opened #1122 "No name reference on admission webhook configuration"
kustomization.yaml

[code]

with local.yaml

[code]

service name in ValidatingWebhookConfiguration does not change

[2019-05-28 10:16] SatheeshJM opened #1124 "Having null value in a configmap patch removes property"
When I apply a configmap patch which contains a null value for a key, it removes the key completely.
For example

--
This is my folder structure.
[code]
`_base/configmap.yaml`
[code]
`flower/configmap_patch.yaml`
[code]

Now when I run `kustomize build flower` the output is
[code]

which is expected..
Note the `fruit: null` config property.

---

now when I change my `configmap_patch.yaml` to
[cod

[2019-05-28 12:15] anarcher opened #1125 "Proposal: Support overlaying guide comment"
Sometimes, I think It would be nice if bases should guide how overlays extend the bases. When writing overlays, we maybe realize easily which parts of the bases we should do and we can validate the overlay is good or not with this guide. So this annotation can help to make documentation about how to use the base.
IMHO, It seems like `Access Modifier` concept with various languages.  I feel good to

[2019-05-28 12:22] dexhorthy commented on #1125
+1, some way of specifying recommended or required overlay fields seems super useful for the OTS case. As an alternative to comments, has something in `kustomization.yaml` been considered? E.g. (super rough)

[code]

[2019-05-28 12:45] anarcher commented on #1125
Great! @dexhorthy 's approach is better than comments. :-)  I agree that is easy to manage and find something in `kustomization.yaml`.

[2019-05-28 13:46] mildred commented on #800
Basically, the tree structure is like:

[code]

The root module depends on `base1/overlay` and `base2/overlay` which themselves depends upon `base[12]/base` which depends upon `postgres`. The kustomization in `base[12]/*` is adding a name prefix (adding `overlay-` for `base[12]/overlay` and `base[12]` for `base[12]/base`).

I suppose the goal of this kustomization is to deploy two instances of pos

[2019-05-28 13:50] mildred commented on #800
The error is generated here:
https://github.com/kubernetes-sigs/kustomize/blob/e8eed838b5d16ecce7750e806fd9f544ed848ed3/pkg/transformers/namereference.go#L98

[2019-05-28 14:13] mildred commented on #800
The comment above is incorrect:

[code]

`id.GvknEquals` is only checking that the name without the prefixes and suffixes is equal:

[code]

But here, we can compare with the prefix and suffix, and even perhaps the namespace.

I would create the following function to check the prefix and suffix as well:

[code]

And use it in matching:

[code]

[2019-05-28 14:16] mildred commented on #800
Or perhaps even `GvknEquals` should be transformed to test equal prefix and suffix as the prefix and suffix is going to be included in the name after all.

[2019-05-28 14:20] mildred commented on #800
The same change should happen at:

https://github.com/kubernetes-sigs/kustomize/blob/e8eed838b5d16ecce7750e806fd9f544ed848ed3/pkg/transformers/namereference.go#L120

[2019-05-28 14:39] mildred commented on #316
The fact that resources are referenced with their names without prefix and suffix applied could cause other issues such as #800 (just guessing though)

[2019-05-28 16:53] #1122 closed

[2019-05-28 17:23] brichins commented on #821
What was the downside to leaving ordering up to the user, based on the order  of the manifest appeared in the kustomization.yaml resources array?  What motivated explicit ordering in `gvk.go`?

[2019-05-28 19:56] mgoltzsche commented on #821
I guess one of the reasons was to make it more declarative/deterministic and to be able to add resources to a base that need to be applied before resources that already appear within that base (because the latter may have dependencies to it due a variable pointing to it, e.g. a ServiceAccount or Role).
After having thought about it a little longer I think that this ordering decision may not be as

[2019-05-28 20:58] akmalyubico commented on #538
@guyromb sorry if I'm not getting it, but your solution doesn't make sense, ingress_patch, is almost the complete copy of the base, it only misses annotations.

[2019-05-28 21:02] galindro commented on #937
@monopole Regarding this issue: I've the same restrictions pointed by @jgonera. To temporary fix this (without duplicating patch files), I've installed the head version (today) of kustomize by doing:

[code]

After that, I've used the flag `--load_restrictor none` proposed in the [FAQ](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/FAQ.md#security-file-foo-is-not-in-or-below-bar) fo

[2019-05-28 21:05] gorkem commented on #205
fixed with https://github.com/SchemaStore/schemastore/pull/700

[2019-05-28 21:21] monopole commented on #1009
the tldr of https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#label-selector-updates
is _make a plan_ (the 'label deprecation scheme' i alluded to above), and understand that changing workload selectors really means creating new workloads and deprecating old ones, and having to delete them on your own.  kustomize doesn't create this problem.

How about a new term kustomization

[2019-05-28 22:08] bitva77 opened #1127 "ConfigMap Name & Referencing it in a Deployment"
I think I'm misunderstanding something with the ConfigMap name and how to reference it in a Deployment. Either that or there's a bug but I'm assuming the problem lies with me specifically :)

My base deployment YAML has:

[code]

My `kustomization.yaml` has:

[code]

But what gets built is:

[code]

It's pre-pending the namePrefix, which I sort of get, what's the point of the `-name` field for `co

[2019-05-28 23:29] TheOriginalAlex commented on #1113
I'd like to help implement this if maintainers think this is worth including in upstream `kubectl`.

[2019-05-29 00:12] pwittrock commented on #1113
There are several pieces to this issue:

- Setting variables from arbitrary sources rather than as references to other config - e.g. templating
- Allow variables to be substituted into arbitrary locations rather than just args and envs - e.g. templating
- Setting Kustomize values imperatively from the commandline

For this specific issue, secret generation plugins seem like a better solution.

[2019-05-29 01:51] TheOriginalAlex commented on #1113
@pwittrock: Gotcha.  The first and second pieces would be useful for us at the moment.  The secret setting not so much since we can just continue using the k8s secrets.  Are there issues open for those pieces?

[2019-05-29 04:37] dungdm93 opened #1132 "remote build take too long"
`kustomize` take too long to build remote bases. For example:

[code]
run:
[code]

----------
And time to build the real apps:
[code]

[code]

[2019-05-29 08:58] rayer4u commented on #863
There is a scene, the var SERVICE_NAME defined in base and used in pods args. It's important to override it to unify naming style.
In other words, can change base service name?

[2019-05-29 15:16] nickamorim opened #1135 "Supporting multiple secrets stored in one yaml file for secretGenerator"
It would be useful if Kustomize's secretGenerator supported a stringData field or something similar; so it would parse the file provided in the 'files' field that consists of multiple secrets. This doesn't have to be the solution but just something that allows for multiple secrets being stored in one file would be extremely helpful.

Example:
xyz.yaml consists of three secrets x.pem, y.pem and z.p

[2019-05-29 15:52] Devin-Holland commented on #1113
@pwittrock Using the secret generation plugin doesn't quite work here. That would require us to put the secret value into a file in the repository for kustomize to generate the secret off of. Unless I'm misunderstanding what you're meaning.

[2019-05-29 18:06] bitva77 commented on #1127
I came across this:  https://github.com/kubernetes-sigs/kustomize/issues/986

And that appears to have been what my issue was.  Needed to add the namespace to the kustomization.yaml and now I'm good.

I knew the problem was between the keyboard and chair....

[2019-05-29 18:06] #1127 closed

[2019-05-29 21:57] monopole opened #1138 "move inventory transformer plugin out of k8sdeps"
[transformer]: https://github.com/kubernetes-sigs/kustomize/tree/master/k8sdeps/transformer/inventory

Looks like the only k8sdep in the [transformer] comes from these lines:

[code]
A resmap factory is fed into plugin config, and it has a `FromConfigMapArgs` method, or one can call `RF().MakeConfigMap(...)`, ...or something.

[2019-05-29 21:59] monopole commented on #1138
@Liujingfang1 if not interested, i'll try to knock this off.

want to slim down k8sdeps, and make sure the plugins can do stuff like this without k8sdeps.

[2019-05-29 22:26] monopole commented on #1132
i'm guessing network latency?

although it's _possible_ to depend on remote repos in this way, it's not recommended, because of the latency, and because more importantly those repos can change at any time (if not under your control).

the best practice here would be to clone those repositories locally, and depend on your cloned repos via a base expressed as a relative file path.

you can rebase th

[2019-05-29 22:26] #1132 closed

[2019-05-29 22:28] botwhytho commented on #1082
I can open different ticket if scope of fix would vary, but seeing similar unintuitive behavior even if I use a json patch in a base to patch a Deployment name.

In an inheritance scenario like the one below, find it logically incorrect to have to refer to a Deployment resource by its base name in a strategic merge patch at a child environment overlay level, when I already patched its name in a pa

[2019-05-29 22:31] botwhytho commented on #1082
@Liujingfang1 could this name matching apply more generally to actual name (modified with a patch on a parent base)?

[2019-05-29 22:32] monopole commented on #1135
The `secretGenerator` can generate N secrets:

[code]

or generate one secret with data from N files:

[code]
or combine these notations (N secrets with multiple files per secret).

Does that help?

[2019-05-29 22:34] nickamorim commented on #1135
Not really; my question is specifically referring to storing multiple secrets in one file, then parsing the file and generate the secrets. Take a look at the example I provided :).

[2019-05-29 23:26] monopole commented on #1119
sounds awesome.
a new command would be nicely orthogonal to other stuff in flight.

please do a PR.  :)

[2019-05-29 23:49] erick-thompson commented on #1082
@botwhytho If you could open a ticket, that would be awesome. I'm running into some serious headaches when I have a namePrefix or nameSuffix before the overlay. Having kustomize match on the base name, and if not found, match on name{Suffix|Prefix} would fix my issue.

The scenario is I have a remote (git) base that contains a base ElasticSearch setup, and I pull this in to a base folder with a na

[2019-05-30 00:20] monopole commented on #1135
yes of course this could be parsed but not convinced it should be kustomize's job
sorry, i don't understand the use case or how prevalent it might be. i.e. why, if one had certs in three different files one would want to combine them into one yaml blob?
can you add the actual text of xyz.yaml?
also, to confirm - it all goes into one Secret object?  so one name to capture three (in this case : x,y,

[2019-05-30 00:22] nickamorim commented on #1135
Yeah, so traditionally you're able to do this with the stringData field, which consists of the contents of the three files, but with secretGenerator, it does not work/support this.

[2019-05-30 00:24] donbowman commented on #801
/remove-lifecycle stale

[2019-05-30 03:06] hc-chien commented on #1132
simple test:

`apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- github.com/kubernetes-sigs/kustomize//examples/multibases?ref=v1.0.6
- github.com/kubernetes-sigs/kustomize//examples/multibases?ref=v1.0.6
- github.com/kubernetes-sigs/kustomize//examples/multibases?ref=v1.0.6
- github.com/kubernetes-sigs/kustomize//examples/multibases?ref=v1.0.6
- github.com/kubernetes-sigs/k

[2019-05-30 03:58] dungdm93 commented on #1132
Hello @monopole
I know this slowness mostly because of network latency, but not everyone in the world has super-fast internet connection, right? And we still have ways to improve the speed, like:

[code]

[code]
In comparison to above test, the time is only a half.
So, It seems like Kustomize did **double clone** the same repo.

BTW, could u plz reopen this issue?

[2019-05-30 04:51] hameno commented on #1132
Please reopen. The official nginx ingress shows this usage form, so it should be improved, e.g. with a local cache for the repositories.
At first I thought it was hanging because it also does not output any status during the clone, maybe that could also be improved?

[2019-05-30 11:21] anarcher opened #1140 "Proposal: Remote bases with container registry"
Currently, kustomize supports local and URL based remote bases.  It will be great if kustomize will support container registries as remote bases.  Helm3 also supports container registry as helm chart registry [1]. IMHO, if kustomize supports a container registry as remote base, It means that kustomize uses a local cache as local container registry image to prevent downloading bases every time.

[1

[2019-05-30 15:50] jnewland commented on #1009
I came across this issue while trying to add a revision-based label to all pods in a Kustomization and then use it as a part of confirming that all Pods of that version were ready later. In this case, I feel like I _do_ want this label to be propagated down into workload templates, but _don't_ want it to be propagated to selectors.

This desired additional dimension of customizability and the abov

[2019-05-30 16:23] Benjamintf1 commented on #1009
If you are wanting it to be specific like that, why not have

[code]

It keeps the locality of the options a bit better, especially if you scale the number of labels you want.

[2019-05-30 21:18] jerrinss5 commented on #821
To just carry on forward with what @brichins had suggested, can `MutatingWebhookConfiguration ` be added to [orderLast](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/gvk/gvk.go#L116)
This is to support scenarios where if MutatingWebhookConfiguration is set with `failurePolicy: Fail` and would prevent deployments to be deployed as that deployment is the endpoint which the MutatingWeb

[2019-05-30 21:20] liggitt commented on #821
that is not a good configuration, and creation order is not a reasonable way to mitigate that. see the `namespaceSelector` option in webhooks for the ability to exclude the namespace containing the webhook's deployment from depending on the webhook

[2019-05-30 21:33] jerrinss5 opened #1142 "Secrets with same name but for different namespaces in the secretGenerator throws exists error"
To reproduce this:

- Create a kustomization.yaml with the following contents:
[code]
Then run:
 `kustomize build .`

It throws the following error:
`Error: id resid.ResId{gvKind:gvk.Gvk{Group:"", Version:"v1", Kind:"Secret"}, name:"foobar", prefix:"", suffix:"", namespace:"alice"} exists; must merge or replace`

Is this the intended behavior?
I saw that there is also a similar issue https://githu

[2019-05-31 07:50] alexpkalinka commented on #970
Can you explain why? What is the problem with loading remote resources? If a base kustomization.yaml is loaded from a remote server then it eventually loads resources from a remote server too, right? Then why can't we just load resources directly, bypassing loading a base?

[2019-05-31 10:08] jbraghu commented on #370
I tried following Jeff's presentation and I couldn't achieve a merged configmap. Here's what I am trying:

base:
[code]

application.properties:
[code]

production:
[code]

application-prod.properties:
[code]

here's the kustomize output:
[code]

what I was expecting:
[code]

Essentially, a single "application.properties" that has the content merged.

@ItsLeeOwen @Liujingfang1 : is this kind of me

[2019-05-31 14:16] ptemmer commented on #702
Today I was looking into exactly something as described in this issue. When adding the sealed secrets directly as resource, you miss out on the nice feature of the secretGenerator that forces a redeploy of all  deployments that depend on this particular generated secret. Someone was able to make this work already, and is able to share it?

As a side note @kwladyka, funny that I bump into you every

[2019-05-31 16:18] nictrix commented on #1032
@Kampe I'm running into this same problem, the only thing I did was change where the files were located (in a subdirectory) - since you closed this were you able to resolve it?

[2019-05-31 16:47] nictrix commented on #1032
Disregard, I found I renamed an item, but so slightly - took a bit to notice.

[2019-06-01 08:34] fentas commented on #702
As for now. The best way to solve this is to create a  kustomize plugin. I've created one for generating random password secret files. Works quiet well.

[2019-06-01 08:41] ptemmer commented on #702
Can you elaborate @fentas? Does it work with v2.0?

[2019-06-01 10:12] fentas commented on #702
There is no release including this feature (working on master here).
Have a look at these plugins here. Has also a nice description of how to use them.

https://github.com/goabout/goabout-kustomize-plugins

[2019-06-01 18:16] jerrinss5 commented on #821
@liggitt thanks for the info.

[2019-06-02 18:01] #1138 closed

[2019-06-02 21:22] bzub opened #1146 "CRDs containing 'containers' or 'initContainers' key unusable with image transformer"
Although https://github.com/kubernetes-sigs/kustomize/issues/890 is closed I am seeing a similar if not identical problem as described there.

`kustomize version`
[code]

I get this error:
[code]

With this `kustomization.yaml`
[code]

[0prometheus-operator-0alertmanagerCustomResourceDefinition.yaml](https://github.com/coreos/kube-prometheus/blob/master/manifests/0prometheus-operator-0alertmanager

[2019-06-02 22:53] bzub commented on #1146
Oops, just noticed the fix isn't released yet. Closing.

[2019-06-02 22:53] #1146 closed

[2019-06-03 04:00] dungdm93 opened #1147 "Feature Request: Speed up build remote bases"
This issue re-open #1132

[2019-06-03 08:57] hidekuro commented on #1069
@Liujingfang1 it seems not answer this issue. I facing same problem.
in v2.0.3, I could not find any docs in [examples](https://github.com/kubernetes-sigs/kustomize/tree/v2.0.3/examples).
any alternatives instead of `envs:`?

[2019-06-03 11:10] afirth commented on #1125
To me this is a feature that shouldn't be in core. It happens all over manifests, not just in Kustomize. Workaround:
`service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "INVALID: required value missing: overlay with blah blah"`
`alias validate="kustomize build | grep INVALID"`

I like the idea of a validator like @dexhorthy provides, but I think you could better build (or find

[2019-06-03 14:31] nabadger commented on #1036
I've just hit this issue as well - would be great to get more input on this.

[2019-06-03 15:14] gautaz commented on #51
@Liujingfang1 The example link is not available anymore on master (here it is from [tag v1.0.11](https://github.com/kubernetes-sigs/kustomize/blob/v1.0.11/examples/imageTags.md)).

I guess it is now available here:
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/image.md

Following what @hayesgm said, I also do not understand how to use this to tag a Docker image with a git tag i

[2019-06-03 15:18] dexhorthy commented on #1125
@afirth that's an interesting thought. I hadn't thought of building this as an external tool, definitely should be considered first.

I haven't thought deeply about how to to this, but one downside of your example approach would be that it only supports strings right now. That might be enough for real-world cases, but I'm wondering how we might go about validating required `int`s, etc with an appr

[2019-06-03 17:52] afirth commented on #1125
For sure, it was just an example. I dislike magic text and magic numbers too, but not as much as magic comments :smile: . json schemas and OpenAPI are trying to solve some of these problems too. Internally I believe the API server uses those to validate. There's also validating admission webhooks, which I think definitely have this use case in mind. One tool I found is [copper](https://github.com/

[2019-06-03 21:47] sascha-coenen commented on #157
I also think commonLabels should NEVER be added  to ANY selector, just like  Benjamintf1 stated.
For me however, the simple reason is that commonLabels are for the resources you want to deploy.
Selectors are meant to express which resource to connect to, so labels point to foreign objects.
Adding commonLabels to selectors is simply a bug because it tempers with a given specification.

Compare this

[2019-06-03 22:02] sascha-coenen commented on #1009
as I explained  in thread https://github.com/kubernetes-sigs/kustomize/issues/157
propagating labels to selectors is actually wrong thinking,  a "trap" as Benjamin put it.

The commonLabels are meant to "tag" those resources that  YOU create with your  kustomize setup.
The selectors constitute an ID that points to a resource that cannot be assumed to be under your auspieces. Making this assumption

[2019-06-04 08:11] qiujian16 commented on #1036
i'v submittd a pr to try to fix it, @Liujingfang1 would you help to review it?

[2019-06-04 09:08] abergmeier commented on #916
Especially annoying if you are working with e.g. OpenShift because this fails for
[code]

[2019-06-04 09:33] mxey commented on #157
I disagree. A selector can point either to the resources that are in the Kustomization scope or those that are not. Both are valid options. If Kustomize did not extend the selectors, it could not be used to deploy multiple overlays in the same namespace.

[2019-06-04 12:11] benjamin-bergia opened #1150 "Reference deployment selector in service"
Hi,

I am using kustomize do generate some resources and I have the following structure:
- a `base/deployment.yml` that represents a generic deployment template
- overlays such as web, worker, etc that add some labels, resources and commands

Some of my labels, such as `app.kubernetes.io/part-of` should be common to all my variants and are set in the `base/kustomization.yml`.
Others are variant sp

[2019-06-04 12:26] voidengineer commented on #1009
With this approach it is not obvious how to change the defaults.

[2019-06-04 15:12] Benjamintf1 commented on #1009
[code]
You can presumably leave off the "defaulting" options if you have them separate. You'd presumably learn it the same way, via documentation.

[2019-06-04 16:42] monopole opened #1151 "namespace transformer borked"
After https://github.com/kubernetes-sigs/kustomize/pull/988

the function

 func (o *namespaceTransformer) filterResmap(m resmap.ResMap) resmap.ResMap {...}

no longer acts as discriminatory filter.

it copies one map to another and empties the original using complicated code.

the 'found' loop break is ignored.

i better revert  #988 before we release 2.1

i'm looking at too many things to go int

[2019-06-04 17:23] Liujingfang1 commented on #1036
@qiujian16 Thank you for working on this. I'll review the PR.

[2019-06-04 18:53] #916 closed

[2019-06-05 08:53] pohly commented on #975
@monopole: `--load_restrictor none` works when calling `kustomize` directly. Is something similar planned for `kubectl apply/create --kustomize`?

[2019-06-05 11:29] vdboor commented on #1132
Please reopen @monopole, this doesn't have to do with network latency:

[code]

Hence it looks like kustomize does a complete git checkout per mentioned base. These checkouts aren't cached, as the next invocation is equally slow.

[2019-06-05 16:32] gautaz commented on #915
@yujunz I don't see how this limitation ensures a more deterministic build.

As soon as you are relying on base files, any modification to these base files impacts the kustomization using them, be it resources or images seems like the same to me.

Being able to specify images in base files also does not cripple flexibility for overlays, you can still modify again images in each overlay kustomizati

[2019-06-05 21:41] guibirow commented on #1009
If I understood correctly, the reason the selectors are modified is because changing the label in a resource will change it's identity in case it is used by a selector.

Implementing a new approach will have the same problem,. because you might change a label expected by the selector that didn't change.

The selector is updated do add the new labels where in fact it should only change the existing

[2019-06-06 00:40] jessesuen commented on #586
/remove-lifecycle stale

[2019-06-06 12:33] george-angel commented on #306
/remove-lifecycle rotten

[2019-06-06 12:37] wichert commented on #1114
I think this can be closed now that #1139 has been merged?

[2019-06-06 18:10] tkellen opened #1155 "configMapGenerator can't make multiple identically named ConfigMaps with different namespaces"
[code]
[code]
[code]
[code]
[code]

[2019-06-06 18:35] rcrowe commented on #880
I've just hit the same problem when using a role binding, where the subject is in a different namespace than metadata.name. The subject namespace is being overwritten.

[2019-06-06 21:36] nickatsegment opened #1156 "`kubectl kustomize`: good way to redact secrets?"
I'm using `kubectl apply -k` as part of a CI deployment flow. I want to be able to record what was applied by persisting `kubectl kustomize` to a build artifact. However, this output includes secrets.

Considering the output is a series of YAML docs, it's kind of tough to redact (or omit) the secrets' data.

Is there a good way? Alternatively, a flag to redact secrets would be great.

[2019-06-06 21:51] nickatsegment commented on #1156
I arrived at this `yq` script, but having in-tool support for this sort of thing would be cool.

[code]

[2019-06-06 21:53] monopole commented on #1156
If i understand this correctly, one would have to perform two kustomizations;
1. send everything to a cluster
2. send everything minus secrets to storage

 - could add a flag to drop secrets from output
 - one could do a sed to remove the secretGeneration from kustomize file between step 1 and 2.
 - one could write a transformer plugin to remove secrets, and add it to the kustomization file to do

[2019-06-06 21:54] monopole commented on #1156
or yq, that looks good to me :+1:

[2019-06-06 23:06] prydonius opened #1157 "support inlining patches in kustomization.yaml"
It would be easier to share and provide examples for kustomize configurations if patches could be inlined, e.g.:

[code]

This would then allow me to share a single kustomization.yaml file for an application and expose certain configurations to users.

[2019-06-06 23:18] damienr74 commented on #1114
/close

[2019-06-06 23:18] #1114 closed

[2019-06-07 00:27] nickatsegment commented on #915
Are contributors still against this on principle? When I found this out, it was really counterintuitive. The limitation is only documented in this bug AFAICT, not docs: https://github.com/kubernetes-sigs/kustomize/blob/c094780aaedd241fedd34d73d409d1699488f167/docs/fields.md#images.

`commonAnnotations` seems to work fine in a base for me.

[2019-06-07 00:44] yujunz commented on #915
@gautaz Just created an example of different tags in one kustomize build.

[code]

See https://github.com/yujunz/image-tag-hierarchy for the hierarchy.

[2019-06-07 08:43] benjamin-bergia commented on #680
Hi, just met the same issue here.
Without going into templating or "smart" merging, being able to concatenate multiple file under the same key in the config map would make a huge difference. I think the current syntax is neat and doesn't have to change but having (as in the example):
`base/kustomization.yml`
[code]
`overlays/prod/kustomization.yml`
[code]
Should result in a configmap with a single

[2019-06-07 08:44] gautaz commented on #915
Hello @yujunz,

OK, I see your point now. For the example to be more complete, a new deployment using the image `cr.agilicus.com/group/image` should be declared in the overlay and the question that would arise would be which tag will use this deployment?

Still this could be rendered deterministic by simple rules like "last one wins", which would mean that the stage tag would be applied to this ov

[2019-06-07 12:48] benjamin-bergia commented on #710
I have the same issue with something like:
[code]
In this case I create a ConfigMap in the prod overlay and the hash isn't modified in the app1 overlays. Unfortunately adding an empty ConfigMap in app1 base would create multiple resources.

[2019-06-07 17:04] adrienbrault commented on #720
https://github.com/kubernetes/enhancements/pull/897 Looks really good 👍

[2019-06-07 22:52] monopole opened #1164 "Cannot use the same plugin more than once in one kustomization file."
If a plugin is used twice in one kustomization file, the last config "wins",
overwriting earlier configs.

This is because plugin loading and config are done in one step per kustomization file
(see plugins.Loader::loadAndConfigurePlugin).  This problem doesn't exist
 for overlays using the same plugin used by some base -
it only applies to the same plugin used multiple times
in the same kustomizat

[2019-06-09 16:59] donbowman commented on #880
another example. when using istio, i need to be able to have a certificate and ingressgateway in namespace istio-system, but have the rest of the material (including the config generator) in its own.

so e.g. I have:
- deployment
- secretGenerator
- certificate
- ingressgateway

if i do not set a namespace in kustomization.yaml, I end up w/ the Secret from the secretGenerator in the root namespace

[2019-06-10 20:02] NicolasRouquette opened #1167 "Is the hashing too restrictive for custom transformation of custom resources?"
I wrote a simple custom transformation plugin to apply [sealed-secrets](https://github.com/bitnami-labs/sealed-secrets) to the 'Secrets' resource only of an input yaml. This results in a new custom resource, `SealedSecrets` that, unfortunately, `kustomize` rejects because it can't hash it:

https://github.com/kubernetes-sigs/kustomize/blob/master/k8sdeps/kunstruct/hasher.go#L25

For details of the

[2019-06-10 21:12] tkellen opened #1168 "commonAnnotations from file"
Would you support a PR that adds the ability to specify commonAnnotations from external files in a similar manner as the configMapGenerator?

[2019-06-10 21:14] tkellen commented on #1142
/ref https://github.com/kubernetes-sigs/kustomize/issues/1155

[2019-06-10 23:24] erick-thompson commented on #1082
@monopole Do you know when #1154 will be released?

[2019-06-10 23:48] pwittrock commented on #1157
FYI: @prydonius discussed this out of band at kubecon.  Might be good for a new contributor to pick up.

[2019-06-10 23:59] seans3 commented on #1157
/sig cli
/kind feature

/assign @prydonius
/assign @monopole
/assign @Liujingfang1

[2019-06-11 07:01] sascha-coenen commented on #61
/remove-lifecycle stale

I think several people liked the proposal by voting for it and there were no alternative suggestions so far, so I believe the issue is still relevant until it has received more discussion.

[2019-06-11 07:15] cmberryau commented on #965
hello @Liujingfang1 how can we check kustomize version? I get this output from `kubectl version`:

`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"windows/amd64"}`

I am able to use env key, but envs key does not wor

[2019-06-11 11:22] glerchundi commented on #702
@fentas this is a fantastic approach, thanks for sharing! We were evaluating to replace our jsonnet specs with kustomize and we discarded just because of this...which is now somehow easily achievable.

[2019-06-11 11:48] benjamin-bergia commented on #970
Forcing people to have this kustomization.yml on their repo makes the remote base feature pretty much useless in real life scenarios. The idea of being able to load some yaml from whatever repo on github, untouched, and create variants from it will not happen if we expect repo maintainers to create kustomizations. In an other hand, if we allow remote resources we automatically give access to any r

[2019-06-11 12:52] michaelbannister commented on #965
@cmberryau run `kustomize version`

[2019-06-11 14:36] benjamin-bergia opened #1170 "Replicas transformer add replicas to services and ingresses"
I am running kustomize master and I just noticed that using the `replicas` transformer modifies all the resources that have a matching name and a `spec` field such as Deployment, but also Ingress and Service.

When using nested overlays, the replicas count is not updated.

[2019-06-11 18:23] ian-howell commented on #949
Is there any intention to update the kuberenetes/client-go versions? The current versions are more than a year old

[2019-06-11 18:31] giannello commented on #677
:+1: this has a nasty side effect in `kubectl` too
[code]

The suggested workaround solves the issue.

[2019-06-11 18:51] saturnism commented on #318
quick que - how does json patch solve the literal var problem?

[2019-06-11 21:33] kkasravi commented on #949
Yes, see #3368

[2019-06-12 06:01] benjamin-bergia commented on #1170
Sorry I wasn't really clear. After adding `replicas` to my kustomization file, kustomize generate invalid resources. For example I have a deployment, a service and an ingress that have the same name `test`. After adding
[code]
to my kustomization.yml, the `replicas` field is add to the deployment, the service and the ingress.

[2019-06-12 14:04] afirth commented on #873
/close by #1057 I think

[2019-06-12 16:50] #1036 closed

[2019-06-12 18:15] damienr74 commented on #1170
I think this is working as intended. The replicas transformer should be able to modify any `kind:` that has the `spec: replicas:` field already. This is how it was described in #1114

I am not able to reproduce a `kind:` that does not have the `spec: replica:` field and that gets a replica added to it. Could you verify that your deployment, the service, and the ingress already have a `spec: replic

[2019-06-13 07:05] cmberryau commented on #965
I don't have a binary or script for kustomize by itself, using the kubectl -k commands for all kustomize tasks so far on dev machine. Up in Azure I'm using their web based cloud shell, `which kustomize` returns nothing also.

For the time being I used env (rather than envs) and it works okay.

[2019-06-13 07:46] michaelbannister commented on #965
@cmberryau if you look up the Godeps.json file for the kubernetes/kubernetes commit matching your `kubectl` version you can see it's v2.0.3: https://github.com/kubernetes/kubernetes/blob/641856db18352033a0d96dbc99153fa3b27298e5/Godeps/Godeps.json#L4400
HTH

[2019-06-13 10:53] benjamin-bergia commented on #1170
Hi @damienr74,
here is a setup that should help you to reproduce:
[code]

kustomization.yml
[code]

When I run `kustomize build` i get:
[code]

[2019-06-13 14:26] cmberryau commented on #965
@michaelbannister thanks very much for pointing this out!

[2019-06-13 20:53] ian-howell opened #1179 "Add support for indexing in fieldPath of a variable"
Currently, kustomize is unable to target an array value. This could be improved to support the following format for a fieldPath:

[code]

As an example, suppose we have the following directory structure, with relevant file contents provided after:

[code]

**foo/deployment:**
[code]

**bar/deployment:**
[code]

**kustomization.yaml:**
[code]

**patch.yaml:**
[code]

Given these kustomizations, we

[2019-06-13 22:29] BenTheElder commented on #142
/remove-lifecycle rotten
I think what I actually need is just some unstructured patching code, currently these types (kubeadm config) aren't known as structured types to kustomize anyhow.

It would be nice if this logic could be re-used and had documentation :sweat_smile:

[2019-06-14 01:10] damienr74 commented on #1170
Thanks for bringing this up, a fix is implemented at #1181.

/kind bug

[2019-06-14 19:48] ptemmer opened #1182 "Empty list item in secretGenerator creates nameless secret"
[code]

Not really a bug, however it would be nice if an error message could be thrown.
It took me quite some time to figure out that there was an empty list item in one of my kustomize files.

Kubernetes errors out with:

[2019-06-15 09:02] evrardjp commented on #970
I would like to consume resources directly from URL.

I don't see a security issue if the manifest from the resource is audited before use, and I don't see a good technical reason why it cannot be achieved. Could you clarify why there is no plan for this?

I even don't mind tackling the code on my spare time, but I need a longer explanation than ``We don't plan to support remote files for resource

[2019-06-15 18:25] jbrette commented on #1179
The fieldSpec of variable declaration in kustomization.yaml could be improved to support the following format:

spec.template.spec.containers[1].command[1]

[2019-06-17 14:22] stas2k commented on #1082
This makes kustomize unsuitable for my use case - reusing base layers to describe similar app configuration.
Is it possible to put a notice on [kubectl docs](https://kubectl.docs.kubernetes.io/pages/app_composition_and_deployment/structure_multi_tier_apps.html) about this issue?

[2019-06-17 15:35] ian-howell opened #1184 "Add support for non-string variables"
Kustomize currently only supports string variables. It would be nice to be able to reference other types of variables, such as ints and bools. For example, I can't currently synchronize the number of replicas I have between two deployments since `replicas` is an int.

Here's some example files to demonstrate:

[code]

**kustomization.yaml:**
[code]

**transformerconfig.yaml:**
[code]

**foo/deploy

[2019-06-17 19:38] damienr74 commented on #1170
/close

[2019-06-17 19:38] #1170 closed

[2019-06-17 23:15] #756 closed

[2019-06-17 23:46] monopole commented on #756
See https://github.com/kubernetes-sigs/kustomize/blob/master/docs/v_2.1.0.md#resource-ordering

[2019-06-17 23:47] monopole commented on #756
@bai pretty much did as you suggested. :)

[2019-06-18 03:27] anarcher commented on #106
I think that providing for omission of resources is necessary to avoid some kind of workaround. (e.g. make many directions)

Does kustomize have a plan to support this?

[2019-06-18 09:08] benjamin-bergia commented on #1082
I am hitting the same issue here and it's becoming borderline unusable. I have the following scenario:
env/
  base/
    kustomization.yml //resources: app/overlays/web, app/overlays/worker
    app/
      base/
        deployment.yml
        kustomization.yml //resources: deployment.yml
      overlays/
        web/
          kustomization.yml //base: ../base
        worker/
          kustomization.

[2019-06-18 09:17] lwille commented on #519
*bump*

[2019-06-18 09:44] rvodden commented on #843
I had a look at this because is labeled "help wanted" and "good first issue". It looks like the problem is with sigs.k8s.io/yaml. Replicating the issue in a small test app:
[code]
The output is:
[code]
So `yaml.YAMLToJSON` is erroneously putting extra `{` arround the 2nd example.

[2019-06-18 11:57] rvodden commented on #843
This is (although it doesn't look like it on the surface) correct behaviour. Your line:
[code]
is being (correctly) interpreted as a map from `v3="[{\"path\"` to `\"var/druid/segment-cache\"}]"`.

The behaviour you're looking for requires the colon to also be escaped:

[code]

I think this can be closed now.

[2019-06-18 16:27] ian-howell opened #1190 "Improve variable expansion to include tree structures"
I would like to be able to use a variable to reference an entire tree of YAML as opposed to a single piece of primitive data. Consider the following example, where kustomize should take the entire `template` tree from the foo deployment and use it in the bar deployment.

[code]

**kustomization.yaml:**
[code]

**transformer.yaml:**
[code]

**foo/deployment.yaml:**
[code]

**bar/deployment.yaml:**

[2019-06-18 18:40] adrienbrault commented on #720
In case anyone is interested, we've implemented `StrategicMergePatch` from https://github.com/kubernetes/enhancements/pull/897 as a plugin: https://github.com/sourceability/kustomize-plugins

[2019-06-18 21:00] monopole commented on #1151
declaring this fixed by #1183

[2019-06-18 21:00] #1151 closed

[2019-06-18 21:13] monopole commented on #1168
I think v.2.1.1 should have new directives for labels, selectors and annotations that supports this and the behavior described in #1009 in some consistent fashion

`commonLabels` and `commonAnnotations` are by design simple (they just take a map) and this makes them hard to modify without either breaking everyone or introducing some bizarre syntax.  These fields can continue to exist alongside new

[2019-06-19 06:40] rvodden commented on #725
/remove-lifecycle stale

[2019-06-19 06:41] rvodden commented on #725
/assign rvodden

[2019-06-19 07:10] benjamin-bergia commented on #1190
If your example is the main use case, I would probably go with [PodPresets](https://kubernetes.io/docs/concepts/workloads/pods/podpreset/). It's neater and probably going to be easier to manage in the long term than variables. If you need to reference other types of resources, maybe YAML anchors and references? (I didn't test this on kustomize yet, no idea if it works)

[2019-06-19 11:19] Guyzeroth opened #1203 "Kustomize 2.1.0 causes SIGSEV"
https://github.com/kubernetes-sigs/kustomize/releases/tag/v2.1.0

Rebuilt my CI container to use the '2.1.0' Kustomize. Upon running my kustomize step I got this stack trace.

[code]

Appears to be a regression from 2.0.3 (This version works )

[2019-06-19 13:14] jbrette commented on #1203
Happened to me two days ago. In my case happened, was because of mismatch in the namespace value for object referred by variable: Temporary fix was: https://github.com/jbrette/kustomize/blob/namespace/k8sdeps/transformer/patch/transformer.go#L49

[2019-06-19 15:18] julienp opened #1207 "Specifying behavior for generator plugins"
In [runGenerators](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/kusttarget.go#L253) the result maps of external generators are added to the accumulator with AppendAll ([kusttarget.go#L279](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/kusttarget.go#L279)) , whereas builtin generators use AbsorbAll ([kusttarget.go#L265](https://github.com/kubernetes-sigs

[2019-06-19 15:39] ian-howell commented on #1184
Added in https://github.com/kubernetes-sigs/kustomize/pull/1111

[2019-06-19 15:39] #1184 closed

[2019-06-19 17:54] ian-howell commented on #1179
Added in https://github.com/kubernetes-sigs/kustomize/pull/1111

[2019-06-19 17:54] #1179 closed

[2019-06-19 18:06] moismail109 opened #1209 "Kustomize for CircleCI"
We are working on using `Kustomize` to deploy our applications using `CircleCI` to GKE.

I followed the below steps to re-produce the use case:

1.  Install kustomize using
[code]
2. Install kubernetes
3. Update image tag using kustomize:
[code]

Unfortunately I can't so far deploy it but every time I am trying to set the image tag, it fails.
So I have 2 questions:

1. Can you post an example for

[2019-06-19 21:04] erick-thompson opened #1212 "Windows binary for v2.1.0?"
When should we expect a Windows binary for v2.1.0?

[2019-06-20 02:10] solacens opened #1215 "Adding the configmap/secret hash into the annotation of itself"
Hi, I'm new to Kustomize from Helm.

I'm wondering if the CM/Secret itself can contains the hash so that I can reference it from other resources such as deployment.

Generating hash in the resource as suffix is a bit annoyed to me becuz there are already dozen of resources there and I don't really need a rollback.

P.S. From my observation, Kustomize didn't really take care of the rollback control

[2019-06-20 06:46] jbrette opened #1216 "Automatic creation for kustomization.yaml var section and varReference"
Creating the entries in the var section can be a quite long process if the number of variable increases and get the kustomization.yaml hard to read:

For instance:
[code]

On the varReference side of the process, the process make complicated very quickly:
For K8s standard objects (if not part of the default configuration)
[code]
or

For CRD:
[code]

This proposal aims at the automatic creation of

[2019-06-20 09:18] yujunz opened #1218 "`panic: runtime error: invalid memory address or nil pointer dereference` on invalid patch"
[code]

[2019-06-20 12:50] jbrette commented on #1218
Has this been fixed by https://github.com/kubernetes-sigs/kustomize/pull/1206 ? Looks like a dup of https://github.com/kubernetes-sigs/kustomize/issues/1203

[2019-06-20 13:18] ptemmer opened #1219 "Merging generator fails when namespace of base and overlay differ"
How to reproduce:
- Kustomize v2.1.0 (works in v2.0.3).
- base/kustomization.yaml:
[code]

- overlay/kustomization.yaml:
[code]

[code]

Removing `namespace: default` from base resolves the issue.

[2019-06-20 15:46] dantman commented on #903
/remove-lifecycle stale

[2019-06-20 18:13] taha-au commented on #1009
A possible solution here may be to introduce the concept of `commonSelectors` that, if present, would be populated into the selectors instead of the `commonLabels`. For example:

[code]

Would generate selectors of `app: foo` and `release: bar` but not `environment: dev`, while the labels would be `app: foo` and `environment: dev`. This would allow for more flexibility.

If `commonSelectors` is ab

[2019-06-20 18:44] darwin67 commented on #1009
Looks like it's already available.

https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html?q=#meta-options

[2019-06-20 19:11] ian-howell opened #1223 "Modify VarSet to use a set data type"
The `VarSet` type currently uses a slice [under the hood](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/var.go#L75). This will cause dramatic performance issues due to [multiple expensive calls to `copy`](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/var.go#L126) as well as [linear time lookups](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/

[2019-06-20 21:20] jbrette commented on #1013
Looks like the only thing you need to do is add an empty matchLabels:. No need to override the default kustomizeconfig. I think you could close the bug

This file as resource:
[code]

produces:
[code]

[2019-06-20 21:54] ian-howell opened #1226 "Add tool dependencies"
With the advent of go modules, we now have the ability to add dependencies on tools. Right now, a new contributor to Kustomize won't be able to successfully run all of the tests due to several missing tools (`golangci-lint`, `mdrip`, `kubeval`, etc...). I propose following the guidelines laid out [here](https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module) to st

[2019-06-20 22:11] jbrette commented on #964
Also I'm not convinced this is the best way to do it,
there is a solution using variables:

First create a dummy Values CRD or a ConfigMap
[code]
then create your service
[code]

declare variables in kustomization.yaml
[code]

[code]

[code]

[2019-06-21 00:05] jbrette commented on #1113
@pwittrock @TheOriginalAlex I think we could start to do something along the idea of the following [PR](https://github.com/kubernetes-sigs/kustomize/pull/1217)

- Need to follow a naming convention for the variable
- No need to change the kustomization.yaml nor the kustomize configuration

The values.yaml (that would be built on the fly if needed)
[code]

The service.yaml (Notice how the kind has

[2019-06-21 01:31] sethpollack commented on #1164
Running into this one as well. Its also an issue if multiple bases use the same plugin as well.

[2019-06-21 08:34] arnodel opened #1228 "Regression in namePrefix configuration in 2.1.0"
In 2.1.0 there seems to be a regression in how namePrefix configuration works.  Before, it was possible to specify several fieldspecs for the same kind (e.g. `Deployment`) and the prefix would be applied at all the locations specified by the fieldspecs.  Now it appears that only the first one is applied.  Here is a minimal example:

- example/config.yaml
[code]

- example/deployment.yaml
[code]

-

[2019-06-21 12:08] confiq commented on #641
/remove-lifecycle rotten

I wanted to use generateName with kustomize but I can't :(

[2019-06-21 15:21] jonathanunderwood commented on #318
A JSON patch doesnt solve this use case. Can we reopen this?

[2019-06-21 15:27] quentinleclerc commented on #1009
Hello,
I've been facing the exact same problem of putting the version in commonLabels.

@darwin67 you're right but this can be quite a problem if you have tens of microservices. The personalized configuration file for kustomize (the one your link is pointing to) should be present in ALL the folders.

Something like @taha-au suggested is probably a good idea. Or the possibility to specify the paths

[2019-06-21 15:33] quentinleclerc commented on #880
Hello,
I've been facing issues with the namespace override also.

Wouldn't it be possible to add an option to the namespace key in kustomization.yaml to specify if we want it to override or not ?

[code]

[2019-06-21 16:00] ian-howell commented on #1228
I'll take this one

[2019-06-21 16:01] arnodel commented on #1228
There is a fixe here: https://github.com/kubernetes-sigs/kustomize/pull/1229

[2019-06-21 16:02] rgladwell opened #1230 "Segmentation fault if resource namespace does not match"
Getting segmentation fault on macOS version 10.14.5 for kustomize version 2.1.0 installed via Homebrew formula when trying to build for overlay of config map where namespace does not match.

The base `config-map.yaml` is as follows:

[code]

The overlay `config-map.yml` is as follows:

[code]

We get the following error:

[code]

If the namespace is copied to the overlay no error occurs.

The expe

[2019-06-21 16:02] ian-howell commented on #1228
ah. Too slow. Thanks for letting me know :+1:

[2019-06-21 17:05] darwin67 commented on #1009
I'm not sure what you mean by `ALL` though.

We kind of have similar situations but we structure it in a way that we only put the common configurations in each base so we always just reference the base from the overlays and the overlays can go a little crazy with multiple versions of the same base, so let's say I have 10 bases and I want 3 versions for each of the app, the max amount of common con

[2019-06-21 19:19] jbrette commented on #1230
@rgladwell This has been addressed by the following pull request: https://github.com/kubernetes-sigs/kustomize/pull/1206

[2019-06-21 20:12] arnodel commented on #1228
Because I've apparently irreversibly messed up the CLA process on #1229, I've made another PR with the same changes: #1231 .  Sorry about that!

[2019-06-21 20:57] sethpollack commented on #1164
@monopole I can open a PR for this.

Thoughts on just returning a new configured plugin from `Config` rather than modifying the plugin?

[2019-06-21 21:49] monopole commented on #1190
@benjamin-bergia good points.

PodPresets/admission controllers/controllers can do pretty much anything.  kustomize is a client side alternative to that for generating final config, pre-cluster, for whatever purpose.  fwiw, it's not supposed to depend on stuff being installed in the cluster first.

afaik, YAML anchors/references (&'s and *'s) are recognized by `go-yaml`, and thus transitively supp

[2019-06-22 00:41] monopole commented on #1223
https://stackify.com/premature-optimization-evil/

the code was "optimized" for debugging, not building kustomizations with tens of thousands of vars.

thanks though, appreciate the effort.
made comments on the pr - can accept it, but need a String method that retains existing behavior.

[2019-06-22 00:52] monopole commented on #1216
ack, will circulate -

[2019-06-22 07:33] jonathanunderwood commented on #347
I agree: being able to patch the Ingress host value is super useful, and it would be preferable to be able to do it with a strategic merge. I am seeing a lot of feature requests closed with "use a JSON patch", without much consideration of the use cases.

[2019-06-22 13:00] arnodel commented on #1226
I submitted a fix for #1228 yesterday and I struggled a bit when trying to test my patch.  In fact even some markdown page documenting the process would be helpful.  What I did was to install the tools similarly to what is specified in `.travis.yml` and then run `travis/pre-commit.sh`.  That might be obvious to some but it wasn't to me!

[2019-06-22 13:06] arnodel commented on #1215
You can do this by having a `vars` section in your kustomization:

[code]

Then in e.g. a deployment you can have:
[code]

The same applies for secrets.

[2019-06-22 13:12] solacens commented on #1215
Thanks @arnodel, currently I am using the name reference with hashed-suffix generated configmap.

But the purpose of this issue is just dicussing if the feature request is worthy to be implemented or not.

I guess users played with helm will be feeling nice to have this feature. Also, IMO it keeps configmap/secrets clean and tidy.

[2019-06-22 16:31] tkellen commented on #1168
Hmm. I think perhaps we're talking about different things. Assume I have a cluster produced by terraform that outputs files which each have a single line value in them to record commonly needed values for workloads in the cluster:
[code]

Currently the only way I can bring those values into the cluster using kustomize is like this:
[code]

...which means, for example, in a pod spec, I consume them

[2019-06-22 16:32] #1168 closed

[2019-06-22 16:42] tkellen opened #1233 "support valueFrom in any location kustomize allows value"
*This is a more generalized form of the feature discussion originally held in https://github.com/kubernetes-sigs/kustomize/issues/1168.*

Would you accept a PR that made it possible for kustomize to source the content of any `value` from an external file?

Here is one possible use-case:

Assume I have a cluster produced by terraform that outputs files which each have a single line of data in them

[2019-06-22 16:55] tkellen commented on #1233
If you're reading this via email @monopole, just a heads up that I edited this numerous times as the idea evolved. Thanks in advance for any time you can give this!

[2019-06-22 18:46] objectiveous opened #1234 "plugin was built with a different version of package..."
aligning versions of kustomize and its dependencies w/ ones plugins is... challenging. Please consider documenting how to go about aligning versions or, but yet, provide real working examples w/ working go.mod files.

[2019-06-22 19:16] objectiveous opened #1235 "provide a simpler local build scheme."
building kustomize locally currently requires cloud-build-local and that requires:

```Configure your project for the gcloud tool, where [PROJECT_ID] is your Cloud Platform project ID:```

Do I really have to understand the ins and outs of GCP in order to work w/ a core component of kubectl?

Consider providing a simple Makefile and removing the dependency on platform specific build components.

[2019-06-22 19:53] objectiveous opened #1236 "Exec style plugin load failure when not executable."
When an Exec style plugin is not executable and error is thrown with a misleading message:

```Error: loading generator plugins: plugin /Users/kenpo/.config/kustomize/plugin/foo.bar.xx.com/v1/foopipelinetenat/FooPipelineTenat fails to load: plugin.Open("/Users/kenpo/.config/kustomize/plugin/foo.bar.apple.com/v1/acipipelinetenat/FooPipelineTenat.so"): realpath failed```

Notice that reference to ``

[2019-06-23 16:02] #1228 closed

[2019-06-23 17:32] develar commented on #766
Ok, but secretGenerator it is not resource, it is part of `kustomization.yaml`. It seems that `kubectl create secret generic tls --from-file=./certs/tls.cert --from-file=./certs/tls.key` is the only solution now :( (security doesn't matter — it is used for local, since no doubt for production secrets created in another way).

[2019-06-23 18:20] #162 closed

[2019-06-24 08:34] #167 closed

[2019-06-24 11:37] #317 closed

[2019-06-24 12:10] Lawouach commented on #1203
Hello there,

Is there a chanbce for a new release soon with this fix? Right now, I'm finding it hard to figure out how to amend my overlays as the error is not helping.

It's specially quite tricky when you have something like:

[code]

Where all the files have the same name and I'm not sure if the `patchesStrategicMerge` feature supports this. Indeed the doc says:

[code]

[2019-06-24 12:40] quentinleclerc commented on #1009
I guess it depends on how your services are setup. In my case we have a setup that looks something like this, with a repo/monorepo:

[code]

My point on my previous message being that if the whole company (or certain teams in charge of multiple micro-services) use the same "custom" kustomize configuration, we would have to "copy" the kustomize configuration in each micro-service-#/base folder. I t

[2019-06-24 15:44] vasu1124 commented on #973
I was wondering how kustomize could help with runtime input derived from other resource.
A typical example is described in https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/#setup-dns , where I need to set a field or data item with a spec of a runtime resource. I see a lot of cases where shell scripting is imperatively (mis)used with
[code]

Is such scenario actually in scope fo

[2019-06-24 16:48] jbrette opened #1243 "Kustomize generated files when using -o <folder> option should contain the namespace"
Was investigating difference of behavior between 2.0.3 and 2.1.0, and realized the kustomize build <xxx> -o <folder> needs improvement in the generation of the file names:
The filename do not contain the namespace which causes issues at build time:

Create first object in one namespace using the dply1 name:

[code]
Create second object in another namespace using the dply1 name:
[code]

Check kusto

[2019-06-24 20:53] Liujingfang1 commented on #720
We plan to implement this feature. Any one who is interested in it is welcome to contribute. Here are the tasks that we can break this feature into.
- [ ] Add types for the extended patches
- [ ] Implement the functionality of getting the set of targets by
    - [ ] group, version, kind, name, (The name can be regexp)
    - [ ] annotations
    - [ ] lables
    - [ ] the intersection of all these t

[2019-06-24 22:01] bitva77 opened #1245 "Add volumeMounts outside of configMapGenerator"
I'm trying to add a new volumeMount to a container (for a hostPath volume).  The deployment already contains configMaps added via configMapGenerator.  Is there anyway to patch it?

I've tried

[code]

but that just ends up replacing everything under `spec.template.spec.containers` still.

What's the difference between replace and merge in this case?

overlaying `spec.template.spec.volumes` works t

[2019-06-24 22:01] jbrette commented on #1243
Additional test cases available at: https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1243

[2019-06-24 22:08] bitva77 commented on #1245
let me follow up and say that trying to overlay (no $patch statement) that it sill replaces everything as above

[2019-06-24 22:13] mapshen commented on #738
@Liujingfang1

Really baffled about getting
[code]
to work here, and am hoping you could give me a hand.

We are running v1.15.0:

[code]

Adding the following
[code]
to `kustomization.yaml` spits out
[code]
and removing the above returns
[code]

[2019-06-24 22:45] mapshen commented on #738
In addition, when creating a cluster role binding, it errs out with

[code]

My understanding is that we don't need to specify the namespace for a `ClusterRole`?

[2019-06-24 22:52] Liujingfang1 commented on #738
@mapshen use `kubectl apply -k ./` instead. `-f` doesn't work with kustomization.

[2019-06-24 23:10] Liujingfang1 commented on #720
@adrienbrault Do you want to contribute to this feature? We can write a new builtin transformer for it. I listed the steps above.

[2019-06-25 00:49] #360 closed

[2019-06-25 03:29] gobengo opened #1248 "Error when composing several identical bases that use the same var: "var ... already encountered""
Here is a reduced test case and README: https://github.com/gobengo/kustomize-issue-7f53131c-0253-45a9-87c4-c6ab2f4d55ea

If you run `kustomize build .` in the root directory, you get an error like:

[code]

The var referenced in the error message is defined in the kustomization.yaml of the (remote) base that both top-level bases use. https://github.com/gobengo/etherpad-lite/blob/master/lib/kubedb-

[2019-06-25 03:41] cmberryau commented on #402
I'm currently using this functionality to override container repositories and it is great.

I'm not sure if I am missing something; however it seems if I add a newName statement to a base kustomization.yaml, the expected newName changes are not applied to resources declared at the overlay kustomization.yaml level.

Currently I am getting around this by simply adding the newName statement for the s

[2019-06-25 08:43] primeroz opened #1249 "2.1.0 broke Vars using fieldPaths whose components contain dots - regression bug"
This is a regression bug since the issue was reported and fixed in #526

With kustomize 2.0.3 it works as expected, in my case this snippet
[code]

works as expected and the var value is set.

Testing 2.1.0 this is broken

[code]

Or is somehow the syntax changed to reference dotted labels ?

[2019-06-25 09:32] jonathanunderwood opened #1250 "Vars substitution does not work in ConfigMap"
Kustomize doesn't seem to substitute values of `Vars` into the `data` section of a configmap.

Reproducer below.

[code]

`kustomization.yaml`:
[code]

`ingress.yaml`:
[code]

`service.yaml`:
[code]

`configmap.yaml`:
[code]

Note below that the `$(CNAME)` var has not been susbstituted in the ConfigMap resource:
[code]

Weirdly, with `kubectl` a different problem arises:

[code]

[2019-06-25 12:38] apyrgio opened #1251 "Support composition in kustomize"
We (@arrikto) have been using kustomize lately in order to deploy our software on Kubernetes, using a single base and multiple overlays for each deployment site. This is the typical **inheritance** scenario that kustomize supports.

As the number of deployments grow, however, so do the things that are common between them. For example, consider the following deployments:

* **dev:** Consists of con

[2019-06-25 13:26] primeroz commented on #1249
duplicate of #1220

[2019-06-25 13:26] #1249 closed

[2019-06-25 13:53] jbrette commented on #1250
Hi

You are missing a config in kustomization:

in your kustomization.yaml
[code]

in your kustomizeconfig.yaml
[code]

[code]

For info there is a pull request which is attempting to do all that (kustomization.yaml var and kustomizeconfig.yaml varReference) automatically: https://github.com/kubernetes-sigs/kustomize/pull/1217.

The only requirement would be that you would have the name of your va

[2019-06-25 14:05] jbrette commented on #1250
Added automatic testing of your issue here: https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1250

[2019-06-25 15:03] mleneveut opened #1252 "TFS resource URL striped"
Using latest version Kustomize v2.1.0 , we are having trouble trying to use a base TFS Git repository.

We have a overlays/ci/kustomization.yaml :
[code]

And a `kustomize build overlays/ci` strips the URL to `https://itfs.mycompany.com/MainCollection/InformationSystem.git` :
[code]

We tried with `git::https://...`, with `git:ssh://...`, with  `InformationSystem//_git`, nothing works.

Modifying

[2019-06-25 15:21] mleneveut commented on #1252
It works fine with a github URL :

[code]

[2019-06-25 16:10] #1164 closed

[2019-06-25 17:40] bitva77 commented on #1245
I figured out how to use the JSON patch to get the same effect.  It's confusing how we have to use different methods in kustomize to get the same effect.

For anyone who comes across this in their google support searches, here's how I "fixed" this:

I created a `patch.yaml` with the following:

[code]

And then added this to my `kustomization.yaml`:

[code]

That get's me this Deployment YAML:

[c

[2019-06-25 17:40] #1245 closed

[2019-06-25 18:14] mapshen commented on #738
Argh...everything worked like a charm with `-k`. Thanks so much for point this out!!! @liuhuiping2013

[2019-06-25 18:26] rdubya16 commented on #1203
Also seeing this bug after upgrading 2.1.0

[2019-06-25 22:19] gobengo commented on #106
Being able to patch a resource with a top-level `$patch: delete` would be really useful and sensible way of allowing this!

[2019-06-25 23:12] #168 closed

[2019-06-26 00:56] jbrette commented on #1243
PR 1221 addressed the issue

[2019-06-26 00:56] #1243 closed

[2019-06-26 01:29] taxpon commented on #1209
@moismail109

I am using kustomize in CircleCI without facing any problems as follows.
[code]

`kustomize edit set image` add image configuration(s) to `kustomization.yaml`, then you execute `kustomize build`, the image configuration(s) are applied to deployment setting in runtime, afaik. Help message (`kustomize edit set image -h`) might be a good help for you.

[2019-06-26 01:52] monopole commented on #1203
nil references unacceptable
can you attach your kustomization file and other inputs?

[2019-06-26 04:13] jbrette commented on #1251
@apyrgio Please have look at: https://github.com/kubernetes-sigs/kustomize/pull/1253

**There is still a big issue to address (variable pointing at name)** but the  behavior seems to come along.
When reproducing your setup [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1251), this is the kustomize build output:

[code]
/cc @monopole @Liujingfang1

[2019-06-26 04:17] #562 closed

[2019-06-26 04:18] jbrette commented on #1248
@gobengo Please have look at: https://github.com/kubernetes-sigs/kustomize/pull/1253

**There is still a big issue to address (variable pointing at name)** but the behavior seems to come along.
When reproducing your setup [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1248), this is the kustomize build output:

[code]

[2019-06-26 04:36] jbrette commented on #506
@jcassee  @Shalucik Please a look and help test [PR](https://github.com/kubernetes-sigs/kustomize/pull/1253)

There is still a big issue with variable pointing at name which get transformed, but 1253 could potentially be a path forward. The environment used to reproduce your issue is [Here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_0506)

The kustomization.yaml con

[2019-06-26 05:18] #558 closed

[2019-06-26 08:27] yujunz commented on #1218
It seems so. Now it is giving an expected error message.

[code]

[2019-06-26 08:27] #1218 closed

[2019-06-26 09:56] jonathanunderwood commented on #1250
@jbrette thank you for responding so quickly and helpfully, really appreciated.

I think this points to an omission in the kubernetes documentation. Unless I've somehow missed it, I don't think `varReference` is mentioned anywhere in the user docs, is it?

[2019-06-26 11:31] benjamin-bergia opened #1256 "JSONPatch annotations containing slashes"
Not really a Kustomize issue but we definitely need a work around.

When patching annotations, it happens that the keys contain `/`. Like for example when patching my ingress:
[code]

This doesn't work since it should be interpreted as
[code]
But is actually interpreted as:
[code]

[2019-06-26 11:49] #1256 closed

[2019-06-26 13:09] jbrette commented on #1250
@jonathanunderwood The only "locations" where kustomization can replace variables by default are listed here: https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/varreference.go

kustomize is using those var reference to locate (across all the yaml files of your project) where it will potentially find a variable.

Any other location is considered custom a

[2019-06-26 13:17] rdubya16 commented on #1203
`[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x4a95e41]

goroutine 1 [running]:
sigs.k8s.io/kustomize/k8sdeps/transformer/patch.(*transformer).Transform(0xc000406520, 0x4eb1e20, 0xc00031f8a0, 0x6300008, 0x4015c6a)
	/private/tmp/kustomize-20190619-84776-gxe9x/src/kubernetes-sigs/kustomize/k8sdeps/transformer/patch/transformer.go:51 +0x341
sigs.k8s.io/kustomize/pkg/transformers.(*mu

[2019-06-26 13:56] jbrette commented on #1203
@rdubya16 Yes looks like the same issue (which has been fixed). This error check was missing: https://github.com/kubernetes-sigs/kustomize/blob/master/k8sdeps/transformer/patch/transformer.go#L48 and the code was crashing at line 51 which is now line 54

Have a close look at your namespace usage. The issue as often been linked to inconsistencies in the namespace value (either in the resources.yaml

[2019-06-26 14:51] jbrette opened #1257 "Feature Request: Need for non regression test folder or repo"
**This proposal aims at easing the recreation of the issues and allowing regression tests without embedding thousands of yaml lines within the kustomize go code.**

The principle is simple:

During the creation of the issue
1. Create a folder issue_xxxx, add the resources.yaml and kustomization.yaml...
2. Create an expected folder with the expected result of "kustomize build".
3. Create a README.m

[2019-06-26 14:59] anarcher commented on #106
IMHO, using annotation of omission can be useful.

[code]

[2019-06-26 15:26] jbrette commented on #1155
@tkellen Can you check that this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1221) addressed the issue.

The kustomization.yaml looks like this

[code]

This is the result of the `kustomize build .` command
[code]

[2019-06-26 15:32] admiralobvious commented on #1251
@jbrette I saw your pull #1253 yesterday and I tried locally but it didn't fix my issue with the setup that you can see [here](https://github.com/admiralobvious/kustomize/tree/issues/examples/issues/issue_1251).

The interesting thing is that if you comment out line 6 (`- frontend`) in `base/kustomization.yaml` and `development/kustomization.yaml` you actually get the expected output for the `back

[2019-06-26 15:46] apyrgio commented on #1251
Hi @jbrette, thanks for taking the time to look into this issue.

I've checked out your PR and built kustomize from it. With your changes, our diamond example builds correctly. However, when we add patches to the mix, I'm afraid it fails like before. You can see this in our [updated diamond example], where the two overlays patch the same base resource:

[code]

The interesting thing here is that i

[2019-06-26 16:48] Liujingfang1 commented on #1252
In the remote url parsing, need to add the support for `_git`.

[2019-06-26 16:51] etiennecoutaud commented on #1252
@lichuqiang if help is needed, I can add the support.

[2019-06-26 17:01] Liujingfang1 commented on #1251
Kustomize expects different overlays of one common base are for different apps. Then in the aggregated overlay, you have multiple apps. Adding nameprefix, namesuffix or namespace in overlays are to make them for different apps. @apyrgio, if you want to keep single app, you can apply patches in the same kustomization, rather than using multiple overalys.

[2019-06-26 17:10] Liujingfang1 commented on #1236
When the exec plugin is not found, Kustomize looks for a goplugin.
We can improve the error message for the case when the exec plugin file exists, but not executable.

[2019-06-26 17:12] Liujingfang1 commented on #1235
You can run `go build cmd/kustomize/main.go` after clone the repo.

[2019-06-26 17:16] Liujingfang1 commented on #1234
Kustomize v3.0.0 is coming with more docs.

[2019-06-26 17:16] Liujingfang1 commented on #1235
Yes, we can provide a Makefile for building the binary.

[2019-06-26 17:19] Liujingfang1 commented on #1252
@etiennecoutaud Yes, help is welcome and appreciated. You can open a PR for the change and we'll review it.

[2019-06-26 17:54] Liujingfang1 commented on #1233
@tkellen, there is no `fileRef` in `env.ValueFrom` based on Kubernetes [APIs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#envvarsource-v1-core).
You can change your pod and configmap a little. It may simplify your process.
[code]
change `env` in the pod spec to
[code]

[2019-06-26 17:59] #1223 closed

[2019-06-26 18:05] Liujingfang1 commented on #1219
This should be fixed by #1221

[2019-06-26 18:40] Liujingfang1 commented on #1215
@solacens You don't need to inject the hash with extra work. Kusotmize already covers it. It looks for objects such as Deployment and substitutes the ConfigMap name by the name with hash.

[2019-06-26 18:40] #1215 closed

[2019-06-26 18:45] Liujingfang1 commented on #1207
Since ConfigMap and Secret contains data, as key value pairs. It's quite straightforward to define the `merge`, `replace` behavior. For general generator plugins, depending on the type of resources it generates, different behaviors are not well defined. On the other side, you can apply patches to your generator config, which can be used to modify the behavior of generators from the overlay.

[2019-06-26 18:51] Liujingfang1 commented on #1209
Need to an example for any CI/CD pipeline with kustomize. Ideas and help are welcome.

[2019-06-26 18:56] Liujingfang1 commented on #1182
When `name` is missing from an item in the ConfigMapGenerator or SecretGenerator, throw an error.

[2019-06-26 18:59] Liujingfang1 commented on #720
Also include the feature request from #1157

[2019-06-26 19:02] Liujingfang1 commented on #1167
For other types, maybe just hash the bytes for the unstructured object.

[2019-06-26 19:09] Liujingfang1 commented on #1155
@jbrette Thank you for fixing this issue.

[2019-06-26 19:09] #1155 closed

[2019-06-26 19:12] Liujingfang1 commented on #1150
@benjamin-bergia When you add commonLabels to the overlay with the service, you can also include the label from the base.

[2019-06-26 19:41] jbrette commented on #1216
@monopole @Liujingfang1 @ian-howell

1. For info, we did not really change anything in a week to that code. Just rebasing on regular bases to ensure the the PR is still working as expected. Going through the issues we found multiple people who had the issue or were confused because they forgot to change the varReference even for standard objects [See this issue](https://github.com/kubernetes-sigs/

[2019-06-26 20:00] jbrette opened #1258 "Inconsistencies between MutateField.go and VarReference.go"
Hi

varreference.go has multiple kind of issues:
1) The first one which is cumbersome but easy to address by the user is only a subset of fields can be support variables replacement. Since he can always declare the corresponding varReference in his configuration file this is border line of being an actual bug. This could probably be address through documentation at first.

2) The second is related

[2019-06-26 20:41] Liujingfang1 commented on #1142
This has been fixed by #1221

[2019-06-26 20:41] #1142 closed

[2019-06-26 20:48] Liujingfang1 commented on #1140
By `support container registries as remote bases`, do you mean storing kustomize bases as image in container registries?

[2019-06-26 21:04] Liujingfang1 commented on #1135
@nickamorim Can you change the format of xyz.yaml. Change `:` between key and value to `=`. Then you can use `envs` to add this file. All key, values pairs will be added to the Secret data field.

[2019-06-26 21:08] Liujingfang1 commented on #1124
If you are using strategic merge patch, that is the expected behavior.

[2019-06-26 21:08] #1124 closed

[2019-06-26 21:15] Liujingfang1 commented on #1125
In general, a kustomize base should be feasible with all possible customizations. For some reason, if an org publishes some bases and expect teams/users to do at least a predefined set of customization, they can use a transformer plugin to do this. The transformer plugin reads the current kustomization.yaml file and validate certain fields are present.

[2019-06-26 21:28] Liujingfang1 commented on #1100
This feature would help #1119.

[2019-06-26 21:29] arnodel commented on #1215
You may do, for example if your are creating a kubernetes job in the pod.

On Wed, 26 Jun 2019, 19:40 Jingfang Liu, <notifications@github.com> wrote:

[2019-06-26 21:38] Liujingfang1 commented on #1076
Oops, just checked with v3.0.0-pre release. It's not fix yet.

[2019-06-26 21:42] apyrgio commented on #1251
Thanks for the clarifications @Liujingfang1. So, if I understand correctly, multi-base overlays are used to duplicate the resources of a base, either via name prefixes/suffixes or namespaces, to support this use case:

[code]

I can see the merits of this use case, but I find it surprising that it can't co-exist with the use cases presented at this issue.

If it helps, I think that the surprising

[2019-06-26 21:44] Liujingfang1 commented on #1082
This has been fixed by #1154. Please check out version 3.0.0-pre.

[2019-06-26 21:49] Liujingfang1 commented on #1083
This has been fixed by #1154. Please check out v3.0.0-pre.

[2019-06-26 21:49] #1083 closed

[2019-06-26 21:54] Liujingfang1 commented on #1094
This has been fixed. Please check out v3.0.0-pre.

[2019-06-26 21:54] #1094 closed

[2019-06-26 21:58] #1028 closed

[2019-06-26 22:23] monopole commented on #1203
[release candidate]: https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#quickly-curl-the-latest

@rdubya16 if willing, please see if the latest [release candidate] handles your data better.  it shouldn't seg sev, but there might be some unhelpful error message to improve on.

[2019-06-26 22:24] monopole commented on #1203
Please reopen if still segsev, or the error message needs improvement.

[2019-06-26 22:24] #1203 closed

[2019-06-26 22:32] jbrette commented on #1251
@admiralobvious @apyrgio Thanks for the additional examples you provided today.  I realigned the examples with what you provided:

1. We removed the prefixes from diamond example, and went back to original example [here]( https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1251/diamond ) and it seems to work (with the PR). But we agree that as long as we don't try something

[2019-06-26 22:49] sethpollack opened #1261 "Support StringData option in SecretArgs"
This is useful when using Vars from Secret objects. For example If I want to use a basic auth token stored in a secret in an ingress.

@monopole let me know what you think and I can open a PR.

[2019-06-26 22:49] hach-que opened #1262 "kustomize doesn't add the secret name suffix to the end of `credentialName` fields on istio gateways"
For example, this secret name generator:

[code]

and this istio gateway declared in a resource file for kustomize:

[code]

kustomize doesn't append the name hash suffix to the `credentialName` field.

I also tried:

[code]

and

[code]

but that didn't work either.

It would be really nice if there was a way of getting generated secret names and being able to put them into fields. `vars` seems l

[2019-06-26 23:21] Liujingfang1 commented on #1262
@hach-que You need to add transformer config, take a look at the [example](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/README.md)

[2019-06-26 23:35] #627 closed

[2019-06-27 00:26] gobengo commented on #1248
@jbrette Awesome!

I see something slightly off in that output. Tell me if this seems right.

In the output there is a `Deployment` with metadata.name = ai-zv58kz2nbox64fkrqptr94nurvqoxz88o52etherpad .
It has a container with an env variable like
[code]

I would expect the value of this env variable (which was from the kustomize variable that used to error) to have the namePrefix `ai-zv58kz2nbox64

[2019-06-27 01:00] hach-que commented on #1262
I ended up not being able to get it working with a transformer config. In the end it turns out istio doesn't even want to work with certificateNames anyway and I had to write a script to manually deploy the secret the way istio wants it.

[2019-06-27 01:31] donbowman opened #1264 "Match of like name, different namespace, collides sometimes"
See the attached file.
[1264.tar.gz](https://github.com/kubernetes-sigs/kustomize/files/3332517/1264.tar.gz)

I have two objects with the same type/name, different namespace.
Here it is v1/ServiceAccount, name: prometheus.

1 is in namespace `prometheus` (as set by the kustomization.yaml file)
1 is in the namespace `istio-system` (as set in the object itself).

Here's where it gets weird:
[code]

[2019-06-27 02:16] donbowman commented on #1207
so i have a plugin for generating secrets:
https://github.com/Agilicus/kustomize-sops

formerly this used the kvSources, and thus the merge worked.
Now it cannot work anymore due to this removal.

In the short term i apply this patch:
https://github.com/Agilicus/kustomize-sops/blob/master/kustomize.patch

(and below). But i don't know what your desired solution is. I need to be able to Merge, ther

[2019-06-27 02:19] donbowman commented on #1264
is this related to https://github.com/kubernetes-sigs/kustomize/issues/1044 ?

[2019-06-27 04:14] jbrette commented on #1264
@donbowman Seems that pull request [1266](https://github.com/kubernetes-sigs/kustomize/pull/1266) addresses the issue.

Saved the configuration files used to reproduce [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1264)

[code]

[code]

[2019-06-27 05:04] jbrette commented on #1044
@tbarrella Seems that pull request [1266](https://github.com/kubernetes-sigs/kustomize/pull/1266) addresses the issue.

Saved the configuration files used to reproduce [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1044).

[code]
[code]

[2019-06-27 06:38] Lawouach opened #1267 "Strategy to know which version of Kustomize is embedded in Kubectl?"
Hi all,

I was wondering what was the documented strategy of synchronizing kustomize and kubectl? I see for instance there was 2.1 and now an upcoming 3.0 of Kustomize. What is the version is kubectl 1.14 using?

Cheers,

[2019-06-27 06:42] #685 closed

[2019-06-27 07:15] moismail109 commented on #1209
It was not an issue actually and It has been fixed already. Thanks a lot

[2019-06-27 07:15] #1209 closed

[2019-06-27 08:31] rosscdh opened #1268 "CRD support for variables + images - broken"
I setup "variables"
When using `kind: Deployment`
the variables are substituted

[code]

When using a CRD `kind: Rollout`
the variables are not substituted

[code]

Expectation, variables get substituted regardless of `kind`

[2019-06-27 08:48] srueg opened #1269 "Release v3.0.0-pre1 is not marked as prerelease"
The last published release, `v3.0.0-pre1` is not marked as a prerelease on GitHub. We have scripts in place which pull the latest non-prerelease releases which brake due to this.

[2019-06-27 11:27] rslinckx commented on #1207
Our use case is similar in that we need to override or merge a secret/config generated in a base kustomization with additional keys in the config or secret coming from a generator. I believe this isn't possible currently

[2019-06-27 11:39] tkellen commented on #1155
Confirmed good with the following:
[code]

Thank you @jbrette!!!

[2019-06-27 11:40] tkellen commented on #1094
Thank you!

[2019-06-27 13:25] paveq commented on #1251
It would be super-useful to support mixins / composition.

As example, we currently have structure set up like this:

[code]

- Each client has their own final overlay with production and development instances. These overlays contain minimal configuration, basically only kustomization.yaml
- Resource requests and limits are set on next level, in "app-prod" and "app-dev"
- "App-base" just collects

[2019-06-27 14:05] jbrette commented on #1268
@rosscdh I do believe that you are missing a varReference configuration:

[code]

Have a look at the files used to reproduce the issue [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1268). The output folder is [here](https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1268/expected)

An example for a CRD is [in doc](https://github.com/kuber

[2019-06-27 14:25] jgustie commented on #814
This seems like the type of thing that could be accomplished using the new secret generator plugins: the `--docker-server`, `--docker-username`, etc. flags that Kubectl accepts for it's generator would instead be fields of plugin (I would like to see the `--docker-password` option also be available as a `dockerPasswordFile` field to help with GCP "passwords").

Given that the functionality _is_ in

[2019-06-27 15:39] admiralobvious commented on #1251
@jbrette yes, your modifications on my example make it work, even on kustomize 2.1.0. Thank you! Indeed, getting the the right folder/kustomization.yaml structure is crucial and tricky in my opinion. I tried several permutations myself before coming here for help.

One thing I can see that might be less desirable of that method is how long the `resources` list could get in `base/kustomization.yaml

[2019-06-27 16:07] howardjohn opened #1272 "Remote Build from non-github sources"
Is it possible to do a [remote build](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) from a source other than github? The docs mention it follows https://github.com/hashicorp/go-getter#url-format format, which allows S3, GCS, etc, but I can't seem to get them working with kustomize.

Is this possible? Specifically I care about GCS.

[2019-06-27 16:17] adrienbrault commented on #720
@Liujingfang1 Sure! I'll try to open a PR next week/in the next few weeks.

[2019-06-27 18:49] jessica-dl opened #1276 "Kustomize not executable upon installation"
Upon installation using [these instructions](https://book.kubebuilder.io/quick-start.html) on my peers and my machines, kustomize was not immediately executable, causing issues when trying to deploy another application.

A temporary fix was suggested in the kubebuilder book [quick start](https://github.com/kubernetes-sigs/kubebuilder/pull/825).

/kind bug

[2019-06-27 22:08] jbrette commented on #1251
@paveq  Even so I still working on getting the diamond "import" of files, you don't need it absolutely to achieve a composition and mixin: Have a look at [mixin example](https://github.com/keleustes/kustomize/tree/allinone/examples/mixin)

Each component comes configured with default ports. Those values are updated according to prod and dev.

/cc @admiralobvious @apyrgio

[2019-06-27 22:46] monopole commented on #1082
Calling this fixed by #1183, which is in v2.1.0.

Added a test to cover in #1278

How this should work exactly is open for debate, but the behavior is
- a patch is defined, and must have a unique target (NsGVKN).
- try to find an exact match by the original name, e.g. `ConfigMap/foo`
   (frees user from having to do a mental kustomization of the base)
- failing that, try to find by the anticipated

[2019-06-27 22:46] #1082 closed

[2019-06-27 22:54] monopole commented on #1276
This is a bug in the kubebuilder docs.
try filing here:  https://github.com/kubernetes-sigs/kubebuilder/issues/new?assignees=&labels=kind%2Fbug&template=bug_report.md&title=

[2019-06-27 22:54] #1276 closed

[2019-06-27 22:56] monopole commented on #1269
fixed, sorry - was testing Go module tricks.

[2019-06-27 22:56] #1269 closed

[2019-06-27 23:06] monopole commented on #1267
AFAIK, the kubectl binary doesn't have a command to show this. @Liujingfang1 ?

The intent is to pull latest release of kust into kubectl, but for kubectl v1.15 that had to be v2.0.3 (same as kubectl v1.14), because too many things were in motion at that cut point (primarily the migration to Go modules).  kubectl v1.16 should get kust v3.0 or higher.

[2019-06-27 23:08] monopole commented on #1267
FWIW, the front page of the kustomize repo mentions the version alignment.

[2019-06-27 23:33] monopole commented on #316
Calling this fixed by #1183, which is in v2.1.0.  Added a test to cover in #1278.

[2019-06-27 23:33] #316 closed

[2019-06-27 23:35] monopole commented on #710
@Liujingfang1 maybe add a test to cover this, like #1278.

[2019-06-27 23:41] monopole commented on #800
Can someone write a test documenting this behavior in the model of PR #1278 ?

It takes about as much work as writing the commentary above, but the test is unambiguous and we automatically get test coverage.
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/bugs.md
We need help!

[2019-06-28 00:14] Liujingfang1 commented on #1267
We don't have a command in kubectl to show which version of Kustomize is used. As @monopole mentioned, we have this message on the front page of Kustomize repo.
In the future, we'll try to use the latest version of kustomize when a new kubectl version is released.

[2019-06-28 00:43] #972 closed

[2019-06-28 01:21] monopole commented on #1251
@paveq, @apyrgio Love the ascii art above!

@jbrette @ioandr Also, appreciate the examples

It would be immensely helpful if someone wrote a test-only PR showing the inputs, the current output, and some commentary about what the desired output should be.

We can then merge it, and when the bug / feature request is fixed, one can edit the test to prove it.  See #1279 which updates a test entered in

[2019-06-28 01:38] monopole commented on #727
FWIW, order now maintained within particular kustomizations - so it _could_ matter.
https://github.com/kubernetes-sigs/kustomize/pull/1154

[2019-06-28 06:01] paveq commented on #1251
@monopole One thing that would help composition would be overlay Kustomization to be able to define prefix or suffix for base they are using, and be able to request same base multiple times. For example, in my case I'm using Redis two times, but I currently I have to have them in two separate bases as I need different name for them.

As example: syntax could be:
kind: Kustomization

[code]

With t

[2019-06-28 06:43] Lawouach commented on #1267
Thanks for the feedback. I think a command isn't strictly speaking needed for me, the README being up to date is great already. Just wanted to raise awareness that, if Kustomize evolves more rapidly, one might get surprised.

I'm happt to close this one if you want.

[2019-06-28 09:42] mxey commented on #1140
This is probably relevant: https://stevelasker.blog/2019/01/25/cloud-native-artifact-stores-evolve-from-container-registries/

[2019-06-28 14:37] howardjohn commented on #1272
From slack:

Yujun Zhang [5:56 PM]
AFAIK, `go-getter` is NOT supported at the moment. See discussion in https://github.com/kubernetes-sigs/kustomize/issues/923

dexhorthy [6:11 PM]
wow. TIL -- thanks for the correction @Yujun Zhang
that issue is interesting

Yujun Zhang [6:13 PM]
As @Liujingfang1 suggested, we may write a plugin to execute go-getter.
Not sure if `loaders` plugin has been supported

[2019-06-28 15:21] jbrette commented on #952
@dantman @thdxr Please have a look at this [PR](https://github.com/kubernetes-sigs/kustomize/pull/1208). It solves your issue as tested in this [go integration test](https://github.com/kubernetes-sigs/kustomize/pull/1208/commits/03d9b1ffecf14bbadac6e363f46f101dfee13175)

The key aspects are:
- The inlining of tree from a fake Value CRD into your CronJob and Deployment
- The tree which is being inl

[2019-06-28 15:22] Benjamintf1 commented on #642
Why not instead define an order that patches will be applied in? This would remove all ambiguity, and would be important when ordering on lists does matter(which should be pretty much always, although is unfortunatly often not true in the kubernetes world)

[2019-06-28 15:29] Benjamintf1 opened #1281 "kustomize 2.1.0 broke image tagging"
If an image is changed or added in a jsonpatch, it no longer gets modified in the imagetag process.

If we jsonpatch in a container(for example), and set it's tag(or change the image name).

In 2.0.3 it modifies the tag of the jsonpatched added image to be the correct tag

In 2.1.0 it does nothing. We did discover the workaround of adding another kustomize layer above for  image patching, but it s

[2019-06-28 15:31] apyrgio commented on #1251
@jbrette: Nice job adapting @paveq's use case into a kustomization example.

I checked out the files and have some minor questions:

1. What is the `kind: Values` CRD in the example? Is it a CRD that is solely used to hold arbitrary values?
2. The dev/prod overlays define some `Values` resources that are not used by anyone. Are they on purpose there?

Also, one final observation, but @paveq can al

[2019-06-28 17:31] jbrette commented on #1251
@monopole Added a go version of the mixin [PR](https://github.com/kubernetes-sigs/kustomize/pull/1217) [Commit](https://github.com/kubernetes-sigs/kustomize/pull/1217/commits/7c4db84a2dfb2af06ad09ab782a5dcb1ff1ab4ed)

@apyrgio @paveq @admiralobvious @ian-howell
1. The CRD concept is really important.
    a. You can have any CRD you want. They acts as catalog to share data across construct.
    b.

[2019-06-28 18:16] apyrgio commented on #1251
As per @monopole's suggestion, we created a [PR] that shows the current kustomize limitation, with an example that mimics the diamond test that @monopole quoted.

We tried to keep it as simple as possible, but we hope that it adequately describes the functionality that the people interested in this issue want to see in kustomize.

[PR]: https://github.com/kubernetes-sigs/kustomize/pull/1283

[2019-06-29 00:26] monopole commented on #1251
@apyrgio that's great.  lets get that in as an example to point to.

can you comment on why you don't want to do this as stacked overlays?

[2019-06-29 00:31] monopole commented on #1251
@paveq,
[code]
i think you can use one base, and two overlays that change the name, e.g.
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/diamonds_test.go
but with name suffix instead of name prefix.

[2019-06-29 05:54] apyrgio commented on #1251
@monopole You mean why we can't convert the example from this:

[code]

to this?

[code]

There are two reasons. First, you can think of the example as a simplified version of:

[code]

The base layer contains the vanilla app, the middle layer contains some modifications you can apply to it, and the upper layer contains the deployments of the app, each with a different choice of modifications. Thi

[2019-06-29 18:20] Oduig commented on #915
I have a use case for this. Let's say we have the following setup.

* base
* overlay
    * dev
    * tst
    * acc
    * prd

I would like my `deployment` to defined in the base, so that is where we can configure the `image`. This works for `tst`, `acc` and `prd`, but for `dev` we might want something different, e.g. a snapshot build of the latest commit or an image with additional debug tooling.

[2019-07-01 02:03] jbrette commented on #1251
@paveq @monopole @apyrgio @admiralobvious @ioandr

Please have a look at [the new version of the PR](https://github.com/kubernetes-sigs/kustomize/pull/1253). I think we got it. Your new test is now returning the proper values: [check here](https://github.com/kubernetes-sigs/kustomize/pull/1253/commits/9cdbfb1bdbd03cf694b5081e3ba95a4ce27e37f8#diff-c54c64fa02a1797c2e9b9b39b91dea0f)

[2019-07-01 12:30] Russell-IO commented on #880
As long as it defaults to false to observe current behaviour

[2019-07-01 16:06] ioandr commented on #1251
Hi @jbrette,

thanks for your focus on this, we really appreciate your efforts. We believe this is getting really close to the desired result, however we would like to point out certain things.

We recently contributed another PR (#1290) that makes the diamond composition test case slightly harder to solve. With this change, unfortunately, your PR fails to produce the expected output. Here, the re

[2019-07-01 16:32] SilverXXX commented on #680
Hi, same problem here.
@benjamin-bergia solution would be enough even for us, solving problems when multiple files cannot be loaded.

[2019-07-01 16:35] monopole commented on #1251
OK, now that we've got a load of tests we're
making progress.

Would it be reasonable to retitle this issue as:

### Support patch reuse in kustomize.

Two ways to do so:

#### Run `kustomize build` with `--load_restrictor none`.

This lets paths in the `patchesStrategicMerge`
field reach outside the kustomization root,
meaning one can put patch files in some common
on-disk location, and share the

[2019-07-01 16:46] monopole commented on #1251
forgot to mention that the tests referred to in the previous comment are in
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/diamondcomposition_test.go

They have `ProdVsDev` in their names because they do the example you described above:
[code]
Thanks for these specific examples.

[2019-07-01 18:48] monopole opened #1292 "Support a high-level merge behavior in kustomize"
The `resources:` field in a kustomization file specifies a list of files and / or other kustomizations to be processed in a `kustomize build`.

These artifacts are read or built, resulting in _a list of resources_, which are supposed to be _added_ to the set of resources kustomize is processing.

If an incoming resource matches the Id (where Id is a tuple of namespace, group, version, kind, name)

[2019-07-01 19:09] monopole commented on #1281
can you throw in a test showing this, per this [note](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/bugs.md#a-great-report-is-a-bug-reproduction-test)
really speeds up the process to get regression coverage in place ASAP

[2019-07-01 19:47] apyrgio commented on #1251
Thank you very much for the prompt reply and the abundance of tests. We tried to dig through the suggested solution and we have some comments below. We don't have much experience with transformers, so please correct us if we've understood something wrong.

As we've mentioned in a [previous exchange] with @Liujingfang1, we don't see composition as patch reuse. We need to reuse kustomizations as wel

[2019-07-01 20:55] monopole commented on #1251
`TestIssue1251_Plugins_ProdVsDev` solves the specific problem (prod, dev, probe, etc).  This specific problem was a patch reuse problem, solved with three re-usable kustomizations containing a single jsonpatch transformer.  I'd do it that way, and not use the `--load_restrictions none` method.  I was just curious how that approach would look, so i wrote it up and it gave the same answer as the tra

[2019-07-01 21:07] monopole commented on #1267
ok, closing. Maybe add a feature request to [kubectl](https://github.com/kubernetes/kubectl) for a kustomize version command.

[2019-07-01 21:07] #1267 closed

[2019-07-01 21:35] monopole commented on #1292
take into account
- build wide resolution, (e.g. a flag to `build`), per kustomization resolution, or even per Kind resolution (as we already do with ConfigMap and Secret being different from other Kinds) - i.e. always merge Deployments, but never merge/replace Namespace.
- leave `resources` alone, and make a new field that does merging?
- reuse https://github.com/kubernetes-sigs/kustomize/blob/ma

[2019-07-02 01:01] jinchihe opened #1295 "[kustomize 2.1.0] cannot read data from configMap"
I hit the problem with kustomize 2.1.0, but that works fine with kustomize 2.0.3, I'm not sure is that broken by kustomize 2.1.0 or design behavior changed?

Base kustomization.yaml
[code]
Local kustomization.yaml
[code]
[root@jinchi1 local]# kustomize build .
Error: var '{batchSize ~G_~V_ConfigMap {data.batchSize}}' cannot be mapped to a field in the set of known resources
[root@jinchi1 local]# k

[2019-07-02 01:04] jinchihe commented on #1295
/cc @monopole @Liujingfang1
Any suggestion for this? Or recommend someone to take a look? Great thanks!

[2019-07-02 01:46] jinchihe commented on #1295
Did more deep tests, if both of `vars` and `configMapGenerator` are in same kustomization.yaml, that's OK. In other words, both the `vars` and `configMapGenerator` need to in `base/kustomization.yaml` or both in `local/kustomization.yaml`. But failed if `var` defined in `base`, and `configMapGenerator` defined in `local/kustomization.yaml`.

Personally we should fix that, for reasons:
1. For most

[2019-07-02 02:42] monopole commented on #1292
[generationbehavior](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/generationbehavior.go) defines three behaviors for generators

- create: make a new thing, and throw an error if it already exists.
- replace: make a new thing, expect to replace an existing thing, and error if the existing thing isn't there
- merge: make a new thing, and expect to merge it with an existing thi

[2019-07-02 02:48] monopole commented on #1295
nice report thanks.

any chance you could help us by writing a test demonstrating this that we can keep for regression coverage?

like [this](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/target/variableref_test.go#L380) but focussed on your particular case?

we're a little shorthanded here. :)

[2019-07-02 03:12] jinchihe commented on #1295
Not sure I have chance for this, since many workloads accumulation :-( apologize... but will do that if get chance. I think we can fix that and then writing a test demonstrating.

[2019-07-02 11:06] donbowman commented on #880
For interest, I created a transformer to do this for me:

[code]

[2019-07-02 11:42] eterna2 commented on #863
@Liujingfang1

my usecase is I am referencing from multiple third-party kustomize, which happens to use the same var name.

Wondering if it is possible to scope var to within its individual kustomize context?

[2019-07-02 14:32] ptemmer opened #1296 "Inconsistency between execPlugin and goPlugin generators"
goPlugins add a hash suffix to the generated resource name out of the box. This is not true for execPlugins, leaving the resource name as is.

[2019-07-02 16:45] #1281 closed

[2019-07-02 16:59] apyrgio commented on #1251
Ah, I see now the source of the confusion. I thought you proposed custom transformers as an alternative to the components we are describing in this issue, which is why I pointed out that transformers don't do all the neat things that overlays do. But you suggested them as a solution to the patch reuse problem **specifically**, which flew over my head.

We have opened another [PR](https://github.co

[2019-07-02 17:10] apyrgio commented on #1292
Allowing the user to specify a conflict resolution strategy for resources is a nice addition. To get the discussion started, we have the following comments:

1. Why not keep the resources as is, e.g.:

[code]

and also allow this format:

[code]

The default behavior is currently `create`, so users will rarely need to write the full format. Also, this format allows us to add more fine-grained cont

[2019-07-02 17:53] jbrette opened #1298 "namespace needed in variable declaration for disambiguation"
There is a need for to update the variable declaration in the kustomization.yaml by adding an optional namespace field.

The following setup causes an error and would not if the user had the ability to specify the namespace

[code]

[code]

[code]

The output is:

[code]

[2019-07-02 18:55] Benjamintf1 commented on #1281
Sorry about the lack of details, I'll try and include details as per the instructions if I notice anything going forward. I'll probably be able to test it next week when I'm off vacation.

[2019-07-02 22:17] ptemmer opened #1301 "configMap/secretGenerator named hashes are not applied to resource that include them"
kustomize version: v3.0.0-pre1 and current master branch

When a namespace is specified in the base kustomization.yaml, but none in the overlay kustomization.yaml, the ouput yielded does not modify the resources referencing a configmapGenerator  with it's proper name-hash.

How to reproduce:

* Note that the deployment resource is included in the base, while the configMapGenerator is included in t

[2019-07-03 04:29] albertomurillo commented on #306
so where is the `$patch` thing documented? will it be deprecated?

[2019-07-03 06:47] dantman opened #1303 "edit set image does not quote tags that will become non-string values in YAML"
The `kustomize edit set image` command sets `newTag` it does not quote it when necessary to ensure it remains a string.

I use hashes for tag names and by random chance I ended up with one starting with `0e`. Because in YAML this is considered a number rather than a string my deployments were silently not actually deploying.

This will be an issue for other people if their could tags look like num

[2019-07-03 09:17] flunderveiko commented on #880
Can you please describe how you put the transformer in the `kustomize build ...` run !

[2019-07-03 13:14] vlal commented on #347
Maybe this is what you're looking for
https://kubectl.docs.kubernetes.io/pages/reference/kustomize.html#patchesstrategicmerge

[2019-07-03 15:58] howardjohn opened #1304 "Error messages are not human friendly"
Example: `error: MergeResourcesWithErrorOnIdCollision: id '"~G_v1_Namespace|~X|~P|istio-system|~S"' already used`

I have no clue what all of these symbols mean which makes this hard to debug. I *think* this means I have a duplicate namespace defined?

Another example: `error: rawResources failed to read Resources: GroupVersionKindName: resid.ResId{gvKind:gvk.Gvk{Group:"config.istio.io", Version:"

[2019-07-03 17:12] linjmeyer commented on #1301
I'm seeing the same thing with a project that doesn't use overlays.  Without setting `namespace` and `nameprefix` my ConfigMaps are not updated in deployment.  After setting both it works as expected.

[2019-07-03 19:08] donbowman commented on #880
1. put the transformer in `~/.config/kustomize/plugin/agilicus/v1/namespacetransformer/`
2. add a yaml file as below as e.g. 'set-ns.yaml'
3. add 'transformers:\n  - set-ns.yaml' to kustomization.yaml

[code]

I need to get around to creating a github repo w/ my generator + transformers.

[2019-07-03 21:01] ptemmer commented on #1301
Today's released v3.0.0 also fails

[2019-07-03 21:02] ptemmer commented on #1301
Does not happen with v2.1.0 though..

[2019-07-03 21:08] ptemmer commented on #1301
I cannot reproduce the issue you describe @linjmeyer

[2019-07-03 22:12] jbrette opened #1307 "types.Var and gvk.Gvk probably need some kind of DeepEqual method"
The Var related test cases could use a Var.DeepEqual method equivalent to initialize the Var objects default fields.

Indeed
- the Var.FieldRef has been initialized manually in the someVars declaration (so addressing the Var.defaulting() call by AccumulateTarget().
- but the Var.ObjRef have not been completely initialized. As a result in the AccumulateTarget() method invokes var.ObjRef.GVK()....th

[2019-07-03 22:43] jonathanunderwood commented on #1250
@jbrette adding the `kustomizeconfig.yaml` stuff does now work for `kustomize` itself. But with `kubectl` I still see this behaviour:

[code]

[2019-07-03 22:59] jbrette commented on #1250
@jonathanunderwood  your kubectl is probably still using on older version of kubectl. Meanwhile you should use something like

[code]

[2019-07-03 23:01] monopole commented on #1304
agreed.  might try a later release though.  not sure where you are, but those strings aren't in head.

[2019-07-03 23:07] howardjohn commented on #1304
I'm on kubectl `Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}` so pretty recent, or does the kustomize support in kubectl lag behind?

[2019-07-03 23:14] monopole commented on #1304
kubectl 1.15 has kustomize 2.0.3 embedded.

Kustomize just released 3.0.0.

See https://github.com/kubernetes-sigs/kustomize/releases

Not saying the error messages are vastly better, but many other things are improved.

[2019-07-03 23:26] howardjohn commented on #1304
Cool, I'll have to check that out. Feel free to close this if its been improved

[2019-07-04 01:21] monopole commented on #1304
Yeah, I'm sure these are better, though not perfect.
You won't see `~P` or `~S` again, and id collisions errors are improved.
[code]
with v3 kustomize and v1.15 kubectl is the best option right now.

[2019-07-04 01:21] #1304 closed

[2019-07-04 01:22] anarcher commented on #641
I wanted to use generateName with kustomize too.

[2019-07-04 07:52] etiennecoutaud commented on #1156
@monopole I can work on it if noboby does

[2019-07-04 08:41] jonathanunderwood commented on #1250
[code]

[2019-07-04 11:22] jonathanunderwood commented on #741
@gysel am curious why this is considered bad practice? What should one do instead as best practice? Not challenging the assertion, just trying to educate myself.

[2019-07-04 13:25] mhubig opened #1310 "kustomize messes with kubectl over envs"
Since version 2.1.0 kustomize silently changes

[code]

to:

[code]

But kubectl doesn't like the the new `envs` key since it has only version 2.0.3 build in ... :-(

[code]

[2019-07-04 17:23] nickatsegment commented on #1156
Don't go out of your way to implement if it's just for me. We're trying to avoid Kubernetes Secrets in favour of fetching secrets at runtime

[2019-07-04 23:59] tockri commented on #1219
@Liujingfang1 #1221 looks included in v2.1.0, but @ptemmer tells he faces this problem with v2.1.0.
I think it's not fixed now.  I'm also suffered from the same problem of v2.1.0 (tried v3.0.0 too, but still doesn't work).
Please rethink about this issue.

[2019-07-05 02:30] Moisan opened #1311 "kustomize version broken for 3.0.0"
When building kustomize from the release `3.0.0` tarball I obtain this output when doing `kustomize version`:
[code]

[2019-07-05 07:04] jcassee commented on #702
I wrote these and still use them, but they are no longer relevant. The key-value plugin system has been removed, and the way to go is now to use generator plugins. See this great example by Jeff Regan:

https://github.com/kubernetes-sigs/kustomize/blob/master/docs/plugins/goPluginGuidedExample.md

[2019-07-05 08:50] lwille commented on #1301
I'm observing the same issue in 3.0.0, but only when the base itself uses `nameSuffix` or `namePrefix`:

[code]

[code]

[code]

expected output:

[code]

actual output:

[code]

[2019-07-05 09:18] chunytan opened #1312 "Use case for microservices project"
I have been using Kustomize in simple projects and it works as expected. However, I am struggled to apply this to an existing project containing multiple microservices.

What I think it should look like:
[code]
My main goal is to run “kustomize build ” on a specific app for a specific overlay(environment) but currently I cannot find the solution. The motivation is, upon development process, the mo

[2019-07-05 13:45] Moisan commented on #1311
This was due to the way we were building kustomize. Sorry for the noise.

[2019-07-05 13:45] #1311 closed

[2019-07-05 14:16] sethpollack commented on #1301
I'm seeing this as well, resources in a kustomization.yaml that have a `namePrefix` get ignored.

[2019-07-05 14:27] callicles opened #1313 "Distribute built-in plugins as part of the release"
I've read through the caveat of plugins and it looks like the main point is that kustomize and plugins need to be compiled with the same dependencies to ensure that the link is happening properly.

That being said since some of the plugins are built-in by the kustomize team, the binary could also be distributed with the release. That would prevent user to have to build versions of kustomize for al