[2020-12-16 14:17] johejo opened #3362 "`kustomize build` with remote resource may panic on slow networks"
**Describe the bug**

At https://github.com/kubernetes-sigs/kustomize/commit/6bbc8295932081d50f26756649f99f1dc2738de8#diff-867c23b9f5a4ba53f94117fdfeb7c9899f849e5e231fee3d720fab5ceae43b9f
A timeout has been added to the getter.

But, due to improper handling of channels, writing to closed channels occurs at some point.
https://github.com/kubernetes-sigs/kustomize/blob/67e445c10b08781c612c42d706090

[2020-12-16 14:23] johejo commented on #3362
Although not directly related to this issue, the variable `err` may be assigned from multiple goroutines at the same times, so it seems to be a race condition.

[2020-12-16 18:35] Shell32-Natsu commented on #3361
Dup with #3340

[2020-12-16 18:35] Shell32-Natsu commented on #3360
Duplicate of #3340

[2020-12-16 18:36] #3360 closed

[2020-12-16 18:36] #3361 closed

[2020-12-16 20:19] YujiShen opened #3364 "configMapGenerator will not merge another configMapGenerator in resources on 3.9.0"
**Describe the bug**

I defined some common env vars inside common.env and other envs will merge their specific env vars into it. I found it works well until I upgrade to 3.9.0, works well on 3.8.8.

**Files that can reproduce the issue**

File tree:
[code]

common/common.env

[code]
common/kustomization.yaml

[code]

dev/dev.env

[code]

dev/kustomization.yaml

[code]

**Expected output**

[code]

[2020-12-16 20:23] YujiShen commented on #3364
Just found #3345.....

[2020-12-16 20:23] #3364 closed

[2020-12-16 20:36] natasha41575 commented on #2825
@serhatcetinkaya I have a proposal for this and am working on an implementation, but I'm happy to hear your thoughts about it.

[2020-12-16 23:50] greenkiwi opened #3365 "configMapGenerator behavior merge does not appear to merge values"
**Describe the bug**

We are experiencing a strange behavior where overlays are overwriting all of at config-map rather than merging values.

In our base kustomization we define two values
* `value_base=base`
* `value_override=base`

We then create an overlay with the following config map values
* `value_OVERLAY_OVERRIDE=overlay-1`
* `value_override=overlay-1`

We expect to have these merged into

[2020-12-17 00:27] Shell32-Natsu commented on #3365
Duplicate of #3345

[2020-12-17 00:27] #3365 closed

[2020-12-17 02:43] ismaeIfm commented on #1585
@kkasravi can you share an example of point 3 and 4? I encountered the same problem in kustomize v3.9.0 but could follow the proposed solution. Thanks in advance

[2020-12-17 03:06] ismaeIfm commented on #1585
@kkasravi nevermind at the end I think I understood. I added this to my customization file:

[code]
and this is the content of configurations.yaml
[code]

Hope it helps someone

[2020-12-17 08:02] tiarebalbi opened #3367 "Error to compile RoleBinding with custom Namespace (Panic error)."
**Describe the bug**
kustomize cli failing to compile RoleBind syntax with a "panic" error. If I remove the RoleBinding declaration the error stops happening.

**Files that can reproduce the issue**

kustomization.yaml

[code]

namespace.yaml
[code]

cluster.yaml

[code]

...

**Expected output**

Kubernetes deployment plan.

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**
M

[2020-12-17 15:44] savitha-ping commented on #2987
Between kustomize v3.5.4 and v3.5.5, "kustomize build" is about 10 times slower. This coincides with when kyaml and other dependencies were updated.

kustomize/api v0.3.3
sigs.k8s.io/kustomize/kyaml v0.1.10
sigs.k8s.io/yaml v1.2.0

[2020-12-17 17:39] Shell32-Natsu commented on #3367
Duplicate of #3340

[2020-12-17 17:39] #3367 closed

[2020-12-17 18:27] marcellodesales commented on #1556
Any news on this???? Still with a problem with kubectl...

[code]

[2020-12-17 23:05] jleach commented on #2205
Still an issue. Looks like ppl keep creating issue after issue but the issue never gets addressed.
[code]

[2020-12-18 02:14] ismaeIfm commented on #3345
brew installs the version 3.9.0 and its broken

[2020-12-18 02:16] ismaeIfm commented on #3345
https://formulae.brew.sh/formula/kustomize

[2020-12-20 16:24] u2mejc commented on #3137
Thank you for taking the time to debug this! 🙏

I was reminded today how annoying seemingly unresolved threads are, when googling for an answer, so this response is simply to close the loop on this resolved issue.

The root issue was I wasn’t able to understand the error message:

As memory serves, this is the same error given for missing local resources, which made me think it was treating the ur

[2020-12-20 20:42] #2719 closed

[2020-12-21 15:10] binepedia opened #3377 "vars cannot be resolved in 3.9.0: vars are not found in corresponding resource"
When using kustomize 3.8.8 everythings works just fine. in 3.9.0 however I'll get the error

**Files that can reproduce the issue**

kustomization.yaml

[code]

service-a/service-a.yaml

[code]
service-a/patch-service-a-ingress.yaml
[code]

service-b/service-b.yaml
[code]

service-b/patch-service-b-ingress.yaml
[code]

**Expected output**
This output was generated with kustomize 3.8.8 with command

[2020-12-21 15:10] epcim opened #3378 "Fails to build from base with go-getter URL"
**Describe the bug**

/kind bug

- Fail to build from go-getter URL
- Works if the repo si cloned locally

**Files that can reproduce the issue**

kustomization.yaml:

[code]

**Expected output**

buid render manifests

**Actual output**

[code]

**Kustomize version**

any latest from master

**Platform**

OSX

**Additional context**

- might be caused by some symlinks (not yet debugged)

[2020-12-21 18:42] Rauno56 commented on #2205
It's interesting that kustomize v3.0.0 and v3.5.4 seem to autocorrect the `env` to `envs`, why doesn't later versions have it?

[2020-12-21 20:26] bubba opened #3380 "[Question] Updating service hostnames when using namePrefix"
Say I have a some micro service made up of a deployment and a service:

[code]

If I have another pod that wants to connect to this service internally, say via an environment variable:

[code]

If I want to host multiple environments for this setup in the same namespace using labels, then I could use prefixName. Here's an example `prod/kustomization.yaml`:
[code]

Applying this creates the `prod-f

[2020-12-21 20:41] pnovotnak opened #3381 "CI & Release Process"
**Is your feature request related to a problem? Please describe.**

Y'all, I love kustomize for its ease of use. But I've had not one, not two but _three_ issues with kustomize releases producing broken output in the last year. **One was undetected and led to a major outage.**

**Describe the solution you'd like**

I would like to have the output of release candidates verified against a comprehens

[2020-12-21 21:00] Shell32-Natsu commented on #3381
We do run all the tests before we release but in my memory most of the issue about release cannot be checked by tests, like the installation script fails when we add ARM releases. It's better to have alpha and beta release IMO.

[2020-12-21 21:19] Shell32-Natsu commented on #3380
Currently there is no such method in kustomize. I would like to recommend you to write a custom [exec plugin](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/.

[2020-12-21 21:19] #3380 closed

[2020-12-22 18:05] pnovotnak commented on #3381
I think I cooked this a little spicier than I meant to. I'm sorry about that. Y'all do indeed have a good deal of testing which is definitely obvious if you look at any build.

I just don't understand how issues like this one https://github.com/kubernetes-sigs/kustomize/issues/2767 could appear, be fixed, then appear again all without a mention of it in the release notes. This might seem like a tr

[2020-12-22 18:29] Shell32-Natsu commented on #3381
We added the commit history in the release note. Yeah, we need to do better in release notes.

For #3345, actually we did expect there will be issues in 3.9.0 since there was a huge change (migrating to kyaml and getting rid of apimachinery). Actually 3.9.0 should be marked as alpha. That's why I said we probably need to have a alpha/beta release.

[2020-12-22 18:37] pnovotnak commented on #3381
Yeah FWIW I think alpha / beta releases would be fine for that and I'm personally happy to test beta channels on my workstation (it's easier to grok `kubectl diff` output locally).

[2020-12-22 20:29] overtfuture opened #3386 "secretGenerator type always defaults to Opaque"
**Describe the bug**

When using the secretGenerator, type is ignored when building and defaults to Opaque.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

`{Version:kustomize/v3.9.0 GitCommit:826b5d9792fb67c4d8f8cd59747698ebf0b22720 BuildDate:2020-12-10T22:29:12+00:00 GoOs:darwin GoArch:a

[2020-12-22 20:39] zizhengwu opened #3387 "[Question] Why doesn't Kustomize apply strategic merge on my array?"
[This same question is posted to stackoverflow: https://stackoverflow.com/questions/65401905/why-doesnt-kustomize-apply-strategic-merge-on-my-array]

I have 3 files, base.yaml, overlay.yaml, and kustomization.yaml

base.yaml:
[code]

overlay.yaml:
[code]

kustomization.yaml:
[code]

When I do `kustomize build .`, I got actual:

[code]

While I expect
[code]

I wonder why the "proxy" item is replac

[2020-12-22 20:50] Shell32-Natsu commented on #3387
Duplicate of #3047

[2020-12-22 20:50] #3387 closed

[2020-12-22 23:13] Shell32-Natsu commented on #3378
I believe this is caused by go-getter silently failed to get the repo.

[2020-12-23 01:51] #3386 closed

[2020-12-23 14:26] msonnleitner opened #3390 "Set cross-cutting options using CLI"
**Is your feature request related to a problem? Please describe.**

In Helm, is it possible to provide a release name using `helm install release-name chart` (and generating resource names with that value).

In kustomize, it is possible to specify a `namePrefix` and `nameSuffix`, however this has to be done in a the `kustomization.yaml`

**Describe the solution you'd like**

a feature to specify t

[2020-12-23 21:47] dfarr opened #3391 "Kustomize fails to build manifest with config.istio.io/v1alpha2 Instance resource"
**Describe the bug**

I have a kustomization that defines an Istio `Instance` as one of the resources.

[code]

Additionally, my kustomization declares an images section to do image transformations. When I attempt to run `kustomize build .` I am seeing the following error.

[code]

**Files that can reproduce the issue**

kustomization.yaml
[code]

instance.yaml
[code]

**Expected output**
The comp

[2020-12-23 23:34] odannyc commented on #1395
This is also an issue for me.
Is there a fix for this?

[2020-12-24 00:00] natasha41575 commented on #3390
One of the principles of kustomize is that everything that `kustomize build` needs should be specified in the kustomization file so that it can be checked into source control and reproduced. See https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables for more details.

An alternative solution to your issue would be to do the followi

[2020-12-24 00:46] natasha41575 commented on #3391
Can you please specify what you want the desired output to be? It is unclear to me what you are trying to achieve with the images field in your kustomization.

[2020-12-24 01:04] dfarr commented on #3391
In this example the desired output would simply be:
[code]

Note: there is no actual image replacement happening here, I boiled my `kustomization.yaml`  down to the minimal amount of information to reproduce this issue.

[2020-12-24 07:02] pickfire commented on #2233
I tried using namespace transformer for it but I am surprised it does not affect config map generator namespace so it gets deployed in the current namespace.

[2020-12-24 09:09] pickfire commented on #1493
Looks like it is not updated, I guess I need to write 10 patches for all the different components. Maybe json patches since it is easier to handle for situation like these. Using plugin seemed troublesome, need to define environment variables and such. Since all the deployments / daemonsets only have one container and golang likes boilerplates, so I see no issue adding boilerplates here.

`kustomi

[2020-12-24 09:13] msonnleitner commented on #3390
Thank you for your answer. Well if this is against kustomize's philosophy, I guess I am going to close this issue.

[2020-12-24 09:13] #3390 closed

[2020-12-24 15:35] eko opened #3393 "Issue with configMapGenerator / behavior merge since v3.9.0 tag"
**Describe the bug**

Since the [v3.9.0](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.9.0), I have an issue where the `configMapGenerator` with a `behavior: merge` does not merge anymore: it overrides the given values.

When I downgrade to release [v3.8.8](https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.8) I don't have this issue so I think th

[2020-12-26 16:36] monopole opened #3394 "Patch conflation shouldn't use patching to merge patches"
Under kyaml, the patch conflict detector and merging mechanism
https://github.com/kubernetes-sigs/kustomize/blob/master/api/resmap/merginator.go#L76
uses a patching approach rather than an object merge approach.

I.e., to conflate N patches, the second patch is applied to the first patch,
and the third patch is applied to that, etc. instead of _merging_ the fields without
treating them as patching

[2020-12-26 17:20] monopole opened #3396 "WNode.GetFieldValue doesn't understand arrays"
E.g. spec.ports[0].protocol in

https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/namespaces_test.go#L335

GetFieldValue is here
https://github.com/kubernetes-sigs/kustomize/blob/master/api/internal/wrappy/wnode.go#L66

[2020-12-26 17:22] monopole commented on #3396
Relevant tests marked with TODO(#3396)

[2020-12-26 19:04] monopole commented on #3304
To find remaining places needing attention,

[code]

blocking issue (needs a fix)

 * [WNode.GetFieldValue doesn't understand arrays](https://github.com/kubernetes-sigs/kustomize/issues/3396)

issues with workarounds (these only happen with multiple patches at the same level which target the same resource).

 * [Patch conflation shouldn't use patching to merge patches](https://github.com/kubernete

[2020-12-27 15:07] invidian commented on #821
/remove-lifecycle stale

[2020-12-27 18:42] simplenotezy commented on #119
When I am using this, in a folder called "k8s" I get error:
[code]

Config:

[code]

[2020-12-27 19:12] seh commented on #119
Note this comment: https://github.com/kubernetes-sigs/kustomize/issues/119#issuecomment-412709201. This globbing feature was there briefly, but now it's gone again.

[2020-12-28 12:51] AdamGold commented on #613
Is this fixed?

[2020-12-28 13:42] monopole commented on #3343
Closed by the above prs

[2020-12-28 13:42] #3343 closed

[2020-12-28 15:26] monopole commented on #3362
Thanks for the issue report @johejo , you're correct on all points.

[2020-12-28 17:48] Shell32-Natsu commented on #3393
Duplicate of #3345

[2020-12-28 17:48] #3393 closed

[2020-12-28 18:02] monopole commented on #3345
I think this was fixed in #3379

Will  be releasing 3.9.1 early this week (hopefully today)

[2020-12-29 07:57] christiangda opened #3405 "panic: interface conversion: interface {} is string, not map[string]interface {}"
**Describe the bug**

After upgrading my kustomize version yesterday, this error start happening

**Files that can reproduce the issue**

[code]

**Expected output**

The rendering of this `yaml`file: [https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0/aio/deploy/recommended.yaml](https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0/aio/deploy/recommended.yaml)

**Actual output

[2020-12-29 16:34] phonexicum opened #3409 "v3.8.8 doesn't substitute the name of the generated secret, if it is mounted as a volume"
**Describe the bug**

If generated secret are mounted as a volume, its name will be not patched (neither suffix hash, neither prefix, neither suffix).
(the configmap generator works correctly)

**Files that can reproduce the issue**

kustomization.yaml

[code]

resources.yaml

[code]

**Expected output**

Both secretKeyRef reference names expected to be substituted.

**Actual output**

[code]

**P

[2020-12-29 23:37] monopole commented on #3362
fixed in #3400

[2020-12-29 23:37] #3362 closed

[2020-12-30 07:48] phonexicum commented on #3409
Sorry got obvious mistake in resources.yaml.

No issue, everything works correct.

[2020-12-30 07:48] #3409 closed

[2020-12-30 17:21] Thomb89 opened #3412 "ConfigMapGenerator drops quotes from quoted fields"
the problem occured today, so only version 3.9.1 should be affected.

When a ConfigMap in merged with the configMapGenerator the output will result in invalid values for the data field.
The surrounding quotation marks are stripped away (which converts some strings to int64), or in the case of an empty string it is converted to null

setting the flag --enable_kyaml=false fixed the issue

**Files th

[2020-12-30 17:23] Thomb89 opened #3413 "ConfigMapGenerator with behavior: merge will convert strings into invalid values"
sprry, this got posted a second time

[2020-12-30 17:25] #3413 closed

[2020-12-30 20:50] monopole commented on #3405
Please use https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.9
instead.

If have time to help,see if you can repo this in  https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.9.1

[2020-12-30 21:06] monopole commented on #3412
Thanks. If setting the flag is a problem, use https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.9 instead which defaults the flag to false.

Changing `SOMETHING: ""` to `null` is certainly a problem.

See also:

https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/configmaps_test.go#L13

https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/con

[2020-12-31 23:31] eigood commented on #3412
Changing "3306" to 3306 is also a problem, because that's a number, and when you then send the CM to the environment, it'll complain?

[2021-01-01 00:17] snuggie12 opened #3414 "api group missing from label transformer config for core resources"
**Describe the bug**
If you use the `commonLabels` transformer and a CRD shares the same `kind` and `version`, but not the same `group` the labels are still applied and a given path might not exist.

The big offender is knative. It too uses `Service` for `kind` and conflicts with the core resource of the same name since it does not have `spec/selector`.

Is it possible to add the group [here](http

[2021-01-03 13:53] alex04103 opened #3415 "HelmChartInflationGenerator cannot work with extraArgs that produce extra stdout messages"
When using the HelmChartInflationGenerator and specifiying `--dependency-update` via `extraArgs`, the following error message is shown when running `kustomize build base`:

[code]

The message is only shown when dependency updates are available, as in this case helm produces some extra output on stdout:

[code]

**Files that can reproduce the issue**

kustomization.yaml

[code]

chartInflator.yaml

[2021-01-04 10:59] denizdogan commented on #1959
What happened here? Does it support --prune now, because I can't seem to make it work?

[2021-01-04 18:35] marcghorayeb commented on #2987
On 3.9.1:
- `kustomize build --enable_kyaml=false` currently takes around 28 seconds
- `kustomize build` still building after 1min 40 seconds

[2021-01-04 18:44] ephesused commented on #2987
Possibly related, another performance issue recently saw a significant jump in execution time: https://github.com/kubernetes-sigs/kustomize/issues/2869#issuecomment-745363365

[2021-01-04 21:51] ephesused commented on #3412
Another test case, this time for booleans:

**kustomization.yaml**

[code]

Results:

[code]

[2021-01-05 01:21] savitha-ping commented on #2987
Hmm, that's interesting. I see no tangible improvement when running "kustomize build --enable_kyaml=false" on kustomize versions > v3.5.4. So maybe it isn't kyaml that's causing the degradation. Per my testing then, it must be the introduction of one of these other components:

kustomize/api v0.3.3
sigs.k8s.io/yaml v1.2.0

Those changed between kustomize v3.5.4 and later versions.

[2021-01-05 02:41] ordovicia opened #3417 "kyaml panics on non-ASCII character comments"
**Describe the bug**

kustomize v3.9.1 (kyaml enabled by default) panics when a YAML includes non-ASCII character comments.
With `--enable_kyaml=false`, `kustomize build` succeeds without panic.

**Files that can reproduce the issue**

`kustomization.yaml`:

[code]

`a.yaml`:

[code]

Any of these non-ASCII lines causes the panic.

**Expected output**

`kustomize build` does not panic and emits a

[2021-01-05 08:18] timstoop commented on #2781
It also breaks some situations, for instance, where you are deploying resources in different namespaces (in my case, rolebindings that allow the serviceaccount access in another namespace), so you cannot set `namespace: foo` in the kustomization.yaml. But you can also not set a namespace on a configmap created via the generator, there does not seem to be an option for it (unless it's just not docu

[2021-01-05 15:01] yhrn opened #3418 "Support CRDs with generic resource references"
**Is your feature request related to a problem? Please describe.**

We are working a lot with Google Config Connector and many of the CRDs include references to other resources. In some cases the type of the reference target is implied and in these cases Kustomize's [name reference transformer](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/README.md#name-refe

[2021-01-05 15:35] ephesused opened #3419 "kyaml applies incorrect block chomping with multi-document generators"
When processing multi-document generators that contain clipped block scalars, kyaml builds apply a strip chomp method on the final scalar in the document.

### kustomize version

[code]

### Test setup

kustomization.yaml

[code]

configmaps.yaml (Note that each scalar uses clip.)

[code]

### Actual output

The chomp method for final.txt is strip:

[code]

### Expected output

Shown by using --en

[2021-01-05 18:33] Shell32-Natsu commented on #3414
`group` being omitted is the same with using empty string. `core` group is also possible to be omitted in the input resources. Use [LabelTransformer](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#_labeltransformer_) to specify your own field specs.

[2021-01-05 18:33] #3414 closed

[2021-01-05 18:40] Shell32-Natsu commented on #3417
Thanks for the report. Will take a look.

[2021-01-05 18:45] Shell32-Natsu commented on #3417
This bug is caused by https://github.com/go-yaml/yaml/issues/538. Looks like yaml library has updated and fixed it. kyaml needs to use a later version of yaml.

[2021-01-05 18:49] Shell32-Natsu commented on #3405
Duplicate of #3340

[2021-01-05 18:49] #3405 closed

[2021-01-05 18:54] Shell32-Natsu commented on #3418
@natasha41575 Is this related to #3280?

[2021-01-05 19:18] natasha41575 commented on #3418
@Shell32-Natsu tangentially related to #3280 only in that they both deal with refactoring the name reference transformer. Apart from that I don't think the solutions overlap

[2021-01-05 19:22] simplenotezy opened #3420 "[Question] Error: no matches for OriginalId networking.k8s.io_v1_Ingress|~X|ingress-service; no matches for CurrentId networking.k8s.io_v1_Ingress|~X|ingress-service; failed to find unique target for patch networking.k8s.io_v1_Ingress|ingress-service"
Rright now I cannot deploy my project. Getting error:

`Error: no matches for OriginalId networking.k8s.io_v1_Ingress|~X|ingress-service; no matches for CurrentId networking.k8s.io_v1_Ingress|~X|ingress-service; failed to find unique target for patch networking.k8s.io_v1_Ingress|ingress-service`
![image](https://user-images.githubusercontent.com/3786627/103688387-0903de00-4f92-11eb-8124-4abafaaa04

[2021-01-05 19:30] seh commented on #3414
I think @snuggie12 wanted to prevent these labels from being applied to Knative's _Service_ objects. How would _LabelTransformer_ help with that?

[2021-01-05 19:37] Shell32-Natsu commented on #3414
He can explicitly specify `group` in the field specs.

[2021-01-05 19:41] #3391 closed

[2021-01-05 19:46] Shell32-Natsu commented on #1395
What kustomize does is reading the source file, parsing it into internal struct, modifying it and then serialize it. It only guarantees that the output is a valid yaml file but it's impossible to keep it *exactly and literally* same as the original one.

[2021-01-05 19:47] seh commented on #3414
Would he have to duplicate all the field specs known to the default _LabelTransformer_, but with the group populated as "core?"

[2021-01-05 19:51] Shell32-Natsu commented on #3414
Unfortunately yes. The problem is the *zero value* of the `group` (empty string "") is used to match any group. kustomize doesn't have a mechanism to exclude resources from transformation.

[2021-01-05 19:57] Shell32-Natsu commented on #3420
We need your resource files and patch files to reproduce the issue.

[2021-01-05 21:42] seh commented on #3414
I was struggling with that lack today, when wishing for negative assertions in Go's regular expression package. For the "target" field in a "patches" entry, I wanted to visit all resources of a particular _kind_ except those whose name matches a certain pattern. I can't express that, so instead I have to try to craft a regular expression that matches all the _other_ names except those I want to om

[2021-01-05 21:53] kferrone opened #3421 "Variable Fieldpath can't reference key name with dashes"
**Describe the bug**

I have a kustomize variable which was working until a recent update. Now the variables are misbehaving for strange reasons.

**Files that can reproduce the issue**

Here is the var in my `kustomization.yaml`
[code]
Then here is the corresponding PV with the label
`pv.yaml`
[code]
**Expected output**

I expect the variable to be able to reference any key even with special char

[2021-01-05 22:05] dfarr commented on #3391
That worked! Thank you, in case anyone is curious here is the fix:

kustomization.yaml
[code]

transformer.yaml
[code]

[2021-01-05 23:58] kenotsolutions opened #3422 "kustomize namespace entry for RoleBinding gives "tranformation produces ID conflict..." error"
**Describe the bug**

if we use namespace in kustomize.yaml;  kustomize changes metadata namespaces for RoleBindings and makes double of them and gives below error. If we delete namespace line in the kustomization.yaml file it does not fail.

[code]

**Files that can reproduce the issue**

[code]

Example:

kustomization.yaml

[code]

 rboc.yaml

[code]

**Expected output**

Kustomize should have

[2021-01-06 01:24] ordovicia commented on #3417
Thank you for investigation!

[2021-01-06 05:19] snuggie12 commented on #3414
@Shell32-Natsu do you mind elaborating on your solution? If I specify "core" or "" (it's not clear which your suggesting) it will merge with what is in code?

Also, if adding something like "core" fixes this then why close? Why not specify the core resources more explicitly?

I guess if you could provide exact yaml that'd be great.

[2021-01-06 05:35] balibebas opened #3423 "docs: primary cta button fails"
A primary CTA on the Kustomize.io website is failing. I realize the docs are being moved to SIGs but still, this is a primary CTA used to describe how to use Kustomize. It needs to work for this project to look remotely mature.

**Describe the bug**

<img width="743" alt="Screen Shot 2021-01-06 at 1 30 41 PM" src="https://user-images.githubusercontent.com/65664227/103733130-f803ad00-5023-11eb-8f26

[2021-01-06 09:40] simplenotezy commented on #3420
@Shell32-Natsu OK. Can you use this pastebin? https://paste.laravel.io/e73beb70-82c1-495f-bba5-b938ea9402e7 thats files in k8s folder.

[2021-01-06 10:28] marcelser commented on #347
FYI @andsens. The above example of a python3 transformer is badly broken. I tried to adapt it to my needs. First the docopt is not valid (it always errors out with latest docopt 0.6.2) in the end I had to remove "Template Pattern:" block completely. Then it doesn't check if the 'tls' or 'rules' key really exist and errors out if one of them is missing. And in case of 'rules' you're passing the und

[2021-01-06 11:53] emas80 opened #3424 "Patching a string with a number "converts" the number into a string"
**Describe the bug**

I want to apply a patch by using `patches` to a field which value is a string. The patch is meant to change the value to be an integer.
The patch succeeds, but the final value is not an integer, it is a string with the value of the integer.

kustomization.yaml

[code]

pdb-patch.yaml

[code]
my_file.yaml

[code]

**Expected output**

[code]

**Actual output**
[code]
**Kustomi

[2021-01-06 12:13] emas80 commented on #3424
I forgot to mention that, probably, it was working as expected in the version `3.7.0`.

We use `flux` and `kustomize` to handle the kubertetes updates, and the problem appeared when we upgraded from `flux-1.20.1` to `flux-1.21`.

As it can be seen from https://github.com/fluxcd/flux/pull/3309/files, they went from kustomize `3.7.0` to kustomize `3.8.4`

[2021-01-06 14:36] babygoat commented on #3412
This issue also occurs when `configMapGenerator` constructs configmap from `.properties` file as suggested in the documentation. Only the `merge` operation will incur the issue but `replace` will not.

Files to reproduce

**base/kustomization.yml**
[code]

**base/base.properties**
[code]

**replace-overlay/kustomization.yml**
[code]

**replace-overlay/replace.properties**
[code]

**merge-overlay/k

[2021-01-06 18:09] Shell32-Natsu commented on #3423
kustomize.io is not maintained by us.

[2021-01-06 18:09] #3423 closed

[2021-01-06 18:55] monopole commented on #3424
Thanks for the report.  Likely the same underlying problem as #3412

[2021-01-06 19:02] kenotsolutions commented on #3422
I used this method but still for the rolebinding  kustomize should have a parameter to disable the namespace change

https://github.com/keleustes/kustomize/tree/allinone/examples/issues/issue_1599

[2021-01-06 19:13] andsens commented on #347
@marcelser thank you for your notes. Indeed the for loop is badly broken. The docopt works for me, but I can see that I have an additional newline before the "Template patterns:", and testing it on try.docopt.org indeed confirms that the newline is needed.

Thanks for the tip about utf-8, that'll definitely come in handy.

[2021-01-06 19:43] maganaluis commented on #2987
I also noticed this, when installing Kubeflow via Kustomize. It takes over 20s to build the manifests, I am using v3.9.1

[2021-01-07 05:28] balibebas commented on #3423
That may be true but the presence of it affects your website UX and therefore falls into your purview. At a minimum, I'd expect maintainers to open an upstream issue and track the correction. And if it's possible there's a better place this issue couldn've been opened, you should point contributors like me to the correct place to fix the actual issue.

[2021-01-07 08:07] yhrn commented on #3418
One more thing to consider here if we're talking refactoring is that currently the namespace of a reference has to be handled by a separate `namespace` transformer. I think this happens to work in most cases because typically name transformations are applied the same way across all resources in a Kustomization but it feels a bit fragile.

It would feel more natural if there was a reference transfo

[2021-01-07 15:53] Shell32-Natsu commented on #3423
I cannot provide the instructions to fix this web page since I have no idea about it. I am in the same place with you😀. What I know is from the footer of the webpage, it's maintained by https://www.replicated.com.

[2021-01-07 17:53] simplenotezy commented on #3420
@Shell32-Natsu Let me know if I can provide anything else that could help

[2021-01-07 18:23] f-herceg opened #3426 "patchesStrategicMerge removes duplicate containerPorts"
**Describe the bug**
If resource has ports defined like this
[code]
After applying patchesStrategicMerge expected output is changed to
[code]
And they should stay unchanged.

**Files that can reproduce the issue**

Example:

kustomization.yaml

[code]

deployment.yaml

[code]
app_image.yaml
[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**
both have unexpected o

[2021-01-07 18:51] Shell32-Natsu commented on #3420
You patch file `k8s/ingress-service.yaml` is trying to patch a resource named `ingress-service` with kind `Ingress` in api version `networking.k8s.io/v1`. But this resource doesn't exist in your resource files.

[2021-01-07 19:36] Shell32-Natsu commented on #3421
https://github.com/kubernetes-sigs/kustomize/blob/735befef19d0128820d906bc74ae9b66aa0d2c5b/api/internal/wrappy/wnode.go#L67

In kustomize version >= v3.9, we just simply split the field path by `.`. We may improve this in future.

BTW, we are planning to remove `var` from kustomize. #2052

[2021-01-07 19:51] Shell32-Natsu commented on #3422
`namespace` in kustomization file will be applied to all resources. You may need to split you Rolebindings to different overlays if you only want to update namespaces to some of them.

[2021-01-07 19:52] Shell32-Natsu commented on #3424
Close this. Please use #3412 for string quotes issue in 3.9.x.

[2021-01-07 20:00] Shell32-Natsu commented on #3426
The ports fields are merged based on (portNumber, protocol) tuple. See #3111 #2767. This behavior is expected.

[2021-01-07 20:00] #3426 closed

[2021-01-08 15:58] flickerfly opened #3429 "[Question] How to create a setter for an item in array?"
I have the following kustomization.yaml and Krmfile. It includes an array of ENV values that I'd like to turn into setters. So far the best I can figure out is a single setter for the entire array. Can I set list items in the array individually?

**kustomization.yaml**
[code]

**Krmfile**
[code]

[2021-01-08 19:12] phanimarupaka commented on #3429
@flickerfly Thanks for the question. Firstly, are you using setters with kustomize or kpt? If kustomize what is the actual command you used to create the setter for entire array ?

[2021-01-08 19:27] flickerfly commented on #3429
I'm trying to see if I can stick with Kustomize for this (know it is Alpha).

If my bash history is correct, this is the command I issued.
[code]

[2021-01-08 19:32] phanimarupaka commented on #3429
@flickerfly Cool. Setters are not fully supported in kustomize yet but great to see you use it.

You can do the same to target a particular value.

`kustomize cfg create-setter . configMapGenerator.name 'EULA="FALSE"'`

[2021-01-08 21:44] sriumcp opened #3430 "namePrefix behavior differs depending on namespace specification in resources"
**Describe the bug**
namePrefix behavior is applied inconsistently depending on the value of namespace in resources.

**Files that can reproduce the issue**

kustomization.yaml
[code]

serviceaccount.yaml
[code]

clusterrolebinding.yaml
[code]

**Expected output**

[code]

**Actual output**

[code]

The issue is with the `name` field of the subject above, which needs to be `iter8-prometheus`.

**K

[2021-01-08 22:05] Shell32-Natsu commented on #3419
The root cause is here
https://github.com/kubernetes-sigs/kustomize/blob/1eb378254ab6309b8dfd38436b05a70b0514ba93/kyaml/kio/byteio_reader.go#L148

kyaml uses `\n---\n` to split resources and that will eat the `\n` after the `behavior`. If you add another `\n` it then the output is expected.

[2021-01-08 22:34] phanimarupaka commented on #3429
@flickerfly Did that answer your question?

[2021-01-09 15:56] flickerfly commented on #3429
I don’t see it actually working.

[2021-01-10 00:57] Nilegfx commented on #388
Looks like I joined this party too late, I wonder what were the reasons behind this decision, I tried to follow the link in [this comment](https://github.com/kubernetes-sigs/kustomize/issues/388#issuecomment-426457725) but the link was redirected to the new documentation and in the new docs there is no mention for the reasoning.

I saw @almariah's comment and it could be helpful in my case, howeve

[2021-01-10 16:53] aogier opened #3435 "HelmChartInflationGenerator does not work when building outside kustomization dir"
**Describe the bug**

In kustomization 3.9.1 it is not possible to use `HelmChartInflationGenerator` when building outside files' dir.

**Files that can reproduce the issue**

[code]
[code]
[code]

**Expected output**

kustomize build should indeed render this chart as it does when invoked in `kustomization.yaml`'s dir

**Actual output**

[code]

**Kustomize version**

3.9.1

**Platform**

linux

[2021-01-10 20:31] monopole commented on #3424
Turns out these aren't the same issues.

[2021-01-10 20:51] #3419 closed

[2021-01-10 20:54] phanimarupaka commented on #3429
@flickerfly Ahh I see... I wouldn't recommend you to use setters with kustomize. They are not fully supported/documented and will be deprecated soon. Have you tried using kpt instead ? Please try using kpt
https://googlecontainertools.github.io/kpt/installation/
https://googlecontainertools.github.io/kpt/guides/producer/setters/

Here are the steps to perform task above

[code]

Let me know if thi

[2021-01-10 21:13] michaelurban commented on #3228
Are there any updates on this issue or @monopole's proposal?

[2021-01-11 01:46] seh commented on #3429
I have not been able to find any documentation on the proposed replacement for setters. I've seen mention of "search and replace," which is evocative as a name, but does not constitute a design document. Is there anything we can read today about where the parametric facilities are going?

Also, _kpt_ has been afflicted by its own defects that made _kustomize_ a more attractive choice—mostly for it

[2021-01-11 16:34] shshe commented on #3031
@sahil-sawhney We're seeing this issue on Ubuntu 20.04.1 LTS where integers in environment variables were quoted in `kustomization.yaml` but not quoted in the generated manifests after running kustomize. What did you do to resolve this issue with envsubst? Thanks!

[2021-01-11 18:02] flickerfly commented on #3429
@phanimarupaka I suppose that's my answer. Like @seh mentioned, I'm also curious to see where this will end up within kustomize. I'm more interested in what the future of kustomize/kpt management for some sort of search and replace will look which is why I was messing with it on this toy project. I support some thought towards how to integrate as the current smashing of the two together in alpha i

[2021-01-11 18:18] Shell32-Natsu commented on #3031
@shshe Please take a look at #3412

[2021-01-11 18:18] #3424 closed

[2021-01-11 18:35] Shell32-Natsu commented on #3435
kustomize will not try to copy your `myvalues.yaml` file to the temporary directory. Please use an absolute path to it.

[2021-01-11 18:38] #2607 closed

[2021-01-11 18:44] Shell32-Natsu commented on #3280
@natasha41575 @monopole Do we have plan to support referring resource by a intermediate name instead of either current or original name? Requested in #3228

[2021-01-11 18:44] Shell32-Natsu commented on #3228
#3280 We are refactoring the GVKNN changing process.

[2021-01-11 18:47] aogier commented on #3435
it does not seems a proper solution to me, in fact `--help` tell me
[code]
so, apart this **broken contract**, anything that use kustomize as an internal tool (let's say, argocd), cannot properly use it because workdir is a temporary repo clone whose path we can easily reconstruct by hardcoding it

[code]
I don't think I have to tell you how much this is lame. In fact I'm not doing that, baking a

[2021-01-11 18:54] Shell32-Natsu commented on #3435
kustomize itself does support the relative path. However, HelmChartInflationGenerator plugin is different. It's a plugin and the implementation is different from kustomize itself. The `helm` command must be run in a separate directory to avoid messing up the stuffs in your working directory. That makes the relative path not working.

[2021-01-11 19:00] aogier commented on #3435
It is still not clear how this could work when invoked on the proper `kustomization.yaml`'s dir then. Don't doubt there is a reason for this ~bug~ behavior but as I can fix it by chdir on a well know, not temp dir, it's so weird kustomize can't do it by itself: with the three files I pasted above:
[code]
I thought that such a trivial problem could be reported. Thanks!

[2021-01-11 19:04] Shell32-Natsu commented on #3435
Will take a look.

[2021-01-11 19:17] natasha41575 commented on #3280
@Shell32-Natsu if we want to support that, then I can implement that after this refactoring is complete

[2021-01-11 19:19] Shell32-Natsu commented on #3280
@natasha41575 Thanks! It will be great to support it. And you may need to consider it when you refactor the NameReferenceTransformer

[2021-01-11 19:20] natasha41575 commented on #3430
@Shell32-Natsu @monopole I can work on this after the GVKNN refactoring described in #3280 is complete

[2021-01-11 20:27] aogier commented on #3435
It is also to be noted that `helm template` will not mess in any way any directory, in fact the error message I've reported to you report that:

[code]
so the problem seem obvious: helm subprocess live in the invoking process' cwd and this lead to all this fuss.

HTH, ciao, and thanks for all your work!

[2021-01-12 00:21] SebastianMestre opened #3440 "Double quotes get removed in generatorOptions labels"
Double quotes get removed in generatorOptions labels. Seemingly, this only happens when the generatorOptions are taken from a base, and not when they come from the main file.

People from my organization have been building a set of files with no problem, but I got hit with this bug right when I installed the latest version. Thus, it looks like a regression.

To reproduce, cd into the root of the a

[2021-01-12 03:38] monopole commented on #3424
Closed by #3438

[2021-01-12 13:27] SebastianMestre commented on #3440
This is similar to, but, seemingly, not the same as, #3412.

From that thread:

But, in this case, the bug triggers with a replace behavior.

[2021-01-12 16:14] kaiguoo opened #3443 "kustomize get compile error when using github.com/swaggo"
I could use helm.sh/helm/v3 (v3.4.2) in my project without any problem. but if I add  github.com/swaggo in my project got following compile error

sigs.k8s.io/kustomize/pkg/transformers/config
/home/xxxxx/go/pkg/mod/sigs.k8s.io/kustomize@v2.0.3+incompatible/pkg/transformers/config/factorycrd.go:71:47: cannot use api.Schema.SchemaProps.Properties (type spec.SchemaProperties) as type myProperties in

[2021-01-12 16:17] uid09552 commented on #3443
might be fixed by this
#3444

[2021-01-12 17:56] bajtos commented on #2460
Build times are still too long when remote layers are used :(

[2021-01-13 01:25] sleepycat opened #3446 "Support for integer keys"
Attempting to build Knative config with 3.9.0 on Manjaro Linux produces the error `Error: json: unsupported type: map[interface {}]interface {}`.

[code]

Kustomize 3.8 will successfully build.

[code]

[2021-01-13 01:33] snuggie12 commented on #3412
I have a similar quoting issue trying to use jmespath but it's on 3.8.4 and 3.9.1 with or without the kyaml option.

kustomization.yaml:
[code]

kustomize 3.8.4, 3.9.1 with kyaml enabled or disabled (NOTE the final single quote is missing)
[code]

[2021-01-13 12:51] fernando-villalba opened #3447 "Should NamespaceTransformer run before PatchStrategicMergeTransformer?"
Using Kustomize 3.9.0 on Mac

if I do this:

[code]

The above overlay is the following:

[code]
I get the following error:

`Error: no matches for OriginalId apps_v1_Deployment|vault|vault-secrets-operator; no matches for CurrentId apps_v1_Deployment|vault|vault-secrets-operator; failed to find unique target for patch apps_v1_Deployment|vault-secrets-operator`

This seems only happening with remo

[2021-01-13 13:01] fernando-villalba commented on #3447
The only way to fix the above is by using the original namespace in the remote repository like this:

[code]

This is okay, but it's just odd the way this works. You should be able to specify the namespace that are you are modifying in kustomize perhaps.

[2021-01-13 16:06] KnVerey opened #3448 "Allow transformer plugins to generate resources"
**Is your feature request related to a problem? Please describe.**

Today, Kustomize configuration functions can invoked from a `Kustomization` using either the `generators` or the `transformers` fields. There is no field that supports a function that both generates _and_ transforms resources. This limits the ability to build flexible abstraction-based functions that may need to do both of these t

[2021-01-13 16:41] Step2Web opened #3449 "[Question] Setting 'suspend' parameter in Argo Cron workflow based on overlay"
Hey guys,

We're using Argo Cron Workflows for our daily load pipeline into our data warehouse. We have several environments which are configured via overlays and we have environments like prod, dev, uat, etc.

[Argo Cron Workflows](https://argoproj.github.io/argo/cron-workflows/) have a field called _suspend_, which determines if a workflow should be started based on provided cron schedule. I wou

[2021-01-13 17:17] squaremo commented on #3058
Fixed in #3219. Thank you!

[2021-01-13 17:17] #3058 closed

[2021-01-13 18:14] Shell32-Natsu commented on #3449
We have some quote issues in 3.9.x version #3412. Can you try 3.8.x version and see if the issue still happens?

[2021-01-13 18:22] Shell32-Natsu commented on #3447
I think this is because the NamespaceTransformer is run after PatchStrategicMergeTransformer. So in PatchStrategicMergeTransformer it hasn't had namespace update yet.

[2021-01-13 18:29] Shell32-Natsu commented on #3446
We have issues in 3.9.0. Please try 3.9.1.

[2021-01-13 19:00] Step2Web commented on #3449
Thanks for your quick response! I actually tried it with two different versions:

[code]

Same result in both versions.

[2021-01-13 20:55] prios-peter-olivo opened #3451 "helmchartinflationgenerator --include-crds"
When using the helmchartinflationgenerator to generate a Helm 3 chart that includes a crds directory the helm inflation does not include the crds.

I would like to have a extraArgs value added to the generator so helm flags can be added, in this case --include-crds

Helm 3 charts are inflated with crds.

Currently I use bash script that is pulling the crds without kustomize.

[2021-01-13 20:56] prios-peter-olivo opened #3452 "helmchartinflationgenerator --include-crds"
When using the helmchartinflationgenerator to generate a Helm 3 chart that includes a crds directory the helm inflation does not include the crds.

I would like to have a extraArgs value added to the generator so helm flags can be added, in this case --include-crds

Currently I use bash script that is pulling the crds without kustomize.

[2021-01-13 20:58] Shell32-Natsu commented on #3452
Duplicate of #3451

[2021-01-13 21:00] Shell32-Natsu commented on #3451
The plugin should have supported `extraArgs` option. https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#_helmchartinflationgenerator_

[2021-01-13 21:05] #3452 closed

[2021-01-13 23:07] #3396 closed

[2021-01-13 23:34] natasha41575 opened #3455 "Allow references to intermediate names after multiple name transformations"
For example, if a user has this stack:

overlay: add a prefix “gcp-”
overlay: add a prefix ‘emea-’
overlay: add a prefix ‘prod-’
base: deployment named ‘foo’

The gcp layer can use the name “foo” or “emea-prod-foo”, but not just the name “prod-foo”. The gcp layer should be able to refer to the intermediate name “prod-foo” as well.

[2021-01-13 23:34] natasha41575 commented on #3455
currently working on this

[2021-01-14 00:21] #3430 closed

[2021-01-14 08:49] fernando-villalba commented on #3447
Yes, I guess so. I supposed, it's hard to say here what would be best. I think perhaps it should be the other way around, especially if you are dealing with remote bases and you are not sure what namespace they will use in their bases, it's also less confusing. But this is just my opinion.

[2021-01-14 12:02] mancubus77 opened #3456 "https://kustomize.io dead link under "kubectl Usage" tab"
This link leading to non existed document
<img width="1093" alt="image" src="https://user-images.githubusercontent.com/16170560/104588215-29cbe200-56bc-11eb-9daf-1edd0d8f827c.png">

https://kubectl.docs.kubernetes.io/pages/app_management/introduction.html
<img width="938" alt="image" src="https://user-images.githubusercontent.com/16170560/104588437-77484f00-56bc-11eb-902a-32af37f155ad.png">

[2021-01-14 12:40] bobbymlp opened #3457 "Automatic Binary file detection failing in configMapGenerator"
I am running version 1.16 and noticed that the automatic binary file detection is not always working

My generator map looks something like this

configMapGenerator:
  - name: security
    files:
      - security/XXXXX.keystore.jks
      - security/XXXXX.truststore.jks
      - security/XXXXX.keytab

All three files are binary, two of them copy over correctly the keystore for reasons not understood

[2021-01-14 12:59] #3457 closed

[2021-01-14 13:00] bobbymlp commented on #3457
Looks like the binary data was correctly identified but for some reason the file is written incorrectly

[2021-01-14 15:15] spali opened #3458 "HelmChartInflationGenerator does not work for Capabilities.APIVersions in templates"
**Describe the bug**

Template checking Capabilities.APIVersions fails. It seems that helm via HelmChartInflationGenerator does not get the cluster api's available.

**Files that can reproduce the issue**

kustomization.yaml

[code]

chartInflator.yaml

[code]

values_ingress.yaml

[code]

**Expected output**

helm chart yaml

**Actual output**

[code]
**Kustomize version**

[code]

**Helm version

[2021-01-14 15:24] spali commented on #3458
maybe additional information that could have an impact?:
I do not have the `KUBECONFIG` variable set, nor anything else special. I just have the `~/.kube/config` with admin access to the cluster. So `helm` and `kubectl` can access without further configuration

[2021-01-14 16:36] prios-peter-olivo commented on #3452
My issue was related to using kustomize v3.8.7 instead of v.3.8.8

[2021-01-14 17:40] monopole commented on #3412
I'll fix this today

[2021-01-14 17:48] spali commented on #3458
sorry was a bit unfair ;)
I compared to `helm install`. But the plugin is using `helm template`.
With helm template I need to specify the api also manually with ` --api-versions networking.k8s.io/v1/IngressClass`
Which I can also do in the `chartInflator.yaml` with
[code]

That the plugin is using helm command `template` makes sense due it doesn't handle deployment by design.
Maybe for the use-cas

[2021-01-14 17:48] #3458 closed

[2021-01-14 17:49] Shell32-Natsu commented on #3452
The `extraArgs` was introduced in 3.8.8.

[2021-01-14 18:06] streamnsight commented on #235
The way that actually works is this:

in the base:
[code]

in the overlay:
`kustomization.yaml`
[code]

Then all resources will have namespace `dev-ns`
and the base namespace name `ns` will also be prefixed with `dev-` ending up being the `dev-ns` namespace name we want.

[2021-01-14 18:44] breezybaldwin commented on #3456
@mancubus77 this has been fixed; thanks for bringing it to our attention!

[2021-01-14 18:45] Shell32-Natsu commented on #3456
Thanks @breezybaldwin

[2021-01-14 18:45] #3456 closed

[2021-01-14 19:25] #3412 closed

[2021-01-14 19:39] monopole commented on #3440
Correct, this is different from #3412, which is now closed.

[2021-01-14 21:31] mikhail-nikitin opened #3463 "`$patch: delete` does not work for not existing variables"
**Describe the bug**

When a strategic merge patch contain `$patch: delete` directive for not existing elements,
kustomize produces resources containing `$patch: delete`.

**Files that can reproduce the issue**

kustomization.yaml
[code]

resource.yaml
[code]

patch.yaml
[code]

**Expected output**

[code]

**Actual output**

[code]
**Kustomize version**

v3.8.9

**Platform**

Linux

**Additional

[2021-01-15 00:42] snuggie12 commented on #3414
@Shell32-Natsu Can you let me know if I did this correct? This did not work with various combinations and tried multiple versions of kustomize including latest with kyaml enabled and disabled. It does confirm that merging occurs with `builtinpluginconsts` as when I try `core` neither `svc` nor `ksvc` match a group called `core` and neither get the `selector`.

kustomization.yaml
[code]

common-lab

[2021-01-15 01:26] snuggie12 commented on #3414
Best I can tell `core` will not work unless you modify this line to say `group = "core"` and modify all the builtins to say `group: core`: https://github.com/kubernetes-sigs/kustomize/blob/64ffbcb15dd502dfd562bba7324b39c02a483e3c/api/filters/fieldspec/gvk.go#L36

[2021-01-15 02:13] natasha41575 opened #3464 "Add documentation for kustomize commands"
https://kubectl.docs.kubernetes.io/references/kustomize/

The docs here don't cover commands (e.g. kustomize cfg, kustomize edit)

I found https://kubernetes-sigs.github.io/kustomize/guides/cmd/ but it doesn't have complete information about what subcommands are available. It is also difficult to find and not accessible from the cli-experimental docs website. This website is is linked in https://g

[2021-01-15 16:08] monopole commented on #3448
[already]: https://github.com/kubernetes-sigs/kustomize/blob/master/plugin/someteam.example.com/v1/calvinduplicator/CalvinDuplicator.go

Thanks for writing this up, and offering to make things better.

A curt answer would be: transformers can [already] generate resources, so let's close this.

But clearly the docs, api comments, field comments etc. need improvement.  And larger things, e.g. hooks

[2021-01-15 17:49] monopole commented on #3448
oops, just went out for a walk and realized that you're right -i think  there was a hidden bug over a range of recent kustomize releases that prevented a transformer from changing the `ResMap` size (adding or removing).

A `kyaml` function called `ApplyToJson` was added as part of a refactor away from `apimachinery`.  It demanded equal sized input and output for a resource list.

That function is

[2021-01-15 18:04] Shell32-Natsu commented on #3414
This is a correct way. BTW, you can also use LabelTransformer as an external plugin with full control of the fieldSpecs. fieldSpecs in the configurations file will be merged with builtin configs while an external plugin config will not.

[2021-01-15 20:40] KnVerey commented on #3448
Thanks for the response! The example that prompted this issue should indeed be functionally equivalent to your CalvinDuplicator (starts off with some resources, emits those and a few extras), but I'm still encountering errors with it after building kustomize from current head and invoking `build` with `--enable_kyaml`.

These errors that made me incorrectly assume (sorry) that generation was unsup

[2021-01-15 23:28] natasha41575 commented on #3228
Ref: #3455

I am working on allowing references using intermediate names, in your case it would be as follows:

`
- name: XQL_ONE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: xql-zero-xql-secret
      key: password
- name: XQL_ONE_PASSWORD
  valueFrom:
    secretKeyRef:
      name: xql-one-xql-secret
      key: password`

After that feature is complete, you should be able to get the output

[2021-01-16 01:00] michaelurban commented on #3228
@natasha41575 *boosh* Thank you so much for working on this!

[2021-01-16 01:26] thanhpd-teko opened #3468 "[Question] Share env between deployments"
Hi, i have a flask application with 3 deployments, one for api, one for worker, and one for beat.
They have the same env, but different commands.
How can I share env between them without declaring again? Please help.

[code]

[2021-01-16 02:43] #3440 closed

[2021-01-16 14:39] monopole commented on #3443
The line
[code]

suggests that some `go.mod` file is using a very old abandoned version of kustomize libraries.

Please emulate how the kustomize CLI program refers to the kustomize libraries here:
https://github.com/kubernetes-sigs/kustomize/blob/master/kustomize/go.mod#L11

The `go.mod` line is
[code]

Soon that will be `v0.7.2`, etc.  It's released every two weeks.

Please reopen if you have an

[2021-01-17 04:28] monopole commented on #3271
Don't think this blocks closing #3304

[2021-01-17 04:33] monopole commented on #3394
See https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/multiplepatch_test.go#L322

[2021-01-17 04:41] monopole commented on #3304
Per

[code]

Only remaining open and sorta painful issue is  #3394.

I'm in favor of proceeding with #2506 and fixing remaining issues in a pure kyaml world.

[2021-01-17 04:51] monopole commented on #3449
Still open.  See test in #3449 for a possible workaround (source the var from something other than a configmap, as that can only hold strings).

A code fix could be, when doing a var replacement, see if the origin was a configmap, and if so, see if the strings can be parsed as bools or numbers, then tag their nodes appropriately.  Trouble is this will make it impossible to inject an intentionally

[2021-01-17 10:02] stefanprodan commented on #3446
@Shell32-Natsu can you shed some light on this? I'm using `sigs.k8s.io/kustomize/api v0.7.1` in [fluxcd/kustomize-controller](https://github.com/fluxcd/kustomize-controller) but this bug is still there.

I find it very hard to keep up with kustomize upstream changes, there is no changelog expect for a list of commits and with error outputs like `json: unsupported type: map[interface {}]interface {

[2021-01-17 20:36] EKami opened #3479 "Error on "HelloWorld" example"
**Describe the bug**

I'm getting the following error when I try to apply the helloworld example from `examples/helloWorld`:

[code]

**Files that can reproduce the issue**

Thes files from `https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/examples/helloWorld/{configMap,deployment,kustomization,service}.yaml`

**Expected output**

exit 0 with successful application

**Actual outp

[2021-01-17 21:21] echel0n commented on #3446
This issue is still present in API v0.7.2 as well

[2021-01-18 06:16] daurnimator commented on #3451
While `extraArgs` is a useful escape hatch, shouldn't we add first party support for options like `--include-crds`?

[2021-01-18 09:41] stefanprodan commented on #3446
This turns out to be a bug in `kyaml`, here is how to reproduce it.

Having a custom resource with an integer key:

[code]

Fails with:
[code]

Works with:
[code]

What I find really concerning is that users have no way to identify the object/resource/file when kustomize build fails. @Shell32-Natsu what is the recommend way to debug this when you have hundreds of manifests?

[2021-01-18 12:01] stefanprodan opened #3480 "kyaml panics on duplicate keys"
In [Flux v2](https://github.com/fluxcd/flux2) we decided to use kustomize libraries in our controllers and we make extensive use of `kyaml`. We found that if a manifest contains duplicate keys, kyaml panics taking down the whole controller.

Can we please not panic and instead return an error from kyaml containing the **manifest name** so that both Kustomize and Flux users can track down which obj

[2021-01-18 13:19] oofpez commented on #1556
Also experiencing this.  Using `kustomize build` works, but `kubectl kustomize` gives me this error.

[2021-01-18 18:03] HumairAK commented on #2721
Has there been any update on this? Would be great if the flag was just `--enable-plugins` or something similar, provided that the reason is indeed only to "_warn the user against accidentally running 3rd party plugins_".

[2021-01-18 18:05] yanniszark opened #3481 "Multiple patches in one file"
**Is your feature request related to a problem? Please describe.**

Related issue: https://github.com/kubernetes-sigs/kustomize/issues/3028

`patchesStrategicMerge` supported specifying multiple patches in one file. The new `patches` field, which seems to be the new recommended way, only supports one patch per file.

**Describe the solution you'd like**

Support multiple patches per file.

**Descr

[2021-01-18 18:25] yanniszark commented on #2052
Now that you have the powerful kyaml library, can't we do something like the following:
1. Replace all `$(VAR)` notation with setter comment notation: `# {"$kpt-set":"VAR"}`
2. Anchor the VAR to an object attribute, like what the current vars field does.
3. Namespace the var to the first`kustomization` file that declares the var.

@Shell32-Natsu is there any discussion / plan for a timeline on an

[2021-01-19 15:10] tkayyyyys opened #3482 "Unable to find Kustomize version '3.6.1' for platform 'linux' and architecture amd64."
**Describe the bug**
 I'm using kustomize in my Github actions workflow. As of today I receive the following error when executing a Github action workflow.

**Unable to find Kustomize version '3.6.1' for platform 'linux' and architecture amd64.**

I filed a bug with the Github actions team. They investigated at https://github.com/actions/virtual-environments/issues/2485 . Their feedback was as fol

[2021-01-19 17:42] Shell32-Natsu commented on #3482
Probably you should file issue here: https://github.com/imranismail/setup-kustomize

[2021-01-19 17:52] Shell32-Natsu commented on #1556
We are in the last (hopefully) step to remove apimachinery from kustomize. #2506 is used to track this work.

[2021-01-19 18:15] tkayyyyys commented on #3482
Will do! Thanks for the feedback.

[2021-01-19 18:25] #3482 closed

[2021-01-19 19:02] Shell32-Natsu commented on #3446
@stefanprodan Thanks for the information. I can reproduce it now. Will investigate it.

[2021-01-19 19:03] Shell32-Natsu commented on #3451
@daurnimator It's ok to have it supported natively. We are happy to merge such PR.

[2021-01-19 19:06] Shell32-Natsu commented on #3479
I think this is a documentation issue in the example. Previously kustomization doesn't have `metadata` field and we added it months ago. kustomize version shipped with kubectl hasn't been updated for a long time.

[2021-01-19 19:12] Shell32-Natsu commented on #3468
You can try [PatchTransformer](https://kubectl.docs.kubernetes.io/references/kustomize/patches/) and [components](https://kubectl.docs.kubernetes.io/guides/config_management/components/)

[2021-01-19 19:15] monopole commented on #3479
Please use "bare" kustomize:  https://kubectl.docs.kubernetes.io/installation/kustomize/binaries
and pipe the output to `kubectl -f -`, e.g.

[code]

The hello world example is validated as part of it's release process.

The version in kubectl is very old; work to update it is tracking in #1500

[2021-01-19 19:15] #3479 closed

[2021-01-19 19:30] EKami commented on #3479
@monopole in that case you should at least update the docs since the doc uses `kubectl`, see [here](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/README.md)

[2021-01-19 19:36] echel0n commented on #3446
Is there any chance you can add in the logging of the filename that kicks back the exception as well, please?

[2021-01-20 03:31] hansanghoon opened #3485 "double quote disappear"
**Describe the bug**

vars variable is surrounded by double quotes `""`
after build, double quotes disappear.

**Files that can reproduce the issue**

kustomization.yaml loads redis port using vars

[code]

quote-patch.yaml patches deployment. put redis port into environment variable. `REDIS_PORT` var inside double quote.

[code]

**Expected output**

kustomize version 3.9.1 build output

[code]

[2021-01-20 10:08] monotek commented on #2736
Not stale

[2021-01-20 10:09] monotek commented on #2736
/remove-lifecycle stale

[2021-01-20 10:16] hansanghoon opened #3486 "Strategic Merge Patch doesn't seem to handle character other than basic ascii"
**Describe the bug**

If patch file referenced by `patchesStrategicMerge:` has Korean(한글) character in it, kustomize throws bunch of errors.
Korean comment in none-patch doesn't seem to occur trouble.

**Files that can reproduce the issue**

kustomization.yaml
[code]

web.yaml
[code]

web-patch.yaml
[code]

**Expected output**

web-patch.yaml has two comments. Those comment should have no effect e

[2021-01-20 11:28] alecunsolo opened #3487 "Set image tag preserving image name"
When using `kustomize edit set image` to change the tag of an image the `newName` is not preserved
I should be able to change only the image tag and keep the `newName` as-is

This is similar to #2625, but the proposed solution doesn't work as I expected.
This is the source kustomization
[code]
After `kustomize edit set image myname=:v2.0.0` the resulting kustomization.yaml is
[code]

I'm using ver

[2021-01-20 11:34] james-callahan commented on #2684
/remove-lifecycle stale

[2021-01-20 11:34] daurnimator commented on #3451
Could you reopen this issue and accept it?

[2021-01-20 17:00] sylr opened #3489 "Kustomize "multiple matches" failure since kustomize/v3.9.2"
**Describe the bug**

Kustomize workspace which was working up until kustomize/v3.9.1 now fails **with and without** `kyaml`.

[code]
[code]

**Files that can reproduce the issue**

https://github.com/sylr/kustomize-crash-reproduction

[2021-01-20 17:19] sylr commented on #3489
I did a bisect and it seems bb41d018b5350c24031bace975d7b735d26b7b9b is responsible for this problem.

[code]

[2021-01-20 18:43] Shell32-Natsu commented on #3446
This issue is triggered by incompatibility between YAML and marshal and unmarshal. I will create a PR to add the resources that causes this error to the error message.

[2021-01-20 18:50] Shell32-Natsu commented on #3446
After we delete the apimachinery codes we can get the YAML bytes from the RNode directly so this can be fixed.

[2021-01-20 18:50] Shell32-Natsu commented on #3446
@monopole

[2021-01-20 20:21] Shell32-Natsu commented on #3486
Duplicate of #3417

[2021-01-20 20:21] #3486 closed

[2021-01-20 21:21] monopole opened #3492 "Introduce a ReplacementTransformer to replace the vars feature."
Let's replace the `vars` feature (see discussion in #2052), then deprecate `vars`.

[replacement transformer]: ../blob/c37c7b6/plugin/untested/v1/replacementtransformer/ReplacementTransformer.go
[replacement]: ../blob/c37c7b6/api/types/replacement.go
[examples]: ../blob/c37c7b6/plugin/someteam.example.com/v1

Here's an untested, unused [replacement transformer] which could be used as raw material.

[2021-01-20 21:23] monopole commented on #2052
Enhancing vars will inexorably lead to kustomize becoming yet another crappy, half-baked domain specific configuration language.

@yanniszark you can use setters for many things, they're fine to use in kustomize.

Hoping someone will dust off the replacement transformer, or build a new one, so people can try it (#3492).

[2021-01-20 21:34] yanniszark commented on #3492
@monopole this is great! I have to ask though, does this solution (replacement transformer) support partial substitution?
Partial substitution is one of the main use-cases of vars today. For example, to substitute a service name and namespace in a Certificate object: https://github.com/kubeflow/kfserving/blob/master/config/certmanager/certificate.yaml#L20

[2021-01-20 21:49] yanniszark commented on #2052
@monopole this is great! I have to ask though, does this solution (replacement transformer) support partial substitution?
Partial substitution is one of the main use-cases of vars today. For example, to substitute a service name and namespace in a Certificate object: https://github.com/kubeflow/kfserving/blob/master/config/certmanager/certificate.yaml#L20

To elaborate some more, I believe there a

[2021-01-20 21:54] seh commented on #2052
Adding on to @wstrange's comment above (https://github.com/kubernetes-sigs/kustomize/issues/2052#issuecomment-763968859), I asked about this confusing situation here: https://github.com/kubernetes-sigs/kustomize/issues/3429#issuecomment-757585928.

[2021-01-20 22:09] monopole commented on #3492
[example]: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/valueAdd.md

Yes.  90% of partial replacements are swapping out some clearly defined subelement of a path, URL domain spec,  IP number or something that looks like one of those things.

For this, we just need an integer field in the source and target spec called `positionInField`, and maybe a single character field delimi

[2021-01-20 22:24] yanniszark commented on #3492
@monopole sorry, I moved my message to https://github.com/kubernetes-sigs/kustomize/issues/2052#issuecomment-763971450 as I thought it made more sense there. But the email still reached you. This was my original comment:

Partial substitution is one of the main uses of vars today. For example, to substitute a service name and namespace in a Certificate object: https://github.com/kubeflow/kfserving

[2021-01-21 00:02] codetheweb commented on #3479
I would also appreciate a documentation update as I stumbled into this today as a new user of kustomize.

[2021-01-21 03:03] jlewi commented on #2052
I believe the answer is yes. FWIW I use kpt+kustomize routinely. General pattern is

* kpt cfg set ${KUSTOMIZEDIR}
* kustomize build  ${KUSTOMIZEDIR}

[2021-01-21 09:46] sylr commented on #3489
@Shell32-Natsu you tagged this `area/kyaml` but this problem is also occuring when kyaml is disabled.

[2021-01-21 13:26] leptonyu opened #3497 "Yaml Anchor not supported?"
**Describe the bug**

[code]
**Files that can reproduce the issue**

kustomize version 3.9.2_1

[2021-01-21 15:52] Step2Web commented on #3449
Thank you for the explanation! Yeah, I agree, just guessing the type of the value isn't ideal either and will likely cause other issues. I'm not very familiar with kustomize but my naive solution would have been making types explicit in the configmap, something like this:

[code]
No idea if this causes other issues or if this is a major change in how ConfigMaps work.

But your suggestion of a Repl

[2021-01-21 18:23] Shell32-Natsu commented on #3489
I tagged this from my guess. Need to investigate more.

[2021-01-21 19:07] Shell32-Natsu commented on #3497
Please provide your resource files so we can reproduce it.

[2021-01-21 20:56] Shell32-Natsu commented on #3489
This is because the reference in `subjects` field in `base/external-dns/clusterrolebinding.yml` is using *original* ID. When kustomize is doing a step named *name reference update*, it will try to find find the resources that have the original ID and update the reference to the resource's current ID. Note that this step is done after all layers have been processed so there will be 2 resources that

[2021-01-21 21:42] Shell32-Natsu commented on #3487
You are right it's not supported now. I thought I misunderstood the context in #2625. We may need to have a new subcommand to modify newTag/newName individually.

[2021-01-21 21:52] aodinokov commented on #3492
@monopole JFYI,
may be it will be interesting for you from features/use-cases perspective...
there are at least 2 replacement transformer implementations available in form of krm-functions:
1. https://github.com/aodinokov/noctl-airship-poc/tree/master/kpt-functions/replacement
2. https://github.com/airshipit/airshipctl/tree/master/krm-functions/replacement-transformer

both based on kyaml, but the

[2021-01-22 08:39] everpeace commented on #3127
/remove-lifecycle stale

[2021-01-22 11:41] fbiville commented on #963
You know what? I'll let it go stale 🤷

[2021-01-22 13:42] leptonyu commented on #3497
test.yaml
[code]

kustomization.yaml
[code]

[2021-01-22 13:42] leptonyu commented on #3497
[code]

[2021-01-22 13:43] leptonyu commented on #3497
@Shell32-Natsu

[2021-01-22 18:01] aogier commented on #3435
Another quirk I think could definitely related to this bug: I have a base where I inflate some helm charts, keeping overlays to do last mile modifications:

[code]

so `base/kustomization.yaml` has:

[code]

with all the stuff, and `prod-1/kustomization.yaml` only has:

[code]

Now if i build `base`, everything goes as expected, but if I try to build `prod-1`:

[code]

If I copy values file in `pr

[2021-01-22 18:02] aogier commented on #3435
Just for completeness, this is generator:
[code]

thx, ciao

[2021-01-22 18:19] Shell32-Natsu commented on #3435
Well I think the problem is still the relative path. `values-default.yaml` is directly passed to `helm` command but the real path depends on the pwd of the `helm` command. A possible solution is resolve the relative path to absolute path according to the generator file path.

[2021-01-22 18:33] aogier commented on #3435
yeah, I think the problem is still we can't do that way if we want to use this on systems argocd etc. I've already write a trivial wrapper for `build` command because that is, [it's trivial](https://github.com/iubenda/dockerfile-argocd/commit/e8d84ce11fdf235ce368903ec40a15b5fdd3dd3d) but in this case it once again break interface contract, which is a pity and a clear design flaw that toring apart

[2021-01-22 18:37] aogier commented on #3435
let's face it: this plugin, as of now, is broken and break kustomize's functionality. Not that is the end of the world, but please let's try not to archive that as an impossible rtfm-ish story, this plugin is ATM broken given tool's design and that's it :man_shrugging:

[2021-01-23 08:49] epcim commented on #3485
The same issue here
[code]

end up as
[code]

^^ both, on kubectl apply throws

[code]

Some discussin here:
- https://stackoverflow.com/questions/61905549/helm-install-with-set-ends-in-an-error-v1-objectmeta-annotations-readstring

Required
- backward compatibility
- if desired, change behaviour on major version upgrade with option like `\"` to preserve `"`

[2021-01-23 16:28] pwittrock opened #3501 "Kustomize Composition API KEP"
https://github.com/kubernetes/enhancements/pull/2300

[2021-01-25 10:15] TheAggressive opened #3502 "[Question] instantiation of resource(s) and CRD Kind of resource"
I'm not sure how to go about instantiation of a resource and then applying a CRD(?) of that resource in a fresh cluster to setup the cluster.

Example:

[code]

[code]

But once the kustomize build is ran and applied `kustomize build . | kubectl apply -f -` I see that the `sealed-secret.yaml` wasn't applied and no secret was generated from the sealed-secret based on the following `kustomize build

[2021-01-25 11:45] dimw commented on #3487
**tl;dr**

Proposal for extension of the `set image` command for keeping `newName`/ `newTag`:
[code]

**Detailed Background**

I am facing [the same need](https://github.com/kubernetes-sigs/kustomize/issues/3487#issue-789894507) for keeping `newName` when setting the `newTag`. In my use-case I have multiple resource overlays (i.e. _dev_ and _prod_) which use images from different registries. Thus,

[2021-01-25 11:50] #1885 closed

[2021-01-25 17:27] alecunsolo commented on #3487
I like the 'magic character' approach. As poinded by @dimw it should be backward compatible and shorter than the subcommand.
It's not the mentioned use case, but as a generic feature it should support `digest`s too:
[code]

[2021-01-25 19:30] Shell32-Natsu commented on #3502
@monopole Can you take a look at this?

[2021-01-25 19:31] #3422 closed

[2021-01-25 19:32] #3420 closed

[2021-01-25 19:33] #3264 closed

[2021-01-25 19:38] Shell32-Natsu commented on #3485
@monopole Is this the same with other quotes issues?

[2021-01-25 21:08] dimw commented on #3487
@alecunsolo As suggested, I also added your digest preservation use-case. Further, because it was not clear to me, I also run some tests and confirmed that it is possible to have different image names with the same digest (also see [Docker image digest documentation](https://docs.docker.com/engine/reference/commandline/images/#list-image-digests)). Thus, I am also considering the inverse use-case

[2021-01-25 23:20] tehmoon commented on #3485
Same here, had to downgrade because it was messing up with annotations. I did not find any workaround though.

[2021-01-26 02:39] haisum opened #3504 "configMapGenerator doesn't merge binaryData"
**Describe the bug**

When using a base with a binary file in a generated configmap, the overlay doesn't add the key/value pair for said binary file in the final configmap manifest.

...

**Files that can reproduce the issue**

I have attached a zip file containing all the files listed below.
[Archive.zip](https://github.com/kubernetes-sigs/kustomize/files/5946726/Archive.zip)

base/kustomization.

[2021-01-26 09:59] #2584 closed

[2021-01-26 14:12] ephesused commented on #3157
@Shell32-Natsu, I'm interested in a detail on the intended behavior change. Let me know if I should open a separate ticket for this question.

I'm seeing cases with v3.7.0 where a merge might not alter the order at all; it alters the element in place. For v3.8+, the merge always alters the array order. Based on the above discussion, I'm assuming the change is expected - but I'd like to confirm.

*

[2021-01-26 17:15] amisevsk opened #3505 "Docs should clearly mention issues with remote resources"
**Describe the bug**

The [docs](https://kubectl.docs.kubernetes.io/references/kustomize/resource/) suggest that resources can be files, paths, or URLs interchangeably. However, due to what seems to be an issue in go-getter (see also: https://github.com/kubernetes-sigs/kustomize/issues/2538), behaviour when trying to resolve remote resources is inconsistent and confusing -- e.g. [this comment](htt

[2021-01-26 18:28] Shell32-Natsu commented on #3157
@ephesused Yes I suppose this is the expected output.

[2021-01-26 19:11] Shell32-Natsu commented on #3487
Close this in #3503

[2021-01-26 19:11] #3487 closed

[2021-01-26 19:48] #3497 closed

[2021-01-27 00:53] #3377 closed

[2021-01-27 02:42] kim-sardine commented on #766
Thanks @pavel1269

with v3.9.2, `kustomize build --load_restrictor none PATH` works!

[2021-01-27 03:01] ichizero commented on #3358
The above case seems to be resolved in Kustomize v3.9.2.
However, the error still occurs when the patch file contains multibyte character comments.

kustomization.yaml

[code]

resources.yaml

[code]

patch.yaml
[code]

Output

<details>

[code]

</details>

Expected output (by Kustomize v3.8.9)

[code]

[2021-01-27 14:01] peteroruba opened #3508 "Is there a reason for PrefixSuffixTransformer not having a target/name attribute?"
Is there a particular reason why PatchTransformer has a "target/name" attribute and PrefixSuffixTransformer doesn't? I am trying to apply transformations to only a subset of my objects, which I can narrow down with a RegEx in the target/name attribute. However, that only works with PatchTransformer, but it doesn't with PrefixSuffixTransformer.

Thanks

[2021-01-27 16:20] pwittrock commented on #3480
These are the lines that need to be changed:

https://github.com/kubernetes-sigs/kustomize/blob/550a89295a58bb0dd3683f0bb1d276902b6d3ec7/kyaml/yaml/rnode.go#L791

https://github.com/kubernetes-sigs/kustomize/blob/550a89295a58bb0dd3683f0bb1d276902b6d3ec7/kyaml/yaml/rnode.go#L799

@SyamSundarKirubakaran would you like to pick this up?  We should also look for anywhere else we log Fatal

[2021-01-27 16:21] pwittrock commented on #3480
[code]

[2021-01-27 16:22] pwittrock commented on #3480
Add new function `MapOrDie()`

[2021-01-27 16:25] pwittrock commented on #3480
Also: https://github.com/go-yaml/yaml/issues/623

[2021-01-27 16:50] maurerbot opened #3509 "[Question] How to use the builtin generator plugins?"
I can't seem to get the builtin plugins working. When running `kubectl apply -k /src/dev` I'm thrown the following error:
`error: couldn't make target for ./minio: json: unknown field "generators"`

My /src/base/minio/kustomization.yaml
[code]

[code]

`{Version:kustomize/v3.9.1 GitCommit:7439f1809e5ccd4677ed52be7f98f2ad75122a93 BuildDate:2020-12-29T19:25:35Z GoOs:linux GoArch:amd64}`

Can't figur

[2021-01-27 16:59] natasha41575 commented on #3509
The version of kustomize in kubectl is not the most recent version. @monopole is currently working tirelessly on integrating the latest version of kustomize into kubectl.

To use a more recent version of kustomize you will have to use `kustomize build /src/dev | kubectl apply -f -`. Hopefully this will be fixed soon.

Also just a note but you have a typo in your apiVersion (kustomize is missing th

[2021-01-27 17:16] adrianmaurer commented on #3509
Thank you, that is working with one issue, in `minio.yaml` using `values: ./values.yaml` is throwing this error. In the tree you can see it. Without this filed it is fine?

[code]

[2021-01-27 17:20] natasha41575 commented on #3509
Could you provide the contents of your files so that we can reproduce the issue?

[2021-01-27 17:28] adrianmaurer commented on #3509
/src/dev/kustomization.yaml
[code]

/src/base/kustomization.yaml
[code]

/src/base/minio/kustomation.yaml
[code]

/src/base/minio/minio.yaml
[code]

/src/base/minio/values.yaml
[code]

[2021-01-27 17:31] adrianmaurer commented on #3509
It looks like an absolute path for values is working but not the relative path.

[2021-01-27 17:40] monopole commented on #1500
Update: targetting kubectl release v1.21, code freeze.

Per: https://www.kubernetes.dev/resources/release/

[v3.9.2]: https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.9.2

The best way to help on this issue is use and report bugs in the latest standalone version of kustomize in the _3.9_ series -  e.g. [v3.9.2].

This instance of the kustomize CLI uses the same libraries wh

[2021-01-27 18:19] Shell32-Natsu commented on #3509
#3435

The reason is how the PWD of helm command is determined. Will fix that.

[2021-01-27 18:21] Shell32-Natsu commented on #3508
You can use fieldSpecs like [here](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#_prefixsuffixtransformer_).

[2021-01-27 19:24] #3463 closed

[2021-01-27 20:14] peteroruba commented on #3508
@Shell32-Natsu thanks for your response, however, I'm not sure we're on the same page, so I'd like to add a few more details.

Below is what I have at the moment. I restrict the top transformation to "argocd" and "gitlab" named ArgoCD applications only and would like to do the same kind of regex restriction with the PrefixSuffixTransformer as well. However, adding the regex under target/name has n

[2021-01-27 20:18] Shell32-Natsu commented on #3508
Currently I think the `target` field is only supported in PatchTransformer. For other transformers you can only use `fieldSpecs` now. If you want to do prefix/suffix and use regex to select resource name you may have to implement your own plugin.

https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/

[2021-01-28 08:11] tomalbrecht opened #3511 "How to patch MetalLB with Kustomize?"
I am following [this kubeflow guide](https://www.kubeflow.org/docs/started/k8s/kfctl-istio-dex/#expose-kubeflow) and try to translate it into kustomize scripts. Most steps seem easy to translate, but I do not know how to patch `ipAddresses:` into `istio-ingressgateway-certs` with kustomize. Can anyone help me with this (I am quite new to kustomize).

The problem is, that this IP-Adress is only set

[2021-01-28 15:24] monopole commented on #3508
PTAL at  https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/customconfigofbuiltinplugin_test.go

[2021-01-28 15:24] #3508 closed

[2021-01-28 15:26] monopole commented on #3508
BTW, @peteroruba the documented examples clearly need some help!  Feel free to send PRs.

The unit tests in `api/krusty` have loads of examples, but there's no overview or guide to them.

[2021-01-28 20:16] lackhoa commented on #2934
This issue was closed, but has the issue been fixed?

[2021-01-28 20:39] natasha41575 commented on #2934
@lackhoa Yes, the issue has been fixed with the introduction of https://github.com/kubernetes-sigs/kustomize/pull/3159

The merge key for service ports has been changed from [port] to [port, protocol].

[2021-01-29 08:35] lackhoa commented on #2934
@natasha41575 I tested this on `3.9.2` and it's not working (but the OP's case worked):

# kustomization.yaml

[code]

# resource.yaml

[code]

# patch.yalm

[code]

# Result:

[code]

[2021-01-29 14:04] adrianmaurer commented on #3435
voting up that this gets fixed

[2021-01-29 14:31] adrianmaurer commented on #3435
@aogier do you you mean when you make a copy of the values file in `/prod-1` it is working? That pattern isn't working on my end.

[2021-01-29 14:42] aogier commented on #3435
@adrianmaurer long story short values file must be in your cwd. I've solved this with a wrapper that change dir when I build:

[code]

this wrapper is called `kustomize_1.9.1` and then call a `kustomize_1.9.1.real` binary that must be present and that's all. A little unfortunate but working

[2021-01-29 14:44] aogier commented on #3435
it obviously does no satisfy the case where you have a base which generate from helm and then you want to last-mile kustomize in overlays, there's no way to accomplish that ATM

[2021-01-29 15:07] adrianmaurer commented on #3435
I see. Yeah, that is unfortunate. What I've decided to move foward with is use a CWD relative path and use a transformer step using patches at the end to modify resources.

[2021-01-29 15:13] aogier commented on #3435
Eh if you can that's a good idea especially if you can control your cwd. I'm currently using it in argocd and I ended inflating in each overlay because while not DRY it's simpler than explaining to my ppl rationale behind such a fix :( let's hope for the future ciao

[2021-01-29 18:40] natasha41575 commented on #2934
@lackhoa would you mind filing a new issue for your use case and tagging me? I will start investigating this today and Monday

[2021-01-29 18:48] lackhoa opened #3513 "StrategicMergePatch messes up the ports"
StrategicMergePatch messes up the ports, when there are multiple protocols for the same port.
I tested this on `3.9.2`:

# kustomization.yaml

[code]

# resource.yaml

[code]

# patch.yalm

[code]

# Result:

[code]

[2021-01-29 18:49] lackhoa commented on #3513
@natasha41575 Here you go.

[2021-01-29 20:35] font opened #3515 "Ability to ignore files referenced in kustomization.yaml that may be missing"
**Is your feature request related to a problem? Please describe.**

I'm trying to use `kustomize build` to generate resources from a URL and receive the following error:

[code]

This is caused by a [`patchesStrategicMerge` file](https://github.com/open-policy-agent/gatekeeper/blob/201a78d6096e048719395263b87618ecb5235409/config/overlays/dev/kustomization.yaml#L7-L8) that is missing because it get

[2021-01-29 21:40] Shell32-Natsu commented on #3511
I am not pretty sure about your use case. And I am also not clear about "set a field dynamically". Do you mean the value of that field is determined by another condition? Or the value is determined during deployment?

[2021-01-29 21:42] Shell32-Natsu commented on #3515
@monopole Do you think this feature request makes sense?

[2021-01-29 23:07] bitscuit opened #3516 "[Question] Possible license incompatibility issue with golangci/golangci-lint"
The `api` module lists `github.com/golangci/golangci-lint` as a dependency https://github.com/kubernetes-sigs/kustomize/blob/api/v0.6.5/api/go.mod#L8, but `golangci-lint` is under the GPL-3.0 license https://github.com/golangci/golangci-lint/tree/v1.21.0. The entire `kustomize` project is under the Apache-2.0 license, so cannot include GPL-3.0 projects due to license incompatibility.

[2021-01-30 09:28] tomalbrecht commented on #3511
Thanks for your help, @Shell32-Natsu.

Right now I use a shell script to determine the address:

[code]

I want to "translate" this part into kustomize. Without the need running a shell script in the middle of my kustomize deployment. Does this help?

[2021-02-01 14:23] rob8714 opened #3520 "Patch to add label fails if label: {} is not in resources"
Hi

Came across a problem adding a label with the following files:

service.yml
[code]

kustomization.yaml
[code]

Running kustomize build . gives an error:

Error: add operation does not apply: doc is missing path: "/metadata/labels/testLabel": missing value

**Expected output**

[code]

**Actual output**

Error: add operation does not apply: doc is missing path: "/metadata/labels/testLabel": mis

[2021-02-01 17:22] neuromantik33 commented on #2037
/remove-lifecycle stale

[2021-02-01 17:54] Shell32-Natsu commented on #3520
That is how json patch works. To add label please use [LabelTransformer](https://kubectl.docs.kubernetes.io/references/kustomize/commonlabels/)

[2021-02-01 17:54] #3520 closed

[2021-02-01 18:07] rob8714 commented on #3520
This assumes that I want to add the label to all the resources... I want to add the label to just one resource so using the commonLabel is not really an option, what I provided in the above was a simple example.  It also assumes that the base layer needs to cater for possibilities that may be added in the overlays.

I will work around by adding label: {}, but it would be great if the documentation

[2021-02-01 18:10] Shell32-Natsu commented on #3520
If you want to use json patch, I assume you have clear understanding of it. Please take a look at the specification of `add` operation: https://tools.ietf.org/html/rfc6902#section-4.1.

[2021-02-01 18:16] rob8714 commented on #3520
Thanks for clarifying, I wasn't looking at the RFC but now I read through the section and understand :)

[2021-02-01 19:16] mnishizawa opened #3521 "[Question] Is it possible to patch by name or matcher rather than position?"
In all the examples I see for referring to a value to replace with patches, the reference looks something like
`  path: /spec/templates/0/inputs/parameters/2/default`

To me this seems like a potential issue if someone were to move the original value from one position to another.  Is there a way to use the name or some other kind of identifier so the path could be independent of the position?

[2021-02-01 20:08] Shell32-Natsu commented on #3516
@monopole Can you take a look at this?

[2021-02-01 20:10] Shell32-Natsu commented on #3521
I assume you are talking about json patch. Unfortunately this path format is defined in the json patch RFC and kustomize just follows it.

[2021-02-01 20:47] Aenima4six2 commented on #1696
Running into the same issue. Any newer ways to resolve this ?

[2021-02-01 21:28] tehmoon commented on #1696
@Aenima4six2 I ended up writing a transformer that executes a JQ filter, which suits my needs better as JQ is way more flexible. But it is more verbose as well.
The good thing about the transformers is that they are scoped in the current kustomization.yaml, meaning that, if you have some hierarchical kustomizations, they will be executed from bottom to top.

[2021-02-01 22:17] emailbob opened #3523 "Fail to decode yaml that has affinity with versions v3.9.x"
**Describe the bug**

Since kustomize 3.9.x when kustomize changed the way it manipulates YAML using the kyaml module I started getting this error

`2021/02/01 16:46:53 failed to decode ynode: yaml: unmarshal errors:
  line 97: mapping key "affinity" already defined at line 30`

When using the built in HelmChartInflationGenerator if the Helm values file has two affinities set for example
[code]

I

[2021-02-01 22:22] Aenima4six2 commented on #1696
Yeah, I basically have my plugin YAML replicated across each kutomize override directory. Would be nice to perform a strategic merge patch override, so only the bits that change between environments need to be present, but we can live with this for now.

[2021-02-02 12:47] sebastianbuechler opened #3526 "[Question] Kustomize set image not working in combination with base/overlays setup"
I am using the official GKE Deployment script for Github Actions. In the end we have there:
[code]
This works fine when I use a basic ` kustomization.yaml` and the respective definition files. When I switch to base/overlays with the following folder structure the kustomize `edit set image` call fails to replace the new image:

[code]

How can I use `edit set image` when I have multiple files in th

[2021-02-02 18:41] Shell32-Natsu commented on #3526
`edit set image` will set the image in the kustomization files in the *current working directory*. So you should cd into the directory and run it.

[2021-02-02 18:44] Shell32-Natsu commented on #3523
I believe this error is thrown by go-yaml. I suppose that a valid YAML file shouldn't have duplicate keys.

[2021-02-02 23:44] #3435 closed

[2021-02-02 23:44] #3509 closed

[2021-02-03 05:05] monopole commented on #3489
@sylr If you have time, please take a look at TestIssue3489 in api/krusty/namereference_test.go in #3529

It purports to cover  https://github.com/sylr/kustomize-crash-reproduction

Thanks for the report.  This will go out in release 3.9.3 this week.

[2021-02-03 09:55] sebastianbuechler commented on #3526
@Shell32-Natsu Thank you!

This works for me now:
[code]

[2021-02-03 09:55] #3526 closed

[2021-02-03 17:10] ricochet commented on #3264
We want to move from vars to setters to avoid being in a deprecation bind. Currently, we use vars to replace names. Because of how resources are identified in kustomize (name of the resource), we are unable to move.

A high-level example of how kustomize bases are being used: https://github.com/kubernetes-sigs/kustomize/issues/2052#issuecomment-577279491

Specifically, it's not being able to use a

[2021-02-03 18:01] drswobodziczka commented on #2408
@jeusdi  hey man! how did you solve your issue? i.e.: how did you manage to inherit labelsTransformer labels from base to have your overlay resources properly labeled?

[2021-02-03 18:20] drswobodziczka opened #3530 "[Question] How can I inherit from LabelTransformer?"
Are there any means of **inheritance** derived for kustomize objects?

Suppose I have:

- **LabelTransformer** defined in my base package
- **LabelTransformer** defined in my overlay package
- **Custom resource** defined in my overlay package

1. How to could I force kustomize to have my **Custom resource** labeled with both transformers? OR
2. Can I inherit from one label transformer in other one

[2021-02-03 18:35] #3198 closed

[2021-02-03 18:55] Shell32-Natsu commented on #3511
You can define your own [ExecPlugin](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/) and use your shell script.

[2021-02-03 19:04] #3489 closed

[2021-02-03 19:35] monopole commented on #3516
Thanks for asking.  That's not a library dependency.

See ./api/internal/tools/tools.go.  This is an install trick that gets the `go` tool to install a Go binary at a particular version (in this case a linter).  It presumably removes a step for contributors and cloud build environments.

We used to do this with a shell script (maybe we still do, not sure).

[2021-02-03 19:36] #3516 closed

[2021-02-03 19:41] Oliniusz opened #3531 "[Question] How to add labels idempotently?"
Hello Team, I need to be able to programmatically add labels to `kustomization.yaml` file where it can happen that the same label will be tried to be added again when rerunning a pipeline.

[code]

In contrast to that, I have no issues with adding previously added resources:

[code]

How could I do that preferably without using yq, grep, sed, awk or recreating the file from the scratch?

Please le

[2021-02-03 19:44] monopole commented on #3530
Kustomize doesn't recognize any kind of relationship between transformers and their configuration.

You're encouraged to use overlays to get what you want.

The security error you mention pops up only when your kustomization file specifies a raw file that's outside of it's own directory (sub-directories are ok).

See comments in https://github.com/kubernetes-sigs/kustomize/blob/master/api/loader/f

[2021-02-03 19:44] #3530 closed

[2021-02-03 19:46] monopole commented on #3531
That's looks like an easy thing to fix in the edit command (make it not complain if the label is there already).

Anyone want to make a PR?

[2021-02-03 19:48] monopole commented on #3521
#3492 talks about the general idea of grabbing data from some resource/field and writing it to some other field.

[2021-02-03 19:49] Shell32-Natsu commented on #3531
I can do it

[2021-02-03 19:49] monopole commented on #3505
Help wanted!

[2021-02-03 19:57] Shell32-Natsu commented on #3531
You can use `-f/--force` to avoid this error message.

[2021-02-03 19:59] monopole commented on #3513
Can someone make a PR with a test that reproduces this?

One could add it here
https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/multiplepatch_test.go
or just start a new file.

see https://kubectl.docs.kubernetes.io/contributing/kustomize/bugs/

[2021-02-03 20:03] natasha41575 commented on #3513
@monopole #3514 reproduces the issue, I'm planning to work on a fix this week

[2021-02-03 20:19] Oliniusz commented on #3531
Thank you, guys.

I can confirm `-f` is working for me:

[code]

[2021-02-03 20:40] #3531 closed

[2021-02-03 21:25] KnVerey commented on #3448
@monopole did you have a chance to look at my last comment? I'm glad to hear that this is just a bug, but it I tried the test I described again this morning, and I'm still getting the same error with the latest master branch. I'm also able to verify that the same error occurs for exec-based functions. My theory is that the calvinduplicator test isn't reproducing the bug because it is a `.so`-based

[2021-02-03 23:37] modevops commented on #2506
any update on this?

[2021-02-04 03:40] ordovicia commented on #3417
Seems that this issue is resolved in kustomize v3.9.2.
Thank you!

[code]

[2021-02-04 14:53] Zeioth commented on #2205
I'm just gonna revert version and pretend this never happened.

[2021-02-04 20:33] KnVerey commented on #3448
@monopole I attempted a fix for this: https://github.com/kubernetes-sigs/kustomize/pull/3534. I also noticed that deletion wasn't working either, so I addressed that as well. PTAL.

[2021-02-05 03:44] monopole commented on #3448
Ah that makes sense.  Thanks!

[2021-02-05 03:54] #3448 closed

[2021-02-05 03:56] monopole commented on #3448
PS, will build a new release with this after friday.

[2021-02-05 17:07] snuggie12 commented on #3414
@Shell32-Natsu Can both be used at once? If I call LabelTransformer with my special config and commonLabels will commonLabels still try to apply to the knative service?

[2021-02-05 17:23] snuggie12 opened #3536 "Add ability to use another runtime besides docker for krm function image plugins"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
We're considering adding krm functions as image plugins to our setup, but we use argocd to deploy without any CI systems.

This leaves us with a few options I can think of:
- Everything must be run client-side and checked into git requiring our devs to have docker setup and remember to run kust

[2021-02-05 18:50] Shell32-Natsu commented on #3536
That sounds like a reasonable solution.

If your CD tool can run the executable exec plugin then I guess you don't need to configure every dev env?

Currently we have no plan to add support for other KRM function runtime.

[2021-02-05 18:56] Shell32-Natsu commented on #3414
@snuggie12 Good question. I suppose they can be used at once but I haven't confirmed it in practice.

[2021-02-05 20:28] wolfmah opened #3537 "Transformer ValueAdd should allow escaping forward slash"
**Describe the bug**

When using ValueAdd transformer, it is not possible to add a label/annotation that contains a forward slash (`/`).

**Files that can reproduce the issue**

Example:

kustomization.yaml
[code]

deployment.yaml
[code]

transformer.yml
[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

`{Version:kustomize/v3.9.2 GitCommit:e98eada7365fc564c9aba

[2021-02-06 00:31] #3228 closed

[2021-02-06 00:31] #3455 closed

[2021-02-06 01:07] natasha41575 commented on #3228
@michaelurban the feature is done and will be available in the next release

[2021-02-06 14:32] asmirnoff commented on #2339
Still does not work for Argo Rollouts, can anyone give an ETA?

[2021-02-07 03:58] vvavepacket opened #3542 "[Question] How do we change the image of non-deployment resource"
Typically if we have a deployment and we want kustomize to change it we do the following command

`kustomize edit set image xxxxx.dkr.ecr.us-east-1.amazonaws.com/janestreet/hft:${env.GIT_COMMIT}"`

But how do we use the edit set image command to a non deployment resource (like some custom CRDs) like below?

In this case, how do we change this image `gcr.io/spark-operator/spark:v3.0.0` below using

[2021-02-07 10:38] afirth commented on #2803
@monopole
I totally understand your reasoning that it's hard from an implementation perspective, however I'm not sure with your justification from a design perspective
1) `make -C <dir> <target>` works fine and `make -f <file> <target>` as well
2) My understanding is that `git` does not support nested gits. That is, it's not supported to have a `.git` folder further down the tree than another unle

[2021-02-07 11:08] afirth commented on #2803
just found another use case, but this is a firm *against* I think, which is currently not possible as far as I can tell:
[code]
would become
[code]

You could argue that `--load_restrictor=none` could be used here, but that's currently not valid for this command, I assume because it would generate a kustomization that is then insecure and cannot be used without `load_restrictor none`. Of course, l

[2021-02-07 11:24] michaelurban commented on #3228
@natasha41575 Thanks for taking this on!

[2021-02-07 16:15] Markd-One commented on #3504
Ran into same issue. It seems there was PR https://github.com/kubernetes-sigs/kustomize/pull/674 was supposed to add binaryData support but does not seem to be working.

[2021-02-08 12:34] michaelurban commented on #3228
@natasha41575 Just tried the new release. Pretty neat to see a significant amount YAML that you thought should have worked a few months suddenly start working. Thanks.

[2021-02-08 15:50] taurelius opened #3547 "Broken link on kustomize.io homepage"
**Describe the bug**
This `apply -k` link on the landing page leads to a 404, I believe it should be pointing to https://kubectl.docs.kubernetes.io/guides/config_management/introduction/ instead of https://kubectl.docs.kubernetes.io/pages/app_management/introduction.html

![image](https://user-images.githubusercontent.com/22025115/107243115-98cef900-6a24-11eb-8005-b102646b2b90.png)

Similar to #34

[2021-02-08 18:35] Shell32-Natsu commented on #3547
For the issue on website kustomize.io, please contact contact@replicated.com.

[2021-02-08 18:39] Shell32-Natsu commented on #3542
Please use [ImageTagTransformer](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#_imagetagtransformer_)

[2021-02-08 18:39] #3542 closed

[2021-02-08 20:12] Shell32-Natsu commented on #3504
@haisum The zip file only contains 2 empty directories. Did you miss the resource files?

[2021-02-08 20:38] haisum commented on #3504
@Shell32-Natsu sorry! check the attached file now
[Archive.zip](https://github.com/kubernetes-sigs/kustomize/files/5946684/Archive.zip)

[2021-02-08 21:39] #3537 closed

[2021-02-09 00:37] james-callahan opened #3555 "Flag to turn off submodule cloning for remote git resources"
**Is your feature request related to a problem? Please describe.**

We'd like to reference a remote base:

[code]

However the repository has multiple large submodules (each multiple gigabytes) that result in hitting the git clone timeout of 27 seconds (https://github.com/kubernetes-sigs/kustomize/blob/065b14c5c543a5fb11d8aeb451d34821ee11f2a0/api/internal/git/gitrunner.go#L16).

I know that the ba

[2021-02-09 01:07] monopole commented on #3304
I'm calling this done.  All remained branching has been marked as OK, and the k8s.io deps are being removed.

[2021-02-09 01:07] #3304 closed

[2021-02-09 11:21] jonaskello opened #3559 "Let kyaml keep white space formatting"
**Is your feature request related to a problem? Please describe.**

Using [fluxcd2](https://github.com/fluxcd) with ImageUpdateAutomatation it will rewrite the kustomization.yaml file using kyaml and in doing so all whitespace is altered. Flux will commit these changes back into a gitops repo. In that commit the whole file looks like it has changed but all changes are whitespace only except for on

[2021-02-09 16:48] #3513 closed

[2021-02-09 17:11] natasha41575 commented on #3513
@lackhoa Thank you for filing the isssue, it should be fixed now and will be available in the next release

[2021-02-09 22:30] #2506 closed

[2021-02-09 23:47] jacoboldroyduvu opened #3570 "CommonLabels don't apply to configMapGenerators"
# Describe the bug
If commonLabels are used in the base kustomization.yaml as well as the kustomization.yaml of your patch, the commonLabels in both kustomization get merged corectly. However, if in the kustomization.yaml of your patch you also have a configMapGenerator, only the commonLabel in the patch's kustomization.yaml will be applied.

# How to reproduce the issue
base/kustomization.yaml
[c

[2021-02-10 00:23] monopole opened #3571 "install_kustomize.sh screws up on minor version gt 9"
bash, why do we use it?

[2021-02-10 00:30] #3571 closed

[2021-02-10 00:54] aariacarterweir commented on #3485
Same here... bit weird

[2021-02-10 05:22] monopole commented on #2893
Yes, quite some time ago.

[2021-02-10 05:22] #2893 closed

[2021-02-10 10:12] rochacon commented on #3523
Seems like this is a duplicate of #3480

[2021-02-10 10:59] afirth commented on #1216
this closed a year ago, is there some other functionality that replaces it? cc @monopole ?

[2021-02-10 11:37] afirth commented on #306
This is documented here:
https://kubectl.docs.kubernetes.io/guides/example/inline_patch/#patchesstrategicmerge

courtesy of https://github.com/kubernetes-sigs/cli-experimental/pull/55
maybe /close ?

[2021-02-10 16:23] matkosoric opened #3574 "[Question] plugin was built with a different version of package github.com/pkg/errors"
I am following these instructions to create custom plugin:
https://github.com/kubernetes-sigs/kustomize/blob/kustomize/v3.10.0/examples/secretGeneratorPlugin.md

However, there is an error caused by dependencies mismatch:

`Error: loading generator plugins: plugin kustomize/plugin/someteam.example.com/v1/secretsfromdatabase/SecretsFromDatabase.so fails to load: plugin.Open("kustomize/plugin/somete

[2021-02-10 18:13] Shell32-Natsu commented on #3574
This is a very annoying issue in Go and I think there is no generic solution. I suggest to use exec plugin instead of Go plugin. Go plugin has its benefit, like easier to convert to built plugin but the problems like this make it less useful.

[2021-02-10 18:14] #306 closed

[2021-02-10 18:16] Shell32-Natsu commented on #3523
@rochacon Thanks for pointing out. It's duplicate.

Duplicate of #3480

[2021-02-10 18:16] #3523 closed

[2021-02-10 19:01] monopole opened #3575 "`kustomize edit add *.yaml` adds the kustomization file itself."

[2021-02-10 19:25] monopole opened #3576 "`kustomize edit` command appears to drop `metadata` field"

[2021-02-10 22:35] monopole opened #3578 "The resource loader requires too many deps."
The resource loader was expanded (#2278) to use a fork of hashicorp/go-getter.

This getter conveniently allows fetching resource yaml from a wide variety of sources.

however

 - the go-getter's license is not on the CNCF approved [LICENSE list].
 - using it explodes deps, because it wraps _N_ adapters around _N_ independent fetchers (and _N_ grows).

Unfortunately, this feature has to be quickly

[2021-02-11 14:54] tomalbrecht commented on #3511
Thank a lot, we will take a look.

[2021-02-11 16:52] alexal commented on #3575
@monopole I've reproduced the problem, but with slightly different command `kustomize edit add resource *.yml`. That will add kustomization.yml file into kustomization.yml file itself. If you do not mind, please assign this issue to me and I will work on it.

[2021-02-11 17:44] Shell32-Natsu commented on #3575
@alexal Thanks a lot!

[2021-02-11 20:30] Shell32-Natsu commented on #3559
Can you provide an example that can demonstrate what kind of whitespace format is changed?

[2021-02-11 20:35] Shell32-Natsu commented on #3570
The version of kustomize that shipped with kubectl is very old. Please try the latest kustomize.

[2021-02-11 20:36] alexal commented on #3575
Please see PR #3582.

[2021-02-11 20:40] #3547 closed

[2021-02-11 20:58] ephesused commented on #2767
For posterity, both v3.9.4 and v3.10.0 retain disappearing-act instead of take-over-the-world (v3.9.3 retains take-over-the-world).

[2021-02-11 21:16] jonaskello commented on #3559
Yes, see screenshot below (it only shows the head of the file, it is longer with more diff in total). The only real change, discounting whitespace, is the `newtag` field.

![image](https://user-images.githubusercontent.com/664076/107699501-73591e00-6cb6-11eb-911c-9bfa20cf103f.png)

[2021-02-11 21:17] jacoboldroyduvu commented on #3570
Same issue.
# Kustomize v3.10.0
[code]
# Results Using Latest Kustomize
[code]

# Simple Test Yaml
/base/kustomization.yaml
[code]
/dev/kustomization.yaml
[code]

[2021-02-11 21:39] Shell32-Natsu commented on #3570
This is expected behavior. Your `test-properties` is defined in the overlay and the commonLabel `app.domain.com/environment: dev` is also in overlay. The transformers defined in overlay will be applied to all the resources from bases and overlay. However, the transformers in base will be only applied to the resource in base.

[2021-02-11 22:02] jacoboldroyduvu commented on #3570
Well... I'm very much interested in adding that functionality. I was hoping that commonLabels would apply to all objects. This is very disheartening.

[2021-02-11 22:06] Shell32-Natsu commented on #3570
kustomize works in a layer pattern. Lower layers (bases) cannot access the resources that are in higher layers. If you want to expand the scope of the resources than increase the level for your transformers.

[2021-02-11 22:06] #3570 closed

[2021-02-11 23:52] monopole opened #3585 "Feature req: a non-builtin plugin that accepts a hashicorp go-getter URL"
[go-getter URL]: https://github.com/hashicorp/go-getter#url-format
[LICENSE list]: https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#cncf-allowlist-license-policy

Need a generator plugin (exec or container based, not shared lib based) that accepts
one or more [go-getter URL]s in its configuration and pulls it into the kustomize
pipeline.

Background:  go-getter'

[2021-02-12 00:36] natasha41575 commented on #3575
Fixed via #3582. Thanks!

[2021-02-12 00:36] #3575 closed

[2021-02-12 01:12] #3504 closed

[2021-02-12 03:14] #3578 closed

[2021-02-12 09:01] dulltz opened #3587 "`kustomize edit add resource` deletes comment lines"
**Describe the bug**

After I ran `kustomize edit add resource`, the comment lines in `resources` are removed.

**Files that can reproduce the issue**

- kustomization.yaml
[code]
- foo.yaml (empty ok)

and run the following command

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

[code]

[2021-02-12 10:39] stefanprodan commented on #3559
kyaml alos borks ConfigMaps, ref: https://github.com/fluxcd/image-automation-controller/issues/68#issuecomment-745187641
![102201067-e831f680-3ec5-11eb-9c6a-b3f3054c4bbe](https://user-images.githubusercontent.com/3797675/107758229-43019600-6d2f-11eb-9555-fa384db341e9.png)

[2021-02-12 11:08] afirth commented on #2782
this is unbelievably useful for patching upstream code which targets more recent k8s than yours (particularly from helm3 template which dropped `--kubernetes-version` support. I am dropping this on these issues as google led me here.

[code]

[2021-02-12 11:10] afirth commented on #61
@reith put the breadcrumb i needed

[code]

much obliged

[2021-02-12 11:33] Vaibhav619 commented on #3443
@monopole
I am also facing. same issue.
Tried the below one but didn't help
[code]
 my go.sum dependency for kustomize is
[code]

Error coming
[code]

[2021-02-12 17:08] monopole opened #3588 "Clean up after apimachinery dep deletion"
The work leading up to #2506, and the residue of a previous approach to kubectl integration, resulted in interfaces and implementations of those interfaces that are no longer needed now that #2506 is closed.

Things to delete (maybe not a complete list)
- interfaces
  - ifc.Kunstructured
  - ifc.Validator
  - resource.ConflictDetector
- everything in packages
  - `api/wrappy` (push `WNode` functio

[2021-02-12 17:44] Shell32-Natsu commented on #3559
@monopole This is an example of the indentation differences in go-yaml.

@stefanprodan What's the version of kustomize are you using. The issue in your image is different from the one that @jonaskello reported.

[2021-02-13 14:13] stefanprodan commented on #3559
@Shell32-Natsu [fluxcd/image-automation-controller](https://github.com/fluxcd/image-automation-controller) doesn't uses kustomize as a whole, but kyaml as a library: https://github.com/fluxcd/image-automation-controller/blob/main/go.mod#L34

[code]

[2021-02-13 18:05] Vaibhav619 opened #3602 "kustomize and github.com/swaggo dependency conflict"
With gihub swaggo build is failing with the error:

**kustomize@v2.0.3+incompatible/pkg/transformers/config/factorycrd.go:71:47: cannot use api.Schema.SchemaProps.Properties (type spec.SchemaProperties) as type myProperties in argument to looksLikeAk8sType**

Any help how can i resolve this??

[2021-02-13 19:12] #2996 closed

[2021-02-13 21:07] monopole commented on #3602
That's not enough detail to diagnose.

Lines like this are good:
[code]
also you might want to explicitly exclude:
[code]

reopen if this doesn't help, and attach your `go.mod`

[2021-02-13 21:07] #3602 closed

[2021-02-14 09:29] Vaibhav619 commented on #3602
My go.mod file
[code]
My error logs when tried to build

[code]

[2021-02-14 09:36] Vaibhav619 commented on #3602
@monopole
It started coming once i added
[code]
Earlier it was working fine.

[2021-02-14 20:22] brianpursley commented on #2789
I submitted a PR to go-getter, but it never really got traction.

the problem is basically due to go-getter improperly interpreting the colon after a Windows drive letter as the delimiter of the protocol version of a URL, so it doesn’t see it as a file.

As a workaround, you should be able to do something like `file:///C:/Users/nick/scratch` instead of `C:\Users\nick\scratch`

Otherwise, I think t

[2021-02-15 04:47] MaisaDaoud commented on #1033
non of the solutions worked for me, any help please

[2021-02-15 06:44] 110y opened #3605 "`kustomize build` cause the panic with non-ASCII characters"
**Describe the bug**

When I execute `kustomize build` with patches including comments with non-ASCII characters, it cause the panic like below:

[code]

**Files that can reproduce the issue**

I've created the repository which can reproduce this issue: https://github.com/110y/kustomize-issue-3605

[code]

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

- Lin

[2021-02-15 09:52] Jackbennett opened #3607 "[Question]Registry images missing 3.10 & 4.0.1"
It's barely a week since release but does CI not publish containers? - https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/kustomize/kustomize

Thanks for landing the various updates.

[2021-02-15 20:30] chicocvenancio opened #3609 "Multiple matches for Id after kustomize v3.9.3"
**Describe the bug**
Up until kustomize v3.9.2 it was possible to reuse a base in different overlays and use both the original and an overlay in a final overlay as long as the resource name was changed. Since kustomize v3.9.3 this returns an error `Error: multiple matches for Id apps_v1_Deployment|~X|deployment; failed to find unique target for patch` apps_v1_Deployment|deployment

**Files that ca

[2021-02-16 01:47] hansanghoon commented on #3605
I have different observation regarding placement of the comment.

This doesn't cause problem in 4.0.1

[code]

Those below cause problem.

[code]

or

[code]

[code]

[code]

[2021-02-16 05:35] natasha41575 commented on #3609
Thanks for submitting the issue and a test for it! I've reviewed your PR and left a couple comments

[2021-02-16 11:28] pentago opened #3610 "kustomize changing the yaml formatting"
Opening as per unresolved #291

I've been using a specific yaml format for the kustomization.yaml files. It seems though that when I run the command `kustomize edit set image <image>` the file is reformatted. This is annoying when using gitops as its hard to see what's changed.

Basically, it reindents the resulting file.

My kustomization.yaml template:

- prior to setting image: https://i.imgur.

[2021-02-16 14:59] SaigyoujiYuyuko233 commented on #880
I have the same issue. When I use kustomize to generate manifest for cert-manager, kustomize overwrite the namespace for cert-manager's rbac resources from ``kube-system`` to the namespace I set which cause a lot of problem.....

[2021-02-16 17:50] Shell32-Natsu commented on #3559
@stefanprodan OK that should be a different issue.

[2021-02-16 17:50] Shell32-Natsu commented on #3610
Duplicate of #3559

[2021-02-16 17:50] Shell32-Natsu commented on #3610
We know this issue. Please use #3559 to discuss.

[2021-02-16 17:50] #3610 closed

[2021-02-16 17:52] Shell32-Natsu commented on #3607
The k8s official images are needed to be added manually. Will do it soon.

[2021-02-16 17:54] Shell32-Natsu commented on #3605
https://github.com/kubernetes-sigs/kustomize/issues/3417#issuecomment-754826359

We need to update go-yaml version but it introduces some other changes so we haven't decided.

@monopole Another reason to update go-yaml version.

[2021-02-16 17:56] Shell32-Natsu commented on #1033
@MaisaDaoud If you are using `go get` to install, the binary should be in `GOPATH/bin`.

[2021-02-16 19:08] Shell32-Natsu commented on #3607
https://github.com/kubernetes/k8s.io/pull/1658

[2021-02-16 19:08] Shell32-Natsu commented on #3607
New images will be available after the PR merged.

[2021-02-16 19:08] #3607 closed

[2021-02-16 19:25] realshuting commented on #2986
How can this be done using Kustomize?

[2021-02-16 20:32] MaisaDaoud commented on #1033
I tried different ways and  the only thing worked for me is by setting the path as mentioned here: https://www.kubeflow.org/docs/other-guides/kustomize/.  Thank you

[2021-02-16 20:33] MaisaDaoud commented on #1033
I tried different ways and  the only thing worked for me is by setting the path as mentioned here: https://www.kubeflow.org/docs/other-guides/kustomize/.  Thank you

[2021-02-16 22:05] Shell32-Natsu commented on #3576
Which command in `kustomize edit` will drop the `metadata`? I have tried some of them but don't find it.

[2021-02-16 23:09] #3576 closed

[2021-02-17 07:15] hansanghoon commented on #3485
4.0.1 still has problem. I think this should have more priority as this will hinder people from upgrading.

[2021-02-17 12:01] rkr-kununu opened #3614 "YAML anchors and aliases return error on List types"
**Describe the bug**

There appears to be a bug regarding how kyaml deals with yaml anchors and alises.  This issue effects kustomize v3.9.2 - v4.0.1

**Files that can reproduce the issue**

kustomization.yaml
[code]

test.yaml
[code]

**Expected output**

Using kustomize v3.9.2, I can run the above code successfully via `kustomize build . --enable_kyaml=false`

[code]

**Actual output**

Using ku

[2021-02-17 14:11] LittleChimera commented on #3429
@phanimarupaka can you clarify deprecation statement? Is the whole Krmfile going to get deprecated or just some aspects of it?

[2021-02-17 18:08] erir910 commented on #3262
Why is this closed? Did anybody manage to solve this @geokb, @dsimansk, @Shell32-Natsu ?

[2021-02-17 18:12] erir910 commented on #3443
Did you manage to solve this issue @Vaibhav619 ?
Why is the norm among Golang people to close unresolved issues?

[2021-02-17 18:18] erir910 commented on #3443
@monopole  You closed the issue and at the same you don't want to accept the pull request the solves the issue.

[2021-02-17 19:04] Shell32-Natsu commented on #3614
Possibly related with #3500

[2021-02-17 19:05] Shell32-Natsu commented on #3205
/remove-lifecycle stale

[2021-02-17 19:08] Shell32-Natsu commented on #3262
@erir910 If you involved old version of kustomize via kubectl, you may need to wait for a couple of days. We are nearly finishing the reintegration for kustomize and kubectl.

[2021-02-17 19:38] george-angel commented on #1424
/remove-lifecycle stale

[2021-02-17 21:47] erir910 commented on #3262
@Shell32-Natsu thanks! does that mean it is coming in v0.20.x? as for my case, I didn't actually add kustomize dependency, it's automatically added because I imported helmv3 as a library. I am afraid even if you fix this, I have to wait until helm guys update their kubectl dependency too.

[2021-02-17 22:35] Shell32-Natsu commented on #3262
@erir910 We want to do it ASAP but it not a trivial change for kubectl.

[2021-02-17 22:50] gdoctor commented on #727
What disadvantage(s) would applying the patches in order have?

The scenario I am trying to implement is:
1. Update the name of my deployment resource from `busybox` to `busybox-2`.
2. After updating the name, I want apply a patch to the newly named resource `busybox-2`.

If the patches are applied in a "random" order, the second patch would fail if applied prior to #1.

[2021-02-17 23:16] natasha41575 commented on #3492
Planning to pick this up after completion of https://github.com/kubernetes/enhancements/issues/2206
If someone else wants to pick this up before I get to it, feel free

[2021-02-18 01:53] r0bj opened #3616 "$patch: delete on an object results: signal SIGSEGV: segmentation violation"
`$patch: delete` on an object results:
[code]

Example
workloads.yaml:
[code]

kustomization.yaml:
[code]

Execution:
[code]

Tested kustomize versions:
- v3.10.0
- v4.0.1

Result is similar.

[2021-02-18 03:06] Vaibhav619 commented on #3443
@erir910 I am not able to solve the issue. Issue is still there for me.

[2021-02-18 10:46] pst commented on #3614
This issue affects the TektonCD [release.yaml](https://github.com/tektoncd/pipeline/releases/download/v0.20.1/release.yaml). Any Kustomize version after `v3.8.10` will fail with the following error:

[code]

The full YAML is linked from upstream above. But the root cause seems to be this spec.versions that's part of many of Tekton's CRDs:

[code]

[2021-02-18 14:06] yhrn opened #3618 "Support go 1.16 module aware install with version"
**Is your feature request related to a problem? Please describe.**

Go 1.16 supports installing tools via `go install [package@version]`, which will build and install a specific version of that tool without interacting with the local go.mod. This does not work for Kustomize because its go.mod contains replace and exclude directives (more context [here](https://github.com/golang/go/issues/40276)).

[2021-02-18 17:32] natasha41575 commented on #3616
taking a look now, thank you for filing the bug

[2021-02-18 17:40] Shell32-Natsu commented on #3616
@natasha41575 Thanks!

[2021-02-18 17:44] Shell32-Natsu commented on #3618
The replacements are not included  in the a released version I believe. Are you trying to install a specific commit?

[2021-02-18 17:46] yhrn commented on #3618
No I was just doing `go install sigs.k8s.io/kustomize/kustomize/v4@v4.0.1`

[2021-02-18 17:49] Shell32-Natsu commented on #3618
https://github.com/kubernetes-sigs/kustomize/blob/516ff1fa56040adc0173ff6ece66350eb4ed78a9/kustomize/go.mod

Ok so the problem is `exclude`. @monopole can you take a look?

[2021-02-18 19:09] #2268 closed

[2021-02-18 19:40] natasha41575 commented on #2825
After some discussion with @monopole, the SIG-CLI group and others, we have created a KEP to allow users to specify their own custom schema files. See kubernetes/enhancements#2206

When this is implemented you will be able to fetch the openapi schema from your kubernetes cluster, change the merge keys, and use your custom schema via an openapi/path field in the kustomization file. Hopefully that i

[2021-02-19 01:59] taneliang opened #3620 "`protocol` field in base config ports spec sometimes results in an empty ports list"
**Describe the bug**

If a `protocol` field is specified in a service's ports spec in the base config, it will be omitted from the build output if the patch also has a ports spec with the same port numbers. More variations tried are listed at the bottom.

**Files that can reproduce the issue**

https://github.com/taneliang/kustomize-protocol-issue-repro. Reproduced below for convenience:

kustomiz

[2021-02-19 18:32] #3616 closed

[2021-02-19 19:11] nelaaro opened #3622 "Errors should include the files causing the issues where possible."
**Files name and location should be included in errors where possible.**
I recently got this error

    kustomize  build yaml/overlays/testing
    kustomize  --stack-trace build yaml/overlays/testing
    kustomize  build --stack-trace yaml/overlays/testing --stack-trace
    kustomize  build --stack-trace yaml/overlays/testing --stack-trace
    kustomize  build yaml/overlays/testing  --stack-trace

[2021-02-19 19:18] Shell32-Natsu commented on #3622
kustomize reads the *resource* from files and then use apply process on *resources* and has no knowledge about the file. So currently we cannot have the file path which contains the resource.

[2021-02-20 09:46] qnapnickchang opened #3623 "[Question] Support podAntiAffinity"
Hi,

We want to deploy same service to different worker nodes.
If I have a lot of deployment, How to write a template for any deployment?

below is our sample :
[code]

Thanks

[2021-02-20 18:32] haslersn commented on #677
Is this fixed? Otherwise, please reopen.

[2021-02-20 20:09] atmosx commented on #347
I'd like to be able to dynamically add/remove/edit hosts during deployments. I need to deploy one namespace and ingress per branch, all other things being equal. IMO adding ingresses dynamically should as easy as adding labels, e.g.:

[code]

My use case is simple so I can reliably use `sed` and/or `envsubst`, but I find it strange that the ability to modify an ingress is missing.

[2021-02-21 07:48] pz-ops commented on #3504
I tested the example https://github.com/kubernetes-sigs/kustomize/pull/3584/commit/6518393f5d0e2c6dced984ee377bc8ff1fa71911 doesn't work for me.
I get data, not binaryData. Can you provide documentation about this story?

[2021-02-21 19:08] nelaaro commented on #3622
Hi

I kinda understand what you are saying.

What doesn't make sense to me is if I give kustomize a path say `/yaml/base` inside that path is a file
`kustomization.yaml`. You have to parse that file to find the bases, and resources that need to be processed.

You should have some context as to what path the `kustomization.yaml` was found in.
What bases / paths it has asked the parse to add to the

[2021-02-22 08:47] basefas opened #3624 "[Question] kustomize plugin custom"
Hello，I want to develop my own kustomize plugin, so I follow the guide
https://kubectl.docs.kubernetes.io/guides/extending_kustomize/gopluginguidedexample/
to install kustomize.

Then I copy all files in
https://github.com/kubernetes-sigs/kustomize/tree/master/plugin/builtin/configmapgenerator
instead of clone the sopsencodedsecrets project as my own plugin, and rename configmapgenerator as config

[2021-02-22 16:19] dejoost opened #3625 "re-introduce section on app management in kustomize docs"
After the documentation was re-organised lots of the experimental docs were gone although they provided a good starting point on how to leverage kustomize. Currently the docs only handle the bare minimum of kustomize.

I propose content at least app config mgmt to be added or linked through at https://kubectl.docs.kubernetes.io/references/kustomize/. (I don't even know if the docs I found are arch

[2021-02-22 18:16] Shell32-Natsu commented on #3624
The output is correct. `|2` is used to specify the multiple string style.

BTW, we don't encourage users to use Go plugin now because the Go compatibility issues. Try to use exec plugin.

[2021-02-22 18:17] #3624 closed

[2021-02-22 18:29] Shell32-Natsu commented on #3622
Kustomize knows the current directory for the current kustomization, but for an individual resource, its location is not necessarily related to this path. It can be a remote file, a generated resource etc.

[2021-02-22 18:31] Shell32-Natsu commented on #3504
@pz-ops Which version of kustomize are you using?

[2021-02-22 18:33] Shell32-Natsu commented on #3623
A generic method is creating a base `Deployment` which contains common fields for all deployments. Then for each deployment create a overlay and add customize information.

[2021-02-22 18:34] Shell32-Natsu commented on #3248
/remove-lifecycle stale

[2021-02-22 18:41] pz-ops commented on #3504
I created an alpine container from an updated wizard. I've installed bash in a container but cannot get the version from the container.
[code]

[2021-02-23 01:21] monopole commented on #3443
@Vaibhav619 Are you intentionally depending on

[code]

That release was made almost two years ago.

It's ok to use old versions, but i'd like to reproduce the error.

Can you point to a go.mod file in github that's using this?  I'd like a clearer picture of the use case.

@erir910, @uid09552 #3444 is reopened, but still needs a signed CLA.

[2021-02-23 04:17] monopole commented on #727
There are two notions of ordering.

First, there's an implicit ordering in a depth-first traversal of overlays and bases.   A base is always "inflated" before being considered in an overlay, so patches at the bottom are applied first.  This is what one would expect.

Second, in a given kustomization file, there are _list_ fields describing patches
 - `patchesStrategicMerge`
 -  `patchesJson6902`

[2021-02-23 04:24] erir910 commented on #3443
My problem isn't that I import kustomize directly, my problem is I imported `helmv3` packages which import `kubectl` package which in turn imports `kustomize v2.0.3+incompatible`. Removing my helmv3 dependent code makes the build succeed

[2021-02-23 20:15] HansK-p commented on #3446
I have the same issue when using example code from https://istio.io/latest/docs/reference/config/security/peer_authentication/:
<pre>
apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
  namespace: foo
spec:
  selector:
    matchLabels:
      app: finance
  mtls:
    mode: STRICT
  portLevelMtls:
    8080:
      mode: DISABLE
</pre>

I'm also using similar cod

[2021-02-24 03:43] zhouhaibing089 opened #3626 "kustomize build: could not find expected ':'"
`kustomize build` complains invalid YAML even though the YAML is well formatted(for e.g, `yamllint` reports no error ).

### kustomization.yaml

[code]

### resources.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

macOS

**Additional context**

`kustomize build` works when I change the `resources.yaml` to be:

[code]

See the diff

[2021-02-24 03:44] zhouhaibing089 commented on #3626
/kind bug

[2021-02-24 03:56] zhouhaibing089 opened #3627 "kustomize performance difference between v4.0.1 and v2.0.3"
I have a reasonable size of directory which I can run kustomize build.

[code]

The target file is **308k**.

I can observe a huge performance drop when upgrading kustomize from v2.0.3 to v4.0.1

### v4.0.1

[code]

### v2.0.3

[code]

**Platform**

macOS

**Additional context**
None

/kind bug

[2021-02-24 10:59] tullo opened #3628 "go install sigs.k8s.io/kustomize/kustomize/v4@v4.0.1"
Experienced with:

`go version go1.16 linux/amd64`

**Describe the bug**

`go install sigs.k8s.io/kustomize/kustomize/v4@v4.0.1`

**Expected output**

Installation succeeds.

**Actual output**

Installation fails:
[code]

[2021-02-24 11:46] yurigene commented on #1342
Still having the same issue in 2021!
kubctl & kustomize versions:
[code]

After running `kustomize edit set image` bases was changed to resources, but when after that I run `kubectl apply -k .` getting following error:
`error: rawResources failed to read Resources: Load from path ../../base failed: '../../base' must be a file`

[2021-02-24 17:26] Shell32-Natsu commented on #3628
Duplicate of #3618

Looks like an issue with Go 1.16. You can use this [script](https://github.com/kubernetes-sigs/kustomize/blob/master/hack/install_kustomize.sh) to install kustomize binary.

[2021-02-24 17:26] #3628 closed

[2021-02-24 17:36] Shell32-Natsu commented on #3627
Kustomize needs to do lots of internal works to remove apimachinery deps and reintegrate with kukectl. We will work on removing these additional works after that.

[2021-02-24 18:31] Vaibhav619 commented on #3443
@monopole
Please find my go.mod file
My go.mod file
[code]
My error logs when tried to build

[code]

@monopole
After adding this build started failing

[code]

[2021-02-25 03:38] #903 closed

[2021-02-25 04:44] james-callahan commented on #3276
/remove-lifecycle stale

[2021-02-25 10:43] benjamin-bergia opened #3635 "Offer the option to use annotations instead of hash suffix in ConfigMap generator"
**Is your feature request related to a problem? Please describe.**
I use the CM generator to generate pretty much all my CMs. I like the the hash suffix feature that trigger a rollout of all my deployments when my configuration changes. Unfortunately in some cases, I want to reference these CMs in applications that are not managed by kustomize or part of a different project. This means that I have

[2021-02-25 14:20] george-angel commented on #3497
Hello, should I open a new issue?

[code]

[code]

[2021-02-25 18:35] yurigene commented on #1342
For those who still facing this problem there is a step by step explanation: https://codeflex.co/github-actions-deployment-to-eks-with-kustomize/

[2021-02-25 18:38] #3623 closed

[2021-02-25 18:43] Shell32-Natsu commented on #3635
You can take a look at [exec plugin](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/) to create your own plugin.

[2021-02-26 08:19] benjamin-bergia commented on #3635
@Shell32-Natsu I don't think it's possible. It means writing an exec plugin that re-implement almost exactly what the configmap generator does. Also the complicated part of the configmap generator is not generating the configmap (it's already illustrated in the doc you sent), it's the logic to update references.

[2021-02-26 09:46] mhubig opened #3639 "kustomize crashes on the current (v0.21.0) tekton release manifest yaml"
**Describe the bug**

kustomize crashes on the current (v0.21.0) tekton release manifest yaml

**Files that can reproduce the issue**

[code]

I think this is because of the [strange merge syntax](https://yaml.org/type/merge.html) within the manifest:

[code]

**Kustomize version**

{Version:kustomize/v4.0.1 GitCommit:516ff1fa56040adc0173ff6ece66350eb4ed78a9 BuildDate:2021-02-14T05:58:54+00:00 GoO

[2021-02-26 13:18] lovell commented on #2803
If your shell supports them, using `pushd` and `popd` provides a slightly cleaner approach than a subshell.
[code]

[2021-02-26 13:39] bittner commented on #2803
What is great about `pushd` and `popd`, `cd ...` and `cd -`? It's all custom scripting that makes execution, say, in a CI pipeline super-fragile. There is no point in defending the current implementation state. It's plain uncomfortable. This feature is missing.

[2021-02-26 13:57] ezeeyahoo opened #3640 "Please release for PPC64LE architectue"
Hi,

We are working on Gardener and Kubeflow projects. Some of our code are already accepted or in pipeline. In absense of kustomize binary, we are facing some road blocks. Can I use this request to request you to release for PPC64LE architecture too.

Versions:-
3.5.4
3.2.0

Thanks

cc:@gerrith3

[2021-02-26 16:48] aude commented on #2803
Isn't it a matter of simple vs easy?

Using `cd` is simple, while controlling directory inside `kustomize` means more lines of code; more complexity.

Like in these examples from `man git archive`:
- `git archive --format=tar --prefix=junk/ HEAD | (cd /var/tmp/ && tar xf -)`
- `git archive --format=tar --prefix=git-1.4.0/ v1.4.0 | gzip >git-1.4.0.tar.gz`
- `git archive --format=tar.gz --prefix=git

[2021-02-26 17:26] aude commented on #2803
Although, while doing research for my previous reply, I was a bit surprised that `kustomize build` can set the [kustomization root](https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#kustomization-root) but `kustomize edit` can't.

Maybe it would make sense to follow `make`, `git` and `tar`, and change this:

    $ kustomize build overlays/dev

to this:

    $ kustomize -C overlays/

[2021-02-26 18:02] #3622 closed

[2021-02-26 18:05] Shell32-Natsu commented on #3639
Duplicate of #3614.

close this at first. If we find that this is a different issue we will reopen.

[2021-02-26 18:05] #3639 closed

[2021-02-26 18:15] Shell32-Natsu commented on #3635
I will leave this issue open and see if there are other requests for the same feature.

[2021-02-26 18:25] Shell32-Natsu commented on #3640
Our release script is [here](https://github.com/kubernetes-sigs/kustomize/blob/master/releasing/cloudbuild.sh) you can use go-releaser to build binary for ppc64le.

[2021-02-26 19:39] Shell32-Natsu commented on #3614
Confirmed this is because of the conversion to and from JSON. This should be fixed after https://github.com/kubernetes-sigs/kustomize/issues/3271 is done.

[2021-02-26 19:47] Shell32-Natsu commented on #3626
Similar with #3614. This should be fixed after #3271.

[2021-02-27 00:32] natasha41575 commented on #3620
taking a look now

[2021-02-27 06:56] ezeeyahoo commented on #3640
if we get binary hosted on main repository then it will need fewer changes than having separate URLs for different archs in Dockerfile.

[2021-02-27 09:06] maroci opened #3646 "[Question] Installation kustomize for armv7"
I was trying to install kustomize on my RPI OS lite armv7.
I was trying the binary but, this script doesn’t work for ARM architecture.

Can you help suggest an alternative way to install kustomize for arm architecture?
Thanks

[2021-03-01 18:18] Shell32-Natsu commented on #3646
I don't have ARM machine in my hand now so I cannot check this for you. Could you provide your commands to install kustomize and the error message?

[2021-03-01 21:01] davidboweninrupt commented on #2497
Hi @monopole

Thanks for the [link to the tests](https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/configmaps_test.go), they were very instructive.

It appears @rm3l [is using a behaviour in the code](https://rm3l.org/using-system-envvars-with-kustomize/#using-system-environment-variables) that [calls](https://github.com/kubernetes-sigs/kustomize/blob/master/api/kv/kv.go#L163-L16

[2021-03-01 22:00] maknihamdi commented on #2460
could this PR  https://github.com/kubernetes-sigs/kustomize/pull/3655 fixes the issue?

[2021-03-02 07:03] jieyu opened #3657 "Support golang io/fs FS interface"
It'll be nice that kustomize can support the new io/fs FS interface (https://golang.org/pkg/io/fs/#FS).

This would greatly simply the work to create a "virtual" filesystem layout (by embeding the manifests using the new golang 1.16 //go:embed feature), and load the manifests.

[2021-03-02 10:22] rbkaspr opened #3658 "helmChartInflationGenerator doesn't appear to work properly with local charts"
**Describe the bug**
I'm attempting to take advantage of the helmChartInflationGenerator plugin to combine a locally stored, unpackaged Helm chart with a few pre- and post-install artifacts. The issue I'm running into is that the plugin always seems to be trying to reach out to the legacy stable chart repo, even if chartRepoUrl is unset and chartHome is set to the location of the unpackaged chart.

[2021-03-02 10:57] pst opened #3659 "kyaml: fatal error: concurrent map read and map write"
I'm using `kustomize/api` to provide a Terraform provider for Kustomize. Presumably as a result of Terraform/GRPC concurrency there is a fatal error caused by concurrent map read and map write from within the kyaml code base around determining if a resource is namespace scoped.

The downstream issue has full Terraform [debug output logs](https://github.com/kbst/terraform-provider-kustomization/iss

[2021-03-02 12:56] Magicloud opened #3660 "[Question]How to patch service account?"
This seems quite simple yet I cannot figure out.

SA manifest (from cert-manager) (already applied)
[code]

My patch
[code]

My kustomization.yaml
[code]

With or without namespace, `kubectl apply -k .` failed similarly. Without namespace, I got:

`error: couldn't find target ~G_v1_ServiceAccount|~X|~P|cm-cert-manager|~S for json patch`

[2021-03-02 16:03] liggitt commented on #3659
/kind bug

[2021-03-02 17:40] Shell32-Natsu commented on #3659
@natasha41575 Looks like relate to OpenAPI in kyaml.

[2021-03-02 17:42] Shell32-Natsu commented on #3658
I am not familiar with helm but what helmChartInflationGenerator does is pulling the template and rendering it. If you want different behavior, try to create you own exec plugin.

[2021-03-02 17:49] Shell32-Natsu commented on #3660
For JSON patch, you have to had the parent field in existing. In you path `/metadata/annotations/eks.amazonaws.com~1role-arn`, `/metadata/annotation` must exist.

[2021-03-02 20:27] natasha41575 opened #3662 "Trim inlined schema"
Update kustomize builtin openapi schema to kubernetes v1.20.4 and trim the other schema

[2021-03-02 20:36] natasha41575 commented on #3662
Follow up to https://github.com/kubernetes/kubernetes/pull/98946

[2021-03-03 00:01] natasha41575 opened #3663 "Fix error thrown by golangci-lint in kyaml"
Kyaml is currently failing the lint test, because golangci-lint v1.18 and above results in the following lint error:

`Running error: context loading failed: package golang.org/x/net/idna: no go files to analyze`

The following is the output of go mod why:
[code]

Currently there is a [PR](https://github.com/kubernetes-sigs/kustomize/pull/3661) to move the version back down to 1.17.0, but this iss

[2021-03-03 00:34] monopole commented on #3663
Related: https://github.com/golangci/golangci-lint/issues/825

(comment https://github.com/golangci/golangci-lint/issues/825#issuecomment-666038142)

didn't seem to help in #3661

[2021-03-03 00:39] #3662 closed

[2021-03-03 00:48] monopole opened #3664 "Upgrade to gopkg.in/yaml.v2 v2.4.0"
Blocks #1500, related to kubernetes/kubernetes#98946

Both the api/go.mod and kyaml/go.mod are pinned to v2.3.0, but this has a problem:  go-yaml/yaml#670

What happens if we change to v2.4.0?

[2021-03-03 00:51] monopole opened #3665 "Upgrade to Go 1.16"
In all go.mod files, change to go 1.16

Matching https://github.com/kubernetes/kubernetes/pull/98572

Best to be on par with k/k 1.21

[2021-03-03 00:51] monopole commented on #3665
Blocks #1500, related to kubernetes/kubernetes#98946

[2021-03-03 01:20] #3665 closed

[2021-03-03 01:25] natasha41575 commented on #3664
Looks like all this changes is a few unit tests. It appears that there is a line length limit in v2.4.0 and long lines are given line breaks and continue to the next line. Will make a PR to show the changes

[2021-03-03 01:27] nairb774 commented on #3446
Thank you @HansK-p for your comment as you helped identify (for me) what I need to do to work around the bug. The `portLevelMtls` having a key of `8080` is causing the kyaml parser to make that an int of some sort rather than the expected string. By changing it to `"8080"` it works again. Going to move this to a slightly different bug, as there is a good reproduction case, and I'm not sure this ov

[2021-03-03 02:35] monopole commented on #3664
line breaks are expected :+1:

[2021-03-03 05:11] Magicloud commented on #3660
@Shell32-Natsu It was there. Although in SA manifest, there is no "annotations", after applying it first, `get sa` shows /metadata/annotations, because K8S adds a "kubectl.kubernetes.io/last-applied-configuration" annotation itself.

[2021-03-03 13:46] t3mi commented on #3412
@monopole  Please reopen as the issue still exists. Reproduction could be grabbed from [comment](https://github.com/kubernetes-sigs/kustomize/issues/3412#issuecomment-759144547).

[2021-03-03 14:01] justinsb opened #3670 "OpenAPI/Swagger parsing is (?) performance bottleneck"
I was wondering why running kustomize (& kpt) is not effectively instant, and I tracked down a large performance bottleneck - initializing the OpenAPI / parsing the swagger.

I believe this is the most significant constant-overhead for kustomize - obviously on very large kustomizations the data manipulation will eventually dominate.

I sent #3669 which adds a benchmark to quantify the impact; base

[2021-03-03 15:39] 7adietri opened #3671 "Add ConfigMap back references for Knative Service"
**Is your feature request related to a problem? Please describe.**

Similar to https://github.com/kubernetes-sigs/kustomize/issues/2564, Kustomize doesn't update `ConfigMap` names in Knative `Service` configuration.

Please add compatibility with Knative services, i.e.:

[code]

**Describe alternatives you've considered**

Adding this locally through `configurations` can be a temporary workaround.

[2021-03-03 17:09] thekoma commented on #3204
/remove-lifecycle stale

[2021-03-03 17:58] Shell32-Natsu commented on #3660
OK I ignored a simple mistake. You need to add your SA resource to `resources` field in kustomization file.

[2021-03-03 19:12] maroci commented on #3646
**The Command I run us:**
curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash

**ERROR:**
-bash: ./kustomize: cannot execute binary file: Exec format error

I was assuming maybe I'm wrong that I'm running amrv7 and I cannot run binary for OS at 64 bit. I'm not sure.
Thank you very much.

[2021-03-03 19:20] foxish commented on #3443
I found that in my case, the issue was with the version of `github.com/go-openapi/spec` that was being brought in by cli-runtime and swaggo being different.

[code]

Solved it by pinning the version of that library.
[code]

[2021-03-04 00:08] lukasmrtvy opened #3674 "Var referencing key in secret in HelmChartInflationGenerator is not interpolated"
**Describe the bug**
Var referencing key in secret in HelmChartInflationGenerator is not interpolated

**Files that can reproduce the issue**

[code]

[code]
[code]

**Expected output**

- postgresql is using `s3cr3t` password
- foobar deployment has `PASSWORD=s3cr3t` env variable
- there is no need to create shared password multiple times

**Actual output**

- postgres is using `$(DATABASE_PASSWO

[2021-03-04 01:16] mikee commented on #3502
I have run into this too.  I think it's due to the way in which CRDs get applied to the cluster.  The CRD is applied, then the cluster accepts the kinds and makes them available.  But there is a lag in that happening.  So your other resource that requires the kind provided by the CRD can't be applied at the time.

If you apply the CRD and the sealed secret in two steps - the process will work - no

[2021-03-04 12:41] george-angel opened #3675 "YAML Anchor support"
Starting from `kustomize/v4.0.0` - there is no way for us to build manifests that contain yaml anchors. Previously we were able to workaround by setting `--enable_kyaml=false`.

Example:

proximo.yaml

[code]

kustomization.yaml

[code]

Trying to do a build:

[code]

Thank you.

[2021-03-04 17:37] hongchaodeng opened #3677 "Question: how to handle user input parameters within custom resource"
Hi, I'm working on the [KubeVela](https://kubevela.io/#/) project and trying to use Kustomize to handle multi-environment application deployment. We have a CRD that looks like below:

[code]

I'm super excited about the upcoming support for custom resource via OpenAPI schema. I have been hoping  that once applying openapi schema we can use Kustomize native patchesStrategicMerge over our Applicatio

[2021-03-04 18:00] Shell32-Natsu commented on #3670
@natasha41575

[2021-03-04 18:03] Shell32-Natsu commented on #3671
I think we don't have plan to add builtin support for non-native resources in kustomize. They should be configured by transformer configurations.

[2021-03-04 18:08] Shell32-Natsu commented on #3674
var transformer doesn't affect the parameters in the generator configurations. I am afraid this is not supported.

[2021-03-04 18:10] Shell32-Natsu commented on #3677
@natasha41575 Can you take a look at this? Looks like it's OpenAPI related.

[2021-03-04 19:58] amisevsk commented on #3505
Should be resolved be https://github.com/kubernetes-sigs/kustomize/pull/3586 in v4

Never did get around to writing that doc :)

[2021-03-04 19:58] #3505 closed

[2021-03-04 20:57] ttk commented on #3620
I ran into this problem.  I am using v3.10.0

[2021-03-04 21:37] natasha41575 commented on #3670
Thank you for filing the issue, I'll see if we can look into it as part of the openapi work that's being done for kpt

[2021-03-04 22:54] dan-j opened #3678 "[Question] A method to build a tree of files referenced by a kustomization using SDK"
TL;DR - Is there any ability, using the SDK, to build a tree of files which are referenced by a root `kustomization.yaml` file, including those from recursively nested `resources:`?

---

I'm looking at building a GitHub Action which will perform a diff of many kustomizations which have changed as part of a PR. There are already some existing actions out there, however they run `kustomize build` a

[2021-03-05 00:05] natasha41575 commented on #3620
I am working on a fix but it will take some time

[2021-03-05 00:48] #3664 closed

[2021-03-05 01:53] natasha41575 commented on #3358
Adding a note that when multibyte characters are used in data, there is no panic (see #3679). In order to not lose data in those scenarios, the solution moving forward would be to remove such characters only from comments

[2021-03-05 09:05] shyukri opened #3680 "HelmChartInflationGeneratorPlugin: newer helm versions omit `v` in returned string"
[code]

I assume this will break the check on
https://github.com/kubernetes-sigs/kustomize/blob/a1df3e030ff29e5192aa7f5d8ed2cf4291630ec6/api/builtins/HelmChartInflationGenerator.go#L267

Locally i get:

[code]

[2021-03-05 10:01] graemerobertson opened #3681 "Poor error reporting when using an executable plugin"
**Describe the bug**

I'm using a custom executable plugin (https://github.com/kubernetes-sigs/kustomize/tree/master/plugin) to manipulate my YAML documents.

Sometimes my plugin results in invalid YAML, and I get error messages that look like this:

[code]

However, that line number is not useful (if it's meaningful I'm not sure what it means - even knowing my error I can't correlate the line num

[2021-03-05 11:50] iben12 opened #3682 "Image setting cannot override if digest is given in the original manifest"
**Describe the bug**
Given a manifest that contains an image reference in the format of `image-name:tag@sha:1111` and using image tag setting with kustomize will not update the image in the build output. Removing the digest from the original manifest helps, but setting a new digest in `kustomization.yaml` does not.

**Files that can reproduce the issue**

kustomization.yaml

[code]

deployment.yam

[2021-03-05 14:57] Magicloud commented on #3660
@Shell32-Natsu Sorry I was not able to reply. By "add your SA resource to resources field", you mean refer to its manifest? What if I do not have one, like this case, the SA was created by cert-manager helm chart.

[2021-03-05 18:17] Shell32-Natsu commented on #3680
Thanks for reporting!

[2021-03-05 18:18] Shell32-Natsu commented on #3660
If the resource is generated, you need to use [generator](https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#generator)

[2021-03-05 18:38] Shell32-Natsu commented on #3682
You image format is not correct. Although you can use tag and the digest at the same time, but the tag will be [completely ignored](https://stackoverflow.com/questions/53848875/using-container-image-tags-together-with-digests) and kustomize doesn't consider this is a valid image name. So remove your tag and use digest only.

[2021-03-05 18:38] #3682 closed

[2021-03-05 18:44] iben12 commented on #3682
Wow, makes sense. Thanks for pointing this out. I inherited the original manifest rendering process and did not question if it’s correct.

[2021-03-05 19:55] #3480 closed

[2021-03-05 20:02] natasha41575 commented on #3480
This is fixed and will be available in the next release

[2021-03-05 23:26] natasha41575 commented on #3502
based on @mikee's comment this sounds like an issue with kubectl/kubernetes and not kustomize?

[2021-03-07 00:31] #2498 closed

[2021-03-07 17:54] lukasmrtvy commented on #3674
@Shell32-Natsu  Thanks, is there any workaround?

[2021-03-07 22:43] monopole commented on #3663
kyaml linting removed in pr #3688, as it was blocking release.

[2021-03-07 22:52] maknihamdi commented on #2460
We use kustomize with my team to manage specs, we use a gitops approach with a single repo entry-point, and a multilayer customizations, using remote references to git repositories. With this approach, kustomize build can take 15 minutes and more, depending on environments (development, production,..) and components.

in the same 'kustomize build', the same repository with the same ref (tag or com

[2021-03-08 11:49] pandaamanda opened #3693 "kustomize version show 'KustomizeVersion:unknown'"
**Describe the bug**

after install kustomize, execute kustomize version and show the follow
[code]

**Files that can reproduce the issue**

**Expected output**

**Actual output**

**Kustomize version**

**Platform**

**Additional context**

[2021-03-08 14:39] yanniszark opened #3694 "[Question] Status of $patch (Strategic Merge Patch) support for Custom Resources"
### Question

Do CustomResources support Strategic Merge Patch in kustomize? Specifically for `$patch: delete`.
Can I rely on this feature? It seems to work on 4.0.4 but not on 3.2.0. I couldn't find an issue / pr solving it (except https://github.com/kubernetes-sigs/kustomize/issues/2056 which doesn't include a closing PR), so I'm not sure if this was solved by accident or is a supported feature.

[2021-03-08 15:33] yanniszark commented on #3694
cc'ing @monopole because of comments in #2056

[2021-03-08 17:41] #2205 closed

[2021-03-08 17:44] Shell32-Natsu commented on #3674
You try to write you own [exec plugin](https://kubectl.docs.kubernetes.io/guides/extending_kustomize/execpluginguidedexample/) (a simple bash script is enough) to wrap your helm commands and the password value.

[2021-03-08 17:47] keidevs opened #3696 "[Question] overwriting environment variables when using the two strategies patchesStrategicMerge and patches."
i patching the environment variables of the deployment workload using two strategies: patchesStrategicMerge and patches.

The environment variables patched in each strategy is different, but the problem occurs that the environment variables defined in patches overwrite the contents defined in patchesStrategicMerge.

Environment variables for each deployment workload are defined through patchesStra

[2021-03-08 17:47] Shell32-Natsu commented on #3694
I am not sure about the custom resources. I am afraid is not a good idea to rely on this behavior.

[2021-03-08 17:50] Shell32-Natsu commented on #3678
I don't know there is such feature in the kustomize. You may need to invest to develop it.

[2021-03-08 18:20] monopole opened #3698 "Update kyaml/openapi/kustomizationapi"
The kustomization struct changed in #3692

[2021-03-08 19:05] #3698 closed

[2021-03-08 19:45] naseemkullah opened #3703 "label transformer - add selector labels to pdb"
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/README.md#labels-transformer

It appears that  `commonLabels` are added as selector labels to deployments and services but not pod disruption budgets.

is there any reason not to? If not it would be a nice addition.

[2021-03-08 19:51] Shell32-Natsu commented on #3703
It's added. https://github.com/kubernetes-sigs/kustomize/blob/81cac9b633da89ce94ec2e15e2bc95c6f8825d1f/api/konfig/builtinpluginconsts/commonlabels.go#L140

[2021-03-08 19:51] #3703 closed

[2021-03-08 19:56] HansK-p commented on #3446
And thank you. I feel a bit stupid not testing that myself.

[2021-03-08 19:59] naseemkullah commented on #3703
How does one use it? The common labels are not being added atm. Is further configuration required?

[2021-03-08 20:01] Shell32-Natsu commented on #3703
Kustomize will not create the field if it isn't there since `create: false`. So you need to make sure `spec/selector/matchLabels` does exist.

[2021-03-08 20:04] naseemkullah commented on #3703
Great, thanks.

[2021-03-08 22:59] monopole opened #3705 "Prevent go-openapi/{analysis,validate,strfmt} deps from leaking into api module"
and thus leaking in to kubectl.

[2021-03-08 23:02] monopole opened #3706 "Screen transitive dep inclusion at code review time"
Likely start using `go mod vendor` to make new deps visible in pr reviews, and scannable by the presubmit.
See what k8s does.

[2021-03-09 00:29] shaktiprasadrath opened #3707 "HelmChartInflationGenerator issue"
I have one kustomize folder with bases and overlays. I added template folder along with chart.yml and Values.yml inside the kustomize folder.

KustomizeMe
            |
            --- base/
                         --- kustomize.yml
                         --- helmchartgenerator.yml
            --- overlays/
            --- template/
                               --- deployment.yml

[2021-03-09 04:47] #1500 closed

[2021-03-09 07:35] hadrien-toma commented on #641
/remove-lifecycle stale

[2021-03-09 15:41] monopole commented on #3446
@Shell32-Natsu I've started #3588

this should be easier once that's done.  need a few days

[2021-03-09 15:48] yanniszark opened #3710 "Enable kustomize to effectively combine multiple kustomizations"
**Is your feature request related to a problem? Please describe.**

Kubeflow is a big consumer and supporter of kustomize. I am opening this issue to address problems I have bumped into, while trying to finalize the release of Kubeflow 1.3. Note that I am the release manager for Kubeflow 1.3 and also the lead of Kubeflow's Manifests Working Group.

In Kubeflow we used `kfctl` in the past to combin

[2021-03-09 16:15] yanniszark commented on #3694
@Shell32-Natsu @monopole shouldn't kustomize support it though, as part of supporting SMP?
It seems the current versions already work. How about establishing the intention to support this feature, by including a unit test?
This is an immensely useful feature that is otherwise missing from kustomize.

[2021-03-09 17:23] jkroepke opened #3712 "HelmChartInflationGenerator + HTTP_PROXY"
**Describe the bug**

If HelmChartInflationGenerator is used, kustomize do not pass environment variables to the helm command.

If HTTP_PROXY is defined and required, helm pull will fail because the env var HTTP_PROXY is not passed to the helm pull command.

**Files that can reproduce the issue**

*Note:* Since not everything has a forwarded proxy at home, i'm provide an example that should fail.

[2021-03-09 17:28] jkroepke commented on #3712
Possible fix:

https://github.com/kubernetes-sigs/kustomize/blob/9e8e7a7fe99ec9fbf801463e8607928322fc5245/api/builtins/HelmChartInflationGenerator.go#L79

->
[code]

[2021-03-09 17:54] Shell32-Natsu commented on #3446
@monopole Thanks!

[2021-03-09 17:57] Shell32-Natsu commented on #3707
You don't need to add the helm files to kustomize. Please read the doc about helm generator. https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#_helmchartinflationgenerator_

[2021-03-09 18:05] Shell32-Natsu commented on #3694
Not familiar with this, but IMO a correct strategic merge patch with directive needs schema for the CRD. kustomize hasn't fully supported it yet.

[2021-03-10 00:47] pandaamanda commented on #3693
thanks. If not a problem, feel free to close it.

[2021-03-10 00:51] #3693 closed

[2021-03-10 02:01] KnVerey commented on #3710
Am I understanding correctly that the `resources` approach works fine if `vars` are not used? There are plans to deprecate the `vars` field (https://github.com/kubernetes-sigs/kustomize/issues/2052) and replace it with a transformer (https://github.com/kubernetes-sigs/kustomize/issues/3492). Assuming the deprecation proceeds, I imagine we shouldn't add a new field to work around `vars` issues.

cc

[2021-03-10 02:40] keidevs commented on #3696
@Shell32-Natsu

env-var.yaml
[code]

deployment-patch.yaml
[code]

kustomize build .  (remove PHASE, FLASK_ENV Environment)

[code]

[2021-03-10 11:10] dan-j commented on #3678
Would this be a feature the contributors would be willing to accept into kustomize itself? Perhaps under the `kustomize cfg` command group?

If done properly I see it as a very useful CI tool which most users could benefit from.

[2021-03-10 12:07] xakraz opened #3716 "Resources accumulation issue with remote resources using git and depth parameter"
## Describe the bug

### Context

We are using a kind off "off-the-shelf" pattern for our deployments environments:
* Common resources are on `master` branch of our services
* Specific environment overlays are on dedicated branches `deployment/ENV_NAME`

On the environment overlays, we usually have

[code]
where the `GIT_REF` is also part of the docker image tag name, which in turn refers to the c

[2021-03-10 18:25] Shell32-Natsu commented on #3678
We are in a short of hands but we will consider it.

[2021-03-10 18:28] Shell32-Natsu commented on #3716
Have you tried the the URL with go-getter directly?

[2021-03-10 18:29] dan-j commented on #3678
I can't make any promises but I suspect I'll need to implement something which achieves this in the coming months, so I'll probably approach it as a PR into this project, but also try not to tie it too much into the internal APIs so if it's not accepted it can at least be pulled into it's own tool.

[2021-03-10 18:30] Shell32-Natsu commented on #3678
@dan-j PRs are welcome. Thanks!

[2021-03-10 19:00] monopole commented on #3705
https://github.com/kubernetes/kubernetes/pull/98946#discussion_r589798392

i think i see an easy way to do this that doesn't involve module rearrangement

[2021-03-11 04:42] aodinokov commented on #3710
@yanniszark  JFYI, Alternatively this may be done via external plugins. (This info may be helpful if this feature isn't accepted)
e.g.
Kustomize allows [krm-functions](https://googlecontainertools.github.io/kpt/guides/producer/functions/) to be used as plugins. - this is pretty convenient since it doesn't require any kustomize configuration. everything will be done by docker image, that is pulled

[2021-03-11 09:16] xakraz commented on #3716
Ho @Shell32-Natsu ,

Thanks for answering me.

I have just tried with the latest `go-getter` binary (`v1.5.2`)

[code]

It took 9s and I got exactly what I expected

[code]

[2021-03-11 09:17] xakraz commented on #3716
I have also just tried without the `depth=1` param.

It works **but took 29s !**

[2021-03-11 10:56] benjamin-bergia commented on #2233
I think that I am hitting the same issue. I fetch a remote yaml file that contains a ConfiMap in a specific namespace. In my kustomization.yml I do something like:
[code]

And i get an error:

It looks to me like the configmap generator runs before the namespace transformer.

[2021-03-11 17:54] Shell32-Natsu commented on #2233
@benjamin-bergia generators are definitely run before transformers otherwise the resources generated will be transformed. If you want to run a generator to replace a resource you can put the original resource into base layer.

[2021-03-11 22:23] bhagyesh18 commented on #3446
**Kustomize Version :**
{Version:kustomize/v4.0.5 GitCommit:9e8e7a7fe99ec9fbf801463e8607928322fc5245 BuildDate:2021-03-08T20:53:03Z GoOs:linux GoArch:amd64}

**I am having same issue running the following command**

[code]

**Actual manifest file with integer key**

[code]

I have rendered manifest more than 15,00 lines, Please show the manifest area where this error is coming.
Also, Should I expe

[2021-03-11 22:37] Shell32-Natsu commented on #3446
@bhagyesh18 Sorry for the inconvenient. But unfortunately the integer key is not allowed in kustomize know but @monopole is working on deleting translation layers so this issue might be able to be fixed soon.

[2021-03-11 23:01] bhagyesh18 opened #3717 "yaml: invalid trailing UTF-8 octet (Kustomize parse errors)"
## Summary

Issue while kustomize the Helm Chart.

**Error:** `yaml: invalid trailing UTF-8 octet`

**Error as below**

[code]

There are some places with the non-UTF-8 character in maifest file.
Image of non-UTF-8 Character [Image of NON UTF-8 CHARS FOUND IN MY MANIFEST](https://ibb.co/r4fcCzK)

I found this non-UTF-8 character. After I replaced it with regular space, it solved the issue.

## Ste

[2021-03-11 23:05] Shell32-Natsu commented on #3717
From your description I think this is not an issue in kustomize. Kustomize uses `go-yaml` to pass YAML files and the error is thrown from there. Meanwhile I suspect is a YAML file with non-utf8 characters valid.

[2021-03-11 23:07] bhagyesh18 commented on #3446
was it working earlier in any previous version?
Also, there are duplicate Keys issues, I can see in a new version that you guys show the actual manifest area where it has duplicate keys, that is good.
Is there any way to ignore verifying/unmarshling duplicate keys using kustomize and let it be as it is?

[2021-03-11 23:11] Shell32-Natsu commented on #3446
@bhagyesh18 You try the version before v4 with flag `--enable_kyaml=false`. For the duplicate keys, invalid YAML is invalid, we cannot generate an invalid output.

[2021-03-11 23:12] bhagyesh18 commented on #3717
you mean "you suspect that YAML file with non-utf8 characters is invalid"
Image of non-UTF-8 Character [Image of NON UTF-8 CHARS FOUND IN MY MANIFEST](https://ibb.co/r4fcCzK)

So there is issue my YAML file which has some weird space (non UTF-8 char)

[2021-03-11 23:15] Shell32-Natsu commented on #3717
Yes, you should have some issues before kustomize engaged.

[2021-03-12 02:54] pvaneck commented on #3446
Ran into this issue when trying to use Kustomize with a Knative serving [YAML](https://github.com/knative/serving/releases/download/v0.17.4/serving-crds.yaml). Seems like the error stems from the usage of `!!merge <<: *version` in a lot of these YAMLs including the Tekton pipelines YAML that another user mentioned above.

Simple recreation:

kustomization.yaml
[code]
test.yaml
[code]

Using kustom

[2021-03-12 06:50] aodinokov commented on #2985
Not sure it's the best option, because kustomize may call other kustomization in resources and it also may have that "-".

One more idea - to add a flag `--as-transformer` to `kustomize build` command that would read stdin and add all read yamls as like they were mentioned in kustomization.yaml `resorces` section located in DIR passed to `kustomize build`.

The underlaying kustomizations in that c

[2021-03-12 07:08] karelbilek commented on #1835
Where is it in the source code? I want to make a PR for that... :D also hit with this issue

[2021-03-12 07:26] karelbilek commented on #1835
ahh we cannot use `name` merging strategy, because `EnvFromSource` has no `Name` field. So then we would need `merge` strategy.

[2021-03-12 07:26] karelbilek commented on #1835
the code is here, if anyone looks for it. I am not sure if this is generated code or the actual code.

https://github.com/kubernetes/kubernetes/blob/faa5c8ccd4cb34c95d67b24bb35354a205ceee15/staging/src/k8s.io/api/core/v1/types.go#L2259

[2021-03-12 08:54] benjamin-bergia commented on #2233
@Shell32-Natsu makes sense. The problem is that it's not possible to target the original.

[2021-03-12 09:21] NickLarsenNZ commented on #1574
/reopen

[2021-03-12 15:26] rcomanne opened #3718 "Add selectorLabels property, to prevent overwriting immutable selector labels with common label values"
**Is your feature request related to a problem? Please describe.**
We are migrating towards kubernetes and using kustomize with it, but a lot of us are experiencing 'unexpected' behaviour, which is that when a commonLabel changes, it will fail deploying, because all labels are added as selectors as well, which are immutable.

**Describe the solution you'd like**
I thought it might be possible to a

[2021-03-12 18:10] #3717 closed

[2021-03-12 18:10] #3712 closed

[2021-03-12 18:12] Shell32-Natsu commented on #3446
@pvaneck Your issue should be the same as #3614 instead of this.

[2021-03-12 18:59] natasha41575 commented on #3677
For the OpenAPI schema to merge correctly, it needs two variables in the OpenAPI schema that you would need to add manually (x-kubernetes-merge-key and x-kubernetes-patch-strategy). E.g. for PodSpec containers, it looks like this:

[code]

For your case, the OpenAPI for settings would need to look like:

                  "settings": {
                    "type": "object",
                    "x-k

[2021-03-12 19:34] Shell32-Natsu commented on #3716
Kustomize uses an old version of go-getter so that may be the cause. Kustomize also has a backup cloner which uses native git command which will use `depth=1`. And go-getter has some known issues. Some discussions [here](https://github.com/kubernetes-sigs/kustomize/issues/2538)

[2021-03-12 21:42] monopole opened #3722 "resource.AsYAML performance boost?"
see if replacing
[code]
with something that directly exploits `RNode.String` increases speed.
If done, lots of tests have to change so we should be measure the win with a Benchmark test.

[2021-03-12 23:33] #3680 closed

[2021-03-13 14:37] sramanujan commented on #766
This is literally false. They cannot be located anywhere, which is the fundamental reason why users are complaining.

Two poorly designed features (probably not so poor when individually used) have broken the idea of using Kustomize to `customise` configuration: 1) an inaccurate recursion detection - only checks for whether a folder is accessible by a yaml and not if it is actually linked, and 2)

[2021-03-13 20:38] xakraz commented on #3716
Thanks for the leads and the background.

What can I do to make it work as expected ?
Can I try something to identify clearly if it is a `go-getter` or the "backup cloner" issue ?
Should I upgrade go the latest version of `kustomize` ?

[2021-03-14 15:24] monopole opened #3723 "Cleanup: remove SMP conflict detection code"
Before the switch to kyaml, there was an attempt to warn (and fail, with no option
to ignore) if two or more _strategic merge_ patches in one kustomization file did
not commute, i.e. you'd get a different result if you applied them in a different order.

E.g. two patches changing the same field (the last patch applied would win).

To accurately warn, one would have to apply all patches in all poss

[2021-03-14 17:53] pickfire commented on #2233
I solved it by just adding another extra layer of kustomization with namespace specified.

[2021-03-14 22:44] james-callahan commented on #2256
/remove-lifecycle rotten

[2021-03-15 02:33] alapidas commented on #3659
Seeing this same issue a la the kustomize provider in Terraform.

[2021-03-15 02:35] alapidas commented on #3659
@pst Can you add a mutex around the `krusty` code as a workaround?  Not sure what kind of performance hit serializing these operations may have.

[2021-03-15 15:25] ghglza opened #3726 "All versions of kustomize 4 up to 0.5 bail out on parsing Tekton Pipelines CRD spec (where the same CRD parses fine w/ v3.8.10)"
**Describe the bug**

When trying to apply a kustomization to the Tekton Pipelines resources.yaml, kustomize bails out with an error message indicating it cannot parse CRD specs.

**Files that can reproduce the issue**

Try to apply the following kustomization

[code]
as a strategic merge patch to the following snippet from the Tekton Pipelines resource definitions
[code]
(where the complete resou

[2021-03-15 17:05] Shell32-Natsu commented on #3726
Duplicate of #3614

[2021-03-15 17:05] #3726 closed

[2021-03-15 17:16] Shell32-Natsu commented on #3716
If you can construct your resource URL with a valid format but make `go-getter` fail, the backup cloner will be used. I know this sounds tricky but the `go-getter` we are using is very buggy and has a lot of unexpected behavior. We are considering to remove it.

[2021-03-15 17:22] ephesused commented on #2869
/remove-lifecycle stale

This one still is an issue (though it's not as bad as has been). v3.7.0 runs in 0.7 seconds; v4.0.5 runs in 4.0 seconds. So v4.0.5 is an improvement over v3.8.8, but it's still far behind v3.7.0.

[code]

[2021-03-15 19:13] monopole commented on #3710
@knverey is right
the `vars` is not supported, and removing it is coming up the stack in importance.  It goes away as soon as we have a migration plan in place to the replacement transformer.

Also, if an entry in `resources` is a path to a directory (or a path to a directory in a github repo) it is recursively expanded as a `kustomize build`, before being considered as part of the existing kustom

[2021-03-15 19:41] KnVerey commented on #3694
I agree with @Shell32-Natsu that the schema is required to correctly implement SMPs in general. I'm guessing that `$delete` started working in v4 because of the switch to kyaml merge libraries under the hood. There is work in progress to allow users to provide OpenAPI schemas for their resources and get full, correct SMP support. Please see the KEP here: https://github.com/kubernetes/enhancements/

[2021-03-15 23:54] #3588 closed

[2021-03-16 08:39] brichins commented on #2869
/remove-lifecycle stale

On Mon, Mar 15, 2021 at 9:55 AM fejta-bot ***@***.***> wrote:

[2021-03-16 09:17] propyless commented on #2408
Hey! I was able to reproduce this issue @Shell32-Natsu

When you have new resources in only the overlays, the transformers in base/ are not applied to the resources/generators in the overlay.

So its only the transformers in the overlay applied to the resources in the overlay. The transformer in base/ is not applied to resources in the overlay/*

The only solution I can think of right now is to ju

[2021-03-16 09:50] benjamin-bergia commented on #2233
@Shell32-Natsu can you leave this open? There is an actual problem here. @pickfire finding is more a workaround than an actual solution. What @rverma-jm reported is an actual bug.

[2021-03-16 11:56] antonionappi88 opened #3728 "Generate CRD object from file"
Hello,
I'd like to generate a CRD object from a file. Is there a way without writing my own generator ?

In particular I have a file with Prometheus rule:

[code]
and I'd like that kustomize generates the below object out of the file above.

[code]

Thanks,
Antonio

[2021-03-16 16:49] Shell32-Natsu commented on #3728
I think there is no such plugin at the moment. You need to write your own plugin.

[2021-03-16 16:50] #3728 closed

[2021-03-16 16:53] Shell32-Natsu commented on #2408
That's the design. Each layer, or kustomization, is self-contained and what it produces is a list of resources. And the base layer doesn't know and care about the upper levels.

[2021-03-16 17:06] #3394 closed

[2021-03-16 22:12] #3415 closed

[2021-03-16 23:54] #3443 closed

[2021-03-17 00:44] dfsdevops opened #3732 "Wrong namespace set when combining two versions of a base containing a ValidatingWebhookConfiguration"
**Describe the bug**
This bug manifests only with a very specific set of conditions in a single kustomization.yaml file that meets the following two conditions.
1. It pulls in a resource containing both a ValidatingWebhookConfiguration and a corresponding Service. (It seems to require having a corresponding name to the service name to replicate this bug)
[code]
2. It pulls in another resource cont

[2021-03-17 05:05] RyanSquared commented on #880
just as a heads up for anyone who comes upon this using cert-manager, kube-system is NOT REQUIRED for cert-manager to work. you can just remove the kube-system definitions, and use $(POD_NAMESPACE) in place of kube-system in the command line arguments.

[2021-03-17 16:51] #3723 closed

[2021-03-17 18:00] #3620 closed

[2021-03-17 18:28] natasha41575 commented on #2825
You can now specify your own custom OpenAPI schema file to use with kustomize via an `openapi` field in the kustomization file, the example here is for your exact use case: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/customOpenAPIschema.md.

You can also now fetch the OpenAPI schema from your kubernetes cluster with the command `kustomize openapi fetch`.

Closing this issue.

[2021-03-17 18:28] #2825 closed

[2021-03-17 18:31] natasha41575 commented on #2339
You can now specify your own OpenAPI schema files with all your custom resource definitions to use with kustomize, see example: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/customOpenAPIschema.md

[2021-03-17 18:33] hongchaodeng commented on #3677
Right. Entirely unstructured.

The example you gave looks awesome! Just one question, since it is an object not an array, how could it have any merge key?
For instance, in the top example, we want to add the `new` field, merge the `change` field, but keep the `keep` field.

[2021-03-17 18:45] gdoctor commented on #2156
I could not tell from this thread. Does kustomize currently support remote patches in the same way it support remote bases? ie does it support something like this:
[code]

This would go a long way to enabling all sorts of use cases that large teams with many environments face.

[2021-03-17 21:37] monopole commented on #1009
[default config]: https://github.com/kubernetes-sigs/kustomize/blob/master/api/konfig/builtinpluginconsts/commonlabels.go

[example1]: https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configureBuiltinPlugin.md

[example2]: https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/customconfigreusable_test.go

Bringing this back to life as it's still being requested and w

[2021-03-17 21:38] monopole commented on #1009
@Shell32-Natsu wdyt?

[2021-03-17 21:42] monopole commented on #3718
Dupe of #1009, which is now reopened.

FWIW see https://github.com/kubernetes-sigs/kustomize/issues/1009#issuecomment-496694715

Feel free to chime in there, appreciate your view here.

[2021-03-17 21:42] #3718 closed

[2021-03-18 01:51] jketcham commented on #1301
/remove-lifecycle stale

[2021-03-18 01:52] jketcham commented on #1301
I just ran into this as well after changing my project's kustomize config layout. I am now including a component (not a base) that sets a `namespace` and `namePrefix` in an overlay that sets a `configMapGenerator`. I tested with 3.8.6 and the latest 4.0.5 and I get the behavior described by others above.

The workaround for adding a redundant namespace definition to the overlay works for getting t

[2021-03-18 15:43] rcomanne commented on #1009
As I've stated in my dupe issue, I think the best solution for this would be to have two separate properties in your Kustomization file, one that will add Labels just as labels, and one that will add them as labels **and** selector labels.
I think the cleanest solution for this would be this;
[code]

Although I do understand that this will introduce breaking changes in current deployments and will

[2021-03-18 17:04] ob opened #3736 "Please provide binary releases for Apple's M1 (darinw_arm64)"
I'm guessing https://github.com/actions/runner/issues/805 needs to be resolved first but I figured I'd file the Issue anyway.

[2021-03-18 17:31] Shell32-Natsu commented on #1009
@monopole LGTM, will do it when I have time.

[2021-03-18 20:09] #2619 closed

[2021-03-18 20:21] ThePlenkov commented on #1069
I'm from 2021. The issue is still there =)

[code]

[2021-03-18 21:48] natasha41575 commented on #1069
The version of kubectl is still not up to date - it's on v2.0.3. We VERY recently reintegrated the latest version of kustomize into kubectl. In the next release of kubectl (which is coming soon), kubectl apply -k will use kustomize v4.0.5.

[2021-03-19 06:22] tomalbrecht commented on #3511
Thank you. This solution solved my problem.

[2021-03-19 06:22] #3511 closed

[2021-03-19 10:20] liger1978 commented on #680
Just a note to say this is still needed...

[2021-03-19 16:11] AntonFriberg commented on #1556
Seems like it is still an issue with kubectl 1.20.5

Using the multibase example from https://github.com/kubernetes-sigs/kustomize/tree/master/examples/multibases
[code]

[code]

It still works without issue using `kustomize build`.

[code]

[2021-03-20 01:31] bzub opened #3739 "Container images do not exist for versions > v4.0.1"
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/kustomize/kustomize

[code]

[2021-03-20 20:56] #2837 closed

[2021-03-20 20:56] #2952 closed

[2021-03-20 21:57] #2715 closed

[2021-03-20 21:57] #2760 closed

[2021-03-22 11:39] darktempla commented on #3646
@maroci - I wouldn't mind an armv7 binary as well. There are a lot of old Raspberry Pi v3 and earlier out there that are running 32bit v6 and v7 ARM architectures. So would be nice to be able to easily be able to have these running on hardware that whilst a bit dated is still functional and very good in a home lab or work test environment.

After doing some digging the install script looks like it

[2021-03-22 17:24] pslobo opened #3741 "configMapGenerator `merge` behavior still seems broken"
Problem reported in #3393 with 3.9.0 still seems to exist in 4.0.5.

[code]

Replicated with a simple test with the following structure:

[code]

I would expect the output of the dev overlay to be a merge between the 2 configs (super simple), but instead it overrides the base. Am I missing something obvious here, or just not understanding the merge behavior?

**Actual results**

[code]

[2021-03-22 17:38] Shell32-Natsu commented on #3741
Could you provide more details about this issue?

[2021-03-22 17:38] pslobo commented on #3741
Sorry @Shell32-Natsu had hit enter too soon 😁

[2021-03-22 19:48] yanniszark commented on #3710
Thanks for your feedback Jeff, we unfortunately caught this late in our cycle and we need it for kubeflow 1.3. We're thinking of shipping this as a temporary fork of kustomize and then immediately rebasing on this as a follow on point release or next major release, what do you think? Or is there some other way we can workaround that might make this simpler?

[2021-03-22 21:51] #3739 closed

[2021-03-22 22:57] monopole commented on #3492
[`Selector`]: https://github.com/kubernetes-sigs/kustomize/blob/7b38ce4ef228d03df742a423592ca76db0a5049e/api/types/selector.go#L15

Considering the existing transformer and the two suggested by @aodinokov above,
and given the existing [`Selector`], how about this for the transformer's config:

[code]

The `FieldOptions` lets one pull part of a field and stick into a different part of another field

[2021-03-22 23:16] monopole commented on #3492
More comments:
 - If `SourceField` matches more than one object, it's an error that fails the build.
 - One could defer doing `Deny` and `FieldOptions`.  They are just refinements on the basics of replacing a whole field.

[2021-03-22 23:41] VackarAfzal opened #3742 "Remote builds randomly timeout: hit 27s timeout running '/usr/bin/git fetch --depth=1 origin master'"
When running a build on an overlay containing multiple remote components, I randomly get timeouts

**Expected output**

Should build the overlay as expected

**Actual output**

Sometimes builds, but sometimes fails with this error message
[code]
**Kustomize version**

[code]

**Platform**

[code]

**Additional context**

I upgraded from 2.x to 4.x then saw this behaviour appear

[2021-03-23 10:01] epcim commented on #3378
correct, fixed later

[2021-03-23 10:01] #3378 closed

[2021-03-23 10:59] stemid opened #3745 "[Question] Is the issue of ClusterRoleBinding.subjects.namespace still not resolved in v4.0.5?"
There seem to be several closed issues about this, #1377, #136 and #2717 are some I found.

But namespace is still not being inserted into ClusterRoleBinding.subjects, one of the issue says I must use namespace: default but this also causes errors for me.

I just don't understand this error: `Error: accumulating resources: accumulation err='accumulating resources from 'fluentd.yaml': yaml: line 56

[2021-03-23 12:59] #963 closed

[2021-03-23 16:27] SaschaHeyer opened #3746 "Update docs to reflect flag hyphenation"
**Describe the bug**

The following command runs into an error

[code]

Error
[code]
**Files that can reproduce the issue**

Command itself

**Expected output**

no error

**Actual output**

error

**Kustomize version**

{Version:kustomize/v4.0.5 GitCommit:9e8e7a7fe99ec9fbf801463e8607928322fc5245 BuildDate:2021-03-08T20:53:03Z GoOs:darwin GoArch:amd64}

**Platform**

mac

**Additional context**

/

[2021-03-23 18:06] KnVerey commented on #3746
In version 4+, the flag is hyphenated:

[code]

[2021-03-23 19:03] Shell32-Natsu commented on #3745
At the end of you yaml file there is a syntax error.

[code]

[2021-03-23 19:11] stemid commented on #3745
@Shell32-Natsu Thanks I found a few syntax errors after that actually. Case closed. :)

[2021-03-23 19:11] #3745 closed

[2021-03-23 19:39] SaschaHeyer commented on #3746
Thanks a lot for your very quick feedback Katrina.
Very much appreciated.

That explains the behavior. Backreported it to kubeflow where the issue appears.
Will close this ticket

[2021-03-23 20:58] monopole commented on #1009
@rcomanne in retrospect, we have a flaw in the API and we're stuck with it.  We can add fields, but changing the meaning of fields and imposing migration work on users isn't practical

[2021-03-23 21:00] monopole commented on #1009
We can, as noted above, do a v2 on the kustomization file.  But lets gather up some other changes first, not just the labels change.  We also want to deprecate the `vars` field.

[2021-03-23 22:32] natasha41575 commented on #3677
I did some investigation and I think I've discovered your problem. You also need to add the x-kubernetes-group-version-kind extension to your OpenAPI schema. This is unrelated to the merge keys.

I used the following schema below and it worked for your use case. Notice at the very bottom I added a x-kubernetes-group-version-kind field. This is necessary for kustomize to be able to properly underst

[2021-03-23 22:33] #3677 closed

[2021-03-23 23:00] rm3l commented on #2497
@davidboweninrupt Indeed, at first glance, I was also surprised to see that this behavior was not documented. But I wasn't aware of the eschewed feature set.
I agree with you. If this is intentional (as [commented out in the code](https://github.com/kubernetes-sigs/kustomize/blob/master/api/kv/kv.go#L163-L169)), it would make sense documenting / testing it. Otherwise, maybe an error or warning sho

[2021-03-23 23:03] rm3l commented on #2497
I just stumbled upon this issue, about documenting this "feature" : https://github.com/kubernetes-sigs/cli-experimental/issues/66

[2021-03-24 00:18] Shell32-Natsu opened #3749 "config.kubernetes.io/path is not OS-agnostic in kio.LocalPackageReader"
According to the KRM function [API conventions](https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/config/docs/api-conventions/config-io.md#configkubernetesiopath), `config.kubernetes.io/path` annotation should be

But the current implementation in `kio.LocalPackageReader` is using `filepath` and it's OS-specific

https://github.com/kubernetes-sigs/kustomize/blob/7b38ce4ef228d03df742a423

[2021-03-24 00:44] william-salt-cko commented on #2987
It takes me roughly 25 seconds to run against a handful of simple kustomizations. It is really quite slow.

[2021-03-24 10:28] pie-r commented on #903
Better to use this in CD:
[code]

Important note: `--ignore-not-found` must be used only if we delete a precise object. It doesn't work a label selector.

[2021-03-24 14:16] yanniszark opened #3751 "[Question] Correct capitalization for fieldPath"
The `fieldPath` field appears in `vars` and `valueAddTransformer`:
https://github.com/kubernetes-sigs/kustomize/blob/46524d3b6a90f5a08bae3e5a2cdc8b38111b5220/api/types/var.go#L68
https://github.com/kubernetes-sigs/kustomize/blob/e783af2881ae4ba57ba8011a1c854c84842484c0/plugin/builtin/valueaddtransformer/ValueAddTransformer.go#L46-L47

However, it's capitalized as `fieldpath` in the `vars` doc:
htt

[2021-03-24 14:54] ajonkisz opened #3752 "Issue when adding multiple elements to an array using patchesJson6902 add op"
**Describe the bug**

Adding multiple array elements to an array using `patchesJson6902` and `op: add` does not behave as expected.

**Files that can reproduce the issue**
Example:

kustomization.yaml
[code]

resources:
[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

Tested on v3.8.7 as well as v4.0.5

**Platform**

Both Linux and Windows have been tested

**

[2021-03-24 15:23] walkbooth opened #3753 "Patch is applied twice to a suffixed copy of a resource"
**Describe the bug**

I'm seeing behavior involving the `nameSuffix` transformer where a suffixed copy of a resource gets the same patch applied twice.

**Files that can reproduce the issue**

Here is the example's directory structure:
[code]

base/deployment.yaml:
[code]

base/kustomization.yaml:
[code]

common/kustomization.yaml:
[code]

example/kustomization.yaml:
[code]

example-suffix/kustomi

[2021-03-24 16:33] Shell32-Natsu commented on #3752
We are using external library for JSON patch (github.com/evanphx/json-patch). Unfortunately we cannot extent its syntax.

[2021-03-24 16:33] #3752 closed

[2021-03-24 17:19] Shell32-Natsu commented on #3753
The issue because when kustomize finds the the resource to apply patch, it will use all the names that the resource uses, for example, the `example` deployment in `example-suffix` overlay has original name `example` and updated name `example-suffix`. Either of these 2 name can match this resource. So your first patch will match both resource.

[2021-03-24 17:59] Shell32-Natsu commented on #3751
I believe we should fix the doc.

[2021-03-24 19:25] #1009 closed

[2021-03-24 23:47] Shell32-Natsu opened #3756 "Update docs for new labels field"
#3743 adds a new field `labels` to the kustomization. The doc pages are needed to be updated.

 - https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/
 - https://kubectl.docs.kubernetes.io/guides/config_management/labels_annotations/
 - https://kubectl.docs.kubernetes.io/guides/extending_kustomize/builtins/#usage-via-kustomizationyaml-3

#1009: Discussion about new `labels` field

[2021-03-25 17:24] walkbooth commented on #3753
Thank you for the response @Shell32-Natsu! I think I understand your explanation, but is this behavior expected and documented anywhere? I'd like to avoid hitting this in the future, but I'm not sure what the best way to work around it is.

[2021-03-25 17:39] natasha41575 commented on #3753
@walkbooth AFAIK this isn't documented anywhere. I'll add documentation to https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/ some time next week

[2021-03-25 20:13] jojijohn opened #3757 "Question: base and overlays"
I have a base and overlay like shown below, and I was expecting that
`kubectl apply -k overlays/dev` or `kustomize build overlays/dev/` would give me a ConfigMap which has the common annotations and common labels applied to it. It looks like it doesn't use the directives in the base file. What could I be doing wrong? Any help is appreciated!

base/kustomization.yaml
[code]

overlays/dev/kustomizat

[2021-03-25 21:45] rlewkowicz opened #3758 "[Question] Is it possible to escape and or ignore anchors?"
So I have kustomize which is used to organize a flux repository. In this repository, I have a helm release of version helm.fluxcd.io/v1 . The problem is I need those anchors intact for the helm deployment since helm has issues with merging keys, I was going to just use anchors, but it's trying to render that anchor prior to to deploying the release

[2021-03-25 22:16] natasha41575 commented on #3757
I believe this a duplicate of another issue. Please see the explanation in the comment here: https://github.com/kubernetes-sigs/kustomize/issues/2647#issuecomment-718935820

The transformers defined in bases will only be applied to the base resources. You can take a look at [components](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/components.md) and see if that suits your use

[2021-03-25 22:27] natasha41575 commented on #3694
Closing this issue because using custom OpenAPI schemas is now implemented , see this [example here](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/customOpenAPIschema.md). (More documentation is coming.) SMPs for CRDs will be supported as long as users are able to provide their own schema files.

[2021-03-25 22:27] #3694 closed

[2021-03-25 22:30] rlewkowicz commented on #3758
[code]

This doesn't work as is. When the final file is rendered, I need it to be
[code]
If I escape the star it will be:
[code]
If I quote it, it will be
[code]
Is there any way to have this process as a raw unescaped star im the final yaml? So that subsequent yaml can then also render anchors

[2021-03-25 22:44] natasha41575 commented on #3758
Perhaps someone else can chime in with a solution but AFAIK kustomize uses gopkg.in/yaml.v3 which automatically renders the anchors. I am not sure if there is a way to prevent them from rendering without putting quotes around it

[2021-03-25 22:55] xakraz commented on #3716
Hi @Shell32-Natsu, sorry for the delay of my answer ...

So I have double checked many things (URL format, `kustomize` versions, ...).
Since starting `v4`, `kustomize` will only support Git / http remote resources, and has built-in `depth-1` option, I have finally tested our current manifests with the latest release : `v4.0.5`

I stumble upon an issue, which is not really related to this one.
Mayb

[2021-03-25 23:11] Shell32-Natsu commented on #3716
Hi @xakraz, thanks for your investigation! Perhaps you should create a new issue about the short commit ID and attach your error messages.

[2021-03-26 01:19] snuggie12 commented on #3658
depends on the contents of `< unpackaged chart` I think. The local check sees if there's a directory named `chartHome/chartName` so I think if you had `docs/chart/sonarqube/Chart.yaml` it would work.

[2021-03-26 01:38] snuggie12 opened #3760 "Chart inflator plugin doesn't work when called via Component or Kustomization and relative paths"
**Describe the bug**
Given the following directory structure:
[code]
When dev either calls a `Component` or a `Kustomization` to the remote directory and `chartHome` is set to a relative path the chart will fail to generate. If I call `kustomize build` in the `components` directory everything works fine.

**Files that can reproduce the issue**

./components/prometheus-rules-helm/kustomization.yaml

[2021-03-26 04:20] snuggie12 commented on #3760
If it helps determine the bug, I can get it to build if my CWD is `prometheus-rules-helm` and I `kustomize build ../../dev/`

However, I tried setting `chartHome` to `../components/prometheus-rules-helm` and running `kustomize build` from `dev` and that did not work. The idea being that while my CWD is `dev` that `chartHome` would have been interpreted from there.

So it seems something funny is g

[2021-03-26 11:46] lpil commented on #880
Is there a recommended work-around for this in the mean-time?

[2021-03-26 21:46] ChaturvediSulabh commented on #2684
/assign

[2021-03-27 13:09] xakraz commented on #3716
Closing since kustomize > 4.x has a different way to handle remote resource.

Thx @Shell32-Natsu

[2021-03-27 13:09] #3716 closed

[2021-03-27 13:27] xakraz opened #3761 "Resources accumulation fails with remote resources using git and short git commit id as ref"
## Describe the bug

### Context

We are using a kind off "off-the-shelf" pattern for our deployments environments:
* Common resources are on `master` branch of our services
* Specific environment overlays are on dedicated branches `deployment/ENV_NAME`

On the environment overlays, we usually have

[code]

📝 where the `GIT_REF` is also part of the docker image tag name, which in turn refers to th

[2021-03-27 15:01] ant31 commented on #347
If we are pushed to use workaround / templating either via `sed` or external transformers, it's most likely something to add natively to kustomize.

[2021-03-28 06:57] RyanSquared commented on #880
@lpil as far as I can tell the recommended workaround is to have a subdirectory with its own kustomization.yaml whose namespace points to what you want it to point to, then use that as a base for your other kustomization.

[2021-03-28 19:55] snuggie12 opened #3762 "Pass helm home env vars to chart inflator"
**Is your feature request related to a problem? Please describe.**
Been having issues trying to use the chart inflator with a self-created chart. One way I might be able to get around it is by setting `chartRelease` and `helmHome` but with the defaults on my laptop it presumes cache, data, and config are sub-directories of a `helmHome`.

**Describe the solution you'd like**
Originally I was going

[2021-03-28 19:57] snuggie12 commented on #3760
Looks like maybe there was a similar problem with #3435 for the values file. Perhaps a similar fix can be done for `chartHome`?

Also, I think I'm close to a scenario where I don't need to specify `chartHome`, but would need #3762 working first. If that's more doable I suppose we could close this.

[2021-03-28 21:04] #2786 closed

[2021-03-29 05:40] ghost opened #3763 "Error formating is not good"
Why are the errors reported like this:

        * accumulateFile error: "accumulating resources from '../../../../blahblah/overlays/development/someone-qa': '/home/alex/dev/company/ml-pipelines/manifests/blahblah/overlays/development/someone-qa' must resolve to a file"
        * accumulateDirector error: "recursed accumulation of path '/home/alex/dev/company/ml-pipelines/manifests/blahblah/overlay

[2021-03-29 16:41] Shell32-Natsu commented on #3763
I believe the this error report has be changed in v4.0+, can you try it?

[2021-03-29 22:29] whillas commented on #3763
Great! I can't upgrade right now as everytime we use a different version we get different hashes fro configmaps and secrets and so _everything_ gets redeployed. Thanks anyway

[2021-03-29 22:32] Shell32-Natsu commented on #3763
Well, when I say "changed" I mean the format has been changed but it may not become *better*. :(

[2021-03-31 00:03] foobarbecue commented on #821
/remove-lifecycle stale

[2021-03-31 00:44] natasha41575 commented on #3760
@Shell32-Natsu can you take a look if you have time?

[2021-03-31 05:18] wcushen commented on #2230
@SMR39

Facing the same issue, with kustomize 3.9.3. Didn't you manage to find a fix?

{Version:kustomize/v3.9.3}