[2021-03-31 12:30] A830612 opened #3769 "Unable to set replicas in kustomization.yaml"
Unable to set replicas in kustomization.yml

**Files that can reproduce the issue**

**Expected output**

sets the replicas in the yaml file

**Actual output**

Error: json: unknown field "replicas"

**Kustomize version**

Kustomize version -
{Version:kustomize/v4.0.5 GitCommit:9e8e7a7fe99ec9fbf801463e8607928322fc5245 BuildDate:2021-03-08T22:48:12+00:00 GoOs:darwin GoArch:amd64}

**Platform**

mac

[2021-03-31 12:34] A830612 commented on #3769
![image](https://user-images.githubusercontent.com/1132918/113145040-f2210080-91fb-11eb-83b1-28a55ed4c70d.png)

[2021-03-31 12:40] A830612 commented on #3769
Command ran - k kustomize path/to/kustomization.yaml

[2021-03-31 16:48] Shell32-Natsu commented on #3760
Yes I will.

[2021-03-31 20:32] natasha41575 commented on #3769
Could you provide a set of files that can reproduce the issue and the full command that you ran?

[2021-03-31 20:42] natasha41575 commented on #3757
I am closing this issue, but feel free to reopen if you have further questions or concerns.

[2021-03-31 20:42] #3757 closed

[2021-04-01 05:16] antoniomo commented on #802
Still happening on version 4.0.5

/reopen

[2021-04-01 07:23] smyrman commented on #1430
/remove-lifecycle rotten

[2021-04-01 16:03] Jackbennett opened #3770 "components combine all commonLabels and last-write wins"
**Describe the bug**

commonLabels defined in `components` bubble up to the entire config to label every other resource. It is also last-write-wins of the label key.

**Short reproduction of the issue**

kustomization.yaml

[code]

**Expected output**

Every label should only exist from the kustomization.yml it's defined in or down. using a commonLabel from a component is nonsensical. If I wanted

[2021-04-01 16:39] Shell32-Natsu commented on #3770
You can think the components as parts of kustomization and actually you have a label conflict. The behavior in this case I think is the last wins. That's expected.

[2021-04-01 18:34] #1600 closed

[2021-04-01 22:44] #3280 closed

[2021-04-02 18:57] natasha41575 opened #3772 "Implement use of `reject` and `options` fields in replacement filter"
#3492, #3735

[2021-04-02 23:02] #2849 closed

[2021-04-04 00:05] clayrisser commented on #499
@justaugustus I agree that under normal circumstances it is not good to use a secret that way, but there are certain situations where it is needed, for example when using someone's operator that is built to pass secrets through custom resources. This feature would be extremely helpful for those edge cases. I think it should be added and should just be noted that is it dangerous.

[2021-04-04 00:09] clayrisser commented on #499
@jcassee here is a specific example where I need this.

https://github.com/clayrisser/charts/blob/master/beta/keycloak/v0.0.2/templates/keycloak.yaml#L109

https://github.com/clayrisser/charts/blob/master/beta/keycloak/v0.0.2/templates/integrations/openldap.yaml#L61

This does not work because the password ends up base64 encoded.

[2021-04-04 00:12] clayrisser commented on #499
Basically because this is not supported, I'm forced to put my secrets in a configmap, which is even more dangerous than if this feature was supported.

[2021-04-04 05:40] jcassee commented on #499
@clayrisser I'm not using kustomize in a way that requires this, and I am not one of the core devs, so I don't think I am the one you need to convince. :-)

If you want to present your case more strongly, you should probably create a minimal example. I found it difficult to determine what you are pointing to.

Now, I don't really want to turn this into a support ticket, but... You seen to be using

[2021-04-04 20:28] clayrisser commented on #499
I need to use kustomize to patch helm charts I did not write and am not willing to maintain.

[2021-04-04 20:30] clayrisser commented on #499
My only point is that there are specialized cases where it is necessary. Specifically when you need to patch a non secret resource in a helm chart you didn’t write.

[2021-04-04 21:33] jcassee commented on #499
Alright. It might help to open a new issue with a good isolated example. I'm not sure closed issues are watched.

[2021-04-05 02:09] moonkwoo commented on #3696
How about using commonLabels ?

[2021-04-05 07:53] thanhpd-teko commented on #3468
Thanks.

[2021-04-05 07:53] #3468 closed

[2021-04-05 17:09] Shell32-Natsu commented on #3696
The problem is the JSON patch you are using. From [RFC 6902](https://tools.ietf.org/html/rfc6902#section-4.1)

[2021-04-05 17:11] Shell32-Natsu commented on #499
@jcassee Yes for new discussions please create a new issue. Thanks!

[2021-04-05 17:21] #3753 closed

[2021-04-06 01:26] jlewi commented on #3760
Is this just a matter of setting the working directory when invoking helm here:
https://github.com/kubernetes-sigs/kustomize/blob/558995536d7570fb6f9dd02f07f6ffa58f46cda3/plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator.go#L92

Is there a way for the plugin to get the directory of the kustomization.yaml file?

[2021-04-06 03:01] snuggie12 commented on #3760
I don't code, but I thought it was the wrong CWD at this point: https://github.com/kubernetes-sigs/kustomize/blob/558995536d7570fb6f9dd02f07f6ffa58f46cda3/plugin/builtin/helmchartinflationgenerator/HelmChartInflationGenerator.go#L278

[2021-04-06 06:27] thatsmydoing commented on #3761
I believe that feature only worked because of go-getter. I think it actually fetches the archive from github instead of doing an actual git clone. Since we only have the cloner now, you can't `git clone` a short hash (unless github supports it, which it unfortunately doesn't).

Technically, we could clone the whole repository and checkout the short hash that way, but that comes with a massive perf

[2021-04-06 10:35] nguyenlamlll commented on #766
I cannot understand this Kustomize team. (I'm sorry). So, everyone is complaining and explain that the relative-path block is very counterintuitive and the team just comes passing by casually, saying "NO" with little useful explanation?
Huh..?

[2021-04-06 13:50] KeisukeYamashita opened #3776 "Immutable ConfigMaps creation via configMapGenerator"
**Is your feature request related to a problem? Please describe.**

This is not problem related.

**Describe the solution you'd like**

I want to configure `immutable` configMaps for ConfigMaps that were generated by `configMapGenerator`.

[code]

**Additional context**

These are the references:

* [ConfigMaps](https://kubernetes.io/docs/concepts/configuration/configmap/)
* [Kubernetes 1.18 Intro

[2021-04-06 16:46] metasim commented on #3614
Anyone figured out workarounds?

[2021-04-06 17:16] rsinden opened #3777 "[Question] - Getting an error when trying to replace annotations with successive strategic patches"
We have a got a set of kustomize components, which have istio-proxy sidecar containers injected into them. We currently apply default resource requests to all components (as a strategic merge patch) and I am trying to apply a second patch which replaces these annotations with different requests, but I am getting an error. Below is a simplified version of what we are seeing:

[code]

[code]

[code]

[2021-04-06 17:33] metasim commented on #3614
In case it's helpful to someone else, here's my (very limited) workaround: a generator plugin (wouldn't work as a transformer).

Assuming `problematic.yaml` is whatever's confusing `kustomize`,  do the following:

Put this in `${XDG_CONFIG_HOME}/kustomize/plugin/some.org/v1/ExplodeAnchors/ExplodeAnchors`
[code]

`kustomization.yaml`:
[code]

`kust-3614-hack.yaml`:
[code]

[2021-04-06 17:48] Shell32-Natsu commented on #3777
What is your kustomization file?

[2021-04-06 18:07] afirth commented on #680
not sure if i can/should but
/reopen
the ability to patch structured configmaps is such a pain point in older apps, particularly in javaland.

[2021-04-07 05:45] matti commented on #680
Open a new issue

[2021-04-07 08:48] george-angel commented on #2460
/reopen

[2021-04-07 08:59] dsyer commented on #2460
/remove-lifecycle stale

[2021-04-07 10:17] rsinden commented on #3777
A stripped down version is:
[code]

What I notice is that the `kustomize build` does not seem to be adding the `istio-proxy-large.yaml` patch to it as I would expect, given the error.

[2021-04-07 13:18] Jojoooo1 opened #3778 "Can not add any comment in .yaml"
**Describe the bug**
Can not add a comment in my .yaml

Trying to use kustomize with a .yaml using a comment.
Version 3.8.10 works perfectly
Version 3.9.3 throw yaml: invalid trailing UTF-8 octet

**Files that can reproduce the issue**

kustomization.yaml

[code]

ingress.yaml

[code]

**Expected output**

[code]

**Actual output**

Error: map[string]interface {}{"apiVersion":"networking.k8s.io/v1

[2021-04-07 14:56] tomdymond opened #3779 "YAML Anchor support broken between versions 3.8.10 and 3.9.2"
Using recent versions of Kustomize it appears YAML anchors have stopped working and render empty dictionaries

[code]

Using *3.8.10* It renders properly

[code]

Using *3.9.2* and onwards (also tested with v4.0.5) it appears to render the anchor as an empty dictionary

[code]

[2021-04-07 16:18] Shell32-Natsu commented on #3777
From your kustomization I don't find where do you include `contentkeeper.yaml` component.

[2021-04-07 18:28] emas80 commented on #2987
I was doing some tests with the latest version v4.0.5 before upgrading our CI/CD.
The performance drop on my machine is incredible compared to v3.8.4 (which, like others have pointed out, was much slower than v3.5.4):

v4.0.5
[code]

v3.8.4
[code]

The generated file is about 2.2MB, so pretty big.

We really can't use that on our CI/CD, what has changed that could explain these poor performances?

[2021-04-07 18:36] Shell32-Natsu commented on #2987
@emas80 That's interesting. @monopole I suppose the performance should be improved but it looks that it's hurt.

[2021-04-07 18:50] yanniszark commented on #3605
@shell32-natsu @monopole this is the only issue preventing us from upgrading to kustomize v4.0.5 right now.
Since:
- This is a regression from previous versions
- The fix is to upgrade a library
I can devote some time to develop a fix.

@shell32-natsu from your comment here:

I understand that you may have already tried upgrading the library. Do you have any desired version?
Should I be aware of a

[2021-04-07 20:59] Shell32-Natsu commented on #3605
@yanniszark One concern in my mind is go-yaml changed the indention behavior in newer version and that will break a lot of tests. @monopole Do you have any other objections? IMO we need to update the go-yaml version since the current one has a bunch of bugs.

[2021-04-07 21:56] mjuarez commented on #3127
Currently experiencing this issue with a non-default ServiceAccount on `{Version:kustomize/v4.0.5 GitCommit:9e8e7a7fe99ec9fbf801463e8607928322fc5245 BuildDate:2021-03-08T20:53:03Z GoOs:linux GoArch:amd64}`

I'm trying to configure a ClusterRoleBinding for prometheus to a ServiceAccount managed with kustomize:

input:
[code]

transformer:
[code]

output:
[code]

Switching ServiceAccount's metadata.

[2021-04-07 22:05] natasha41575 opened #3780 "Fix releasing tool"
The gorepomod tool doesn't work for everyone.

For me, it fails to update the release branch and doesn't add any new commits.

Note: this only happens for cmd/config. This does not happen for kyaml. For kyaml, an error is thrown explicitly stating that I don't have permissions to push to a protected branch.

[2021-04-07 22:06] natasha41575 commented on #3780
@monopole

[2021-04-08 04:36] madhukar93 opened #3785 "help/support: Composing manifests from reusable components"
If I have deployments A, B, C that differ in minor ways -  the command and some labels are different  (eg: there’s a rails app for which we are running separate deployments for a JSON API, web admin panel, and Sidekiq workers - all running the same container).
Is there a way to represent the commonalities in Kustomize without having separate resource files for each of them?
I’m trying to understan

[2021-04-08 13:19] rsinden commented on #3777
Apologies, I was looking at the incorrect environment for this.

I have modified the above kustomization file to match what I am actually seeing.

We use a set of locally written environment maker scripts which compile the above kustomization file from the `contentkeeper.yaml` component file and recursively expand the bases.

As you can see above, in the kustomization file we compile, we have 2 `p

[2021-04-08 16:57] Shell32-Natsu commented on #3777
I tried these 2 patches in a kustomization with a deployment resource but I cannot reproduce this issue.

[2021-04-08 17:01] Shell32-Natsu commented on #3785
Doesn't base/overlay model work for you? You can put the common parts in the base and apply different transformers in different overlays.

[2021-04-08 17:40] rsinden commented on #3777
I've stripped it right back to the following:

[code]

[code]

[code]

All 3 files in the same directory, and then running `kustomize build` and get the following error:

[code]

[2021-04-08 20:07] pdgistio commented on #2198
username:password when provided in the url "git::http://username:password@github.com/repo.git?ref=r"
throwing error
Error: couldn't make loader for <url>
without username:password, when provided the same when prompted it is working.
Note: username and password are url encoded
could you please point me to the example which has username and password incorporated in url

[2021-04-08 22:40] fjmacagno commented on #119
You should read through the thread, this was removed shortly after it was added.

[2021-04-09 00:37] jlandowner commented on #2895
Hi, immutable Secret and ConfigMap become stable in Kubernetes v1.21.

https://kubernetes.io/blog/2021/04/08/kubernetes-1-21-release-announcement/#immutable-secrets-and-configmaps

I want this option but this issue is rotten and closed, isn't it?

I would like to know whether anyone is working on it elsewhere, or I can takeover this issue and contribute?

/reopen

[2021-04-09 17:49] yanniszark opened #3787 "Support patching a JSON/YAML value inside a ConfigMap"
Hi all! I am reopening an old issue with a lot of likes, which I think is really needed in a lot of scenarios:
https://github.com/kubernetes-sigs/kustomize/issues/680

### Problem Statement

Kustomize has the ability to perform powerful patches (JSONPatch, SMP) on Kubernetes resources (yaml objects with `apiVersion`, `kind`, `metadata.name` keys). This enables a powerful workflow where manifests c

[2021-04-09 19:15] #3772 closed

[2021-04-09 19:40] #2950 closed

[2021-04-09 19:40] #3190 closed

[2021-04-11 15:09] pwittrock commented on #3787
cc @KnVerey

[2021-04-11 19:46] rajeshkudaka commented on #3587
This is using Unmarshal which uses yaml.YAMLToJSON() and then it is converted back to yaml in the process. When converting to JSON, as per the format it does not allow any comments, and when converted back to yaml there will be no comments.

yamltojson snip: https://github.com/kubernetes-sigs/kustomize/blob/release-kustomize-v3.10/api/types/kustomization.go#L198

[2021-04-12 08:42] yhrn commented on #3418
/remove-lifecycle stale

[2021-04-12 08:45] yhrn commented on #3418
Sorry if I appear to be nagging but I'm not sure how the triage process works here. Is this something you would consider adding. It's a pretty important use case for us and I think it would make Kustomize a much more powerful tool when used together with Google Config Connector resources and probably other similar products for other cloud vendors.

[2021-04-12 08:46] george-angel commented on #2895
Hello! Can we please re-open this issue? Thanks!

[2021-04-12 16:23] cfraenkel commented on #3778
I'm hitting the same error, but only when the comment contains a non ascii unicode character like 'ä'.
[code]

if the unicode char appears in a non-comment there is no similar error:
[code]

This issue also affects the kustomize bundled in the most recent kubectl 1.21.0
[code]

[2021-04-12 17:00] Shell32-Natsu commented on #3778
This issue is in go-yaml library and we need to update it. #3789 does this and this should be fixed after it.

[2021-04-12 17:52] Shell32-Natsu commented on #3418
@yhrn I apologize for the situation. We are in an extremely short of hands. Our resources are mainly focusing on fixing bugs and refactoring to re-integrate with kubectl. We hope we can eventually add more new features like this.

[2021-04-12 17:56] Shell32-Natsu commented on #3587
I would like to remove these conversions but it will breaks many tests and I haven't had time to work on it.

[2021-04-12 18:21] yhrn commented on #3418
@Shell32-Natsu thanks for the response and I understand. But I take it that you agree that the functionality would make sense then.

[2021-04-12 18:24] Shell32-Natsu commented on #3418
@monopole Could you please take a look if you have time?

[2021-04-12 20:09] yanniszark opened #3794 "Kustomize resource ordering regression"
**Describe the bug**

In Kubeflow, we are using Kustomize `v3.2.0` and want to upgrade to `v4.0.5`: https://github.com/kubeflow/manifests/issues/1797
However, our deployment failed for `v4.0.5`, while it succeeded for `v3.2.0`.

This is what happened:
1. In later kustomize versions, it orders Admission Webhooks last. Before, they were first.
2. Pods are created before the istio injection webhook,

[2021-04-12 20:10] yanniszark commented on #3794
I am currently working on a PR for addressing the problem described above. If possible, @monopole @Shell32-Natsu @pwittrock I would love if you could take a look at the described issue and tell me if you agree/disagree with the points made.

[2021-04-13 02:19] monopole commented on #821
[Gvk.IsLessThan]: https://github.com/kubernetes-sigs/kustomize/blob/master/api/resid/gvk.go#L164
[namereferece_test]: https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/namereference_test.go

What if anything needs to be done here?

 * a user can define input order to match their desired output order and enter:
[code]
 * Regardless, ordering backend deployments before frontends in

[2021-04-13 02:25] monopole commented on #3794
Thanks!  Discussing this on the earliest issue you mentioned #821

People can order their inputs to get the desired output order, which may be the only answer.

There's no one ordering that makes sense for everyone, since no ordering can take custom resources into account.

[2021-04-13 04:29] cuongrep commented on #1033
You can install as the following commands:
`curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash`
and then
`sudo install -o root -g root -m 0755 kustomize /usr/local/bin/kustomize`

I don't know why autocomple in zsh always show `_kubectl_kustomize`. Does anyone know how to fix that?
references:
1. Install Kustomize by downloading precompil

[2021-04-13 06:59] stemid opened #3796 "Ingress.spec.rules.http.paths.backend.resource.name does not receive a suffix based on the name"
Ingress.spec.rules.http.paths.backend.resource.name does not receive a suffix based on the name.

**kustomization.yaml**

[code]

**ingress.yaml**

[code]

**server.json**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

{Version:kustomize/v4.0.5 GitCommit:9e8e7a7fe99ec9fbf801463e8607928322fc5245 BuildDate:2021-03-08T20:53:03Z GoOs:linux GoArch:amd64}

**Plat

[2021-04-13 09:19] trynity commented on #3480
When will the next release be shipped? We're currently running into this issue where an upstream chart we use has duplicate keys and hasn't fixed it yet, and kustomize is crashing when we're trying to alter things.

[2021-04-13 14:49] donbowman commented on #3794
the original motivation for this has become somewhat moot since the community has moved away from declarative things and into imperative.
e.g. istio no longer supports yaml
prometheus et al operators now create their crd dynamically.

this leads to a race condition, you cannot apply a system w/ a yaml doc to install prometheus followed by one that sets up a servicemonitor on some other thing. No o

[2021-04-13 15:48] natasha41575 commented on #3480
@trynity what version of kustomize are you using?

[2021-04-13 17:14] Shell32-Natsu commented on #3796
The field spec should be added here like this

https://github.com/kubernetes-sigs/kustomize/blob/5100568b0c1e54b98c76cd2671f43bc4d6186c4a/api/konfig/builtinpluginconsts/namereference.go#L396-L401

It will be appreciated that you can create a PR for this. :)

[2021-04-13 19:08] stemid commented on #3796
@Shell32-Natsu I did make an attempt and it compiles, it even outputs the correct yaml now with the suffix.

But if I apply the yaml I get a strange error so I wonder if it's even possible to use ConfigMap as an Ingress resource backend. I'm trying to find that out but the docs say nothing. Maybe you can confirm or not?

Here is the diff I made to make kustomize add the missing suffix at least. If

[2021-04-13 22:16] stemid commented on #3796
I'll go ahead and close this because I don't think you're supposed to use ConfigMap as a resource backend like that. It's for some sort of storage. AFAIK Google specific Storage buckets? But I have no idea.

[2021-04-13 22:16] #3796 closed

[2021-04-13 22:25] mgoltzsche commented on #3794
Generally I agree that kubernetes resource usage should be declarative. Though there are exceptions to the rule as e.g. the Namespace and potentially any custom webhook/CRD. Due to this reason I am in favour of preserving the resource order within a kustomization as the author defined it and authors, when they must define complex webhook/CRD constellations, need to take the resource order within t

[2021-04-13 23:26] monopole commented on #3794
So as @mgoltzsche mentions, kustomize emits resources in FIFO order if one specfies:
[code]
Some history of the `--reorder` flag is mentioned here: https://github.com/kubernetes-sigs/kustomize/issues/821#issuecomment-818381800.

#1104 happened before the `--reorder` flag was introduced (#1171).  Anyone relying on `--reorder legacy` (`legacy` is the default) is going be broken by PRs like this one

[2021-04-13 23:34] donbowman commented on #3794
not trying to derail, but in the last 2 years i've had to abandon parts of my strategy of having a single declarative setup. I'm the one that opened the original issue, it was indeed motivated by e.g. cert manager webhooks.

Since then, istio has moved to a standalone binary to install/update, so i cannot have it in my gitops + kustomize.
certmanager + its webhooks, you have to do a 3 pass install

[2021-04-14 02:08] johnmarcou commented on #1593
A solution which could be helpful. I am using a remote kustomize module which deploys an empty secret.
But I have another system creating that secret.

Here the hack to remove the secret provided by Kustomize and avoid collision.

[code]

[2021-04-14 03:23] mgoltzsche commented on #3794
@monopole I agree: deprecating the `--reorder legacy` default behaviour and later replacing it with `--reorder none` as the default makes sense to me as well.

**TL;DR**
@donbowman there are already some tools out there that allow to do what you describe - at least partially. For instance [kpt](https://github.com/GoogleContainerTools/kpt) uses the [cli-utils](https://github.com/GoogleContainerTool

[2021-04-14 10:49] yanniszark commented on #3794
Thanks for the input @monopole! About:

This may indeed be the case, but it's a big change, since it effectively changes the current promise of kustomize to manifests developers. If I understand correctly, the current (default) promise is: don't care about ordering, kustomize will do it for you.

May I suggest the following:
- Keep this issue for fixing the regression in legacy ordering. I believe

[2021-04-14 11:51] trynity commented on #3480
@natasha41575 4.0.5

[2021-04-14 13:51] cloudfather opened #3804 "[Question]Is there a way to pause kustomize step until the operator successfully built on openshift?"
I use kustomize to build all the requirements to install openshift operator and after that to create an instance from the operator.
to do it I have to run kustomization.yaml two times to ensure that everything is built.
In the first run, it always shows an error about missing crds.

[2021-04-14 16:29] Shell32-Natsu commented on #3804
Could you please provide more information about why do you need to run 2 times?

[2021-04-14 17:13] natasha41575 commented on #3480
@trynity I would expect 4.0.5 to have this issue fixed (there is a [regression test here](https://github.com/kubernetes-sigs/kustomize/blob/master/api/krusty/duplicatekeys_test.go))

Would you be able to provide a set of files that can reproduce the issue you are having?

Kustomize 4.1.0 was also released yesterday and you can try it.

[2021-04-14 19:29] monopole commented on #3794
Where is that promise made?  It must be retracted.  It's literally impossible right now to make one ordering that can both deploy a working stack to a cluster and universally works for everyone's custom resources now and in the future.

Generally one needs a grander mechanism which can apply some things, waits for ready, apply more things, etc.   Various things are moving in this direction, and wo

[2021-04-14 19:39] yanniszark commented on #3794
The default behavior of kustomize is to reorder. Thus, the implied promise towards the manifest developer is that kustomize takes care of ordering so you shouldn't watch out for it. This is how I meant it.

[2021-04-14 19:56] monopole commented on #3794
well, we need better docs .

@yanniszark have you tried reordering your inputs to solve your particular use case?

or is this somehow not an option?

[2021-04-14 20:22] monopole commented on #3794
e.g. resources not under your control.

[2021-04-14 20:45] yanniszark commented on #3794
@monopole that's a good question. The answer is that in Kubeflow we have many many kustomizations which have been constructed and tested with kustomize's reordering feature. This is without accounting for the various downstream uses of KubeflowSince downstream uses are essentially supported by different vendors, I'd say that this is way too big of a change to be an option, at least for the upcomin

[2021-04-14 21:05] mgoltzsche commented on #3794
@yanniszark as you mentioned within the issue description applying a webhook and a resource the webhook would handle within the same manifest for the first time to a cluster will fail since the webhook's Deployment will not be available yet.
I don't think retrying the apply is a good solution because it creates other problems, makes everything a bit more complicated and kustomize is a manifest ren

[2021-04-14 23:33] monopole commented on #3794
@mgoltzsche Would you object to accepting #3803?

I think we all agree this isn't the right solution, but it would seem to unblock kubeflow in the short term.

[2021-04-14 23:57] mgoltzsche commented on #3794
I just commented in the PR that I am objecting to accepting it indeed because, while it would unblock kubeflow for now, it would break the cert-manager installation again although the latter works nicely now and - opposed to kubeflow apparently - can be installed with a single `kubectl apply` call.

[2021-04-15 00:54] monopole commented on #3794
ack, thanks.

Here's a list of the changed to the ordering over the last ~2 years

Mostly insertions (i.e. specifying order for a particular resource where there wasn't an order before).

- 18 Sep 2020  #3009 put endpoints before service
- 05 Aug 2020  #2796 Order PersistentVolume before Deployment
- 12 May 2020  #2459  Relative Order of Mutating/Validating WebhookConfigs
- 20 Aug 2019 #1437 add P

[2021-04-15 01:45] monopole commented on #3794
@yanniszark if interested, please file a bug for option 2.  I think it could be knocked of relatively quickly for the next release, if your think it would help.

[2021-04-15 01:45] #3794 closed

[2021-04-15 01:46] monopole commented on #821
More comments in #3794

[2021-04-15 01:46] #821 closed

[2021-04-15 10:04] anthraxn8b commented on #189
This issue is closed. Does it make sense to open a new one regarding the configMapGenerator and another one for the shell glob expansion?

[2021-04-15 11:05] rajeshkudaka commented on #3779
@tomdymond Anchors work for me in v3.9.2 if --enable_kyaml=false is set in the build command. However, this is still a issue post v4.0.0

[2021-04-15 16:59] Shell32-Natsu commented on #3779
Potentially this might be an issue in go-yaml, will confirm.

[2021-04-15 19:50] solarmosaic-kflorence commented on #766
https://kubectl.docs.kubernetes.io/faq/kustomize/#security-file-foo-is-not-in-or-below-bar

[2021-04-15 21:25] #2789 closed

[2021-04-15 23:04] symbiont-ji opened #3812 "incomprehensible error message"
In https://github.com/kubernetes-sigs/kustomize/blob/a5914abad89e0b18129eaf1acc784f9fe7d21439/api/loader/fileloader.go#L161, what does "must be a directory to be a root" even mean? That's not English!

[2021-04-16 03:25] #3094 closed

[2021-04-16 05:36] #2895 closed

[2021-04-16 15:41] svetlanatiffonet opened #3814 "Kustomize prefix does not prefix service.name, when using ingress apiVersion: networking.k8s.io/v1"
I use kustomize to generate the full yaml to apply. I updated the ingress api version from `networking.k8s.io/v1beta1` to `networking.k8s.io/v1`. In the main kustomize file, I use "namePrefix". With the new ingress api version, `service.name` is not prefixed whereas with the old version `serviceName` was prefixed

With version networking.k8s.io/v1beta1:
`kubectl kustomize .`

Renders :
[code]

Wit

[2021-04-16 17:18] natasha41575 commented on #3814
Could you try using kubectl 1.21? The version of kustomize shipped with prior versions of kustomize is quite old (v2), while kubectl 1.21 should be shipped with kustomize v4.

Taking a look at kustomize's list of name references I would expect this to work with the current version of kustomize.

https://github.com/kubernetes-sigs/kustomize/blob/f8dad80a79f9d64776dfb27a3eb7c8d4b0835275/api/konfig/b

[2021-04-16 17:23] natasha41575 commented on #3814
Could you try with kubectl v1.21? The version of kustomize shipped with prior versions of kubectl is quite old (v2), but kubectl v1.21 is shipped with kustomize v4. Based on kustomize's list of name references, I would expect this to work with the current version of kustomize.

https://github.com/kubernetes-sigs/kustomize/blob/f8dad80a79f9d64776dfb27a3eb7c8d4b0835275/api/konfig/builtinpluginconsts

[2021-04-16 17:36] Shell32-Natsu commented on #3812
This error message means the `path` must be a directory, so it can be used as a build *root*.

[2021-04-16 19:47] yanniszark commented on #3794
@monopole @mgoltzsche thank you for your answers. @monopole thank you for proposing a way forward.

We will gladly implement and contribute option (2) to unblock Kubeflow, but first I'd like to get your thoughts on the following comments that have to do with the reasoning stated above:
- IMHO skipping validation/mutation is not a good practice and kustomize should not promote it.
- The current kus

[2021-04-16 20:15] symbiont-ji commented on #3812
Can the phrasing be fixed please?

On Fri, Apr 16, 2021 at 1:36 PM Donny Xia ***@***.***> wrote:

[2021-04-18 00:22] dlandis commented on #1472
I tried the provided yaml and saw

[code]

using
[code]

[2021-04-18 23:38] hanumanthan commented on #3756
/assign @hanumanthan

[2021-04-19 00:25] james-callahan commented on #3458
`extraArgs` seems to have been removed.
How can you pass api-versions now?

[2021-04-19 00:37] james-callahan opened #3815 "namespace not supported by helmCharts"
The new `helmCharts` feature (added in #3784) has no way to pass in a namespace.
This is problematic with many common charts where the namespace is used in e.g. arguments or annotations

e.g. try rendering the cert-manager helm chart:
[code]

**Actual output**

it results in annotations that contain the namespace, e.g.
`cert-manager.io/inject-ca-from-secret: default/cert-manager-webhook-ca`

it al

[2021-04-19 00:43] james-callahan opened #3816 "helmCharts doesn't support APIVersions"
Similar to #3458

The new `helmCharts` feature (#3784) needs a way to pass in APIVersions.

CC @monopole

[2021-04-19 03:56] wuxingzhong opened #3817 "map[string]interface {}(nil): yaml: unmarshal error map key xxx already defined"
kustomization.yaml

[code]

run cmd

[code]

**Expected output**

Expected  output like

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

macOS

[2021-04-19 04:39] whillas commented on #1606
I'm getting this as well for `imagePullSecrets` did you get a resolution to this problem?

[2021-04-19 07:56] eyalzek commented on #1430
This is necessary now that `kubectl` bumped the kustomize version from v2->v4 in a minor release. That would make it easier to implement a compatibility layer to determine whether the current kustomize project supports v4 or requires v2.

[2021-04-19 15:36] LelandSindt commented on #2721
/remove-lifecycle stale.

[2021-04-19 15:40] lelandsindttouchnet commented on #2721
/remove-lifecycle stale

[2021-04-19 16:58] Shell32-Natsu commented on #3816
For every possible option that will be passed to helm we should have a field in the plugin config.

[2021-04-19 19:59] Shell32-Natsu opened #3818 "Add macOS ARM build"
For Apple M1

[2021-04-19 22:25] natasha41575 commented on #3817
@Shell32-Natsu can you take a look? Looks like an issue with the new helm plugin changes

[2021-04-20 02:19] whillas commented on #1420
@Shell32-Natsu I think i have figured out the problem with the Kustomize `kubernetes.io/dockerconfigjson` encoder!

I'm trying to create a secret using a GCP service account key, which is a JSON file. I'm able to create the secret on the CLI using:
[code]
[as per](https://blog.container-solutions.com/using-google-container-registry-with-kubernetes). I then inspected the secret created and noticed

[2021-04-20 11:30] monotek commented on #2736
/remove-lifecycle stale

[2021-04-20 15:14] drivelikebrazil opened #3819 "helmCharts doesn't support --include-crds"
Just to add onto the chain for #3816 and #3815:

The new Helm chart inflator implementation should provide a way to set the --include-crds flag for the `helm template` step

[2021-04-20 18:33] Shell32-Natsu commented on #3817
It should be an issue in gitlab charts. https://gitlab.com/gitlab-org/charts/gitlab/-/issues/2582

[2021-04-20 18:33] #3817 closed

[2021-04-20 19:02] Shell32-Natsu commented on #3451
We will add new option for `--include-crds`. Tracked by #3819

[2021-04-20 19:02] #3451 closed

[2021-04-21 10:39] rohitsakala opened #3823 "Add support for s390x arch"
**Describe the solution you'd like**

The release page will have a binary for s390x architecture too.

[2021-04-21 10:52] eyalzek opened #3824 "`images` does not work with YAML anchors"
**Describe the bug**

using [images](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/images/) fails when YAML anchors are in place.

**Files that can reproduce the issue**

kustomization.yaml

[code]

resources.yaml

[code]

**Expected output**

the `Deployment` is generated with the correct image.

**Actual output**

[code]

**Kustomize version**

- 4.0.5 (bundled in kubectl

[2021-04-21 11:11] eyalzek opened #3825 "Kustomize fails to build with YAML anchors inside `List` resources"
Kustomize fails to builds with YAML anchors inside `List` resources.

**Files that can reproduce the issue**

kustomization.yaml

[code]

resources.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

- 4.0.5 (bundled with kubectl)
- 4.1.2 current latest

**Platform**

linux

**Additional context**

encountered during kubectl update which bumped kustomize ve

[2021-04-21 13:16] liggitt commented on #3705
as of https://github.com/kubernetes/kubernetes/pull/101234, I think kustomize is the only thing pulling in these dependencies... would be good to eliminate this

[2021-04-21 15:10] gautierdelorme commented on #3705
@liggitt @monopole I can give it a try. I think `k8s.io/kube-openapi` should have all the requirements.
/assign

[2021-04-21 15:22] paymog opened #3826 "Bad YAML parsing in LabelTransformer"
**Describe the bug**

Using a label transformer like the following

[code]

results in `"true"` being evaluated as a `bool` which later causes errors during Helm chart upgrades.

I've narrowed this down to [this LOC](https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/kyaml/filtersutil/filtersutil.go#L74) and here's a screenshot demonstrating the issue in my

[2021-04-21 21:27] rawc0der opened #3828 "Feature Request: Allow passing custom plugin location from CLI parameter"
Hello everyone,

I am having a hard time using different `kustomize` versions in my local kubernetes cluster setup (for sanity), made of ArgoCD that is reading `sops encrypted files`.
I suppose Argo is decently keeping up with the latest Kustomize developments (see https://github.com/argoproj/argo-cd/pull/5967) , but here's where I think a couple of strange behaviours occur.

`ArgoCD folklore`  is

[2021-04-21 21:35] rawc0der commented on #3828
In case you are wondering, I found the source of the problem here:
[code]
Please correct me if I'm wrong, thanks again...

[2021-04-21 22:57] monopole opened #3829 "explain in eschewed features position on sorting"
Make discussion in #3794 more visible.

[2021-04-22 00:10] KnVerey commented on #2985
@monopole and I discussed this at length, and in the end we agreed that this feature should not be accepted. Although the trigger isn't CLI args or env vars in this case, it is definitely still a "[build-time side effect](https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables)". While it may be convenient for certain workflows buil

[2021-04-22 00:10] #2985 closed

[2021-04-22 15:54] aodinokov commented on #2985
This is a great explanation:

When I PoC'ed that feature with additional flag  `--as-transformer` I had a gut feeling that it should be a different command. something like `kustomize transform` rather than  `kustomize build --as-transformer` :) But this implies lots of additional use-cases.  This is potentially a completely different tool that has a lot in overlap with `kustomize fn run`/`kpt fn r

[2021-04-22 16:08] mleklund opened #3830 "Inconsistent configmap multiline string output between kustomize versions"
Inconsistent multiline string handling between versions of kustomize make it difficult to see the real changes that are being applied.  I am not sure if there are "rules" that kustomize is using in the yaml output and where they might be published, but the large change-sets this introduces are hard to reconcile, and give pause to operators when there has not been any actual changes.

@stefanprodan

[2021-04-22 18:36] qkflies opened #3831 "helmCharts doesn't support --skip-tests"
Adding onto the chain for #3815, #3816, #3819, etc.

Would like to ensure that the helm plugin has support for passing the argument `--skip-tests` as well, during the `helm template` step.

Thanks!

[2021-04-23 00:08] zhech2 opened #3833 "How do I re-use a value?"
We have many images with the same tag and private registry:

[code]

The registry and TAGS are duplicated.

Is there a way to define a local constant (to a file) to prevent this kind of duplication?

[2021-04-23 04:45] aodinokov commented on #3833
@zhech2
Here is the old way of doing de-duplication of data: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/ - most likely will be deprecated, but not clear when.
Here is what is coming (very likely - next release):
https://github.com/kubernetes-sigs/kustomize/issues/3492

[2021-04-23 13:22] haslersn commented on #677
@pwittrock

[2021-04-23 16:00] cloudfather commented on #3804
I put all the yaml files in one place for the topic.
so, for instance, In the same directory.
- installing the operator
- adding operator group
- RBAC
- create an instance.

if it is not a good practice, could you please propose something else?

Apreciated

[2021-04-23 16:30] matti commented on #1493
/remove-lifecycle rotten

[2021-04-23 17:01] Shell32-Natsu commented on #3804
It will be good to give us a subset of your files which can reproduce the error.

[2021-04-23 17:51] monopole commented on #3815
The helm program does many many things, including (so I'm told) arbitrary execution of shell commands via `--extra-args` and particularly crafted Go templates.

The basic chart inflation kustomize performs is intentionally rudimentary to prove out the concept of performing "last mile" chart customization.  Maintaining kustomize long term as a helm runner with full helm flag and argument knowledge

[2021-04-23 17:56] monopole commented on #3831
Keeping this open for investigation.

However, see https://github.com/kubernetes-sigs/kustomize/issues/3815#issuecomment-825820444 for more background on helm issues.

[2021-04-23 17:58] monopole commented on #3819
Can you add some more justification for this?  Does helm squash crds by default?

See also https://github.com/kubernetes-sigs/kustomize/issues/3815#issuecomment-825820444

[2021-04-23 17:59] monopole commented on #3816
https://github.com/kubernetes-sigs/kustomize/issues/3815#issuecomment-825820444

[2021-04-23 19:05] monopole commented on #3815
BTW, i'm not asserting that #3838 yields the result you want.

I'm wondering what the full use case is, and if it can be satisfied in the fashion suggested by #3838

[2021-04-23 19:09] Krzysztof-Lempicki opened #3840 "[Question] How can I change container name?"
I have one parent deployment for all backed services.

[code]

and  want to change it with may patch

[code]

I'm changing DEPLOYMENT_NAME_PLACEHOLDER in my kustomization.yaml:

[code]

None of above does work for container name. (CONTAINER_NAME_PLACEHOLDER)
How can I do this?

[2021-04-23 20:05] cehoffman commented on #3815
I think the `namespace` setting in kustomize should flow into the `namespace` setting of helm, however I didn't see a way to get that value in the helm inflator plugin. The namespace setting of kustomize currently can not satisfy what the namespace setting of helm does, e.g. setting the namespace component in the middle of an annotation string to the resource like cert-manager does.

Totally agree

[2021-04-23 22:22] natasha41575 commented on #3840
The reason that it is not altering CONTAINER_NAME_PLACEHOLDER is because the patches you have don't tell it to use that patch.

You could do something like:
[code]

This would apply the JSON patch for the deployment's metadata/name, and then apply the patch specified in the file patch.yaml.

An alternative, simpler way to do this is as follows:

deployment.yaml
[code]

patch.yaml:
[code]

kustomiz

[2021-04-23 22:59] monopole commented on #3815
That's interesting, and would avoid the easy contradictions one can imagine by not doing it that way.

[2021-04-23 23:15] natasha41575 commented on #3833
Yes, @aodinokov is right. We will deprecate vars and replace it with a `replacements` field - this will be available next release.

You can see what sorts of things this replacements field will support in the regression tests for [the filter here](https://github.com/kubernetes-sigs/kustomize/blob/master/api/filters/replacement/replacement_test.go), and [our e2e tests here](https://github.com/kuber

[2021-04-24 04:40] zhech2 commented on #3787
Would it be possible to break a JSON document down into keys and values.

[code]
### Base Configuration
Configuration:Property1=Value1
Configuration:Property2=Value2
Configuration:list:0=item0
Configuration:list:1=item1

### Overlay
Configuration:Property1=OverrideValue

### Final Result
Configuration:Property1=OverrideValue
Configuration:Property2=Value2

Then generate a JSON ConfigMap for the co

[2021-04-26 07:36] cloudfather commented on #3804
here is the example I was talking about.
https://github.com/cloudfather/argocd-deploy

[2021-04-26 08:46] Krzysztof-Lempicki commented on #3840
`allowNameChange` not work:

[code]
**kustomise version:**
`{Version:kustomize/v4.1.2 GitCommit:a5914abad89e0b18129eaf1acc784f9fe7d21439 BuildDate:2021-04-15T20:38:06Z GoOs:linux GoArch:amd64}`

**api version from kustomise.yml:**
`apiVersion: kustomize.config.k8s.io/v1beta1`

[2021-04-26 10:15] zmx commented on #3741
The `behavior: merge` in 4.1.5

- base: envs, overlay: envs -> append, it means same key will appear twice with different value
- base: files, overlay: files -> It's replace
- base: literals, overlay: literals -> It's the really merge

[2021-04-26 14:52] TekTimmy commented on #402
Am i getting it wrong or is there no option yet and i have to repeat every image in the overlay ?

[2021-04-26 19:13] natasha41575 commented on #3840
What does my-service-service.yml look like? The error thrown here is [from this line](https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/plugin/builtin/patchtransformer/PatchTransformer.go#L64), which indicates there is something wrong with the patch, and is unrelated to the `allowNameChange` field

[2021-04-26 19:16] natasha41575 commented on #3840
Can you fix the indentation? The Service patch `allowNameChange` field is extra indented.

If that doesn't fix it, what does my-service-service.yml look like?

[2021-04-26 19:33] #3705 closed

[2021-04-27 01:20] jlewi commented on #3760
Relative paths in helm files appear to work just fine using the latest version v4.1.2.

I was hitting the problem with v3.8.7.

@snuggie12 does upgrading to v4.1 work for you?

[2021-04-27 02:06] robax commented on #2190
/reopen

[2021-04-27 02:07] robax commented on #2190
@rvandegrift would appreciate a /reopen on this - the web editor is still not working.

[2021-04-27 02:12] robax commented on #2190
/remove-lifecycle rotten

[2021-04-27 02:13] robax commented on #2190
/reopen

[2021-04-27 02:17] robax opened #3842 "Tutorial editor not working"
**Describe the bug**

The web editor available at https://kustomize.io/tutorial is not working

**Files that can reproduce the issue**

Any yaml file.

**Expected output**

A patch in the right-hand panel is supposed to be generated.

**Actual output**

No patch is generated, and the endpoint appears to 500 in a call to JSON.parse().

**Additional context**

Possible duplicate of https://github.co

[2021-04-27 04:29] rvandegrift commented on #2190
hi @robax - as far as I can tell kustomize.io is abandoned.  I don't think reopening makes sense, it'll just be closed again in a while.

[2021-04-27 09:39] antoniocascais commented on #3480
Hi there.

I'm using version 4.1.2 and also have problems:
[code]

[code]

[code]
I don't even see any duplicated fields in the default values file of that repo (https://github.com/prometheus-msteams/prometheus-msteams/blob/master/chart/prometheus-msteams/values.yaml), so no idea what the problem is.

Can someone help?

[2021-04-27 13:47] levsha commented on #3271
kustomize still has regression processing YAML anchors:
[code]

[2021-04-27 13:47] levsha commented on #3271
/remove-lifecycle stale

[2021-04-27 14:58] Krzysztof-Lempicki commented on #3840
"Can you fix the indentation? The Service patch allowNameChange field is extra indented."

you want me to do this:

[code]

?

[2021-04-27 16:55] natasha41575 commented on #3840
No, leave it indented. Notice how in your previous comment it was even more indented than the others?

It was like this:

[code]

It should be like this:
[code]
- path: my-sevice-service.yml
    target:
      kind: Service
    options:
      allowNameChange: true  # less spaces
[code]

[2021-04-27 18:45] robax commented on #2190
Thanks for the swift reply @rvandegrift , such is life!

[2021-04-27 18:45] robax commented on #3842
@natasha41575 Would you happen to know who maintains the kustomize.io site or if it's abandoned?

[2021-04-27 19:21] natasha41575 commented on #3842
I'm really not sure about kustomize.io; https://kubectl.docs.kubernetes.io/references/ is where the core documentation is.

@Shell32-Natsu @monopole Where is kustomize.io maintained and is it still in use?

[2021-04-27 22:42] apeschel commented on #880
I've been putting the correct namespace on the resources, and not setting a namespace in the kustomization.yaml files.

I discovered you can set the namespace for a generator, which solves the problem of generated secrets/configmaps not being in the correct namespace:

[code]

This comes with the drawback of not being able to deploy the kustomization bundle to any arbitrary namespace, but I think

[2021-04-27 22:45] apeschel commented on #880
An additional thing that would be useful would be the ability to set the namespace for individual imported resources, rather than all or nothing.

[code]

[2021-04-28 11:58] ChristianCiach commented on #3819
I think the CRDs are just part of the helm chart and should not be omitted. When you execute `helm install`, helm will also install the CRDs if they are not already present.

Our CI pipeline takes a single `kustomization.yaml` as input and outputs a single kubernetes manifest (as a single file) that must include everything that is necessary to deploy the application. For this example, we try to de

[2021-04-28 12:09] ChristianCiach commented on #3819
I tried to use `helmChartInflationGenerator` instead, but the `extraArgs` seem to be ignored completely:

[code]

No matter what I specify as `extraArgs`, there is no error.

Using kustomize v4.1.2 and Helm v3.5.4.

[2021-04-28 12:24] drivelikebrazil commented on #3819
Helm v3 changed how CRDs are installed. Helm v3 charts now have a `crds` directory that helm applies when you run `helm install`. Since they are applied as-is and not templated, `helm template` doesn't generate them unless you use the new `--install-crds` flag that adds them to the templated output.

See helm docs: https://helm.sh/docs/chart_best_practices/custom_resource_definitions/

[2021-04-28 13:02] stephenrob opened #3846 "Support GoGetter for configurations in kustomization.yaml"
**Is your feature request related to a problem? Please describe.**

When using custom resources such as SealedSecrets and Gloo by Solo it's common to need to apply a range of common custom configurations to the CRDs to add support for kustomize and features such as namePrefix, nameSuffix and namespace changing. Currently this returns an `evalsymlink failure on ...` error.

**Describe the solution

[2021-04-28 13:38] drivelikebrazil commented on #3815
This is an issue with Helm's --post-renderer option in particular and the scary part was that someone running kustomize didn't have to consciously opt-in to run Helm. Given that we now have to explicitly elect to run Helm when we run kustomize, the user is consciously choosing to run Helm and accept the risks associated with it.

This is a partially workable solution to me. The main places I could

[2021-04-28 14:43] ChristianCiach opened #3847 "helmCharts doesn'"
**Describe the bug**

**Files that can reproduce the issue**

**Expected output**

**Actual output**

**Kustomize version**

**Platform**

**Additional context**

[2021-04-28 14:44] #3847 closed

[2021-04-28 15:00] ChristianCiach opened #3848 "'helmCharts' generator doesn't re-pull a chart when updating the version attribute"
Version:

[code]

Please have a look at this kustomization:
[code]

When running `kustomize build --enable-helm` on this directory, the tar-file gets pulled into `./charts/traefik-9.18.2.tgz` and inflated into `./charts/traefik/`. Nothing surprising so far.

To follow best practices (and because our CI system has no access to the internet), we commit the generated `charts` directory into version c

[2021-04-28 16:58] monopole commented on #3492
closed by #3737

[2021-04-28 16:58] #3492 closed

[2021-04-28 17:25] monopole opened #3849 "Modify `fix` command to replace `vars` with `replacements`"
We should at lease see how difficult this would be.

so running

[code]
would, say:
- copying the kustomization and everything it referred to to a tmp dir
- running the `build` and saving the output to the tmp dir
- then (`vars` specific):
  - scanning all resources for embedded `$VAR` placeholders,
  - computing the _target_ address for a replacement entry (where the `$VAR` was found),
  - replac

[2021-04-28 17:28] natasha41575 commented on #3849
Will work on it

[2021-04-28 19:28] lfdominguez opened #3850 "[Question] Multiple Deployment with different values"
Hi i have this kustomize .yaml
[code]

My question is how in the same kustomize .yaml i can define another deployment based on same `resources` template?

[2021-04-28 20:55] mabushey commented on #1262
@Liujingfang1 The examples do not even come close to explaining how this works. I would love to have the hashed name on credentialName, but that appears impossible, or at least impossible w/o spending days digging into the source code of kustomize. The docs on nameReference give obscure examples without explaining what/why or what any of the fields actually do/reference. `Insert nameReference into

[2021-04-28 21:13] Liujingfang1 commented on #1262
@monopole @Shell32-Natsu Since this issue was asked several times, I think it worth to create an example for it.

[2021-04-28 21:15] KnVerey commented on #3824
This problem is not exclusive to the images field; this seems to be a duplicate of https://github.com/kubernetes-sigs/kustomize/issues/3675

/triage duplicate
/close

[2021-04-28 21:15] #3824 closed

[2021-04-28 21:19] snuggie12 commented on #3760
@jlewi sorry, been out of commission the past few days.

Yes, I was able to get things working with 4.1.X

[2021-04-28 21:26] snuggie12 opened #3851 "Temp filepath incorrect when chart has a forward slash in the name"
**Describe the bug**
When trying to install an artifactory helm chart via the generator we are getting errors that a directory can't be found. That's due to the chart name literally being `jfrog/artifactory`.

**Files that can reproduce the issue**
[code]

**Expected output**

**Actual output**
[code]

**Kustomize version**
4.1.0

**Platform**
macOS

**Additional context**
Haven't tried the new he

[2021-04-29 01:42] iamnoah opened #3852 "Remote Resource + OpenAPI -> CRD patches overwrite instead of merge (schema ignored)"
**Describe the bug**

A kustomization that combines a remote resource and a resource using openapi schema may result in the openapi schema (openapi.path) being ignored, and custom resources not being correctly merged.

See here: https://github.com/iamnoah/kustomize-remote-crd-merge-bug

**Expected output**

The containers of the two `MyKind` CRDs should be merged by name.

**Actual output**

The a

[2021-04-29 16:57] #3760 closed

[2021-04-29 20:04] #3286 closed

[2021-04-29 20:30] Shell32-Natsu commented on #3850
You can put the resources into a base and create 2 overlays to kustomize it.

https://kubectl.docs.kubernetes.io/references/kustomize/glossary/#base

[2021-04-29 20:48] Shell32-Natsu commented on #3851
I am not sure chart name with forward slash in chart name is fully supported in helm. https://github.com/helm/helm/issues/9017

[2021-04-29 23:26] lfdominguez commented on #3850
so is create another kustomize.yaml that change the values

[2021-04-30 05:23] snuggie12 commented on #3851
Well, I don't disagree that it's a bad pattern, but it seems easy enough to fix on the kustomize side.

What do you suggest? Make an issue with jfrog?

[2021-04-30 20:06] mgwismer commented on #641
But we need to change the generateName to name not the other way around. I tried this but still get the same error, metadata.name missing

[2021-04-30 22:04] natasha41575 commented on #3840
I get the same error when removing the options and allowNameChange field, so it is unrelated. There is something wrong with the patch; I'm investigating it now

[2021-04-30 22:18] natasha41575 commented on #3840
Ah, I've found the mistake.

You are using the `patch` field, which is meant for inline patches. You should be using the "path" field. See https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/

Your kustomization should be:
[code]

The error here is being thrown because it is trying to marshal the string "my-service-service.yml" into a patch, rather than reading the patch

[2021-04-30 22:18] #3840 closed

[2021-04-30 22:22] johny-mnemonic commented on #880
@apeschel The issue with setting namespace(s) to the resources is, that you make it static that way.
Imagine you have a general purpose application like cache or database, which you need multiple times in the cluster. The best way is to simply create overlays that differ not just by specific configuration, but also by namespace. So every instance of your application lives in it's own namespace.

[2021-04-30 22:22] natasha41575 commented on #3850
@lfdominguez yes, you will have to create another kustomization.yaml in a different directory that reuses the same base

[2021-04-30 22:23] #3833 closed

[2021-05-01 00:35] jlewi opened #3856 "kustomize edit set image removes helmChartInflationGenerator"
**Describe the bug**

Running `kustomize edit set image ...` on a kustomization.yaml containing a helmChartInflationGenerator causes the helmChartInflationGenerator section to be removed.

**Files that can reproduce the issue**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

macOs

[2021-05-01 03:14] #3303 closed

[2021-05-01 21:07] lfdominguez commented on #3850
Ok thanks...

[2021-05-01 21:07] #3850 closed

[2021-05-02 02:26] KeisukeYamashita commented on #3776
Solved in https://github.com/kubernetes-sigs/kustomize/pull/3795

[2021-05-02 02:26] #3776 closed

[2021-05-02 16:49] ChaturvediSulabh commented on #3276
/assign

[2021-05-02 17:55] StevenLiekens commented on #2037
/remove-lifecycle stale

Try again

[2021-05-02 22:28] #3307 closed

[2021-05-03 04:48] keidevs commented on #3756
When will the documentation be completed?

@Shell32-Natsu

[2021-05-03 04:54] keidevs opened #3865 "[Question] Using versions field"
I am currently using the latest version of kubernetes 4.1.2.
I am trying to use the labels field added in version 4.1.0, but an error message appears stating that the field does not exist.
I'm curious what I'm doing wrong.

version: {Version:kustomize/v4.1.2 GitCommit:a5914abad89e0b18129eaf1acc784f9fe7d21439 BuildDate:2021-04-15T23:23:37+01:00 GoOs:darwin GoArch:amd64}

platforn: Mac os

[2021-05-03 08:00] svetlanatiffonet commented on #3814
It works. Thanks !

[2021-05-03 08:00] #3814 closed

[2021-05-03 08:31] keidevs opened #3866 "kustomize edit set label"
Recently, a new field called labels was added to Kustomize.

and There is currently a command called kustomize edit set label which changes the commonLabels field.

First of all, changing a field called commonLabels for kustomize edit set label at the current time when a new field called labels is added can cause confusion, and it doesn't seem appropriate.

Also, I would like to add a new command

[2021-05-03 08:34] jaunruh opened #3867 "Endpoints returning 502 on every other request when using Kustomize"
I am not sure if this is a bug, expected behaviour or if I am doing something wrong.

When using Kustomize in combination with [ingress-nginx](https://kubernetes.github.io/ingress-nginx/) and [cert-manager](https://cert-manager.io/docs/tutorials/acme/ingress/) while following the tutorial in the later link I stumble upon a weird error.

Steps taken:
- created a fresh kubernetes cluster
- created y

[2021-05-03 09:14] pickfire commented on #3760
Do we need to wait for the next kubectl release to get this kustomize if we don't want to install kustomize separately?

[2021-05-03 10:18] #3865 closed

[2021-05-03 10:22] keidevs commented on #3020
Is there any way to change the labels value of labeltransformer using kustomize edit or Kustomize command?

[2021-05-03 10:24] keidevs opened #3868 "[Question] Change value of LabelTransformer labels"
I want to change the value of labels via kustomize command in ci step.

For example, you can change the commonLabels value through the kustomize edit set label command.
Is there a way to change the values of labels other than commonLables?

[2021-05-03 11:45] Amit-Prajapati commented on #3378
May I know what was the exact fix? facing exact same issue.

[2021-05-03 12:42] #3804 closed

[2021-05-03 12:43] cloudfather commented on #3804
was missleading. sorry for that ;)

[2021-05-03 12:58] ChristianCiach commented on #3635
I second this request, because I have the same use case. An operator that comes with my cluster (k3s) requires me to create a configmap with a specific name.

The secret I want to use is created by a Kustomize-`Component`  that is used by a lot of "overlays". And for the vast majority of these overlays I actually want to let Kustomize generate a hash value.

As a workaround for said operator that

[2021-05-03 13:25] aashrit93 commented on #3378
I too am facing the same error . My observations  :
 if i use kubectl apply -k <path to kustomization.yaml> or kustomize build <path to kustomization.yaml> i see the expected output
however when i try to use the same kustomize file with gitops ( setup using flux install, flux create source and flux create kustomization ) i see the below error during flux kustomization creation
        * accumulate

[2021-05-03 13:51] benjamin-bergia commented on #3635
@ChristianCiach It's not a bug the generatorOptions need to be specified in the same file than the generator like you mentioned ;)

[2021-05-03 17:40] Shell32-Natsu commented on #3378
@aashrit93 I suppose this is because of the differences between the kustomize versions.

[2021-05-03 17:45] Shell32-Natsu commented on #3020
@keidevs Please check `kustomize edit set label`

[2021-05-03 17:48] Shell32-Natsu commented on #3867
Could you compare the result from kustomize between your original method and copying overlays?

[2021-05-03 19:19] rgruyters opened #3869 "Use ServiceAccount secrets.name as variable input"
Hi ya, i'm was digging into Kustomize to see if I can use it for my environment.

For my application I need to create a ServiceAccount and an Issuer, to retrieve certificates from my PKI service.

I have tested it with the following files but couldn't get it to work. Maybe it is not possible, but maybe it is.

[code]

[code]

[code]

This doesn't work for me, but maybe you can help me.

[2021-05-03 20:39] apeschel commented on #880
@johny-mnemonic That's true, but I can't think of many scenarios where you would be using multiple namespaces in a kustomization, and be planning on having multiple copies of that kustomization deloyed. Using multiple namespaces in a kustomization seems to imply that the kustomization should be deployed as a singleton to the cluster.

[2021-05-03 20:43] invidian commented on #880
What about cases like Helm release for kube-prometheus-stack, where services are deployed to kube-system namespace for monitoring, but you can have multiple copies of them, each with unique name prefix. That would be a legitimate use case, e.g. when you want to test updated configuration or new versions. Shouldn't such use case be supported by kustomize?

[2021-05-04 06:30] keidevs commented on #3868
[code]

I am currently using LabelTransformer as above. Is there a Kustomize command that can change the labels value here?

[2021-05-04 07:54] rverma-nsl opened #3871 "[Question] How to extract only image newname in a transformer"
hi all,  trying to use flux with kustomie.

One basic challenge is how can i have an image reference updated without including image tag. E.g

[code]
updated using kustomization.yaml
[code]
with a simple image transformer, it update with the tag  like which needed to be excluded like,
[code]

Please help :slightly_smiling_face:

[2021-05-04 10:00] jaunruh commented on #3867
Using `/usr/bin/diff` on the generated files generated by `kubectl kustomize ./ >> (base|prod).yaml` the only differences given are related to `annotations` and `variant`.

I just realised, that I use an `Ingress` object in the `prod` environment that is identical to the base one. So I am overwriting the Ingress with an identical one. Only in the `dev` environment I would actually need to replace

[2021-05-04 10:17] varshithreddy21 commented on #1301
[https://github.com/kubernetes-sigs/kustomize/blob/master/examples/generatorOptions.md]
we can disable the hash using this

[2021-05-04 11:12] guAnsunyata commented on #1301
It works!

[2021-05-04 13:21] WillooWisp commented on #947
This is still an issue, with latest version of kustomize bundled with Argo CD 2.0.1. I use the kustomized-helm pattern, but kustomize corrupts the following

BEFORE
[code]

AFTER
[code]

[2021-05-04 13:24] WillooWisp opened #3872 "Kustomize corrupts lines with line breaks"
Using latest version of kustomize, v3.9.4, bundled with Argo CD 2.0.1. I use the kustomized-helm pattern, but kustomize corrupts the following...

BEFORE
[code]

AFTER
[code]

[2021-05-04 13:25] #3856 closed

[2021-05-04 17:10] Shell32-Natsu commented on #3872
It looks like an edge case. It will be great if you can provide a set of files to reproduce it.

[2021-05-04 17:14] Shell32-Natsu commented on #3867
It's worth a try.

[2021-05-04 17:16] Shell32-Natsu commented on #3871
Have you tried emit `newTag` in the config?

[2021-05-04 17:17] Shell32-Natsu commented on #3868
Currently there is no such command to set `labels`. But it's in the plan.

[2021-05-04 18:59] WillooWisp commented on #3872
I use the multinode chart in this repo, https://www.github.com/timescale/timescaledb-kubernetes/tree/master/charts%2Ftimescaledb-multinode

Kustomizing the helm output generates the incorrect yaml file where the command in the job create databases manifest is corrupt when it comes to line breaks.

[2021-05-04 19:59] campoy opened #3873 "kio.LocalPackageReadWriter should provide file system abstraction"
**Is your feature request related to a problem? Please describe.**

Testing any program using `kio.LocalPackageReadWriter`, `kio.LocalPackageReader`, or `kio.LocalPackageWriter` is quite cumbersome due to its lack of abstraction allowing to fake the file system it reads from. This leads to very complex test cases where temp directories need to be created and destroyed continuously.

**Describe the

[2021-05-05 10:20] jaunruh commented on #3867
[code]
As one can see there seem to be multiple backends for each service, even tho each service is only running one pod. This does not happen using plain `kubectl`.

Describing one of the pods gives the first internal ip of the corresponding service:
[code]

I would try to prevent reapplying the yaml files because I need to prevent the cert-manager from re-retrieving the tls cert. I am currently

[2021-05-05 11:22] stud0r commented on #3555
For our use case it would already help to configure the defaultDuration.

[2021-05-05 12:56] Magicloud opened #3875 "[Question]Is it possible to reference to an existing resource?"
I am working with Vault injector agent, which manifest contains a `caBundle` field requires a CA cert in form of text, instead of a secret/configmap.

But in my case, the CA for the cluster is automatically generated and stored as a secret. So if I do not want to do manual work as viewing the secret, copying the text to manifests, applying the manifests. I need to figure out a way to reference to

[2021-05-05 16:25] monopole commented on #3794
Did an issue for option 2 get filed?

[2021-05-05 16:29] johny-mnemonic commented on #880
@apeschel well, for example whenever you deploy app together with the configuration for Prometheus Alert manager you need to deploy those rules to the namespace of Prometheus, while your apps goes to it's own namespace. So in case you want to customize those rules per overlay, while also want to define namespace of the app in the overlay you are in a bit of trouble...

[2021-05-05 18:04] queil opened #3876 "Invalid build output if resource separator has trailing spaces"
If a file has multiple resources separated by `---` and the separator is followed by trailing spaces then `kustomize build` silently generates an invalid output.

**Files that can reproduce the issue**

**kustomization.yaml**:
[code]
**install.yaml**:
[code]

**Expected output**

An error message indicating the file {full-file-name} is invalid due to trailing spaces in line {line-number}. Alternat

[2021-05-06 00:33] r0bj opened #3877 "ClusterRoleBinding subjects namespace is wrong"
**Describe the bug**
ClusterRoleBinding subjects namespace is wrong.

**Files that can reproduce the issue**

[code]

a/kustomization.yaml:
[code]

a/resources.yaml:
[code]

b/kustomization.yaml:
[code]

b/resources.yaml:
[code]

base/kustomization.yaml:
[code]

base/resources.yaml:
[code]

kustomization.yaml:
[code]

**Expected output**

[code]

**Actual output**

[code]

Note: Last output line,

[2021-05-06 03:42] yujunz opened #3878 "`unmarshal errors` from `helmCharts`"
**Describe the bug**

`unmarshal errors` when templating helm chart from kustomize

**Files that can reproduce the issue**

kustomization.yaml

[code]

**Expected output**

helm template output

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

macOS

**Additional context**

n/a

[2021-05-06 11:58] mathieux51 commented on #3446
I experienced that issue as well with `v4.1.2`.
[code]

Now if I use `v3.8.10`, `kustomize build` works. https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv3.8.10

[2021-05-06 13:10] jhass commented on #3446
For the interested readers, I experienced similar issues from using YAML anchors and references, so not involving any numerical keys:

[code]

[2021-05-06 15:50] edude03 opened #3879 "[Question] Is it possible to have Kustomize apply Components "generically"?"
Hi,

Sorry if this is not the right place to ask, but I've checked the usual suspects already and couldn't find an answer so I figured here would be the next logical step.

I have a use case that I feel like is both fairly common, and could be solved with Kustomize but I haven't been able to get it to work so far and would appreciate some guidance.

I have an application that I want to deploy both

[2021-05-06 16:59] Shell32-Natsu opened #3881 "Re-enable tests disabled in #3880"
Some tests are disabled in #3880 because the images they use disappeared.

The images include:
- `gcr.io/kustomize-functions/example-cockroachdb`
- `gcr.io/kustomize-functions/example-tshirt`
- `gcr.io/kustomize-functions/example-validator-kubeval`

[2021-05-06 16:59] Shell32-Natsu commented on #3881
cc @monopole

[2021-05-07 17:34] monopole commented on #3868
So the ask here is to modify the

`kustomize edit set label`

command to modify the (new) `labels` field in addition to or instead of the (old)  `commonLabels` field, correct?

[2021-05-07 17:51] natasha41575 commented on #3879
It is because you are using the `patch` field, which should only be used for an inline patch. If you want to use a path, you need to use `path`, e.g.

[code]

You can see the documentation here:
https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/

Let me know if this works! You aren't the first to have this problem, the UX could be better. I hope this resolves your issue

[2021-05-07 22:01] #3323 closed

[2021-05-07 22:44] jketcham commented on #3877
I'm experiencing something similar on version `4.1.2` (after upgrading from `3.8.6` where this was not happening), except instead no namespace gets added to the subject of my ClusterRoleBinding, and the `name` of the ServiceAccount is also not updated with a `nameSuffix` I'm applying.

Put more simply, it appears the `subjects` of a ClusterRoleBinding are not affected by any changes defined in a k

[2021-05-08 13:05] iamnogada commented on #3417
With version v4.1.2
I got the same error with this version.

# 한글(korean)
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: employees
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /

kustomize build . > temp.yaml
Error: map[string]interface {}{"apiVersion":"networking.k8s.io/v1", "kind":"Ingress", "metadata":map[string]interface {}{"annotations":map[string]interface

[2021-05-08 15:16] madhukar93 opened #3883 "docker pull is failing for examples in `kustomize/functions/examples`"
docker pull is failing for examples in  `kustomize/functions/examples`. I'm able to pull images from gcr otherwise. I authenticate using the gcloud cred helper

Example -

[code]

[2021-05-08 15:52] madhukar93 commented on #3785
what I'm trying is keeping the base deployment bare, with spec as null - basically just a with metadata.name, and applying patches to it for everything else as components

[2021-05-09 14:46] edude03 commented on #3879
Hi @natasha41575 - thanks for the reply. The `path` vs `patch` thing was a typo in my example, but in replying to you I tried something different that I think has solved my problem. I do want to explain a little more to ensure you (and anyone else working on kustomize UX/docs) understand.

So, to summarize, I'd say there is two problems:

1) kustomize requires that strategic merge patches define `

[2021-05-09 19:12] #3333 closed

[2021-05-10 10:29] WillooWisp commented on #3872
@Shell32-Natsu did you manage to reproducera the issue described with this helm chart?

[2021-05-10 16:30] natasha41575 commented on #3869
You are referring to the path `secrets.name` of this resource:

[code]

The path `secrets.name` doesn't exist. Did you truncate the rest of this resource?

[2021-05-10 18:19] rgruyters commented on #3869
No I didn't. Normally when requesting a ServiceAccount _Issuer_ it will generate a `secrets.name` with a suffix.

[code]

The token which is available in the issuer-token will be used for authentication to the kubernetes auth mountpoint in Vault.
Is there a way with kustomize to get the token name? Or can I find another way to get this done?

[2021-05-10 18:20] Shell32-Natsu commented on #3883
Yes we have known this issue.

[2021-05-10 19:41] natasha41575 commented on #3869
The `secrets.name` path must exist when `kustomize build` runs; otherwise there is no way for kustomize to get it. When does `secrets.name` get generated in relation to `kustomize buidl`?

[2021-05-10 21:35] edude03 commented on #3879
I think I've gotten to a point where I have "solved" this issue enough to be unblocked. I think there is still a UX issue that should be fixed or better documented but in the mean time I'll see if I can put together a blog post

[2021-05-10 21:35] #3879 closed

[2021-05-11 00:25] monopole opened #3885 "Remove delegation to RNode in Resource"
The core data structure of kustomize is  a list of `resource.Resource`.

A `Resource` includes raw data about a resource (what one would send to a cluster) plus ancillary data used by kustomize to globally transform resources (e.g. update name _back references_ when names change).

To close #2506, enabling the closure of #1500, kustomize was switched from depending on apimachinery `Unstructured` t

[2021-05-11 01:37] bzub opened #3887 "annotationSelector should not use label value validation"
**Describe the bug**

Parsing an "annotation selector" validates annotation values as label values. Annotation values should be less restrictive.

**Script that can reproduce the issue**

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**

[code]

**Platform**

macOS

### NOTES

https://github.com/kubernetes-sigs/kustomize/blob/714af0cd66e2fe3e79cb741bfd3d4853c31

[2021-05-11 02:32] cassid4 commented on #3815
One side effect of not being able to specify the desired namespace that helm uses is that helm seems to try to use the default namespace in the currently defined KUBECONFIG.

[2021-05-11 03:50] monopole commented on #3815
It would be tricky to have the namespace transformer effectively communicate with all helm generators below it in the kustomization overlay tree.

[2021-05-11 07:42] madhukar93 commented on #3883
is this going to be fixed or should the docs be updated to say that the image should be built locally?

[2021-05-11 15:22] cassid4 commented on #3815
Follow-up from my earlier comment

It turns out helm only picks this up if a namespace value is set in the KUBECONFIG, so this isn't a problem if KUBECONFIG is unset or doesn't specify a value.

[2021-05-11 17:01] Shell32-Natsu commented on #3883
We will need to fix this issue.

[2021-05-11 18:00] rgruyters commented on #3869
Sure!

For Cert Manager I use the Vault configuration solution with Kubernetes authentication against Vault service. For this to happen you need to create an Issuer token. (`kubectl create sa issuer`)
This will create a secret token with a suffix. (see [example](https://github.com/kubernetes-sigs/kustomize/issues/3869#issuecomment-837087302) above, `issuer-token-p7c7f`)
The token (with suffix) is

[2021-05-11 18:11] sylr opened #3890 "make test-unit-kustomize-api fails on macOS"
**Describe the bug**

[code]

**Kustomize version**

master

**Platform**

macOS

**Additional context**

[2021-05-11 20:20] monopole commented on #3815
Reopening to track the broader concept of having only one place to specify a namespace change.
Right now, if you use helm charts, you have to set it there too.

[2021-05-11 20:35] #3885 closed

[2021-05-11 22:52] snuggie12 commented on #3851
Though it does seem to be frowned upon in helm 3, I guess `/` is more common with OCI registries so I think this will have to be solved eventually.

FWIW I tried to make a PR for this, but don't know golang very well and after successfully running `helm pull` by making the directory `jfrog-artifactory` instead of two directories it actually names the directory/tgz `artifactory`.

[2021-05-11 23:51] natasha41575 commented on #3869
I see. If I understand correctly the secret token is only available in the cluster not written to a local file?

If that's the case, there's really no way for kustomize to get the token; it doesn't communicate with the cluster and the only things that it can read are the files explicitly listed in its `resources` field.

[2021-05-12 06:21] albuch opened #3892 "[Question] Patching values that have name references in different namespaces"
From what I've experienced so far is that if a value is patched on a resource that is configured to have name references for this value in resources in a different namespace these are not patched.
Example
[code]
Is not patching the `fooRef/Name` value in `Bar` to `myBaz` as they reside in different namespaces. Is this an expected behaviour? If so, is there a workaround available?

This is a common

[2021-05-12 06:50] rgruyters commented on #3869
Correct. If I want to use Cert Manager and Vault together with Kustomize I have to use Approle or token based authentication against Vault.
Thanks for clearing things up.

[2021-05-12 17:10] Shell32-Natsu commented on #3892
This is expected. The `name` and `namespace` field in `target` are regular expressions, so you can use `namespace: .*` to match all namespaces.

[2021-05-12 17:13] natasha41575 commented on #3869
I am closing this issue assuming that your question has been answered, but feel free to reopen if you feel it hasn't been fully addressed.

[2021-05-12 17:13] #3869 closed

[2021-05-12 18:58] albuch commented on #3892
I've already tested this and tested it again and kustomize seems to only apply the patch to all `Foo` in all namespaces but not to its namereferences when setting `namespace: .*` on the patch `target`.
It's the same output of `kustomize build` for the proposed change as before:
[code]

`spec.fooRef.name` of `Bar` is not changed

[2021-05-12 19:35] sshiba commented on #3852
I am experiencing same issue on Ubuntu 18.04.

[2021-05-12 19:51] sshiba commented on #2339
The example provided in https://github.com/kubernetes-sigs/kustomize/blob/master/examples/customOpenAPIschema.md works but when I tried to implement on a CR, it didn't work. Generated the schema as described, i.e., `kustomize openapi fetch` then tried to apply our `patchesStrategicMerge` manifest and it seems the schema was ignored. Instead of appending new elements to a list, it just replace it.

[2021-05-12 20:36] natasha41575 commented on #3663
The kustomize module is throwing the same error, and was downgraded in this PR: https://github.com/kubernetes-sigs/kustomize/pull/3891

Also, even after downgrading, if kustomize tries to import io/fs, it throws the error `build sigs.k8s.io/kustomize/kustomize/v4: cannot load io/fs: malformed module path \"io/fs\": missing dot in first path element\n"`

[2021-05-12 21:36] KnVerey commented on #3873
/triage accepted
/assign @campoy

[2021-05-13 00:19] monopole commented on #3873
Thanks!

Just to add some history, the impls of https://pkg.go.dev/sigs.k8s.io/kustomize/api/filesys#FileSystem are both in that package (same package as the ifc).   The main ctors one would use at injection points are

 - [MakeFsOnDisk](https://github.com/kubernetes-sigs/kustomize/blob/master/api/filesys/fsondisk.go#L20)  (for the [kustomize CLI](https://github.com/kubernetes-sigs/kustomize/blob/

[2021-05-13 00:23] matthewhembree opened #3895 "kustomize cfg fmt: Panic on parsing emoji in files."
**Describe the bug**

A file containing an emoji (such as 👆) will cause `kustomize cfg fmt` to panic. It will not write (net delete) the affected file.

**Files that can reproduce the issue**

[code]

**Expected output**

[code]

**Actual output**

[code]

[code]

**Kustomize version**

{Version:kustomize/v4.1.2 GitCommit:a5914abad89e0b18129eaf1acc784f9fe7d21439 BuildDate:2021-04-15T23:23:37+01:00

[2021-05-13 17:25] Shell32-Natsu commented on #3895
Could you try with non-ascii characters, like CJK? Want to confirm is this a emoji specific issue or a utf-8 issue.

[2021-05-13 19:14] natasha41575 commented on #2339
@sshiba you have to edit the document provided by `kustomize openapi fetch` with the correct merge keys and patch strategy, see the extensions `x-kubernetes-patch-merge-key` and `x-kuberenetes-patch-strategy` in the docs here: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/

[2021-05-13 19:14] natasha41575 commented on #3852
you have to edit the document provided by kustomize openapi fetch with the correct merge keys and patch strategy, see the extensions x-kubernetes-patch-merge-key and x-kuberenetes-patch-strategy in the docs here: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/

[2021-05-13 19:20] natasha41575 commented on #3852
I believe `x-kubernetes-merge-key` and `x-kubernetes-patch-strategy` can only be set when the type is array (i.e. at the same level as `type:array` in the schema). I see you've set it in other places where kustomize can't do anything with it (e.g. [this line](https://github.com/iamnoah/kustomize-remote-crd-merge-bug/blob/e8766c17b109686e2536f3e41ffdfaf0aabf2403/base/crds.json#L378)) because it's s

[2021-05-13 19:22] natasha41575 commented on #3852
Closing because this is not a bug with kustomize, and more to do with a lack of clarity on where and how the patch extensions should be used. Hopefully some day we will have an automatic tool for this.

[2021-05-13 19:28] iamnoah commented on #3852
@natasha41575 please run the examples in the repo. There is different output based on the ordering in `resources:`. There do appear to be some invalid annotations (which, by the way, are from the output of kustomize's openapi dump command) but there are valid annotations on array objects that are merged in one case but not the other.

[2021-05-13 19:32] natasha41575 commented on #3852
Sorry - github has been behaving kind of strangely for me and I meant to edit a previous comment and see it's been removed instead.

Repeating that comment here for people who look at this later:

I believe `x-kubernetes-patch-merge-key` and `x-kubernetes-patch-strategy` are only supposed to be used with objects of type array and I see some places in that repo where they are placed on objects of t

[2021-05-13 20:00] matthewhembree commented on #3895
@Shell32-Natsu

This fails too:
[code]

[code]

[2021-05-13 23:54] natasha41575 commented on #3521
Closing this issue since the replacement transformer is now implemented (#3492). This will be available in an upcoming release.

[2021-05-13 23:54] #3521 closed

[2021-05-14 07:38] dove-young opened #3896 "Error still found on "HelloWorld" example"
Same as issue https://github.com/kubernetes-sigs/kustomize/issues/3479

I am using kubectl v1.20 to run examples in https://github.com/kubernetes-sigs/kustomize/tree/master/examples/helloWorld

[code]

And I kept slip at error `error: json: unknown field "metadata"`

[code]

It can be passed by using `kustomize build`.  But it took me really long time to reach to issue 3479 to find the root cause.

[2021-05-14 16:49] Shell32-Natsu commented on #3896
Kustomize has been re-integrated with kubectl since kubectl 1.21.0. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#kustomize-updates-in-kubectl

[2021-05-14 17:24] sshiba commented on #2339
@natasha41575 I update the schema as recommended (by adding `x-kubernetes-patch-merge-key` and `x-kuberenetes-patch-strategy`) and it works for one case (i.e., appends new elements to the array) but in another field it just overrides previous array contents. I purged a bit the example below so it focus on the issues I am facing.

_Btw, let me know what I am missing to get this working?_

**kustomi

[2021-05-14 18:09] madhukar93 opened #3897 "unrelated additional help topics on openapi subcommand"
The `openapi` sub-command shows help topics for `fn`
for build -
[code]
sample output -
[code]

[2021-05-14 18:10] #3785 closed

[2021-05-14 19:31] KnVerey commented on #3819
Under what circumstances will folks using these charts via Kustomize (so not running helm install) want to _exclude_ CRDs that the chart includes? In other words, do we need to expose the option to enable them, or do we just need to enable them globally in the generator?

[2021-05-14 19:35] dmizelle commented on #3819
hey @monopole, thinking about submitting a PR for this. saw on the contributor's guide for kustomize that the process was to e-mail sig-cli and join the biweekly Zoom call. For something like this that's not a big feature, would you still like me to do that? Or is it safe to submit the PR and have the review / discussion happen there?

[2021-05-14 19:37] dmizelle commented on #3819
@KnVerey -- I was thinking about having it set to `false` by default, just so when / if we enable this, it doesn't cause surprises for users. It'd be a new field on the `HelmChart` struct so that users can set it like:

[code]

Thoughts?

[2021-05-14 20:29] dmizelle commented on #3819
/assign

[2021-05-14 20:48] dmizelle commented on #3819
Opened up #3898 . If you'd like me to go through the more formal process for this, please let me know! I have some further comments in here.

[2021-05-15 14:14] ordovicia commented on #3417
I confirmed that, as @iamnogada reported, kustomize v4.1.2 has the same issue.

[2021-05-16 13:06] madhukar93 commented on #3897
@natasha41575 If you don't mind answering here instead of a separate issue - I see `kustomize config run` referenced in some kustomize function READMEs - [example](https://github.com/kubernetes-sigs/kustomize/blob/master/functions/examples/template-go-nginx/README.md#function-invocation).
From what I've been able to try so far `kustomize fn run` reconciles functions, and `config` commands are actu

[2021-05-17 04:45] pepesi commented on #3262
I had a similar problem;
try modify go.mod   `replace github.com/go-openapi/spec => github.com/go-openapi/spec v0.19.8`

[2021-05-17 06:25] natasha41575 commented on #3897
@madhukar93 I think you're right especially considering `config` isn't an available subcommand. Would you consider making a PR to fix the examples? If not, I would appreciate if you could file a separate issue for that. Thank you for bringing this to our attention.

[2021-05-17 06:54] madhukar93 commented on #3897
@natasha41575 I understand that these features are alpha and docs are still catching up. I can make a PR, but I'd like to clarify a few things first, so I will create another issue as well.

[2021-05-17 19:15] eddiezane commented on #1424
/cc

[2021-05-17 20:42] jonaskello commented on #3559
/remove-lifecycle stale

This is still an issue AFAIK.

[2021-05-18 08:59] KarstenSiemer commented on #235
I would like kustomize to work like it did before? How can I edit the transformer to behave like pre patch?

[2021-05-18 13:30] albuch commented on #3892
@Shell32-Natsu any idea if this is a bug nevertheless?

[2021-05-18 14:47] hansanghoon commented on #3485
kustomization.yaml
[code]

deployment.yaml
[code]

redis.yaml
[code]

and build output
[code]

problem still persist as we have integer value for environment variable. tested on windows 10 with kustomize cli(installed via chocolatey `choco install kustomize`).

[code]

[2021-05-18 14:48] hansanghoon commented on #3485
/remove-lifecycle stale

[2021-05-18 16:21] flickerfly commented on #3175
Last I knew, the kubectl version does not support the version of kustomize that has the -o option. This would need to be done outside kubectl.

[2021-05-18 17:14] #3896 closed

[2021-05-18 20:41] rptaylor commented on #3205
/remove-lifecycle stale

[2021-05-19 07:40] Heathland opened #3901 "namePrefix not working for configMapGenerator when used in Component"
**Describe the bug**

Configmaps generated by a configMapGenerator won't get a namePrefix when the namePrefix is stated in a Component.

**Files that can reproduce the issue**

base/kustomization.yaml
[code]
base/working-configmap.yaml
[code]
component/kustomization.yaml
[code]

**Expected output**

[code]

**Actual output**

[code]

**Platform**

WSL - Ubuntu 18.04.5 LTS
Version:kustomize/v4.1.2

[2021-05-19 16:07] lallinger-arbeit opened #3902 "Generating secret from literal removes trailing quote"
**Describe the bug**
When using the `secretGenerator` with literals a trailing quote `"` at the end of the value will be removed from the value.

**Files that can reproduce the issue**

kustomization.yaml:
[code]

**Expected output**

[code]

**Actual output**

[code]
**Kustomize version**

[code]

**Platform**

Linux

**Additional context**

[2021-05-19 18:37] Shell32-Natsu commented on #3892
Ok I misunderstood your question. You want to update a name reference across different namespaces. This is not intended in kustomize. The name reference will be updated when:
1. They are in the same namespace OR
2. The resources are cluster-scoped OR
3. The reference is in RoleBinding.

[2021-05-19 18:37] #3892 closed

[2021-05-19 18:56] yhrn commented on #3618
/remove-lifecycle stale

[2021-05-19 23:10] #3555 closed

[2021-05-20 01:42] mxrss2 commented on #3742
https://github.com/kubernetes-sigs/kustomize/blob/017a0944383d28378ae7a2f063a630b6c124b16c/api/internal/git/gitrunner.go

@VackarAfzal  this is the code that does this -- may be an opportunity to add in a PR to override this cause its suboptimal to not be able to override it.

[2021-05-20 03:57] elrob commented on #2564
I think I might be facing a similar issue.
The `containers` array within the pod spec does not seem to work with kustomize and `serving.knative.dev/v1` - `Service`.
When I change the kind to `apps/v1` - `Deployment`, it works fine.
Should I create a separate issue?

[2021-05-20 07:20] KarstenSiemer opened #3904 "How to apply nameSuffix or namePrefix to namespace objects?"
Since "Avoiding Prefix Transformer for Namespace resource #2742" was merged, nameSuffix or namePrefix isn't applied to namespaces any more.
We heavily relied on that mechanism and cannot update until we've found a solution on how to still apply them to namespace resources.
We dynamically deploy our applications for Github pull requests using argoCD application crd objects. We just apply a nameSuff

[2021-05-20 08:08] maknihamdi commented on #2460
/reopen

[2021-05-20 14:22] epcim commented on #3574
possibly not generic solution but there shall be steps to mitigate the issue (ie to properly build the plugin).

In my makefile I was using workaround below, however that's just partial, sparta solution and does not fix everything. Is there it golang world a way to pin to packages that were used to build binary?

And anyway, one should be given a way to build kustomize, with it's custom plugins as

[2021-05-20 16:56] natasha41575 commented on #3904
Is there a reason you prefer suffixing the namespaces over setting a new namespace via the `namespace` field?

[2021-05-20 17:36] KarstenSiemer commented on #3904
Yes, setting the namespace field inside kustomize would require me to alter the manifest itself requiring a new git commit.
ArgoCD application crd allows injecting additional kustomize fields to the manifest but `namespace` is not one of them.
The ArgoCDs application crd's destination namespace field only works for manifest objects which do not already have a namespace, so it cannot alter objects

[2021-05-20 20:04] flickerfly commented on #766
Did Kustomize 4 remove the load_restrictor option entirely?

[code]

[2021-05-20 21:05] solarmosaic-kflorence commented on #3746
@SaschaHeyer @KnVerey can we re-open this to get the documentation updated? https://kubectl.docs.kubernetes.io/faq/kustomize/#security-file-foo-is-not-in-or-below-bar -- this still mentions `--load_restrictor`

[2021-05-20 21:08] solarmosaic-kflorence commented on #3746
Caused by https://github.com/kubernetes-sigs/kustomize/pull/3601

[2021-05-20 21:26] natasha41575 commented on #3904
IIUC, your request is to revert https://github.com/kubernetes-sigs/kustomize/pull/2742 so that prefixes and suffixes are applied to namespace objects as well? I'm not sure we can do that, given the large number of requests (https://github.com/kubernetes-sigs/kustomize/issues/1899) for it to be done.

Another way to suffix values will be the new replacements field (see the [tests here ](https://git

[2021-05-20 23:24] KnVerey commented on #3746
/reopen
/retitle Update docs to reflect flag hyphenation
/help

Docs are generated from https://github.com/kubernetes-sigs/cli-experimental if you have a moment to help with this

[2021-05-20 23:25] KnVerey commented on #3746
/kind documentation

[2021-05-20 23:26] KnVerey commented on #3746
/remove-kind bug

[2021-05-21 06:39] KarstenSiemer commented on #3904
Thanks @natasha41575! I do not request for #2742 to be reverted. It's fine for me that namespaces aren't suffixed on default. I am just looking for a way to still do it and would not mind some extra configuration. All I am looking for is a way to pass suffix information from the argocd application crd into the manifest, if that will work with the replacements field I am happy :-)

[2021-05-21 08:03] OpenetCK opened #3912 "The order of initContainers changed after the patch"
The initContainers  should maintain its order after the patching with kustomize.

**Files that can reproduce the issue**

kustomization.yaml
[code]

pod-patch.yaml
[code]

source.yaml
[code]

**Expected output**

The init container `init-mydb` should be first in the list.

**Actual output**

[code]

**Kustomize version**

{Version:kustomize/v4.1.3 GitCommit:0f614e92f72f1b938a9171b964d90b197ca8fb68

[2021-05-21 11:03] Zallin commented on #766
@flickerfly the following works for v4.0.5
`kustomize build --load-restrictor LoadRestrictionsNone`

[2021-05-21 12:44] yanniszark opened #3913 "Make legacy resource ordering customizable in the kustomization.yaml file"
**Is your feature request related to a problem? Please describe.**

Related issue: https://github.com/kubernetes-sigs/kustomize/issues/3794

TLDR:
- Kustomize changed the order it prints its resources.
- The new order broke Kubeflow and we can't upgrade to v4+ (https://github.com/kubeflow/manifests/issues/1797#issuecomment-817017412)
- Order can't be reversed because it's been in effect for 1 year

[2021-05-21 12:59] ambis commented on #1038
@Shell32-Natsu Could you please elaborate why `edit add patch` is no longer able to add to `patchesStrategicMerge`?

I believe `patchesStrategicMerge` is not deprecated or anything?

Flux CD (v1) creates a flux-patch.yml file which we validate in CI by adding it in `patchesStrategicMerge`. The file contains multiple patches, and cannot be applied, AFAIK, via the kustomize v4 edit add patch in anyw

[2021-05-21 16:35] natasha41575 commented on #3904
@KarstenSiemer I was assuming you would like to target all objects of kind `Namespace`, which you can do easily with

[code]

That's true; prefixes are easier so if that makes sense for your use case I would suggest doing that instead. The replacements transformer is available in the latest release, if you would like to try it out and provide further feedback.

[2021-05-21 17:35] Shell32-Natsu commented on #1038
@ambis Because `patches` supports both SMP and JSON patch.

[2021-05-21 19:37] #3381 closed

[2021-05-21 20:13] ambis commented on #1038
I tried adding an SMP but failed to find the correct combo of arguments/options.

I tried `kustomize edit add patch --patch flux-patch.yml` but it just added it into `patches`, not `patchesStrategicMerge`. Any help?

[2021-05-21 20:23] Shell32-Natsu commented on #1038
https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/ Here is the doc for how to use `patches`.

[2021-05-21 21:21] monopole opened #3915 "Audit and delete site/ and docs/ directories"
The content moved in Nov 2020 (#3182) which is long enough for crawlers to adjust.
Besides, the redirect links often 404, and when they land on real content, the content is not as intended

Close issue when there are no dead links from this repo regarding docs, and both site/ and docs/ are gone

[2021-05-23 15:20] madhukar93 opened #3916 "[Question] what is `kustomize config run`?"
I see `kustomize config run` referenced in [kustomize function examples](https://github.com/kubernetes-sigs/kustomize/blob/master/functions/examples/template-go-nginx/README.md#function-invocation). Are these supposed to be `kustomize fn run`? The `config` subcommand isn't available at all in the build I'm using. Sub-command configured [here](https://github.com/kubernetes-sigs/kustomize/blob/maste

[2021-05-24 09:33] jayanvg opened #3918 "Kustomize for multiple services"
We have the below folder structure for our kustomize setup.

base-manifest:
     kustomization.yaml
     deployment.yaml
     services.yaml
     ingress.yaml
base-services:
     kustomization.yaml
     service-a:
         kustomization.yaml
     service-b:
         kustomization.yaml
overlay:
     dev:
            kustomization.yaml
     qa:
           kustomization.yaml

The command: kubectl kust

[2021-05-24 12:04] jaunruh commented on #3867
Any updates on this? I am still having this issue and its very counter productive to our infrastructure.

[2021-05-24 13:48] aw185176 opened #3919 "CommandResultsChecker should allow for formatting the result before checking for equality"
**Is your feature request related to a problem? Please describe.**

When I use https://pkg.go.dev/sigs.k8s.io/kustomize/kyaml@v0.10.19/fn/framework/frameworktestutil#CommandResultsChecker I have to ensure that my function catalog outputs normalized results (because out-of-order arrays will fail the test).  We have a decent catalog of functions internally and use our normalizer function as part of

[2021-05-24 15:34] ebuildy commented on #2986
@realshuting not with ``patchesJson6902`` , but this is possible with ``patchesStrategicMerge``.

[2021-05-24 17:44] Shell32-Natsu commented on #3867
@monopole Can you take a look?

[2021-05-24 18:49] madhukar93 commented on #3852
@natasha41575 I've tried the same with an array of objects as well (for the [data in external secrets](https://github.com/external-secrets/kubernetes-external-secrets/blob/master/charts/kubernetes-external-secrets/crds/kubernetes-client.io_externalsecrets_crd.yaml#L77)), and didn't have success either. I shall also push an example to demonstrate.

[2021-05-24 23:39] iamnoah commented on #3852
FWIW, I have updated my sample repo to remove the invalid annotations and the problem persists.

[2021-05-25 00:58] monopole opened #3922 "Move top level functions dir into plugins as examples"

[2021-05-25 02:10] natasha41575 commented on #3849
Currently working on this and I would like to comment to reflect discussion:

Rather than copying the directory, we will have this behind a flag (e.g. `kustomize edit fix --vars`), and it should output a diff between the previous and new output of `kustomize build`. In a git repository the changes will be easy to undo if the output is different.

[2021-05-25 17:38] philippe-lavoie opened #3923 "Improve documentation for configuring generators to work with CRs"
**Describe the bug**

I'm using Kyma to define serverless (i.e. lambda) functions.  secretGenerator nor configMapGenerator work as they are not Deployments

**Files that can reproduce the issue**

kustomize.yaml

[code]

fcn-search-orders2.yaml

[code]

**Actual output**

[code]

It was expected that the secretKeyRef and configkeyRef would leverage the newly created secret and config map. However

[2021-05-25 21:42] monopole commented on #3923
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md

try the Kustomize : `configurations` field?

[2021-05-25 21:54] monopole commented on #3918
Kustomize is (intentionally) bad at deleting things (see eschewed features).

It's best to add the ingress in the overlay where you want to use it, and omit it from the base.

[2021-05-25 21:59] #3918 closed

[2021-05-25 22:07] monopole commented on #3912
two questions:
* Did you try changing the order in the patch?
* Does the order of the initContainers in the result matter in some way we should be aware of?

[2021-05-25 23:52] KnVerey commented on #3913
I think that this new field should **replace** the `--reorder` flag. Because it changes the output, this flag is currently violating Kustomize's principle of having [no build-time side-effects](https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-args-or-env-variables). IMO we should add a deprecation warning to the flag when this new field merges, an

[2021-05-26 00:18] KnVerey commented on #3923
It seems to me that the `crds` field could also be used to get the desired behavior, provided you insert the required annotations into the schema: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/crds/

[2021-05-26 00:51] KnVerey commented on #1424
Now that we've also updated to Go 1.16, I think `embed` could be used as part of the solution here.

cc @jeremyrickard

[2021-05-26 05:34] irgeek commented on #3842
At the bottom of the kustomize.io site is says:

I looked through the repos under [their GitHub org](https://github.com/replicatedhq), but I don't see one for kustomize.io.

I did a quick correlation of contributors to this repository and people in the Replicated org and I managed to find @laverya -- maybe they can find out internally how the kustomize.io site is managed and help to get the tutori

[2021-05-26 15:13] philippe-lavoie commented on #3923
@monopole answers is correct. Please note that you have to use Kustomize and not `kubectl apply -k` as the latest `kubectl` does not understand `configurations`. I did not try the other solutions as I did not want to modify an existing CRD that I do not control. I'm assuming that when Kyma upgrades those definitions might be modified too. This would break the annotations. My assumption could be wr

[2021-05-26 15:36] KnVerey commented on #3923
/retitle Improve documentation for configuring generators to work with CRs
/kind documentation
/help

Always a good idea to make the docs better! If you have time to help, please note that their code is here: https://github.com/kubernetes-sigs/cli-experimental.

In case it isn't clear, to provide the CRD to Kustomize, you'd be committing a copy of it alongside your Kustomization, but it would only

[2021-05-26 15:40] KnVerey commented on #3923
/remove-triage needs-information
/triage accepted

[2021-05-26 15:57] monopole commented on #3890
Fixed by https://github.com/kubernetes-sigs/kustomize/pull/3889

[2021-05-26 15:57] #3890 closed

[2021-05-26 16:00] KnVerey commented on #3876
I was able to reproduce this (and it definitely is the whitespace causing it, not the comment fwiw)

/triage accepted

[2021-05-26 16:05] monopole commented on #3887
I like option two

It was probably a mistake to allow selection based on annotation; they's supposed to be for anything other than object identification.  So we should keep it simple.

[2021-05-26 16:08] monopole commented on #3887
@bzub help wanted !

[2021-05-26 16:17] eddiezane commented on #3830
/triage accepted
/assign @monopole

[2021-05-26 16:25] eddiezane commented on #3675
/label anchors

[2021-05-26 16:26] eddiezane commented on #3675
@KnVerey to reply

[2021-05-26 16:33] eddiezane commented on #3657
Could you please provide an ideal use case you have in mind for this?

[2021-05-26 16:35] KnVerey commented on #3658
Thanks for the report @rbkaspr ! It looks like you're right that local charts aren't supported right now. We would gladly accept PRs to:
1) Improve the error message in the meantime.
2) Implement local chart support.

Would you be interested in helping with either of those? The code for the helm generator is here: https://github.com/kubernetes-sigs/kustomize/blob/master/api/builtins/HelmChartInfla

[2021-05-26 16:35] eddiezane commented on #3587
Can you please confirm if this is still an issue on kustomize 4.x?

Also please test if comments above lines are working as expected. The issue might just lie with trailing comments.

[2021-05-26 16:36] KnVerey commented on #3658
/remote needs-triage

[2021-05-26 16:36] KnVerey commented on #3658
/remove needs-triage

[2021-05-26 16:38] KnVerey commented on #3658
/remove-needs-triage

[2021-05-26 16:39] eddiezane commented on #3502
@TheAggressive @johscheuer can you please try just the build step here? This may be a `kubectl apply` issue as opposed to a `kustomize build`.

[2021-05-26 16:40] KnVerey commented on #3658
/remove-label needs-triage

[2021-05-26 16:48] eddiezane commented on #3485
We are planning to deprecate vars and this will not be fixed.

Please see https://github.com/kubernetes-sigs/kustomize/issues/2052.

/close

[2021-05-26 16:48] #3485 closed

[2021-05-26 16:49] brianpursley commented on #3502
I think the problem might be that the CRD is being created AND used in the same call to `kubectl apply`.

`kubectl apply` won't wait for the CRD to be available before attempting to use it, which results in the error:
[code]

You can tell this is the case because if you just wait a few seconds and run it again, it will succeed.

You need to create the CRD in one step, wait for it to exist, then us

[2021-05-26 18:25] KnVerey commented on #3675
Several issues have been opened about this YAML anchor regression, which affects v4+ universally and v3+ if kyaml is enabled. Although they don't all result in the same error message, it seems to me that they are all related to the switch from apimachinery to kyaml. To that end, I'm going to close the various other issues and consolidate on this one.

If a community member would be interested in d

[2021-05-26 18:28] KnVerey commented on #3825
I'm consolidating all the issues related to YAML anchors on this one: https://github.com/kubernetes-sigs/kustomize/issues/3675. Though they don't all fail with the same error message, they seem to all be related to the switch to kyaml. If you're encountering this issue and YAML anchor support is important to you, please chime in over there.

/close
/kind duplicate

[2021-05-26 18:28] #3825 closed

[2021-05-26 18:29] KnVerey commented on #3825
/triage duplicate

[2021-05-26 18:30] KnVerey commented on #3779
I'm consolidating all the issues related to YAML anchors on this one: https://github.com/kubernetes-sigs/kustomize/issues/3675. Though they don't all fail with the same error message, they seem to all be related to the switch to kyaml. If you're encountering this issue and YAML anchor support is important to you, please chime in over there.

/close
/triage duplicate

[2021-05-26 18:30] #3779 closed

[2021-05-26 18:33] KnVerey commented on #3614
I'm consolidating all the issues related to YAML anchors on this one: https://github.com/kubernetes-sigs/kustomize/issues/3675. Though they don't all fail with the same error message, they seem to all be related to the switch to kyaml. If you're encountering this issue and YAML anchor support is important to you, please chime in over there.

/close
/triage duplicate

[2021-05-26 18:33] #3614 closed

[2021-05-26 18:37] KnVerey commented on #3446
/retitle Support for integer keys

Let's keep this issue focussed on the original problem, i.e. integer key handling.

If you've arrived at this issue because of a similar error message encountered when using YAML anchors, please follow  https://github.com/kubernetes-sigs/kustomize/issues/3675 instead.

[2021-05-26 18:38] KnVerey commented on #3271
I'm consolidating all the issues related to YAML anchors on this one: https://github.com/kubernetes-sigs/kustomize/issues/3675. Though they don't all fail with the same error message, they seem to all be related to the switch to kyaml. If you're encountering this issue and YAML anchor support is important to you, please chime in over there.

/close
/triage duplicate

[2021-05-26 18:38] #3271 closed

[2021-05-26 18:56] levsha commented on #3675
Anchors are part of YAML specification. Just dropping anchors instead of properly implementing YAML parser will mean that it will be not correct to claim that configuration is written in YAML.

[2021-05-26 19:01] levsha commented on #3675
@KnVerey can you please show how the example from https://github.com/kubernetes-sigs/kustomize/issues/3614 can be solved with kustomize-native mechanisms?

[2021-05-26 20:32] diarmuidie commented on #3675
In my case I'm using YAML anchors not by choice, but because they are present in the the third party YAML that my customise is overlaying on. Knative is an example of this: https://github.com/knative/serving/blob/8a9bb8e5f2f6959d0de2119498e32102dc2df942/config/core/deployments/webhook.yaml#L100

Because I don't control the code it's not practical to remove the anchors.

[2021-05-26 21:29] mikee commented on #3502
that is what I've experienced in testing.

[2021-05-26 21:50] jameshochadel opened #3927 "Replacements transformer overwrites source field (when multiple fieldPaths are specified?)"
**Describe the bug**

When using the new Replacements transformer with multiple target `fieldPaths` in the same target yaml array, the transformer transforms not only the target field, but the source field as well. (I did not test with other targets like maps, just sequences.)

This appears to occur iteratively, once for each entry in `fieldPaths`. This results in the target transformation also be

[2021-05-26 21:58] jameshochadel opened #3928 "Replacements transformer list indexing fails for keys with '.' character"
**Describe the bug**

The new Replacements transformer's `fieldPaths` supports two ways of specifying elements in a list:

1. By index, like `spec.data.0.field`, or
2. By key, like `spec.data.[name=something].field`.

The second method works for most strings, but if the string contains a `.` character, kustomize seems to try parsing it like it's one of the field accessors, rather than part of the

[2021-05-26 22:03] natasha41575 commented on #3928
Thank you for using and testing out the new feature! I'll take a look when I can.

[2021-05-26 23:05] monopole opened #3929 "Field "patches:" doesn't like multiple patches in one patch file."
This works as expected:

[code]

So does this:
[code]

so does this, where `twoPatchesInOneFile.yaml` contains `patch1.yaml` and `patch2.yaml` separated by `---`:

[code]

This, however, fails:
[code]

[2021-05-26 23:23] monopole commented on #3929
Actually, I think this is WAI.

The semantics of the `patches:` field call for _one_ patch, applied to _N_ targets .

[2021-05-26 23:23] #3929 closed

[2021-05-27 00:02] natasha41575 commented on #3929
@monopole just FYI I looked at patches and applied the same logic when writing the `replacements` field; it can only have one replacement in a path

[2021-05-27 00:26] monopole commented on #3929
right, makes sense.

[2021-05-27 00:34] brianpursley commented on #3502
sorry @mikee I didn’t see your previous comment before I commented.  Yes, I agree with your assessment of what is happening.

[2021-05-27 00:48] brianpursley commented on #3502
@TheAggressive @mikee What if you remove the remote controller.yaml from the kustomization resources and do something like this instead:

[code]

This should create the crd, wait for it, then apply the kustomization output

[2021-05-27 00:53] mikee commented on #3502
That works - what I've done is just split my kustomize into two overlays (using fluxcd).  The "second" layer that depends on the CRD may fail the first time, but will eventually reconcile once the CRDs are accepted

[2021-05-27 01:20] OpenetCK commented on #3912
Yes, the order in the patch file did help to workaround, but it doesn't fix all especially when from the source file there are 3 init containers, but we only want to patch one of them, and remain the sequence.

Yes the order does matter for the initializing process, quoting from the kubernetes doc:

[2021-05-27 09:40] yhrn commented on #3694
@natasha41575 even though Kustomize now supports OpenAPI schemas I'm not sure that fully solves the CRD problem. From what I can see `CustomResourceDefinition` does not support `x-kubernetes-patch-merge-key` or `x-kubernetes-patch-strategy`. I got it to work by using `kustomize openapi fetch` the get the schemas from the cluster and then patching the schema to add the aforementioned properties but

[2021-05-27 15:53] Shell32-Natsu commented on #3927
cc @natasha41575

[2021-05-27 18:18] bittner commented on #2803
Any chance this gets addressed?

[2021-05-27 20:06] bhagyesh18 commented on #3480
@natasha41575 is there any way the kustomize tool can ignore the duplicate keys? Because I have written a script to patch yamls from helm charts which has duplicate keys, and because of that my script breaks every single time.

Also, version v4.0.5 can show the user where is the error when there are hundreds of manifest as resources.

The latest Kustomize version does not show the user where is th

[2021-05-27 20:26] natasha41575 commented on #3480
@bhagyesh18 We can improve the error to show where it is.

I'm not sure that we can ignore the duplicate keys entirely. The error comes from an imported yaml library. I will do some investigation but I'm not sure that we can work around it.

[2021-05-28 02:35] james-callahan commented on #3887
I also ran into this with:
[code]

[2021-05-28 09:36] serajin00 commented on #3912
Same problem happens on pod spec containers. The container order does change after strategic merge.
(tested with 4.1.3)

So it affects this kind of patches.
[code]

[2021-05-28 09:37] yanniszark commented on #3913
Hi @KnVerey,
I think the discussion about kustomize removing the reorder flag is very interesting and something we should consider after this feature lands. We (Arrikto, Kubeflow) are interested in pushing this feature forward, so I will start with the example you suggested as my goal.

[2021-05-28 14:03] metasim commented on #3675
This has been a major PITA for us (we used anchor/aliases to DRY in our infrastructure). Our workaround was to create a `kustomize` generator that looks something like this:

`ExplodeAnchors`
[code]

When placed in your kustomize plugin path as `kustomize/plugin/astraea.io/v1/ExplodeAnchors/ExplodeAnchors` it can be invoked something like this:

`kust-3614-hack.yaml`
[code]

`kustomization.yaml`
[

[2021-05-28 14:52] jameshochadel opened #3933 "Trouble configuring ReplacementTransformer when replacements are in separate file"
**Describe the bug**

Based on the docs from [this PR](https://github.com/kubernetes-sigs/cli-experimental/pull/158/files?short_path=97f52cf#diff-97f52cf06adf128007d4c818d9d9832d26c786d008f4025d6b48cb0e48d1ed1e) on `kubernetes-sigs/cli-experimental`, the Replacements transformer should support replacements being specified in a separate file (versus inline). In practice, this seems to result in a J

[2021-05-28 14:54] jameshochadel commented on #3933
cc @natasha41575 probably 😄 Thank you!

[2021-05-28 15:11] metasim commented on #3675
One use case that comes to mind: you have a pod with several containers, and each container needs to have the same secrets injected in each container but renamed from what they are in the Secrets file (meaning it's involved). Let's say this represents 20 or 30 lines of yaml per container, and if a change is made, it has to be made to each container. A scenario where it's easy to make a mistake, bu

[2021-05-28 20:17] gerrith3 commented on #3640
@ezeeyahoo Is this issue still valid?  If so could you provide an update and see if it can be tagged to someone or at least refreshed?  thanks!

[2021-05-28 22:23] #3828 closed

[2021-05-29 19:15] Benly-walter commented on #3787
Is there an update to this?

[2021-05-30 22:22] dlipovetsky commented on #3481
kustomize v4.1.3  interprets items in `patches` differently. For example, let's say an entry is a path to a file with multiple patches. If the item uses the `path` field, then `kustomize build`  reports an error parsing the file ([Minimal working example](https://github.com/dlipovetsky/kustomize-patches-error/tree/aa3810df1985d8566c18a3bf312fd7f5f208e706)). If the item does _not_ use the `path` fi

[2021-05-31 11:18] arttuperala commented on #3020
@keidevs The answer is actually just "no".

[2021-05-31 11:47] marchmallow commented on #3787
Interested as well

[2021-05-31 13:39] makikata opened #3935 "Allow kustomize edit add secret to take --behavior option"
Hello all

I have a base overlay defininig

[code]

When I build my application I would like to add/modify some other entries in that secret .
My use case is that during the build stage a script adds some other secrets

[code]

The resulting kustomization.yaml file is

[code]

The issue is that on `kustomize build` it raises an error:

[code]

There is no `--behavior` switch in the `kustomize` com

[2021-05-31 13:43] irvifa commented on #438
I wonder if there's any documentation on how to specify the starlark function and the input value from the `kustomize build`

[2021-05-31 13:58] irvifa opened #3936 "Document KRM-style plugin usage with Kustomize build"
**Is your feature request related to a problem? Please describe.**

As far as I know there's no example on how to pass the starlark function and substitution value
during the `kustomize build` phase.

**Describe the solution you'd like**

I came across this [PR](https://github.com/kubernetes-sigs/kustomize/pull/2267) that mentioned that starlark is now supported within kustomize, however there's n

[2021-06-01 04:18] pcjun97 commented on #3635
Was facing the same issue and developed a custom exec plugin: https://github.com/pcjun97/kustomize-hash-annotator. It can hash any resources, not just ConfigMap or Secret generated with the builtin generators, and add the annotations to any resources as well.

[2021-06-01 05:06] arttuperala opened #3937 "labels' includeSelectors doesn't do what it implies"
**Describe the bug**

The new labels feature introduced in 4.1.0 includes a boolean flag called `includeSelectors`, which does not do what one might assume from the name. Examining the source code reveals that when includeSelectors is enabled, the label pairs are added just like commonLabels would be, and when `includeSelectors` is disabled, only `metadata.labels` is updated. This of course exclud

[2021-06-01 16:49] Shell32-Natsu commented on #3937
Yeah, maybe `onlyMetadata` is a better name.

[2021-06-01 17:31] natasha41575 commented on #3933
Thank you for trying this. There is a mistake in the documentation that I will fix today.

The contents of `replacements.yaml` should be of the format:
[code]

[See the test here for reference.](https://github.com/kubernetes-sigs/kustomize/blob/d9435bd1b13a6764b9d271001e61837199494d1c/api/krusty/replacementtransformer_test.go#L60)

[2021-06-01 19:46] KnVerey commented on #3919
After playing with some options, I have a proposal in https://github.com/kubernetes-sigs/kustomize/pull/3939. That PR gives both ProcessorResultsChecker and CommandResultsChecker two new fields:

[code]

This should let you do either of the things you proposed (post-process the output or change what you assert about it). What do you think?

[2021-06-01 20:13] aw185176 commented on #3919
I think I could make either of those work, thank you for the prompt return.

In this setup, would it be possible to call the built-in assertion func from, eg, an `OutputAssertionFunc` so that its basically a thin wrapper that lets me normalize the manifests?

[2021-06-01 20:32] KnVerey commented on #3919
Yes, the PR currently exposes the default assertion funcs, so you could call e.g. `frameworktestutil.RequireStrippedStringsEqual(t, expected, actual)` from your custom assertion. Wrapping `testify` assertions should also work nicely.

[2021-06-01 22:59] KnVerey opened #3941 "Telemetry to guide investment decisions"
As maintainers, we do not currently have a way to gauge feature popularity in the community. This makes it more difficult to identify the most impactful work areas and conversely what we should deprecate. The crawler that previously existed to help with this was removed because it was unmaintained: https://github.com/kubernetes-sigs/kustomize/pull/3841. Let's resurrect this in some form.

We could

[2021-06-01 23:06] KnVerey opened #3942 "Reduce public surface of sigs.k8s.io/kustomize/api module"
In preparation for releasing v1 of this module, we need to reduce its public surface.

Preliminary guidance on what to do with the current packages:
- [ ] builtins (generated code from legacy plugins): Internal (https://github.com/kubernetes-sigs/kustomize/pull/4300 does this and leaves aliases)
- [ ] hasher (for secret and configmap generation): Internal, or maybe kyaml
- [ ] ifc (single file wit

[2021-06-01 23:10] KnVerey commented on #3706
/project https://github.com/kubernetes-sigs/kustomize/projects/5

[2021-06-01 23:10] KnVerey commented on #3706
/project 5

[2021-06-01 23:36] jpeach commented on #2277
/remove-lifecycle stale

Still a problem AFAIK.

[2021-06-01 23:44] KnVerey opened #3943 "Remove starlark dependencies from api module"
As requested in https://github.com/kubernetes/kubernetes/pull/98946, we need to make it possible to use Kustomize as a library without pulling in a starlark dependency. Starlark functionality should remain available in the standalone kustomize binary, but this should be done via injection so that it does not affect kubectl. We can revisit this decision if starlark functions graduate out of alpha,

[2021-06-01 23:50] KnVerey opened #3944 "Reconcile crds and openapi fields"
From a user's perspective, Kustomize is currently asking for custom resource schemas to be provided in two different fields, `crds` and `openapi`, in order for those resources to be fully supported (setting aside the legacy `configurations` field, which is a third way for some things!). We should consolidate this onto the `openapi` field.

[2021-06-02 00:02] KnVerey opened #3945 "Consider deprecating `configurations` field"
The [configurations field](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/transformerconfigs/crd/README.md) is an old, pre-plugin, pre-openapi global configuration mechanism for custom resources. Since we're aiming to make the `openapi` field the blessed way of getting custom resource support (see also #3944), we should consider removing all legacy ways to do the same thing, to

[2021-06-02 00:15] KnVerey commented on #3559
This looks to me like the changes we saw when attempting to bump go-yaml in https://github.com/kubernetes-sigs/kustomize/pull/3789. So it's ultimately being caused by kyaml using a different go-yaml version than your other tool, and go-yaml.v3 making what I'd consider to be a breaking formatting change.

Since Kustomize has long emitted the older format, we have been investigating the possibility

[2021-06-02 00:24] KnVerey opened #3946 "Breaking whitespace changes in go-yaml upgrade"
As discovered in https://github.com/kubernetes-sigs/kustomize/pull/3789, upgrading go-yaml causes whitespace changes in the output. This may be seriously disruptive to some users, as committing build results is a common practice for both testing and GitOps workflows.

We need to either:
A) Prevent the whitespace changes. Presumably this involves kyaml interfering with the marshalling process. Rela

[2021-06-02 00:32] KnVerey opened #3947 "Deprecate the reorder flag in favour of a Kustomization field"
Once https://github.com/kubernetes-sigs/kustomize/issues/3913 is implemented, let's consider deprecating the `--reorder` flag and removing it in a future major version bump. Because it changes the output, this flag is currently violating Kustomize's principle of having [no build-time side-effects](https://kubectl.docs.kubernetes.io/faq/kustomize/eschewedfeatures/#build-time-side-effects-from-cli-a

[2021-06-02 09:47] harmjanblok opened #3948 "v4.1.3 missing in k8s.gcr.io"
**Describe the bug**

v4.1.3 is missing in k8s.gcr.io, see https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/kustomize/kustomize?gcrImageListsize=30.

**Expected output**

Able to pull the image

**Actual output**

[code]

[2021-06-02 13:55] jameshochadel commented on #3933
That did indeed solve the problem on my end. Thank you!

[2021-06-02 16:36] aw185176 commented on #3919
Awesome, thanks for confirming.  This would work swimmingly

[2021-06-02 18:57] #3933 closed

[2021-06-02 21:50] KnVerey opened #3950 "Improve kyaml documentation"
kyaml has a decent amount of auto-generated Go documentation here: https://pkg.go.dev/sigs.k8s.io/kustomize/kyaml

Still, there's room for improvement, particularly in terms of adding examples.

The documentation on extending Kustomize should also mention kyaml and at least link to relevant examples in the Go docs.

/area kyaml
/kind documentation
/triage accepted

[2021-06-02 21:50] KnVerey commented on #3950
/remove-kind feature

[2021-06-02 21:57] KnVerey opened #3951 "Document `kubectl kustomize` integration"
- Document how it works (i.e. the `build` command specifically being brought in via the API module)
- Document how `kubectl kustomize` diverges from `kustomize build`, why these divergences exist, and what would need to happen to get to consistency.
- Document how to upgrade kustomize in kubectl. We have two examples so far: https://github.com/kubernetes/kubernetes/pull/101120 and https://github.c

[2021-06-02 22:10] KnVerey opened #3952 "Release automation"
Releasing Kustomize is somewhat complicated because of the multiple modules involved. A fair amount of tooling exists in the repo to make this easier today. However, those tools are only usable by a small number of people in practice, and the process overall is still quite time-consuming. Ideas we've been discussing to improve this include:
- even more release automation tooling
- more people with

[2021-06-02 22:38] natasha41575 commented on #3670
/remove-lifecycle stale

[2021-06-02 22:49] KnVerey opened #3953 "Deprecation of `kustomize cfg` and `kustomize fn` alpha commands"
Kustomize currently has a `kustomize cfg` subcommand that contains a variety of **alpha** yaml manipulation tools:

[code]

As part of our efforts to stabilize Kustomize APIs, we should decide what to do with these. They're loosely related to Kustomize in that keeping your configuration expressed in the canonical APIs (template-free) enables you to use such tools on your raw config. But at the sam

[2021-06-02 23:01] KnVerey opened #3954 "Rename default branch to main"
A guide is available here: https://www.kubernetes.dev/resources/rename/.

Related to https://github.com/kubernetes/org/issues/2222 and https://github.com/kubernetes/community/issues/5636

/remove-kind feature
/kind cleanup

[2021-06-02 23:25] pyohannes commented on #3675
It's important for us, because it effectively breaks a bunch of legacy YAML files that we currently have to maintain.

[2021-06-02 23:37] Thraganux commented on #3675
We extensively use anchors in order to avoid copy paste errors.  Removing support for this would break most of our deployments and partner teams deployments.   Due to how many different services we support, removing these would involve a month of dev time to re-work at the very least.

[2021-06-03 01:56] harryge00 opened #3957 "Automically create patch yaml based on two overlays?"
Currently, different clusters have their own deployment yamls in our team. And we want to migrate to kustomize. However,  I didn't find a tool to create patch yaml based on two different deployment yamls.

For example, the current layout:
[code]
We want to change to
[code]
So we have to create patch yaml. Now we make `dev/dep.yaml` the base file and create patch manually. This can take a long time

[2021-06-03 08:37] vflaux commented on #3358
/remove-lifecycle stale

[2021-06-03 13:05] jlewi opened #3958 "kustomize fn run should support running containerized fns on K8s without docker"
**Is your feature request related to a problem? Please describe.**

I would like to use `kpt fn run` inside CI/CD pipelines that run in a cluster. [kpt fn run](https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/kyaml/fn/runtime/container/container.go) currently relies on shelling out to docker.  As a result, when running in cluster one needs to run docker in

[2021-06-03 14:49] terion-name opened #3959 "Ability to load resources from upper directories"
If I write something like this:
[code]

I get `Error: accumulating resources: accumulateFile "accumulating resources from '../../../base.yaml': security; `.

IMO, this is very dumb limitation that gives only pain and nothing more.
If you do gitops you'll want something like this:

[code]

Where each child manifest "inherits" upper to make specific customisations. And with this limitation that can'

[2021-06-03 15:16] stribb commented on #3959
You can certainly inherit directories of resources. Here's an example from my CWD:

[code]

[2021-06-03 15:19] terion-name commented on #3959
@stribb

In this case I get Error: accumulating resources: accumulateFile "accumulating resources from '../../../': '*path*' must resolve to a file"

[2021-06-03 15:32] terion-name commented on #3959
@stribb figured out how to rebuild directory structure for this, thank you.
but this makes limitation for file resources even more illogical

[2021-06-03 15:59] stribb opened #3960 "StatefulSet from base can't use generated ConfigMaps in overlay"
**Describe the bug**

I’m kustomizing Loki. I had a generated configMap in base and now needed to move it to my overlays. When I looked at what `kustomize` did, it looks like the StatefulSet isn’t respecting the overlaid ConfigMap: the generated volume name is just plain `loki` rather than having any hash suffix appended.

**Files that can reproduce the issue**
In `base/kustomization.yaml`:
[code]

[2021-06-03 17:11] Shell32-Natsu commented on #3958
You should probably create issue in [kpt repo](https://github.com/GoogleContainerTools/kpt).

[2021-06-03 17:57] #3927 closed

[2021-06-03 17:57] #3928 closed

[2021-06-03 18:06] yhrn opened #3961 "Support YAML formatted OpenAPI schema"
**Is your feature request related to a problem? Please describe.**

Yes, at the moment kpt fn will choke on JSON files with long string, but I also think it would make sense to support this since all other file types referenced by your kustomization can be YAML encoded.

**Describe the solution you'd like**

Just being able to reference a YAML encoded schema from my Kustomization.

**Additional co

[2021-06-03 18:15] natasha41575 commented on #3961
@KnVerey @monopole is there any reason not to support this?

[2021-06-03 18:17] KnVerey commented on #3919
Closed by https://github.com/kubernetes-sigs/kustomize/pull/3939

/close

[2021-06-03 18:17] #3919 closed

[2021-06-03 18:34] jlewi commented on #3958
@Shell32-Natsu this belongs in kpt even though the code in question lives inside kustomize?
https://github.com/kubernetes-sigs/kustomize/blob/f61b075d3bd670b7bcd5d58ce13e88a6f25977f2/kyaml/fn/runtime/container/container.go

I'd actually like the function to be supported by `kustomize fn run` ; I realize now I wrote `kpt fn run` by accident.

[2021-06-03 19:03] Shell32-Natsu commented on #3958
Technically yes, kpt feature request should go to kpt repo even the actual code is in kyaml.

[2021-06-04 01:33] jlewi commented on #3958
Done;

Duplicate of GoogleContainerTools/kpt#2158

[2021-06-04 09:21] stribb commented on #3960
After some kind help from @dan-slinky-ckpd he pointed out that my overlays didn't have a namespace specified, so the configmaps were being generated without one!

tl/dr: always copy the namespace from the base!

[2021-06-04 09:21] #3960 closed

[2021-06-04 10:09] #2781 closed

[2021-06-04 11:46] graemerobertson commented on #3681
/remove-lifecycle stale

[2021-06-04 16:59] aodinokov commented on #3961
interesting topic

What will be a format? something standard?
As an alternative for standard scheme representation - maybe we can allow providing k8s CRDs in their format? will there be a value in that?

[2021-06-04 19:16] cache-sk commented on #3443
Well, solution proposed by @foxish brought another issue for me..

`/home/cache/go/pkg/mod/github.com/swaggo/swag@v1.7.0/operation.go:249:30: schema.SchemaProps.Properties.ToOrderedSchemaItems undefined (type map[string]spec.Schema has no field or method ToOrderedSchemaItems)`

So i must "pgrade" generated docs package to full module and use
`replace github.com/go-openapi/spec => github.com/go-ope

[2021-06-04 23:24] monopole commented on #3443
More notes here https://github.com/kubernetes-sigs/kustomize/blob/master/cmd/depprobcheck/README.md

[2021-06-04 23:38] KnVerey commented on #3961
If we add yaml support to that field, do we also need to support emitting it in `kustomize openapi fetch`? I'm a little skeptical of the value of yaml vs json here, given that these schema files are not exactly easy reading for humans either way. But assuming the implementation of both would be very small, I don't object to it being contributed.

The CRDs idea is interesting. Presumably whatever c

[2021-06-05 03:00] monopole commented on #3946
[commit]: https://github.com/go-yaml/yaml/commit/ae27a744346343ea814bd6f3bdd41d8669b172d0
[gopkg.in/yaml.v3]:  https://github.com/go-yaml/yaml
[kyaml]: https://github.com/kubernetes-sigs/kustomize/blob/master/kyaml/go.mod#L35
[api]: https://github.com/kubernetes-sigs/kustomize/blob/master/api/go.mod#L18
[just before]: https://github.com/go-yaml/yaml/commit/9f266ea9e77c4c7aab4cf02650570e7c7b3031a5

[2021-06-05 03:16] monopole commented on #3946
The upgrade of k8s to yaml.v3 circa 2020-Jun-15 happened in kubernetes/kubernetes#100490 on 2021 Apr 20 - just a few weeks ago.

Were the dozen or so later commits to yaml.v3 that this PR could have grabbed intentionally kept out?  Meaning step 1 above wouldn't make it past code rev?

@howardjohn
@gautierdelorme

[2021-06-05 03:25] monopole commented on #3559
@stefanprodan would you please take a look at the discussion in #3946 and comment there?  Thanks!

[2021-06-05 03:27] monopole commented on #3946
Some of the issues in various repos related to this:

- Let kyaml keep white space formatting https://github.com/kubernetes-sigs/kustomize/issues/3559
- Add Config for Array Indentation Spacing https://github.com/redhat-developer/vscode-yaml/issues/172
- Breaking whitespace changes in go-yaml upgrade https://github.com/kubernetes-sigs/kustomize/issues/3946
- Support configurable indent https://git

[2021-06-06 13:03] rocketraman commented on #819
This was closed in favor of https://github.com/kubernetes/kubernetes/issues/74819 but that issue us closed now too, so basically there is no good solution.

[2021-06-06 20:24] #3421 closed

[2021-06-07 19:13] Nightreaver opened #3967 "automated completion script doesnt work"
**Describe the bug**

making use of the `kustomize completion [shell]` function doesnt work (anymore?)

**Files that can reproduce the issue**

Im using an "automated method" to collect all completions in my `.rc` files, ie. `.zshrc` or bash in `.bashrc` accordingly

[code]

or  bash

[code]

**Expected output**

a working completion. ie. typing `kustomize` and hitting [TAB] key should list availa

[2021-06-07 19:34] myhau commented on #3412
I can confirm that this is still an issue for us in 4.1.3.

[2021-06-07 19:45] Nightreaver commented on #3967
It seems that tools like helm, kubectl,  skaffold (and probably others ) are calling the `compdef` at the end of the completion script, while kustomize doesnt do that. I didnt dig into the reason yet, but adding the `compdef` call to the snipped above solved the issue

[2021-06-07 20:23] KnVerey commented on #3942
Once this is done, it could be interesting to add a https://github.com/joelanford/go-apidiff check like the KubeBuilder repo uses

[2021-06-07 22:12] natasha41575 commented on #3957
There is a library used heavily by the kubernetes community to create patches: https://github.com/evanphx/json-patch. Would this help your use case?

[2021-06-07 23:53] natasha41575 commented on #3961
@KnVerey I'll add a comment to #3944, discussion should probably happen there.

WRT this issue, if there are no objections to supporting the OpenAPI schema in yaml I can add it to my todo list (or if anyone else wants to pick it up, feel free).

[2021-06-07 23:55] natasha41575 commented on #3944
An idea stemming from discussion here: https://github.com/kubernetes-sigs/kustomize/issues/3961#issuecomment-855122175
cc @aodinokov

Alternative: Keep the `crds` field but have it be slightly different from the `openapi` field.

The main differences right now are:

1. `crds` is an addition to the builtin schema. `openapi` entirely replaces the builtin schema - one has to provide all the relevant

[2021-06-08 00:03] jsturtevant opened #3969 "Long lines are broken with space in them"
**Describe the bug**

When upgrading to the 4.0.5+ from 4.0.4 longs lines with spaces in the yaml are broken.  Looks similiar to #947 but that was fixed in older versions (this wasn't an issue in 3.8.x+).

**Files that can reproduce the issue**
Example:

kustomization.yaml

[code]

test.yaml

[code]

**Expected output**

[code]

**Actual output**

[code]

**Kustomize version**
 4.0.5+ including 4.

[2021-06-08 03:23] madhukar93 commented on #3944
I was confused as to why `crds` did not support merge keys, seems like the feature wasn't requested then?

[2021-06-08 04:41] ezeeyahoo commented on #3640
@gerrith3 Yes, because we are waiting for response and last release that happened 18days ago, is not listing PPC64LE.

I would request community to consider PPC64LE too for release.https://github.com/kubernetes-sigs/kustomize/issues/3640#issuecomment-787017294

[2021-06-08 04:41] ezeeyahoo commented on #3640
/remove-lifecycle stale

[2021-06-08 07:34] efrainsteinbach commented on #1424
apparently, kubectl v1.21 is out now.. has anything changed?
The kustomize FAQ page says that the version should be updated in ~v1.20 https://kubectl.docs.kubernetes.io/faq/kustomize/
If it has changed, it'd be great if the readme.md was updated accordingly.

[2021-06-08 07:48] yhrn commented on #3944
I tried adding `x-kubernetes-patch-merge-key` and `x-kubernetes-patch-strategy` to a CRD in a cluster so that I could script downloading the OpenAPI schema via Kustomize and then get array merging to work but it turned out that the [k8s CRD API](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#jsonschemaprops-v1-apiextensions-k8s-io) does not support those properties so I'm not

[2021-06-08 15:30] stefanprodan commented on #3946
@monopole for Flux users, I think it's best to autodetected and keep the original indentation, unlike go fmt, Kubernetes users are not accustom to strict formatting since kubectl does no such enforcement.

[2021-06-08 16:28] chrispytoes opened #3971 "[Question] Confused about the proper setup for a Kustomize project"
I am somewhat new to Kubernetes, and I'm setting up a Kustomize project for all of my configs. As a programmer, I'm a little confused about the documentation and the flat project structure it seems to encourage. I tried nesting one Kustomization in another, something like this:

    cluster
      app1
        deployments
          deployment1.yaml
          deployment2.yaml
          kustomization

[2021-06-08 16:57] natasha41575 commented on #3971
I think we need some more information about how you are using kustomize.

I have the following tree structure:
[code]

where `cluster/kustomization.yam` is:
[code]

`cluster/app1/kustomization.yaml`:
[code]

`cluster/app1/deployments/kustomization.yaml`:
[code]

which (correct me if I'm wrong) seems to be the scenario that you're describing. Running `kustomize build cluster` works for me. Would yo

[2021-06-08 17:00] natasha41575 commented on #3971
Another question: which version of kustomize are you using?
If you are using `kubectl apply -k`, which version of kubectl are you using?

[2021-06-08 17:15] chrispytoes commented on #3971
@natasha41575 You are correct, that is my exact scenario. Using `kubectl apply -k` gives me the following error:

    error: rawResources failed to read Resources: Load from path ./ingress-nginx failed: './ingress-nginx' must be a file (got d='E:\projects\gatsby\wf-infrastructure\kustomize\ingress-nginx')

The kustomize.yaml it's complaining about just contains:
[code]
That ingress-nginx folder co

[2021-06-08 17:48] aodinokov commented on #3944
@natasha41575

thank you for looking into that and your analysis. If we're talking about this:

What will be a desired target state for kustomize? in another words - what will be a right behavior for kustomize? :) I guess we do want to make crds and openapi consistent (just because k8s does it somehow on its end), but if we also want to make this backward compatible - maybe it can be done by some

[2021-06-08 18:17] Shell32-Natsu commented on #3969
Looks like this is the issue in go-yaml https://github.com/go-yaml/yaml/issues/387. kustomize depends on go-yaml v2 indirect through sigs.k8s.io/yaml v1.2.0. So we need to wait for sigs.k8s.io/yaml to update.

[2021-06-08 18:37] natasha41575 commented on #3971
The version of kustomize shipped with older kubectl versions (<= v.1.20) is very old. If you can, please use v.1.21.

If you are unable to upgrade your version of kubectl, you may have to use the old, deprecated `bases` field for directories and `resources` for files.

[2021-06-08 18:40] chrispytoes commented on #3971
@natasha41575 Interesting, I just installed `kubectl` for the first time about a month ago. I followed DigitalOcean's instructions so that's probably what directed me to the older version. I'll see if I can upgrade it.

[2021-06-09 08:00] #3948 closed

[2021-06-09 10:23] sambonbonne commented on #3770
I find the same behavior and as a user, I expect `base` and `overlays/XXX` to apply `commonLabels`/`namePrefix`/whatever on `components` but components to not apply their labels/prefix/whatever to overlay and base.

I thought component were a way to include a sub-part of a configuration, not a way to bubble up common information.

Could we have at least a setting in component's `kusotmization.yaml

[2021-06-09 12:54] mouhsen-ibrahim commented on #880
I had the same issue today, my ingress must be in istio-system namespace and uses `istio-ingressgateway` as backend, I ended up declaring the ingress multiple times in overlays and removing `namespace: ...` from customization files.

In my opinion the default behaviour must be `if not set` or at least provide a way to use this

[2021-06-09 14:55] TechnicalMercenary commented on #1472
Any chance the original request could be implemented ?

https://github.com/kubernetes-sigs/kustomize/issues/1472#issue-483907021

I would prefer the more elegant solution suggested by @pckhoi .  IMHO the solution proposed would violate the Single-responsibility principle and lacks High Cohesion, if that makes any sense.

[2021-06-09 17:40] KnVerey commented on #3944
@yhrn I completely agree with you that the feature's usefulness would be greatly enhanced if these fields were directly supported in CRD. Here is the k/k issue you can follow for progress on making that possible. As you can see, Kustomize is one of many use cases cited, and though open for a long time, the issue was accepted very recently: https://github.com/kubernetes/kubernetes/issues/82942.

@a

[2021-06-09 17:44] KnVerey commented on #3946
After further thought, we're exploring both options 2 and 3 @monopole mentioned above. Option 1 is likely a no-go even if we were to cut a new major version of Kustomize, because of the issue of inconsistency with kubectl, which is definitely not able to change.

[2021-06-09 17:47] KnVerey commented on #3694
Re: support for those fields in CRD, please follow https://github.com/kubernetes/kubernetes/issues/82942.

[2021-06-09 18:56] KnVerey opened #3973 "Improve docs for getting started with Kustomize"
We would like to have more entry-level tutorials as part of the Kustomize documentation, both to help users get started and to showcase best practices. Ideally these would include some video tutorials!

/help-wanted
/triage accepted
/kind documentation

[2021-06-09 19:02] KnVerey opened #3974 "Docs site should integrate Kustomize repo examples"
We have a lot of great documentation content, particular examples, that only lives in various places in this repo and is not very discoverable. The Docs site should pull examples from the repo, and some of the content should probably move to the site entirely.

/triage accepted
/kind documentation

[2021-06-09 19:24] KnVerey commented on #3958
/close

[2021-06-09 19:24] #3958 closed

[2021-06-09 19:30] monopole opened #3975 "Replace Resource.options with annotations"
The field `Resource.options` is used to remember how a generated ConfigMap or Secret should behave as it propagates up a kustomization stack (merge with or replace maps or secrets with the same name).

This information isn't available to an out-of-process transformer, but like all other RNode metadata (e.g. the history of previous resource names in the transformation pipeline) it should be.

https

[2021-06-09 19:39] KnVerey commented on #3936
To use a KRM-style plugin (starlark or otherwise) with `kustomize build`, you need to specify it declaratively as an annotation on your functionconfig. For example, you'd put something like this in a file, and reference that file from the `generators` or `transformers` field as appropriate.

[code]

See also [this test](https://github.com/kubernetes-sigs/kustomize/blob/39f24ef8d2e02ccf894e06a168a9

[2021-06-09 20:13] KnVerey opened #3976 "Replace Resource.refBy with annotations"
The field `Resource.refBy` is used to track the IDs of resources that refer to the current resource as it propagates up the Kustomization stack.

This information isn't available to an out-of-process transformer, but like all other RNode metadata (e.g. the history of previous resource names in the transformation pipeline) it should be. This can be accomplished by moving the field's data to an anno

[2021-06-09 20:18] KnVerey commented on #3973
/help

[2021-06-09 21:50] monopole commented on #3946
The PR for option 3 is https://github.com/go-yaml/yaml/pull/746

[2021-06-09 22:43] natasha41575 opened #3978 "Create a service account generator"
https://github.com/kubernetes-sigs/kustomize/pull/3914 introduces a basic service account generator.

This is necessary because it has a value `gsa-name@project-id.iam.gserviceaccount.com` - where project-id must be a configurable value. GKE users currently use `vars` for this, and `replacements` will be unable to do so because project-id is not delimited.

We need to
- update the above service ac

[2021-06-09 23:06] KnVerey commented on #3946
/assign @monopole @KnVerey

[2021-06-10 01:20] airoasis commented on #3323
Kustomize has this issue in the latest version too...

[2021-06-10 01:58] monopole opened #3979 "Option to retain resource object origin data as a label"
**Is your feature request related to a problem? Please describe.**

The command
[code]
produces a stream of resources to stdout, while
[code]
writes resources to the given directory, one per file, with a generated name like _deplyment_foo.yaml_.

In either case, it's hard to track an object in the output back to its point of origin (a filepath, or a filepath in some repo).

**Describe the solution

[2021-06-10 02:09] monopole opened #3980 "`kustomize localize` command to pull all remote data"
Some kustomize uses cases preclude network use, so it would be nice to capture the raw material from remote sources but still retain the option of performing different builds.

So perhaps
[code]

would create a new directory (failing if it already existed), containing a localized, copied version of {target}, such that
[code]
would produce the same output, but the latter wouldn’t need the network t

[2021-06-10 02:39] bgrant0607 commented on #3980
+1. Also could simplify access to private repos (requiring credentials) in some scenarios.

[2021-06-10 02:41] bgrant0607 commented on #3979
In what situation would label selectors for complex paths be useful? Are length and character-set limitations a concern? Annotations would make more sense to me.

Regardless, retaining the file structure, similar to helm template, would be a lot more user-friendly.

[2021-06-10 02:51] mikebz commented on #3943
I think this is a great idea.  In general I would probably look for limiting the number of "extension points" in kustomize because it can lead to security issues.

[2021-06-10 02:52] mikebz commented on #3973
where would this end up?  kustomize.io?

[2021-06-10 09:13] irvifa commented on #3936
Hi @KnVerey I have a question regarding the the `apiVersion` here, do we need to create the annotator on our own?

[2021-06-10 09:14] irvifa commented on #3536
/remove-lifecycle rotten

[2021-06-10 09:35] Ebrithil95 commented on #1301
I am facing this issue as well.

I am trying to override a configmap and a secret that is provided in an all-in-one deployment.
My kustomization looks like this:
[code]

The replacement of the configmap/secret works fine but no hash is appended to the name so an update doesn't trigger a redeployment.

[2021-06-10 13:53] vit-zikmund opened #3981 "`kustomize build` not honoring the `retainKeys` patchStrategy"
**Describe the bug**

[Since `kustomize` v3.8.0](https://github.com/kubernetes-sigs/kustomize/issues/2790) the Strategic Merge patches using the `$retainKeys` directive no longer work as they would with `kubectl patch`. The `$retainKeys` directive is now considered a normal key and the usual merging occurs.

**Files that can reproduce the issue**
<details><summary><code>kustomization.yaml</code></

[2021-06-10 15:28] KnVerey commented on #3973
There's an effort just getting started to figure out how to migrate some/more/all (TBD) of the SIG-CLI site into kubernetes.io, but for now our core docs are at https://kubernetes-sigs.github.io/kustomize/, so that's where the content would go in the near term. It is generated from https://github.com/kubernetes-sigs/cli-experimental.

[2021-06-10 15:37] KnVerey commented on #3936
Your starlark script _is_ the "annotator" in that example. Since you're explicitly pointing to the script, Kind and apiVersion are not used for function resolution (unlike in legacy style exec plugins). It is up to your script to check them if you want to be sure the config it was given is one it knows how to handle, or if it can behave differently when given different kinds or versions. For examp

[2021-06-10 16:24] natasha41575 commented on #3973
@KnVerey do you know who maintains kustomize.io and if we can contribute to it? There are some issues filed about how the tutorial on it is broken and considering it's the first link when people search "kustomize" it's probably good if we keep an eye on it.

[2021-06-10 16:44] mikebz commented on #3973
we have created some infra into https://kpt.dev which seems to work pretty well.  It seems like kustmomize.io is just the front page but if we want to have a MD driven doc site you can grab some code form kpt repo and use that.

[2021-06-10 17:41] natasha41575 commented on #3978
If any interested users can provide some information about their use cases here, that would be very helpful.

[2021-06-10 17:45] natasha41575 opened #3983 "`replacements` doesn't work for mapping values with '.'"
We want to support a `fieldPath` such as:

[code]

original request: https://github.com/kubernetes-sigs/kustomize/pull/3931#issuecomment-858583265

Alternative:

Require users to escape the delimiters, e.g.
`metadata.annotations.service\.beta\.kubernetes\.io/load-balancer-abc`
which is supported, but seems a bit inconvenient.

[2021-06-11 01:12] #3983 closed

[2021-06-11 05:16] irvifa commented on #3936
Thanks for the explanation. So basically the important part is this annotation in any case I'd like to pass the function during the build time:
[code]

[2021-06-11 06:34] benjamin-bergia opened #3988 "Change replica transformer name matching"
When using the replicas transformer, it is not always obvious which resources will be altered. For example using a rule like:
[code]
implicitly translates into
[code]
This behavior is useful but it should be made clear to the user when it is an exact match and when globing will be used.

**Describe the solution you'd like**
I would like for the name field to be an exact match by default
so that:
[

[2021-06-11 12:40] edbighead opened #3989 "Allow using vars in ValidatingWebhookConfiguration caBundle"
**Is your feature request related to a problem? Please describe.**
Unable to use [vars](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/vars/) in [ValidatingWebhookConfiguration](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#validatingwebhookconfiguration-v1-admissionregistration-k8s-io)

**Describe the solution you'd like**
Use case is inserting variab

[2021-06-11 13:30] edbighead commented on #3989
perhaps custom `configurations` for `varreference ` can do it instead
https://github.com/kubernetes-sigs/kustomize/blob/065432e074dc46bcff7be10dbdb675c4a9fd4609/api/konfig/builtinpluginconsts/defaultconfig.go#L33

[2021-06-11 16:25] natasha41575 commented on #3989
Thank you for filing the issue! Unfortunately we are planning to deprecate vars soon so I am not sure that it makes sense to add new features.

The replacement for vars is going to be `replacements`, documentation is pending but you can read it here: https://github.com/kubernetes-sigs/cli-experimental/pull/158

It would work for your use case because a `replacement` can be used in any type of reso

[2021-06-11 18:05] jbeisen commented on #3937
I'm not sure `onlyMetadata` is better, because I think most users would want the labels applied to `spec.template.metadata.labels` too.

[2021-06-13 12:40] lukasmrtvy commented on #3674
/remove-lifecycle stale

[2021-06-14 05:12] pst commented on #3659
/remove-lifecycle stale

[2021-06-14 06:28] edbighead commented on #3989
Thanks @natasha41575 , closing this issue because [replacements](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) totally covers this case.

[2021-06-14 06:28] #3989 closed

[2021-06-14 11:24] ykyr commented on #3675
We also rely on the yaml anchoring. It helps to avoid a lot of copy&pasting and keep yamls smaller&cleaner

[2021-06-14 12:46] HariSekhon commented on #3447
+1 for running Namespace transformation before patching - this would avoid confusing patching errors such as:

[code]

which is counterintuitive when all the namespaces a user has specified are in alignment, but the remote base has either not specified a namespace or has changed the default namespace specified.

Without this patches are actually more brittle to this error when using remote bases i

[2021-06-14 12:46] HariSekhon opened #3993 "Please re-open #3447"
Please re-open #3447

[2021-06-14 18:47] natasha41575 commented on #3447
/reopen

[2021-06-14 18:48] natasha41575 commented on #3993
done

[2021-06-14 18:48] #3993 closed

[2021-06-14 19:27] natasha41575 commented on #3979
I agree that length and character-set limitations might be a concern - 63 characters isn't a lot, especially if the path is long and complex. Not sure if I see any good workarounds for that.

[2021-06-14 23:20] bgrant0607 commented on #3979
I don't understand the use case for labels, as opposed to annotations.

[2021-06-14 23:52] natasha41575 commented on #3979
I think annotations make more sense, I'm wondering if @monopole had a specific use case in mind?

[2021-06-15 07:34] benjamin-bergia commented on #2233
/remove-lifecycle stale

[2021-06-15 10:59] artyom-p commented on #3675
Same for us, now we need to update all of the manifests we have....

[2021-06-15 13:19] yanniszark commented on #3794
This is the issue for option 2 implementation and design: https://github.com/kubernetes-sigs/kustomize/issues/3913

[2021-06-15 17:33] natasha41575 commented on #3849
closed by #3926

[2021-06-15 17:33] #3849 closed

[2021-06-15 22:12] bshihr commented on #61
/reopen

[2021-06-15 22:31] captainrdubb commented on #2803
/remove-lifecycle stale

[2021-06-15 23:27] KnVerey commented on #3973
FWIW the current site at https://kubernetes-sigs.github.io/kustomize/ is already generated from Markdown (Hugo) in  https://github.com/kubernetes-sigs/cli-experimental.

[2021-06-15 23:30] KnVerey commented on #1424
Yes, it was updated in 1.21: https://github.com/kubernetes/kubernetes/blob/4d75a6238a6e330337526e0513e67d02b1940b63/CHANGELOG/CHANGELOG-1.21.md#kustomize-updates-in-kubectl

Yes, both the readme and docs need to be updated

[2021-06-16 12:30] rdxmb commented on #3812
This is indeed very confusing. I have a syntax error in my `services.yaml` , e.g. the `ports` key is missing. As a result I get

[code]

The first part of the error is kind of ok, but the second part does not make any sense here for the user.

Files:
[code]

[code]

[2021-06-16 14:41] captainrdubb commented on #1113
/reopen

I've use this in GitHub Actions
[code]
It would be pretty cool if i could do something like `--build-arg <jsonpath>=<value>`.

Then i don't have to worry about configuring a tool (KPT) within the tool (Kustomize). "Create-setter? Use-setter? View-setter? Delete-setter? Setter this, setter that, no thank you! Jsonpath bro!"

[2021-06-16 15:17] asteven commented on #189
So now we have this nice tool (kustomize) that allows me to write declarative configuration.
And now you are removing the possibility to use it declaratively because some discussion about java imports calls globbing evil.
And instead I'm supposed to use some new cli which is by definition imperative aka the opposite of declarative?

My git repo already gives me a clear explicit dependency declarat

[2021-06-16 15:53] asteven commented on #189
Never mind. I misunderstood how `kustomize edit` works. Sorry for the noise.

[2021-06-16 16:38] frankfarzan commented on #3946
/cc @phanimarupaka

[2021-06-16 20:56] KnVerey commented on #3942
@campoy had an interesting approach to this in https://github.com/kubernetes-sigs/kustomize/pull/3997: leave behind a type alias to give people more time to cut over. For packages we suspect others may be using, we could do something similar, and have v1 remove all the type aliases at once.

[2021-06-16 21:27] natasha41575 opened #4001 "Fix breaking api tests on windows"
Some tests in the `api` module break on windows, so we skip them for now.

See the comment here: https://github.com/kubernetes-sigs/kustomize/blob/324581594c9cf92d8604366477ba83868cdf921b/.github/workflows/go.yml

[2021-06-17 07:38] mikebz commented on #3946
https://github.com/go-yaml/yaml/pull/750

[2021-06-17 12:35] vmwiz opened #4003 "`kustomize build` with replacements alter the replacement source"
When using `replacements` to fetch a value from a label and use it somewhere else to build a path, the label of the source is replaced by the target value

**Files that can reproduce the issue**
<details>
  <summary>kustomization.yaml</summary>

[code]
</details>
<details>
  <summary>namespace.yaml</summary>

[code]
</details>
<details>
  <summary>application.yaml</summary>

[code]
</details>

**E

[2021-06-17 16:10] natasha41575 commented on #4003
Thank you for using and testing this feature!

This is a duplicate of https://github.com/kubernetes-sigs/kustomize/issues/3927 and has been fixed in https://github.com/kubernetes-sigs/kustomize/pull/3931. If you need the fix now you can build from head, otherwise it will be available in the next release which I am hoping will be in the next couple of weeks.

[2021-06-17 16:39] natasha41575 commented on #1556
this is fixed in the most recent version of kubectl.

[2021-06-17 16:39] #1556 closed

[2021-06-17 18:03] KnVerey commented on #3979
I agree that this sounds like an annotation rather than a label.

Doesn't this violate our "no build-time side-effects" policy? Should it be a field instead?

[2021-06-18 08:01] rdxmb commented on #3812
@Shell32-Natsu in some cases the error message might be correct. However, it appears also when there are some syntax problems within the files. Then it's very confusing. This seems to be an issue for me :)

[2021-06-18 14:21] perezjasonr commented on #3446
wow! i just ran into this EXACT one too. Glad to know I'm not crazy. I guess I'll try to downgrade kustomize for now.

[code]

[2021-06-18 14:55] bgrant0607 commented on #3953
I thought the experimental cfg command group had already been removed, but since it hasn't...

At least the tree command is useful, from what I've heard, but there's also the kubectl plugin:
https://github.com/ahmetb/kubectl-tree

The readonly commands could make a reasonable "view", "browse", or "scan" command group parallel with edit and build, though.

Setters (set) would fit as a transformer.

[2021-06-18 22:37] natasha41575 commented on #3976
Could you clarify this requirement with an example? I'm not sure I understand the relationship between `Resource.refBy` and KRM functions

[2021-06-20 16:54] #3449 closed

[2021-06-21 10:04] rdxmb commented on #3815
I have tried to define the namespace twice. Works with https://github.com/grafana/helm-charts/tree/main/charts/grafana

[code]

[2021-06-21 14:54] andrascz commented on #2760
Is there any chance reopening this?
I would second @blaggacao as we hit this via a simple resource rename, where target was not updated accordingly.

[2021-06-22 00:48] james-callahan commented on #2460
@monopole could you reopen this issue? it seems to be the one with the most discussion on the issue.

We'd love to see it addressed; quite possibly via #3655

[2021-06-22 01:15] natasha41575 commented on #2460
/reopen

[2021-06-22 12:43] SteveMattar opened #4008 "Building kustomize v3 fails"
**Describe the bug**

I'm not able to build/install kustomize v3.10.0

**Files that can reproduce the issue**

[code]

**Expected output**

A working build.

**Actual output**

The error above.

**Kustomize version**
v3.10.0

**Platform**

Linux

**Additional context**

[2021-06-22 12:52] awesomeinsight opened #4009 "kustomize edit set image removes "replacements" block in the kustomization.yaml"
We're using kustomize 4.1.3
Applying a "kustomize edit set image foo=bar_tag removes the complete replacements block from the kustomization file.

**Files that can reproduce the issue**
[code]

**Expected output**

replacements block stays in the file and is not removed

**Actual output**

replacements block is removed from kustomization file

**Kustomize version**

4.1.3

**Platform**
Linux/Ubunt

[2021-06-22 15:45] diclophis commented on #1424
If anyone is wondering about their ubuntu package version I think the ubuntu package might be a bit broken...

[code]

[code]
^ I don't think that is correct ...

[code]

[code]

[code]

[2021-06-22 15:51] KnVerey commented on #1424
@diclophis that's because no such version command exists, neither as a subcommand nor a flag. That's what this issue is tracking. In `kubectl kustomize version`, "version" is being interpreted as a path.

[2021-06-22 15:59] KnVerey commented on #1424
/assign @jeremyrickard

[2021-06-22 17:11] #3501 closed

[2021-06-22 17:21] natasha41575 commented on #4008
Is there a particular reason you need to use kustomize v3 and can't upgrade to v4?

[2021-06-22 18:26] natasha41575 commented on #4009
Thank you for filing the issue, it makes me really happy that people are trying out the new `replacements` field :)

I did a quick check and this has been addressed at head ([by this PR](https://github.com/kubernetes-sigs/kustomize/pull/3926)), so the fix should be available in the next release, which I am hoping will be in the next couple of weeks. If you need it urgently you can also build strai

[2021-06-22 18:26] #4009 closed

[2021-06-22 19:28] DavidSpek commented on #3751
bump

[2021-06-22 20:37] joost-vdc commented on #3625
/remove-lifecycle rotten

[2021-06-22 21:40] eduardo-manrique commented on #3878
I'm having this issue in Fluxcd, i guess they could be using the kustomize helmcharts for the postrender, i make them work fixing the duplicate labels in the manifests labels section

[2021-06-22 22:25] brianpursley commented on #3876
This line of code seems to be the cause:
https://github.com/kubernetes-sigs/kustomize/blob/bdbfb28139db6eefb2c5c147323d78a2894041d2/kyaml/kio/byteio_reader.go#L148

Notice it is splitting on `\n---\n` which does not consider spaces or anything else after the `---`.

According to the [YAML Spec](https://yaml.org/spec/1.2/spec.html) there seem to be a lot of things that can come after `---`.

Two id

[2021-06-22 23:56] Shell32-Natsu commented on #3749
/remove-lifecycle stale

[2021-06-23 01:59] natasha41575 commented on #3876
Kustomize doesn't generally preserve comments, so I don't see a reason why this needs to be an exception.

I agree. I think kustomize should throw an error in this case.

I know that this is allowed in yaml, but is there a use case among kustomize users for these things? Is there a scenario would a valid KRM resource need them?

[2021-06-23 02:13] brianpursley commented on #3876
@natasha41575 thanks for clarifying about the comments.  I haven't really used them with kustomize so I wasn't aware of that.

I don't think there would be a kustomize use case for any of the other things that the yaml spec was saying could come after `---`.  I was mainly just curious how it should be handled to try to add some details to this issue, so it would be work-able.

How does this sound?

[2021-06-23 02:18] natasha41575 commented on #3876
@brianpursley sounds good to me.

[2021-06-23 02:20] brianpursley commented on #3417
I just tried in 4.1.3 and don't get the error.  I do get the error in 4.1.2 though, so it looks like it might be fixed (?)

@ordovicia Can you give it a try with 4.1.3?

[2021-06-23 02:33] natasha41575 commented on #3417
Adding a note that this is a duplicate of https://github.com/kubernetes-sigs/kustomize/issues/3358

[2021-06-23 02:43] natasha41575 commented on #3358
Update: we're planning to bump go-yaml in kustomize soon. The issue should be resolved after that.

[2021-06-23 02:48] ordovicia commented on #3417
The bug seems to have been fixed in kustomize 4.1.3. Thank you.

`kustomization.yaml`:

[code]

`a.yaml`:

[code]

`b.yaml`:

[code]

Output:

[code]

[code]

[2021-06-23 02:48] #3417 closed

[2021-06-23 03:04] natasha41575 commented on #3464
/reopen
/remove-lifecycle rotten

[2021-06-23 03:11] natasha41575 commented on #3746
This is fixed by https://github.com/kubernetes-sigs/cli-experimental/pull/185

[2021-06-23 03:12] #3746 closed

[2021-06-23 07:35] SteveMattar commented on #4008
@natasha41575 our project does not currently support v4. In future we will of course.

[2021-06-23 07:36] awesomeinsight commented on #4009
Thanks for the quick reply and the info that this is already addressed in the next release.
Btw we're very happy with the `replacements` field - its exactly what we need.
Keep up your great work!

Thanks again.

[2021-06-23 07:47] patrick246 opened #4011 "Panic while parsing Git repository URL from Bitbucket"
**Describe the bug**

When specifying a Bitbucket repository HTTPS URL as a resource, there is a panic in api/internal/git/repospec.go:128
https://github.com/kubernetes-sigs/kustomize/blob/0f614e92f72f1b938a9171b964d90b197ca8fb68/api/internal/git/repospec.go#L128

n is empty while parsing the URL below, therefore it panics when accessing `n[0]`. This happens in general, when the repository URL end

[2021-06-23 13:51] rkr-kununu opened #4012 "[Question] How to use ReplacementTransformer for fields that need a text placeholder?"
Since it's been announced that `vars` will be deprecated in favor of ReplacementTransformer, I'd like to replace our use of `vars` in our test environment.

However, we're using Traefik's CRDs which is running within a dedicated namespace (with a wildcard ssl cert).  This means each test environment exists within their respective namespace and share a single (public) Traefik instance to mock our p

[2021-06-23 18:04] natasha41575 commented on #4012
This is a problem we are aware of - a similar use case is described in https://github.com/kubernetes-sigs/kustomize/issues/3978. For now we are thinking about using generators for such use cases, but it will be difficult for us to provide generators for all possible CRDs.

We've written a [builtin generator plugin](https://github.com/kubernetes-sigs/kustomize/pull/3914) for generating service acco

[2021-06-23 18:04] HariSekhon commented on #2538
I had this issue on Kustomize 4.1.3 and solved it by just replacing the double slashes with a single slash `//` - I tried this with and without `https://` protocol prefix and both worked.

[2021-06-23 18:17] KnVerey commented on #3876
@brianpursley @natasha41575 The problematic splitting is in kyaml, and kyaml does preserve comments in general. Could we take inspiration from the hardened document splitting implementation in k/k? Even though it does not appear to support all features of the yaml spec, I think consistency with k/k's document handling is a fair approach.
 https://github.com/kubernetes/kubernetes/blob/7b24c7e4a7a64

[2021-06-23 19:06] thatsmydoing commented on #2538
Are you sure it's not working for kustomize 4.1.3? I tried it locally and both urls work. Pre version 4, you might be hitting the go-getter path which is known to be broken for certain urls.

[2021-06-23 22:48] HariSekhon commented on #2538
It worked locally in Kustomize 4.1.3 but not in ArgoCD, even when I upgraded the Kustomize version inside the container via an init container shared emptyDir as seen in the patch I published above. I even exec'd into the argocd-server container and did a Kustomize version and it showed 4.1.3

[2021-06-23 23:42] brianpursley commented on #3876
@KnVerey I like that idea, using what k/k has done. I looked at the code too and agree it looks like it is dropping everything after the three dashes to the newline.  It probably is the simplest way to handle it.

[2021-06-24 05:52] thatsmydoing commented on #2538
I think evaluation happens in argocd-repo-server instead. Which is probably still using the old kustomize.

[2021-06-24 08:16] rkr-kununu commented on #4012
Thank you for the feedback - I'm relieved to know it's on the radar.  However, I'm not too thrilled with the prospect of needing to write/install a custom generators for the various CRDs we want to use or expecting the kubernetes community to provide them.  Especially, when great tools like [crossplane](https://github.com/crossplane/crossplane) which create an easy way to make custom opinionated C

[2021-06-24 09:28] HariSekhon commented on #2538
Yeah I just woke up this morning and realized that! Will adjust the patch... I knew something was off

[2021-06-24 15:15] brianpursley commented on #3876
Using that k/k has done seemed like a good idea at first, but on second look, it would take quite a bit of refactoring.  The approach in k/k is one of a scanning of the content, identifying each document as it is encountered.  Whereas in kustomize, the entire content is split into an array of documents upfront and then processed after that.

Given that the effect of the k/k approach is to allow (a

[2021-06-24 16:21] serajin00 commented on #3912
So quite a time passed in inactivity.

@monopole I guess this should be marked as kind/bug.

I as a [argocd](https://argoproj.github.io/argo-cd/) user, used argocd 1.6 which bundled with **Kustomize v3.6.1**.
I upgraded argocd 2.0 which bundled with **Kustomize v3.9.4**, then I surprised from the multibyte string error issue.
So I configured argocd to use the latest **Kustomize v4.1.3**, the multi

[2021-06-24 17:10] natasha41575 commented on #3946
https://github.com/go-yaml/yaml/pull/753

[2021-06-24 17:33] natasha41575 commented on #3876
This is the solution I was thinking of initially too. Thanks for the PR - we'll take a look when we can!

[2021-06-24 21:37] brianpursley commented on #3876
I [commented over on the PR](https://github.com/kubernetes-sigs/kustomize/pull/4014/files#r658295152) but wanted to correct myself here.  I don't know if it is using some other code to split documents than what we were looking at, but k/k has a similar problem in that if there is anything after `---`, it skips that entire document without an error:

[code]

output (bar is not created):

[code]

(T

[2021-06-24 21:45] natasha41575 commented on #3876
@brianpursley That sounds like a bug in k/k, it might be worth filing an issue for it over there. On our side I think we should try to make sure kustomize doesn't have the same problem.

[2021-06-25 00:52] numbsafari commented on #3913
Brought here by some problems deploying cert-manager together with some other tools using kustomize. I think this idea of having a logical default ordering, but the ability on a per-kustomization basis to describe a desired ordering based on resource type makes a lot of sense. The main reason I like it is that you can memorialize/document the need for the ordering within your data/files, rather th

[2021-06-25 00:58] james-callahan commented on #2684
/remove-lifecycle stale

[2021-06-25 00:58] james-callahan commented on #2684
@ChaturvediSulabh are you working on this?

[2021-06-25 09:29] ChaturvediSulabh commented on #2684
yes, #3791 is pending review
cc: @KnVerey @monopole

[2021-06-25 19:58] valorl opened #4015 "namespace of ClusterRoleBinding subject only overwritten if default"
**Describe the bug**

When I use `namespace` in my kustomization.yaml in order to add/overwrite the namespace of all resources,
it does so wherever relevant, including `RoleBinding.subjects.namespace`, but _not_ `ClusterRoleBinding.subjects.namespace`, _if_ the namespace is anything other than `default` .

**Files that can reproduce the issue**
kustomization.yaml

[code]

crb.yaml

[code]

**Expec

[2021-06-25 20:20] natasha41575 commented on #4015
[The paths here](https://github.com/kubernetes-sigs/kustomize/blob/master/api/konfig/builtinpluginconsts/namespace.go) might need to be changed to something like `subjects[]/namespace`.

Are you sure this bug doesn't also happen for `RoleBinding.subjects.namespace`? On my side I reproduced the issue for both ClusterRoleBinding and RoleBinding.

[2021-06-25 22:05] natasha41575 commented on #4015
There is a test for the current behavior here https://github.com/kubernetes-sigs/kustomize/blob/dac84d867ecdc5e2513a7ea27ef652f88a8e3fa4/api/krusty/rolebindingacrossnamespace_test.go#L219 which fails when the fix for this is implemented. The comment:

[code]

makes me think this is intentional Because you can simply reference a ServiceAccount from another namespace in the subjects field, I questio

[2021-06-25 22:13] valorl commented on #4015
You're right, isolated it behaves the same. In my case, the following thing you mentioned is happening, as I'm using a full yaml doc stream bundle of manifests for Argo Workflows. Would be nice if that happened for CRBs too.

[2021-06-25 22:13] natasha41575 commented on #4015
Did some digging, and I think the behavior is intentional.

Because you can reference a service account from another namespace in a role binding, kustomize does not automatically update the subjects/namespace field.

Instead, it will update the namespace if that subject account is also among the list of resources kustomize is aware about.

For example:

kustomization.yaml:
[code]

crb.yaml:
[code]

[2021-06-25 22:15] natasha41575 commented on #4015
I can't reproduce that - could you provide a complete set of files that allows me to reproduce the issue (including the service account declaration)?

[2021-06-25 22:18] valorl commented on #4015
Of course, this is the bundle I'm using:
https://raw.githubusercontent.com/argoproj/argo-workflows/stable/manifests/install.yaml

[2021-06-26 18:28] vit-zikmund commented on #3761
Hi there, I hit the same problem and frankly, I also miss the `go-getter` functionality. I've searched the internets and found a way how to clone the repo without blobs:
[code]
This trims the repo that's currently 89MB in size down to 6.3MB, which is pretty good.
After that one can obtain the full commit hash from a short one with e.g.:
[code]

Exploring more on the `git clone --filter` topic, I'v

[2021-06-28 01:51] thatsmydoing commented on #3761
It looks like that functionality was added in git version 2.27.0 (2020/6/1) which I presume is a bit too new to assume by default. This also isn't implemented in `go-git` either so if we do ever integrate that in, we still wouldn't be able to resolve it without fetching everything.

It would still negatively affect people who typo the commit as any failure would cause a fallback. That said, you co

[2021-06-28 08:04] kragniz commented on #3763
/remove-lifecycle stale

[2021-06-28 08:36] valorl commented on #4015
The SA in that bundle does not have a namespace set, but the CRB subject namespace is hardcoded to "argo". RBs and SAs are namespaced, the subject reference is only by name and kustomize figures it out. But it can't for the CRB since there's no way of knowing that the SA in "argo" is actually meant to be the same one that's among the resources.  If I set `namespace: argo` on the SA in the original

[2021-06-28 09:32] vit-zikmund commented on #3761
Thanks for your interest @thatsmydoing.

Does `go-git` really matter here, when [cloner uses the system's git binary](https://github.com/kubernetes-sigs/kustomize/blob/276d0430bfab0c05ec131db5b8584dc2f4b94211/api/internal/git/cloner.go#L17)?
Could we add a version check and bail out for the older versions? It wouldn't be worse than what it is now :)

True, but that's why I was suggesting the warni

[2021-06-28 09:55] thatsmydoing commented on #3761
The maintainers have been saying they'd like to move to `go-git` for some time to drop the dependency on an external binary (and maybe improve performance). I only mention it here because one option against having "too old git" is just use a library for it instead. But unfortunately, that path isn't available for this.

Oh I've definitely complained about this many times in https://github.com/kube

[2021-06-28 10:35] vit-zikmund commented on #3761
@thatsmydoing If you could update the docs, that would be just awesome. I tried to do a PR myself, but hit some legal barriers :/ Also with my so far shallow understanding of all this, I'm not convinced it would be good enough. (I also considered [creating a documentation issue](https://github.com/kubernetes-sigs/cli-experimental/issues/new?title=resources), but judging from the issues there, it s

[2021-06-28 15:37] enlait commented on #347
using another (overly complicated, turing-complete, conference-inspiring) templating layer on top of kustomize kind of defeats the whole idea of having kustomize in the first place

[2021-06-28 23:03] #3515 closed

[2021-06-29 09:34] cameronkerrnz commented on #3951
Can we please include documentation on how (if) kustomize plugins are supported when used using 'kubectl apply -k' etc, as I've found practically nothing on this and feel like I'm stumbling around in the dark (for context, I'm trying to use kustomize with ksops, via kubectl or 'oc'... on Windows).

Thanks!

[2021-06-29 17:18] metasim commented on #3675
Is there a process or mechanism short of a PR by which we can bump this in priority, e.g. votes, raise funds to fix it, find a sponsor, other support? Kustomize is all about YAML processing, and standards compliance in its interpretation seems essential for it to have a successful future. Thanks to Kustomize, we've benefitted from keeping our use of Helm to a minimum, enabling us to adjust manifes

[2021-06-29 17:26] metasim commented on #3675
I hope the above doesn't come across as unappreciative of the team behind this project! I really do think Kustomize is fantastic, and want to see it become the best that it can be, and appreciate all the hard work that's gone into it! :-)

[2021-06-29 23:06] #3481 closed

[2021-06-30 03:39] snuggie12 commented on #3762
/remove-lifecycle stale

[2021-06-30 04:45] mikebz commented on #3762
What about just using helm to inflate things directly without using the plugin?

[2021-06-30 08:30] hans-d commented on #3819
Seeing that #3898 has been merged in late may, and the (current) latest release kustomize/v4.1.3
was  released this on 20 May (just 8 days before the merge): when can we expect a new release that includes this?

[2021-06-30 09:16] strideynet commented on #4008
I believe I am receiving a similar issue:

[code]

[2021-06-30 16:15] natasha41575 commented on #3819
@hans-d We are trying to do a release today.

[2021-06-30 16:16] natasha41575 commented on #3819
I am also closing this issue because #3898 has been merged.

[2021-06-30 16:16] #3819 closed

[2021-06-30 17:39] brianpursley commented on #3895
@matthewhembree, I reproduced this bug using version 4.1.2, but it seems to be fixed in version 4.1.3 (both examples you provided).

Can you try with kustomize version 4.1.3?

[2021-06-30 18:25] matthewhembree commented on #3895
@brianpursley I confirm that the issue has been resolved in 4.1.3 for both cases. 👍

[2021-06-30 18:25] #3895 closed

[2021-06-30 19:35] frankfarzan opened #4024 "kyaml should implement KRM Functions Spec v1"
Following changes are needed to adhere to [Functions Spec v1]:

1. Migrate internal annotations:
- [ ] `config.k8s.io/id` -> `internal.config.kubernetes.io/id`
- [ ] `config.kubernetes.io/path` -> `internal.config.kubernetes.io/path`
- [ ] `config.kubernetes.io/index` -> `internal.config.kubernetes.io/index`

But we should be aware that this IS a backwards incompatible change. Here are the migrati

[2021-06-30 19:39] natasha41575 commented on #4024
/assign

[2021-06-30 23:39] monopole opened #4028 "Restore kustomize windows build disabled for v4.2.0"
[kustomize/v4.2.0]: https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.2.0

[disabled]: https://github.com/kubernetes-sigs/kustomize/pull/4027

The windows build was failing in goreleaser for unknown reasons during the attempt to release [kustomize/v4.2.0].

In the interests of making the kubectl integration deadline with a new release, the windows build was [disabled] and a

[2021-07-01 10:55] jkroepke commented on #347
See an solution like for images or replicas would be the best possible in my opinion.

[2021-07-01 21:04] natasha41575 opened #4029 "Make kyaml indentation style configurable"
Kyaml is currently using a version of the go-yaml library that uses the old indentation style for sequence nodes, allowing us to get fixes from the upstream library without accepting the new indentation. The new indentation style is hardcoded as part of the [NewEncoder](https://github.com/kubernetes-sigs/kustomize/blob/d53a2ad45d04b0264bcee9e19879437d851cb778/kyaml/yaml/alias.go#L44) method in kya

[2021-07-01 21:04] natasha41575 commented on #4029
cc @KnVerey @phanimarupaka @mortent @droot

[2021-07-01 21:25] #3876 closed

[2021-07-01 21:26] #3188 closed

[2021-07-01 22:56] natasha41575 commented on #4015
Yup that's exactly how it works.

Unfortunately if there's no way of knowing that the CRB is referring to the SA among the resources, there's not much kustomize can do :/ Sorry about that.

[2021-07-02 07:29] valorl commented on #4015
That's completely fair :) Glad to have learned, thanks. I'll just close this now.

[2021-07-02 07:29] #4015 closed

[2021-07-02 14:01] badamowicz opened #4032 "Only the last patchesJson6902-patch is applied"
**Describe the bug**
When trying to apply more than one patch of type _patchesJson6902_, only the last one is applied.

**Files that can reproduce the issue**
The attached archive [patchesJson6902-bug-example.zip](https://github.com/kubernetes-sigs/kustomize/files/6754898/patchesJson6902-bug-example.zip) contains all files and directories to reproduce the problem.

**Detailed description**
Given t

[2021-07-02 15:49] zhouhaibing089 commented on #3626
/remove-lifecycle rotten

[2021-07-02 17:40] natasha41575 opened #4033 "yaml.v3 fork maintenance story"
### Background

Upgrading go-yaml causes a breaking indentation change for kustomize. The details are described in [this comment](https://github.com/kubernetes-sigs/kustomize/issues/3946#issuecomment-855172892). To remedy this issue, we added a [PR to go-yaml](https://github.com/go-yaml/yaml/pull/753) in the hopes that it would be accepted in time for the k/k code freeze (July 8, 2021). There was

[2021-07-02 18:50] natasha41575 opened #4034 "When using an simple overlay with a namePrefix on a base that contains replacements the prefix does not end up on the target values."
See the test in https://github.com/kubernetes-sigs/kustomize/pull/4031.

[code]

[2021-07-02 18:55] natasha41575 commented on #4034
/assign

[2021-07-02 18:59] natasha41575 commented on #4032
I see you're using v4.2.0 - I'm wondering, were you able to successfully apply both patches in a previous version?

[2021-07-02 22:59] natasha41575 commented on #4034
Closing this issue. After taking a closer look I believe this is intended behavior.

[2021-07-03 13:22] megakoresh opened #4038 "nameSuffix does not propagate to deployment selector in Service objects"
`nameSuffix` property does not propagate to `deployment` selector in `Service` objects. Meaning that if deployment name is `deployment` and `nameSuffix: -test`, the generated Service definition will have selector referencing `deployment` and not `deployment-test` as would be expected

Original files:

[code]

After I run `kustomize build -k vault/test`

[code]

**Expected output**

Reference inclu

[2021-07-03 14:10] megakoresh commented on #4038
Sorry, I forgot these things are supposed to reference labels, not names. It's too hot to think.

[2021-07-03 14:10] #4038 closed

[2021-07-05 06:44] badamowicz commented on #4032
Made some more tests with these versions:
* v4.1.3
* v4.1.0
* v4.0.1
* v3.10.0
The result was always the same. Only the last patch gets applied.

[2021-07-06 07:34] badamowicz commented on #4032
One addition which I didn't notice when filing this issue: The whole chart spec of the HelmRelease is also missing. So actually the expected output should be:
[code]

[2021-07-06 12:54] swapnild2111 commented on #766
It's `--load_restrictor` <-- note the underscore sign

[2021-07-06 16:36] solarmosaic-kflorence commented on #766
@swapnild2111 that is for version 3. In version 4 it is `--load-restrictor`. See https://github.com/kubernetes-sigs/kustomize/issues/3746

[2021-07-06 17:34] KnVerey commented on #4029
I agree with you. The upstream change was out in the wild for a very long time, and it would have been reasonable for library consumers and their users to have already done a painful migration, not realizing that kyaml would restore the original behavior in the future. Although kyaml itself is in alpha, this change affects not only tool builders using it, but all their end users--just like our own

[2021-07-06 19:01] marshall007 commented on #3980
@monopole I think this would be a fantastic addition to kustomize. We currently use [`kpt pkg`](https://kpt.dev/reference/cli/pkg/) commands to achieve roughly the same behavior. There are some friction points with our current approach because `kpt` is totally unopinionated in terms of the resources it manages, has no concept of package structure (as defined by a `kustomization.yaml`), and defines

[2021-07-06 20:30] rjferguson21 commented on #4034
@natasha41575 I'd like to provide another example to illustrate similar behavior that I believe breaks user expectations and would make it very difficult to maintain a reusable base that contained replacements.

*base/kustomization.yaml*
[code]

*kustomization.yaml*
[code]

This yields:
[code]

I can appreciate that this is a difficult problem to solve, but I think it creates a bit of a mine field

[2021-07-07 12:56] juergenzimmermann opened #4041 "No Windows asset for Kustomize 4.2.0"
**Describe the bug**

There is no Windows asset for Kustomize 4.2.0 at https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.2.0 as it is for 4.1.3 at https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.1.3

**Expected output**

.tar.gz file for Windows at https://github.com/kubernetes-sigs/kustomize/releases/tag/kustomize%2Fv4.2.0

**Actual output**

No .ta

[2021-07-07 14:08] jaxzon commented on #2214
It does not work for nfs.path too.
`kubectl apply -k .`
Output is.
`Error from server (Invalid): error when creating ".": PersistentVolume "certs-pv" is invalid: spec.nfs.path: Invalid value: "$(NFS_LETSENCRYPT_PATH)": must be an absolute path. Variable is not replcaed.`

[2021-07-07 14:42] bgrant0607 commented on #3980
If setters were changed to an on-the-fly transformer as discussed in#3953, then localize wouldn't be necessary in order to apply setter values to remote resources and merging on update wouldn't be necessary. I suggest that localize should just fetch, not merge, consistent with the existing fetch behavior during build.

[2021-07-07 16:01] natasha41575 commented on #4041
Thanks for filing the issue, I am closing this as a duplicate of https://github.com/kubernetes-sigs/kustomize/issues/4028.

We are aware of the problem and will look into it when we can!

[2021-07-07 16:01] #4041 closed

[2021-07-07 16:20] natasha41575 commented on #4029
/assign @phanimarupaka

[2021-07-07 16:24] #4011 closed

[2021-07-07 17:30] natasha41575 commented on #3780
/remove-lifecycle stale

[2021-07-07 17:53] natasha41575 commented on #4032
I think the issue is the way you are doing your patches.

[code]

Will add the value

[code]

to the path `/spec`. This results in it being overwritten. Both patches are applied, but because they are overwriting `/spec`, one overwrites the other and also overwrites the chart spec, which is why it is missing.

The fix is the altering the patches to the following:

`env1/user-spec-patch.yaml`
[code]

[2021-07-07 18:05] marshall007 commented on #3980
@bgrant0607 I definitely agree that applying setters on-the-fly is necessary as there should be no distinction between how setters (or any other functionality) behaves when referencing local vs remote resources.

That being said, I did not mean to conflate this with our desire for kustomize-aware package management utilities in general. We have found that it is simply easier to build and maintain

[2021-07-07 20:36] shawnzhu commented on #3542
@Shell32-Natsu Thanks for the pointer! I created this answer in stackoverflow with example on how to use this imageTagTransformer: https://stackoverflow.com/a/68292689/914967

[2021-07-07 21:40] natasha41575 commented on #3979
If it is a field, how should it look?

A single separate field?
[code]

Alternatively, should it be placed under an options field in case we have a number of options that we want to consolidate into a single field?
[code]

If we like the latter, I wonder if we can consolidate with the option described in https://github.com/kubernetes-sigs/kustomize/issues/3913#issuecomment-848349426 so that we hav

[2021-07-07 21:45] natasha41575 commented on #3913
Would it make sense to consolidate it into a single top-level field with nested subfields?

[code]

@KnVerey @yanniszark WDYT?

[2021-07-07 22:37] bgrant0607 commented on #3953
I don't think it makes sense to keep the Krmfile.

[2021-07-08 01:37] phanimarupaka opened #4045 "Remove setters code from cmd/config and kyaml"
Setters functionality is provided as a KRM function. We should remove code related to setters in cmd/config and kyaml.

[2021-07-08 01:39] phanimarupaka commented on #4045
@natasha41575 Let me know if you have cycles to pick this up.

cc @KnVerey

[2021-07-08 08:22] badamowicz commented on #4032
Thanks, Natasha! This also explains why the spec of the entire HelmChart was removed.
However, I think this behaviour is worth beeing mentioned in the documentation in more depth. This would avoid doing research for hours and days of a user.
Thanks again for your help!

[2021-07-08 08:22] #4032 closed

[2021-07-08 13:41] dosmanak commented on #402
I agree with @TekTimmy the merged PR #707 does not resolve this issue.
Let's say I have 20 images and each enivronment uses it's own registry.
So I'd like to change only the registry part of the imageName i.e. the part of uri to the first `/` symbol.
Currently it seems I have to define yaml list with a lot of duplicated data
[code]
I have found there is regex in image resolution, but I can't acces

[2021-07-08 14:43] yanniszark commented on #3913
@natasha41575 IIUC, you are proposing this:
[code]

VS

[code]

TBF, the second one seems more intuitive to me. @KnVerey what do you think?

[2021-07-08 16:53] natasha41575 commented on #4045
I have cycles to pick them up but also would like clarity on how to deprecate the commands `kustomize cfg create-setter` and `kustomize cfg set`.

Related: https://github.com/kubernetes-sigs/kustomize/issues/3953

Discussion there agrees with removing these commands.

[2021-07-08 17:10] natasha41575 commented on #3953
+1 to keeping the readonly commands and removing the others.

There are KRM functions for [creating and applying](https://catalog.kpt.dev/) setters that kustomize could theoretically reuse with `kustomize fn run`, and I agree that mutating commands should be declared as transformers.

[2021-07-08 17:21] marshall007 commented on #3953
I think I disagree that setters should be re-implemented as a transformer. See https://github.com/GoogleContainerTools/kpt/issues/2369#issuecomment-876607043

It seems much more reasonable to have a hard distinction between in-place and out-of-place hydration. In combination with something like #3980 and a declarative function execution pipeline in kustomize I see no reason why setters would ever

[2021-07-08 17:23] natasha41575 opened #4047 "Consider deprecating the --enable-managedby-label in favor of a field"
Arguably this flag violates the no-side-effects-from-flags philosophy and we should consider moving it to a field.

[2021-07-08 17:32] natasha41575 commented on #4034
Thanks for following up! I will keep this issue open because the use case is compelling, and I agree that it will be good to track changes to a resources GVKNN wherever we can.

I will also reopen your PR and leave a comment if you would like it to be merged.

[2021-07-08 17:35] natasha41575 commented on #3953
@marshall007 WDYT about setters as a KRM function?

[2021-07-08 17:41] natasha41575 commented on #3946
Closing this in favor of #4033, which includes a summary of the decision made and what we need to do moving forward.

[2021-07-08 17:41] #3946 closed

[2021-07-08 19:17] KnVerey commented on #4045
Great question. Any idea if there is precedent to follow here? Perhaps you're right and we can just remove them without warning in 5.0... or maybe even before then? Re: communication, a release note pointing to docs for the KRM function should suffice, I think.

The idea is to group together all the breaking changes we've been wanting to make into a single release, to minimize the number of times

[2021-07-08 19:37] bgrant0607 commented on #3953
kustomize performs out-of-place transformation/hydration, driven by a declarative specification (https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2377-Kustomize#capabilities). That's its model. Out-of-place transformations are especially useful for variant generation. In fitting with that model and usage, it should be possible to generate multiple variants from the same base. As

[2021-07-08 19:45] KnVerey commented on #3953
@natasha41575 thanks for pointing out those KRM functions. Couldn't the "apply-setters" function be invoked declaratively as a KRM-style transformer today then? If so, the question is whether we need to bring that functionality in-tree vs. promote the use of that extensions transformer to those interested. Personally I like the idea of it remaining a extensions feature rather than bringing the add

[2021-07-08 19:45] marshall007 commented on #3953
@natasha41575 I think the UX of the new `create-setters` and `apply-setters` KRM functions is rather clunky in its current state but the overall direction makes sense. My main concern right now is that there are too many different options for manipulating setters and kustomize is now lagging behind:

- declarative function pipelines defined in a `Kptfile` executed using `kpt fn render`
- declarati

[2021-07-08 19:55] marshall007 commented on #3953
I agree with @KnVerey that the core introspection command functionality doesn't really belong in kustomize either. It never really made sense to me that the output didn't reflect any out-of-place hydration defined in the kustomization(s). There would still be value in a kustomize-aware wrapper around the core functionality, but the core implementation belongs elsewhere for sure.

[2021-07-08 19:57] KnVerey commented on #3953
🤔 I'm open to this. With that deprecation, it looks like we'd be left with commands that interact with Kustomization, which makes a lot of sense to me. That said, I can see how `kustomize fn run` might be very useful for people authoring extensions transformers as KRM functions, which is something we want to facilitate and encourage... but then again, as a function author myself, I can't say I've

[2021-07-08 20:10] natasha41575 opened #4049 "Deprecate vars"
The new [replacements field](https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/) is intended to be a the replacement for the vars feature. Now that its implementation is complete, we should look into deprecating vars.

Some outstanding issues:

https://github.com/kubernetes-sigs/kustomize/issues/4012
https://github.com/kubernetes-sigs/kustomize/issues/3978

These i