[2018-05-18 21:01] monopole opened #12 "Support `kustomize edit add base`"
Add `kustomize edit add base` command to modify the kustomization.yaml with a base.

was https://github.com/kubernetes/kubectl/issues/481

[2018-05-18 21:03] monopole opened #13 "Support `kustomize edit add labels` (and annotations)"

[2018-05-18 21:04] monopole opened #14 "Help text for `kustomize edit add` shouldn't show secret"
`kustomize edit add` shows an example of adding a secret, but this doesn't exist

[2018-05-18 21:22] monopole opened #15 "use namePrefix in every reference/direct link"
---
copied from https://github.com/kubernetes/kubectl/issues/293
---
I have some following resources:
one ingress, one svc
[code]
and
[code]

In this case, using `namePrefix` isn't practical because I have to edit manually the svc:
[code]

I would expect a replacement in the serviceName too

[2018-05-18 21:28] monopole opened #16 "a --strict mode for build?"
Such a mode would advise user about poor idioms YAML, or features about to be deprecated,

[2018-05-18 21:37] guineveresaenger commented on #12
/assign

[2018-05-18 21:40] guineveresaenger commented on #12
Commenting here that I'm set to work on this.

[2018-05-18 21:40] guineveresaenger commented on #13
Will work on this

[2018-05-18 21:40] guineveresaenger commented on #14
will work on this

[2018-05-18 21:48] monopole opened #17 "edit should preserve kustomization field order and comments"
The edit command unmarshalls kustomize.yaml to an unstruct object, edits it, and marshalls it back without retaining field ordering or comments.  This also introduces fields with zero values that weren't in the original content (perhaps harmless but ugly)

[2018-05-18 21:51] monopole opened #18 "support setting namespace in a kustomization"
i.e. all generated resources go into a particular namespace

impl notes:
specify namespace in manifest, and then set the objectmeta:namespace field
https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L130

[2018-05-18 21:53] monopole opened #19 "test coverage for multiple bases"
this is allowed, should have test coverage.
e.g. what happens with multiple nameprefix?

[2018-05-21 19:14] monopole opened #22 "declarative approach to service accounts"
similar to namespaces (#18), in that it's a cross-resource, cluster-wide concern.

[2018-05-21 19:17] monopole opened #23 "generate Application Resource from kustomization?"
See [KEP for Application resource](https://github.com/kubernetes/community/pull/1629)

[2018-05-22 21:08] droot opened #27 "Support variable substitution using downward API syntax"
The original issue is about supporting  container arguments that depend on kustomize generated names. We have a [POC ](https://github.com/droot/kubectl/commit/ad59761808bba74952d89017c8f1ae5ad9c21b27) done with downward API syntax, we need to productionize it.

Here is a concrete example I ran into while migrating cockroachdb's example to work with kinflate:

For more info on the cockroachdb manif

[2018-05-23 18:15] ant31 commented on #15
with #27 most cases from this issue should be solved.
Would still be nice to have the name-prefix automatically replaced on known fields (e.g. `serviceName`, `serviceAccount`) and use variable substitution only when it can't be determined (like in EnvVar)

[2018-05-23 19:20] monopole commented on #12
ok, please do

[2018-05-23 19:25] monopole opened #30 "On README, suggest downloading a release (instead of go get)"

[2018-05-23 22:14] monopole opened #32 "kustomize build {repoUrl}"

[2018-05-24 14:49] jessfraz opened #33 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 15:15] dlorenc opened #36 "Convention-Based Defaults for kustomization.yaml"
Has there been any discussion on a system for convention-based defaults? It seems like many of the fields in a kustomization.yaml could be omitted if the user follows some conventional directory structure. For example, the structure outlined in the tutorials:

[code]

[2018-05-25 17:42] sethpollack opened #38 "Allow using the same base with multiple overlays or transformations"
Here is an example https://github.com/sethpollack/kustomize_example

When you run `kustomize build cluster_a`

You get the following error:

[code]
Is that the desired result? Or should they be treated as unique based on the `namePrefix` that they use?

[2018-05-29 18:38] Liujingfang1 opened #40 "fix the URL in kustomize description"
[code]
The URL should be https://github.com/kubernetes-sigs/kustomize

[2018-05-30 17:11] #14 closed

[2018-05-30 20:18] aaron-prindle opened #41 "blog post hello world demo link 404"
From the blog post, the "hello world demo" link points to:
https://github.com/kubernetes-sigs/kustomize/blob/master/demos/helloWorld
when it seems it has been changed to:
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld

[2018-05-30 22:48] monopole commented on #30
done in https://github.com/kubernetes-sigs/kustomize/pull/34

[2018-05-30 22:48] #30 closed

[2018-05-30 23:56] Liujingfang1 opened #42 "make kustomize work with CRD"
make name prefixing, labels|annotations and updating name reference work for CRDs
The original issue is https://github.com/kubernetes/kubectl/issues/338

[2018-05-31 00:00] #41 closed

[2018-05-31 05:50] rothgar commented on #32
I'm assuming this is to have the base yaml files live in a centralized repository and all the customization in the local directory.

I too was curious how remote manifests would work. Maybe store it in the kustomization.yaml file?

[2018-05-31 18:30] monopole commented on #42
notes here: https://docs.google.com/document/d/1yrZpmKAUpHR9z6f9bPQmpcLZS5QKdqQSQ8Tty_XKWWo/edit

[2018-05-31 21:18] #40 closed

[2018-06-01 01:17] sethpollack commented on #38
@monopole I would love to get your thoughts on this?

[2018-06-01 07:38] schweikert opened #48 "Name substitutions done for containers but not initContainers"
I have a secret generated with the "secretGenerator", and I'd like to use a value in that secret in the definition of an init container. Something like:

    spec:
      initContainers:
      - name: my-init-container
        env:
          - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: passwords
              key: my_password

The name of the secret should be

[2018-06-01 18:40] Liujingfang1 commented on #27
@monopole Can you assign this issue to me? I can't self assigned

[2018-06-01 21:52] mattatcha opened #50 "Ability to disable hash suffix for generated secrets and configmaps."
Requiring a rolling update due to config changes isn't always an option.

For example most prometheus deployments are a single instance and recreating the pod for every config change would cause "holes" in time series metrics.

[2018-06-04 17:17] bickfordb opened #51 "Variable Docker image tags"
My application has a number of services which use the same Docker image (based on the application repository's GIT SHA).  In my application I have a CI workflow like:

1.  Build my app's docker image and push it to a registry with `${APP}:${GIT_COMMIT_SHA}`
2. `helm install --upgrade --set GIT_COMMIT_SHA=${GIT_COMMIT_SHA} charts/${APP}`

Can you suggest how to make this workflow work with kustomiz

[2018-06-05 00:43] wstrange opened #53 "Documentation should contrast kustomize with other tools (helm, ksonnet, etc.)"
It is not clear when I would want to use kustomize vs. other tools such as helm or ksonnet.

What are the pros/cons of using kustomize?

Does kustomize interoperate with other tools?

[2018-06-05 06:53] Raffo opened #55 "Support to writing back the yaml to files"
Hi, thanks for this great project, I was really looking for something like that and I am excited for the future developments!

I was thinking if it would make sense from your point of view to have the option to write the output yamls to files following the original names instead of STDOUT.
My use cause would be to use them in a deploy script that knowns about some conventions, i.e. I don't want to

[2018-06-05 18:30] monopole commented on #38
IMO, this is a dupe of #18, or a very legitimate complaint about a terrible error message :)

I see you've started on #18, let's see what happens after that.

[2018-06-05 18:41] monopole commented on #38
I'm not sure if this is about namespaces or about a desire to wrap two overlays with a third
 kustomization that allows the overlays to be build with one command rather than two.  We can clear that up shortly

[2018-06-05 18:43] sethpollack commented on #38
I want two deployments with the same name and the same namespace with different prefixes. But the check happens before the prefix transform runs.

[2018-06-05 18:56] monopole commented on #38
Please state the desired end result in yaml :)

[2018-06-05 18:59] monopole commented on #38
Or lets just wait till your #54 is in.  The application_test in that PR should define a starting point for further behavior improvements.

[2018-06-05 19:03] sethpollack commented on #38
It would look like
[code]

[2018-06-05 23:33] #18 closed

[2018-06-06 00:28] sethpollack opened #57 "Missing nameReferences"
There may be more but so far I noticed that `Ingress` doesn't get updated with the `Service` name and `HorizontalPodAutoscaler` doesn't get updated with the `Deployment` name.

[2018-06-06 16:15] sascha-coenen opened #61 "Support for rewriting API versions"
Given a base with a resource with a given kubernetes API version (lets say a statefulset with API version app/v1beta1), there seems to be no way to patch this API version within an overlay

I cannot use a patch to rewrite the API version because patches already use the API version to match a resource in the first place.

To make migrating between Kubernetes versions easier, perhaps it would be qui

[2018-06-06 16:36] dlorenc commented on #51
Why was this closed? I had the same question.

[2018-06-06 16:59] monopole commented on #53
That's more appropriate to a blog post or review.

The doc for tool _x_ shouldn't have to track what
related tools do as time passes.

But since you asked:

kustomize reads YAML, modifies it in memory per rules
found in `kustomization.YAML` files, and writes YAML to
stdout.

So it interoperates with anything that writes or reads
YAML. It can read helm or ksonnet output.

kustomize was inspired by

[2018-06-06 16:59] #53 closed

[2018-06-06 21:04] #48 closed

[2018-06-06 21:17] #57 closed

[2018-06-06 23:44] monopole commented on #27
Fixed by #52

[2018-06-06 23:44] #27 closed

[2018-06-07 00:06] monopole commented on #55
kustomize in general wants to support a fork/rebase workflow in which one has a fork of someone else's repo, and occasionally does `git rebase` to capture changes which then become part of your workflow. So we don't want to overwrite the base (would could be just one big YAML file with many resources).

That's why there's currently no attempt to retain any kind of mapping between objects and the f

[2018-06-07 00:16] sethpollack commented on #55
@monopole what if we write to a release dir instead of overwriting the base? You can add a release dir in the kustomization file where all the modified resources would be written to.

[2018-06-07 13:21] yanc0 opened #65 "Respect ordering in kustomization resources array"
It can be extremely useful for namespace creation. Namespace have to be created before all objects you want to place inside. Example:

[code]

Namespace manifest is situated at the end of stdout, which cause that error message.

[2018-06-07 16:08] monopole commented on #55
Yep, apply label filtering works, but it's an imperative approach in that the label filter isn't necessary captured in version control (unless you store a script obviously).

I'd like a clearer explanation of what problem @Raffo wants to address with blue/green deployment.  One can use different kustomization files to involve different sets of resources (that what overlays are).

[2018-06-07 21:39] Liujingfang1 commented on #65
I think the way `kustomize build` processing resources does respect ordering since internally it appends a resource to an array. The ordering is lost when the output is encoded into yaml.
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/resmap/resmap.go#L46
[code]
@monopole @mengqiy Do you remember why we added a sorting here?

[2018-06-08 15:34] mxey opened #67 "Variable reference support is incomplete"
The variable reference feature added in #52 does not support expanding in `args`, only `command`. Also it only considers Jobs and StatefulSets so far.

https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/refvars.go#L20

I considered sending a PR for adding `args` support because I tripped up on it, but I figured there should maybe be a more generic solution rather than listin

[2018-06-08 16:26] monopole opened #68 "Pin gocyclo score at 100%"
See score here:  https://goreportcard.com/report/github.com/kubernetes-sigs/kustomize#gocyclo

Lets get it up to 100%, then add a test to the pre-commit

that fails if it drops below 100%

[2018-06-08 16:29] monopole opened #69 "Pin golint score at 100%"
See score here:

https://goreportcard.com/report/github.com/kubernetes-sigs/kustomize#golint

Lets get it up to 100%, then add a test to the pre-commit

that fails if it drops below 100%

[2018-06-08 16:34] Liujingfang1 commented on #67
@mxey Variable reference support should work for container command and args by design. Thank you for reporting this issue. Feel free to send a PR. We also considered a more generic solution. Before it is available, we can keep using hard coded `pathConfigs`.

[2018-06-08 21:26] sethpollack opened #74 "support creating secrets from file contents"
For example:

[code]

[2018-06-10 03:07] uthark commented on #69
Hi! Please take a look.

[2018-06-10 14:11] sascha-coenen opened #79 "Make generated configmaps composable"
Using generated config maps (via configMapGenerator) seems to work only in simple base-overlay setups.
However, referencing a base that contains a generated config map fails in several scenarios:

given the following arrangement:
[code]

If I run "kustomize build dev/myapp/mycomponent" all is good.
Same for "kustomize build/dev/myapp/mycomponent2" - all good.
When I run "kustomize build "dev/myapp

[2018-06-10 18:11] #68 closed

[2018-06-10 18:12] monopole commented on #69
fixed by #77

[2018-06-10 18:12] #69 closed

[2018-06-11 03:34] monopole opened #85 "diff doesn't compare uncustomized resources to customized resources"
RawResourses purports to return uncustomized resources so they
can be diffed against customized resources.

However,
applicationImpl.RawResources
calls a.rawResources
calls a.subAppResources()
which does a for loop over the bases, calling subapp.SemiResources() for each base.
That function performs transformation.

So RawResources only skips transforming the resources in the topmost kustomization

[2018-06-11 03:40] monopole opened #86 "Improper use of os.Stat"
`os.Stat` is called directly in the bowels of the code, despite having a means to mock it, meaning it's impossible to inject a fakefs there.

[code]

Likewise, there's an `if` statement that ignores an error check on the result of os.Stat here:

if the error isn't ignored (and it should not be) then application_test fails (with secret generation).

I noticed this when investigating #85

So this is

[2018-06-11 13:24] yanc0 opened #87 "Secrets are not namespaced with base.namespace when generated with secretGenerator"
In order to reproduce this:

* Create a `kustomization.yaml` file in base directory with `namespace: foo`

[code]

* Create a `kustomization.yaml` file in overlay directory with secretGenerator

[code]

**Result:** generated secret is not namespaced in `foo-bar`

**Workaround**: set also namespace in overlayed `kustomization.yaml`

[2018-06-11 14:52] sethpollack commented on #87
I think that is intentional - the overlay overrides the base, so it wouldn't make sense for the settings in the base to apply to the overlay.

[2018-06-11 14:59] sethpollack commented on #87
Although I can see an argument for `namespace`, `namePrefix`,  `commonLabels`, and `commonAnnotations` to propagate up if not set in the overlay.

[2018-06-11 15:22] yanc0 commented on #87
Hi @sethpollack,

I understand that overlay take the precedence over base file. But if overlay does not reference any namespace field, the namespace is taken from the base (if set). No?

All patches loaded in my various overlays are getting the right namespace, only referenced in base/kustomization.yaml. As a user, I wonder why this is not de same for secretGenerator and configMapGenerator. Just m

[2018-06-11 15:33] AssafKatz3 opened #88 "Allow using kustomize as HELM plugin"
We have use case of a lot of production environment (we manage with HELM) and one development environment which requires overlay (open debug port for example) and strictly must not be used in production. Therefore I suggest to allow kustomize to be used as [HELM downloader plugin](https://github.com/kubernetes/helm/blob/master/docs/plugins.md#downloader-plugins) so it will be possible to pass the

[2018-06-11 15:36] sethpollack commented on #87
It is not just secretGenerator/configMapGenerator It is resources as well.

I don't think patches are getting the namespace - the resources added in `base/kustomization.yaml` are getting it and then the patches modify that.

[2018-06-11 16:58] monopole commented on #88
What prevents it?

[2018-06-11 16:59] yanc0 commented on #87
Yep, you're right. That make sense !

[2018-06-11 18:16] Liujingfang1 commented on #79
This is totally not intentional. We need to fix it.

[2018-06-11 18:28] Liujingfang1 opened #91 "Soft-coding transformable resource structs and paths"
In kustomize transformation, we rely on so called `pathConfig` to determine the proper transformation: adding nameprefix, namespace, name reference, hash, variable reference. Current `pathConfig` contains hard coded type and field path. Every time we want to support an extra type or field, we need to add them in the hard coded part. In addition, we found that some types/fields need to be skipped i

[2018-06-11 18:28] monopole commented on #85
after the refactor in #89, the call flow is

`MakeUncustomizedResMap`
calls `loadResMapFromBasesAndResources`
which calls `loadCustomizedBases`

so the problem, if one sees it that way, is more obvious.

When performing a _diff_ where the kustomization involves an overlay, in the so-called uncustomized half of the operation, the overlay won't be customized, but underlying bases will be.  So the di

[2018-06-11 18:38] Liujingfang1 opened #92 "Allow variable reference to work with container env"
In the WordPress example
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/wordpress/patch.yaml
[code]
The env `WORDPRESS_DB_HOST` is hard coded. We should support it by variable reference with this format.
[code]
where `DB_HOST` is defined in `kustomization.yaml`

[2018-06-11 22:04] #79 closed

[2018-06-11 23:15] monopole commented on #65
Sort added for some semblance of stability.  Without the sort of keys, the output order of resources would be essentially random.

We could modify the sort to put namespaces first.  To preserve general order as specified in the kustomization files, across all the mapping and merging, would require a more powerful approach, e.g. upon first read establish some kind of order index, and use that index

[2018-06-12 02:32] #33 closed

[2018-06-12 02:40] monopole commented on #33
FWIW, the link in the file would render properly if the file were called SECURITY_CONTACTS.md

[2018-06-12 05:46] AssafKatz3 commented on #88
@monopole The problems that you mentioned and the requirement to handle zip files

[2018-06-12 07:29] schweikert opened #97 "Add nameref for openshift routes?"
Hi,

I understand that this is likely going to be rejected, but I'll try anyway :) Something that is really needed to make the nameprefix mechanism work in a OpenShift context, is replacing the name of the target service in Route objects (apiVersion: route.openshift.io/v1). Would you maybe consider doing the nameref subtitution for that too?

A typical route definition looks as follows:

    apiVe

[2018-06-12 10:51] victorandree opened #98 "Reference to location of root kustomization.yaml"
Scripts executing in a secret generator have the working directory of the `kustomization.yaml` file that defined them. To create a re-usable secret generator, I would like to use a secret generator as a base with paths relative to the `kustomization.yaml` file I'm building. I would be useful if we had some variable or built-in environment variable referencing that file.

I realize it may be more "

[2018-06-12 17:33] monopole opened #100 "Use gometalinter in pre-commit to improve code quality"
Crib the configuration from

https://github.com/kubernetes-sigs/controller-runtime/blob/master/.travis.yml
https://github.com/kubernetes-sigs/controller-runtime/blob/master/test.sh#L114

jam some version of this into this repo's
[code]

[2018-06-12 17:37] monopole commented on #100
@uthark  ? :)

[2018-06-12 18:57] uthark commented on #100
@monopole Sure, I can help with it. I thought about integrating at least errcheck in addition to what we have now, but gometalinter looks more promising. Will do a PR.

[2018-06-12 21:24] bickfordb opened #103 "Improve secret generator error messages"
When secret generator commands fail, they currently print out the process status code and no other information (which secret/key failed, for example), making it difficult to debug the issue.

e.g.
[code]
Proposal: Add the secret name and secret key name to the error message.

[2018-06-12 21:48] monopole commented on #100
Please don't tackle it all at once :)

E.g., if you activate the line length check, fix that alone in one PR etc.

[2018-06-12 22:19] uthark commented on #100
Sure, will do several commits.

Regards,
Oleg.

[2018-06-13 02:03] jmdots opened #106 "Provide for omission of resources."
I'm new to kustomize, so let me know if this even makes sense.

Use case: I'm transforming an all-in-one YAML (`---` delimited).  This works well, except I want to skip one of the resources in the upstream YAML stream.

Something like this:

[code]

Where `svc.some-public-service.yaml` contains:

[code]

In the example scenario, kustomize should not include `svc/some-public-service` in the output

[2018-06-13 06:33] schweikert commented on #97
This would be solved also by #91 probably

[2018-06-13 14:34] uthark commented on #100
Current reported issues:

[code]

[2018-06-13 14:45] mxey opened #107 "Support wildcards in resources list"
The list of `resources` in `kustomization.yaml` should support wildcards

[2018-06-13 17:13] Liujingfang1 commented on #106
Here is my understanding. By `omissionPatches`, you want kustomize to delete certain resources declared in the base.
This is a good feature to have.

As a workaround, you can remove the declaration for `some-public-service` from the all-in-one YAML.

[2018-06-13 17:48] Liujingfang1 commented on #97
@schweikert Adding name prefix should work for Route kind since kustomize doesn't really check the kind name for prefixing part.

[2018-06-13 19:02] schweikert commented on #97
The problem is spec.to.name, which is the name of a service that gets renamed by kustomize

[2018-06-13 19:51] Liujingfang1 commented on #97
#105 can solve the problem.
The intended workflow is like this:
You add an annotation to the type.go of `Route` in the filed `spec.to`
[code]
Get the open API definition of it and save it to a file `route.json`.

Then in `kustomization.yaml`, add a filed as
`crds:
- route.json
`

Then `kustomize build` will update the filed `spec.to.name` as the service referred is renamed.

[2018-06-13 20:04] Liujingfang1 commented on #106
I'd also like to you how you get the all-in-one YAML. You can split it and group the resources into different files.
Then create kustomization based on the new files.

[2018-06-13 20:06] Liujingfang1 commented on #97
#42

[2018-06-13 20:39] bickfordb opened #109 "Easy way to update the container image name"
In order to reduce copy and paste in large applications, it would be nice to be able to patch multiple resources with one patch via some kind of selector other than name.  For instance, in my  Kubernetes application, I have separate web and job pods that share the same Docker image, most of the same pod values which I need to copy and paste into each.  If one could write a patch that matched on a

[2018-06-13 20:53] Liujingfang1 commented on #98
@victorandree Setting an environment variable should work for you.
In the secretGenerator, you can change the commands $PGPASS. For example
[code]
Then `PGPASS="aaaaaaaa"; kustomize build .`
and `PGPASS="bbbbbbbb"; kustomize build .`
will give you different secrets.

[2018-06-13 21:51] #67 closed

[2018-06-13 22:50] Liujingfang1 commented on #100
@uthark Thank you for working on it.
Based on @monopole's description, let's use the same configuration as controller-runtime uses. https://github.com/kubernetes-sigs/controller-runtime/blob/master/test.sh#L114
We don't need to do it all at once. You can fix a group of failures and enable the corresponding flags in one PR. Go through all the error in different rounds.

[2018-06-13 22:51] #87 closed

[2018-06-14 06:01] tkellen commented on #65
If you're going to special case namespaces, maybe it would make more sense to leave the sorting as-is and have usage of the `namespace` key (from #54) automatically generate the namespace as the first resource in the output of `kustomize build`?

PS: Hello! I am a new user of kustomize and I'd just like to say that I am *so thankful* this project is being created. Every template-based solution I'v

[2018-06-14 07:04] schweikert commented on #50
It seems to me that while having the hash suffix is often a good thing and something that you want,  you might have situations where you don't want that feature. Maybe it could be made optional in some way, maybe with an annotation or something like that.

[2018-06-14 07:06] schweikert commented on #42
Could you make the docs document public?

[2018-06-14 07:07] schweikert commented on #97
Awesome, thanks! Looking forward to trying it out.

[2018-06-14 20:19] Liujingfang1 commented on #15
This is supported. When the service name is updated, `serviceName` is automatically updated. No need to use variable substitution.

[2018-06-14 20:19] #15 closed

[2018-06-14 20:50] #98 closed

[2018-06-14 20:59] mikeleonard opened #112 "Request to isolate core yaml-altering code from kubernetes-specific code"
Hi. Quick fly-by idea for you while the project is early on:

Could you aim to/continue to separate the yaml-altering code from the kubernetes-specific code? ie either as a separate repo or, failing that, as a separate go-gettable library.

### Why?

I've been thinking about infrastructure-as-code recently and really like this project's approach. It's possible that the OSS community might find oth

[2018-06-14 21:01] uthark commented on #100
deadcode reports

[code]

Should I remove the code or add it to a list of the commands in `pkg/commands/commands.go`?

[2018-06-14 21:02] Liujingfang1 commented on #12
Having another command `edit add resource` would be good. It adds resource file to the `kustomization.yaml`. This command can just append extra files to the `resources` list in `kustomization.yaml`, no need to check the type of resources.
In `kustomization.yaml`, we have an optional filed as `configMapGenerators`. They are intended to generate configMap resources, but they are not from configMap r

[2018-06-14 21:03] uthark commented on #100
Remaining linters to enable are: gocycle, golint, gas, deadcode, errcheck, unparam.

I can submit them as separate PRs (they will be bigger than previuous). Other are enabled, issues are fixed, made separate commits in PR.

[2018-06-14 21:08] Liujingfang1 commented on #100
You can remove it. We added `init` command originally. Then we found it didn't help a lot.

[2018-06-14 21:22] uthark commented on #100
@monopole do you want me to split commits into different PRs? see attached PR.

[2018-06-14 22:36] bickfordb commented on #109
Maybe this could mostly be accomplished by allowing the name field to be a regular expression?

[2018-06-14 22:37] Liujingfang1 commented on #100
@uthark I took a look at the PR, the size is good. We don't need to split it into different PR.

[2018-06-14 22:44] uthark commented on #100
There are additional linters to be enabled, those linters will require fixes in code. With those  fixesPR will be even bigger, the question is if you ok with that, or additional lonters will be in additional PRs

[2018-06-14 23:02] Liujingfang1 commented on #100
Both process work for me. I would suggest to do it incrementally. You can enable additional linters and fix the errors in new PRs.

[2018-06-14 23:08] uthark commented on #100
@Liujingfang1 Then you can merge current PR, I'll open additional.

[2018-06-14 23:56] uthark commented on #100
@monopole @Liujingfang1 I've enabled unparam linter. I've fixed almost all of the issue except of one:

[code]

I'm not sure what is the proper way to fix — remove the param altogether?

You can check the commit in my fork at https://github.com/uthark/kustomize/commit/66db81a287b44632e087f39fb93b9a256307cb7b

[2018-06-15 00:09] Liujingfang1 commented on #100
@uthark You can try to modify `kustomizationfile_test.go`. Instead of using constant `KustomizationFileName`, try to use some random name.

[2018-06-15 00:37] guineveresaenger commented on #12
@Liujingfang1 actually if you could possibly explain the steps on how to build the binary locally?
Running `go build kustomize.go` on master gives me the following error when I try executing the binary:
[code]

[2018-06-15 01:21] uthark commented on #100
@Liujingfang1

1. `unparam` skips tests
1. There is already a call of `newKustomizationFile` with another param in tests.

There are two options:
1. Disable lint for this declaration
1. Enable `--tests` option which will run lints on tests too.

I've went with a second option, see new PR.

[2018-06-15 06:31] schweikert opened #114 "Improve error message on YAML format errors"
Currently if you have a syntax error in one of the yaml files, you get an error like (kustomize 1.0.2):

    $ kustomize build deploy/prod
    Error: NewResourceSliceFromPatches: error converting YAML to JSON: yaml: line 3: mapping values are not allowed in this context

    Usage:
      kustomize build [path] [flags]

    Examples:
    Use the file somedir/kustomization.yaml to generate a set of

[2018-06-15 18:20] #92 closed

[2018-06-15 18:48] sethpollack commented on #74
or something like this
[code]

[2018-06-15 18:50] anurag opened #116 "Cron jobs aren't supported"
kustomize creates an invalid `metadata` block in the CronJob Job spec and `kubectl` correctly complains about an invalid spec.

Steps to reproduce:
1. Unzip [cronjobs.zip](https://github.com/kubernetes-sigs/kustomize/files/2107176/cronjobs.zip) to create the directory structure below:
[code]

2. Under `cronjobs`, run `kustomize build overlays/dev | kubectl apply --dry-run -f -`.

Output:
[code]

[2018-06-15 21:00] guineveresaenger commented on #12
update: figured it out, `kustomize.go` builds from an absolute path...

[2018-06-15 22:32] Liujingfang1 commented on #12
@guineveresaenger You can use `go build -o /some/output/directory/kustomize`. Then the binary will be available under `some/output/directory`.

[2018-06-15 22:38] captncraig commented on #51
I would also like to know the solution to this problem. It seems like a fairly common problem most people will have when upgrading a deployment.

[2018-06-18 13:31] shanna opened #117 "Improve error messages on Go errors."
It's a lot of work but it would be helpful if errors had some notion of the YAML file that caused the error so you don't have to dig through the source code. For example today I saw
[code]
When you look at the source it could be one of two errors and there is no context provided so I couldn't have guessed (other than a diff of the configuration changes).

https://github.com/kubernetes-sigs/kustomi

[2018-06-18 16:30] Liujingfang1 commented on #117
related to #114

[2018-06-18 16:45] traherom opened #118 "Jobs should not add spec.selector"
Kustomize adds `spec.selector` to Job definitions, which normally [you don't want to do](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#specifying-your-own-pod-selector).

[code]

Results in
[code]

Applying it results in:
[code]

Commenting out the `spec.selector` portion allows the Job to be correctly applied.

Is there a reason Kustomize *should* add matchLabe

[2018-06-18 16:51] traherom commented on #118
An alternative fix may be to set `CreateIfNotPresent` to `false`. That may be more the behavior people would expect.

[2018-06-18 17:54] Liujingfang1 commented on #116
related to #118

[2018-06-18 19:46] ahmetb opened #119 "globbing/wildcards in "resources" field"
It looks like if I have tens of YAML files in a directory, my kustomization.yaml will exhaustively list them like this:

[code]

It feels like a bit inconvenience. Is it possible to use globs (i.e. `**.yaml`) for this field? (Skaffold does support this and it's helpful.)

I think if I use kustomize and add new YAML files, aside from `kubectl apply -R -f .dir` working out of the box, I now have to

[2018-06-18 20:51] Liujingfang1 commented on #118
@traherom This is an issue. Thank you for digging into the code, I think change `CreateIfNotPresent` to `false` would work. Can you submit a PR for this?

[2018-06-18 20:58] #100 closed

[2018-06-18 21:03] traherom commented on #118
Yep, I'll submit one in the next day or two.

[2018-06-18 22:37] tkellen commented on #119
As a recent first time user I was reaching for this immediately as well.

[2018-06-19 00:13] Liujingfang1 opened #122 "Add extensible transformation"
This is to make kustomize libraries more flexible and extensible. Consider a kustomization, if an extra transformation is allowed, then user can specify their own transformations, such as replacing certain field to other strings, filling an docker image name.

[2018-06-19 04:39] uthark commented on #86
Hi! I'd like to work on the issue.

[2018-06-19 11:58] mxey commented on #119
This is a duplicate of #107

[2018-06-19 17:48] ahmetb commented on #119
I can closr in favor of #107 although this has a bit more rationale/explanation.

[2018-06-19 18:18] Liujingfang1 commented on #119
Let's keep this one.

[2018-06-19 18:19] Liujingfang1 commented on #107
duplicate with #119

[2018-06-19 18:19] #107 closed

[2018-06-19 19:05] #42 closed

[2018-06-19 19:08] Liujingfang1 commented on #97
#42 merged. Here is an example showing how it works https://github.com/kubernetes-sigs/kustomize/tree/master/pkg/commands/testdata/testcase-crds/crd
Let me know if you need any help on this.

[2018-06-19 21:11] gaigepr opened #124 "More descriptive errors like a compiler"
It would be nice if kustomize could print more context when it occurs an error. Errors like the one below are not helpful.

[code]

[2018-06-19 21:22] #118 closed

[2018-06-19 21:55] Liujingfang1 commented on #65
Usually the resources contain a `Namespace` object, kustomize doesn't create it again.
I will put the namespaces first, then other objects.

[2018-06-19 22:02] Liujingfang1 commented on #124
@gaigepr Can you also paste your YAML files?

[2018-06-19 22:05] Liujingfang1 commented on #86
@uthark sounds good and thank you. Let me know if you need any help.

[2018-06-19 22:32] Liujingfang1 commented on #119
kustomize uses a `Loader` interface to load the resource content. The loader interface can support both file system loader and remote link loader(#32)
Current interface doesn't support wildcards. We can add it for only file system loader.
Here is a possible approach, in `Load` function at https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/loader/fileloader.go#L75,
determine if the path h

[2018-06-19 22:41] Liujingfang1 commented on #117
duplicate with #124, we will address this issue there.

[2018-06-19 22:41] #117 closed

[2018-06-19 22:52] Liujingfang1 commented on #109
The idea in #122 can help this. If kustomize provides to way to declare a user defined transformation and use that, this transformation can will be applied during `kustomize build`. To patch multiple objects with one patch, you only need to provide a proper transformer.

[2018-06-19 23:10] #65 closed

[2018-06-20 13:59] sethpollack opened #126 "add genericGenerator"
for example:

[code]

[2018-06-20 14:03] sethpollack commented on #38
another example of needing to use the same base multiple times would be #126 if I wanted to create multiple cronjobs I would get the same error

[code]

[2018-06-20 16:47] Liujingfang1 commented on #126
@sethpollack Can you add some explanation of meaning of each field? I also opened  #122 for supporting extensible transformation. It seems to have some overlap with the motivation of `genericGenerator` you proposed.

[2018-06-20 17:14] sethpollack commented on #126
Sure! This would be a transformation where you can take a base resource `resourcePath` and modify its fields by passing  `fieldPathArgs` with the `path` to the field and the replacement `value`.

A good example would be cronjobs where I may want to create a bunch of them from the same base - just with different names, commands, and schedules.

The transformation would just loop through the provide

[2018-06-20 17:48] Liujingfang1 commented on #126
Is `resourcePath` a file path to a resource file in the base folder? Usually the overlays are not supposed to know the exact files or structs of the base.

[2018-06-20 18:37] sethpollack commented on #126
yes

[2018-06-20 18:41] Liujingfang1 commented on #38
@sethpollack I propose a different approach instead of using the same base with multiple overlays. We can have some notion to let kustomize know that it deals with multiple kustomizations instead of only one. Then for each of them, process it as usual. Then we avoid this problem.
The format is like this
[code]

[2018-06-20 18:45] sethpollack commented on #38
That would work.

[2018-06-20 18:54] Liujingfang1 commented on #126
This feature looks promising to me. I am also thinking about some other use cases that it might support. Say I want to replace a container image name no matter it is in a deployment object or in a pod. How could I define the resource and field path so that it can work?

Can you write a brief design doc about this genericGenerator(maybe some other name genericTransformer)? Let have others' opinion

[2018-06-20 19:43] sethpollack commented on #126
I think the `genericGenerator` solves a different problem than the `genericTransformer`.

For example If I have 25 cronjob variations I would need 25 subdirectories with a kustomization and a patch file in each and then do something like your suggestion in #38 to generate them all from the same base resource:

[code]

The idea for the `genericGenerator` would be to use 25 `genericGenerator`'s in t

[2018-06-20 20:14] Liujingfang1 commented on #126
Regardless of the different formats, my understanding based on your examples is that `genericGenerator` is used to generate new object, while `genericTransformer` doesn't generate new object, it only updates existing ones.

[2018-06-20 20:17] sethpollack commented on #126
correct.

[2018-06-20 20:17] sethpollack commented on #126
I can work on a PR for the genericTransformer - once Im done working on the secrets PR.

[2018-06-20 20:20] Liujingfang1 commented on #126
No rush on that. I need to think more thoroughly on genericTransformer so that it can serve different usage.

[2018-06-20 20:44] Liujingfang1 commented on #36
kustomize doesn't provide this kind of defaults. The names like `base`, `overlays`, `overlay1` can be other random names. I don't think adding such defaults can help a lot.

[2018-06-20 21:09] sethpollack commented on #126
Ok

[2018-06-20 21:29] droot commented on #126
@sethpollack

What is your major concern about the above (current way of doing it) ?

[2018-06-20 21:30] droot commented on #38
@sethpollack would like to hear your feedback about SOLUTION1 that @Liujingfang1 suggested above.

[2018-06-20 21:44] #36 closed

[2018-06-20 21:46] #97 closed

[2018-06-20 22:28] bickfordb opened #128 "Pull secret names don't appear to be templated correctly with the target secret name"
1. Create a Deployment with an `imagePullSecret` like `foo`:

[code]

2. Create an imagePullSecret in your kustomization.yaml named `foo`:

[code]
Expected behavior:

`kustomize build` outputs a Deployment manifest like

[code]
Instead of like:

[code]

[2018-06-21 03:32] sethpollack commented on #38
@droot The goal for me would be to have a single kustomization file that represents my entire cluster.

Also there are other areas where the second solution will help out such as reusing the same base resource multiple times with different patches.

For example if I want several cronjobs with different names, schedules, and commands - with the current setup I would not be able to use patches and w

[2018-06-21 03:40] sethpollack commented on #126
@droot I don't think there is a current way - other than duplicating the entire cronjob for each variant of it.

Also I don't think that patches would work anyway since you cant change the name with a patch.

[2018-06-21 07:11] mxey opened #131 "Name reference vars do not take configmap suffix into account"
When using the vars feature, it will respect the global name prefix, but not the configmap hash suffix.

kustomization.yaml:
[code]

manifest.yaml:
[code]

Output of kustomize build:
[code]

As you can see, the argument comes out as `--configmap=test-nginx-configuration` when it should be `test-nginx-configuration-54b84dcft6`. This also means the example in https://github.com/kubernetes-sigs/kusto

[2018-06-21 23:04] gaigepr commented on #124
I do not have the files that presented this error but I can tell you that it was caused by bad indentation such that the `containers` object was misaligned inside a `deployment.spec`.

More generally, I think it would be nice if anytime kustomize encountered an error, it could print some sort of stack trace or more descriptive error to help the developer know where the issue is.

[2018-06-21 23:46] guineveresaenger commented on #13
@monopole @Liujingfang1 - this is asking for entries to be added to the `commonAnnotations` and `commonLabels` entries in kustomization.yaml, yes?

I'm assuming we would like the ability to add more than one label or annotation at the same time.

Let me know if there's more details to consider!

[2018-06-21 23:50] guineveresaenger commented on #13
Random question: is it possible to add labels that are specific to each resource referenced in `kustomization.yaml` (i.e. are not "common")? Or is that currently only possible by including labels in resource patches?

[2018-06-21 23:54] #12 closed

[2018-06-22 17:22] #128 closed

[2018-06-22 17:32] Liujingfang1 commented on #131
This bug should be related to the order of different transformations.
The hash suffix for configmap is added in the final transformation. We need to apply the variable reference transformer after it.

[2018-06-25 04:45] Liujingfang1 opened #135 "create an example for CRD support in kustomize"

[2018-06-25 06:50] gaigepr opened #136 "namespace set in an overlay’s kustomization.yaml does not override the namespace for the subjects of a cluster role binding"
I have the following cluster role binding in my `base/worker/crb.yaml`
[code]
I have the following kustomization.yaml in an overlay called test
[code]

The issue is, when I run `kustomize build test` I do not get a cluster role binding with an augmented namespace despite it being in the list of bases. My current solution is to lock each overlay to a namespace. One might also separate cluster roles

[2018-06-25 23:59] guineveresaenger opened #139 "Reference documentation should be in same file format"
Currently, the docs folder contains the following files:
[code]

To a cursory glance, it is not obvious that `kustomization.yaml` contains reference documentation, since the other reference docs are in .md file format. Additionally, the term `kustomization.yaml` has special meaning in the context of `kustomize`. To disambiguate and for easier reference, `/docs/kustomization.yaml` should be rewritt

[2018-06-26 03:54] gaigepr commented on #136
Closing this issue with a suggested work around.

Use the fact that you can pipe together calls to kustomize:
[code]

[2018-06-26 16:34] mxey opened #141 "Resources with same name in different namespaces conflict"
While trying to model all my cluster infrastructure resources, I ran into #38. As a workaround, I wrote the output of several kustomizations into YAML files and used them as resources in another kustomization. That did not work either, because the resource names are still duplicates, although they are in different namespaces.

Minimal reproduction for that:

kustomization.yaml:
[code]

service_a.y

[2018-06-26 17:53] Liujingfang1 commented on #136
@sethpollack Can you take a look at this issue? In current kustomize codebase, `ClusterRoleBining` and `ClusterRole` are skipped in namespace transformer.

[2018-06-26 18:01] sethpollack commented on #136
Yes, because they are cluster level objects and dont get a namespace.

[2018-06-26 18:04] gaigepr commented on #136
Yes but the subjects of a cluster role binding requires a namespace field.

[2018-06-26 18:15] sethpollack commented on #136
Yes, but I'm not sure that it is a given that they should be set to the namespace from the kustomization file. If it was, then it would probably make more sense as a Role/RoleBinding.

@Liujingfang1 thoughts?

[2018-06-26 18:58] gaigepr commented on #136
That's a good point.
Maybe sharing my use case will help. I have a service that is responsible for creating namespaces for each user of the service. The user-specific namespace have resource limits etc.

For a service in namespace default to be able to create other namepsaces requires a cluster role binding (unless I'm just been horribly wrong about this the whole time).

[2018-06-26 20:38] Liujingfang1 commented on #136
@gaigepr I'm not quite familiar with RBAC, trying to understand your usage. Is the `kustomization.yaml` for the service you mentioned? What do you intend to do by
[code]
If you want to limit it one namespace, you can use `RoleBinding` instead of `ClusterRoleBinding`. In `RoleBinding`, you can also refer a `ClusterRole`.

At the same time, can you also take a look at kubernetes [RBAC doc](https://k

[2018-06-26 21:35] Liujingfang1 commented on #141
In kustomize, objects are identified by `Group, Version, Kind, Name`. Can you change the two service to different names?

[2018-06-26 22:32] gaigepr commented on #136
I have confirmed that for a service account to be able to conduct crud operations on namespaces, a cluster role binding must bind a cluster role to that service account with the relevant permission on namespaces.

From the docs:

Since my use case requires the service account to have access to resources in many namespaces, a cluster role and cluster role binding are required.

[2018-06-26 22:34] gaigepr commented on #136
The root of my problem is, for each overlay that has cluster role bindings, I must set the namespace in the kustomization.yaml file AND in each of the cluster role bindings. This isn't unusable but I wonder if somehow this can be made better.

[2018-06-27 07:58] mxey commented on #141
@Liujingfang1 I can work around it, but should it be like that?

[2018-06-27 11:28] itsnagaraj commented on #109
I love this idea/feature as well. I work on mono-repo project where we manage kubernetes spec for 30 microservice. We have templated everything in spec so that adding new service is a breeze. Templating logic is so complicated we have decided to move away from that approach and start evaluating tools like Kompose. Kompose doesn't fit for the project structure as the selector for deployment works b

[2018-06-27 19:51] Liujingfang1 opened #142 "create examples/docs for using kustomize library functions"
some examples to show how to use kustomize as library. Examples are like applying a patch, applying a name reference substitution

[2018-06-28 13:11] yanc0 opened #143 "hostAliases are not correctly patched"
Hi, here my setup:

**base/deployment.yml:**

[code]

**overlays/qa/patch-memcached.yaml**

[code]

**kustomize build**:

[code]

Overlay is added to the array but I expected `10.5.200.200` to replace `10.2.200.200`. IP is not the key to look after, IMHO, this is the combination of all hostnames because they probably don't change between environments.

Thanks ;)

[2018-06-28 21:15] simonwahlgren commented on #141
I have the same issue. This is a deal breaker for us unfortunately.

[2018-06-28 21:17] Liujingfang1 commented on #141
@mxey @simonwahlgren Can you restructure the layout of the configuration? Put different namespaces into different kustomizations.

[2018-06-28 21:56] r2d4 opened #144 "Version kustomization.yaml files"
I'm hoping to do some parsing of the kustomization.yaml files and it would be helpful if the config was versioned. Maybe kubernetes style?

[2018-06-28 22:05] Liujingfang1 commented on #144
@r2d4 I took a look at your PR, you want to add the support of custom path instead of using current directory. In skaffold.yaml, you can add a field for this custom path. `kustomize` is able to build a given direcory as `kustomize build <path>`.

[2018-06-28 22:12] r2d4 commented on #144
Hi @Liujingfang1, the reference is not necessarily for the PR, but for the comment in the code.

To get the file dependencies of the kustomization.yaml file, we could need to unmarshal the YAML and parse it. To ensure that parsing doesn't break, we should parse it according to some well known version, e.g. `kustomize/v1alpha2`

[2018-06-28 22:22] Liujingfang1 commented on #144
@r2d4 `kustomization.yaml` doesn't have version since it is not a kubernetes type. I don't think adding a version for it makes sense.

[2018-06-28 22:45] r2d4 commented on #144
If there are breaking changes to the kustomization.yaml, how downstream tooling that reads or generates kustomize files know?

[2018-06-29 07:37] mxey commented on #141
@Liujingfang1 yes, that works for me in this case.

[2018-07-02 00:36] nhoughto commented on #109
Does seem to make sense to be able to target resources with something other than name, label perhaps.

The README relates kustomize to sed `it's like sed, in that it emits editted text.`, which is a great comparison, and is how i want it to work, but unless i'm missing something I can't use arbitrary values to target things for overlays? Name, label, or even just type would be great. I'd like to b

[2018-07-02 18:21] jlegrone commented on #136
I've got a similar use case (deploying a CRD controller that will own resources in multiple namespaces).
 Granted, this could be simplified by requiring the user to install my controller into a hardcoded namespace.

My attempt at a workaround was to define a variable:

[code]

[code]

Unfortunately, it seems that this variable does not get interpolated because `NewRefVarTransformer` doesn't includ

[2018-07-03 02:04] ryane opened #148 "latest release (1.0.3) reports unknown version information"
[code]

To contrast, here is the version output from 1.0.2:

[code]

I did not test with the release binaries for other platforms.

[2018-07-03 13:59] ryane opened #149 "kustomize doesn't transform claimName for PersistentVolumeClaims"
If I have a pod spec that defines a volume from a PersistentVolumeClaim, kustomize will not transform the name when a `namePrefix` is set. Here is an example.

test.yaml:

[code]

kustomization.yaml:

[code]

You can see the name of the PersistentVolumeClaim is prefixed with "my-":

[code]

However, the `claimName` in the deployment does not reference the prefixed name:

[code]

If you try to appl

[2018-07-04 02:41] geekflyer commented on #55
Hi @monopole and co., I also would like to request support to writing the kustomize output to files instead of only stdout. The reason I'd like this is for debugging the output to verify if a particular resource was correctly "kustomized". Imagine I have 10 resources (in my current use case it's already 9) managed by the same kustomization. In this case I'd like to write all the kustomized resourc

[2018-07-05 10:59] lenlen opened #152 "Multiple variants to deploy"
I'm using kustomize to deploy my apps with kubernetes. I'd like to explain my user case that doesn't seem to fit in kustomize specifications.
I have two kinds of configuration for my app dev and production, so I've implemented the overlay with two sub folder and a common base.
Furthermore I have N numbers of experiments, N means that the number could be very high and every experiment is only a sli

[2018-07-05 12:43] dguggi commented on #131
I have the same problem with secrets, e.g.

kustomization.yaml:

[code]

taefik-ui-ingress.yaml:

[code]

output:
[code]

[2018-07-05 21:36] guineveresaenger commented on #13
/assign

[2018-07-06 21:31] george-angel opened #153 "Projected configmap not interpreted"
My base configuration contains:

[code]

kustomization.yaml:

[code]

`kustomize build` produces:

[code]

And so my deployment fails:

[code]

[code]

[2018-07-07 02:59] robbyt commented on #153
I have the same issue, but I'm not even using the `configMapGenerator`.  Hashes are not being appended onto the configMap names under the projected configMap volume.

[code]

[2018-07-07 05:30] robbyt commented on #153
I'd like to send a PR for this, but I can't figure out how to add a matching test for it. Anyhow, here is the fix for this:

[code]

[2018-07-08 14:44] pwhittlesea commented on #50
So I'm currently looking into this on my fork. My current solution is to add a renaming 'behavior' to the generated configmaps and generated secrets:

[code]

This approach works for config-maps and secrets that have been created using the generators but does not disable the renaming of ConfigMaps and Secrets defined via K8S Yaml.

I am thinking that a global flag to change the default renaming be

[2018-07-08 23:09] robbyt opened #155 "Kustomize build unable to find objects for hash transformation in annotations"
Semi-related to #153 - we use Traefik as an ingress controller, and one of it's features is to enable basic auth for an ingress rule.

An example of using this is below. The `auth-secret` (which becomes the password) must be a secret object in the same namespace. However, when using this with Kustomize, the hashed name of the secret is not interpolated, because Kustomize obviously doesn't know abo

[2018-07-09 19:04] Liujingfang1 commented on #86
@uthark I'll review it today

[2018-07-09 20:50] Liujingfang1 commented on #136
The fix is to improve the namespace transformers. Currently `ClusterRoleBinding` is skipped. We need to add the path config `subjects.namespace` for `ClusterRoleBinding`.

[2018-07-09 20:51] #149 closed

[2018-07-09 21:57] pwhittlesea commented on #50
@Liujingfang1 I agree that a global flag inside the kustomize file would be preferable. Are you thinking something at the same level as the `namePrefix` option?

I would also like to put forward my reason for needing this feature:
I do use the rolling update for most of my configmaps, however my company provides our platform to customers with the ability for them to configure certain parts of the

[2018-07-09 23:19] Liujingfang1 commented on #152
@lenlen You can create 2N variants by scripts with the main steps as
[code]

[2018-07-09 23:28] Liujingfang1 commented on #153
@robbyt The change looks good to me. You can add tests similar to these ones https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/namereference_test.go

[2018-07-09 23:29] bhack commented on #152
@Liujingfang1 it could be hard to do in this way when you are using kustomize trough Google Skaffold. What do you think?

[2018-07-09 23:31] Liujingfang1 commented on #152
@bhack Do you have a Skaffold issue? Or can you explain more how you want to use it through Skaffold?

[2018-07-10 08:28] mxey commented on #50
No, the secret is used by various application deployments from different repositories.

[2018-07-10 08:55] mxey opened #157 "Allow excluding some label selectors from commonLabels"
I thought about this while implementing https://github.com/kubernetes-sigs/kustomize/pull/140. Sometimes you will have label selectors that you don't want Kustomize to make more specific by adding the commonLabels.

The example use case for me is NetworkPolicy. I want to allow access to my application pods from my ingress controllers, but the ingress controllers are deployed separately, since they

[2018-07-10 21:42] Liujingfang1 commented on #50
@mxey @pwhittlesea Which way do you use more often for configmaps, from a configmap.YAML or from a `configmapGenerator`? What if we don't append the hash for a configmap read from a YAML file?

[2018-07-10 22:04] Liujingfang1 commented on #157
In #140, you added the path `spec.ingress.from.podSelector.matchLabels`. What if you remove this path in your PR?

[2018-07-10 22:14] pwhittlesea commented on #50
@Liujingfang1 That would work for me. Maybe a flag in the kustomize file defaulting to the current behaviour? This would effectively allow my team to treat config maps and secrets defined in YAML as 'constant' vs the managed ones in the generator sections that provide rolling update support.

[2018-07-10 22:31] Liujingfang1 commented on #143
Kustomize uses stategic merge patch. Maybe this is a problem in strategicpatch. What do you think @mengqiy?

[2018-07-10 22:34] Liujingfang1 commented on #141
This issue can be avoided by different layout of the configuration. More thoughts, please refer #126

[2018-07-10 22:34] #141 closed

[2018-07-10 22:36] Liujingfang1 commented on #124
should have been fixed by #117

[2018-07-10 22:43] Liujingfang1 commented on #109
Regardless of the patches or transformation. The original request is to ask an easy way to update the container image name wherever it is used.

[2018-07-10 22:49] Liujingfang1 commented on #155
@robbyt We already have that feature request as #23

[2018-07-11 08:37] mxey commented on #157
@Liujingfang1 I think it's more consistent if Kustomize treats all selectors the same and lets you configure exclusions. Regarding NetworkPolicy, I might have one that refers to pods in the same kustomization, like several components of an application working together, or I might have selectors that refer to pods outside. Kustomize cannot know which one I mean but it would be good to support both

[2018-07-11 08:47] mxey commented on #50
@Liujingfang1 that would work for me as well.

[2018-07-11 09:10] lenlen commented on #152
Thanks @Liujingfang1. I use kustomize with skaffold, for this reason I'm thinking about an environment variable. With skaffold it is only possible pass the path of kustomize yaml and is not possible use a loop. See the snippet below

[code]

[2018-07-11 10:33] george-angel commented on #153
Thanks both, I opened a PR: https://github.com/kubernetes-sigs/kustomize/pull/158

[2018-07-11 15:32] mxey commented on #157
I just realized that in the context of NetworkPolicy at least, I can use matchExpressions instead of matchLabels. I'm not sure if that's the way to go in general.

[2018-07-11 20:14] Liujingfang1 commented on #50
This is the PR #159 for only adding hash for configmap/secretes created from generators

[2018-07-11 23:03] Liujingfang1 opened #161 "Add container reference in kustomization.yaml"
Add an extra fields in `kustomization.yaml` file and implement a new transformer.
The new field format looks like this
[code]
The transformer will scan all resources, look at the resource object's spec session. For every container inside spec, check if the container name is in `kustomization.yaml` container reference and substitute the tag.

[2018-07-11 23:18] Liujingfang1 commented on #109
@bickfordb What pod values you need to update? Can you give an example?

[2018-07-12 01:06] coryodaniel opened #162 "Not an issue: Thanks"
I just wanted to say thanks for an awesome tool. I just replaced a god awful lot of awk/sed scripts with this in less than an hour. 💯🙇

[2018-07-12 08:36] bhack commented on #152
/cc @r2d4 What do you think of this use case?

[2018-07-12 17:16] mengqiy commented on #143
@yanc0
Currently the IP is the merge key for `hostAliases`, see: https://github.com/kubernetes/kubernetes/blob/3a3d6564b6ef5810988abb26782bc571b6bec31f/staging/src/k8s.io/api/core/v1/types.go#L2835-L2840
The merge key is used to identify an entry in a list. IOW it's immutable.
To "change" it, you need to go through delete and recreate.
The workaround is:
[code]

[2018-07-12 18:01] pwittrock commented on #109
I think there are 2 issues here:

- Write patches that can match label / names
- Support a simple way to update images without a patch

[2018-07-12 21:04] easeway opened #163 "request nameSuffix to add suffix to resource names"
Similar to namePrefix, but adding suffix to resource names helps unlocking a use case I'm currently facing:

My automated build pipeline will generate a Kubernetes manifest file containing resources, and I want the names of these resources to have a suffix which is generated from build number, because I need side-by-side deployment of old and new versions and give customer a smooth upgrade/rollbac

[2018-07-13 05:10] paultiplady opened #164 "Building a Gitlab Review-app flow with Kustomize"
I currently use Gitlab's [review apps](https://docs.gitlab.com/ee/ci/review_apps/) extensively, and I have a mix of Helm and Python for deploying apps. I have done a bit of digging and haven't quite found a clean/documented way of doing this sort of flow with Kustomize, so I thought I'd open an issue to get a discussion going.

The key aspect of the review app flow is that every MR (aka PR in Gith

[2018-07-13 12:21] doi-t opened #165 "configMapGenerator can or should not have double quotation for its values"
Relates #160.

I'm trying [helloWorld](https://github.com/kubernetes-sigs/kustomize/tree/master/examples/helloWorld) demo and I realized that launched pods keep getting the following error after I run the command `kustomize build $OVERLAYS/production | kubectl apply -f -` given by the [README.md](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/helloWorld/README.md).

[code]

This

[2018-07-13 16:15] #131 closed

[2018-07-13 16:21] mxey commented on #164
The workflow at my job is to put the review apps into the same namespace as the development environment, especially since the deploy job do not have the permission to create more namespaces.

The relevant features are:

* set labels dynamically: https://github.com/kubernetes-sigs/kustomize/pull/147
* `kustomize edit set nameprefix`

What you'd need is `kustomize edit set namespace`. Kustomize can

[2018-07-13 16:48] paultiplady commented on #164
Having dug a little more, I think there's two different categories of changes here --

1. metadata changes, like namespace or name prefixes, which would be applied to every resource that kustomize is creating. These are for scoping/tagging.
2. one-off changes, like setting image-tag=$GIT-SHA. I suspect that everyone doing a review-app flow will need a way of making this specific change, but not su

[2018-07-13 16:49] mxey commented on #164
I use Skaffold to build the image and deploy, it sets the image version accordingly and deploys through Kustomize+Kubectl

[2018-07-13 16:50] mxey commented on #164
Since you are not committing those one-off changes, you could just use `kubectl patch --local` on your resource files

[2018-07-13 17:48] paultiplady commented on #164
I just started looking at Skaffold, that might be the piece that's missing. Wasn't aware of `--local` for `kubectl patch`, that also sounds useful. Thanks!

If I get this up and running I'll look at submitting an example to tie this all together.

[2018-07-13 18:11] regner commented on #155
I am also running into this but with the nginx ingress which uses `nginx.ingress.kubernetes.io/auth-secret` for the annotation.

[2018-07-13 18:16] regner commented on #155
@Liujingfang1 how does #23 help with this?

[2018-07-13 18:55] Liujingfang1 commented on #155
@regner  #23 solves a more generic problem and we don't need it here. To solve this issue, we need to add the path config for  `metadata.annotations.ingress.kubernetes.io/auth-secret`.

[2018-07-13 19:03] regner commented on #155
If I am understanding right looking at the code, it would need to be added here: https://github.com/kubernetes-sigs/kustomize/blob/5920563bbd8a9c6cd198ecd084dd18393cd5f706/pkg/transformers/namereferenceconfig.go#L345

Is that correct?

[2018-07-13 19:56] Liujingfang1 commented on #155
@regner That is correct.

[2018-07-13 20:29] regner commented on #155
Cool, I will try and open a PR later today! Thank you for the responses :)

[2018-07-13 20:41] robbyt commented on #155
@Liujingfang1 I think @regner 's question about the Nginx ingress illustrates the need for #23. There will likely be many other situations where users will need custom transformation interpolation, and I don't think it's going to be maintainable to keep all of these hash transformation rules static inside of `namereference.go`.

Sorry, but I am confused about how #23 is related here. My naive unde

[2018-07-13 22:02] nicksnyder opened #167 "Validate generated yaml"
Thanks for the great project!

It would be nice if kustomize validated the generated yaml.

According to the [Kubeval](https://github.com/garethr/kubeval) readme, you could pull that in as a Go dependency.

[2018-07-15 21:06] paultiplady commented on #164
Looks like this is relevant too: https://github.com/kubernetes-sigs/kustomize/issues/109

[2018-07-15 21:06] paultiplady commented on #164
Which links to https://github.com/kubernetes-sigs/kustomize/issues/122, specifically for generating transforms for things like `image`.

[2018-07-15 21:51] paultiplady opened #168 "Consider/document how to use Jobs with Kustomize"
As part of some CI/CD steps it's necessary to run a one-off job from inside the cluster. An example from my pipeline would be running a Django database migration before upgrading the code in staging/production.

There are a few ways of achieving this that I've come across;

1. as an initContainer
2. as a k8s Job
3. using `kubectl run`

I've tried these in Kustomize, and getting k8s Jobs to play ni

[2018-07-16 07:30] mxey opened #169 "Support for JSON Patch"
Sometimes, the strategic merge patch or JSON merge patch approach does not merge in a way one would like. For example, Ingress rules are replaced entirely.

`kubectl patch` supports the [JSON Patch standard](http://jsonpatch.com). It would be useful for Kustomize to support it as well.

[2018-07-16 14:38] nicksnyder opened #170 "Add resources in overlays"
Thanks for creating kustomize!

At Sourcegraph we deploy our Kubernetes application to customers. We have core services that are deployed to every customer and then a few optional services that each customer can choose to deploy or not (e.g. monitoring, alerting, SSDs, etc.).

kustomize does not currently allow patches to add new resources. I get an error like this:

This means that all our option

[2018-07-16 14:49] nicksnyder opened #171 "Compose multiple overlays"
Thanks for creating kustomize!

At Sourcegraph we deploy our Kubernetes application to customers. We have core services that are deployed to every customer and then a few optional services that each customer can choose to deploy or not (e.g. monitoring, alerting, SSDs, etc.).

A single customer may wish to include multiple optional services that we provide. It would be ideal if they could do a sin

[2018-07-16 15:24] boernd opened #172 "[question] Same configMap in multiple bases"
Is this a supported/valid use case?

I have two bases with the same configMap but different configuration (configMapGenerator with same name but different files). The intention is that referencing those two bases in an overlay results in a merged configMap. At the moment I get a `Merge failed: id '"v1_ConfigMap_test.yaml"' already used`  error. When changing the `behavior` to `merge` I get an erro

[2018-07-16 18:36] nicksnyder opened #173 "Overlay can't override port in Service or Deployment"
[code]

I want to change the port in an overlay.
[code]

Building the overlay results in the following yaml (note that http port is declared twice with two values):
[code]

 Same thing happens with Deployments.

[2018-07-16 19:41] paultiplady commented on #164
Reporting back -- `kubectl patch --local` does what I need for the CI/CD pipeline, but isn't great for a local developer's flow, since it's destructive (i.e. overwrites local files). Doesn't look like there's a way to run the patch command on a piped input (`kustomize build | kubectl patch --local | kubectl apply` does not work AFAICT), so I think this will have to be a CI-only workflow for now.

[2018-07-16 22:06] paultiplady commented on #171
I would like to see multiple overlays as well -- my use-case is a bit more mundane;

I have my base deployment on `base/deployment.yaml`, and my dev environment config in `overlays/development/deployment.yaml`, but I want to do a review app `overlays/review/deployment.yaml` that shares code from that development environment, and also adds new config too.

I think that being able to specify an over

[2018-07-16 23:12] Liujingfang1 commented on #169
Kustomize uses stategic patch for types with schema and json patch for types without schema.

[2018-07-16 23:31] Liujingfang1 commented on #170
You can create a kustomization for every customer, then in `kustomization.yaml`, add the customer specific resources to `resources` field rather than `patches` field.

[2018-07-16 23:31] #170 closed

[2018-07-16 23:39] Liujingfang1 commented on #172
@boernd In a kustomization, you can't have two objects with the same group version kind and name. To solve your problem, you can change one of the ConfigMap to a different name.

[2018-07-17 07:53] boernd commented on #172
Thx for clearing that up.

[2018-07-17 07:53] #172 closed

[2018-07-17 08:20] mxey commented on #169
Kustomize uses JSON Merge Patch (RFC 7396) for types without schema. I am referring to JSON Patch (RFC 6902).

The command description for `kubectl patch` does not mention it, but it's supported, and [shown in the cheatsheet](https://kubernetes.io/docs/reference/kubectl/cheatsheet/#patching-resources).

[2018-07-17 17:01] Liujingfang1 commented on #168
@paultiplady I'm trying to understand your problem. You wan to run some CI jobs and you want every job to have a different name. You can try this. You can put Secrets/Configmaps and your job into the same kustomization. Then for every job you need to run, you can add a different namePrefix, maybe the commit hash. You can do this by `kustomize edit set nameprefix <commit hash>`.  Then `kustomize bu

[2018-07-17 18:40] coryodaniel opened #174 "commonLabels don't propagate from base to overlays"
commonLabels don't propagate from base to overlays when a resource is only defined in the overlay. I'm not sure if this is the intention or a bug, but I was expecting that any label in base would end up on all resources.

For example:
[code]

[code]

[code]

I expected that the pod would be labeled as follows, but `app: kewl` is missing.

[code]

If I make the resource from `base` and patch it in

[2018-07-17 20:15] #136 closed

[2018-07-18 20:42] monopole commented on #88
Helm downloader plugins are used to grab charts, which aren't k8s API objects.  They are Go templates.  Kustomize will never read Go templates.

The problem susgests using  kustomize in a _post_-helm step, not as a HELM chart downloader plugin.

Helm has a flag that lets one emit a processed chart (a template expanded into viable k8s API objects) to disk rather than sending it into tiller.

kustom

[2018-07-18 20:42] #88 closed

[2018-07-18 23:30] viglesiasce opened #178 "Handle empty YAML manifests"
When using `helm template` to generate your base resources, there may be times when a resource is empty due to the way templating works in upstream charts. We should ignore empty manifests. Here is an example:

[code]

The error returned is:
[code]

For a example:
[code]

[2018-07-19 19:14] bhack commented on #152
If you think that this use case involve only skaffold we will close it and open on Skaffold.

[2018-07-19 23:55] Liujingfang1 commented on #161
The finalized format is
[code]
There is not `env` support. Instead, will add a subcommand to add a `image`, `newTag` pair

[2018-07-19 23:59] Liujingfang1 commented on #174
@coryodaniel This is the intended behavior, not a bug. The resources added in overlays are not in the scope of base. So base shouldn't have impact on them.
For your example, you can either move `pod.yaml` to the base or add `app:kew1` to the staging overlay.

[2018-07-19 23:59] #174 closed

[2018-07-20 09:01] knqyf263 commented on #74
Thank you for this awesome tool!
Is there any progress in this issue?

If you need a developer, I will help.

[2018-07-20 09:48] george-angel commented on #153
Fixed in 1.0.4

[2018-07-20 09:48] #153 closed

[2018-07-20 18:17] #86 closed

[2018-07-21 19:27] andsens opened #189 "configMapGenerator should allow directories as input, like kubectl"
Given this dir tree:
[code]
You can do the following with kubectl:
[code]

This creates a configmap containing all first level files from the `configs/` folder (i.e. `ssl.conf` and `app.conf`). This is quite useful when you have `.d` folders like the one above where you can just drop in new config files and be done with it.

I would love to be able to do that with `configMapGenerator` as well. Rig

[2018-07-23 07:52] nicksnyder commented on #171
I cannot put both `frontend` and `frontend-replicas` as bases because they are the same resource. `frontend-replicas` updates the replica count of frontend.

A given overlay may specify new resources and patch existing resources.

It seems like I would need to have a structure like this:
[code]

Then a customer has to write a kustomization file like
[code]

Would this work?

It seems a little bit

[2018-07-23 14:48] george-angel opened #190 "volumeClaimTemplates/spec/accessModes missing when specified in base"
Base `Statefulset` contains:

[code]

My patch contains:

[code]

And kustomize build produces:

[code]

Also `storageClassName` completely disappears.

[2018-07-23 17:40] Liujingfang1 opened #193 "Add doc or demo for imageTags"
Add demo for #161

[2018-07-23 17:45] Liujingfang1 commented on #190
It looks like the content for `volumeClaimTemplates` from the patch overrides the base `volumeClaimTemplates`.  You can add `accessModes` in the patch as well.

[2018-07-23 20:43] george-angel commented on #190
I can, is that the intended behaviour?

And (2) - `storageClassName` disappears from the rendered output, even when specified in both base and patch.

[2018-07-23 21:31] Liujingfang1 commented on #190
@george-angel `storeageClassName` shouldn't disappear. Please double check the output.

[2018-07-23 21:36] #161 closed

[2018-07-23 21:42] #148 closed

[2018-07-23 21:45] george-angel commented on #190
base file:

[code]

patch:
[code]

output:
[code]

[2018-07-23 21:50] Liujingfang1 commented on #190
@george-angel Sorry I didn't make myself clear. You need to include both `accessModes` and `storageClassName` in the patch as following
[code]

[2018-07-23 21:58] george-angel commented on #190
I see, is that intended? I would expect the `storageClassName` and `accessModes` inherited from base.

[2018-07-23 22:15] Liujingfang1 commented on #190
@mengqiy Can you take a look? Thank you.

[2018-07-23 22:37] mengqiy commented on #190
After checking the API, I found that the `volumeClaimTemplates` is a list that doesn't support merging semantic. IOW, this list will alway be replace entirely.
Due to this API limitation, you will need to have the whole list in your `patch`.

You can find the `volumeClaimTemplates` API spec [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/apps/v1/types.go#L135-L14

[2018-07-23 22:46] george-angel commented on #190
Thanks @mengqiy and @Liujingfang1 feel free to close.

[2018-07-23 22:52] #190 closed

[2018-07-23 23:51] #193 closed

[2018-07-24 22:02] Liujingfang1 commented on #122
Some thoughts: an extended transformer reads in []byte and returns []byte. The transformer itself can be written in other language.
For example, a transformer that patches multiple object based on matched labels need to
- filter the []byte to get resources to patch
- update the matched resources
- return the new []byte

[2018-07-24 22:05] Liujingfang1 commented on #109
This can be solved by #122

This is supported by `imageTags`. See the [imageTags demo](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/imageTags.m)

[2018-07-24 22:05] #109 closed

[2018-07-24 23:56] bickfordb commented on #109
@Liujingfang1 are you particularly opposed to allowing patches to match on a label based selector?

[2018-07-25 03:47] zabio3 commented on #178
@viglesiasce

I was on the same problem.
The problem was solved by deleting "- -" unique to yaml. (Perhaps it seems that json parsing can not be done if there is "- -".)

[2018-07-25 07:45] mxey commented on #122
When you say another language, do you mean running an external program that would need to have its own understanding of how to parse Kubernetes manifests?

I was just thinking, what about embedding Skylark? Just passing a data structure with the matching resources to a Skylark function and having the function return a modified version.

[2018-07-25 17:29] monopole commented on #163
Sounds good.

When kustomize [generates configmaps and secrets](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/configGeneration.md), it makes a suffix for the resource names that is a hash of the contents.  The generated resource gets a name like
[code]
If we also have a `nameSuffix` customization, i suppose we should put it after the generated suffix, i.e.
[code]

[2018-07-25 17:48] Liujingfang1 commented on #163
If we add `nameSuffix`, we can use the same transformer handling `namePrefix`.

@monopole  For the generated ConfigMap/Secret, I expect the name to be
[code]
since the `Hash` is of both contents and the ConfigMap name.
When a `namePrefix` is added, the `Hash` changes. Similarly, when a `nameSuffix` is added, the `Hash` should also change.

[2018-07-25 18:50] easeway commented on #163
@monopole putting build number as a prefix (regardless it's 101 or b101) is counter intuitive. Most of existing scripts/tools follow the convention that a build number is a suffix (or part of a suffix). Using `namePrefix` can generate the unique name with build number, however extra changes are required on existing scripts and tools.

[2018-07-25 21:33] monopole commented on #152
There's a couple of things going on here.

At the moment `kustomize build {target}` operates on one target.  To operate on N targets, as @Liujingfang1 points out you need N build commands, and it's on you to understand the consequences.  We could build that loop into kustomize, but in making that "easy" we'd be somewhat obligated to also make sure those N things didn't do anything surprising (e.g.

[2018-07-25 21:54] monopole commented on #32
This needs some fleshing out.

Say the command
[code]
exists and operates equivalently to
[code]

Then there's a a win, in that your command history shows that you built your cluster spec from a clear, immutable tag, rather than from a local directory which has who knows what in it.

The repo has to have a kustomization.yaml file at the top level, along with all the resource files it needs, or it

[2018-07-25 23:40] monopole commented on #19
Specific concern:  A kustomization file can have multiple bases.  Each of these could be an overlay pointing to a common base.

This arises if someone is attempting to express everything about their cluster with one kustomization file.  E.g. someone has a dev, staging and production variant expressed as overlays of a common base. Then they make one kustomization file that refers to dev, staging an

[2018-07-25 23:43] Liujingfang1 commented on #167
Instead of validating the generated yaml, I suggest to validate the `resources` and `patches` files. So that it is easy to locate the invalid part and make suggestions.

[2018-07-25 23:47] Liujingfang1 commented on #165
@doi-t The `helloWorld` example has been updated to use a file `configmap.yaml` instead of a ConfigMapGenerator. It won't block trying the demo. Also the `kustomize version` is fixed in v1.0.5.

The improper quoting in ConfigMapGenerator need to be fixed.

[2018-07-26 02:29] sleepycat opened #202 "Ordering of output results"
Is there a way to control the order of the resources?
Since the order these resource appear in seems to matter, I'm wondering what the recommended way of controlling that order is.

In my case, I need to create some RBAC stuff before a resource then tries to use it. I experimented with the order of the `kustomization.yaml` hoping that this

[code]
Would produce different output than this
[code]
It

[2018-07-26 20:57] ryane commented on #157
I just ran into this exact issue after upgrading kustomize to 1.0.5 (I was a little behind and running 1.0.3). I had a NetworkPolicy in a kustomization with `customLabels` set. The NetworkPolicy was targeting pods created outside of this kustomization. On 1.0.3, `commonLabels` did not affect the `spec.podSelector.matchLabels` nor the `spec.ingress.from.podSelector.matchLabels`. But, on 1.0.5, thos

[2018-07-26 21:43] Liujingfang1 commented on #202
@sleepycat  Not only `namespace`, Kustomize puts a group of types first with predefined order.
```"Namespace", "CustomResourceDefinition", "ServiceAccount","Role", "ClusterRole", "RoleBinding", "ClusterRoleBinding"```
Other types of resources come after this group in the output. Does this solve your problem?

[2018-07-26 22:45] #103 closed

[2018-07-26 23:49] Liujingfang1 commented on #189
Similar to resources from a directory
[code]
we can add glob support in configMapGenerator, then this can be declared as
[code]

[2018-07-27 02:48] shotat commented on #51
+1

[2018-07-27 09:01] mxey opened #205 "Provide a JSON Schema for kustomization.yaml"
Several editors, like VS Code and IntelliJ, support JSON Schema to provide validation and autocompletion for YAML files. I'd like Kustomize to provide a JSON Schema file for its configuration.

Ideally would be available on http://schemastore.org/json/

[2018-07-27 11:25] schweikert opened #206 "Provide a multi-platform wrapper for easier distribution of the binary"
Distributing a binary across our organization with developers working both on linux and on mac is a bit of a challenge. I implemented a short shell wrapper that eases this a bit for kustomize. It does:

- download the appropriate binary from github
- verify that the checksum is ok
- cache the binary for further executions

See:
[kustomize.sh.txt](https://github.com/kubernetes-sigs/kustomize/files/

[2018-07-27 21:00] #19 closed

[2018-07-27 22:34] Liujingfang1 commented on #171
Your structure will work. To help your customers and reduce the errors, you can provide one or more kustomizations. Put the optional parts in comments and give customers instructions to uncomment for the components they want.

[2018-07-27 22:48] Liujingfang1 commented on #38
#204 should have fixed this problem.

[2018-07-27 22:55] Liujingfang1 commented on #38
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/multibases/README.md

[2018-07-27 22:55] #38 closed

[2018-07-28 09:04] mxey commented on #122
Actually, Jsonnet probably makes more sense than Skylark.

[2018-07-29 02:55] robbyt opened #210 "Option to reenable name hashing for literally declared configMaps/secrets?"
In #159 automatic name hashing was removed. This was a **very** useful feature for my workflow.

Is it possible to optionally control this behavior? Or is there a replacement/analogous workflow for managing config changes for a very large infrastructure?

Also related to: #50

[2018-07-29 18:44] gitirabassi opened #211 "Remote Bases with go-getter"
Hello,
Continuing on #32 I think the main point is to have the ability remote bases. I think having remote resource is a bit off-point since the kustomization.yaml file is so tight with the resources, and patches. but the ability to import a specific version of a base from a repo or url is key for more modular operations and adoption.

I can help implement this is needed, a local copy of the bases

[2018-07-29 18:45] gitirabassi commented on #211
/assigned @Liujingfang1

[2018-07-30 00:48] iamnoah opened #212 "Image Tag Validation rejects valid image names"
The image tag validation assumes the image will contain only one `:`. However, the image name may include the host and *port* of the (often private) repository holding the image:
https://github.com/moby/moby/blob/master/image/spec/v1.1.md

So this fails:

[code]

[2018-07-30 16:55] Liujingfang1 commented on #210
@robbyt ConfigMaps declared as `resources` won't have name hashing any more, but ConfigMaps created from ConfigMapGenerator will keep name hashing.  You can change those ConfigMaps to ConfigMapGenerators. The most simple change is like this

change
[code]
to
[code]

[2018-07-30 17:07] Liujingfang1 commented on #212
Instead of splitting by `:`, we can use regex to parse image names and get the tag.

[2018-07-30 17:17] robbyt commented on #210
@Liujingfang1 This is an unfortunate change because we have hundreds of config maps in our base, and so the migration will require some effort. I think this was a very useful feature, and I don't really understand why it was removed.

If I understand the new workflow you're suggesting, we will need to move each configMap from `resource` to `patches` (in the base kustomize.yaml), and then also defi

[2018-07-30 18:44] Liujingfang1 commented on #210
The previous default behavior of adding name hashing to ConfigMap was actually a bug. The ConfigMap declared as resource should behave the same as other resources, which means no name hashing should be added.  So we changed the behavior and fixed that bug. With the new behavior, you will have to migrate them ConfigMapGenerator.

This is the minimal change to do the migration. You can also remove a

[2018-07-30 18:58] #212 closed

[2018-07-30 20:33] #171 closed

[2018-07-30 20:34] #202 closed

[2018-07-30 21:01] Liujingfang1 commented on #157
@mxey @ryane You can solve this problem by put your kustomization in a different layout. You can create another overlay on top your current kustomization. Put the network policy as a resource in this new overlay. The commonLabels is not added here.

[2018-07-30 21:57] #178 closed

[2018-07-30 22:33] Liujingfang1 commented on #106
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md

[2018-07-30 22:33] #106 closed

[2018-07-30 22:51] Liujingfang1 opened #217 "Remove globbing support"

[2018-07-30 22:55] Liujingfang1 opened #218 "support `kustomize edit add resources`"
`kustomize edit add resources path1 path2`
`kustomize edit add patches path1 path2`

The path argument supports globbing.

[2018-07-30 22:58] monopole commented on #106
@jmdot - i just think this is hard to do in the general case, and want to think carefully and get more experience before we try it.

You're workaround - fork the upstream - is exactly the right thing to do.

[2018-07-30 23:15] monopole commented on #189
To move towards explicit dependency declaration, we're moving away from allowing globs in the kustomization file, and towards adding kustomization editting commands that support globbing - see
 #217, #218

The existing command `kustomize edit add configmap` could be modified to act as described :)

[2018-07-30 23:16] monopole commented on #218
#189 is similar

[2018-07-31 00:03] #217 closed

[2018-07-31 00:43] monopole commented on #32
The argument to `kustomize build` and the items in a `bases` list have the same type - they are both [targets](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/glossary.md#target).  Currently they are just a string that refers to a local directory containing a `kustomization.yaml` file. A patch could be specified as a URI, but it's not the same type as a target (a patch is just a part

[2018-07-31 00:56] monopole commented on #211
fwiw, getting it to work for `build` first would be easier than doing it for `base` since the argument is on the command line rather than in a file, but its a minor difference.  You could also defer getting it to work recursively for a time.

go-getter looks good to me.

i don't think base needs to be a more complex type - but everyone would benefit if it were "type Target string" instead of just

[2018-07-31 10:46] christopherL91 opened #221 "Unable to change image if it contains a colon"
I'm unable to use `kustomize edit set imagetag "localhost:5000/operator":1.0.0` as I like to build and push my images locally. The code here https://github.com/kubernetes-sigs/kustomize/blob/3b3a272d278bcdf0f7752732d0e7281ae9deb65b/pkg/transformers/imagetag.go#L84-L88 suggests that there can only be one colon inside the image field

[2018-07-31 20:16] monopole commented on #210
@robbyt Could you describe why one would want to have a generated suffix added to _literal_ configmaps?   Is this just a case of having a so many configmaps that you don't want to have to name them?  If there are this many, are they created by some process? and could that process apply unique names?

Another option is allowing configMapGenerator to accept literal configmaps in its `files` list.  I

[2018-07-31 20:17] Liujingfang1 commented on #221
Similar to #213, we should use regexp to parse the set imagetag arguments

[2018-08-01 15:52] robbyt commented on #210
@monopole Yes, we have so many configmaps and kustomize's auto-hashing (bug) made it simple to handle changes from an operations perspective. Sadly, all of our configmaps were manually created and have been hand-tuned, and these files have a lot of churn.

If I understand your idea about the `configMapGenerator` merging all into one map, this may be excessively disruptive because it would cause un

[2018-08-01 22:34] robbyt commented on #210
I started the process of migrating the explicit configMap resources into the configMapGenerator and I've hit an unfortunate issue, which is related to my design. I was overriding the configmap resources on my overlays, to optionally replace entire config maps when needed.

Here is a simplified version of what I've already built (and is working great with v1.0.4). In this example, the base config h

[2018-08-01 22:42] Liujingfang1 commented on #210
In the prod overlay, you can mark the configmapGenerator with `replace` behavior.
https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/types/kustomization.go#L107

[2018-08-01 22:45] robbyt commented on #210
Thank you @Liujingfang1 - but this still means that my once simple kustomize files will grow from 655 lines to about 1800 lines.

[2018-08-01 22:46] robbyt commented on #210
@Liujingfang1 is there a way to set the replace behavior by default, so it doesn't need to be set for every configMapGenerator entry?

[2018-08-01 22:50] #221 closed

[2018-08-02 18:56] ppawiggers opened #227 "Support writing output to file"
I'd like the output of `kustomize build` to be written to a file, without using ` > myfile.yaml`.

Reason: I'm playing with Google Cloud Build and I need to generated manifest in the next step. I have this step configuration:

    - name: 'kustomize:1.0.5'  # a self-built Alpine container with kustomize as entrypoint
      args: ['build', 'overlays/production', '>', 'kubernetes.yaml']

But this do

[2018-08-02 22:08] bsuh commented on #210
Why should this only be name hashing only be limited to generators? I mean that feature was the biggest value add for us personally. I can concatenate resource files and replace certain resource files with others to create variants using shell scripts. Checking and updating references with a hash isn't so easily doable with shell scripting and solves a real pain point in Kubernetes (see the number

[2018-08-02 23:51] robbyt commented on #210
@Liujingfang1 I understand that, sorry I meant can I change the default from create to replace?

[2018-08-02 23:51] Liujingfang1 commented on #189
To add files under a directory to a configmap, use following command
[code]

[2018-08-02 23:51] #189 closed

[2018-08-02 23:58] Liujingfang1 commented on #210
@robbyt you can do that only if there is something like this
[code]
This default behavior should only govern the generators in current kustomization. That means, for different overlays, you need to set the default for each of them. I'm not sure if that will help a lot.

[2018-08-03 00:00] robbyt commented on #210
@Liujingfang1 yes, that does help. Thank you!

[2018-08-03 00:02] robbyt commented on #210
Btw, I migrated everything to use the configMapGenerator. It works, but my kustomize.yaml is much larger now unfortunately.

However, it seems the previous behavior is completely gone, and if there is no possibility for it to return, we should close this ticket. Agreed?

[2018-08-03 00:06] robbyt commented on #227
@ppawiggers perhaps you could write a wrapper script that does this, and then call that from the cloud build? e.g.,

[code]

[2018-08-03 00:18] forest-hou opened #229 "Generate yaml with the same order of original yaml"
We found when kustomize builds the yaml, it changes the order of some items. This makes diff tool not easy to catch the changes.

It is great if kustomize  can generate output with the same order of original yaml.

[2018-08-03 06:09] andsens commented on #189
Sweet! Can't wait to test it! Awesome job on the implementation speed :-)

[2018-08-03 09:48] ppawiggers commented on #227
@robbyt thanks for you reply. Yes, that's possible, but I don't like additional shell scripts in my repo, so I like to avoid that if possible.

[2018-08-03 16:28] Liujingfang1 opened #230 "support setting default behavior in generators"
[code]

[2018-08-03 16:30] Liujingfang1 commented on #210
Opened #230 for tracking the default  behavior

[2018-08-03 16:30] #210 closed

[2018-08-03 16:37] Liujingfang1 commented on #229
@forest-hou Do you mean the order in `kustome build` output or the order in `kustomization.yaml`?
For the former one, kustomize adjusts the order of different resources. For example, namespace, service account and rbac resources are put in the first groups in the output. Other resources are in alphabet order. For the latter one, currently there is an issue to track #17.

[2018-08-04 19:58] remoe opened #232 "v1.0.5: Error: loadResMapFromBasesAndResources: SemiResources: <nil> is expectd ..."
Unclear error message for this simple sample:

https://github.com/remoe/kustomize-issue1

[code]

The error comes from here:

https://github.com/kubernetes-sigs/kustomize/blob/83b3eb9d5415663169e580982b373667762f6af8/pkg/transformers/util.go#L59

One don't understand the reason for this error.

[2018-08-06 17:08] mengqiy commented on #169
IMO we should support other patch types.
cc: @monopole

[2018-08-06 22:11] Liujingfang1 commented on #232
I took a look at it. The failure is due to invalid resource files.
In the base directory, you have deployment.yaml and service.yaml, but both of them are not valid.
[code]
`containers` and `selector` fields are required for Deployment type. When creating a base, make sure you add valid resources.

[2018-08-06 22:11] #232 closed

[2018-08-06 22:15] Liujingfang1 commented on #167
This tool may help find the invalid resources such as in #232

[2018-08-06 22:25] Liujingfang1 commented on #126
Let's revisit this request. Recently we added support for multibases with a common base. https://github.com/kubernetes-sigs/kustomize/blob/master/examples/multibases/README.md
 So for you use case, you can create multiple cronjobs(as in different variants) from a common base. Then compose those variants together in another overlay.
With this available, I think we don't need genericGenerator. @seth

[2018-08-07 00:10] Lax77 opened #234 "NamePrefix support for secrets in ingress annotations"
NamePrefix / name reference is currently seems to skip  for secrets used in ingress annotations.

eg annotation:
nginx.ingress.kubernetes.io/auth-secret: basic-auth

Can we expand the support for ingress annotations as well? - Thanks

[2018-08-07 16:56] bsuh opened #235 "Should namePrefix apply to literally declared Namespace?"
kustomization.yaml
[code]

namespace.yaml
[code]

config.yaml
[code]

[code]

Literal Namespace name is prefixed with 'hello-' but ConfigMap namespace value isn't. I would either expect that namePrefix doesn't apply to literally declared Namespace or namespace references be tracked so that modifications done by kustomize are propagated like kustomize does with ConfigMap name hashing.

[2018-08-07 19:54] iamnoah opened #236 "Can we get a 1.0.6 release?"
Hello! I'm keen to use the set image tag functionality in our CI pipeline (we have a private registry with a port spec, so it's broken with 1.0.5.) Can we get a 1.0.6 release?

[2018-08-07 19:56] Liujingfang1 commented on #236
We will release a new version once #17 is fixed.

[2018-08-07 19:58] Liujingfang1 commented on #235
This should be related to the order of nameprefix transformer and namespace transformer. The correct order should be modifying the name prefix ahead of updating namespace field.

[2018-08-07 19:58] Liujingfang1 commented on #234
Need to add `nginx.ingress.kubernetes.io/auth-secret` to the pathconfig in namereference transformer.

[2018-08-07 22:38] monopole commented on #169
yep, agreed

[2018-08-08 06:47] gyliu513 opened #238 "What is the difference of this project with sig-app"
Can anyone help provide some detail for what is the difference of this project with https://github.com/kubernetes-sigs/application ? Seems both can manage applications?

[2018-08-08 16:49] #234 closed

[2018-08-08 16:49] Liujingfang1 commented on #235
I think about this again and tend to not add nameprefix to namespace. It is expected by users that name prefix and namespace of resources are the same as declared in kustomization.yaml. Adding a prefix to the namespace name is not in alignment with this expectation. @monopole What do you think?

[2018-08-08 18:19] Liujingfang1 commented on #169
one possible implementation: when applying a patch, check if it is a JSON patch. If it is, apply it as JSON patch. Otherwise, use current approach.

[2018-08-08 18:34] Liujingfang1 commented on #126
This `genericGenerator` idea can be done by JSON patch support #169

[2018-08-08 23:26] Liujingfang1 commented on #227
We can add a `-o <path>` to write the output to a file.

[2018-08-09 09:14] ivan4th opened #242 "GC issues with kustomize-based workflows"
There's an issue with unused k8s objects accumulating when using kustomize for a GitOps kind of workflow (but not limited to such cases I think).
In examples/combineConfigs.md, there's the following phrase:

This is not quite true. For example, I see this on my cluster where I use kustomize to deploy some stuff:
[code]
Configmaps / secrets with hashed names is one example, another being objects th

[2018-08-09 16:28] Liujingfang1 commented on #169
We will need `gvk` and `name`, no need for prefix and namespace.
JSON patch doesn't contain this info, we could let the user to specify `gvk` and `name` for JSON patch in kustomization.yaml.

[2018-08-09 16:49] #17 closed

[2018-08-09 17:48] Liujingfang1 commented on #235
Since the change is not backward compatible. We reverted it. Will add some deprecation message for current behavior in our next release (v1.0.6). This change will be added in a future release

[2018-08-09 20:05] #74 closed

[2018-08-09 20:36] Liujingfang1 commented on #236
https://github.com/kubernetes-sigs/kustomize/releases/tag/v1.0.6

[2018-08-09 20:36] #236 closed

[2018-08-09 20:44] #229 closed

[2018-08-09 20:45] Liujingfang1 commented on #55
We will add `-o` to write the output to a file. #245

[2018-08-09 20:56] Liujingfang1 commented on #164
@paultiplady Recently kustomize added a feature to change image tags. That is what you need. Check out the example here https://github.com/kubernetes-sigs/kustomize/blob/master/examples/imageTags.md

[2018-08-09 20:58] Liujingfang1 opened #246 "support `kustomize edit set namespace`"

[2018-08-09 23:49] #55 closed

[2018-08-09 23:49] #227 closed

[2018-08-10 00:48] iamnoah commented on #236
1.0.6 is the same tagged commit as 1.0.5 and does not contain any changes... The changelog is even the same.

[2018-08-10 16:33] Liujingfang1 commented on #236
@iamnoah My bad. Let me fix it.

[2018-08-10 16:52] Liujingfang1 commented on #236
The release is updated. It is correct now.

[2018-08-13 18:17] #246 closed

[2018-08-13 19:58] bsuh opened #249 "commonLabels adds selector to headless service without selector"
https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

Sometimes you want to specifically create a service without any selectors.

external-service.yaml
[code]

kustomization.yaml
[code]

[code]

The transformed service has a selector with only the commonLabel effectively making the service backed by every pod.

[2018-08-14 00:13] Place1 commented on #217
why was globbing support removed? this is a useful feature

[2018-08-14 00:14] Place1 commented on #119
this was randomly removed in #217 what's up with that.

[2018-08-14 00:17] ivan4th opened #252 "Hard-wired timeout of 5s for secretGenerator commands"
Right now there's a hard-wired timeout of 5 seconds for `secretGenerator` commands, which may be an issue if the command, for example, asks user for a passphrase or performs some other action that may take more time than 5s:
https://github.com/kubernetes-sigs/kustomize/blob/7406dda074ff33aa274d3b89362121cc79c1bc98/pkg/configmapandsecret/secretfactory.go#L129-L131

One possible solution is #251 but

[2018-08-14 00:55] ivan4th opened #253 "Kustomize crashes when a resource file is not found"
Commands to reproduce (there must be no `deployment.yaml` file in the current directory):
[code]

[2018-08-14 09:22] mszostok opened #254 "Entry `resources` from kustomization.yaml supports only relative and absolute paths"
## Problem
The documentation is misleading. We can read that in the `kustomization.yaml` file under the **resources** entry we can have:

**Source:**
https://github.com/kubernetes-sigs/kustomize/blob/v1.0.6/pkg/types/kustomization.go#L42-L45

but unfortunately, it's not true.

Here is a logic which loads the files from the **resources** entry:
https://github.com/kubernetes-sigs/kustomize/blob/v1.0

[2018-08-14 16:30] Liujingfang1 commented on #254
@mszostok That is the intended behavior of Kusotmize. Directory and regex are not supported. The URL support will be added.

We will update the documentation to be precise and consistent with Kustomize behavior.

[2018-08-14 16:41] Liujingfang1 commented on #119
@Place1 We recommend users to use `kustomize edit add resource` command to add files from a directory, globbing is supported in this command. Then all the files matching a glob will be added to kustomization.yaml file.

[2018-08-14 17:04] Liujingfang1 commented on #253
In my expectation, if a resource file is not found, Kustomize should exit and show the correct message such as "resource file xxx is not found". Letting Kustomize silently skipping the unfounded resource is not a good idea since it will end up with incomplete output without user's attention. So the fix should be instead of panic, let kustomize exit when a resource file is not found.

[2018-08-14 17:08] Liujingfang1 commented on #252
We may add a timeout field to `secretArgs`. This field should be optional. If unset, use current default 5 seconds.

[2018-08-14 18:31] ivan4th commented on #253
What you described as the expected behaviour is actually what happens after #250.
[code]

The problem was that kustomize tries hard to collect as many errors as possible before giving up to provide user with more comprehensive diagnostics info, and it was crashing on `nil` `ResMap`s while trying to do so. After #253, the errors are not swallowed, it's just the `nil` `ResMap` crash that's fixed.

[2018-08-14 18:34] monopole commented on #252
A new field in secret generator with a hard coded default sounds right to me.

[2018-08-14 18:46] hayesgm commented on #51
Any follow up here? The image tags command works great, but not necessarily with CI/CD workflows. Specifically, if I build an image in my CI pipeline and then want to deploy that image, I can't get that patch checked back into git (since it was built and tagged by CI, not by a developer). My current solution is to always leave `latest` in git and in the CI/CD pipeline call:

[code]

I think we jus

[2018-08-14 19:53] #253 closed

[2018-08-14 21:02] ahmetb opened #258 "url broken for mysql example patch.yaml"
![image](https://user-images.githubusercontent.com/159209/44118376-ba35ab6a-9fca-11e8-999d-25d979e7d085.png)

/kind documentation

[2018-08-14 21:06] Liujingfang1 commented on #258
I guess we missed a `wordpress` in the file url.

[2018-08-14 21:54] ahmetb opened #259 "Preserving comments and other human-readable syntax in output yaml"
(I think this is out of scope, but please confirm.)

I'm using kustomize to systemically generate bunch of human readable templates.

So I have patches like:

[code]

that **has comments for humans**.

I have patches like the following that has **syntax making it explicit that it's string**, like:

[code]

When I do `kustomize build`:
- I lose YAML comments
- I lose the `"` marks around the string

[2018-08-14 21:54] #252 closed

[2018-08-14 23:25] ahmetb opened #261 "Inline yaml comments not preserved in v1.0.6"
Apparently #233 added support for preserving comments.

However with v1.0.6 (017c4ae0aa19195db2a51ecc5aa82c56a1f1c99b) I'm not seeing this behavior.

kustomization.yaml:

[code]

base.yaml:

[code]

patch/patch.yaml:

[code]

patch/kustomization.yaml

[code]

`kustomize build patch/` output (has no comments):

[code]

[2018-08-14 23:43] Liujingfang1 commented on #261
@ahmetb I think you misunderstood the scope of that PR. In v1.0.6, preserving comments(not including the inline comment) and order is only for `kustomization.yaml` and it happens during `kustomize edit`. We'd also like Kustomize to preserve arbitrary comments, but couldn't support that at this moment. To do that, we need a yaml library being able to preserve all comments. So far we haven't found s

[2018-08-14 23:54] Liujingfang1 commented on #259
As explained in #261, Kustomize doesn't preserve arbitrary comments. This is out of scope of kustomize, but a perfect feature request similar to https://github.com/go-yaml/yaml/issues/132 in yaml parsing library.
Kustomize is not a template based either. If you just start to set up your application, you can avoid templating by using Kustomize. All the resources should be declarative and able to be

[2018-08-15 17:28] ahmetb commented on #261
I see my bad. Feel free to close.

[2018-08-15 18:38] #261 closed

[2018-08-15 18:38] #259 closed

[2018-08-15 22:10] Liujingfang1 commented on #242
There is[ KEP for garbage collection](https://github.com/kubernetes/community/pull/2287). Once this feature is available, those unused resources will be garbage collected.

[2018-08-15 22:12] ivan4th commented on #242
Thanks for the pointer! Maybe it's worth linking from the kustomize docs?

[2018-08-15 22:13] Liujingfang1 commented on #242
Sounds good, I'll add it there.

[2018-08-15 22:28] Liujingfang1 commented on #85
@monopole  I start to consider a different set of problems. This might be out of the scope of kustomize. If kustomize (or with help of git or other tools) can provide `diff` between current kustomization and the last kustomization applied to k8s cluster. Based on the diff, kubectl apply will do roll out as well as delete obsolete objects.

[2018-08-15 22:38] Liujingfang1 commented on #112
I'm not sure I fully understand you.  As far as I know, many kubernetes projects are developed in separate repos, such as kustomize, or [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder).
If you are looking for some yaml-altering tool, this one seems to be good. https://github.com/kubernetes-sigs/kustomize/issues/167

[2018-08-15 22:38] #112 closed

[2018-08-15 23:08] monopole commented on #144
@r2d4 we had this (standards k8s metadata / group-version-kind fields) and dropped it temporarily as, at the time, those fields weren't consumed by anything and in the case of a simple overlay (e.g. just adding a nameprefix)  could double the size of the file.

Decided to add them back as soon as we needed to make any kind of breaking change, or had a tool that exploited them.   Should probably do

[2018-08-16 06:44] jazoom commented on #173
I also came here for this reason. I didn't find deletion mentioned in your docs. In fact, I found deletion mentioned in "eschewed features" stating you wouldn't be supporting it. I spent at least an hour reading your docs and examples.

Perhaps `$patch` should be mentioned in the README or something?

[2018-08-16 13:07] nicksnyder commented on #173
I agree with @jazoom , and frankly this type of syntax was one of the things that turned me away from starting to use Kustomize. I don’t find this intuitive even if it is documented.

[2018-08-16 21:34] jazoom commented on #173
True. Even with the example provided here and in the other issue it still took me about 5 tries of trial and error to get it right. Apparently `port` is the only field that works on, and you *must not* include any other fields from the item you want to delete. And in containers, apparently `containerPort` is the one that works.

The default behaviour of adding to rather than overwriting the array

[2018-08-19 07:46] pst opened #267 "Support variables in ingress resources"
To allow using the `minikube ip` command to get the current VMs IP in a development overlay it would be convenient to be able to use variables in ingress resources.

It seems the paths that would need to be supported are (probably incomplete):
[code]

Example kustomize.yaml
[code]
Example ingress.yaml
[code]

Adding the paths to the refVarTransformers path variables seems easy enough. However, the

[2018-08-20 19:19] #254 closed

[2018-08-20 20:59] #144 closed

[2018-08-20 21:04] Liujingfang1 commented on #267
There is a feature request for supporting JSON patch #169, using JSON patch could better solve the problem.

[2018-08-21 02:47] lswith commented on #168
Here is the context for myself and possibly others:

I have a CI/CD pipeline that requires database migrations to run before a deployment begins. The database migration needs to exit with a non-zero status before the deployment can start its rollout.

I am currently using Kubernetes Jobs to run the migration beforehand, checking the result and then setting a deployment's image if it succeeds.

I u

[2018-08-21 03:09] liuhuiping2013 opened #268 "persistentvolume claime's volumeName have no namePrefix"
kustomize version: bb8233ceff643df64e1da8b2370f461c0880c25c
build from master

kustomization.yaml
[code]

pvc-influxdb.yaml
[code]

pv-influxdb.yaml
[code]
run kustomize build, will see:
pvc:
[code]
pv
[code]

is this a bug or feature of kustomize?
3ks!!

[2018-08-21 12:41] pst commented on #267
I'm not sure I fully understand. I agree that ingress resource patches being verbose is a problem too. My suggestion is to a) allow using a variable inside an ingress resource and b) to base64 decode the value of the variable. From reading #169 it's not immediately clear to me how it would solve my use-case.

My current workaround, maybe this makes it clearer, is to have a placeholder string in my

[2018-08-21 16:04] Liujingfang1 commented on #168
@paultiplady @lswith There is a proposal to handle your database migration before rolling out a deployment https://github.com/kubernetes/community/pull/1171. Before these hooks are available, continuing using Kubernetes Job is a good approach.

Now how could Kustomize help with this? I don't think kustomize can handle the whole thing all by itself. Coupling Kustomize with some scripts could defini

[2018-08-21 16:31] Liujingfang1 commented on #268
This is a bug, I will fix it.
According to [doc](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#persistentvolumeclaimspec-v1-core), VolumeName is the binding reference to the PersistentVolume backing this claim.

[2018-08-21 16:48] #268 closed

[2018-08-21 17:26] Liujingfang1 commented on #169
We can use [ObjectReference](https://v1-10.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#objectreference-v1-core) to specify which object the JSON patch is applied to.

There is one more concern. In a JSON patch, one can have operations for changing the object's `metadata.name`. If Kustomize supports this operation, the object becomes a different object after applying the patch

[2018-08-21 19:08] #258 closed

[2018-08-21 23:01] Liujingfang1 commented on #152
Kustomize doesn't support any resource or patch from an environment variable. https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables

[2018-08-21 23:01] #152 closed

[2018-08-21 23:04] Liujingfang1 commented on #139
We can add a README.md in docs directory and list the links to different docs inside.

[2018-08-22 16:27] guineveresaenger opened #273 "Revisit validation package pkg/validate"
As per [discussion while adding edit add label/annotation](https://github.com/kubernetes-sigs/kustomize/pull/147#discussion_r211325317), a validation package for input to match syntax was added.

This package currently has rudimentary placeholder validation. Ultimately, it should reflect api-machinery standards (pending agreement/discussion).

@monopole any additional thoughts/input?

[2018-08-22 20:30] Liujingfang1 commented on #168
@paultiplady @lswith Have you got a chance to look at and try the approach of two kustomizations. Any suggestions or comments? If it looks good, we will document this approach.

[2018-08-22 20:45] monopole commented on #267
:1st_place_medal:  Using the secret generator's ability to run an arbitrary command to capture build-time data in a secret's field, then use a var binding to inject it into other resources.

I've no objection to allowing use of the downward API in Ingress.  Feel free to make a PR for that alone.

As for suppressing the encoding in the secret, expressly to allow kustomize-build-time data in the con

[2018-08-22 20:58] monopole commented on #249
A general way to avoid applying a commonLabel to everything is to have the top level kustomization that is just an overlay that specifies multiple bases.

One of the bases has a kustomization that applies a commonLabel to its resources.  The other doesn't, and that's where the headless service could sit.

Would that work?

[2018-08-22 21:03] monopole commented on #235
Just observing (for my own memory) that you added the [deprecation message](https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/prefixname.go#L93).  Thanks!  I know we're getting another release ready.

[2018-08-22 21:10] monopole commented on #206
If you want, make a PR to add a kustomize/scripts directory, toss this in there, and add a pointer to it from the [INSTALL](https://github.com/kubernetes-sigs/kustomize/blob/master/INSTALL.md) page.  It will need a copyright header :)

[2018-08-22 21:16] monopole commented on #167
Yes, sounds good.  Both validate the incoming resources and patchs, and since we have the deps anyway, validate the outgoing stuff as a sanity check.

[2018-08-22 21:50] monopole commented on #157
@mxey @ryane Agree that the tradeoff is more complexity in the kustomization directives and implementation, or more complexity in the file system layout.

We just have to see what happens in practice.  If folks commonly have a set of resources that should be labelled, and another set that shouldn't, then we're just talking about two subdirectories.   To add/remove labels, you just move the resourc

[2018-08-22 22:09] monopole commented on #85
The goal was to do something like
[code]
but that in itself is poorly defined given the existence of secret and configmap generators.

This just doesn't make sense, i don't think its worth fixing - lets kill the command .

I presume there are yaml processing tools somewhere that could compare unmodified resources to kustomize output, and the user could elide the secrets and configmaps.

@Liujingfa

[2018-08-22 22:16] Liujingfang1 commented on #85
@monopole I'm ok with killing the diff command. So far we haven't seen any user mentioning that they have used this command.
Removing this command will also give the code a clear logic.

[2018-08-22 22:30] monopole commented on #22
Closing for lack of interest/clarity

[2018-08-22 22:30] #22 closed

[2018-08-23 01:38] #85 closed

[2018-08-23 06:27] lswith opened #277 "Use SOPS for secret generation"
I currently use the tool https://github.com/mozilla/sops to store the secrets for the resource. This tool encrypts and decrypts a full yaml file.

It would be nice to use something like this in the kustomization.yaml:
[code]

This would supply the yaml for each and every key.

[2018-08-23 13:43] sethpollack commented on #277
Sops lets you encrypt env files too so you can do this with `envCommand`
https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml#L97

[2018-08-23 17:35] #165 closed

[2018-08-23 17:40] emosbaugh opened #282 "Kustomize broken when run from within go path"
`isRepoUrl` function returns true for paths that contain `.com` or `.org`.

for example `/go/src/github.com/myorg/myrepo/`

https://github.com/kubernetes-sigs/kustomize/blob/aff09b11085bc18915a23b332de93ec156c2dda3/pkg/loader/githubloader.go#L78

error:

[code]

[2018-08-23 17:55] Liujingfang1 commented on #282
That's too bad. Maybe we only need to keep "https://"

[2018-08-23 18:16] emosbaugh commented on #282
Would it be enough to check if the file exists? happy to make a contribution if we can settle on implementation.

[2018-08-23 18:28] Liujingfang1 commented on #282
Kustomize uses a loader interface to load files from local or from a remote place. In current code, the logic goes by this way: first check the target by `isRepoUrl` and create githubloader if this function returns true; then check if the target exist in local filesystem and create fileloader.

Since `github.com` can also be a directory in local filesystem, so you see this bug. We can change the l

[2018-08-23 18:54] emosbaugh commented on #282
Happy to. PR shortly

[2018-08-23 20:05] monopole commented on #169
Yes, disallow name change in patch until we edfine a safe approach (and someone asks for it).

[2018-08-23 20:32] lswith commented on #277
Ah yes. Sops does allow encryption of binary files. I’ll close this ticket off then as it probably isn’t necessary

[2018-08-23 20:32] #277 closed

[2018-08-23 21:57] gaigepr opened #288 "Kustomize doesn't seem to look at a port's name when applying an overlay to a service"
[code]

This error occurs when the overlay changes the port number of an existing entry in the list of ports of a service.

[2018-08-23 22:08] #282 closed

[2018-08-23 22:56] philoserf opened #289 "Gopkg.toml using constraint where override is expected"
Two indirect dependencies are marked as constraints. Running `dep ensure` results in the message below. Updating the `[[constraint]]` to [[override]]` fixes this. A trivial pull request follows.

[code]

[2018-08-24 00:07] #289 closed

[2018-08-24 04:01] lswith opened #291 "kustomize changing the yaml formatting"
I've been using a specific yaml format for the kustomization.yaml files. It seems though that when I run the command `kustomize edit set imagetag <imagetag>` the file is reformatted. This is annoying when using gitops as its hard to see what's changed.

[2018-08-24 07:15] pst commented on #267
Using the secretGenerator was a desperate hack already. I didn't think about `kustomize edit` but it seems I can't set a variable with `set`. Allowing the use of variables in an ingress resource would be a small PR only from what I understand.

I understand and agree that my use case goes directly against a reproducible version controlled config. But there are some necessary exceptions already. I

[2018-08-24 07:15] #267 closed

[2018-08-24 10:46] aiman-alsari commented on #119
@Liujingfang1 I don't think that's a great solution, if we have a hierarchy of kustomization.yamls that would mean we have to traverse up each kustomization.yamls "base" and `kustomize edit add resource` on those as well.

[2018-08-24 13:57] mxey opened #293 "Combining multiple overlays of the same base with different prefixes breaks name reference"
I have a base Kustomization for an application. I have several overlays based on it with different name prefixes. I then combine those into another Kustomization.

Name references are not resolved properly when multiple prefixes are in play. Sometimes, a name reference will point to the name from its sibling Kustomization.

The repo https://github.com/mxey/kustomize-nameprefix-reproduction contain

[2018-08-24 13:59] mxey commented on #293
Somewhat related to this, I think Kustomize should fail if a name reference cannot be resolved unambiguously, like it already does with patches.

[2018-08-24 16:49] Liujingfang1 commented on #291
What version of kustomize are you using? In v1.0.6, we added the feature of preserving the comments and orders in kustomization.yaml when `edit` is called.

[2018-08-24 20:06] Liujingfang1 commented on #169
I created POCs for two different approaches. @mxey  @ivan4th @sethpollack, can you take a look and let us know your feedback from an user aspect. Thank you.

#286  adds a new filed `jsonPatches` in `kustomization.yaml`, the format is
[code]
This approach is backward compatible, but doesn't have good extend-ability. If we need to support another kind of patch in the future, we have to add new field

[2018-08-24 22:12] Liujingfang1 commented on #293
This bug could be fixed by filtering the resmap based on namespace and nameprefix when applying name-reference.   However, detecting ambiguity in name reference is tricky. Kustomize doesn't know the same ref could be corresponding to multiple objects.

[2018-08-27 11:16] mxey commented on #169
From a user perspective, either one would work for me.

Regarding supporting multiple patch types in `patches`, I think it might be confusing that some of them will need a target and others will not. Also it will make each entry more verbose with its `type` parameter. So I prefer the approach with a separate `jsonPatches` list.

[2018-08-27 17:41] Liujingfang1 commented on #288
The problem is how to patch a service object properly. We use stategetic merge patch in Kustomize. So if you want to update a port, you need to write something like this
[code]
 You can also take a look at a similar issue #173.

[2018-08-28 13:29] khanhtc1202 opened #297 "Error on load config file with regex path"
kustomization.yaml
[code]

Error:
[code]

Using latest version of Kustomize (1.0.7), I caught the error with the above config, but the previous version (1.0.5) of Kustomize works fine with this. Does Kustomize not support regex path anymore?  If it's still a supported syntax, how to use regex path in config file.

[2018-08-28 15:39] Liujingfang1 commented on #297
Kustomize doesn't support regexp in `kustomization.yaml` any more. We explained the reason https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#globs-in-kustomization-files

Instead, you can use regex path in `add resource` subcommand.
`kustomize edit add resource ./frontend/*.yml ./bff/*.yml`
Then those files will be added to kustomization.yaml

[2018-08-28 17:14] khanhtc1202 commented on #297
Thanks for your supporting. I will close this issue. 😄

[2018-08-28 17:14] #297 closed

[2018-08-29 04:56] hagmonk commented on #163
`namePrefix` being a non-obvious value defeats/impedes things like tab completion with kubectl. And, just from an ergonomics perspective, it's quite jarring. I can't think of a single system where it's idiomatic to put version numbers or build identifiers before the human readable tag (maybe in RTL scripts??) ... I ended up here simply because I wanted to attach `-production` to the end of a deplo

[2018-08-29 20:24] noqcks opened #301 "Adding documentation around custom declarations"
Thank you for creating this project!

Is there any documentation around the list of kustomize terms like `commonLabels`? I couldn't seem to find any.

The only place I see it referenced is in the glossary [here](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/glossary.md#kustomization)

[2018-08-29 20:33] Liujingfang1 commented on #301
@noqcks You can take a look at this example `kustomization.yaml` https://github.com/kubernetes-sigs/kustomize/blob/master/docs/kustomization.yaml
It shows the format and explanation for every kustomize term.

[2018-08-29 20:34] noqcks commented on #301
Yeah, I was just looking at it the file as you commented. Thanks! I still think it would be nice to make it more apparent where to find documentation about the custom declarations.

[2018-08-29 22:32] Liujingfang1 commented on #301
I see. Maybe we can add a list of terms in docs/README.md

[2018-08-30 13:50] noqcks commented on #301
Is there documentation for `patchesStrategicMerge`? I don't see in `docs/kustomization.yaml`

Thanks!

[2018-08-30 15:36] laupow opened #304 "Feature: add values from commands in configMapGenerator"
I'd like the abiltiy to load ConfigMap values from a command, like the functionality found in secretGenerator.

A specific example:

1. Terraform provisions a new CloudFront distribution
1. Terraform exposes the new hostname as a Terraform output value: CLOUDFRONT_HOSTNAME
1. The secretGenerator executes a command to load the hostname value from the Terraform output

Example kustomization.yaml I h

[2018-08-30 17:47] khrisrichardson opened #305 "annotation/label validation ought to use apimachinery functions"
When attempting to add a label in accordance with the [recommended values](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/), an error occurs because the validation isn't compliant with apimachinery.

[code]

I believe the code ought to reference apimachinery's [annotation](https://github.com/kubernetes/apimachinery/blob/1c694767272d00d348471a2381902c6780c63190/pkg/

[2018-08-30 18:34] monopole commented on #122
IMO, once #300 is in and #169 is closed, we've done enough to support for creation of simple variants on a base.

ksonnet, helm et al. already provide completely general transformation languages for folks that want that sort of thing.

[2018-08-30 18:40] schweikert commented on #206
The idea was rejected in #206

[2018-08-30 18:40] #206 closed

[2018-08-30 18:51] monopole commented on #163
@hagmonk thanks for that discussion and endorsement of this feature request. Ditto @easeway.

Which format for the name of generated resources?

 1. `{namePrefix}{originalName}-{contentHash}{nameSuffix}`
 1. `{namePrefix}{originalName}-{contentHash}-{nameSuffix}`  (force the hyphen)
 1. `{namePrefix}{originalName}{nameSuffix}-{contentHash}`
 1. something else?

[2018-08-30 19:09] monopole commented on #109
@bickfordb  This issue was closed because of it's name and the introduction of set imageTag command.

The notion of applying patches guided by a label based selection could certainly be opened as a new issue.

As could the If you have time, please look at the conversation in #300 (less so the one in #169) and feel free to comment.  It's closely related so some of what you mentioned above w/r (outs

[2018-08-30 19:12] monopole commented on #135
#91 should be addressed first, takes a big step in this direction.

[2018-08-30 19:41] bickfordb commented on #109
👍

[2018-08-30 20:42] monopole opened #306 "Document strategic merge patch with examples"
E.g. changing a service port.  We should have concrete examples for each operation (delete, replace, merge, etc.)

We don't call our clearly enough that this is how the existing `patch` directive works, and don't even have a ptr to the [canonical doc](https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md).
This is even more important given that #169 is int

[2018-08-30 20:43] monopole commented on #173
@nicksnyder @jazoom thanks for the excellent feedback.  Filed #306

[2018-08-30 20:44] monopole commented on #288
Thanks, we're going to improve the doc and examples around this, see #306

[2018-08-30 20:44] #288 closed

[2018-08-30 20:48] monopole commented on #293
Thanks for the report.  adding to backlog.

[2018-08-30 21:57] jazoom commented on #173
@monopole no probs

[2018-08-30 23:36] monopole commented on #273
nope.  fine with apimachinery

[2018-08-31 09:15] schweikert commented on #97
For the records: it works for this use case :) Thanks @Liujingfang1 !

I have written here detailed instructions on how to use it for OpenShift routes:
https://github.com/adnovum/kustomize-openshift

Maybe we can extend that repo in the future to contain more tuning tips for using kustomize with openshift.

[2018-08-31 16:42] #305 closed

[2018-08-31 19:08] Liujingfang1 commented on #304
@laupow In my opinion, a Secret suits your use cases better than a ConfigMap. The data you presented contained hostname and access key. They are sensitive or confidential data. Even you don't think they are, it is good to have some protection on them. Secret uses 64 based encoding.

[2018-08-31 23:13] #273 closed

[2018-09-03 11:33] mxey opened #316 "Feature: Apply patches to name prefixed resources"
Scenario: I have several instances (overlays) of an application (base) that I want to combine into combined Kustomizations to apply them as one.

In that Kustomization, I want to apply patches. If I use the un-prefixed name of a resource, the patch will be ambiguous. If I use the prefixed name, Kustomize cannot find the resource.

[2018-09-04 09:44] ssboisen opened #317 "Enhancement: Error when refering var that isn't defined"
If I reference a var that hasn't been defined it would be nice if kustomize would result in an error such that I can know something hasn't been set up correctly in kustomization.yaml

[2018-09-04 09:49] ssboisen opened #318 "Enhancement: Literal vars"
Sometimes I have vars that doesn't necessarily make sense to put into a configmap. Currently I use a configMapGenerator with literal values and then refer to that from the vars section of kustomization.yaml. However that is the only reason I'm creating the configmap and thus being able to do the following would be nice.

[code]

[2018-09-04 15:35] Liujingfang1 commented on #318
In this case, it's better to use JSON patch once it's available #169

[2018-09-04 15:44] laupow commented on #304
@Liujingfang1 Thanks! Yeah, the use case I presented may be entirely reasonable as is.

I entirely agree that mapping to values to Secrets is the predominant use case, but if a non-sensitive configuration also comes from an exeternal source, my team wonders why I store it as Secret rather than a ConfigMap.

I'm trying to think of a more appropriate example, but haven't pinpointed one quite yet. My

[2018-09-04 18:55] ssboisen commented on #318
that sounds great, looking forward to a JSON patch example :)

thanks!

[2018-09-04 19:28] Liujingfang1 commented on #291
@lswith Do you still see this problem with the new version?

[2018-09-05 04:41] lswith commented on #291
yep its working fine!

[2018-09-05 04:41] #291 closed

[2018-09-05 08:16] mxey commented on #316
I think that makes sense.

[2018-09-05 23:10] #293 closed

[2018-09-06 18:11] burdiyan commented on #168
I would suggest to try running these one off jobs in bare pods without any controller. I haven’t tried it but seems like it may be a solution.

[2018-09-06 21:18] #169 closed

[2018-09-06 23:26] burdiyan opened #326 "Parameter imageTags doesn't work with digests"
When you try to use `imageTags` parameter in `customization.yaml` it doesn't work with repository digests.

The result is something like: `nginx:@sha256:8cc4d2aa73ce6d6e8750f72f7b835705d092b1cbc41bec20`

It's not working from the CLI either.

What I'm trying to achieve is to replace image tags with digests in certain overlays.

[2018-09-07 02:01] lswith opened #327 "Volume Claim Templates not receiving CommonLabels"
Kustomize version:
[code]

It seems that when I set the commonLabels that the volumeClaimTemplate labels aren't being set.

[2018-09-07 02:20] liuhuiping2013 opened #328 "Could service namePrefix be ommit?"
our service user ${SERVICENAME}_SERVICE_HOST environment before, now i use kustomize, the env changed to ${namePrefix}${SERVICENAME}_SERVICE_HOST.

should i
1. inject env in every POD with the ${namePrefix}, and
2. modify source code for our service to read ${namePrefix}${SERVICENAME}_SERVICE_HOST?

but, if service resource can ommit namePrefix, then all things done.
else should i give up namePref

[2018-09-07 03:01] ssboisen commented on #157
I've run into this problem as well but with Deployments. Because a Deployment spec.selector.matchLabels is an immutable field commonlabels can't be changed. One use case of changing common labels over time might be to have one that describes who to call if this particular Deployment is causing trouble or what version of the app is being deployed.

Perhaps spec.selector.* should be completely ommit

[2018-09-07 09:04] liuhuiping2013 opened #329 "ask a general question"
why prefix needed for kubernetes resources.

we already have
1. kubectl context, kubernetes apiserver
2. namespace
to distinguish resources we ops, why resource name diff from others again.

thanks for your response.

[2018-09-07 10:37] mikebryant opened #330 "Adding labels only to `.metadata.labels`"
I'd like to be able to add labels to the metadata of all objects, without them being part of the selectors.

One use case would be in our deployment pipeline, adding a label of the current git commit hash, so we can easily see which pipeline actually ran, trace back issues, stuff like that.

Currently `commonLabels` applies to selectors as well, which makes it unsuitable (As we don't want to force

[2018-09-07 12:28] burdiyan commented on #326
As an alternative solution digest resolution could happen passing special flag to `kustomize edit imagetags` so that digests is stored directly in the `kustomization.yaml`.

I like this one actually better than the first approach. And no additional fields are needed for image tag. The only thing is that the original defect mentioned in the first comment needs to be resolved.

[2018-09-07 17:08] Liujingfang1 commented on #330
We will consider supporting this use case when design #91. It should provide an approach for users to add or remove different fields that they want to kustomize by transformers.

[2018-09-07 17:16] Liujingfang1 commented on #329
`nameprefix` provides the flexibility to change the resource names. In the base overlay workflow, for different variant overlays(dev, prod), we can add different nameprefixes. Then the resources in different overlays will have different names and they can be deployed into the same namespace.
 If you prefer to put different overlays with different namespaces and leave the resource name untouched, y

[2018-09-07 17:19] Liujingfang1 commented on #328
`namePrefix` is optional, you can leave it as empty.

[2018-09-07 17:32] Liujingfang1 commented on #326
@burdiyan We think resolving an image tag to digest is outside of the scope of Kustomize for following reasons:
- it has external dependency on the image registry and needs some credential to talk with the registry
- The output is not fully determined by a kustomization itself

If users can get the digest by other tools, maybe we can consider adding the support for `kustomize edit imagetags image:

[2018-09-07 18:08] Liujingfang1 commented on #163
format 3 looks good to me.

The implementation for namesuffix support includes following main steps:
- Create a namesuffix transformer, it should implement the Transform interface. This will be similar to the nameprefix transformer.
- Pass the namesuffix to namesuffix transformer in a kustomization. This should be inside the file `pkg/app/application.go`. We need to create a namesuffix transformer

[2018-09-07 18:15] Liujingfang1 commented on #163
Does anyone want to contribute? This change is a good chance to get familiar with the Kustomize libraries and code base. You will learn the internal logic of how we handle base, overlays and different transformations. This change also has a good isolation from other parts so you don't need to worry about involved with many libraries at the same time.

[2018-09-07 19:09] Liujingfang1 commented on #157
We will start a design shortly for a new approach of declaring path configs for different transformers. The desire of excluding some filed when performing one transformer will be included in this design. The design is tracked by https://github.com/kubernetes-sigs/kustomize/issues/91

[2018-09-07 22:06] RBeaudoin opened #332 "Error processing wild card paths for resources in kustomization.yaml"
On macOS High Sierra, I'm seeing errors when paths specified in the `resources` section of kusomization.yaml have wild cards:

[code]

Results in:

[code]
Even though the files are present:

[code]

[code]

[2018-09-08 06:09] liuhuiping2013 commented on #329
thanks very much, use namespace instead of namePrefix will make diff view more clear.

[2018-09-10 02:20] liuhuiping2013 opened #334 "PersistentVolume should not add metadata.namespace"
PersistentVolume is cluster resource, like clusterrole etc, with no limitation for namespace.
so kustomize build should ommit "namespace" define in kustomization.yaml for cluster resources.

[2018-09-10 08:47] #328 closed

[2018-09-10 09:52] burdiyan commented on #326
@Liujingfang1 Yeah, I agree. The resolution is probably outside of the scope of Kustomize.

I submitted a PR for digest support in image overwrites https://github.com/kubernetes-sigs/kustomize/pull/331 so this issue will be closed as soon as the PR is merged.

[2018-09-10 14:36] mxey opened #335 "JSON Patch should fail if no object matches"
When using JSON Patches, Kustomize only logs a warning when there is no target object:

`2018/09/10 16:27:42 Couldn't find any object to apply the json patch __Ingress___foo.yaml, skipping it.`

For strategic merge patches, Kustomize will fail if there is no target object:
`Error: failed to find an object with schema.GroupVersionKind{Group:"apps", Version:"v1", Kind:"Deployment"} to apply the patc

[2018-09-10 15:34] Liujingfang1 commented on #335
Sounds good. Will fix it.

[2018-09-10 15:39] Liujingfang1 commented on #334
Thank for reporting this. Will fix it.

[2018-09-10 15:43] Liujingfang1 commented on #332
The glob support in `kustomization.yaml` file is dropped in v1.0.6. The reason of dropping the feature is documented here https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#globs-in-kustomization-files

You have to explicitly list all the files as resources. Kustomize has a command to add all the files matching `*.yaml` to this file
[code]

[2018-09-10 15:43] #332 closed

[2018-09-10 15:43] #329 closed

[2018-09-10 17:57] #326 closed

[2018-09-10 21:56] Liujingfang1 commented on #163
Thanks to @fanzhangio for standing up to contribute. Let me know if you need any help

[2018-09-11 01:51] lswith opened #336 "How to use kustomize with a Private Docker Registry?"
I was curious how to use a private Docker registry with kustomize? I was thinking that it would have to be a common base for everything which needed the docker registry secret to be set?

It would be nice to have this documented as well.

[2018-09-11 03:22] asdfsx opened #337 "can not init project, because of the error "subpackage k8s.io/client-go/restmapper is missing""
I init the project using the command
[code]
and receive the following error
[code]

[2018-09-11 03:24] #337 closed, assigned to nobody

[2018-09-11 05:08] lswith opened #338 "Remote Url for Overlay not working"
I've used the remote url to point to a github repo and then pointed to a subdirectory of that to target a specific overlay.

It seems that because go-getter doesn't checkout the full repo into the target location (https://github.com/hashicorp/go-getter#subdirectories) the overlay can't point to it's bases using the syntax:

[code]

[2018-09-11 05:15] lswith commented on #338
I'm thinking that this function https://godoc.org/github.com/hashicorp/go-getter#SourceDirSubdir might need to seperate out the url from the sub dir before you can build the sub directory.

[2018-09-11 11:24] ebriand opened #340 "Typo in multibases example readme"
There is a typo on the word staging in the multibases example readme.

[2018-09-12 03:31] liuhuiping2013 opened #344 "configMapGenerator please do not generate creationTimestamp"
all configmap generated have this field:

but i use https://github.com/weaveworks/kubediff, compare kustomization build with k8s, will print a lot of errors like:

i think this issue should submit here...

[2018-09-12 09:14] Betula-L opened #345 "Support assign variants' value directly"
The values of variants must depend on some refs, for example
[code]
However, why can't i define variants as follow?
[code]

[2018-09-12 10:33] Betula-L opened #346 "Support replace apiVersion dynamiclly"
I have two cluster with different kubelet version, i.e. 1.7.9 and 1.10.3

apiVersion of resource `ClusterRole` is also different in this two cluster:
* `rbac.authorization.k8s.io/v1beta1` - `kubelet 1.7.9`
* `rbac.authorization.k8s.io/v1` - `kubelet 1.10.3`

Thus, i should maintain two yaml even i use kustomize,
[code]
[code]
[code]

[2018-09-12 15:35] Liujingfang1 commented on #346
Same request as https://github.com/kubernetes-sigs/kustomize/issues/61

[2018-09-12 16:17] #340 closed

[2018-09-12 16:42] Liujingfang1 commented on #336
Based on this document https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
you need to create a secret with type `docker-registry` and use that secret in your pods.

With Kustomize, as you mentioned, putting this secret into a common base for everything is a reasonable way.

[2018-09-12 16:46] Liujingfang1 commented on #344
What does the diff look like if you remove
` ``
creationTimestamp: null
[code]

[2018-09-12 17:03] Liujingfang1 commented on #345
@Betula-L `Vars` uses the same idea as [downward API ](https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#motivation-for-the-downward-api)and injects other object's field value into containers.
 Kustomize provides other approaches for doing the same thing as using arbitrary value in vars.
You can apply `patches` or [`patchesJson6902`](https://githu

[2018-09-12 19:56] ajbouh commented on #345
@Liujingfang1 one possible difference between Vars and the other approaches is it's reasonable to expect a failure of some kind if you misspell the name of a variable (or fail to define it). It's hard to imagine supporting that sort of thing for patches, as the whole idea of the patch is that it's "optional" from the perspective of the base. Right?

[2018-09-12 21:17] Liujingfang1 commented on #346
close as duplicate.

[2018-09-12 21:17] #346 closed

[2018-09-13 01:35] pnovotnak commented on #50
I'd still like to see this. In my case, I have some objects in a separate repo that reference well known secrets. Since we keep kustomize configurations in a repository, we will either end up managing these secrets separately (eg: `{ kustomize ... ; decrypt ... ; } | kubectl apply -f-`) or having to run a script in the repository that we keep the configurations in, in order to have yamls on disk.

[2018-09-13 01:39] #336 closed

[2018-09-13 01:44] lswith opened #347 "Inject Host into Ingress"
I think a reasonably common use case is to swap an ingress's host value:

[code]

Can we get a feature to set this?

[2018-09-13 05:37] lswith commented on #347
ah right. Just create a JSON Patch and then use that to edit the build.

[2018-09-13 05:40] liuhuiping2013 commented on #344
if i run follow command in my git repo, then push

then all errors disappeared.

[2018-09-13 13:05] liuhuiping2013 opened #348 "base -- or -- include"
i split kubernetes resources by a lots of dirs which contains kustomization.yaml.
every time we upgrade image tags, we have to modify several kustomization.yaml files just for imagetag.
so, can all kustomization.yaml include one special file just maintain the image tags for whole kubernetes environment?

In a word, i want "include" directive just like nginx, apache, sysctl.conf etc.
If not impract

[2018-09-13 15:36] Liujingfang1 commented on #348
Do you use the base overlay workflow? If you mean adding imagetags in multiple overlays, you can do that in base instead.

[2018-09-13 17:00] Liujingfang1 commented on #344
I see. I did a simple comparison between adding a configmap.yaml as resource and generating a configmap by ConfigMapGenerator. `CreationTimestamp` only shows up in generated configmaps. This is a inconsistency and I think we should fix it.
It might be related to marshalling part. @liuhuiping2013 Would you like to investigate the cause and fix it?

[2018-09-13 17:11] Liujingfang1 commented on #338
should be fixed by #339

[2018-09-13 17:11] #338 closed

[2018-09-14 00:55] liuhuiping2013 commented on #348
something i forget is, deployment image registry in overlays diff from base. just like:

so, imagetag for registry2 appear in base have no effect.

[2018-09-14 01:00] liuhuiping2013 commented on #344
i googled, if it cause by
https://github.com/kubernetes/kubernetes/pull/53464

so, we can not or should not resolve it in kustomize?

[2018-09-14 14:56] ajbouh opened #350 "Kustomize doesn't replace variables in (service) annotations"
FIrst, I'm really liking kustomize!

I'm using kustomize to (among other things) deploy services with ambassador. Ambassador configuration occurs via annotations on services. One case that doesn't work at all in kustomize is [configuring authentication](https://www.getambassador.io/user-guide/auth-tutorial#2-configure-ambassador-authentication).

Based on my research, this is because there is no l

[2018-09-14 17:07] Liujingfang1 commented on #350
@ajbouh We are currently working on a design for #91. It will provide an approach for users to control what extra paths a tranformation should cover. For your use case, the transformation involved is the variable reference transformation, which is to resolve the variables. You will need to add the path pointing to `annotations` for Service type.

[2018-09-14 19:18] ajbouh commented on #350
Right, I also needed to add:

[code]

While it makes sense that you want to allow users to specify arbitrary substitutions, I think it's surprising out of the box behavior that only *some* annotations support variable references, but others do not.

I have things working locally, so this issue is an effort to smooth things out for others!

[2018-09-14 21:48] coryodaniel opened #351 "v 1.0.8 does not include secret key ref suffix"
When using `secretGenerator` a secret is created with a suffix, but when referencing it the resource does not have the suffix. See output on the same code from 1.0.3 vs 1.0.8 below.

Given:

[code]

On 1.0.3 outputs:

[code]

On 1.0.8 outputs:
[code]

[2018-09-16 16:41] ajbouh commented on #345
I just came across another need for this: I'm trying to use kustomize to "render" my kubernetes manifests for different regions. Since there's no concept of a "region" object in kubernetes/kustomize, there's nothing to use in objref!

Using patches or patchesJson6902 is a poor fit because there are multiple locations that must be updated with a variable's value. It is much simpler to initially spe

[2018-09-17 06:12] Betula-L commented on #345
I agree this `Using patches or patchesJson6902 is a poor fit ` as described by `ajbouh`.

[2018-09-17 08:52] ajbouh commented on #345
I'm working around this in some cases by adding the target value as an annotation or label in a patch and then using objref in a var definition.

[2018-09-17 10:10] elisiano commented on #12
@guineveresaenger can you share how you solved the "flag redefined" issue?

I'm trying to build v1.0.8 (to make a homebrew pr) but I'm seeing something similar to what you mentioned:

[code]

[2018-09-17 16:43] khrisrichardson opened #352 "patches ought to be prioritized in transformer precedence"
Image tag transformations aren't being applied to strategic merge patches. Given this hypothetical layout, I would expect the `bar` tag to be applied to both `foo` images, but I suspect the lack of precedence in the application of transformers results in the image tag transformation being applied prior to the patch transformation.

[code]

[code]

[code]

[code]

[code]

[code]

*Edit:* If I spew

[2018-09-18 00:00] pnovotnak opened #353 "Generated Objects Should Have a Common Label"
It would be great if generated objects had a label that we could use to identify them as having been created by kustomize.

Ie; `kustomize.kubernetes.io/generated`

Once this label is present, it becomes possible to filter by generated secrets, and safe to clean up old secrets in an automated fashion.

[2018-09-18 16:13] Liujingfang1 commented on #353
@pnovotnak Assume we have such a label, I'm curious how you remove the old secrets. Let's say in your cluster, you have both new and old secrets.

[2018-09-18 19:16] pnovotnak opened #358 "Pipefail Should be Set in Generator Shells"
In SecretGenerator shells, pipefail is not set and therefore you can get unexpected results when a command fails. Here's a minimal repro:

[code]

I'd expect kustomize to exit with non-zero status and produce an error message. Instead, there is no error reported, and an empty secret is created:

[code]

[2018-09-18 19:44] pnovotnak commented on #358
In my opinion, having exit immediately on fail and pipefail is a good default here, since we are nesting shell code in YAML--the more succinct the better

[2018-09-18 20:58] monopole commented on #334
Can associate namespace omission with a list of cluster resources.  This impacts softcoding.

[2018-09-18 22:25] coryodaniel opened #360 ""Snippet" support"
I'm grimacing as I'm making this request.

I know one of the goals is to be template free, but I'm curious if there is a place for "snippets" in kustomize.

My use case is working with filebeat's autodiscover mechanism for kubernetes. I have users that are using the ['raw'](https://www.elastic.co/guide/en/beats/filebeat/master/configuration-autodiscover-hints.html#_literal_co_elastic_logs_raw_lite

[2018-09-18 22:39] monopole commented on #360
The `commonAnnotations` directive doesn't work in this case because you want these annotations to be confined to deployments only?

[2018-09-19 19:55] Liujingfang1 commented on #352
@khrisrichardson In the example you give, `imageTags` is in the base and the strategic merge patch is in the overlay. This customization can't propagate from base to overlay.

[2018-09-19 21:45] khrisrichardson commented on #352
Hi, @Liujingfang1. I realized that after submitting the issue. I will close this and post an update if I find an alternative that doesn't require duplicating parameters in kustomization files.

[2018-09-19 21:45] #352 closed

[2018-09-19 23:10] #358 closed

[2018-09-20 21:51] pnovotnak opened #362 "Allow Setting Shell to Use for Generators Globally"
I think it'd be a nice touch to be able to select the shell and shell options used for generators in YAML.

[kubernetes](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#run-a-command-in-a-shell) phrases it a little bit differently than [docker](https://docs.docker.com/engine/reference/builder/#shell) but the end result is the same and both can be general

[2018-09-21 09:03] philwinder opened #364 "Is it possible Kustomize namespaces?"
My first use case was to kustomize the namespace creation. I want to do this because there will be annotations to the namespace which are namespace specific. Eventually I see different bases, but a simple example would be this:

[code]

However, when it outputs, it doesn't set the namespace.

[code]

Is this possible?

Thanks, Phil

[2018-09-23 20:49] mgoodness opened #365 "secretGenerator does not update resourceNames in Role object"
kustomize v1.0.8

Given `role.yaml` (snip):
[code]
and `kustomization.yaml` (snip):
[code]
I get Secret:
[code]
but Role:
[code]

[2018-09-23 23:38] mgoodness commented on #351
Not OP, but I'm running into this too.

Putting the secretGenerator in `base/kustomization.yaml`, where the deployment is also listed, works.
[code]
but moving the secretGenerator to an overlay `kustomization.yaml` results in the deployment's reference not having the suffix.

[2018-09-24 14:15] OpenSourceZombie opened #366 "Stack overflow when running kustomize build"
Hello,

Just installed kustomize on mac using `brew install kustomize` to test it and edited the example template https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/docs/kustomization.yaml and I got the below error, I can provide the `kustomization.yaml` file if needed, but it's just the template above with some stuff commented

[code]

[2018-09-24 14:51] him0 commented on #235
I have namespace resource for production is following

[code]

And I'm using namespace `dev-world` in development environment, so I am using following.

[code]

This kustomization.yaml generate following namespace resource, and it make new namespace 'dev-world'.

[code]

When namePrefix will be not apply to namespace resource, how to make different name namespace?

[2018-09-24 19:37] mgoodness opened #368 "YAML-formatted JSON6902 patches are added twice"
overlay `kustomization.yaml`:
[code]

overlay `add_args.yaml`:
[code]

output:
[code]

[2018-09-24 21:12] paulyhedral opened #369 "YAML directives cause error"
If any of the input documents during a `kustomize build` contain YAML directives, an error is produced:
[code]

Example:
[code]

[2018-09-25 06:10] KarstenSiemer opened #370 "ConfigMapGenerator: Merge config files in configmap without the filenames"
Hello,

i'd like to merge a splitted configuration file in a configmap to a single file again. So that all the resources i used produce a single file in the map.

[code]
This creates a configmap with such information:
[code]
But i'd like all the configuration to be merged into the global.yaml or any other single file.
How can i achieve this?
I tried the "behavior: merge" and created a configmap in

[2018-09-25 18:33] Liujingfang1 commented on #369
@paulyhedral Why do need to add the directive? To me, it is not a valid kubernetes YAML file since kubectl doesn't support it.

[2018-09-25 18:37] Liujingfang1 commented on #366
@OpenSourceZombie Can you paste the kustomization.YAML?

[2018-09-25 18:45] Liujingfang1 commented on #365
[code]
It seems that this type of resource name reference depends on two fields: `resources` and `resourceNames`. `resources` tells it is a secret resource and `resourceName` tells the name of the secret. This is different from kustomize namereference, where only one field is involved.

[2018-09-25 20:06] seans3 opened #372 "Use Internal Error Library throughout Application to Display More Descriptive Error Messages (8) #278"
This issue is transferred from: https://github.com/kubernetes/kubectl/issues/278

Mainly we want to be able to return a list of errors, if it makes sense. The previous issue is:

 Check correctness of PATCH - that it applies correctly to an object that it finds
  Resources parse as objects
  Options are well formed - ApplicationManifest schema parses
  replacement for lint. lint is going to call t

[2018-09-25 20:06] seans3 commented on #372
/assign @Liujingfang1

[2018-09-26 08:27] OpenSourceZombie commented on #366
I was able to trace it down to the below, I learned later that having bases pointing to the current working directory doesn't make a lot of sense, but I guess it should throw a warning or something instead of just crashing

Thanks

[code]

[2018-09-26 23:30] monopole commented on #366
Stack overflow is never OK.   You're right about the warning.

[2018-09-27 06:08] #344 closed

[2018-09-27 16:30] miekg commented on #368
Seeing this as well

[2018-09-27 23:30] #351 closed

[2018-09-29 01:57] BenTheElder commented on #142
Does kustomize support usage as a library? I'm very interested in this for configuration in [sigs.k8s.io/kind](https://sigs.k8s.io/kind)

[2018-09-29 04:17] everpeace opened #386 "Multiple strategic merge patches having 'delete' directives produce unexpected variant."
Hi, I faced an unexpected behavior when multiple patches having [`delete`](https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md#delete-directive)  directive in `kustumization.yaml`.  I'm not sure but, probably, processing order (transformation?) would have some issue.

Let me describe the issue by simple example.  Say, I have this simple structure.

[code

[2018-09-30 16:06] m1kola opened #387 "Release notes for v1.0.8 need to be fixed"
Currently [release notes for kustomize v1.0.8](https://github.com/kubernetes-sigs/kustomize/releases/tag/v1.0.8) contain the following:

I believe it should be something like this:

Note duplicated `imageTags:` and space before the first `imageTags:` occurrence.

---

/kind documentation

[2018-10-01 12:35] miekg opened #388 "environment variable support"
This is in similar vain as #360.

I have a use case where I need to expand an environment variable for the name of a docker image, for instance to insert the current branch name.

Now *expanding* a variable opens the gate to templating, but I'm wondering how else I could solve this.

[2018-10-01 12:36] aledbf commented on #388
+1

[2018-10-01 15:59] Liujingfang1 commented on #388
Do you mean the docker image name is saved as a environment variable or docker image tag?
If you mean the tag, you can use `kustomize edit set imagetag imagename:${your_env_var_for_image_tag}`

[2018-10-01 16:44] miekg commented on #388
Thanks.

No it's not the tag. It is the image name itself. I thought about moving it to the image tag, but that is not really something that would work for us currently.

The image name is made up of several parts, in ksonnet we have some kind a printf that does '%s/%s/%s' of various elements.

[2018-10-01 16:44] Liujingfang1 commented on #387
@m1kola Yes, you are right. Do you want to fix it?

[2018-10-01 16:46] #387 closed

[2018-10-01 17:20] Liujingfang1 commented on #386
@everpeace The example is quite clear. Kustomize will first merge strategic merge patches if they are for the same objects. Then Kustomize apply the merged patch to the object. Based on the strategic merge patch doc, it should be the same as applying the patches one by one. Here is what I found
[code]
Based on the explanation and the scenario you described, it should be related to `MergingMapsHave

[2018-10-01 20:32] Liujingfang1 commented on #370
In `configMapGenerator`, one file is corresponding to one <key, value> pair. The key is the file name and the value is the file content. It doesn't merge all files into one value. You need to cat all the file content into `global.yaml` and list only `global.yaml` in the configMapGenerator.

[2018-10-01 20:38] Liujingfang1 commented on #142
@BenTheElder Yes, it does. If you want to apply kustomize build to a directory, you can try
[code]
It is the same function calls as in `kustomize build` https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/commands/build.go#L117

[2018-10-02 11:16] twz123 opened #395 "kustomize edit add label produces panics"
Adding labels like `kustomize edit add label foo:bar` panics in v1.0.8. Am I doing something stupid?

Reproducer for both linux and mac:

[code]

The panic looks like this:
[code]

[2018-10-02 11:53] miekg opened #396 "patchJson6902YAML crash"
kustomize.yaml
[code]
secret_path.yaml has: (the `/-` bit is wrong, removing that make things *not* crash)

[code]
This crashes with (v1.0.8):
[code]

[2018-10-02 16:17] Liujingfang1 commented on #395
@twz123 This is a bug. We will fix it. Thank you for reporting it.

[2018-10-02 17:41] miekg commented on #396
Sorry I don't know what it means, I was just toying with some stuff to get a patch applied. I think it has some meaning but I have to read RFC 6902 to be sure.

[2018-10-02 18:01] Liujingfang1 commented on #396
Here is the link https://tools.ietf.org/html/rfc6902
And the only example containing `-` I found is
[code]

[2018-10-02 18:48] #395 closed

[2018-10-02 19:35] coryodaniel commented on #360
They do work, but that is a very slimmed down config. It ends up being a ton of escaped JSON.

[2018-10-02 20:51] monopole opened #399 "Document edit command somewhere on site"
at least a mention in the README along with motiviation

[2018-10-02 22:47] #369 closed

[2018-10-02 22:48] Liujingfang1 commented on #396
`secretName` is a string field, not an array. `-` in the json patch is used to append values to existing array. So the json patch is not a valid input for you deployment.

[2018-10-02 22:48] #396 closed

[2018-10-02 22:57] Liujingfang1 commented on #388
@miekg There are two parts that are in your request. One is to pick up some value from environment variables. The other part is to change or update the image name in the resources. For the env support, Kustomize doesn't support it with the reason explained here https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#build-time-side-effects-from-cli-args-or-env-variables.

[2018-10-02 22:57] #388 closed

[2018-10-02 22:57] #386 closed

[2018-10-02 22:58] Liujingfang1 commented on #372
I think we have done this especially for decoding yaml files.

[2018-10-02 22:58] #372 closed

[2018-10-02 22:59] Liujingfang1 commented on #370
I'm thinking this request might be solved by #304. @monopole WDYT

[2018-10-02 23:06] Liujingfang1 opened #401 "Document and Examples for customizing transformer configurations"
examples should include following areas:
- how to add the path configs for a crd type
- how to add extra name reference
- how to add extra variable reference
- how to remove certain path configg from adding labels or annotations

[2018-10-03 06:16] miekg commented on #396
[ Quoting <notifications@github.com> in "Re: [kubernetes-sigs/kustomize] pat..." ]

kustomize crashes, it should not, regardless if this is valid syntax or not

[2018-10-03 12:05] schweikert opened #402 "Support changing of image registries in addition to image tags"
In our company we first put docker images in a test registry, then "promote" them to a production registry. We also often have the case that we deploy the same image to a cloud-hosted registry that is specific to a certain project.

For that, it would be nice to be able to customize the location of the image, and not only the tag. Mayb e something like:

    imageRegistries:
    - name: my/cool-ap

[2018-10-03 20:38] schweikert commented on #368
This looks to be a YAML specific bug, possibly caused by the fact that the code uses a different library for YAML-formatted JSON6902 patches and JSON-formatted JSON6902 patches. It feels a bit weird to use completely different code bases for the patch logic, only based on wether the patch is formatted as JSON or YAML. Maybe it would be better to convert the YAML-formatted JSON6902 to JSON first an

[2018-10-03 23:23] vultron81 opened #408 "Add binaryData support to configMapGenerator"
Something like the following would be super useful to add binary files to a config map and kubectl now supports binaryData field as of v1.10.0:

[code]

[2018-10-03 23:32] #335 closed

[2018-10-04 07:34] twz123 opened #409 "Support multiple targets for one patch"
To apply the same patch to multiple resources, one has to declare it twice:

[code]

Wouldn't it make sense to support multiple targets for one patch? Like so:

[code]

[2018-10-04 13:31] twz123 commented on #402
I'd even suggest to also replace the image name, which could be merged with `imageTags`, like so:

[code]

[2018-10-04 17:44] Liujingfang1 commented on #402
I agree with @twz123 that this should go into the same cusotmization fields as imageTags.
In `imageTags`, the `name` field is the full image name, including the registry. Kustomize will search all the containers and find the matched imagename and replace the tag. This searching/replacing can be extended to the registry and image name.

There is another part related to this, `kustomize edit set ima

[2018-10-04 18:00] Liujingfang1 commented on #409
@twz123 What kind of change do you want to apply to multiple targets?

[2018-10-04 18:29] twz123 commented on #409
In this particular case, it was an addition of common command line args to
containers.

[2018-10-04 19:04] Liujingfang1 commented on #408
@vultron81 Would you like to work on adding this feature to Kustomize?

[2018-10-05 06:20] schweikert commented on #402
I like the suggestion too, thanks! I'll work on a pull request, focusing on the first part, and then implement as a separate pull request the kustomize edit part.

[2018-10-05 07:08] dgageot opened #412 "Best way to change the `imagePullPolicy` of all my images"
Is there a way to override the `imagePullPolicy` for all the images without patching every pod spec?

[2018-10-05 09:48] mxey opened #413 "Name reference to ServiceAccount broken with namespace since 1.0.8"
When setting `namespace` in the Kustomization, name references to ServiceAccounts in ClusterRoleBindings are not resolved.

kustomization.yaml:
[code]

clusterrolebinding.yaml:
[code]

serviceaccount.yaml:
[code]

kustomize build in 1.0.8:
[code]

kustomize build in 1.0.7:
[code]

[2018-10-05 11:08] twz123 opened #414 "Caching option for remote resources"
When using kustomize with remote locations, it can get tedious to always refetch remote resources, especially when dealing with large git repos and/or during edit/test cycles of kustomizations.

I saw that go-getter can handle existing git repos and update them. What about supporting a CLI option to specify a local cache directory to store remote files in, so that files (especially git repos) won'

[2018-10-05 11:08] KarstenSiemer commented on #304
I'd also like to request such functionality for configmaps since one could use command and reference a script to cat * from a directory with all pieces of a splitted config to create a configmap with a single file inside from many files. Then one could tread configfiles like modules which is nice. The information wouldn't have to in a secret since it could only be label maps to get targets for pro

[2018-10-07 08:43] HosseinAgha opened #424 "Support for .yml extension for kustomization.yml files"
It seems that the build command only searches for  `kustomization.yaml` it would be great if it also searched for `kustomization.yml` (`.yml` file extension)

[2018-10-08 06:11] ryancox opened #428 "TestRegisterCRD is flaky"
When the tests ran for https://github.com/kubernetes-sigs/kustomize/pull/427 they contained the following failure. This is an unrelated codepath to the PR and was resoved by closing and reopening the PR. On the second run this test passed.

[code]

The [DeepEquals assertion](https://github.com/kubernetes-sigs/kustomize/blob/7cf5f8caaef26af3721248d99a1f6d2ec44e7bc4/pkg/crds/crds_test.go#L184) is fa

[2018-10-08 15:35] #368 closed

[2018-10-09 10:42] errordeveloper opened #438 "use of a scripting language"
Would maintainers consider supporting a scripting language, e.g. Skylark, as a way to provide user with an ability to implement custom generators and transforms?

Here is an example:

[code]

[code]

This example is just a simplest thing I could think of, I'm not saying this is essential to a CRD use-case or anything else.

At this point, all wondering about is whether kustomize authors may suppor

[2018-10-09 11:42] tomaszkiewicz opened #439 "Namespace for RoleBinding (and possibly other resources) is not respected"
Hi,

While evaluating kustomize to customise some prometheus operator deployment I've probably found a bug.

Assuming we have `test.yaml`:

[code]

Which simply binds service account to two namespaces and is a valid declaration of resources.
Then `kustomization.yaml`:
[code]

When I run `kustomize build` I get:

[code]

It looks like metadata namespace parameter is not taken into account and kusto

[2018-10-09 15:41] nesl247 commented on #141
I'm also wondering why namespace isn't taken into consideration. For example, two applications sharing `vhost` as a name but with different namespaces are different.

We have a centralized kubernetes repository that we use for a bunch of misc. stuff that we don't have application specific repositories for.

[2018-10-09 16:33] #428 closed

[2018-10-10 06:24] SongGithub opened #447 "allow set docker image via a flag"
I understand that currently users can set image tag. However, that would mean the image repo reference is kind of hard coded into base template.

In my case, my clients ECR repo is an ENV VAR, ECR_REPO=`12345.ecr.dcr.amazonaws.com/foo:123`.it would be great if we could `kustomize set image $ECR_REPO` to set the base layer dynamically.

[2018-10-10 07:04] schweikert commented on #447
Duplicate of #402

[2018-10-10 18:17] laverya commented on #124
Are there any plans to address this? Issue #117 says that it's a duplicate of this issue and will be addressed here, (https://github.com/kubernetes-sigs/kustomize/issues/117#issuecomment-398568924) but this issue was closed in favor of #117...
It feels like one of the two should have remained open.

In any case, I still see this in [v1.0.8](https://github.com/kubernetes-sigs/kustomize/releases/tag

[2018-10-10 18:48] Liujingfang1 commented on #124
@laverya Sorry for this confusion. We will address this issue. Can you provide an example? Is the failure only on macOS?

[2018-10-10 19:04] laverya commented on #124
I don't believe this is a mac-specific bug issue - more one with how errors are generated on all platforms.

An example:

base/kustomization.yaml:
[code]

base/deployment.yaml:
[code]

Running `kustomize build base/` from the parent directory yields `Error: <nil> is not expected to be a primitive type`.

Yes, the yaml for the deployment is invalid - but it would be nice to know what file was inval

[2018-10-10 23:39] monopole commented on #438
Oh, and thanks.  That's an excellent, well-posed question.  And a good example of skylark.

[2018-10-11 08:47] errordeveloper commented on #438
@monopole thanks, that's kind of what I was assuming, but wasn't sure whether there extensibility is a significant enough benefit.

[2018-10-12 06:38] lswith opened #459 "Overriding Configuration and Secret names"
I am using kustomize for the [prometheus-operator](https://github.com/coreos/prometheus-operator) and to configure the alertmanager a specific secret file needs to be created.

Kustomize generates the configuration name and the secret name when using the ConfigmapGenerator and SecretGenerator.

It would be nice to be able to override the generated name when applicable.

I have also opened a ticket

[2018-10-12 09:49] cm-yamasaki-michihiro opened #460 "envCommand with value surrounded by double quotes"
Kustomize's envCommand in SecretGenerator interprets dotenv output oddly.

Some commands like [aws-env](https://github.com/Droplr/aws-env) generate dotenv with following format.
[code]
Values are surrounded by double quotes.

When Kustomize interprets this output with envCommand, it generates following output:
[code]

Encoded values in the secret are surrounded by double quotes.
Is this by design?

[2018-10-12 10:12] mxey commented on #459
@lswith JFYI, I use a literal secret for the prometheus-operator, not a generator, so Kustomize does not append a suffix. [Secret has a `stringData` property](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#secret-v1-core), so you can still have human-editable configuration without needing a generator.

[2018-10-13 00:06] monopole commented on #460
If its not there already, we should have regression test coverage to define behavior in both cases, so we know what we are doing.

On my machine
[code]
likewise:
[code]
Same answer either way.
And you'll have things like aws-env that apparently add the quotes regardless.

I suspect that the right answer is for kustomize to not add quotes, and assume the generator will add them if it wants them.

[2018-10-13 00:16] Liujingfang1 commented on #460
I agree with @monopole that kustomize shouldn't add or remove quotes. The commands in generator need to take care of this part.

I suspect that Kustomize adds extra quotes in some cases. It might be related to converting []byte to string then to []byte when kustomize handles generators.

[2018-10-15 03:04] lswith commented on #459
That's not a bad way to do it. I'll see if that can work for us in the interim.

[2018-10-15 16:05] ryancox commented on #460
Feel free to close the PR I put up against this issue. However, it doesn't seem totally unreasonable to strip them since these are values to be interpreted prior to the shell processing ( and stripping ) quotes. In this case kustomize is interpretting the value and stripping quotes seems like the principle of least surprise.

For [the code path that gets the value from the environment ](https://gi

[2018-10-15 16:58] #124 closed

[2018-10-16 04:10] bugbuilder opened #470 "Patch Strategy from RollingUpdate to Recreate"
Hi,
I'm trying to move from RollingUpdate to Recrete.

base-deployment:
[code]
patch-deployment:
[code]
Kustomize-ouput:
[code]
I tried with ` $patch: delete ` but without luck, any idea how to accomplish it?

[2018-10-16 10:31] gitirabassi commented on #459
+1 for abitilty to remove the hash when needed in secret names. same problem, same solution

[2018-10-16 11:12] symfrog commented on #235
@him0 I used a JSON patch for this purpose. For example, the following patch could be added to the overlay's kustomization.yaml:

[code]
in patch_namespace.yaml:

[code]

@Liujingfang1 not sure if this is idiomatic or if a more idiomatic way exists?

[2018-10-16 16:59] Liujingfang1 commented on #447
close as duplication

[2018-10-16 16:59] #447 closed

[2018-10-16 18:08] monopole commented on #424
Seems that since kubectl allows it, we should too.  Also this: https://stackoverflow.com/a/38754994

[2018-10-17 10:26] cm-yamasaki-michihiro opened #474 "commonLabels in base kustomization.yaml is not applied to overlay resources."
`commonLabels` in base `kustomization.yaml` add labels to all resources which designated in base `kustomization.yaml`, but not to any resource which specified in overlay `kustomization.yaml`.

[2018-10-17 17:07] Liujingfang1 commented on #470
@bugbuilder You can try `$patch: replace`

[code]

[2018-10-17 17:08] #470 closed

[2018-10-17 19:30] Liujingfang1 commented on #413
The cause of this issue is in name reference transformer. When we apply it, we restrict the name reference can be only applied to resources in the same namespace and with the same nameprefix. Thus ClusterRoleBinding is filtered out in serviceaccount's name reference since ClusterRoleBinding is not in the same namespace.
The fix is to include cluster level resources when applying the namespace/name

[2018-10-17 20:51] Liujingfang1 commented on #364
@philwinder The files listed under `resources` should contain complete K8s API objects. The `ns.yaml` you put there misses a `metadata.name`.

One thing we can do is to allow kustomize create a namespace resource when `namespace` is specified in kustomization.yaml. Then you don't need to include a `ns.yaml` in the resources list. The annotations can be added by `commonAnnotations`.

[2018-10-17 23:45] #439 closed

[2018-10-18 00:52] monopole commented on #460
I'm a bit lost on this issue.

@cm-yamasaki-michihiro  The answer to the question _is this by design?_ is conclusively answered by looking for a unit test that does the thing, and if you cannot find one, write one.  That establishes the actual behavior, intentional or no.  And you've got better regression coverage, regardless of whether you like the behavior.

Short of a unit test, i can only make

[2018-10-18 07:58] lswith opened #479 "CRD panic"
I recieved a panic from kustomize when using a crd.
[code]

This is due to not managing the possible chance of `nil` being returned from LoadCRDs.

[2018-10-18 08:00] lswith opened #480 "Example CRD file"
It seems that when I use the crd below it can't marshal the yaml into the `common. OpenAPIDefinition`.

Example Kustomization file
[code]

Example CRD
[code]

Is there anyway I could see what an example crd file looks like?

[2018-10-18 12:27] edmundkwok commented on #395
Hi there,

Sorry for commenting here, but I am seeing this happening on the `master` branch :(

[code]

I see fa89a0ab4de1ab9e1d1ccfe70904526fb06a534d was committed on top of the merged #397? Am I using the command wrongly?

Thanks!

[2018-10-18 16:53] Liujingfang1 commented on #480
@Iswith Please take a look at this example https://github.com/kubernetes-sigs/kustomize/tree/master/pkg/commands/build/testdata/testcase-crds/crd

The purpose of `crds` is to register proper configs for Kusotmize transformers. As we recently developed transformer/config package. There is an easier way to register crd related configs. We'll write more docs for that.

[2018-10-18 16:54] Liujingfang1 commented on #479
Is the panic for the crd example in #480

[2018-10-18 16:59] Liujingfang1 commented on #395
@edmundkwok Sorry about this. Recently we did some refactoring on Kustomize and that change was dropped incautiously. I'll fix this.

[2018-10-18 17:46] #327 closed

[2018-10-18 17:54] lionelvillard opened #484 "Support for wildcard in resource"
Currently each resource needs to be enumerated in `kustomization.yaml` so when a new yaml file is added, `kustomization.yaml` needs to be updated. It'd be great if `resource` accepts wildcard or directory

[2018-10-18 18:21] #334 closed

[2018-10-18 18:21] #413 closed

[2018-10-18 18:28] lionelvillard opened #486 "variable substitution does not always work"
Here 2 configmaps:

`configmap.yaml`:
[code]
and `configmap2.yaml`:
[code]

And a kustomization file:

[code]

when running `kustomize build`, `$(ADMIN)` does not get substituted.

## version
[code]

[2018-10-18 18:38] Liujingfang1 commented on #474
@cm-yamasaki-michihiro That is the intended behavior of Kustomize. You can all `commonLabels` in the overlay then all resources will have them.

[2018-10-18 18:38] #474 closed

[2018-10-18 18:44] Liujingfang1 commented on #484
@lionelvillard We did consider this support previously, but decided not to add it. The reason is documented here https://github.com/kubernetes-sigs/kustomize/blob/master/docs/eschewedFeatures.md#globs-in-kustomization-files

On the other side, our `kustomize edit add resource` support globs. You can use it to add files under a directory to kustomization.yaml.

[2018-10-18 18:44] #484 closed

[2018-10-18 19:53] Liujingfang1 commented on #365
A similar case to this is serviceaccount referenced in a ClusterRoleBinding
[code]
For this case, Kustomize has the fieldspec `subjects/name` without checking `subjects/kind`.
So we can add `rules/resourceNames` to the secret's namereference.

[2018-10-18 22:37] Liujingfang1 opened #489 "Add generatorOptions"
Add an option field in kustomization.yaml to
- allow disable appending namehash to generated secrets/configmaps #459
- allow add annotations/labels #353
- allow setting shell #362
- set timeout for executing command, move timeout from SecretGenerator to GeneratorOptions

These options will have a global impact. All configmapGenerator and secretGenerator in one kustomization.yaml will follow the sa

[2018-10-18 23:07] lswith commented on #479
Yes it is.

[2018-10-18 23:17] lswith commented on #480
I'd love to know how to generate these CRD files from the current CRDs.
I have currently used: `kubectl get crd -o yaml --export` which gives something of the form

[code]

It seems these CRDs are totally different to the ones required by kustomize.

[2018-10-19 14:34] lionelvillard opened #491 "kustomize build does not preserve filename lexical order"
one of the `kubectl` features is to apply configurations sequentially following filename lexical order.  This is useful for instance to create a namespace before applying the rest of the configuration. `kustomize build` breaks this feature as it generates a single specification.

One possible solution is to allow `kustomize build -o directory/ && kubectl apply -f directory/`. It's not as nice as p

[2018-10-19 15:28] chribsen opened #492 "add annotation doesn't work as expected"
I'm having issues with the `kustomize` CLI when trying to add an annotation to a `kustomization.yaml`.

Upon running the following command, I get the following error:
[code]

It looks like `kustomize` is applying the validation regex `{foo` instead of just `foo`.

*Version:*
[code]

[2018-10-19 17:02] #235 closed

[2018-10-19 17:43] Liujingfang1 commented on #492
This issue was fixed by #482.

[2018-10-19 17:45] Liujingfang1 commented on #492
The command should be
`kusotmize edit add annotation foo:bar`

The doc for this part may need improvement.

[2018-10-22 13:15] booninite commented on #136
https://github.com/kubernetes-sigs/kustomize/issues/136#issuecomment-401891553 is still not working for me

[2018-10-22 16:46] Liujingfang1 commented on #399
We should document some examples of adding lables and annotations to prevent #492

[2018-10-22 16:46] #492 closed

[2018-10-22 16:49] Liujingfang1 commented on #491
kustomize build output has a predefined order to handle this concern. The output will follow this order
[code]
If it doesn't satisfy your usage, let us know which order is missing.

[2018-10-22 17:18] lionelvillard commented on #491
is this implemented in v1.0.8? That should work except for CRD instances (not mentioned in your list), as it takes some time for the CRDs to be online.

[2018-10-22 17:44] lionelvillard commented on #491
thanks for the explanation. It's working as expected after fixing a typo.

[2018-10-22 17:44] #491 closed

[2018-10-22 18:27] #91 closed

[2018-10-22 18:30] Liujingfang1 commented on #157
We changed `pathConfig` to `fieldSpec`. Need to document how `fieldSpec` can work with this.

[2018-10-22 18:33] Liujingfang1 commented on #330
@mikebryant I'm thinking if `annotations` work for this case. Any ideas?

[2018-10-22 18:35] Liujingfang1 commented on #370
We will add support for #304. Close as duplicate.

[2018-10-22 18:35] #370 closed

[2018-10-22 18:37] Liujingfang1 commented on #401
Related issues: #135, #157, #330

[2018-10-22 23:15] Liujingfang1 commented on #489
Add documentation as well.

[2018-10-22 23:15] #362 closed

[2018-10-23 08:36] mikebryant commented on #330
@Liujingfang1 I think that would work for the use-case I mentioned.

[2018-10-23 20:12] jcassee opened #499 "Feature request: base64-decode secrets when using vars"
When using a variable from `vars` that originated in a secret, the secret value is base64 encoded.

Example:

config.env:
[code]

secrets.env:
[code]

pod.yaml:
[code]

kustomization.yaml:
[code]

The goal here is to generate `POSTGRES_URI`, but the `POSTGRES_PASSWORD` variable is base64-encoded, so the URI is invalid.

Would it make sense to base64-decode a secret that is used in a variable?

Iss

[2018-10-23 20:44] Liujingfang1 commented on #499
I don't think it's a good idea to inject secrets data through `vars` in kusotmization.yaml.  It is better to use downward API for this case. Add a uri to your secrets. Then in your Pod, use
[code]

[2018-10-23 21:02] jcassee commented on #499
The problem, though, is that `POSTGRES_HOST` is computed from the `postgres` Service resource. When using an ovelay that uses `namePrefix`, the `postgres` Service name cannot be predicted so it must be derived.

[2018-10-23 21:04] Liujingfang1 commented on #486
`vars` is designed to inject resource information which couldn't be get by other ways into containers. For the common data in different configmaps, you can copy them or use one configmap.

[2018-10-23 21:12] Liujingfang1 commented on #499
Hmm, I didn't pay attention to that.
If kustomize decodes that secret data, then `kustomize build` will show it. It is not secret anymore.

There are different ways to have this work without decoding the secret data.
- put password into ConfigMap as well
- Add a env variable for password and use downward API to get its value. Form that database URI in your program inside the container.

[2018-10-23 21:28] jcassee commented on #499
That is a good point. Although, base64 is not much of an encryption scheme.

That sounds ... unsafe?

Yeah, I am trying to do that ... as a workaround, I hoped, but maybe it is inevitable.

[2018-10-23 23:09] Liujingfang1 commented on #489
doc PR #501

[2018-10-23 23:19] Liujingfang1 commented on #480
`crds` field only accepts json files generated by openAPI definitions. It is not able to consume yaml file for a CRD. The reason is that we couldn't find a way to annotate yaml fields. In the example you provided. `additionalScrapeConfigs.name` could be a reference of a secret. To make sure Kusotmize understand that as we understand it, we need some annotations like
[code]
In CRD yaml files, we co

[2018-10-23 23:47] mengqiy commented on #364
/reopen
Wait till https://github.com/kubernetes-sigs/kustomize/issues/364#issuecomment-432444569 is addressed.
Reopen in case we forget :)

[2018-10-24 14:46] lionelvillard commented on #486
I guess it's not very clear where `$(VAR)` can be used. The documentation points to  `https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/refvars.go#L20` which does help much. Also how does that work for CRD instances?

[2018-10-25 01:00] msau42 opened #504 "StatefulSet volumeclaimtemplates added when base did not include it"
This might be caused to https://github.com/kubernetes-sigs/kustomize/pull/483

I have a StatefulSet spec that doesn't use volumeClaimTemplates, but when I kustomize it with common labels, it adds it to the spec, which causes it to fail validation:

My base spec:
[code]

After kustomize:
[code]

Error:
[code]

[2018-10-25 04:16] SongGithub opened #505 "inconsistency on service account name prefix"
my goal is to declare a service account `banana` to use in deployment, and create a service account named `banana`.

however, when use kustomize's overlay `foo`, it prefixes foo only to name in the service account object, then I have a service account named `foo-banana`

the problem is that the serviceAccount flag in deployment is not prefixed, which is still `banana`.

The mismatch will cause err

[2018-10-25 07:39] twz123 commented on #148
This happens again with v1.0.9:

[code]

[2018-10-25 09:18] jcassee opened #506 "Problem reusing a base containing a variable"
When I include a base that defines and uses a variable twice, the variable is not expanded.

Example:

component1/kustomization.yaml:
[code]

component1/resources.yaml:
[code]

app1/kustomization.yaml:
[code]

app2/kustomization.yaml:
[code]

kustomization.yaml:
[code]

Output:
[code]

Output when you comment out one of the app bases in the toplevel kustomization:
[code]

Note: this example is sil

[2018-10-25 13:52] ryane opened #507 "kustomize build ignores transformer config (-t) if no path argument"
If you are using custom transformer configs with `-t` and you omit the path argument, kustomize will silently ignore your transformer configs.

## Works as expected:

`kustomize build somepath -t ./config`

## Transformer configs are ignored without warning:

`kustomize build -t ./config`

## Repro (from root of kustomize repo):

[code]

[2018-10-25 14:45] ryane opened #509 "kustomize 1.0.9 does not output version information"
[code]

[2018-10-25 23:52] #509 closed

[2018-10-26 01:08] lswith opened #512 "Problems with Kustomize managing Namespaces"
I use the namespace part of kustomize to allow for managing CluserRoleBindings and to make sure that all of the resources go into the same namespace. I have multiple kustomizations that all share a common namespace though.

Should I be merging all kustomizations that have a namespace specified into 1 massive folder or should I be seperating out the ClusterRoleSpecs into a kustomisation that explic

[2018-10-26 02:36] BenTheElder commented on #142
I've got something wrapping the `build` cobra command now for anyone else wanting to embed `kustomize build` as a library: https://github.com/kubernetes-sigs/kind/pull/77

[2018-10-26 14:37] twz123 opened #514 "Automatically adding namespace resources leads to problems"
PR #500 introduced the automatic addition of a Namespace resource if there's not already one in the kustomization. This leads to several problems for kustomizations for apps that use the `namespace:` feature to target a specific namespace that's shared between multiple apps, without "owning" that namespace.

1. Users may not have the rights to patch namespaces, they only want to install an app int

[2018-10-26 18:07] Liujingfang1 commented on #507
@ryane Good catch! Thank you for reporting this.

[2018-10-26 18:10] #507 closed

[2018-10-26 18:17] Liujingfang1 commented on #135
documented in #498

[2018-10-26 18:17] #135 closed

[2018-10-26 18:17] #480 closed

[2018-10-26 18:18] Liujingfang1 commented on #479
We recommend using a customized transformer configurations for CRDs, which is documented in #498.

[2018-10-26 18:18] #479 closed

[2018-10-26 18:21] Liujingfang1 commented on #505
@SongGithub Can you give more description of `serviceAccount flag in deployment 1`? Is it a field in deployment? Thank you

[2018-10-26 18:28] Liujingfang1 commented on #504
I'll look into this issue. Before we have a fix, you can unblock yourself with following steps to modify the transformer configurations.
[code]

In `~/.kustomize/config/commonlabel.YAML`, remove ollowing block or change create from true to false
[code]
When you run kustomize build, using `-t` to pick up the updated transformer configs.
[code]

[2018-10-26 19:02] Liujingfang1 commented on #506
I can explain why it behaves this way. When kustomize resolves $VAR, it first resolve the object the $VAR is referred to. Here since $VAR is defined in the base. From the top level overlay, there are two objects that this $VAR can be associated with. When you comment one, there is a unique object the $VAR associated with. Thus the substitution happens.

[2018-10-26 20:03] jessesuen commented on #514
We also became aware of this new behavior and have some major concerns about automatically creating namespaces resources when they were not defined in the original manifests.

In our clusters, developers do not have the privilege to create/manipulate namespaces. Namespaces are created for them, because namespaces need to contain the proper annotations for other components to work, such as KAIM. Th

[2018-10-26 21:12] jcassee commented on #506
Sure, but the variable is resolved on the lower level, right? It means some kustomizations cannot be reused, because they use variables?

Would you say this is a design decision or could it be "fixed"?

[2018-10-26 21:19] Liujingfang1 commented on #506
I wouldn't say this is a design decision. A common base should be able to use in different overlays. However, fixing it could be tricky.

[2018-10-26 21:39] Liujingfang1 commented on #514
@twz123  @jessesuen Thanks for your inputs. We're going to revert the change #500 and release a new version.

[2018-10-26 22:56] jcassee commented on #506
Unfortunately, I do not know enough Go to be useful here. :disappointed:

[2018-10-26 23:20] Liujingfang1 commented on #514
v1.0.10 is released.

[2018-10-28 09:57] SongGithub commented on #505
yes, it is the field in deployment manifest file.
i.e.
[code]

[2018-10-28 10:01] SongGithub commented on #505
for example, if I ran Kustomize for the above deployment, the output for `serviceAccount` is `dex-slo`.

while running Kustomize against
[code]
will result in an object named <overlay-common-prefix>-dex-slo.

The inconsistency causes problem `no service account dex-slo found`.

I expect Kustomize to prefix value of the flag `serviceAccount`, which turns `dex-slo` into `<overlay-common-prefix>-dex-

[2018-10-28 14:49] jcassee commented on #499
After some thinking I'm closing this issue as I no longer think that reusing secret values in this way is a good idea.

[2018-10-28 14:49] #499 closed

[2018-10-28 20:44] schweikert commented on #50
For the records: see also #489 , which is about implementing a global options for generators (including disabling the hash suffix)

[2018-10-28 20:46] schweikert commented on #489
Cool!

I wonder: what was the motivation to implement this only as a global option, and not specific to single generators?

Maybe in the future it could be also specified like this:

    configMapGenerator:
    - name: ldap-configmap
      generatorOptions:
       disableHash: true

[2018-10-28 21:56] OmegaDroid opened #518 "cannot find object"
Hi I'm having some issues adding namespaces, config maps and ingresses. I'm not having any issues creating deployments or services.

My namespace looks like this::

    apiVersion: v1
    kind: Namespace
    metadata:
        name: dh-local

The error I'm getting is::

    Error: failed to find an object with gvk.Gvk{Group:"", Version:"v1", Kind:"Namespace"} to apply the patch

I'm running the lat

[2018-10-29 09:23] kameshsampath opened #519 "skipping nameprefix of some resource kinds"
/kind question

is it possible to have kustomization file avoid adding prefixes to few kinds ?

[2018-10-29 18:51] Liujingfang1 commented on #505
The [reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#podspec-v1-core) mentioned that `serviceAccount` is deprecated. You can use `serviceAccountName` instead.
[code]
Other parts that I noted in your ServiceAccount object:
- missing `apiVerson: v1`. Kustomize reads `apiVersoin`, `kind` and `metadata.name` to decide the object's group, version, kind and name and perfo

[2018-10-29 18:53] Liujingfang1 commented on #518
@OmegaDroid From the error message, it looks like you added the namespace file to `patches` field. Can you add it to `resources` list instead?

[2018-10-29 19:33] #424 closed

[2018-10-29 21:37] Liujingfang1 commented on #486
@lionelvillard There is a default field list where vars can be replaced. The list is defined in https://github.com/kubernetes-sigs/kustomize/blob/master/pkg/transformers/config/defaultconfig/varreference.go

There is a way to get this default list to your local disk and modify the list. We're going to add documentation for that. The steps will be similar to https://github.com/kubernetes-sigs/kusto

[2018-10-29 22:03] Liujingfang1 commented on #364
@philwinder You need to manually added the annotations. Kustomize doesn't support generating namespace from a template yaml. Also #500 turned out to be a bad approach.

[2018-10-29 22:04] #122 closed

[2018-10-29 22:07] Liujingfang1 commented on #122
With JSON patch support added and transformer configurations added, we can close this issue.

[2018-10-30 02:14] baens opened #524 "Patch 6902 removal from array takes more than 1 from the target array."
I was trying to remove one port from a service and I was getting unexpected behavior. Maybe I am misusing the patch 6902 feature, but this feels like a bug.

Given the following files:

*kustomization.yaml*
[code]

*service.yaml*
[code]

*patch.yaml*
[code]

Running `kustomize build` I get the following:
[code]

I was expecting this:
[code]

Kustomize version

[2018-10-30 04:36] SongGithub commented on #505
thank you for your reply, the deprecated naming for `service account` was the cause. so there was no thing wrong with Kustomize.

thanks for your hint which solved my problem again.

[2018-10-30 04:36] #505 closed

[2018-10-30 08:53] OmegaDroid commented on #518
:man_facepalming: Thanks a lot, I spent far too long trying to fix this...

[2018-10-30 08:53] #518 closed

[2018-10-30 11:31] baens commented on #524
Terribly sorry, looks like this is working as expected in 1.0.10.

[2018-10-30 11:31] #524 closed

[2018-10-31 01:20] robbyt commented on #504
@Liujingfang1 Thank you for the workaround. I also have this same issue, after upgrading to release 1.0.9.

[2018-10-31 11:14] twz123 opened #526 "Vars using fieldPaths whose components contain dots is not possible"
Consider a label that has a key that contains dots, e.g. `app.kubernetes.io/instance` when trying to follow the "[Recommended Labels][rl]" approach. Those labels cannot be used as a var, since there's currently no way of escaping dots in fieldPaths.

A dummy example could look like this:

`deployment.yaml`:
[code]
`kustomization.yaml`:
[code]

The error is `Error: failed to resolve referred var: {

[2018-11-04 22:33] lswith commented on #512
This is no longer an issue now that https://github.com/kubernetes-sigs/kustomize/pull/515 has landed.

[2018-11-04 22:33] #512 closed

[2018-11-05 19:44] mgoodness commented on #351
This is still an issue in v1.0.10.

[2018-11-06 00:11] lswith opened #531 "`command` and `envCommand` in ConfigMapGenerator"
There have been a few occurrences where I have required the ability to dynamically generate certain config values.

I've currently been putting these values into secrets because it has been the only way to generate specific values. It would be nice to call out to commands inside config maps as well.

Examples:
[code]

The main reason for doing this and not simply manipulating files on disk is beca

[2018-11-07 13:52] mindreframer opened #532 "Namereference defaults Secrets in CronJob with a typo"
Just found this little typo:

https://github.com/kubernetes-sigs/kustomize/blob/421ca3fb3c92c7f80a3741d2c2dab01251e5e2f5/pkg/transformers/config/defaultconfig/namereference.go#L201-L202

Should be `template/spec/volumes/` instead of  `template/sepc/volumes/`.

[2018-11-07 18:08] Liujingfang1 commented on #531
same request of #304

[2018-11-07 22:02] #532 closed

[2018-11-08 07:33] mindreframer commented on #532
Thanks!

[2018-11-08 15:09] flmmartins opened #538 "Question: variable substitution for different environments"
Hello All,

I am new to Kubernetes and I was looking through the kustomize documentation and I have some doubts if it can solve my issues. I don't want to create multiple yaml files per environment because of small changes through my code.

I have a ingress fie:

[code]

For all my environments this file would be the same except for:
- host: this would change for each environment: demo.com, produc